<div class="request_body_styling animated fadeInUp ">

    <h3 class="header_headline_style"><span>
            <oj-bind-text value="[[labels().screenLbl()]]"></oj-bind-text>
        </span></h3>


    <div class="summaryContent container">
        <!-- //------------------- header buttons ---------------------// -->
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">
                <oj-button class="btnStyle" on-oj-action='[[backAction]]'>
                    <span>
                        <oj-bind-text value="[[labels().back()]]"></oj-bind-text>
                    </span>
                </oj-button>
                <oj-bind-if test='[[previousBtnVisible]]'>
                    <oj-button class="btnStyle" on-oj-action="[[previousStep]]">
                        <span>
                            <oj-bind-text value="[[labels().perviousLbl()]]"></oj-bind-text>
                        </span>
                    </oj-button>
                </oj-bind-if>
            </div>
            <div class="oj-flex-bar-end">
                <oj-bind-if test='[[nextBtnVisible]]'>
                    <oj-button class="btnStyle" on-oj-action="[[nextStep]]" visible="[[currentStepValue() == 'stp1']]">
                        <span>
                            <oj-bind-text value="[[labels().nextLbl()]]"></oj-bind-text>
                        </span>
                    </oj-button>
                </oj-bind-if>
                <oj-bind-if test='[[submitBtnVisible]]'>
                    <oj-button class="btnStyle" on-oj-action="[[submitActionBtn]]">
                        <span>
                            <oj-bind-text value="[[labels().submitLbl()]]"></oj-bind-text>
                        </span>
                    </oj-button>
                </oj-bind-if>
            </div>
        </div>
        <!-- //--------------------------- train -------------------------// -->
        <oj-bind-if test='[[trainVisibility]]'>
            <div>
                <oj-train id="train" selected-step="{{currentStepValue}}" steps="[[labels().stepArray()]]"
                    class="oj-train-stretch" on-oj-before-select="[[stopSelectListener]]" />
            </div>
        </oj-bind-if>
        <br>

        <oj-validation-group id="tracker">

            <div class='row'>
                <div class='col-md-4 col-sm-6 col-xs-6'>
                    <h5><b class="idpPagInfoType" data-bind="text: labels().serviceName()"></b></h5>
                    <oj-select-single id="single1" data="[[serviceCodeProvider]]"
                        value="{{approvalModel.serviceCode}}" disabled='[[fieldsDisabled]]' required
                        placeholder='[[labels().placeHolder()]]' on-value-changed="[[serviceNameHandler]]">
                    </oj-select-single>
                </div>
                <div class='col-md-4 col-sm-6 col-xs-6'>
                    <h5><b class="idpPagInfoType" data-bind="text: labels().approvalCode()"></b></h5>
                    <oj-select-single id="select2"  data="[[approvalCodeProvider]]"
                        value="{{approvalModel.approvalCode}}" disabled='[[fieldsDisabled]]' required
                        placeholder='[[labels().placeHolder()]]' on-value-changed="[[approvalCodeHandler]]">
                    </oj-select-single>
                </div>
                <div class='col-md-4 col-sm-6 col-xs-6'>
                    <h5><b class="idpPagInfoType" data-bind="text: labels().approvalOrder()"></b> </h5>
                    <oj-input-number id='inputApprovalOrder' class="disable-element itemRevceiveInputText"
                        value="{{approvalModel.approvalOrder}}" disabled="true">
                    </oj-input-number>
                </div>
            </div>
            <hr>
            <div class='row'>
                <div class='col-md-4 col-sm-6 col-xs-6'>
                    <h5><b class="idpPagInfoType" data-bind="text: labels().approvalType()"></b></h5>
                    <oj-select-single id="select3"  data="[[approvalTypeProvider]]"
                        value="{{approvalModel.approvalType}}" disabled='[[fieldsDisabled]]' required
                        placeholder='[[labels().placeHolder()]]' on-value-changed="[[approvalTypeHandler]]">
                    </oj-select-single>
                </div>
                <oj-bind-if test='[[specialCaseVisible]]'>
                    <div class='col-md-4 col-sm-6 col-xs-6'>
                        <h5><b class="idpPagInfoType" data-bind="text: labels().specialCase()"></b></h5>
                        <oj-input-text id="text1" value="{{approvalModel.specialCase}}" 
                        disabled='[[fieldsDisabled]]' required>
                        </oj-input-text>
                    </div>
                </oj-bind-if>
                
                <div class='col-md-4 col-sm-6 col-xs-6'>
                    <h5><b class="idpPagInfoType" data-bind="text: labels().notificationType()"></b></h5>
                    <oj-select-single id="select4"  data="[[notificationTypeProvider]]"
                        value="{{approvalModel.notificationType}}" disabled='[[fieldsDisabled]]' required
                        placeholder='[[labels().placeHolder()]]'>
                    </oj-select-single>
                </div>
            </div>




        </oj-validation-group>
    </div>
</div>

<div id="dialogWrapper">
    <!-- ------ submit dialog ----------- -->
    <oj-dialog class="main-dialog main-dialog-width" id="submitDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: labels().submitTitle()"></label>
        </div>

        <div slot="body">
            <label data-bind="text: labels().submitMessage()"></label>
        </div>
        <div slot="footer">
            <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[submitYes]]'>
                <span>
                    <oj-bind-text value="[[labels().yes()]]"></oj-bind-text>
                </span>
            </oj-button>

            <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[submitNo]]'>
                <span>
                    <oj-bind-text value="[[labels().no()]]"></oj-bind-text>
                </span>
            </oj-button>
        </div>
    </oj-dialog>
</div>