<div class="request_body_styling animated fadeInUp ">
    <h3 class="header_headline_style"><span>
            <oj-bind-text value="[[labels().homeScreenLbl()]]"></oj-bind-text>
        </span></h3>
    <div class="summaryContent container">

        <div id='searchList'>
            <div class='col-md-4 col-sm-6 col-xs-6'>
                <h5><b class="idpPagInfoType" data-bind="text: labels().serviceName()"></b></h5>
                <oj-select-single id="serviceSelect"  data="[[serviceListProvider]]" 
                 placeholder='[[labels().placeHolder()]]' on-value-changed="[[serviceNameHandler]]">
                </oj-select-single>
            </div>
            <hr>
        </div>

        <div class="oj-flex oj-flex-items-pad">
            <div class="summaryBtn detailsBtn">
                <oj-button class="btnStyle" on-oj-action='[[addActionBtn]]'>
                    <span data-bind="text:labels().addLbl()"></span>
                    <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                </oj-button>
                <oj-button class="btnStyle" on-oj-action='[[editActionBtn]]' disabled="[[oprationdisabled]]"> 
                    <span data-bind="text:labels().editLbl()"></span>
                    <span slot='endIcon' class="apiconClass fa fa-edit"></span>
                </oj-button>
                <oj-button class="btnStyle" on-oj-action='[[viewActionBtn]]' disabled="[[oprationdisabled]]">
                    <span data-bind="text:labels().viewLbl()"></span>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                </oj-button>
                <oj-button class="btnStyle" on-oj-action='[[deleteActionBtn]]' disabled="[[oprationdisabled]]">
                    <span data-bind="text:labels().deleteLbl()"></span>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                </oj-button>
            </div>
        </div>

        <div class="tableContent">
            <oj-table class="tableStyle" id='table' data='[[tableDataProvider]]'
                selection-mode='{"row": "single", "column": "single"}' scroll-policy='loadMoreOnScroll'
                scroll-policy-options='{"fetchSize": 10}' columns='[[labels().columnArray()]]'
                on-oj-before-current-row="[[tableSelectionListener]]">
            </oj-table>
        </div>
    </div>
</div>

<div id="dialogWrapper">
    <!-- ------ submit dialog ----------- -->
    <oj-dialog class="main-dialog main-dialog-width" id="deleteDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: labels().deleteTitle()"></label>
        </div>

        <div slot="body">
            <label data-bind="text: labels().deleteMessage()"></label>
        </div>
        <div slot="footer">
            <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[submitYes]]'>
                <span>
                    <oj-bind-text value="[[labels().yes()]]"></oj-bind-text>
                </span>
            </oj-button>

            <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[submitNo]]'>
                <span>
                    <oj-bind-text value="[[labels().no()]]"></oj-bind-text>
                </span>
            </oj-button>
        </div>
    </oj-dialog>
</div>