<div class="container" style="width:100%">
    <div class="row" style="margin: 0px !important;">

        <div id="form-container" class="oj-form">
            <oj-label label-id="grouplabelid">
                <h3> HEADING </h3>
            </oj-label>

            <div role="group" aria-labelledby="grouplabelid" 
                 class="oj-form-control-group">
                <div class="row" style="margin: 0px !important;" >

                    <div class="col-md-6">

                        <div class="row" style="margin: 0px !important;">
                            <oj-label for="street" show-required>street</oj-label>
                            <oj-input-text id="street" required></oj-input-text>
                        </div>

                        <div class="row" style="margin: 0px !important;">
                            <oj-label for="street" show-required>street</oj-label>
                            <oj-input-text id="street" required></oj-input-text>
                        </div>

                        <div class="row" style="margin: 0px !important;">
                            <oj-label for="street" show-required>street</oj-label>
                            <oj-input-text id="street" required></oj-input-text>
                        </div>

                    </div>
                    
                    <div class="col-md-6">

                        <div class="row" style="margin: 0px !important;">
                            <oj-label for="city" show-required>city</oj-label>
                            <oj-input-text id="anything" required> </oj-input-text>
                        </div>

                        <div class="row" style="margin: 0px !important;">
                            <oj-label for="city" show-required class="form-ui-ul">city</oj-label>
                            <oj-input-text id="anything" required> </oj-input-text>
                        </div>

                        <div class="row" style="margin: 0px !important;">
                            <oj-label for="city" show-required>city</oj-label>
                            <oj-input-text id="anything" required> </oj-input-text>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin:50px auto; max-width: 150px;">

    <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Report Name must be unique. 
    </div>

</div>
<div class="container" style="width:40%; padding-top: 50px;">
    <div class="row" style="margin: 0px !important;">


        <div class="progress app-crd-progressbar-body" >
            <div class="progress-bar w-75 app-card-prog-type-rj"></div>
        </div>

        <div class="approval-card-body app-crd-bdy-received app-crd-bdy-border-ar  app-crd-bdy-border-suc">
            <div class="approval-card-header">
                <h5 class="app-card-Pname">Person name</h5>
                <p class="app-crd-type app-type-a badge badge-secondary">FYA</p>
            </div>
            <div class=" row approval-card-inf-body">
                <div class="col-md-6"> <span class="badge badge-pill badge-success app-card-badge">Approved</span> </div>

                <div class="col-md-6"><blockquote class="blockquote app-card-blockqoute">
                        <footer class="blockquote-footer"> <small>yy/mm/dd</small></footer>
                    </blockquote>
                </div>


            </div>
        </div>
        <div class="approval-card-body app-crd-bdy-received app-crd-bdy-border-ar  app-crd-bdy-border-suc">
            <div class="approval-card-header">
                <h5 class="app-card-Pname">Person name</h5>
                <p class="app-crd-type app-type-a badge badge-secondary">FYA</p>
            </div>
            <div class=" row approval-card-inf-body">
                <div class="col-md-6"> <span class="badge badge-pill badge-success app-card-badge">Approved</span> </div>

                <div class="col-md-6"><blockquote class="blockquote app-card-blockqoute">
                        <footer class="blockquote-footer"><small>yy/mm/dd</small></footer>
                    </blockquote>
                </div>


            </div>
        </div>
        <div class="approval-card-body app-crd-bdy-received app-crd-bdy-border-ar  app-crd-bdy-border-suc">
            <div class="approval-card-header">
                <h5 class="app-card-Pname">Person name</h5>
                <p class="app-crd-type app-type-a badge badge-secondary">FYA</p>
            </div>
            <div class=" row approval-card-inf-body">
                <div class="col-md-6"> <span class="badge badge-pill badge-success app-card-badge">Approved</span> </div>

                <div class="col-md-6"><blockquote class="blockquote app-card-blockqoute">
                        <footer class="blockquote-footer"> <small>yy/mm/dd</small></footer>
                    </blockquote>
                </div>

            </div>
        </div>

        <div class="approval-card-body app-crd-bdy-received  app-crd-bdy-border-fail ">
            <div class="approval-card-header">
                <h5 class="app-card-Pname" >Person name</h5>
                <p class="app-crd-type app-type-a badge badge-secondary">FYA</p>

            </div>
            <div class=" row approval-card-inf-body">
                <div class="col-md-6"> <span class="badge badge-pill badge-danger app-card-badge">Rejected</span> </div>

                <div class="col-md-6"><blockquote class="blockquote app-card-blockqoute">
                        <footer class="blockquote-footer"> <small>yy/mm/dd</small></footer>
                    </blockquote>
                </div>

            </div>
        </div>

        <div class="approval-card-body app-crd-bdy-notreceived  app-crd-bdy-border-ntre">
            <div class="approval-card-header">
                <h5 class="app-card-Pname">Person name</h5>
                <p class="app-crd-type  app-type-i badge badge-secondary">FYI</p>
            </div>
            <div class=" row approval-card-inf-body">
                <div class="col-md-6">
                    <span class="badge badge-pill badge-secondary app-card-badge">Not yet received</span>
                </div>

                <div class="col-md-6"><blockquote class="blockquote app-card-blockqoute">
                        <footer class="blockquote-footer"> <small>yy/mm/dd</small></footer>
                    </blockquote>
                </div>


            </div>
        </div>
    </div>
</div>