

#StcDashboared  .pageHeadInfo .filter
{
    /* border:1px solid #712c81 ; */
    padding:4px  15px 3px ;
    border-radius: 25px ;
    text-align: center ;
    cursor: pointer;
    height: 10px;
    font-size: 14px;
}
#StcDashboared  .pageHeadInfo .themeIcons  i
{
    color:#712c81 ; 
    font-size: 25px ;
    cursor: pointer;
}
#StcDashboared  .pageHeadInfo .filter
{
  /* padding:20px 0px; */
}
#StcDashboared  .pageHeadInfo .FilterSection
{
  margin: 10px 0px;
}
#StcDashboared  .pageHeadInfo .FilterSection .btnSearch
{
  background-color: #712c81 ;
  color:white ; 
  padding: 10px 15px;
  border: none;
  outline: none ;
  box-shadow: none;
}
@media only screen and (max-width: 765px) {
    #StcDashboared  .pageHeadInfo .themeIcons   {
      margin-top: 10px !important;
    }
  }
/*****************************************************/
 .example-viewport-select {
    height: 250px;
    /* width: calc(100% - 10px); */
    width: 100%;
  }
