<stc-navbar [currentPage]="currentPage"></stc-navbar>


<section id="StcDashboared" class="pageSettings">
    <div class="container">

        <div class="SectionData pageHeadInfo" [style.margin-bottom]="activePage.ShowPending?'10px':'30px'">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <h5>{{ 'dashboard.'+title |  translation }} </h5>
                    <p>{{ 'dashboard_accountantDashboard_subTitle_label' | translation }}</p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12  my-auto">

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 my-auto ">

                            <div class="searchBar">
                                <input class="form-control  text-start searchInput " type="text" name="search"
                                    [(ngModel)]="searchText" autocomplete="off" (keyup)="search(searchText)"
                                    placeholder="&#xF002; {{ 'search_label' | translation }}"
                                    onfocus="this.placeholder=''"
                                    (blur)="$event.srcElement.placeholder = '&#xF002; '+trans.trans('search_label')">
                            </div>
                        </div>
                        <div class="col-md-3 col-12"></div>
                        <div class="col-lg-3 col-md-2 col-sm-12 col-12 themeIcons text-end my-auto ">

                            <div class="row">
                                <div class=" col-md-4 col-2 my-auto" (click)="activePage.theme= 'one' ; showOption()">

                                    <i class="fa fa-bars" aria-hidden="true"></i>

                                </div>
                                <div class=" col-md-4 col-2  my-auto" (click)="activePage.theme= 'two'; showOption() ">

                                    <i class="fa fa-th-large" aria-hidden="true"></i>

                                </div>
                                <div class="col-md-4 col-2  my-auto" (click)="activePage.theme= 'three' ; showOption()">

                                    <i class="fa fa-align-right" aria-hidden="true"></i>

                                </div>
                            </div>

                        </div>
                        <ng-container *ngIf="title!='FOCALPOINT'">
                            <div class="col-12 FilterSection">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-start"
                                        style="margin-bottom: 5px;">
                                        <mat-form-field>
                                            <mat-label>{{'SelectDuration'|translation}}</mat-label>
                                            <mat-select [(ngModel)]="duration">
                                                <mat-option *ngFor="let type of userTypes"  [value]="type.days">
                                                    {{trans.direction() == 'rtl' ?  type.make_ar : type.make}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
 
                                    <ng-container *ngIf="duration == -1">
                                        <div class=" col-md-3 col-12 my-auto">
                                            <mat-form-field (click)="pickerFrom.open()">
                                                <input matInput [(ngModel)]="dateFrom" name="PickerFrom"
                                                    [matDatepicker]="pickerFrom"
                                                    placeholder="{{'fromDate'|translation}}" readonly>
                                                <mat-datepicker-toggle matSuffix [for]="pickerFrom">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #pickerFrom></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3 col-12 my-auto">
                                            <mat-form-field (click)="pickerTo.open()">
                                                <input matInput [(ngModel)]="dateTo" [disabled]="!dateFrom"
                                                    [matDatepicker]="pickerTo" [min]="dateFrom"
                                                    placeholder="{{'toDate'|translation}}" readonly>
                                                <mat-datepicker-toggle matSuffix [for]="pickerTo">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #pickerTo></mat-datepicker>
                                            </mat-form-field>
                                        </div>

                                    </ng-container>

                                    <div class="col-md-2 col-12 text-end my-auto">
                                        <button class="btn btnSearch" (click)="activePage.searchDuration(duration,dateFrom,dateTo)">{{'search_label'|translation}}</button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                </div>
            </div>
        </div>
        <router-outlet (activate)='onRouterOutletActivate($event)'></router-outlet>
    </div>
</section>