<switch-language></switch-language>
<section id="Stc-Navbar">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 d-none d-sm-nond d-md-block d-lg-block my-auto noPadding text-start">
                <ul class="list-unstyled list-inline links">
                    <ng-container *ngFor="let page of pages">
                        <li *ngIf="page.visible" class="list-inline-item "
                            [ngClass]="{'currentPage':currentPage === page.name}"><a [routerLink]="[page.link]"
                                routerLinkActive="active" skipLocationChange> {{ page.label }}</a></li>
                    </ng-container>
                </ul>
            </div>
            <div class="col-sm-12 col-12 text-end  d-inline-block d-sm-inline-block d-md-none d-lg-none ">
                <div class="">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
            </div>
            <!-- <div class="col-lg-2 col-md-2 col-sm-12 col-12 text-end  ">
                <div class="d-inline-block d-sm-inline-block d-md-none d-lg-none">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <div class="d-inline-block my-auto ">
                    <i class="fa fa-bell-o " aria-hidden="true" mat-button
                        [matMenuTriggerFor]="menu"><span>{{notificationsHeader.length}}</span></i>
                    <mat-menu #menu="matMenu" xPosition="after">

                        <ul class="list-unstyled notification"
                            [ngStyle]='{"height":notificationsHeader.length ==0?"auto":"160px","padding":" 0px"}'>
                            <li mat-menu-item *ngIf="notificationsHeader.length ==0">
                                <p>{{'newNotifications' | translation }}</p>
                            </li>
                            <ng-container *ngIf="notificationsHeader.length >0">
                                <li mat-menu-item *ngFor="let notification of notificationsHeader"
                                    (click)="ShowDetails(NotificationDetails,notification.NOTIFICATION_ID)">
                                    <p>{{notification.SUBJECT}}</p>
                                </li>
                            </ng-container>

                        </ul>
                    </mat-menu>
                </div>
            </div> -->

        </div>
    </div>
</section>

<!--------------------left navbar ----------------------->
<section id="Stc-LeftNavbar">
    <div class="container ">
        <i class="fa fa-times text-right" aria-hidden="true"></i>
        <div class="clr"></div>
        <ul class="list-unstyled text-start">
            <ng-container *ngFor="let page of pages">
                <li *ngIf="page.visible">
                    <a [routerLink]="[page.link]" [ngClass]="{'currentPageSmall':currentPage === page.name}"
                        skipLocationChange>{{ page.label | translation }}</a>
                </li>
            </ng-container>

        </ul>
    </div>
</section>

<!-------------------notificationDetails------------------------->
<!-- <ng-template #NotificationDetails let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{'notificationDetails' | translation }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body"> 
        <app-invoice-body *ngIf="openedNotificaton" [invoiceData]="openedNotificaton"  [invoiceType]="'completed'">
        </app-invoice-body>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <button (click)="closeNotificationFun()">{{'cancel' | translation }}</button>
        </div>
    </div>
</ng-template> -->