#Stc-Navbar
{
    padding-top:20px ;
    font-family: 'Ubuntu', sans-serif;
}
#Stc-Navbar .links{
padding: 0 !important;
}

#Stc-Navbar .links li {
    padding-bottom: 5px ;
}
#Stc-Navbar .links  li a
{
    color:black ; 
    font-size: 18px ;
    padding: 10px 10px ;
}
#Stc-Navbar .links  li a:hover 
{
    text-decoration: none ; 
}

#Stc-Navbar .fa-bell-o 
{
    font-size: 35px ;
    position: relative ; 
    cursor: pointer;
}

#Stc-Navbar .fa-bell-o span 
{
    background-color: #da3f7b ; 
    font-size: 16px ;
    color:white ;
    border:2px solid #fff;
    margin-left: -17px;
    border-radius: 15px;
    padding: 2px 6px;
    position: absolute;
    bottom: 0 ;
    right: -7px;
}
#Stc-Navbar  img{
    width: 40px ; 
    height: 40px ;
    border-radius: 50% ;
    margin: -17px 15px 0px ;
    /* cursor: pointer; */
}
#Stc-Navbar .fa-bars
{
    margin:  -17px 15px 0px ; 
    font-size: 30px ; 
    cursor: pointer;
}
/* .mat-menu-content:not(:empty)
{
    padding: 0px !important ;
}
.mat-menu-item
{
    border-bottom: 1px solid #eee !important ;
    overflow-y: auto !important;
    height: auto ;
    padding:15px 15px ;
    line-height: 20px !important ;
    white-space: normal !important;
}
.mat-menu-item  p 
{
    font-weight: bold !important ;
    text-transform: capitalize ;
    margin-bottom: 10px !important ;
    line-height: 25px ;
    font-size: 13px ;
}

.mat-menu-item  .date
{
    color:#aaa ;
}
.mat-menu-item  a
{
    color:#000 ;
    font-weight: bold ;
}
.mat-menu-item  a:hover 
{
    text-decoration: none ;
} */



.activeLink , .currentPage{
    border-bottom: 3px solid #da3f7b;
}

#Stc-LeftNavbar
{
    position: fixed;
    background-color: white ; 
    top:0 ;
    width: 100% ; 
    height: 100% ;
    z-index:3333333 ;
    display:none ;
}
#Stc-LeftNavbar .container 
{
    padding:20px ;
}
#Stc-LeftNavbar .container  i 
{
    font-size: 20px ;
    cursor:pointer ;
    float: right ; 
}
#Stc-LeftNavbar .container ul 
{
    margin-top: 30px ;
}
#Stc-LeftNavbar .container ul  li 
{
    margin-bottom:20px ;
}
#Stc-LeftNavbar .container ul  li  a
{
    width: 100% ; 
    display: block;
    /* text-transform: uppercase ; */
    color:#000  ;
    transition: all ease-in-out 0.2s ; 
}
#Stc-LeftNavbar .container ul  li  a:hover
{
    text-decoration: none ;
    color:#da3f7b ;
}
.currentPageSmall
{
    color:#da3f7b !important ;
}
#Stc-LeftNavbar .notification
{
    padding: initial 0px !important;
}


.modal-footer  button 
{
    margin:  0 auto ;
    background-color: #712c81 ; 
    color:white ;
    border:none ; 
    box-shadow: none ;
    padding: 10px 20px ;
    border-radius: 25px ;
    cursor: pointer;
    font-size: 13px;

}

.modal-body 
{
    padding: 20px 30px 0px ;
}