<h3 class="start header_headline_style"><span data-bind="text: label().confisScreenLbl"></span></h3>
<div class="request_body_styling animated fadeInUp rounded-lg shadow-lg p-3">
    <div class="penaltyDetailsContent start summaryContent start padding-right container">

        <div class="detailsBtn">
            <oj-button class="btnStyle" on-oj-action="[[backBtn]]"><i
                    class="fa fa-backward fontawesomePadding"></i><span data-bind="text: label().backLbl"></span>
            </oj-button>
            <oj-button class="btnStyle" on-oj-action="[[confiscationBtn]]"><i class="fa fa-times"></i><span
                    data-bind="text: label().confiscationLbl"></span></oj-button>
        </div>

        <oj-validation-group id="tracker" valid="{{customsModel.groupValid}}">
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label for="lgNumber"><span data-bind="text: label().lgNumberFromBankLbl"></span></oj-label>
                    <oj-input-text id="lgNumber" value="{{customsModel.lgNumberFromBankVal}}"
                        disabled="{{customsModel.disableAccDesc}}">
                    </oj-input-text>
                </div>


                <div class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().bankAccNumLbl"></span></oj-label>
                    <oj-select-one id="bankacc" value="{{customsModel.bankAccountVal}}" placeholder="Please Select : "
                        options="[[customsModel.bankAccountArr]]" on-value-changed="[[backAccountChangedValue]]">
                    </oj-select-one>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().bankAccNoLbl"></span></oj-label>
                    <oj-input-text id="bankacc" value="{{customsModel.bankAccountNumVal}}"
                        disabled="{{customsModel.disableAccNum}}">
                    </oj-input-text>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().letterOfGuarnAmoutLbl"></span></oj-label>
                    <oj-input-text disabled="{{customsModel.disableAdvance}}" required slot="value"
                        value="{{customsModel.letterOfGuarnAmoutVal}}"></oj-input-text>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().lgTransactionDateLbl"></span></oj-label>
                    <oj-input-date id="date" required value='{{customsModel.lgEndDateVal}}'>
                    </oj-input-date>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().attachmentLbl"></span></oj-label>
                    <oj-file-picker class='oj-filepicker-custom' select-on='click'
                        on-oj-select='[[addFileSelectListener]]'>
                        <oj-button slot='trigger' class="btnStyle" disabled="[[customsModel.addFileDis]]">
                            <span data-bind="text: label().addFileLbl"></span>
                        </oj-button>
                    </oj-file-picker>

                    <div class="col-sm-8" style="width: 100% !important; display: contents;">
                        <oj-list-view id="listview" aria-label="list using observable array"
                            data="[[dataProviderAttachment]]" selection-mode="single"
                            selection="{{customsModel.selectedItemsAttachment}}">
                            <template slot="itemTemplate">
                                <span>
                                    <oj-bind-text value='[[$current.data.name]]'></oj-bind-text>
                                </span>
                            </template>
                        </oj-list-view>

                        <br>

                        <div class="oj-flex-item attBtnRow" text-align="center">
                            <oj-button class="upload-pic" on-oj-action='[[removeSelectedAttachment]]'>
                                <span slot='startIcon' class="oj-fwk-icon oj-fwk-icon-cross"></span>
                            </oj-button>
                        </div>
                    </div>
                </div>
            </div>
        </oj-validation-group>

        <oj-dialog id="confirmConfis" style="display:none;width:800px;">
            <div slot="header">
                <h3 data-bind="text: label().confirmConfis"></h3>
            </div>
            <div slot="body">
                <span data-bind="text: label().confiscationTextLbl"></span>
            </div>

            <div slot="footer">
                <oj-button class="btnStyle" on-oj-action="[[confiscationActionBtn]]"><span
                        data-bind="text: label().yesLbl"></span></oj-button>
                <oj-button class="btnStyle" on-oj-action="[[cancelConfiscationbtn]]"><span
                        data-bind="text: label().noLbl"></span></oj-button>
            </div>
        </oj-dialog>
    </div>
</div>