<!DOCTYPE html>
<!--
 Copyright (c) 2014, 2018, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->

<!-- ************************ IMPORTANT INFORMATION ************************************
  This web navigation drawer template is provided as an example of how to configure
  a JET web application with a navigation drawer as a single page application
  using ojRouter and oj-module.  It contains the Oracle JET framework and a default
  requireJS configuration file to show how JET can be setup in a common application.
  This project template can be used in conjunction with demo code from the JET
  website to test JET component behavior and interactions.

  Any CSS styling with the prefix "demo-" is for demonstration only and is not
  provided as part of the JET framework.

  Please see the demos under Cookbook/Patterns/App Shell: Web and the CSS documentation
  under Support/API Docs/Non-Component Styling on the JET website for more information on how to use 
  the best practice patterns shown in this template.

  Aria Landmark role attributes are added to the different sections of the application
  for accessibility compliance. If you change the type of content for a specific
  section from what is defined, you should also change the role value for that
  section to represent the appropriate content type.
  ***************************** IMPORTANT INFORMATION ************************************ -->
<html lang="en-us">
  <head>
<!--    <title>Oracle JET Starter Template - Web Nav Drawer</title>-->
    <title>LC-LG-App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1">
    <link rel="icon" href="css/images/favicon.ico" type="image/x-icon" />

    <!-- This is the main css file for the default Alta theme -->
    <!-- injector:theme -->
    <link rel="stylesheet" href="css/libs/oj/v5.0.0/alta/oj-alta-min.css" type="text/css"/>
    <!-- endinjector -->
    
    <!-- This contains icon fonts used by the starter template -->
    <link rel="stylesheet" href="css/demo-alta-site-min.css" type="text/css"/>

    <!-- This is where you would add any app specific styling -->
    <link rel="stylesheet" href="css/app.css" type="text/css"/>

  </head>
  <body class="oj-web-applayout-body">
    <!-- Template for rendering navigation items shared between nav bar and nav list -->
    <script type="text/html" id="navTemplate">
      <li><a href="#">
        <span :class="[[$data['iconClass']]]"></span>
        <oj-bind-text value="[[$data['name']]]"></oj-bind-text>
      </a></li>
    </script>

    <div id="globalBody" class="oj-offcanvas-outer-wrapper oj-offcanvas-page">
      <!--
         ** Oracle JET V5.0.0 web application navigation drawer pattern.
         ** Please see the demos under Cookbook/Patterns/App Shell: Web
         ** and the CSS documentation under Support/API Docs/Non-Component Styling
         ** on the JET website for more information on how to use this pattern. 
         ** The off-canvas section is used when the browser is resized to a smaller media
         ** query size for a phone format and hidden until a user clicks on
         ** the header hamburger icon.
      -->
      <div id="navDrawer" role="navigation" class="oj-contrast-marker oj-web-applayout-offcanvas oj-offcanvas-start">
        <oj-navigation-list data="[[navDataSource]]"
                            edge="start"
                            item.renderer="[[oj.KnockoutTemplateUtils.getRenderer('navTemplate', true)]]"
                            on-click="[[toggleDrawer]]"
                            selection="{{router.stateId}}">
        </oj-navigation-list>
      </div>
      <div id="pageContent" class="oj-web-applayout-page">
        <!--
           ** Oracle JET V5.0.0 web application header pattern.
           ** Please see the demos under Cookbook/Patterns/App Shell: Web
           ** and the CSS documentation under Support/API Docs/Non-Component Styling
           ** on the JET website for more information on how to use this pattern.
        -->
        <!-- ko if: isUserLoggedIn() -->
        <header role="banner" class="oj-web-applayout-header">
            
                        <!-- Block One Add BY Mohamed Yasser // Start-->
                        
                        <!-- Logout Button Start-->
                        
                                    <oj-toolbar class="logout-button">
                <oj-menu-button id="userMenu" display="[[smScreen() ? 'icons' : 'all']]" chroming="half" >
<!--                  <span><oj-bind-text value="[[userLogin]]"></oj-bind-text></span>-->
<!--                  <img src="css/images/login/more.png"/>-->
<img src="css/images/logout-icon.png" width=""/>
                  <span slot="endIcon" :class="[[{'oj-icon demo-appheader-avatar': smScreen(), 'oj-component-icon oj-button-menu-dropdown-icon': !smScreen()}]]" ></span>
                  <oj-menu id="menu1" slot="menu" style="display:none" on-oj-action="[[menuItemAction]]">
<!--                    <oj-option id="pref" value="pref">Preferences</oj-option>
                    <oj-option id="help" value="help">Help</oj-option>
                    <oj-option id="about" value="about">About</oj-option>-->
                    <oj-option id="out" value="out" >Sign Out</oj-option>
                  </oj-menu>
                </oj-menu-button>
              </oj-toolbar>
                        
                        <!-- Logout Button End-->
            <div class="oj-flex block-one">
<div class="oj-flex-item">
                <!-- Input Search // Start-->

<!--                <input id="inputSearch" class="custom-inputSearch" placeholder="Enter keyword"
                       data-bind="ojComponent: {
          component: 'ojInputSearch',
          value: keyword,
          rootAttributes: {style:'max-width: 24em'}}">-->

  <oj-combobox-one id="glo_search" class="disable-element" disabled="false"
                                                     value="{{searchWord}}"
                                                     options="[[tagsDataProvider]]"
                                                     filter-on-open="rawValue"
                                                     on-oj-value-updated="[[search]]"
                                                     placeholder="Enter Keyword">
                                        <a slot="end" id="search-button" class="demo-search-button oj-fwk-icon-magnifier oj-fwk-icon oj-clickable-icon-nocontext"
                                           style="width: 106px;" role="button" aria-label="search" on-click="[[search]]"></a> 
                                    </oj-combobox-one>

                <!-- Input Search // End-->
                </div>
                <!-- Toolbar // Start-->
                <div class="oj-flex-item">
                         <oj-toolbar class="custom-toolbar" id='myToolbar' aria-label='Editing Toolbar' aria-controls='controlled'
               data-bind='css:toolbarClasses'>
<!--            <oj-button id='chat' display='icons'>
               <span slot='startIcon' class='demo-icon-font demo-chat-icon-24'></span>
               Chat
            </oj-button>-->
<span slot='startIcon' class='demo-icon-font demo-chat-icon-24 up-menu-item'></span>
<!--            <oj-button id='paint' display='icons'>
               <span slot='startIcon' class='demo-icon-font demo-palette-icon-24'></span>
               Paint
            </oj-button>-->
<span slot='startIcon' class='demo-icon-font demo-palette-icon-24 up-menu-item'></span>
<!--            <oj-button id='bookmark' display='icons' >
               <span slot='startIcon' class='demo-icon-font demo-bookmark-icon-16'></span>
               Bookmark
            </oj-button>-->
                          <span slot='startIcon' class='demo-icon-font demo-gear-icon-16 up-menu-item'></span>   
<!--                              <oj-button id='bookmark' display='icons' >
               <span slot='startIcon' class='demo-icon-font demo-home-icon-24'></span>
               Home
            </oj-button>-->
 <span slot='startIcon' class='demo-icon-font demo-home-icon-24 up-menu-item'></span>
          </oj-toolbar>
                </div>
                
                <!-- Toolbar // End-->

            </div>
             <!-- Block One Add BY Mohamed Yasser // End-->
            
          <div class="oj-web-applayout-max-width oj-flex-bar oj-sm-align-items-center">
            <!-- Offcanvas toggle button -->
            <div class="oj-flex-bar-start oj-md-hide">
              <oj-button id="drawerToggleButton" class="oj-button-lg" on-oj-action="[[toggleDrawer]]" chroming="half" display="icons">
                <span slot="startIcon" class="oj-web-applayout-offcanvas-icon"></span>
                <span>Application Navigation</span>
              </oj-button>
            </div>
            <div class="oj-flex-bar-middle oj-sm-align-items-baseline">
<!--              <span role="img" class="oj-icon demo-oracle-icon" title="Oracle Logo" alt="Oracle Logo"></span>-->
 <span role="img" class="oj-icon app-icon" title="Oracle Logo" alt="Oracle Logo"></span>
<!--              <h1 class="oj-sm-only-hide oj-web-applayout-header-title" title="Application Name"><oj-bind-text value="[[appName]]"></oj-bind-text></h1>-->
            </div>
            
             <!-- Block two Add BY Mohamed Yasser // Start-->
            <div class=" oj-flex block-two">
                
                <!-- Image Add BY Mohamed Yasser // Start-->
                <div class="oj-flex-item image">
                    <img src="css/images/login/Login0-02.png"/>
                </div>
                <!-- Image Add BY Mohamed Yasser // End-->
                
                <!-- Data Add BY Mohamed Yasser // Start-->
                <div class="oj-flex-item data">
                    
                    <div class="labels">
                        <span class="item-label"><!-- ko text: localeName --><!-- /ko --> </span> <br>
                        <span class="item-label"><!-- ko text: localeJop --><!-- /ko --> </span> <br>
                        <span class="item-label"><!-- ko text: localeempNO --><!-- /ko --> </span> <br>
                        <span class="item-label"><!-- ko text: localeDep --><!-- /ko --> </span> <br>
                        <span class="item-label"><!-- ko text: localeGrade --><!-- /ko --> </span> <br>
                        
                    </div>
                    
                    <div class="data-labels">
                        <span class="item-data">Moahmed Yasser</span> <br>
                        <span class="item-data">Oracle PaaS Delevpoer  </span> <br>
                         <span class="item-data">12 </span> <br>
                         <span class="item-data">Search and Development </span> <br>
                         <span class="item-data">M1 </span><br>
                    </div>
                    
                    
                    
                    
                    
                    
                    
                </div>
                 <!-- Data Add BY Mohamed Yasser // End-->
                 
                 <!-- LogoutButton Add BY Mohamed Yasser // Start-->
                 
<!--                      <oj-toolbar>
                <oj-menu-button id="userMenu" display="[[smScreen() ? 'icons' : 'all']]" chroming="half" >
                  <span><oj-bind-text value="[[userLogin]]"></oj-bind-text></span>
                  <span slot="endIcon" :class="[[{'oj-icon demo-appheader-avatar': smScreen(), 'oj-component-icon oj-button-menu-dropdown-icon': !smScreen()}]]" ></span>
                  <oj-menu id="menu1" slot="menu" style="display:none" on-oj-action="[[menuItemAction]]">
                    <oj-option id="pref" value="pref">Preferences</oj-option>
                    <oj-option id="help" value="help">Help</oj-option>
                    <oj-option id="about" value="about">About</oj-option>
                    <oj-option id="out" value="out" >Sign Out</oj-option>
                  </oj-menu>
                </oj-menu-button>
              </oj-toolbar>-->


<!--            <oj-toolbar class="logout-button">
                <oj-menu-button id="userMenu" display="[[smScreen() ? 'icons' : 'all']]" chroming="half" >
                  <span><oj-bind-text value="[[userLogin]]"></oj-bind-text></span>
                  <img src="css/images/login/more.png"/>
<img src="css/images/logout-icon.png" width=""/>
                  <span slot="endIcon" :class="[[{'oj-icon demo-appheader-avatar': smScreen(), 'oj-component-icon oj-button-menu-dropdown-icon': !smScreen()}]]" ></span>
                  <oj-menu id="menu1" slot="menu" style="display:none" on-oj-action="[[menuItemAction]]">
                    <oj-option id="pref" value="pref">Preferences</oj-option>
                    <oj-option id="help" value="help">Help</oj-option>
                    <oj-option id="about" value="about">About</oj-option>
                    <oj-option id="out" value="out" >Sign Out</oj-option>
                  </oj-menu>
                </oj-menu-button>
              </oj-toolbar>-->
                 
                 
                 <!-- LogoutButton Add BY Mohamed Yasser // End-->
                
            </div>
             <!-- Block two Add BY Mohamed Yasser // End-->
             
            
            <div class="oj-flex-bar-end">
              <!-- Responsive Toolbar -->
              <oj-toolbar>
<!--                <oj-menu-button id="userMenu" display="[[smScreen() ? 'icons' : 'all']]" chroming="half">
                  <span><oj-bind-text value="[[userLogin]]"></oj-bind-text></span>
                  <span slot="endIcon" :class="[[{'oj-icon demo-appheader-avatar': smScreen(), 'oj-component-icon oj-button-menu-dropdown-icon': !smScreen()}]]"></span>
                  <oj-menu id="menu1" slot="menu" style="display:none">
                    <oj-option id="pref" value="pref">Preferences</oj-option>
                    <oj-option id="help" value="help">Help</oj-option>
                    <oj-option id="about" value="about">About</oj-option>
                    <oj-option id="out" value="out">Sign Out</oj-option>
                  </oj-menu>
                </oj-menu-button>-->
              </oj-toolbar>
            </div>
          </div>
          <div role="navigation" class="oj-web-applayout-max-width oj-web-applayout-navbar">
           
          </div>
        </header>
        
        <div class="oj-flex oj-web-applayout-content">
            <div class="oj-flex-item section-one">
                 <oj-navigation-list class="oj-sm-only-hide oj-md-condense oj-md-justify-content-flex-end custom-menu"
                                data="[[navDataSource]]"
                                edge="top"
                                item.renderer="[[oj.KnockoutTemplateUtils.getRenderer('navTemplate', true)]]"
                                selection="{{router.stateId}}">
            </oj-navigation-list>
            </div>
            <div class="oj-flex-item section-two">
                <oj-module role="main" class="oj-web-applayout-max-width" config="[[moduleConfig]]">
        </oj-module>
            </div>
        </div>
        
                <!-- /ko -->

                    <!-- ko ifnot : isUserLoggedIn() -->

	<div class="limiter">
            <div>
             
            </div>
		<div class="container-login100" >
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<div class="login100-form-logo">
                                            <img src="css/images/login/Login0-02.png"/>
					</div>


					<span class="login100-form-title p-b-34 p-t-27 login-label  ">
						 <!-- ko text: localeLogin --><!-- /ko --> 
					</span>
                                    
                                    
					<div class="wrap-input100 validate-input" data-validate = "Enter username" >
						<input class="input100 has-val" type="text" name="username" data-bind="value:username" id="userValidation">
						<span class="focus-input100" data-bind="attr: { 'data-placeholder': UsernameLabel }" ></span>
					</div>
                                    <br>

					<div class="wrap-input100 validate-input" data-validate="Enter password" id="passValidation">
						<input class="input100 has-val" type="password" name="pass"  data-bind="value:password">
						<span class="focus-input100" data-bind="attr: { 'data-placeholder': passwordLabel }"></span>
					</div>
                                    
                                    
                                    <!--Arabic Start BY Mohamed Yasser -->

<!--                                    <div class="wrap-input100">
                                        <oj-select-one id="langSelect" class="input100 has-val select-custom-select" on-value-changed="[[langSelected]]" value="{{language}}">
                                            <oj-option value="english" class="s">English</oj-option>
                                            <oj-option value="arabic">Arabic</oj-option>
                                        </oj-select-one>
                                    </div> -->
                                   
<!--<div class="wrap-input200" data-bind="click: changeLanguage">
                                            <span data-bind="text: languagelable, value: language"></span>
                                        </div>-->


<!--<div class="text-center p-t-90 change-lang" data-bind="click: changeLanguage">
						<a class="txt1 change-lang-label" href="#" data-bind="text: languagelable, value: language">
							
						</a>
					</div>-->
                                    <!--Arabic End BY Mohamed Yasser -->
                                    
					<div class="wrap-input100 validate-input word-login" id="loginButton" data-bind="click: validateUser">
                                            <div class="input100"><span class="focus-input100" data-bind="attr: { 'data-placeholder': loginword }"></span></div>
						
					</div>
                                    
                      

<!--					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>-->

<!--					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>-->

					<div class="text-center p-t-90">
						<a class="txt1" href="#" data-bind="click:">
							<!-- ko text: forgotPasswordLabel --><!-- /ko --> 
						</a>
<!--                                            <a class="txt1 change-lang-label" href="#" data-bind="text: languagelable, value: language, click: changeLanguage">
							
						</a>-->
<div class="text-center p-t-90 change-lang" data-bind="click: changeLanguage">
						<a class="txt1 change-lang-label" href="#" data-bind="text: languagelable, value: language">
							
						</a>
					</div>
					</div>
				</form>
			</div>
		</div>
	</div>
                            <oj-popup class="demo-popup" id="popup1"
                  style="width: 1px; min-width: 30%"
                  tail="none" position.my.horizontal="center" position.my.vertical="bottom"
                  position.at.horizontal="center" position.at.vertical="center"
                  position.of="window" position.offset.y="-10"
                  modality="modal"
                  data-bind="event:{'ojAnimateStart': startAnimationListener}">
            <div class="demo-popup-body" style="text-align:center;">
                <div class="demo-popup-header">
                    <!-- ko -->Error<!-- /ko -->
                </div>

                <div class="demo-popup-footer">


                    <div class="oj-logIn-button">
                        <div class="oj-flex oj-flex-items-pad">
                            <div class="oj-sm-12 oj-flex-item">
                                <oj-button id="btnCancel" class="oj-button-lg sign-in-button" data-bind="click: loginErrorPopup">
                                    <!-- ko -->Login<!-- /ko -->
                                </oj-button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </oj-popup>
	
                    <!-- /ko -->
        
<!--        <footer class="oj-web-applayout-footer" role="contentinfo">
          <div class="oj-web-applayout-footer-item oj-web-applayout-max-width">
            <ul>
              <oj-bind-for-each data="[[footerLinks]]">
                <template>
                  <li><a :id="[[$current.data.linkId]]" :href="[[$current.data.linkTarget]]"><oj-bind-text value="[[$current.data.name]]"></oj-bind-text></a></li>
                </template>
              </oj-bind-for-each>
            </ul>
          </div>
          <div class="oj-web-applayout-footer-item oj-web-applayout-max-width oj-text-secondary-color oj-text-sm">
            Copyright © 2014, 2018 Oracle and/or its affiliates All rights reserved.
          </div>
        </footer>-->
      </div>
    
    
    <script type="text/javascript" src="js/libs/require/require.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</div>
  </body>

</html>