.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

button {
    margin: 0 auto;
    color: #712c81;
    font-weight: bold;
    border: none;
    box-shadow: none;
    padding: 10px 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 25px;
    padding: 4px 10px !important;
}
.modal-title {
    margin-bottom: 11px;
    line-height: 1.5;
    /* margin-left: 15px; */
}
.approveDiv {
    margin-top: 30px;
    background-color: #FFF;
    padding: 15px;
    border-radius: 10px;
    border-left-style: solid;
    border-left-width: 16px;
    /* border-left-color: #439775; */
    box-shadow: 0 2px 20px 0px #e0e0e0;
}
.approveDiv  .con-image {
    height: 85px;
}
.approveDiv  .con-image  img{
    border-radius: 50%;
}
/***********************************/
::-webkit-scrollbar {
    height: 5px !important;
    width: 5px !important;
    bottom: 0;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.486);
}

