<div [style.direction] = "trans.direction()" class="text-start">
    <div class="header" mat-dialog-title>
        <h4 class="title">{{'approvalHistoryDetails' | translation }}</h4>
        <button type="button" class="close" aria-label="Close" mat-dialog-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <mat-dialog-content>
        <h4 class="modal-title">{{'invoiceDetails_labels' | translation }}</h4>


        <h6 class="historyLbl">{{'invoiceNo' | translation }} : <span class="batchName">{{invoice.InvoiceName}}</span>
        </h6>
        <h6 class="historyLbl">{{'invoiceDate' | translation }} : <span
                class="batchName">{{invoice.InvoiceDate | date}}</span> </h6>



        <h6 class="historyLbl">{{'vendorNo' | translation }} : <span class="batchName">{{invoice.VENDOR_NUM}}</span>
        </h6>

        <h6 class="historyLbl">{{'vendorName' | translation }} : <span class="batchName">{{invoice.VendorName}}</span>
        </h6>


        <hr>

        <div class="approvalDetails">
            <div *ngFor="let historyData of historyArr">
                <div class="row approveDiv"
                    [style.border-left-color]="historyData.ACTION_CODE=='Rejected' || historyData.ACTION_CODE == 'REJECTED'?'red':( historyData.ACTION_CODE=='APPROVED' || historyData.ACTION_CODE == 'Approved' ? 'green': '#712c81') ">
                    <div class="col-lg-2 col-md-3 col-sm-12 con-image">
                        <img src="{{common.getUserImageById(historyData.PERSON_ID)}}">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 my-auto userInfo text-start">
                        <h6 class="name">{{'Employee' | translation }} : <span
                                class="batchName">{{historyData.PERSON_NAME}}
                            </span> </h6>
                        <h6 class="emp">{{ historyData.PERSON_TYPE}}</h6>
                        <h6 class="actionStatus">{{'actionStatus' | translation }} : <span
                                class="batchName">{{historyData.ACTION_MEANING | translation}}</span></h6>
                        <h6 class="actionStatus">{{'action_date' | translation }} : <span
                                class="batchName">{{historyData.ACTION_DATE | translation}}</span></h6>
                        <h6 class="actionStatus">{{'comment' | translation }}</h6>
                        <p class="batchName" *ngFor="let comm of historyData.COMMENTS;index as i">{{comm}}</p>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
</div>