<div class=" signin-page">

    <div class="sign-form" id="main">

        <oj-validation-group id="tracker" valid="{{groupValid}}">
        <oj-form-layout max-columns="{{columns}}" direction="row" data-bind="visible:visibleForm.emailForm">
            <div id='text'>
                <h3 data-bind="text: label().titleEmail()"></h3>
            </div>
            <div class=" oj-flex-item">
                <div>
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().phone()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input4" class="formInput" value="{{fields.phone}}" placeholder="[[label().placeholderPhone()]]" validators="[[mobileValidator]]" messages-custom="[[errorMsgPhone]]" required></oj-input-text>
                </div>
                <div class=" oj-flex-item">
                    <oj-button  class="flWidth btnPrimary mrT1" id="login" on-oj-action="[[confirmEmail]]">
                        <span >
                            <oj-bind-text value="[[label().confirm()]]">
                            </oj-bind-text>
                        </span>
                    </oj-button>
                </div>
            </div>
        </oj-form-layout>

    </oj-validation-group>
        <oj-form-layout max-columns="{{columns}}" direction="row" data-bind="visible:visibleForm.codeForm">
            <div id='text'>
                <h3 data-bind="text: label().titleCode()"></h3>
            </div>
            <div class="oj-flex-item">
                <oj-label  class="formLabel">  
                    <oj-bind-text value="[[label().codeLbl()]]">
                    </oj-bind-text>
                </oj-label>
                <oj-input-text id="text-input3" class="formInput" value="{{fields.code}}"></oj-input-text> 
                <div class=" oj-flex-item" >
                    <oj-button class="flWidth btnPrimary mrT1" id="login"  on-oj-action="[[code]]" >
                        <span >
                            <oj-bind-text value="[[label().code()]]">
                            </oj-bind-text>
                        </span>
                    </oj-button>
                </div>
            </div>
        </oj-form-layout>
    </div>
</div>
