<div class=" signin-page">

    <div class="sign-form" id="main">

        <oj-form-layout max-columns="{{columns}}" direction="row" data-bind="visible:visibleForm.emailForm">
            <div id='text' data-bind="visible: visibleForm.showEmail">
                <h3 data-bind="text: label().titleEmail()"></h3>
            </div>
            <div id='text' data-bind="visible: visibleForm.showPhone">
                <h3 data-bind="text: label().titlePhone()"></h3>
            </div>
            <div class=" oj-flex-item">
                <div data-bind="visible: visibleForm.showEmail">
                <oj-label  class="formLabel">  
                    <oj-bind-text value="[[label().email()]]">
                    </oj-bind-text>
                </oj-label>
                <oj-input-text id="text-input5" class="formInput" value="{{fields.email}}" messages-custom="[[errorMsgEmail]]" on-value-changed="[[emailChangedHandler]]" validators="[[emailValidator]]" placeholder="[[label().placeholderEmail()]]"></oj-input-text>   
                </div>
                <div data-bind="visible: visibleForm.showPhone">
                    <oj-label  class="formLabel">  
                    <oj-bind-text value="[[label().phone()]]">
                    </oj-bind-text>
                </oj-label>
                <oj-input-text id="text-input4" class="formInput" value="{{fields.phone}}" placeholder="[[label().placeholderPhone()]]" validators="[[mobileValidator]]" messages-custom="[[errorMsgPhone]]" on-value-changed="[[phoneChangedHandler]]"></oj-input-text>
                </div>
                <div class=" oj-flex-item">
                    <oj-button  class="flWidth btnPrimary mrT1" id="login" on-oj-action="[[confirmEmail]]" disabled="[[confirmTrue]]">
                        <span >
                            <oj-bind-text value="[[label().confirm()]]">
                            </oj-bind-text>
                        </span>
                    </oj-button>
                    <div id="haveAccount" class="text-center">
                        <oj-button on-oj-action="[[byPhone]]">
                            <div data-bind="visible: visibleForm.showLabelEmail">
                            <span>
                                <oj-bind-text value="[[label().changeByEmail()]]">
                                </oj-bind-text>
                            </span>
                                </div>
                            <div  data-bind="visible: visibleForm.showLabelPhone">
                            <span>
                                <oj-bind-text value="[[label().changeByPhone()]]">
                                </oj-bind-text>
                            </span>
                                </div>
                        </oj-button>
                    </div>
                </div>
            </div>
        </oj-form-layout>

        <oj-form-layout max-columns="{{columns}}" direction="row" data-bind="visible:visibleForm.codeForm">
            <div id='text'>
                <h3 data-bind="text: label().titleCode()"></h3>
            </div>
            <div class="oj-flex-item">
                <oj-label  class="formLabel">  
                    <oj-bind-text value="[[label().codeLbl()]]">
                    </oj-bind-text>
                </oj-label>
                <oj-input-text id="text-input3" class="formInput" value="{{fields.code}}"></oj-input-text> 
                <div class=" oj-flex-item" >
                    <oj-button class="flWidth btnPrimary mrT1" id="login"  on-oj-action="[[code]]" >
                        <span >
                            <oj-bind-text value="[[label().code()]]">
                            </oj-bind-text>
                        </span>
                    </oj-button>
                </div>
            </div>
        </oj-form-layout>
        <oj-validation-group id="tracker" valid="{{groupValid}}">
        <oj-form-layout max-columns="{{columns}}" direction="row" data-bind="visible:visibleForm.resetForm">
            <div id='text'>
                <h3 data-bind="text: label().titleReset()"></h3>
            </div>
            <div class="oj-flex-item">
                <oj-label  class="formLabel">  
                    <oj-bind-text value="[[label().newPass()]]">
                    </oj-bind-text>
                </oj-label>
                <oj-input-password id="text-input1" autocomplete="new-password" class="formInput" value="{{fields.newPass}}" required placeholder="••••••••" raw-value="{{currentPassValue}}"  validators="[[validatorPass]]"></oj-input-password> 
                <oj-label  class="formLabel">  
                    <oj-bind-text value="[[label().confirmPass()]]">
                    </oj-bind-text>
                </oj-label>
                <oj-input-password id="text-input2" autocomplete="new-password" class="formInput" value="{{fields.confirmPass}}" required  raw-value="{{currentRawPassValue}}" on-value-changed="[[passChangedHandler]]" placeholder="••••••••"  messages-custom="[[errorMsgPass]]" validators="[[validatorPass]]"></oj-input-password> 
                <div class=" oj-flex-item" >
                    <oj-button class="flWidth btnPrimary mrT1" id="login"  on-oj-action="[[reset]]" >
                        <span >
                            <oj-bind-text value="[[label().reset()]]">
                            </oj-bind-text>
                        </span>
                    </oj-button>
                </div>
            </div>
        </oj-form-layout>
</oj-validation-group>
    </div>
</div>
