<div class="complain-page">

    <div class="complain-container">
        <div class="row">

            <div class="col-md-4 col-sm-6 complain-div">
                <div id='complain'> 
                    <oj-validation-group id="tracker" valid="{{groupValid}}">
                        <oj-form-layout max-columns="{{columns}}" direction="row">
                            <div class="main-form oj-flex-item">
                                <div class=" oj-flex-item">
                                    <h5 for="rem"><oj-bind-text value="[[label().showroom()]]"></oj-bind-text></h5>
                                    <oj-select-one value="{{fieldsValue.showroom}}" options="[[fieldsValue.showroomArr]]"on-value-changed="[[showroomHandler]]" >
                                    </oj-select-one>
                                </div>
                                <div class=" oj-flex-item">
                                    <h5 for="rem"><oj-bind-text value="[[label().brand()]]"></oj-bind-text></h5>
                                    <oj-select-one value="{{fieldsValue.brand}}" options="[[fieldsValue.brandArr]]" on-value-changed="[[brandHandler]]">
                                    </oj-select-one>
                                </div>
                                <div class=" oj-flex-item">
                                    <h5 for="rem"><oj-bind-text value="[[label().model()]]"></oj-bind-text></h5>
                                    <oj-select-one value="{{fieldsValue.model}}" options="[[fieldsValue.modelArr]]"  on-value-changed="[[modelHandler]]" >
                                    </oj-select-one>
                                </div>
                                <div class=" oj-flex-item">
                                    <h5 for="rem"><oj-bind-text value="[[label().date()]]"></oj-bind-text></h5>
                                    <oj-select-one value="{{fieldsValue.date}}" options="[[fieldsValue.dateArr]]" on-value-changed="[[dateHandler]]">
                                    </oj-select-one>
                                </div>
                                <div class=" oj-flex-item">
                                    <h5 for="rem"><oj-bind-text value="[[label().time()]]"></oj-bind-text></h5>
                                    <oj-select-one value="{{fieldsValue.time}}" options="[[fieldsValue.timeArr]]" >
                                    </oj-select-one>
                                </div>
                            </div>
                        </oj-form-layout>
                    </oj-validation-group>
                </div>
                <div id='buttons-container'>
                    <oj-button class="btnPrimary" id='book' on-oj-action='[[submitAction]]'>
                        <span><oj-bind-text value="[[label().submit()]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </div>

<!--            <div class="col-md-4 col-sm-6 ">
                <div class="question-mark"><i class="far fa-2x fa-question-circle"></i></div>

                <div class="question-section">

                    <div id='upcoming-text'>
                        <h4 data-bind="text: label.upcomingHistory">
                        </h4>
                        <p data-bind="text: label.historyParag"></p>
                    </div>
                    <div id='upcoming-text'>
                        <h4 data-bind="text: label.pastComplain">
                        </h4>
                        <p data-bind="text: label.pastParag">
                        </p>
                    </div>

                </div>

            </div>


            <div class="col-md-4 col-sm-6 booking-slider">

                <div id="history" class="right-slider oj-panel oj-sm-margin-2x demo-panel-customizations">
                    <div>
                        <h3 data-bind="text: label.complainHistory"></h3>
                        <h5 data-bind="text: label.chooseDetail"></h5>
                    </div>
                    <div id="sampleDemo" class="demo-padding demo-container">
                        <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                            <div id="demoContent" style="position: relative;">
                                <ul id="ulResults">
                                    <oj-bind-for-each data="[[pagingDataProvider]]">
                                        <template data-oj-as="row" >
                                            <div class="slider-item oj-panel oj-panel-shadow-sm oj-sm-margin-2x demo-panel-customizations">
                                                <oj-label class="label-line fa fa-user">
                                                    <strong>
                                                        <oj-bind-text value="[[label.complainType]]"></oj-bind-text>: 
                                                    </strong>
                                                    <oj-bind-text value="[[row.data.firstVal]]"></oj-bind-text>
                                                </oj-label>
                                                <oj-label class="label-line fa fa-car">
                                                    <strong>
                                                        <oj-bind-text value="[[label.secValueLbl]]"></oj-bind-text>: 
                                                    </strong>
                                                    <oj-bind-text value="[[row.data.secondValue]]"></oj-bind-text>
                                                </oj-label>
                                                <oj-label class="label-line fas fa-store-alt">
                                                    <strong>
                                                        <oj-bind-text value="[[label.complaintLetter]]"></oj-bind-text>: 
                                                    </strong>
                                                    <oj-bind-text value="[[row.data.detailsValue]]"></oj-bind-text>
                                                </oj-label>
                                            </div>  
                                        </template>
                                    </oj-bind-for-each>
                                </ul>
                                <oj-paging-control id="paging" data="[[pagingDataProvider]]" page-size="2">
                                </oj-paging-control>
                            </div>
                        </div>
                    </div>
                </div> 

            </div>-->

        <!--</div>-->
    </div>

</div>
</div>

<!--<div class="reservation-page loading">

    <img  style="width:250px" src="css/images/under_develop.png"/>
    <div style="margin-left: 40px; color: #44b6e2;">
        <h1 class="text-center">Under development...</h1>
    </div>

</div>-->