<h3 class="start header_headline_style"><span data-bind="text: label().approvalScreenLbl"></span></h3>
<div class="request_body_styling animated fadeInUp rounded-lg shadow-lg p-3">
    <div class="summaryContent container">

        <div class="oj-md-12 oj-sm-12 oj-lg-12 oj-flex-item paddingBottom10px center">
            <oj-label><span data-bind="text: label().approvalTypeLbl"></span></oj-label>
            <oj-select-one id="emp" value="{{customsModel.approvalTypeVal}}" placeholder="Please Select : "
                options="[[customsModel.approvalTypeArr]]" disabled="{{customsModel.disEmployee}}">
            </oj-select-one>
        </div>

        <hr>
        <h5 class="header_headline_style"><span data-bind="text: label().creationLbl"></span></h5>

        <oj-validation-group id="tracker2" valid="{{customsModel.groupValid2}}" role="group"
            aria-labelledby="grouplabelid">
            <div class="oj-flex oj-flex-items-pad padding-right">
                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().typeActionLbl"></span></oj-label>
                    <oj-select-one id="typeAction" value="{{customsModel.typeActionVal}}" placeholder="Please Select : "
                        options="[[customsModel.typeActionArr]]" disabled="{{customsModel.disTypeAction}}">
                    </oj-select-one>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().employeeNameLbl"></span></oj-label>
                    <oj-select-one id="emp" value="{{customsModel.employeeNameVal}}" placeholder="Please Select : "
                        options="[[customsModel.allEmpolyeesArr]]" disabled="{{customsModel.disEmployee}}">
                    </oj-select-one>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().lgTypeLbl"></span></oj-label>
                    <oj-select-one id="typeAction" value="{{customsModel.lgTypeVal}}" placeholder="Please Select : "
                        options="[[customsModel.lgTypeArr]]">
                    </oj-select-one>
                </div>

                <div data-bind="visible : customsModel.approvalTypeVal() == 'LG Action'"
                    class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().lgActionLbl"></span></oj-label>
                    <oj-select-one id="lgAction" value="{{customsModel.lgActionVal}}" placeholder="Please Select : "
                        options="[[customsModel.lgActionArr]]">
                    </oj-select-one>
                </div>

            </div>
        </oj-validation-group>

        <hr>
        <div data-bind="visible : customsModel.typeActionVal() == 'Approval'">
            <h5 class="header_headline_style"><span data-bind="text: label().approvalLbl"></span></h5>

            <div class="oj-flex oj-flex-items-pad padding-right">

                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().appEmployeeNameLbl"></span></oj-label>
                    <oj-select-one id="emp" value="{{customsModel.appEmployeeNameVal}}" placeholder="Please Select : "
                        options="[[customsModel.allEmpolyeesArr]]">
                    </oj-select-one>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().approvalLevelLbl"></span></oj-label>
                    <oj-select-one id="typeAction" value="{{customsModel.approvalLevelVal}}"
                        placeholder="Please Select : " options="[[customsModel.approvalLevelArr]]">
                    </oj-select-one>
                </div>
            </div>
        </div>
        <div class="buttonSection">
            <div class="summaryBtn ">
                <oj-button class="btnStyle" disabled="[[customsModel.addDis]]" on-oj-action='[[addBtn]]'><i
                        class="fa fa-plus"></i><span data-bind="text: label().addLbl"></span>
                </oj-button>
                <oj-button data-bind="visible :customsModel.typeActionVal() == 'Create' " class="btnStyle"
                    on-oj-action='[[updateBtn]]' disabled="[[customsModel.updateDis]]"><i
                        class="fa fa-pencil-square-o"></i><span data-bind="text: label().updateLbl"></span>
                </oj-button>
                <oj-button class="btnStyle" on-oj-action='[[deleteBtn]]' disabled="[[customsModel.deleteDis]]"><i
                        class="fa fa-trash-o"></i><span data-bind="text: label().deleteLbl"></span>
                </oj-button>
                <oj-button class="btnStyle" on-oj-action='[[resetBtn]]' disabled="[[customsModel.exportDis]]"><i
                        class="fa fa-repeat"></i><span data-bind="text: label().resetLabel"></span>
                </oj-button>
            </div>
        </div>

        <br><br>

        <div data-bind="visible : customsModel.typeActionVal() == 'Create'">
            <h3 class="header_headline_style"><span data-bind="text: label().creationValidationlLbl"></span></h3>
        </div>

        <div class="start"
            data-bind="visible : customsModel.typeActionVal() == 'Create' && customsModel.approvalTypeVal() == 'LG Creation'">
            <oj-table class="tableStyle" id='table' data='[[customsModel.dataproviderCreateAppScreen]]'
                selection-mode='{"row": "single", "column": "single"}' scroll-policy='auto'
                columns='[[customsModel.columnArray]]' scroll-policy-options='{"fetchSize": 10}'
                on-oj-before-current-row="[[createAppSelectListener]]">

                <oj-paging-control id="paging" data='[[customsModel.dataproviderCreateAppScreen]]' page-size='5'
                    slot='bottom' class="pagingStyle display-inline-flex">
                </oj-paging-control>
            </oj-table>
        </div>

        <div data-bind="visible : customsModel.typeActionVal() == 'Approval'">
            <h3 class="header_headline_style"><span data-bind="text : label().createApprovalTblLbl"></span></h3>
        </div>

        <div class="start"
            data-bind="visible : customsModel.typeActionVal() == 'Approval' && customsModel.approvalTypeVal() == 'LG Creation'">
            <oj-table class="tableStyle" id='apptable' data='[[customsModel.dataproviderApprovalScreen]]'
                selection-mode='{"row": "single", "column": "single"}' scroll-policy='auto'
                columns='[[customsModel.approvalColumnArray]]' scroll-policy-options='{"fetchSize": 10}'
                on-oj-before-current-row="[[createApprovalSelectListener]]">

                <oj-paging-control id="paging2" data='[[customsModel.dataproviderApprovalScreen]]' page-size='5'
                    slot='bottom' class="pagingStyle display-inline-flex">
                </oj-paging-control>
            </oj-table>
        </div>

        <div class="start"
            data-bind="visible : customsModel.typeActionVal() == 'Create' && customsModel.approvalTypeVal() == 'LG Action'">
            <oj-table class="tableStyle" id='actionValtable' data='[[customsModel.dataproviderActionValScreen]]'
                selection-mode='{"row": "single", "column": "single"}' scroll-policy='auto'
                columns='[[customsModel.actionValColumnArray]]' scroll-policy-options='{"fetchSize": 10}'
                on-oj-before-current-row="[[actionValSelectListener]]">

                <oj-paging-control id="pagingAction" data='[[customsModel.dataproviderActionValScreen]]' page-size='5'
                    slot='bottom' class="pagingStyle display-inline-flex">
                </oj-paging-control>
            </oj-table>
        </div>

        <div class="start"
            data-bind="visible : customsModel.typeActionVal() == 'Approval' && customsModel.approvalTypeVal() == 'LG Action'">
            <oj-table class="tableStyle" id='actionApptable' data='[[customsModel.dataproviderActionAppScreen]]'
                selection-mode='{"row": "single", "column": "single"}' scroll-policy='auto'
                columns='[[customsModel.actionAppColumnArray]]' scroll-policy-options='{"fetchSize": 10}'
                on-oj-before-current-row="[[actionAppSelectListener]]">

                <oj-paging-control id="pagingActionApp" data='[[customsModel.dataproviderActionAppScreen]]'
                    page-size='5' slot='bottom' class="pagingStyle display-inline-flex">
                </oj-paging-control>
            </oj-table>
        </div>

    </div>
</div>