html{
padding: 0;
margin: 0;
}
body{
    max-height: 100vh;
    width: 100%;
    background-image: url(values-bg.png);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding-top: 250px;
}
.mid-div{
    margin: 0 auto;
    max-width: 400px;
}