<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1 data-bind="text: costScreenLbl"data></h1>
<div id="form-container" class="section-container">

    <div id="buttons-container" class="oj-flex-item"> 

        <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[backBtnAction]]'>
            <span><oj-bind-text value="[[backLbl]]"></oj-bind-text></span>
        </oj-button>

        <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[budgetBtnAction]]'>
            <span><oj-bind-text value="[[budgetLbl]]"></oj-bind-text></span>
        </oj-button>

        <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[invoiceBtnAction]]'>
            <span><oj-bind-text value="[[invoiceLbl]]"></oj-bind-text></span>
        </oj-button>

        <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[quotationBtnAction]]'>
            <span><oj-bind-text value="[[quotationLbl]]"></oj-bind-text></span>
        </oj-button>
        <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[cashFlowAction]]'>
            <span><oj-bind-text value="[[cashFlow]]"></oj-bind-text></span>
        </oj-button>

    </div>

    <div id="dialogWrapper" >
        <oj-dialog class="main-dialog main-dialog-width" id="budgetDialog">
            <div slot="header" class="oj-helper-clearfix">

                <label  data-bind="text: budgetLbl"></label>
            </div>

            <div slot="body" class="procurmentPlanDialog">

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label  data-bind="text: projectName"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-text id="select"  disabled="{{isDisabledProNameVal}}"
                                       value="{{projectNameValue}}">
                        </oj-input-text>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label  data-bind="text: projectNumber"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-text id="select"  disabled="{{isDisabledProNumVal}}"
                                       value="{{proNumber}}">
                        </oj-input-text>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label  data-bind="text: projectStartDateLbl"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-text id="select"  disabled="{{isDisabledProStartVal}}"
                                       value="{{projectStartValue}}">
                        </oj-input-text>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label  data-bind="text: projectEndDate"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-text id="select"  disabled="{{isDisabledProEndVal}}"
                                       value="{{projectEndValue}}">
                        </oj-input-text>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item highLight">
                        <label  data-bind="text: financeLbl"/>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label  data-bind="text: mainOrderLbl"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-text id="select"  disabled="{{isDisabledMainOrderVal}}"
                                       value="{{mainOrderValue}}">
                        </oj-input-text>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label  class="highLight"  data-bind="text: totalSalesLbl"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-text id="select"  disabled="{{isDisabledTotalSalesVal}}"
                                       value="{{totalSalesValue}}">
                        </oj-input-text>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label  data-bind="text: equipmentLbl"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-text id="select"  disabled="{{isDisabledEquipmentVal}}"
                                       value="{{equipmentValue}}">
                        </oj-input-text>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label  data-bind="text: overheadsLbl"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-text id="select"  disabled="{{isDisabledOverheadsVal}}"
                                       value="{{overheadsValue}}">
                        </oj-input-text>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label  data-bind="text: PMLbl"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-text id="select"  disabled="{{isDisabledPMVal}}"
                                       value="{{PMValue}}">
                        </oj-input-text>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item ">
                        <label  class ="highLight" data-bind="text: costOfSalesLbl"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-text id="select"  disabled="{{isDisabledcostOfSalesVal}}"
                                       value="{{costOfSalesValue}}">
                        </oj-input-text>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label  data-bind="text: forecastGrossProfitLbl"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-text id="select"  disabled="{{isDisabledForecastVal}}"
                                       value="{{forecastValue}}">
                        </oj-input-text>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label  data-bind="text: rateLbl"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-text id="select"  disabled="{{isDisabledRateVal}}"
                                       value="{{rateValue}}">
                        </oj-input-text>
                    </div>
                </div>

            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[cancelDatesBtn]]'>
                    <span><oj-bind-text value="[[cancelDatesLbl]]"></oj-bind-text></span>
                </oj-button>
            </div>

        </oj-dialog>
    </div>

    <div id="dialogWrapper" >
        <oj-dialog class="main-dialog main-dialog-width" id="quatationDialog">
            <div slot="header" class="oj-helper-clearfix">

                <label  data-bind="text: quotationLbl"></label>
            </div>

            <div slot="body" class="procurmentPlanDialog">

                <div class="table-content">
                    <h5 class="headerDesign" data-bind="text: descriptionSystem"></h5>
                    <oj-table id='tableprocurment'
                              class="apTable-1"
                              aria-label='Table'
                              data='[[dataSource]]'
                              selection-mode='{"row": "single", "column": "single"}'
                              dnd='{"reorder": {"columns": "enabled"}}'
                              scroll-policy-options='{"fetchSize": 10}'
                              columns='[[columnArray]]'                
                              display = "grid"
                              on-oj-before-current-row = "[[tableSeleListener]]">

                    </oj-table>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 text-right">
                            <span class="costLbl totalDesing costInput2"><label  data-bind="text: total"/></span>
                            <span class="totalDesing"><oj-bind-text  value="{{totalMaterialVal}}"></oj-bind-text> AED</span>
                        </div>
                    </div>
                </div>
                
                <br/>
                <br/>
                <div class="table-content">
                    <h5 class="headerDesign"data-bind="text: manpowrTableLbl"></h5>
                    <oj-table id='tableprocurment23'
                              class="apTable-1"
                              aria-label='Table'
                              data='[[dataSource22]]'
                              selection-mode='{"row": "single", "column": "single"}'
                              dnd='{"reorder": {"columns": "enabled"}}'
                              scroll-policy-options='{"fetchSize": 10}'
                              columns='[[columnArray2]]'
                              display = "grid"
                              on-oj-before-current-row = "[[tableSeleListener2]]">
                    </oj-table>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 text-right">
                            <span class="costLbl totalDesing"><label  data-bind="text: total"/></span>
                            <span class="totalDesing"><oj-bind-text  value="{{totalManpowerVal}}"></oj-bind-text> AED</span>
                        </div>
                    </div>
                </div>
                
                <br/>
               
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 text-right">
                            <span class="costLbl totalDesing costInput2"><label  data-bind="text: totalQuotLbl"/></span>
                            <span class="totalDesing"><oj-bind-text  value="{{parseInt(totalMaterialVal())+ parseInt(totalManpowerVal())}}"></oj-bind-text> AED</span>
                        </div>
                    </div>
                </div>
                <br/>
                 <hr/>
                 <div>
                     <oj-button class="apBtn-2" on-oj-action='[[addCondition]]'>
                         <span><oj-bind-text value="Add"></oj-bind-text></span>
                     </oj-button>
                     <oj-button class="apBtn-2" on-oj-action='[[deletecondition]]'disabled="{{deleteDisable}}">
                         <span><oj-bind-text value="Delete"></oj-bind-text></span>
                     </oj-button>
                     <div class="oj-flex">
                         <div class="oj-flex-item">
                             <label  data-bind="text: optionLbl"/>
                         </div>

                         <div class="oj-flex-item">
                             <oj-input-text id="select" 
                                      value="{{optionValue}}" >
                             </oj-input-text>
                         </div>
                         <div class="oj-flex-item">
                             <label  data-bind="text: amountLbl"/>
                         </div>

                         <div class="oj-flex-item">
                             <oj-input-number id="select8"  
                           value="{{optionAmountValue}}" >
                             </oj-input-number>
                         </div>
                     </div>
                       <oj-table id='tableprocurment23'
                              class="apTable-1"
                              aria-label='Table'
                              data='[[dataSourceOption]]'
                              selection-mode='{"row": "single", "column": "single"}'
                              dnd='{"reorder": {"columns": "enabled"}}'
                              scroll-policy-options='{"fetchSize": 10}'
                              columns='[[optionColumsArray]]'
                              display = "grid"
                              on-oj-before-current-row = "[[optionTableSelection]]">
                    </oj-table>
                 </div>   
                 
                  <hr/>
                <h5 class="headerDesign" data-bind="text: commersialCond"></h5>
                <ol>
                    <div>
                        <span ><label  data-bind="text: commersialCond1"/></span>
                    </div>
                    <div>
                        <span ><label  data-bind="text: commersialCond2"/></span>
                    </div>
                    <div>
                        <span ><label  data-bind="text: commersialCond3"/></span>
                    </div>
                    <div>
                        <span ><label  data-bind="text: commersialCond4"/></span>
                    </div>
                    <div>
                        <span ><label  data-bind="text: commersialCond5"/></span>
                    </div>
                    <div>
                        <span><label  data-bind="text: commersialCond6"/></span>
                    </div>
                    <div>
                        <span ><label  data-bind="text: commersialCond7"/></span>
                    </div>
                    <div>
                        <span><label  data-bind="text: commersialCond8"/></span>
                    </div>
                    <ol>
                        <div>
                            <span><label  data-bind="text: commersialCond8_1"/></span>
                        </div>
                        <div>
                            <span><label  data-bind="text: commersialCond8_2"/></span>
                        </div>
                        <div>
                            <span><label  data-bind="text: commersialCond8_3"/></span>
                        </div>
                        <div>
                            <span><label  data-bind="text: commersialCond8_4"/></span>
                        </div>
                        <div>
                            <span><label  data-bind="text: commersialCond8_5"/></span>
                        </div>
                    </ol>
                    <div>
                        <span ><label  data-bind="text: commersialCond9"/></span>
                    </div>
                    <ol>
                        <div>
                            <span><label  data-bind="text: commersialCond9_1"/></span>
                        </div>
                        <div>
                            <span><label  data-bind="text: commersialCond9_2"/></span>
                        </div>
                        <div>
                            <span><label  data-bind="text: commersialCond9_3"/></span>
                        </div>
                        <div>
                            <span><label  data-bind="text: commersialCond9_4"/></span>
                        </div>
                        <div>
                            <span><label  data-bind="text: commersialCond9_5"/></span>
                        </div>
                        <div>
                            <span><label  data-bind="text: commersialCond9_6"/></span>
                        </div>
                    </ol>
                    <div>
                        <span ><label  data-bind="text: commersialCond10"/></span>
                    </div>
                    <ol>
                        <div>
                            <a href="#"><span ><label  data-bind="text: commersialCond10Link"/></span></a>
                        </div>
                    </ol>
                </ol>
            </div>

            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[cancelQuotationBtn]]'>
                    <span><oj-bind-text value="[[cancelDatesLbl]]"></oj-bind-text></span>
                </oj-button>
            </div>

        </oj-dialog>
    </div>

    <div class="table-content">
         <h5 class="headerDesign" data-bind="text: proPlanLbl"></h5>
        <oj-table id='table'
                  class="apTable-1"
                  aria-label='Table'
                  data='[[dataSourcePro]]'
                  selection-mode='{"row": "single", "column": "single"}'
                  dnd='{"reorder": {"columns": "enabled"}}'
                  scroll-policy-options='{"fetchSize": 10}'
                  columns='[[columnArrayPro]]'
                  display = "grid"
                  on-oj-before-current-row = "[[tableSeleListenerPro]]">
        </oj-table>
    </div>

    <div class="totalCost">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-right">
                    <span class="costLbl totalDesing"><label  data-bind="text: total"/></span>
                    <span class="totalDesing"><oj-bind-text  value="{{totalProcurmentVal}}"></oj-bind-text> AED</span>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="table-content">
        <h5 class="headerDesign" data-bind="text: serviceCostLbl"></h5>
        <oj-table id='tableService'
                  class="apTable-1"
                  aria-label='Table'
                  data='[[dataSourceSer]]'
                  selection-mode='{"row": "single", "column": "single"}'
                  dnd='{"reorder": {"columns": "enabled"}}'
                  scroll-policy-options='{"fetchSize": 10}'
                  columns='[[columnArraySer]]'
                  display = "grid"
                  on-oj-before-current-row = "[[tableSeleListenerSer]]">
        </oj-table>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-right">
                <span class="costLbl totalDesing"><label  data-bind="text: total"/></span>
                <span class="totalDesing"><oj-bind-text  value="{{totalServiceVal}}"></oj-bind-text> AED</span>
            </div>
        </div>
    </div>
    <br/>

    <div class="table-content">
        <h5 class="headerDesign" data-bind="text: overHeadLbl"></h5>
        <oj-table id='tableOverHead'
                  class="apTable-1"
                  aria-label='Table'
                  data='[[dataSourceOver]]'
                  selection-mode='{"row": "single", "column": "single"}'
                  dnd='{"reorder": {"columns": "enabled"}}'
                  scroll-policy-options='{"fetchSize": 10}'
                  columns='[[columnArrayOver]]'
                  display = "grid"
                  on-oj-before-current-row = "[[tableSeleListenerOver]]">
        </oj-table>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-right">
                <span class="costLbl totalDesing"><label  data-bind="text: total"/></span>
                <span class="totalDesing"><oj-bind-text  value="{{totaloverHeadVal}}"></oj-bind-text> AED</span>
            </div>
        </div>
    </div>
</div>
