<div id="form-container" class="section-container">
    <h1 data-bind="text: MainLbl"></h1>

    <div id="form-container" class="section-container-2">
        <div id="buttons-container" class="oj-flex-item"> 

            <oj-button class="apBtn-2 btnStyle" on-oj-action='[[backBtnAction]]'>
                <span><oj-bind-text value="[[backBtnLbl]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2 btnStyle" on-oj-action='[[addBtnAction]]'>
                <span><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2 apBtn-disabled btnStyle hoverClass" disabled="{{searchDisable}}"  on-oj-action='[[searchBtnAction]]'>
                <span><oj-bind-text value="[[searchLbl]]"></oj-bind-text></span>
            </oj-button>
             <oj-button class="apBtn-2 apBtn-disabled btnStyle hoverClass" on-oj-action='[[resetButtonAction]]'>
                <span><oj-bind-text value="[['Reset']]"></oj-bind-text></span>
            </oj-button>

        </div>
        <div class="oj-flex-item">
            <div class="oj-form search-form  oj-md-odd-cols-5 oj-md-labels-inline">

                <oj-validation-group id="tracker" valid="{{groupValid}}">
                    <div class="costFormBody">
                        <div class="costForm">                     
                            <div class="oj-flex-item costLbl">
                                <label for="basicSelect" data-bind="text: costId"/>
                            </div>
                            <div class="oj-flex-item costInput">
                                <oj-input-text                                            
                                    value="{{costIdVal}}"
                                    required="[[isRequired]]">

                                </oj-input-text>
                            </div>                           
                        </div>
                        <div class="costForm">
                            <div class="">
                                <div class="costLbl" >
                                    <label  data-bind="text: systemCode"/>
                                </div>

                                <div class="oj-flex-item costInput">
                                    <oj-input-text id="select" 
                                                   value="{{systemCodeVal}}"
                                                   required="[[isRequired]]"
                                                   disabled="{{isDisabled}}" >
                                    </oj-input-text>

                                </div>  
                            </div>
                        </div>                       
                    </div>
                      <div class="costFormBody">
                        <div class="costForm">                     
                            <div class="oj-flex-item costLbl">
                                <label for="basicSelect" data-bind="text: costType"/>
                            </div>
                            <div class="oj-flex-item costInput">
                                <oj-select-one  
                                    placeholder='[[placeholder]]'
                                    options="{{costTypeArr}}"
                                    value="{{costTypeVal}}"
                                    required="[[isRequired]]">

                                </oj-select-one>
                            </div>                           
                        </div>
<!--                        <div class="costForm">
                            <div class="">
                                <div class="costLbl" >
                                    <label  data-bind="text: description"/>
                                </div>

                                <div class="oj-flex-item costInput">
                                    <oj-input-text id="select" 
                                                   value="{{descriptionVal}}"
                                                   
                                               
                                                   disabled="{{isDisabledDesc}}">
                                    </oj-input-text>

                                </div>  
                            </div>
                        </div>                       -->
                    </div>
                </oj-validation-group>
            </div>

            <div>
                <oj-table class='apTable-1' aria-label='category Table'  
                          on-oj-before-current-row = "[[tableSelectionListener]]"
                          selection-mode='{"row": "single", "column": "none"}' data='[[dataSource]]'
                          dnd='{"reorder": {"columns": "enabled"}}' scroll-policy='auto' columns='[[costCategoryColumnArray]]'>
                  <oj-paging-control id="paging" data='[[dataSource]]' page-size='5' slot='bottom' class="apPaging-1 display-inline-flex">
                </oj-paging-control>
                </oj-table>
                
            </div>
        </div>
    </div>