<div id="form-container" class="request_body_styling animated fadeInUp">
    <div class="oj-form">
        <oj-messages messages="[[messagesDataProvider]]" display="notification" position="[[position]]" on-oj-close="[[closeMessageHandler]]"></oj-messages>
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">

                <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                    <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[previousStep]]' disabled="[[currentStepValue() == 'stp1']]">
                    <span><oj-bind-text value="[[backLbl]]"></oj-bind-text></span>
                </oj-button>

            </div>
            <div class="oj-flex-bar-end">
                <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[nextStep]]' data-bind="visible: nextBtnVisible" disabled="[[currentStepValue() == 'stp2']]">
                    <span><oj-bind-text value="[[nextLbl]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2 apBtn-disabled-2"  on-oj-action='[[submitButton]]' disabled="{{disableBtnSubmit}}" data-bind="visible: addBtnVisible">
                    <span><oj-bind-text value="[[submitLbl]]"></oj-bind-text></span>
                </oj-button>

                <div id="sampleDemo" class="demo-padding demo-container"></div>
                <div id="dialogWrapper">
                    <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
                        <div slot="header" class="oj-helper-clearfix">
                            <label data-bind="text: confirmMessage"></label>
                        </div>

                        <div slot="body">
                            <label data-bind="text: confirmMessageDialog"></label>
                        </div>
                        <div slot="footer">
                            <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[commitRecord]]'>
                                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                            </oj-button>

                            <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButton]]'>
                                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                            </oj-button>
                        </div>
                    </oj-dialog>

                    <!--icon attachment viewer-->
                    <oj-dialog style="display:none" id="attachmentDialog" title="Attachment Viewer" cancel-behavior='none'>
                        <div slot="body">
                            <img data-bind="attr:{src: attachmentViewerData}"
                                 alt="bulleted list image"
                                 width="200" height="200"/>
                        </div>
                        <div slot="footer">
                            <oj-button id="okButton" on-oj-action="[[closeAttachmentViewer]]">OK
                            </oj-button>
                        </div>
                    </oj-dialog>    
                    <!--//////////////////-->
                </div>
                <div id="dialogWrapper">
                    <oj-dialog class="main-dialog main-dialog-width" id="NoDialog">
                        <div slot="header" class="oj-helper-clearfix">
                            <label  data-bind="text: confirmMessage"></label>
                        </div>

                        <div slot="body">
                            <label data-bind="text: validationMessage"></label>
                        </div>
                        <div slot="footer">
                            <oj-button class="apBtn-2" on-oj-action='[[cancelButtonDialog]]'>
                                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                            </oj-button>
                        </div>
                    </oj-dialog>
                </div>
            </div>
        </div>
    </div>
    <div id="train-container">
        <div>
            <oj-train id="train"
                      selected-step="{{currentStepValue}}" steps="[[stepArray]]"
                      class="oj-train-stretch"
                      on-oj-before-select="[[stopSelectListener]]"/>
        </div>

        <br/>

        <h3 id="currentStepText" data-bind="text: currentStepValueText()"></h3>
        <div class="oj-form-layout">
            <oj-validation-group id="tracker" valid="{{groupValid}}">
                <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4  oj-md-labels-inline">
                    <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations messageNotiContent">


                        <div class="oj-flex-item">
                            <label for="eitName" data-bind="text: selfService "/>
                        </div>
                        <div class="oj-flex-item">

                            <oj-select-one id="select" required="[[isRequired]]" 
                                           placeholder="[[placeholder]]"
                                           value="{{manageSetupModel.selfSerivce}}"
                                           disabled="{{isDisabled}}"
                                           options="{{EitNameArr}}"
                                           >
                            </oj-select-one>
                        </div>
                        <div class="oj-flex-item">

                            <label for="notificationType" data-bind="text: notificationTypeLbl "/>
                        </div>
                        <div class="oj-flex-item">

                            <oj-select-one id="select" required="[[isRequired]]" 
                                           placeholder="[[placeholder]]"
                                           value="{{manageSetupModel.notificationTypeValue}}"
                                           disabled="{{isDisabled}}"
                                           options="{{notificationTypeOption}}"
                                           >
                            </oj-select-one>
                        </div>

                        <div class="oj-flex-item">

                            <label for="haveAttach"  show-required="true" data-bind="text: haveAttachLbl "/>
                        </div>
                        <div class="oj-flex-item">

                            <oj-select-one id="select" required="[[isRequired]]" 
                                           placeholder="[[placeholder]]"
                                           value="{{manageSetupModel.haveAtttachValue}}"
                                           disabled="{{isDisabled}}"
                                           options="{{haveAttachOption}}"
                                           on-value-changed='[[attachmentChangeListiner]]'
                                           >
                            </oj-select-one>
                        </div>
                        <oj-bind-if test="[[manageSetupModel.haveAtttachValue() === 'YES']]">
                            <div class="oj-flex-item">

                                <label for="attachSource" data-bind="text: attachSourceLbl "/>
                            </div>
                            <div class="oj-flex-item">

                                <oj-select-one id="select"  required="[[isRequired]]" 
                                               placeholder="[[placeholder]]"
                                               value="{{manageSetupModel.attachSource}}"
                                               disabled="{{attachSouceVisability}}"
                                               options="{{attachSourceOption}}"
                                               on-value-changed='[[attachmentSourceChangeListiner]]'

                                               >
                                </oj-select-one>
                            </div>

                        </oj-bind-if>

                        <oj-bind-if test="[[manageSetupModel.haveAtttachValue() === 'YES' && manageSetupModel.attachSource() == 'SaaS']]">
                            <div class="oj-flex-item">

                                <label for="reportName" data-bind="text: reportNameLbl "/>
                            </div>
                            <div class="oj-flex-item">

                                <oj-select-one id="select"  required="[[isRequired]]" 
                                               placeholder="[[placeholder]]"
                                               value="{{manageSetupModel.reportSegmentName}}"
                                               disabled="{{attachSouceVisability}}"
                                               options="{{reportOptionsArr}}"
                                               on-value-changed='[[reportSegmentChangeListiner]]'

                                               >
                                </oj-select-one>
                            </div>
                        </oj-bind-if>
                        <div class="oj-sm-12">          

                            <oj-collapsible id="collapsiblePage" data-oj-binding-provider="none">
                                <h3 id="h" slot="header"><span> <oj-bind-text value="[[help]]"></oj-bind-text> </span></h3>
                                <p style="margin-top: 30px; width: 300px; padding: 10px; border:red dashed 1px ;font-size:12px;font-family: monospace;"> 
                                    <span data-bind="text : note "> </span>
                                    <span data-bind="text : noteMsg"></p>
                            </oj-collapsible>
                        </div>
                        
                            <div class="oj-md-4 oj-sm-12" style="margin-bottom: 30px">
                                <label  data-bind="text: emailBodyLbl"/>
                            </div> 

                        <div id="disText2" class="oj-md-8 oj-sm-12" style="margin-bottom: 30px">
                            <rich-text-editor class="textArea-content" id="richText2" required disabled="{{isDisabled}}"
                                              toolbar-options=["text-sizes","bold","color","order","bullet","italic","image"] content="{{manageSetupModel.emailBody}}">                                
                            </rich-text-editor>

                        </div> <br>



                        <div class="oj-md-4 oj-sm-12" style="margin-top: 30px ">
                            <label  data-bind="text: notificationMessageLbl"/>
                        </div>
                        <div  id="disText" class="oj-md-8 oj-sm-12" style="margin-top: 30px">
                            <oj-text-area value="{{manageSetupModel.notificationMsg}}" disabled="{{messageNotificationDisabled}}"  label-hint="enabled" rows="3" required></oj-text-area>
                        </div>



                        <!--

                        <!--reject confirm-->
                        <!-- attachment -->
                        <div class="container" data-bind="visible:attachementVisibilty">
                            <div class="oj-flex-item">                            
                                <span slot='endIcon'  ><oj-bind-text value="[[attachmentLbl]]"></oj-bind-text></span>
                            </div>
                            <div class="oj-flex-item"> 
                                <div class="form_field_dy_style attachedFileRow">
                                    <div class="form-group row formFieldRow ">

                                        <oj-file-picker class="oj-filepicker-custom col-sm-4 col-form-label"   
                                                        select-on="click"
                                                        selection-mode="single" 
                                                        on-oj-select='[[attachmentSelectListener]]'
                                                        disabled="{{attachDisabled}}"
                                                        >

                                            <oj-button slot='trigger' chroming='half' disabled="{{attachDisabled}}">
                                                <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-arrowbox-n'><oj-bind-text value="[[UploadFileLbl]]"></oj-bind-text> </span>
                                            </oj-button>
                                        </oj-file-picker>



                                        <div  class="col-sm-8">
                                            <oj-list-view id="listview" aria-label="list using observable array" 
                                                          data="[[dataProviderAttachment]]" selection-mode="single" selection="{{selectedItemsAttachment}}">
                                                <template slot="itemTemplate">
                                                    <span>
                                                        <oj-bind-text value='[[$current.data.name]]'></oj-bind-text>
                                                    </span>
                                                </template>
                                            </oj-list-view>
                                            <div class="oj-flex-item attBtnRow" text-align="center">
                                                <oj-button    class="apBtn-2 apBtn-disabled-2" on-oj-action='[[removeSelectedAttachment]]' disabled="{{attachDisabledBTN}}" >
                                                    <span><oj-bind-text value="[[removeBtnLbl]]"></oj-bind-text></span>
                                                </oj-button>
                                                <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[openAttachmentViewer]]' disabled="{{attachDisabledBTN}}" >
                                                    <span><oj-bind-text value="[[viewLbl]]"></oj-bind-text></span>
                                                </oj-button>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </oj-validation-group>
        </div>
    </div>

</div>