<h1 class="header_headline_style"><span> <oj-bind-text value="[[messageNotificationLbl]]"></oj-bind-text> </span></h1>
<oj-messages messages="[[messagesDataProvider]]" display="notification" position="[[position]]" on-oj-close="[[closeMessageHandler]]"></oj-messages>

<div class="request_body_styling animated fadeInUp">
    <div id="train-container">

        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

            <div class="form-row">
                <div class="form-group col-md-6 srjob-col-pad">

                    <label for="firstName"  required="true"  data-bind="text: selfServiceLbl"/>

                    <oj-select-one  id="select" class="form-control"   
                                    placeholder="[[placeholder]]"
                                    value="{{selctedStruct}}"
                                    on-value-changed = "{{structureChangedHandler}}"
                                    options="{{EitName}}">
                    </oj-select-one>
                </div>

            </div>
        </div>
        <hr>
        <br>

        <div class="oj-form-layout">
            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
                <div id="form-container" class="row">
                    <div class="btn_row_st" align="center">
                        <oj-button class="apBtn-2"  on-oj-action='[[backAction]]' >
                            <span><oj-bind-text value="[[backActionLbl]]"></oj-bind-text></span>
                            <span slot='endIcon' class="apiconClass fa fa-arrow-circle-left"></span>
                        </oj-button>

                        <oj-button class="approval-btn apBtn-2 apBtn-disabled-2" disabled="{{addBtnDisabled}}" on-oj-action='[[addAdditionalDetails]]'>
                            <span><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
                            <span slot='endIcon' class="apiconClass fa fa-plus"  ></span>
                        </oj-button>

                        <oj-button class="apBtn-2 apBtn-disabled-2"disabled="{{editBtnDisabled}}" on-oj-action='[[updateAdditionalDetails]]'>
                            <span><oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                            <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                        </oj-button>

                        <oj-button class="apBtn-2 apBtn-disabled-2"disabled="{{delBtnDisabled}}" on-oj-action='[[deleteAdditionalDetails]]'>
                            <span><oj-bind-text value="[[deleteLbl]]"></oj-bind-text></span>
                            <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                        </oj-button>


                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div>
            <oj-table id='table' class='apTable-1' aria-label='Departments Table'
                      data='[[dataprovider]]'
                      selection-mode='{"row": "multiple", "column": "multiple"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy='loadMoreOnScroll'

                      columns='[[columnArray]]'
                      display = "grid"
                      on-oj-before-current-row="[[tableSelectionListener]]">
            </oj-table>
        </div>
    </div>
</div>

<div id="dialogWrapper">
    <oj-dialog class = "oj-dialog-content oj-dialog-default-content" id="modalDialog1">
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[closeDialog]]'>
                <span><oj-bind-text value="[[ok]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
</div>

<div id="dialogWrapper">
    <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label  data-bind="text: confirmMessage"></label>
        </div>

        <div slot="body">
            <label data-bind="text: oprationMessage"></label>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[commitRecord]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
</div>

<div id="dialogWrapper">
    <oj-dialog class="main-dialog main-dialog-width" id="editDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label  data-bind="text: confirmMessage"></label>
        </div>

        <div slot="body">
            <label data-bind="text: oprationEditMessage"></label>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[commitEditRecord]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
</div>



<div id="dialogWrapper">
    <oj-dialog class="main-dialog main-dialog-width" id="deleteDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label  data-bind="text: confirmMessage"></label>
        </div>

        <div slot="body">
            <label data-bind="text: oprationDeleteMessage"></label>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[commitRecord]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
</div>
