<div class="inovice">

    <div class="row">
        <!-- <b>{{'-----:'+invoice.remingSlaPercent}}</b> -->

        <div class="col-lg-12 col-md-12 col-sm-12 col-12 " *ngIf="invoice.ACTION">
            <span class="action">
                {{invoice.ACTION | translation}}</span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 "
            *ngIf="invoice.Priority && type != 'backlog' && type != 'completed'">
            <span class="priority"
                [ngStyle]="{'background-color':invoice.Priority ==  'High' ? '#712C81':(invoice.Priority == 'Medium' ? '#DA3F7B' : '#EFAC2A')}">
                {{invoice.Priority | translation}}</span>
        </div>

        <div class=" col-sm-12 col-12 order-1 order-sm-1 order-lg-2 order-md-2 text-end"
            [ngClass]="(type == 'backlog' || type == 'completed') && !invoice.ACTION ? 'col-md-12': 'col-md-12'"
            *ngIf="invoice?.UrgentFlag == 'U' && type != 'completed'">
            <img src="{{common.getAssetsPath()}}img/alarm.png">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <!-- <h6 class="batchName">
                {{'batchName' | translation }}
                <span>{{invoice.BatchName}}</span>
            </h6> -->
        </div>
    </div>
    <div class="row">
        <div class="  col-12" [ngClass]="theme=='one'?'col-sm-8':theme=='two'?'col-lg-7 col-md-12':'col-md-12'">
            <h6 class="invoiceNo mt10">
                {{'invoiceType' | translation }} :
                <span>{{invoice.InvoiceType}} </span>
            </h6>
            <h6 class="invoiceDate">
                {{'batchName' | translation }}
                <span>{{invoice.BatchName}}</span>
            </h6>
            <h6 class="invoiceDate">{{'invoiceDate' | translation }} :
                <span>{{invoice.InvoiceDate|date}} </span></h6>
            <h6 class="invoiceNo">{{'invoiceNo' | translation }} :
                <span>{{invoice.InvoiceName}}</span></h6>
            <h6 class="invoiceDate">{{invoice.vendorDesc}}</h6>
            <!--  -->
            <h6 *ngIf="invoice?.UrgentFlag != 'N' && type != 'completed'" class="urgentMeaning">
                {{invoice.UrgentFlagMeaning}}</h6>


        </div>

        <div [ngClass]="theme=='one'?'col-sm-4':theme=='two'?'col-lg-5 col-md-12':'col-md-12' " class="col-12">

            <h6 class="amount"> {{'amount' | translation}}</h6>
            <h6 class="currency">
                {{common.numberWithCommas(invoice.Amount) +' '+invoice.Currency}}
            </h6>

            <ng-container *ngIf="type != 'myauditor'">
                <h6 class="amount"> {{'due' | translation }}</h6>

                <h6 class="days">{{'in' | translation}}
                    {{invoice.remainingDays}}
                    {{'days_label' | translation}} </h6>
            </ng-container>

            <h6 *ngIf="type == 'myauditor'" class="days">{{'in' | translation}}
                {{invoice.SLA_DAY_REMAIN}}
                {{'days_label' | translation}} </h6>

            <div class="" *ngIf="(common.getUserType() =='AUDITOR' || common.getUserType() =='TAXAUDITOR' || common.getUserType() =='SUPERVISOR') && (type != 'completed')">
                <h6 class="amount">
                    {{'slaRemainingDays' | translation }} </h6>
                <h6 class="days">
                    {{invoice.SlaRemainingDays}} {{'days_label' | translation }}
                </h6>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 text-end">
            <h6 class="view text-end" (click)="openLg(content)">
                {{ 'viewMore' | translation }}
            </h6>
        </div>
    </div>
</div>

<!-- view more template -->
<ng-template #content let-modal let-d="dismiss">
    <div class="modal-header ">
        <h4 class="modal-title text-start">{{ 'invoiceDetails_labels' | translation }}</h4>
        <button type="button" class="close text-end" aria-label="Close"
            (click)="loadBtn=false;modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body text-start">
        <app-invoice-body [invoiceData]="invoice" [invoiceType]="type"></app-invoice-body>

        <div class="form-group text-start"
            *ngIf="type=='backlog' && common.getUserType() != 'SUPERVISOR' && common.getUserType() != 'TAXSUPERVISOR'">
            <label for="comment">{{'comment' | translation }}:</label>
            <textarea class="form-control" rows="3" style="resize: none" [(ngModel)]="comment" name="comment"
                id="comment"></textarea>
        </div>
    </div>

    <div class="modal-footer">

        <button *ngIf="type == 'pending'" (click)="openLg(assign,'assign');clikedBtn='assi'" [disabled]="loadBtn">
            <span>
                <i [ngClass]="loadBtn && clikedBtn=='assi'? 'spinner-border spinner-border-sm' : 'fa fa-check-circle'"
                    role="status" aria-hidden="true"></i>
                {{(loadBtn && clikedBtn=='assi'? 'Loading' : 'assign_label') | translation }}
            </span>
        </button>

        <button *ngIf="type == 'assigned'" (click)="openLg(assign,'reassign');clikedBtn='reassi'" [disabled]="loadBtn">
            <span>
                <i [ngClass]="loadBtn && clikedBtn=='reassi'? 'spinner-border spinner-border-sm' : 'fa fa-check-circle'"
                    role="status" aria-hidden="true"></i>
                {{(loadBtn && clikedBtn=='reassi'? 'Loading' : 'reassign_label') | translation }}
            </span>
        </button>

        <button *ngIf="type=='backlog' || type ==='completed' || type == 'assigned'"
            (click)="getHistory(history);clikedBtn='hist'" [disabled]="loadBtn">
            <span>
                <i [ngClass]="loadBtn && clikedBtn=='hist'? 'spinner-border spinner-border-sm' : 'fa fa-check-circle'"
                    role="status" aria-hidden="true"></i>
                {{(loadBtn && clikedBtn=='hist'? 'Loading' : 'approvalHistoryLbl') | translation }}
            </span>
        </button>


        <button *ngIf="type=='backlog'" class="approvedBtn" (click)="sendAction('APPROVE',comment);clikedBtn='appro'"
            [disabled]="loadBtn">
            <span>
                <i [ngClass]="loadBtn && clikedBtn=='appro'? 'spinner-border spinner-border-sm' : 'fa fa-check-circle'"
                    role="status" aria-hidden="true"></i>
                {{(loadBtn && clikedBtn=='appro'? 'Loading' : 'approve') | translation }}
            </span>
        </button>

        <button *ngIf="type=='backlog' && common.getUserType() =='AUDITOR'"
            (click)="openRejectPopup(reject,'REJECT');clikedBtn='rej'" [disabled]="loadBtn">
            <span>
                <i [ngClass]="loadBtn && clikedBtn=='rej'? 'spinner-border spinner-border-sm' : 'fa fa-times-circle'"
                    role="status" aria-hidden="true"></i>
                {{(loadBtn && clikedBtn=='rej'? 'Loading' : 'reject') | translation }}
            </span>
        </button>

        <button
            *ngIf=" type=='backlog' && (common.getUserType() =='TAXSUPERVISOR' || common.getUserType() =='TAXAUDITOR' || common.getUserType() =='SUPERVISOR')"
            (click)="openRejectPopup(reject,common.getUserType() == 'SUPERVISOR'?'SEND_TO_AUDITOR':'SEND_BACK');clikedBtn='sendback'"
            [disabled]="loadBtn">
            <span>
                <i [ngClass]="loadBtn && clikedBtn=='sendback'? 'spinner-border spinner-border-sm' : 'fa fa-check-circle'"
                    role="status" aria-hidden="true"></i>
                {{(loadBtn && clikedBtn=='sendback'? 'Loading' : (common.getUserType() =='SUPERVISOR' ? 'send_to_auditor':'Send-Back')) | translation }}
            </span>
        </button>

        <button *ngIf=" type=='backlog' && common.getUserType() =='TAXSUPERVISOR'"
            (click)="openRejectPopup(reject,'CANCEL');clikedBtn='cancel'" [disabled]="loadBtn">
            <span>
                <i [ngClass]="loadBtn && clikedBtn=='cancel'? 'spinner-border spinner-border-sm' : 'fa fa-times-circle'"
                    role="status" aria-hidden="true"></i>
                {{(loadBtn && clikedBtn=='cancel'? 'Loading' : 'cancel') | translation }}
            </span>
        </button>

    </div>

</ng-template>

<ng-template #history let-modal let-d="dismiss">
    <div class="modal-header">
        <h4 class="title">{{'approvalHistoryDetails' | translation }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body text-start">
        <h4 class="modal-title">{{'invoiceDetails_labels' | translation }}</h4>


        <h6 class="historyLbl">{{'invoiceNo' | translation }} : <span class="batchName">{{invoice.InvoiceName}}</span>
        </h6>
        <h6 class="historyLbl">{{'invoiceDate' | translation }} : <span
                class="batchName">{{invoice.InvoiceDate | date}}</span> </h6>



        <h6 class="historyLbl">{{'vendorNo' | translation }} : <span class="batchName">{{invoice.VENDOR_NUM}}</span>
        </h6>

        <h6 class="historyLbl">{{'vendorName' | translation }} : <span class="batchName">{{invoice.VendorName}}</span>
        </h6>


        <hr>

        <div class="approvalDetails">
            <div *ngFor="let historyData of historyArr">
                <div class="row approveDiv"
                    [style.border-left-color]="historyData.ACTION_CODE=='Rejected' || historyData.ACTION_CODE == 'REJECTED'?'red':( historyData.ACTION_CODE=='APPROVED' || historyData.ACTION_CODE == 'Approved' ? 'green': '#712c81') ">
                    <div class="col-lg-2 col-md-3 col-sm-12 con-image">
                        <img src="{{common.getUserImageById(historyData.PERSON_ID)}}">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 my-auto userInfo text-start">
                        <h6 class="name">{{'Employee' | translation }} : <span
                                class="batchName">{{historyData.PERSON_NAME}}
                            </span> </h6>
                        <h6 class="emp">{{ historyData.PERSON_TYPE}}</h6>
                        <h6 class="actionStatus">{{'actionStatus' | translation }} : <span
                                class="batchName">{{historyData.ACTION_MEANING | translation}}</span></h6>
                        <h6 class="actionStatus">{{'action_date' | translation }} : <span
                                class="batchName">{{historyData.ACTION_DATE | translation}}</span></h6>
                        <h6 class="actionStatus">{{'comment' | translation }}</h6>
                        <p class="batchName" *ngFor="let comm of historyData.COMMENTS;index as i">{{comm}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-template>

<ng-template #reject let-modal let-d="dismiss">
    <div class="modal-header">

        <h4 class="modal-title">
            {{'rejectionDetails' | translation }}<br>
            <span class="reasons">{{'chooseReason' | translation }}</span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <ng-container>
        <form #myForm="ngForm">
            <div class="modal-body rejectBody text-start">
                <div class="reasons">
                    <div class=" reasonsBody">
                        <div *ngFor="let reasone of MeanReasons" class="meanReason col-lg-12 col-md-12 "
                            [ngClass]="{'disabled':OtherCheckBox}">
                            <ng-container *ngIf="reasone.HEADER_CODE != 'OTHERS'">
                                <div>
                                    <h6 class="headReasoneTit">- {{reasone.HEAD_DESC}}</h6>
                                </div>
                                <ul [dir]="trans.direction()">
                                    <ng-container *ngFor="let sub of reasone.details">
                                        <li>
                                            <mat-checkbox [checked]="sub.checked" [disabled]="OtherCheckBox == true"
                                                (change)="sub.checked = ($event.checked)">
                                                <span>{{sub.DETAIL_DESC}}</span>
                                            </mat-checkbox>
                                        </li>
                                    </ng-container>
                                </ul>
                            </ng-container>
                        </div>
                        <ng-container>
                            <div class=" noPadding">
                                <h6 class="headReasoneTit">- {{'others' | translation}}</h6>
                            </div>
                            <ul [dir]="trans.direction()">
                                <ng-container>
                                    <li>
                                        <mat-checkbox [checked]="OtherCheckBox"
                                            (change)="OtherCheckBox = !OtherCheckBox">
                                            <span>{{'otherReason' | translation}}</span>
                                        </mat-checkbox>
                                    </li>
                                </ng-container>
                            </ul>
                            <form *ngIf="OtherCheckBox == true" class="textAreaStyle">
                                <textarea [(ngModel)]="OthersReasons" name="OthersReasons"
                                    placeholder="{{'leave_your_reason' | translation}}" rows="5"
                                    onfocus="this.placeholder='' "
                                    (blur)="$event.srcElement.placeholder = trans.trans('leave_your_reason')"></textarea>
                            </form>
                        </ng-container>

                    </div>
                </div>
            </div>

            <div class="text-center modal-footer">

                <button type="submit" class="sendButton" [disabled]="is_request_sending"
                    (click)="rejectAction(modalData.type)">
                    {{(is_request_sending ? 'Loading':'send' )| translation}}
                </button>

            </div>
        </form>
    </ng-container>


</ng-template>


<ng-template #assign let-modal let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title text-start">{{ (modalData.type + '_label') | translation }}</h4>
        <button type="button" class="close text-end" aria-label="Close" (click)="modal.dismiss('Cross click');">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #myForm="ngForm">
        <div class="modal-body text-start">
            <label>{{'selectanEmployee' | translation }} </label><br>

            <select class="templateSelect" id="Names" [(ngModel)]="assignName" required name="assignName">
                <option value=" "> </option>
                <option *ngFor="let option of allEmployeesName" [id]="option.PERSON_ID" [ngValue]="option.PERSON_NAME">
                    {{option.PERSON_NAME}}</option>
            </select>


            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="switch1"
                    (change)="urgent = $event.srcElement.checked ? 'U' : 'N' " [checked]="invoice.UrgentFlag =='U'">
                <label class="custom-control-label" for="switch1">{{'setInvoiceUrgent' | translation}}</label>
            </div>

        </div>
        <div class="modal-footer text-center">

            <button type="submit" [disabled]="myForm.invalid  || is_request_sending"
                (click)="invoiceAction(modalData.type == 'assign'?'ASSIGN':'REASSIGN')">
                <span>
                    <i [ngClass]="is_request_sending ? 'spinner-border spinner-border-sm' : 'fa fa-user-plus'"
                        role="status" aria-hidden="true"></i>
                    {{(is_request_sending ? 'Loading' : modalData.type + '_label') | translation }}
                </span>
            </button>

        </div>
    </form>

</ng-template>