.inovice {
    background-color: white;
    min-height: 50px;
    margin-top: 20px;
    padding: 20px 15px 20px 15px;
}

.inovice .priority {
    border-radius: 15px;
    padding: 8px 20px;
    color: white;
    text-transform: capitalize;
}

.inovice h6 {
    /* margin-bottom: 10px ; */
}

.inovice .batchName {
    color: #999;
    font-size: 13px;
}

.inovice .batchName span {
    color: #000;
    font-size: 12px;
}

.inovice .invoiceDate {
    color: #999;
    font-size: 14px;
    font-weight: bold;
}

.inovice .invoiceDate span {
    color: #000;
}

.inovice .invoiceNo {
    font-weight: bold;
    color: #999;
    font-size: 14px;
    line-height: 20px;
}

.inovice .invoiceNo span {
    color: #000;
    font-size: 14px;
    line-height: 20px;
}

.inovice .amount {
    color: #999;
    font-size: 14px;
    padding-top: 5px;
    font-weight: bold;
    /* margin-top: 20px ; */
}

.inovice .days {
    color: green;
    font-weight: bold;
    font-size: 13px;
}

.inovice .view {
    color: #712c81;
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.action {
    border-radius: 15px;
    padding: 8px 20px;
    color: white;
    text-transform: capitalize;
    background-color: #712c81;
}

.prioritySty {
    margin-bottom: 20px;
    padding: 0px;
}

.modal-body {
    padding: 20px 30px 0px;
}

.modal-body .priority {
    border-radius: 15px;
    padding: 8px 20px;
    color: white;
    text-transform: capitalize;
}

.modal-body .date {
    color: #999;
    margin-top: 20px;
    font-size: 13px;
    font-weight: bold;
}

.modal-body .invoiceNo {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
}

.modal-body .invoiceNo span {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
}

.modal-body .type {
    color: #999;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: bold;
}

.modal-body .title {
    color: #999;
    font-weight: bold
}

.modal-body h6 span:first-child {
    color: black;
    font-weight: bold;
    margin-right: 5px;
}

.modal-body h6 span:last-child {
    color: #999;
    font-size: 13px;
    font-weight: bold;
}

.modal-body .batchData {
    font-weight: bold;
}

.modal-body h6 .batchName {
    color: #712c81 !important;
    font-weight: bold !important;
    margin-right: 5px !important;
    font-size: 16px !important;
}

.modal-body .containData {
    margin-bottom: 10px;
}

.modal-body .vendorData {
    margin-top: 10px;
}

.modal-body label {
    color: #712c81;
    font-weight: bold;
    font-size: 13px;
}

.modal-body input {
    margin-bottom: 20px;
}

.custom-control-label {
    color: gray !important;
    font-size: 13px;
}

.modal-footer {
    border-top: none !important;
    padding: 20px 30px;
}

.modal-footer button {
    margin: 0 auto;
    background-color: #712c81;
    color: white;
    border: none;
    box-shadow: none;
    padding: 10px 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 12px;
}

.approvedANDrejected button {
    margin-bottom: 15px !important;
}

.approvedANDrejected .approvedBtn {
    background-color: #712c81;
    border: #712c81;
    padding: 8px 10px;
    color: #FFF;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 13px;
    margin: 0px 10px;
}

.approvedBtn:hover {
    background-color: #712c81;
    border: #712c81;
}

.approvedANDrejected .rejectBtn {
    background-color: #712c81;
    border: #712c81;
    padding: 8px 10px;
    color: #FFF;
    border-radius: 5px;
    font-size: 13px;
    margin: 0px 10px;
}

.approvedANDrejected .rejectBtn:hover {
    background-color: #712c81;
    border: #712c81;
}

/* button[disabled] {
    opacity: 0.8;
    color: #fff;
    background-color: #712c81;
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    padding: 10px;
    width: 91px;
    height: 40px;
    margin-bottom: 25px;
    border: none;
} */

.sendButton, .approvalHistoryBtn, .sendBackBtn {
    border: #712c81;
    padding: 8px 10px;
    color: #FFF;
    border-radius: 5px;
    font-size: 13px;
    margin: 0px 10px;
    background-color: #712c81;
}

.approvalHistoryBtn:hover, .sendBackBtn:hover {
    background-color: #712c81;
    border: #712c81;
}

.modal-header {
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.modal-title {
    margin-bottom: 11px;
    line-height: 1.5;
    /* margin-left: 15px; */
}

.historyLbl {
    font-size: 16px;
}

.modal-body h6 .batchName {
    color: #712c81 !important;
    font-weight: bold !important;
    margin-right: 5px !important;
    font-size: 16px !important;
}

.modal-body .batchName span {
    color: #000 !important;
}

.approveDiv {
    margin-top: 30px;
    background-color: #FFF;
    padding: 15px;
    border-radius: 10px;
    border-left-style: solid;
    border-left-width: 16px;
    /* border-left-color: #439775; */
    box-shadow: 0 2px 20px 0px #e0e0e0;
}

.name {
    padding-left: 0px;
}

.con-image {
    position: relative;
    width: 100%;
    height: 85px;
    padding-top: 50px;
}

.con-image img {
    position: absolute;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50px;
}

.close {
    margin: initial !important;
}

.rejectBody {
    height: 400px;
    overflow-y: scroll;
}

.reasonsBody {
    margin-bottom: 15px;
    padding: 0px 20px;
}

.reasonsBody ul {
    list-style: none;
}

.modal-header .reasons {
    color: #712c81;
    font-weight: bold;
    font-size: 18px;
}

.MeanReason {
    border: 1px solid #712c81;
    padding: 4px 15px 3px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    font-size: 12px;
    outline: none;
    box-shadow: none;
}

.templateSelect {
    padding-bottom: 10px;
    cursor: pointer;
}

.custom-control-label {
    color: gray !important;
    font-size: 13px;
}

.urgentMeaning {
    color: red;
    font-size: 12px;
}