<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2 data-bind="text : errorMessage"></h2>

<div data-bind="visible : myPageVisibilty">

    <h2 id="myPageTitle"></h2>

    <div class="btnHedaerRow">
        <oj-messages messages="[[messagesDataProvider]]" display="notification" position="[[position]]" on-oj-close="[[closeMessageHandler]]"></oj-messages>
        <div class="oj-flex btnStyleTaskDetails">
            <div class="oj-flex-item btnStyle">
                <oj-bind-if test='[[isShown]]'>
                    <oj-menu-button id="menuButton2" class="acBtn" data-bind="visible : actionBtnVisiblty">
                        Actions
                        <oj-menu id="myMenu2" slot="menu" style="display:none" on-oj-action="[[menuItemActionOne]]" on-value-changed="[[optionClick]]">
                            <!--ko foreach: codeOP-->
                            <oj-option data-bind="value:value"> 
                                <span data-bind="text:label"></span>
                                <span slot="startIcon"></span>
                            </oj-option>
                            <!--/ko -->
                        </oj-menu>
                    </oj-menu-button>

                    <oj-button class="" on-oj-action='[[submitButton]]' data-bind="visible : approveBtnVisiblty">
                        <span><oj-bind-text value="[[approve]]"></oj-bind-text></span>
                    </oj-button>

                    <oj-button class="" on-oj-action='[[rejectButton]]' data-bind="visible : rejectBtnVisiblty">
                        <span><oj-bind-text value="[[reject]]"></oj-bind-text></span>
                    </oj-button>
                    <oj-button class="" on-oj-action='[[dismissBtn]]' data-bind="visible : dismissBtnVisiblty">
                        <span><oj-bind-text value="[[dismiss]]"></oj-bind-text></span>
                    </oj-button>
                    <oj-button class="" on-oj-action='[[resumeBTN]]' data-bind="visible : resumeBtnVisiblty">
                        <span><oj-bind-text value="[[resume]]"></oj-bind-text></span>
                    </oj-button>
                </oj-bind-if>
            </div>
        </div>
    </div>

    <oj-dialog class="myPop2" id="yesNoDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: confirmMessage " />
        </div>
        <div slot="body">
            <label data-bind="text: approveMessage " />
        </div>
        <div>
            <oj-label style="display: inline-block" class="oj-label">* Comment</oj-label>
            <oj-validation-group id="tracker" valid="{{groupValidForCommentInApprove}}">
                <oj-text-area required style="display: inline-block" id="myTxtCommentForApprove" value="{{addCommentsTxtForApprove}}"></oj-text-area>
            </oj-validation-group>
        </div>
        <div>
            <oj-label style="display: inline-block" class="oj-label">* Add Attachment</oj-label>
            <oj-button on-oj-action='[[addAttchamentForApprove]]'>
                <img slot="endIcon"
                     src="css/images/addAttchamentIcon.ico"
                     width="16" height="16"/>
            </oj-button>
        </div>
        <hr>
        <oj-dialog class="myPop2" id="addAttachModalDialogForApprove" style="display:none; position: absolute;" dialog-title="Modal Dialog" on-oj-close ="[[cancelBehaviorForApprove]]">
            <div slot="header" class="oj-helper-clearfix" aria-labelledby="dialog-title-id">
                <div>
                    <span id="infoIcon" class="oj-fwk-icon oj-fwk-icon-status-info" style="float:left; margin-right: 10px;"></span>
                    <span id="dialog-title-id" class="oj-dialog-title">Add Attachment</span>
                </div>
            </div>
            <div slot="body">
                <div class="oj-md-odd-cols-4">
                    <h1>Add Attachment</h1>
                </div>
            </div>

            <div>
                <oj-radioset id="AttachTypeRadioSetForApprove" aria-label=""
                             value="{{AttachTypeRadioSetForApprove}}" >
                    <oj-option  id="url001" value="urlForApprove" default>
                        <span style="display: inline-block">URL</span>
                    </oj-option>
                    <oj-option id="desktop001" value="desktopForApprove">
                        <span style="display: inline-block">Desktop</span>
                    </oj-option>
                </oj-radioset>
            </div>

            <div data-bind="visible: AttachTypeRadioSetForApprove() == 'urlForApprove'">
                <oj-validation-group id="secondTrackerForApprove" valid="{{secondGroupValidForApprove}}">
                    <oj-label style="display: inline-block" class="oj-label">* Name</oj-label>
                    <oj-input-text placeholder="[[attachNameUrlPlaceholder]]" required style="display: inline-block" id="attachNameUrlForApprove" value="{{attachNameUrlForApprove}}" on-valu-changed="[[attachNameUrlChangeForApprove]]"></oj-input-text>
                    <oj-label style="display: inline-block" class="oj-label">* URL</oj-label>
                    <oj-input-text placeholder="[[attachUrlUrlPlaceholder]]" required validators='[{"type": "regExp",
                                   "options": {
                                   "pattern": "(ftp|http|https|sftp):\/\/.*", 
                                   "hint": "Enter a valid URL.",
                                   "messageDetail": "Invalid URL format. URL must begin with [http|https|ftp|sftp]. e.g http://example.com"}}]'style="display: inline-block" id="attachUrlUrlForApprove" value="{{attachUrlUrlForApprove}}" on-valu-changed="[[attachUrlUrlChangeForApprove]]"></oj-input-text>
                </oj-validation-group>
                <div>
                    <oj-button class="apBtn-2 approveBtn" on-oj-action='[[UrlAttachOkBTNForApprove]]'>
                        <span>Ok</span>
                    </oj-button>
                    <oj-button class="apBtn-2 rejectBtn" on-oj-action='[[UrlAttachCancelBTNForApprove]]'>
                        <span>Cancel</span>
                    </oj-button>
                </div>
            </div>
            <div data-bind="visible: AttachTypeRadioSetForApprove() == 'desktopForApprove'">
                <div class="oj-flex-item">
                    <label data-bind="text: ''"/>
                </div>
                <div class="oj-flex-item">
                    <oj-file-picker required id="filePickerForApp" class="oj-filepicker-custom" required
                                    select-on="click"
                                    selection-mode="single"
                                    on-oj-select='[[attachmentSelectListenerForApp]]'>
                        <oj-button slot='trigger' chroming='half'>
                            <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-arrowbox-n'><oj-bind-text value="Upload file"></span>
                        </oj-button>
                    </oj-file-picker>
                    <!--                    <oj-button class="apBtn-2" on-oj-action='[[removeSelectedAttachmentForApp]]'>
                                            <span><oj-bind-text value="[[removeBtnLbl]]"></oj-bind-text></span>
                                        </oj-button>-->
                </div>
                <div class="oj-flex-item" >
                    <label data-bind="text: 'files'"/>
                </div>
                <div class="oj-flex-item">
                    <div style="padding-top:5px"></div>
                    <oj-list-view id="listview" aria-label="list using observable array"
                                  data="[[dataProviderAttachmentForApp]]" selection-mode="multiple" selection="{{selectedItemsAttachmentForApp}}">
                        <template slot="itemTemplate">
                            <span>
                                <oj-bind-text value='[[$current.data.name]]'></oj-bind-text>
                            </span>
                        </template>
                    </oj-list-view>
                </div>
                <div>
                    <oj-button class="apBtn-2 approveBtn" on-oj-action='[[AttachOkBTNForApp]]'>
                        <span>Ok</span>
                    </oj-button>
                    <oj-button class="apBtn-2 rejectBtn" on-oj-action='[[AttachCancelBTNForApp]]'>
                        <span>Cancel</span>
                    </oj-button>
                </div>
            </div>

        </oj-dialog>
        <div slot="footer">
            <oj-button disabled="{{disableSubmit}}" class="apBtn-2 approveBtn" on-oj-action='[[approveRequst]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button disabled="{{disableSubmit}}" class="apBtn-2 rejectBtn" on-oj-action='[[cancelButton]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
    <oj-dialog class="myPop2"  id="rejectDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: confirmMessage " />
        </div>
        <div slot="body">
            <label data-bind="text: rejectMessage" />
            <div>
                <oj-label style="display: inline-block" class="oj-label">* Comment</oj-label>
                <oj-validation-group id="tracker" valid="{{groupValid}}">
                    <oj-text-area required style="display: inline-block" id="myTxtComment" value="{{addCommentsTxt}}"></oj-text-area>
                </oj-validation-group>
            </div>
            <div>
                <oj-label style="display: inline-block" class="oj-label">* Add Attachment</oj-label>
                <oj-button on-oj-action='[[addAttchamentForApprove]]'>
                    <img slot="endIcon"
                         src="css/images/addAttchamentIcon.ico"
                         width="16" height="16"/>
                </oj-button>
            </div>
            <hr/>
        </div>
        <div slot="footer">

            <oj-button disabled="{{disableSubmit}}" class="apBtn-2 approveBtn" on-oj-action='[[rejectRewaardRequst]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button disabled="{{disableSubmit}}" class="apBtn-2 rejectBtn" on-oj-action='[[rejectCancelButton]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>

    <div id="dynamicPayload" class="dYTStyle">

    </div>

    <div class="sec-content">

        <div id="myPattern">


        </div>


    </div>

    <oj-dialog class="myPop2" id="suspendYesNoDialog">
        <div slot="header" class="oj-helper-clearfix">
            <h1>Suspend </h1>
        </div>
        <div slot="body">
            <h3>Are You Sure To suspend?</h3>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[suspendYES]]'>
                <span>
                    <h5>Yes</h5>
                </span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[suspendNO]]'>
                <span>
                    <h5>No</h5>
                </span>
            </oj-button>
        </div>
    </oj-dialog>
    <oj-dialog class="myPop2" id="withdrawYesNoDialog">
        <div slot="header" class="oj-helper-clearfix">
            <h1>Withdraw </h1>
        </div>
        <div slot="body">
            <h3>Are You Sure To withdraw?</h3>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[withdrawYES]]'>
                <span>
                    <h5>Yes</h5>
                </span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[withdrawNO]]'>
                <span>
                    <h5>No</h5>
                </span>
            </oj-button>
        </div>
    </oj-dialog>
    <oj-dialog class="myPop2" id="escalateYesNoDialog">
        <div slot="header" class="oj-helper-clearfix">
            <h1>Escalate </h1>
        </div>
        <div slot="body">
            <h3>Are You Sure To Escalate this Task ?</h3>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[escalateYES]]'>
                <span>
                    <h5>Yes</h5>
                </span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[escalateNO]]'>
                <span>
                    <h5>No</h5>
                </span>
            </oj-button>
        </div>
    </oj-dialog>

    <!----------------------------------------REASSIGN-------------------------------------------------------->
    <oj-popup id="ReassignSearchTaskPopup" style="display:none; width:800px;" class="m-popup" on-oj-close="[[closeReqSearch]]">
        <oj-defer>
            <h2><b>Identity Browser</b></h2>
            <div>
                <div>
                    <oj-checkboxset id="reassignCheckbox" value="{{reassignCheckbox}}" >
                        <oj-option id="reassignAdvanced" value="reassignAdvanced">Advanced</oj-option>
                    </oj-checkboxset>
                    <div>
                        <oj-select-one id="basicSelect"  on-value-changed="[[valueChangedHandler]]"style="display: inline-block;" value="{{value}}" style="max-width:20em">
                            <oj-option  disabled="true" >All</oj-option>
                            <oj-option value="user">user</oj-option>
                            <oj-option disabled="true">group</oj-option>
                            <oj-option  disabled="true" >Application Role</oj-option>

                        </oj-select-one>
                    </div>
                </div>
                <div >
                    <oj-label style="display: inline-block" class="oj-label">**First Name</oj-label>
                    <oj-input-text style="display: inline-block" id="txtComments" value="{{firstName}}"></oj-input-text>
                    <oj-label style="display: inline-block" class="oj-label">**Last Name</oj-label>
                    <oj-input-text style="display: inline-block" id="txtComments" value="{{lastName}}"></oj-input-text>
                    <oj-label style="display: inline-block" class="oj-label">**Email</oj-label>
                    <oj-input-text style="display: inline-block" id="txtComments" value="{{email}}"></oj-input-text>
                    <oj-label style="display: inline-block" class="oj-label">**ID</oj-label>
                    <oj-input-text style="display: inline-block" id="txtComments" value="{{id}}"></oj-input-text>

                </div>
                <oj-button class="searchbutton" on-click="[[reassignSearch]]">
                    Search
                </oj-button>
                <oj-button on-click="[[reassignReset]]">
                    Reset
                </oj-button>
            </div>
            <div>

                <div >
                    <oj-table id="reassigntable"
                              style =" height: 250px"
                              on-oj-before-current-row = "[[searchTableSelectionListener]]"
                              data='[[searchDataprovider]]'
                              display='grid'
                              selection-mode='{"row": "multiple", "column": "multiple"}' 
                              columns=[[searchColumnArray]]
                              style='width: 100%; height: 200px;'>




                        <!--                            <template slot="Template" data-oj-as="cell">
                                                        <oj-radioset value='[[cell.row.selected()? "val-"+cell.index:""]]' on-value-changed="[[Changed]]" id="radiosetBasicDemo" labelled-by="mainlabelid"  >
                                                            <oj-option :id="{{'rs2'+cell.index}}" value='{{"val-"+cell.index}}'></oj-option>                                
                                                        </oj-radioset>
                                                    </template>-->

                    </oj-table>    
                    <br><br>
                    <label for="curr-selection">Current Selection:&nbsp;</label>
                    <br>
                    <oj-text-area id="selectionCurrent" value="[[myTextArea]]" style="height: 80px; width: 300px;"></oj-text-area>


                </div> 

            </div>
            <div slot="footer">
                <oj-button style="display: inline-block;" id='saveBTN' on-oj-action='[[reassignModalDialogClose]]'>close</oj-button>
            </div>
        </oj-defer>
    </oj-popup>
    <!-- **************************************CONTINUE REASSIGN*************************************************** -->
    <oj-dialog id="ReassignTaskPopup" class="myPop2 reassignDialog"  style="display:none;"on-oj-close="[[ReassignPopUpClose]]">
        <oj-defer>
            <h2 style="padding: 20px"><b>Reassign Task</b></h2>
            <div style="padding: 20px">
                <p>Reassign Tasks to one or more users.</p>
                <p>This will Transfer ownership of the task and remove it from your worklist.</p>
                <div>
                    <div style="display: inline-block;">
                        <oj-radioset  on-value-changed="[[valueChanged]]"id="reassignTaskRadioSet" 
                                      value="{{reassignTaskRadioSet}}" >

                            <oj-option  id="Participant" value="ReassignValue">
                                <span style="display: inline-block">Reassign (transfer task to another user or group)</span>
                            </oj-option>
                            <oj-option id="OtherUsers" value="DelegateValue">
                                <span style="display: inline-block">Delegate (allow specified user to act on my behalf)</span>
                            </oj-option>
                        </oj-radioset>
                    </div>
                </div>

                <div>
                    <oj-checkboxset id="reassignCheckbox" value="{{reassignCheckbox}}" >
                        <oj-option id="reassignAdvanced" value="reassignAdvanced">Advanced</oj-option>
                    </oj-checkboxset>
                    <div>
                        <div id="container">
                            <oj-select-one id="basicSelect"  on-value-changed="[[reassignSelectValueChange]]"style="display: inline-block;" value="{{reassignSelectValue}}" style="max-width:20em">
                                <oj-option  disabled >All</oj-option>
                                <oj-option value="user">user</oj-option>
                                <oj-option data-bind="visible : reassignTaskRadioSet()=='ReassignValue'" value="group">group</oj-option>
                                <oj-option  disabled >Application Role</oj-option>
                            </oj-select-one>
                        </div>

                        <div data-bind="visible: reassignSelectValue() =='group'">
                            <oj-input-text style="display: inline-block" id="groupID" value="{{groupID}}"></oj-input-text>
                        </div>
                    </div>
                    <div data-bind="visible: reassignSelectValue() =='user'">
                        <oj-label style="display: inline-block" class="oj-label">First Name</oj-label>
                        <oj-input-text style="display: inline-block" id="txtComments" value="{{firstName}}"></oj-input-text>
                        <oj-label style="display: inline-block" class="oj-label">Last Name</oj-label>
                        <oj-input-text style="display: inline-block" id="txtComments" value="{{lastName}}"></oj-input-text>
                        <oj-label style="display: inline-block" class="oj-label">Email</oj-label>
                        <oj-input-text style="display: inline-block" id="txtComments" value="{{email}}"></oj-input-text>
                        <oj-label style="display: inline-block" class="oj-label">ID</oj-label>
                        <oj-input-text style="display: inline-block" id="txtComments" value="{{id}}"></oj-input-text>
                        <oj-button class="searchbutton" on-click="[[reassignSearch]]">
                            Search
                        </oj-button>
                    </div>
                    <div data-bind="visible: reassignSelectValue() =='group'">
                        <oj-button class="searchbutton" on-click="[[reassignSearchforGR]]">
                            Search Group
                        </oj-button>
                    </div>
                    <oj-button on-click="[[reassignReset]]">
                        Reset
                    </oj-button>
                </div>
                <div>
                    <!--*********************Reassign*******************-->
                    <div>
                        <div data-bind="visible: reassignSelectValue() =='group'">
                            <oj-table id="reassigntable" aria-label="Departments Table"
                                      on-oj-before-current-row = "[[reassignTableSelectionListener]]"
                                      data='[[groupreassignDataprovider]]' 
                                      style =" height: 250px"
                                      display='grid'
                                      selection-mode='{"row": "multiple", "column": "multiple"}' 
                                      columns='{{groupcolumnArray}}'style='width: 100%; height: 200px;'>

                                <template slot="checkTemplate" data-oj-as="cell">
                                    <oj-radioset value='[[radioSetCurrentSelected]]'
                                                 on-value-changed='[[checkboxListenerReassGr]]'
                                                 class='oj-checkboxset-no-chrome oj-selection-checkbox'
                                                 :id="[['table_checkboxset' + cell.key]]"
                                                 :data-row-key="{{cell.row.id}}">
                                                 <oj-option :id="[['table_checkbox' + cell.key]]" value="[[cell.key]]"></oj-option>
                                    </oj-radioset>   
                                </template>
                            </oj-table>
                        </div>
                        <div data-bind="visible: reassignSelectValue() !='group'">
                            <oj-table id="reassigntable" aria-label="Departments Table"
                                      on-oj-before-current-row = "[[reassignTableSelectionListener]]"
                                      data='[[reassignDataprovider]]' 
                                      style =" height: 250px"
                                      display='grid'
                                      selection-mode='{"row": "multiple", "column": "multiple"}' 
                                      columns='{{usercolumnArray}}'style='width: 100%; height: 200px;'>
                                <template slot="checkTemplate" data-oj-as="cell">
                                    <oj-checkboxset value='[[handleCheckboxInf(cell.key)]]'
                                                    on-value-changed='[[checkboxListenerInf]]'
                                                    class='oj-checkboxset-no-chrome oj-selection-checkbox'
                                                    :id="[['table_checkboxset' + cell.key]]"
                                                    :data-row-key="{{cell.row.UserName}}">
                                                    <oj-option :id="[['table_checkbox' + cell.key]]" value="checked"></oj-option>
                                    </oj-checkboxset>   
                                </template>
                            </oj-table>
                        </div>
                        <oj-button on-click="[[selectNone]]">
                            Select None
                        </oj-button>  
                        <br><br>
                        <label for="curr-selection">Current Selection:&nbsp;</label>
                        <br>
                        <oj-text-area id="selectionCurrent" value="[[myTextArea]]" style="height: 80px; width: 300px;"></oj-text-area>
                        <div data-bind="visible: reassignSelectValue() =='group'">
                            <oj-button on-click="[[reassignOKGroup]]">
                                Ok group
                            </oj-button>
                        </div>
                        <div data-bind="visible:reassignTaskRadioSet()=='ReassignValue' && value() =='user' ,">
                            <oj-button on-click="[[reassignOKUser]]">
                                Ok1
                            </oj-button>
                        </div>
                    </div>
                    <!--*********************************************************-->
                    <!--*******************Delegate***************************-->
                    <div data-bind="visible: reassignTaskRadioSet()!='ReassignValue'">
                        <div data-bind="visible: reassignSelectValue() =='user'">
                            <oj-button on-click="[[DelegateOKUser]]">
                                Ok
                            </oj-button>
                        </div>
                    </div> 
                    <!--***************************************************************-->

                </div>

                <oj-button on-click="[[reassignClose]]">
                    Close
                </oj-button>
            </div>
        </oj-defer>
    </oj-dialog>



    <oj-dialog class="myPop2" id="addCommentModalDialog" style="display:none;" dialog-title="Modal Dialog"  on-oj-close ="[[cancelBehaviorForComment]]">
        <div slot="header" class="oj-helper-clearfix" aria-labelledby="dialog-title-id">
            <div>
                <span id="infoIcon" class="oj-fwk-icon oj-fwk-icon-status-info" style="float:left; margin-right: 10px"></span>
                <span id="dialog-title-id" class="oj-dialog-title">Add Comment</span>
            </div>
        </div>
        <div slot="body">
            <div class="oj-md-odd-cols-4">
                <h1>Add Comment</h1>
            </div>

            <oj-validation-group id="tracker" valid="{{groupValidForCommentInApprove}}">
                <oj-text-area required style="display: inline-block" id="myTxtCommentForApprove" value="{{addCommentsTxtForApprove}}"></oj-text-area>
            </oj-validation-group>
            <oj-button on-click="[[addCommentBTN]]">
                Ok
            </oj-button>

        </div>

    </oj-dialog>
    <!--********************************END REASSIGN********************************************-->

<!---*********************** resume dialog*********************-->
<oj-dialog class="myPop2" id="resumeYesNoDialog">
        <div slot="header" class="oj-helper-clearfix">
            <h1>Resume </h1>
        </div>
        <div slot="body">
            <h3>Are You Sure To Resume?</h3>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[resumeYES]]'>
                <span>
                    <h5>Yes</h5>
                </span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[resumeNO]]'>
                <span>
                    <h5>No</h5>
                </span>
            </oj-button>
        </div>
    </oj-dialog>
<!--------------------------------- release dialoge ------------------------>
<oj-dialog class="myPop2" id="releaseYesNoDialog">
        <div slot="header" class="oj-helper-clearfix">
            <h1>Release </h1>
        </div>
        <div slot="body">
            <h3>Are You Sure To Release?</h3>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[releaseYES]]'>
                <span>
                    <h5>Yes</h5>
                </span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[releaseNO]]'>
                <span>
                    <h5>No</h5>
                </span>
            </oj-button>
        </div>
    </oj-dialog>
<!---*********************** dismiss dialog*********************-->
<oj-dialog class="myPop2" id="dismissYesNoDialog">
        <div slot="header" class="oj-helper-clearfix">
            <h1>Dismiss </h1>
        </div>
        <div slot="body">
            <h3>Are You Sure To Dismiss ?</h3>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[dismissYES]]'>
                <span>
                    <h5>Yes</h5>
                </span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[dismissNO]]'>
                <span>
                    <h5>No</h5>
                </span>
            </oj-button>
        </div>
    </oj-dialog>

    <oj-dialog class="main-dialog main-dialog-width m-popup" id="errorDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label>Error</label>
        </div>
        <div slot="body">
            <label data-bind="text: dialogErrorMessage"></label>
        </div>
        <div slot="footer">

            <div>

                <oj-button class="apBtn-2" on-oj-action='[[closeErrorDialog]]'>
                <span><oj-bind-text value="OK"></oj-bind-text></span>
            </oj-button>
            </div>

        </div>
    </oj-dialog>
   


<oj-bind-if test="[[showHistory]]">
<div id="myHistory">
    <h2 data-bind="text : historyStatus"></h2>
</div>
</oj-bind-if>
</div>