<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div>
   <oj-messages position="[[position]]" on-oj-close="[[closeMessageHandler]]" display="notification" messages="[[messagesDataProvider]]"></oj-messages>
</div>
<h1 class="header_headline_style"><span> <oj-bind-text value="BPM Worklist"></oj-bind-text> </span></h1>
<div class="oj-form-layout oj-panel">
   <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

       <div class="oj-flex">
           <div class="oj-flex-item">

               <oj-button disabled="{{oprationdisabled}}" class="apBtn-disabled-2" on-oj-action='[[btnShowTask]]'>
                   <span><oj-bind-text value="Show"></oj-bind-text></span>
                   <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
               </oj-button>

           </div>
       </div>

       <div class="workListSearch">
           <oj-label class="oj-label">Number</oj-label>
           <oj-input-text id="positionName" value="{{Number}}"></oj-input-text>
           <oj-button id="SearchBTN" on-oj-action='[[searchBTN]]'>Search </oj-button>
           <!--            <oj-combobox-one id="code00" value="{{code}}" on-value-changed="[[changeValue]]" >
               <oj-option value="Me">Me</oj-option>
               <oj-option value="MyGroup">My Group</oj-option>
               <oj-option value="MeAndMyGroup">Me & My Group</oj-option>
               <oj-option value="MeAndMyGroupAll">Me & My Group All</oj-option>
               <oj-option value="MePreviously">Me (Previously)</oj-option>
               <oj-option value="Review">Review</oj-option>-->
           </oj-combobox-one>
       </div>
       <div class="workListFilter">
           <div class="oj-flex-item">
               <label data-bind="text: 'Filter'" />
           </div>
           <div class="oj-flex-item">
               <oj-select-one required placeholder="[[placeholder]]" on-value-changed="{{changeValue}}" value="{{code}}" options="{{filterArr}}">
               </oj-select-one>
           </div>
       </div>
       <br>
       <div>

       </div>

       <div>
           <oj-table id='table' 
                     class='apTable-1' 
                     aria-label='Departments Table'
                     data='[[dataSource]]' 
                     selection-mode='{"row": "multiple", "column": "multiple"}' 
                     dnd='{"reorder": {"columns": "enabled"}}' 
                     display="grid" 
                     on-oj-before-current-row="[[tableSelectionListener]]"
                     columns='{{columnArray}}'>
               <oj-paging-control id="paging" class='apPaging-1' data='[[dataSource]]' page-size='10' slot='bottom'>
               </oj-paging-control>
           </oj-table>
       </div>
   </div>
</div>