body {
    font-family: 'Arimo', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.request_body_styling {
    background-color: rgba(255, 255, 255, 0.959);
    padding-bottom: 50px;
    margin-top: 20px;
    border-radius: 5px;
}

.header_headline_style {
    color: #069ca8;
    font-weight: bold;
    margin: 30px 0;
    padding-left: 15px;
}


/* start common styles */

.start {
    text-align: start;
}

.inlineblock {
    display: inline-block;
}

.cursor-pointer {
    cursor: pointer;
}

.listPadding {
    padding: 0 10px;
}

.padding-left-12 {
    padding-left: 12px;
}

.center {
    text-align: center;
}

.paddingBottom {
    padding-bottom: 35px;
}

.paddingTop10px {
    padding-top: 10px;
}

.paddingBottom10px {
    padding-bottom: 10px;
}

.detailsBtn {
    margin: 25px 0;
    text-align: center;
}

.summaryBtn {
    text-align: center;
    margin-top: 15px;
}

.oj-button button {
    background-color: transparent !important;
    outline: none;
    border: none;
}

.oj-label-group {
    font-weight: bold;
    color: #000;
    font-size: 13px;
}

.subTitle {
    padding-bottom: 25px;
    padding-top: 30px;
}

.subTitle h4 {
    color: #c1844b;
    padding-bottom: 10px;
}


/**************btn Enable*****************/

.btnStyle .oj-enabled .oj-button {
    padding: 10px;
}

.btnStyle .oj-button-text {
    color: #069CA8;
    padding: 0 !important;
}

.btnStyle {
    color: #069CA8;
    border: 1px solid #069CA8;
    background-color: transparent;
    border-radius: 5px;
    margin-right: 10px;
}

.btnStyle .oj-button-label {
    padding: 15px !important;
    /* font-weight: bold; */
}

.oj-button i {
    margin: 5px;
}

.btnStyle:hover {
    background-color: #005b7a;
    border: 1px solid #005b7a;
    border-radius: 5px;
    color: #fff;
}

.btnStyle:hover .oj-button-text {
    color: #fff;
}

.oj-enabled:hover button {
    cursor: pointer;
}


/***********************************/


/***********btn Disabled************/

.btnStyle .oj-disabled .oj-button {
    padding: 10px;
}

.oj-disabled .oj-button-text {
    color: #ccc !important;
}

.oj-disabled {
    color: #ccc !important;
    border: 1px solid #ccc;
    background-color: transparent;
    /* border-radius: 5px;
    margin-right: 10px;  */
}

.btnStyle.oj-disabled:hover {
    background: none;
    border: 1px solid #ccc;
}

.hr {
    width: 1355px;
    height: 1px;
    background-color: #ccc;
    /* margin: auto; */
}


/*********************************/


/*Loading */

.sk-folding-cube {
    margin: 20px auto;
    width: 50px;
    height: 50px;
    background-color: #fff;
    /*position: absolute;*/
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    margin-top: calc(50vh - 20px);
    margin-left: calc(50vw - 20px);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

#loading {
    display: none;
    height: 100%;
    width: 100%;
    background: #7f7d7d;
    position: fixed;
    z-index: 999;
    opacity: .7;
}


/**/


/*loading placeholder */

.cardPlaceholder {
    position: relative;
    height: 500px;
    overflow: hidden;
    margin: 10px auto;
}

.cardPlaceholder .visiTitle {
    text-align: center;
    font-weight: bold;
}

.cardPlaceholder .title {
    padding: 20px 150px;
    border-radius: 6px;
    width: 20%;
    margin: auto;
}

.cardPlaceholder .secondTitle {
    padding: 20px 150px;
    border-radius: 3px;
    width: 20%;
    margin: auto;
    margin-top: 50px;
}

.shimmerBG {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #fff;
    background: linear-gradient(to right, #Fff 8%, #F0F0F0 18%, #fff 33%);
    background-size: 1200px 100%;
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}

.p-32 {
    padding: 32px;
}


/* End common styles */


/******Start dialog*******/

#backDialog {
    width: 50% !important;
}


/*******End dialog**********/


/* Start tooltip*/

[tooltip] {
    position: relative;
}

[tooltip]::before,
[tooltip]::after {
    text-transform: none;
    /* opinion 2 */
    font-size: .9em;
    /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}

[tooltip]::before {
    content: '';
    border: 5px solid transparent;
    z-index: 1001;
}

[tooltip]::after {
    content: attr(tooltip);
    font-family: Helvetica, sans-serif;
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #000;
    color: #fff;
    z-index: 1000;
    border-bottom: 4px solid #f3ce2a;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}

[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}


/************************************************/


/* FLOW: UP */

[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
}


/* FLOW: DOWN */

[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
}

[tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
}


/* FLOW: LEFT */

[tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
}

[tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
}


/* FLOW: RIGHT */

[tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
}

[tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
}


/* KEYFRAMES */

@keyframes tooltips-vert {
    to {
        opacity: .9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: .9;
        transform: translate(0, -50%);
    }
}


/* FX All The Things */

[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
}


/**************************************************************************************/

/********** Start table***********/
.tableStyle{
    width: 100%;
    overflow-x: scroll;
    margin: auto;
    display: block;
    margin-top: 20px;
}
.tableStyle thead{
    background-color: #069DA8;
    color: #fff;
    border-radius: 3px;
}
.tableStyle .oj-default.oj-clickable-icon-nocontext {
    color: #fff;
}
.tableStyle .oj-table-element:not(.oj-table-column-header-resizing) .oj-table-data-cell.oj-selected {
    background-color: #cfad14;
    color: #FFF;
}
.pagingStyle {
    background: transparent;
    width: 100%;
    margin: 0;
}

.pagingStyle .oj-pagingcontrol-content .oj-pagingcontrol-nav  .oj-pagingcontrol-nav-arrow-section .oj-pagingcontrol-nav-arrow {
    width: 35px;
    height: 35px;
    border: 1px solid #E8E9EC;
    border-radius: 4px;
    margin: 5px 5px;
}

.pagingStyle .oj-pagingcontrol-content .oj-pagingcontrol-nav  .oj-pagingcontrol-nav-arrow-section .oj-pagingcontrol-nav-pages-section .oj-pagingcontrol-nav-page {
    width: 35px;
    height: 35px;
    border: 1px solid #cfad14;
    border-radius: 4px;
    margin: 5px 5px;
    display: inline-block !important;
    padding: 0;
    background-color: transparent;
    color: #cfad14;

}

.pagingStyle .oj-pagingcontrol-content .oj-pagingcontrol-nav  .oj-pagingcontrol-nav-arrow-section .oj-pagingcontrol-nav-pages-section .oj-selected {
    background-color: #cfad14 !important;
    color: #FFF !important;
    border-color:  #cfad14 !important;
}
/*******End table*********/


/* header */

.headerStyle {
    background-color: #069DA8;
    padding-bottom: 5px;
}

.headerFirstSection {
    display: inline-block;
    padding: 0 20px;
}

.imgHeader {
    width: 100px;
}

.iconStyle {
    color:#fff;
    font-size: 25px;
    padding: 0 !important;
    margin: 0 !important;
}

.ulStyle {
    display: inline-block;
    list-style-type: none;
    padding: 8px 0 0 20px;
}

.ulStyle li {
    display: inline-block;
    padding-right: 15px;
}

.notifiIcon {
    position: relative;
}

.notiNo {
    background-color: #fff;
    padding: 2px 5px !important;
    border-radius: 14px;
    text-align: center;
    color: #000;
    position: absolute;
    top: 0;
    left: 13px;
    font-size: 12px;
}

.signOut {
    float: right;
    padding: 25px 10px 0 0;
}

html[dir="rtl"] .signOut {
    float: left;
    padding: 25px 0 0 10px;
}


/******************End Header**********************/


/****************Start login page*************************/

.cont-log-bod {
    background-color: #a1a1a1;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px !important;
    left: 0px !important;
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
    z-index: 10;
}

.log_sec_half {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0;
    position: relative;
    text-align: center;
    color: #4d4f5c88;
}

.content_area {
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    max-width: 400px;
    width: 100%;
    margin: auto;
    padding: 0 5px;
}

.content_header {
    margin: 50px 0;
}

.logo-2 {
    margin: auto;
    max-width: 300px;
    width: 100%;
    display: block;
    padding-bottom: 30px;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

.login-form input[type=text] {
    min-height: 45px;
    background-color: #EBEBEB;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-top: 5px;
}

.login-form input[type=password] {
    min-height: 45px;
    background-color: #EBEBEB;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-top: 5px;
}

.login-form .form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.login-form input:focus {
    outline: none;
    box-shadow: 0 0 0;
    background: transparent !important;
}

.login-form .form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.login-form .btn-outline-primary {
    width: 100%;
    margin-top: 30px;
    background-color: #005B7A !important;
    border: none !important;
    color: white;
    min-height: 45px;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.login-form .btn-outline-primary:hover {
    background-color: rgb(0, 80, 107) !important;
    right: 0px;
}

.login-form .login-button {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 25px;
}

.apChngLang {
    color: white !important;
    float: left;
    background-color: #555659;
    padding: 10px 15px 10px 15px;
    border-radius: 30px !important;
    cursor: pointer;
}


/***************** End login Page ***************************/


/******************Start penalty Setup Page ***********************/

.summarySearchtBtn {
    padding-left: 105px;
    padding-top: 30px;
}

.PenaltyBtn {
    margin: 20px 0 20px 25px;
}

.btnFooterPenaltyScreen {
    text-align: center;
    padding: 40px 0;
}

.positionLine {
    /* position: relative; */
}

.line {
    height: 2px;
    width: 55px;
    background-color: #c1844b;
    /* position: absolute;
    left: 0;
    top: 10px; */
}


/******************End penalty Setup Page ***********************/


/******************Start penalty Screen & Details Page ***********************/


/******************End penalty Screen & Details Page ***********************/


/*****************media query**********************/

.nav-links {
    display: none;
}

.navResp>#nav-check {
    display: none;
}

.navResp {
    display: none;
}

@media screen and (max-width: 930px) {
    .oj-label-group {
        font-size: 10px;
    }
    /* .request_body_styling{
      padding: 30px 0;
  } */
    .mobResBlock {
        display: block;
    }
    /* .tableStyle {
        width: 50%;
        margin: 0;
        text-align: start;
    } */
    .summarySearchtBtn {
        text-align: left;
        padding-left: 2px;
    }
    .notification {
        display: none;
    }
    .navResp {
        display: block;
    }
    .navResp>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .navResp>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .navResp>.nav-btn>label:hover,
    .navResp #nav-check:checked~.nav-btn>label {
        color: #72298d;
    }
    .navResp>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #72298d;
    }
    .navResp>.nav-links {
        position: absolute;
        display: block;
        width: 0;
        background-color: #72298d;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        right: 0px;
        padding: 10px;
    }
    .navResp .nav-links .home-icon {
        border-bottom: 2px solid #FFF;
    }
    .navResp .nav-links .notifiIcon {
        border-bottom: 2px solid #FFF;
    }
    .navResp .nav-links,
    .navResp .nav-links:hover {
        cursor: pointer;
    }
    .navResp .nav-links,
    .navResp .nav-links button {
        text-align: center;
        color: #72298d !important;
    }
    .navResp .nav-links,
    .navResp .nav-links button:hover i {
        color: #72298d !important;
    }
    .navResp .nav-links i {
        font-size: 15px;
        background-color: #fff !important;
        width: 30px;
        margin: 10px;
        padding: 5px;
        border-radius: 5px;
    }
    .navResp>#nav-check:not(:checked)~.nav-links {
        height: 0px;
        width: 0px;
        display: none;
    }
    .navResp>#nav-check:checked~.nav-links {
        height: fit-content;
        overflow-y: auto;
        width: 150px;
        border-radius: 5px;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .oj-web-applayout-max-width {
        max-width: 306px !important;
    }
}


/***********************************************************/

html[dir="rtl"] .padding-right {
    padding-right: 60px !important;
}

.buttonSection {
    margin-top: 25px;
}

.lgTypeCenter{
    margin-bottom: 20px;
    margin-top: 30px;
}

.margTop{
    margin-top: 20px;
}

/**********************************************************/

.app-crd-bdy-received{ background-color: #f8f9fa; }
.app-crd-bdy-notreceived{ background-color:#f8f9fa ; }
.app-crd-bdy-border-suc{  box-shadow: 0px 1px 6px 0px #28A745aa; border-style: solid; border-color: #28A745; }
.app-crd-bdy-border-fail{ box-shadow: 0px 1px 6px 0px #DC3545aa; border-style: solid; border-color: #DC3545; }
.app-crd-bdy-border-pen{  box-shadow: 0px 1px 6px 0px #FFC107aa; border-style: solid; border-color: #FFC107; }
.app-crd-bdy-border-ntre{ box-shadow: 0px 1px 6px 0px #343A40aa; border-style: solid; border-color: #343A40; }
.app-crd-bdy-border-suc{  box-shadow: 0px 1px 6px 0px #28A745aa; border-style: solid; border-color: #28A745; }
.app-card-Pname{ display: inline-block}
.app-card-badge{ min-width:95px; padding: 5px;}
.app-card-blockqoute{margin-bottom: 0px;}
.app-crd-type{margin-bottom: 1px; display:inline-block; margin-left: 5px; margin-right: 5px; }
.app-type-a{background-color:#17A2B8 ;}
.app-type-i{background-color:#6c757d ;}
/* html[dir="rtl"] .dialogStyle{
  float:right;
}
html[dir="ltr"] .dialogStyle{
  float:left;
} */
.app-card-for-en{float:right;}
.app-crd-progressbar-body{
  height: 5px;
  width: 80%;
  margin: 20px auto;
}
.app-card-badge.badge-warning{
  background-color: transparent;
  animation: pendAlert 1s 1s  infinite;
}
@keyframes pendAlert {
  0% { box-shadow: 0 0 20px 0px #ffc107;background-color:#ffc107aa; }
  50% { box-shadow: none; background-color: transparent; }
  100% { box-shadow: 0 0 20px 0px #ffc107;background-color:#ffc107aa; }
}
.app-card-badge.badge-danger{
  background-color: transparent;
  animation: rejAlert 1s 1s  infinite;
}
@keyframes rejAlert {
  0% { box-shadow: 0 0 20px 0px #dc3545;background-color:#dc3545aa; }
  50% { box-shadow: none; background-color: transparent; }
  100% { box-shadow: 0 0 20px 0px #dc3545;background-color:#dc3545aa; }
}
.app-card-prog-type-rj{
  background-color: #dc3545;
}
.app-card-prog-type-pen{
  background-color: #ffc107;
}
.app-card-prog-type-app{
  background-color: #28a745;
}
.dialogStyle{
  width: 35%;
  top: 50vh;
  left: 50vw;
}
.dialogDetails{
  width: 80%;
}
.approval-card-inf-body{
  padding-bottom: 5px;
}

.dialogStyle{
    width: 35%;
    top: 50vh;
    left: 50vw;
  }.approval-card-body{
    width:100%;
    padding: 10px 20px;
    margin : 10px auto;
    border-style: solid;
    border:0px;
    border-radius: 10px;
  }
  html[dir="rtl"] .app-crd-bdy-border{
    border-right-width: 5px; 
  }
  html[dir="ltr"] .app-crd-bdy-border{
    border-left-width: 5px; 
  }