<div class="request_body_styling animated fadeInUp ">
    <div class="summaryContent container-fluid">
        <h3 class="header_headline_style"><span data-bind="text:label().audit"></span></h3>
    </div>
    <div class="saveBtn">
        <oj-button class="btnStyle" on-oj-action="[[backBtn]]"><span data-bind="text: label().back"></span></oj-button>
        <oj-button class="btnStyle"><span data-bind="text: label().save"></span></oj-button>
    </div>

    <div class="fieldSection-Enabled">
        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().payment"></span></oj-label>
                    <oj-input-text slot="value"></oj-input-text>
                </oj-label-value>
            </div>
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().editPayment"></span></oj-label>
                    <oj-checkboxset slot="value" id="checkboxSetAgreeId" labelled-by="editPayment" value="{{agreement}}">
                        <oj-option id="agree" value="agree"></oj-option>
                      </oj-checkboxset>
                </oj-label-value>
            </div>
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().paymentStatus"></span></oj-label>
                    <oj-input-text slot="value"></oj-input-text>
                </oj-label-value>
            </div>
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().comments"></span></oj-label>
                    <oj-text-area slot="value" disabled></oj-text-area>
                </oj-label-value>
            </div>
        </div>

        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().createdBy"></span></oj-label>
                    <oj-input-text slot="value" disabled></oj-input-text>
                </oj-label-value>
            </div>
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().creationDate"></span></oj-label>
                    <oj-input-text slot="value" disabled></oj-input-text>
                </oj-label-value>
            </div>
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().lastUpdatedBy"></span></oj-label>
                    <oj-input-text slot="value" disabled></oj-input-text>
                </oj-label-value>
            </div>
        </div>

        <div class="fieldSection-Disabled">
            <fieldset class="">
                <legend><span data-bind="text: label().paymentInformation"></span></legend>
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().transactionCode"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryBankAccountNumber"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().reference"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryBankAccountCurrency"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().debitAccount"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().transactionCurrency"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryName"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().transactionAmount"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryAddress_1"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().transactionDate"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryAddress_2"></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().reason_1"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryCity"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().reason_2"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryState_Province"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().onBehalfTo"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryZipCode"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().budgetCode"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryCountryCode"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().correspondentCountryCode"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryBankName"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().ERPApprover"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryBankAddress_1"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().currencyBuyFlag"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryBankAddress_2"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().currencyBuyReference"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryBankCity"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().currencyBuyDate"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryBankState_Province"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().purpose"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryBankZipCode"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryBankACHCode"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryBankCountryCode"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryCorporateIdCode"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryBankBIC"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryTpIdentifierType"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().correspondentBankName"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().benificaryTpIdentifierValue"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().correspondentBankBIC"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>