<div class="request_body_styling animated fadeInUp ">
    <div class="summaryContent container-fluid">
        <h3 class="header_headline_style"><span data-bind="text: label().KyribaInterfaceLbl"></span></h3>
    </div>
    <div class="saveBtn">
        <oj-button class="btnStyle" on-oj-action="[[backBtn]]"><span data-bind="text: label().back"></span></oj-button>
        <oj-button class="btnStyle"><span data-bind="text: label().save"></span></oj-button>
    </div>
    <div class="fieldSection-Enabled">
        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().transactionCode"></span></oj-label>
                    <oj-input-text slot="value"></oj-input-text>
                </oj-label-value>
            </div>
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().budgetCode"></span></oj-label>
                    <oj-input-text slot="value"></oj-input-text>
                </oj-label-value>
            </div>
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().purpose"></span></oj-label>
                    <oj-input-text slot="value"></oj-input-text>
                </oj-label-value>
            </div>
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().currencyBuyFlag"></span></oj-label>
                    <oj-input-text slot="value"></oj-input-text>
                </oj-label-value>
            </div>
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().currencyBuyReference"></span></oj-label>
                    <oj-input-text slot="value"></oj-input-text>
                </oj-label-value>
            </div>
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().currencyBuyDate"></span></oj-label>
                    <oj-input-text slot="value"></oj-input-text>
                </oj-label-value>
            </div>
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().beneficaryBankACHCode"></span></oj-label>
                    <oj-input-text slot="value"></oj-input-text>
                </oj-label-value>
            </div>
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().beneficaryCorporateIDCode"></span></oj-label>
                    <oj-input-text slot="value"></oj-input-text>
                </oj-label-value>
            </div>
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().beneficaryTPIdentifierType"></span></oj-label>
                    <oj-input-text slot="value"></oj-input-text>
                </oj-label-value>
            </div>
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().beneficaryTPIdentifierValue"></span></oj-label>
                    <oj-input-text slot="value"></oj-input-text>
                </oj-label-value>
            </div>
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().reason1"></span></oj-label>
                    <oj-input-text slot="value"></oj-input-text>
                </oj-label-value>
            </div>
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().reason2"></span></oj-label>
                    <oj-input-text slot="value"></oj-input-text>
                </oj-label-value>
            </div>
            <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().tpAccountIdentifierType"></span></oj-label>
                    <oj-input-text slot="value"></oj-input-text>
                </oj-label-value>
            </div>
        </div>
    </div>


    <!--Start second form -->
    <div class="fieldSection-Disabled">
        <fieldset class="">
            <legend><span data-bind="text: label().bankingDetails"></span></legend>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-md-4 oj-sm-12 oj-flex-item">
                    <oj-label-value label-edge="start">
                        <oj-label slot="label"><span data-bind="text: label().bankCode"></span></oj-label>
                        <oj-input-text slot="value" disabled></oj-input-text>
                    </oj-label-value>
                </div>
                <div class="oj-md-4 oj-sm-12 oj-flex-item">
                    <oj-label-value label-edge="start">
                        <oj-label slot="label"><span data-bind="text: label().details"></span></oj-label>
                        <oj-input-text slot="value" disabled></oj-input-text>
                    </oj-label-value>
                </div>
                <div class="oj-md-4 oj-sm-12 oj-flex-item">
                    <oj-label-value label-edge="start">
                        <oj-label slot="label"><span data-bind="text: label().sambaPOR"></span></oj-label>
                        <oj-input-text slot="value" disabled></oj-input-text>
                    </oj-label-value>
                </div>
                <div class="oj-md-4 oj-sm-12 oj-flex-item">
                    <oj-label-value label-edge="start">
                        <oj-label slot="label"><span data-bind="text: label().saabCodes"></span></oj-label>
                        <oj-input-text slot="value" disabled></oj-input-text>
                    </oj-label-value>
                </div>
                <div class="oj-md-4 oj-sm-12 oj-flex-item">
                    <oj-label-value label-edge="start">
                        <oj-label slot="label"><span data-bind="text: label().centralBankPurposes"></span></oj-label>
                        <oj-input-text slot="value" disabled></oj-input-text>
                    </oj-label-value>
                </div>
                <div class="oj-md-4 oj-sm-12 oj-flex-item">
                    <oj-label-value label-edge="start">
                        <oj-label slot="label"><span data-bind="text: label().ftsFABCode"></span></oj-label>
                        <oj-input-text slot="value" disabled></oj-input-text>
                    </oj-label-value>
                </div>
                <div class="oj-md-4 oj-sm-12 oj-flex-item">
                    <oj-label-value label-edge="start">
                        <oj-label slot="label"><span data-bind="text: label().freeText_1"></span></oj-label>
                        <oj-input-text slot="value" disabled></oj-input-text>
                    </oj-label-value>
                </div>
                <div class="oj-md-4 oj-sm-12 oj-flex-item">
                    <oj-label-value label-edge="start">
                        <oj-label slot="label"><span data-bind="text: label().freeText_2"></span></oj-label>
                        <oj-input-text slot="value" disabled></oj-input-text>
                    </oj-label-value>
                </div>
            </div>
        </fieldset>
    </div>
    <!--End second form -->

    <!-- Start third form -->
    <div class="fieldSection-Disabled">
        <!--Start fieldset-->
        <fieldset class="">
            <legend><span data-bind="text: label().paymentDetails"></span></legend>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-md-4 oj-sm-12 oj-flex-item">
                    <oj-label-value label-edge="start">
                        <oj-label slot="label"><span data-bind="text: label().debitAccount"></span></oj-label>
                        <oj-input-text slot="value" disabled></oj-input-text>
                    </oj-label-value>
                </div>
                <div class="oj-md-4 oj-sm-12 oj-flex-item">
                    <oj-label-value label-edge="start">
                        <oj-label slot="label"><span data-bind="text: label().amount"></span></oj-label>
                        <oj-input-text slot="value" disabled></oj-input-text>
                    </oj-label-value>
                </div>
                <div class="oj-md-4 oj-sm-12 oj-flex-item">
                    <oj-label-value label-edge="start">
                        <oj-label slot="label"><span data-bind="text: label().currency"></span></oj-label>
                        <oj-input-text slot="value" disabled></oj-input-text>
                    </oj-label-value>
                </div>
                <div class="oj-md-4 oj-sm-12 oj-flex-item">
                    <oj-label-value label-edge="start">
                        <oj-label slot="label"><span data-bind="text: label().date"></span></oj-label>
                        <oj-input-text slot="value" disabled></oj-input-text>
                    </oj-label-value>
                </div>
                <div class="oj-md-4 oj-sm-12 oj-flex-item">
                    <oj-label-value label-edge="start">
                        <oj-label slot="label"><span data-bind="text: label().OnBehalfTo"></span></oj-label>
                        <oj-input-text slot="value" disabled></oj-input-text>
                    </oj-label-value>
                </div>
                <div class="oj-md-4 oj-sm-12 oj-flex-item">
                    <oj-label-value label-edge="start">
                        <oj-label slot="label"><span data-bind="text: label().POApproval"></span></oj-label>
                        <oj-input-text slot="value" disabled></oj-input-text>
                    </oj-label-value>
                </div>
            </div>
            <!--Start fieldset-->
            <fieldset class="beneficaryDetailsFieldset">
                <legend><span data-bind="text: label().beneficaryDetails"></span></legend>
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-md-4 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().name"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-4 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().city"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-4 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().zipCode"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-4 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().address_1"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-4 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().address_2"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-4 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().state_Prov"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                </div>
            </fieldset>
            <!--End fieldset-->

            <!--Start fieldset-->
            <fieldset class="beneficaryDetailsFieldset">
                <legend><span data-bind="text: label().beneficaryBankDetails"></span></legend>
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-md-4 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().bank"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-4 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().city"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-4 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().zipCode"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-4 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().streetAddress_1"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-4 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().streetAddress_2"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-4 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().state_Prov"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-4 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().accountNumber"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-4 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().accountCurrency"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-4 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label"><span data-bind="text: label().bankBIC"></span></oj-label>
                            <oj-input-text slot="value" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                </div>
            </fieldset>
            <!--End fieldset-->
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-md-4 oj-sm-12 oj-flex-item">
                    <oj-label-value label-edge="start">
                        <oj-label slot="label"><span data-bind="text: label().coresspndentBankName"></span></oj-label>
                        <oj-input-text slot="value" disabled></oj-input-text>
                    </oj-label-value>
                </div>
                <div class="oj-md-4 oj-sm-12 oj-flex-item">
                    <oj-label-value label-edge="start">
                        <oj-label slot="label"><span data-bind="text: label().coresspndentBankBIC"></span></oj-label>
                        <oj-input-text slot="value" disabled></oj-input-text>
                    </oj-label-value>
                </div>
            </div>
        </fieldset>
        <!--End fieldset-->
    </div>
    <!-- End third form-->
    <div class="kyribaInterfaceBtn">
        <oj-button class="btnStyle"><span data-bind="text: label().sendtoPayment"></span></oj-button>
    </div>
</div>