<div class="oj-hybrid-applayout-page vehicle-history">
    <div class="oj-applayout-content">
        <h2 data-bind="text: label().chooseCar()"></h2>
                </div>
        <!-- Cars Brands -->
        <oj-bind-if test="[[dataStatus() == 'dataRetrieved']]">
        <!-- Selected Car Models -->
        <div class="cars">
            <div id="componentDemoContent" style="width: 1px; min-width: 100%;" >
            <div id="listviewContainer">
                <div class="sign-form" id="main">
                    <oj-input-text id="text-input10" autocomplete="on"  class="formInput"  clear-icon="conditional" value="{{search}}"  on-raw-value-changed="[[handleValueChanged]]" placeholder="[[label().searchLbl()]]">
                    </oj-input-text>
                </div>
                <div class="choose-section">
                    
                    <div id="listviewContainer">
                        <oj-list-view id="listview" aria-label="simple list" 
                                      data="[[dataProvider]]" selection-mode="single"
                                      on-current-item-changed="[[carModelsClickAction]]" style="overflow: hidden;text-align: justify;">
                            <template slot="itemTemplate" data-oj-as="item" >
                                <div class="car-info">                                       
                                    <img style="width:150px;height: 80px;" data-bind="attr: {src: item.data.img}"/>                                       
                                    <oj-label class="label-line">
                                        <oj-bind-text value="[[item.data.Name_c]]"></oj-bind-text>
                                    </oj-label>
                                </div>
                            </template>
                        </oj-list-view>
                    </div> 

                </div>


            </div>
        </div>
        </div>
        </oj-bind-if>
<!--        <div data-bind="visible: visibleForm.products" class="cars">
            <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                <div id="listviewContainer">
                    <div class="oj-listview-card-layout" data-bind="foreach: carsProductArr">
                        <div data-bind="click: $parent.modelClickAction" 
                             class="oj-listview-card-layout oj-listview-item demo-list-content demo-icon oj-listview-item" 
                             style="border: 1px solid #e0e1e1 !important; width:95% !important;">
                            <div class="car-info">
                                <oj-label class="label-line">
                                    <strong data-bind="text: $parent.label().model()"></strong>: 
                                    <oj-bind-text value="[[Model_c]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong data-bind="text: $parent.label().currency()"></strong>: 
                                    <oj-bind-text value="[[CurrencyCode]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong data-bind="text: $parent.label().categoryName()"></strong>: 
                                    <oj-bind-text value="[[CategoryName_c]]"></oj-bind-text>
                                </oj-label>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>-->
<!--            <oj-button class="back-button" on-oj-action='[[backToBrandsBtn]]' display='icons'>
                <img slot="startIcon"
                     class="back-button-icon"
                     src="css/images/back.png" 
                     alt="Back"/>
            </oj-button>-->

        <oj-bind-if test="[[dataStatus() == 'noDataAvailable']]">
        <div  class="no-data-section">
            <img src="css/images/no-data.png">
            <p class="no-data-text" data-bind="text: label().noThingTxt()">NOTHING!!</p>
            <p class="no-data-desc" data-bind="text: label().emptyTxt()">There is no data available to show you right now.</p>
        </div>
            </oj-bind-if>
        <oj-bind-if test="[[dataStatus() == 'loading']]">
        <div class="cars">
            <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                <div id="listviewContainer">
                    <div class="oj-listview-card-layout" data-bind="foreach: shimmerCards">
                        <div class="oj-listview-card-layout oj-listview-item demo-list-content demo-icon oj-listview-item" 
                             style="border: 1px solid #e0e1e1 !important; width:95% !important;">
                            <div class="car-info">
                                <div class="shine-card sh-rounded"></div>
                                <div class="shine-card sh-1"></div>
                                <div class="shine-card sh-2"></div>
                                <div class="shine-card sh-3"></div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
            </oj-bind-if>
        
    </div>
</div>