<div class="products">
    
    <div class="product-header" style="position:relative;">
        <div class="container">
            <img style="width:100%;" data-bind="attr: {src: headerImg}"/> 
            <!--<img style="height: inherit;width:inherit" data-bind="attr: {src: modelImg}"/>--> 
            <div class="header-text">
                <h3 data-bind="text: label().newTucsan()"></h3>
                <p>
                    <span><oj-bind-text value="[[label().carDetail()]]"></oj-bind-text></span>
                </p>
            </div>
        </div>    
    </div>

    <div class="product-services">
        <div class="row">

            <div class="col-md-4 col-xs-6">
                <h5 class="product-btns">
                    <div class="mapping-icon"> <i class="fas fa-2x fa-car"></i></div>
                    <a href="">
                        <span><oj-bind-text value="[[label().requestTestDrive()]]"></oj-bind-text></span>
                    </a>
                </h5>
            </div>

            <div class="col-md-4 col-xs-12">
                <h5 class="product-btns">
                    <div class="mapping-icon"> <i class="fas fa-2x fa-phone-alt"></i></div>
                    <a href="">
                    <span><oj-bind-text value="[[label().requestCall()]]"></oj-bind-text></span>
                    </a>
                </h5>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="highlights text-center" style="text-align: -webkit-center;">
        <div class="container" style="text-align: -webkit-center;">
            <h2 class="upper"><span><oj-bind-text value="[[label().highlights()]]"></oj-bind-text></span></h2>
            <h3><span><oj-bind-text value="[[label().feelLike()]]"></oj-bind-text></span>
                </h3>
            <p class="highlights-info">
                <span><oj-bind-text value="[[label().highlightParag()]]"></oj-bind-text></span>
                <br>
                <span><oj-bind-text value="[[label().highlightParag2()]]"></oj-bind-text></span>
            </p>
            <img style="width:100%;" data-bind="attr: {src: firstImg}">
        </div>
    </div>

    <div class="experience text-center" style="text-align: -webkit-center;">
        <div class="container">
            <h2 class="upper">
                <span><oj-bind-text value="[[label().experienceHeader()]]"></oj-bind-text></span>
                </h2>
            <p class="experience-info">
                <span><oj-bind-text value="[[label().experienceParag()]]"></oj-bind-text></span>
                </p>
            <img style="width:100%;" data-bind="attr: {src: secImg}">
        </div>
    </div>

    <div class="thought text-center" >
        <div class="container" style="text-align: -webkit-center;">
            <h2 class="upper">
                <span><oj-bind-text value="[[label().interiorHeader()]]"></oj-bind-text></span>
                </h2>
            <p class="thought-info">
                <span><oj-bind-text value="[[label().interiorParag()]]"></oj-bind-text></span>
                </p>
            <div class="row">
                <div  style="text-align: -webkit-center;">
                    <img style="width:100%;" data-bind="attr: {src: thirdImg}">
                </div>
            </div>
        </div>
    </div>

    <div class="passion text-center" style="text-align: -webkit-center;">
        <div class="container" >
            <h2 class="upper">
                <span><oj-bind-text value="[[label().addFuelHeader()]]"></oj-bind-text></span>
                </h2>
            <p class="passion-info">
                <span><oj-bind-text value="[[label().addFuelParag()]]"></oj-bind-text></span>
                </p>
            <img style="width:100%;" data-bind="attr: {src: fourthImg}">
        </div>
    </div>

    <div class="gallery">
        <div class="container">
            <h2 class="upper">
                <span><oj-bind-text value="[[label().gallery()]]"></oj-bind-text></span>
                </h2>

            <!-- start carousel -->

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- ko  if: koArray().length > 0 -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner" data-bind="foreach: koArray" >
            <div class="item" data-bind="class: firstChild">
            <img data-bind="attr:{src: data}" style="width:100%;">
            
        </div>

        </div>
        <!-- /ko-->
        <!-- ko  if: koArray().length == 0 -->
        <div class="carousel-inner" >
            <div class="item active">
                <img style="width:100%;" src="css/images/vehicle-placeholder.png"/>            
        </div>
        </div>
        <!-- /ko-->
    
         <!--Left and right controls--> 
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <i class="fas fa-2x fa-chevron-left"></i>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <i class="fas fa-2x fa-chevron-right"></i>
        </a>
    </div>

<!-- end carousel -->

        </div>
    </div>
    

    <!-- start Specification -->

    <div class="Specification">
        <div class="container">
            <h2 class="uppper">Specification</h2>

            <span>Choose a Trim</span>
            <div class="car-type">
                <oj-select-one value="{{trim}}" options="[[trimArr]]" placeholder="-">
                                    </oj-select-one>
<!--                <p class="upper">TUCSON TLE Facelift 1.6 gdl gls</p>
                <i class="fas fa-chevron-down"></i>-->
            </div>

            <div class="overview-section">
                <p style="margin: 20px 0;font-size: 15px;" >Overview</p>
                <div class="overview">
                    <div class="category"><p>Category</p></div>
                    <div class="overview-info"><p>Suv</p></div>
                </div>
            </div>

            <div class="overview-section">
                <div class="overview">
                    <div class="category"><p>Product label</p></div>
                    <div class="overview-info"><p>TUCSON TLE FACELIFT 1.6 GDI GL</p></div>
                </div>
            </div>

            <div class="overview-section">
                <div class="overview">
                    <div class="category"><p>Model name</p></div>
                    <div class="overview-info"><p>TUCSON</p></div>
                </div>
            </div>

            <div class="overview-section">
                <div class="overview">
                    <div class="category"><p>Seats</p></div>
                    <div class="overview-info"><p>5</p></div>
                </div>
            </div>

             <div class="car-collapse">
                 <div class="collapse-title"><p>Dimensions</p></div>
                 <div class="collapse-title"><p>Weight</p></div>
                 <div class="collapse-title"><p>Suspension</p></div>
                 <div class="collapse-title"><p>Power / Performance</p></div>
                 <div class="collapse-title"><p>Steering / Wheels</p></div>
                 <div class="collapse-title"><p>Safety / Security</p></div>
                 <div class="collapse-title"><p>Option List</p></div>
                 <div class="collapse-title"><p>Entertainment System</p></div>
             </div>

        </div>
    </div>

</div>