<div id='text' style="text-align: center;">
    <h1>Faqs</h1>
</div>
<div id="form-container">
    <oj-validation-group id="tracker" valid="{{groupValid}}">
        <div style="text-align: -webkit-center">
    <oj-form-layout max-columns="{{columns}}" direction="row" style="width: 60%;text-align: initial;">
        
        <oj-label  class="formLabel">  
            <oj-bind-text value="[[label().quesAr()]]">
            </oj-bind-text>
        </oj-label>
        <oj-input-text id="text-input1" class="formInput" required value="{{quesAr}}"></oj-input-text>
        <oj-label  class="formLabel">  
            <oj-bind-text value="[[label().quesEn()]]">
            </oj-bind-text>
        </oj-label>
        <oj-input-text id="text-input2" class="formInput" required value="{{quesEn}}"></oj-input-text>   
        <oj-label  class="formLabel">  
            <oj-bind-text value="[[label().answerAr()]]">
            </oj-bind-text>
        </oj-label>
        <oj-input-text id="text-input1" class="formInput" required value="{{answerAr}}"></oj-input-text>
        <oj-label  class="formLabel">  
            <oj-bind-text value="[[label().answerEn()]]">
            </oj-bind-text>
        </oj-label>
        <oj-input-text id="text-input2" class="formInput" required value="{{answerEn}}"></oj-input-text> 
        <oj-label  class="formLabel">  
            <oj-bind-text value="[[label().type()]]">
            </oj-bind-text>
        </oj-label>
        <oj-input-text id="text-input1" class="formInput" required value="{{type}}"></oj-input-text>
        <oj-label  class="formLabel">  
            <oj-bind-text value="[[label().lookupTypeAr()]]">
            </oj-bind-text>
        </oj-label>
        <oj-input-text id="text-input2" class="formInput" required value="{{lookupTypeAr}}"></oj-input-text>   
        <oj-label  class="formLabel">  
            <oj-bind-text value="[[label().lookupTypeEn()]]">
            </oj-bind-text>
        </oj-label>
        <oj-input-text id="text-input1" class="formInput" required value="{{lookupTypeEn}}"></oj-input-text>
        <br>
    </oj-form-layout>
           <div id='buttons-container' style=" text-align: end; ">
                <oj-button class="flWidth btnPrimary mrT1" style="width: auto;" id='signIn' on-oj-action="[[submit]]">
                    <span><oj-bind-text value="[[label().submit()]]"></oj-bind-text></span>
                </oj-button>
            </div>
            </div>
</oj-validation-group></div>

<br>
<div id="pagingControlDemo">
    <oj-table style="width: 100%" class='apTable-1' id='table' aria-label='Departments Table'
              data='[[pagingDataProvider]]'
              columns='[[columnArray]]'

              on-oj-before-current-row = "[[tableSelectionListener]]">
        <oj-paging-control id="paging" data="[[pagingDataProvider]]" page-size="10" slot="bottom">
        </oj-paging-control>
    </oj-table>               
</div>
<div id="dialogWrapper">
    <oj-dialog class="img-dialog" id="modalDialog1" dialog-title="Edit Faq">
        <div slot="body">
            <!--form for edit the selected row-->
            <div id="form-container">
                <oj-form-layout max-columns="{{columns}}" direction="row">
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().quesAr()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input1" class="formInput" value="{{quesAr}}"></oj-input-text>
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().quesEn()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input2" class="formInput" value="{{quesEn}}"></oj-input-text>   
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().answerAr()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input1" class="formInput" value="{{answerAr}}"></oj-input-text>
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().answerEn()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input2" class="formInput" value="{{answerEn}}"></oj-input-text> 
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().type()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input1" class="formInput" value="{{type}}"></oj-input-text>
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().lookupTypeAr()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input2" class="formInput" value="{{lookupTypeAr}}"></oj-input-text>   
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().lookupTypeEn()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input1" class="formInput" value="{{lookupTypeEn}}"></oj-input-text>
                </oj-form-layout></div>
            <div id='buttons-container'>
                <oj-button class="btnPrimary" id='signIn' on-oj-action="[[edit]]">
                    <span><oj-bind-text value="[[label().submit()]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </div>
        <div slot="footer">
            <oj-button id="okButton" class="btnPrimary" on-oj-action="[[close]]">Cancel
            </oj-button>
        </div>
    </oj-dialog>
</div>
