<h1 class="header_headline_style"><!--<span> <oj-bind-text value="[[LocationEmployeePageLbl]]"></oj-bind-text> </span>--></h1>
<div class="request_body_styling animated fadeInUp ">
    <div id="main">

        <div id="containerDiv" class="employee-page">



            <oj-train id="train"
                      selected-step="{{currentStepValue}}" steps="[[stepArray]]"
                      class="oj-train-stretch"
                      on-oj-before-select="[[stopSelectListener]]">    </oj-train>


            <oj-button class="apBtn-2 back"  on-oj-action='[[backAction]]'>
                <span data-bind="text:backBtnLbl"></span>
                                    <span slot='endIcon' class="apiconClass fa fa-arrow-circle-left"></span>

            </oj-button>
             <oj-button class="apBtn-2 back"  on-oj-action='[[previousStep]]' data-bind="visible: hidepervious">
                <span data-bind="text:pervious"></span>
                                    <span slot='endIcon' class="apiconClass fa fa-arrow-circle-left"></span>

            </oj-button>
            <oj-button class="apBtn-2 next" data-bind="visible: hidenext"
                       on-oj-action="[[nextStep]]">
                <span><oj-bind-text value="[[next]]"></oj-bind-text></span>
            </oj-button>


            <div class="oj-panel loc-box" >
            <div class="options">
                <oj-radioset class="oj-choice-direction-row"   on-value-changed="{{checked}}" value="{{locationValtest}}">

                    <oj-option    data-bind="value:'one'" >
                        <span data-bind="text:bylocationLbl"></span></oj-option>  
                    <oj-option   data-bind="value:'two'" >
                        <span data-bind="text:byEmployeeLbl"></span></oj-option> 
                </oj-radioset>
            </div>
            <div id="div1">
                <oj-bind-if test="{{locationValtest()=='one'}}">
                    <oj-validation-group id="tracker" valid="{{groupValid}}">
                        <div class="loc-name">
                            <oj-label for="basicSelect" > <span data-bind="text: locationNameLBL"/></oj-label>
                            <oj-select-one id="basicSelect" required  class="disable-element"  placeholder="[[placeholder]]"  options="[[arrLocation]]"    value="{{locationValue}}" style="max-width:20em">


                            </oj-select-one> 
                        </div>
                        <div class="dateOption">
                            <div class="startDateOption">

                                <oj-label for="date"><span data-bind="text: Startdatelbl"/></oj-label>
                                <oj-input-date class="disable-element" show-required="true" class="disable-element" required  value='{{startDateValue}}'>
                                </oj-input-date>
                                 <oj-label for="date"><span data-bind="text: Enddatelbl"/></oj-label>
                                <oj-input-date class="disable-element" show-required="true" class="disable-element" required  value='{{endDateValue}}'>
                                </oj-input-date>

                            </div>


                        </div>
                    </oj-validation-group> 


                    <oj-button id='button1' data-bind="visible: hideSubmitLocation"   on-oj-action='[[submitLocationClick]]' class="apBtn-2">
                        <span data-bind="text: submitlbl"/>
                    </oj-button>


                    <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
                        <div slot="header" class="oj-helper-clearfix">
                            <label data-bind="text:confirmMessage "/>
                        </div>
                        <div slot="body">
                            <label data-bind="text:oprationMessage"/>
                            <span data-bind="text:areyouSure"</span>

                        </div>
                       <div class="oj-flex">
            <div class="oj-flex-item">
                            <oj-button class="apBtn-2" on-oj-action='[[commitRecordAddLocation]]'>
                                <span><oj-bind-text value="[[yeslbl]]"></oj-bind-text></span>

                            </oj-button>

                            <oj-button class="apBtn-2" on-oj-action='[[cancelButtonAddLocation]]'>
                                <span><oj-bind-text value="[[nolbl]]"></oj-bind-text></span>

                            </oj-button>


                            <oj-button class="apBtn-2" data-bind="visible: hidenext"
                                       on-oj-action="[[nextStep]]">
                                <span><oj-bind-text value="[[next]]"></oj-bind-text></span>
                            </oj-button>
    </div>
        </div>
                    </oj-dialog>

                </oj-bind-if>

            </div>
               
            <div class="employee">
                <oj-bind-if test="{{locationValtest()=='two'}}">
                    <oj-validation-group id="tracker" valid="{{groupValid}}">
                        <div class="employeeOption">

                            <oj-label for="Employee Number"> <span data-bind="text: personNumberLbl"/></oj-label>
                            <oj-input-text 
                                value="{{personVal}}"
                                autocomplete="off"
                                label-hint="Percentage"

                                class="disable-element"  required="[[isRequired]]"
                                disabled="false">
                            </oj-input-text>



                        </div>
                        <div class="dateOption">
                            <div class="startDateOption">
                                <!--                                <oj-label for="date"> <span data-bind="text: datelbl"/></oj-label>
                                                                <oj-input-date  class="disable-element"  required="[[isRequired]]"show-required="true" value='{{date}}'>
                                                                </oj-input-date>-->
                                <oj-label for="date"><span data-bind="text: Startdatelbl"/></oj-label>
                                <oj-input-date class="disable-element" show-required="true" class="disable-element" required  value='{{startDateValue}}'>
                                </oj-input-date>
                                <oj-label for="date"><span data-bind="text: Enddatelbl"/></oj-label>
                                <oj-input-date class="disable-element" show-required="true" class="disable-element" required  value='{{endDateValue}}'>
                                </oj-input-date>
                            </div>



                        </div>
                    </oj-validation-group>
                    <oj-button id='button2' class="disable-element"  on-oj-action='[[clearClick]]' class="apBtn-2">
                        <span data-bind="text:clearLbl"></span>
                    </oj-button>


                    <oj-button id='button6'  class="disable-element"  on-oj-action='[[saveByEmployeeClick]]' class="apBtn-2">
                        <span data-bind="text:saveDataLbl"></span>

                    </oj-button>


                    <oj-button id='button1'  data-bind="visible: hideSubmitEmp" on-oj-action='[[submitEmpClick]]' class="apBtn-2">
                        <span data-bind="text:submitlbl"></span>

                    </oj-button>


                    <oj-table id='table' aria-label='Departments Table' class="apTable-1"
                              data='[[dataprovider]]'
                              selection-mode='{"row": "multiple", "column": "multiple"}'
                              dnd='{"reorder": {"columns": "enabled"}}'
                              scroll-policy='loadMoreOnScroll'
                              scroll-policy-options='{"fetchSize": 10}'
                              columns='[[columnArray ]]'
                              >
                    </oj-table>

                </oj-bind-if>

            </div>


            </div>





            <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog2">
                <div slot="header" class="oj-helper-clearfix">
                    <label data-bind="text:confirmMessage "/>
                </div>
                <div slot="body">
                    <label data-bind="text:oprationMessage"/>
                    <span data-bind="text:areyouSure"</span>
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2" on-oj-action='[[commitRecordAddEmp]]'>
                        <span><oj-bind-text value="[[yeslbl]]"></oj-bind-text></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[cancelButtonAddEmp]]'>
                        <span><oj-bind-text value="[[nolbl]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </oj-dialog>


        </div>
    </div>
</div>