<div id="train-container" class="request_body_styling animtrackRequestRoleOperationated fadeInUp">
    <oj-messages messages="[[messagesDataProvider]]" display="notification" position="[[position]]" on-oj-close="[[closeMessageHandler]]"></oj-messages>
    <h1 class="header_headline_style"><span> <oj-bind-text value="[[trackRequestRoleOperationScreen]]" ></oj-bind-text> </span></h1>

    <div class="oj-form">
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">

                <oj-button class="apBtn-2" data-bind="visible: hidecancel"
                           on-oj-action="[[cancelAction]]">
                    <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" data-bind="visible: hidepervious"
                           on-oj-action="[[previousStep]]">
                    <span><oj-bind-text value="[[pervious]]"></oj-bind-text></span>
                </oj-button>

            </div>
            <div class="oj-flex-bar-end">

                <oj-button class="apBtn-2" data-bind="visible: hidenext"
                           on-oj-action="[[nextStep]]">
                    <span><oj-bind-text value="[[next]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" data-bind="visible: hidesubmit"
                           on-oj-action="[[submitButton]]"
                           visible="[[currentStepValue() == 'stp2']]">
                    <span><oj-bind-text value="[[submit]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" data-bind="visible: hideUpdatesubmit"
                           on-oj-action="[[submitUpdateButton]]"
                           visible="[[currentStepValue() == 'stp2']]">
                    <span><oj-bind-text value="[[submit]]"></oj-bind-text></span>
                </oj-button>
            </div>

        </div>
    </div>
    <h3 id="currentStepText" data-bind="text: currentStepValueText()"></h3>
    <div> 
        <oj-train id="train"  data-bind="visible: trainVisible"
                  selected-step="{{currentStepValue}}" steps="[[stepArray]]"  
                  class="oj-train-stretch"
                  on-oj-before-select="[[stopSelectListener]]"/>
    </div>

    <br>
    <div class="oj-flex">
        <div class="oj-flex">
            <label data-bind="text: reportTitleLabl"/>
        </div>

    </div>
    <div class="oj-form-layout oj-panel">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

            <oj-validation-group id="tracker" valid="{{groupValid}}">

                <div >
                    <label data-bind="text: RoleNameLbl"/>
                    <oj-select-one id="eitName" class="disable-element" required="[[isRequired]]" 
                                   placeholder="[[placeholder]]"
                                   value="{{customModel.RoleNameVal}}"
                                   on-value-changed= "{{roleTypeChangedHandler}}"
                                   disabled="[[rolesDisabled]]"
                                   options="{{rolesOption}}"
                                   >
                    </oj-select-one>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex">
                        <label data-bind="text: RoleDescriptionLbl"/>
                    </div>
                    <oj-input-text class="disable-element" required="[[isRequired]]" value="{{customModel.RoleDescriptionLblVal}}">
                    </oj-input-text>
                </div>



                <div>
                    <label data-bind="text: EitCodeLbl"/>
                    <oj-select-many  class="disable-element" on-value-changed="[[selectManyChangedHandler]]" required="[[isRequired]]"  value="{{customModel.eitCodeVal}}" options="{{EITCodeArr}}">
                    </oj-select-many>
                </div>

            </oj-validation-group>

        </div>
    </div>
    <div id="dialogWrapper">
        <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text: confirmMessage"/>
            </div>
            <div slot="body">
                <label data-bind="text: oprationMessage"/>
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[commitRecord]]'>
                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>
    <div id="dialogWrapper">
        <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialogUpdate">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text:confirmMessage "/>
            </div>
            <div slot="body">
                <label data-bind="text:oprationMessageUpdate"/>
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[commitRecordupdate]]'>
                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[cancelButtonupdate]]'>
                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>
</div>