<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="form-layout-container">
    <div class="oj-form-layout container">
        <div class="row">
            <!-- visible:!$root.hideLeftMenu(), use this in data-bind to let card hide or show as in home dynamically -->
                <div id="t1" class="eminfosec col-md-3" data-bind="visible:!$root.hideLeftMenu(),ojModule: { viewName: 'modules/employeeCard'}"></div>

            <div class="col-md-9 home_icon_style row">
                <!-- ko foreach: icons -->
                <div class="col-sm-6 col-md-2 col-Mob-50 animated fadeInDown ">
                    <div class="Dshboardicons_body_style"
                         <a href="#" id="router" class=" form-router-href" 
                       data-bind="click: function(){ $parent.iconNavigation(router, code) }, visible: visible">

                            <span  class="icon-home-slef oj-clickable-icon demo-icon-font oj-icon-circle oj-icon-circle-border oj-icon-xs label"
                                   data-bind="css:'oj-icon-xs ' + value, attr: {'aria-label':'Circular icon with color ' + label}" >

                                <span class="oj-icon-circle-inner oj-icon-no-background">
                                    <span data-bind="css:'demo-icon-circle-font ' + iconType" style="color: white;"></span>
                                </span>

                            </span>

                            <span class="form-router-text" data-bind="text: text"> </span>
                        </a>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>