<oj-messages messages="[[messages]]" position="{}" display="notification">
            </oj-messages>
<h1 class="header_headline_style"><span> <oj-bind-text value="[[employeeRecordLbl]]"></oj-bind-text> </span></h1>

<div class="oj-form-layout oj-panel">
    <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline" oj-md-labels-inline>
        <div class="form-row">
            <div class="form-group col-md-2 srjob-col-pad">
                <oj-label for="startDateLbl"><span data-bind="text: startDateLbl" /></oj-label>
            </div>
            <div class="form-group col-md-4 srjob-col-pad">
                <oj-input-date id="startDate" converter=[[dateConverter]] value="{{startDate}}"   on-value-changed="[[startDateChange]]">
                </oj-input-date>
            </div>
			 <div class="form-group col-md-2 srjob-col-pad">
                <oj-label for="endDateLbl"><span data-bind="text: endDateLbl" /></oj-label>
            </div>
			 <div class="form-group col-md-4 srjob-col-pad">
                <oj-input-date id="endDate" converter=[[dateConverter]] value="{{endDate}}"  on-value-changed="[[endDateChange]]">
                </oj-input-date>
            </div>

          
            <div class="form-group col-md-2 srjob-col-pad">
                <oj-label for="absenceLBL"><span data-bind="text: absenceLbl" /></oj-label>
            </div>
            <div class="form-group col-md-4 srjob-col-pad">
                <oj-select-one id="select" class="disable-element" value="{{absenceVal}}" options="{{absenceArr}}"  on-value-changed="[[absenceValueChangeHandler]]" placeholder="[[placeholder]]">
                </oj-select-one>
            </div>
<!--             <div class="form-group col-md-2 srjob-col-pad">
                <oj-label for="ReportName"><span data-bind="text: totalLbl"> </oj-label>
            </div>
            <div class="form-group col-md-4 srjob-col-pad">
                <oj-input-number value="{{totalVal}}"
                               disabled  min=0  step=1></oj-input-number>
            </div>-->
            <div class="form-group col-md- srjob-col-pad">

            </div>
            <div class="form-group col-md-6 srjob-col-pad">
                <oj-button class="apBtn-2" on-oj-action='[[searchPerson]]'>
                    <span>
                        <oj-bind-text value="[[search]]"></oj-bind-text>
                    </span>
                </oj-button>
                <oj-button class="apBtn-2" on-oj-action='[[reset]]'>
                    <span>
                        <oj-bind-text value="[[clear]]"></oj-bind-text>
                    </span>
                </oj-button>
            </div>
        </div>

        <div>
              <style>
        table{
            width: 100%;
            border-collapse: collapse;
            font-family: Calibri,sans-serif;
        }
        table th{
            padding: .75rem;
        }
        .table td, .table th {
            padding: .75rem;
        }
        .tableHead th {
            text-align: center;
            background-color: #f2f2f2;
        }
		.tableHead2 th {
		   text-align: center;
		   background-color: #ffffff;
	   }
    
        .tbody-firstCell td {
            border: none;
            font-weight: bold;
        }
    
        .td-green {
            color: darkgreen;
            text-align: center;
        }
    
        .td-blue {
            color: #2F75B5;
            text-align: center;
        }
​
        .td-darkBlue{
            color: #20209A;
        }
    
        .td-red {
            color: red;
            text-align: center;
        }
    
        td {
            border: 2px solid #000;
            text-align: center;
        }
        .tbody-footerCell{
            background-color: #f2f2f2;
            font-weight: bold;
        }
        .bold{
            font-weight: bold;
        }
    </style>

          <table id="tableContent" class="table table-bordered" data-bind="foreach: Names">
        <thead>
            <tr class="tableHead">
                <th scope="col" colspan="9"><span data-bind="text : personName"</label></th>
            </tr>
        </thead>
        <tr class="tbody-firstCell" data-bind="foreach : personHead">
                          <td class="td-black"><span data-bind="text: Day"></span></td>
                          <td class="td-black"><span data-bind="text: Date"></span></td>
                          <td class="td-green"><span data-bind="text: checkedintime"></span></td>
                          <td class="td-black"><span data-bind="text : deviceintime"></span></td>
                          <td class="td-blue"><span data-bind="text: checkedouttime"></span></td>
                          <td class="td-black"><span data-bind="text: deviceouttime"></span></td>
                          <td class="td-black"><span data-bind="text : officialWorking"></span></td>
                          <td class="td-black"><span data-bind="text : actualWorking"></span></td>
                          <td class="td-red"><span data-bind="text:lateminutes"></span></td>
                    </tr>
                    <tbody data-bind="foreach: personData">
                       <tr class="tbody-secondCell" data-bind="visible:visiData">
                            <td class="vv"><span data-bind="text: day"></td>
                            <td class="vv"><span data-bind="text: punchDate">  </td>
                            <td class="vv"><span data-bind="text: checkedInTime"></td>
                            <td class="vv"><span data-bind="text: deviceInTime"></td>
                            <td class="vv"><span data-bind="text: checkedOutTime"></td>
                            <td class="vv"><span data-bind="text: deviceOutTime"></td>
                            <td class="vv"><span data-bind="text: officialWorkingHours"></td>
                            <td class="vv"><span data-bind="text: actualWorkingHours"></td>
                            <td class="vv"><span data-bind="text: lateMinutes"></td>
                        </tr>
                        <tr class="tbody-secondCell" data-bind="visible:visiNoOutPunch">
                            <td class="vv"><span data-bind="text: day"></td>
                            <td class="vv"><span data-bind="text: punchDate">  </td>
                            <td class="td-red bold" colspan="7"><span data-bind="text :day +'  ('+ punchDate+')  '+ label" ></span> </td>

                        </tr> 
                    </tbody>
                    
                   
                        <tr class="tbody-totalCell"  >
                            <td class="bold" colspan="3"><span data-bind="text : totalLbl "></span> :</td>
                            <td class="td-darkBlue" colspan="6"><span data-bind="text : hours + '   '+from + '   '+'('+ min +')'" ></span></td>
                        </tr>
                    
    </table>
    
            </div>

    </div>
</div>