<h1 class="header_headline_style"><span> <oj-bind-text value="[[ministryJob]]"></oj-bind-text> </span></h1>

<div class="request_body_styling animated fadeInUp" >
    <div class="form-row">
        <div class="form-group col-md-6 srjob-col-pad" >

            <label for="firstName" data-bind="text: jobName"/>

            <oj-select-one class="form-control" id="select" required="[[isRequired]]" 
                           placeholder="[[placeholder]]"
                           value="{{ministryJobSearch.jobName}}"
                           on-value-changed = "{{jobNameChangedHandler}}">
                <!-- ko foreach: jobsNames -->
                <oj-option value="[[value]]"> <span data-bind="text: label"> </span> </oj-option>
                <!-- /ko -->
            </oj-select-one>
        </div>

        <div class="form-group col-md-6 srjob-col-pad">
            <label for="firstName"  data-bind="text: generalGroupLbl "/>
            <oj-select-one class="form-control" id="select" required="[[isRequired]]" 
                           placeholder="[[placeholder]]"
                           value="{{ministryJobSearch.generalGroup}}"
                           on-value-changed = "{{groupChangedHandler}}">
                <!-- ko foreach: generalGroupList -->
                <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                <!-- /ko -->
            </oj-select-one>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 srjob-col-pad">

            <label for="personNumber" data-bind="text: jobTypeLbl "/>

            <oj-select-one id="select" class="form-control" placeholder="[[placeholder]]"
                           value="{{ministryJobSearch.jobClassificationType}}"
                           on-value-changed = "{{jobtypeChangedHandler}}">
                <!-- ko foreach: jobCatagoryList -->
                <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                <!-- /ko -->
            </oj-select-one>
        </div>

        <div class="form-group col-md-6 srjob-col-pad">
            <label for="personNumber" data-bind="text: jobTypeGroupLbl "/>
            <oj-select-one id="select" class="form-control"  placeholder="[[placeholder]]"
                           value="{{ministryJobSearch.seriesCategory}}"
                           on-value-changed = "{{seriesChangedHandler}}">
                <!-- ko foreach: generalTypeList -->
                <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                <!-- /ko -->
            </oj-select-one>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 srjob-col-pad">

            <label for="personNumber"  data-bind="text: SeriesCategories "/>

            <oj-select-one id="select" class="form-control"  placeholder="[[placeholder]]"
                           value="{{ministryJobSearch.qualityGroup}}"
                           on-value-changed = "{{seriesChangedHandler}}">
                <!-- ko foreach: jobNameList -->
                <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                <!-- /ko -->
            </oj-select-one>
        </div>


    </div>


    <div class="row">
        <div class="btn_row_st" align="center">
            <oj-button disabled="{{searchdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[searchPerson]]'>
                <span><oj-bind-text value="[[search]]"></oj-bind-text></span>
            </oj-button>
            <oj-button disabled="{{cleardisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[reset]]'>
                <span><oj-bind-text value="[[clear]]"></oj-bind-text></span>
            </oj-button>

        </div>
    </div>

</div>
<br>

<div id="train-container" class="request_body_styling animated fadeInUp" >

    <div class="oj-form-layout">
        <div>

            <div id="form-container" class="row">
                <div class="btn_row_st" align="center">

                    <oj-button class="apBtn-2" on-oj-action='[[addJob]]'>
                        <span><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[allJobs]]'>
                        <span><oj-bind-text value="[[alljobs]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                    </oj-button>

                    <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[updateJob]]'>
                        <span><oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                    </oj-button>

                    <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[viewJob]]'>
                        <span><oj-bind-text value="[[view]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                    </oj-button>

                    <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[detailsOfJob]]'>
                        <span><oj-bind-text value="[[additionalDetailsLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-check"></span>
                    </oj-button>

                    <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[openDialog]]'>
                        <span><oj-bind-text value="[[historyLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-eye"></span>
                    </oj-button>

                    <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[validGradeAction]]'>
                        <span><oj-bind-text value="[[validGradeLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-eye"></span>
                    </oj-button>

                    <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[openEffectiveDate]]'>
                        <span><oj-bind-text value="[[effectiveDate]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-eye"></span>
                    </oj-button>

                </div>
            </div>

        </div>

    </div>
    <br/>

    <div>
        <oj-table
            class="apTable-1"
            id='table' 
            aria-label='Departments Table'
            data='[[dataSource]]'
            selection-mode='{"row": "multiple", "column": "multiple"}'
            dnd='{"reorder": {"columns": "enabled"}}'
            scroll-policy-options='{"fetchSize": 10}'
            columns='[[columnArray]]'
            display = "grid"
            on-oj-before-current-row = "[[tableSelectionListener]]">
            <oj-paging-control id="paging" data='[[dataSource]]' page-size='10' slot='bottom' class="display-inline-flex">
            </oj-paging-control>
        </oj-table>

    </div>

</div>
<div id="componentDemoContent">
    <div id="dialogWrapper">
        <oj-dialog class="oj-dialog-content oj-dialog-default-content main-dialog" id="modalDialog1" >
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text: historyDetails"/>
            </div>
            <div slot="body" >
                <oj-table id="tbl12" aria-label="Approvals Table"
                          data='[[dataSourceTB2]]'
                          display = "grid"
                          class='apTable-1'
                          selectionMode = "{'row': 'single'}"
                          columns-default='{"sortable": "enabled"}'
                          dnd='{"reorder": {"columns": "enabled"}}'
                          columns='{{columnArray}}'>
                </oj-table>                
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[closeDialog]]'>
                    <span><oj-bind-text value="[[ok]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>


</div>
<div id="componentDemoContent">
    <div id="dialogWrapper"  >
        <oj-dialog class="main-dialog effective-dialog" id="effictiveDateDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label  data-bind="text: effectiveDate "/>
            </div>
            <div slot="body" >
                <div class="oj-flex" >
                    <div class="oj-flex-item" >
                        <label for="control1" data-bind="text: effectiveDate" show-required/>
                    </div> 
                    <div class="oj-flex-item" >
                        <oj-input-text id="datePickerStartDate1" value="{{dateEffictive}}">
                        </oj-input-text>
                    </div>

                    <div class="oj-flex-item" >
                        <label for="control1" data-bind="text: todayDay" show-required/>
                    </div> 
                    <div class="oj-flex-item" >
                        <oj-input-text id="datePickerStartDate2" value="{{currentDate}}" disabled="true" >
                        </oj-input-text>
                    </div>


                </div>                                       
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[closeDialogDate]]'>
                    <span><oj-bind-text value="[[ok]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[closeCancelDialog]]'>
                    <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[restEffectiveDate]]'>
                    <span><oj-bind-text value="[[resetLabel]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>
</div>