<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h3 class="title txt-start" data-bind= "text:label().mangeReceiptScreen"></h3>
<section class="sectionBody rounded-lg shadow-lg p-3">
<div class="oj-flex oj-flex-items-pad receiptInput txt-start">
    <div class="oj-md-6 oj-sm-12 oj-flex-item">
        <oj-label-value label-edge="start" >        
            <oj-label for="text-input" slot="label"><span data-bind= "text:label().recepitLbl"></span></oj-label>
            <oj-input-text  
                slot="value"
                value="{{customsModel.receiptVal}}"
                style="max-width:20em">

            </oj-input-text> 
        </oj-label-value>
    </div>
    <div class="oj-md-6 oj-sm-12 oj-flex-item">
        <oj-label-value label-edge="start" >  
            <oj-label for="text-input" slot="label"><span data-bind= "text:label().businessUnitLbl"></span></oj-label>
            <oj-select-one  
                slot="value"
                value="{{customsModel.businessUnitVal}}" 
               placeHolder="[[label().selectPlaceholder]]"
                options="[[customsModel.businessUnitArr]]"
                style="max-width:20em">
            </oj-select-one>
        </oj-label-value>
    </div>
    <div class="oj-md-6 oj-sm-12 oj-flex-item">
        <oj-label-value label-edge="start" >  
            <oj-label for="text-input" slot="label"><span data-bind= "text:label().POLbl"></span></oj-label>
            <oj-select-one 
                slot="value"
                value="{{customsModel.purchaseOrderVal}}" 
               placeHolder="[[label().selectPlaceholder]]"
                options="[[customsModel.purchaseOrdersArr]]"
                style="max-width:20em">
            </oj-select-one>
        </oj-label-value>
    </div>
</div>
<div class=" buttonPosition">
    <oj-button class="apBtn-2 apBtn-disabled btnStyle" 
               on-oj-action='[[searchBtnAction]]'>
     <span data-bind= "text:label().searchLbl"></span>
    </oj-button>   
    <oj-button class="apBtn-2 apBtn-disabled btnStyle"  on-oj-action='[[resetBtnAction]]'>
       <span data-bind= "text:label().resetLbl"></span>
    </oj-button>        
    <oj-button class="apBtn-2 apBtn-disabled btnStyle"  on-oj-action='[[returnBtnAction]]' disabled="{{customsModel.isDisabled}}">
     <span data-bind= "text:label().returnLbl"></span>
    </oj-button>        
    <oj-button class="apBtn-2 apBtn-disabled btnStyle"  on-oj-action='[[correctBtnAction]]'disabled="{{customsModel.isDisabled}}">
   <span data-bind= "text:label().correctLbl"></span>
    </oj-button>
</div>
<div class="">
    <oj-table id='table'
              class="tableStyle txt-start"
              aria-label='Table'
              data='[[pagingDataProvider]]'
              selection-mode='{"row": "single", "column": "single"}'
              scroll-policy-options='{"fetchSize": 10}'
              columns='[[columnArray]]'
              >
        <template slot="seqTemplate" data-oj-as="cell" type="hidden">
            <input type="hidden" class="hiddenkeyHolder" data-bind="value:cell.index" />
            <span data-bind="text:cell.index+1"></span>
        </template>
        <template slot="checkTemplate" data-oj-as="cell">
            <oj-checkboxset 
                value='[[handleCheckbox(cell.index,cell.row.seq)]]'
                class='oj-checkboxset-no-chrome oj-selection-checkbox '
                :id="[['table_checkboxset' + cell.index]]"
                :data-row-id="{{cell.index}}"
                :data-row-key="{{cell.row.id}}">

                <oj-option :id="[['table_checkbox' + cell.index]]" value="checked"></oj-option>
            </oj-checkboxset>   
        </template>
        <oj-paging-control class="pagingStyle" id="paging" data="[[pagingDataProvider]]" page-size="6" slot="bottom">
        </oj-paging-control>
    </oj-table>
</div>
</section>