<h3 class="title txt-start" data-bind="text: label().screenLbl"></h3>
<section class="sectionBody rounded-lg shadow-lg p-3">

    <div class="" data-bind="visible: selectedStepValue() =='stp1'">
        <div class="buttonPosition">
            <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[createReceiptBtnAction]]'>
                <span data-bind="text: label().createReceiptLbl"></span>
            </oj-button>
            <oj-button class="btnStyle" on-oj-action='[[cancelBtnAction]]'>
                <span data-bind="text: label().cancelLbl"></span>
            </oj-button>
        </div>

        <div class="">
            <oj-table id='tablestp1' class="tableStyle txt-start" aria-label='Table' data='[[dataprovider]]'
                edit-mode='rowEdit' edit-row='{{editRow}}' on-oj-before-row-edit='[[beforeRowEditListener]]'
                on-oj-before-row-edit-end='[[beforeRowEditEndListener]]' columns-default.sortable='disabled'
                selection-mode='{"row": "single", "column": "single"}' dnd='{"reorder": {"columns": "enabled"}}'
                scroll-policy-options='{"fetchSize": 10}' columns='[[columnArray]]' display="grid">

                <!--on-oj-before-current-row = "[[tableSelectionListener]]"-->
                <template slot="locIdTemplate" data-oj-as="cell">
                    <oj-bind-if test='[[cell.mode=="navigation"]]'>
                        <oj-bind-text value="[[numberConverter.format(cell.data)]]"></oj-bind-text>
                    </oj-bind-if>

                    <oj-bind-if test='[[cell.mode=="edit"]]'>
                        <oj-input-text id="it2" value="{{rowData.quantity}}" validators="[[validators]]">
                        </oj-input-text>
                    </oj-bind-if>
                </template>

                <template slot="attachmentTemplate" data-oj-as="cell">
                    <input id="example" type="button" class='btnStyle oj-button'
                        data-bind="value:label().AttachmentLbl"></input>
                </template>

                <template slot="seqTemplate" data-oj-as="cell" type="hidden">
                    <input type="hidden" class="hiddenkeyHolder" data-bind="value:cell.index" />
                    <span data-bind="text:cell.index+1"></span>
                </template>

                <template slot="actionTemplate" data-oj-as="cell">
                    <oj-bind-if test='[[cell.mode=="navigation"]]'>
                        <oj-button class="tableButtons" on-oj-action="[[handleUpdate]]"> <span
                                data-bind="text: label().actionTypeLbl"></span></oj-button>
                    </oj-bind-if>

                    <oj-bind-if test='[[cell.mode=="edit"]]'>
                        <oj-button on-oj-action="[[handleDone]]"> <span data-bind="text: label().saveLbl"></span>
                        </oj-button>
                    </oj-bind-if>
                </template>
            </oj-table>
        </div>
        <oj-dialog id="attachDialog" style="display:none;width:800px;">
            <div slot="header">
                <h5><span data-bind="text: label().attachmentsDialogLbl"></span></h5>
            </div>
            <div slot="body">
                <div class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label-value label-edge="start">
                        <oj-label slot="label"><span data-bind="text: label().attachmentLbl"></span></oj-label>
                        <oj-file-picker slot="value" id="filePicker3" class='oj-filepicker-custom' select-on='click'
                            on-oj-select='[[addFileSelectListener]]'>
                            <oj-button slot='trigger' class="btnStyle">
                                <span data-bind="text: label().addFileLbl"></span>
                            </oj-button>
                        </oj-file-picker>
                    </oj-label-value>


                    <oj-list-view slot="label" id="listview" aria-label="list using observable array"
                        data="[[dataProviderAttachment]]" selection-mode="single"
                        selection="{{customsModel.selectedItemsAttachment}}">
                        <template slot="itemTemplate">
                            <span>
                                <oj-bind-text value='[[$current.data.title]]'></oj-bind-text>
                            </span>
                        </template>
                    </oj-list-view>

                    <br>

                    <div class=" attBtnRow" text-align="center">
                        <oj-button disabled="{{customsModel.removeDisable}}" class="upload-pic"
                            on-oj-action='[[removeSelectedAttachment]]'>
                            <span slot='startIcon' class="oj-fwk-icon oj-fwk-icon-cross"></span>
                        </oj-button>
                    </div>
                </div>

            </div>
            <div slot="footer">
                <oj-button class="btnStyle" id="attacCancelBtn" on-oj-action="[[saveAttachmentBtn]]"><span
                        data-bind="text: label().okLbl"></span></oj-button>
                <oj-button class="btnStyle" id="attacCancelBtn" on-oj-action="[[canceldialogBtnAction]]"><span
                        data-bind="text: label().cancelLbl"></span></oj-button>
            </div>
            <div></div>
        </oj-dialog>

        <oj-dialog id="headerAttachments" style="display:none;width:800px;">
            <div slot="header">
                <h5><span data-bind="text: label().attachmentsDialogLbl"></span></h5>
            </div>
            <div slot="body">
                <div class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label-value label-edge="start">
                        <oj-label slot="label"><span data-bind="text: label().attachmentLbl"></span></oj-label>
                        <oj-file-picker slot="value" id="filePicker3" class='oj-filepicker-custom' select-on='click'
                            on-oj-select='[[addFileSelectListenerHeader]]'>
                            <oj-button slot='trigger' class="btnStyle">
                                <span data-bind="text: label().addFileLbl"></span>
                            </oj-button>
                        </oj-file-picker>
                    </oj-label-value>

                    <oj-list-view slot="label" id="listview" aria-label="list using observable array"
                        data="[[dataProviderAttachmentHeader]]" selection-mode="single"
                        selection="{{customsModel.selectedItemsAttachmentHeader}}">
                        <template slot="itemTemplate">
                            <span>
                                <oj-bind-text value='[[$current.data.FileName]]'></oj-bind-text>
                            </span>
                        </template>
                    </oj-list-view>

                    <br>

                    <div class=" attBtnRow" text-align="center">
                        <oj-button disabled="{{customsModel.removeDisable}}" class="upload-pic"
                            on-oj-action='[[removeSelectedAttachmentHeader]]'>
                            <span slot='startIcon' class="oj-fwk-icon oj-fwk-icon-cross"></span>
                        </oj-button>
                    </div>
                </div>


            </div>
            <div slot="footer">
                <oj-button class="btnStyle" id="attacCancelBtn" on-oj-action="[[attachmentHeaderSubmit]]"><span
                        data-bind="text: label().okLbl"></span></oj-button>
                <oj-button class="btnStyle" id="attacCancelBtn" on-oj-action="[[attachmentHeaderCancel]]"><span
                        data-bind="text: label().cancelLbl"></span></oj-button>
            </div>
            <div></div>
        </oj-dialog>
    </div>
</section>