@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";



 
body, af|document{
    
    background-color:#f3f3f3 !important;
    background-image:none ;
}

af|panelTabbed{
    text-align:center;
    color:#fff !important
 
}

af|panelTabbed::tab-content,
af|panelTabbed::tab:hover af|panelTabbed::tab-content
{
     border:none;
     color:#fff !important;
      width:100%;
      text-align:center;
 }
 af|panelTabbed::tab{
     background-color:rgb(153,153,153);
     color:#fff !important;
     margin-right:5px;
     width:111px;
     height:30px;
     border:none;
     text-align:center;
    
     
 }
 
 af|panelTabbed::tab af|panelTabbed::tab-content, af|panelTabbed::tab af|panelTabbed::body,  af|panelTabbed::tab a{
    color:#fff !important;
    text-align:center !important;
    width:100%
 }
 
 af|panelTabbed::tab:selected{
     background-color:#FFF;
     border-top:3px solid rgb(153,153,153);
     border-left:1px solid rgb(153,153,153);
     border-right:1px solid rgb(153,153,153);
      width:111px !important;
     height:30px;
 }
 
 af|panelTabbed::tab:selected af|panelTabbed::tab-content{
     border:none;
     float:none !important;
 }
 af|panelTabbed::tab-content div{
     float:none;
 }
 af|panelTabbed::tab:selected a{
     
   color:#666!important; 

 }
 
 a[aria-label="Select Date"],a[aria-label="Select Date and Time"]{
	 display: inline-block!important;
 }
 
af|button * {
    font-weight: bold;
}
af|button{

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
     color:#333 !important;
     text-shadow:none;
         background-color: #fff;
    border-color: #ccc;
   

border-radius:5px;
cursor: pointer;
    min-height: 22px !important;
    min-width:100px !important;
    text-align:center;
}
af|button:hover{
    color:#fff!important;
}


input[type="text"]{
   width: 190px;
height: 28px;
font-family: 'Lato Italic', 'Lato';
font-weight: 600;
font-size: 15px;
text-decoration: none;
color: #000000;
box-sizing: border-box;
}

input[type="password"]{
   width: 190px;
height: 28px;
font-family: 'Lato Italic', 'Lato';
font-weight: 400;
font-style: italic;
font-size: 12px;
text-decoration: none;
color: #000000;
padding: 1px 0px 1px 0px;
box-sizing: border-box;
}

select{
	     width: 90% !important;
    height: 25px !important;
    font-family: 'Lato Regular', 'Lato';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-decoration: none;
    color: #666666;
-webkit-appearance: menulist-button;
    border-color: rgb(153, 153, 153);
}



/* Spacer Images */



#pgl2{
    margin:0 auto;
        padding-bottom: 10px;
}

.savebtn:hover{
   color:rgba(0, 204, 51, 1) !important;
 
  border:1px solid rgba(0, 204, 51, 1) !important;
 
  
  
}

.deletebtn:hover{
    color:rgba(255, 51, 0, 1) !important;
      border:1px solid rgba(255, 51, 0, 1) !important;
 
  
  
}

.submitbtn:hover{
    color:rgba(51, 204, 255, 1) !important;
      border:1px solid rgba(51, 204, 255, 1) !important;
 
  
  
}

.p_AFDisabled{
     color:#ccc !important;
     
}

.p_AFDisabled:hover{
    color:#ccc !important;
      border:none!important;
 
}

/*a{
    display: initial !important;
}*/

h1{
    color:#43496C!important;
    font-size:17px!important;
    
}

h4 {
    font-size:25px!important;
    font-weight:bold!important;
    color:White!important;
}

.h3 {
    font-size:20px!important;
    font-weight:bold!important;
    color:White!important;
}

.h5 {
    font-size:20px!important;
    font-weight:bold!important;
}
font-size:20px!important;font-weight:bold!important;color:White!important;
textarea{
    /*width:710px!important;*/
}

.main_top_container{
    padding:10px;
}

div[role="grid"]{
    height:auto!important;
}
/******************* Top Header section ***************************/

/*@font-face {
  font-family: 'Helvetica Bold';

  src: url('../bootstrap-3.3.7-dist/fonts/HelveticaNeueLTArabic-Bold.tff');
  src: url('../bootstrap-3.3.7-dist/fonts/HelveticaNeueLTArabic-Bold.ttf') format('truetype');
}*/

/*@font-face {
  font-family: 'Helvetica Light';

  src: url('../bootstrap-3.3.7-dist/fonts/HelveticaNeueLTArabic-Light.ttf');
  src: url('../bootstrap-3.3.7-dist/fonts/HelveticaNeueLTArabic-Light.ttf') format('truetype');
}*/

/*@font-face {
  font-family: 'Helvetica Roman';

  src: url('../bootstrap-3.3.7-dist/fonts/HelveticaNeueLTArabic-Roman.ttf');
  src: url('../bootstrap-3.3.7-dist/fonts/HelveticaNeueLTArabic-Roman.ttf') format('truetype');
}*/

*{
    font-family:"Helvetica Roman" !important;
    font-weight:400;
    font-size:16px; 
}

th{
	background-color:rgb(66,185,131) !important;
	color:#fff!important;
}

th div {
	
	    height: 27px !important;
    vertical-align: middle;
    /*text-align: center;*/
}

/*td {
       text-align: center;
}*/

table.p_AFReadOnly{
        background: #f3f3f3;
    width: 190px;
        
}

table.p_AFReadOnly span{
    color:#a2a2a2;
    font-size: 11px;
}

.smallbtn{
    padding: 0px!important;
    margin:2px!important;
}

.search input{
   border: 0px!important;
    border-bottom: 2px solid #376a88!important;
    border-radius: 0px!important;
    font-size: 11px!important;
    width: 300px!important;
    padding-left: 5px!important;
        background: url('images/search-icon.png')!important;
}
.main_menu af|button{

    line-height: 40px !important;
    height: 40px !important;
    width: 176px !important;
    text-align: center !important;
    background-color:#376a88;
     background:#376a88;
	  color:#fff;
          font-weight:normal !important;
}

.main_menu af|button:hover{
color:#376a88;
}

.top_header{
    background-color: rgba(0, 0, 51, 1);
    width: 100%;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99999;
}
af|panelGroupLayout.top_header > tbody{
    width: 1200px;
    display: inherit;
    margin: 0 auto;
}
.left_top_header{
    float: left;   
}
.left_top_header af|image {
    height: 14px;
    margin-right: 5px;
}
.left_top_header .spliter{
    padding-left: 10px;
    padding-right: 10px;
}
.right_top_header{
    float: right;    
}
.right_top_header af|commandMenuItem{
    padding-top: 9px;
}
.right_top_header af|commandMenuItem::bar-item-text {
    color: white;
}
.right_top_header af|commandMenuItem:hover {
        background-color: transparent;
        border-color: transparent;        
}
.right_top_header af|commandMenuItem::bar-item-text:hover {
    color: #4D7C98; 
}
.right_top_header af|link::text{
    color: White;
   text-decoration: none;      
}
.right_top_header af|link::text:hover{
   color: #4D7C98; 
}
.right_top_header af|link{     
     cursor: default;
}
.right_top_header af|image {
    height: 11px;
    margin-right: 10px;
    margin-left: 3px;    
}

/******************* Middle Header section ***************************/
.mid_header{
    width: 100%;
    padding: 5px 0;
}
af|panelGroupLayout.mid_header > tbody{    
    width: 1200px;
    display: inherit;
    margin: 0 auto;
    margin-top: 43px;
}
.left_mid_header{
    float: left;    
}
.left_mid_header af|image {
    height: 70px;   
}
.right_mid_header{
    float: right;
}
.right_mid_header af|selectOneChoice::label{
    color: #666666;
    padding-bottom: 4px;
    font-weight: normal;
	
}
.right_mid_header af|selectOneChoice::content{
    width: 140px;
    height: 30px;   
	border:1px solid #ccc !important;
	border-radius:5px !important;
}
/******************* Center section ***************************/
.center_contianer{    
    width: 100%;
	
}
af|panelGroupLayout.center_contianer > tbody{
    width: 1200px;
    display: inherit;
    margin: 0 auto;
    padding-left: 50px;
}
.main_container{
    width:890px !important; 
    max-width:890px !important;
    overflow: hidden;    
}
.primary_menu{
    width: 100%;
    max-width: 100%;
    background-color:rgba(229, 229, 229, 1);
}

.primary_menu img {
    /*height: 3.1em;
    display:none;*/

}
.primary_menu table {
    padding: 0;  
}
.primary_menu af|commandMenuItem{
    background-color: rgb(29, 56, 90);   
    text-transform: uppercase;
    padding: 6px 0px;
    border-color: rgb(29, 56, 90);
    border-left: 1px solid rgb(230, 233, 235);
    border-radius: 0;
    min-height: auto;    
}
.primary_menu af|commandMenuItem::bar-item-text {
    color: rgb(230, 233, 235);
    font-weight: bold;
    display: inline-table !important;
    width: 147px;
    padding: 4px 0px 0px;
    height: 20px;
}
.primary_menu af|commandMenuItem:hover{
    border-color: #45658F;
    border-left-color: white;
    background-color: #45658F;    
}
.primary_menu af|commandMenuItem:hover::bar-item-text{
    color: White; 
}


div[role="dialog"] input,div[role="dialog"] select{
   width:auto!important;
}

af|calendar::list-activity-prev-icon{
    display:block!important;
}

.AFPopupSelectorContent{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(255,255,255) 3%, rgb(255,255,255) 16%, rgb(229,229,229) 94%);
    background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(255,255,255) 3%,rgb(255,255,255) 16%,rgb(229,229,229) 94%);
    background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(255,255,255) 3%,rgb(255,255,255) 16%,rgb(229,229,229) 94%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
    display: block;
    /*width: 865px;
    min-height: 320px;*/
}

.pop_up af|panelFormLayout::column{
    border-left: 1px solid #CCCCCC;
}
.pop_up af|panelFormLayout::column:first-child{
    border: none;
}
.pop_up af|button{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(255,255,255) 0%, rgb(229,229,229) 92%);
    background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(255,255,255) 0%,rgb(229,229,229) 92%);
    background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(255,255,255) 0%,rgb(229,229,229) 92%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
    border: none;
    width: 180px;
    padding-top: 15px; 
    padding-right: 10px;    
}
.pop_up af|button:hover{
    background-color: transparent !important;
}
.pop_up af|link{
    padding: 0px;
    padding-left: 20px;
}
.pop_up af|link::text{
    color: #999999;
    font-size: 11px;
}
.pop_up af|link::text:hover{
   color: rgb(255, 102, 0); 
}
.pop_up af|outputLabel{
    font-size: 12px;
    line-height: 12px;
    color: #333333;
    display: inline-block;
    padding-top: 15px;
    padding-left: 20px;
}

.pop_up af|panelGroupLayout.menu_colum > tbody>tr>td{    
    width: 225px;   
    vertical-align: top;
    position: relative;
    padding-right: 20px;
}
.pop_up af|panelGroupLayout.menu_colum > tbody>tr>td:after{
    content: "";
    width: 1px;
    height: 250px;
    background-color: #d6d6d6;
    position: absolute;
    top: 45px;
    right: 20px;
}
.pop_up af|panelGroupLayout.menu_colum > tbody>tr>td:last-child:after{
    content: none;
}
.pop_up af|panelGroupLayout.checkout_column > tbody>tr>td:after{
    content: none;
}
.pop_up af|panelGroupLayout.export_oil_column > tbody>tr>td:nth-child(2):after{    
    content: none;
}
.pop_up af|panelGroupLayout.checkout_column > tbody>tr>td:nth-child(2){    
    width: 450px;   
    padding-top: 50px;
}
.pop_up af|panelGroupLayout.import_column > tbody>tr>td:nth-child(2){
     padding-top: 50px;   
}
.pop_up af|panelGroupLayout.export_column > tbody>tr>td:nth-child(2){
    padding-top: 30px;    
}
.pop_up af|panelGroupLayout.export_column > tbody>tr>td:nth-child(3){
    padding-top: 13px;
}
.pop_up af|panelGroupLayout.export_oil_column > tbody>tr>td:nth-child(2),
.pop_up af|panelGroupLayout.export_oil_column > tbody>tr>td:nth-child(3){
    padding-top: 40px;    
}
.pop_up af|panelGroupLayout.transshippment_column > tbody>tr>td:nth-child(3){
     padding-top: 50px;   
}
.pop_up af|panelGroupLayout.transshippment_column > tbody>tr>td:nth-child(2){
     padding-top: 30px; 
     width: 180px;
}
.pop_up af|panelGroupLayout.transshippment_column > tbody>tr>td:nth-child(1){
     width: 270px;
}
.pop_up af|panelGroupLayout.transshippment_column > tbody>tr>td:nth-child(2):after{
     content: none;   
}
.pop_up .heading{
    font-weight: 700 !important;
    font-size: 15px !important;
    color: #006699 !important;
    padding-left: 19px !important;
    position: relative;
}
.pop_up .heading af|link::text{
    font-weight: 700 !important;
    font-size: 15px !important;
    color: #006699 !important;    
    position: relative;
}
.pop_up .heading:before {
    content: "";
    width: 13px;
    height: 13px;
    background-color: #006699;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.pop_up af|image{
    max-width: 200px;
    float: right;
}



.right_aside{
    width: 300px;
    margin-left: 10px;
}

.right_aside af|panelAccordion::header, af|panelAccordion::header-subsequent{
    height: 38px !important;
    padding: 0px;
    border-top: none;
}
.right_aside af|panelAccordion::icon-style{
   
}
.right_aside af|panelAccordion::header-title{
    font-size: 13px;
    color: White; 
    background-color: rgb(29, 56, 90);
    padding-left: 0px !important;
}
.right_aside af|panelAccordion::header-toolbar{
    background-color: rgb(29, 56, 90);
}
.right_aside af|panelAccordion::undisclosed-icon-style{
    display: none;
}
.right_aside af|panelAccordion::bottom-overflow-indicator{
    display: none !important;
}
.right_aside .acc-login af|panelFormLayout::column:first-child{
    width: 125px;    
}
.right_aside .acc-login af|panelFormLayout::column:nth-child(2){
    width: 160px;
    padding-left: 10px;
}
.right_aside .acc-login af|panelFormLayout::column:first-child  af|outputLabel{
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}
.right_aside .acc-login af|panelFormLayout::column:first-child  .active-port{
    padding: 5px 0px;
    display: inline-block;
}
.right_aside .acc-login af|panelFormLayout::column:nth-child(2) af|outputLabel{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.right_aside .acc-login af|panelFormLayout::column:nth-child(2) .active-port{
    padding: 5px;
    background-color: #EFEFEF;
    min-width: 90px;
    display: inline-block;
    text-align: left;
    box-shadow: 0px 0px 2px #777777;
}
.right_aside af|inputText::content{
    width: 280px !important;
    height: 55px !important;
    border-color: rgb(169, 169, 169);
    padding: 7px !important;
    margin-top: 7px !important;
    margin-bottom: 8px !important;
    color: #FF0000;
}
.right_aside af|panelList ul{
    padding-left: 45px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #333333;
}
.right_aside af|panelList ul li{
    margin-bottom: 5px;

}
.right_aside af|panelList::link{
     color: #333333;      
}
.right_aside af|panelList::link:hover{
     color: #333333;      
}
.fixed_tools{    
    width: 40px;
    position: fixed;
    top: 33%;
    right: 0;
}
.fixed_tools af|commandImageLink{
    border-bottom: 1px solid White;primary_menu
    display: inline-block;
}
.fixed_tools af|commandImageLink::image{
    width: 40px;
    height: auto;
}
.fixed_tools af|commandImageLink::image:hover{
    opacity: 0.7;
}

/******************* Working section ***************************/
.working_area{   
    padding: 10px 10px 30px !important ;
    display: block;
    background:#f5f5f5;
	background-color:#f5f5f5;
    min-height: 450px;
}
.working_area af|button{
    background-image: none;
    background-color: #F3F3F3;    
    min-height: auto;
    padding: 5px 2px;
    font-size: 13px;
    border-radius: 5px;
    border-color: #AEACAC;
    text-shadow: none;
    text-align: center;
}
.working_area af|button:hover{
    background-image: none;
    background-color: #F3F3F3 ;
    border-color: #AEACAC ;
    color: Black;
    font-size: 13px;
}
.working_area af|button.btn-blue{
    background-color: #3399FF;
    color: #FFF;
}
.working_area af|button.btn-blue:hover{
    background-color: #3399FF;
    color: #FFF;
}
.working_area af|inputText::content{
    height: 22px;
    min-width: 160px;
}
af|selectOneChoice::label{
    color: #666666;
    padding-bottom: 4px;
}
af|selectOneChoice::content{
    min-width: 160px;
    height: 22px;   
}

.porsts input{
  
  
   font-size:9px;
    width:45px!important;
    text-align: center!important;
}

.ports_name input{
        width: 179px;
    font-size: 9px;
    display: table-column-group;
    text-align: center!important;
}

span[class="gen_req_star xq"] label {
    color:red;
}




/* popup */
/*.tabbedpopup div{
    height:inherit!important;
}
.tabbedpopup div[role="dialog"] div{
    height:inherit!important;
}
div[role="dialog"] div{
    height:auto!important;
}
*/



div[role="dialog"] div af|button{
padding:0px!important;
}

/*.tabbedpopup div{
    height:inherit!important;
}*/



span.af_column_label-text {
  color:#fff!important;
}
div[role="dialog"] div[role="tabpanel"],div[role="dialog"] div[role="tabpanel"] div {
    /*height: inherit!important;*/
    color: #000!important;
}

div[role="dialog"] div[role="tabpanel"] * {
    color:#333;
}
div[role="dialog"] div[role="tabpanel"] a{
    color:#fff!important;
}
div[role="dialog"] div[role="tabpanel"] a.p_AFSelected{
    color:#000!important;
}

.doTabbedClass{
    text-align:left!important;
}

div[role="grid"] div {
    height: auto!important;
}


/* style class for readonly fields in the DO popup */
span.readonlyfield {
   background: #eee;
    padding: 4px;
    display: block;
    width: 100%;
    height: 18px;
    text-align: center;
}

/*
img[src="/TabadulWSProcessesApp-DeliveryOrderSeaProcess-context-root/adf/images/t.gif"] {
    width: 30px;
}
*/


/* Missing codes */


div[role="grid"] div {

    height: auto!important;

}
div[role="dialog"] div af|button{

    padding:0px!important;
}

td input[type="file"] {
    background: #274976 !important;
    }

   input[type="file"] {
    color: #fff9ef;
    font-size: 11px;
    width: 208px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
} 

.AFLabel:alias {
    text-align: right;
}
.panelSpacer {
    padding-left:205px;
}

.xt2{
        display: block;
}

.x17o, .x17r, .x17u {
    border: none;
    vertical-align: middle;
    display: inline;
    padding-right: 3px;
    padding-top: 14px;
}

tr.spaceUnder > td
{
  padding-bottom: 1em;
}

af|menuBar {
    
    padding-top: 5px;
}

af|menuBar::body {


}

input[disabled] {
    cursor: default;
    font-size: unset;
}



af|menuBar::item {
vertical-align: middle;
padding-left: 25px;
}

af|panelCollection::statusbar{
  display: none;
}
.showStatusBar af|panelCollection::statusbar{
  display: block;
}


af|menu::bar-item-open-icon-style {
    background-image: url("../images/select-arrow.png");
    height: 16px;
    width: 16px;
    padding-top: 2px;
}

af|menu::bar-item-text {

    color: #FFF;
    font-size:12px;
   
}

af|commandMenuItem {
     color: #FFF;
    font-size:12px;
}
af|commandMenuItem::bar-item-text {
     color: #FFF;
    font-size:12px;
}




af|menu::bar-item-text:hover {
    
    font-size: 12px;
    
}

af|menu::bar-item {
    padding: 1px;
    height: 20px;
}

af|menu::bar-item:highlighted {
    background-image: none;
    background: transparent;
    border: none;
    border-bottom: 2px solid #c00;
    padding: 0px;
}

af|menu::bar-item:depressed {
    background-image: none;
    background: transparent;
    border: none;
    border-bottom: 2px solid #c00;
        padding: 0px;
}

af|menu:highlighted af|menu::bar-item-open-icon-style {
    background-image: url("../images/select-arrow.png");
    padding-top: 2px;
}

af|menu:depressed af|menu::bar-item-open-icon-style {
    background-image: url("../images/select-arrow.png");
    padding-top: 2px;
}
af|menuBar
{
    overflow: visible !important;
    background: transparent;
    height: 25px;
}
af|commandMenuItem::menu-item-text {

    font-size: 12px;
    font-weight: 400;
    color: #fff;
    background-color: rgb(1,89,77);
    margin: 20px;
    width:200px;
    padding-right: 30px;
    padding: 20px;
    opacity: 0.9;
}
af|menu::child-container
{
    background-color:#f9f9fa;
    min-width: 180px;
    border-top: none;
}
af|commandMenuItem::menu-item-text:hover {
    
    background: rgb(66,185,131) !important;
}
af|commandMenuItem::menu-item-text:active {
    
    background:rgb(66,185,131) !important;
    font-size: 14px;
}
af|commandMenuItem::menu-item-icon-style {
    display: none;
}

af|commandMenuItem::menu-item-open-indicator {
    display: none;
}

af|commandMenuItem::menu-item-accelerator {
    display: none;
}