<div id="form-container" class="request_body_styling animated fadeInUp">
    <div class="oj-form">
        <oj-messages messages="[[messagesDataProvider]]" display="notification" position="[[position]]" on-oj-close="[[closeMessageHandler]]"></oj-messages>
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">

                <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                    <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[previousStep]]' disabled="[[currentStepValue() == 'stp1']]">
                    <span><oj-bind-text value="[[backLbl]]"></oj-bind-text></span>
                </oj-button>

            </div>
            <div class="oj-flex-bar-end">
                <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[nextStep]]' data-bind="visible: nextBtnVisible" disabled="[[currentStepValue() == 'stp2']]">
                    <span><oj-bind-text value="[[nextLbl]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2 apBtn-disabled-2"  on-oj-action='[[submitButton]]' disabled="{{disableBtnSubmit}}" data-bind="visible: addBtnVisible">
                    <span><oj-bind-text value="[[submitLbl]]"></oj-bind-text></span>
                </oj-button>

                <div id="sampleDemo" class="demo-padding demo-container"></div>
                <div id="dialogWrapper">
                    <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
                        <div slot="header" class="oj-helper-clearfix">
                            <label data-bind="text: confirmMessage"></label>
                        </div>

                        <div slot="body">
                            <label data-bind="text: validationMessage"></label>
                        </div>
                        <div slot="footer">
                            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[commitRecord]]'>
                                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                            </oj-button>

                            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButton]]'>
                                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                            </oj-button>
                        </div>
                    </oj-dialog>
                    
                    <!--icon attachment viewer-->
                    <oj-dialog style="display:none" id="attachmentDialog" title="Attachment Viewer" cancel-behavior='none'>
                        <div slot="body">
                            <img data-bind="attr:{src: attachmentViewerData}"
                                 alt="bulleted list image"
                                 width="200" height="200"/>
                        </div>
                        <div slot="footer">
                            <oj-button id="okButton" on-oj-action="[[closeAttachmentViewer]]">OK
                            </oj-button>
                        </div>
                    </oj-dialog>
                    <!--//////////////////-->
                </div>
                <div id="dialogWrapper">
                    <oj-dialog class="main-dialog main-dialog-width" id="NoDialog">
                        <div slot="header" class="oj-helper-clearfix">
                            <label  data-bind="text: confirmMessage"></label>
                        </div>

                        <div slot="body">
                            <label data-bind="text: validationMessage"></label>
                        </div>
                        <div slot="footer">
                            <oj-button class="apBtn-2" on-oj-action='[[cancelButtonDialog]]'>
                                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                            </oj-button>
                        </div>
                    </oj-dialog>
                </div>
            </div>
        </div>
    </div>
    <div id="train-container">
        <div>
            <oj-train id="train"
                      selected-step="{{currentStepValue}}" steps="[[stepArray]]"
                      class="oj-train-stretch"
                      on-oj-before-select="[[stopSelectListener]]"/>
        </div>

        <br/>

        <h3 id="currentStepText" data-bind="text: currentStepValueText()"></h3>
        <div class="oj-form-layout">
            <oj-validation-group id="tracker" valid="{{groupValid}}">
                <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                    <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">
                        <div class="oj-flex-item">
                            <label for="eitName" data-bind="text: selfService "/>
                        </div>
                        <div class="oj-flex-item">

                            <oj-select-one id="select" required="[[isRequired]]" 
                                           placeholder="[[placeholder]]"
                                           value="{{manageSetupModel.selfSerivce}}"
                                           disabled="{{isDisabled}}"
                                           options="{{EitNameArr}}"
                                           >
                            </oj-select-one>
                        </div>
                        <div class="oj-flex-item">
                            <label  data-bind="text: descriptionArLbl "/>
                        </div>
                        <div class="oj-flex-item">

                            <oj-text-area  required="[[isRequired]]"
                                           value="{{manageSetupModel.descriptionAr}}"
                                           disabled="{{isDisabled}}">
                            </oj-text-area>
                        </div>
 
                        <div class="oj-flex-item">
                            <label  data-bind="text: descriptionEnLbl "/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-text-area    required="[[isRequired]]"
                                             value="{{manageSetupModel.descriptionEn}}"
                                              disabled="{{isDisabled}}"
                                            >     
                            </oj-text-area> 
                        </div>
                        <div class="oj-flex-item">
                            <label  data-bind="text: selfServiceConfMessageArLbl "/>
                        </div>
                        <div class="oj-flex-item">

                            <oj-text-area  required="[[isRequired]]"                                          
                                           value="{{manageSetupModel.selfServConfMessageAr}}" 
                                            disabled="{{isDisabled}}"
                                            >
                            </oj-text-area>
                        </div>
                        <div class="oj-flex-item" >
                            <label  data-bind="text: selfServiceConfMessageEnLbl "/>
                        </div>
                        <div class="oj-flex-item" >
                            <oj-text-area   
                                            required="[[isRequired]]"
                                            value="{{manageSetupModel.selfServConfMessageEn}}"  
                                            disabled="{{isDisabled}}">
                            </oj-text-area>

                        </div>
                        
                                                
                        <div class="oj-flex-item">
                            <label  data-bind="text: selfServDraftMessageArLbl "/>
                        </div>
                        <div class="oj-flex-item">

                            <oj-text-area  required="[[isRequired]]"                                          
                                           value="{{manageSetupModel.selfServDraftMessageAr}}" 
                                           disabled="{{isDisabled}}"
                                           >
                            </oj-text-area>
                        </div>
                        <div class="oj-flex-item" >
                            <label  data-bind="text: selfServDraftMessageEnLbl "/>
                        </div>
                        <div class="oj-flex-item" >
                            <oj-text-area   
                                required="[[isRequired]]"
                                value="{{manageSetupModel.selfServDraftMessageEn}}"  
                                disabled="{{isDisabled}}">
                            </oj-text-area>

                        </div>
                        
                       <!--reject confirm-->
                       <div class="oj-flex-item" >
                            <label  data-bind="text: RejectConfirmMessageEnLbl "/>
                        </div>
                        <div class="oj-flex-item" >
                            <oj-text-area   
                                            required="[[isRequired]]"
                                            value="{{manageSetupModel.rejectConfirmMessageVal}}"  
                                            disabled="{{isDisabled}}">
                            </oj-text-area>

                        </div>
                       <div class="oj-flex-item" >
                            <label  data-bind="text: RejectConfirmMessageArLbl "/>
                        </div>
                        <div class="oj-flex-item" >
                            <oj-text-area   
                                            required="[[isRequired]]"
                                            value="{{manageSetupModel.rejectConfirmMessageArVal}}"  
                                            disabled="{{isDisabled}}">
                            </oj-text-area>

                        </div>
                       <!--reject confirm-->
                       <!-- attachment -->
                        <div class="oj-flex-item">                            
                            <span slot='endIcon'  ><oj-bind-text value="[[attachmentLbl]]"></oj-bind-text></span>
                        </div>
                        <div class="form_field_dy_style attachedFileRow">
                            <div class="form-group row formFieldRow ">
                                <oj-file-picker class="oj-filepicker-custom col-sm-4 col-form-label" required  
                                                select-on="click"
                                                selection-mode="single" 
                                                on-oj-select='[[attachmentSelectListener]]'
                                                
                                                >
                                    <oj-button slot='trigger' chroming='half' disabled="{{isDisabled}}">
                                        <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-arrowbox-n'><oj-bind-text value="[[UploadFileLbl]]"></oj-bind-text> </span>
                                    </oj-button>
                                </oj-file-picker>
                                <div class="col-sm-8">
                                    <oj-list-view id="listview" aria-label="list using observable array" 
                                                  data="[[dataProviderAttachment]]" selection-mode="single" selection="{{selectedItemsAttachment}}">
                                        <template slot="itemTemplate">
                                            <span>
                                                <oj-bind-text value='[[$current.data.name]]'></oj-bind-text>
                                            </span>
                                        </template>
                                    </oj-list-view>
                                    <div class="oj-flex-item attBtnRow" text-align="center">
                                        <oj-button    class="apBtn-2 apBtn-disabled-2" on-oj-action='[[removeSelectedAttachment]]' disabled="{{attachBtnsDisabled}}">
                                            <span><oj-bind-text value="[[removeBtnLbl]]"></oj-bind-text></span>
                                        </oj-button>
                                        <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[openAttachmentViewer]]' disabled="{{attachBtnsDisabled}}">
                                            <span><oj-bind-text value="[[viewLbl]]"></oj-bind-text></span>
                                        </oj-button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        
                        
                        
                        
                    </div>


                </div>
            </oj-validation-group>
        </div>
    </div>

</div>