<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div>
    <oj-messages messages="[[messagesDataProvider]]" display="notification" position="[[position]]"
        on-oj-close="[[closeMessageHandler]]"></oj-messages>
</div>
<h1 class="header_headline_style"><span>
        <oj-bind-text value="[[labels().pageTitle()]]"></oj-bind-text>
    </span></h1>
<div class="oj-form-layout oj-panel">
    <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

        <div class="apBtnGroup" style='margin: 0 !important;'>
            <div class="row" style="display: inline-block;">
                <oj-button class="apBtn-2" on-oj-action='[[addActionBtn]]'>
                    <span>
                        <oj-bind-text value="[[labels().add()]]"></oj-bind-text>
                    </span>
                    <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                </oj-button>

                <oj-button id='approval-btn' disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2"
                    on-oj-action='[[viewApprovalListActionBtn]]'>
                    <span>
                        <oj-bind-text value="[[labels().approval_list()]]"></oj-bind-text>
                    </span>
                    <span slot='endIcon' class="apiconClass fa fa-list-ul oj-button-icon oj-end"></span>
                </oj-button>

                <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2"
                    on-oj-action='[[editActionBtn]]'>
                    <span>
                        <oj-bind-text value="[[labels().edit()]]"></oj-bind-text>
                    </span>
                    <span slot='endIcon' class="apiconClass fa fa-edit"></span>
                </oj-button>

                <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2"
                    on-oj-action='[[viewActionBtn]]'>
                    <span>
                        <oj-bind-text value="[[labels().view()]]"></oj-bind-text>
                    </span>
                    <span slot='endIcon' class="apiconClass fa fa-eye oj-button-icon oj-end"></span>
                </oj-button>


            </div>
        </div>
        <div>
            <oj-table id='table' class='apTable-1' aria-label='Departments Table' data='[[dataSource]]'
                selection-mode='{"row": "multiple", "column": "multiple"}' dnd='{"reorder": {"columns": "enabled"}}'
                display="grid" on-oj-before-current-row="[[tableSelectionListener]]"
                columns='{{labels().columnArray()}}'>
                <oj-paging-control id="paging" class='apPaging-1' data='[[dataSource]]' page-size='5' slot='bottom'>
                </oj-paging-control>
            </oj-table>
        </div>
    </div>
    <oj-button class="apBtn-2 apBtn-disabled-2 DybackBtnStyle" on-oj-action='[[backActionBtn]]'>
        <span slot='endIcon' class="apiconClass fa fa-arrow-left"></span>
        <span>
            <oj-bind-text value="[[labels().back]]"></oj-bind-text>
        </span>

    </oj-button>
</div>

<!-- approval dialog -->
<div id="dialogWrapper">
    <oj-dialog class="oj-dialog-content oj-dialog-default-content main-dialog effective-dialog approvalDialogHandover" id="approvalDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text:labels().approval_list()"></label>
        </div>
        <div slot="body" id="demo">

            <!-- ko foreach: datacrad -->
            <div class="approval-card-body app-crd-bdy-received app-crd-bdy-border-ar" data-bind="css: bodyStatus">
                <div class="approval-card-header">
                    <h5 class="app-card-Pname"><span data-bind="text: personName"></span> </h5>
                    <p class="app-crd-type  badge badge-secondary" data-bind="css: status">
                        <span data-bind="text: FYA"></span></p>
                </div>
                <div class=" row approval-card-inf-body">
                    <div class="col-md-6">
                        <span class="badge badge-pill app-card-badge" data-bind="css: appCardStatus">
                            <span data-bind="text: Approved"></span></span> </div>

                    <div class="col-md-6">
                        <blockquote class="blockquote app-card-blockqoute">
                            <footer class="blockquote-footer"> <small>
                                    <span data-bind="text: date"></span></small></footer>
                        </blockquote>
                    </div>
                </div>
                <h5><span data-bind="text: rejectReason"></span> </h5>
            </div>
            <!-- /ko -->

        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[approvalDialogCloseAction]]'>
                <span>
                    <oj-bind-text value="[[labels().ok()]]"></oj-bind-text>
                </span>
            </oj-button>
        </div>
    </oj-dialog>
</div>