<h5 style='font-size: xx-large;'><b class="handOverPagInfoType" data-bind="text: labels().pageTitle()"></b>
</h5>
<div id="form-container" class="request_body_styling animated fadeInUp">

    <div class="oj-form">
        <oj-messages messages="[[messagesDataProvider]]" display="notification" position="[[position]]"
            on-oj-close="[[closeMessageHandler]]"></oj-messages>

        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">
                <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                    <span>
                        <oj-bind-text value="[[labels().back()]]"></oj-bind-text>
                    </span>
                </oj-button>
                <oj-bind-if test='[[previousBtnVisible]]'>
                    <oj-button class="apBtn-2" on-oj-action="[[previousStep]]">
                        <span>
                            <oj-bind-text value="[[labels().perviousLbl()]]"></oj-bind-text>
                        </span>
                    </oj-button>
                </oj-bind-if>
            </div>



            <div class="oj-flex-bar-end">
                <oj-bind-if test='[[currentStepValue() == "stp1"]]'>
                    <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action="[[nextStep]]">
                        <span>
                            <oj-bind-text value="[[labels().nextLbl()]]"></oj-bind-text>
                        </span>
                    </oj-button>
                </oj-bind-if>
                <oj-bind-if test='[[submitBtnVisible]]'>
                    <oj-button class="apBtn-2" on-oj-action="[[submitActionBtn]]">
                        <span>
                            <oj-bind-text value="[[labels().submitLbl()]]"></oj-bind-text>
                        </span>
                    </oj-button>
                </oj-bind-if>

                <!-- buttons for approval -->
                <oj-bind-if test='[[approvalsBtnVisible]]'>
                    <div class="oj-flex-item">
                        <oj-button class="apBtn-2" on-oj-action='[[approveActionBtn]]'>
                            <span>
                                <oj-bind-text value="[[labels().approveLbl()]]"></oj-bind-text>
                            </span>
                        </oj-button>

                        <oj-button class="apBtn-2" on-oj-action="[[rejectActionBtn]]">
                            <span>
                                <oj-bind-text value="[[labels().rejectLbl()]]"></oj-bind-text>
                            </span>
                        </oj-button>
                    </div>
                </oj-bind-if>
            </div>
        </div>
    </div>

    <!-- ///// train  -->
    <oj-bind-if test='[[trainVisibility]]'>
        <div>
            <oj-train id="train" selected-step="{{currentStepValue}}" steps="[[labels().stepArray()]]"
                class="oj-train-stretch" on-oj-before-select="[[stopSelectListener]]" />
        </div>
    </oj-bind-if>
    <br>
    <!-- ////  main form after back button -->
    <h5><b class="handOverPagInfoType" style='font-size: x-large;' data-bind="text: labels().employeeInformation()"></b>
    </h5>
    <div id="employeeInfo" style="padding-top: 20px;">

        <!--  employee information -->
        <div class='row'>
            <div class='col-md-4 col-sm-6 col-xs-6'>
                <h5><b class="handOverPagInfoType" data-bind="text: labels().employeeIdLbl()"></b></h5>
                <!-- <h6 data-bind="text: probationDataModel.employeeName"></h6> -->
                <oj-input-text class='handOverPagInput' disabled="true" value='[[handOverDataModel.employeeNumber]]'>
                </oj-input-text>
            </div>
            <div class='col-md-4 col-sm-6 col-xs-6'>
                <h5><b class="handOverPagInfoType" data-bind="text: labels().employeeNameLbl()"></b></h5>
                <!-- <h6 data-bind="text: probationDataModel.employeeId"></h6> -->
                <oj-input-text class='handOverPagInput' disabled="true" value='[[handOverDataModel.employeeName]]'>
                </oj-input-text>
            </div>
            <div class='col-md-4 col-sm-6 col-xs-6'>
                <h5><b class="handOverPagInfoType" data-bind="text: labels().employeeDepartmentLbl()"></b>
                </h5>
                <!-- <h6 data-bind="text: probationDataModel.employeeEmail"></h6> -->
                <oj-input-text class='handOverPagInput' disabled="true"
                    value='[[handOverDataModel.employeeDepartment]]'></oj-input-text>
            </div>
        </div>
        <hr>
        <!-- ////////////////////////////// -->
        <div class='row'>
            <div class='col-md-4 col-sm-6'>
                <h5><b class="handOverPagInfoType" data-bind="text: labels().employeePositionLbl()"></b></h5>
                <!-- <h6 data-bind="text: probationDataModel.employeeDepartment"></h6> -->
                <oj-input-text class='handOverPagInput' disabled="true" value='[[handOverDataModel.employeePosition]]'>
                </oj-input-text>
            </div>
            <div class='col-md-4 col-sm-6'>
                <h5><b class="handOverPagInfoType" data-bind="text: labels().employeeNationalityLbl()"></b>
                </h5>
                <!-- <h6 data-bind="text: probationDataModel.employeePosition"></h6> -->
                <oj-input-text class='handOverPagInput' disabled="true"
                    value='[[handOverDataModel.employeeNationality]]'></oj-input-text>
            </div>
            <div class='col-md-4 col-sm-6'>
                <h5><b class="handOverPagInfoType" data-bind="text: labels().managerLbl()"></b> </h5>
                <!-- <h6 data-bind="text: probationDataModel.employeeNationality"></h6> -->
                <oj-input-text class='handOverPagInput' disabled="true" value='[[handOverDataModel.employeeManager]]'>
                </oj-input-text>
            </div>
        </div>
        <hr>
        <!-- ////////////////////////////// -->
        <oj-validation-group id="tracker">
            <div class='row'>
                <div class='col-md-4 col-sm-6'>
                    <h5><b class="handOverPagInfoType" data-bind="text: labels().handOver1Lbl()"></b> </h5>
                    <!-- <h6 data-bind="text: probationDataModel.manager"></h6> -->
                    <oj-select-one class='handOverPageSelectOne' id="select" style="max-width:20em" required
                        disabled='[[fieldsDisabled]]' value='{{handOverDataModel.handoverTo1}}'
                        placeholder="[[placeHolder]]">
                        <oj-bind-for-each data="{{handOverList}}">
                            <template>
                                <oj-option value="[[$current.data.value]]">
                                    <span>
                                        <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                                    </span>
                                </oj-option>
                            </template>
                        </oj-bind-for-each>
                    </oj-select-one>
                </div>
                <div class='col-md-4 col-sm-6'>
                    <h5><b class="handOverPagInfoType" data-bind="text: labels().handOver2Lbl()"></b> </h5>
                    <!-- <h6 data-bind="text: probationDataModel.hireDate"></h6> -->
                    <oj-select-one class='handOverPageSelectOne' id="select" style="max-width:20em"
                        disabled='[[fieldsDisabled]]' value='{{handOverDataModel.handoverTo2}}'
                        placeholder="[[placeHolder]]">
                        <oj-bind-for-each data="[[handOverList]]">
                            <template>
                                <oj-option value="[[$current.data.value]]">
                                    <span>
                                        <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                                    </span>
                                </oj-option>
                            </template>
                        </oj-bind-for-each>
                    </oj-select-one>
                </div>
                <div class='col-md-4 col-sm-6'>
                    <h5><b class="handOverPagInfoType" data-bind="text: labels().handOver3Lbl()"></b>
                    </h5>
                    <!-- <h6 data-bind="text: probationDataModel.evaluationDate"></h6> -->
                    <oj-select-one class='handOverPageSelectOne' id="select" style="max-width:20em"
                        disabled='[[fieldsDisabled]]' value='{{handOverDataModel.handoverTo3}}'
                        placeholder="[[placeHolder]]">
                        <oj-bind-for-each data="[[handOverList]]">
                            <template>
                                <oj-option value="[[$current.data.value]]">
                                    <span>
                                        <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                                    </span>
                                </oj-option>
                            </template>
                        </oj-bind-for-each>
                    </oj-select-one>
                </div>
            </div>
            <hr>
            <!-- /////////////////////////////// -->
            <div class='row'>
                <div class='col-md-4 col-sm-6'>
                    <h5><b class="handOverPagInfoType" data-bind="text: labels().reasonLbl()"></b></h5>
                    <oj-select-one class='handOverPageSelectOne' id="select" style="max-width:20em" required
                        disabled='[[fieldsDisabled]]' value='{{handOverDataModel.reason}}'
                        placeholder="[[placeHolder]]">
                        <oj-bind-for-each data="[[reasonList]]">
                            <template>
                                <oj-option value="[[$current.data.value]]">
                                    <span>
                                        <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                                    </span>
                                </oj-option>
                            </template>
                        </oj-bind-for-each>
                    </oj-select-one>
                </div>
                <div class='col-md-4 col-sm-6'>
                    <h5><b class="handOverPagInfoType" data-bind="text: labels().notesLbl()"></b>
                    </h5>
                    <!-- <h6 data-bind="text: probationDataModel.employeePosition"></h6> -->
                    <oj-text-area disabled='[[fieldsDisabled]]' class='handOverPagInput'
                        value='{{handOverDataModel.notes}}'></oj-text-area>
                </div>
            </div>
        </oj-validation-group>
        <!-- //////////////////////// -->
    </div>
    <hr>
    <!-- tasks form -->

    <div id='tasks' style='padding-top: 10px;'>
        <h5><b class="handOverPagInfoType" style='font-size: x-large;' data-bind="text: labels().tasks()"></b></h5>

        <div id='table1'>


            <!-- <oj-table id="tasksTable" class='apTable-1 handover'  aria-label="Departments Table" data='[[dataprovider]]' 
            edit-mode='rowEdit' edit-row='{{editRow}}' on-oj-before-row-edit='[[beforeRowEditListener]]'
                on-oj-before-row-edit-end='[[beforeRowEditEndListener]]'
                columns-default.sortable='disabled'columns='[[labels().columnArray]]'>

                <template slot="removeBtnTemplate" data-oj-as="cell">
                    <oj-bind-if test='[[fieldsDisabled() !== true]]'>
                    <oj-button on-oj-action="[[tableBtnRemove]]" id='removeTableRow' class='idpPageRemoveBtnTable' style="width:5em;margin-bottom: 0px;"><span class="fa fa-minus"></span></oj-button>
                    </oj-bind-if>
                </template>
                <template slot="taskNameTemplate" data-oj-as="cell">
                    <oj-bind-if test='[[cell.mode=="navigation"]]'>
                        <oj-bind-text value="[[cell.data]]"></oj-bind-text>
                    </oj-bind-if>

                    <oj-bind-if test='[[cell.mode=="edit"]]'>
                        <oj-text-area id="it1" value="{{rowData.taskName}}" disabled="[[fieldsDisabled]]"></oj-text-area>
                    </oj-bind-if>
                </template>

                <template slot="statusTemplate" data-oj-as="cell">
                    <oj-bind-if test='[[cell.mode=="navigation"]]'>
                        <oj-bind-text value="[[cell.data]]"></oj-bind-text>
                    </oj-bind-if>

                    <oj-bind-if test='[[cell.mode=="edit"]]'>
                        <oj-select-one id="so1" aria-label="type" value='{{rowData.status}}' disabled="[[fieldsDisabled]]" options="[[tasksStatusArray]]">
                        </oj-select-one>
                    </oj-bind-if>
                </template>

                <template slot="docTypeTemplate" data-oj-as="cell">
                    <oj-bind-if test='[[cell.mode=="navigation"]]'>
                        <oj-bind-text value="[[cell.data]]"></oj-bind-text>
                    </oj-bind-if>

                    <oj-bind-if test='[[cell.mode=="edit"]]'>
                        <oj-select-one id="so2" aria-label="type" value='{{rowData.documentType}}' disabled="[[fieldsDisabled]]" options="[[tasksDocTypeArray]]">
                        </oj-select-one>
                    </oj-bind-if>
                </template>

                <template slot="editBtnTemplate" data-oj-as="cell">
                    <oj-bind-if test='[[cell.mode=="navigation"]]'>
                        <oj-button on-oj-action="[[tableBtnEdit]]" style="width:5em;margin-bottom: 0px;"><span>Edit</span></oj-button>
                      </oj-bind-if>
                  
                      <oj-bind-if test='[[cell.mode=="edit"]]'>
                        <oj-button on-oj-action="[[tableBtnSave]]" style="width:5em;margin-bottom: 0px;"><span>Save</span></oj-button>
                      </oj-bind-if>
                </template>

            </oj-table>
            <oj-bind-if test='[[fieldsDisabled() !== true]]'>
                <oj-button class="apBtn-2 handOverPageTableAddRow" on-oj-action='[[addNewRowAction]]'>
                    <span class="fa fa-plus" style='padding:5px'></span>
                    <span data-bind="text : labels().addNewRow()" style='padding:0px'></span>
                </oj-button>
            </oj-bind-if> -->
            <table class="idbPageTable table-hover" id="myTable">
                <thead>
                    <tr>
                        <th><span></span></th>
                        <th><span data-bind="text :labels().taskName()"></span></th>
                        <th><span data-bind="text :labels().status()"></span></th>
                        <th><span data-bind="text :labels().documentType()"></span></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <oj-bind-if test='[[fieldsDisabled() !== true]]'>
                <oj-button class="apBtn-2 handOverPageTableAddRow" on-oj-action='[[addNewRowAction]]'>
                    <span class="fa fa-plus" style='padding:5px'></span>
                    <span data-bind="text : labels().addNewRow()" style='padding:0px'></span>
                </oj-button>
            </oj-bind-if>

        </div>
        <hr>
    </div>
    <div id="dialogWrapper">
        <oj-dialog class="main-dialog main-dialog-width" id="submitDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text: labels().submitTitle()"></label>
            </div>

            <div slot="body">
                <label data-bind="text: labels().submitMessage()"></label>
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[submitYes]]'>
                    <span>
                        <oj-bind-text value="[[labels().yes()]]"></oj-bind-text>
                    </span>
                </oj-button>

                <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[submitNo]]'>
                    <span>
                        <oj-bind-text value="[[labels().no()]]"></oj-bind-text>
                    </span>
                </oj-button>
            </div>
        </oj-dialog>

        <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text: labels().confirmMessage() " />
            </div>
            <div slot="body">
                <label data-bind="text: labels().approveMessage() " />
            </div>
            <div slot="footer">
                <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2"
                    on-oj-action='[[updateHandoverRequest]]'>
                    <span>
                        <oj-bind-text value="[[labels().yes()]]"></oj-bind-text>
                    </span>
                </oj-button>

                <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2"
                    on-oj-action='[[cancelButton]]'>
                    <span>
                        <oj-bind-text value="[[labels().no()]]"></oj-bind-text>
                    </span>
                </oj-button>
            </div>
        </oj-dialog>

        <oj-dialog class="main-dialog main-dialog-width" id="rejectDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text: labels().confirmMessage() " />
            </div>
            <div slot="body">
                <label data-bind="text: labels().rejectMessage() " />
            </div>
            <div slot="footer">
                <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2"
                    on-oj-action='[[rejectRewaardRequst]]'>
                    <span>
                        <oj-bind-text value="[[labels().yes()]]"></oj-bind-text>
                    </span>
                </oj-button>

                <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2"
                    on-oj-action='[[rejectCancelButton]]'>
                    <span>
                        <oj-bind-text value="[[labels().no()]]"></oj-bind-text>
                    </span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>
</div>