<div class="reservation-page loading">

    <img  style="width:250px" src="css/images/under_develop.png"/>
    <div style="margin-left: 40px; color: #44b6e2;">
        <h1 class="text-center">Under development...</h1>
    </div>

</div>