<div id="sampleDemo" style="" class="demo-padding demo-container landing-page">
    <div class="back_v" data-bind="click: backBtn">
        
        <img src="css/images/back_for_v.png"> 
    
    </div>
    <div style="" class="landing-logo">
      <img src="css/images/STClogo0.png" />
    </div>
    
    <div style="text-align: center ;padding-top: 35px" class="mid-logo">
      <img src="css/images/home-logo.png" />
    </div>

    <div id="componentDemoContent" class="land-input" style="width: 1px; min-width: 70%;">
      <div id="div1">
        <oj-input-text placeholder="Link" id="text-input" ></oj-input-text>              
      </div>
    </div>

    <div id="componentDemoContent" class="land-input" style="width: 1px; min-width: 70%;">  
      <div id="containerDiv">
        <oj-label for="basicSelect">Select Lang</oj-label>
        <oj-select-one id="basicSelect" class="dropdown-list" on-value-changed = "{{changeLanguageChangedHandler}}"  >
          <oj-option value="ar">Arabic</oj-option>
          <oj-option value="ee">English</oj-option>
        </oj-select-one>
      </div>
    </div>

    <div style="text-align: center;    padding-top: 25px">
        <oj-button class="main-btn" id='button1' on-oj-action='[[SaveLang]]' style="border-radius: 30px"><span data-bind="text:SaveLbl"></span></oj-button>
      <!--<oj-button on-oj-action='[[active_fingerprint]]' id="activebutton">Turn On</oj-button>-->
      <p>FingerPrint Authentication</p>
 <oj-switch value="{{switchBtn}}" on-value-changed="{{switch_handler}}" label-hint="Enabled value true"></oj-switch>
    </div>
    
<div> 
        <!--<p>If you want to activate fingerprint<br> Authentication Turn on Button and make setting in your device</p>-->
<!--        <oj-switch id="switch" value="{{isChecked}}">
             <span> switch is </span><span data-bind="text: ((isChecked()) ? 'ON' : 'OFF')"></span>
        </oj-switch>-->


    </div>
<!--    <div class="path">
      <img src="css/images/Path.png">
    </div>-->

    <div id="loadingRegion" aria-busy="true" aria-describedby="progressBar" position="center">
             
            </div>

<oj-dialog id="dialogprogress" class="loading-dialog">
    <div style="text-align: center">    
    <oj-progress id="progressCircle" type="circle" value="{{progressValue}}"></oj-progress>
 </div>
</oj-dialog>
    
<!--<div class="loader" id="loader" style="display: none"></div>-->
</div>