    


 <div>
     <p id="text"  style="display: none">there is no favorite page</p>
        <oj-bind-for-each data="[[favoritelistData]]">  
            <template data-oj-as="item">
               
                <oj-button id="favBtn1" class="notification-list pages-btn" on-oj-action="[[clickFunc]]">
                    

                        <h4 ><oj-bind-text value='[[item.data.ENGLISH_MEANING]]'></oj-bind-text></h4>
                      
                    
                   
                </oj-button>
                
            </template>
            
        </oj-bind-for-each>
    <div id="favBtn2" class="option-btns">
                    <oj-button style="background-color:#349f04" on-oj-action="[[GO]]"><span title=".oj-fwk-icon-caret-end" role="img"
                              class="oj-fwk-icon-caret-end oj-fwk-icon"></span></oj-button>
                    <oj-button style="background-color:#e73e34" on-oj-action="[[Delete]]"><span title=".oj-fwk-icon-cross" role="img"
                              class="oj-fwk-icon-cross oj-fwk-icon"></span></oj-button>
                </div>
      
     <oj-dialog id="dialogprogress" class="loading-dialog">
    <div style="text-align: center">    
    <oj-progress id="progressCircle" type="circle" value="{{progressValue}}"></oj-progress>
 </div>
</oj-dialog>
    </div>

