<div>
<div class="back_v" data-bind="click: backBtn"><img src="css/images/back_for_v.png"> </div>
<div id="loginver">
    <div style="text-align: right" class="landing-logo">
    <img src="css/images/STClogo0.png" />
    </div>
   
    <div class="verify-info">
        <h3><span data-bind="text: verifiyYourNumberLbl"/> </h3>
        <h4> <span data-bind="text:smsMessageVerificationLBL"> +9660541730299 </span></h4>
    </div>

    <span>      
        <div class="loginVerify__inputRow">
            <input class="loginVerify__inputField" id='code1' maxlength="1" data-bind="textInput:code1" style="display:inline; text-align: center"></input>
            <input class="loginVerify__inputField" id="code2" maxlength="1"  data-bind="textInput:code2" style="display:inline; text-align: center" ></input>
            <input class="loginVerify__inputField" id="code3" maxlength="1"  data-bind="textInput:code3" style="display:inline; text-align: center"></input>
            <input class="loginVerify__inputField" id="code4" maxlength="1"  data-bind="textInput:code4" style="display:inline; text-align: center"></input>
        </div>
            
    </span>

    <div style="text-align: center">
        <oj-button class="main-btn" id='button1' on-oj-action='[[Verify]]'><span data-bind="text:verifyLbl"/></oj-button>
    </div>

    <div class="resend-info" style="text-align: center">
        <h4 style="color: #4f008c"> <span data-bind="text:receiveCodeLbl"/> </h4>
        <oj-button id='button2' on-oj-action='[[Resend]]' ><span data-bind="text:resendLbl" style="color: #ff375e"/></oj-button>
    </div>
    <div id="loadingRegion" aria-busy="true" aria-describedby="progressBar" position="center">
             
            </div>

<oj-dialog id="dialogprogress"  class="loading-dialog">
    <div style="text-align: center">    
    <oj-progress id="progressCircle" type="circle" value="{{progressValue}}"></oj-progress>
 </div>
</oj-dialog>
    
    </div>
</div>