<div>
    <div id="sampleDemo" style="" class="demo-container">
        <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
            <div id="parentDiv">



                <div class="oj-hybrid-applayout-page MLContainer">


                    <div class="MLCardCont main-menu demo-padding">

                        <div class="cardRow" >
                            <oj-bind-for-each data="[[approvalListData]]">
                            <template>
                                <oj-button class="big-btn" on-oj-action='[[clickfunc]]'>

                                    <span>  <oj-bind-text value="[[$current.data.RESPONSIBILITY_NAME]]"></oj-bind-text></span>

                                </oj-button>
                            </template>
                           </oj-bind-for-each>
                        </div>
                    </div>

                </div>
                        </div>
                    </div>

                </div>
                </div>


