<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
  

   
        <div>
<!--    <div class="notification-list">-->
        <oj-bind-for-each data="[[NTFDetailsListData]]" >  
            <template data-oj-as="item">

                <oj-button class="notification-list notification-details " style="min-height: 500px;">
                    <div class="notification-label">
                    <oj-label for="basicSelect"><span data-bind="text:FromNTFLbl"></span></oj-label>
                    <span class="label-info"><oj-bind-text value='[[$current.data.FROM_USER]]'></oj-bind-text></span>
                    </div>
                    <div class="notification-label">
                    <oj-label for="basicSelect"><span data-bind="text:TOLBL"></span> </oj-label>
                    <span class="label-info"><oj-bind-text value='[[$current.data.TO_USER]]'></oj-bind-text></span>
                    </div>
                    <div class="notification-label">
                    <oj-label for="basicSelect"><span data-bind="text:SentNTFLbl"></span></oj-label>
                    <span class="label-info"><oj-bind-text value='[[$current.data.SENT]]'></oj-bind-text></span>
                    </div>
                   <div class="notification-label">
                    <oj-label for="basicSelect"><span data-bind="text:NTFidLbl"></span></oj-label>
                    <span class="label-info"><oj-bind-text value='[[$current.data.NOTIFICATION_ID]]'></oj-bind-text></span>
                   </div>
                    <div class="notification-label subject-info" style="ovstyleerflow: visible;;">
                    <oj-label for="basicSelect"><span data-bind="text:SubjectNTFLbl"></span></oj-label>
                    <span class="label-info"><oj-bind-text value='[[$current.data.SUBJECT]]'></oj-bind-text></span>
                    </div>
                    <div class="notification-label org-info" style="overflow: visible;">
                         <oj-label for="basicSelect"><span data-bind="text:ORG_IDLBL"></span></oj-label>
                         <span class="label-info"><oj-bind-text value='[[$current.data.ORG_ID]]'></oj-bind-text></span>
                     </div>
                     <div class="notification-label vendor-info" style="overflow: visible;">
                         <oj-label for="basicSelect"><span data-bind="text:VENDOR_NAMELBL"></span></oj-label>
                         <span class="label-info"><oj-bind-text value='[[$current.data.VENDOR_NAME]]'></oj-bind-text></span>
                     </div>
                    
                    <div class="notification-label" style="overflow: visible;">
                         <oj-label for="basicSelect"><span data-bind="text:PO_NUMLBL"></span></oj-label>
                         <span class="label-info"><oj-bind-text value='[[$current.data.PO_NUM]]'></oj-bind-text></span>
                     </div>
                    <div class="notification-label" style="overflow: visible;">
                         <oj-label for="basicSelect"><span data-bind="text:QUANTITYLBL"></span></oj-label>
                         <span class="label-info"><oj-bind-text value='[[$current.data.QUANTITY]]'></oj-bind-text></span>
                     </div>
                     <div class="notification-label">
                    <oj-label for="basicSelect"><span data-bind="text:ItemLBL"></span></oj-label>
                    <span class="label-info"><oj-bind-text value='[[$current.data.ITEM_CODE]]'></oj-bind-text></span>
                     </div>

                    <div class="notification-label desc-info" style="overflow: visible;">
                         <oj-label for="basicSelect"><span data-bind="text:DescLBL"></span></oj-label>
                         <span class="label-info"><oj-bind-text value='[[$current.data.ITEM_DESCRIPTION]]'></oj-bind-text></span>
                     </div>
                    <!--add new-->
                     <div class="notification-label" style="overflow: visible;">
                         <oj-label for="basicSelect"><span data-bind="text:UOMLBL"></span></oj-label>   
                         <span class="label-info"><oj-bind-text value='[[$current.data.UOM]]'></oj-bind-text></span>
                     </div>
                    
                    
                    
                   
                 <!--add new--> 
                </oj-button>
                <div>
                    <oj-label><span data-bind="text:commentOrReason"/></oj-label>
            <oj-text-area id="text-area" aria-label="oj-text-area" value="{{commentval}}" required ></oj-text-area>
                          
    </div>
                <div style="text-align: center;margin: 5px">
            <div style="display: inline-block;text-align: center;">
         <oj-button class='notification-details-buttons' on-oj-action="[[ApproveFunc]]" > <img style="width: 45px;" src="css/images/approve01.png"></oj-button> <br>
          <p data-bind="text:acceptNTFLbl">
            </div>
         <div style="display: inline-block;text-align: center;">
        <oj-button class='notification-details-buttons'  on-oj-action="[[RejectFunc]]" > <img style="width: 45px;" src="css/images/reject01.png"> </oj-button><br>
        <p data-bind="text:RejectNTFLbl">
         </div>
         
            <div style="display: inline-block;text-align: center;">
                <oj-button class='notification-details-buttons'  on-oj-action="[[ReassignFunc]]" > <img style="width: 45px;" src="css/images/reassign01.png"> </oj-button><br>
             <p data-bind="text:ReassignNTFLBL2">
            </div>
             
<!--             <div style="display: inline-block;text-align: center;">
        <oj-button class='notification-details-buttons'  on-oj-action="[[InfoFunc]]" > <img src="css/images/info0.png"> </oj-button><br>
        <p data-bind="text:InfoNTFLbl">
         </div>
             
             <div style="display: inline-block;text-align: center;">
        <oj-button class='notification-details-buttons'  on-oj-action="[[CancleFunc]]" > <img src="css/images/cancel0.png"> </oj-button><br>
        <p data-bind="text:CancleNTFLbl">
         </div>-->
 
                 </div>
             
            </template>
        </oj-bind-for-each>
 </div>
         
        
    
    
        <oj-dialog class="popup-dialog"  id="reassigndialog">  
        <div slot="header" class="oj-helper-clearfix popup-head">
            <oj-button on-oj-action="[[closedialog]]" class="close-btn"><span style="color:#e20909" title=".oj-fwk-icon-cross02" role="img"
                                         class="oj-fwk-icon-cross02 oj-fwk-icon"></span></oj-button>
          <label >choose person</label>
        </div>  
        <div slot="body">
           <div class="MLCardCont receipt-form">
                <div class="loginVerify__inputRow">
                    
                    <div class="cardRow">

                       <oj-combobox-one placeholder="" options="{{ReAssignUsers_Arr}}" class="form-input" id="reassignuser" value="{{reassign_user_val}}"></oj-combobox-one>
                  
                </div>        
          
      </div>
        </div>
        <div class="receipt-popup" slot="footer">

           
            <oj-button class="apBtn-2 main-btn btn-left" on-oj-action="[[OkReassign]]">
                <span>ok</span>
            </oj-button>
        </div>
    </oj-dialog> 
        
        
 


