
<div>

 <div>
        <oj-bind-for-each data="[[NTFListData]]" >  
            <template data-oj-as="item">
               
                <oj-button  class="notification-list notify" on-oj-action="[[ckickFunc]]">
                    
                    <div class="notification-label">
                        <oj-label style="color: #4f008c;" for="basicSelect"><span data-bind="text:MSGNTFLbl"></span> </oj-label>
                      <span class="label-info" ><oj-bind-text value='[[item.data.MESSAGE]]'></oj-bind-text></span>
                    </div>
                    
                    <div class="notification-label">
                        <oj-label style="color: #4f008c;" for="basicSelect"><span data-bind="text:SubjectNTFLbl"></span> </oj-label>
                        <span class="label-info" ><oj-bind-text value='[[item.data.SUBJECT]]'></oj-bind-text></span>
                    </div>
                      
                    
                      <div class="notification-label">
                        <oj-label style="color: #4f008c;" for="basicSelect"><span  data-bind="text:FromNTFLbl"></span> </oj-label>
                        <span class="label-info" ><oj-bind-text value='[[item.data.FROM_USER]]'></oj-bind-text></span>
                      </div>
                     
                      <div class="notification-label">
                        <oj-label style="color: #4f008c;" for="basicSelect"><span  data-bind="text:SentNTFLbl"></span></oj-label>
                        <span class="label-info"><oj-bind-text value='[[item.data.SENT]]'></oj-bind-text></span>
                      </div>
                     
                    <div class="notification-label" style="overflow: visible;">
                        <oj-label style="color: #4f008c;" for="basicSelect"><span  data-bind="text:PONumTFLbl"></span></oj-label>
                        <span class="label-info"><oj-bind-text value='[[item.data.PO_NUM]]'></oj-bind-text></span>
                      </div>
                    
                    <div class="notification-label" style="overflow: visible;">
                        <oj-label style="color: #4f008c;" for="basicSelect"><span  data-bind="text:VendorNameNTFLbl"></span></oj-label>
                        <span class="label-info"><oj-bind-text value='[[item.data.VENDOR_NAME]]'></oj-bind-text></span>
                      </div>
                
                </oj-button>
            </template>
        </oj-bind-for-each>
    </div>
  
</div>
