<div>
       <div>
        
<!--   <header role="banner" >
            <div class="loginVerify__inputRow">
    
                    <div class="headicon">
                        <div class="back-icon" data-bind="click: BackBtn"><img src="css/images/arrow_back.png"> </div>
                            <oj-module class="header-title" config="[[headerConfig]]"style="display: inline-block;width: 60%;" ></oj-module>
                
                    <oj-button on-oj-action="[[notification]]"  class="headicon_Left"><span title=".oj-fwk-icon-hamburger" role="img"
                        class=" oj-fwk-icon"><img src="css/images/Icon-flash.png"></span>
                    </oj-button>
                    <oj-button on-oj-action="[[FeatureList]]" style="position: relative;"> <span title=".oj-fwk-icon-caret-s" role="img"
                        class="oj-fwk-icon"><img src="css/images/Icon-bell.png"></span>
                        <span class="notification-num" ><oj-bind-text value="[[count]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </div>
   </header>-->
        
</div>
    
                  
                  
    <div class="oj-hybrid-applayout-page MLContainer">
        <div class="HlogoContainer1">
          
        </div>

        <oj-bind-for-each data="[[approvalListData]]">   
            
            
            
            <template>
                
                <div class="MLCardCont orgnization-content">
                        
                  <oj-button class='MLCard' chroming='half' display='icons' on-oj-action="[[clickfunc]]">
                        <oj-bind-text value="[[$current.data.ORG_NAME]]"></oj-bind-text>
                   
                    </oj-button>
              
                </div>        
          
             </template>
            
        </oj-bind-for-each>
 
      </div>
   
</div>

      
