
<div id="loginver">
<!--           <div>
        
    <header role="banner" style="background-color: purple">
        
        <div class="loginVerify__inputRow">
            
            <oj-module class="header-title" config="[[headerConfig]]"style="display: block;width: 50%;" ></oj-module>
            <div class="headicon">
                  <oj-button class="headicon_Left"><span title=".oj-fwk-icon-hamburger" role="img"
                                                                  class="oj-fwk-icon-hamburger oj-fwk-icon"></span></oj-button>
                <oj-button on-oj-action="[[notfClickAction]]" ><span title=".demo-info-icon-24" role="img" 
                      class="demo-info-icon-24 demo-icon-font-24"></span></oj-button>
             
            </div>
        </div>
    </header>
        
</div>-->
    <div>
    <div class="loginVerify__inputRow">
      <oj-label for="basicSelect" class="loginVerify__inputField">From</oj-label>  
        <oj-input-text id="text-input" value="عبد الرحمن العريني" class="loginVerify__inputField" style="width: 50%"></oj-input-text>
        
    </div>
        <div class="loginVerify__inputRow">
            <oj-label for="basicSelect" class="loginVerify__inputField">To</oj-label>
             <oj-input-text id="text-input" value="احمد مصطفى" class="loginVerify__inputField" style="width: 50%"></oj-input-text>
        </div>
        <div class="loginVerify__inputRow">
            <oj-label for="basicSelect" class="loginVerify__inputField">sent</oj-label>
             <oj-input-text id="text-input" value="18-apr-2019 02:04" class="loginVerify__inputField" style="width: 50%"></oj-input-text>
        </div>
         <div class="loginVerify__inputRow">
            <oj-label for="basicSelect" class="loginVerify__inputField">Notification ID</oj-label>
             <oj-input-text id="text-input" value="325666666"class="loginVerify__inputField" style="width: 50%"></oj-input-text>
        </div>
        <div class="loginVerify__inputRow">
            <oj-label for="basicSelect" class="loginVerify__inputField">Subject</oj-label>
             <oj-input-text id="text-input" value="PO Inspection request" class="loginVerify__inputField" style="width: 50%"></oj-input-text>
        </div>
        <div class="loginVerify__inputRow">
            <oj-label for="basicSelect" class="loginVerify__inputField">Item</oj-label>
             <oj-input-text id="text-input" value="2626262626" class="loginVerify__inputField" style="width: 50%"></oj-input-text>
        </div>
        <div class="loginVerify__inputRow">
            <oj-label for="basicSelect" class="loginVerify__inputField">Discription</oj-label>
             <oj-input-text id="text-input" value="CPE device" class="loginVerify__inputField" style="width: 50%"></oj-input-text>
        </div>
        <div class="loginVerify__inputRow">
            <oj-label for="basicSelect" class="loginVerify__inputField">Qty</oj-label>
             <oj-input-text id="text-input" value="300" class="loginVerify__inputField" style="width: 50%"></oj-input-text>
        </div>
        <div class="loginVerify__inputRow">
            <oj-label for="basicSelect" class="loginVerify__inputField">UOM</oj-label>
             <oj-input-text id="text-input" value="EA" class="loginVerify__inputField" style="width: 50%"></oj-input-text>
        </div>
        
        </div>
    <div style="border: #c464c4">
        
        <p> Comment/Reason</p>
        <oj-input-text placeholder="Password" label-hint="placeholder"></oj-input-text>
        
    </div>


    <div>    
        <div style="text-align: center">
            
            <oj-button id='button1' style="background-color: #c464c4; margin-right: 80px">Approve</oj-button>
            <oj-button id='button2' style="background-color: #c464c4; margin-left:  50px"">Reject</oj-button>
            
        </div>
        <div style="text-align: center">
            
            <oj-button id='button3' style="background-color: #c464c4; margin-right: 25px">Reassign</oj-button>
            <oj-button id='button4' style="background-color: #c464c4">Request more info</oj-button>
            
        </div>
        <div style="text-align: center">
            
            <oj-button id='button5'style="background-color: #c464c4;margin-right: 145px" >Cancle Request</oj-button>


        </div>

    </div>
</div>