<div>
<!--    <div>

        <header role="banner">

            <div class="loginVerify__inputRow">  
                <div class="headicon">

                    <div class="back-icon" data-bind="click: backBtn"><img src="css/images/arrow_back.png"> </div>
                    <oj-module class="header-title" config="[[headerConfig]]"style="display: inline-block;width: 60%;"></oj-module>


                    <oj-button class="headicon_Left"><span title=".oj-fwk-icon-hamburger" role="img"
                                                           class="oj-fwk-icon"><img src="css/images/Icon-flash.png"></span>
                    </oj-button>

                    <oj-button on-oj-action="[[notfClickAction]]" ><span title=".demo-info-icon-24" role="img" 
                                                                         class="demo-icon-font-24"><img src="css/images/Icon-bell.png"></span>
                                                                         <span data-bind="text:numberOfNotification">
                    </oj-button>
                </div>

            </div>

        </header>

    </div>-->

    <div class="oj-hybrid-applayout-page MLContainer">
        <div class="HlogoContainer1">

        </div>
        <div class="big-btnCont">
            <div class="cardRow">
                <oj-button  class="big-btn" on-oj-action="[[Go_Receipt]]"><img src="css/images/receipt.png" style="height: 50;width: 50"/><span><oj-bind-text value="{{ReceiptsLBL}}"></oj-bind-text></span></oj-button>
                <oj-button  class="big-btn" on-oj-action="[[Go_Inspect]]"><img src="css/images/inspection.png" style="height: 50;width: 50"/><span><oj-bind-text value="{{InspectionLBL}}"></oj-bind-text></span></oj-button>
            </div>
            <div class="cardRow">
                <oj-button  class="big-btn" on-oj-action="[[Go_Deliver]]"><img src="css/images/delivery.png" style="height: 50;width: 50"/><span><oj-bind-text value="{{DeliveryLBL}}"></oj-bind-text></span></oj-button>
                <oj-button class="big-btn" on-oj-action="[[Go_Return]]"><img src="css/images/return.png" style="height: 50;width: 50"/><span><oj-bind-text value="{{ReturnLBL}}"></oj-bind-text></span></oj-button>
            </div>

        </div> 
    </div>
    
    <oj-dialog id="dialogprogress"  class="loading-dialog">
    <div style="text-align: center">    
    <oj-progress id="progressCircle" type="circle" value="{{progressValue}}"></oj-progress>
 </div>
</oj-dialog>
</div>


