
<div class="">

    
    <div style="text-align: right" class="landing-logo">
        <img src="css/images/STClogo0.png" />
    </div>
    <div style="text-align: center;    padding-top: 35px" class="mid-logo"> 
        <img src="css/images/home-logo.png" />
    </div>

    <div id="componentDemoContent" class="land-input" style="width: 1px; min-width: 70%;">
            <oj-input-text id="username"value="{{userNameValue}}"  data-bind="attr: { 'placeholder': usernameLable}" label-hint="placeholder"></oj-input-text>
    </div>
    
    <div id="componentDemoContent" class="land-input" style="width: 1px; min-width: 70%;">
        <oj-input-password id="password" value="{{passwordValue}}"  data-bind="attr: { 'placeholder': PasswordLable}"  label-hint="placeholder"></oj-input-password>
    </div>

    <div id="div2" class="remember">
        <oj-checkboxset id="remember_me"   value="{{remeberMe}}"  on-value-changed='[[checkboxListener]]' labelled-by="inlineLabelId" class="oj-choice-direction-row" >
            <oj-option id="rock" value="true"><span data-bind="text:rememberLbl"/></oj-option>
        </oj-checkboxset>
    </div>

    <div style="text-align: center;  padding-top: 12px">
        <oj-button class="main-btn" id='button1' on-oj-action='[[loginMethod]]' style="border-radius: 30px"><span data-bind="text:loginLBL"/></oj-button>
    </div>


<!--    <div class="path">
        <img src="css/images/Path.png">
    </div>-->
<div id="loadingRegion" aria-busy="true" aria-describedby="progressBar" position="center">
             
            </div>

<oj-dialog id="dialogprogress"  class="loading-dialog">
    <div style="text-align: center">    
    <oj-progress id="progressCircle" type="circle" value="{{progressValue}}"></oj-progress>
 </div>
</oj-dialog>
 




</div>