<div class="box-placeholder">
    <ul class="list-inline list-unstyled text-start">
        <li class="list-inline-item text"></li>
        <li class="list-inline-item text" style="margin: 5px 10px;"></li>
    </ul>
    ​
    <div class="text-start ">
        <div class="row">
            <div *ngFor="let e of placeHolderArr " class="col-lg-4 col-md-6 ">
                <div class="batch">
                    <h6 class="batchName bacthTitle text"></h6>
                    <div *ngFor="let e1 of placeHolderArr"> ​
                        <div class="inovice" style="padding: 20px 5px 20px 5px;">
                            <span class="priority text" style="margin-bottom: 25px;"></span><br>
                            <div class="row">
                                <div class="col-md-6 col-12" style="margin-bottom: 15px;"
                                    *ngFor="let e2 of placeHolderArr">
                                    <h6 class="text"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>