<div class="request_body_styling animated fadeInUp ">

    <h3 class="header_headline_style"><span>
            <oj-bind-text value="[[labels().homeScreenLbl()]]"></oj-bind-text>
        </span></h3>


    <div class="summaryContent container">
        <!-- //------------------- header buttons ---------------------// -->
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">
                <!-- <oj-button class="btnStyle" on-oj-action='[[backAction]]'>
                    <span>
                        <oj-bind-text value="[[labels().back()]]"></oj-bind-text>
                    </span>
                </oj-button> -->
                <oj-bind-if test='[[previousBtnVisible]]'>
                    <oj-button class="btnStyle" on-oj-action="[[previousStep]]">
                        <span>
                            <oj-bind-text value="[[labels().perviousLbl()]]"></oj-bind-text>
                        </span>
                    </oj-button>
                </oj-bind-if>
            </div>
            <div class="oj-flex-bar-end">
                <oj-bind-if test='[[nextBtnVisible]]'>
                    <oj-button class="btnStyle" on-oj-action="[[nextStep]]" visible="[[currentStepValue() == 'stp1']]">
                        <span>
                            <oj-bind-text value="[[labels().nextLbl()]]"></oj-bind-text>
                        </span>
                    </oj-button>
                </oj-bind-if>
                <oj-bind-if test="[[currentStepValue() == 'stp2']]">
                    <oj-button class="btnStyle" on-oj-action="[[showReportActionBtn]]">
                        <span>
                            <oj-bind-text value="[[labels().showReportLbl()]]"></oj-bind-text>
                        </span>
                        <span slot='endIcon' class="apiconClass fa fa-file-pdf-o oj-button-icon oj-end"></span>
                    </oj-button>
                </oj-bind-if>
                <oj-bind-if test='[[submitBtnVisible]]'>
                    <oj-button class="btnStyle" on-oj-action="[[submitActionBtn]]"
                        visible="[[currentStepValue() == 'stp2']]">
                        <span>
                            <oj-bind-text value="[[labels().submitLbl()]]"></oj-bind-text>
                        </span>
                    </oj-button>
                </oj-bind-if>
                <!-- buttons for approval -->
                <oj-bind-if test='[[approvalsBtnVisible]]'>
                    <div class="oj-flex-item">
                        <oj-button class="btnStyle" on-oj-action='[[openApproveDialog]]' disabled="[[disableSubmit]]">
                            <span>
                                <oj-bind-text value="[[labels().approveLbl()]]"></oj-bind-text>
                            </span>
                        </oj-button>

                        <oj-button class="btnStyle" on-oj-action="[[openRejectDialog]]" disabled="[[disableSubmit]]">
                            <span>
                                <oj-bind-text value="[[labels().rejectLbl()]]"></oj-bind-text>
                            </span>
                        </oj-button>
                    </div>
                </oj-bind-if>
            </div>
        </div>
        <!-- //--------------------------- train -------------------------// -->
        <oj-bind-if test='[[trainVisibility]]'>
            <div>
                <oj-train id="train" selected-step="{{currentStepValue}}" steps="[[labels().stepArray()]]"
                    class="oj-train-stretch" on-oj-before-select="[[stopSelectListener]]" />
            </div>
        </oj-bind-if>
        <br>

        <oj-validation-group id="tracker">
            <div class='row'>
                <div class='col-md-4 col-sm-6 col-xs-6'>
                    <h5><b class="idpPagInfoType" data-bind="text: labels().itemNumber()"></b></h5>
                    <oj-input-text id=notenumber class="disable-element itemRevceiveInputText"
                        value="{{itemModel.itemNumber}}" required disabled='true'>
                    </oj-input-text>
                </div>
                <div class='col-md-6 col-sm-6 col-xs-6'>
                    <h5><b class="idpPagInfoType" data-bind="text: labels().receivingDepartment()"></b></h5>
                    <oj-input-text id="department" class="disable-element itemRevceiveInputText" style="max-width:20em"
                        value="{{itemModel.receivingDepartmentLbl}}" disabled='true' required>
                    </oj-input-text>
                </div>
            </div>
            <hr>

            <div class="oj-flex oj-flex-items-pad">
                <div class="summaryBtn detailsBtn">
                    <oj-button class="btnStyle" on-oj-action='[[addActionBtn]]' disabled="[[detailsAddBtnDisabled]]">
                        <span data-bind="text:labels().addLbl()"></span>
                        <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                    </oj-button>
                    <oj-button class="btnStyle" on-oj-action='[[editActionBtn]]' disabled="[[detailsBtnDisabled]]">
                        <span data-bind="text:labels().editLbl()"></span>
                        <span slot='endIcon' class="apiconClass fa fa-edit"></span>
                    </oj-button>
                    <oj-button class="btnStyle" on-oj-action='[[viewActionBtn]]' disabled="[[detailsViewBtnDisabled]]">
                        <span data-bind="text:labels().viewLbl()"></span>
                        <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                    </oj-button>
                    <oj-button class="btnStyle" on-oj-action='[[deleteActionBtn]]' disabled="[[detailsBtnDisabled]]">
                        <span data-bind="text:labels().deleteLbl()"></span>
                        <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                    </oj-button>
                </div>
            </div>
            <!-- // details table -->

            <div class="tableContent">
                <oj-table class="tableStyle" id='lineTable' data='[[tableDataProvider]]'
                    selection-mode='{"row": "single", "column": "single"}' scroll-policy='loadMoreOnScroll'
                    scroll-policy-options='{"fetchSize": 10}' columns='[[labels().columnArray()]]'
                    on-oj-before-current-row="[[tableSelectionListener]]">
                </oj-table>
            </div>

        </oj-validation-group>
    </div>
</div>

<!-- ///////////// detailsDialog //////////// -->
<div id="noteDetailsDialog">

    <oj-dialog class="dialogDetails" id="detailsDialog">
        <!-- dialog header title -->
        <div slot="header" class="oj-helper-clearfix dialogDetailsHeader" id="dialogHeader">
            <label data-bind="text: labels().submitTitle()"></label>
            <button data-bind="click: dialogMaximize " class="fa fa-window-maximize dailogDetailsbutton"></button>
            <button data-bind="click: dialogMinimize " class="fa fa-window-minimize dailogDetailsbutton"></button>
        </div>

        <!-- dialog body -->
        <div slot="body">

            <!-- // header buttons -->

            <div class="oj-flex-bar">
                <div class="oj-flex-bar-start">
                    <oj-bind-if test='[[detailsPreviousBtnVisible]]'>
                        <oj-button class="btnStyle" on-oj-action="[[detailsPreviousStep]]">
                            <span>
                                <oj-bind-text value="[[labels().perviousLbl()]]"></oj-bind-text>
                            </span>
                        </oj-button>
                    </oj-bind-if>
                </div>
                <div class="oj-flex-bar-end">
                    <oj-bind-if test='[[detailsNextBtnVisible]]'>
                        <oj-button class="btnStyle" on-oj-action="[[detailsNextStep]]"
                            visible="[[detailsCurrentStepValue() == 'stp1']]">
                            <span>
                                <oj-bind-text value="[[labels().nextLbl()]]"></oj-bind-text>
                            </span>
                        </oj-button>
                    </oj-bind-if>
                    <oj-bind-if test='[[detailsSubmitBtnVisible]]'>
                        <oj-button class="btnStyle" on-oj-action="[[detailsSubmitActionBtn]]"
                            visible="[[detailsCurrentStepValue() == 'stp2']]">
                            <span>
                                <oj-bind-text value="[[labels().saveLbl()]]"></oj-bind-text>
                            </span>
                        </oj-button>
                    </oj-bind-if>
                </div>
            </div>

            <!-- /////////////////////// -->
            <oj-bind-if test='[[detailsTrainVisibility]]'>
                <div>
                    <oj-train id="detailsTrain" selected-step="{{detailsCurrentStepValue}}"
                        steps="[[labels().stepArray()]]" class="oj-train-stretch"
                        on-oj-before-select="[[detailsStopSelectListener]]" />
                </div>
            </oj-bind-if>
            <br>

            <oj-validation-group id="DetailsTracker">

                <div class='row noPadding'>
                    <!-- <div class='col-md-4 col-sm-6 col-xs-6'>
                        <h5><b class="idpPagInfoType" data-bind="text: labels().receivingDepartment()"></b></h5>
                        <oj-select-single id="department" style="max-width:20em" data="[[departmentsProvider]]"
                            value="{{itemDetailsModel.receivingDepartment}}" disabled='[[fieldsDisabled]]' required
                            placeholder='[[labels().placeHolder()]]' on-value-changed="[[departmentListHandler]]">
                        </oj-select-single>
                    </div> -->
                    <div class='col-md-4 col-sm-6 '>
                        <h5><b class="idpPagInfoType" data-bind="text: labels().supplierName()"></b> </h5>
                        <oj-input-text id='supplier' class="disable-element itemRevceiveInputText "
                            value="{{itemDetailsModel.supplierName}}" disabled='[[fieldsDisabled]]' required>
                        </oj-input-text>
                    </div>
                    <div class='col-md-4 col-sm-6'>
                        <h5><b class="idpPagInfoType" data-bind="text: labels().contractOrOrderNumber()"></b> </h5>
                        <oj-input-text id='po' class="disable-element itemRevceiveInputText "
                            value="{{itemDetailsModel.contractOrOrderNumber}}" disabled='[[fieldsDisabled]]' required>
                        </oj-input-text>
                    </div>
                    <div class='col-md-4 col-sm-6 '>
                        <h5><b class="idpPagInfoType" data-bind="text: labels().contractPoDate()"></b></h5>
                        <oj-input-date id="podate" autocomplete="off" value="{{itemDetailsModel.contractOrOrderDate}}"
                            required converter=[[dateConverter]] disabled="[[fieldsDisabled]]"
                            class='itemRevceiveInputText'>
                        </oj-input-date>
                    </div>
                </div>
                <hr>
                <div class='row noPadding'>
                    <div class='col-md-4 col-sm-6 col-xs-6'>
                        <h5><b class="idpPagInfoType" data-bind="text: labels().invoiceNumber()"></b> </h5>
                        <oj-input-text id='invoice' class="disable-element itemRevceiveInputText "
                            value="{{itemDetailsModel.invoiceNumber}}" disabled='[[fieldsDisabled]]' required>
                        </oj-input-text>
                    </div>
                    <div class='col-md-4 col-sm-6 col-xs-6'>
                        <h5><b class="idpPagInfoType" data-bind="text: labels().invoiceDate()"></b> </h5>
                        <oj-input-date id="invdate" autocomplete="off" value="{{itemDetailsModel.invoiceDate}}" required
                            converter=[[dateConverter]] disabled="[[fieldsDisabled]]" class='itemRevceiveInputText'>
                        </oj-input-date>
                    </div>
                    <div class='col-md-4 col-sm-6 col-xs-6'>
                        <h5><b class="idpPagInfoType" data-bind="text: labels().invoiceTotalAmount()"></b></h5>
                        <oj-input-text id='invamount'
                            class="disable-element itemRevceiveInputText itemRevceiveInputTextRight"
                            value="{{itemDetailsModel.invoiceTotalAmount}}" disabled='[[fieldsDisabled]]' required
                            on-value-changed="[[invoiceTotalAmountHandler]]">
                        </oj-input-text>
                    </div>
                </div>

                <hr>
                <div class='row noPadding'>
                    <div class='col-md-4 col-sm-6 col-xs-6'>
                        <h5><b class="idpPagInfoType" data-bind="text: labels().invoiceCurrency()"></b> </h5>
                        <oj-select-single id="invcurrency" style="max-width:20em" data="[[currenciesProvider]]"
                            disabled='[[fieldsDisabled]]' required value="{{itemDetailsModel.invoiceCurrency}}"
                            placeholder='[[labels().placeHolder()]]' on-value-changed="[[invoiceCurrencyHandler]]">
                        </oj-select-single>
                    </div>
                    <div class='col-md-4 col-sm-6 col-xs-6'>
                        <h5><b class="idpPagInfoType" data-bind="text: labels().exchangeRate()"></b> </h5>
                        <oj-input-text id="changeRateInput"
                            class="disable-element itemRevceiveInputText itemRevceiveInputTextRight"
                            value="{{itemDetailsModel.exchangeRate}}" disabled='true' required>
                        </oj-input-text>
                    </div>
                    <div class='col-md-4 col-sm-6 col-xs-6'>
                        <h5><b class="idpPagInfoType" data-bind="text: labels().totalAmountInSAR()"></b></h5>
                        <oj-input-text id='total'
                            class="disable-element itemRevceiveInputText  itemRevceiveInputTextRight"
                            value="{{itemDetailsModel.totalAmountInSAR}}" disabled='true' required>
                        </oj-input-text>
                    </div>
                </div>
                <hr>
                <div class='row noPadding'>
                    <div class='col-md-12 col-sm-12 col-xs-12'>
                        <h5><b class="idpPagInfoType" data-bind="text: labels().relatedDocument()"></b> </h5>
                    </div>
                    <div class='col-md-4 col-sm-6 col-xs-6'>
                        <oj-file-picker class="oj-filepicker-custom" select-on="click" selection-mode="single"
                            on-oj-select='[[attachmentSelectListener]]'>
                            <oj-button slot='trigger' chroming='half' disabled='[[fieldsDisabled]]'>
                                <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-arrowbox-n'></span>
                                Attachments
                            </oj-button>
                        </oj-file-picker>
                        <br>
                        <oj-button disabled="{{fieldsDisabled}}" class="btnStyle" id="removeButton"
                            on-oj-action="[[removeSelectedAttachment]]">
                            <span>
                                <oj-bind-text value="[[labels().removeLbl()]]"></oj-bind-text>
                            </span>
                        </oj-button>
                        <oj-button class="btnStyle" id="removeButton" on-oj-action="[[openAttachmentViewer]]">
                            <span>
                                <oj-bind-text value="[[labels().downloadLbl()]]"></oj-bind-text>
                            </span>
                        </oj-button>
                        <oj-list-view id="listview" aria-label="list using observable array"
                            data="[[dataProviderAttachment]]" selection-mode="multiple"
                            selection="{{selectedItemsAttachment}}">
                            <template slot="itemTemplate">
                                <span>
                                    <oj-bind-text value='[[$current.data.name]]'></oj-bind-text>
                                </span>
                            </template>
                        </oj-list-view>
                    </div>
                </div>

            </oj-validation-group>
        </div>

        <!-- dialog footer -->
        <!-- <div slot="footer">
            <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[submitYes]]'>
                <span>
                    <oj-bind-text value="[[labels().yes()]]"></oj-bind-text>
                </span>
            </oj-button>

            <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[submitNo]]'>
                <span>
                    <oj-bind-text value="[[labels().no()]]"></oj-bind-text>
                </span>
            </oj-button>
        </div> -->
        <!-- end of dialog footer -->

    </oj-dialog>

</div>
<div id="dialogWrapper">
    <!-- ------ submit dialog ----------- -->
    <oj-dialog class="main-dialog main-dialog-width" id="submitDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: labels().submitTitle()"></label>
        </div>

        <div slot="body">
            <label data-bind="text: labels().submitMessage()"></label>
        </div>
        <div slot="footer">
            <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[submitYes]]'>
                <span>
                    <oj-bind-text value="[[labels().yes()]]"></oj-bind-text>
                </span>
            </oj-button>

            <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[submitNo]]'>
                <span>
                    <oj-bind-text value="[[labels().no()]]"></oj-bind-text>
                </span>
            </oj-button>
        </div>
    </oj-dialog>
    <!-- -------- approve and reject dialog ------------- -->

    <!-- ///// approve dialog -->
    <oj-dialog class="main-dialog main-dialog-width" id="approveDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: labels().approveTitle()"></label>
        </div>

        <div slot="body">
            <label data-bind="text: labels().approveMessage()"></label>
        </div>
        <div slot="footer">
            <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[approveActionBtn]]'>
                <span>
                    <oj-bind-text value="[[labels().yes()]]"></oj-bind-text>
                </span>
            </oj-button>
            <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[approveDialogClose]]'>
                <span>
                    <oj-bind-text value="[[labels().no()]]"></oj-bind-text>
                </span>
            </oj-button>
        </div>
    </oj-dialog>
    <!-- ///////reject dialog -->
    <oj-dialog class="main-dialog main-dialog-width" id="rejectDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: labels().rejectTitle()"></label>
        </div>

        <div slot="body">
            <label data-bind="text: labels().rejectMessage()"></label>
            <div>
                <oj-label slot="label" for="reasonTxt"><span data-bind="text: labels().rejectReason()"></span>
                </oj-label>
                <oj-input-text id='reasonTxt' class="disable-element itemRevceiveInputText " value="{{rejectReason}}">
                </oj-input-text>
            </div>

        </div>
        <div slot="footer">
            <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[rejectActionBtn]]'>
                <span>
                    <oj-bind-text value="[[labels().yes()]]"></oj-bind-text>
                </span>
            </oj-button>
            <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[rejectlDialogClose]]'>
                <span>
                    <oj-bind-text value="[[labels().no()]]"></oj-bind-text>
                </span>
            </oj-button>
        </div>
    </oj-dialog>
    <!-- /////////////// pdf dialog /////////////// -->
    <oj-dialog style="display:none;width:650px;height:600px" id="pdfViewer" title="View Report">
        <div slot="body">PDF Doc</div>
        <div class="documentviewerpdf">
            <object data-bind="attr: { 'data':EmbedPDFLink, 'data-doctype': 'pdf', type: 'application/pdf'}"
                width="600px" height="600px">
                <a data-bind="attr: { 'href':EmbedPDFLink}">report.pdf</a>
            </object>
        </div>
        <br />
    </oj-dialog>
</div>