<div class="request_body_styling animated fadeInUp ">
    <h3 class="header_headline_style"><span>
            <oj-bind-text value="[[labels().homeScreenLbl()]]"></oj-bind-text>
        </span></h3>
    <div class="summaryContent container">

        <div id='searchArea'>
            <div class='row'>
                <div class='col-md-4 col-sm-6 col-xs-6'>
                    <h5><b class="idpPagInfoType" data-bind="text: labels().receivingDepartment()"></b></h5>
                    <oj-select-single id="department" data="[[receivingDepartmentListProvider]]"
                        placeholder='[[labels().placeHolder()]]' value="{{searchModel.selectedDepartment}}">
                    </oj-select-single>
                </div>
                <div class='col-md-4 col-sm-6 col-xs-6'>
                    <h5><b class="idpPagInfoType" data-bind="text: labels().noteNumber()"></b></h5>
                    <oj-input-text id='note' class="disable-element itemRevceiveInputText" 
                    value="{{searchModel.noteNumber}}">
                    </oj-input-text>
                </div>
                <div class='col-md-4 col-sm-6 col-xs-6'>
                    <h5><b class="idpPagInfoType" data-bind="text: labels().fromDate()"></b></h5>
                    <oj-input-date id="fromdate" autocomplete="off" value="{{searchModel.fromDate}}"
                        required converter=[[dateConverter]] 
                        class='itemRevceiveInputText'></oj-input-date>
                </div>
                <div class='col-md-4 col-sm-6 col-xs-6'>
                    <h5><b class="idpPagInfoType" data-bind="text: labels().toDate()"></b></h5>
                    <oj-input-date id="todate" autocomplete="off" value="{{searchModel.toDate}}"
                        required converter=[[dateConverter]] 
                        class='itemRevceiveInputText'></oj-input-date>
                </div>
                <div class='col-md-4 col-sm-6 col-xs-6'>
                    <h5><b class="idpPagInfoType" data-bind="text: labels().statusLbl()"></b></h5>
                    <oj-select-single id="status" data="[[statusListProvider]]"
                        placeholder='[[labels().placeHolder()]]' value="{{searchModel.SelectedStatus}}">
                    </oj-select-single>
                </div>
            </div>
            <div class='row rowCenter'>
                <oj-button class="btnStyle" on-oj-action='[[searchActionBtn]]'>
                    <span data-bind="text:labels().searchLbl()"></span>
                    <span slot='endIcon' class="apiconClass fa fa-search"></span>
                </oj-button>
                <oj-button class="btnStyle" on-oj-action='[[resetActionBtn]]'>
                    <span data-bind="text:labels().resetLbl()"></span>
                    <span slot='endIcon' class="apiconClass fa fa-repeat"></span>
                </oj-button>
            </div>
            <hr>
        </div>


        <div class="oj-flex oj-flex-items-pad">
            <div class="summaryBtn detailsBtn">
                <oj-button class="btnStyle" on-oj-action='[[addActionBtn]]'>
                    <span data-bind="text:labels().addLbl()"></span>
                    <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                </oj-button>
                <oj-button class="btnStyle" on-oj-action='[[editActionBtn]]' disabled="[[editBtnDisabled]]">
                    <span data-bind="text:labels().editLbl()"></span>
                    <span slot='endIcon' class="apiconClass fa fa-edit"></span>
                </oj-button>
                <oj-button class="btnStyle" on-oj-action='[[viewActionBtn]]' disabled="[[oprationdisabled]]">
                    <span data-bind="text:labels().viewLbl()"></span>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                </oj-button>
                <oj-button class="btnStyle" on-oj-action='[[approvalViewActionBtn]]' disabled="[[oprationdisabled]]">
                    <span data-bind="text:labels().approvalLbl()"></span>
                    <span slot='endIcon' class="apiconClass fa fa-list-ul"></span>
                </oj-button>
                <oj-bind-if test='[[infoBtnVisible]]'>
                    <oj-button class="btnStyle" on-oj-action='[[moreInfoActionBtn]]' disabled="[[infoDisabled]]">
                        <span data-bind="text:labels().requestMoreInfo()"></span>
                        <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                    </oj-button>
                </oj-bind-if>
                <oj-bind-if test='[[infoBtnVisible]]'>
                    <oj-button class="btnStyle" on-oj-action='[[closeActionBtn]]' disabled="[[infoDisabled]]">
                        <span data-bind="text:labels().close()"></span>
                        <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                    </oj-button>
                </oj-bind-if>
            </div>
        </div>
        <div class="tableContent">
            <oj-table class="tableStyle" id='table' data='[[tableDataProvider]]'
                selection-mode='{"row": "single", "column": "single"}' scroll-policy='loadMoreOnScroll'
                scroll-policy-options='{"fetchSize": 10}' columns='[[labels().columnArray()]]'
                on-oj-before-current-row="[[tableSelectionListener]]">
            </oj-table>
        </div>


    </div>
    
    <div id="dialogWrapper">
        <!-- approval dialog -->
        <oj-dialog class="dialogStyle" id="approvalDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text:labels().approvalLbl()"></label>
            </div>
            <div slot="body" id="demo">

                <!-- ko foreach: datacrad -->
                <div class="approval-card-body app-crd-bdy-received app-crd-bdy-border" data-bind="css: bodyStatus">
                    <div class="approval-card-header">
                        <h5 class="app-card-Pname"><span data-bind="text: personName"></span> </h5>
                        <p class="app-crd-type  badge badge-secondary" data-bind="css: status">
                            <span data-bind="text: FYA"></span></p>
                    </div>
                    <div class=" row approval-card-inf-body">
                        <div class="col-md-6">
                            <span class="badge badge-pill app-card-badge" data-bind="css: appCardStatus">
                                <span data-bind="text: Approved"></span></span> </div>

                        <div class="col-md-6">
                            <blockquote class="blockquote app-card-blockqoute">
                                <footer class="blockquote-footer"> <small>
                                        <span data-bind="text: date"></span></small></footer>
                            </blockquote>
                        </div>
                    </div>
                    <h5><span data-bind="text: rejectReason"></span> </h5>
                </div>
                <!-- /ko -->
            </div>
            <div slot="footer">
                <oj-button class="btnStyle" on-oj-action='[[approvalDialogCloseAction]]'>
                    <span>
                        <oj-bind-text value="[[labels().ok()]]"></oj-bind-text>
                    </span>
                </oj-button>
            </div>
        </oj-dialog>

        <!-- request more info -->
        <oj-dialog class="main-dialog main-dialog-width" id="requestMoreInfoDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text: labels().requestMoreInfo()"></label>
            </div>
    
            <div slot="body">
                <label data-bind="text: labels().requestMoreInfoMsg()"></label>
                <div>
                    <oj-label slot="label" for="reasonTxt" ><span data-bind="text: labels().reason()"></span></oj-label>
                    <oj-text-area id='reasonTxt' class="disable-element itemRevceiveInputText " value="{{reason}}">
                    </oj-text-area>
                </div>
            
            </div>
            <div slot="footer">
                <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[requestMoreInfoActionBtn]]'>
                    <span>
                        <oj-bind-text value="[[labels().yes()]]"></oj-bind-text>
                    </span>
                </oj-button>
                <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[requestMoreInfoDialogClose]]'>
                    <span>
                        <oj-bind-text value="[[labels().no()]]"></oj-bind-text>
                    </span>
                </oj-button>
            </div>
        </oj-dialog>

        <!-- request close info -->
        <oj-dialog class="main-dialog main-dialog-width" id="requestCloseDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text: labels().closeRequest()"></label>
            </div>
    
            <div slot="body">
                <label data-bind="text: labels().closeRequestMsg()"></label>
            </div>

            <div slot="footer">
                <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[requestCloseActionBtn]]'>
                    <span>
                        <oj-bind-text value="[[labels().yes()]]"></oj-bind-text>
                    </span>
                </oj-button>
                <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[requestCloseDialogClose]]'>
                    <span>
                        <oj-bind-text value="[[labels().no()]]"></oj-bind-text>
                    </span>
                </oj-button>
            </div>

        </oj-dialog>
        <!-- //--------------------------------------// -->
    </div>
</div>