<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--<div>
    <header role="banner">
        <div class="loginVerify__inputRow">
            <div class="headicon">
                <div class="back-icon"><img src="css/images/arrow_back.png" data-bind="click: BackBtn"> </div>
                    <oj-module class="header-title" config="[[headerConfig]]"style="display: inline-block;width: 60%;"></oj-module>

                <oj-button on-oj-action="[[notification]]"  class="headicon_Left"><span title=".oj-fwk-icon-hamburger" role="img"
                    class=" oj-fwk-icon"><img src="css/images/Icon-flash.png"></span>
                </oj-button>
                <oj-button on-oj-action="[[cc]]" > <span title=".oj-fwk-icon-caret-s" role="img"
                    class="oj-fwk-icon"><img src="css/images/Icon-bell.png"></span>
                </oj-button>
            </div>
        </div>
    </header>
</div>-->


<div class="oj-hybrid-applayout-page MLContainer">

    <div class="cardrow" style="text-align: center"> 
        <oj-button class="big-btn" on-oj-action="[[express_receipt]]" >
            <span title=".oj-fwk-icon-folder-collapsed" role="img"
                  class=" oj-fwk-icon"><img src="css/images/express.png"><span data-bind="text: ExpressLBL"/></span>
                   </oj-button>

        <oj-button class="big-btn" on-oj-action="[[normal_receipt]]" >
            <span title=".oj-fwk-icon-document" role="img"
                  class=" oj-fwk-icon"><img src="css/images/normal.png"><span data-bind="text: NormalLBL"/></span>
                   </oj-button>

    </div>
    
    <oj-dialog id="dialogprogress" class="loading-dialog">
    <div style="text-align: center">    
    <oj-progress id="progressCircle" type="circle" value="{{progressValue}}"></oj-progress>
 </div>
</oj-dialog>
</div>

