
<div>
    
    <div class="loginVerify__inputRow main-form">
        <oj-label for="po_num_id" class="loginVerify__inputField form-label"><span data-bind="text:PoNumLbl"/></oj-label>      
        <div class="after-qr">
           <oj-input-text id="po_num_id"  disabled='[[isDisabled]]'  style="width:200px"  value="{{informationDelivertModel.poNumber}}"></oj-input-text> 
        </div>
    </div>

    <div class="loginVerify__inputRow main-form">
        <oj-label for="vendor_id" class="loginVerify__inputField form-label"><span data-bind="text: vendorLBL"/></oj-label>
        <div class="after-qr">
          <oj-input-text id="vendor_id"   disabled='[[isDisabled]]' style="width:200px" value="{{informationDelivertModel.vendor}}"></oj-input-text> 
        </div>
    </div>

    <div class="loginVerify__inputRow main-form">
        <oj-label for="item_id" class="loginVerify__inputField form-label"><span data-bind="text: ItemLBL"/> </oj-label>
        <div class="after-qr">
            <oj-input-text id="item_id"  disabled='[[isDisabled]]'  style="width:200px" value="{{informationDelivertModel.item}}"></oj-input-text> 
        </div>
    </div>

    <div class="loginVerify__inputRow main-form">
        <oj-label for="qty_id" class="loginVerify__inputField form-label"><span data-bind="text: QtyLBL" /></oj-label>
        <div class="after-qr">
           <oj-input-text id="qty_id"  disabled='[[isDisabled]]' style="width:200px" value="{{informationDelivertModel.qty}}"></oj-input-text> 
        </div>
    </div>
     <div class="loginVerify__inputRow main-form">
        <oj-label for="location_id" class="loginVerify__inputField form-label"><span data-bind="text: LocationLBL" /></oj-label>
        <div class="after-qr">
             <oj-input-text id="location_id"  disabled='[[isDisabled]]' style="width:200px" value="{{informationDelivertModel.location}}"></oj-input-text> 
        </div>
    </div>
    
     <div class="loginVerify__inputRow main-form location-label">
         <img src="css/images/info-icon.png">
        <oj-label for="enterloc_id" class="loginVerify__inputField form-label"><span data-bind="text: EnterLocationLBL" /></oj-label> 
    </div>
    
    
    
  <div class="loginVerify__inputRow  main-form">
            <oj-label for="subinv_id" class="loginVerify__inputField form-label"><span data-bind="text: subinvLbl"></oj-label>
            <oj-combobox-one placeholder="" options="{{sub_inv_arr}}" on-value-changed ="{{subinvchangehandler}}" class="form-input" id="subinv_id"  value="{{informationDelivertModel.sub_inv}}"></oj-combobox-one>
            <img src="css/images/add-icon.png"> 
            
        </div>
    
        <div class="loginVerify__inputRow  main-form">
            <oj-label for="locator_id"class="loginVerify__inputField form-label"><span data-bind="text: locatorLbl"></oj-label>
            <oj-combobox-one placeholder="" options="{{locator_arr}}"  class="form-input" id="locator_id"  value="{{informationDelivertModel.locator}}"></oj-combobox-one>
            <img src="css/images/add-icon.png"> 
            
        </div>
    
    

    <div style="text-align: center">
        <oj-button class="main-btn" on-oj-action="[[done]]"><span data-bind="text: DoneLBL"/></oj-button>
       
    </div>

     <oj-dialog id="dialogprogress" class="loading-dialog">
    <div style="text-align: center">    
    <oj-progress id="progressCircle" type="circle" value="{{progressValue}}"></oj-progress>
 </div>
</oj-dialog>
    
    </div>

