<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--<div>
    <header role="banner">
        <div class="loginVerify__inputRow">
            <div class="headicon">
                <div class="back-icon"><img src="css/images/arrow_back.png" data-bind="click: BackBtn"> </div>
                    <oj-module class="header-title" config="[[headerConfig]]"style="display: inline-block;width: 60%;"></oj-module>

                <oj-button on-oj-action="[[notification]]" ><span title=".oj-fwk-icon-hamburger" role="img"
                    class="oj-fwk-icon"><img src="css/images/Icon-flash.png"></span></oj-button>
                <oj-button on-oj-action="[[cc]]" > <span title=".oj-fwk-icon-caret-s" role="img"
                    class="oj-fwk-icon"><img src="css/images/Icon-bell.png"></span>
                </oj-button>

            </div>
        </div>
    </header>
</div>-->

<!--style="max-width: 175px; margin:50%;"-->


<div style="text-align: center">
    <img src="css/images/qrimg.png" alt="Qr" style="margin-top: 10vh;width: 100%;"><br>
    <oj-button class="main-btn" on-oj-action="[[scan]]"><span data-bind="text: ScanQRCodeLBL"/></oj-button>
</div>









