<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

 
    
    <div >
        <oj-validation-group id="tracker" valid="{{groupvalid}}" role="group" aria-labelledby="grouplabelid">
        <div class="loginVerify__inputRow main-form">
            <oj-label for="po_num" class="loginVerify__inputField form-label"><span data-bind="text: PoNumLbl" /></oj-label>
             <oj-combobox-one placeholder="[[placeholder]]" options="{{po_num_Arr}}" on-value-changed = "{{PoNumChangedHandler}}"  class="form-input" id="po_num"  value="{{normalDeliverModel.poNumber}}" required autocomplete="off"></oj-combobox-one>
            <img src="css/images/add-icon.png"> 
        </div>
        
        
        
        
       <div class="loginVerify__inputRow main-form">
            <oj-label for="supplier_id" class="loginVerify__inputField form-label"><span data-bind="text: SupplierLBL"/></oj-label>
            <oj-input-text class="form-input" id="supplier_id" value="{{ normalDeliverModel.supplier}}" disabled="true" ></oj-input-text>
        </div>
        
        
        <div class="loginVerify__inputRow main-form">
            <oj-label for="item_id" class="loginVerify__inputField form-label"><span data-bind="text: LineNumLBL"/></oj-label>
             <oj-combobox-one placeholder="[[placeholder]]" class="form-input" id="linenum_id" on-value-changed = "{{linenumChangedHandler}}"  options="{{linenum_Arr}}"  value="{{normalDeliverModel.lineNumber}}" required autocomplete="off"></oj-combobox-one>
              <img src="css/images/info-icon.png"> 
        </div>
        
        
        
         <div class="loginVerify__inputRow main-form">
            <oj-label for="item_id"class="loginVerify__inputField form-label"><span data-bind="text: ItemLBL"/></oj-label>
            <oj-input-text class="form-input" id="item_id" value="{{normalDeliverModel.item}}" disabled="false"></oj-input-text>
        </div>
        
        
        
        <div class="loginVerify__inputRow main-form">
            <oj-label for="item_id"class="loginVerify__inputField form-label"><span data-bind="text: DescLBL"/></oj-label>
            <oj-input-text class="form-input" id="description_id" value="{{normalDeliverModel.description}}" disabled="false"></oj-input-text>
        </div>
        
        
        
         <div class="loginVerify__inputRow main-form">
            <oj-label for="item_id"class="loginVerify__inputField form-label"><span data-bind="text: ShipmentNumLBL"/></oj-label>
        </div>
        
        
        
        <div class="loginVerify__inputRow main-form">
            <oj-label for="item_id"class="loginVerify__inputField form-label" disabled="true"><span data-bind="text: LPNLBL" /></oj-label>
            <oj-combobox-one placeholder="[[placeholder]]" options="{{LPN_Arr}}" on-value-changed = "{{LPNChangedHandler}}"  class="form-input" id="lpn_id"   value="{{normalDeliverModel.lpn}}" required autocomplete="off"></oj-combobox-one>
        </div>
        
        
        <div class="loginVerify__inputRow main-form">
            <oj-label for="item_id"class="loginVerify__inputField form-label"><span data-bind="text: LocationLBL"/></oj-label>
             <oj-combobox-one placeholder="[[placeholder]]" class="form-input" id="location_id" options="{{LocationArr}}"  on-value-changed = "{{LocationChangedHandler}}"   value="{{normalDeliverModel.location}}" required autocomplete="off"></oj-combobox-one>
        </div>
        
        
        <div class="loginVerify__inputRow  main-form">
            <oj-label for="uom_id"class="loginVerify__inputField form-label"><span data-bind="text: UOMLBL"></oj-label>
              <oj-input-text class="form-input" id="uom_id" value="{{normalDeliverModel.uom}}" disabled="false"></oj-input-text>
        </div>
        
        
        <div class="loginVerify__inputRow  main-form">
            <oj-label for="qty_id" class="loginVerify__inputField form-label"><span data-bind="text: QtyLBL"></oj-label>
            <oj-input-text class="form-input" id="qty_id" value="{{normalDeliverModel.qty}}" disabled="false" required autocomplete="off"></oj-input-text>
            <img src="css/images/add-icon.png"> 
        </div>
        
           
        
             <div class="loginVerify__inputRow  main-form">
            <oj-label for="subinv_id" class="loginVerify__inputField form-label"><span data-bind="text: subinvLbl"></oj-label>
            <oj-combobox-one placeholder="" options="{{sub_inv_arr}}" on-value-changed ="{{subinvchangehandler}}" class="form-input" id="subinv_id"  value="{{normalDeliverModel.sub_inv}}" required autocomplete="off"></oj-combobox-one>
            <img src="css/images/add-icon.png"> 
            
        </div>
            
         
    
        <div class="loginVerify__inputRow  main-form">
            <oj-label for="locator_id" class="loginVerify__inputField form-label"><span data-bind="text: locatorLbl"></oj-label>
            <oj-combobox-one placeholder="" options="{{locator_arr}}"  class="form-input" id="locator_id"  value="{{normalDeliverModel.locator}}" required autocomplete="off"></oj-combobox-one>
            <img src="css/images/add-icon.png"> 
            
        </div>
 </oj-validation-group> 
               
        <div style="text-align: center">
            <oj-button class="main-btn" data-bind="visible: isvisBtnSerial"  id="done_btn" on-oj-action="[[enter_to_serial]]"><span data-bind="text:EnterSerialLBL"></oj-button>
        <oj-button class="main-btn" data-bind="visible: isvisBtnDone"  id="done_btn" on-oj-action="[[SubmitReceipt]]"><span data-bind="text:SubmitReceitLBL"></oj-button>
        </div>
   
    

<oj-dialog class="popup-dialog"  id="yesNoDialog">  
             
            <div slot="header" class="oj-helper-clearfix popup-head">
                <oj-button class="close-btn" on-oj-action="[[closedialog]]"><span style="color:#e20909" title=".oj-fwk-icon-cross02" role="img"
                          class="oj-fwk-icon-cross02 oj-fwk-icon"></span></oj-button>
                <label data-bind="text:EnterSerialHeader "></label>
                    
            </div>  

            <div slot="body">
        <div class="MLCardCont receipt-form">
            <div class="loginVerify__inputRow">
                <oj-validation-group id="tracker" valid="{{groupvalid1}}" role="group" aria-labelledby="grouplabelid">
                <div class="cardRow">
                    <oj-label for="from" class="loginVerify__inputField form-label" style="font-weight:bold"><sapn data-bind="text:FromLBL"></oj-label>
                    <oj-input-text class="form-input" id="from" value="{{normalDeliverModel.serialFrom}}" required autocomplete="off"></oj-input-text> 
                </div>
                 </oj-validation-group>    
            </div>
            
        </div>
<!--<span><oj-bind-text value="[[AddSerialLBL]]"></oj-bind-text></span>-->
    </div>
     
    <div class="receipt-popup" slot="footer">
       
        <oj-label class="remain-txt"><span data-bind="text:RemainingLbl"></span><span data-bind="text:remain"></span></oj-label>
        <oj-button class="apBtn-2 main-btn btn-left" on-oj-action='[[AddSerialNumber]]'>
           <span><oj-bind-text value="[[SubmitForApproveLBL]]"></oj-bind-text></span>
        </oj-button>
    
    </div>
</oj-dialog> 
         
    <oj-dialog id="dialogprogress" class="loading-dialog">
    <div style="text-align: center">    
    <oj-progress id="progressCircle" type="circle" value="{{progressValue}}"></oj-progress>
 </div>
</oj-dialog>
        
<oj-dialog class="popup-dialog"  id="yesNoSubmitReceiptDialog">  
        <div slot="header" class="oj-helper-clearfix popup-head">
            <label data-bind="text:confirmationMessageHeader "></label>
        </div>  
        <div slot="body">
            <div class="MLCardCont receipt-form">
                <div class="loginVerify__inputRow">
                    
                    <div class="cardRow">
                        <oj-label for="from" class="loginVerify__inputField form-label" style="font-weight:bold"><sapn data-bind="text:ConfirmationMessageBody"></oj-label>
                      
                    </div>
                </div>               
            </div>     
        </div>
        <div class="receipt-popup" slot="footer">
            <div class="center-btns">
                <oj-button class="apBtn-2 main-btn" on-oj-action='[[yesSubmitDeliver]]'>
                    <span><oj-bind-text value="[[yesLbl]]"></oj-bind-text></span>
                </oj-button>
                <oj-button class="apBtn-2 main-btn" on-oj-action='[[NOSubmitDeliver]]'>
                    <span><oj-bind-text value="[[NOLbl]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </div>
    </oj-dialog>         
        
 
</div>