<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--<div>
    <header role="banner">
        <div class="loginVerify__inputRow">
            <div class="headicon">
                <div class="back-icon"><img src="../../../css/images/arrow_back.png"> </div>
                <oj-module class="header-title" config="[[headerConfig]]"style="display: inline-block;width: 60%;"></oj-module>

                <oj-button on-oj-action="[[notification]]" class="headicon_Left"><span title=".oj-fwk-icon-hamburger" role="img"
                    class=" oj-fwk-icon"><img src="../../../css/images/Icon-flash.png"></span>
                </oj-button>

                <oj-button on-oj-action="[[cc]]" > <span title=".oj-fwk-icon-caret-s" role="img"
                    class="oj-fwk-icon"><img src="../../../css/images/Icon-bell.png"></span>
                </oj-button>
            </div>
        </div>
    </header>
</div>-->



<div class="oj-hybrid-applayout-page MLContainer">

    <div class="MLCardCont receipt-form">
        <div class="loginVerify__inputRow">
            <div class="cardRow">

                <oj-label for="from" class="loginVerify__inputField form-label" style="font-weight:bold">From</oj-label>
                <span class="card-num" style="color: #333;"> 3254</span>
                <!-- <oj-input-text class="form-input" id="from" value="{{from}}" ></oj-input-text> -->
            </div>
        </div>
        <div class="loginVerify__inputRow">
            <div class="cardRow">
                <oj-label for="to" class="loginVerify__inputField form-label" style="font-weight:bold">To</oj-label>
                <span class="card-num" style="color: #333;"> 3254010</span>
                <!-- <oj-input-text class="form-input" id="to" value="{{to}}"></oj-input-text> -->
            </div>
        </div> 
        <div style="text-align: center;">   
            <oj-button class="main-btn" on-oj-action="[[serial_done]]">Done</oj-button> 
        </div>
    </div>

</div>
