<div class="request_body_styling animated fadeInUp ">
    <h3 class="header_headline_style"><span> <oj-bind-text value="[[confisScreenLbl]]"></oj-bind-text> </span></h3>

    <div class="summaryBtn detailsBtn">
        <oj-button class="btnStyle" on-oj-action="[[backBtn]]"><i class="fa fa-backward fontawesomePadding"></i><span data-bind="text: label().backLbl"></span></oj-button>
        <oj-button class="btnStyle" on-oj-action="[[confiscationBtn]]"><i class="fa fa-times"></i><span data-bind="text: label().confiscationLbl"></span></oj-button>
    </div>
    <div class="penaltyDetailsContent start summaryContent start padding-right container">
        <div class="oj-flex oj-flex-items-pad">

            <div class="oj-md-6 oj-sm-12 oj-flex-item"> 
                <oj-label slot="label"><span data-bind="text: label().bankAccountLbl"></span></oj-label>
                <oj-select-one  id="supplierNaSelect" value="{{customsModel.bankAccountVal}}" placeholder="Please Select : " options="[[customsModel.bankAccountArr]]"
                  on-value-changed="[[bankAccvalueChange]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().letterOfGuarnAmoutLbl"></span></oj-label>
                <oj-input-text disabled="{{customsModel.disableAdvance}}" slot="value" value="{{customsModel.letterOfGuarnAmoutVal}}"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().lgTransactionDateLbl"></span></oj-label>
                <oj-input-date id="date" value='{{customsModel.lgEndDateVal}}'>
                </oj-input-date>
            </div>

        </div>
        <oj-dialog id="confirmConfis" style="display:none;width:800px;">
            <div slot="header">
                <h3 data-bind="text: label().confirmConfis"></h3>
            </div>
            <div slot="body">
                <span data-bind="text: label().confiscationTextLbl"></span>
            </div>

            <div slot="footer">
                <oj-button class="btnStyle" on-oj-action="[[yes]]"><span
                        data-bind="text: label().yesLbl"></span></oj-button>
                <oj-button class="btnStyle" on-oj-action="[[no]]"><span
                        data-bind="text: label().noLbl"></span></oj-button>
            </div>

        </oj-dialog>
    </div>
</div>