<div class="request_body_styling animated fadeInUp ">
    <h3 class="header_headline_style"><span>
            <oj-bind-text value="[[labels().notificationScreenLbl()]]"></oj-bind-text>
        </span></h3>
    <div class="summaryContent container">

        <div id='searchArea'>
            <div class='row'>
                <!-- <div class='col-md-4 col-sm-6 col-xs-6'>
                    <h5><b class="idpPagInfoType" data-bind="text: labels().serviceNameLbl()"></b></h5>
                    <oj-select-single id="serviceSelect"  data="[[serviceListProvider]]" 
                     placeholder='[[labels().placeHolder()]]' value="[[selectedServiceName]]">
                    </oj-select-single>
                </div> -->
                <div class='col-md-4 col-sm-6 col-xs-6'>
                    <h5><b class="idpPagInfoType" data-bind="text: labels().notificationTypeLbl()"></b></h5>
                    <oj-select-single id="notifiSelect" data="[[notificationTypeListProvider]]"
                        placeholder='[[labels().placeHolder()]]' value="{{selectedNotifiType}}"
                        on-value-changed="[[notificationTypeHandler]]">
                    </oj-select-single>
                </div>
                <oj-bind-if test='[[showStatusList]]'>
                    <div class='col-md-4 col-sm-6 col-xs-6'>
                        <h5><b class="idpPagInfoType" data-bind="text: labels().statusLbl()"></b></h5>
                        <oj-select-single id="satausSelect" data="[[statusListProvider]]"
                            placeholder='[[labels().placeHolder()]]' value="{{selectedStatus}}">
                        </oj-select-single>
                    </div>
                </oj-bind-if>
                <div class='col-md-4 col-sm-6 col-xs-6'>
                    <h5><b class="idpPagInfoType" data-bind="text: labels().itemNumber()"></b></h5>
                    <oj-input-text class="disable-element itemRevceiveInputText" value="{{itemNumber}}">
                    </oj-input-text>
                    <!-- <oj-select-single id="satausSelect"  data="[[statusListProvider]]" 
                     placeholder='[[labels().placeHolder()]]' value="[[selectedStatus]]">
                    </oj-select-single> -->
                </div>
            </div>
            <div class='row rowCenter'>
                <oj-button class="btnStyle" on-oj-action='[[searchActionBtn]]'>
                    <span data-bind="text:labels().searchLbl()"></span>
                    <span slot='endIcon' class="apiconClass fa fa-search"></span>
                </oj-button>
                <oj-button class="btnStyle" on-oj-action='[[resetActionBtn]]'>
                    <span data-bind="text:labels().resetLbl()"></span>
                    <span slot='endIcon' class="apiconClass fa fa-repeat"></span>
                </oj-button>
            </div>
            <hr>
        </div>
        <div class="oj-flex oj-flex-items-pad">
            <div class="summaryBtn detailsBtn">
                <oj-button class="btnStyle" on-oj-action='[[viewActionBtn]]' disabled="[[oprationdisabled]]">
                    <span data-bind="text:labels().viewLbl()"></span>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                </oj-button>
                <oj-button class="btnStyle" on-oj-action='[[openApproveDialog]]' disabled="[[approvalBtnDisabled]]">
                    <span data-bind="text:labels().approveLbl()"></span>
                    <span slot='endIcon' class="apiconClass fa fa-check"></span>
                </oj-button>
                <oj-button class="btnStyle" on-oj-action='[[openRejectDialog]]' disabled="[[approvalBtnDisabled]]">
                    <span data-bind="text:labels().rejectLbl()"></span>
                    <span slot='endIcon' class="apiconClass fa fa-times"></span>
                </oj-button>
            </div>
        </div>
        <div class="tableContent">
            <oj-table class="tableStyle" id='table' data='[[tableDataProvider]]'
                selection-mode='{"row": "single", "column": "single"}' scroll-policy='loadMoreOnScroll'
                scroll-policy-options='{"fetchSize": 10}' columns='[[labels().columnArray()]]'
                on-oj-before-current-row="[[tableSelectionListener]]">
            </oj-table>
        </div>


    </div>
</div>

<div id='dialog wrapper'>

      <!-- -------- approve and reject dialog ------------- -->

    <!-- ///// approve dialog -->
    <oj-dialog class="main-dialog main-dialog-width" id="approveDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: labels().approveTitle()"></label>
        </div>

        <div slot="body">
            <label data-bind="text: labels().approveMessage()"></label>
        </div>
        <div slot="footer">
            <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[approveActionBtn]]'>
                <span>
                    <oj-bind-text value="[[labels().yes()]]"></oj-bind-text>
                </span>
            </oj-button>
            <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[approveDialogClose]]'>
                <span>
                    <oj-bind-text value="[[labels().no()]]"></oj-bind-text>
                </span>
            </oj-button>
        </div>
    </oj-dialog>
    <!-- ///////reject dialog -->
    <oj-dialog class="main-dialog main-dialog-width" id="rejectDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: labels().rejectTitle()"></label>
        </div>

        <div slot="body">
            <label data-bind="text: labels().rejectMessage()"></label>
            <div>
                <oj-label slot="label" for="reasonTxt" ><span data-bind="text: labels().rejectReason()"></span></oj-label>
                <oj-input-text id='reasonTxt' class="disable-element itemRevceiveInputText " value="{{rejectReason}}">
                </oj-input-text>
            </div>
        
        </div>
        <div slot="footer">
            <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[rejectActionBtn]]'>
                <span>
                    <oj-bind-text value="[[labels().yes()]]"></oj-bind-text>
                </span>
            </oj-button>
            <oj-button class="btnStyle apBtn-disabled-2" on-oj-action='[[rejectlDialogClose]]'>
                <span>
                    <oj-bind-text value="[[labels().no()]]"></oj-bind-text>
                </span>
            </oj-button>
        </div>
    </oj-dialog>
</div>