<div id="sampleDemo" style="" class="demo-padding demo-container">
      <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
        
        <oj-table id='table' aria-label='Sales Representative Table'
                                        data='[[dataprovider]]' 
                                        columns='{{columnArray}}'
                                        style='width: 100%;'>
        </oj-table>
        <script type="text/html" id="emp_photo">
             <td>
              <span class="avatar" data-bind="attr: {style: 'background-image: url(' + $context.row.Photo + ')'}"></span>
             </td>
        </script>
        <script type="text/html" id="emp_name">
             <td data-bind="text: $context.row.FirstName + ' ' + $context.row.LastName">
             </td>
        </script>
        <script type="text/html" id="revenue">
             <td>
               <oj-input-text label-hint="Revenue"
        	                 value="{{Revenue}}" name="revenue"
        	                 data-bind="attr: {value: $context.row.Revenue}"
        	                 converter= '{
        	                 "type":"number",
        	                 "options": {"style": "currency", "currency": "USD", "currencyDisplay": "symbol"}}'>
               </oj-input-text>
             </td>
        </script>
        <script type="text/html" id="revenue_total_label">
             <td style="font-weight:bold;">
               Total Revenue
             </td>
        </script>
        <script type="text/html" id="revenue_total">
             <td>
               <oj-input-text id="table:revenue_total" label-hint="Revenue"
               					 data-bind="attr: {value: $root.revenue_total_func($context.footerContext)}"
        	 	                 name="revenue_total"
        	 	                 readonly=true
        	 	                 converter= '{
        	 	                 "type":"number",
        	 	                 "options": {"style": "currency", "currency": "USD", "currencyDisplay": "symbol"}}'>
               </oj-input-text>
             </td>
        </script>
        <script type="text/html" id="rating">
             <td>
               <oj-rating-gauge value='{{$context.row.Rating}}' readonly
                     style="width:60px;height:15px;">
                </oj-rating-gauge>
             </td>
        </script>
        <script type="text/html" id="target">
             <td>
               <oj-chart type='pie'
                     data-bind="attr: {series: JSON.stringify([{name: 'Achieved', items: [$context.row.TargetComplete]},
                                                              {name: 'Incomplete', items: [$context.row.TargetIncomplete]}])}"
                     style-defaults='{"dataLabelPosition": "center"}'
                     legend='{"rendered": "off"}'
                     style="width:100px;height:100px">
            	 </oj-chart>
             </td>
        </script>

        
      </div>
    </div>