<!--
 Copyright (c) 2014, 2018, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->
<div class="oj-hybrid-padding">
    <div class="row">
        <div class="filter_bg">
            <oj-select-one id="yearSelect" value="{{selectedYearValue}}" options="[[yearQuarterArray]]" on-value-changed="[[yearValueChangedHandler]]"></oj-select-one>
        </div>
    
    </div>
    <div class="filter-name-container filter-name-container-devices">
                <ul>
                    <li style="display: block !important; margin-left: 5%;" data-bind="click: resetAll">
                        <span :class="demo-icon-font-24 demo-home-icon-24 home-wrapper" style="color:#ffffff"></span>
                    </li>
                    <li style="display: block !important; color:#ffffff" class="reset-all">
                        <span class="reset-prog" data-bind="click: resetEntity">الأجهزة</span>
                    </li>
                    
                    <li class="reset-prog">
                            <img alt="arrow" src="css/images/header-arrow.png" class="arrow-wrapper">
                    </li>
            
                    <li class="reset-prog"> 
                        <span class="reset-prog" data-bind="click: resetEntity">
                            <!-- ko text: currentProgName -->
                            <!-- /ko-->
                        </span>
                    </li>
                    <li class="reset-entity">
                        <img alt="arrow" src="css/images/header-arrow.png" class="arrow-wrapper">
                    </li>
            
                    <li class="reset-entity"> 
                        <span class="reset-entity" data-bind="click: resetObject">
                            <!-- ko text: currentEntityName -->
                            <!-- /ko-->
                        </span>
                    </li>
            
                    <li class="reset-object">
                            <img alt="arrow" src="css/images/header-arrow.png" class="arrow-wrapper">
                        </li>
                    <li class="reset-object">
                        <span class="reset-object">
                            <!-- ko text: currentObjectiveName -->
                            <!-- /ko-->
                        </span>
                    </li>
                </ul>
            </div>
        <section class="main_bg1">
            <div class="container dashboard_cont">
                
    
                <div class="expand-dashboard-info-container">
                        <div class="expand-dashboard-info"></div>
                </div>
    
                <div class="row">
                    <div class="col col-1 dashboard_info">
                    
                        <!-- ko if: currentLevel() !== 'Object'  -->
                        <div class="dashboard-text dashboard-text2">
                            <div class="info_gradient info_gradient2">
                                <div class="col info_gradient_bg">
                                    <span>
                                        <!-- ko if: currentLevel() == 'Entity'  -->
                                        <!-- ko text: localePrograms -->
                                        <!-- /ko -->
                                        <!-- /ko -->
                                        <!-- ko if: currentLevel() !== 'Entity'  -->
                                        <!-- ko text: localeEntities -->
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </span>
                                </div>
                                <!-- ko if: currentLevel() == 'Entity'  -->
                                        <span class="dashboard-number" data-bind="text: entitesNumbers"></span>
                                        <!-- /ko -->
                                <!-- ko if: currentLevel() !== 'Entity'  -->
                                        <span class="dashboard-number" data-bind="text: progNumbers"></span>
                                        <!-- /ko -->
                                
                                
                            </div>
                            <div class="info_gradient">
                                <div class="col info_gradient_bg">
                                    <span>
                                        <!-- ko text: localeObjectives -->
                                        <!-- /ko -->
                                    </span>
                                </div>
                                <span class="dashboard-number" data-bind="text: objectiveNumbers"></span>
                            </div>
                        </div>
                        <div class="dashboard-text">
                            <div class="info_gradient info_gradient2">
                                <div class="col info_gradient_bg">
                                    <span>المؤشرات</span>
                                </div>
                                <span class="dashboard-number" data-bind="text: KPINumbers"></span>
                    
                            </div>
                            <div class="info_gradient">
                                <div class="col info_gradient_bg">
                                    <span>المبادرات</span>
                                </div>
                                <span class="dashboard-number" data-bind="text: inititivesNumbers"></span>
                            </div>
                        </div>
                        <!-- /ko -->
                    
                        <oj-chart id="barChart" type="bar" orientation="[[orientationValue]]" stack="[[stackValue]]" stack-label="[[stackLabelValue]]"
                            series="[[mo2shratBarSeriesValue]]" legend.rendered="[[legendRenderedValue]]" animation-on-display="auto" groups="[[barGroupsValue]]"
                            animation-on-data-change="auto" hover-behavior="dim" y2-axis.tick-label.rendered="off" style="width:100%;height: 159px;">
                        </oj-chart>

                        <div class="kpi-row-details-container dashboard-row-details-container">
                            <div class="oj-flex-item kpi-row-detail-label kpi-row-head kpi-row-head1">نسبة الانجاز</div>
                            <div>
                                <span class="circle"></span> 99% فأكثر
                            </div>
                            <div>
                                <span style="background-color: #FBD903;" class="circle"></span> 99% ~ 85%
                            </div>
                            <div>
                                <span style="background-color: #C00000;" class="circle"></span> ما دون 85%
                            </div>
                        </div>
                        <div class="kpi-row-details-container dashboard-row-details-container dashboard-row-details-container2">
                            <div class="oj-flex-item kpi-row-detail-label kpi-row-head kpi-row-head1">نسبة التباين</div>
                            <div>
                                <span class="circle"></span> ما دون 5%
                            </div>
                            <div>
                                <span style="background-color: #FBD903;" class="circle"></span> 15% ~ 5%
                            </div>
                            <div>
                                <span style="background-color: #C00000;" class="circle"></span> اكثر من 15%
                            </div>
                        </div>
                    </div>
                </div>
                <!--    <div id="composite-container" class="oj-flex oj-sm-flex-items-initial">
                 ko foreach: cards 
                <adaa-card class="oj-flex-item"
                           initials="[[initials]]" avatar-size="[[avatarSize]]"
                           moshrat-r="[[mo2shratR]]" moshrat-y="[[mo2shratY]]" moshrat-g="[[mo2shratG]]" moshrat-s="[[mo2shratS]]" 
                           mobadrat-r="[[mobadratR]]" mobadrat-y="[[mobadratY]]" mobadrat-g="[[mobadratG]]" mobadrat-s="[[mobadratS]]">
                </adaa-card>
                 /ko
                <!--    </div>-->
    
                <!--<div class="oj-panel ">-->
                
                <!-- ko if: currentLevel() == 'Object'  -->
                <div id="switch-kpi-container" style="text-align: center;">
                    <span class="swtich-kpi-text program-details-toggle-text oj-margin">المؤشرات</span>
                    <oj-switch id="switch" value="{{objType}}" on-value-changed='[[pushAllLineChartsData]]'></oj-switch>
                    <span class="swtich-ini-text program-details-toggle-text oj-margin">المبادرات</span>
                </div>            
                <div id="switch-kpi-null" style="display: none; color: #808185;font-size: 20px !important; margin-right: 41%; margin-top:10%;">
                    لا توجد بيانات لعرضها</div>
                <!-- /ko -->
                <!-- ko if: currentLevel() == 'Prog'  -->
                <div style="text-align: center;padding-bottom: 10px;">
                    <span style="color: #333333; font-weight: 700; font-size: 20px">يرجى إختيار أحد الأجهزة أدناه لمعرفة المزيد من التفاصيل</span>
                </div>
                <!-- /ko -->
                <oj-masonry-layout id="composite-container" class="oj-flex oj-sm-flex-items-initial">
                    <!--<div id="composite-container" class="oj-flex oj-sm-flex-items-initial">-->
                    <!--  ko foreach: cards -->
                        <div style="padding: 0 !important" class="oj-panel composite-panel adaa-card oj-hybrid-padding" data-bind=" css: sizeClass">

                        <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-center program-details-img" data-bind="click:$parent.programCardOnClick">
                            <!--<img alt="profile image" src="css/images/01-01.png" class="demo-james-icon">-->
                            <!-- ko if: $parent.currentLevel() == 'All'  -->
                            <div id="image" data-bind="style:{'background-image': 'url(css/images/programsLogo/'+programNumber+'.png)', 'background-size': '100% 100%'}" style="height:74px;width:80%;"></div>
                            <!-- /ko -->
                            <!-- ko if: $parent.currentLevel() == 'Prog'  -->
                            <!--<span data-bind="text: entityNameArabic"></span>-->
                            <div id="image" data-bind="style:{'background-image': 'url(css/images/entitiesLogo/'+entityCode+'.png)', 'background-size': '100% 100%'}" style="height:74px;width:80%;"></div>
                            <!-- /ko -->
                            <!-- ko if: $parent.currentLevel() == 'Entity'  -->
                            <span data-bind="text: objectiveNameArabic" style="height: 74px;"></span>
                            <!-- <img id="image" data-bind="attr:{'aria-label':'Program Logo' ,'src' : 'css/images/entitiesLogo/'+entityCode+'.png'}" style="height:30%;width:80%">-->
                            <!-- /ko -->
                        </div>
    
                        <div style="padding: 5px 10px; background-color: #ffffff">
                            
                            <div class="oj-flex ">
                                <div class="oj-flex-item oj-margin"  style="width: 24%;">
                                    <oj-label for="image">
                                        <h4 class="program-details-text" data-bind="click: $parent.showKPIDetailsTable.bind($data,programNumber,entityCode,objCode,'none',KPICount, entityNameArabic)">المؤشرات<span data-bind="text: KPICount"></span>
                                        </h4>
                                    </oj-label>
                                </div>
                                <div class="oj-flex-item oj-margin col col-5 program_stats success" data-bind="click:$parent.showKPIDetailsTable.bind($data,programNumber,entityCode,objCode,'Green',KPICount, entityNameArabic)">
                                    <span data-bind="text: mo2shratG"></span>
                                </div>
                                <div class="oj-flex-item oj-margin col col-5 program_stats warning" data-bind="click:$parent.showKPIDetailsTable.bind($data,programNumber,entityCode,objCode,'Yellow',KPICount, entityNameArabic)">
                                    <span data-bind="text: mo2shratY"></span>
                                </div>
                                <div class="oj-flex-item oj-margin col col-5 program_stats error" data-bind="click:$parent.showKPIDetailsTable.bind($data,programNumber,entityCode,objCode,'Red',KPICount, entityNameArabic)">
                                    <span data-bind="text: mo2shratR"></span>
                                </div>
                                <div class="oj-flex-item oj-margin col col-5 program_stats normal" data-bind="click:$parent.showKPIDetailsTable.bind($data,programNumber,entityCode,objCode,'Gray',KPICount, entityNameArabic)">
                                    <span data-bind="text: mo2shratS"></span>
                                </div>
                            </div>
                            
                            <div class="oj-flex">
                                <div class="oj-flex-item oj-margin" style="width: 24%;">
                                    <oj-label for="image">
                                    <h4 class="program-details-text" data-bind="click: $parent.showINIDetailsTable.bind($data,programNumber,entityCode,objCode,'none',INICount, entityNameArabic)">المبادرات<span data-bind="text: INICount"></span>
                                    </h4>
                                </oj-label>
                                </div>
                                
                                <div class="oj-flex-item oj-margin col col-5 program_stats success" data-bind="click:$parent.showINIDetailsTable.bind($data,$data.programNumber,entityCode,objCode,'Green',INICount, entityNameArabic)">
                                    <span data-bind="text: mobadratG"></span>
                                </div>
                                <div class="oj-flex-item oj-margin col col-5 program_stats warning" data-bind="click:$parent.showINIDetailsTable.bind($data,programNumber,entityCode,objCode,'Yellow',INICount, entityNameArabic)">
                                    <span data-bind="text: mobadratY"></span>
                                </div>
                                <div class="oj-flex-item oj-margin col col-5 program_stats error" data-bind="click:$parent.showINIDetailsTable.bind($data,programNumber,entityCode,objCode,'Red',INICount, entityNameArabic)">
                                    <span data-bind="text: mobadratR"></span>
                                </div>
                                <div class="oj-flex-item oj-margin col col-5 program_stats normal" data-bind="click:$parent.showINIDetailsTable.bind($data,programNumber,entityCode,objCode,'Gray',INICount, entityNameArabic)">
                                    <span data-bind="text: mobadratS"></span>
                                </div>
                            </div>
    
                        </div>
                    </div>
                    <!-- /ko -->
                    <!--  ko foreach: allLineChartsData -->
                    <div id='chart-container'>
                        <oj-chart id="lineChart" type="line" series="[[areaSeries]]" groups="[[areaGroups]]" animation-on-display="auto"
                                  animation-on-data-change="auto" orientation="vertical" stack="off" hover-behavior="dim" legend.position="top"
                                  style-defaults.marker-shape="circle" y2-axis.title="[[measurementUnitAr]]" value-formats.y2.scaling="none"
                                  style="max-width:500px;width:100%;height:350px;" y2-axis.tick-label.scaling ="none"
                                  value-formats.series.tooltip-label="" y2-axis.data-max="[[maxAxisData]]" y2-axis.data-min="0"
                                  style-defaults.marker-displayed="on" legend.text-style='{"font - family": "adaa_font","font - size": "14px","font - weight": "400"}'>
                        </oj-chart>
                    </div>
                    <!-- /ko -->
                    <!--</div>-->
                </oj-masonry-layout>
    
                <!--</div>-->
                <div id="dialogWrapper">
                    <oj-dialog style="display:none;width: 90vw; height: 60vh; position: fixed;" id="inititiveDetailsTable" title="" cancel-behavior='icon' on-oj-open='[[dialogOpen]]' on-oj-close='[[inititiveDetailsClosed]]'>
                        <div>
                            <span id="dialogTitleId" class="oj-dialog-title">
                                <span data-bind="text: INIArabicNameDialog"></span>
                                <div style="float:left; position: relative;">المبادرات
                                    <span data-bind="text: INITotal"></span>
                                </div>
                            </span>
                        </div>
                
                        <div slot="body">
        
                            <oj-table id='table' aria-label='Departments Table' data='[[dataprovider]]' columns='[[inititiveDetailsTableColumnArray]]'
                                      selection-mode='{"row": "single"}'  on-selection-changed='[[onINIValueChanged]]'
                                      dnd='{"reorder": {"columns": "enabled"}}'
                                      style='width: 100%;'>

                            </oj-table>
                        
                            <!--                        <script type="text/html" id="status_color">
                                                            
                                                                                <img data-bind="attr:{'aria-label':'Status' ,'src' : 'css/images/statusImages/' + $context.row.Status +'.png'}"
                                                                                     width="48" height="48"/>
                                                            
                                                                                </script>-->
                            <script type="text/html" id="ININameArabic">
                                                            <!-- ko if: $context.row.Status == 'Red'  -->
                                                                <td data-bind="text: $context.row.InivNameAr" style="border-right-color:#C00000 !important;border-right-style:solid;white-space: normal;text-align: center;border-width: 8px;"></td>
                                    
                                                            <!-- /ko -->
                                                            <!-- ko if: $context.row.Status == 'Gray'  -->
                                                                <td data-bind="text: $context.row.InivNameAr" style="border-right-color:#BABABA !important;border-right-style:solid;white-space: normal;text-align: center;border-width: 8px;"></td>
                                    
                                                            <!-- /ko --> 
                                                            <!-- ko if: $context.row.Status == 'Green'  -->
                                                                <td data-bind="text: $context.row.InivNameAr" style="border-right-color:#009A84 !important;border-right-style:solid;white-space: normal;text-align: center;border-width: 8px;"></td>
                                    
                                                            <!-- /ko --> 
                                                            <!-- ko if: $context.row.Status == 'Yellow'  -->
                                                                <td data-bind="text: $context.row.InivNameAr" style="border-right-color:#FBd903 !important;border-right-style:solid;white-space: normal;text-align: center;border-width: 8px;"></td>
                                    
                                                            <!-- /ko --> 
                                                        
                                    
                                                            </script>
                
                        </div>
                        </oj-popup>
                    </oj-dialog>
                
                
                    <oj-dialog style="display:none;width: 90vw; height: 60vh; position: fixed;" id="kpiDetailsTable"  on-oj-close='[[kpiDetailsTableClosed]]' cancel-behavior='icon' on-oj-open='[[dialogOpen]]'>
                        <div>
                            <span id="dialogTitleId" class="oj-dialog-title">
                                <span data-bind="text: KPIArabicNameDialog"></span>
                                <div style="float:left; position: relative;">المؤشرات
                                    <span data-bind="text: KPITotal"></span>
                                </div>
                            </span>
                        </div>
                        <div slot="body">
                
                            <oj-table id='table' aria-label='Departments Table' data='[[dataprovider1]]' columns='[[kpiDetailsTableColumnArray]]' selection-mode='{"row": "single"}'
                                      dnd='{"reorder": {"columns": "enabled"}}' on-selection-changed="[[onValueChanged]]" style='width: 100%;'>

                            </oj-table>
                            <script type="text/html" id="bulletChart">
                                <td style="width:25px;">
                                    <!-- ko if: $context.row.Actual + $context.row.Target !== 0 -->
                                        <!-- ko if: $context.row.Target === 0 && $context.row.target2020 !== 0 -->
                                            <oj-status-meter-gauge
                                                id="gauge"
                                                class="horizontal-status-meter-sample"
                                                readonly
                                                indicator-size="2" 
                                                plot-area.rendered="on"
                                                metric-label.rendered="off"
                                                min="0"
                                                max="{{Math.max($context.row.Actual, $context.row.target2020)}}"
                                                value="{{$context.row.Actual}}"
                                                reference-lines="[[[{value: $context.row.target2020, color:'#000000'}]]]"
                                                svg-style="[[{fill: '#027bc7'}]]">
                                            </oj-status-meter-gauge >
                                            <span style="color:#000000; font-size:12px;"> مستهدف 2020 </span>
                                            <span class="gauge-actual-text" style="bottom:25px;" data-bind="text: $context.row.Actual"></span>
                                        <!-- /ko --> 
                                        <!-- ko if: $context.row.Target !== 0 && $context.row.target2020 === 0 -->
                                            <oj-status-meter-gauge
                                                id="gauge"
                                                class="horizontal-status-meter-sample"
                                                readonly
                                                indicator-size="2" 
                                                plot-area.rendered="on"
                                                metric-label.rendered="off"
                                                min="0"
                                                max="{{Math.max($context.row.Actual, $context.row.Target)}}"
                                                value="{{$context.row.Actual}}"
                                                reference-lines="[[[{value: $context.row.Target, color:'#d07013'}]]]"
                                                svg-style="[[{fill: '#027bc7'}]]">
                                            </oj-status-meter-gauge >
                                            <span style="color:#d07013; font-size:12px;"> مستهدف فترة القياس </span>
                                            <span class="gauge-actual-text" style="bottom:25px;" data-bind="text: $context.row.Actual"></span>
                                        <!-- /ko --> 
                                        <!-- ko if: $context.row.Target !== 0 && $context.row.target2020 !== 0 -->
                                            <oj-status-meter-gauge
                                                id="gauge"
                                                class="horizontal-status-meter-sample"
                                                readonly
                                                indicator-size="2" 
                                                plot-area.rendered="on"
                                                metric-label.rendered="off"
                                                min="0"
                                                max="{{Math.max($context.row.Actual, $context.row.Target, $context.row.target2020)}}"
                                                value="{{$context.row.Actual}}"
                                                reference-lines="[[[{value: $context.row.Target, color:'#d07013'}, {value: $context.row.target2020, color:'#000000'}]]]"
                                                svg-style="[[{fill: '#027bc7'}]]">
                                            </oj-status-meter-gauge >
                                            <span style="color:#000000; font-size:12px;"> مستهدف 2020 </span> - <span style="color:#d07013; font-size:12px;"> مستهدف فترة القياس </span>
                                            <span class="gauge-actual-text" data-bind="text: $context.row.Actual"></span>
                                        <!-- /ko --> 
                                    <!-- /ko --> 
    
                                    <!-- ko if: $context.row.Actual + $context.row.Target === 0 -->
                                        <oj-label style="text-align: center; color: #29665e;" >لا توجد بيانات</oj-label>
                                    <!-- /ko --> 
    
                                </td>
                            </script>
                            <script type="text/html" id="KPINameArabicScript">
                                                            <!-- ko if: $context.row.Status == 'Red'  -->
                                                                <td data-bind="text: $context.row.KPINameArabic" style="border-right-color:#C00000 !important;border-right-style:solid;white-space: normal;text-align: center;border-width: 8px;"></td>
                                    
                                                            <!-- /ko -->
                                                            <!-- ko if: $context.row.Status == 'Gray'  -->
                                                                <td data-bind="text: $context.row.KPINameArabic" style="border-right-color:#BABABA !important;border-right-style:solid;white-space: normal;text-align: center;border-width: 8px;"></td>
                                    
                                                            <!-- /ko --> 
                                                            <!-- ko if: $context.row.Status == 'Green'  -->
                                                                <td data-bind="text: $context.row.KPINameArabic" style="border-right-color:#009A84 !important;border-right-style:solid;white-space: normal;text-align: center;border-width: 8px;"></td>
                                    
                                                            <!-- /ko --> 
                                                                                <!-- ko if: $context.row.Status == 'Yellow'  -->
                                                                <td data-bind="text: $context.row.KPINameArabic" style="border-right-color:#FBd903 !important;border-right-style:solid;white-space: normal;text-align: center;border-width: 8px;"></td>
                                    
                                                            <!-- /ko --> 
                                    
                                    
                                                            </script>
                
                
                        </div>
                    </oj-dialog>
                
                    <!--                <oj-popup id="kpiRowDetailsTable" style="display:none; margin:0 10%;"
                                                    tail="none" position.my.horizontal="center" position.my.vertical="bottom"
                                                    position.at.horizontal="center" position.at.vertical="bottom"
                                                    position.of="window" position.offset.y="-160" modality="modal">-->

                    <oj-dialog style="display:none;width: 90vw; height: 60vh; position: fixed;" id="iniRowDetailsTable" cancel-behavior='icon' on-oj-open='[[dialogOpen]]'>
                        <div slot="body">
                            <div class="kpi-row-details-container">
                    
                                <div>
                                    <oj-label style="border-bottom: none;" class="kpi-row-head">بيانات المبادرة</oj-label>
                    
                                    <div class="oj-flex first-kpi-row-detail-box kpi-row-detail-box" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label">اسم المبادرة</div>
                                        <div class="oj-flex-item kpi-row-detail-info">
                                            <span data-bind="text: formInivName">
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">الجهة المالكة للمبادرة</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <span data-bind="text: formEntityName"></span>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">وصف المبادرة</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <span data-bind="text: formInivDescription"></span>
                                        </div>
                                    </div>
<!--                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">ارتباط المبادرة بأهداف الرؤية</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <span data-bind="text: formV2030LevelDesc"></span>
                                        </div>
                                    </div>-->
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">تاريخ بدء المبادرة</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <span data-bind="text: formPlannedStartDate"></span>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">تاريخ انتهاء المبادرة</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <span data-bind="text: formPlannedFinishDate"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </oj-dialog>


                    <oj-dialog style="display:none;width: 90vw; height: 60vh; position: fixed;" id="kpiRowDetailsTable" cancel-behavior='icon' on-oj-open='[[dialogOpen]]'>
                        <div slot="body">
                            <!-- ko if: checkLineChart()  -->
                            <oj-chart id="lineChart" type="line" series="[[areaSeries]]" groups="[[areaGroups]]" animation-on-display="auto"
                                animation-on-data-change="auto" orientation="vertical" stack="off" hover-behavior="dim" legend.position="top"
                                style-defaults.marker-shape="circle" y2-axis.tick-label.scaling="none" y2-axis.title="[[formKMeasurementUnit]]"
                                style="width:100%;height:300px;" style-defaults.marker-displayed="on" value-formats.series.tooltip-label=""
                                y-axis.data-max="[[maxAxisData]]" y2-axis.data-max="[[maxAxisData]]" y2-axis.data-min="0" value-formats.y2.scaling="none"
                                legend.text-style='{"font - family": "adaa_font","font - size": "12px","font - weight": "400"}'>
                            </oj-chart>
                            <br>
                            <!-- /ko -->
                            <div class="kpi-row-details-container">
                
                                <div>
                                    <oj-label class="kpi-row-head">معلومات عامة عن المؤشر</oj-label>
                
                                    <div class="oj-flex first-kpi-row-detail-box kpi-row-detail-box" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label">رمز الهدف</div>
                                        <div class="oj-flex-item kpi-row-detail-info">
                                            <span data-bind="text: formEntityCode">
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">الهدف</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <span data-bind="text: formName"></span>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">وصف الهدف</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <span data-bind="text: formDesc"></span>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">رمز المؤشر</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <span data-bind="text: kpiCode"></span>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">مؤشر الأداء</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <span data-bind="text: formKPIName"></span>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">وصف المؤشر</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <span data-bind="text: formKPIDesc"></span>
                                        </div>
                                    </div>
                                </div>
                
                                <div>
                                    <oj-label class="kpi-row-head kpi-row-detail-box">قياس المؤشر و مصدر البيانات</oj-label>
                
                                    <div class="oj-flex first-kpi-row-detail-box kpi-row-detail-box" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label">قيمة خط الأساس</div>
                                        <div class="oj-flex-item kpi-row-detail-info">
                                            <span data-bind="text: formBaseLineValue"></span>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">سنة قياس خط الأساس</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <span data-bind="text: formBaseLineYear"></span>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">قطبية المؤشر</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <span data-bind="text: formPolarity"></span>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">تكرار القياس</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <span data-bind="text: formFrequency"></span>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">وحدة القياس</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <span data-bind="text: formKMeasurementUnit"></span>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">معادلة المؤشر</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <span data-bind="text: formFormula"></span>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">مصدر البيانات</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <span data-bind="text: formDatasourceAr"></span>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">وزن المؤشر</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <div class="oj-flex-item kpi-row-detail-info-box">
                                                <span data-bind="text: formActual"></span>
                                            </div>
                                            <div class="oj-flex-item kpi-row-detail-info-box"><span data-bind="text: formDataAvailableDate"></span></div>
                                            <div class="oj-flex-item kpi-row-detail-info-box">
                                                <span data-bind="text: formReportingDate"></span>
                                            </div>
                                        </div>
                                    </div>
                
                                </div>
                
                                <!-- <div>
                                    <oj-label class="kpi-row-head kpi-row-detail-box">المستهدفات</oj-label>
                
                                    <div class="oj-flex first-kpi-row-detail-box kpi-row-detail-box" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label">الربع السنة</div>
                                        <div class="oj-flex-item kpi-row-detail-info">
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">2016</oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">2017</oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">2018</oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">2019</oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">2020</oj-label>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">الأول</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">-</oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: q1y17"></span>
                                            </oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: q1y18"></span>
                                            </oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: q1y19"></span>
                                            </oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: q1y20"></span>
                                            </oj-label>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">الثاني</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">-</oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: q2y17"></span>
                                            </oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: q2y18"></span>
                                            </oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: q2y19"></span>
                                            </oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: q2y20"></span>
                                            </oj-label>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">الثالث</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">-</oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: q3y17"></span>
                                            </oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: q3y18"></span>
                                            </oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: q3y19"></span>
                                            </oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: q3y20"></span>
                                            </oj-label>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">الرابع</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: q4y16"></span>
                                            </oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: q4y17"></span>
                                            </oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: q4y18"></span>
                                            </oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: q4y19"></span>
                                            </oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: q4y20"></span>
                                            </oj-label>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">السنوي</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: sum2016"></span>
                                            </oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: sum2017"></span>
                                            </oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: sum2018"></span>
                                            </oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: sum2019"></span>
                                            </oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">
                                                <span data-bind="text: sum2020"></span>
                                            </oj-label>
                                        </div>
                                    </div>
                
                                </div> -->
                
                                <div>
                                    <oj-label class="kpi-row-head kpi-row-detail-box">القيمة المرجعية</oj-label>
                
                                    <div class="oj-flex first-kpi-row-detail-box kpi-row-detail-box" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div style="background-color: #C5DFDC; border-top: none;" class="oj-flex-item kpi-row-detail-label"></div>
                                        <div class="oj-flex-item kpi-row-detail-info">
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">القيمة</oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">الدولة</oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2"> سنة القياس</oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2">مصدر البيانات</oj-label>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">قيمة مرجعية إقليمية</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2"><span data-bind="text: formRegionalValue"></span></oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2"><span data-bind="text: formRegionalCountry"></span></oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2"><span data-bind="text: formRegionalYear"></span></oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2 regional-source-text"><a data-bind="attr: {href: formRegionalSource}, text: formRegionalSource"></a></oj-label>
                                        </div>
                                    </div>
                                    <div class="oj-flex" data-bind="css: {'oj-sm-flex-wrap-nowrap': false}">
                                        <div class="oj-flex-item kpi-row-detail-label kpi-row-detail-box">قيمة مرجعية دولية</div>
                                        <div class="oj-flex-item kpi-row-detail-info kpi-row-detail-box">
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2"><span data-bind="text: formInterValue"></span></oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2"><span data-bind="text: formInterCountry"></span></oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2"><span data-bind="text: formInterYear"></span></oj-label>
                                            <oj-label class="oj-flex-item kpi-row-detail-info-box kpi-row-detail-info-box2 regional-source-text"><a data-bind="attr: {href: formInterSource}, text: formInterSource"></a></oj-label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </oj-dialog>
                </div>
    
                <!--    <div class="filter-train-container">
                <oj-train style="font-weight: bold; margin-top: 1rem; height: 4rem;" id="filter-train"
                          class="oj-train-stretch" 
                          on-selected-step-changed="[[updateLabelText]]"
                          selected-step="{{selectedStepValue}}"
                          steps="[[stepArray]]">
                </oj-train>
                <div class="oj-flex">
                    <div class="oj-flex-item oj-sm-2">
                        <span style="color: #ffffff;" class="oj-label train-year-label train-2018">2018</span>
                    </div>
                    <div class="oj-flex-item oj-sm-8">
                        <span class="oj-label train-year-label train-2017">2017</span>
                    </div>
                    <div class="oj-flex-item oj-sm-2">
                        <span class="oj-label train-year-label train-2016">2016</span>
                    </div>
                </div>
            </div>-->
    
            
            <div style="height: 31%;"></div>
        </div>
        </section>
    </div>