<!--
 Copyright (c) 2014, 2018, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="main_bg ">

    <div class="container home_cards">

        
            <div id="programsHomeCard" class="home_click_img home_click_img_prog ex1" data-bind=" click:programsOnClick">
        </div>
        
            <div id="devicesHomeCard" class="home_click_img home_click_img_devices" data-bind="click:devicesOnClick">
        </div>

    </div>

</div>