<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h3 class="txt-start"><span data-bind="text:pageLbl"></span></h3>
<br>
<div class="oj-flex oj-flex-items-pad receiptInput txt-start">
    <div class="oj-md-6 oj-sm-12 oj-flex-item">
        <oj-label-value label-edge="start" >        
            <oj-label for="text-input" slot="label"><span data-bind= "text:label().recepitLbl"></span></oj-label>
            <oj-input-text  
                slot="value"
                disabled="true"
                value="{{receiptNumberVal}}"
                style="max-width:20em">

            </oj-input-text> 
        </oj-label-value>
    </div>
    <div class="oj-md-6 oj-sm-12 oj-flex-item">
        <oj-label-value label-edge="start" >  
            <oj-label for="text-input" slot="label"><span data-bind= "text:label().supplierName"></span></oj-label>
            <oj-input-text  
                slot="value"
                value="{{supplierNameVal}}" 
             disabled="true"
                style="max-width:20em">
            </oj-input-text>
        </oj-label-value>
    </div>
<!--    <div class="oj-md-6 oj-sm-12 oj-flex-item">
        <oj-label-value label-edge="start" >  
            <oj-label for="text-input" slot="label"><span data-bind= "text:label().POLbl"></span></oj-label>
            <oj-select-one 
                slot="value"
                value="{{customsModel.purchaseOrderVal}}" 
               placeHolder="[[label().selectPlaceholder]]"
                options="[[customsModel.purchaseOrdersArr]]"
                style="max-width:20em">
            </oj-select-one>
        </oj-label-value>
    </div>-->
</div>
<!--<h5 class="txt-start"><span data-bind="text:label().recepitLbl"></span> :<span data-bind="text: receiptNumberVal"></span></h5>

<h5 class="txt-start"><span data-bind="text:label().supplierName"></span> :<span data-bind="text: supplierNameVal"></span></h5>-->

<div class=" buttonPosition">   

    <oj-button class="apBtn-2 apBtn-disabled btnStyle"  on-oj-action='[[submitBtnAction]]'>
    <span data-bind="text:label().submitLbl"></span>
    </oj-button>
    <oj-button class="apBtn-2 apBtn-disabled btnStyle"  on-oj-action='[[cancelBtnAction]]'>
     <span data-bind="text:label().cancelLbl"></span>
    </oj-button>
</div>
<div class="table-content">
    <oj-table id='table'
             class="tableStyle txt-start"
              aria-label='Table'
              data='[[dataprovider]]'
              edit-mode='rowEdit'
              edit-row='{{editRow}}'
              on-oj-before-row-edit='[[beforeRowEditListener]]'
              on-oj-before-row-edit-end='[[beforeRowEditEndListener]]'
              columns-default.sortable='disabled'
              selection-mode='{"row": "single", "column": "single"}'
              dnd='{"reorder": {"columns": "enabled"}}'
              scroll-policy-options='{"fetchSize": 10}'
              columns='[[columnArray]]'
              display = "grid"
              on-oj-before-current-row = "[[tableSelectionListener]]">
           <template slot="deptNameTemplate" data-oj-as="cell">
              <oj-bind-if test='[[cell.mode=="navigation"]]'>
                <oj-bind-text value="[[cell.data]]"></oj-bind-text>
              </oj-bind-if>
          
              <oj-bind-if test='[[cell.mode=="edit"]]'>
                <oj-input-text id="it1" value="{{rowData.DepartmentName}}" ></oj-input-text>
          
              </oj-bind-if>
            </template>
        <template slot="locIdTemplate" data-oj-as="cell">
            <oj-bind-if test='[[cell.mode=="navigation"]]'>
                <oj-bind-text value="[[numberConverter.format(cell.data)]]"></oj-bind-text>
            </oj-bind-if>

            <oj-bind-if test='[[cell.mode=="edit"]]'>
                <oj-input-text id="it2" value="{{rowData.newQty}}"  validators="[[validators]]" converter="[[numberConverter]]"></oj-input-text>
            </oj-bind-if>
        </template>
       
        <template slot="actionTemplate" data-oj-as="cell">
            <oj-bind-if test='[[cell.mode=="navigation"]]'>
                <oj-button on-oj-action="[[handleUpdate]]" ><span data-bind="text: label().actionTypeRLbl"></span></oj-button>
            </oj-bind-if>

            <oj-bind-if test='[[cell.mode=="edit"]]'>
                <oj-button on-oj-action="[[handleDone]]"><span data-bind="text: label().saveLbl"a></span></oj-button>
            </oj-bind-if>
        </template>
    </oj-table>
</div>
