<h3 class="txt-start lblSectopn" data-bind="text: label().screenLbl"></h3>
<div id="committeSection">
    <div class="oj-flex oj-flex-items-pad receiptInput committeBlock">
        <h5 class="oj-md-12 oj-sm-12 oj-flex-item txt-start HeaderLbl" data-bind="text: label().rfxTitle"></h5>

        <div class="oj-md-6 oj-sm-12 oj-flex-item">
            <oj-label-value label-edge="start">
                <oj-label for="text-input" slot="label"><span data-bind="text: label().rfxNumberLbl"></span></oj-label>
                <oj-select-one slot="value" required="true" class="apListBtn" value="{{customsModel.rfxNumber}}"
                    placeHolder="[[label().placeHolder]]" options='[[customsModel.rfxNumberArr]]'
                    disabled="{{customsModel.afterNext}}" on-value-changed="{{rfxNumberValueChange}}">
                </oj-select-one>
            </oj-label-value>
        </div>

        <div class="oj-md-6 oj-sm-12 oj-flex-item">
            <oj-label-value label-edge="start">
                <oj-label for="text-input" slot="label"><span data-bind="text: label().rfxTitleLbl"></span></oj-label>
                <oj-input-text slot="value" disabled="true" value="{{customsModel.rfxTitle}}">
                </oj-input-text>
            </oj-label-value>
        </div>
        <div class="oj-md-6 oj-sm-12 oj-flex-item">
            <oj-label-value label-edge="start">
                <oj-label for="text-input" slot="label"><span data-bind="text: label().statusLbl"></span></oj-label>
                <oj-input-text slot="value" disabled="true" value="{{customsModel.status}}">
                </oj-input-text>
            </oj-label-value>
        </div>
        <div class="oj-md-6 oj-sm-12 oj-flex-item">
            <oj-label-value label-edge="start">
                <oj-label for="text-input" slot="label"><span data-bind="text: label().negotiationStyleLbl"></span></oj-label>
                <oj-input-text slot="value" disabled="true" value="{{customsModel.negotiationStyle}}">
                </oj-input-text>
            </oj-label-value>
        </div>
        <div class="oj-md-6 oj-sm-12 oj-flex-item">
            <oj-label-value label-edge="start">
                <oj-label for="text-input" slot="label"><span data-bind="text: label().buyerLbl"></span></oj-label>
                <oj-input-text slot="value" disabled="true" value="{{customsModel.buyer}}">
                </oj-input-text>
            </oj-label-value>
        </div>
        <div class="oj-md-6 oj-sm-12 oj-flex-item">
            <oj-label-value label-edge="start">
                <oj-label for="text-input" slot="label"><span data-bind="text: label().procurementBULbl"></span></oj-label>
                <oj-input-text slot="value" disabled="true" value="{{customsModel.procurementBU}}">
                </oj-input-text>
            </oj-label-value>
        </div>
        <div class="oj-md-6 oj-sm-12 oj-flex-item">
            <oj-label-value label-edge="start">
                <oj-label for="text-input" slot="label"><span data-bind="text: label().outcomeLbl"></span></oj-label>
                <oj-input-text slot="value" disabled="true" value="{{customsModel.outcome}}">
                </oj-input-text>
            </oj-label-value>
        </div>

        <oj-table class="tableStyle" id="viewTable" data='[[dataProviderRfx]]' columns='[[customsModel.rfxColumns]]'
            selection-mode='{"row": "single", "column": "single"}' scroll-policy-options='{"fetchSize": 10}'
            scroll-policy='loadMoreOnScroll' >
            <oj-paging-control id="paging" data="[[dataProviderRfx]]" page-size="5" slot="bottom">
            </oj-paging-control>
        </oj-table>

        <div class="buttonSection">
            <oj-button class="btnStyle" on-oj-action='[[nextBtn]]' disabled="{{customsModel.nextDisable}}"><span
                    data-bind="text: label().nextLbl"><i class="fa fa-times-circle" visible="{{customsModel.nextVisible}}" ></i></span></oj-button>

            <oj-button class="btnStyle" on-oj-action='[[resetBtn]]' disabled="{{customsModel.resetDis}}"><span
                    data-bind="text: label().resetLbl"><i class="fa fa-thumbs-up"></i></span></oj-button>
        </div>


    </div>
    <!--Start secont block-->
    <oj-validation-group id="tracker1" valid="{{groupValid}}" role="group" 
                         aria-labelledby="grouplabelid">
        <div data-bind ="visible: customsModel.openVisible" class="committeBlock">
        <div class="oj-flex oj-flex-items-pad receiptInput">
            <h5 class="oj-md-12 oj-sm-12 oj-flex-item txt-start HeaderLbl" data-bind="text: label().openCommitteeLbl">
            </h5>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label for="text-input" slot="label"><span data-bind="text: label().employeeLbl"></span>
                    </oj-label>
                    <oj-select-one slot="value"  class="apListBtn" value="{{customsModel.employeeOpen}}"
                        placeHolder="[[label().placeHolder]]" options='[[customsModel.employeeArr]]'
                        disabled="{{customsModel.afterSubmitOpen}}">
                    </oj-select-one>
                </oj-label-value>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label for="text-input" slot="label"><span data-bind="text: label().dateLbl"></span></oj-label>
                    <oj-input-date required="true" slot="value" value="{{customsModel.dateOpen}}"
                        disabled="{{customsModel.afterSubmitOpen}}" min="[[customsModel.minDate]]">
                    </oj-input-date>
                </oj-label-value>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item buttonSection txt-center">

                <oj-button class="btnStyle" on-oj-action='[[addMemberBtnOpen]]'
                    disabled="{{customsModel.defaultMemberDisableOpen}}"><span data-bind="text: label().addMemberLbl"><i
                            class="fa fa-thumbs-up"></i></span></oj-button>
                <oj-button class="btnStyle" on-oj-action='[[defaultMemberBtnOpen]]'
                    disabled="{{customsModel.afterSubmitOpen}}"><span data-bind="text: label().defaultMemberLbl"><i
                            class="fa fa-times-circle"></i></span></oj-button>
                <oj-button class="btnStyle" on-oj-action='[[resetBtnOpen]]' disabled="{{customsModel.afterSubmitOpen}}">
                    <span data-bind="text: label().resetLbl"><i class="fa fa-times-circle"></i></span></oj-button>
<!--                <oj-button class="btnStyle" on-oj-action='[[saveForLaterOpenBtn]]'
                    disabled="{{customsModel.afterSubmitOpen}}"><span data-bind="text: label().saveForLaterLbl"><i
                            class="fa fa-thumbs-up"></i></span></oj-button>-->
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item buttonSection txt-center">
                <oj-label-value label-edge="start">
                    <oj-file-picker slot="value" id="filePicker" class='oj-filepicker-custom' select-on='click'
                        on-oj-select='[[addFileSelectListenerOpen]]' disabled="{{customsModel.afterSubmitOpen}}">
                        <oj-button slot='trigger' class="btnStyle" disabled="{{customsModel.afterSubmitOpen}}">
                            <span data-bind="text: label().addFileLbl"></span>
                        </oj-button>
                    </oj-file-picker>
                </oj-label-value>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item tableContent ">
                <oj-label slot="label"><span data-bind="text: label().membersLbl"></span></oj-label>
                <oj-table class="tableStyle" id="viewTable" data='[[dataProviderMembersOpen]]'
                    columns='[[customsModel.memberColumnsOpen]]' selection-mode='{"row": "single", "column": "single"}'
                    scroll-policy-options='{"fetchSize": 10}' scroll-policy='loadMoreOnScroll'>
                    <oj-paging-control id="paging1" data="[[dataProviderMembersOpen]]" page-size="5" slot="bottom">
                    </oj-paging-control>
                </oj-table>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item tableContent">
                <oj-label slot="label"><span data-bind="text: label().attachmentsLbl"></span></oj-label>
                <oj-table class="tableStyle" id="viewTable" data='[[dataProviderAttachmentOpen]]'
                    columns='[[customsModel.attachmentColumnsOpen]]'
                    selection-mode='{"row": "single", "column": "single"}' scroll-policy-options='{"fetchSize": 10}'
                    scroll-policy='loadMoreOnScroll' on-oj-before-current-row="[[attachmentselectListenerOpen]]">

                    <template slot="removeTemplate" data-oj-as="attachmentArrOpen" >
                        <oj-button class="btnStyle" on-oj-action='[[removeFileFnOpen]]' disabled="{{customsModel.afterSubmitOpen}}">
                            <span data-bind="text: label().removeLbl"></span>
                        </oj-button>
                    </template>
                    <oj-paging-control id="paging2" data="[[dataProviderAttachmentOpen]]" page-size="5" slot="bottom">
                    </oj-paging-control>
                </oj-table>
            </div>


            <div class="margin-auto">
                <oj-button class="btnStyle" on-oj-action='[[notifyBtnOpen]]'
                    disabled="{{customsModel.afterSubmitOpen}}"><span data-bind="text: label().notifyLbl"><i
                            class="fa fa-thumbs-up"></i></span></oj-button>
            </div>

        </div>
    </div>
</oj-validation-group>
    <!--Start block 3-->
    <oj-validation-group id="tracker2" valid="{{groupValid}}" role="group" 
                         aria-labelledby="grouplabelid">
    <div data-bind="visible: customsModel.techVisible" class="committeBlock">
        <div class="oj-flex oj-flex-items-pad receiptInput">
            <h5 class="oj-md-12 oj-sm-12 oj-flex-item txt-start HeaderLbl"
                data-bind="text: label().technicalEvaluationLbl"></h5>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label for="text-input" slot="label"><span data-bind="text: label().employeeLbl"></span>
                    </oj-label>
                    <oj-select-one slot="value"  class="apListBtn" value="{{customsModel.employeeTech}}"
                        placeHolder="[[label().placeHolder]]" options='[[customsModel.employeeArr]]'
                        disabled="{{customsModel.afterSubmitTech}}">

                    </oj-select-one>
                </oj-label-value>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label for="text-input" slot="label"><span data-bind="text: label().dateLbl"></span></oj-label>
                    <oj-input-date required="true" slot="value" value="{{customsModel.dateTech}}"
                        disabled="{{customsModel.afterSubmitTech}}" min="[[customsModel.minDate]]">
                    </oj-input-date>
                </oj-label-value>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item buttonSection txt-center">

                <oj-button class="btnStyle" on-oj-action='[[addMemberBtnTech]]'
                    disabled="{{customsModel.defaultMemberDisableTech}}"><span data-bind="text: label().addMemberLbl"><i
                            class="fa fa-thumbs-up"></i></span></oj-button>
                <oj-button class="btnStyle" on-oj-action='[[defaultMemberBtnTech]]'
                    disabled="{{customsModel.afterSubmitTech}}"><span data-bind="text: label().defaultMemberLbl"><i
                            class="fa fa-times-circle"></i></span></oj-button>
                <oj-button class="btnStyle" on-oj-action='[[resetBtnTech]]' disabled="{{customsModel.afterSubmitTech}}">
                    <span data-bind="text: label().resetLbl"><i class="fa fa-times-circle"></i></span></oj-button>
<!--                <oj-button class="btnStyle" on-oj-action='[[saveForLaterTechBtn]]'
                    disabled="{{customsModel.afterSubmitTech}}"><span data-bind="text: label().saveForLaterLbl"><i
                            class="fa fa-thumbs-up"></i></span></oj-button>-->
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-file-picker slot="value" id="filePicker2" class='oj-filepicker-custom' select-on='click'
                        on-oj-select='[[addFileSelectListenerTech]]'>
                        <oj-button slot='trigger' class="btnStyle" disabled="{{customsModel.afterSubmitTech}}">
                            <span data-bind="text: label().addFileLbl"></span>
                        </oj-button>
                    </oj-file-picker>
                </oj-label-value>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item tableContent">
                <oj-label slot="label"><span data-bind="text: label().membersLbl"></span></oj-label>
                <oj-table class="tableStyle" id="viewTable" data='[[dataProviderMembersTech]]'
                    columns='[[customsModel.memberColumnsTech]]' selection-mode='{"row": "single", "column": "single"}'
                    scroll-policy-options='{"fetchSize": 10}' scroll-policy='loadMoreOnScroll'>
                    <oj-paging-control id="paging3" data="[[dataProviderMembersTech]]" page-size="5" slot="bottom">
                    </oj-paging-control>
                </oj-table>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item tableContent">
                <oj-label slot="label"><span data-bind="text: label().attachmentsLbl"></span></oj-label>
                <oj-table class="tableStyle" id="viewTable" data='[[dataProviderAttachmentTech]]'
                    columns='[[customsModel.attachmentColumnsTech]]'
                    selection-mode='{"row": "single", "column": "single"}' scroll-policy-options='{"fetchSize": 10}'
                    scroll-policy='loadMoreOnScroll' on-oj-before-current-row="[[attachmentselectListenerTech]]">

                    <template slot="removeTemplate" data-oj-as="attachmentArr">
                        <oj-button class="btnStyle" on-oj-action='[[removeFileFnTech]]'
                            disabled="{{customsModel.disRemoveTechBtn}}">
                            <span data-bind="text: label().removeLbl"></span>
                        </oj-button>
                    </template>

                    <oj-paging-control id="paging4" data="[[dataProviderAttachmentTech]]" page-size="5" slot="bottom">
                    </oj-paging-control>
                </oj-table>
            </div>

            <div class="margin-auto">
                <oj-button class="btnStyle" on-oj-action='[[notifyBtnTech]]'
                    disabled="{{customsModel.afterSubmitTech}}"><span data-bind="text: label().notifyLbl"><i
                            class="fa fa-thumbs-up"></i></span></oj-button>
            </div>

        </div>
    </div>
</oj-validation-group>
    <!--Start block 4-->
    <oj-validation-group id="tracker3" valid="{{groupValid}}" role="group" 
                         aria-labelledby="grouplabelid">
    <div data-bind="visible: customsModel.finVisible" class="committeBlock">
        <div class="oj-flex oj-flex-items-pad receiptInput">
            <h5 class="oj-md-12 oj-sm-12 oj-flex-item txt-start HeaderLbl"
                data-bind="text: label().financialEvaluationLbl"></h5>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label for="text-input" slot="label"><span data-bind="text: label().employeeLbl"></span>
                    </oj-label>
                    <oj-select-one slot="value" class="apListBtn" value="{{customsModel.employeeFin}}"
                        disabled="{{customsModel.afterSubmitFin}}" placeHolder="[[label().placeHolder]]"
                        options='[[customsModel.employeeArr]]'>

                    </oj-select-one>
                </oj-label-value>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label for="text-input" slot="label"><span data-bind="text: label().dateLbl"></span></oj-label>
                    <oj-input-date required="true" slot="value" value="{{customsModel.dateFin}}"
                        disabled="{{customsModel.afterSubmitFin}}" min="[[customsModel.minDate]]">
                    </oj-input-date>
                </oj-label-value>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item buttonSection txt-center">

                <oj-button class="btnStyle" on-oj-action='[[addMemberBtnFin]]'
                    disabled="{{customsModel.defaultMemberDisableFin}}"><span data-bind="text: label().addMemberLbl"><i
                            class="fa fa-thumbs-up"></i></span></oj-button>
                <oj-button class="btnStyle" on-oj-action='[[defaultMemberBtnFin]]'
                    disabled="{{customsModel.afterSubmitFin}}"><span data-bind="text: label().defaultMemberLbl"><i
                            class="fa fa-times-circle"></i></span></oj-button>
                <oj-button class="btnStyle" on-oj-action='[[resetBtnFin]]' disabled="{{customsModel.afterSubmitFin}}">
                    <span data-bind="text: label().resetLbl"><i class="fa fa-times-circle"></i></span></oj-button>
<!--                <oj-button class="btnStyle" on-oj-action='[[saveForLaterFinBtn]]'
                    disabled="{{customsModel.afterSubmitFin}}"><span data-bind="text: label().saveForLaterLbl"><i
                            class="fa fa-thumbs-up"></i></span></oj-button>-->
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().attachmentLbl"></span></oj-label>
                    <oj-file-picker slot="value" id="filePicker3" class='oj-filepicker-custom' select-on='click'
                        on-oj-select='[[addFileSelectListenerFin]]'>
                        <oj-button slot='trigger' class="btnStyle" disabled="{{customsModel.afterSubmitFin}}">
                            <span data-bind="text: label().addFileLbl"></span>
                        </oj-button>
                    </oj-file-picker>
                </oj-label-value>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item tableContent">
                <oj-label slot="label"><span data-bind="text: label().membersLbl"></span></oj-label>
                <oj-table class="tableStyle" id="viewTable" data='[[dataProviderMembersFin]]'
                    columns='[[customsModel.memberColumnsFin]]' selection-mode='{"row": "single", "column": "single"}'
                    scroll-policy-options='{"fetchSize": 10}' scroll-policy='loadMoreOnScroll'>
                    <oj-paging-control id="paging5" data="[[dataProviderMembersFin]]" page-size="5" slot="bottom">
                    </oj-paging-control>
                </oj-table>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item tableContent">
                <oj-label slot="label"><span data-bind="text: label().attachmentsLbl"></span></oj-label>
                <oj-table class="tableStyle" id="viewTable" data='[[dataProviderAttachmentFin]]'
                    columns='[[customsModel.attachmentColumnsFin]]'
                    selection-mode='{"row": "single", "column": "single"}' scroll-policy-options='{"fetchSize": 10}'
                    scroll-policy='loadMoreOnScroll' on-oj-before-current-row="[[attachmentselectListenerFin]]">

                    <template slot="removeTemplate" data-oj-as="attachmentArrFin">
                        <oj-button class="btnStyle" on-oj-action='[[removeFileFnFin]]' disabled="{{customsModel.afterSubmitFin}}">
                            <span data-bind="text: label().removeLbl"></span>
                        </oj-button>
                    </template>
                    <oj-paging-control id="paging6" data="[[dataProviderAttachmentFin]]" page-size="5" slot="bottom">
                    </oj-paging-control>
                </oj-table>
            </div>

            <div class="margin-auto">
                <oj-button class="btnStyle" on-oj-action='[[notifyBtnFin]]' disabled="{{customsModel.afterSubmitFin}}">
                    <span data-bind="text: label().notifyLbl"><i class="fa fa-thumbs-up"></i></span></oj-button>
               </div>
        </div>
    </div>
</oj-validation-group>
    <!--Start block 5-->
    <oj-validation-group id="tracker4" valid="{{groupValid}}" role="group" 
                         aria-labelledby="grouplabelid">
    <div data-bind="visible: customsModel.awardVisible" class="committeBlock">
        <div class="oj-flex oj-flex-items-pad receiptInput">
            <h5 class="oj-md-12 oj-sm-12 oj-flex-item txt-start HeaderLbl" data-bind="text: label().awardDecisionLbl">
            </h5>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label for="text-input" slot="label"><span data-bind="text: label().employeeLbl"></span>
                    </oj-label>
                    <oj-select-one slot="value" class="apListBtn" value="{{customsModel.employeeAward}}"
                        placeHolder="[[label().placeHolder]]" options='[[customsModel.employeeArr]]'>

                    </oj-select-one>
                </oj-label-value>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label for="text-input" slot="label"><span data-bind="text: label().dateLbl"></span></oj-label>
                    <oj-input-date required="true" slot="value" value="{{customsModel.dateAward}}" min="[[customsModel.minDate]]">
                    </oj-input-date>
                </oj-label-value>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item buttonSection txt-center">

                <oj-button class="btnStyle" on-oj-action='[[addMemberBtnAward]]'
                    disabled="{{customsModel.defaultMemberDisableAward}}"><span
                        data-bind="text: label().addMemberLbl"><i class="fa fa-thumbs-up"></i></span></oj-button>
                <oj-button class="btnStyle" on-oj-action='[[defaultMemberBtnAward]]' disabled="{{customsModel.afterSubmitAward}}"><span
                        data-bind="text: label().defaultMemberLbl"><i class="fa fa-times-circle"></i></span></oj-button>
                <oj-button class="btnStyle" on-oj-action='[[resetBtnAward]]' disabled="{{customsModel.afterSubmitAward}}"><span data-bind="text: label().resetLbl"><i
                            class="fa fa-times-circle"></i></span></oj-button>
<!--                <oj-button class="btnStyle" on-oj-action='[[saveForLaterAwardBtn]]'><span
                        data-bind="text: label().saveForLaterLbl"><i class="fa fa-thumbs-up"></i></span></oj-button>-->
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label-value label-edge="start">
                    <oj-label slot="label"><span data-bind="text: label().attachmentLbl"></span></oj-label>
                    <oj-file-picker slot="value" id="filePicker4" class='oj-filepicker-custom' select-on='click'
                        on-oj-select='[[addFileSelectListenerAward]]'>
                        <oj-button slot='trigger' class="btnStyle" disabled="{{customsModel.afterSubmitAward}}">
                            <span data-bind="text: label().addFileLbl"></span>
                        </oj-button>
                    </oj-file-picker>
                </oj-label-value>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item tableContent">
                <oj-label slot="label"><span data-bind="text: label().membersLbl"></span></oj-label>
                <oj-table class="tableStyle" id="viewTable" data='[[dataProviderMembersAward]]'
                    columns='[[customsModel.memberColumnsAward]]' selection-mode='{"row": "single", "column": "single"}'
                    scroll-policy-options='{"fetchSize": 10}' scroll-policy='loadMoreOnScroll'>
                    <oj-paging-control id="paging7" data="[[dataProviderMembersAward]]" page-size="5" slot="bottom">
                    </oj-paging-control>
                </oj-table>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item tableContent">
                <oj-label slot="label"><span data-bind="text: label().attachmentsLbl"></span></oj-label>
                <oj-table class="tableStyle" id="viewTable" data='[[dataProviderAttachmentAward]]'
                    columns='[[customsModel.attachmentColumnsAward]]'
                    selection-mode='{"row": "single", "column": "single"}' scroll-policy-options='{"fetchSize": 10}'
                    scroll-policy='loadMoreOnScroll' on-oj-before-current-row="[[attachmentselectListenerAward]]">

                    <template slot="removeTemplate" data-oj-as="attachmentArrAward">
                        <oj-button class="btnStyle" on-oj-action='[[removeFileFnAward]]' disabled="{{customsModel.afterSubmitAward}}">
                            <span data-bind="text: label().removeLbl"></span>
                        </oj-button>
                    </template>
                    <oj-paging-control id="paging8" data="[[dataProviderAttachmentAward]]" page-size="5" slot="bottom">
                    </oj-paging-control>
                </oj-table>
            </div>

            <div class="margin-auto">
                <oj-button class="btnStyle" on-oj-action='[[notifyBtnAward]]' disabled="{{customsModel.afterSubmitAward}}"><span
                        data-bind="text: label().notifyLbl" ><i class="fa fa-thumbs-up"></i></span></oj-button>
                 </div>

        </div>
    </div>
        </oj-validation-group>

</div>