<div class="container-fluid processSection mr-top-30">
  <h1 class="process-title mr-top-30">Batch Element</h1>
  <!-- Messages -->
  <div id="notificationMessages">
    <oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
    </oj-messages>
  </div>
  <div class="oj-flex oj-flex-items-pad">

    <div class="oj-md-12 oj-sm-12 text-center mr-top-30">
      <oj-button class="btnStyle" on-oj-action="[[gotoIndex]]" id='keyword-search-btn' disabled='[[advanceDisable]]'>
        <span>
          Cancel
        </span>
      </oj-button>
      <oj-button class="btnStyle" on-oj-action="[[createBatchElement]]" id='keyword-search-btn' disabled='[[advanceDisable]]'>
        <span>
          Submit
        </span>
      </oj-button>
    </div>
  </div>
    <!-- Basic Data -->
    <div class="panel-custom p-4 border rounded-lg shadow-sm mr-top-30">
      <h5>Basic Data</h5>
      <div id="validation-usecase">
        <oj-validation-group id="create-tracker">
          <oj-form-layout max-columns="2" id="fl1">          
            <oj-input-text required value="{{batchElementName}}" autocomplete="off"
              label-hint="Batch Element Name" readonly="true" style="max-width: 100%;">
            </oj-input-text>
            <oj-input-text required value="{{elementName}}" autocomplete="off"
              label-hint="Element" readonly="true" style="max-width: 100%;">
            </oj-input-text>
            <!-- <oj-combobox-one required value="{{element}}" placeholder="Select option"
              options="[[elementOptions]]" label-hint="Element" readonly="true" style="max-width: 100%;">
            </oj-combobox-one> -->
            <!-- <oj-input-date value="{{effectiveStartDate}}" required
              label-hint="Effective Start-Date" style="max-width: 100%;" readonly="true">
            </oj-input-date>
            <oj-input-date value="{{effectiveEndDate}}" label-hint="Effective End-Date" readonly="true"
              style="max-width: 100%;">
            </oj-input-date>              -->
          </oj-form-layout>
        </oj-validation-group>
      </div>
    </div>

    <!-- Input Values -->
    <div class="panel-custom mt-5 p-4 border rounded-lg shadow-sm mr-top-30">
      <h5>Batch Employee - Input Value</h5>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <oj-input-text aria-label="Search Keyword" placeholder="Enter search keyword"></oj-input-text>
          <oj-button id='search-elementClassification-btn' disabled='[[advanceDisable]]'>
            Search
          </oj-button>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <oj-button id='add-element-btn' disabled='[[advanceDisable]]' on-oj-action="[[openListenertCreateBatchElement]]">
            <span><i class="fas fa-plus pr-2"></i> Insert</span>
          </oj-button>
        </div>
      </div>
      
      <!-- add element classification modal -->
      <oj-popup id="add-batchElement-modal" class="demo-popup" tail="none" position.my.horizontal="center" position.my.vertical="top"
        position.at.horizontal="center" position.at.vertical="top" position.of="window" position.offset.y="50"
        modality="modal" on-oj-animate-start="[[startAnimationListenerCreateBatchElement]]">
        <div class="demo-popup-body">
          <div class="demo-popup-header">
            <h5>Search Person Number and Select Input Value</h5>
          </div>
          <div class="demo-popup-content">
            <oj-validation-group id="insert-tracker">
              <oj-form-layout max-columns="1" id="fl1">
                <oj-combobox-one data-bind="css: employeeLoading()? 'load-input':''" disabled="[[employeeLoading]]" required aria-label="Person Number" label-hint="Person Name/Number" placeholder="Select option" 
                                options="[[employeeOptions]]" value="{{employeeNumber}}" 
                                style="max-width:100%">
                </oj-combobox-one>
              </oj-form-layout>
              <oj-bind-if id="" test="[[inputValueDate() || inputValueCharacter() || inputValueNumberOrMoney()]]">
                <hr>
              </oj-bind-if>
              <oj-form-layout max-columns="2" id="fl2">
                <!-- input value date -->
                <oj-bind-for-each id="inputValue-date" data="[[inputValueDate]]">
                  <template data-oj-as="inputValue">
                    <oj-bind-if test="[[inputValue.data.userDisplayFlag == 'true']]">
                      <oj-input-date converter=[[dateFormat]] min="[[currentDate]]"
                        label-hint="[[inputValue.data.name]]" 
                        value="{{inputValue.data.defaultValue}}"
                        required="[[inputValue.data.mandatoryFlag == 'true']]" 
                        style="max-width: 100%;">
                      </oj-input-date>
                    </oj-bind-if>
                  </template>
                </oj-bind-for-each>
                <!-- input value character -->
                <oj-bind-for-each id="inputValue-date" data="[[inputValueCharacter]]">
                  <template data-oj-as="inputValue">
                    <oj-bind-if test="[[inputValue.data.userDisplayFlag == 'true']]">
                      <oj-input-text
                        label-hint="[[inputValue.data.name]]" 
                        value="{{inputValue.data.defaultValue}}"
                        required="[[inputValue.data.mandatoryFlag == 'true']]" 
                        style="max-width: 100%;">
                      </oj-input-text>
                    </oj-bind-if>
                  </template>
                </oj-bind-for-each>
                <!-- input value number or money -->
                <oj-bind-for-each id="inputValue-date" data="[[inputValueNumberOrMoney]]">
                  <template data-oj-as="inputValue">
                    <oj-bind-if test="[[inputValue.data.userDisplayFlag == 'true']]">
                      <oj-input-number min="0"
                        label-hint="[[inputValue.data.name]]" 
                        value="{{inputValue.data.defaultValue}}"
                        required="[[inputValue.data.mandatoryFlag == 'true']]" 
                        style="max-width: 100%;">
                      </oj-input-number>
                    </oj-bind-if>
                  </template>
                </oj-bind-for-each>
              </oj-form-layout>

              <!-- <div id="table-batchElement-modal" class="p-2 border rounded-lg">
                <oj-table id='search-batchElement-table' aria-label='Object Group Table' data='[[dataProviderInputValues]]'
                  selection-mode='{"row": "multiple", "column": "multiple"}' dnd='{"reorder": {"columns": "enabled"}}'
                  on-oj-before-current-row = "[[tableSelectionListenerInputValues]]"
                  scroll-policy='loadMoreOnScroll' scroll-policy-options='{"fetchSize": 10}' 
                  columns='[{"headerText": "No.", "field": "num", "className": "oj-sm-only-hide", "headerStyle": "width: 10px;", "resizable": "disabled"},
                          {"headerText": "Name", "field": "name", "resizable": "enabled"}]'
                  style='width: 100%; max-height: 400px;'>
                </oj-table>
              </div> -->
            </oj-validation-group>
            <!-- Messages -->
            <!-- <div id="notificationMessages">
              <oj-messages messages="[[messagesDataprovider]]">
              </oj-messages>
            </div> -->
          </div>
          <div class="mt-2 demo-popup-footer text-right">
            <oj-button id="create-objectgroup-cancel-btn" on-oj-action="[[cancelListenerCreateBatchElement]]">
              Cancel
            </oj-button>
            <oj-button id="create-objectgroup-btn" class="ml-2" on-oj-action="[[insertEmployee]]">
              Insert
            </oj-button>
          </div>
        </div>
      </oj-popup>
      
      <div class="mt-3 p-2 border rounded-lg">
        <oj-table id='batchElement-table' aria-label='Object Group Table' data='[[dataProviderEmployee]]'
          selection-mode='{"row": "multiple", "column": "multiple"}' dnd='{"reorder": {"columns": "enabled"}}'
          on-oj-before-current-row = "[[tableSelectionListenerEmployee]]"
          scroll-policy='loadMoreOnScroll' scroll-policy-options='{"fetchSize": 10}' 
          columns='[{"headerText": "Person Number", "field": "personNumber", "resizable": "enabled", "headerStyle": "width: 20%;"},
                  {"headerText": "Name", "field": "personName", "resizable": "enabled"},
                  {"headerText": "Action", "field": "action", "headerStyle": "width: 10px;", "template": "actionTemplate"}]'
          style='width: 100%; max-height: 400px;'>
  
          <template slot="inclusionStatusTemplate" data-oj-as="cell">
            <oj-combobox-one aria-label="inclusion status" value="[[cell.data]]" style="max-width:20em" placeholder="Select option">
              <oj-option value="1">Include</oj-option>
              <oj-option value="0">Exclude</oj-option>
            </oj-combobox-one>
          </template>

          <template slot="actionTemplate" data-oj-as="cell">
            <oj-bind-if test='[[cell.mode=="navigation"]]'>
              <oj-button id='remove-batchElement-btn' on-oj-action="[[removeEmployee]]" disabled='[[advanceDisable]]'>
                <i class="far fa-trash-alt"></i>
              </oj-button>
            </oj-bind-if>
          </template>
        </oj-table>
      </div>
    </div>
</div>
