<div class="sidemenu">
  <hr class="line-white-sm" />
  <span class="sidemenu-item  " data-bind="click: back">
    <i class="d-block fas fa-backward"></i>
    <span class="text">Back</span>
  </span>
  <span class="sidemenu-item" data-bind="click: elementEntries">
    <!-- <i class="d-block fas fa-backward"></i> -->
    <span class="text">Element Entries</span>
  </span>
  <span class="sidemenu-item active" data-bind="click: indexBatchElement">
    <!-- <i class="d-block fas fa-backward"></i> -->
    <span class="text">Manage Batch Element</span>
  </span>
</div>
<div class="main-content">
  <a id="btn-sidemenu" class="navbar-brand pr-4"><i class="fas fa-bars"></i></a>
  <h1 class="title">Batch Element</h1>

  <!-- Messages -->
  <div id="notificationMessages">
    <oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
    </oj-messages>

  <div class="content rounded-lg shadow-lg p-3">
    <div id="header-wrap">
      <div class="content-navbar text-center">
        <button class="d-inline-block btn btn-light advancedBtn" data-toggle="collapse" data-target="#advancesSection">Advanced</button>
      </div>
      <!---->
      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-md-12 oj-sm-12 oj-flex-item">
          <!-- search keyword -->
          <oj-input-text aria-label="Enter search keyword" value="{{keyword}}" placeholder="Enter search keyword">
          </oj-input-text>
          <oj-button on-oj-action="[[searchKeyword]]" id='keyword-search-btn' disabled='[[advanceDisable]]'>
            Search
          </oj-button>
        </div>
      </div>
      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-md-12 oj-sm-12 oj-flex-item text-right">
          <oj-button on-oj-action="[[openListenerBatchElement]]" id='btn-advance-search' disabled='[[advanceDisable]]'
            style="padding: 0">
            <span>
              <i class="fas fa-plus pr-2"></i> Create Batch Element
            </span>
          </oj-button>
        </div>
      </div>
      <div class="col-12">
        <!-- advance search -->
        <div id="advancesSection"  class="collapse pt-5" >
          <div id="validation-usecase">
            <oj-validation-group id="tracker">
              <oj-form-layout max-columns="2" id="fl1">
                <oj-input-text required value="{{searchName}}" autocomplete="off" label-hint="Name"
                  style="max-width: 100%;">
                </oj-input-text>
                <oj-input-text required value="{{searchPersonNumber}}" autocomplete="off" label-hint="Person No."
                  style="max-width: 100%;">
                </oj-input-text>
                <oj-input-date value="{{searchStartDate}}" required label-hint="Start-Date" style="max-width: 100%;">
                </oj-input-date>
                <oj-input-date value="{{searchEndDate}}" label-hint="End-Date" style="max-width: 100%;">
                </oj-input-date>
              </oj-form-layout>
            </oj-validation-group>
          </div>
          <div class="text-center">
            <oj-button on-oj-action="[[searchAdvance]]" chroming="solid" id='btn-advance-search'
              disabled='[[advanceDisable]]'>
              Search
            </oj-button>
          </div>
        </div>
      </div>


    <!-- create modal -->
    <oj-popup id="create-modal" class="demo-popup" tail="none" position.my.horizontal="center" position.my.vertical="top"
      position.at.horizontal="center" position.at.vertical="top" position.of="window" position.offset.y="50"
      modality="modal" on-oj-animate-start="[[startAnimationListenerCreateBatchElement]]">
      <div class="demo-popup-body">
        <div class="demo-popup-header">
          <h5>Create Batch Element</h5>
        </div>
        <div class="demo-popup-content">
          <div id="validation-usecase">
            <oj-validation-group id="create-tracker">
              <oj-form-layout max-columns="1" id="fl1">
                <oj-input-text required value="{{createName}}" autocomplete="off"
                  label-hint="Name" style="max-width: 100%;">
                </oj-input-text>
                <oj-combobox-one required label-hint="Element" placeholder="Select option" options="[[elementOptions]]" value="{{createElement}}">
                </oj-combobox-one>
                <!-- <oj-input-date value="{{createStartDate}}" required min="[[currentDate]]"
                  label-hint="Start-Date" style="max-width: 100%;">
                </oj-input-date>
                <oj-input-date value="{{createEndDate}}" label-hint="End-Date" min="[[createStartDate]]"
                  style="max-width: 100%;">
                </oj-input-date>              -->
              </oj-form-layout>
            </oj-validation-group>
          </div>
        </div>
        <div class="demo-popup-footer text-right">
          <oj-button id="create-batchElement-cancel-btn" on-oj-action="[[cancelListenerBatchElement]]">
            Cancel
          </oj-button>
          <oj-button id="create-batchElement-btn" class="ml-2" on-oj-action="[[createBatchElement]]">
            Continue
          </oj-button>
        </div>
      </div>
    </oj-popup>
  </div>

    <oj-table class="tableStyle" id='table' aria-label='Batch Element Table' data='[[dataProviderBatchElement]]'
      selection-mode='{"row": "multiple", "column": "multiple"}' dnd='{"reorder": {"columns": "enabled"}}'
      on-oj-before-current-row="[[tableSelectionListenerBatchElement]]" scroll-policy='loadMoreOnScroll'
      scroll-policy-options='{"fetchSize": 10}'
      columns='[{"headerText": "No.", "field": "num", "className": "", "headerStyle": "width: 10px;", "resizable": "disabled"},
                {"headerText": "Name", "field": "name", "resizable": "enabled"},
                {"headerText": "Element", "field": "element", "resizable": "enabled"},
                {"headerText": "Created Date", "field": "startDate", "resizable": "enabled"}]' style='width: 100%; max-height: 400px;'>

                <!-- {"headerText": "Action", "field": "action", "headerStyle": "width: 10px;", "resizable": "disabled", "template": "actionTemplate"}]'
        style='width: 100%; max-height: 400px;'> -->

        <template slot="actionTemplate" data-oj-as="cell">
          <oj-bind-if test='[[cell.mode=="navigation"]]'>
            <oj-menu-button id="menuButton">
              <i class="fas fa-ellipsis-h"></i>
              <!-- To handle menu item selection, use an action listener as shown, not a click listener. -->
              <oj-menu id="myMenu" slot="menu" style="display:none;" on-oj-action="[[elementAction]]">
                <!-- <oj-option value="edit">
                  <i class="far fa-edit"></i> Edit
                </oj-option> -->
                <oj-option value="remove">
                  <i class="far fa-trash-alt"></i> Remove
                </oj-option>
              </oj-menu>
            </oj-menu-button>
          </oj-bind-if>
        </template>
      </oj-table>
    </div>
  </div>
</div>
