<h3 class="header_headline_style animated fadeInUp" id="currentStepText" data-bind="text:headerEmployeeText"></h3>
<h1 class="header_headline_style"><span> <oj-bind-text value="[[currentStepValueText()]]"></oj-bind-text> </span></h1>
<div id="train-container" class="request_body_styling animated fadeInUp">
    <div class="oj-form">
        <div class="oj-flex">
            <div class="oj-flex-item">
                <oj-bind-if test="[[fyaFlag]]">
                    
                    <oj-button class="apBtn-2" on-oj-action='[[submitButton]]'>
                        <span><oj-bind-text value="[[approve]]"></oj-bind-text></span>
                    </oj-button>
                    <oj-button class="apBtn-2" on-oj-action='[[rejectButton]]'>
                        <span><oj-bind-text value="[[reject]]"></oj-bind-text></span>
                    </oj-button>

                </oj-bind-if>

                <button id="back" type="button"  class="oj-button-primary"
                        data-bind="click: cancelRewaardRequst,ojComponent: { component: 'ojButton', label: back,icons: {start:'oj-fwk-icon-back oj-fwk-icon'}}"></button>

            </div>

        </div>
    </div>
    <oj-bind-if test='[[trainVisibility]]'>
        <div> 
            <oj-train id="train"
                      selected-step="{{currentStepValue}}" steps="[[stepArray]]"
                      class="oj-train-stretch"
                      on-oj-before-select="[[stopSelectListener]]"/>
        </div>
    </oj-bind-if>
    <br>
    <div class="oj-form-layout oj-panel">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
            <oj-validation-group id="tracker" valid="{{groupValid}}">
                <div class="oj-form-layout oj-panel">
                    <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
                        <oj-form-layout id="ofl1" label-edge="start" max-columns="2">
                            <oj-input-text id="requestNuumber"  value="{{EducationExpenseRequestModle.requestNumber}}" disabled='[[isDisabled]]' label-hint='{{requestNumberLbl}}'></oj-input-text>
                            <oj-input-text id="employeeNuumber"  value="{{EducationExpenseRequestModle.employeeNumber}}" disabled='[[isDisabled]]' label-hint='{{employeeNumberLbl}}'></oj-input-text>
                            <oj-input-text id="positionClassification"  value="{{EducationExpenseRequestModle.positionClassification}}" disabled='[[isDisabled]]' required="[[isRequired]]"  label-hint='{{positionClassificationLBL}}'></oj-input-text>
                            <oj-input-text id="department"  value="{{EducationExpenseRequestModle.empDepartment}}" disabled='[[isDisabled]]' required="[[isRequired]]"  label-hint='{{departmentLbl}}'></oj-input-text>
                            <oj-select-one id="Semester" required converter=[[dateConverter]] value="{{EducationExpenseRequestModle.Semester}}" disabled='[[isDisabled]]'  required="[[isRequired]]" options="{{semisterArray}}" label-hint='{{SemesterLBL}}' placeholder="Please Select Semister"></oj-select-one>   

                            <oj-input-date id="requestDate" converter=[[dateConverter]] value="{{EducationExpenseRequestModle.requestDate}}" disabled='[[isDisabled]]'   label-hint='{{RequestDateLbl}}'></oj-input-date>
                            <oj-input-text id="displayName"  value="{{EducationExpenseRequestModle.displayName}}" disabled='[[isDisabled]]'  label-hint='{{displayNameLbl}}'></oj-input-text>     
                            <oj-input-text id="nationality"  value="{{EducationExpenseRequestModle.nationality}}" disabled='[[isDisabled]]' label-hint='{{nationalityLbl}}'></oj-input-text>
                            <oj-input-text id="AcadmicYear"  value="{{EducationExpenseRequestModle.AcadmicYear}}" disabled='[[isDisabled]]'  label-hint='{{AcadmicYearLBL}}'></oj-input-text>
                            </oj-form-layout>
                    </div>       
                </div>
            </oj-validation-group>   
            <div class="oj-flex-item">
                <oj-button data-bind="visible: addStudentVisible"  class="apBtn-2" on-oj-action="[[AddStudent]]">
                    <span><oj-bind-text value="[[AddStudentLBL]]"></oj-bind-text></span>
                </oj-button>  
                <oj-button  data-bind="visible: oprationVisible"  class="apBtn-2" on-oj-action="[[EditStudent]]" >
                    <span><oj-bind-text value="[[EditStudentLBL]]"></oj-bind-text></span>
                </oj-button>  
                <oj-button data-bind="visible: oprationVisibleView"  class="apBtn-2" on-oj-action="[[ViewStudent]]" >
                    <span><oj-bind-text value="[[viewLbl]]"></oj-bind-text></span>
                </oj-button>  
            </div>
            <oj-table id='table' aria-label='Departments Table'
                      class='apTable-1'
                      data='[[dataSource]]'
                      selection-mode='{"row": "multiple", "column": "multiple"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy-options='{"fetchSize": 10}'
                      columns='[[columnArray]]'
                      on-oj-before-current-row = "[[tableSelectionListener]]"
                      display = "grid">
                <oj-paging-control id="paging" data='[[dataSource]]' page-size='5' slot='bottom' class='apPaging-1'>
                </oj-paging-control>

            </oj-table>
        </div>
        <!-- details-->
        <div id="dialogWrapper" style="overflow: hidden;">
            <oj-dialog id="detailDialog" style="width:685px">
                <div slot="header" class="oj-helper-clearfix">
                    <label data-bind="text: EducationExpenseLbl"/>
                </div>
                <div class="oj-flex-bar apbtnHeader">
                    <div class="oj-flex-bar-start"> 
                        <oj-button class="apBtn-2" id="cancel"
                                   on-oj-action="[[cancelDetailDialog]]">
                            <span slot='endIcon'><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                        </oj-button>
                        <oj-bind-if test='[[previousBtnVisibleDetails]]'>
                            <oj-button class="apBtn-2" id="Previous"
                                       on-oj-action="[[previousStepDetails]]">
                                <span slot='endIcon'><oj-bind-text value="[[pervious]]"></oj-bind-text></span>
                            </oj-button>
                        </oj-bind-if>
                    </div>
                    <div class="oj-flex-bar-end"> 
                        <oj-bind-if test='[[nextBtnVisibleDetails]]'>
                            <oj-button class="apBtn-2" id="Next"
                                       on-oj-action="[[nextStepDetails]]"
                                       disabled="[[currentStepValueDetails() == 'stp2']]">
                                <span slot='endIcon'><oj-bind-text value="[[next]]"></oj-bind-text></span>
                            </oj-button>
                        </oj-bind-if>
                        <oj-bind-if test='[[addBtnVisibleDetails]]'>
                            <oj-button class="apBtn-2" id="submit" 

                                       on-oj-action="[[submitButtonDetails]]"
                                       visible="[[currentStepValueDetails() == 'stp2']]">
                                <span slot='endIcon'><oj-bind-text value="[[submit]]"></oj-bind-text></span>
                            </oj-button></oj-bind-if>


                        <div id="sampleDemo" style=""
                             class="demo-padding demo-container"></div>
                        <!--                        <div id="dialogWrapper">
                                                    <oj-dialog style="display:none;width:350px;height:auto"
                                                               id="yesNoDialog">
                                                        <div slot="header" class="oj-helper-clearfix">
                                                            <label data-bind="text:confirmMessage "/>
                                                        </div>
                                                        <oj-bind-if test="[[loading() === true]]">
                                                            <div class="sp-content">
                                                                <div class="spinner">
                                                                    <div class="double-bounce1"></div>
                                                                    <div class="double-bounce2"></div>
                                                                </div>
                        
                                                            </div>
                        
                                                        </oj-bind-if>
                                                        <div slot="body">
                                                            <label data-bind="text:oprationMessage "/>
                                                        </div>
                                                        <div slot="footer">
                        
                                                            <button id="cancelButton" type="button"
                                                                    data-bind="click: cancelButton, ojComponent: { component: 'ojButton', label: no}"></button>
                                                        </div>
                                                    </oj-dialog>
                                                </div>-->
                    </div>
                </div>
                <div id="train-container">
                    <oj-bind-if test='[[trainVisibilityDetails]]'>
                        <div style="text-align: center;white-space:nowrap;">
                            <oj-train id="trainLine"
                                      style="max-width:700px;margin-left:auto;margin-right:auto;"
                                      selected-step="{{currentStepValueDetails}}"
                                      steps="[[stepArrayDetails]]"
                                      class="oj-train-stretch"
                                      on-oj-before-select="[[stopSelectListenerDetails]]"/>
                        </div>
                    </oj-bind-if>
                    <br/>

                    <!--                    <h3 id="currentStepText" data-bind="text: currentStepValueDetails()"
                                            style="text-align: center"></h3>-->
                    <div class="oj-form-layout">
                        <div class="oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">                              
                            <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">
                                <oj-validation-group id="trackerDetails" valid="{{groupValidDetails}}">
                                    <div class="oj-form-layout oj-panel">
                                        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
                                            <oj-form-layout id="ofl1" label-edge="start" max-columns="2">
                                                <oj-select-one id="StudentName" value="{{EducationExpenseRequestModleDetails.StudentName}}"  disabled='[[isDisabledDetails]]'  options="{{StudentArr}}" label-hint='{{StudentNameLBL}}'></oj-select-one>
                                                <!--<oj-input-date id="StudentDateOfBirth" converter=[[dateConverter]]  required value="{{EducationExpenseRequestModleDetails.StudentDateOfBirth}}" disabled='[[isDisabledDetails]]'  label-hint='{{StudentDateOfBirthLBL}}'></oj-input-date>-->
                                                <oj-input-text id="childId"   value="{{EducationExpenseRequestModleDetails.StudentId}}"  disabled='true'  label-hint='{{StudentIdLbl}}'></oj-input-text>
                                                <oj-input-number id="childAge" min="0" max="18"  value="{{EducationExpenseRequestModleDetails.StudentAge}}" disabled='true'  label-hint='{{StudentAgeLbl}}'></oj-input-number>

                                                <oj-input-text id="StudentGrade"  required value="{{EducationExpenseRequestModleDetails.StudentGrade}}" disabled='[[isDisabledDetails]]' required="[[isRequired]]"  label-hint='{{StudentGradeLBL}}'></oj-input-text>
                                                <oj-input-text id="StudentSchoolName" required  value="{{EducationExpenseRequestModleDetails.StudentSchoolName}}" disabled='[[isDisabledDetails]]' required="[[isRequired]]"  label-hint='{{StudentSchoolNameLbl}}'></oj-input-text>
                                                <oj-select-one id="paymentMethod" required value="{{EducationExpenseRequestModleDetails.paymentMethod}}" disabled='[[isDisabledDetails]]'  required="[[isRequired]]" options="{{paymentMethodArray}}" label-hint='{{paymentMethodLBL}}' placeholder="Please Select Payment Method"  on-value-changed="[[onPaymethodSelected]]"></oj-select-one>
                                                <oj-input-number id="StudentInvoiceAmount" min="0" max="25000" required value="{{EducationExpenseRequestModleDetails.StudentInvoiceAmount}}"  disabled='[[isDisabledDetails]]'  label-hint='{{StudentInvoiceAmountLbl}}'></oj-input-number>
                                                <oj-bind-if test='[[payedVisibleDetails]]'>
                                                    <oj-input-number id="StudentInvoicePayment"  value="{{EducationExpenseRequestModleDetails.StudentInvoicePayment}}" disabled='true'  label-hint='{{StudentInvoicePaymentLbl}}'></oj-input-number>
                                                </oj-bind-if>
                                                <!--                                            <oj-input-text id="StudentInvoiceNo" required value="{{EducationExpenseRequestModleDetails.StudentInvoiceNo}}" disabled='[[isDisabledDetails]]'  label-hint='{{StudentInvoiceNoLbl}}'></oj-input-text>
                                                <oj-input-date id="StudentInvoiceDate" required  converter=[[dateConverter]] value="{{EducationExpenseRequestModleDetails.StudentInvoiceDate}}" disabled='[[isDisabledDetails]]' required="[[isRequired]]"  label-hint='{{StudentInvoiceDateLbl}}'></oj-input-date>                                     -->
                                                <oj-select-one id="bankName" required value="{{EducationExpenseRequestModleDetails.bankName}}" disabled='[[isDisabledDetails]]'  required="[[isRequired]]" options="{{bankNameArray}}" label-hint='{{bankNameLBL}}' placeholder="Please Select Bank "  on-value-changed="[[onBankSelected]]"></oj-select-one>   
                                                <oj-input-text id="iban" required  value="{{EducationExpenseRequestModleDetails.iban}}" disabled='[[isDisabledDetails]]' required="[[isRequired]]"  label-hint='{{ibanLbl}}'></oj-input-text>                                     
                 
                                                <oj-input-text id="note"  value="{{EducationExpenseRequestModleDetails.note}}" disabled='[[isDisabledDetails]]' required="[[isRequired]]"  label-hint='{{noteLbl}}'></oj-input-text>                                     
                                            </oj-form-layout>
                                        </div>       
                                    </div>
                                </oj-validation-group>
                                <!--<div class="oj-form-layout oj-panel">-->
                                <div class="form_field_dy_style attachedFileRow">
                                    <div class="form-group row formFieldRow ">                            
                                        <oj-file-picker  class="oj-filepicker-custom col-sm-4 col-form-label" required  
                                                         select-on="click"
                                                         disabled='[[isDisabledDetails]]'
                                                         selection-mode="single" 
                                                         on-oj-select='[[attachmentSelectListener]]'>
                                            <oj-button slot='trigger' chroming='half' disabled='[[isDisabledDetails]]'>
                                                <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-arrowbox-n'><oj-bind-text value="[[UploadFileLbl]]"></span>
                                            </oj-button>
                                        </oj-file-picker>
                                        <div class="col-sm-8">
                                            <oj-list-view id="listview" aria-label="list using observable array" 
                                                          data="[[dataProviderAttachment]]" selection-mode="single" selection="{{selectedItemsAttachment}}">
                                                <template slot="itemTemplate">
                                                    <span>
                                                        <oj-bind-text value='[[$current.data.name]]'></oj-bind-text>
                                                    </span>
                                                </template>
                                            </oj-list-view>
                                            <div class="oj-flex-item attBtnRow" text-align="center">
                                                <oj-button   data-bind="visible: viewAttachmentBtnVisible"  class="apBtn-2" on-oj-action='[[removeSelectedAttachment]]' >
                                                    <span><oj-bind-text value="[[removeBtnLbl]]"></oj-bind-text></span>
                                                </oj-button>
                                                <oj-button class="apBtn-2" on-oj-action='[[openAttachmentViewer]]' >
                                                    <span><oj-bind-text value="[[viewAttachLbl]]"></oj-bind-text></span>
                                                </oj-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>       
                                <!--</div>-->

                            </div>
                        </div>

                    </div>
                </div>
            </oj-dialog>
        </div>      




    </div>
</div>

</div>

<div id="dialogWrapper">
    <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: confirmMessage "/>
        </div>
        <div slot="body">
            <label data-bind="text: oprationMessage "/>
        </div>
        <div slot="footer">
            <oj-button disabled="{{disableSubmit}}" class="apBtn-2" on-oj-action='[[commitRecord]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>

    <oj-dialog class="main-dialog main-dialog-width" id="rejectDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text:confirmMessage "/>
        </div>
        <div slot="body">     
            <label data-bind="text:rejectMessage"/>              
        </div>
        <div slot="footer">
            <oj-button disabled="{{disableReject}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[rejectRewaardRequst]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button  class="apBtn-2 apBtn-disabled-2" on-oj-action='[[rejectCancelButton]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
</div>
