<h3 class="header_headline_style animated fadeInUp" id="currentStepText" data-bind="text:headerEmployeeText"></h3>
<div class="oj-form-layout oj-panel">
    <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline" oj-md-labels-inline>


        <div class="apBtnGroup">
        <div class="oj-flex">
            <div class="oj-flex-item">
                <oj-button class="apBtn-2" on-oj-action='[[btnAdd]]'>
                    <span><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                </oj-button>
                <oj-button  disabled="{{isDisable}}" class="apBtn-2 apBtn-disabled-2 approval-btn" on-oj-action='[[btnApprovalList]]'>
                    <span><oj-bind-text value="[[AprovalListLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-list-ul"></span>
                </oj-button>
                <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[btnEdit]]' disabled="[[isDisableEdit]]">
                    <span><oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                </oj-button>
                <oj-button  class="apBtn-2 apBtn-disabled-2" disabled="{{disableHelpBtn}}"   on-oj-action='[[HelpEFF]]'>
                    <span><oj-bind-text value="[[HELPLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                </oj-button>
                <oj-button class="apBtn-2 apBtn-disabled-2" disabled="{{isDisable}}" on-oj-action='[[btnView]]'>
                    <span><oj-bind-text value="[[viewLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-eye"></span>
                </oj-button>

                <!--                <oj-button disabled="{{isDisable}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[ShowReport]]'>
                                    <span><oj-bind-text value="[[showReportLbl]]"></oj-bind-text></span>
                                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                                </oj-button>-->



            </div>
        </div>
        </div>
            
        <div>
            <oj-table id='table' aria-label='Departments Table'
                      class='apTable-1'
                      data='[[dataSource]]'
                      selection-mode='{"row": "multiple", "column": "multiple"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy-options='{"fetchSize": 10}'
                      columns='[[columnArray]]'
                      on-oj-before-current-row = "[[tableSelectionListener]]"
                      display = "grid">
                <oj-paging-control id="paging" data='[[dataSource]]' page-size='4' slot='bottom' class='apPaging-1'>
                </oj-paging-control>

            </oj-table>
        </div>
        <div id="dialogWrapper">
            <oj-dialog class = "oj-dialog-content oj-dialog-default-content main-dialog effective-dialog" id="modalDialog1" >
                <div slot="header" class="oj-helper-clearfix">
                    <label data-bind="text:Approval_list " />
                </div>
                <div slot="body" style="height:300" id="demo">

                    <!-- ko foreach: datacrad -->
                    <div class="approval-card-body app-crd-bdy-received app-crd-bdy-border-ar" data-bind="css: bodyStatus">
                        <div class="approval-card-header">
                            <h5 class="app-card-Pname"><span data-bind="text: personName"></span>   </h5>
                            <p class="app-crd-type  badge badge-secondary" data-bind="css: status"><span data-bind="text: FYA"></span></p>
                        </div>
                        <div class=" row approval-card-inf-body">
                            <div class="col-md-6"> <span class="badge badge-pill app-card-badge" data-bind="css: appCardStatus"><span data-bind="text: Approved"></span></span> </div>

                            <div class="col-md-6"><blockquote class="blockquote app-card-blockqoute">
                                    <footer class="blockquote-footer"> <small><span data-bind="text: date"></span></small></footer>
                                </blockquote>
                            </div>
                        </div>

                    </div>
                    <!-- /ko -->
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2" on-oj-action='[[closeDialog]]'>
                        <span><oj-bind-text value="[[ok]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </oj-dialog>
        </div>
        <oj-dialog style="display:none;width:650px;height:600px"
                   id="pdfViewer" title="View Letter">
            <div slot="body">PDF Doc</div>
            <div class="documentviewerpdf">
                <object data-bind="attr: { 'data':EmbedPDFLink, 'data-doctype': 'pdf', type: 'application/pdf'}"  width="600px" height="600px">
                    <a data-bind="attr: { 'href':EmbedPDFLink}">test.pdf</a>
                </object>
            </div>
            <br/>
        </oj-dialog>  
             <oj-dialog class = "oj-dialog-content oj-dialog-default-content main-dialog effective-dialog" id="onlineHelp">
           <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text:onlineHelpLbl" />
            </div>
         
            <div slot="body" ><span data-bind="text:helpBody"/> </div>
         
          <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[closeHelpDialog]]'>
                    <span><oj-bind-text value="Ok"></oj-bind-text></span>
                </oj-button>
            </div>
            
        </oj-dialog> 
    </div>
</div>
