<div class="container-fluid processSection mr-top-30">
  <oj-button class="btnStyle" data-bind="click: back"><i class="d-block fas fa-backward"></i>Back</oj-button>
  <h1 class="process-title mr-top-30">Retro Calculation</h1>
  <span class="subtitle">Submit a Process or Report: Enter Parameters</span>
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-md-12 oj-sm-12 text-center mr-top-30">
      <oj-button class="btnStyle" id='keyword-search-btn ' on-oj-action="[[createRetroCalculation]]">
        Submit
      </oj-button>
    </div>
  </div>
  <div class="panel-custom p-4 border rounded-lg shadow-sm mr-top-30">
    <h5>Flow Details</h5>
    <div id="validation-usecase">
      <oj-validation-group id="create-tracker">
        <oj-form-layout max-columns="1" id="fl1" label-edge="start">
          <oj-input-text required value="{{payrollFlow}}" autocomplete="off" label-hint="Payroll Flow"
            style="max-width: 50%;">
          </oj-input-text>
        </oj-form-layout>
      </oj-validation-group>
    </div>
  </div>
  <div class="panel-custom p-4 border rounded-lg shadow-sm mr-top-30">
    <h5>Parameter Details</h5>
    <div id="validation-usecase">
      <oj-validation-group id="create-tracker-2">
        <oj-form-layout max-columns="1" id="fl1" label-edge="start">
          <oj-input-date converter=[[dateFormat]] value="{{processDate}}" required label-hint="Process Date"
            style="max-width: 50%;">
          </oj-input-date>
          <oj-input-text required value="{{payrollValue}}" autocomplete="off" label-hint="Payroll"
            style="max-width: 50%;">
          </oj-input-text>
          <oj-input-date converter=[[dateFormat]] value="{{overridingDate}}" label-hint="Overriding Entry Creation Date"
            style="max-width: 50%;">
          </oj-input-date>
          <oj-input-text value="{{processConfigurationGroup}}" autocomplete="off"
            label-hint="Process Configuration Group" style="max-width: 50%;">
          </oj-input-text>

          <oj-input-text value="{{payrollRelationshipGroup}}" autocomplete="off" label-hint="Payroll Relationship Group"
            style="max-width: 50%;">
          </oj-input-text>
        </oj-form-layout>
      </oj-validation-group>
    </div>
  </div>
</div>