<stc-navbar [currentPage]="currentPage"></stc-navbar>
<section id="STCreports" class="pageSettings">
    <!-- Start card -->
    <div class="container">

        <!----------------pageHeadInfo-->
        <div class="row pageHeadInfo">
            <div class=" col-lg-6 col-sm-12">
                <div>
                    <h5>{{'generateReports_label' | translation }}</h5>
                    <p>{{ 'generateReports_subTitle_label' | translation}}</p>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <mat-form-field>
                            <mat-label>{{'SelectDuration'|translation}}</mat-label>
                            <mat-select [(ngModel)]="duration">
                                <mat-option *ngFor="let type of userTypes" [value]="type.days">
                                    {{trans.direction() == 'rtl' ?  type.make_ar : type.make}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <ng-container *ngIf="duration == -1">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12 my-auto">
                            <mat-form-field (click)="pickerFrom.open()">
                                <input matInput [(ngModel)]="dateFrom" name="PickerFrom" [matDatepicker]="pickerFrom"
                                    placeholder="{{'fromDate'|translation}}" readonly>
                                <mat-datepicker-toggle  matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                                <mat-datepicker  #pickerFrom></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12 my-auto">
                            <mat-form-field (click)="pickerTo.open()">
                                <input matInput [(ngModel)]="dateTo" [disabled]="!dateFrom" [matDatepicker]="pickerTo"
                                    [min]="dateFrom" placeholder="{{'toDate'|translation}}" readonly>
                                <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                                <mat-datepicker #pickerTo></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <div class="col-lg-2 col-md-2 col-12 my-auto text-end">
                        <button class="btn btnSearch" (click)="search()">{{'search_label'|translation}}</button>
                    </div>
                </div>
            </div>

        </div>

        <!-------------------------------->


        <div class="row" *ngIf="selectedContent?.chartData">
            <div class="card-container col-md-12 col-sm-12 text-start" id="flex-wrapper">
                <div class="carousel">
                    <div class="flex-inside" id="flex-inside">
                        <!-- [ngClass]="{'act':selectedContent==content}" -->
                        <div class="item" *ngFor="let content of contents" [ngx-scroll-to]="'#destination'"
                            (click)="selectedContent = content">
                            <div class="iemIcon" [ngClass]="{'act':selectedContent==content}">
                                <i class="fa fa-3x fa-fw" [ngClass]="'fa-tags'"></i>
                            </div>
                            <h6>{{content.title}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-md-12 col-sm-12 text-start " id="destination" #destinationRef>
                <div class="statisticsChart">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-10 order-lg-1 order-md-1 order-sm-1 order-1">
                            <h3>{{ 'sampleReports_label' | translation}}</h3>
                            <!-- <p>{{ 'sampleReports_subTitle_label' | translation}}</p> -->
                            <p>{{ selectedContent?.title | translation}}

                                <span *ngIf="selectedContent.chartData.length == 0"> - No Data</span>
                            </p>
                        </div>
                        <ng-container *ngIf="selectedContent.chartData.length > 0">
                            <div
                                class="col-lg-8 col-md-8 col-sm-10 col-12 order-lg-2 order-md-2 order-sm-2 order-3 chart-nav">
                                <ul class="list-unstyled list-inline">
                                    <li class="list-inline-item"  (click)="barChartType = 'bar' " [ngClass]="barChartType == 'bar'?'act':''">
                                        <a >{{ 'barChart_label' | translation}}</a>
                                    </li>
                                    <li class="list-inline-item"  (click)="barChartType ='line'" [ngClass]="barChartType == 'line'?'act':''">
                                        <a >{{ 'lineChart_label' | translation}}</a>
                                    </li>
                                    <li class="list-inline-item"  (click)="barChartType = 'pie' " [ngClass]="barChartType == 'pie'?'act':''">
                                        <a >{{ 'pieChart_label' | translation}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div
                                class="col-lg-4 col-md-4 col-sm-2 col-2 order-lg-3 order-md-3 order-sm-3 order-2 text-end">
                                <button id="saveChart"><i class="fa fa-download"></i></button>
                            </div>
                        </ng-container>
                    </div>

                </div>
                <div class="chartData" *ngIf="isDataLoaded && selectedContent.chartData.length > 0">
                    <canvas id="canvas" baseChart [datasets]="selectedContent.chartData"
                        [labels]="selectedContent.barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                        [chartType]="barChartType"></canvas>
                </div>
            </div>
        </div>






        <!-----------------------placeholder------------------------>
        <div class="row box-placeholder" *ngIf="!selectedContent || !selectedContent.chartData">
            <div class="card-container col-md-12 col-sm-12 text-start" id="flex-wrapper">
                <div class="carousel">
                    <div class="flex-inside" id="flex-inside">
                        <!-- [ngClass]="{'act':selectedContent==content}" -->
                        <div class="item" *ngFor="let content of placeHolderArr" >
                            <div class="iemIcon text" >
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
