#navigation-purple {
    padding-bottom: 0px;
    margin: 0;
    border: none;
    border-radius: 0;
}

#navigation-purple .nav {
    margin-right: -15px;
}

#navigation-purple .nav > li {
    border-bottom: 2px solid transparent;
    margin-bottom: 34px;
}

#navigation-purple .nav > li:hover {
    border-bottom-color: #78957B;
}

#navigation-purple .nav > li:focus {
    background-color: transparent;
}

#navigation-purple .nav > li > a {
    font-size: 18px;
    color: #78957B;
}

#navigation-purple .nav > li > a:hover,
#navigation-purple .nav > li > a:focus {
    background-color: transparent;
}

#navigation-purple .navbar-collapse {
    padding-top: 35px;
}

#navigation-purple .avatar {
    height: 80px;
    float: left;
    margin-top: 19px;
}

#navigation-purple .icon-bar {
    background-color: #78957B;
}

#navigation-purple .navbar-toggle {
    border-color: #78957B;
    float: right;
    margin-right: 25px;
    margin-top: 30px;
}

#navigation-purple .navbar-toggle:hover, 
#navigation-purple .navbar-toggle:focus {
     background-color: transparent;
}

@media screen and (max-width: 767px) {

    #navigation-purple .navbar-collapse {
        padding-top: 0;
    }

    #navigation-purple ul>li {
        float: right;
        clear: right;
        margin-left: 4px;
        padding-bottom: 8px;
        margin-bottom: 5px !important;
    }

    #navigation-purple ul>li>a {
        padding-bottom: 2px;
    }

    #navigation-purple ul>li:hover {
        border-bottom: 2px solid white;
    }

    #navigation-purple .avatar {
        height: 60px;
        margin-top: 18px;
        margin-bottom: 18px;
    }
}



body {
	    background-color: rgb(235,235,235) !important;
            background: url(../images/bg_header2.jpg) bottom repeat-x !important;
}

#contmain
{
width: 100%;
margin: 0 auto;
}

/* Header */

#menu{padding-top: 10px;
        height: 40px;
        width:100%;
       font-size: 12px;
    background: rgb(1,89,77);
 
    vertical-align: middle;
    
}

#header {
	width: 100%;
        padding-top: 11px;
        height: 120px;
        width: 100%;
        background: url("../images/bg_header2.jpg")  bottom repeat-x;
        padding-left: 22px;
    padding-right: 22px;
       background-size: 100% 100%;
    background-repeat: no-repeat;
    
        border-top: 10px ;
}

#title {

    font-size:18px;
    background-color: #E1E1E1;
    color: rgb(12,62,97);
}

#menu {
        padding-top: 1px;
}

/* Logo */


/* Page */
#page {
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: ghostwhite;
}


