@charset "utf-8";

/* CSS Document */
body {
    font-family: "times new Roman";
    padding: 0px;
    margin: 0px;
    background-attachment: fixed;
}
.button { 
  border-radius: 6px;
font-family: Arial;
color: #ffffff;
font-size: 12px;
background: #3b5163;
padding: 0px 20px 0px 20px;
text-decoration: none;
height: 23px;
}

.button:disabled,
.button[disabled]{
  color: #6e7587;
    border-style: solid;
    border-width: 1px;
    border-color: #9297A6;
    border-top-color: #E0E3E8;
    border-right-color: #B3BFC5;
    border-bottom-color: #B3BFC5;
    border-left-color: #E0E3E8;
    background-color: #DBE0EA;
    background-image: none;
}

button:disabled,
button[disabled]{
    color: #6e7587;
    border-style: solid;
    border-width: 1px;
    border-color: #9297A6;
    border-top-color: #E0E3E8;
    border-right-color: #B3BFC5;
    border-bottom-color: #B3BFC5;
    border-left-color: #E0E3E8;
    background-color: #DBE0EA;
    background-image: none;
}

[disabled],
.disabled {
       color: #6e7587;
    border-style: solid;
    border-width: 1px;
    border-color: #9297A6;
    border-top-color: #E0E3E8;
    border-right-color: #B3BFC5;
    border-bottom-color: #B3BFC5;
    border-left-color: #E0E3E8;
    background-color: #DBE0EA;
    background-image: none;
    
}


html {
    padding: 0px;
    margin: 0px;
    background-position: center top;
    background-repeat: repeat-y;
    background-color: #e8e1d5;
    background-attachment: fixed;
}

.headBG {
    background-image: url(../images/TopBG.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 138px;
}

.clr {
    clear: both;
}

.l {
    float: left;
}

.r {
    float: right;
}

.contentwrapper {
    width: 995px;
    margin-left: auto;
    margin-right: auto;
}

.formBody {
    width: 950px;
    margin-left: 50px;
    margin-right: 50px;
}

.datetxt {
    color: #ffffff;
    font-size: 13px;
    margin: 15px 20px 0px 0px;
}

.rightHeader {
    color: White;
    font-size: 13px;
    margin: 20px 20px 0px 0px;
}

.leftHeader {
    color: White;
    font-size: 13px;
    margin: 20px 250px 0px 0px;
}

.searchbox {
    background-image: url(../images/searchBG.png);
    height: 29px;
    width: 161px;
    border: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
}

.searchbox2 {
    height: 29px;
    width: 161px;
    border: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
}

.searchboxmarg {
    margin: 20px 250px 0px 0px;
}

.socialiconsmarg {
    margin: 2px 60px 0px 0px;
}

.menuright {
    background-image: url(../images/menuright.jpg);
    height: 35px;
    width: 114px;
    margin: 30px 80px 0px 0px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
}

.menuright a:link {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    line-height: 35px;
    text-decoration: none;
}

.menuright a:visited {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    line-height: 35px;
}

.menuright a:hover {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    line-height: 35px;
}

.menuright a:active {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    line-height: 35px;
}

.menucenter {
    background-image: url(../images/menuCenter.jpg);
    background-repeat: repeat-x;
    height: 35px;
    width : 700px;
    margin: 30px 0px 0px 0px;
    line-height: 35px;
}

.menucenter a:link {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    border-left: 2px #969696 solid;
}

.menucenter a:visited {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    width : 100px;
}

.menucenter a:hover {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #000000;
    width : 100px;
    font-weight: bold;
}

.menucenter a:active {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #000000;
    width : 100px;
    font-weight: bold;
}

.menuleft {
    background-image: url(../images/menuleft.jpg);
    background-repeat: no-repeat;
    width: 9px;
    height: 35px;
    margin: 30px 0px 0px 0px;
}

.linknoboarder {
    border: 0px !important;
}

.footersep {
    background-color: #987949;
    height: 3px;
    margin: 10px 0px 10px 0px;
}

.leftmenuhead {
    background-image: url(../images/menuTop.jpg);
    width: 184px;
    height: 45px;
    font-size: 18px;
    padding-right: 15px;
    color: #ffffff;
    padding-top: 5px;
    font-weight: bold;
}

.leftmenucenter {
    padding-right: 15px;
    background-image: url(../images/menuleftcenter.jpg);
    background-repeat: repeat-y;
    width: 184px;
    color: #593312;
}

.leftmenulink {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #593312;
    text-decoration: none;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
}

.leftmenusep {
    background-color: #593312;
    height: 1px;
    width: 180px;
    margin-top: 5px;
}

.leftmenubottom {
    background-image: url(../images/menuleftbuttom.jpg);
    width: 199px;
    height: 35px;
}

.leftmenumarg {
    margin-right: 18px;
}

.leftbuttons {
    background-image: url(../images/leftbuttons.jpg);
    height: 55px;
    width: 200px;
    text-align: center;
    margin-bottom: 13px;
    line-height: 52px;
}

.buttontxt {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    font-family: "times new Roman";
}

.latesttopics {
    background-image: url(../images/latesttopics.jpg);
    width: 186px;
    height: 267px;
    margin: 5px 3px 5px 0px;
    padding: 10px 10px 0px 0px;
    color: #593312;
    font-weight: bold;
}

.moretxt {
    color: #593312;
    text-decoration: none;
    height: 25px;
    margin-left: 10px;
    font-size: 16px ;
}

.titlebox {
    height: 40px;
}

.hotlinks {
    color: #593312;
    text-decoration: none;
    height: 25px;
}

.newsticker {
    background-image: url(../images/newsticker.jpg);
    height: 31px;
    background-repeat: repeat-x;
    border: 1px solid #645431;
    width: 730px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding-right: 10px;
}

.latestfatawat {
    background-image: url(../images/latestfatawa.jpg);
    width: 488px;
    height: 472px;
    padding: 10px 10px 0px 10px;
    color: #593312;
    font-weight: bold;
    font-size: 18px;
}

.middlebox {
    margin-right: 5px;
}

.latestnews {
    background-image: url(../images/latestnes.jpg);
    height: 339px;
    width: 498px;
    margin-top: 5px;
    color: #593312;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 10px 0px 0px;
}

.tabsBG {
    background-image: url(../images/tabsbg.jpg);
    width: 511px;
    height: 210px;
}

.fatawalatest {
    background-image: url(../images/fatawatlatest.jpg);
    width: 222px;
    height: 324px;
    color: #593312;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 10px 0px 0px;
}

.newsletter {
    background-image: url(../images/newsletterBG.jpg);
    width: 212px;
    height: 123px;
    margin-top: 12px;
    color: #593312;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 10px 0px 10px;
}

.photogallery {
    background-image: url(../images/photogallery.jpg);
    width: 224px;
    height: 177px;
    margin-top: 10px;
    color: #593312;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 10px 0px 0px;
}

.poll {
    background-image: url(../images/poll.jpg);
    width: 225px;
    height: 192px;
    margin-top: 10px;
    color: #593312;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 10px 0px 0px;
}

.programs {
    background-image: url(../images/programs.jpg);
    height: 138px;
    width: 225px;
    margin-top: 10px;
    color: #593312;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 10px 0px 0px;
}

.lastcolumbox {
    margin-right: 5px;
}

.newstickertxt {
    color: #ffffff;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.fatawatxt {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    height: 10px;
    margin-top: 10px;
}

.fatawatxt a:link {
    font-size: 14px;
    font-weight: bold;
    color: #593312;
    text-decoration: none;
}

.fatawatxt a:visited {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #593312;
}

.fatawatxt a:hover {
    font-size: 14px;
    font-weight: bold;
    color: #593312;
    text-decoration: none;
}

.fatawatxt a:active {
    font-size: 14px;
    font-weight: bold;
    color: #593312;
    text-decoration: none;
}

.newsslidr {
    width: 476px;
    height: 278px;
    margin-top: 20px;
}

.latestfatwabox {
    width: 200px;
    margin: 23px 5px 0px 0px;
    color: #C7C5C2;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    clear: both;
}

.latestfatawatxt2 {
    font-size: 14px;
    font-weight: bold;
    color: #593312;
    text-decoration: none;
}

.latestfatawabox2 {
    width: 200px;
    padding: 10px 0px 0px 0px;
    margin: 0px 5px 0px 0px;
}

.newsletterbox {
    background-image: url(../images/newslettersubmit.jpg);
    width: 203px;
    height: 29px;
    margin-top: 30px;
}

.systembtn {
    background-image: url(../images/button.jpg);
    width: 65px;
    height: 20px;
    margin-top: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
}

.photogallerybox {
    margin: 25px 25px 0px 0px;
    width: 220px;
    text-align: center;
}

.picgal {
    margin: 0px 0px 5px 5px;
}

.surveytxt {
    font-size: 14px;
    margin: 25px 0px 0px 0px;
    width: 200px;
}

.downloadsbox {
    margin: 35px 0px 0px 0px;
    width: 220px;
}

.downloadsicon {
    margin: 0px 10px 0px 10px;
}

.footersocial {
    margin-left: 30px;
}

.footerlinks {
    font-size: 13px;
    font-family: Tahoma, Geneva, sans-serif;
    text-decoration: none;
    color: #41321B;
}

.footerlinks a:link {
    text-decoration: none;
    color: #41321B;
}

.footerlinks a:visited {
    text-decoration: none;
    color: #41321B;
}

.footerlinks a:hover {
    text-decoration: none;
    color: #41321B;
}

.footerlinks a:active {
    text-decoration: none;
    color: #41321B;
}

.copyrights {
    font-family: Tahoma, Geneva, sans-serif;
    text-decoration: none;
    color: #41321B;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}
/*===================inner============================*/
.innerpagetitle {
    background-image: url(../images/innertoptitlebg.jpg);
    width: 734px;
    height: 36px;
    padding: 0px 10px 0px 0px;
    color: #593312;
    font-size: 18px;
    line-height: 36px;
    margin-right: 5px;
}

.innercontentbox {
    border: 1px #DADADA solid;
    padding: 10px;
    width: 720px;
    margin-right: 5px;
    color: #593312;
    background-color: #ffffff;
    margin-bottom: 5px;
}

.innercontentcont {
    width: 680px;
}
/*===================inner2============================*/
.innercont2 {
    height: 20px;
    background-color: #ebe1d3;
    padding: 5px;
    color: #4c5929;
}

.innercont2 a:link {
    text-decoration: none;
    color: #4c5929;
}

.innercont2 a:visited {
    text-decoration: none;
    color: #4c5929;
}

.innercont2 a:hover {
    text-decoration: none;
    color: #4c5929;
}

.innercont2 a:active {
    text-decoration: none;
    color: #4c5929;
}

.innercont2b {
    height: 20px;
    background-color: #ffffff;
    padding: 5px;
    margin: 5px 0px 5px 0px;
}

.innercont2b a:link {
    text-decoration: none;
    color: #4c5929;
}

.innercont2b a:visited {
    text-decoration: none;
    color: #4c5929;
}

.innercont2b a:hover {
    text-decoration: none;
    color: #4c5929;
}

.innercont2b a:active {
    text-decoration: none;
    color: #4c5929;
}

.innerpag {
    text-align: center;
}

.innertxtleft {
    text-align: left;
}

.innerreadings {
    font-size: 14px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.inneranswerbox {
    padding: 5px;
}

.innerothersfont {
    color: #4c5929;
    text-decoration: none;
}
/*===========updated header===============*/
.headBG2 {
    background-image: url(../images/TopBG2.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 138px;
}

.headBG3 {
  
    background: url(../images/bg_header2.jpg)  no-repeat #e6e6e6 top left ;
    background-size: 100% 232px;
    border-bottom: 1px solid #dadada;
    height: 100px;

    
}
/*========================innerpage forms==================*/
.innerpagetitle2 {
    background-image: url(../images/innertoptitleBg.jpg);
    width: 100%;
    background-repeat: repeat-x;
    height: 62px;
    padding: 0px 10px 0px 0px;
    color: #593312;
    font-size: 18px;
    line-height: 62px;
}

.contentbox {
    background-color: #ffffff;
    height: 100%;
    overflow: auto;
    padding-right: 10px;
}

.innerlables {
    font-size: 12px;
    width: 85px;
    color: #887B60;
    font-family: Arial, Helvetica, sans-serif;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
}

.inputfield1 {
    width: 60px;
    height: 17px;
    border: 1px solid #DCDCDC;
    margin-right: 15px;
}

.inputfield2 {
    width: 150px;
    height: 17px;
    border: 1px solid #DCDCDC;
    margin-right: 15px;
    font-weight: bold;
    color: #887B60;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.inputfield3 {
    width: 300px;
    height: 100px;
    border: 1px solid #DCDCDC;
    margin-right: 15px;
    font-weight: bold;
    color: #887B60;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.innerbtntxt {
    background-image: url(../images/btncenter.jpg);
    background-repeat: repeat-x;
    padding: 0px 10px 0px 10px;
    height: 22px;
    line-height: 22px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.innerbtntxt a:link {
    padding: 0px 10px 0px 10px;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.innerbtntxt a:visited {
    padding: 0px 10px 0px 10px;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.innerbtntxt a:hover {
    padding: 0px 10px 0px 10px;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.innerbtntxt a:active {
    padding: 0px 10px 0px 10px;
    height: 22px;
    line-height: 22px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}

.innerbtnmargin {
    margin-right: 250px;
}

#content {
    padding-left: 19px;
    padding-right: 33px;
}

#reviewTableId\:\:ch\:\:t {
    background-color: rgb(66,185,131) !important;
}