<div id="main">
    <oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
    </oj-messages>


    <div id='searchArea'>
        <br>
        <div class="listItems oj-flex oj-flex-items-pad">
            <div class='oj-md-6 oj-sm-12 oj-flex-item'>
                <oj-label-value label-edge="start">
                    <oj-label id="ddd" slot="label"  class="idpPagInfoType">
                        <span data-bind="text:labels.transactionType"></span>
                    </oj-label>
                    <!-- <h5 slot="label"><b class="idpPagInfoType" data-bind="text: labels.transactionType"></b></h5> -->
                    <oj-select-one slot="value" class='selectList' options="[[transactionTypesListProvider]]"
                        placeholder='[[labels.placeHolder]]' value="{{selectedTransactionType}}"
                        disabled="[[fileDisabled]]">
                    </oj-select-one>
                </oj-label-value>
            </div>
            <div class='oj-md-6 oj-sm-12 oj-flex-item'>
                <oj-label-value label-edge="start">
                    <oj-label id="dd2" slot="label"  class="idpPagInfoType"><span data-bind="text:labels.organizationName"></span></oj-label>
                    <!-- <h5 slot="label"><b class="idpPagInfoType" data-bind="text: labels.organizationName"></b></h5> -->
                    <oj-select-one slot="value" class='selectList' options="[[organizationListProvider]]"
                        placeholder='[[labels.placeHolder]]' value="{{selectedOrganization}}"
                        disabled="[[fileDisabled]]" on-value-changed="[[valueChangedHandler]]">
                    </oj-select-one>
                </oj-label-value>
            </div>
        </div>
        <br>
        <hr>
        <br>
    </div>

    <h2 class="summaryHeading"><span>
            <oj-bind-text value="{{labels.title}}"></oj-bind-text>
        </span></h2>
    <div id="content_div" style="text-align: -webkit-center;">
        <oj-file-picker accept="[[acceptArr]]" name="file-picker" selection-mode="single"
            on-oj-select='[[selectListener]]' disabled='[[fileDisabled]]'>
            <div tabindex='0' slot='trigger' class='oj-filepicker-dropzone'>
                <p class='oj-filepicker-text'>
                    <span id="selected" data-bind="text: labels.picker_text"></span>
                </p>
            </div>
        </oj-file-picker>
        <br>
        <br>
        <oj-button on-oj-action='[[uploadAction]]' class="apBtn-2" disabled='[[btnDisabled]]'>
            <span slot='startIcon' class='oj-fwk-icon fa fa-upload'>
                <oj-bind-text value="{{labels.upload}}"></oj-bind-text>
            </span>
        </oj-button>
        <oj-button on-oj-action='[[downloadSample]]' class="apBtn-2">
            <span slot='startIcon' class='oj-fwk-icon fa fa-download'>
                <oj-bind-text value="{{labels.download}}"></oj-bind-text>
            </span>
        </oj-button>
    </div>

    <oj-bind-if test='[[showContent]]'>
        <br>
        <br>
        <div class="dialogFooter">
            <span data-bind="text:finalRestult"></span>
        </div>
        <br>
        <br>
        <oj-table class="tableStyle" id="table" aria-label="Departments Table" data="[[tableDataProvider]]"
            columns='[[labels.columnArray]]'>
            <oj-paging-control id="paging" data="[[tableDataProvider]]" page-size="25" slot="bottom"
                class="apPaging-1 display-inline-flex">
            </oj-paging-control>
        </oj-table>
    </oj-bind-if>





    <oj-dialog class="mainDialog" id="messageDialog1">
        <div slot="header">
            <label>Miscellaneous Upload</label>
        </div>
        <div slot="body" class="messageDialog">
            <label style="font-size: 15px;"><span>
                    <p id="demo1"></p>
                    <!-- <oj-bind-text value="{{dialogMsg}}"></oj-bind-text> -->
                </span></label>
        </div>
        <div slot="footer">
            <div class="dialogFooter">
                <span data-bind="text:finalRestult"></span>
            </div>
            <div>
                <oj-button class="apBtn-2" on-oj-action='[[closeMessageDialog]]'>
                    <span>
                        <oj-bind-text value="OK"></oj-bind-text>
                    </span>
                </oj-button>
            </div>
        </div>
    </oj-dialog>
</div>