<div class="oj-flex-item oj-panel">
    <h1 class="header_headline_style"><span> <oj-bind-text value="[[addtionalDetails]]"></oj-bind-text> </span></h1>
    <div id="train-container">

        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

            <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">
                <div class="oj-flex-item">
                    <label for="firstName" data-bind="text: jobNam"/>

                </div>
                <div class="oj-flex-item">
                    <label for="firstName" data-bind="text: jName"/>
                </div>
            </div>


            <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">
                <div class="oj-flex-item">
                    <label for="firstName" data-bind="text: structureNameLbl"/>

                </div>
                <div class="oj-flex-item">
                    <oj-select-one id="select" required="[[isRequired]]" 
                                   placeholder="[[placeholder]]"
                                   value="{{selctedStruct}}"
                                   on-value-changed = "{{structureChangedHandler}}">
                        <!-- ko foreach: structureName -->
                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                        <!-- /ko -->
                    </oj-select-one>
                </div>
            </div>

        </div>


        <div class="oj-form-layout">
            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
                <div class="oj-flex">
                    <div class="oj-flex-item" align="right">
                        <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                            <span><oj-bind-text value="[[backLbl]]"></oj-bind-text></span>
                            <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                        </oj-button>

                        <oj-button data-bind="visible: isVisible" class="apBtn-2" on-oj-action='[[addAdditionalDetails]]'>
                            <span><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
                            <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                        </oj-button>

                        <oj-button disabled="{{oprationdisabled}}" data-bind="visible: isVisible" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[updateAdditionalDetails]]'>
                            <span><oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                            <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                        </oj-button>

                        <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[openDialog]]'>
                            <span><oj-bind-text value="[[historyLbl]]"></oj-bind-text></span>
                            <span slot='endIcon' class="apiconClass fa fa-eye"></span>
                        </oj-button>

                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div data-bind="visible:isVisible">
            <oj-table id='table' aria-label='Departments Table'
                      data='[[dataprovider]]'
                      class='apTable-1'
                      selection-mode='{"row": "multiple", "column": "multiple"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy='loadMoreOnScroll'
                      scroll-policy-options='{"fetchSize": 10}'
                      columns='[[columnArray]]'
                      display = "grid"
                      on-oj-before-current-row = "[[tableSelectionListener]]">
            </oj-table>

        </div>

    </div>
</div>


<div id="componentDemoContent">
    <div id="dialogWrapper">
        <oj-dialog class = "oj-dialog-content oj-dialog-default-content main-dialog" id="modalDialog1">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text:historyDetails "/>
            </div>
            <div slot="body" >
                <oj-table id="tbl12" aria-label="Approvals Table"
                          data='[[dataSourceTB2]]'
                          class='apTable-1'
                          display = "grid"
                          selectionMode = "{'row': 'single'}"
                          columns-default='{"sortable": "enabled"}'
                          dnd='{"reorder": {"columns": "enabled"}}'
                          columns='{{columnArray}}'>
                </oj-table>                
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[closeDialog]]'>
                    <span><oj-bind-text value="[[ok]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>

</div>