<h1 class="title">Setup</h1>
<section class="homeSetupContent  rounded-lg shadow-lg p-3">
<div class="sectionBody homeSetupContent">
    <ul class="lisIconSection oj-flex oj-flex-items-pad">
        <li class="listIcons oj-md-3 oj-sm-6 oj-flex-item" data-bind="click: manageElement">
            <img class="imgHome" src="css/images/manageElement.png" ><br>
            <a >Manage Element</a>
        </li>
        <li class="listIcons oj-md-3 oj-sm-6 oj-flex-item" data-bind="click: manageObjectGroup">
            <img class="imgHome" src="css/images/manageObj.png" ><br>
            <a >Manage Object Group</a>
        </li>
        <li class="listIcons oj-md-3 oj-sm-6 oj-flex-item" data-bind="click: fastFormula">
            <img class="imgHome" src="css/images/formula.png" ><br>
            <a >Fast Formula</a>
        </li>
        <li class="listIcons oj-md-3 oj-sm-6 oj-flex-item" data-bind="click: report">
            <img class="imgHome" src="css/images/report.png" ><br>
            <a >Report</a>
        </li>
    </ul>
</div>
</section>