

#StcLogin
{
  height: 100%;
}

#StcLogin .container-fluid , #StcLogin .container-fluid .row
{
  height:100% ;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  #StcLogin .loginTitle
  {
    font-size: 35px ;
    color:#712c81 ; 
    text-shadow:  1px 1px #712c81
  }

  .signInBtn
  {
    border:none ;
    padding: 10px 15px;
    color: white;
    background: #712c81;
    border-radius: 5px;
    /* font-weight: bold ; */
  }
button[disabled]
{
    opacity: 0.8;
    cursor: not-allowed !important;
}
.con-image 
{
    position: relative ; 
    width: 100% ; 
    /* height: 655px ; */
    height: 100%;
}
@media only screen and (max-width: 1100px)
{
  .con-image 
  {
    /* height: 620px; */
    height: 100%;
  }
}
 .con-image  img{
    position: absolute ; 
    height: auto ;
    max-height: 100% ;
    width: auto ; 
    max-width: 100% ;
    top:0 ; 
    bottom:0 ; 
    left:0 ; 
    right:0 ; 
    margin: auto ;
}

.forget
{
  padding-top: 20px ; 
  color:#712c81  ;
}
.background-red
{
  color:white !important ; 
  background-color: #712c81 !important ;
}