<section id="StcLogin">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12 my-auto text-center ">
                <h5 class="text-center loginTitle">Login </h5>
                <div class="example-container">

                    
                        <mat-form-field>
                            <input matInput placeholder="Username" name="mail" id="username" [(ngModel)]="mailText" #mail="ngModel" type="text" required>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Your Password"
                            id="password"
                            name="password" [(ngModel)]="passwordText" #password="ngModel"
                             [type]="hide ? 'password' : 'text'" 
                             required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        
                        <div class="text-center">
                            <button [disabled]="mail.invalid || password.invalid" class="signInBtn" (click)="loginUser()" > {{'signIn' | translation }}</button>
                            <br><br>
                            <a routerLink="forget" class="forget" skipLocationChange>{{'forgotPassword' | translation }}</a>
                        </div>

                </div>
            </div>

            <div class="col-lg-8 col-md-8  d-none d-sm-none d-md-block d-lg-block">
                <div class="con-image">

                    <img src="{{common.getAssetsPath()}}img/stcLogin2.jpg">
                </div>
            </div>

        </div>
    </div>
</section>