
/**********************supervisor tabs**************/
#StcMyAccount .tabs .listTheme {
    padding: 0px 10px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(197, 192, 192);
    cursor: pointer;
}
#StcMyAccount  .tabs
{
    margin-bottom: 25px;
}
#StcMyAccount .tabs .active{
    color: #000 !important;
}
/************************SLA Animations*******************************/


/**************************myAccount******************************/
#StcMyAccount .myAccount .title
{
    font-weight: bold ;
    margin-bottom: 20px ;
    font-size: 14px;
    /* text-transform: uppercase ; */
}
#StcMyAccount .myAccount .batch 
{
    min-height: 50px;
    background-color: #eee;
    padding: 20px;
    margin-bottom: 30px;
}
#StcMyAccount .myAccount .batch .batchName 
{
    text-transform: capitalize ; 
    cursor: pointer;
    word-break: break-all;
   
}
#StcMyAccount .myAccount .batch .batchName i 
{
    cursor: pointer;
    color:#712c81 ; 
    font-size: 20px ;
}
/***********************headInfo*****************************/
#StcMyAccount .myAccount .headInfo
{
margin-bottom: 10px;
}
#StcMyAccount .myAccount .headInfo .con-image
{
    height: 80px;
}
#StcMyAccount .myAccount .headInfo .con-image img{
    border-radius: 50%;
}
#StcMyAccount .myAccount .headInfo .name{
    font-weight: bold ;
}



.xsScreen{
    padding-left: 15px;
}





/* .name{
    padding-left: 0px;
} */


.emp{
    padding-left: 10px;
    padding-bottom: 3px;
}
/*************************fancy***********************/
/* line after the div */
.fancy-line { 
    border: 0; 
    height: 6px;
    position: relative;
    margin: 0.5em 0;
}
.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
.fancy-line:after {
    height: 3px;
    top: 1; 
}
.fancy-line:before, .fancy-line:after {
    content: '';
    position: absolute;
    /* width: 100%; */
}
.fancy-line, .fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
}
.fancy-line:after {
    background: #f4f4f4;
}
/* end */
/***********************************/
::-webkit-scrollbar {
    height: 5px !important;
    width: 5px !important;
    bottom: 0;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}
