<!-- loading image at start of page  -->
<!-- <div class="con-image" *ngIf="showLoadImage">
    <img src="{{common.getAssetsPath()}}img/LoadingBasketContents.gif">
</div> -->

<!---------- my account data  ------------>
<section id="StcMyAccount" *ngIf="!showLoadImage">
    <!-------------------------------tabs for supervisor----------------------------------------------->
    <div class="tabs" *ngIf="common.getUserType() =='SUPERVISOR'">
        <ul class="list-unstyled list-inline text-start noPadding">
            <li class="list-inline-item listTheme " [ngClass]="{'active': batchChange}" (click)='batchChange=true '>
                {{'MyDashboard'|translation}}</li>

            <li class="list-inline-item listTheme " [ngClass]="{'active': !batchChange}" (click)='batchChange = false '>
                {{'MyAuditor'|translation}}
            </li>
        </ul>
    </div>
    <!--------------------------------------------------------------------->
    <div class="myAccount">

        <!-- backlog and completed -->
        <div *ngIf="batchChange" class="row text-start">
            <div class="col-sm-12 " [ngClass]="theme =='one'?'col-md-12':theme =='two'?'col-md-6':'col-lg-4 col-md-5'">
                <div>
                    <h6 class="title">{{'backlog' | translation}} <span>({{masterObject.BACKLOG_length}})</span></h6>

                    <!-----------backlog invoices ---------->
                    <div *ngIf="masterObject.BACKLOG_length > 0">
                        <div *ngFor="let batch of masterObject.BACKLOG">
                            <div class="batch" *ngIf="!batch.invisable">
                                <h6 class="batchName" (click)="batch.hide = !batch.hide">
                                    <div class="row">
                                        <div class="col-10">
                                            <span> {{'batchName' | translation }} {{batch.name}}</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <i class="fa"
                                                [ngClass]="{'fa-minus-circle':!batch.hide,'fa-plus-circle':batch.hide}"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </h6>
                                <ng-container *ngIf="!batch.hide">
                                    <div *ngFor="let inovice of batch.invoices|sortHidden  ; index as i">
                                        <div [ngClass]="inovice.LeftPercent > 67 ? 'restAnimation' :  (inovice.LeftPercent > 33 ? 'animationYellow':'animationRed')"
                                            *ngIf="batch.loaded<checkHidden(batch)?i<batch.loaded:i<checkHidden(batch)">
                                            <app-invoice-card [invoiceData]="inovice" [invoiceType]="'backlog'"
                                                (onRefresh)="onRefresh()" [theme]="theme">
                                            </app-invoice-card>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6 text-start">
                                            <button class="showMore" *ngIf="checkHidden(batch)> batch.loaded"
                                                (click)="batch.loaded = batch.loaded + masterObject.MAX_LOADED ">{{'ShowMore'|translation}}<i
                                                    class="fa fa-angle-double-down" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="col-6 text-end">
                                            <button class="showMore" *ngIf="batch.loaded>masterObject.MAX_LOADED  "
                                                (click)="batch.loaded = batch.loaded - masterObject.MAX_LOADED ">{{'ShowLess'|translation}}
                                                <i class="fa fa-angle-double-down" aria-hidden="true"></i></button>
                                        </div>
                                    </div>

                                </ng-container>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!------------------------completed invoices -------------->

            <div class="col-sm-12 " [ngClass]="theme=='one'?'col-md-12':theme=='two'?'col-md-6':'col-lg-4 col-md-5'">
                <div>
                    <h6 class="title">{{'completed' | translation }} <span>({{masterObject.COMPLETED_length}})</span>
                    </h6>
                    <ng-container *ngFor="let batch of masterObject.COMPLETED">
                        <div class="batch" *ngIf="!batch.invisable">
                            <h6 class="batchName" (click)="batch.hide = !batch.hide">
                                <div class="row">
                                    <div class="col-10">
                                        <span> {{'batchName' | translation }} {{batch.name}}</span>
                                    </div>
                                    <div class="col-2 text-end">
                                        <i class="fa"
                                            [ngClass]="{'fa-minus-circle':!batch.hide,'fa-plus-circle':batch.hide}"
                                            aria-hidden="true"></i>
                                    </div>
                                </div>

                            </h6>
                            <ng-container *ngIf="!batch.hide">
                                <div
                                    *ngFor="let invoice of batch.invoices|sortHidden|orderBy:'ACTION' :  true  ; index as i ">

                                    <div *ngIf="batch.loaded<checkHidden(batch)?i<batch.loaded:i<checkHidden(batch)">
                                        <app-invoice-card [invoiceData]="invoice" [invoiceType]="'completed'"
                                            [theme]="theme" (onRefresh)="onRefresh()">
                                        </app-invoice-card>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-6 text-start">
                                        <button class="showMore" *ngIf=" checkHidden(batch)> batch.loaded"
                                            (click)="batch.loaded = batch.loaded + masterObject.MAX_LOADED ">{{'ShowMore'|translation}}<i
                                                class="fa fa-angle-double-down" aria-hidden="true"></i></button>
                                    </div>
                                    <div class="col-6 text-end">
                                        <button class="showMore" *ngIf="batch.loaded>masterObject.MAX_LOADED  "
                                            (click)="batch.loaded = batch.loaded - masterObject.MAX_LOADED ">{{'ShowLess'|translation}}
                                            <i class="fa fa-angle-double-down" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>

        </div>

        <!--------------------myauditors------------------------->
        <div *ngIf="!batchChange">
            <ngx-masonry [options]="myOptions">
                <div *ngFor="let emp of masterObject.MYAUDTIOR">
                    <div *ngIf="!emp.invisable" ngxMasonryItem style="padding: 5px;" [ngStyle]="{'width':'300px'}">
                        <div class="headInfo">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-4  userImg">
                                    <div class="con-image">
                                        <img src="{{common.getUserImageById(emp.id)}}">
                                    </div>
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-8 col-8 my-auto userInfo text-start">

                                    <h6 class="name">{{emp.name|employeeName}}</h6>
                                    <h6>{{emp.TYPE}}</h6>
                                </div>
                            </div>
                        </div>
                        <div [id]="emp.id" *ngFor="let batch of emp.batches ">
                            <div *ngIf="!batch.invisable" class="batch">

                                <h6 class="batchName bacthTitle " (click)="batch.hide = !batch.hide">


                                    <div class="row">
                                        <div class="col-10 text-start">
                                            <span> {{'batchName' | translation }} {{batch.name}}</span>
                                        </div>
                                        <div class="col-2 text-end">
                                            <i class="fa"
                                                [ngClass]="{'fa-minus-circle':!batch.hide,'fa-plus-circle':batch.hide}"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </h6>
                                <ng-container *ngIf="!batch.hide">
                                    <div *ngFor="let invoice of batch.invoices|arrayPriority|sortHidden;index as i">

                                        <div class="text-start"
                                            *ngIf="batch.loaded<checkHidden(batch)?i<batch.loaded:i<checkHidden(batch)">

                                            <app-invoice-card [invoiceData]="invoice" [invoiceType]="'myauditor'"
                                                (onRefresh)="onRefresh()">
                                            </app-invoice-card>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-6 text-start">
                                            <button class="showMore" *ngIf="checkHidden(batch)> batch.loaded"
                                                (click)="batch.loaded = batch.loaded+masterObject.MAX_LOADED">{{'ShowMore'|translation}}<i
                                                    class="fa fa-angle-double-down" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="col-6 text-end">
                                            <button class="showMore" *ngIf="batch.loaded>masterObject.MAX_LOADED "
                                                (click)="batch.loaded = batch.loaded-masterObject.MAX_LOADED">{{'ShowLess'|translation}}<i
                                                    class="fa fa-angle-double-down" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="fancy-line"></div>
                    </div>
                </div>
            </ngx-masonry>
        </div>
        <!----------------------------------------------------->
    </div>
</section>

<app-dashboard-placeholder *ngIf="showLoadImage"></app-dashboard-placeholder>


<notifier-container></notifier-container>