<div id="main">
    <oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
    </oj-messages>
    <h2 class="summaryHeading"><span>
            <oj-bind-text value="{{labels.title}}"></oj-bind-text>
        </span></h2>

    <div id="content_div" style="text-align: -webkit-center;">
        <oj-file-picker accept="[[acceptArr]]" name="file-picker" selection-mode="single" 
        on-oj-select='[[selectListener]]' disabled='[[fileDisabled]]'>
            <div tabindex='0' slot='trigger'
                 class='oj-filepicker-dropzone'>
                <p class='oj-filepicker-text'>
                    <span id="selected" data-bind="text: labels.picker_text"></span>
                </p>
            </div>
        </oj-file-picker>
 <br>
 <br>
          <oj-button on-oj-action='[[uploadAction]]' class="apBtn-2" disabled='[[btnDisabled]]'>
            <span slot='startIcon' class='oj-fwk-icon fa fa-upload'>
                <oj-bind-text value="{{labels.upload}}"></oj-bind-text></span>
        </oj-button>
    </div>


    <oj-dialog class="main-dialog main-dialog-width m-popup" id="messageDialog1">
        <div slot="header" class="oj-helper-clearfix">
            <label>Pick Upload</label>
        </div>
        <div slot="body" >
            <label style="font-size: 15px;"><span>
                <p id="demo1"></p>
                <!-- <oj-bind-text value="{{dialogMsg}}"></oj-bind-text> -->
            </span></label>
        </div>
        <div slot="footer">
            <div>
                <oj-button class="apBtn-2" on-oj-action='[[closeMessageDialog]]'>
                <span><oj-bind-text value="OK"></oj-bind-text></span>
            </oj-button>
            </div>
        </div>
    </oj-dialog>
    
    <oj-dialog class="main-dialog main-dialog-width m-popup" id="messageDialog2">
        <div slot="header" class="oj-helper-clearfix">
            <label>Pick Upload</label>
        </div>
        <div slot="body" id='' ><img src="css/images/error.png" style="width: 20px;height: 20px;"/>
            <label style="font-size: 15px;"><span>
                <p id="demo2"></p>
                <!-- <oj-bind-text value="{{dialogMsg}}"></oj-bind-text> -->
            </span></label>
        </div>
        <div slot="footer">
            <div>
                <oj-button class="apBtn-2" on-oj-action='[[closeMessageDialog2]]'>
                <span><oj-bind-text value="OK"></oj-bind-text></span>
            </oj-button>
            </div>
        </div>
    </oj-dialog>


</div>