<div class="inquiry-page">

    <div class="complain-container">
        <div class="row">

            <div class="col-md-4 col-sm-6 complain-div">
                <div id='text'>
                    <h3 data-bind="text: label().describeInquiry()"></h3>
                </div>

                <div id='inquiry'> 
                    <oj-validation-group id="tracker" valid="{{groupValid}}">
                        <oj-form-layout max-columns="{{columns}}" direction="row">
                            <div class="main-form oj-flex-item">
                                <div class=" oj-flex-item">
                                    <h5 for="rem"><oj-bind-text value="[[label().inquiryType()]]" ></oj-bind-text></h5>
                                    <oj-select-one  value="{{fieldsValue.firstValue}}" options="[[fieldsValue.firstValueArr]]" placeholder="[[label().placeholder()]]"  on-value-changed="[[selectInquiryHandler]]" required>
                                    </oj-select-one>
                                </div>
                                <div class=" oj-flex-item" data-bind="visible:pcOrBajajVisible">
                                    <h5 for="rem"><oj-bind-text value="[[label().pcOrBajaj()]]" ></oj-bind-text></h5>
                                    <oj-select-one  value="{{fieldsValue.secondValue}}" options="[[fieldsValue.secValueArr]]" placeholder="[[label().placeholder()]]" required="{{pcRequired}}">
                                    </oj-select-one>
                                </div>
                                <h5 for="rem"><oj-bind-text value="[[label().inquiryDetail()]]" ></oj-bind-text></h5>
                                <oj-text-area  value="{{fieldsValue.inquiryDetail}}" required></oj-text-area>
                            </div>
                        </oj-form-layout>
                    </oj-validation-group>
                </div>
                <div id='buttons-container'>
                    <oj-button class="btnPrimary" id='book' on-oj-action='[[sendAction]]'>
                        <span><oj-bind-text value="[[label().send()]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 ">
                <div class="question-mark"><i class="far fa-2x fa-question-circle"></i></div>

                <div class="question-section">

                    <div id='upcoming-text'>
                        <h4 data-bind="text: label().upcomingInquiry()">
                        </h4>
                        <p data-bind="text: label().upcomingText()"></p>
                    </div>
                    <div id='upcoming-text'>
                        <h4 data-bind="text: label().pastInquiry()">
                        </h4>
                        <p data-bind="text: label().pastText()">
                        </p>
                    </div>

                </div>

            </div>

            <div class="col-md-4 col-sm-6 booking-slider">

                <div id="history" class="right-slider oj-panel oj-sm-margin-2x demo-panel-customizations">
                    <div>
                        <h3 data-bind="text: label().inquiryHistory()"></h3>
                        <h5 data-bind="text: label().chooseDetail()"></h5>
                    </div>
                    <oj-bind-if test="[[dataStatus() == 'dataRetrieved']]">
                        <div id="sampleDemo" class="demo-padding demo-container">
                            <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                                <div id="demoContent" style="position: relative;">
                                    <ul id="ulResults">
                                        <oj-bind-for-each data="[[pagingDataProvider]]">
                                            <template data-oj-as="row">
                                                <div class="slider-item oj-panel oj-panel-shadow-sm oj-sm-margin-2x demo-panel-customizations">
                                                    <oj-label class="label-line fa fa-user">
                                                        <strong>
                                                            <oj-bind-text value="[[label().inquiryType()]]"></oj-bind-text>:   
                                                        </strong>
                                                        <oj-bind-text value="[[row.data.firstVal]]"></oj-bind-text>
                                                    </oj-label>
                                                    <oj-bind-if test="[[row.data.flagSec]]">
                                                        <oj-label class="label-line fa fa-car">
                                                            <strong>
                                                                <oj-bind-text value="[[label().pcOrBajaj()]]"></oj-bind-text>:    
                                                            </strong>
                                                            <oj-bind-text value="[[row.data.secondValue]]"></oj-bind-text>
                                                        </oj-label>
                                                    </oj-bind-if>
                                                    <oj-label class="label-line fas fa-store-alt">
                                                        <strong>
                                                            <oj-bind-text value="[[label().inquiryDetail()]]"></oj-bind-text>:    
                                                        </strong>
                                                        <oj-bind-text value="[[row.data.detailsValue]]"></oj-bind-text>
                                                    </oj-label>
                                                    <oj-label class="label-line fas fa-store-alt">
                                                        <strong>
                                                            <oj-bind-text value="[[label().status()]]"></oj-bind-text>:   
                                                        </strong>
                                                        <oj-bind-text value="[[row.data.statusCode]]"></oj-bind-text>
                                                    </oj-label>
                                                </div>  
                                            </template>
                                        </oj-bind-for-each>
                                    </ul>
                                    <oj-paging-control id="paging" data="[[pagingDataProvider]]" page-size="6">
                                    </oj-paging-control>
                                </div>
                            </div>
                        </div>
                    </oj-bind-if>

                    <oj-bind-if test="[[dataStatus() == 'loading']]">
                        <div id="sampleDemo" class="demo-padding demo-container">
                            <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                                <div id="demoContent" style="position: relative;">
                                    <ul id="ulResults">
                                        <oj-bind-for-each data="[[shimmerCards]]">
                                            <template data-oj-as="row" >
                                                <div class="slider-item oj-panel oj-panel-shadow-sm oj-sm-margin-2x demo-panel-customizations">
                                                    <div class="shine-card sh-rounded"></div>
                                                    <div class="shine-card sh-1"></div>
                                                    <div class="shine-card sh-2"></div>
                                                    <div class="shine-card sh-3"></div>
                                                </div>  
                                            </template>
                                        </oj-bind-for-each>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </oj-bind-if>

                    <oj-bind-if test="[[dataStatus() == 'noDataAvailable']]">
                        <div id="sampleDemo" class="demo-padding demo-container">
                            <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                                <strong>
                                    <oj-bind-text value="[[label().noDataAvailableTxt()]]"></oj-bind-text>
                                </strong>
                            </div>
                        </div>
                    </oj-bind-if>
                </div> 

            </div>

        </div>
    </div>

</div>