<!--
 Copyright (c) 2014, 2020, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-padding">
  <h1>About Content Area</h1>
  <div class="demo-popup-content">
    <div id="validation-usecase">
      <oj-validation-group id="tracker">
        <oj-form-layout max-columns="2" id="fl1">
  <oj-input-text required value="{{elementName}}" autocomplete="off"
              label-hint="Element Name" style="max-width: 100%;">
            </oj-input-text>
            <oj-input-text required value="{{elementType}}" autocomplete="off"
              label-hint="Element Type" style="max-width: 100%;">
            </oj-input-text>
            <oj-combobox-one required value="{{processingType}}"
              placeholder="Select option" label-hint="Processing Type" style="max-width: 100%;">
              <oj-option value="recurring">Recurring</oj-option>
              <oj-option value="nonrecurring">Non-recurring</oj-option>
            </oj-combobox-one>
            <oj-input-date value="{{effectiveDate}}" required
              label-hint="Effective Start-Date" style="max-width: 100%;">
            </oj-input-date>
            <oj-input-date value="{{inputValue}}" label-hint="Effective End-Date"
              style="max-width: 100%;">
            </oj-input-date>

            <oj-input-number required value="{{priority}}" autocomplete="off"
              label-hint="Priority" style="max-width: 100%;">
            </oj-input-number>

            <oj-combobox-one required value="{{currency}}" placeholder="Select option"
              label-hint="Currency" style="max-width: 100%;">
              <oj-option value="aed">AED</oj-option>
              <oj-option value="usd">USD</oj-option>
            </oj-combobox-one>
          </oj-form-layout>
        </oj-validation-group>
      </div>
    </div>
    <div class="demo-popup-footer text-right">

      <oj-button on-oj-action="[[submit]]">
        Create
      </oj-button>
</div>
