<h1 class="title">Home</h1>
<div class=" sectionBody homeSetupContent rounded-lg shadow-lg p-3">
    <ul class="lisIconSection oj-flex oj-flex-items-pad">
        <li class="listIcons oj-md-3 oj-sm-6 oj-flex-item" data-bind="click: setupPage">
            <img class="imgHome" src="css/images/setup.png" ><br>
            <a >Setup</a>
        </li>
        <li class="listIcons oj-md-3 oj-sm-6 oj-flex-item" data-bind="click: configrationPages">
            <img class="imgHome" src="css/images/configuration.png"><br>
            <a >Manage Entries</a>
        </li>
        <li class="listIcons oj-md-3 oj-sm-6 oj-flex-item" data-bind="click: payrollPages">
            <img class="imgHome" src="css/images/result.png"><br>
            <a >Payroll Result</a>
        </li>
        <li class="listIcons oj-md-3 oj-sm-6 oj-flex-item" data-bind="click: processPages">
            <img class="imgHome" src="css/images/process.png"><br> 
            <a >Process</a>
        </li>
    </ul>
</div>