<!--
 Copyright (c) 2014, 2020, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
 <div class="oj-hybrid-padding">
    <h1>EDIT</h1>
    <div>
        To change the content of this section, you will make edits to the about.html file located in the /js/views folder.
    </div>
  </div>
  