<!--
 Copyright (c) 2014, 2020, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-padding">
  <div   class="demo-grid-sizes demo-flex-display">
    <div class="row" style="margin: 10px;">
        <div class="col-md-3" >
            <div class="text-center panel-custom border shadow-sm" style="padding: 30px; margin: 10px;border-radius: 10px;">
                <a href="#" data-bind="event: { click: retroCalculation }">
                    <i class="fas fa-calculator" style="font-size: 100px;"></i> 
                    <h4 style="padding: 10px;">Retro Calculation</h3> 
                </a>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="text-center panel-custom border shadow-sm" style="padding: 30px; margin: 10px;border-radius: 10px;">
                <a href="#" data-bind="event: { click: payrollRun }">
                    <i class="fas fa-money-bill-wave" style="font-size: 100px;"></i>
                    <h4 style="padding: 10px;">Payroll Run</h3> 
                </a>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="text-center panel-custom border shadow-sm" style="padding: 30px; margin: 10px;border-radius: 10px;">
                <a  data-bind="event: { click: quickPayRun }">
                    <i class="fas fa-shipping-fast" style="font-size: 100px;"></i> 
                    <h4 style="padding: 10px;">Quick Pay Run</h3> 
                </a>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="text-center panel-custom border shadow-sm" style="padding: 30px; margin: 10px;border-radius: 10px;">
                <audio data-bind="event: { click: calculatePrepayment }">
                    <i class="fas fa-calculator" style="font-size: 100px;"></i> 
                    <h4 style="padding: 10px;">Calculate Prepayment</h3> 
                </a>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 10px;">
        <div class="col-md-3" >
            <div class="text-center panel-custom border shadow-sm" style="padding: 30px; margin: 10px;border-radius: 10px;">
                <a  data-bind="event: { click: costingProcess }">
                    <i class="fas fa-donate" style="font-size: 100px;"></i> 
                    <h4 style="padding: 10px;">Costing Process</h3> 
                </a>
            </div>
        </div>
        <div class="col-md-3" data-bind="event: { click: transferToGL }">
            <div class="text-center panel-custom border shadow-sm" style="padding: 30px; margin: 10px;border-radius: 10px;">
                <a >
                    <i class="fas fa-university" style="font-size: 100px;"></i> 
                    <h4 style="padding: 10px;">Transfer To GL</h3>
                </a>
            </div>
        </div>
        <div class="col-md-3" data-bind="event: { click: rollBack }">
            <div class="text-center panel-custom border shadow-sm" style="padding: 30px; margin: 10px;border-radius: 10px;">
                <a >
                    <i class="fas fa-undo" style="font-size: 100px;"></i> 
                    <h4 style="padding: 10px;">RollBack</h3>
                </a>
            </div>
        </div>
        <div class="col-md-3" >

        </div>
    </div>
  </div> 
</div>
