<div class="request_body_styling animated fadeInUp ">
    <div class="summaryContent container">
        <h3 class="header_headline_style"><span data-bind="text: label().creRetScreenLbl"></span></h3>
        <div class="oj-flex oj-flex-items-pad padding-right">

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().bussinesUnitLbl"></span></oj-label>
                <oj-select-one id="supplierNoSelect" value="{{customsModel.bussinesUnitVal}}" placeholder="Please Select : " options="[[customsModel.businessUnitArr]]" on-value-changed="[[businessUnitChanged]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="supplierNoSelect2"><span data-bind="text: label().supplierLbl"></span></oj-label>
                <oj-select-one id="supplierNoSelect2" value="{{customsModel.supplierVal}}" placeholder="Please Select : " options="[[customsModel.supplierArr]]" on-value-changed="[[supplierValueChanged]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="POSelect"><span data-bind="text: label().supplierSiteLbl"></span></oj-label>
                <oj-select-one id="contractNo" value="{{customsModel.supplierSiteVal}}" placeholder="Please Select : " options="[[customsModel.supplierSiteArr]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="supplierNaSelect"><span data-bind="text: label().purchaseOrderLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.purchaseOrderVal}}"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="POSelect"><span data-bind="text: label().projectNumberLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.projectNumberVal}}"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="POSelect"><span data-bind="text: label().invoiceDateLbl"></span></oj-label>
                <oj-input-date slot="value" value="{{customsModel.invoiceDateVal}}"></oj-input-date>

            </div>

        </div>
        <div class="summaryBtn detailsBtn">
            <oj-button class="btnStyle" on-oj-action='[[searchBtn]]' disabled="[[customsModel.searchDis]]"><i class="fa fa-search"></i><span data-bind="text: label().searchLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[resetBtn]]'><i class="fa fa-repeat"></i><span data-bind="text: label().resetLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[calculateBtn]]' disabled="[[customsModel.calculateDis]]"><i class="fa fa-plus"></i><span data-bind="text: label().calculateRetentionLbl"></span></oj-button>
        </div>


        <div id="table2" class="tableContent">
            <oj-table class="tableStyle" id='table2' style='height: 100%; width:100%' data='[[dataproviderRetention2]]' selection-mode='{"row": "single", "column": "single"}' scroll-policy='auto' columns='[[customsModel.columnArray]]'>

                <template slot="seqTemplate" data-oj-as="cell" type="hidden">
                    <input type="hidden" class="hiddenkeyHolder2" data-bind="value:cell.index" />
                    <span data-bind="text:cell.index+1"></span>
                </template>

                <template slot="checkTemplate" data-oj-as="cell">
                    <oj-checkboxset 
                        value='[[handleCheckbox(cell.index,cell.row.srN)]]'
                        class='oj-checkboxset-no-chrome oj-selection-checkbox '
                        :id="[['table_checkboxset' + cell.index]]"
                        :data-row-id="{{cell.index}}"
                        :data-row-key="{{cell.row.id}}">

                        <oj-option :id="[['table_checkbox' + cell.index]]" value="checked"></oj-option>
                    </oj-checkboxset>   
               </template>

            </oj-table>
            <oj-paging-control id="paging" data='[[dataproviderRetention2]]' page-size='8' slot='bottom' class="apPaging-1 display-inline-flex">
            </oj-paging-control>
        </div>

        <oj-dialog id="releaseDialog" style='width : 500px;'>
            <div slot="header">
                <oj-label slot="label"><span data-bind="text:label().amountReleaseLbl"></span></oj-label>
            </div>
            <div slot="body">
                <oj-label slot="label"><span data-bind="text:label().amountReleaseLbl"></span></oj-label>
                <oj-input-number id="No2" value={{customsModel.retentionNo}}>
                </oj-input-number>
            </div>
            <div slot="footer">
                <oj-button class="btnStyle" on-oj-action="[[changeDialBtn]]"><span data-bind="text:label().changeAmountLbl"></span></oj-button>
                <oj-button class="btnStyle" on-oj-action="[[cancelDialBtn]]"><span data-bind="text:label().cancelLbl"></span></oj-button>
            </div>
        </oj-dialog>

    </div>
</div>