<h1>Task Log Tracker</h1>

<div class="demo-disable-bg-image">
    <oj-messages messages="[[messagesDataProvider]]" display="notification" position="[[position]]" on-oj-close="[[closeMessageHandler]]"></oj-messages>
    <div class="taskDetails">
        <div class="col-md-3 col-sm-12">
            <div class="oj-flex-item ">
                <label data-bind="text: taskNumberLbl" />
            </div>
            <div class="oj-flex-item ">
                <oj-input-text class="infosecinputfield" id="text-input" value="{{taskNumber}}"></oj-input-text>    
            </div>  
        </div>
        <div class="row">
            <div class="oj-flex btnStyleTaskDetails">
                <oj-button class="apBtn-2" on-oj-action='[[searchBtn]]'>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"><oj-bind-text value="[[searchLbl]]"></oj-bind-text></span>
                </oj-button>
                <oj-bind-if test='[[resendShow]]'>
                    <oj-button class="apBtn-2" on-oj-action='[[resendTaskBtn]]'>
                        <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"><oj-bind-text value="[[resendLbl]]"></oj-bind-text></span>
                    </oj-button>
                </oj-bind-if>
                <oj-button class="apBtn-2" on-oj-action='[[clearBtn]]'>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"><oj-bind-text value="[[clearLbl]]"></oj-bind-text></span>
                </oj-button>  
            </div>
        </div>
    </div>
</div>


<div class="sec-content">
    <oj-table id='table' aria-label='table'
              class="apTable-1"
              data='[[tableDataSource]]'
              selection-mode='{"row": "single", "column": "multiple"}'
              dnd='{"reorder": {"columns": "enabled"}}'
              scroll-policy-options='{"fetchSize": 10}'
              display = "grid"
              columns='{{tableColumnArray}}'
              on-oj-before-current-row = "[[tableSelectionListener]]">
         <oj-paging-control id="paging" page-size="10" data='[[tableDataSource]]' slot='bottom' class="apPaging-1 display-inline-flex">
    </oj-paging-control>
    </oj-table>
   



    <div id="dialogWrapper">
        <oj-dialog class="myPop2" style="display:none;width:350px;height:auto"
                   id="YesNoDialog">
            <div slot="header" class="oj-helper-clearfix">
                <!--Cancel-->
                <span data-bind="text :'Confirmation Message'" ></span>
            </div>

            <div slot="body">
                <!--                       Are you Sure?-->
                <span data-bind="text:'Are you sure you want to resend this'"></span>
            </div>
            <div slot="footer">
                <button id="buttonOpenerNested" type="button"
                        data-bind="click: confirmResend,ojComponent: {component: 'ojButton',label: yes}"></button>

                <button id="cancelButton" type="button"
                        data-bind="click: cancelResend,ojComponent: {component: 'ojButton',label: no}"></button>
            </div>
        </oj-dialog>
    </div>
</div>
