<h1 class="title">Manage Entries</h1>
<section class="homeSetupContent rounded-lg shadow-lg p-3">
    <div class="sectionBody homeSetupContent">
        <ul class="lisIconSection oj-flex oj-flex-items-pad">
            <li class="listIcons oj-md-3 oj-sm-6 oj-flex-item" data-bind="click: elementEntries">
                <img class="imgHome" src="css/images/import.png"><br>
                <a>Element Entries</a>
            </li>
            <li class="listIcons oj-md-3 oj-sm-6 oj-flex-item" data-bind="click: manageBatchElement">
                <img class="imgHome" src="css/images/batch.png"><br>
                <a>Manage Batch Element</a>
            </li>
        </ul>
    </div>
</section>