body{
    font-family: 'Roboto Condensed', sans-serif;
}
/* .sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
} */
/* start styling for apTable-1 */
.apTable-1{
    width: 100%;
    border:none !important;
    background-color: transparent!important;
    margin: 20px 0px !important;
}
.apTable-1 tbody {
min-height: 100px;
}

.apTable-1 .oj-table-grid-display .oj-table-header-row, .oj-table-editable .oj-table-header-row {
    color :white;
    background: #2596a7;
    height: 45px;
    width: 100%;

}

.oj-table-grid-display .oj-table-header{
    background: var(--table-header-color);
}

.apTable-1 thead tr th {
    border:none !important;
    height: 45px !important;
    transition: all 0.1s ease-in-out;
    padding: 15px 20px !important;

}

.apTable-1 tbody tr  {
    border:none !important;
    transition: all 0.1s ease-in-out;

}

.apTable-1 tbody tr:hover  {
    background-color:var(--table-hover-BG) !important;

}

.apTable-1 tbody tr .oj-hover{
    background-color: var(--table-hover-BG) !important;

}

.apTable-1 tbody .oj-selected{
    background-color: var(--table-hover-BG) !important;
}

.apTable-1 tbody tr td  {
    border:none !important;
    padding: 15px 20px !important;
    transition: all 0.1s ease-in-out;
}



.apTable-1 thead tr th:hover {
    background-color:var(--table-hover-BG) !important; 

}

.apTable-1 thead tr th:hover .oj-table-column-header {
    color:var(--table-hover-text) !important; 

}
.apTable-1 .oj-table-column-header-asc-icon:hover{
    background-color: transparent !important;
}

.apTable-1 thead{
    border:none !important;
}

.apPaging-1 {
    background: transparent;
    width: 100%;
    margin: 0;
}

.apPaging-1 .oj-pagingcontrol-content .oj-pagingcontrol-nav  .oj-pagingcontrol-nav-arrow-section .oj-pagingcontrol-nav-arrow {
    width: 35px;
    height: 35px;
    border: 1px solid #E8E9EC;
    border-radius: 4px;
    margin: 5px 5px;
}

.apPaging-1 .oj-pagingcontrol-content .oj-pagingcontrol-nav  .oj-pagingcontrol-nav-arrow-section .oj-pagingcontrol-nav-pages-section .oj-pagingcontrol-nav-page {
    width: 35px;
    height: 35px;
    border: 1px solid var(--Paging-main-color);
    border-radius: 4px;
    margin: 5px 5px;
    display: inline-block !important;
    padding: 0;
    background-color: transparent;
    color: var(--Paging-main-color);

}

.apPaging-1 .oj-pagingcontrol-content .oj-pagingcontrol-nav  .oj-pagingcontrol-nav-arrow-section .oj-pagingcontrol-nav-pages-section .oj-selected {
    background-color: var(--Paging-main-color) !important;
    color: white;
    border-color:  var(--Paging-main-color) !important;
}
/* end styling for apTable */

/* start styling for  buttons apBtn-2 */

.apBtn-2{
    border-radius: 4px;
    background-color: transparent;
    margin: 0px 10px;
    min-height: 35px;
    transition: all 0.1s ease-in-out;
}

.apBtn-2 button{
    border: 1px solid var(--Btn-main-color) !important;
    width: 100%;
    padding: 5px 20px;
    background-color: transparent !important;
}

.next {
    float: right;
}

.apBtn-2 button .oj-button-label{
    color: var(--Btn-main-color);
}
.apBtn-2 button .oj-button-label .apiconClass{
    color: var(--Btn-main-color) !important;
    margin: 0 10px !important;
}

.apBtn-2:hover .oj-button-label{
    color: white !important;
}
.apBtn-2:hover {
    background-color:var(--Btn-main-color) !important;
}

.apBtn-2:hover .oj-button-label .apiconClass{
    color: white !important;
}

/* end styling for buttons apBtn-2 */

.app_header{
    background-color: var(--header-background);
}
.app_header{display: none;}

/* start Login page style */

.cont-log-bod{
    background-color: #a1a1a1;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px !important;
    left: 0px !important;
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
    z-index: 10;
}
.log_st_half{
    width:50%; 
    height: 100%;
    margin: 0;
    position: relative;
    background-color:var(--primary-color);

}

.log_sec_half{
    width:100%; 
    height: 100%;
    background-color: white;
    margin: 0;
    position: relative;
    text-align: center;
    color: #4d4f5c88;
}


.full_logo{
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 400px;
    width: 100%;
}

.content_area{
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.content_header{    
    margin-bottom: 60px;}
.apLoginInput{
    min-height: 45px;
    background-color: #EBEBEB;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-top: 5px;
}

.apLoginBtn{
    background-color: #2596a7 !important;
    color: white;
    margin-top: 25px;
    min-height: 45px;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

/* .logo {
    margin: 30px auto;
    max-width: 200px;
    align-content: center;
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 5px;
    display: none;
} */

.apChngLang {
    color: white !important;
    float: left;
    background-color: #555659 ;
    padding: 10px 15px 10px 15px;
    border-radius: 30px !important;
    cursor: pointer;
}

.logo-2{
    margin: 30px auto;
    max-width: 300px;
    width: 100%;
    align-content: center;
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 20px;
    display: block;
}

@media(max-width:950px){
    .log_st_half{width:0%;}
    .log_sec_half{width:100%;}
    .content_area{padding: 0px 20px;}

}

/* end Login page style */

.custom_Dialog.oj-complete{
    opacity: 1 !important;
    transform: none !important;
    bottom: auto !important;
    right: auto !important;
}
.main-dialog{
    overflow: hidden !important;
    max-width: 500px;
    max-height:600px; 
}
.oj-dialog-content{
    width: 100%;
    overflow: auto;
}

.main-dialog-width{
    width: 350px !important;
}

.main-dialog{
    display: none;
    width: 90vw !important;
    height: auto;
    position: fixed !important;
    top: 40% !important;
}
.effective-dialog{
    top: 100px !important;
}
.main-dialog-width{
    width: 350px !important;
}
.form-layout-container{
    padding-top: 20px; 
    padding-bottom: 35px;
}
.oj-inputtext, .oj-inputpassword, .oj-textarea, .oj-inputtext-nocomp, .oj-inputpassword-nocomp, .oj-textarea-nocomp{
    max-width: unset;
}
.main-dialog{
    overflow: hidden !important;
    max-width: 500px;
    max-height:600px; 
}
.oj-dialog-content{
    width: 100%;
    overflow: auto;
}

/*loading*/
#loader-overlay{
    overflow:hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index:9999999;
}
.loader-dots{
    position: fixed;
    height: 5em;
    width: 5em;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    animation: spinner 1s infinite linear;
}
@keyframes spinner{
    0% { transform: rotate( 0 ); }
    100%{ transform: rotate(360deg); }
}
.loader-dot{
    position: absolute;
    margin: auto;
    width: 2.0em;
    height: 2.0em;
    border-radius: 100%;
}
.loader-dot:nth-child(2){
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255, .80);
}
.loader-dot:nth-child(3){
    left: 0;
    right: 0;
    top: 0;
    background: rgba(255,255,255, .60);
}
.loader-dot:nth-child(4){
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255, .40);
}
.loader-dot:nth-child(5){
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255, .20);
}

.loading {    
    background-image: url("http://loadinggif.com/images/image-selection/3.gif") !important;
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
}
/*end loading*/
.summaryHeading{
   font-weight: bold;
   color: #0079c9;
}
#content_div{
    margin-top: 50px;
}
.subTitle{
    color: #1277a8;
}
.oj-collapsible{
    margin-bottom: 20px;
    margin-top: 20px;
}

.sign-form label {font-size: 14px;}
.sign-form input {
    border: 1px solid #ddd;
    border-radius: 7px;
    height: 40px;
    margin: 0px 15px;
    background: #fff;
    box-shadow: 0px 3px 10px #ddd;
    padding: 0 10px;
}
.sign-form {
   width: 50%;
    margin: 0px 15px;
}
/*.loc-search {
    padding: 5px 0 0 0;
    margin: unset;
    width: 70%;
}
.sign-form {
    background-color: transparent;
    width: 360px;
    display: block;
    margin: auto;
    padding: 20px;
}
.sign-form .formInput input {padding: 0 15px;font-size: 14px;}*/
html:not([dir="rtl"]) .oj-inputtext .oj-inputtext-clear-icon-btn {
    right: 2px;
    bottom: 6px;
}
html[dir="rtl"] .oj-inputtext .oj-inputtext-clear-icon-btn {
    left: 2px;
    bottom: 6px;
}
/*  .demo-popup {
      width: 80vw;  
      height: 80vh; 
      display: none;
    } 
    .demo-popup-body {
      width: 75vw;  
      height: 75vh; 
      display: flex; 
      flex-direction: column;
      align-items: stretch;
    } 
    .demo-popup-header {
      align-self: flex-start;
      margin-bottom: 10px;
    } 
    .demo-popup-content {
      align-self: stretch;
      overflow: auto;
      flex-basis: 60vh;
    } 
    .demo-popup-footer {
      align-self: flex-end;
      margin-top: 10px; 
    }*/
.m-popup{
    opacity: 1 !important;
    transform: unset !important;
    overflow: hidden;
    width: 500;
    height: auto;
    top: 200px !important;
    right: 201px;
}

.dialogSpanStyle{
    font-weight: bold;
    color: #e91d14;
    font-size: 15px;
}
.m-popup h1{
    color: #1277a8 !important;
}
#mainFilter{
/*    text-align: center;*/
/*    margin: auto;
    display: block;*/
display: flex;
}
.oj-fwk-icon-plus:before {
    content: "\e906";
}
.oj-filepicker-icon {
    font-size: 24px;
    color: #8a8d8f;
}
.submitInput label{
    font-weight: bold;
}
.submitInput .oj-label{
    margin: 0;
}