<div id="form-container" class="section-container">
    <h1 data-bind="text: MainLbl"></h1>

    <div id="form-container" class="section-container-2">
        <div id="buttons-container" class="oj-flex-item"> 

            <oj-button class="apBtn-2 btnStyle" on-oj-action='[[backBtnAction]]'>
                <span><oj-bind-text value="[[backBtnLbl]]"></oj-bind-text></span>
            </oj-button>
            
            <oj-button class="apBtn-2 btnStyle" on-oj-action='[[openDialogBtn]]'>
                <span><oj-bind-text value="[[invoiceBtnCreateLbl]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[openDeleteDialogBtn]]' disabled="[[deleteBtnStatus]]">
                <span><oj-bind-text value="[[invoiceDeleteBtnLbl]]"></oj-bind-text></span>
            </oj-button>

        </div>

        <div>
            <oj-table class='apTable-1' aria-label='Invoices Table' columns-default='{"sortable": "disabled"}' 
                      on-oj-before-current-row = "[[tableSelectionListener]]"
                      selection-mode='{"row": "single", "column": "none"}' data='[[invoiceArrDataprovider]]'
                      dnd='{"reorder": {"columns": "enabled"}}' scroll-policy='auto' columns='[[invoiceColumnArray]]'>
            </oj-table>
        </div>
    </div>

    <div id="dialogWrapper">
        <oj-dialog class="main-dialog main-dialog-width" id="invoiceDialog">
            <div slot="header" class="oj-helper-clearfix">

                <label data-bind="text: invoiceBtnCreateLbl"></label>
            </div>

            <div slot="body" class="procurmentPlanDialog">

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label data-bind="text: number"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-text class="invoice-data" value="{{invoiceData.srNo}}" disabled='true'>
                        </oj-input-text>
                    </div>
                </div>


                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label data-bind="text: milestonePercent"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-number class="invoice-data" value="{{invoiceData.percent}}" min='0' max='100' 
                                         converter='{"type": "number", "options": {"style": "currency", "currency": "%", "currencyDisplay": "code", "pattern": "#### ¤"}}'>
                        </oj-input-number>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label data-bind="text: milestone"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-select-one class="invoice-data" value="{{invoiceData.milestoneDes}}" options='[[mileStonesArr]]'>
                        </oj-select-one>
                    </div>
                </div>


                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label data-bind="text: invData"/>
                    </div>

                    <div class="oj-flex-item invoice-inv-date">
                        <oj-input-date class="invoice-data" value="{{invoiceData.invDate}}" disabled='true' converter='[[dateConverter]]'>
                        </oj-input-date>
                        +
                        <oj-input-number min='0' value="{{invoiceData.invDateDays}}">
                        </oj-input-number>
                        Days
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label data-bind="text: pmtTerm"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-number class="invoice-data" value="{{invoiceData.pmtTerm}}" min='0'>
                        </oj-input-number>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label data-bind="text: collectionDate"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-date class="invoice-data" value="{{invoiceData.collectionDate}}" disabled='true' converter='[[dateConverter]]'>
                        </oj-input-date>
                    </div>
                </div>


                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label data-bind="text: amountAED"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-number class="invoice-data" value="{{invoiceData.amountAED}}" disabled='true'>
                        </oj-input-number>
                    </div>
                </div>

            </div>

            <div slot="footer">
                <oj-button class="apBtn-2 btnStyle" on-oj-action='[[closeDialogBtn]]'>
                    <span><oj-bind-text value="[[cancleDialogLbl]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2 btnStyle" on-oj-action='[[addNewInvoiceBtn]]'>
                    <span><oj-bind-text value="[[createDialogLbl]]"></oj-bind-text></span>
                </oj-button>
            </div>

        </oj-dialog>

        <oj-dialog class="main-dialog confirmDialogStyle" id="invoiceDeleteDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text: deleteConfirmMsg"></label>
            </div>

            <div slot="body" class="procurmentPlanDialog">
                <label data-bind="text: deleteInvoiceLbl"></label>
            </div>

            <div slot="footer">
                <oj-button class="apBtn-2 btnStyle" on-oj-action='[[closeDialogBtn]]'>
                    <span><oj-bind-text value="[[cancleDialogLbl]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2 btnStyle" on-oj-action='[[deleteInvoiceBtn]]'>
                    <span><oj-bind-text value="[[invoiceDeleteBtnLbl]]"></oj-bind-text></span>
                </oj-button>
            </div>

        </oj-dialog>
    </div>

</div>