/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/
oj-module:not(.oj-complete) {
    visibility: hidden; 
}

oj-module {
    display: block; 
}



.custom-panel{
    margin-right: -2%;
    margin-left: -2%;
}

/* Message Start Add BY Mohamed Yasser */

.oj-messages-general .oj-messages-container {
    border:none !important;
    border-radius: 12px !important;
}

.oj-messages-general .oj-message-container {
    border-radius: 12px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

.oj-messages-general .oj-message-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #f7f7f8;
}

.oj-message-category {
    padding: 0px 10px;
    color: rgba(0,0,0,0.6);
    font-size: 1.0625rem;
    word-break: break-all;
}

.oj-messages-general .oj-message-body {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.oj-message-summary {
    font-weight: 500;
    color: #000;
    font-size: 1.1875rem;
    word-wrap: break-word;
    line-height: 1.2;
    padding-top: 5px;
}

.oj-message-detail {
    color: rgba(0,0,0,0.6);
    font-size: 1.1875rem;
    word-wrap: break-word;
    line-height: 1.2;
    padding-top: 3px;
}


.custom-messages-style {
    width: 30% !important;
    min-width: 30% !important;

}

/* Message End Add BY Mohamed Yasser */

/* Custom Checkbox style Start Add BY Mohamed Yasser */

/* The container */
.chechbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.chechbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border: 1px solid #e5e6e6;
}

/* On mouse-over, add a grey background color */
.chechbox-container:hover input ~ .checkmark {
    background-color: #fcfcfd;
}

/* When the checkbox is checked, add a blue background */
.chechbox-container input:checked ~ .checkmark {
    background-color: #ffffff;
    border: 1px solid #e5e6e6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.chechbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.chechbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #1a87cc;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Custom Checkbox style End Add BY Mohamed Yasser */


/* style for new design Strat Add BY Mohamed Yasser */

.hide-buttom { display: none;}

.float-left {float:left;}

.float-right {float:right;}

.clear {clear:both;}

.custom-form-style { margin-left:15%;}

/* style for new design End Add BY Mohamed Yasser */


/* New Style for Index ///// Start*/



#globalBody {
        background:#F2F2F2;
}

.oj-panel {
    border: 1px solid #F2F2F2; 
    background-color: #F2F2F2; 
}
.section-one{
    width:15%;
/*    background:F2F2F2;*/
}

.section-two{
    
     width:75%;
/*     background:F2F2F2;*/
}

.block-one {
    width:100%;
    height:50px;
/*    background:#ccff99;*/
    margin:5px auto;
    display: none;
}

.block-two {
    width: 78%;
    height:150px;
/*    margin:5px auto;*/
/*    margin-top: 3%;*/
/*    margin:2% 3%;*/
/*    margin: 3% 5% 0 0;*/
    margin: 3% 4% 0 4%;


    border-radius: 40px 0px 38px 1px;
    border: 2px solid #056DB2;
}

.oj-navigationlist-horizontal .oj-navigationlist-element {
    display: block;
     margin: 0 4%;
         margin-top: 19%;
}

.custom-menu {
    display: block; 
/*    background: red;*/
    height: 350px;
/*    height: 40%;*/


/*    border-radius: 82px 1px 82px 1px;*/
    margin-top: 35px;
    background-image: url(../css/images/menu-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.oj-navigationlist-horizontal .oj-navigationlist-item-element {
/*        width: 100%;*/
    width: 96%; /*New*/
        margin-top: 15px;
/*        background:red;*/
         background-image: url(../css/images/menu-item-bg.png);
    background-repeat: no-repeat;
/*    background-size: 100% 100%;*/
    background-size: 95% 100%; /*New*/


}

.change-bg {
    background: red;
    
}

/*Word in main menu Start*/


.oj-navigationlist-app-level.oj-navigationlist-horizontal .oj-navigationlist-item-label 
{
    
        position: absolute;
    margin: 0 -4%;
}

/* Word in main menu End*/

html:not([dir="rtl"]) .oj-inputsearch-search-icon {
        padding-left: 26px;
    padding-right: 0px;
    background: #E10A21;
    color:white;
    width: 35%;
    height: 4em;
    line-height: 4em;
    text-align: center;
    vertical-align: middle;
    margin-left: 11px;
    font-size: 20px;
    /* position: absolute; */
    border-radius: 51px 0px 1px 1px;
}

.oj-inputsearch-choice {
        border-radius: 40px 1px 60px 1px;
            border: 2px solid #056DB2;
            background-color: #F2F2F2;
            

}

.oj-inputsearch-input {
    padding: 0 15px;
        height: 3.28571rem;
        background-color: #F2F2F2;

}
.oj-inputsearch-choice {
    height: 3.28571rem;
    }
    
    .oj-inputsearch  {
        margin-left: 50% !important;
    }

    .oj-fwk-icon-magnifier:before, .oj-listbox-search-icon:before, .oj-inputsearch-search-icon:before {
            margin-left: -5px;
    margin-right: 6px;
    }
/*    .oj-fwk-icon-magnifier:after, .oj-listbox-search-icon:after, .oj-inputsearch-search-icon:after {
           content: "Search";
               font-family: fantasy;
    font-size: 17px;

    }
    */
    

.custom-toolbar {
            margin-left: 7%;
    margin: 6% 64%;
    width: 50%;
    }
    
    .up-menu-item {
        color: #056DB2;
        margin:0 10px;
        font-size: 20px;
    }
    .up-menu-item:hover {
/*        color:red;*/
    }
   
   
    #glo_search .oj-combobox {
            margin: 4% 100%;

            max-width: 30em;
            border-radius: 40px 0px 40px 1px;
            border: 2px solid #056DB2;
           

    }
    #glo_search .oj-combobox-choice {
        border-radius: 40px 0px 38px 1px;
            height: 3.28571rem;
             border: 0;
                 background-color: #F2F2F2;
                 


    }
    
    #glo_search .oj-combobox-input {
            padding: 0px 15px;
            height: 3.28571rem;
            background-color: #F2F2F2;
           
            
    }
    
    .oj-combobox-choice a.oj-clickable-icon-nocontext {
            background: #E10A21;
    height: 29px;
/*    border-radius: 1px 0px 40px 1px;*/
        height: 3.28571rem;
    line-height: 3;
    color: white;
    cursor: pointer;
    }
    
    .oj-combobox-choice a.oj-clickable-icon-nocontext:after{
     content: "Search";
     }
     
     .oj-fwk-icon-magnifier:before, .oj-listbox-search-icon:before, .oj-inputsearch-search-icon:before {
             margin: 0 8px;

     }
     
     .data-item {
         display: inline-block;
     }
     
     
     /* Menu Start ////// */

     .oj-navigationlist-horizontal:not(.oj-navigationlist-icon-only) .oj-navigationlist-item {
         border : none;
     }
     
     .custom-menu .oj-fwk-icon-magnifier:before, .oj-listbox-search-icon:before, .oj-inputsearch-search-icon:before {
         content: "";
     }
     
      /* Menu End ////// */
      
      
      /* Headre Start*/
      
      .oj-web-applayout-header {
              box-shadow: none;
      }
      
      /*Header End*/
      
      
      /*Block Two Image  Start*/
      
      .block-two .image {
          margin:2% 5%;
          
      }
      
      .block-two .data {
         margin: 2% 15%;
    position: absolute;
      }
      
      /*Block Two Image End*/
      
      /* Block two data Start*/
      
      .item-label, .item-data {
          color: #056DB2;
      }
      
      .item-label  {
           font-weight: bold;

      }
      
       .item-data  {
              margin: 0 12%;
      }
      
      
      .labels {
              position: absolute;
              
      }
      
      .data-labels {
              margin: 0 42%;
    min-width: 101%;
    position: relative;
    clear: both;
      }
       /* Block two data End*/
       
       /* Arrow in logout button Start */
       
       .oj-fwk-icon-arrow02-s:before, .oj-fwk-icon-arrow02-w:before, html:not([dir="rtl"]) .oj-fwk-icon-arrow02-start:before, html[dir="rtl"] .oj-fwk-icon-arrow02-end:before, html[dir="rtl"] .oj-navigationlist-collapsible .oj-navigationlist-collapse-icon:before, .oj-navigationlist-collapsible html[dir="rtl"] .oj-navigationlist-collapse-icon:before, .oj-fwk-icon-arrow02-n:before, .oj-fwk-icon-arrow02-e:before, html[dir="rtl"] .oj-fwk-icon-arrow02-start:before, html:not([dir="rtl"]) .oj-fwk-icon-arrow02-end:before, html:not([dir="rtl"]) .oj-navigationlist-collapsible .oj-navigationlist-collapse-icon:before, .oj-navigationlist-collapsible html:not([dir="rtl"]) .oj-navigationlist-collapse-icon:before, .oj-button-menu-dropdown-icon:before, .oj-navigationlist-collapsible .oj-navigationlist-expand-icon:before, .oj-combobox-open-icon:before, .oj-select-open-icon:before {
           
           content : "";
       }
       
         .logout-button {
              margin: 0 2%;
              float: right;
       }
       
        /* Arrow in logout button End */
        
        
        /* Menu Word Start*/
        
        .oj-navigationlist-app-level.oj-navigationlist-horizontal .oj-navigationlist-item.oj-selected a.oj-navigationlist-item-content > .oj-navigationlist-item-label {
            color : #056DB2;
        }
        
        /* Menu Word End*/
        
        
        /* Styling master page in arabic versino Start*/
     
        /* Styling master page in arabic versino End*/
        
/* Styles For Master Page ////// End */


/* Styles For new Design add BY Mohamed Yasser ////// End */


/* Make table scrollable Start */
.oj-table-container {
          overflow-x: scroll !important;
}
/* Make table scrollable End */


/* Styling Table Start */


.oj-table-grid-display .oj-table-header-row, .oj-table-editable .oj-table-header-row {
    color :white;
    background: #056DB2;
        height: 45px;

}

html:not([dir="rtl"]) .oj-table-grid-display .oj-table-vgrid-lines, html:not([dir="rtl"]) .oj-table-grid-display .oj-table-column-header-cell.oj-table-vgrid-lines {
        border-right: 1px solid #056DB2;

}

html:not([dir="rtl"]) .oj-table-grid-display .oj-table-vgrid-lines, html:not([dir="rtl"]) .oj-table-grid-display .oj-table-column-header-cell.oj-table-vgrid-lines {
        border-right: 1px solid #056DB2 !important;
            text-align: center;


}


.oj-table-column-header-cell:hover {
     background: #056DB2;
}


.oj-table-column-header-cell:active {
     background: #056DB2;
}

.oj-table-element:not(.oj-table-column-header-resizing) .oj-table-column-header-cell.oj-selected {
        background-color: #056DB2;
        border-right: 0;

}

a.oj-disabled .oj-clickable-icon, a.oj-disabled.oj-clickable-icon, a.oj-disabled.oj-clickable-icon-nocontext, .oj-disabled .oj-clickable-icon, .oj-disabled a .oj-clickable-icon, .oj-disabled.oj-clickable-icon, .oj-disabled.oj-clickable-icon-nocontext {
        color: white;

}




/*ROW Start */

.oj-table-hgrid-lines {
    border-bottom: none;
/*     border: none;*/
}


html[dir="rtl"] .oj-table-grid-display .oj-table-vgrid-lines {
        border-left: none;
}


html[dir="rtl"] .oj-table-grid-display .oj-table-vgrid-lines, html[dir="rtl"] .oj-table-grid-display .oj-table-column-header-cell.oj-table-vgrid-lines {
        border-left: none;

    
}


.oj-table-element:not(.oj-table-column-header-resizing) .oj-table-body-row.oj-focus:not(.oj-table-body-row-edit) {
        outline: none;
}


html:not([dir="rtl"]) .oj-table-grid-display .oj-table-vgrid-lines, html:not([dir="rtl"]) .oj-table-grid-display .oj-table-column-header-cell.oj-table-vgrid-lines {
    
        border-right: none !important;

}


.oj-table.oj-table-grid-display {
    border :none;
 background: #f2f2f3;
 
     border-radius: 16px; /*New*/
}

.oj-table-grid-display .oj-table-body {
     background: #f2f2f3;
}
.oj-table-grid-display .oj-table-body  tr{
        
         background-image: url(../css/images/row_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #056DB2;
    height:50px;
/*     text-align:center;*/
    
        
}

.oj-table-grid-display .oj-table-body  tr:hover{
        
/*         background-image: url(../css/images/row_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
       

/*background:red;*/
}

.oj-table-grid-display .oj-table-body  .oj-hover {
    background: white; 
/*    #e8f3fa*/
    
}

.oj-table-element:not(.oj-table-column-header-resizing) .oj-table-data-cell.oj-selected {
/*    text-align:center;*/
}

html:not([dir="rtl"]) .oj-label-inline {
  
    
}
/*ROW End*/

#paging {
    background: rgba(5, 109, 178, 0.5);
    border-radius: 10px;
       margin: 0 2%;
       width: 97%;
}

html:not([dir="rtl"]) .oj-pagingcontrol-nav-input-section {
        display: none;

}

html:not([dir="rtl"]) .oj-label-inline {
    display: none; 
}

html:not([dir="rtl"]) .oj-pagingcontrol-nav-arrow-section {
    
      border-left: none;
  
}
.oj-pagingcontrol-nav {
    float: right;
}

.oj-pagingcontrol-nav-input-summary.oj-label-inline  {
    display: none; 
}

.oj-pagingcontrol-nav-input-section {
    display: none; 
}

html[dir="rtl"] .oj-pagingcontrol-nav-arrow-section {
        border-right: none;

}

html[dir="rtl"] .oj-table-data-cell.oj-table-vgrid-lines {
    border-right: none;
    
}

/* Paging  Start */

.oj-pagingcontrol-nav-page {
    background: #056DB2;
}
.oj-pagingcontrol-nav-page {
     color: white !important;
         margin: 0 10px;
         text-decoration: none;

}
.oj-pagingcontrol-nav-page.oj-selected {
        color: white;
        border: none;
        text-decoration: none;
         background: #E10A21 !important;
}


.oj-pagingcontrol-nav-page:hover {
/*   background: #056DB2 !important;*/
   color: white;
}

.oj-pagingcontrol-nav-page:active {
   background: #E10A21 !important;
   text-decoration: none;
}
.oj-pagingcontrol-nav-page:hover {
    background: #E10A21;
    text-decoration: none;
}

/* Paging  End */
/* Styling Table End */

/* Start other  ////////////////////////////////*/


/*Buttons Style Start*/

.oj-button-confirm, .btnstyle{
   background-color: #ce1721 !important;
   color: white;
   border-radius: 152px 19px;
 
}


.oj-label {
    color: #056DB2; 
}
/*Buttons Style End*/

/* Start Styles For Selects */
.oj-select-jet .oj-select-arrow {
    content: '';
    position: absolute;
    padding: 5px;
    top:0;
    left: 0;
    width: 40px;
    height: 32px;
    background: #c41d1d;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.oj-select-choice {
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
    background-color: #fcfcfd;
    border-style: solid;
    border-color: #e5e6e6;
    border-width: 1px;
    border-radius: 10px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-clip: padding-box;
    text-overflow: ellipsis;
    height: 2.28571rem;
    box-shadow: inset -4px 0px 6px 0px #046EB2, inset 0px 0px 0px 0px #046EB2, inset 15px 14px 20px 0px rgba(178, 4, 52, 0);

}
html[dir="rtl"] .oj-select-open-icon {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 13px;
    color: white;
    font-size: 20px;
}

.oj-select {
    position: relative;
    display: inline-block;
    max-width: 18em;
    min-width: 23em;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
    border-radius: 10px;
}

.oj-select-chosen.oj-select-default {
    color: rgba(0, 0, 0, 0.55);
    font-style: italic;
    padding: 0 33px;
}
/* End Styles For Selects */

/* Start Styles For Input Text */

.oj-inputtext-input, .oj-inputpassword-input, .oj-inputtext-nocomp, .oj-inputpassword-nocomp, .oj-inputdatetime, .search-input .oj-combobox {
    height: 2.28571rem;
    padding: 0 5px;
    padding-top: 2px;
    box-sizing: border-box;
    border-radius: 7px;
    background-image: url(../css/images/input_text_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.oj-inputtext, .oj-inputpassword, .oj-textarea, .oj-inputtext-nocomp, .oj-inputpassword-nocomp, .oj-textarea-nocomp, .oj-inputdatetime, .search-input .oj-combobox {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    max-width: 18em;
    min-width: 23em;
    width: 100%;
    
}
.oj-inputtext-input, html[dir="rtl"] .oj-inputpassword-input, html[dir="rtl"] .oj-textarea-input, html[dir="rtl"] .oj-inputtext-nocomp, html[dir="rtl"] .oj-inputpassword-nocomp, html[dir="rtl"] .oj-textarea-nocomp {
    text-align: right;
    padding: 15px;
}

.oj-inputtext-input, .oj-inputpassword-input, .oj-textarea-input, .oj-inputtext-nocomp, .oj-inputpassword-nocomp, .oj-textarea-nocomp{
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
    background-color: #fcfcfd;
    /* border-style: solid; */
    border-color: #e5e6e6;
    border-width: 1px;
    border-radius: 2px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: normal;
    width: 100%;
}

.oj-inputtext-input {
    border : none;
}

/* 
.disable-element .oj-fwk-icon-arrow02-s:before, .oj-fwk-icon-arrow02-w:before, html:not([dir="rtl"]) .oj-fwk-icon-arrow02-start:before, html[dir="rtl"] .oj-fwk-icon-arrow02-end:before, html[dir="rtl"] .oj-navigationlist-collapsible .oj-navigationlist-collapse-icon:before, .oj-navigationlist-collapsible html[dir="rtl"] .oj-navigationlist-collapse-icon:before, .oj-fwk-icon-arrow02-n:before, .oj-fwk-icon-arrow02-e:before, html[dir="rtl"] .oj-fwk-icon-arrow02-start:before, html:not([dir="rtl"]) .oj-fwk-icon-arrow02-end:before, html:not([dir="rtl"]) .oj-navigationlist-collapsible .oj-navigationlist-collapse-icon:before, .oj-navigationlist-collapsible html:not([dir="rtl"]) .oj-navigationlist-collapse-icon:before, .oj-button-menu-dropdown-icon:before, .oj-navigationlist-collapsible .oj-navigationlist-expand-icon:before, .oj-combobox-open-icon:before, .oj-select-open-icon:before {
        content: "\e602";
}*/

.disable-element a {
    
}

.oj-fwk-icon-arrow02-s:before, .oj-fwk-icon-arrow02-w:before, html:not([dir="rtl"]) .oj-fwk-icon-arrow02-start:before, html[dir="rtl"] .oj-fwk-icon-arrow02-end:before, html[dir="rtl"] .oj-navigationlist-collapsible .oj-navigationlist-collapse-icon:before, .oj-navigationlist-collapsible html[dir="rtl"] .oj-navigationlist-collapse-icon:before, .oj-fwk-icon-arrow02-n:before, .oj-fwk-icon-arrow02-e:before, html[dir="rtl"] .oj-fwk-icon-arrow02-start:before, html:not([dir="rtl"]) .oj-fwk-icon-arrow02-end:before, html:not([dir="rtl"]) .oj-navigationlist-collapsible .oj-navigationlist-collapse-icon:before, .oj-navigationlist-collapsible html:not([dir="rtl"]) .oj-navigationlist-collapse-icon:before, .oj-button-menu-dropdown-icon:before, .oj-navigationlist-collapsible .oj-navigationlist-expand-icon:before, .oj-combobox-open-icon:before, .oj-select-open-icon:before {
   content: "\e602";  
    
}


.oj-button.oj-default.oj-button-half-chrome .oj-button-icon, .oj-button.oj-focus-only.oj-button-half-chrome .oj-button-icon {
    color : #f2f2f2;
}


.oj-button.oj-hover.oj-button-half-chrome .oj-button-icon {
    color : #f2f2f2;
}

.oj-button.oj-selected.oj-button-half-chrome .oj-button-icon {
    color : #f2f2f2; 
}

html:not([dir="rtl"]) .oj-select-choice {
    padding-left: 14px;
}

/* End other  ////////////////////////////////*/



.app-icon{width:200px;height:100px;padding: 10px}
.app-icon{content:url("images/BSBC_logo.png")}html:not([dir="rtl"]) 
.app-icon{padding-right:4px}html[dir="rtl"] .demo-oracle-icon{padding-left:4px}
.app-icon:before{display:inline}



/* login Start */

.float-left {float:left;}

.float-right {float:right;}

.clear {clear:both;}

.username input::-webkit-input-placeholder,
.password input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-style: normal;
    color: #aeabab;
}

.username-input-text, .login-input-text {
    max-width: 26% !important;
}
.custom-input {
     max-width: 50em !important;
}
.oj-data-form .custom-input .oj-inputtext-input {
    color           : #323232;
    background      : #fafafa;
    font-size       : 1rem;
    /*padding         : 5px;*/
    height          : 2.5rem;
}

.oj-data-form .custom-input .oj-textarea-input {
    color           : #323232;
    background      : #fafafa;
    font-size       : 1rem;
    padding         : 5px;
    height          : 6.0rem;
}

.oj-data-form .custom-input .oj-inputtext-input:focus {
    border-color    : #0572ce!important;
    border-width    : 0 0 2px;

}
.customDropdown .oj-select{
    max-width: none;
}
.customDropdown .oj-select-native .oj-select-arrow::before{
    content: "#";
    background-image: url("images/down_arrow.png");
    background-size: auto 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    height: 25px;
    font-size: 0;
    width: 35px;
    top: 0px;
    z-index: 9;
    margin-bottom: 10px;
}
.customDropdown .oj-select-native .oj-select-select{
    height: 40px;
    padding: 0px 10px;
    background-color: #056EB2;
}
.oj-web-applayout-content.oj-flex.oj-sm-align-items-center {
    background-color: gray;
}

.login_bg{
    background:url(images/login/Login-01.png) no-repeat center center;
    background-size: 100% 100%;
}
/*.login_box{
    height: 50%;
    width: 30%;
    background:url(images/login/Login-02.png) no-repeat center center;
    background-size: 100% 100%;
}*/
.login_box {
  
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */   
   
  background:url(images/login/Login-02.png) no-repeat center center;
    background-size: 100% 100%;
    padding-top: 60px;
}

/*.form {
position: absolute;
    width: 20%;
    height: 50%;
    z-index: 15;
     top: 50%; 
    left: 35%;
     margin: -100px 0 0 -150px; 
     background:url(images/login/Login-02.png) no-repeat center center;

      background-size: 100% 100%;
      border-radius: -0px 50px;
    margin: auto;
}*/
.login-userInput {
position: absolute;

 display: table-cell;
    vertical-align: middle;
    height: 50px;
    border: 1px solid red;
    margin-top: 50% !important;
  
}
.login-passwordInput {
position: absolute;

/* display: table-cell;
    vertical-align: middle;*/
    height: 50px;
    /*border: 1px solid red;*/
    margin-top: 60% !important;
   
}
oj-lable {
  display: inline-block;
  width: 30%;

}​
.login-button {
padding-left: 22%;   
}
#username{
        border-radius: 0px 10px 10px 10px;
        margin: 10px;
            background-color: blue;
        /*background: url(images/login/user.png)no-repeat scroll 7px 7px*/
}
.form {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    background: -o-linear-gradient(top, #7579ff, #b224ef);
    background: -moz-linear-gradient(top, #7579ff, #b224ef);
    background: linear-gradient(top, #7579ff, #b224ef);
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
/*	font-family: Poppins-Regular, sans-serif;*/
}

/*---------------------------------------------*/
a {
/*	font-family: Poppins-Regular;*/
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #fff;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
/*	font-family: Poppins-Regular;*/
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #056EB2;}
input:-moz-placeholder { color: #056EB2;}
input::-moz-placeholder { color: #056EB2;}
input:-ms-input-placeholder { color: #056EB2;}

textarea::-webkit-input-placeholder { color: #056EB2;}
textarea:-moz-placeholder { color: #056EB2;}
textarea::-moz-placeholder { color: #056EB2;}
textarea:-ms-input-placeholder { color: #056EB2;}

label {
  margin: 0;
  display: block;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
/*  font-family: Poppins-Regular;*/
  font-size: 13px;
  color: #e5e5e5;
  line-height: 1.5;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url('images/login/home-01.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
    padding-left:40%;
  /*z-index: 1;*/  
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.9);
  
}

.wrap-login100 {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;
    border-radius: 0px 50px;
    border: solid 8px #B3B3B3;
  background: #E6E6E6;
  /*height: 800px;*/
/*  background: -webkit-linear-gradient(top, #E6E6E6, #FFFFFF);
  background: -o-linear-gradient(top, #E6E6E6, #FFFFFF);
  background: -moz-linear-gradient(top, #E6E6E6, #FFFFFF);
  background: linear-gradient(top, #E6E6E6, #FFFFFF);*/
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-logo {
  font-size: 60px; 
  color: #333333;
      justify-content: flex-end;
/*background-image: url('images/login/Login0-02.png');*/
background-repeat: no-repeat; 
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /*width: 120px;*/
     height: 140px;
  /*border-radius: 50%;*/
  /*background-color: #056EB2;*/
  margin: 0 auto;
}

.login100-form-title {
/*  font-family: Poppins-Medium;*/
  font-size: 30px;
  color: #056EB2;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
    padding-bottom: 20%;
    padding-right: 70%;
  display: block;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border: 2px solid rgba(6,107,175);
  border-radius: 0px 20px 20px 20px;
  margin-bottom: 30px;
      background: -webkit-linear-gradient(right, #E6E6E6, #fff);
}
#loginButton{
    width: 30%;
}

.input100 {
/*  font-family: Poppins-Regular;*/
  font-size: 16px;
  color: #056EB2;
  line-height: 1.2;
  border-radius: 0px 20px 20px 20px;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
        font-family: Material-Design-Iconic-Font;
  content: "";
  display: block;
  position: absolute;
  /*bottom: -2px;*/
  left: 0;
  width: 0;
  /*height: 2px;*/

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #056EB2;
}

.focus-input100::after {
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: #056EB2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus {
  padding-left: 5px;
}

.input100:focus + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.has-val.input100 {
  padding-left: 15px;
}


/*==================================================================
[ Restyle Checkbox ]*/

.contact100-form-checkbox {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
}

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
/*  font-family: Poppins-Regular;*/
  font-size: 13px;
  color: #056EB2;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #056EB2;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #555555;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.login100-form-btn {
/*  font-family: Poppins-Medium;*/
  font-size: 16px;
  color: #555555;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;

  background: #9152f8;
  background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
  background: -o-linear-gradient(bottom, #7579ff, #b224ef);
  background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
  background: linear-gradient(bottom, #7579ff, #b224ef);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #056EB2;
  top: 0;
  left: 0;
  opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  color: #056EB2;
}

.login100-form-btn:hover:before {
  opacity: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 55px 15px 37px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #056EB2;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

/*  font-family: Poppins-Regular;*/
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}
a.txt1 {
    border-bottom: 2px solid #E00B21;
    color: #046DB1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.oj-messages-general .oj-messages-container {
    border:none !important;
    border-radius: 12px !important;
}

.oj-messages-general .oj-message-container {
    border-radius: 12px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

.oj-messages-general .oj-message-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #f7f7f8;
}
.select-custom-select .oj-select-choice {
    background: none;
    border:none;
    width: 136%;
    height: 3.28571rem;
    
}

.oj-message-category {
    padding: 0px 10px;
    color: rgba(0,0,0,0.6);
    font-size: 1.0625rem;
    word-break: break-all;
}

.select-custom-select .oj-listbox-label {

  
}

.oj-messages-general .oj-message-body {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}


#langSelectv {
   
   
    
    background-color:red; 
    width:100px;
    
}


.oj-message-summary {
    font-weight: 500;
    color: #000;
    font-size: 1.1875rem;
    word-wrap: break-word;
    line-height: 1.2;
    padding-top: 5px;
}

/* Style for select change language End*/

/*.oj-label-required-icon, .oj-component-initnode {
    display: inline-block;

}*/

.oj-label-required-icon{
    display: inline-block;

}


.oj-message-detail {
    color: rgba(0,0,0,0.6);
    font-size: 1.1875rem;
    word-wrap: break-word;
    line-height: 1.2;
    padding-top: 3px;
}
.wrap-input200 {
    width: 21%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: relative;
    border: 1px solid rgba(6,107,175);
    border-radius: 5px;
    margin-bottom: 30px;
    background: -webkit-linear-gradient(right, #E6E6E6, #fff);
    cursor: -webkit-grab;
    cursor: grab;
}



.custom-messages-style {
    width: 30% !important;
    min-width: 30% !important;

}



.change-lang {
/*    margin-bottom: 15px;*/
display: inline-block;
    padding: 0 5px;
}

.change-lang a {
    text-decoration: none;
}

.change-lang-label {
    font-size: 15px;
    
}
/*.login-label {
        padding-right: 50%;

}*/

.user-label-right {
    position: relative;
    left: 202px;
    padding-right: 45%;
}

.user-label-left {
 font-size: 30px;
    color: #056EB2;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20%;
    padding-right: 70%;
    display: block;
}
 
  
.box-input-text { 
    border-radius: 20px 0px 20px 20px;
}

.word-login {
    text-align: center;
}

.has-val.input100 {
    padding: 0 19px;
}
/*Login End*/


html:not([dir="rtl"]) .oj-select-choice {
        padding-left: 44px;
}
/* New Style for Index ///// End*/