/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~angular-notifier/styles";
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(assets/font/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 9999!important;
}

.text-start {
    text-align: start;
}

.text-end {
    text-align: end;
}

.text-center {
    text-align: center;
}

.w100 {
    width: 100%;
}

/*********edit********/

.SectionData .searchBar input {
    font-family: Arial, FontAwesome !important;
    border: 1px solid #712c81;
    padding: 4px 15px 3px;
    border-radius: 25px;
    /* text-align: left; */
    height: 30px;
    font-size: 14px;
}

@media only screen and (max-width: 450px) {
    .SectionData .searchBar input {
        margin-bottom: 5px;
    }
}

.SectionData .searchBar input:hover {
    box-shadow: none;
    outline: none;
    border-color: #712c81;
}

.more {
    margin: 20px 0px 0px;
    background-color: #712c81;
    color: white;
    outline: none;
    box-shadow: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 12px;
}

.background-snackbar-red {
    background-color: red !important;
    color: white !important;
}

.background-snackbar-green {
    background-color: green !important;
    color: white !important;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.ws {
    white-space: initial;
}

* {
    outline: none !important;
    box-shadow: none !important;
}

.ph-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 15px 15px;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 2px
}

.ph-item, .ph-item *, .ph-item :after, .ph-item :before {
    box-sizing: border-box
}

.ph-item:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 500%;
    margin-left: -250%;
    -webkit-animation: phAnimation .8s linear infinite;
    animation: phAnimation .8s linear infinite;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 46%, hsla(0, 0%, 100%, .35) 50%, hsla(0, 0%, 100%, 0) 54%) 50% 50%
}

.ph-item>* {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    padding-right: 15px;
    padding-left: 15px
}

.ph-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7.5px
}

.ph-row div {
    height: 10px;
    margin-bottom: 7.5px;
    background-color: #ced4da
}

.ph-row .big, .ph-row.big div {
    height: 20px;
    margin-bottom: 15px
}

.ph-row .empty {
    background-color: hsla(0, 0%, 100%, 0)
}

.ph-col-2 {
    flex: 0 0 16.66667%
}

.ph-col-4 {
    flex: 0 0 33.33333%
}

.ph-col-6 {
    flex: 0 0 50%
}

.ph-col-8 {
    flex: 0 0 66.66667%
}

.ph-col-10 {
    flex: 0 0 83.33333%
}

.ph-col-12 {
    flex: 0 0 100%
}

.ph-avatar {
    position: relative;
    width: 100%;
    min-width: 60px;
    background-color: #ced4da;
    margin-bottom: 15px;
    border-radius: 50%;
    overflow: hidden
}

.ph-avatar:before {
    content: " ";
    display: block;
    padding-top: 100%
}

.ph-picture {
    width: 100%;
    height: 120px;
    background-color: #ced4da;
    margin-bottom: 15px
}

@-webkit-keyframes phAnimation {
    0% {
        transform: translate3d(-30%, 0, 0)
    }
    to {
        transform: translate3d(30%, 0, 0)
    }
}

@keyframes phAnimation {
    0% {
        transform: translate3d(-30%, 0, 0)
    }
    to {
        transform: translate3d(30%, 0, 0)
    }
}

.box-placeholder {
    font-size: 0;
    line-height: 0;
}

.box-placeholder .text {
    display: inline-block;
    background-color: #444 !important;
    height: 12px;
    border-radius: 100px;
    margin: 5px 0;
    min-width: 100px;
    opacity: .1;
    animation: fading 1.5s infinite;
}

.box-placeholder .text:first-child {
    margin-top: 0;
}

.box-placeholder .text:last-child {
    margin-bottom: 0;
}

.box-placeholder .text.link {
    background-color: blue;
    opacity: .4;
}

.box-placeholder .text.line {
    width: 100%;
}

.box-placeholder h4.text {
    height: 20px;
    margin: 3px 0;
    opacity: .2;
}

.box-placeholder .image {
    background-color: #f9f9f9;
}

@keyframes fading {
    0% {
        opacity: .1;
    }
    50% {
        opacity: .2;
    }
    100% {
        opacity: .1;
    }
}

.pointer {
    cursor: pointer;
}

.uline {
    text-decoration: underline;
}

.example-full-width {
    width: 100%;
}

.close {
    margin: initial !important;
}

button[disabled] {
    opacity: 0.8 !important;
    cursor: not-allowed !important;
}

/**********************default page settings****************/

.pageSettings {
    padding: 40px 0px !important;
}

.pageSettings .pageHeadInfo {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.pageSettings .pageHeadInfo h5 {
    font-weight: lighter;
    font-size: 24px;
    color: #414142;
    text-align: start;
}

.pageSettings .pageHeadInfo p {
    color: #888888;
    font-size: 18px;
    font-weight: bold;
    text-align: start;
}

@media only screen and (max-width: 765px) {
    .pageSettings .pageHeadInfo p {
        margin-bottom: 20px;
    }
}

/******************checkbox ***********************/

::ng-deep.mat-checkbox-label {
    white-space: normal;
}

::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #712c81 !important;
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #712c81 !important;
}

/*******************custom classes *****************/

.offset-mine-3 {
    margin-left: initial !important;
    margin-right: 25% !important;
}

@media (min-width: 992px) {
    .offset-mine-lg-1 {
        margin-right: 8.333333% !important;
        margin-left: initial !important;
    }
}

.searchInput {
    font-family: Arial, FontAwesome !important
}

.noPadding {
    padding: 0px !important;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.clr {
    clear: both;
}

.con-image {
    position: relative;
    width: 100%;
}

.padding10 {
    padding: 0px 10px;
}

.con-image img {
    position: absolute;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.noPaddingRight {
    padding-right: 0;
}

.flex {
    display: flex;
    align-items: flex-end;
}

.flex-grow {
    flex-grow: 1 !important;
}

.blueviolet {
    color: blueviolet
}

.showMore {
    margin: 20px 0px 0px;
    color: #712c81;
    padding: 5px 0px;
    border: none;
    background-color: transparent;
}

/*******************tag style**************/

mat-form-field {
    width: 100% !important;
}

ul {
    padding-right: 0 !important;
}

/* invoice */

.box-placeholder .batch {
    min-height: 50px;
    background-color: #eee;
    padding: 20px;
    margin-bottom: 30px;
}

.inovice {
    background-color: white;
    min-height: 50px;
    margin-top: 20px;
    padding: 3px 15px 20px 15px;
}

.inovice .priority {
    border-radius: 15px;
    padding: 8px 20px;
    color: white;
    text-transform: capitalize;
}

.inovice .batchName {
    margin-top: 20px;
    color: #999;
    font-size: 13px;
    padding-left: 2px;
    cursor: pointer;
}

.batchName {
    cursor: pointer !important;
    word-break: break-all;
}

.inovice .batchName span {
    color: #000;
    font-size: 12px;
    cursor: pointer;
}

.inovice .invoiceDate {
    color: #999;
    font-size: 14px;
}

.inovice .invoiceDate span {
    color: #000;
}

.inovice .invoiceNo {
    font-weight: bold;
    color: #999;
    font-size: 14px;
    line-height: 20px;
}

.inovice .invoiceNo span {
    color: #000;
    font-size: 14px;
    line-height: 20px;
}

.inovice .amount {
    color: #999;
    font-size: 14px;
    padding-top: 18px;
}

.inovice .days {
    color: green;
    font-weight: bold;
    font-size: 13px;
}

.inovice .view {
    color: #712c81;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
    text-align: right;
}

/* end invoice */

/****************flex card**************/

.card-container {
    overflow: hidden;
    margin-bottom: 30px;
}

.card-container .carousel {
    display: flex;
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.card-container .flex-inside {
    background-color: white;
    display: flex;
    flex: 0 0 auto;
    width: 100%;
}

.card-container .flex-inside .item {
    background-color: white;
    flex: 0 0 auto;
    margin: 10px 5px;
    width: auto;
    padding: 10px;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.animationRed {
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba rgba(185, 3, 3, 0);
    animation: invoice 1s infinite;
}

.animationYellow {
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba rgba(185, 3, 3, 0);
    animation: invoiceYellow 1s infinite;
}

.restAnimation {
    box-shadow: none;
    animation: none;
}

@-webkit-keyframes invoice {
    0% {
        -webkit-box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.808);
    }
    40% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.808);
    }
    100% {
        -webkit-box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.808);
    }
}

@keyframes invoice {
    0% {
        -moz-box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.808);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.808);
    }
    40% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.808);
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.808);
    }
    100% {
        -moz-box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.808);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
    }
}

@keyframes invoiceYellow {
    0% {
        -moz-box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.808);
        box-shadow: 0 0 0 0 rgba(255, 255, 0, 0.808);
    }
    40% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 255, 0, 0.808);
        box-shadow: 0 0 0 10px rgba(255, 255, 0, 0.808);
    }
    100% {
        -moz-box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.808);
        box-shadow: 0 0 0 0 rgba(255, 255, 0, 0.4);
    }
}

.mt10{
    margin-top: 10px;
}

.mat-dialog-container{
    border: 1px solid #712c81;
}

.no-events{
    pointer-events: none;
}