<div><oj-messages position="{}" display="general" messages="[[messages]]"></oj-messages></div>
<div id="train-container">
    <h1 class="header_headline_style"><span> <oj-bind-text value="[[pageReviewTitle]]"></oj-bind-text> </span></h1>

    <div class="oj-form">
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">
                  <button id="back" type="button"  class="oj-button-primary"
                        data-bind="click: cancelRewaardRequst,ojComponent: { component: 'ojButton', label: back,icons: {start:'oj-fwk-icon-back oj-fwk-icon'}}"></button>
                <button id="reject" type="button" class="demo-button-error"
                        data-bind="click: rejectButton, ojComponent: { component: 'ojButton', label: reject}"></button>
                  <oj-button class="apBtn-2" on-oj-action='[[submitButton]]'>
                        <span><oj-bind-text value="[[approve]]"></oj-bind-text></span>
                  </oj-button>
            </div>

        </div>
    </div>


    <br>
    <div class="oj-form-layout oj-panel">

        
        
        
                   <div class="oj-flex">
               <div class="secinfostyel"> <span data-bind="text:CommitmentAnddiscipline"></span>  </div>
            </div>
            
            
<div class="tableBodyStyle">
    <table>
                <tr>
                    <td><span data-bind="text:elementLbl"/></td>
                   <td>1&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5</td>
                </tr>                
                <tr>
            <div class="oj-flex">
                
                <div class="oj-flex">
                 <td>   <label data-bind="text: CommitmentAnddiscipline1"/> </td>
                </div>
                 
                <div class="oj-flex-item">
                   <td> <oj-radioset class="oj-choice-direction-row"  disabled='[[isDisabled]]' required  value="{{validationModle.radioCommitmentAnddisciplineq1}}">
                        <!-- ko foreach:RadioArr1 -->
                          <oj-option   data-bind="value: value"></span></oj-option> 
                        <!-- /ko --></td>
                    </oj-radioset>
                </div>

            </div>
            </tr>
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td> <label data-bind="text: CommitmentAnddiscipline2"/> </td>
                </div>
                <div class="oj-flex-item">
                       <td>   <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]'  required value="{{validationModle.radioCommitmentAnddisciplineq2}}">
                        <!-- ko foreach:RadioArr1 -->
                      <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko --></td>
                    </oj-radioset>
                </div>

            </div>
            
            </tr>
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td> <label data-bind="text: CommitmentAnddiscipline3"/> </td>
                </div>
                <div class="oj-flex-item">
                   <td>   <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required  value="{{validationModle.radioCommitmentAnddisciplineq3}}">
                         <!-- ko foreach:RadioArr1 -->
                       <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset></td>
                </div>

            </div>
           </tr>
           <tr> 
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>    <label data-bind="text: CommitmentAnddiscipline4"/> </td>
                </div>
                <div class="oj-flex-item">
                  <td>  <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.radioCommitmentAnddisciplineq4}}">
                           <!-- ko foreach:RadioArr1 -->
                      <oj-option data-bind="value: value" ></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset></td>
                </div>

            </div>
            </tr>
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>    <label data-bind="text: CommitmentAnddiscipline5"/> </td> 
                </div>
                <div class="oj-flex-item">
                   <td>    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.radioCommitmentAnddisciplineq5}}">
                     <!-- ko foreach:RadioArr1 -->
                          <oj-option data-bind="value: value"></span></oj-option> 
                         <!-- /ko -->
                    </oj-radioset></td>
                </div>

            </div>
           </tr>
      </table>
</div>

<hr/>
            
            
            <div class="oj-flex">
                <span data-bind="text: totalCommitmentAnddiscipline" ></span>
            </div>

            <div class="oj-flex">
                <div class="secinfostyel">   <span data-bind="text: appearanceAndbehaviorLbl" ></span> </div>
            </div>
<div class="tableBodyStyle">
    <table >
              
                <tr>
                    <td><span data-bind="text:elementLbl"/></td>
                   <td>1&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5</td>
                   
                    
                </tr>
            
                <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td> <label data-bind="text: appearanceAndbehaviorLbl1"/> </td> 
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required  value="{{validationModle.appearanceAndbehavior1}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>  <label data-bind="text: appearanceAndbehaviorLbl2"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required  value="{{validationModle.appearanceAndbehavior2}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td> <label data-bind="text: appearanceAndbehaviorLbl3"/> </td> 
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required  value="{{validationModle.appearanceAndbehavior3}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>   <label data-bind="text: appearanceAndbehaviorLbl4"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required  value="{{validationModle.appearanceAndbehavior4}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>
            
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td> <label data-bind="text: appearanceAndbehaviorLbl5"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row"  disabled='[[isDisabled]]' required value="{{validationModle.appearanceAndbehavior5}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>

              </table>
</div>
<hr/>

              
            <div class="oj-flex">
                <div class="secinfostyel">   <span data-bind="text: InteractingWithothersLbl" ></span> </div>
            </div>

            
<div class="tableBodyStyle">
    <table >
              
                <tr>
                    <td><span data-bind="text:elementLbl"/></td>
                   <td>1&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5</td>
                   
                    
                </tr>
            
            
                <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>  <label data-bind="text: InteractingWithothersLbl1"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.InteractingWithothers1}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
              </tr> 
                
              <tr>   
            <div class="oj-flex">
                <div class="oj-flex">
                    <td> <label data-bind="text: InteractingWithothersLbl2"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.InteractingWithothers2}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
              </tr>
              <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>  <label data-bind="text: InteractingWithothersLbl3"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.InteractingWithothers3}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>  
              
              
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>  <label data-bind="text: InteractingWithothersLbl4"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.InteractingWithothers4}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>
            
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td><label data-bind="text: InteractingWithothersLbl5"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.InteractingWithothers5}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>
            </table>
</div>
<hr/>
            

            <div class="oj-flex">
                <div class="secinfostyel">   <span data-bind="text: qualityOfcommunicationLbl" ></span> </div>
            </div>

<div class="tableBodyStyle">
    <table>
              
                <tr>
                    <td><span data-bind="text:elementLbl"/></td>
                   <td>1&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5</td>
                   
                    
                </tr>
                <tr> 
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>    <label data-bind="text: qualityOfcommunicationLbl1"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.qualityOfcommunication1}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>    
                
            <tr>  
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>     <label data-bind="text: qualityOfcommunicationLbl2"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.qualityOfcommunication2}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>   <label data-bind="text: qualityOfcommunicationLbl3"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.qualityOfcommunication3}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>
            
            <tr> 
            <div class="oj-flex">
                <div class="oj-flex">
                    <td> <label data-bind="text: qualityOfcommunicationLbl4"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.qualityOfcommunication4}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>

            </div>
            </tr>
            
            <tr>
            <div class="oj-flex">
                <div class="oj-flex">
                    <td>  <label data-bind="text: qualityOfcommunicationLbl5"/> </td>
                </div>
                <div class="oj-flex-item">
                    <td>
                    <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.qualityOfcommunication5}}">
                        <!-- ko foreach:RadioArr1 -->
                        <oj-option data-bind="value: value"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                    </td>
                </div>
          
         </div>
            
            </tr>
             </table>
</div>
<hr/>
             
            </oj-validation-group>
          <div class="oj-flex">
              <div class="secinfostyel">  <span data-bind="text: DirectManagerLbl" ></span> </div>
              </div>
              <div class="textAreaStyle">
                  <oj-text-area id="text-area" disabled='[[isDisabled]]' value="{{validationModle.DirectManagerVal}}">
                  </oj-text-area>
              </div>
        <hr/>
             <div class="header_headline_style_2">
                         <label data-bind="text:FinalDecisionLbl "/> 
                    </div>
        
                <div class="oj-flex">
                    <div class="oj-flex-item midradioset">
                      
                        <oj-radioset class="oj-choice-direction-row" disabled='[[isDisabled]]' required value="{{validationModle.finalDecisionVal}}">
                            <!-- ko foreach:FinalDecisionArr -->
                            <oj-option data-bind="value:value"><span data-bind="text: label"></span></oj-option>
                            <!-- /ko -->
                        </oj-radioset>
                       
                    </div>

                </div>
        
        
        
        

        
        
    </div>
     <oj-dialog class="main-dialog main-dialog-width" id="rejectDialog">
                          <div slot="header" class="oj-helper-clearfix">
                                <label data-bind="text:confirmMessage "/>
                            </div>
                            <div slot="body">     
                                <label data-bind="text:rejectMessage"/>              
                            </div>
                            <div slot="footer">
                                <oj-button  class="apBtn-2 apBtn-disabled-2" on-oj-action='[[rejectRewaardRequst]]'>
                                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                                </oj-button>

                                <oj-button  class="apBtn-2 apBtn-disabled-2" on-oj-action='[[rejectCancelButton]]'>
                                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                                </oj-button>
                            </div>
     </oj-dialog>
    
     <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
                          <div slot="header" class="oj-helper-clearfix">
                                <label data-bind="text:confirmMessage "/>
                            </div>
                            <div slot="body">     
                                <label data-bind="text:oprationMessage"/>              
                            </div>
                            <div slot="footer">
                                <oj-button  class="apBtn-2 apBtn-disabled-2" on-oj-action='[[commitRecord]]'>
                                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                                </oj-button>

                                <oj-button  class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButton]]'>
                                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                                </oj-button>
                            </div>
     </oj-dialog>
    

  
</div>