<div class="oj-form-layout oj-panel">
    <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline" oj-md-labels-inline>

        <div class="form-row">
            <div class="form-group col-md-6 srjob-col-pad">
                <label for="ReportName" data-bind="text: filterlbl"/>
                <oj-input-text id="filter"  autocomplete="off"
                               placeholder="[[searchPlaceHolder]]"
                               on-raw-value-changed="[[handleValueChanged]]" 
                               value="{{reportnameVal}}" >
                </oj-input-text>            
            </div>

        </div>

        <div  id="form-container" class="row">
            <div class="btn_row_st" align="center">
                <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                    <span><oj-bind-text value="[[backActionLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-arrow-circle-left"></span>
                </oj-button>
                <oj-button class="apBtn-2" on-oj-action='[[btnAddSummary]]'>
                    <span><oj-bind-text value="[[addSummaryLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                </oj-button>

                <oj-button disabled="{{isDisable}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[btnEditSummary]]'>
                    <span><oj-bind-text value="[[editSummaryLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                </oj-button>

                <oj-button disabled="{{isDisable}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[btnViewSummary]]'>
                    <span><oj-bind-text value="[[viewSummaryLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                </oj-button>
                <oj-button disabled="{{isDisable}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[btnDeleteSummary]]'>
                    <span><oj-bind-text value="[[DeleteSummaryLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                </oj-button>
                    <oj-button class="apBtn-2" on-oj-action='[[reset]]'>
                        <span><oj-bind-text value="[[clear]]"></oj-bind-text></span>
                    </oj-button>

            </div>
        </div>

        <div>
            <oj-table id='table' aria-label='Departments Table'
                      class='apTable-1'
                      data='[[dataSource]]'
                      selection-mode='{"row": "multiple", "column": "multiple"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy-options='{"fetchSize": 10}'
                      columns='[[columnArray]]'
                      on-oj-before-current-row = "[[tableSelectionListener]]"
                      display = "grid">
                <oj-paging-control id="paging" data='[[dataSource]]' page-size='5' slot='bottom' class='apPaging-1'>
                </oj-paging-control>

            </oj-table>
        </div>

    </div>

    <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text:confirmMessage "/>
        </div>
        <div slot="body">
            <label data-bind="text:oprationMessage"/>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[commitRecordDelete]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[cancelButtonDelete]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
</div>