<!-- <div class="sec-con">
        <div class="container-fluid">
                <div class="row"> -->
                        

                        
                        <!-- <div class="col-md-2">
                                <div class="navbarBtn float-right">
                                        <span (click)="logoutAction()"><i class="fa fa-sign-out"></i></span>
                                </div>
                        </div>
                </div>
        </div>
</div> -->