.sec-con{
    margin-top: 10px;
}
.navbarBtn{
    cursor: pointer;
}
.navbarBtn span{
    background: #da3f7b;
    border: 1px solid #da3f7b;
    border-radius: 15px;
    color: #FFF;
    padding: 5px 10px;

}