<h1 class="title">Process</h1>
<section class="homeSetupContent rounded-lg shadow-lg p-3">
    <div class="sectionBody homeSetupContent">
        <ul class="lisIconSection oj-flex oj-flex-items-pad">
            <li class="listIcons oj-md-3 oj-sm-6 oj-flex-item" data-bind="click: retroCalculation">
                <img class="imgHome" src="css/images/calculator.png" ><br>
                <a>Retro Calculation</a>
            </li>
            <li class="listIcons oj-md-3 oj-sm-6 oj-flex-item" data-bind="click: payrollRun">
                <img class="imgHome" src="css/images/run.png" ><br>
                <a>Payroll Run</a>
            </li>
            <li class="listIcons oj-md-3 oj-sm-6 oj-flex-item" data-bind="click: quickPay">
                <img class="imgHome" src="css/images/qr-code.png" ><br>
                <a>Quick Pay Run</a>
            </li>
            <li class="listIcons oj-md-3 oj-sm-6 oj-flex-item" data-bind="click: calculatePayment">
                <img class="imgHome" src="css/images/accounting.png" ><br>
                <a>Calculate Prepayment</a>
            </li>
            <li class="listIcons oj-md-3 oj-sm-6 oj-flex-item" data-bind="click: costingProcess">
                <img class="imgHome" src="css/images/cost.png" ><br>
                <a>Costing Process</a>
            </li>
            <li class="listIcons oj-md-3 oj-sm-6 oj-flex-item" data-bind="click: transferGL">
                <img class="imgHome" src="css/images/transfer.png" ><br>
                <a>Transfer To GL</a>
            </li>
            <li class="listIcons oj-md-3 oj-sm-6 oj-flex-item" data-bind="click: rollBack">
                <img class="imgHome" src="css/images/refund.png" ><br>
                <a>RollBack</a>
            </li>
        </ul>
    </div>
    </section>