<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div id="form-container" class="section-container">
    <h1 data-bind="text: opLablel"></h1>
    <br> <br>
    <div class="oj-form  search-form oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline oj-flex-bar">

        <div class="oj-flex-bar-start">



            <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[BackStep]]' >
                <span><oj-bind-text value="[[backLbl]]"></oj-bind-text></span>
            </oj-button>

        </div>

        <div class="oj-flex-bar-end">

            <oj-button class="apBtn-2 apBtn-disabled-2"  on-oj-action='[[submitButton]]' data-bind="visible: isvisable" >
                <span><oj-bind-text value="[[submitLbl]]"></oj-bind-text></span>
            </oj-button>

            <div id="sampleDemo" class="demo-padding demo-container"></div>
        </div>
    </div>


    <div class="oj-form-layout">

        <oj-validation-group id="tracker" valid="{{groupValid}}">
            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">


                    <div class="oj-flex-item">
                        <label  data-bind="text: LineDesc "/>
                    </div>
                    <div class="oj-flex-item">

                        <oj-input-text  required="[[isRequired]]"
                                        value="{{lineval}}"
                                        placeholder="Please Enter Value"
                                        disabled="{{isDisabled}}">

                        </oj-input-text>
                    </div>


                    <div class="oj-flex-item">
                        <label  data-bind="text: Quantity "/>
                    </div>
                    <div class="oj-flex-item">

                        <oj-input-text  required="[[isRequired]]"
                                        value="{{currentQtyVal}}"
                                        placeholder="Please Enter Value"
                                        disabled="{{isDisabled}}">                      
                        </oj-input-text>
                    </div>


                    <div class="oj-flex-item">
                        <label  data-bind="text:  NeedBy "/>
                    </div>                      
                    <div class="oj-flex-item">
                        <oj-input-text  required="[[isRequired]]"
                                        value="{{needval}}"
                                        placeholder="Please Enter Value"
                                        disabled="{{isDisabled}}">
                        </oj-input-text>

                    </div>

                    <div class="oj-flex-item">
                        <label  data-bind="text: unitofmeasure "/>
                    </div>
                    <div class="oj-flex-item">

                        <oj-select-one  required="[[isRequired]]"
                                        value="[[needval]]"
                                        placeholder="Please Select Value"
                                        disabled="{{isDisabled}}">
                            <oj-option value="[[needval]]"></oj-option>
                        </oj-select-one>


                    </div>

                    </oj-validation-group>

                </div>
            </div>
