<div id="form-container" class="section-container">
    <h1 data-bind="text: HLablel"></h1>
    <br> <br>
    <div class="oj-form search-form oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline">
        <oj-form-layout id="form-container">

            <oj-label for="text" ><span data-bind="text:projectNameLbl" ></span></oj-label>

            <oj-select-one id="select1" class="form-control" size="25"
                           placeholder="[[placeholder]]"
                           selection-mode='{"row": "single", "column": "single"}'
                           value="{{projectNameVal}}"
                           options="{{ProjectNameData}}">
            </oj-select-one>

            <oj-label for="date"><span data-bind="text:projectNumberLbl" ></span></oj-label>
            <oj-select-one id="select" class="form-control"  
                           placeholder="[[placeholder]]"
                           selection-mode='{"row": "single", "column": "single"}'
                           value="{{projnumVal}}"                         
                           options="{{ProjectNumbeData}}">
            </oj-select-one>

            <oj-label for="date"> <span data-bind="text:projectManagerLbl" ></span></oj-label>
            <oj-select-one id="select" class="form-control"  
                           placeholder="[[placeholder]]"
                           selection-mode='{"row": "single", "column": "single"}'
                           value="{{projectManagerVal}}"                         
                           options="{{ProjectManagerData}}">
            </oj-select-one>

            <oj-label><span data-bind="text:projectOrganizationLbl" ></span> </oj-label>
            <oj-select-one id="select" class="form-control" 
                           value="{{organizationVal}}"
                           placeholder="[[placeholder]]"
                           options="{{projectOrganizData}}"
                           >
            </oj-select-one>

        </oj-form-layout>


        <div class="oj-form-layout">
            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
                <div id="form-container" class="row">
                    <div class="btn_row_st" align="center">

                        <oj-button class="apBtn-2 apBtn-disabled btnStyle" 
                                   disabled="{{searchDisable}}" on-oj-action='[[searchBtnAction]]'>
                            <span><oj-bind-text value="[[searchLbl]]"></oj-bind-text></span>
                        </oj-button> 

                        <oj-button class="apBtn-2 apBtn-disabled btnStyle"  on-oj-action='[[exportBtnAction]]'  >
                            <span><oj-bind-text value="[[exportLbl]]"></oj-bind-text></span>
                        </oj-button>

                        <oj-button class="apBtn-2 apBtn-disabled btnStyle" 
                                   on-oj-action='[[resetBtnAction]]'>
                            <span><oj-bind-text value="[[resetLbl]]"></oj-bind-text></span>
                        </oj-button> 
                    </div>
                </div>
            </div>
        </div>

        <br>
        <h2 data-bind="text: projectDetailsLbl"></h2>

        <div id="form-container" class="section-container-2">
            <div class="oj-form search-form oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline">
                <oj-table id='table' class='apTable-1 '  aria-label='Request Table'

                          data='[[dataprovider]]'
                          selection-mode='{"row": "multiple", "column": "multiple"}'
                          dnd='{"reorder": {"columns": "enabled"}}'
                          scroll-policy='auto'
                          columns='[[columnArray]]'
                          on-oj-before-current-row="[[tableSelectionListener]]">
                    <oj-paging-control id="paging" data='[[dataprovider]]' page-size='5' slot='bottom' class="apPaging-1 display-inline-flex">
                    </oj-paging-control>

                </oj-table>
            </div>
        </div>

        <oj-form-layout id="form-container">

            <oj-label for="date"> <span data-bind="text:taskNameLbl" ></span> </oj-label>
            <oj-select-one 
                value="{{taskNameVal}}"
                placeholder="[[placeholder]]"  
                on-value-changed ="[[taskNameChangeListener]]" 
                options="{{taskNameData}}">

            </oj-select-one>


            <oj-label for="date"> <span data-bind="text:taskNumberLbl" ></span> </oj-label>
            <oj-select-one 
                value="{{tasknumVal}}"
                placeholder="[[placeholder]]"
                disabled="{{taskNumDisable}}"
                options="{{taskNumberData}}">
            </oj-select-one>

            <oj-label for="date"> <span data-bind="text:expenDateFromLbl" ></span> </oj-label>
            <oj-input-date id="datefrom"
                           value="{{expenDateFromVal}}">

            </oj-input-date>

            <oj-label for="date"> <span data-bind="text:expenDateToLbl" ></span> </oj-label>
            <oj-input-date id="dateTo" 
                           value="{{expenDateToVal}}">

            </oj-input-date>

            <oj-label for="date"> <span data-bind="text:resourceClassLbl" ></span> </oj-label>
            <oj-select-one 
                value="{{ExpenTypeVal}}"
                placeholder="[[placeholder]]"
                options="{{resClassArr}}">
            </oj-select-one>


            <oj-label for="date"><span data-bind="text:needByDateLbl" ></span> </oj-label>
            <oj-input-date id="DateNeed"

                           value="{{needByVal}}">
            </oj-input-date>

        </oj-form-layout>

        <div class="oj-form-layout">
            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
                <div id="form-container" class="row">
                    <div class="btn_row_st" align="center">

                        <oj-button class="apBtn-2 apBtn-disabled btnStyle" 
                                   disabled="{{searchDisable}}" on-oj-action='[[searchBtnAction2]]'>
                            <span><oj-bind-text value="[[searchLbl]]"></oj-bind-text></span>
                        </oj-button> 

                        
                        <oj-button class="apBtn-2 apBtn-disabled btnStyle"  on-oj-action='[[generateBtnAction]]' disabled="{{isDisabledGenerate}}" >
                            <span><oj-bind-text value="[[generatePr]]"></oj-bind-text></span>
                            <!--<span data-bind="text:lengthOfGenerateArr"></span>-->
                        </oj-button>

                        <oj-button class="apBtn-2 apBtn-disabled btnStyle" 
                                   on-oj-action='[[resetDetailBtnAction]]'>
                            <span><oj-bind-text value="[[resetLbl]]"></oj-bind-text></span>
                        </oj-button> 

                    </div>
                </div>

            </div>
        </div>

        <br>
        <h2 data-bind="text: taskDetailsLbl"></h2>

        <div id="form-container" class="section-container-2">
            <div >
                <oj-table id='DetailsTable' class='apTable-1 '  aria-label='Request Table'

                          data='[[detailsDataprovider]]'
                          dnd='{"reorder": {"columns": "enabled"}}'
                          scroll-policy='auto'
                          columns='[[DetailsColumnArray]]'
                          selection-required='true'
                          selected.column='{{selectedColumns}}'>

                    <template slot="seqTemplate" data-oj-as="cell" type="hidden">
                        <input type="hidden" class="hiddenkeyHolder" data-bind="value:cell.index" />
                        <span data-bind="text:cell.index+1"></span>
                    </template>

                </oj-table>
            </div>
        </div>

        <div id="dialogWrapper">
            <oj-dialog class="main-dialog main-dialog-width"  id="quantityDialog" cancel-behavior="none" >
                <!--ojBeforeClose="{{currentQty}}" -->
                <div slot="header" class="oj-helper-clearfix">
                    <label  data-bind="text: headerTextGenerateDailogLb"></label>
                </div>
                <div slot="body" >
                    <oj-label for="date"><span data-bind="text:qtyLbl" ></span></oj-label>
                    <oj-input-number id="input-number-validator"
                                     value="{{currentQty}}"
                                     min="1"
                                     placeholder="[[placeholder]]">
                    </oj-input-number>
                     <oj-label for="date"><span data-bind="text:referenceBomLbl" ></span></oj-label>
                    <oj-input-text id="input-number-validator"
                                     value="{{referenceBOMval}}"
                                     min="1"
                                     placeholder="[[placeholder]]">
                    </oj-input-text>
                         <oj-label for="date"> <span data-bind="text:destinationTypeLbl" ></span> </oj-label>
                    <oj-select-one 
                        value="{{destinationTypeVal}}"
                            on-value-changed="{{destinationValueChanged}}"
                             placeholder="[[placeholder]]">
                       
                        <oj-option value="EXPENSE">EXPENSE</oj-option>
                        <oj-option value="INVENTORY">INVENTORY</oj-option>
                        
                        
                    </oj-select-one>
                         <div  data-bind="visible: divVisable">
                         <oj-label for="date"> <span data-bind="text:invOrgLbl" ></span> </oj-label>
                    <oj-select-one                       
                        value="{{invOrganizationVal}}"
                            on-value-changed="{{invOrgValueChanged}}"                       
                                options="{{organizatioInvDataProvider}}">
                    </oj-select-one>
                
                    <oj-label for="date"> <span data-bind="text: subInvLbl" ></span> </oj-label>
                     <oj-select-one 
                         
                        value="{{destinationSubTypeVal}}"
                        disabled="{{subInvDisble}}"
                         on-value-changed="{{subValueChanged}}"
                         options="{{subInventoryArray}}"
                         placeholder="[[placeholder]]">
                       
                        <!--<oj-option value="RBD">RBD</oj-option>-->
<!--                        <oj-option value="RBD">ARY</oj-option>-->
                        <!--<oj-option value="INVENTORY">INVENTORY</oj-option>-->
                        
                    </oj-select-one>
                    </div>
                </div>
                <div slot="footer">  
                    <oj-button class="apBtn-2 apBtn-disabled btnStyle"  on-oj-action='[[AddQtyBtnAction]]'>
                        <span><oj-bind-text value="[[addQtyLbl]]"></oj-bind-text></span>
                    </oj-button>
                </div>



            </oj-dialog>
        </div>


        <div id="dialogWrapper">
            <oj-dialog class="main-dialog main-dialog-width"  id="ViewDialog">
                <div slot="header" class="oj-helper-clearfix">
                    <label  data-bind="text: headerTextReAssignDailogLb2"></label>
                </div>
                <div slot="body" >
                    <div id="form-container" class="section-container" >
                        <div class="oj-form search-form oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline">
                            <oj-table id='tableV' class='apTable-1 '  aria-label='View Table'

                                      data='[[dataprovider2]]'
                                      selection-mode='{"row": "single", "column": "single"}'
                                      dnd='{"reorder": {"columns": "enabled"}}'
                                      scroll-policy='auto'
                                      columns='[[columnArray]]'>

                                
                            </oj-table>
                        </div>                  
                    </div>                    
                </div>
                <div slot="footer">
                    <div class="oj-flex-bar">

                        <div class="btn_row_st j-flex-bar-end" >
                            <oj-button class="apBtn-2 apBtn-disabled btnStyle"  on-oj-action='[[DisplayBtnAction]]'>
                                <span><oj-bind-text value="[[DisplayLbl]]"></oj-bind-text></span>
                            </oj-button>
                        </div>

                        <div class="btn_row_st oj-flex-bar-start">

                            <oj-button class="apBtn-2 apBtn-disabled btnStyle" 
                                       disabled="{{searchDisable}}" on-oj-action='[[CancelBtnAction]]'>
                                <span><oj-bind-text value="[[CancelLbl]]"></oj-bind-text></span>
                            </oj-button> 
                        </div>
                    </div>
                </div>
            </oj-dialog>
        </div>

        <div id="dialogWrapper">
            <oj-dialog class="main-dialog main-dialog-width"  id="ViewTaskDialog">
                <div slot="header" class="oj-helper-clearfix">
                    <label  data-bind="text: headerTextLineDailogLb"></label>
                </div>
                <div slot="body" >

                    <label  data-bind="text: bodyTextLineDailogLb"></label>

                    <div id="form-container" class="section-container-2" >
                        <div class="oj-form search-form oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline">
                            <oj-table id='tableLine' class='apTable-1 '  aria-label='View Table'

                                      data='[[linDataprovider]]'
                                      selection-mode='{"row": "multiple", "column": "multiple"}'
                                      dnd='{"reorder": {"columns": "enabled"}}'
                                      scroll-policy='auto'
                                      columns='[[lineColumnArray]]'
                                      on-oj-before-current-row="[[tableSelectionListener3]]">


                                <!--                                <template slot="QtyInputTemplate" data-oj-as="cell">                              
                                                                   <oj-input-text id="it1" value="{{Indata((cell.index).value)}}" placeholder=" Please Enter Quantity" class="tb-input"></oj-input-text>
                                                                </template>-->

                                <template slot="checkTemplate" data-oj-as="cell">
                                    <oj-checkboxset 
                                        value='[[handleCheckbox(cell.index)]]'
                                        on-value-changed='[[checkboxListener]]'
                                        id ="table_checkboxset"
                                        class='oj-checkboxset-no-chrome oj-selection-checkbox'
                                        :id="[['table_checkboxset' + cell.index]]"
                                        :data-row-id="{{cell.index}}"
                                        :data-row-key="{{cell.row.id}}">

                                        <oj-option :id="[['table_checkbox' + cell.index]]" value="checked"></oj-option>

                                    </oj-checkboxset>   
                                </template>
                            </oj-table>
                        </div>                  
                    </div>                    
                </div>
                <div slot="footer">
                    <div class="oj-flex-bar">

                        <div class="btn_row_st oj-flex-bar-start">

                            <oj-button class="apBtn-2 apBtn-disabled btnStyle" 
                                       disabled="{{allToGenDisable}}" on-oj-action='[[AllToGeneBtnAction]]'>
                                <span><oj-bind-text value="[[AddToGenelLbl]]"></oj-bind-text></span>
                            </oj-button> 
                          <oj-button class="apBtn-2 apBtn-disabled btnStyle"  on-oj-action='[[exportBtnDetailsAction]]'  >
                            <span><oj-bind-text value="[[exportLbl]]"></oj-bind-text></span>
                        </oj-button>
                        </div>

                        <div class="btn_row_st j-flex-bar-end" >
                            <oj-button class="apBtn-2 apBtn-disabled btnStyle"  on-oj-action='[[CancelLinBtnAction]]'>
                                <span><oj-bind-text value="[[CancelLineLbl]]"></oj-bind-text></span>
                            </oj-button>
                        </div>
                    </div>
                </div>
            </oj-dialog>
        </div>

        <div id="dialogWrapper">
            <oj-dialog class="main-dialog main-dialog-width"  id="ViewGenerateDialog">
                <div slot="header" class="oj-helper-clearfix">
                    <label  data-bind="text: headerTextGenerateDailogLb"></label>
                </div>
                <div slot="body" >
                    <div id="form-container" class="section-container-2" >
                        <div class="oj-form search-form oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline">
                            <oj-table id='tableGenerate' class='apTable-1 '  aria-label='View Table'

                                      data='[[generateDataprovider]]'
                                      selection-mode='{"row": "single", "column": "single"}'
                                      dnd='{"reorder": {"columns": "enabled"}}'
                                      scroll-policy='auto'
                                      columns='[[generateColumnArray]]'>


                            </oj-table>
                        </div>                  
                    </div>                    
                </div>
                <div slot="footer">
                    <div class="oj-flex-bar">  
                        <div class="btn_row_st oj-flex-bar-start">
                            <oj-button class="apBtn-2 apBtn-disabled btnStyle" 
                                       on-oj-action='[[GenePrBtnAction]]'>
                                <span><oj-bind-text value="[[GenePrLbl]]"></oj-bind-text></span>
                            </oj-button> 
                        </div>
                        
                         <div class="btn_row_st oj-flex-bar-start">
                            <oj-button class="apBtn-2 apBtn-disabled btnStyle" 
                                       on-oj-action='[[clearPrBtnAction]]'>
                                <span><oj-bind-text value="[[clearPrLbl]]"></oj-bind-text></span>
                            </oj-button> 
                        </div>

                        <div class="btn_row_st j-flex-bar-end" >
                            <oj-button class="apBtn-2 apBtn-disabled btnStyle"  on-oj-action='[[CancelGeneBtnAction]]'>
                                <span><oj-bind-text value="[[CancelLineLbl]]"></oj-bind-text></span>
                            </oj-button>
                        </div>
                    </div>
                </div>
            </oj-dialog>
        </div>
    </div>