<div class="history">

    <div class="reservation-content" data-bind="visible: dataStatus() == 'loading'">
        <h1 class="text-center" data-bind="text: label().load()"></h1>
    </div>    
    <div class="reservation-content" data-bind="visible: dataStatus() == 'noData'">
        <h1 class="text-center" data-bind="text: label().noDataText()"></h1>
        <br>
        <div id='buttons-container'>
            <oj-button class="btnPrimary">
                <span><oj-bind-text>Add your first vehicle</oj-bind-text></span>
            </oj-button>
        </div>
    </div>
    <!--        <div class="vehicle text-center" data-bind="visible: dataStatus() == 'dataAvailable'">
                <div id='text'>
                    <h2 data-bind="text: label().chooseCar()"></h2>
                </div>
                <div id="componentDemoContent" style="width: 1px; min-width: 100%;" >
                    <div id="listviewContainer">
    
                        <div data-bind="foreach: jsonDataStr">
    
                            <div data-bind="click: $parent.historyAction" class="vehicle-item">
                                <div class="oj-panel demo-griditem-content demo-icon">
                                    <div class="item-img" style="width:180px;max-width:100%;padding:0">
                                        <div data-bind="style: { backgroundImage:'url(\'css/images/'+brand+'.png\')',
                                                                    backgroundRepeat: 'no-repeat', backgroundSize: '100%', height: '120px',
                                                                    width: '100%' }, attr: { 'aria-label': brand }">
                                        </div>
                                    </div>
                                </div>
                                <div class="demo-griditem-content">
                                    <span style="width:180px;max-width:100%;padding:0"><oj-bind-text value="[[brand]]"></oj-bind-text></span>
                                </div>
                            </div>
                        </div>
    
    
                    </div>
                </div>
            </div>-->

    <div class="history-section" data-bind="visible: dataStatus() == 'dataAvailable'">
        <!--<div class="history-section" data-bind="visible: historyVisible()">-->

        <h2 data-bind="text: label().history()"></h2>

        <div class="row">
            <div id="sampleDemo" class="demo-padding demo-container">
                <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                    <div id="demoContent" style="position: relative;">
                        <ul id="ulResults">
                            <oj-bind-for-each data="[[dataprovider]]">
                                <template data-oj-as="row">
                                    <div class="slider-item oj-panel oj-panel-shadow-sm oj-sm-margin-2x demo-panel-customizations">
                                        <oj-label class="label-line fa fa-user">
                                            <strong>
                                                <oj-bind-text value="[[label().vehicleType()]]"></oj-bind-text> 
                                            </strong>
                                            <oj-bind-text value="[[row.data.Vehicle_type]]"></oj-bind-text>
                                        </oj-label>
                                        <oj-label class="label-line fa fa-car">
                                            <strong>
                                                <oj-bind-text value="[[label().chassisNumber()]]"></oj-bind-text> 
                                            </strong>
                                            <oj-bind-text value="[[row.data.chassis_number]]"></oj-bind-text>
                                        </oj-label>
                                        <oj-label class="label-line fa fa-car">
                                            <strong>
                                                <oj-bind-text value="[[label().engineNumber()]]"></oj-bind-text> 
                                            </strong>
                                            <oj-bind-text value="[[row.data.engine_number]]"></oj-bind-text>
                                        </oj-label>
                                        <oj-label class="label-line fas fa-store-alt">
                                            <strong>
                                                <oj-bind-text value="[[label().plateNumber()]]"></oj-bind-text> 
                                            </strong>
                                            <oj-bind-text value="[[row.data.plate_number]]"></oj-bind-text>
                                        </oj-label>
                                        <oj-label class="label-line fas fa-store-alt">
                                            <strong>
                                                <oj-bind-text value="[[label().vinNumber()]]"></oj-bind-text> 
                                            </strong>
                                            <oj-bind-text value="[[row.data.vin_number]]"></oj-bind-text>
                                        </oj-label>
                                        <oj-label class="label-line fas fa-store-alt">
                                            <strong>
                                                <oj-bind-text value="[[label().carModel()]]"></oj-bind-text> 
                                            </strong>
                                            <oj-bind-text value="[[row.data.CarModel]]"></oj-bind-text>
                                        </oj-label>
                                        <oj-label class="label-line fas fa-store-alt">
                                            <strong>
                                                <oj-bind-text value="[[label().eliteVehicle()]]"></oj-bind-text> 
                                            </strong>
                                            <oj-bind-text value="[[row.data.Elite_Vehicle]]"></oj-bind-text>
                                        </oj-label>

                                    </div>  
                                </template>
                            </oj-bind-for-each>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>