 .priority {
     border-radius: 15px;
     padding: 8px 20px;
     color: white;
     text-transform: capitalize;
 }
.date
{
    font-weight: bold;
}
.batchData 
{
    color:#999;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: start;
}
.title
{
    font-weight: bold;
    color:#712c81;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
}
.currency
{
    color:#712c81 ;
    margin-bottom: 20px;
    font-weight: bold;
}
 .batchName {
     margin-top: 20px;
     /* font-weight: 600 ; */
     color: #000;
     font-size: 13px;
     padding-left: 2px;
     /* display: grid; */
 }

 .batchName span {
     color: #000;
     font-size: 12px;
 }

 .invoiceDate {
     color: #999;
     font-size: 14px;
 }


 .invoiceKey {
     font-weight: bold;
     color: #999;
     font-size: 14px;
     line-height: 20px;
     text-align: start;
 }

 .invoiceKey span {
     color: #000;
     font-size: 14px;
     line-height: 20px;
 }


 .days {
     color: green;
     font-weight: bold;
     font-size: 13px;
 }

 .view {
     color: #712c81;
     font-weight: bold;
     margin-top: 20px;
     cursor: pointer;
     font-size: 14px;
     text-align: right;
 }

 .prioritySty {
     margin-bottom: 20px;
     padding: 0px;
     text-align: start;
 }
 .attachment a ,  .attachment a:hover
 {
      text-decoration: none;
 }
 