<div id="body">

        <div *ngIf="invoice.Priority" class="col-lg-6 col-md-6 col-xs-6 prioritySty">
                <span class="priority"
                        [ngStyle]="{'background-color':invoice.Priority =='High'? '#712c81':(invoice.Priority == 'Medium' ? '#da3f7b' : '#efac2a')}">
                        {{invoice.Priority | translation}}
                </span>
        </div>


        <div class="noPadding row">
                <h6 class="invoiceKey col-6">
                        {{'invoiceType' | translation }} :
                        <span>{{invoice.InvoiceType}} </span>
                </h6>

                <h6 class="invoiceKey  col-6">{{'invoiceDate' | translation }} :
                        <span>{{invoice.InvoiceDate|date}}</span></h6>
                <h6 class="invoiceKey  col-6">{{'InvoiceNumber'|translation}} : <span>{{invoice.InvoiceName}}</span>
                </h6>
                <h6 class="invoiceKey  col-6">{{'amount' | translation}} : <span>
                                {{common.numberWithCommas(invoice.Amount) +' '+invoice.Currency}}
                        </span>
                </h6>

                <h6 class="invoiceKey  col-6">{{'invoice_vat' | translation}} : <span>
                                {{invoice.InvoiceVat}}
                        </span> </h6>
                <h6 class="invoiceKey  col-6">{{'invoice_net' | translation}} : <span>
                                {{invoice.InvoiceNet}}
                        </span> </h6>

                <!-- *ngIf="type != 'completed'" -->
                <!-- <div> -->
                <h6 class="invoiceKey  col-6">{{'due' | translation}} : <span>{{'in' | translation }}
                                {{invoice.remainingDays}} {{'days_label' | translation}}</span>
                </h6>

                <h6 class="title  col-12 mt10">{{'vendorDetails' | translation}}</h6>
                <h6 class="invoiceKey  col-6">{{'vendorNo' | translation}} : <span>{{invoice.VENDOR_NUM}}</span>
                </h6>
                <h6 class="invoiceKey  col-6">{{'VendorName' | translation}} : <span>{{invoice.VendorName}}</span>
                </h6>
                <!-- </div> -->

                <h6 class="invoiceKey col-12">{{invoice.vendorDesc}}</h6>

                <hr />
                <h6 class="invoiceKey  col-12"> {{'invoice_desc' | translation}}:
                        <span>{{invoice.invoiceDescription}}</span>
                </h6>

                <h6 class="invoiceKey  col-6">{{'batchName' | translation }} <span>{{invoice.BatchName}}</span>
                </h6>

                <h6 class="invoiceKey  col-6">{{'sourcelabel' | translation }}
                        <span>{{invoice.SourceDesc || invoice.Source}}</span> </h6>

                <h6 *ngIf="false" class="invoiceKey  col-6">{{ 'sequance' | translation }}
                        <span>{{invoice.SEQUANCE}}</span>
                </h6>

                <h6 class="invoiceKey  col-6">{{'rateDate' | translation}} <span>{{invoice.RATEDATE}}</span>
                </h6>


                <h6 *ngIf="invoice.personName" class="invoiceKey  col-6">{{'assignedEmpployee' | translation }} <span>
                                {{invoice.personName}} </span> </h6>

                <h6 class="invoiceKey  col-6">{{'technicalSector' | translation }}
                        <span>{{invoice.TechnicalSector}} </span></h6>

                <h6 class="invoiceKey  col-6">{{'expenseType' | translation }} <span>{{invoice.ExpenseType}}</span>
                </h6>

                <h6 *ngIf="false" class="invoiceKey  col-6">{{'serviceType' | translation }}
                        <span>{{invoice.SERVICETYPE}}</span>
                </h6>

                <h6 *ngIf="false" class="invoiceKey  col-6">{{'servicePeriod' | translation }}
                        <span>{{invoice.SERVICEPERIOD}}
                        </span></h6>

                <h6 class="invoiceKey  col-6">{{'conversionRate' | translation }} <span>
                                {{common.round(invoice.CONVERSIONRATE,2)}}
                        </span></h6>

                <h6 class="invoiceKey  col-6">{{'district' | translation }} <span>{{invoice.DISTRICT}}</span>
                </h6>

                <h6 *ngIf="false" class="invoiceKey  col-6">{{'deductType' | translation }}<span>
                                {{invoice.DEDUCT_TYPE}}</span> </h6>

                <h6 class="invoiceKey  col-6">{{'poNumber' | translation }}<span>
                                {{invoice.PONumber}}</span> </h6>

                <h6 class="invoiceKey  col-6">{{'reciept_no' | translation }} :<span
                                *ngIf="invoice.recieptNo != 'null'">
                                {{invoice.recieptNo}}</span> </h6>

                <h6 class="invoiceKey  col-6">{{'bankNo' | translation }} : <span>{{invoice.bankNum}}</span>
                </h6>

                <h6 class="invoiceKey  col-6">{{'bankName' | translation }} : <span>
                                {{invoice.bankName}}</span></h6>


                <h6 class="invoiceKey  col-6">{{'invoice_status' | translation }} : <span>
                                {{invoice.invoicStatus}}</span></h6>
        </div>

        <hr>
        <div class="attachment">
                <h6 class="title">{{'attachment' | translation}}</h6>
                <ul class="list-unstyled">
                        <li *ngFor="let att of attachments" class="pointer">
                                <h6 (click)="dataURItoBlob(att)" title="download" class="batchData">{{att.TITLE}}</h6>
                        </li>
                        <li *ngIf="attachments.length ==0 && !gettingAttachments">No Attachments</li>
                        <li *ngIf="gettingAttachments">loading Attachments</li>
                </ul>
                <hr>
        </div>

</div>