<!--<div class="oj-panel composite-panel oj-hybrid-padding [[$properties.sizeClass]]"-->
<div class="oj-panel composite-panel oj-hybrid-padding oj-masonrylayout-tile-2x1">
    <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-center">

        <oj-avatar class="adaa-card-avatar" role="img" size="[[$properties.avatarSize]]" 
                   initials="[[$properties.initials]]">

        </oj-avatar>
    </div>
    
    <div class="oj-flex ">
        <div class="oj-flex-item oj-margin oj-sm-justify-content-center"
             style="text-align: center; background-color: #D2232A;width:10px;height:20px; border-radius: 5px;"> 
            <span><oj-bind-text value="[[$properties.moshratR]]"></oj-bind-text></span>
        </div>  
        <div class="oj-flex-item oj-margin"
             style="text-align: center; background-color: #FBD903;width:5px;height:20px; border-radius: 5px;">
            <span><oj-bind-text value="[[$properties.moshratY]]"></oj-bind-text></span> 
        </div>  
        <div class="oj-flex-item oj-margin"
             style="text-align: center; background-color: #4AB430;width:10px;height:20px; border-radius: 5px;"> 
            <span><oj-bind-text value="[[$properties.moshratG]]"></oj-bind-text></span> 
        </div>  
        <div class="oj-flex-item oj-margin"
             style="text-align: center; background-color: #BABABA;width:10px;height:20px; border-radius: 5px;"> 
            <span><oj-bind-text value="[[$properties.moshratS]]"></oj-bind-text></span> 
        </div>  
    </div>
    
    <div class="oj-flex ">
        <div class="oj-flex-item oj-margin"
             style="text-align: center; background-color: #D2232A;width:20px;height:20px; border-radius: 10px;"> 
            <span><oj-bind-text value="[[$properties.mobadratR]]"></oj-bind-text></span> 
        </div>  
        <div class="oj-flex-item oj-margin"
             style="text-align: center; background-color: #FBD903;width:20px;height:20px; border-radius: 10px;"> 
            <span><oj-bind-text value="[[$properties.mobadratY]]"></oj-bind-text></span> 
        </div>  
        <div class="oj-flex-item oj-margin"
             style="text-align: center; background-color: #4AB430;width:20px;height:20px; border-radius: 10px;">
            <span><oj-bind-text value="[[$properties.mobadratG]]"></oj-bind-text></span> 
        </div>  
        <div class="oj-flex-item oj-margin"
             style="text-align: center; background-color: #BABABA;width:20px;height:20px; border-radius: 10px;"> 
            <span><oj-bind-text value="[[$properties.mobadratS]]"></oj-bind-text></span>
        </div>  
    </div>
    
</div>
