
/* .modal-header {
    padding-bottom: 0px !important;
} */

/****************navigate (pending , assigned********************/
#StcFocal .navigate {
    margin-bottom: 30px;
}

#StcFocal .navigate ul li {
    margin-right: 25px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: #999;
}

.actLi {
    color: black !important;
}
/****************batch ****************/
#StcFocal .batch {
    min-height: 50px;
    background-color: #eee;
    padding: 20px;
    margin-bottom: 30px;
}

#StcFocal .batch i {
    cursor: pointer;
    color: #712c81;
    font-size: 20px;
}

/* .modal-body {
    padding: 20px 30px 0px;
} */

.modal-footer {
    border-top: none !important;
}

.modal-footer button {
    margin: 0 auto;
    background-color: #712c81;
    color: white;
    border: none;
    box-shadow: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 12px;
}
/**********************assigned head info**********************/
#StcFocal .headInfo {
    margin-bottom: 30px;
}
#StcFocal .headInfo .con-image  {
    position: relative;
    height: 80px;
}
#StcFocal .headInfo .con-image img{
    border-radius: 50%;
}
#StcFocal .headInfo .name {
    color: black;
    font-weight: bold;
    padding-left: 0px;
    font-size: 18px;
    padding-left: 0px;
    margin-bottom: 10px;
}
#StcFocal .headInfo .jobTitle {
    color: #999;
    font-size: 16px;
    padding-left: 0px;
}

#StcFocal .headInfo .workload {
    margin: auto;
    margin-top: 14px
}

#StcFocal .headInfo .workload span {
    margin-bottom: 5px;
    color: #999;
    font-size: 14px;
}

#StcFocal .headInfo .workload .progress {
    width: 100%;
    height: 0.7rem;
    background-color: #ddd;
}

#StcFocal .headInfo .workload .progress-bar {
    background-color: #712c81;
}
/*****************************************************/
/*******************fancyline*************************/
.fancy-line {
    border: 0;
    height: 6px;
    position: relative;
    margin: 0.5em 0;
}

.fancy-line:before {
    top: -0.5em;
    height: 1em;
}

.fancy-line:after {
    height: 3px;
    top: 1;
}

.fancy-line:before, .fancy-line:after {
    content: '';
    position: absolute;
}

.fancy-line, .fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
}

.fancy-line:after {
    background: #f4f4f4;
}
/******************************************************************/
/**********************pending employess  view temp *****************/
 #StcFocal.viewModalLebal {
    font-weight: 400;
    font-size: 13px;
}
/********************************************************************/
/* .bacthTitle {
    font-size: 13px;
}  */

/**********************************************************/
/************************pending employee*****************/
#StcFocal #searchEmpVisible {
    background: #eeeeee;
    position: fixed;
    bottom: 0px;
    right: 10px;
    min-width: 250px;
    z-index:8
}
#StcFocal #searchEmpVisible.showLabels {
    /* display: inline-flex; */
    width: 100%;
    cursor: pointer;
}

#StcFocal searchEmpVisible .itemStyle {
    margin-right: 0px;
    margin-left: 0px;
}
#StcFocal #searchEmpVisible .con-image
{
    height: 60px;
}
#StcFocal #searchEmpVisible .con-image img
{
    border-radius: 50%;
}
#StcFocal #searchEmpVisible .emp {
    padding-bottom: 3px;
}

#StcFocal #searchEmpVisible .job {
    padding-left: 10px;
    padding-bottom: 3px;
    color: #999;
}

#StcFocal #searchEmpVisible .SearchEmpBtn {
    border: none;
    background: none;
}

#StcFocal #searchEmpVisible .list {
    background-color: #FFF;
    overflow-y: scroll;
    max-height: 400px;
    overflow-x: hidden;
    height: 340px;
    max-width: 300px;
    color: #333;
    margin: 5px 10px auto;
    padding: 10px;
}

#StcFocal #searchEmpVisible .form-control {
    border: 1px solid #712c81;
}

#StcFocal #searchEmpVisible  input::placeholder {
    color: #712c81;
    opacity: 1;
}

#StcFocal #searchEmpVisible  input:-ms-input-placeholder {
    color: #712c81;
}

#StcFocal #searchEmpVisible  input::-ms-input-placeholder {
    color: #712c81;
}

#StcFocal #searchEmpVisible  .empBatch {
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
}

#StcFocal #searchEmpVisible  i {
    cursor: pointer;
    color: #712c81;
    font-size: 20px;
    float: right;
}
#StcFocal #searchEmpVisible .pName {
    font-size: 15px;
    font-weight: 700;
}

#StcFocal #searchEmpVisible.filterEmp {
    margin-bottom: 20px;
}

#StcFocal #searchEmpVisible .filterEmp .searchInput {
    margin: auto;
    margin-bottom: 15px;
}

.viewEmp {
    font-weight: 600;
    background-color: transparent;
    color: #712c81;
    border-radius: 10px;
    cursor: pointer;
    /* margin-left: 15px; */
    font-size: 12px;
    margin-bottom: 10px;
    /* padding: 0; */
}

.empSearch {
    font-family: Arial;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #712c81;
    background: none;
    /* margin: auto; */
    display: block;
    background-color: transparent;
    /* border-radius: 50px; */
    /* width: 100%; */
    font-size: 12px;
    margin: auto 15px;
}

.numberInvoices {
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    font-weight: 700;
    margin-left: 20px;
}

.invoices {
    margin-top: 30px;
    background-color: #fbfbfb;
    padding: 15px;
    border-radius: 10px;
    border-left-style: solid;
    border-left-width: 16px;
    border-left-color: #439775;
    box-shadow: 0 2px 20px 0px #e0e0e0;
}

.invDesc {
    font-weight: bold;
    color: #999;
    font-size: 14px;
    line-height: 20px;
}

.date {
    color: #999;
    font-weight: 700;
    font-size: 13px;
    font-weight: bold;
}

.invoiceNo {
    font-weight: bold;
    color: #999;
    font-size: 14px;
    line-height: 20px;
}

.invNo {
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.liStyle {
    background-color: #ececec;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left:10px ;
}





#StcFocal.modal-title {
    margin-bottom: 6px;
    line-height: 1.5;
    margin-left: 15px;
}
/***************************check button***************************/
.pendingAssigned
{
    position: sticky ; top:0 ; z-index:888 ; background-color: white; padding: 15px 0px;
}
.pendingAssigned button 
{
    background-color: #712c81 ;
    border: none;
    color:white ;
    outline: none ;
    padding: 10px 25px;
    border-radius: 5px;
}
::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #712c81 !important;
}