<section id="StcFocal" *ngIf="!showLoadImage" class="text-start">



    <!-- pending and assign link  -->
    <div class="navigate">
        <ul class="list-unstyled list-inline noPaddingRight">
            <li class="list-inline-item" [ngClass]="{'actLi': ShowPending}"
                (click)='ShowPending=true ;searchItem.emit(true);'>
                {{ 'pending_label' | translation }}
                <span>({{masterObject.PENDING_LENGTH}})</span></li>
            <li class="list-inline-item" [ngClass]="{'actLi': !ShowPending}"
                (click)='ShowPending = false ;searchItem.emit(false);'>
                {{ 'assigned_label' | translation }}
                <span>({{masterObject.ASSIGNED_LENGTH}})</span></li>
            <li class="list-inline-item" *ngIf="!ShowPending">
                <mat-form-field>
                    <mat-label>{{'select_type' | translation}}</mat-label>
                    <mat-select [(ngModel)]="filterObj.selectedCode" required>
                        <ng-container *ngFor="let type of types">
                            <mat-option *ngIf="type.CODE != 'FOCALPOINT' && type.CODE != 'VP'" [value]="type.CODE">
                                {{type.DESCRIPTION}}
                                <!-- - {{getCountOfEmpsAndInvoicesByType(type)}} -->
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </li>
        </ul>
    </div>
    <!---------------------pending section --------------->

    <div *ngIf="ShowPending && masterObject.PENDING_LENGTH> 0 " class="text-start">
        <div #structure id="structure" cdkDropListGroup>
            <ngx-masonry [options]="myOptions">
                <div ngxMasonryItem style=" padding: 5px;" [ngStyle]="{'width':newWidth()+'px'}"
                    *ngFor="let batch of masterObject.pending">
                    <ng-container *ngIf="!batch.invisable">
                        <div class="batch">
                            <h6 class="batchName bacthTitle" (click)="batch.hide = !batch.hide">
                                <div class="row">
                                    <div class="col-10 text-start">
                                        <span> {{'batchName' | translation }} {{batch.name}}</span>
                                    </div>
                                    <div class="col-2 text-end">
                                        <i class="fa"
                                            [ngClass]="{'fa-minus-circle':!batch.hide,'fa-plus-circle':batch.hide}"
                                            aria-hidden="true"></i>
                                    </div>
                                </div>
                            </h6>
                            <ng-container *ngIf="!batch.hide">
                                <div
                                    *ngFor="let pendingInvoice of batch.invoices|arrayPriority |sortHidden; index as i;">
                                    <div cdkDropList [id]='batch.name' cdkDropListConnectedTo="[emp]"
                                        [cdkDropListData]="batch.invoices" (cdkDropListDropped)="dropAssign($event)">

                                        <ng-container
                                            *ngIf=" batch.loaded<checkHidden(batch)?i<batch.loaded:i<checkHidden(batch)">
                                            <app-invoice-card [invoiceData]="pendingInvoice" [invoiceType]="'pending'"
                                                [theme]="theme" (onRefresh)="onRefresh()" [cdkDragData]="pendingInvoice"
                                                cdkDrag>
                                            </app-invoice-card>
                                        </ng-container>
                                    </div>
                                </div>

                                <div *ngIf="ShowPending" id="searchEmpVisible" class="searchEmp">
                                    <div class="showLabels" (click)="isSearchEmpBox = !isSearchEmpBox">
                                        <div class="row">
                                            <div class="col-9">

                                                <h6 class="empBatch">{{'AllEmployees'|translation}}</h6>
                                            </div>
                                            <div class="col-3 my-auto text-center">
                                                <button class="SearchEmpBtn"><i
                                                        [ngClass]=" isSearchEmpBox? 'fa-minus-circle' : 'fa-plus-circle'"
                                                        class="fa"></i></button>
                                            </div>
                                        </div>

                                    </div>
                                    <div id="visibleEmp" *ngIf="isSearchEmpBox">
                                        <div class="filterEmp">
                                            <input class="form-control searchInput col-sm-8" type="text" name="search"
                                                [(ngModel)]="searchText" autocomplete="off" class="empSearch"
                                                placeholder="&#xF002; {{ 'search_label' | translation }}"
                                                style="font-family:Arial, FontAwesome !important"
                                                onfocus="this.placeholder=''"
                                                onblur="this.placeholder='&#xF002; Search'">
                                        </div>
                                        <ul class="list">

                                            <li #emp="cdkDropList"
                                                *ngFor="let n of getAllUs| filter:searchText; index as i"
                                                class="liStyle" [id]="n.PERSON_ID" cdkDropList
                                                [cdkDropListData]="getAllUs" (cdkDropListDropped)="dropAssign($event)">
                                                <div class="row itemStyle">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3"
                                                        style="padding:5px 7px">
                                                        <div class="con-image">
                                                            <img src="{{common.getUserImageById(n.PERSON_ID)}}">
                                                        </div>
                                                    </div>
                                                    <div class=" col-lg-9 col-md-9 col-sm-9 col-9 "
                                                        [ngStyle]="{'margin-top':'24px' , 'text-align':'center'}">
                                                        <h6 class="pName text-start"> {{n.PERSON_NAME}} </h6>
                                                        <h6 class="job text-start" [ngStyle]="{'color':'#888'}">
                                                            {{n.PERSON_TYPE_CODE | translation }}</h6>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class=" col-lg-12 col-md-12 col-sm-12 text-end">
                                                        <button class="btn viewEmp"
                                                            (click)="open(mymodal,n.PERSON_NAME)">
                                                            {{'view'|translation}}
                                                        </button>
                                                    </div>
                                                </div>

                                            </li>

                                        </ul>
                                    </div>
                                    <!-- end drag pending-->
                                </div>

                                <div class="row">
                                    <div class="col-6 text-start">
                                        <button class="showMore" *ngIf="checkHidden(batch)> batch.loaded "
                                            (click)="batch.loaded = batch.loaded+masterObject.MAX_LOADED">{{'ShowMore'|translation}}<i
                                                class="fa fa-angle-double-down" aria-hidden="true"></i></button>
                                    </div>
                                    <div class="col-6 text-end">
                                        <button class="showMore" *ngIf="batch.loaded>masterObject.MAX_LOADED "
                                            (click)="batch.loaded = batch.loaded-masterObject.MAX_LOADED">{{'ShowLess'|translation}}
                                            <i class="fa fa-angle-double-down" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>

                    </ng-container>
                </div>
            </ngx-masonry>
        </div>
    </div>

    <!-------------------Assigned Section--------->
    <div *ngIf="!ShowPending">
        <div #structure id="structure" cdkDropListGroup>

            <div>
                <ngx-masonry [options]="myOptions">
                    <div *ngFor="let emp of masterObject.assigned">
                        <div *ngIf="!emp.invisable && (filterObj.selectedCode =='all' || emp.TYPE == filterObj.selectedCode)"
                            ngxMasonryItem style="padding: 5px;" [ngStyle]="{'width':newWidth()+'px'}">


                            <div class="headInfo">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">

                                        <div class="con-image">

                                            <img src="{{common.getUserImageById(emp.id)}}">
                                        </div>
                                    </div>

                                    <div class="col-lg-8 col-md-8 col-sm-8 col-8 my-auto ">

                                        <h6 class="name">{{emp.name|employeeName}}</h6>
                                        <h6 class="jobTitle">{{emp.TYPE}}</h6>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-10 col-md-10 col-xs-10  workload">
                                        <ng-container>
                                            <span>{{'workLoad' | translation }}</span> <span class=""
                                                [ngClass]="trans.direction() !='rtl'?'floatRight':'floatLeft'">{{emp.workload}}%</span><span
                                                class="clr"></span>
                                            <div class="progress ">
                                                <div class="progress-bar" [ngStyle]="{'width':emp.workload+ '%'}">
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div [id]="emp.id" *ngFor="let batch of emp.batches " cdkDropList
                                [cdkDropListData]="batch.invoices" (cdkDropListDropped)="drop($event)">
                                <div *ngIf="!batch.invisable" class="batch">

                                    <h6 class="batchName bacthTitle" (click)="batch.hide = !batch.hide">
                                        <div class="row">
                                            <div class="col-10 text-start">
                                                <span> {{'batchName' | translation }} {{batch.name}}</span>
                                            </div>
                                            <div class="col-2 text-end">
                                                <i class="fa"
                                                    [ngClass]="{'fa-minus-circle':!batch.hide,'fa-plus-circle':batch.hide}"
                                                    aria-hidden="true"></i>
                                            </div>
                                        </div>

                                    </h6>
                                    <ng-container *ngIf="!batch.hide">
                                        <div *ngFor="let invoice of batch.invoices|sortHidden;index as i">

                                            <div [ngClass]="invoice.LeftPercent > 66 ? 'animationRed' :  (invoice.LeftPercent > 33 ? 'animationYellow':'restAnimation')"
                                                *ngIf="batch.loaded<checkHidden(batch)?i<batch.loaded:i<checkHidden(batch)">
                                                <app-invoice-card [invoiceData]="invoice" [invoiceType]="'assigned'" (click)="log(invoice)"
                                                    [theme]="theme" (onRefresh)="onRefresh()" [cdkDragData]="invoice"
                                                    cdkDrag>
                                                </app-invoice-card>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-start">
                                                <button class="showMore" *ngIf="checkHidden(batch)> batch.loaded"
                                                    (click)="batch.loaded = batch.loaded+masterObject.MAX_LOADED">{{'ShowMore'|translation}}<i
                                                        class="fa fa-angle-double-down" aria-hidden="true"></i></button>
                                            </div>
                                            <div class="col-6 text-end">
                                                <button class="showMore" *ngIf="batch.loaded>masterObject.MAX_LOADED "
                                                    (click)="batch.loaded = batch.loaded-masterObject.MAX_LOADED">{{'ShowLess'|translation}}<i
                                                        class="fa fa-angle-double-down" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="fancy-line"></div>
                        </div>
                    </div>
                </ngx-masonry>
            </div>
        </div>
    </div>

    <!-----pending array empty------>
    <div class="text-center" *ngIf="ShowPending && masterObject.PENDING_LENGTH == 0 ">
        {{'noPendingInvoiceAvailable' | translation }}
    </div>

</section>
<app-dashboard-placeholder *ngIf="showLoadImage"></app-dashboard-placeholder>

<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Invoice Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-4 text-start">
                <h6 class="batchData viewModalLebal">{{'Employee' | translation }} : <span
                        class="batchName">{{empName}}</span>
                </h6>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-4 text-start">
                <h6 class="batchData">{{'Employee_type' | translation }} : <span class="batchName">{{empType}}</span>
                </h6>
            </div>
        </div>
        <hr>
        <div class="invoiceDetails">
            <div *ngFor="let personInvoice of peronsInvoices">
                <div class="invoices">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 my-auto text-start ">
                            <h6 class="invoiceNo">{{'invoiceNo' | translation }} :
                                <span class="batchName">{{personInvoice.INVOICE_NUM}}</span>
                            </h6>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 my-auto text-start">
                            <h6 class="date">{{'invoiceDate' | translation }} :
                                <span class="batchName">{{personInvoice.INVOICE_DATE|date}}</span>
                            </h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-sm-12 my-auto text-start ">
                            <h6 class="invDesc">{{'invoiceDescription' | translation }}
                                <span class="batchName">{{personInvoice.DESCRIPTION}}</span>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row numberInvoices text-start">
            <h6>{{'numberInvoices' | translation}}<span class="invNo">{{peronsInvoices.length}}</span></h6>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>