<!--
 Copyright (c) 2014, 2020, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-padding">
  <h1>Object Group</h1>
  <div id="header-wrap">
    <!-- Messages -->
    <div id="notificationMessages">
      <oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
      </oj-messages>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 text-right">
        <oj-button on-oj-action="[[gotoIndex]]" id='keyword-search-btn' disabled='[[advanceDisable]]'>
          <span>
            Cancel
          </span>
        </oj-button>
        <oj-button on-oj-action="[[createObjectGroup]]" id='keyword-search-btn' disabled='[[advanceDisable]]'>
          <span>
            Submit
          </span>
        </oj-button>
      </div>
    </div>
  </div>
  <div id="body-wrap" class="mt-3">
    <!-- Basic Data -->
    <div class="panel-custom p-4 border rounded-lg shadow-sm">
      <h5>Basic Data</h5>
      <div class="row">
        <div class="col-md-6">
          <table>
            <tr class="p-2">
              <td class="text-left"><strong>Name:</strong> <oj-bind-text value="[[createName]]"></oj-bind-text></td>
            </tr>
            <!-- <tr class="p-2">
              <td class="text-right"><strong>Type:</strong></td>
              <td class="pl-1 text-left"><oj-bind-text value="[[createType]]"></oj-bind-text></td>
            </tr> -->
          </table> 
        </div>
        <div class="col-md-6">
          <table>
            <tr class="p-2">
              <td class="text-left"><strong>Start Date:</strong> <oj-bind-text value="[[createStartDate]]"></oj-bind-text></td>
            </tr>
            <tr class="p-2">
              <td class="text-left"><strong>End Date:</strong> <oj-bind-text value="[[createEndDate]]"></oj-bind-text></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- Element Classification Inclusions and Exclusions -->
    <div class="panel-custom mt-5 p-4 border rounded-lg shadow-sm">
      <h5>Element Classification Inclusions and Exclusions</h5>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <oj-input-text aria-label="Search Keyword" placeholder="Enter search keyword"></oj-input-text>
          <oj-button id='search-elementClassification-btn' disabled='[[advanceDisable]]'>
            Search
          </oj-button>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <oj-button id='add-elementClassification-btn' disabled='[[advanceDisable]]' on-oj-action="[[openListenerElementClassification]]">
            <span><i class="fas fa-plus pr-2"></i> Insert Element Classification</span>
          </oj-button>
        </div>
      </div>

      <!-- add element classification modal -->
      <oj-popup id="add-elementClassification-modal" class="demo-popup" tail="none" position.my.horizontal="center" position.my.vertical="top"
        position.at.horizontal="center" position.at.vertical="top" position.of="window" position.offset.y="50"
        modality="modal" on-oj-animate-start="[[startAnimationListenerElementClassification]]" style="width: 500px">
        <div class="demo-popup-body">
          <div class="demo-popup-header">
            <h5>Search and Select Element Classification</h5>
          </div>
          <div class="demo-popup-content">
            <div id="header-elementClassification-modal">
              <oj-input-text aria-label="Lookup Keyword"></oj-input-text>
              <oj-button id='lookup-elementClassification-btn' disabled='[[advanceDisable]]'>
                Search
              </oj-button>
              <oj-button id='lookup-elementClassification-btn' disabled='[[advanceDisable]]'>
                Reset
              </oj-button>
            </div>
            <div id="table-elementClassification-modal" class="p-2 border rounded-lg">
              <oj-table id='search-elementClassification-table' aria-label='Object Group Table' data='[[dataProviderInsertElementClassification]]'
                selection-mode='{"row": "multiple", "column": "multiple"}' dnd='{"reorder": {"columns": "enabled"}}'
                on-oj-before-current-row = "[[tableSelectionListenerInsertElementClassification]]"
                scroll-policy='loadMoreOnScroll' scroll-policy-options='{"fetchSize": 10}' 
                columns='[{"headerText": "No.", "field": "num", "className": "oj-sm-only-hide", "headerStyle": "width: 10px;", "resizable": "disabled"},
                        {"headerText": "Name", "field": "name", "resizable": "enabled"}]'
                style='width: 100%; max-height: 400px;'>
              </oj-table>
            </div>
          </div>
          <div class="mt-2 demo-popup-footer text-right">
            <oj-button id="create-elementClassification-cancel-btn" on-oj-action="[[cancelListenerElementClassification]]">
              Cancel
            </oj-button>
            <oj-button id="create-elementClassification-btn" class="ml-2" on-oj-action="[[insertElementClassification]]">
              Insert
            </oj-button>
          </div>
        </div>
      </oj-popup>

      <div class="mt-3 p-2 border rounded-lg">
        <oj-table id='elementClassification-table' aria-label='Object Group Table' data='[[dataProviderElementClassification]]'
          selection-mode='{"row": "multiple", "column": "multiple"}' dnd='{"reorder": {"columns": "enabled"}}'
          on-oj-before-current-row = "[[tableSelectionListenerElementClassification]]"
          scroll-policy='loadMoreOnScroll' scroll-policy-options='{"fetchSize": 10}' 
          columns='[{"headerText": "No.", "field": "num", "className": "oj-sm-only-hide", "headerStyle": "width: 10px;", "resizable": "disabled"},
                  {"headerText": "Name", "field": "name", "resizable": "enabled"},
                  {"headerText": "*Inclusion Status", "field": "inclusionStatus", "headerStyle": "width: 20px;", "template": "inclusionStatusTemplate"},
                  {"headerText": "Action", "field": "action", "headerStyle": "width: 10px;", "template": "actionTemplate"}]'
          style='width: 100%; max-height: 400px;'>
  
          <template slot="inclusionStatusTemplate" data-oj-as="cell">
            <oj-combobox-one aria-label="inclusion status" value="[[cell.data]]" style="max-width:20em" placeholder="Select option">
              <oj-option value="include">Include</oj-option>
              <oj-option value="exclude">Exclude</oj-option>
            </oj-combobox-one>
          </template>

          <template slot="actionTemplate" data-oj-as="cell">
            <oj-bind-if test='[[cell.mode=="navigation"]]'>
              <oj-button id='remove-elementClassification-btn' on-oj-action="[[removeElementClassification]]" disabled='[[advanceDisable]]'>
                <i class="far fa-trash-alt"></i>
              </oj-button>
            </oj-bind-if>
          </template>
        </oj-table>
      </div>
    </div>

    <!-- Element Inclusions and Exclusions -->
    <div class="panel-custom mt-5 p-4 border rounded-lg shadow-sm">
      <h5>Element Inclusions and Exclusions</h5>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <oj-input-text aria-label="Search Keyword" placeholder="Enter search keyword"></oj-input-text>
          <oj-button id='search-element-btn' disabled='[[advanceDisable]]'>
            Search
          </oj-button>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <oj-button id='add-element-btn' disabled='[[advanceDisable]]' on-oj-action="[[openListenerElement]]">
            <span><i class="fas fa-plus pr-2"></i> Insert Element</span>
          </oj-button>
        </div>
      </div>

      <!-- add element classification modal -->
      <oj-popup id="add-element-modal" class="demo-popup" tail="none" position.my.horizontal="center" position.my.vertical="top"
        position.at.horizontal="center" position.at.vertical="top" position.of="window" position.offset.y="50"
        modality="modal" on-oj-animate-start="[[startAnimationListenerElement]]" style="width: 500px">
        <div class="demo-popup-body">
          <div class="demo-popup-header">
            <h5>Search and Select Element</h5>
          </div>
          <div class="demo-popup-content">
            <div id="header-element-modal">
              <oj-input-text aria-label="Lookup Keyword"></oj-input-text>
              <oj-button id='lookup-element-btn' disabled='[[advanceDisable]]'>
                Search
              </oj-button>
              <oj-button id='lookup-element-btn' disabled='[[advanceDisable]]'>
                Reset
              </oj-button>
            </div>
            <div id="table-element-modal" class="p-2 border rounded-lg">
              <oj-table id='search-element-table' aria-label='Object Group Table' data='[[dataProviderInsertElement]]'
                selection-mode='{"row": "multiple", "column": "multiple"}' dnd='{"reorder": {"columns": "enabled"}}'
                on-oj-before-current-row = "[[tableSelectionListenerInsertElement]]"
                scroll-policy='loadMoreOnScroll' scroll-policy-options='{"fetchSize": 10}' 
                columns='[{"headerText": "No.", "field": "num", "className": "oj-sm-only-hide", "headerStyle": "width: 10px;", "resizable": "disabled"},
                        {"headerText": "Name", "field": "name", "resizable": "enabled"}]'
                style='width: 100%; max-height: 400px;'>
              </oj-table>
            </div>
          </div>
          <div class="mt-2 demo-popup-footer text-right">
            <oj-button id="create-element-cancel-btn" on-oj-action="[[cancelListenerElement]]">
              Cancel
            </oj-button>
            <oj-button id="create-element-btn" on-oj-action="[[insertElement]]" class="ml-2">
              Insert
            </oj-button>
          </div>
        </div>
      </oj-popup>

      <div class="mt-3 p-2 border rounded-lg">
        <oj-table id='element-table' aria-label='Object Group Table' data='[[dataProviderElement]]'
          selection-mode='{"row": "multiple", "column": "multiple"}' dnd='{"reorder": {"columns": "enabled"}}'
          on-oj-before-current-row = "[[tableSelectionListenerElement]]"
          scroll-policy='loadMoreOnScroll' scroll-policy-options='{"fetchSize": 10}' 
          columns='[{"headerText": "No.", "field": "num", "className": "oj-sm-only-hide", "headerStyle": "width: 10px;", "resizable": "disabled"},
                  {"headerText": "Name", "field": "name", "resizable": "enabled"},
                  {"headerText": "*Inclusion Status", "field": "inclusionStatus", "headerStyle": "width: 20px;", "template": "inclusionStatusTemplate"},
                  {"headerText": "Action", "field": "action", "headerStyle": "width: 10px;", "template": "actionTemplate"}]'
          style='width: 100%; max-height: 400px;'>
  
          <template slot="inclusionStatusTemplate" data-oj-as="cell">
            <oj-combobox-one aria-label="inclusion status" value="[[cell.data]]" style="max-width:20em" placeholder="Select option">
              <oj-option value="include">Include</oj-option>
              <oj-option value="exclude">Exclude</oj-option>
            </oj-combobox-one>
          </template>

          <template slot="actionTemplate" data-oj-as="cell">
            <oj-bind-if test='[[cell.mode=="navigation"]]'>
              <oj-button id='remove-element-btn' on-oj-action="[[removeElement]]" disabled='[[advanceDisable]]'>
                <i class="far fa-trash-alt"></i>
              </oj-button>
            </oj-bind-if>
          </template>
        </oj-table>
      </div>
    </div>
  </div>
</div>