<!--
 Copyright (c) 2014, 2020, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-padding">
  <h1>Object Group</h1>
  <div id="header-wrap">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <oj-button on-oj-action="[[gotoIndex]]" id='keyword-search-btn' disabled='[[advanceDisable]]'>
          <span><i class="fas fa-chevron-left"></i> Back</span></span>
        </oj-button>  
      </div>
      <div class="col-sm-12 col-md-6 text-right">
        <oj-button id='keyword-search-btn' on-oj-action="[[updateObjectGroup]]" disabled='[[advanceDisable]]'>
          Save Changes
        </oj-button>
      </div>
    </div>
  </div>
  <div id="body-wrap" class="mt-3">
    <!-- Basic Data -->
    <div class="panel-custom p-4 border rounded-lg shadow-sm">
      <h5>Basic Data</h5>
      <div id="validation-usecase">
        <oj-validation-group id="edit-tracker">
          <oj-form-layout max-columns="1" id="fl1">
            <oj-input-text required value="{{editName}}" autocomplete="off"
              label-hint="Name" style="max-width: 100%;">
            </oj-input-text>
          </oj-form-layout>
          <oj-form-layout max-columns="2" id="fl2">
            <!-- <oj-combobox-one required value="{{editType}}" placeholder="Select option"
              label-hint="Type" style="max-width: 100%;">
              <oj-option value="element group">Element Group</oj-option>
              <oj-option value="payroll relationship">Payroll Relationship</oj-option>
            </oj-combobox-one> -->
            <oj-input-date converter=[[dateFormat]] value="{{editStartDate}}" required
              label-hint="Start-Date" style="max-width: 100%;">
            </oj-input-date>
            <oj-input-date converter=[[dateFormat]] value="{{editEndDate}}" label-hint="End-Date"
              style="max-width: 100%;">
            </oj-input-date>             
          </oj-form-layout>
        </oj-validation-group>
      </div>
    </div>

    <!-- Element Classification Inclusions and Exclusions -->
    <div class="panel-custom mt-5 p-4 border rounded-lg shadow-sm">
      <h5>Element Classification Inclusions and Exclusions</h5>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <oj-input-text aria-label="Search Keyword" placeholder="Enter search keyword"></oj-input-text>
          <oj-button id='search-elementClassification-btn' disabled='[[advanceDisable]]'>
            Search
          </oj-button>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <oj-button id='add-elementClassification-btn' disabled='[[advanceDisable]]' on-oj-action="[[openListenerElementClassification]]">
            <span><i class="fas fa-plus pr-2"></i> Insert Element Classification</span>
          </oj-button>
        </div>
      </div>

      <!-- add element classification modal -->
      <oj-popup id="add-elementClassification-modal" class="demo-popup" tail="none" position.my.horizontal="center" position.my.vertical="top"
        position.at.horizontal="center" position.at.vertical="top" position.of="window" position.offset.y="50"
        modality="modal" on-oj-animate-start="[[startAnimationListenerElementClassification]]" style="width: 500px">
        <div class="demo-popup-body">
          <div class="demo-popup-header">
            <h5>Search and Select Element Classification</h5>
          </div>
          <div class="demo-popup-content">
            <div id="header-elementClassification-modal">
              <oj-input-text aria-label="Lookup Keyword"></oj-input-text>
              <oj-button id='lookup-elementClassification-btn' disabled='[[advanceDisable]]'>
                Search
              </oj-button>
              <oj-button id='lookup-elementClassification-btn' disabled='[[advanceDisable]]'>
                Reset
              </oj-button>
            </div>
            <div id="table-elementClassification-modal" class="p-2 border rounded-lg">
              <oj-table id='search-elementClassification-table' aria-label='Object Group Table' data='[[dataProviderInsertElementClassification]]'
                selection-mode='{"row": "multiple", "column": "multiple"}' dnd='{"reorder": {"columns": "enabled"}}'
                on-oj-before-current-row = "[[tableSelectionListenerInsertElementClassification]]"
                scroll-policy='loadMoreOnScroll' scroll-policy-options='{"fetchSize": 10}' 
                columns='[{"headerText": "No.", "field": "num", "className": "oj-sm-only-hide", "headerStyle": "width: 10px;", "resizable": "disabled"},
                        {"headerText": "Name", "field": "name", "resizable": "enabled"}]'
                style='width: 100%; max-height: 400px;'>
              </oj-table>
            </div>
          </div>
          <div class="mt-2 demo-popup-footer text-right">
            <oj-button id="create-elementClassification-cancel-btn" on-oj-action="[[cancelListenerElementClassification]]">
              Cancel
            </oj-button>
            <oj-button id="create-elementClassification-btn" class="ml-2" on-oj-action="[[insertElementClassification]]">
              Insert
            </oj-button>
          </div>
        </div>
      </oj-popup>

      <div class="mt-3 p-2 border rounded-lg">
        <oj-table id='elementClassification-table' aria-label='Object Group Table' data='[[dataProviderElementClassification]]'
          selection-mode='{"row": "multiple", "column": "multiple"}' dnd='{"reorder": {"columns": "enabled"}}'
          on-oj-before-current-row = "[[tableSelectionListenerElementClassification]]"
          scroll-policy='loadMoreOnScroll' scroll-policy-options='{"fetchSize": 10}' 
          columns='[{"headerText": "No.", "field": "num", "className": "oj-sm-only-hide", "headerStyle": "width: 10px;", "resizable": "disabled"},
                  {"headerText": "Name", "field": "name", "resizable": "enabled"},
                  {"headerText": "*Inclusion Status", "field": "inclusionStatus", "headerStyle": "width: 20px;", "template": "inclusionStatusTemplate"},
                  {"headerText": "Action", "field": "action", "headerStyle": "width: 10px;", "template": "actionTemplate"}]'
          style='width: 100%; max-height: 400px;'>
  
          <template slot="inclusionStatusTemplate" data-oj-as="cell">
            <oj-combobox-one aria-label="inclusion status" value="[[cell.data]]" style="max-width:20em" placeholder="Select option">
              <oj-option value="include">Include</oj-option>
              <oj-option value="exclude">Exclude</oj-option>
            </oj-combobox-one>
          </template>

          <template slot="actionTemplate" data-oj-as="cell">
            <oj-bind-if test='[[cell.mode=="navigation"]]'>
              <oj-button id='remove-elementClassification-btn' on-oj-action="[[removeElementClassification]]" disabled='[[advanceDisable]]'>
                <i class="far fa-trash-alt"></i>
              </oj-button>
            </oj-bind-if>
          </template>
        </oj-table>
      </div>
    </div>

    <!-- Element Inclusions and Exclusions -->
    <div class="panel-custom mt-5 p-4 border rounded-lg shadow-sm">
      <h5>Element Inclusions and Exclusions</h5>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <oj-input-text aria-label="Search Keyword" placeholder="Enter search keyword"></oj-input-text>
          <oj-button id='search-element-btn' disabled='[[advanceDisable]]'>
            Search
          </oj-button>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <oj-button id='add-element-btn' disabled='[[advanceDisable]]' on-oj-action="[[openListenerElement]]">
            <span><i class="fas fa-plus pr-2"></i> Insert Element</span>
          </oj-button>
        </div>
      </div>

      <!-- add element classification modal -->
      <oj-popup id="add-element-modal" class="demo-popup" tail="none" position.my.horizontal="center" position.my.vertical="top"
        position.at.horizontal="center" position.at.vertical="top" position.of="window" position.offset.y="50"
        modality="modal" on-oj-animate-start="[[startAnimationListenerCreateObjectGroup]]" style="width: 500px">
        <div class="demo-popup-body">
          <div class="demo-popup-header">
            <h5>Search and Select Element</h5>
          </div>
          <div class="demo-popup-content">
            <div id="header-element-modal">
              <oj-input-text aria-label="Lookup Keyword"></oj-input-text>
              <oj-button id='lookup-element-btn' disabled='[[advanceDisable]]'>
                Search
              </oj-button>
              <oj-button id='lookup-element-btn' disabled='[[advanceDisable]]'>
                Reset
              </oj-button>
            </div>
            <div id="table-element-modal" class="p-2 border rounded-lg">
              <oj-table id='search-element-table' aria-label='Object Group Table' data='[[dataProviderInsertElement]]'
                selection-mode='{"row": "multiple", "column": "multiple"}' dnd='{"reorder": {"columns": "enabled"}}'
                on-oj-before-current-row = "[[tableSelectionListenerInsertElement]]"
                scroll-policy='loadMoreOnScroll' scroll-policy-options='{"fetchSize": 10}' 
                columns='[{"headerText": "No.", "field": "num", "className": "oj-sm-only-hide", "headerStyle": "width: 10px;", "resizable": "disabled"},
                        {"headerText": "Name", "field": "name", "resizable": "enabled"}]'
                style='width: 100%; max-height: 400px;'>
              </oj-table>
            </div>
          </div>
          <div class="mt-2 demo-popup-footer text-right">
            <oj-button id="create-objectgroup-cancel-btn" on-oj-action="[[cancelListenerElement]]">
              Cancel
            </oj-button>
            <oj-button id="create-objectgroup-btn" on-oj-action="[[insertElement]]" class="ml-2">
              Insert
            </oj-button>
          </div>
        </div>
      </oj-popup>

      <div class="mt-3 p-2 border rounded-lg">
        <oj-table id='element-table' aria-label='Object Group Table' data='[[dataProviderElement]]'
          selection-mode='{"row": "multiple", "column": "multiple"}' dnd='{"reorder": {"columns": "enabled"}}'
          on-oj-before-current-row = "[[tableSelectionListenerElement]]"
          scroll-policy='loadMoreOnScroll' scroll-policy-options='{"fetchSize": 10}' 
          columns='[{"headerText": "No.", "field": "num", "className": "oj-sm-only-hide", "headerStyle": "width: 10px;", "resizable": "disabled"},
                  {"headerText": "Name", "field": "name", "resizable": "enabled"},
                  {"headerText": "*Inclusion Status", "field": "inclusionStatus", "headerStyle": "width: 20px;", "template": "inclusionStatusTemplate"},
                  {"headerText": "Action", "field": "action", "headerStyle": "width: 10px;", "template": "actionTemplate"}]'
          style='width: 100%; max-height: 400px;'>
  
          <template slot="inclusionStatusTemplate" data-oj-as="cell">
            <oj-combobox-one aria-label="inclusion status" value="[[cell.data]]" style="max-width:20em" placeholder="Select option">
              <oj-option value="include">Include</oj-option>
              <oj-option value="exclude">Exclude</oj-option>
            </oj-combobox-one>
          </template>

          <template slot="actionTemplate" data-oj-as="cell">
            <oj-bind-if test='[[cell.mode=="navigation"]]'>
              <oj-button id='remove-element-btn' on-oj-action="[[removeElement]]" disabled='[[advanceDisable]]'>
                <i class="far fa-trash-alt"></i>
              </oj-button>
            </oj-bind-if>
          </template>
        </oj-table>
      </div>
    </div>
  </div>
</div>