<div id="form-container" class="section-container">
    <h1 data-bind="text: MainLbl"></h1>

    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item">
            <!-- search area -->
            <div class="oj-form-layout">
                <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

                    <div id="form-container" class="row">
                        <div class="btn_row_st">
                            <oj-label for="text"><span data-bind="text:projectNameLbl"></span></oj-label>
                            <oj-combobox-one class="form-control" size="25"
                                             selection-mode='{"row": "single", "column": "single"}' value="{{projectNameVal}}"
                                             options="{{projectsNameArr}}">
                            </oj-combobox-one>

                            <oj-label for="date"><span data-bind="text:projectNumberLbl"></span></oj-label>
                            <oj-combobox-one class="form-control" size="25"
                                             selection-mode='{"row": "single", "column": "single"}' value="{{projnumVal}}"
                                             options="{{projectsNumArr}}">
                            </oj-combobox-one>
                        </div>
                    </div>
                    <div id="form-container" class="row">
                        <div class="btn_row_st">

                            <oj-button  class="apBtn-2 apBtn-disabled btnStyle"
                                        on-oj-action='[[searchBtnAction]]'
                                        disabled='{{searchDisable}}'>
                                <span>
                                    <oj-bind-text value="[[searchLbl]]"></oj-bind-text>
                                </span>
                            </oj-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- projects table -->
    <!-- loadMoreOnScroll scroll-policy-options='{"fetchSize": 10}' -->
 <div id="form-container" class="section-container-2" data-bind="visible:projectsSearchResult().length > 0">
        <div>
            <oj-file-picker accept="[[acceptArr]]" name="file-picker" selection-mode="single"
                 class='oj-filepicker-custom' select-on='click'
                on-oj-select='[[selectListener]]'>
                <oj-button  class="apBtn-2 apBtn-disabled btnStyle" disabled="{{!selectedProject().projectName}}" slot='trigger'>
                    Import Add/Update
                </oj-button>
            </oj-file-picker>
            <br/>
            <br/>
            <div>
            <oj-list-view id="listview" aria-label="list using observable array" style="display: inline-block;width: 30%;MARGIN-LEFT: 18PX;"
                          data="[[dataProviderAttachment]]" selection-mode="single" selection="{{selectedItemsAttachment}}">
                <template slot="itemTemplate">
                    <span id="selected"><oj-bind-text value="[[$current.data.name]]"></oj-bind-text></span>
                </template>
            </oj-list-view>
            <oj-button style="display: inline-block" chroming="half" display="icons" data-bind="visible: selected_files().length > 0"
                on-oj-action='[[removePickerBtnAction]]'>
                <span slot='startIcon' class="oj-fwk-icon oj-fwk-icon-cross"></span>
            </oj-button>
                
             <oj-button style="display: inline-block" data-bind="visible: selected_files().length > 0" on-oj-action='[[addVersionBtnAction]]'>
                <span>
                    <oj-bind-text value="[['Upload']]"></oj-bind-text>
                </span>
            </oj-button>
            <!--<span id="selected" data-bind="text: selected_files().length > 0?selected_files()[0].name : ''"></span>-->
          
        <br/>
        </div>
        <div class="oj-form search-form oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline">
            <oj-table id="projectsTable" class='apTable-1' aria-label='Projects Table' data='[[dataprovider]]'
                selection-mode='{"row": "none", "column": "none"}' dnd='{"reorder": {"columns": "enabled"}}'
                scroll-policy='auto' columns='[[columnArray]]'
                on-oj-before-current-row="[[projectsTableSelectionListener]]">
                <template slot="serTemplate" data-oj-as="cell">
                    <span data-bind="text:cell.index+1"></span>
                </template>
            </oj-table>
        </div>
    </div>

    <!-- versions table -->
    <div id="form-container" data-bind="visible:VersionsArr().length > 0" class="section-container-2">
          <div>

            <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[deleteBtnAction]]'>
                <span data-bind="text: deleteVersionLbl"></span>
            </oj-button>

            <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[exportBtnAction]]'>
                 <span data-bind="text: exportBudgetSheetLbl"></span>                
            </oj-button>

            <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[showBudgetTableBtn]]'>
                <span data-bind="text: showBudgetTableLbl"></span>                 
            </oj-button>
            <oj-button class="apBtn-2 apBtn-disabled btnStyle"  on-oj-action='[[showCostCategory]]'>
                <span data-bind="text: costCategoryLbl"></span>                 
            </oj-button>
           
            <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[reportBtn]]'disabled="{{reportBtnDisabled}}" >
                <span data-bind="text: reportsLbl"></span> 
            
            </oj-button>
                  <!---->
        </div>
        <br/>
        <br/>
        <div>
            <oj-table id="versionsTable" class='apTable-1' aria-label='Versions Table'
                      selection-mode='{"row": "single", "column": "none"}' data='[[VersionsArrDataprovider]]'
                      dnd='{"reorder": {"columns": "enabled"}}' scroll-policy='auto' columns='[[VersionsColumnArray]]'
                      on-oj-before-current-row="[[versionsTableSelectionListener]]">
                <template slot="verTemplate" data-oj-as="cell">

                    <oj-button data-bind="value:cell.row.planVersionId"
                               disabled="{{['Working','Current Working'].indexOf(cell.row.planVersionStatus) == -1}}"
                               on-oj-action='[[deleteBtnAction]]'>
                        <oj-bind-text value="[['Delete']]"></oj-bind-text>
                    </oj-button>

                </template>
            </oj-table>
        </div>
    </div>


    <!-- tasks/lines table -->
    <div id="form-container" class="section-container-2">
        <div>
            <oj-table id="linesTable" data-bind="visible:linesArr().length > 0" class='apTable-1'
                      aria-label='Lines Table' data='[[linesArrDataprovider]]' dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy='auto' selection-mode='{"row": "none", "column": "none"}' columns='[[linesColumnArray]]'>
                <template slot="resourceSerTemplate" data-oj-as="cell">
                    <input type="hidden" class="hiddenkeyHolder" data-bind="value:cell.row.PlanningElementId" />
                    <span data-bind="text:cell.index+1"></span>
                </template>
            </oj-table>
        </div>
    </div>

    <!-- resource details and discount -->
        <div id="dialogWrapper">
            <oj-dialog class="main-dialog main-dialog-width" id="resourceDialoge">
                <div slot="header" class="oj-helper-clearfix">
                    <label
                        data-bind="text: resourceToBeUpdated().ResourceName + ' - '+resourceToBeUpdated().TaskName "></label>
                </div>
                <div slot="body">
    
                    <div class="oj-flex oj-flex-items-pad">
    
                        <div class="oj-flex-item">
                            <oj-label for="date"><span data-bind="text:'EffectiveRawCostRate'"></span></oj-label>
                            <oj-input-text id="v1" on-value-changed="{{resourceUpdateInputesChangedListener}}"
                                disabled="[[['Working', 'Current Working'].indexOf(selectedVersion().planVersionStatus) == -1]]"
                                value="{{resourceToBeUpdated().EffectiveRawCostRate}}">
                            </oj-input-text>
                        </div>
                    </div>
    
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item">
                            <oj-label for="date"><span data-bind="text:'EffectiveRevenueRate'"></span></oj-label>
                            <oj-input-text id="v2" on-value-changed="{{resourceUpdateInputesChangedListener}}"
                                disabled="[[['Working', 'Current Working'].indexOf(selectedVersion().planVersionStatus) == -1]]"
                                value="{{resourceToBeUpdated().EffectiveRevenueRate}}">
                            </oj-input-text>
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item">
                            <oj-label for="date"><span data-bind="text:'Quantity'"></span></oj-label>
                            <oj-input-text id="v3" on-value-changed="{{resourceUpdateInputesChangedListener}}"
                                disabled="[[['Working', 'Current Working'].indexOf(selectedVersion().planVersionStatus) == -1]]"
                                value="{{resourceToBeUpdated().Quantity}}"> </oj-input-text>
                        </div>
           
                    </div>
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item">
                            <oj-label for="date"><span data-bind="text:'PCRawCostAmounts'"></span></oj-label>
                            <oj-input-text id="v4" on-value-changed="{{resourceUpdateInputesChangedListener}}"
                                disabled="[[['Working', 'Current Working'].indexOf(selectedVersion().planVersionStatus) == -1]]"
                                value="{{resourceToBeUpdated().PCRawCostAmounts}}">
                            </oj-input-text>
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item">
                            <oj-label for="date"><span data-bind="text:'PCRevenueAmounts'"></span></oj-label>
                            <oj-input-text id="v5" on-value-changed="{{resourceUpdateInputesChangedListener}}"
                                disabled="[[['Working', 'Current Working'].indexOf(selectedVersion().planVersionStatus) == -1]]"
                                value="{{resourceToBeUpdated().PCRevenueAmounts}}">
                            </oj-input-text>
                        </div>
                    </div>
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[updateResourceDataBtnAction]]'>
                        <span>
                            <oj-bind-text value="[['Save']]"></oj-bind-text>
                        </span>
                    </oj-button>
                </div>
            </oj-dialog>
        </div>

    <!--    <script type="text/html" id="cellTemplate">
            <span data-bind="text: $context.cell.data"></span>
        </script>
    
        <script type="text/html" id="editCellTemplate">
            <oj-input-text value="{{$context.cell.data}}"></oj-input-text>
        </script>
    
        <script type="text/html" id="header_template">
         ko if: $context.key=="pos"  <span data-bind="text: 'No.'"></span> /ko 
         ko if: $context.key=="costId"  <span data-bind="text: 'Cost Id'"></span> /ko 
         ko if: $context.key=="reference"  <span data-bind="text: 'Reference'"></span> /ko 
         ko if: $context.key=="partNo"  <span data-bind="text: 'Part No'"></span> /ko 
         ko if: $context.key=="supplier"  <span data-bind="text: 'Supplier'"></span> /ko 
         ko if: $context.key=="make"  <span data-bind="text: 'Make'"></span> /ko 
         ko if: $context.key=="description"  <span data-bind="text: 'Description'"></span> /ko 
         ko if: $context.key=="unit"  <span data-bind="text: 'Unit'"></span> /ko 
         ko if: $context.key=="currency"  <span data-bind="text: 'Currency'"></span> /ko 
         ko if: $context.key=="totalQty"  <span data-bind="text: 'Total Quantity'"></span> /ko 
         ko if: $context.key=="unitPrice"  <span data-bind="text: 'Unit Price'"></span> /ko 
         ko if: $context.key=="unitCostAed"  <span data-bind="text: 'Unit Cost AED'"></span> /ko 
         ko if: $context.key=="standardDiscount"  <span data-bind="text: 'Standard Discount'"></span> /ko 
         ko if: $context.key=="specialDiscount"  <span data-bind="text: 'Special Discount'"></span> /ko 
         ko if: $context.key=="gpEquipment"  <span data-bind="text: 'GP Equipment'"></span> /ko 
         ko if: $context.key=="fixedOverhead"  <span data-bind="text: 'Fixed Overhead'"></span> /ko 
         ko if: $context.key=="variableOverhead"  <span data-bind="text: 'Variable Overhead'"></span> /ko 
         ko if: $context.key=="unitCostAedDubai"  <span data-bind="text: 'Unit Cost AED Dubai'"></span>  /ko 
         ko if: $context.key=="totalCostAed"  <span data-bind="text: 'Total Cost AED'"></span> /ko 
         ko if: $context.key=="unitCostAEDDiscounted"  <span data-bind="text: 'Unit Cost AED Discounted'"></span>
         /ko 
         ko if: $context.key=="totalCostAEDDiscounted"  <span data-bind="text: 'Total Cost AED Discounted'"></span>
         /ko 
         ko if: $context.key=="summaryTotalPriceAed"  <span data-bind="text: 'summary Total Price Aed'"></span>
         /ko 
         ko if: $context.key=="unitPriceAed"  <span data-bind="text: 'Unit Price AED'"></span> /ko 
         ko if: $context.key=="totalPriceAed"  <span data-bind="text: 'Total Price AED'"></span> /ko 
    
        </script>-->

<!--     review excel data -->
        <div id="dialogWrapper">
            <oj-dialog class="main-dialog main-dialog-width" id="excelData">
                <div slot="header" class="oj-helper-clearfix">
                    <label data-bind="text:'Excel Sheet Data Review'"></label>
                </div>
                <div slot="body">
                    
                    <oj-data-grid header.column.resizable.width="enable"
                        data-bind="style:{height:((payload().length + 1) * 35)+'px'}" style="width:100%;"
                        header.column.style="width:100px" id="datagrid"
                        header.column.renderer="[[oj.KnockoutTemplateUtils.getRenderer('header_template')]]"
                        data='[[new oj.ArrayDataGridDataSource(payload())]]'>
                    </oj-data-grid>
                     </div> 
                </div>
            </oj-dialog>
        </div>

        <div id="dialogWrapper">
            <oj-dialog class="main-dialog main-dialog-width" id="addnewData">
                <div slot="header" class="oj-helper-clearfix">
                    <label data-bind="text:'Add/Update version'"></label>
                </div>
                <div slot="body">
    
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item">
                            <oj-checkboxset on-value-changed="{{updateselectedversioncheckboxchangelistener}}" disabled="false" value="{{isUpdateSelectedVersion}}">
                                <oj-option value="yes">
                                    <span data-bind="text: 'Update Selected Version('+ (selectedVersion().planVersionName ? selectedVersion().planVersionName : 'no verion selected')+ ')?'"></span>
                                </oj-option>
                            </oj-checkboxset>
                        </div>
                    </div>
    
                    <div class="oj-flex oj-flex-items-pad" data-bind="visible:isUpdateSelectedVersion().length == 0">
                        <div class="oj-flex-item">
                            <oj-label for="date"><span data-bind="text:'Version Name'"></span></oj-label>
                            <oj-input-text disabled="false" value="{{newVersionNameVal}}">
                            </oj-input-text>
                        </div>
                    </div>
    
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item">
                            <oj-label for="date"><span data-bind="text:'Plan Version Name'"></span></oj-label>
                            <oj-combobox-one disabled="false" class="form-control" size="25"
                                selection-mode='{"row": "single", "column": "single"}' value="{{newVersionPlanNameVal}}"
                                options="{{versionPlanNames}}">
                            </oj-combobox-one>
                        </div>
                    </div>
    
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item">
                            <oj-label for="date"><span data-bind="text:'Plan Version Status'"></span></oj-label>
                            <oj-combobox-one disabled="true" class="form-control" size="25"
                                selection-mode='{"row": "single", "column": "single"}' value="{{newVersionStatusVal}}"
                                options="{{versionPlanStatus}}">
                            </oj-combobox-one>
                        </div>
                    </div>
    
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item">
                            <oj-checkboxset disabled="false" value="{{isUpdateProjectPlan}}">
                                <oj-option value="yes">Update Financial Project Plan</oj-option>
                            </oj-checkboxset>
                        </div>
                    </div>
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[addNewBtnAction]]'>
                        <span>
                            <oj-bind-text value="[['Save']]"></oj-bind-text>
                        </span>
                    </oj-button>
                </div>
            </oj-dialog>
        </div>


</div>