<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1>Budget Sheet Table</h1>

<div>
    <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[BackBtnAction]]'  >
        <span><oj-bind-text value="[['Back']]"></oj-bind-text></span>
        <span slot="endIcon" class="apiconClass fa fa-arrow-circle-left oj-button-icon oj-end"></span>
    </oj-button>
</div>
 <br/>
 <br/>

<oj-select-many id="TableColumns" on-value-changed="[[changeListValue]]" placeholder="[[placeholder]]">
    <!--ko foreach: sheetTableData-->
    <oj-option data-bind="value:headerText"> 
        <span data-bind="text:headerText"></span>
        <span slot="startIcon"></span>
    </oj-option>
    <!--/ko--> 
</oj-select-many>

<oj-button on-oj-action="[[hideColumn]]" disabled="[[disableHideColumnBtn]]">
    Hide Column
</oj-button>

<oj-button on-oj-action="[[showColumn]]" disabled="[[disableShowColumnBtn]]">
    Show Column
</oj-button>

<br>

<oj-table id="SheetTable"
          data='[[sheetdataprovider]]'
          display='grid'
          columns-default='{"sortable": "enabled"}' 
          columns=[[sheetTableData]]>
</oj-table>

<br>



<!--<oj-button on-oj-action="[[clickBTN]]">
    click
</oj-button>-->




