<h3 class="start header_headline_style"><span data-bind="text: label().historyScreenLbl"></span></h3>
<div class="request_body_styling animated fadeInUp rounded-lg shadow-lg p-3">
    <div class="penaltyDetailsContent start summaryContent start padding-right container">

        <div class="detailsBtn">
            <oj-button class="btnStyle" on-oj-action="[[backBtn]]"><i
                    class="fa fa-backward fontawesomePadding"></i><span data-bind="text: label().backLbl"></span>
            </oj-button>

            <oj-button class="btnStyle" on-oj-action="[[approvalListBtn]]"><i
                    class="fa fa-list fontawesomePadding"></i><span data-bind="text: label().lgActionAppListLbl"></span>
            </oj-button>
        </div>

        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().documentNumberLbl"></span></oj-label>
                <oj-input-text disabled="{{customsModel.disableAllFields}}" slot="value"
                    value="{{customsModel.documentNumber}}">
                </oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().lgNumberFromBankLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.lgNumberFromBankVal}}"
                    disabled="[[customsModel.disableAllFields]]">
                </oj-input-text>
            </div>

            <div class="oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().suppilerNameLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.suppilerNameVal}}"
                    disabled="[[customsModel.disableAllFields]]">
                </oj-input-text>
            </div>

            <div data-bind="visible : customsModel.contractNoVis" class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().contractNoLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.contractNoVal}}"
                    disabled="[[customsModel.disableAllFields]]">
                </oj-input-text>
            </div>

            <div data-bind="visible : customsModel.negotiationNumVis" class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().negotiationNumLbl"></span></oj-label>
                <oj-input-text id="negotiationTitle" value="{{customsModel.negotiationNumVal}}"
                    disabled="[[customsModel.disableAllFields]]">
                </oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().lgStatusLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.lgStatusVal}}"
                    disabled="[[customsModel.disableAllFields]]">
                </oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().dateLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.dateVal}}"
                    disabled="[[customsModel.disableAllFields]]">
                </oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().amountLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.amountVal}}"
                    disabled="[[customsModel.disableAllFields]]">
                </oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().lgTypeLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.lgTypeVal}}"
                    disabled="[[customsModel.disableAllFields]]">
                </oj-input-text>
            </div>

        </div>
    </div>
    
    <div class="tableContent container start">
        <oj-table class="tableStyle" id='table' data='[[dataproviderLgScreen]]'
            selection-mode='{"row": "single", "column": "single"}' scroll-policy='loadMoreOnScroll'
            scroll-policy-options='{"fetchSize": 10}' columns='[[customsModel.columnArray]]'
            on-oj-before-current-row="[[lgHistorySelectListener]]">

            <template slot="attachBtn" data-oj-as="cell">
                <input id="example" type="button" class='btnStyle oj-button'
                    data-bind="value:label().viewAttachLbl"></input>
            </template>

            <template slot="seqTemplate" data-oj-as="cell" type="hidden">
                <input type="hidden" class="hiddenkeyHolder" data-bind="value:cell.index" />
                <span data-bind="text:cell.index+1"></span>
            </template>

        </oj-table>
    </div>
</div>

<oj-dialog id="viewAttachment" style="display:none;width:800px;">
    <div slot="header">
        <h5><span data-bind="text: label().viewAttachmentLbl"></span></h5>
    </div>
    <div slot="body">
        <div class="tableContent">
            <oj-table class="tableStyle" id="viewTable" data='[[dataProviderAttachment]]'
                columns='[[customsModel.attachmentColumns]]' selection-mode='{"row": "single", "column": "single"}'
                scroll-policy-options='{"fetchSize": 10}' scroll-policy='loadMoreOnScroll'
                on-oj-before-current-row="[[lgAttachmentselectListener]]">

                <template slot="downTemplate" data-oj-as="attachmentArr">
                    <oj-button class="btnStyle" on-oj-action='[[DownloadFileFn]]'>
                        <span>Download</span>
                    </oj-button>
                </template>
            </oj-table>
        </div>
    </div>
    <div slot="footer">
        <oj-button class="btnStyle" id="attacCancelBtn" on-oj-action="[[cancelviewAttDial]]"><span
                data-bind="text: label().cancelLbl"></span></oj-button>
    </div>
    <div></div>
</oj-dialog>

 <!-- approval dialog -->
 <oj-dialog class="dialogStyle" id="approvalDialog">
    <div slot="header" class="oj-helper-clearfix">
        <label data-bind="text:label().approvalListLbl"></label>
    </div>
    <div slot="body" id="demo" style="max-height:400px ;">
        <!-- ko foreach: datacrad -->
        <div class="approval-card-body app-crd-bdy-received app-crd-bdy-border" data-bind="css: bodyStatus">
            <div class="approval-card-header">
                <h5 class="app-card-Pname"><span data-bind="text: personName"></span> </h5>
            </div>
            <h6 class="app-card-Pname"><span data-bind="text: approvalLevel"></span> </h6>

            <div class=" row approval-card-inf-body">
                <div class="col-md-6">
                    <span class="badge badge-pill app-card-badge" data-bind="css: appCardStatus">
                        <span data-bind="text: Approved"></span></span> 
                </div>
                <!-- <div class="col-md-6">
                    <blockquote class="blockquote app-card-blockqoute">
                        <footer class="blockquote-footer"> <small>
                                <span data-bind="text: date"></span></small></footer>
                    </blockquote>
                </div> -->
            </div>
            <h5><span data-bind="text: rejectReason"></span> </h5>
        </div>
        <!-- /ko -->
    </div>
    <div slot="footer">
        <oj-button class="btnStyle" on-oj-action='[[approvalDialogCloseAction]]'>
            <span>
                <oj-bind-text value="[[label().okLbl]]"></oj-bind-text>
            </span>
        </oj-button>
    </div>
</oj-dialog>