<h1 class="header_headline_style"><span> <oj-bind-text value="[[labels().elementEntryLbl]]"></oj-bind-text> </span></h1>
<div id="train-container" class="request_body_styling animated fadeInUp" >

    <div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline" >

            <div class="form-row">
                <div class="form-group col-md-6 srjob-col-pad">

                    <label data-bind="text: labels().selfServiceLbl"/>

                    <oj-select-one 
                        class="form-control"
                        placeholder="[[labels().placeHolder]]" 
                        value="{{eitCodeSearch}}"
                        options="{{EITCodeArr}}">
                    </oj-select-one>  
                </div>

                <div class="form-group col-md-6 srjob-col-pad">

                    <label data-bind="text: labels().statusLbl"/>

                    <oj-select-one 
                        class="form-control"
                        placeholder="[[labels().placeHolder]]" 
                        value="{{statusSearch}}"
                        options="{{statusArr}}">
                    </oj-select-one>

                </div>
                <div class="form-group col-md-6 srjob-col-pad">

                    <label data-bind="text: labels().personNumberLbl"/>

                    <oj-input-text 
                        class="form-control"
                        autocomplete="off"
                        clear-icon="always"
                        placeholder="[[labels().personNumberLbl]]" 
                        value="{{personNumberSearch}}">
                    </oj-input-text>

                </div>

                <div class="form-group col-md-6 srjob-col-pad">

                    <label data-bind="text: labels().ucmIdLbl"/>

                    <oj-input-text 
                        class="form-control"
                        autocomplete="off"
                        clear-icon="always"
                        placeholder="[[labels().ucmIdLbl]]" 
                        value="{{ucmIdSearch}}">
                    </oj-input-text>

                </div>

                <div class="form-group col-md-12 srjob-col-pad">
                    <br/>

                    <div class="btn_row_st" align="center">

                        <oj-button id="ee-search-btn" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[searchElementEntries]]' disabled="[[isSearchBtnDisabled]]">
                            <span><oj-bind-text value="[[labels().searchLbl]]"></oj-bind-text></span>
                            <span slot='endIcon' class="apiconClass fa fa-search"></span>
                        </oj-button>

                        <oj-button class="apBtn-2" on-oj-action='[[resetSearch]]'>
                            <span><oj-bind-text value="[[labels().resetSearchLbl]]"></oj-bind-text></span>
                            <span slot='endIcon' class="apiconClass fa fa-remove"></span>
                        </oj-button>

                    </div> 
                </div>
            </div>
            <br/>      

            <div id="form-container" class="oj-flex oj-flex-items-pad ">
                <div class="oj-md-8 oj-sm-12 oj-flex-item">
                    <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                        <span><oj-bind-text value="[[labels().backActionLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-arrow-circle-left"></span>
                    </oj-button>

                    <oj-button id="ee-resubmit-btn" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[resubmitBtnDialog]]' disabled="[[isResubmitBtnDisabled]]">
                        <span><oj-bind-text value="[[labels().resubmitBtnLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-repeat"></span>
                    </oj-button>



                </div>
                <div class="oj-md-4 oj-sm-12 oj-flex-item">
                    
              <div class="elementEntryBtn">
                   <oj-button class="apBtn-2 refreshBtn" on-oj-action='[[refreshDataBtn]]' >
                        <span><oj-bind-text value="[[labels().refreshLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-refresh"></span>
                    </oj-button>
            </div>
                </div>
          
            </div>
        </div>

    </div>
    <br/>

    <div>
        <oj-table id='table' class='apTable-1'
                  data='[[dataSource]]'
                  selection-mode='{"row": "single", "column": "single"}'
                  dnd='{"reorder": {"columns": "disabled"}}'
                  display="grid"
                  on-oj-before-current-row="[[tableSelectionListener]]"
                  columns='{{columnArray}}'>
            <oj-paging-control id="paging" class='apPaging-1' data='[[dataSource]]' page-size='10' slot='bottom'>
            </oj-paging-control>
        </oj-table>

    </div>

</div>

<div id="popupWrapper">
    <oj-popup id="resubmitDialog" class="el-entry-observation-popup"
              position.my.horizontal="center" position.my.vertical="center"
              position.at.horizontal="center" position.at.vertical="center"
              position.of="window" position.offset.y="-10" modality="modal">

        <div class="el-entry-observation-popup-body">
            <div class="demo-popup-header"><h5 data-bind="text: labels().resubmitDialogMsg"></h5></div>

            <div class="el-entry-observation-popup-content">
                <oj-validation-group id="tracker" valid="{{groupValid}}">
                    <label data-bind="text: labels().fileContentLbl"/>
                    <oj-text-area class="el-entry-file-content-tarea" required="true" value="{{fileContentValue}}"></oj-text-area>
                </oj-validation-group>
            </div>

            <div class="demo-popup-footer">
                <oj-button class="apBtn-2" on-oj-action='[[submitAction]]'>
                    <span><oj-bind-text value="[[labels().submit]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                    <span><oj-bind-text value="[[labels().cancel]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </div>
    </oj-popup>

</div>