<div class="sidemenu">
  <hr class="line-white-sm" />
  <span class="sidemenu-item  " data-bind="click: back">
    <i class="d-block fas fa-backward"></i>
    <span class="text">Back</span>
  </span>
  <span class="sidemenu-item active" data-bind="click: indexViewProcessResult">
    <span class="text">View Process Result</span>
  </span>
  <span class="sidemenu-item" data-bind="click: indexReport">
    <span class="text">Report</span>
  </span>
</div>

<div class="main-content">

  <!-- Messages -->
  <div id="notificationMessages">
    <oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
    </oj-messages>
  </div>

  <a id="btn-sidemenu" class="navbar-brand pr-4"><i class="fas fa-bars"></i></a>
  <h1 class="title">View Process Result</h1>
  <div class="sectionBody content rounded-lg shadow-lg p-3">

    <!-- Page 1-->

    <div id="page-1">
      <br>
      <div class="panel-custom p-4 border rounded-lg shadow-sm">
        <h5>Search</h5>
        <oj-form-layout max-columns="2" id="fl1">

          <oj-input-text data-bind="css: searchInputStatus() ? 'load-input' : ''" disabled="{{searchInputStatus}}"
            value="{{nameSearchValue}}" label-hint="Payroll Name" style="max-width: 100%;">
          </oj-input-text>
          <!-- 
          <oj-input-text data-bind="css: searchInputStatus() ? 'load-input' : ''" disabled="{{searchInputStatus}}"
            value="{{periodSearchValue}}" label-hint="Period" style="max-width: 100%;">
          </oj-input-text> -->

          <oj-combobox-one data-bind="css: searchInputStatus() ? 'load-input' : ''" value="{{typeSearchValue}}"
            options="[[typeSearchOptions]]" autocomplete="off" placeholder="Select option" label-hint="Type"
            disabled="{{searchInputStatus}}" style="max-width: 100%;">
          </oj-combobox-one>

        </oj-form-layout>

        <div class="oj-sm-12 oj-md-12 oj-flex-item text-center">
          <oj-button disabled="{{searchInputStatus}}" on-oj-action="[[searchBtnAction]]">
            Search
          </oj-button>

          <oj-button disabled="{{searchInputStatus}}" on-oj-action="[[resetSearchBtnAction]]">
            Reset Search
          </oj-button>
        </div>
      </div>

      <br>
      <h5>Search Result</h5>
      <div id="element-table-wrap">
        <oj-table class="tableStyle" id='table' aria-label='Process Table' data='[[processResultDetailsProvider]]'
          selection-mode='{"row": "single", "column": "single"}'
          on-oj-before-current-row="[[tableSelectionListenerProcess]]" dnd='{"reorder": {"columns": "enabled"}}'
          scroll-policy='loadMoreOnScroll' scroll-policy-options='{"fetchSize": 5}' columns='{{columnArrayProcess}}'>

          <template slot="status" data-oj-as="cell">
            <i class="fas fa-check-circle text-success" style="margin: 1px 10%;font-size: x-large;"></i>
            <br>
            <oj-bind-text value="[[cell.data]]"></oj-bind-text>
          </template>

          <template slot="actionTemplate" data-oj-as="cell">
            <oj-bind-if test='[[cell.mode=="navigation"]]'>
              <oj-menu-button id="menuButton2">
                <i class="fas fa-ellipsis-h"></i>
                <oj-menu id="myMenu2" slot="menu" style="display:none;" on-oj-action="[[viewDetails]]">
                  <oj-option value="edit">
                    <i class="far fa-edit"></i> View Details
                  </oj-option>
                </oj-menu>
              </oj-menu-button>
            </oj-bind-if>
          </template>

        </oj-table>
      </div>
    </div>

    <!-- Page 2-->
    <div id="page-2" style="display: none;">
      <oj-button on-oj-action="[[gotoPage1]]" style="padding: 0">
        <span>
          <i class="fas fa-chevron-left"></i> Back
        </span>
      </oj-button>
      <br>
      <br>
      <div class="panel-custom p-4 border rounded-lg shadow-sm">
        <h5>Search for Employee</h5>
        <oj-form-layout max-columns="2" id="fl1">

          <oj-input-text data-bind="css: searchEmployeeStatus() ? 'load-input' : ''" disabled="{{searchEmployeeStatus}}"
            value="{{empNameSearchValue}}" label-hint="Employee Name" style="max-width: 100%;">
          </oj-input-text>

          <oj-input-text data-bind="css: searchEmployeeStatus() ? 'load-input' : ''" disabled="{{searchEmployeeStatus}}"
            value="{{empNumberSearchValue}}" label-hint="Employee Number" style="max-width: 100%;">
          </oj-input-text>
        </oj-form-layout>

        <div class="oj-sm-12 oj-md-12 oj-flex-item text-center">
          <oj-button disabled="{{searchEmployeeStatus}}" on-oj-action="[[empSearchBtnAction]]">
            Search
          </oj-button>

          <oj-button disabled="{{searchEmployeeStatus}}" on-oj-action="[[resetEmpSearchBtnAction]]">
            Reset Search
          </oj-button>
        </div>
      </div>

      <br>
      <h5>Employee Search Result</h5>
      <div id="element-table-wrap">
        <oj-table class="tableStyle" id='table' aria-label='Process Table' data='[[employeeResultDetailsProvider]]'
          selection-mode='{"row": "single", "column": "single"}'
          on-oj-before-current-row="[[tableSelectionListenerEmployee]]" dnd='{"reorder": {"columns": "enabled"}}'
          scroll-policy='loadMoreOnScroll' scroll-policy-options='{"fetchSize": 5}' columns='{{columnArrayEmployees}}'>

          <template slot="status" data-oj-as="cell">
            <i class="fas fa-check-circle text-success" style="margin: 1px 10%;font-size: x-large;"></i>
            <br>
            <oj-bind-text value="[[cell.data]]"></oj-bind-text>
          </template>

          <template slot="actionTemplate" data-oj-as="cell">
            <oj-bind-if test='[[cell.mode=="navigation"]]'>

              <oj-menu-button id="menuButton">
                <i class="fas fa-ellipsis-h"></i>
                <oj-menu id="myMenu" slot="menu" style="display:none;" on-oj-action="[[viewEmployeeDetails]]">
                  <oj-option value="edit">
                    <i class="far fa-edit"></i> View Details
                  </oj-option>
                  <!-- <oj-option value="remove">
                    <i class="far fa-trash-alt"></i> Remove
                  </oj-option> -->
                </oj-menu>
              </oj-menu-button>

            </oj-bind-if>
          </template>

        </oj-table>
      </div>
    </div>

    <!-- page 3 -->

    <div id="page-3" style="display: none;">

      <oj-dialog style="display:none; width:50%;" id="modalDialog1" title="View Input Result">
        <div slot="body">

          <oj-table class="tableStyle" id='table' aria-label='Process Table' data='[[inputsDataProvider]]'
            selection-mode='{"row": "single", "column": "single"}' dnd='{"reorder": {"columns": "enabled"}}'
            scroll-policy='loadMoreOnScroll' scroll-policy-options='{"fetchSize": 5}' columns='{{columnArrayInputs}}'>
          </oj-table>

        </div>
        <div slot="footer">
          <oj-button id="okButton" on-oj-action="[[closeDialog]]">OK
          </oj-button>
        </div>
      </oj-dialog>


      <oj-button on-oj-action="[[gotoPage2]]" style="padding: 0">
        <span>
          <i class="fas fa-chevron-left"></i> Back
        </span>
      </oj-button>
      <br>
      <br>
      <div class="panel-custom p-4 border rounded-lg shadow-sm">
        <h5>Employee Details</h5>
        <oj-form-layout max-columns="2" id="fl1">

          <oj-input-text disabled="true" value="{{selectedEmployeeValue().personName}}" label-hint="Employee Name"
            style="max-width: 100%;">
          </oj-input-text>

          <oj-input-text disabled="true" value="{{selectedEmployeeValue().personNumber}}" label-hint="Employee Number"
            style="max-width: 100%;">
          </oj-input-text>
        </oj-form-layout>
      </div>

      <br>
      <h5>Employee Entries</h5>
      <div id="element-table-wrap">
        <oj-table class="tableStyle" id='table' aria-label='Process Table' data='[[employeeEntriesProvider]]'
          selection-mode='{"row": "single", "column": "single"}'
          on-oj-before-current-row="[[tableSelectionListenerEntries]]" dnd='{"reorder": {"columns": "enabled"}}'
          scroll-policy='loadMoreOnScroll' scroll-policy-options='{"fetchSize": 5}' columns='{{columnArrayEntries}}'>

          <template slot="actionTemplate" data-oj-as="cell">
            <oj-bind-if test='[[cell.mode=="navigation"]]'>

              <oj-menu-button id="menuButton3">
                <i class="fas fa-ellipsis-h"></i>
                <oj-menu id="myMenu3" slot="menu" style="display:none;" on-oj-action="[[viewEntries]]">
                  <oj-option value="edit">
                    <i class="far fa-edit"></i> View Input Result
                  </oj-option>
                </oj-menu>
              </oj-menu-button>

            </oj-bind-if>
          </template>

        </oj-table>
      </div>
    </div>
    <!-- page 3 -->
  </div>
</div>