<div><oj-messages position="{}" display="general" messages="[[messages]]"></oj-messages></div>
<h1 class="header_headline_style"><span> <oj-bind-text value="[[currentStepValueText()]]"></oj-bind-text> </span></h1>
<div id="train-container" class="request_body_styling animated fadeInUp">
    <div class="oj-form">
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">
                <oj-bind-if test='true'>
                    <oj-button class="apBtn-2" on-oj-action="[[cancelAction]]">
                        <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                    </oj-button>
                </oj-bind-if>
                <oj-bind-if test='[[addBtnVisible]]'>
                    <oj-button class="apBtn-2" on-oj-action="[[previousStep]]">
                        <span><oj-bind-text value="[[pervious]]"></oj-bind-text></span>
                    </oj-button>
                </oj-bind-if>
            </div>
            <div class="oj-flex-bar-end">
                <oj-bind-if test='[[nextBtnVisible]]'>
                    <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action="[[nextStep]]" disabled="[[currentStepValue() == 'stp2']]">
                        <span><oj-bind-text value="[[next]]"></oj-bind-text></span>
                    </oj-button>
                </oj-bind-if>
                <oj-bind-if test='[[addBtnVisible]]'>
                    <oj-button class="apBtn-2" on-oj-action="[[submitButton]]" visible="[[currentStepValue() == 'stp2']]">
                        <span><oj-bind-text value="[[submit]]"></oj-bind-text></span>
                    </oj-button></oj-bind-if>
            </div>
        </div>
    </div>
    <oj-bind-if test='[[trainVisibility]]'>
        <div disabled> 
            <oj-train id="train"
                      selected-step="{{currentStepValue}}" steps="[[stepArray]]"
                      class="oj-train-stretch"
                      on-oj-before-select="[[stopSelectListener]]"/>
        </div>
    </oj-bind-if>
    <br>
    <div class="oj-form-layout oj-panel">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
            <oj-validation-group id="tracker" valid="{{groupValid}}">

                <div class="oj-flex-item">
                    <div class="oj-flex-item">
                        <label for="personNumber" data-bind="text: eitCodeLbl "show-required/>
                    </div>
                    <div class="oj-flex-item">

                        <oj-select-one id="Guarantee_Type"  disabled='[[isDisabled]]' required="[[isRequired]]" placeholder="[[placeholder]]"
                                       value="{{validationModle.eitCode}}" options="{{EITCodeArr}}" on-value-changed = "{{structureChangedHandler}}">
                        </oj-select-one>            

                    </div>
                </div>

                <div class="oj-flex-item">
                    <div class="oj-flex-item">
                        <label for="personNumber" data-bind="text: firstKeyTypeLbl "show-required/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-select-one id="Guarantee_Type"  disabled='[[isDisabled]]' required="[[isRequired]]" placeholder="[[placeholder]]"
                                       value="{{validationModle.firstKeyType}}" options="{{firstKeyTypeArr}}">
                        </oj-select-one>     

                    </div>
                </div>
                <oj-bind-if test="[[validationModle.firstKeyType() === 'Static']]">
                    <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label for="positionNumber" data-bind="text: firstKeyValueLbl "/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-input-text id="text-input" disabled='[[isDisabled]]' required="[[isRequired]]" 
                                           value="{{validationModle.firstKeyValue}}"></oj-input-text>                
                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.firstKeyType() === 'Application_Value']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: applicationValueFamilyLbl "show-required/>
                        </div>

                        <div class="oj-flex-item">

                            <oj-select-one id="Guarantee_Type"  disabled='[[isDisabled]]' required="[[isRequired]]" placeholder="[[placeholder]]"
                                           value="{{validationModle.applicationValueFamily}}" options="{{applicationValueFamilyArr}}" on-value-changed="[[handlerChange]]">
                            </oj-select-one>            


                        </div>
                    </div>
                </oj-bind-if>

                <oj-bind-if test="[[validationModle.firstKeyType() === 'Application_Value']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: applicationKeyLbl "show-required/>
                        </div>

                        <div class="oj-flex-item">

                            <oj-select-one id="Guarantee_Type"  disabled='[[isDisabled]]' required="[[isRequired]]" placeholder="[[placeholder]]"  value="{{validationModle.applicationKey}}" options="{{applicationKeyArr}}">
                            </oj-select-one>            

                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.firstKeyType() === 'SaaS']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: saaSSourceLbl "show-required/>
                        </div>

                        <div class="oj-flex-item">

                            <oj-select-one   disabled='[[isDisabled]]' required="[[isRequired]]" placeholder="[[placeholder]]"  value="{{validationModle.saaSSource}}" options="{{saaSSourceArr}}">
                            </oj-select-one>            

                        </div>
                    
                    </div>
                   
                </oj-bind-if>

                <oj-bind-if test="[[validationModle.firstKeyType() === 'SaaS' && validationModle.saaSSource() === 'Report']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: reportNameLbl "show-required/>
                        </div>

                        <div class="oj-flex-item">

                            <oj-select-one   disabled='[[isDisabled]]' required="false" placeholder="[[placeholder]]"  value="{{validationModle.reportName}}" options="{{reportNameArr}}" on-value-changed="[[handlerChangeParameters]]">
                            </oj-select-one>            

                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.firstKeyType() === 'SaaS' && validationModle.saaSSource() === 'Report']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: parameter1NameLBlRep" class="para-rep-display" show-required/>
                            <label for="personNumber" data-bind="text: parameter1NameLBl " class="para-display" show-required/>
                        </div>

                        <div class="oj-flex-item">

                            <oj-select-one   disabled='[[isDisabledParameter]]' required="false" placeholder="[[placeholder]]"  value="{{validationModle.parameter1Name}}" options="{{parameterNameArr}}">
                            </oj-select-one>            

                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.firstKeyType() === 'SaaS' && validationModle.saaSSource() === 'Report']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: parameter2NameLBlRep" class="para-rep-display2" show-required/>
                            <label for="personNumber" data-bind="text: parameter2NameLBl " class="para-display2" show-required/>
                        </div>

                        <div class="oj-flex-item">
                            <oj-select-one   disabled='[[isDisabledParameter2]]'  placeholder="[[placeholder]]"  value="{{validationModle.parameter2Name}}" options="{{parameterNameArr}}">
                            </oj-select-one>            

                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.firstKeyType() === 'SaaS' && validationModle.saaSSource() === 'Report']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: parameter3NameLBlRep" class="para-rep-display3" show-required/>
                            <label for="personNumber" data-bind="text: parameter3NameLBl " class="para-display3" show-required/>
                        </div>

                        <div class="oj-flex-item">

                            <oj-select-one   disabled='[[isDisabledParameter3]]'  placeholder="[[placeholder]]"  value="{{validationModle.parameter3Name}}" options="{{parameterNameArr}}">
                            </oj-select-one>            


                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.firstKeyType() === 'SaaS' && validationModle.saaSSource() === 'Report']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: parameter4NameLBlRep" class="para-rep-display4" show-required/>
                            <label for="personNumber" data-bind="text: parameter4NameLBl " class="para-display4" show-required/>
                        </div>


                        <div class="oj-flex-item">
                            <oj-select-one   disabled='[[isDisabledParameter4]]'  placeholder="[[placeholder]]"  value="{{validationModle.parameter4Name}}" options="{{parameterNameArr}}">
                            </oj-select-one>            


                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.firstKeyType() === 'SaaS' && validationModle.saaSSource() === 'Report']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: parameter5NameLBlRep" class="para-rep-display5" show-required/>
                            <label for="personNumber" data-bind="text: parameter5NameLBl " class="para-display5" show-required/>
                        </div>

                        <div class="oj-flex-item">

                            <oj-select-one disabled='[[isDisabledParameter5]]' placeholder="[[placeholder]]" value="{{validationModle.parameter5Name}}" options="{{parameterNameArr}}">
                            </oj-select-one>            

                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.firstKeyType() === 'SaaS' && validationModle.saaSSource() === 'Query']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: saaSQueryLbl "show-required/>
                        </div>

                        <div class="oj-flex-item">
                            <oj-input-text disabled='[[isDisabled]]' required="[[isRequired]]"  value="{{validationModle.saaSQuery}}" >
                            </oj-input-text>            

                        </div>
                         
                    </div>

                </oj-bind-if>
           
                <oj-bind-if test="[[validationModle.firstKeyType() === 'PaaS']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: paaSQueryLbl "show-required/>
                        </div>

                        <div class="oj-flex-item">
                            <oj-input-text disabled='[[isDisabled]]' required="[[isRequired]]"  value="{{validationModle.paaSQuery}}" >
                            </oj-input-text>            

                        </div>
                    </div>

                </oj-bind-if>

                <div class="oj-flex-item">
                    <div class="oj-flex-item">
                        <label for="personNumber" data-bind="text: operationLbl "show-required/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-select-one   disabled='[[isDisabled]]' required="[[isRequired]]" placeholder="[[placeholder]]" value="{{validationModle.operation}}" options="{{operationArr}}">
                        </oj-select-one>            

                    </div>
                </div>

                <div class="oj-flex-item">
                    <div class="oj-flex-item">
                        <label for="personNumber" data-bind="text: secondKeyTypeLbl "show-required/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-select-one id="Guarantee_Type"  disabled='[[isDisabled]]' required="[[isRequired]]" placeholder="[[placeholder]]" value="{{validationModle.secondKeyType}}" options="{{secondKeyTypeArr}}">
                        </oj-select-one>            

                    </div>
                </div>

                <oj-bind-if test="[[validationModle.secondKeyType() === 'Static']]">
                    <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label for="positionNumber" data-bind="text: secondKeyValueLbl "/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-input-text id="text-input" disabled='[[isDisabled]]' required="[[isRequired]]" value="{{validationModle.secondKeyValue}}"></oj-input-text>                
                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.secondKeyType() === 'Application_Value']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: secondapplicationValueFamilyLbl "show-required/>
                        </div>

                        <div class="oj-flex-item">
                            <oj-select-one id="Guarantee_Type"  disabled='[[isDisabled]]' required="[[isRequired]]" placeholder="[[placeholder]]" value="{{validationModle.secondapplicationValueFamily}}" options="{{secondapplicationValueFamilyArr}}" on-value-changed="[[handlerChange2]]">
                            </oj-select-one>            

                        </div>
                    </div>
                </oj-bind-if>

                <oj-bind-if test="[[validationModle.secondKeyType() === 'Application_Value']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: secondapplicationKeyLbl "show-required/>
                        </div>

                        <div class="oj-flex-item">
                            <oj-select-one id="Guarantee_Type"  disabled='[[isDisabled]]' required="[[isRequired]]" placeholder="[[placeholder]]" value="{{validationModle.secondapplicationKey}}" options="{{secondapplicationKeyArr}}">
                            </oj-select-one>            

                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.secondKeyType() === 'SaaS']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: secondsaaSSourceLbl "show-required/>
                        </div>
                        <div class="oj-flex-item">

                            <oj-select-one disabled='[[isDisabled]]' required="[[isRequired]]" placeholder="[[placeholder]]"value="{{validationModle.secondsaaSSource}}" options="{{secondsaaSSourceArr}}">
                            </oj-select-one>            

                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.secondKeyType() === 'SaaS' && validationModle.secondsaaSSource() === 'Report']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: secondreportNameLbl "show-required/>
                        </div>

                        <div class="oj-flex-item">
                            <oj-select-one disabled='[[isDisabled]]' required="[[isRequired]]" placeholder="[[placeholder]]" value="{{validationModle.secondreportName}}" options="{{secondreportNameArr}}" on-value-changed="[[handlerChangeParametersSec]]">
                            </oj-select-one>            

                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.secondKeyType() === 'SaaS' && validationModle.secondsaaSSource() === 'Report']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: secondparameter1NameLBlRep" class="sec-para-rep-display" show-required/>
                            <label for="personNumber" data-bind="text: secondparameter1NameLBl " class="sec-para-display" show-required/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-select-one disabled='[[isDisabledParameterSec]]' required="false" placeholder="[[placeholder]]"
                                           value="{{validationModle.secondparameter1Name}}" options="{{secondparameterNameArr}}">
                            </oj-select-one>            

                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.secondKeyType() === 'SaaS' && validationModle.secondsaaSSource() === 'Report']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: secondparameter2NameLBlRep" class="sec-para-rep-display2" show-required/>
                            <label for="personNumber" data-bind="text: secondparameter2NameLBl " class="sec-para-display2" show-required/>
                        </div>
                        <div class="oj-flex-item">

                            <oj-select-one disabled='[[isDisabledParameterSec2]]'  placeholder="[[placeholder]]"
                                           value="{{validationModle.secondparameter2Name}}" options="{{secondparameterNameArr}}">
                            </oj-select-one>            

                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.secondKeyType() === 'SaaS' && validationModle.secondsaaSSource() === 'Report']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: secondparameter3NameLBlRep" class="sec-para-rep-display3" show-required/>
                            <label for="personNumber" data-bind="text: secondparameter3NameLBl " class="sec-para-display3" show-required/>
                        </div>
                        <div class="oj-flex-item">

                            <oj-select-one   disabled='[[isDisabledParameterSec3]]'  placeholder="[[placeholder]]"
                                             value="{{validationModle.secondparameter3Name}}" options="{{secondparameterNameArr}}">
                            </oj-select-one>            

                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.secondKeyType() === 'SaaS' && validationModle.secondsaaSSource() === 'Report']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: secondparameter4NameLBlRep" class="sec-para-rep-display4" show-required/>
                            <label for="personNumber" data-bind="text: secondparameter4NameLBl " class="sec-para-display4" show-required/>
                        </div>
                        <div class="oj-flex-item">

                            <oj-select-one disabled='[[isDisabledParameterSec4]]' placeholder="[[placeholder]]" 
                                           value="{{validationModle.secondparameter4Name}}" options="{{secondparameterNameArr}}">
                            </oj-select-one>            

                        </div>
                    </div>

                </oj-bind-if>


                <oj-bind-if test="[[validationModle.secondKeyType() === 'SaaS' && validationModle.secondsaaSSource() === 'Report']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: secondparameter5NameLBlRep" class="sec-para-rep-display5" show-required/>
                            <label for="personNumber" data-bind="text: secondparameter5NameLBl " class="sec-para-display5" show-required/>
                        </div>
                        <div class="oj-flex-item">

                            <oj-select-one disabled='[[isDisabledParameterSec5]]' placeholder="[[placeholder]]" value="{{validationModle.secondparameter5Name}}" options="{{secondparameterNameArr}}">
                            </oj-select-one>            

                        </div>
                    </div>

                </oj-bind-if>


                <oj-bind-if test="[[validationModle.secondKeyType() === 'SaaS' && validationModle.secondsaaSSource() === 'Query']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: secondsaaSQueryLbl "show-required/>
                        </div>
                        <div class="oj-flex-item">

                            <oj-input-text disabled='[[isDisabled]]' required="[[isRequired]]"  value="{{validationModle.secondsaaSQuery}}" >
                            </oj-input-text>            

                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.secondKeyType() === 'PaaS']]">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <label for="personNumber" data-bind="text: secondpaaSQueryLbl" show-required/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-input-text disabled='[[isDisabled]]' required="[[isRequired]]"  value="{{validationModle.secondpaaSQuery}}" >
                            </oj-input-text>            
                        </div>
                    </div>

                </oj-bind-if>

                <div class="oj-flex-item">
                    <div class="oj-flex-item">
                        <label for="personNumber" data-bind="text: typeOFActionLbl "show-required/>
                    </div>
                    <div class="oj-flex-item">

                        <oj-select-one disabled='[[isDisabled]]' required="[[isRequired]]" placeholder="[[placeholder]]"
                                       value="{{validationModle.typeOFAction}}" options="{{typeOFActionArr}}">
                        </oj-select-one>            

                    </div>
                </div>

                <oj-bind-if test="[[validationModle.typeOFAction() === 'Error_Massage']]">
                    <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label for="positionNumber" data-bind="text: errorMassageEnLbl "/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-input-text id="text-input" disabled='[[isDisabled]]' required="[[isRequired]]"
                                           value="{{validationModle.errorMassageEn}}"></oj-input-text>                
                        </div>
                    </div>

                </oj-bind-if>


                <oj-bind-if test="[[validationModle.typeOFAction() === 'Error_Massage']]">
                    <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label for="positionNumber" data-bind="text: errorMassageARLbl "/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-input-text id="text-input" disabled='[[isDisabled]]' required="[[isRequired]]"
                                           value="{{validationModle.errorMassageAr}}"></oj-input-text>                
                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.typeOFAction() === 'ACTION']]">
                    <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label for="positionNumber" data-bind="text: actionType "/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-select-one disabled='[[isDisabled]]' required="[[isRequired]]" placeholder="[[placeholder]]"
                                           value="{{validationModle.actiontype}}" options="{{actionTypeArr }}">
                            </oj-select-one>            

                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.actiontype() === 'Hide' || validationModle.actiontype() === 'Disabled' || validationModle.actiontype() === 'set_value']]">
                    <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label for="positionNumber" data-bind="text: EITSegmentLbl "/>
                        </div>   
                        <div class="oj-flex-item">      
                            <oj-select-one disabled='[[isDisabled]]'  required="[[isRequired]]" placeholder="[[placeholder]]" 
                                           value="{{validationModle.eitSegment}}" options="{{secondparameterNameArr}}">
                            </oj-select-one>            
                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.actiontype() === 'set_value']]">
                    <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label for="positionNumber" data-bind="text: TypeOfValueLbl "/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-select-one disabled='[[isDisabled]]'required="[[isRequired]]"  placeholder="[[placeholder]]"
                                           value="{{validationModle.typeOfValue}}" options="{{typeOfValueArr}}">
                            </oj-select-one>            
                        </div>
                    </div>

                </oj-bind-if>


                <oj-bind-if test="[[validationModle.typeOfValue() === 'static']]">
                    <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label for="positionNumber" data-bind="text: newValueLbl "/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-input-text id="text-input" disabled='[[isDisabled]]'  required="[[isRequired]]"
                                           value="{{validationModle.newValue}}"></oj-input-text>                
                        </div>
                    </div>

                </oj-bind-if>



                <oj-bind-if test="[[validationModle.typeOfValue() === 'complex']]">
                    <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label for="positionNumber" data-bind="text:typeOfFristValueLbl "/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-select-one disabled='[[isDisabled]]' required="[[isRequired]]" placeholder="[[placeholder]]" 
                                           value="{{validationModle.typeOfFristValue}}" options="{{typeOfFristValueArr}} " on-value-changed="[[handlerChangeFristValue]]">
                            </oj-select-one>            
                        </div>
                    </div>

                </oj-bind-if>


                <oj-bind-if test="[[validationModle.typeOfValue() === 'complex' ]]">
                    <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label for="positionNumber" data-bind="text:fristValuesLbl "/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-select-one disabled='[[isDisabled]]'  required="[[isRequired]]"  placeholder="[[placeholder]]" 
                                           value="{{validationModle.fristValues}}" options="{{fristValuesArr}}">
                            </oj-select-one>            
                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.typeOfValue() === 'complex' ]]">
                    <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label for="positionNumber" data-bind="text:secondOperationLbl "/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-select-one disabled='[[isDisabled]]'  required="[[isRequired]]"  placeholder="[[placeholder]]"
                                           value="{{validationModle.secondOperation}}" options="{{secondOperationArr}}">
                            </oj-select-one>            
                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.typeOfValue() === 'complex' ]]">
                    <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label for="positionNumber" data-bind="text:typeOfSecondValueLbl "/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-select-one   disabled='[[isDisabled]]' required="[[isRequired]]"  placeholder="[[placeholder]]"
                                             value="{{validationModle.typeOfSecondValue}}" options="{{typeOfFristValueArr}}" on-value-changed="[[handlerChangeSecondeValue]]">
                            </oj-select-one>            
                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.typeOfValue() === 'complex' ]]">
                    <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label for="positionNumber" data-bind="text:secondValuesLbl"/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-select-one disabled='[[isDisabled]]' required="[[isRequired]]" placeholder="[[placeholder]]"
                                           value="{{validationModle.secondValue}}" options="{{secondValueArr}}">
                            </oj-select-one>            
                        </div>
                    </div>

                </oj-bind-if>

                <oj-bind-if test="[[validationModle.typeOFAction() === 'Action']]">
                    <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label for="positionNumber" data-bind="text: setValueOfEITLbl "/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-select-one disabled='[[isDisabled]]' required="[[isRequired]]" placeholder="[[placeholder]]" value="{{validationModle.setValueOfEIT}}" options="{{setValueOfEITArr}}">
                            </oj-select-one>            
                        </div>
                    </div>

                </oj-bind-if>


                <oj-bind-if test="[[validationModle.typeOFAction() === 'Action']]">
                    <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label for="positionNumber" data-bind="text: valueLbl "/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-input-text id="text-input" disabled='[[isDisabled]]' value="{{validationModle.value}}"></oj-input-text>                
                        </div>
                    </div>

                </oj-bind-if>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label for="personNumber" data-bind="text: saveResultToValidationsValuesLbl "show-required/>
                    </div>
                    <div class="oj-flex-item">
                        <oj-radioset class="oj-choice-direction-row" value="{{validationModle.saveResultToValidationsValues}}"
                                     disabled='[[isDisabled]]' required="[[isRequired]]">
                            
                            <oj-option data-bind="value:'Yes'"><span data-bind="text: yeslabel"></span></oj-option>
                            <oj-option data-bind="value:'No'"><span data-bind="text: Nolabel"></span></oj-option>
                        </oj-radioset>
                    </div>
                </div>

                <oj-bind-if test="[[validationModle.saveResultToValidationsValues() === 'Yes']]">
                    <div class="oj-flex-item" >
                        <div class="oj-flex-item">
                            <label for="positionNumber" data-bind="text: validationValuesNameLbl "/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-input-text id="value-name"
                                           help.instruction="{{showhints}}" messages-custom="{{appMessages}}" class="disable-element"
                                           disabled='[[isDisabled]]' required="[[isRequired]]" value="{{validationModle.validationValuesName}}"></oj-input-text>                
                        </div>
                    </div>

                </oj-bind-if>

            </oj-validation-group>
        </div>
    </div>

</div>

<div id="dialogWrapper">
    <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: confirmMessage "/>
        </div>
        <div slot="body">
            <label data-bind="text: oprationMessage "/>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[commitAdd]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
</div>
