<h1 class="header_headline_style"><span> <oj-bind-text value="[[validation]]"></oj-bind-text> </span></h1>
<div id="train-container" class="request_body_styling animated fadeInUp" >

    <div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline" >

            <div class="form-row">
                <div class="form-group col-md-6 srjob-col-pad">

                    <label for="positionNumber" data-bind="text: eitCodeLbl"/>

                    <oj-select-one id="id_of_select" class="form-control"
                                   disabled='[[isDisabled]]'
                                   required="[[isRequired]]"
                                   placeholder="[[placeholder]]" 
                                   value="{{validationSearch.eitCode}}"
                                   options="{{EITCodeArr}}"
                                   on-value-changed="[[handlerChange]]">
                    </oj-select-one>  
                </div>

                <div class="form-group col-md-6 srjob-col-pad">
                    <br/>

                    <div class="btn_row_st" align="center">

                        <oj-button disabled="{{searchdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[searchPerson]]'>
                            <span><oj-bind-text value="[[search]]"></oj-bind-text></span>
                        </oj-button>

                        <oj-button class="apBtn-2" on-oj-action='[[reset]]'>
                            <span><oj-bind-text value="[[clear]]"></oj-bind-text></span>
                        </oj-button>

                    </div> 
                </div>
            </div>
            <br/>      

            <div id="form-container" class="row">
                <div class="btn_row_st" align="center">
                    <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                        <span><oj-bind-text value="[[backActionLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-arrow-circle-left"></span>
                    </oj-button>
                    <oj-button class="apBtn-2" on-oj-action='[[addJob]]'>
                        <span><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                    </oj-button>

                    <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[updateJob]]'>
                        <span><oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                    </oj-button>

                    <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[viewJob]]'>
                        <span><oj-bind-text value="[[view]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                    </oj-button>

                    <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[deleteValidation]]'>
                        <span><oj-bind-text value="[[delet]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                    </oj-button>

                </div>
            </div>
        </div>

    </div>
    <br/>

    <div>
        <oj-table id='table' aria-label='Departments Table'
                  data='[[dataSource]]'
                  class='apTable-1'
                  selection-mode='{"row": "multiple", "column": "multiple"}'
                  dnd='{"reorder": {"columns": "enabled"}}'
                  scroll-policy-options='{"fetchSize": 10}'
                  columns='[[columnArray]]'
                  display = "grid"
                  on-oj-before-current-row = "[[tableSelectionListener]]">
            <oj-paging-control id="paging" data='[[dataSource]]' page-size='10' slot='bottom' class='apPaging-1'>
            </oj-paging-control>
        </oj-table>
    </div>

</div>


<div id="dialogWrapper">
    <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: confirmMessage "/>
        </div>
        <div slot="body">
            <label data-bind="text: oprationMessage "/>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[commitDelete]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
</div>