body{
    font-family: 'Roboto Condensed', sans-serif;
}
/* start styling for apTable-1 */
.apTable-1{
    width: 100%;
    border:none !important;
    background-color: transparent!important;
    margin: 20px 0px !important;
    overflow: hidden;
}
.summaryTable .apTable-1{
    max-height: 50vh !important;
}
.apTable-1 tbody {
min-height: 100px;
width:100%;
}

.apTable-1 .oj-table-grid-display .oj-table-header-row, .oj-table-editable .oj-table-header-row {
    color :white;
    background: #2596a7;
    height: 50px;
    width: 100%;

}
.apTable-1 .oj-table-data-cell {
    padding-left: 15px !important;
}
/* .oj-table-grid-display .oj-table-header{
    background: var(--table-header-color);
    
} */
.apTable-1 .oj-table-column-header-cell {
    padding: 0px 15px !important;
    width: fit-content !important;
    transition: all 0.1s ease-in-out;
    /* text-align: center !important; */
}
.apTable-1 thead{
    width: 100% !important;
    color: #FFF;
    background: var(--table-header-color) !important;
}
.apTable-1 thead tr th {
    border:none !important;
    height: 50px !important;
    transition: all 0.1s ease-in-out;
    padding: 15px 0px !important;

}

.apTable-1 tbody tr  {
    border:none !important;
    transition: all 0.1s ease-in-out;

}

.apTable-1 tbody tr:hover  {
    background-color:var(--table-hover-BG) !important;

}

.apTable-1 tbody tr .oj-hover{
    background-color: var(--table-hover-BG) !important;

}

.apTable-1 tbody .oj-selected{
    background-color: var(--table-hover-BG) !important;
    height: fit-content;
}

.apTable-1 tbody tr td  {
    border:none !important;
    padding: 15px 0px !important;
    transition: all 0.1s ease-in-out;
    /* text-align: center !important; */
}



.apTable-1 thead tr th:hover {
    background-color:var(--table-hover-BG) !important; 

}

.apTable-1 thead tr th:hover .oj-table-column-header {
    color:var(--table-hover-text) !important; 

}
.apTable-1 .oj-table-column-header-asc-icon:hover{
    background-color: transparent !important;
}

.apTable-1 thead{
    border:none !important;
}

.apPaging-1 {
    background: transparent;
    width: 100%;
    margin: 0;
    overflow: auto;
}

.apPaging-1 .oj-pagingcontrol-content .oj-pagingcontrol-nav  .oj-pagingcontrol-nav-arrow-section .oj-pagingcontrol-nav-arrow {
    width: 35px;
    height: 35px;
    border: 1px solid #E8E9EC;
    border-radius: 4px;
    margin: 5px 5px;
}

.apPaging-1 .oj-pagingcontrol-content .oj-pagingcontrol-nav  .oj-pagingcontrol-nav-arrow-section .oj-pagingcontrol-nav-pages-section .oj-pagingcontrol-nav-page {
    width: 35px;
    height: 35px;
    border: 1px solid var(--Paging-main-color);
    border-radius: 4px;
    margin: 5px 5px;
    display: inline-block !important;
    padding: 0;
    background-color: transparent;
    color: var(--Paging-main-color);

}

.apPaging-1 .oj-pagingcontrol-content .oj-pagingcontrol-nav  .oj-pagingcontrol-nav-arrow-section .oj-pagingcontrol-nav-pages-section .oj-selected {
    background-color: var(--Paging-main-color) !important;
    color: white;
    border-color:  var(--Paging-main-color) !important;
}
/* end styling for apTable */

/* start styling for  buttons apBtn-2 */

.apBtn-2{
    border-radius: 4px;
    background-color: transparent;
    min-height: 35px;
    transition: all 0.1s ease-in-out;
}

.apBtn-2 button{
    border: 1px solid var(--Btn-main-color) !important;
    width: 100%;
    padding: 5px 20px;
    background-color: transparent !important;
}

.next {
    float: right;
}

.apBtn-2 button .oj-button-label{
    color: var(--Btn-main-color);
}
.apBtn-2 button .oj-button-label .apiconClass{
    color: var(--Btn-main-color) !important;
    margin: 0 10px !important;
}

.apBtn-2:hover .oj-button-label{
    color: white !important;
}
.apBtn-2:hover {
    background-color:var(--Btn-main-color) !important;
}

.apBtn-2:hover .oj-button-label .apiconClass{
    color: white !important;
}

/* end styling for buttons apBtn-2 */

.app_header{
    background-color: var(--header-background);
}
.app_header{display: none;}

/* start Login page style */

.cont-log-bod{
    background-color: #a1a1a1;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px !important;
    left: 0px !important;
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
    z-index: 10;
}
.log_st_half{
    width:50%; 
    height: 100%;
    margin: 0;
    position: relative;
    background-color:var(--primary-color);

}

.log_sec_half{
    width:100%; 
    height: 100%;
    background-color: white;
    margin: 0;
    position: relative;
    text-align: center;
    color: #4d4f5c88;
}


.full_logo{
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 400px;
    width: 100%;
}

.content_area{
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.content_header{    
    margin-bottom: 60px;}
.apLoginInput{
    min-height: 45px;
    background-color: #EBEBEB;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-top: 5px;
}

.apLoginBtn{
    background-color: #2596a7 !important;
    color: white;
    margin-top: 25px;
    min-height: 45px;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.apChngLang {
    color: white !important;
    float: left;
    background-color: #555659 ;
    padding: 10px 15px 10px 15px;
    border-radius: 30px !important;
    cursor: pointer;
}

.logo-2{
    margin: 30px auto;
    max-width: 300px;
    width: 100%;
    align-content: center;
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 20px;
    display: block;
}

@media(max-width:950px){
    .log_st_half{width:0%;}
    .log_sec_half{width:100%;}
    .content_area{padding: 0px 20px;}

}

/* main page style */

.oj-web-applayout-header {
    /* text-align: center;
    width: auto; */
    background: linear-gradient(to right,#29b897,#00aaa6,#009bb0,#008ab2,#1678aa) !important;
}
.header-logo{
    max-width: 300px;
    margin: 10px 30px;
}
.headerContent img{
    width: 100%;
}

/* end Login page style */

.custom_Dialog.oj-complete{
    opacity: 1 !important;
    transform: none !important;
    bottom: auto !important;
    right: auto !important;
}
.main-dialog{
    overflow: hidden !important;
    max-width: 500px;
    max-height:600px; 
}
.oj-dialog-content{
    width: 100%;
    overflow: auto;
}

.main-dialog-width{
    width: 350px !important;
}

.main-dialog{
    display: none;
    width: 90vw !important;
    height: auto;
    position: fixed !important;
    top: 40% !important;
}
.effective-dialog{
    top: 100px !important;
}
.main-dialog-width{
    width: 350px !important;
}
.form-layout-container{
    padding-top: 20px; 
    padding-bottom: 35px;
}
.oj-inputtext, .oj-inputpassword, .oj-textarea, .oj-inputtext-nocomp, .oj-inputpassword-nocomp, .oj-textarea-nocomp{
    max-width: unset;
}
.main-dialog{
    overflow: hidden !important;
    max-width: 500px;
    max-height:600px; 
}
.oj-dialog-content{
    width: 100%;
    overflow: auto;
}

/*loading*/
#loader-overlay{
    overflow:hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index:9999999;
}
.loader-dots{
    position: fixed;
    height: 5em;
    width: 5em;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    animation: spinner 1s infinite linear;
}
@keyframes spinner{
    0% { transform: rotate( 0 ); }
    100%{ transform: rotate(360deg); }
}
.loader-dot{
    position: absolute;
    margin: auto;
    width: 2.0em;
    height: 2.0em;
    border-radius: 100%;
}
.loader-dot:nth-child(2){
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255, .80);
}
.loader-dot:nth-child(3){
    left: 0;
    right: 0;
    top: 0;
    background: rgba(255,255,255, .60);
}
.loader-dot:nth-child(4){
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255, .40);
}
.loader-dot:nth-child(5){
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255, .20);
}

.loading {    
    background-image: url("http://loadinggif.com/images/image-selection/3.gif") !important;
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
}
/*end loading*/
.summaryHeading{
    padding-top: 20px;
   color: #6b6b6b;
}
#content_div{
    margin-top: 4%;
}
.subTitle{
    color: #1277a8;
}
.oj-collapsible{
    margin-bottom: 20px;
    margin-top: 20px;
}

.sign-form label {font-size: 14px;}
.sign-form input {
    border: 1px solid #ddd;
    border-radius: 7px;
    height: 40px;
    font-size: 90%;
    background: #fff;
    box-shadow: 0px 3px 10px #ddd;
    padding: 0 10px;
}

html:not([dir="rtl"]) .oj-inputtext .oj-inputtext-clear-icon-btn {
    right: 2px;
    bottom: 6px;
}
html[dir="rtl"] .oj-inputtext .oj-inputtext-clear-icon-btn {
    left: 2px;
    bottom: 6px;
}
.custom-tb{
    color: red !important;
}
.m-popup{
    opacity: 1 !important;
    transform: unset !important;
    overflow: inherit;
}
.oj-dialog{
    width: 100% !important;
    height: fit-content !important;
    max-width:600px ;
}
.m-popupDialog{
    opacity: 1 !important;
    transform: unset !important;
    overflow: hidden;
    width: 70% !important;
    display: inline-flex;
    margin: auto;
    max-height: 500px;
    top: 130px !important;
}
.m-popupDialog h1{
    color: #1277a8 !important;
    font-size: 110%;
}
.dialogSpanStyle{
    font-weight: bold;
    color: #e91d14;
    /* font-size: 15px; */
}
.m-popup h1{
    color: #1277a8 !important;
    font-size: 110%;
}
#mainFilter{
/*    text-align: center;*/
/*    margin: auto;
    display: block;*/
display: flex;
}

.inputNumberdialog input{
width: 50%;
}

.inputcustomclass{
    padding-top: 15px;
}
.inputPadding{
    padding-top: 6px;
    font-weight: bold;
}

@media(max-width:899px){
    .orderGroup{
        margin-top: 15px;
    }

}
@media(max-width:770px){
    .marginTopHistory{
        margin-top: 15px;
    }

}