<div class="container-fluid processSection mr-top-30">
  <oj-button class="btnStyle" data-bind="click: back"><i class="d-block fas fa-backward"></i>Back</oj-button>
  <h1 class="process-title mr-top-30">Costing Process</h1>
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-md-12 oj-sm-12 text-center mr-top-30">
      <oj-button class="btnStyle" id='keyword-search-btn ' on-oj-action="[[createCostingProcess]]">
        Submit
      </oj-button>
    </div>
  </div>
  <div class="panel-custom p-4 border rounded-lg shadow-sm mr-top-30">
    <h5>Flow Details</h5>
    <div id="validation-usecase">
      <oj-validation-group id="create-tracker">
        <oj-form-layout max-columns="1" id="fl1" label-edge="start">
          <oj-input-text required value="{{payrollFlow}}" autocomplete="off" label-hint="Payroll Flow"
            style="max-width: 50%;">
          </oj-input-text>
        </oj-form-layout>
      </oj-validation-group>
    </div>
  </div>
  <div class="panel-custom p-4 border rounded-lg shadow-sm mr-top-30">
    <h5>Parameters Details</h5>
    <div id="validation-usecase">
      <oj-validation-group id="create-tracker-2">
        <oj-form-layout max-columns="1" id="fl1" label-edge="start">
          <oj-combobox-one id="combobox8" value="{{scope}}" required="true" label-hint="Scope"
            options="[[optionScope]]" style="max-width:20em">
          </oj-combobox-one>
          <oj-input-date converter=[[dateFormat]] value="{{processStartDate}}" required label-hint="Process Start Date"
            style="max-width: 50%;">
          </oj-input-date>
          <oj-input-date required converter=[[dateFormat]] value="{{processEndDate}}" label-hint="Process End Date"
            style="max-width: 50%;">
          </oj-input-date>
          <oj-input-text value="{{processValue}}" autocomplete="off" label-hint="Process" style="max-width: 50%;">
          </oj-input-text>
          <oj-input-text value="{{processConsolidationGroup}}" autocomplete="off"
            label-hint="Process Consolidation Group" style="max-width: 50%;">
          </oj-input-text>
          <oj-input-text value="{{payrollValue}}" autocomplete="off" label-hint="Payroll" style="max-width: 50%;">
          </oj-input-text>
          <oj-input-text value="{{consolidationGroup}}" autocomplete="off" label-hint="Consolidation Group"
            style="max-width: 50%;">
          </oj-input-text>
          <oj-input-text value="{{payrollStatutoryUnit}}" autocomplete="off" label-hint="Payroll Statutory Unit"
            style="max-width: 50%;">
          </oj-input-text>
          <oj-input-text value="{{taxReportingUnit}}" autocomplete="off" label-hint="Tax Reporting Unit"
            style="max-width: 50%;">
          </oj-input-text>
          <oj-input-text value="{{department}}" autocomplete="off" label-hint="Department" style="max-width: 50%;">
          </oj-input-text>
          <oj-input-text value="{{location}}" autocomplete="off" label-hint="Location" style="max-width: 50%;">
          </oj-input-text>
        </oj-form-layout>
      </oj-validation-group>
    </div>
  </div>
</div>
