<p class="header_headline_style animated fadeInUp" data-bind="text:title">Bulk Setup</p>

<div class="oj-form-layout oj-panel">
    <div class="oj-flex">
        <div class="oj-flex-item">
            <oj-button on-oj-action={{backAction}} class="apBtn-2 apBtn-disabled-2">
                <span data-bind="text:back"></span>
            </oj-button>
            <oj-button on-oj-action={{showAddDialogAction}} class="apBtn-2 apBtn-disabled-2">
                <span data-bind="text:add"></span>
            </oj-button>
            <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='{{onDelete}}' disabled="{{disableDelete}}">
                <span data-bind="text:delBtn"></span>
            </oj-button>
        </div>
    </div>

    <oj-table id='table' aria-label='Bulk Table' class='apTable-1' data='[[dataSource]]'
        selection-mode='{"row": "none", "column": "none"}' dnd='{"reorder": {"columns": "enabled"}}'
        scroll-policy-options='{"fetchSize": 10}' columns='[[columnArray]]' display="grid">
    </oj-table>

    <script type="text/html" id="checkbox_tmpl">
        <td>

            <oj-checkboxset aria-hidden='true'
                            on-value-changed='[[$parent.selectOneListener]]'
                            value='{{$context.row.Selected}}' 
                            class='oj-checkboxset-no-chrome'>
                <oj-option data-bind="attr:{
                        id: 'checbox' + $context.cellContext.status.rowIndex}" value="checked"></oj-option>
            </oj-checkboxset>
        </td>
    </script>
    <div id="dialogWrapper">
        <oj-dialog class="main-dialog main-dialog-width" id="addDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text:add"></label>
            </div>
            <div slot="body">
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item">
                        <oj-label for="date"><span data-bind="text:select_selfservice_lbl"></span>
                        </oj-label>
                        <oj-select-many disabled="false" class="form-control" size="25"
                            selection-mode='{"row": "single", "column": "single"}' value="{{selectedAddEitCodeVal}}"
                            options="{{EitsNotInListOpts}}">
                        </oj-select-many>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[addNewBtnAction]]'>
                    <oj-bind-text value="[[save]]"></oj-bind-text>
                </oj-button>
            </div>
        </oj-dialog>
    </div>

</div>