
    
   

<div>
 
    <div class="loginVerify__inputRow main-form">
        <oj-label for="po_num_id" class="loginVerify__inputField form-label"><span data-bind="text:PoNumLbl" ></oj-label>
        <div class="after-qr">
              <oj-input-text id="po_num_id"   style="width:200px"  value="{{informationReturntModel.poNumber}}"></oj-input-text> 
        </div>
    </div>

    <div class="loginVerify__inputRow main-form">
        <oj-label for="vendor_id" class="loginVerify__inputField form-label"><span data-bind="text: vendorLBL"/> Vendor</oj-label>
        <div class="after-qr">
              <oj-input-text id="vendor_id"   style="width:200px" value="{{informationReturntModel.vendor}}"></oj-input-text> 
        </div>
    </div>

    <div class="loginVerify__inputRow main-form">
        <oj-label for="item_id" class="loginVerify__inputField form-label"> <span data-bind="text: ItemLBL">  </oj-label      
        <div class="after-qr">
             <oj-input-text id="item_id"    style="width:200px" value="{{informationReturntModel.item}}"></oj-input-text> 
    </div>
    </div>

    <div class="loginVerify__inputRow main-form">
        <oj-label for="qty_id" class="loginVerify__inputField form-label"><span data-bind="text: QtyLBL" /></oj-label>
        <div class="after-qr">
            <oj-input-text id="qty_id"   style="width:200px" value="{{informationReturntModel.qty}}"></oj-input-text> 
        </div>
    </div>
    
    <div class="loginVerify__inputRow main-form">
        <oj-label for="qty_id" class="loginVerify__inputField form-label"><span data-bind="text: LocationLBL" /></oj-label> 
        <div class="after-qr">
             <oj-input-text id="location_id"   style="width:200px" value="{{informationReturntModel.location}}"></oj-input-text> 
        </div>
    </div>
    <oj-validation-group id="tracker" valid="{{groupvalid}}" role="group" aria-labelledby="grouplabelid">
    <div class="loginVerify__inputRow main-form" id="reason_id">
            <oj-label for="item_id"class="loginVerify__inputField form-label"><span  data-bind="text: rejreasonLbl"/></oj-label>
            <oj-combobox-one class="form-input" id="rejreson_id" value="{{informationReturntModel.rejreason}}" options="{{rej_reason_arr}}"required autocomplete="off"></oj-combobox-one>
        </div>
            <div class="loginVerify__inputRow main-form" id="note_id">
            <oj-label for="item_id"class="loginVerify__inputField form-label"><span  data-bind="text: rejnotesLbl"/></oj-label>
            <oj-input-text class="form-input" id="rejnote_id" value="{{informationReturntModel.rejnotes}}" required autocomplete="off"></oj-input-text>
        </div>
   </oj-validation-group>
<!--    <div class="loginVerify__inputRow main-form">
        <img src="css/images/info-icon.png">
        <oj-label for="qty_id" class="loginVerify__inputField form-label"><span data-bind="text: EnterLocationLBL" /></oj-label>
         <oj-input-text id="qty_id" style="width:200px" value="{{qty_v}}"></oj-input-text> 

    </div>-->



<!--    <div class="loginVerify__inputRow main-form">
        <oj-label for="qty_id" class="loginVerify__inputField form-label"><span data-bind="text: SubInventoryLBL"/></oj-label>
        <div class="after-qr">
            <oj-input-text class="form-input" id="linenum_id"  value="{{informationReturntModel.subInventory}}"></oj-input-text>
        </div>
    </div>

    <div class="loginVerify__inputRow main-form">
        <oj-label for="qty_id" class="loginVerify__inputField form-label"><span data-bind="text: LocatorLBL"></oj-label>
        <div class="after-qr">
            <oj-input-text class="form-input" id="linenum_id"  value="{{informationReturntModel.locator}}"></oj-input-text>
        </div>
    </div>-->
 

    <div style="text-align: center">
        <oj-button class="main-btn" on-oj-action="[[done]]"><span data-bind="text:DoneLBL"/></oj-button>
    </div>


