
<div class="oj-hybrid-applayout-page MLContainer">

    <div class="cardrow" style="text-align: center"> 
        <oj-button class="big-btn" on-oj-action="[[express_receipt]]" >
            <span title=".oj-fwk-icon-folder-collapsed" role="img"
                  class=" oj-fwk-icon"><img src="css/images/express.png" ><span data-bind="text: ExpressLBL"/> </span>
                  </oj-button>

        <oj-button class="big-btn" on-oj-action="[[normal_receipt]]" >
            <span title=".oj-fwk-icon-document" role="img"
                  class=" oj-fwk-icon"><img src="css/images/normal.png" > <span data-bind="text: NormalLBL"/> </span>
                  </oj-button>

    </div>
     <oj-dialog id="dialogprogress"  class="loading-dialog">
    <div style="text-align: center">    
    <oj-progress id="progressCircle" type="circle" value="{{progressValue}}"></oj-progress>
 </div>
</oj-dialog>
</div>

