<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--<div>
    <header role="banner">
        <div class="loginVerify__inputRow">
            <div class="headicon">
                <div class="back-icon" data-bind="click:BackBtn"><img src="css/images/arrow_back.png"> </div>
                    <oj-module class="header-title" config="[[headerConfig]]"style="display: inline-block;width: 55%;"></oj-module>

                <oj-button on-oj-action="[[notification]]" class="headicon_Left"><span title=".oj-fwk-icon-hamburger" role="img"
                    class="oj-fwk-icon"></span><img src="css/images/Icon-flash.png"></oj-button>
                <oj-button on-oj-action="[[cc]]" > <span title=".oj-fwk-icon-caret-s" role="img"
                    class=" oj-fwk-icon"><img src="css/images/Icon-bell.png"></span>
                </oj-button>

            </div>
        </div>
    </header>
</div>-->


<div class="oj-hybrid-applayout-page MLContainer">
    <!--data-bind="text: shareLbl"-->
    <div class="cardrow" style="text-align: center"> 
        
        <oj-button class="big-btn" on-oj-action="[[share]]" ><span title=".demo-share-icon-16" role="img" 
            class="demo-icon-font"><img src="../../../css/images/share.png"></span>
            <span data-bind="text: ShareLBL" /></span></oj-button>
        <oj-button class="big-btn" on-oj-action="[[return_to_menu]]" ><span title=".demo-home-icon-16" role="img" 
            class="demo-icon-font"><img src="../../../css/images/menu.png"></span>
            <span data-bind="text: ReturnToMenuLBL" /></span></oj-button>

    </div>
    <oj-dialog id="dialogprogress" class="loading-dialog">
    <div style="text-align: center">    
    <oj-progress id="progressCircle" type="circle" value="{{progressValue}}"></oj-progress>
 </div>
</oj-dialog>
</div>



