<div class="complain-page">

    <div class="complain-container">
        <div class="row">

            <div class="col-md-4 col-sm-6 complain-div" style="margin-left: 35%">
                <div id='complain'> 
                    <oj-validation-group id="tracker" valid="{{groupValid}}">
                    <oj-form-layout max-columns="{{columns}}" direction="row">
                        <div class="main-form oj-flex-item" style="width:auto">
                            <div class=" oj-flex-item">
                                <h5 for="rem"><oj-bind-text value="[[label().vehicle()]]"></oj-bind-text></h5>
                                <oj-select-one value="{{fieldsValue.vehicle}}" options="[[fieldsValue.vehicleArr]]" required="{{fieldsOption.secondValueRequired}}">
                                </oj-select-one>
                            </div>
                            <div class=" oj-flex-item">
                                <h5 for="rem"><oj-bind-text value="[[label().branch()]]"></oj-bind-text></h5>
                                <oj-select-one value="{{fieldsValue.branch}}" options="[[fieldsValue.branchArr]]" required="{{fieldsOption.secondValueRequired}}">
                                </oj-select-one>
                            </div>
                            <div class=" oj-flex-item">
                                <h5 for="rem"><oj-bind-text value="[[label().operation()]]"></oj-bind-text></h5>
                                <oj-select-one value="{{fieldsValue.operation}}" options="[[fieldsValue.operationArr]]" on-value-changed="[[selectOperationHandler]]" required="{{fieldsOption.secondValueRequired}}">
                                </oj-select-one>
                            </div>
                            <div class=" oj-flex-item">
                                <h5 for="rem"><oj-bind-text value="[[label().estTime()]]"></oj-bind-text></h5>
                                <oj-input-text value="{{estTime}}" disabled="true">
                                </oj-input-text>
                            </div>
                            <div class=" oj-flex-item">
                                <h5 for="rem"><oj-bind-text value="[[label().price()]]"></oj-bind-text></h5>
                                <oj-input-text value="{{price}}" disabled="true">
                                </oj-input-text>
                            </div>
                            <div class=" oj-flex-item">
                            <h5 for="rem"><oj-bind-text value="[[label().comment()]]"></oj-bind-text></h5>
                            <oj-text-area  value="{{fieldsValue.comment}}" required="{{fieldsOption.secondValueRequired}}"></oj-text-area>
                            </div>
                            <div class=" oj-flex-item">
                                <h5 for="rem"><oj-bind-text value="[[label().date()]]"></oj-bind-text></h5>
                                <oj-input-date id="datepicker" value={{value}} date-picker=[[datePicker]] day-formatter=[[dayFormatter]]>
                                <!--<oj-input-date id="datepicker" value={{value}} date-picker=[[datePicker]] day-meta-data=[[dayMetaData]]>-->
                                </oj-input-date>
                            </div>
                            <div class=" oj-flex-item">
                                <h5 for="rem"><oj-bind-text value="[[label().time()]]"></oj-bind-text></h5>
                                <oj-input-time id="time" value={{time}} time-picker=[[timePicker]]  min = {{min}} max = {{max}}>
                                </oj-input-time>
                            </div>
                    </div>
                    </oj-form-layout>
                 </oj-validation-group>
                </div>
                <div id='buttons-container'>
                    <oj-button class="btnPrimary" id='book' on-oj-action='[[addAction]]'>
                        <span><oj-bind-text value="[[label().add()]]"></oj-bind-text></span>
                    </oj-button>
                </div>
                <h3 for="rem"><oj-bind-text value="[[label().details()]]"></oj-bind-text></h3>
                        <oj-list-view id="listview" aria-label="simple list" data="[[dataprovider]]" selection-mode="single"
                                      scroll-policy="loadMoreOnScroll" 
                                      scroll-policy-options='{"fetchSize": 3}'
                                      style="overflow: inherit">
                            <template slot="itemTemplate" data-oj-as="item">
                                <div class="container">
                                    <div>
                                        <strong>
                                            <oj-bind-text value="[[label().vehicle()]]"></oj-bind-text>:   
                                        </strong>
                                        <span class="name"><oj-bind-text value="[[item.data.vehicle]]"></oj-bind-text></span><br>
                                        <strong>
                                            <oj-bind-text value="[[label().branch()]]"></oj-bind-text>:   
                                        </strong>
                                        <span class="name"><oj-bind-text value="[[item.data.branch]]"></oj-bind-text></span><br>
                                        <strong>
                                            <oj-bind-text value="[[label().operation()]]"></oj-bind-text>:   
                                        </strong>
                                        <span class="name"><oj-bind-text value="[[item.data.operation]]"></oj-bind-text></span><br>
                                        <strong>
                                            <oj-bind-text value="[[label().comment()]]"></oj-bind-text>:   
                                        </strong>
                                        <span class="name"><oj-bind-text value="[[item.data.comment]]"></oj-bind-text></span><br>
                                        <strong>
                                            <oj-bind-text value="[[label().date()]]"></oj-bind-text>:   
                                        </strong>
                                        <span class="name"><oj-bind-text value="[[item.data.date]]"></oj-bind-text></span><br>
                                        <strong>
                                            <oj-bind-text value="[[label().estTime()]]"></oj-bind-text>:   
                                        </strong>
                                        <span class="name"><oj-bind-text value="[[item.data.estTime]]"></oj-bind-text></span><br>
                                        <strong>
                                            <oj-bind-text value="[[label().time()]]"></oj-bind-text>:   
                                        </strong>
                                        <span class="name"><oj-bind-text value="[[item.data.time]]"></oj-bind-text></span><br>
                                        <strong>
                                            <oj-bind-text value="[[label().price()]]"></oj-bind-text>:   
                                        </strong>
                                        <span class="name"><oj-bind-text value="[[item.data.price]]"></oj-bind-text></span><br>
                                    </div>
                                </div>
                            </template>
                        </oj-list-view>
                 <div id='buttons-container'>
                    <oj-button class="btnPrimary" id='book' on-oj-action='[[submitAction]]' disabled="[[addTrue]]">
                        <span><oj-bind-text value="[[label().submit()]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </div>

        </div>
    </div>

</div>


<!--<div class="reservation-page loading">

    <img  style="width:250px" src="css/images/under_develop.png"/>
    <div style="margin-left: 40px; color: #44b6e2;">
        <h1 class="text-center">Under development...</h1>
    </div>

</div>-->