<div class="request_body_styling animated fadeInUp ">
    <div class="summaryContent container">
        <h3 class="header_headline_style"><span data-bind="text: label().revenueScreenLbl"></span></h3>
        <div class="oj-flex oj-flex-items-pad padding-right">

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().bussinesUnitLbl"></span></oj-label>
                <oj-select-one id="bussinesUnit" value="{{customsModel.bussinesUnitVal}}" placeholder="Please Select : " options="[[customsModel.bussinesUnitArr]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().contractNumberLbl"></span></oj-label>
                <oj-select-one id="contractNumber" value="{{customsModel.contractNumberVal}}" placeholder="Please Select : " options="[[customsModel.contractNumberArr]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().receiptNumLbl"></span></oj-label>
                <oj-select-one id="contractNumber" value="{{customsModel.receiptNumVal}}" placeholder="Please Select : " options="[[customsModel.receiptNumArr]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().projectNumLbl"></span></oj-label>
                <oj-select-one id="contractNumber" value="{{customsModel.projectNumVal}}" placeholder="Please Select : " options="[[customsModel.projectNumArr]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().projectTypeLbl"></span></oj-label>
                <oj-select-one id="contractNumber" value="{{customsModel.projectTypeVal}}" placeholder="Please Select : " options="[[customsModel.projectTypeArr]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().categoryNameLbl"></span></oj-label>
                <oj-select-one id="contractNumber" value="{{customsModel.categoryNameVal}}" placeholder="Please Select : " options="[[customsModel.categoryNameArr]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().expenditureTypeLbl"></span></oj-label>
                <oj-select-one id="contractNumber" value="{{customsModel.expenditureTypeVal}}" placeholder="Please Select : " options="[[customsModel.expenditureTypeArr]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().receiptDateFromLbl"></span></oj-label>
                <oj-input-date id="receiptDateFrom" value="{{customsModel.receiptDateFromVal}}">
                </oj-input-date>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().receiptDateToLbl"></span></oj-label>
                <oj-input-date id="receiptDateTo" value="{{customsModel.receiptDateToVal}}">
                </oj-input-date>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().eventStatusLbl"></span></oj-label>
                <oj-select-one id="eventStatus" value="{{customsModel.eventStatusVal}}" placeholder="Please Select : ">
                    <option value ="Created">Created</option>
                    <option value ="Not Created">Not Created</option>
                </oj-select-one>
            </div>

        </div>

        <div class="summaryBtn detailsBtn">
            <oj-button class="btnStyle" on-oj-action='[[searchBtn]]' disabled="[[customsModel.searchDis]]"><i class="fa fa-search"></i><span data-bind="text: label().searchLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[resetBtnAction]]' disabled={{customsModel.resetDis}}><i class="fa fa-repeat"></i><span data-bind="text: label().resetBtnLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[createEventBtnAction]]' disabled={{customsModel.createEventDis}}><i class="fa fa-plus"></i><span data-bind="text: label().creteEventBtnLbl"></span></oj-button>
        </div>

        <div id="table" class="tableContent">
            <oj-table class="tableStyle" id='table' style='height: 100%; width:100%' data='[[dataproviderRevenue]]' selection-mode='{"row": "single", "column": "single"}' scroll-policy='auto' scroll-policy-options='{"fetchSize": 10}' columns-default='{"sortable": "disabled"}'
                columns='[[customsModel.columnArray]]'>

                <template slot="seqTemplate" data-oj-as="cell" type="hidden">
                    <input type="hidden" class="hiddenkeyHolder" data-bind="value:cell.index" />
                    <span data-bind="text:cell.index+1"></span>
                </template>

                <template slot="buttonTemplate" data-oj-as="cell">
                    <input id="example" type="button" class='btnStyle oj-button' data-bind="enable: cell.row.type != 'created',value:label().createViewBtnLbl" data-function-name="showAllElements" ></input>  
                </template>

                <template slot="checkTemplate" data-oj-as="cell">
                    <oj-checkboxset 
                        value='[[handleCheckbox(cell.index,cell.row.srN)]]'
                        class='oj-checkboxset-no-chrome oj-selection-checkbox '
                        :id="[['table_checkboxset' + cell.index]]"
                        :data-row-id="{{cell.index}}"
                        :data-row-key="{{cell.row.id}}"
                        disabled="{{cell.row.EVENT_STATUS == 'Created'}}">

                        <oj-option :id="[['table_checkbox' + cell.index]]" value="checked"></oj-option>
                    </oj-checkboxset>   
               </template>

            </oj-table>
            <oj-paging-control id="paging" data='[[dataproviderRevenue]]' page-size='50' slot='bottom' class="apPaging-1 display-inline-flex">
            </oj-paging-control>
        </div>

        <oj-dialog id="revenueDialog" class="dialogStyle" style='width : 60%;'>
            <div slot="header">
                <oj-label slot="label"><span data-bind="text:label().eventDetailsLbl"></span></oj-label>
            </div>

            <div slot="body" class="dialogBody">
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label><span data-bind="text: label().bussinesUnitLbl"></span></oj-label>
                        <oj-input-text id="supplierNoSelect" value="{{customsModel.bussinesUnitVal}}" disabled="{{customsModel.isDisabled}}" options="[[customsModel.businessUnitArr]]">
                        </oj-input-text>
                    </div>

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label for="supplierNoSelect"><span data-bind="text: label().projectNameLbl"></span></oj-label>
                        <oj-text-area id="supplierNoSelect2" value="{{customsModel.projectNameVal}}" disabled="{{customsModel.isDisabled}}" options="[[customsModel.supplierArr]]">
                        </oj-text-area>
                    </div>

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label for="POSelect"><span data-bind="text: label().contractNumberLbl"></span></oj-label>
                        <oj-input-text id="contractNo" value="{{customsModel.contractNumberVal2}}" disabled="{{customsModel.isDisabled}}">
                        </oj-input-text>
                    </div>

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label for="POSelect"><span data-bind="text: label().contractLineLbl"></span></oj-label>
                        <oj-select-one value="{{customsModel.contractLineVal}}" disabled="{{customsModel.contractDis}}" options="[[customsModel.contractLineArr]]"></oj-select-one>
                    </div>

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label for="POSelect"><span data-bind="text: label().receiptDateLbl"></span></oj-label>
                        <oj-input-date slot="value" value="{{customsModel.completionDateVal}}" disabled="{{customsModel.completionDis}}"></oj-input-date>

                    </div>

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label for="supplierNaSelect"><span data-bind="text: label().taskNameLbl"></span></oj-label>
                        <oj-input-text slot="value" value="{{customsModel.taskNameVal}}" disabled="{{customsModel.isDisabled}}"></oj-input-text>
                    </div>

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label for="POSelect"><span data-bind="text: label().revenueAmount"></span></oj-label>
                        <oj-input-text slot="value" value="{{customsModel.amountVal}}" disabled="{{customsModel.isDisabled}}"></oj-input-text>
                    </div>

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label for="supplierNaSelect"><span data-bind="text: label().taskNumberLbl"></span></oj-label>
                        <oj-input-text slot="value" value="{{customsModel.taskNumberVal}}" disabled="{{customsModel.isDisabled}}"></oj-input-text>
                    </div>

                    <!--New Fields -->

                    <!-- <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label for="eventPercentage"><span data-bind="text: label().eventPercatgeLbl"></span></oj-label>
                        <oj-input-number slot="value" value="{{customsModel.eventPercentageVal}}" disabled="{{customsModel.eventPercentageDis}}" min={{1}}></oj-input-number>
                    </div> -->

                    <!-- <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label for="POSelect"><span data-bind="text: label().categoryNameLbl"></span></oj-label>
                        <oj-input-text slot="value" value="{{customsModel.categoryNameVal}}" disabled="{{customsModel.isDisabled}}"></oj-input-text>
                    </div>

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label for="POSelect"><span data-bind="text: label().expenditureTypeLbl"></span></oj-label>
                        <oj-input-text slot="value" value="{{customsModel.expendituretypeVal}}" disabled="{{customsModel.isDisabled}}"></oj-input-text>
                    </div>
                     -->
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label for="POSelect"><span data-bind="text: label().vendorNameLbl"></span></oj-label>
                        <oj-input-text slot="value" value="{{customsModel.vendorNameVal}}" disabled="{{customsModel.isDisabled}}"></oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label for="POSelect"><span data-bind="text: label().poDescriptionLbl"></span></oj-label>
                        <oj-input-text slot="value" value="{{customsModel.poDescriptionVal}}" disabled="{{customsModel.isDisabled}}"></oj-input-text>
                    </div>

                    <hr>
                </div>
            </div>
            <div slot="footer" class="footerStyle">
                <!-- <oj-button class="btnStyle" disabled="{{customsModel.createEventDailDis}}" on-oj-action="[[createEventBtn]]"><span data-bind="text:label().creteEventBtnLbl"></span></oj-button> -->
                <oj-button class="btnStyle" disabled="{{customsModel.modifyEventDailDis}}" on-oj-action="[[modifyEventBtn]]"><span data-bind="text:label().modifyEventBtnLbl"></span></oj-button>
                <oj-button class="btnStyle" on-oj-action="[[cancelDialBtn]]"><span data-bind="text:label().cancelLbl"></span></oj-button>
            </div>
        </oj-dialog>

    </div>
</div>