<div class="request_body_styling animated fadeInUp ">
    <h3 class="header_headline_style"><span> <oj-bind-text value="[[historyScreenLbl]]"></oj-bind-text> </span></h3>
    
    <div class="summaryBtn detailsBtn">
        <oj-button class="btnStyle" on-oj-action="[[backBtn]]"><i class="fa fa-backward fontawesomePadding"></i><span data-bind="text: label().backLbl"></span></oj-button>
    </div>
    <div class="penaltyDetailsContent start summaryContent start padding-right container">
        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().documentNumberLbl"></span></oj-label>
                <oj-input-text disabled="{{customsModel.disableAllFields}}" slot="value" value="{{customsModel.documentNumber}}"></oj-input-text>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().lgNumberFromBankLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.lgNumberFromBankVal}}" disabled="[[customsModel.disableAllFields]]"></oj-input-text>
            </div>
            <div class="oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().suppilerNameLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.suppilerNameVal}}" disabled="[[customsModel.disableAllFields]]"></oj-input-text>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().contractNoLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.contractNoVal}}" disabled="[[customsModel.disableAllFields]]"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().lgStatusLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.lgStatusVal}}" disabled="[[customsModel.disableAllFields]]"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().dateLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.dateVal}}" disabled="[[customsModel.disableAllFields]]"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().amountLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.amountVal}}" disabled="[[customsModel.disableAllFields]]"></oj-input-text>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().lgTypeLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.lgTypeVal}}" disabled="[[customsModel.disableAllFields]]"></oj-input-text>
           </div>
        </div>
    </div>
    <div class="tableContent container start">
        <oj-table  class="tableStyle" id='table' 
                   data='[[dataproviderLgScreen]]'
                   selection-mode='{"row": "single", "column": "single"}'
                   scroll-policy='loadMoreOnScroll'
                   scroll-policy-options='{"fetchSize": 10}'
                   columns='[[customsModel.columnArray]]'
                   on-oj-before-current-row="[[lgselectListener]]">
        </oj-table>
    </div>
</div>
