<div>
    <oj-avatar class="avatar" :src="[[$root.image]]"
        :aria-label="{{'Avatar of ' + $root.personDetails().firstName + ' ' + $root.personDetails().lastName}}"
        role="img" size="[[$root.avatarSize]]" initials='[[$root.initials]]'>
    </oj-avatar><br>
    <span class="infosecempname"> <span data-bind="text: $root.personDetails().displayName"></span></span>
    <oj-input-text class="infosecinputfield" id="text-input" value="{{$root.valueofsharethouts}}">
    </oj-input-text>
    <br /><br />

    <div class="row">
        <div class="col-md-4 infosecdett"> <span class="infosecalerts">
                <oj-bind-text value="[[$root.countPending]]"></oj-bind-text>
            </span> <br>
            <hr> <img src="css/images/pending.png" class="img-selector"></div>
        <div class="col-md-4 infosecdett infosecdett-2"> <span class="infosecalerts">
                <oj-bind-text value="[[$root.countApproved]]"></oj-bind-text>
            </span> <br>
            <hr> <img src="css/images/complete.png" class="img-selector"></div>
        <div class="col-md-4 infosecdett infosecdett-2"><span class="infosecalerts">
                <oj-bind-text value="[[$root.countRejected]]"></oj-bind-text>
            </span> <br>
            <hr> <img src="css/images/reject.png" class="img-selector"></div>
    </div>

    <hr />
    <br />
    <div class="row infosecalertrow">
        <div class=" col-md-12"> <span class="infosecalertsnum-1">0</span> <span class="infosecalerts">
                <oj-bind-text value="[[$root.employeeNewsLbl]]"></oj-bind-text>
            </span> </div>
        <br /> <br />
        <div class="col-md-12">
            <span class="infosecalertsnum-2">0</span> <span class="infosecalerts">
                <oj-bind-text value="[[$root.myFlagsLbl]]"></oj-bind-text>
            </span>
        </div>
    </div>
</div>