<h3 class="title header_headline_style txt-start">
    <span>
        <oj-bind-text value="">Notification Screen</oj-bind-text>
    </span>
</h3>

<section class="sectionBody rounded-lg shadow-lg p-3">
    <div class="txt-center notificationBtnSection">
        <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[requestDetailsBtnAction]]'
            disabled="[[customsModel.isDisabled]]"><i class="fa fa-times-circle"></i><span>View Request Details</span>
        </oj-button>
        <!-- <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="[[customsModel.isDisabled]]">
            Validate
        </oj-button> -->
    </div>

    <div class="tableStyle txt-start">
        <oj-table class="tableStyle" id='table' data='[[dataprovider]]'
            selection-mode='{"row": "single", "column": "single"}' scroll-policy='auto'
            scroll-policy-options='{"fetchSize": 10}' columns='[[customsModel.columnArray]]'
            on-oj-before-current-row="[[tableSelectionListener]]">
            <oj-paging-control id="paging" data='[[dataprovider]]' page-size='5' slot='bottom' class="pagingStyle">
            </oj-paging-control>
        </oj-table>
    </div>

    <oj-dialog id="receiptLineDialog" style="display:none;width:800px;">
        <div slot="header">
            <h5><span data-bind="text: label().attachmentsDialogLbl"></span></h5>
        </div>
        <div slot="body">
            <oj-table class="tableStyle" id='detailsTable' data='[[detailsDataProvider]]'
                selection-mode='{"row": "single", "column": "single"}' scroll-policy='auto'
                scroll-policy-options='{"fetchSize": 10}' columns='[[customsModel.detailsColumnArray]]'>

                <template slot="downTemplate" data-oj-as="attachmentArr">
                    <oj-button class="btnStyle" on-oj-action='[[DownloadFileFn]]'>
                        <span>Download</span>
                    </oj-button>
                </template>
                
                <oj-paging-control id="paging2" data='[[detailsDataProvider]]' page-size='5' slot='bottom' class="pagingStyle">
                </oj-paging-control>
            </oj-table>
        </div>
        <div slot="footer">
            <oj-button class="btnStyle" id="approveBtn" on-oj-action="[[approveBtnAction]]"><i class="fa fa-times-circle"></i>
                <span>Approve</span>
            </oj-button>
            <oj-button class="btnStyle" id="rejectBtn" on-oj-action="[[rejectBtnAction]]"><i class="fa fa-times-circle"></i>
                <span>Reject</span>
            </oj-button>
        </div>
        <div></div>
    </oj-dialog>
</section>