<h1 class="header_headline_style animated fadeInUp"><span> <oj-bind-text value="[[timeAndAbsenceLbl]]"></oj-bind-text> </span></h1>
<div class="request_body_styling animated fadeInUp">
    <div class="time&absence">
        <div class="container-fluid">
            <div class="oj-flex oj-flex-items-pad absencePageContent">
                <div class="oj-md-6 oj-sm-12 oj-flex-item absenceSection">
                    <h2 class="absencePageHeader">
                        <span> <oj-bind-text value="[[absenceBalanceLbl]]"></oj-bind-text> </span>
                    </h2>
                    <hr>
                    <div class="absenceChartInput">
                        <oj-label for="dateTime" ><span data-bind="text: balancesEffectiveAtLbl"></span></oj-label>
                        <oj-input-date id="dateTime" value='{{requestDate}}' on-value-changed="{{selectDate}}">
                        </oj-input-date>
                    </div>
                    <div id='chart-container' class="absenceChart">
                        <!-- <oj-chart id="barChart" type="bar" orientation="[[orientationValue]]" stack="[[stackValue]]"
                            data="[[dataProvider]]" animation-on-display="auto" animation-on-data-change="auto"
                            hover-behavior="dim" style="max-width:500px;width:100%;height:350px;">

                            <template slot='itemTemplate' data-oj-as='item'>
                                <oj-chart-item value='[[item.data.value]]' group-id='[[ [item.data.group] ]]'
                                    series-id='[[item.data.series]]'>
                                </oj-chart-item>
                            </template>
                        </oj-chart> -->
                        <!-- <oj-chart id="barChart" type="bar" series="[[barSeriesValue]]" groups="[[barGroupsValue]]"
                            animation-on-display="auto" animation-on-data-change="auto"
                            orientation="[[orientationValue]]" style-defaults.data-label-position="[[labelPosition]]"
                            stack="[[stackValue]]" stack-label="[[stackLabelValue]]" y-axis.tick-label.rendered="off"
                            style="max-width:500px;width:100%;height:350px;margin-top:20px;">
                        </oj-chart> -->
                        <oj-chart id="barChart"
                                type="bar" 
                                orientation="[[orientationValue]]"
                                stack="[[stackValue]]"
                                data="[[dataProvider]]"
                                animation-on-display="auto"
                                animation-on-data-change="auto"
                                hover-behavior="dim"
                                style="max-width:500px;width:100%;height:350px;margin-top:20px;">
                    
                            <template slot='itemTemplate' data-oj-as='item'>
                                <oj-chart-item 
                                    value='[[item.data.value]]' 
                                    group-id='[[ [item.data.group] ]]' 
                                    series-id='[[item.data.series]]'> 
                                </oj-chart-item>
                            </template>
                        </oj-chart>
                        <div class="oj-flex oj-flex-items-pad chartType">
                            <div class="oj-md-6 oj-sm-12 oj-flex-item ">
                                <oj-label class="chartTypeLbl" for="select" ><span data-bind="text: selectChartTypeLbl"></span></oj-label>
                            </div>
                            <div class="oj-md-6 oj-sm-12 oj-flex-item ">
                                <oj-select-one id="select" options="[[chartType]]" value="{{orientationValue}}"></oj-select-one>
                            </div>
                        </div>

                    </div>
                </div>
                <!--Start Calendar -->
                <div class="oj-md-6 oj-sm-12 oj-flex-item calendarSection">
                    <h2 class="absencePageHeader">
                        <span> <oj-bind-text value="[[CalendarLbl]]"></oj-bind-text> </span>
                    </h2>
                    <hr>
                    <div class="oj-flex-item">

                        <div id="calendar" data-bind="jqueryUI: {
                            component: 'fullCalendar',
                            plugins: [ 'interaction', 'dayGrid' ],
                            header: {
                              left: 'prevYear,prev,next,nextYear today',
                              center: 'title',
                              right: 'month,week,day,year,listMonth'
                            },
                            disableDragging: true,
                            navLinks: true,
                            eventLimit: true,
                            weekends: true,
                            dayClickListener: true,
                            editable: false,
                            events: businessEventarr(),
                            selectable: true,
                            rendering: 'inverse-background'
                                
                        }">
                        </div>
                        <div id="datepicker"></div>
                    </div>
                        </div>
                    </div>

                </div>
                <!--End Calendar -->
            </div>

            <!--Start Absence Footer-->
            <div class="oj-flex oj-flex-items-pad absenceFooter">
                <div class="oj-sm-12 oj-flex-item">
                        <div class="oj-flex oj-flex-items-pad">
                            <div class="oj-sm-9 oj-flex-item">
                                <div id="tabbarcontainer">
                                    <oj-tab-bar id="hnavlist" edge="top" selection="{{selectedItem}}">
                                        <ul>
                                            <li id="upcoming"><a href="#" aria-controls="home-tab-panel" id="home-tab" data-bind="text : openAndUpcomingLbl"></a></li>
                                            <li id="all"><a href="#" aria-controls="about-tab-panel"
                                                            id="notdeferred-tab" data-bind="text : allLbl"></a></li>
                                        </ul>
                                    </oj-tab-bar>
                                </div>
                            </div>
                        <!-------------------------------End 1st col-6--------------------------------------->

                            <div class="oj-sm-3 oj-flex-item absenceAddButton txt-right">
                                <oj-button class="btn btn-primary" on-oj-action="[[addButton]]"><span> <oj-bind-text value="[[andLbl]]"></oj-bind-text> </span></oj-button>
                            </div>
                        <!--------------------------------End 1st col-6--------------------------------------->
                        </div>
                        <!----------------------------------End row--------------------------------------->

                        <oj-switcher value="[[selectedItem]]">
                            <div slot="upcoming" id="home-tab-panel" role="tabpanel" aria-labelledby="home-tab">
                                <div class="demo-tab-content-style">
                                    <oj-table id='table1' 
                                        class="apTable-1" 
                                        aria-label='Absence Table'
                                        data='[[dataProviderUpcomig]]'
                                        selection-mode='{"row": "multiple", "column": "multiple"}'
                                        dnd='{"reorder": {"columns": "enabled"}}'
                                        scroll-policy='loadMoreOnScroll'
                                        scroll-policy-options='{"fetchSize": 10}' 
                                        columns='[[upComingarr]]'
                                        display="grid">
                                        <oj-paging-control class='apPaging-1' id="paging" data='[[dataProviderUpcomig]]' page-size='10' slot='bottom'>
                                        </oj-paging-control>
                                    </oj-table>
                                </div>
                            </div>
                            <div slot="all" id="notdeferred-tab-panel" role="tabpanel"
                                aria-labelledby="notdeferred-tab">
                                <div class="demo-tab-content-style">
                                    <div class="calendar2" data-bind="jqueryUI: {
                                        component: 'fullCalendar',
                                        plugins: [ 'interaction', 'dayGrid' ],
                                        header: {
                                          left: 'prevYear,prev,next,nextYear today',
                                          center: 'title',
                                          right: 'month,week,day,year,listMonth'
                                        },
                                        disableDragging: true,
                                        navLinks: true,
                                        eventLimit: true,
                                        weekends: true,
                                        dayClickListener: true,
                                        editable: false,
                                        events: absenceEventarr(),
                                        selectable: true,
                                        rendering: 'inverse-background',
                                        eventMouseover: true,
                                        
                                }">
                                    </div>
                                <!-- <oj-table id='table2' 
                                    class="apTable-1" aria-label='Absence Table'
                                    data='[[dataProviderAll]]'
                                    selection-mode='{"row": "multiple", "column": "multiple"}'
                                    dnd='{"reorder": {"columns": "enabled"}}'
                                    scroll-policy='loadMoreOnScroll'
                                    scroll-policy-options='{"fetchSize": 10}' 
                                    columns='[[allAbsencearr]]'
                                    display="grid">
                                    <oj-paging-control class='apPaging-1' id="paging2" data='[[dataProviderAll]]' page-size='10' slot='bottom'>
                                    </oj-paging-control>
                                </oj-table> -->
                                </div>
                            </div>
                        </oj-switcher>
                </div>
            </div>
            <!--End Absence Footer-->
        </div>
    </div>
</div>