/************************head info******************/

#stcMapping .pageHeadInfo .addButton {
  background-color: #712c81;
  color: white;
  padding: 10px 30px;
  border: none;
  box-shadow: none;
  border-radius: 5px;
}

#stcMapping .pageHeadInfo .uline {
  color: #712c81;
  cursor: pointer;
}

/************************create mode *****************/

#stcMapping .saveBtn {
  background: #712c81;
  border: 1px solid #712c81;
  color: #fff;
  padding: 10px 50px;
  border-radius: 5px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  font-size: 14px;
  margin-top: 50px;
  cursor: pointer;
}

#stcMapping button[disabled] {
  background: #712c81;
}

@media only screen and (max-width: 770px) {
  #stcMapping .form-inline {
    float: none !important;
    margin-top: 20px;
  }
}

#stcMapping form input {
  border-radius: 0px !important;
  border: 1px solid #712c81;
  padding: 19px 8px;
}

#stcMapping form button {
  background-color: #712c81 !important;
  border-color: #712c81;
  border-radius: 0px;
  /* cursor: pointer; */
}

@media only screen and (max-width: 575px) {
  #stcMapping form button {
    width: 100%;
  }
}

#stcMapping .empCard {
  border: 1px solid #eee;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
}

#stcMapping .con-image {
  height: 150px;
}

/*******************************************/

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
  border-radius: 15px;
}

#stcMapping .card-container .carousel .flex-inside .item {
  padding: 0px !important;
  margin: 0px !important;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 2px solid #eee;
  cursor: auto !important;
}

#stcMapping .card-container .carousel .flex-inside .item .typeTitle {
  font-weight: bold;
  padding: 0px 10px;
  color: #712c81;
}

#stcMapping .card-container .carousel .flex-inside .item .employeeName {
  padding: 10px 15px;
  border-bottom: 2px solid #eee;
  cursor: pointer;
  background-color: white;
  text-align: start;
}

#stcMapping .card-container .carousel .flex-inside .item .employeeName i {
  color: #da3f7b;
}

#stcMapping .card-container .carousel .flex-inside .item .employeeName span {
  padding: 0px 5px;
}

/*************************edit modal****************/

.mappingEditHeader h5 {
  font-weight: bold;
}

.mappingEditHeader .close {
  padding: 0.5rem !important;
}

.mappingEditFooter {
  border-top: none;
  text-align: center;
  justify-content: center;
}

.mappingEditFooter button {
  background-color: #712c81;
  color: white;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 10px 25px;
  border-radius: 25px;
}

/********************radio buttons ******************/

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #712c81 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #712c81 !important;
}

.listTheme {
  padding: 0px 10px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(197, 192, 192);
  cursor: pointer;
}

.listTheme.active {
  color: #712c81;
  text-decoration: underline;
}