<stc-navbar [currentPage]="currentPage"></stc-navbar>

<section id="stcMapping" class="pageSettings">
    <div class="container">
        <!----------------page info----------------->
        <div class="pageInfo pageHeadInfo ">
            <div class="row">
                <div class="col-lg-6  col-md-6 col-sm-12 col-12 ">
                    <h5>{{'mapping' | translation}}</h5>
                    <p>{{ 'mapping_subtitle_label' | translation }}</p>
                </div>
                <ng-container *ngIf="!editMode">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 my-auto ">
                        <form class="form-inline text-end " autocomplete="off"
                            [ngStyle]="{'float':trans.direction() != 'rtl'?  'right' : 'left' }">
                            <input type="text" class="form-control d-inline-block" placeholder="{{'search_for_emp'|translation}}"
                                [(ngModel)]="empSearch" name="empSearch" onfocus="this.placeholder = ' '"
                                (blur)="$event.srcElement.placeholder = trans.trans('search_for_emp')">
                            <button type="submit" [disabled]="!empSearch" (click)="searchForEmp()"
                                class="btn btn-primary">{{'search_label'|translation}}</button>
                        </form>
                        <div class="clr"></div>
                    </div>
                    <div class="col-12 text-start"><span (click)="editMode = !editMode" class="uline"><i
                                class="fa fa-backward" aria-hidden="true"></i>
                            {{'back'|translation}}</span></div>
                </ng-container>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 my-auto text-end" *ngIf="editMode">
                    <button class="addButton" (click)="editMode = !editMode"><i class="fa fa-plus"
                            aria-hidden="true"></i> {{'add'|translation}}</button>
                </div>
            </div>
        </div>
        <!--------------------create  mode -------------------->
        <ng-container *ngIf="!editMode">
            <div class="row" *ngIf="empData.length>0  ">
                <ng-container *ngFor="let emp of empData">
                    <div class="col-lg-6 col-12 ">
                        <div class="empCard">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12 my-auto text-start">
                                    <h6>{{emp.PERSON_NAME}}</h6>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-end">
                                    <!-- [(ngModel)]="empType" [disabled]="!empId" -->
                                    <mat-form-field>
                                        <mat-label>{{'select_type' | translation}}</mat-label>
                                        <mat-select [(ngModel)]="emp.type" required>
                                            <mat-option *ngFor="let type of types" [value]="type.CODE">
                                                {{type.DESCRIPTION | translation}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <div class="col-12 text-center">
                    <button (click)="save('c')" class="saveBtn">{{'save'|translation}}</button>
                </div>
            </div>
            <div *ngIf="empData.length == 0">
                <!-- <div class="con-image">
                    <img src="{{common.getAssetsPath()}}img/noEmployee.png">
                </div> -->
                <p class="text-center">{{'noEmployee'|translation}}</p>
            </div>
        </ng-container>

        <!--------------------Edit Mode--------------------------------->
        <ng-container *ngIf="editMode">

            <div class="tabs">
                <ul class="list-unstyled list-inline text-start noPadding">
                    <li class="list-inline-item listTheme " [ngClass]="{'active': activeTap}" (click)='activeTap=true '>
                        {{'active_users'|translation}}
                    </li>
                    <li class="list-inline-item listTheme " [ngClass]="{'active': !activeTap}"
                        (click)='activeTap = false '>{{'disabled_users'|translation}}
                    </li>
                </ul>
            </div>

            <div class="card-container">
                <div class="carousel" *ngIf="activeTap">
                    <div class="flex-inside" cdkDropListGroup>
                        <ng-container *ngFor="let type of types">
                            <div class="item" *ngIf="type.CODE != '-1'" [id]="type.CODE" cdkDropList
                                [cdkDropListData]="type.emps" (cdkDropListDropped)="onDrop($event)">
                                <h6 class="text-center typeTitle">{{type.DESCRIPTION}}</h6>
                                <hr>
                                <ng-container *ngFor="let emp of type.emps">
                                    <h6 *ngIf="emp.STATUS == 'ACTIVE'" class="employeeName" [id]="emp.PERSON_ID"
                                        [attr.data-target]="emp.PERSON_TYPE_CODE" cdkDrag
                                        (click)="openEditModal(edit,emp)">
                                        <i class="fa fa-pencil" aria-hidden="true"></i><span>{{emp.PERSON_NAME}}</span>
                                    </h6>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </div>

                <div class="carousel" *ngIf="!activeTap">
                    <div class="flex-inside">
                        <div class="item">
                            <ng-container *ngFor="let emp of allEmployees">
                                <h6 *ngIf="emp.STATUS == 'INACTIVE'" class="employeeName" (click)="activeUser(emp)">
                                    <i class="fa fa-pencil" aria-hidden="true"></i><span>{{emp.PERSON_NAME}}</span>
                                </h6>
                            </ng-container>
                        </div>
                    </div>
                </div>

            </div>

        </ng-container>
    </div>
</section>


<ng-template #edit let-modal let-d="dismiss">
    <div class="modal-header  mappingEditHeader">
        <div class="modal-title text-start">
            <h5>Edit {{editableEmp.PERSON_NAME}}'s Type</h5>
            <h6>{{editableEmp.EMAIL}}</h6>
        </div>
        <button type="button" class="close text-end" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body text-start">

        <!-- <label id="example-radio-group-label">Pick your favorite season</label> -->
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="editableEmpType">
          <mat-radio-button class="example-radio-button" style="display: block;" *ngFor="let type of types" [value]="type.CODE">
            {{type.DESCRIPTION | translation}}
          </mat-radio-button>
        </mat-radio-group>

    </div>

    <div class="modal-footer mappingEditFooter " >
        <button (click)="saveEditMode()" > {{'save'|translation}} </button>
      
    </div>
</ng-template>