<div class="oj-hybrid-applayout-page car-history">
    <div class="oj-applayout-content">
        <div class="car-img" data-bind="style: { backgroundImage:'url(\'/css/images/' + 'car.jpg' + '\')', 
            backgroundRepeat: 'no-repeat', backgroundSize: '100%', height: '30%', width: '100%' }">
            <div class="overlay"></div>
            <div class="demo-list-content">
                <span style=""><oj-bind-text value="[[carName]]"></oj-bind-text></span>
            </div>
        </div>

        <br>


        <div class="container">
            <oj-bind-for-each data="[[jsonDataStr]]">
                <template class="container">
                    <div class="form-box oj-panel oj-panel-shadow-sm oj-sm-margin-2x demo-panel-customizations">
                        <oj-label class="label-line"><oj-bind-text value="[[$current.data.owner]]"></oj-bind-text></oj-label>
                        <oj-label class="label-line"><oj-bind-text value="[[$current.data.chassisNumber]]"></oj-bind-text></oj-label>
                        <oj-label class="label-line"><oj-bind-text value="[[$current.data.serviceCenter]]"></oj-bind-text></oj-label>
                        <oj-label class="label-line"><oj-bind-text value="[[$current.data.date]]"></oj-bind-text></oj-label>
                    </div>
                </template>
            </oj-bind-for-each>
        </div>


    </div>
</div>
