<div class="oj-hybrid-applayout-page cars">
    <div class="oj-applayout-content">
        <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
            <div id="listviewContainer">
                <oj-list-view id="listview" class="oj-listview-card-layout"
                              on-current-item-changed="[[handleCurrentItemChanged]]" 
                              aria-label="list with card layout for items in group" 
                              data="[[dataProvider]]" drill-mode="none">
                    <template slot="itemTemplate" data-oj-as="item" >
                        <div>
                            <div class="demo-list-content demo-icon" style="border: 0px !important; width:100% !important;">

                                <div class="car-item">
                                    <div class="car-img" data-bind="style: { backgroundImage:'url(\'css/images/' + item.data.icon + '\')'}, attr: { 'aria-label': item.data.name }">
                                        <div class="overlay"></div>
                                        <div class="demo-list-content">
                                            <span style="width:100%;max-width:100%;padding:0"><oj-bind-text value="[[item.data.name]]"></oj-bind-text></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="car-info">
                                    <oj-label class="label-line"><oj-bind-text value="[[item.data.maintenanceType]]"></oj-bind-text></oj-label>
                                    <oj-label class="label-line"><oj-bind-text value="[[item.data.itemsAsOperation]]"></oj-bind-text></oj-label>
                                    <oj-label class="label-line"><oj-bind-text value="[[item.data.dateOfVisit]]"></oj-bind-text></oj-label>
                                    <oj-label class="label-line"><oj-bind-text value="[[item.data.comments]]"></oj-bind-text></oj-label>
                                </div>

                            </div>

                        </div>  
                    </template>                  
                </oj-list-view>

            </div> 
        </div>

    </div>
</div>
