<div class="oj-hybrid-applayout-page vehicle-history">
    <div class="oj-applayout-content">
        <div class="cars" data-bind="visible: dataStatus() == 'loading'">
            <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                <div id="listviewContainer">
                    <div class="oj-listview-card-layout" data-bind="foreach: shimmerCards">
                        <div class="oj-listview-card-layout oj-listview-item demo-list-content demo-icon oj-listview-item" 
                             style="border: 1px solid #e0e1e1 !important; width:95% !important;">
                            <div class="car-info">
                                <div class="shine-card sh-rounded"></div>
                                <div class="shine-card sh-1"></div>
                                <div class="shine-card sh-2"></div>
                                <div class="shine-card sh-3"></div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

        <div data-bind="visible: dataStatus() == 'noData'">
            <div class="no-data-section">
                <img src="css/images/no-data.png">
                <p class="no-data-text" data-bind="text: label().noThingTxt()">NOTHING!!</p>
                <p class="no-data-desc" data-bind="text: label().emptyTxt()">There is no data available to show you right now.</p>
            </div>
        </div>

<!--            <div data-bind="visible: visibleForm.vehicleHistory" id="componentDemoContent" style="width: 1px; min-width: 100%;">
                <div id="listviewContainer">
                    <oj-list-view 
                        class="oj-listview-card-layout"
                        on-current-item-changed="[[historyAction]]"
                        data="[[vehiclesDataProvider]]" drill-mode="none">
                        <template slot="itemTemplate" data-oj-as="item">
                            <div style="text-align: center;">
                                <div class="demo-griditem-content demo-icon" style="border: 0px !important;">
                                    <div style="width:100%;max-width:100%;padding:0; text-align: -webkit-center;">
                                        <div data-bind="style: { backgroundImage:'url(\'/css/images/'+item.data.brand+'.png\')', 
                                       backgroundRepeat: 'no-repeat', backgroundSize: '100%', height: '60px', width: '75%' }, attr: { 'aria-label': item.data.brand }">
                                        </div>
                                    </div>
                                </div>
                                <div class="demo-griditem-content">
                                    <span style="width:100%;max-width:100%;padding:0"><oj-bind-text value="[[item.data.brand]]"></oj-bind-text></span>
                                </div>
                            </div>  
                        </template>                  
                    </oj-list-view>
                </div> 
            </div>-->


        <div data-bind="visible: dataStatus() == 'dataAvailable'" class="cars">
            <h2 style="text-align: center;" data-bind="text: label().history()"></h2>
            <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                <div id="listviewContainer">
                    <div class="oj-listview-card-layout" data-bind="foreach: dataprovider">
                        <div class="oj-listview-card-layout oj-listview-item demo-list-content demo-icon oj-listview-item" 
                             style="border: 1px solid #e0e1e1 !important; width:95% !important;">
                            <div class="car-info">
                                <oj-label class="label-line">
                                    <strong data-bind="text: $parent.label().vehicleType()">:</strong>
                                    <oj-bind-text value="[[Vehicle_type]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong data-bind="text: $parent.label().chassisNumber()">:</strong>
                                    <oj-bind-text value="[[chassis_number]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong data-bind="text: $parent.label().engineNumber()">:</strong>
                                    <oj-bind-text value="[[engine_number]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong data-bind="text: $parent.label().plateNumber()">:</strong>
                                    <oj-bind-text value="[[plate_number]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong data-bind="text: $parent.label().vinNumber()">:</strong>
                                    <oj-bind-text value="[[vin_number]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong data-bind="text: $parent.label().carModel()">:</strong>
                                    <oj-bind-text value="[[CarModel]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong data-bind="text: $parent.label().eliteVehicle()">:</strong>
                                    <oj-bind-text value="[[Elite_Vehicle]]"></oj-bind-text>
                                </oj-label>



<!--                                <oj-label class="label-line">
                                    <strong>Date: 
                                    </strong>
                                    <oj-bind-text value="[[Date]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong>Problem Summary:  
                                    </strong>
                                    <oj-bind-text value="[[Problem_Summary]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong>Service Advisor: 
                                    </strong>
                                    <oj-bind-text value="[[Service_Advisor]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong>By Vehicle: 
                                    </strong>
                                    <oj-bind-text value="[[by_Vehicle]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong>INSTALL DATE: 
                                    </strong>
                                    <oj-bind-text value="[[INSTALL_DATE]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong>QUANTITY: 
                                    </strong>
                                    <oj-bind-text value="[[QUANTITY]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong>By Vehicle: 
                                    </strong>
                                    <oj-bind-text value="[[by_Vehicle]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong>JOB TYPE: 
                                    </strong>
                                    <oj-bind-text value="[[JOB_TYPE]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong>PHONE NUMBER: 
                                    </strong>
                                    <oj-bind-text value="[[PHONE_NUMBER]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong>GROUP NAME: 
                                    </strong>
                                    <oj-bind-text value="[[GROUP_NAME]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong>ITEM CODE: 
                                    </strong>
                                    <oj-bind-text value="[[ITEM_CODE]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong>ITEM DESC: 
                                    </strong>
                                    <oj-bind-text value="[[ITEM_DESC]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong>UNIT PRICE: 
                                    </strong>
                                    <oj-bind-text value="[[UNIT_PRICE]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong>NET AMOUNT: 
                                    </strong>
                                    <oj-bind-text value="[[NET_AMOUNT]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong>KM: 
                                    </strong>
                                    <oj-bind-text value="[[KM]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong>INCIDENT NUMBER: 
                                    </strong>
                                    <oj-bind-text value="[[INCIDENT_NUMBER]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong>TASK STATUS: 
                                    </strong>
                                    <oj-bind-text value="[[TASK_STATUS]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong>INCIDENT NUMBER: 
                                    </strong>
                                    <oj-bind-text value="[[INCIDENT_NUMBER]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line">
                                    <strong>TASK STATUS: 
                                    </strong>
                                    <oj-bind-text value="[[TASK_STATUS]]"></oj-bind-text>
                                </oj-label>
-->


                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

    </div>
</div>