<div class="request_body_styling animated fadeInUp">
    <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
        <h1 class="header_headline_style"><span> <oj-bind-text value="[[passLookupMessage]]"></oj-bind-text> </span></h1>
        <oj-messages messages="[[messagesDataProvider]]" display="notification" position="[[position]]" on-oj-close="[[closeMessageHandler]]"></oj-messages>

        <div class="form-row">
            <div class="form-group col-md-6 srjob-col-pad">
                <label for="forSearchName" data-bind="text: searchLable"/>
                <oj-input-text id="filter"  autocomplete="off"
                               placeholder="[[searchPlaceHolder]]"
                               on-raw-value-changed="[[handleValueChanged]]" 
                               value="{{searchval}}" >
                </oj-input-text>            
            </div>
        </div>
        <div id="form-container" class="row">
            <div class="btn_row_st" align="center">
                <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                    <span><oj-bind-text value="[[backActionLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-arrow-circle-left"></span>
                </oj-button>
                <oj-button class="apBtn-2" on-oj-action='[[btnAdd]]'>
                    <span><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                </oj-button>

                <oj-button disabled="{{isDisable}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[btnEdit]]'>
                    <span><oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                </oj-button>

                <oj-button disabled="{{isDisable}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[btnView]]'>
                    <span><oj-bind-text value="[[viewLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                </oj-button>
                <oj-button class="apBtn-2  apBtn-disabled-2"  disabled="{{isDisable}}" on-oj-action='[[deleteBtnAction]]' >
                    <span><oj-bind-text value="[[deleteBtnLbl]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2 " on-oj-action='[[reset]]'>
                    <span><oj-bind-text value="[[clearLbl]]"></oj-bind-text></span>
                </oj-button>


            </div>
        </div>
    </div>
</div>
</div>
</br>



<div>
    <oj-table class='apTable-1' id='table' aria-label='Departments Table'
              data='[[dataSource]]'
              selection-mode='{"row": "multiple", "column": "multiple"}'
              dnd='{"reorder": {"columns": "enabled"}}'
              scroll-policy-options='{"fetchSize": 10}'
              columns='[[columnArray]]'
              on-oj-before-current-row = "[[tableSelectionListener]]"
              display = "grid">
        <oj-paging-control id="paging" data='[[dataSource]]' page-size='5' slot='bottom' class='apPaging-1'>
        </oj-paging-control>

    </oj-table>

</div>


<div id="dialogWrapper">

    <oj-dialog class="main-dialog main-dialog-width" id="deleteLookupDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label  data-bind="text: confirmMessage"></label>
        </div>

        <div slot="body">
            <label data-bind="text: oprationMessageDelete"></label>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[deleteRecordAction]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>
            <oj-button class="apBtn-2" on-oj-action='[[cancelDeleteAction]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>

</div>
