/* start global */
@font-face {
    font-family: "STCForward-Regular";
    src:
        url("fonts/STCForward-Regular.woff") format("woff"),
        url("fonts/STCForward-Regular.ttf") format("truetype")

}
@font-face {
    font-family: "STCFroward-Bold";
    src:
        url("fonts/STCForward-Bold.woff") format("woff"),
        url("fonts/STCForward-Bold.tff") format("truetype")

}

#loader{
    display: none;
    z-index: 99999;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

.appLoader{
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    align-items: center;
    flex-direction: column;
  }
  .appLoader span{
    content: "Loading...";
    font-family: 'OpenSans-Regular', Arial, sans-serif;
    margin-top: -30px;
    color: #de6368;
    font-size: 15px;
    /*#de6368*/
  }


/*
.demo-main-content {
         background-color: #fafafa;
         padding: 10px;
         box-sizing: border-box;
      }*/
  
.oj-fwk-icon-hamburger .oj-fwk-icon{
    padding-top: 40%;
}

div#iDrawer {
    background-color: #4f008c;
    width: 80% !important;
}

.oj-button-label{
    font-family: 'STCForward-Regular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

.oj-menu{
    width: auto;
    margin-top: 50px;
    margin-left: 45px;
}


.oj-button
{
    font-family: 'STCForward-Regular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}


.button
{

    font-family: 'STCForward-Regular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal; 
}

.oj-button-lg
{
    font-family: 'STCForward-Regular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;

}



html,body{

    font-family: 'STCForward-Regular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}
header{

    font-family: 'STCForward-ExtraBold', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

span {
    font-family: 'STCForward-Regular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

.container {
    padding-right: 10px;
    padding-left: 10px;
}

.btnPrimary {
    margin: 10px auto;
    display: inline-grid;
}
.oj-button-label-nav{
    align-content: end;
}

.btnPrimary button {
    background: #4f008c !important;
    color: #fff !important;

    margin: 3px;

    cursor: pointer !important;

    height: 40px;

}

.oj-option{
    border: 1px solid;
    border-color: #4f008c;
}


.back-icon {
    position: absolute;
    top: 25px;
    left: 10px;
}

html[dir="rtl"] .back-icon {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right: 10px;
    left: unset;
}


.headicon{
    width: 50%;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
}

html[dir="rtl"] .headicon{
    text-align: left;
}

.headicon_Left{
/*    margin-right:  15px;*/
}
/*  padding: 17px 35px;
  //border: 1px solid #175591 !important;
  //border-radius: 5px;
  font-size: 14px;
font-family: 'Raleway', sans-serif;
  font-size: 20px;*/
.box-item {
    border-radius: 8px;
    background-color: #fff;
    margin: 8px 4px;
    box-shadow: 0px 5px 10px #d6d6d6;
    width: 45%;
    height: 100px;
}

.box-item h2 {
    margin: 20px 0 0PX;
}

.box-item .label-line {
    display: block;
    margin-bottom: 7px;
}

.form-box .label-line {
    padding-bottom: 4px;
}
.box-item .label-line label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 3px !important;
    font-size: 14px;
    font-weight: normal;
    padding: 0 7px;
    font-family: 'STCForward-Regular', Arial, sans-serif;
}

.box-item .fa-calendar-alt label {padding-left: 10px;}

.box-item .label-line:before {
    color: #175591 ;
    line-height: 14px;
}

.add-btn {
    background: #014a77;
    border-radius: 25px;
    box-shadow: 6px 5px 10px #ccc;
    padding: 7px;
    margin: 30px auto;
    display: table;
}

header .header-title h1 {
    color: #fff;
    display: inline-block;
    font-size: 17px;
}

.form-box {
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 3px 3px 10px #ddd;
    margin: 15px auto;
}

.form-box h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #555;
}

.main-input input,
.main-input select,
.date-input .oj-inputdatetime-input-container {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 0 10px !important;
    height: 40px;
    margin: 10px 0px 0px;
    background: #fff;
    box-shadow: 0px 5px 10px #e2e2e2;
}

.main-input textarea {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 0 10px !important;
    height: 100px;
    margin: 10px 0px 0px;
    background: #fff;
    box-shadow: 0px 5px 10px #e2e2e2;
}

.date-input .oj-inputdatetime-input-trigger,
.date-input input {
    border: none !important;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(to top,#000, #0000002e, #0000);
    width: 100%;
    height: 100%;
} 


/* end global */

/* start:  main -> Landing */

.MLContainer{

    max-width: 800px;
    background: none;
    margin: auto;
}
.BGHolder{
    background-image: linear-gradient(to bottom, #00000088, #00000088),url('images/mainlanding.png');
    background-position: center;
    background-size: cover;
    padding: 0px 10px;
}
.HlogoContainer1{

    width: 100px;
}
.HlogoContainer1 img{
    width: inherit;
    margin-top: 30px;
}
.MLpageContent{
    margin-top: 10vh;
}
.MLpageContent span{
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.MLpageContent p {
    color: white;
    font-size: 35px;
    font-weight: lighter;
    margin-top: 10px;
}
.MLpageContent ul li{
    color: white;
    font-size: 17px;
    font-weight: normal;}
.MLpageContent ul {
    margin-top: 10px;
    list-style: none;
    padding: 0;
}
.MLpageContent ul li::before{
    content: "\02713";
    margin-right: 20px;

}
.MLCard{
    height: 40px;
    width: 100%;
    margin: 10px 0;
}
.MLCard button{
    background-color: #fff !important;
    /* box-shadow: 3px 3px 10px #00000033 !important; */
    border: 1px solid #4e2c87 !important;
    text-align: left;
    padding: 9px 5px; 
    border-radius: 10px;
    color: #333 !important;
}

.MLCard button .oj-button-text {
    white-space: normal !important;
}

.MLCardCont{
    background-color: #fff;
    padding: 20px 5px;
    border-radius: 25px;
    margin: auto;
    text-align: center;
    max-width: 750px;
}
.MLCard .oj-button-label img{
    margin:auto;
    display: block;
    margin-bottom: 20px;
}
.MLCard  .oj-button-label{
    display: block;
    /* text-align: center;  */
}
/* .oj-button-label span{
  margin-top: 5px;
} */
/* end:  main -> Landing */

/* start login page */

.login-page {
    background-image: -webkit-linear-gradient(#ffffff2e, #ffffffe6, #fff, #fff), url(./images/login-bck.png);
    background-position: top;
}

.login-page h1 {
    color: #175591;
    margin-bottom: 30px;
}

.login-page .oj-applayout-content {
    padding-top: 26vh;
}

.sign-form label {font-size: 14px;}

.sign-form input {
    border: 1px solid #ddd;
    border-radius: 7px;
    height: 40px;
    margin: 5px 0px 15px;
    background: #fff;
    box-shadow: 0px 3px 10px #ddd;
    padding: 0 10px;
}

.sign-form {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

.login-page .login-footer {
    text-align: center;
    margin-top: 30px;
}

.login-page .login-footer label {
    font-size: 15px;
}

.login-page .login-footer #haveAccount {margin-top: 30px;}

.login-page .login-footer #signup {
    text-decoration: underline;
}

/* end login page */

/* start signup page */

.signup-page {
    background-image: -webkit-linear-gradient(#fff, #fff, #fffffff7, #ffffffb3), url(./images/bck-car.png);
    background-position: bottom;
    background-repeat: no-repeat;
}

.signup-page h3 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #00a1db;
}

/* end signup page */

/* start dashboard Page */

.dashboard-page .oj-hybrid-applayout-header-title {
    color: #fff;
    font-weight: bold;
    margin: 15px auto;
}

.dashboard-page .header-text{
    padding: 0 20px;
    margin-top: 10%;
}

.dashboard-page .header-text h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}

.dashboard-page .header-text p {
    font-size: 18px;
    letter-spacing: 1.5px;
}

.dashboard-page .oj-applayout-fixed-top {
    z-index: -1;
}

.dashboard-page header {
    background-image: linear-gradient(to bottom, #0000009e, #00000000),url(./images/bck.png);    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 40vh;
    border-radius: 0 0 25px 25px;
    color: #fff
}

.dashboard-page .banner {
    text-align: center;
    margin-top: -80PX;
    z-index: 99;
}

.dashboard-page .oj-button .oj-button-text {
    white-space: pre-line;
}


.dashboard-page .box-item .oj-button .oj-button-text {
    white-space: pre-line;
    text-overflow: unset;
}

.dashboard-page  .MLCard .oj-button-label {color: #555;}

.logout-btn {
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 14px;
}

.logout-btn button {
    color: #fff !important;
}

/* end dashboard page */

/* start maintenance page */

.toggle-bar {
    padding: 1px;
}

.toggle-bar .oj-buttonset-first {
    height: 45px;
    border-radius: 25px 0 0 25px !important;
}

.toggle-bar .oj-buttonset-last {
    height: 45px;
    border-radius: 0 25px 25px 0 !important;
}

.toggle-bar .oj-default {
    color: #014a77 !important;
    background-color: #fff !important;
}

.book-maintenance .oj-applayout-content p {
    text-align: center;
    color: #777;
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 21px;
}

/* end maintenance page */

/* start test page */

.test-page .oj-applayout-content p {
    text-align: center;
    color: #777;
    font-size: 14px;
    margin-bottom: 30px;
}

/* end test page */

/* start vehicle history */

.vehicle-history .oj-listview-card-layout li.oj-listview-item {
    width: 31.3%;
    margin: 1% !important;
    height: 100px;
    border-radius: 10px;
}

.vehicle-history .oj-listview {
    border: none;
}




/* end vehicle history */

/* start cars page */

.cars .oj-listview-card-layout {
    border: none !important;
}

.cars .car-item {
    width:100%;max-width:100%;padding:0; text-align: -webkit-center; 
}

.cars .car-item .demo-list-content {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-weight: bold;
}

.cars .car-img {
    position: relative;
    background-size : 100%;
    background-position: center;
    height: 16%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.cars .oj-listview-item {
    width:100% !important;
    margin: 10px !important;  
    padding: 0;
    background-color: #fafafa;
    border-radius: 10px !important;
    box-shadow: 5px 5px 10px #ddd;
    height: unset;
}

.cars .car-info {
    margin: 15px 10px;
}

.cars .label-line {
    display: block;
    margin: 10px 5px;
    font-size: 14px;
}

/* end cars page */

/* start car history */

.car-history .car-img {
    position: relative;
    background-size : 100%;
    background-position: center;
    height: 16%;
    width: 100%;
}

.car-history .demo-list-content {
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-weight: bold;
}



/* end car history */

/* start faq page */

.faq-page .tag-btn {
    border: 1px solid #02629f;
    border-radius: 20px;
    margin: 0 5px;
}

.faq-page .question {
    background: #f5f5f5;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #ddd;
    margin-bottom: 15px
}


.faq-page .question h4 {
    color: #02629f;
}

.faq-page #content {
    color: #555;
    font-size: 14px;
    padding: 5px 10px;
    line-height: 21px;
}

.reset-page .btnPrimary button {
    padding: 0 !important;
}


/* end faq page */

/* start profile */

.profile-page {
    background: #fff;
}

.profile-page .profile-pic {
    margin: 10px auto;
}

.profile-page .oj-applayout-content {
    padding-top: 1vh;
}
.profile-page h1 {
    margin-bottom: 30px;
    text-align: center;
}

.profile-page .change-pic .oj-filepicker-custom {
    display: block;
    margin: auto;
    text-align: center;
}

.profile-page .change-pic .pic-text {text-align: center;}

.ulResults{padding: 0 !important;}

.loginVerify__inputField{
    width: 60%;
    box-sizing: border-box;
    min-width: auto;
    padding: 5px;
}

.loginVerify__inputField:focus {
    border: none !important;
    box-shadow: 0px 6px 10px #ddd;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

.headmodule{

    display: block;
    width: 50%;
}


/* end profile */

/*for verify page*/

.main-form {
    text-align: unset !important;
}

.loginVerify__inputRow{
    
    display: inline-block;
    text-align: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0 25px;
    color: #fff;
}
.loginVerify__inputField{
    width: 40px;
    box-sizing: border-box;
    min-width: auto;
    padding: 5px;
    height: 50px;
    margin: 5px;
    border: 1px solid#f1f1f1;
    background: #f1f1f1;
}
.loginVerify__inputField input{
    border: 1px sloid #1a1a1a;
}

/* start global ==========================================================
===============================================================================*/

.mid-logo img {
    width: 70%;
    margin: 4vh auto;
}

.path {
    position: absolute;
    bottom: 0;
    right: 0;
}

.path img {
    width: 80%;
    float: right;
}

header {
    display: flex !important;
    background-color: #4f008c;
    height: 65px;
    border-radius: 0px 0px 20px 20px;
}
.backarrowImg{
    height: 74%;
    width: 24px;
}



.main-btn button {
    background-color: #4f008c !important;
    /*background-image: linear-gradient(to top,#4e2c87, #823383, #DA3F7B) !important;*/
    width: 280px;
    border-radius: 20px;
    color: #fff !important;
}

.small-btn button {
    width: 140px;
    display: inline-block;
}

.big-btn{
    height: 110;
    width: 35%;
    margin: 10px 10px;
}

.big-btn button{
    background-color: #fff !important;
    box-shadow: 3px 3px 10px #00000033 !important;
    text-align: center;
    padding: 10px 0; 
    border-radius: 10px;
    color: #DA3F7B !important;
}

.big-btn button .oj-button-text {
    /* white-space: normal !important; */
    overflow: visible;
    padding: 0px 5px;
    display: block;
    font-size: 16px;
    color:#ff375e;
}

.big-btnCont {
    background-color: #fff;
    padding: 20px 5px;
    border-radius: 25px;
    margin: auto;
    text-align: center;
    max-width: 750px;
}
.big-btn .oj-button-label img{
    margin:auto;
    display: block;
    margin-bottom: 10px;
}

.main-menu .big-btn .oj-button-label{
    display: unset;
    /* text-align: center;  */
    font-size: 14px;
}

.main-menu .big-btn button .oj-button-text {
    white-space: normal !important;
}

.big-btn .oj-button-label{
    display: block;
    /* text-align: center;  */
}

.receipt-popup .main-btn button {
    width: auto !important;
    margin-top: 15px;
}

.remain-txt {
 fonr-size: 12px
}


/*.popup-dialog .popup-head {
    position: relative;
}*/

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    color: red
}

html[dir="rtl"] .close-btn {
     right: unset;
     left: 10px
}

.btn-left {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 15px
}

html[dir="rtl"] .btn-left {
    right: 0;
}

.receipt-popup {
    margin: 4px 0;
}

.back_v {
    position: absolute;
    margin: 30px 20px;
}

/* end global */

/* start landing page */

.landing-logo img {
    /*width: 40%;*/
/*    padding-top: 5px;*/
}

.landing-logo {
    text-align: right;
}

html[dir="rtl"] .landing-logo {
    text-align: left;
}

.land-input {
    margin: 20px auto;
    width: 70%;
}

.nav-dropdown {
    top: 20px !important;
    left: 30px !important;
}

.land-input .dropdown-list {
    width:100px !important;
    overflow: hidden;
}


/* end landing page */

/* start verify page */

.verify-info {
    text-align: center;
    margin-top: 10vh;
}

.verify-info h3 {
    color: #ff375e;
}

.verify-info h4 {
    color: #4e2c87;
    line-height: 1.5em;
}

.verify-info h4 span {
    color: #333;;
}

.resend-info h4 {
    color: #333;
    margin-top: 20px;
}

.resend-info button {
    color: #DA3F7B !important
}

/* end verify page */

/* start login page */

.remember {
    width: 80%;
    margin: auto;
}

.remember .oj-checkboxset-wrapper {
    background: transparent;
    border: none;
}

.remember .oj-checkbox-label {
    float: right !important;
    position: absolute;
    left: 25px;
    width: 140px;
    top: 15px;
}

html[dir="rtl"] .remember .oj-checkbox-label {
    right: 30px;
    top: 12px
}


/* end login page */

/* start notification */

/*.notification-list .oj-listview-item-element {
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 3px 5px 6px #eee;
}

.notification-list .oj-listview-item-element label {
    color: #4e2c87;
    font-weight: bold;;
}

.notification-list .oj-listview-item-element .oj-label {
    display: inline !important;
    font-size: 14px;
}

.notification-list .oj-listview-item-element .oj-listview-cell-element {
    line-height: 1.5;
}

.notification-list .oj-listview-item-element .notif-info {
    position: absolute;
    left: 90px;
}*/

.notification-list {
    min-height: 105px;
    padding: 15px;
    border: 1px solid #ddd;
    width: 85%;
    margin: 10px auto;
    display: block;
    border-radius: 15px;
    box-shadow: 5px 10px 6px -5px #eee;
}

.notify {
    min-height: 175px;
}

.notification-details-list {
    /*min-height: 215px;*/
    padding: 15px;
    border: 1px solid #ddd;
    width: 85%;
    margin: 10px auto;
    display: block;
    border-radius: 15px;
    box-shadow: 5px 10px 6px -5px #eee;
}
.notifyDetails{
    min-height: 400px;
}

.notification-details{
    min-height: 400px;
}

html[dir='rtl'] .notification-details{
    min-height: 500px;
}

html[dir='rtl'] .notification-details .subject-info {
    padding-bottom: 60px
}

html[dir='rtl'] .notification-details .org-info {
    padding-bottom: 15px
}


.notification-details .vendor-info {
    padding-bottom: 40px 
}
html[dir='rtl'] .notification-details .vendor-info {
    padding-bottom: 60px
}


.notification-details .desc-info {
    padding-bottom: 40px
}
html[dir='rtl'] .notification-details .desc-info {
    padding-bottom: 45px
}

.notification-label {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    text-align: left;
/*    flex-wrap: wrap*/
}

.notification-list .oj-button-label {
    display: block !important;
}

.notification-label .label-info {
    left: 90px;
    position: absolute;
    font-size: 14px;
    color: #333;
    white-space: pre-wrap;
}

.notification-details oj-label {
    color: #4f008c;
    font-weight: bold;
}

html[dir='rtl'] .notification-label .label-info {
    right: 90px !important;
}



/* end notification */

/* start normal process */

.form-label {
    display: inline !important;
    font-weight: bold;
    font-size: 14px;
    margin: 15px;
    background: transparent;
    border: none;
    color: #4e2c87;
}

.form-input {
    display: inline-block;
    width: 50%;
    position: absolute;
    right: 50px;
}

html[dir="rtl"] .form-input {
    right: 115px;
}

.main-form img {
    position: absolute;
    right: 15px;
}

html[dir="rtl"] .main-form img {
    right: unset;
    left: 15px;
}

/* ======================= */

.receipt-form {
    background-color: #fafafa;
    box-shadow: 6px 5px 10px #ccc;
    max-width: 240px;
    margin-top: 10px;
    text-align: unset !important;
}

.receipt-form .loginVerify__inputRow {
    text-align: unset !important;
}

.receipt-form .loginVerify__inputRow .form-label {
    /* margin: 20%; */
}

.receipt-form .main-btn {
    width: 140px;
}



/* end normal process */


/* start express */


.after-qr {
    width: 140px;
    display: inline-block;
    position: absolute;
    right: 80px;
}

html[dir="rtl"] .after-qr {
    right: 125px;
}

.after-qr p {
    color: #333;
    display: inline;
}

.location-label {
    background: #dfd0f9f7;
    height: 41px;
    padding: 10px 0px;
}

.location-label .form-label {
    font-size: 17px;
}



/* end express */

/*start orgnization page*/

.orgnization-content {
    padding: 0 !important;
    margin: 0 10px;
}





/*End Orgnization Page*/

/*start loading*/

.loading-dialog {
    background: none !important;
   border: none !important;
   box-shadow: none !important;
   box-sizing: 0 px;
}

.headicon .notification-num {
    position: absolute;
    top: 4px;
    right: 25px;
    background: #ff375e;
    border-radius: 25px;
    height: 22px;
    width: 22px !important;
    line-height: 25px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

html[dir="rtl"] .headicon .notification-num {
    right: unset !important;
    left: 25px !important;
}




/*end loading*/

.center-btns {
    text-align: center;
    margin: 15px auto;
    display: block;
}

/*start favourites pages*/

.pages-btn {
    min-height: auto;
    width: 60%
}

.pages-btn h4 {
    color: #4f008c;
    font-weight: bold;
}

.option-btns {
    text-align: center;
}

.option-btns oj-button {
    margin-right: 10px
}

.option-btns button span {
/*        border: 1px solid #4f008c;*/
color: #fff !important;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid gray;
  border-bottom: 6px solid gray;
/*  border-right: 16px solid gray;
  border-left: 16px solid gray;*/
  width: 1px;
  height: 1px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.notification-details-buttons {
    height: 3rem;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}