

:root{
    /* theme Colors */
    --primary-color: #175591;
    --secondary-color: #555;
    

    /* Button Colors */
    --Btn-main-color: #175591;
    --Btn-dis-color: #5490CB;

    /* Required */
    --required-color:#bd2527;

}


