body {
    /* background: url('../css/images/bk-img_body.jpg') center fixed no-repeat; */
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url(../css/images/swd-pr/home_header_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.loading {
    background-image: url("http://loadinggif.com/images/image-selection/3.gif")
        !important;
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* start login page */

.limiter {
    background-color: #fff;
    width: 30%;
    margin: auto;
    border-radius: 15px;
    box-shadow: -6px 12px 15px 1px #000;
}

@media (min-width:768px) and (max-width:991px) {
    .limiter {
        width: 40%
    }
}

@media (max-width:768px) {
    .limiter {
        width: 50%
    }
}

@media (max-width:450px) {
    .limiter {
        width: 80%
    }
}

.container-login100 form {
    text-align: center;
    padding: 15% 8% 20%;
}

.container-login100 .login100-form-log {
    width: 100%;
}
.login100-form-logo {
    margin-bottom: 80px;
}

.limiter .logo-title {
    font-size: 20px;
    color: #555;
    letter-spacing: 1.5px;
}

.container-login100 .form-title {
    color: #fff;
    font-size: 37px;
    letter-spacing: 1px;
    padding-bottom: 30%;
}

.container-login100 .wrap-input100 input {
    width: 100%;
    border-radius: 40px;
    border: none;
    height: 30px;
    padding: 3px 10px 3px 25px;
    min-height: 40px;
}

.container-login100 .wrap-input100 {
    position: relative;
}

.container-login100 .wrap-input100 .log-icon {
    position: absolute;
    top: 9px;
    left: 4px;
    color: #c70000;
}

#loginButton {
    width: 100%;
    height: 40px;
    display: inline-block;
    margin: 35px 0 20px;
}

#loginButton .oj-button-button {
    border-radius: 20px;
    color: #fff !important;
    background-color: #c70000 !important;
    border-color: #c70000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}
#loginButton .oj-button-button:hover{
    border-radius: 20px;
    color: #fff !important;
    background-color: #900202 !important;
    border-color: #900202;
}

oj-button-label span {
    color: #c70000 !important;
    margin: 0 !important;
}

.p-t-90 .change-lang {
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    /* margin-right: 208px; */
}

.p-t-90 .change-lang a {
    color: #c70000;
    font-size: 12px;
    text-decoration: none;
}

.p-t-90 .change-lang:hover {
    background-color: #c70000;
    color: #fff;
    cursor: pointer;
}

.p-t-90 .change-lang:hover a{
    color: #fff;
}
.p-t-90 .change-lang a:hover{
    color: #fff;
}

/* end login page */

/* start home page */
.nav-img img{
    margin-left: 50px !important;
}
.nav-img .logo-icon {
    float: left !important;
    height: 40px;
    margin: 10px 0;
}

.nav-img .logo-title {
    height: 45px;
    margin: 13px 0;
}

.oj-flex-bar .home-icon i {
    padding: 5px;
    color: #c70000;
    font-size: 26px;
    margin-left: 55px;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.oj-flex-bar .home-icon:hover i{
    margin-bottom: 7px;
}

.block-two .image,
.block-two .labels {
    display: none;
}
.oj-flex-bar-end .out-btn button {
    background: transparent !important;
    border: none !important;
}

.oj-flex-bar-end .out-btn i {
    color: #c70000;;
    border: 1px solid #c70000;
    font-size: 19px;
    cursor: pointer;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.oj-flex-bar-end .out-btn i:hover {
    color: #fff;
    background-color: #900202;
    border: 1px solid #900202;
}
header.scrollnav {
    font-size: 24px;
    line-height: 48px;
    height: 70px;
    background: #fff;
    text-align: left;
    padding-left: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9;
    /* background-image: url(../css/images/nexus/header_scrollnav_logo.png);
    background-repeat: no-repeat;
    background-position: left; */
    transition: all 0.2s ease-in-out;

}
.imgPurple{
    display: none;
}
.purple .home-icon i{
    color: #c70000 !important;
}
.purple .imgPurple{
    display: block !important;
}
.purple{
    box-shadow: 0px 0px 11px -2px #1a1a1a;
}
.imgWhite{
    display: none;
}
.forwhite .imgWhite{
    display: block !important;
}
.section-two {
    width: 100%;
    padding: 2%;
}

.section-container {
    background: #ffffffed;
    margin-top: 25px;
    padding: 4%
}

.product-page {
    background: #ffffffed;
    padding: 4%;
}

.oj-flex .search-form .oj-flex {
    width: 48%;
    display: inline-flex;
    margin-bottom: 20px;
}

.oj-flex .oj-form .oj-label {
    padding-right: 65px !important;
}

.oj-flex-buttons {
    text-align: center;
    margin-bottom: 60px;
}

.buttony {
    display: flex;
}



#form-container #buttons-container {
    text-align: center;
    margin-bottom: 25px;
}

/* start styling for apTable-1 */

.tb-input {
    width: 160px;
    border: 1px solid #ccc !important;
    background-color: #fff;
}

.tb-input input:hover {
    background-color: #fff !important
}

.apTable-1{
    width: 100%;
    border:none !important;
    background-color: transparent!important;
    max-height: 326px;
}

.apTable-1 .oj-table-grid-display .oj-table-header-row, .oj-table-editable .oj-table-header-row {
    color :white;
    background: #F5F6FA;
    height: 100px;
    width: 100%;
}

.apTable-1 thead tr th {
    border:none !important;
    transition: all 0.1s ease-in-out;
    padding: 15px 20px !important;
    background: #c70000;
}

.apTable-1 tbody tr  {
    border:none !important;
    transition: all 0.1s ease-in-out;
}

.apTable-1 tbody tr:hover  {
    background-color:#aaa2ad !important;
}

.apTable-1 tbody tr .oj-hover{
    background-color: #aaa2ad !important;
}

.apTable-1 tbody .oj-selected{
    background-color: #aaa2ad !important;
}

.apTable-1 tbody tr td  {
    border:none !important;
    padding: 15px 20px !important;
    transition: all 0.1s ease-in-out;
}

.apTable-1 thead tr th:hover {
    background-color: #aaa2ad !important;
    cursor: pointer;
}

.apTable-1 thead tr th:hover .oj-table-column-header {
    color:#000 !important;
}
.apTable-1 .oj-table-column-header-asc-icon:hover{
    background-color: transparent !important;
}

.apTable-1 thead{
    border:none !important;
}

table {
    font-family: source-sans-pro, sans-serif;
    border-collapse: collapse;
}

/* end styling for apTable */


/* end home page */

/* start add page */

.oj-tabbar-element {
    margin: 50px auto 40px;
    background: #ddd;
}

.demo-tab-content-head {
    text-align: center;
    margin-bottom: 20px;
}

.edit-page {
    background: #ffffffed;
    margin-top: 25px;
    padding: 4%;
}
#ui-id-5_requiredIcon span{
    color:#c70000 !important;
    text-align: right !important;
}
/* end add page */

.main-dialog-width{
    width: 150px !important;

}

.main-dialog{
    /*    display: none;
        width: 50vw !important;*/
    /*height: auto;*/
    /*position: fixed !important;*/
    /*top: 5% !important;*/
    /*    width: 450px !important;*/
    width: 60vw !important;
    height: auto;
    margin: auto;   
}
.halfDialogStyle{
    max-width: 700px;
    max-height: 500px;
}

.main-dialog{
    /*    overflow: hidden !important;
        max-width: 600px;*/
    /*max-height:700px;*/ 
}
.oj-dialog-header {
    min-height: 50px;
}
#dialogWrapper{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.oj-dialog-button {
    border-radius: 10px;
    margin-left: 10px

}
.details.oj-draggable .oj-dialog-header, .oj-draggable .oj-dialog-title{
    border-bottom:  1px solid #2c2f5e;
    background-color: #D3ECD1;
}
.oj-dialog.details{
    position: fixed !important; 
    top: 5% !important; 
}
.effective-dialog{
    top: 100px !important;
}
.dialog-top30{
    position:fixed !important;
    top:10% !important;
}
oj-input-text{
    background-color: white;
    border-radius: 5px;
}
/*.apBtn-disabled .oj-disabled{
    border-radius: 4px;
    background-color: transparent;
    margin: 5px 10px;
    min-height: 35px;
    transition: all 0.1s ease-in-out;
}
.apBtn-disabled .oj-disabled button{
    border: 1px solid #c70000 !important;
    width: 100%;
    padding: 5px 20px;
    background-color: transparent !important;  
}

.apBtn-disabled .oj-disabled button .oj-button-label{
    color: red;
}
.apBtn-disabled .oj-disabled button .oj-button-label .apiconClass{
    color: #c70000 !important;
    margin: 0 10px !important;
}

.apBtn-disabled .oj-disabled:hover .oj-button-label{
    color: #fff !important;
}
.apBtn-disabled .oj-disabled:hover {
    background-color:transparent !important;
    cursor: pointer;
}

.apBtn-disabled .oj-disabled:hover .oj-button-label .apiconClass{
    color: #fff !important;
}
.oj-button-jqui.oj-disabled.oj-button-full-chrome, .oj-button.oj-disabled.oj-button-full-chrome .oj-button-button{
    cursor: pointer;
}
*/



.table-content{
    max-height: 400px;
    overflow-y: auto;
}



h2   {color:#c70000;
      margin-right:1400px;

}  

h3   {color:#c70000;
      margin-left:800px;

}  

h1   {color:#c70000;
      margin-left: 20px;
}
/* Start input popup */
.generateInputPopup .oj-flex-item{
    width: 100px;
}
.generateInputPopup .oj-inputtext-input{
    height: 40px;
}
.generateInputPopup .oj-select-choice{

    text-align: left;
    padding: 10px;
    height: 40px;
}
/* End popup */

/* start scroller bar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #c70000; 
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
    background: #b2a7a5; 
}
/* End scroller bar */

/* start styling for button */
.btnStyle .oj-button-button {
    border-radius: 4px;
    margin: 5px 10px;
    min-height: 35px;
    transition: all 0.1s ease-in-out;
    border: 1px solid #c70000 !important;
    background-color: transparent !important;
    max-width: 250px;
    color: #c70000 !important;
    padding: 0px 30px;
    margin-left: 25px;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btnStyle .oj-button-button:hover {
    color: #fff !important;
    background-color: #900202  !important;
}

.apBtn-disabled.oj-disabled{
    border-radius: 4px;
    background-color: transparent;
    margin: 5px 10px;
    min-height: 35px;
    transition: all 0.1s ease-in-out;

}
.apBtn-disabled.oj-disabled button{
    border-radius: 4px;
    margin: 5px 10px;
    min-height: 35px;
    transition: all 0.1s ease-in-out;
    max-width: 250px;
    margin-left: 25px;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 1px solid #b2a7a5 !important;
    width: 100%;
    padding: 5px 20px;
    background-color: transparent !important;
}

.apBtn-disabled.oj-disabled button .oj-button-label{
    color: #b2a7a5;
}
.apBtn-disabled.oj-disabled button .oj-button-label .apiconClass{
    color: var(--Btn-dis-color) !important;
    margin: 0 10px !important;
}

.apBtn-disabled.oj-disabled:hover .oj-button-label{
    color: #b2a7a5 !important;
}
.apBtn-disabled.oj-disabled:hover {
    background-color:transparent !important;
}

.apBtn-disabled.oj-disabled:hover .oj-button-label .apiconClass{
    color: #b2a7a5 !important;
}



.sk-folding-cube {
    margin: 20px auto;
    width: 50px;
    height: 50px;
    background-color: #fff; 
    position: absolute;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    margin-top: calc(50vh - 20px);
    margin-left: calc(50vw - 20px);
    

}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); 
    
}
.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0; 
    } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1; 
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0; 
    } 
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0; 
    } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1; 
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0; 
    }
}

/*end laoding page*/

#loading{
    display: none;
    height: 100%;
    width: 100%;
    background: #000000;
    position: fixed;
    z-index: 99009;
    opacity: 0.5;
}

.section-container-2 .oj-table-element{
    background: #fff;
}
.section-container-2 .oj-table-header-row{
    background-color: #c70000;
    color: #fff;
}
.oj-form .oj-form-cols{
    margin-top: 50px;
}


