<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div id="form-container" class="section-container">
     <div style="    margin-bottom: 27px;margin-top: -5px;">
       <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[backBtnAction]]'>
            <span><oj-bind-text value="[[backLbl]]"></oj-bind-text></span>
        </oj-button>
                </div>
    <h1><small><span data-bind="text: firstTableHeader"></span></small></h1>

<div class="table-content">
        <oj-table id='table'
                  class="apTable-1"
                  aria-label='Table'
                  data='[[dataSourceoInVDetails]]'
                  selection-mode='{"row": "single", "column": "single"}'
                  dnd='{"reorder": {"columns": "enabled"}}'
                  scroll-policy-options='{"fetchSize": 10}'
                  columns='[[columnArrayInvoice]]'
                  display = "grid"
                  >
        </oj-table>
    </div>
<br/>
<h1><small><span data-bind="text: costToComeLbl"></span></small></h1>
<div class="table-content">
        <oj-table id='table'
                  class="apTable-1"
                  aria-label='Table'
                  data='[[dataSourceCostToCome]]'
                  selection-mode='{"row": "single", "column": "single"}'
                  dnd='{"reorder": {"columns": "enabled"}}'
                  scroll-policy-options='{"fetchSize": 10}'
                  columns='[[columnArrayCost]]'
                  display = "grid"
                  >
        </oj-table>
    </div>
<h1><small><span data-bind="text: totalLbl"></span></small></h1>
<div class="table-content">
        <oj-table id='table'
                  class="apTable-1"
                  aria-label='Table'
                  data='[[dataSourceTotal]]'
                  selection-mode='{"row": "single", "column": "single"}'
                  dnd='{"reorder": {"columns": "enabled"}}'
                  scroll-policy-options='{"fetchSize": 10}'
                  columns='[[columnArrayTotal]]'
                  display = "grid"
                  >
        </oj-table>
    </div>

    </div>
