

<div id="form-container" class="oj-form-layout">
    <div class="oj-form">
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">
                <button id="cancel" type="button"                       
                        data-bind="click: backAction,   
                       ojComponent: {  component: 'ojButton',  label: cancel}"></button>

                <button id="PreviousStep" type="button"
                        data-bind="click: previousStep,  
                       ojComponent: {disabled:currentStepValue() == 'stp1',       
                                   component: 'ojButton',                            
                                   label: backLbl}"></button>
            </div>
            <div class="oj-flex-bar-end">
                <button id="NextStep" type="button"
                        data-bind="visible:nextBtnVisible,click: nextStep,  
                                            ojComponent: {  disabled:currentStepValue() == 'stp2', 
                                                    component: 'ojButton', 
                                                    label: nextLbl}"></button>

                <button id="submit"
                        data-bind="visible:addBtnVisible ,click: submitButton,   
                          ojComponent: { component: 'ojButton', label: submitLbl}"></button>

                <div id="sampleDemo" style=""
                     class="demo-padding demo-container"></div>
                <div id="dialogWrapper">
                    <oj-dialog style="display:none;width:350px;height:auto"
                               id="yesNoDialog">
                        <div slot="header" class="oj-helper-clearfix">
                            <label data-bind="text:confirmMessage "/>
                        </div>
                        <div slot="body">
                            <label data-bind="text:oprationMessage "/>
                        </div>
                        <div slot="footer">
                            <button id="buttonOpenerNested" type="button"
                                    data-bind="click: commitRecord,        ojComponent: {                                                             disabled:disableSubmit(),          component: 'ojButton',           label: yes}"></button>

                            <button id="cancelButton" type="button"
                                    data-bind="click: cancelButton,        ojComponent: {          component: 'ojButton',           label: no}"></button>
                        </div>
                    </oj-dialog>
                </div>
            </div>
        </div>
    </div>
    <div id="train-container">
        <div style="text-align: center;white-space:nowrap;">
            <oj-train id="train"
                      style="max-width:700px;margin-left:auto;margin-right:auto;"
                      selected-step="{{currentStepValue}}" steps="[[stepArray]]"
                      class="oj-train-stretch"
                      on-oj-before-select="[[stopSelectListener]]"/>
        </div>

        <br/>

        <h3 id="currentStepText" data-bind="text: currentStepValueText()"
            style="text-align: center"></h3>
        <div class="oj-form-layout" >
            <oj-validation-group id="tracker" valid="{{groupValid}}">
                <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                    <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations" >
                        <div id="xx">

                        </div>


                    </div>


                </div>
            </oj-validation-group>
        </div>
    </div>

</div>