<div class="whole">
    <div class="request_body_styling animated fadeInUp">

        <!DOCTYPE html>
        <!--
        To change this license header, choose License Headers in Project Properties.
        To change this template file, choose Tools | Templates
        and open the template in the editor.
        -->
        <h1 class="header_headline_style" style="text-align: center"><span style="color: black">  <oj-bind-text value="Project Setup"></oj-bind-text> </span></h1>

        <div class="oj-form-layout">
            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
                <div id="form-container" class="row">

                </div>
            </div>
        </div>
        <div class="oj-form-layout oj-panel">
            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">



                <div class="workListSearch">
                    <oj-label class="oj-label">CompanyName </oj-label> 
                    <oj-input-text id="CompanyName>" value="{{companyName}}"></oj-input-text>

                </div> &nbsp; &nbsp; &nbsp

                <div class="workListSearch">
                    <oj-label class="oj-label">AdminUser</oj-label>  


                    <oj-input-text id="positionName" value="{{adminUser}}"></oj-input-text>
                    <!--           <oj-button id="SearchBTN" on-oj-action='[[searchBTN]]'>Search </oj-button>-->

                </div>

                <br>
                <div class="workListSearch">
                    <oj-label class="oj-label">AdminPassword</oj-label>
                    <oj-input-text id="positionName" value="{{adminPassword}}"></oj-input-text>
                    <!--           <oj-button id="SearchBTN" on-oj-action='[[searchBTN]]'>Search </oj-button>-->

                </div>&nbsp; &nbsp; &nbsp

                <div class="workListSearch">
                    <oj-label class="oj-label">HostName</oj-label>
                    <oj-input-text id="positionName" value="{{hostName}}"></oj-input-text>
                    <!--           <oj-button id="SearchBTN" on-oj-action='[[searchBTN]]'>Search </oj-button>-->

                </div>

                <br>
                <br>
                <br>

            </div>
            <div class="btn_row_st" align="center">
                <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                    <span style="color: black;"><oj-bind-text value="[[backActionLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-arrow-circle-left"></span>
                </oj-button> 
                <oj-bind-if test="[[addMode]]">
                    <oj-button class="apBtn-2" on-oj-action='[[searchBTN]]'>
                        <span style="color: black;"><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                    </oj-button>
                </oj-bind-if>
                <oj-bind-if test="[[editMode]]">
                    <oj-button class="apBtn-2" on-oj-action='[[searchBTN]]'>
                        <span style="color: black;"> <oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                    </oj-button>
                </oj-bind-if>
            </div>
        </div>
    </div>
</div>
