<div class="request_body_styling animated fadeInUp">
    <div id="train-container">
        <h1 class="header_headline_style" style="text-align: center"><span style="color: black"> <oj-bind-text value="[[SetupScreenLbl]]"></oj-bind-text> </span></h1>

        <hr>
        <br>

        <div class="oj-form-layout">
            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
                <div id="form-container" class="row">
                    <div class="btn_row_st" align="center">
                        <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                            <span style="color: black;"><oj-bind-text value="[[backActionLbl]]" ></oj-bind-text></span>
                            <span slot='endIcon' class="apiconClass fa fa-arrow-circle-left"></span>
                        </oj-button>
                        <oj-button class="apBtn-2" on-oj-action='[[addAdditionalDetails]]'>
                            <span style="color: black;"><oj-bind-text value="[[addLbl]]" ></oj-bind-text></span>
                            <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                        </oj-button>

                        <oj-button class="apBtn-2" on-oj-action='[[updateAdditionalDetails]]'>
                            <span style="color: black;"><oj-bind-text value="[[editLbl]]" ></oj-bind-text></span>
                            <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                        </oj-button>

                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div>
            <oj-table id='table' class='apTable-1' aria-label='Departments Table'
                      data='[[dataprovider]]'
                      selection-mode='{"row": "multiple", "column": "multiple"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy='loadMoreOnScroll'
                      scroll-policy-options='{"fetchSize": 10}'
                      columns='[[columnArray]]'
                      display = "grid"
                      on-oj-before-current-row="[[tableSelectionListener]]">
            </oj-table>
        </div>
    </div>
</div>

<div id="dialogWrapper">
    <oj-dialog class = "oj-dialog-content oj-dialog-default-content" id="modalDialog1">
        <div slot="header" class="oj-helper-clearfix">
            <label  data-bind="text:historyDetails "/>
        </div>
        <div slot="body">
            <oj-table id="tbl12" class='apTable-1' aria-label="Approvals Table"
                      data='[[dataSourceTB2]]'
                      display = "grid"
                      selectionMode = "{'row': 'single'}"
                      columns-default='{"sortable": "enabled"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      columns='{{columnArray}}'>
            </oj-table>                
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[closeDialog]]'>
                <span><oj-bind-text value="[[ok]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
</div>

<div id="dialogWrapper">
    <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label  data-bind="text: confirmMessage"></label>
        </div>

        <div slot="body">
            <label data-bind="text: oprationMessage"></label>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[commitRecord]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
</div>

<div id="dialogWrapper">

    <oj-dialog class="main-dialog main-dialog-width" id="ValidationDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label  data-bind="text: confirmMessage"></label>
        </div>

        <div slot="body">
            <label data-bind="text: oprationMessage"></label>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[cancelButtonValid]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>

</div>