<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="request_body_styling animated fadeInUp ">
    <h3 class="header_headline_style"><span> <oj-bind-text value="{{label().approvalscreenLbl}}"></oj-bind-text> </span></h3>

    <div class="summaryContent container">
        <div class="summaryBtn detailsBtn">

            <oj-button class="btnStyle" on-oj-action='[[approveBtnAction]]' disabled="[[customsModel.isDisabled]]"><i class="fa fa-thumbs-up"></i><span data-bind="text:label().approveLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[rejectBtnAction]]'disabled="[[customsModel.isDisabled]]"><i class="fa fa-times-circle"></i><span data-bind="text:label().rejectLbl "></span></oj-button>
            <oj-button class="btnStyle apLoginBtn" on-oj-action='[[viewBtnAction]]'disabled="[[customsModel.isDisabled]]"><i class="fa fa-eye"></i><span data-bind="text:label().viewLbl "></span></oj-button>
            <oj-button class="btnStyle apListBtn" on-oj-action='[[viewApproval]]'disabled="[[customsModel.isDisabled]]"><i class="fa fa-list-ul"></i><span data-bind="text:label().viewApprovalLabel "></span></oj-button>
            <oj-button class="btnStyle apAttBtn " on-oj-action='[[viewAttachmentsBtnAction]]' disabled="[[customsModel.isDisabled]]"><i class="fa fa-paperclip"></i><span data-bind="text: label().viewAttachmentsLbl"></span></oj-button>

        </div>
        <div class="tableContent">
            <oj-table class="tableStyle" id='table' style='height: 100%; width:100%;' data='[[dataprovider]]' selection-mode='{"row": "single", "column": "single"}' 
                      scroll-policy='auto' scroll-policy-options='{"fetchSize": 10}' columns='[[customsModel.columnArray]]'
                   >
                
                <template slot="seqTemplate" data-oj-as="cell" type="hidden">
                    <input type="hidden" class="hiddenkeyHolder" data-bind="value:cell.index" />
                    <span data-bind="text:cell.index+1"></span>
                </template>
                
                <oj-paging-control id="paging" data='[[dataprovider]]' page-size='5' slot='bottom' class="apPaging-1 display-inline-flex">
                </oj-paging-control>
            </oj-table>
        </div>
    </div>
</div><oj-dialog id="viewDialog" style='width : 500px;'>
            <div slot="header">
                <oj-label slot="label"><span data-bind="text:label().screenLbl"></span></oj-label>
            </div>
            <div slot="body">
                <div class="oj-flex oj-flex-items-pad padding-right">

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label><span data-bind="text: label().paymentNumberLbl"></span></oj-label>
                        <oj-input-text value="{{customsModel.paymentNumberVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().paymentStatusLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.paymentStatusVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().paymentAmountLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.paymentAmountVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().paymentIdLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.paymentIdVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().paymentCurrancyLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.paymentCurrancyVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().paymentDateLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.paymentDateVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label><span data-bind="text: label().paymentMethodLbl"></span></oj-label>
                        <oj-input-text value="{{customsModel.paymentMethodVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label><span data-bind="text: label().paymentTypeLbl"></span></oj-label>
                        <oj-input-text value="{{customsModel.paymentTypeVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label><span data-bind="text: label().SupplierNumberLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.SupplierNumberVal}}"  disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().createdByLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.createdByVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().paymentDescriptionLbl"></span></oj-label>
                        <oj-input-text value="{{customsModel.paymentDescriptionVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>


                </div>
            </div>

            <div slot="footer">
                <!--<oj-button class="btnStyle" on-oj-action="[[submitDialBtn]]"><span>Submit</span></oj-button>-->
                <oj-button class="btnStyle" on-oj-action="[[cancelViewDialBtn]]"><span data-bind="text: label().cancelLbl"></span></oj-button>
            </div>
        </oj-dialog>
 <div id="dialogWrapper">
            <oj-dialog 
                id="approvalDialog">
                <div slot="header" class="oj-helper-clearfix">
                    <label data-bind="text: approvalList "/>
                </div>

                <div slot="body">
                    <div id="tableDemo" class="oj-flex oj-flex-items-pad">
                        <div style="width: 100%;">
                            <!-- ko foreach: dataTB2-->
                            <div class="approval-card-body app-crd-bdy-received app-crd-bdy-border-en " data-bind="css: bodyStatus" >
                                <div class="approval-card-header">
                                    <h5 class="app-card-Pname" data-bind="text: name"></h5>
                                    <p class="app-crd-type badge " data-bind="css: aistatus,text: type" ></p>
                                </div>
                                <div class=" row approval-card-inf-body">
                                    <div class="col-md-6"> <span class="badge badge-pill app-card-badge" data-bind="css: appCardStatus,text: status" ></span> </div>

                                    <div class="col-md-6"><blockquote class="blockquote app-card-blockqoute">
                                            <span class="blockquote-footer"> <small data-bind="text: approvalDate" ></small></span>
                                        </blockquote>
                                    </div>

                                </div>
                            </div>
                            <!--/ko-->

                        </div>
                    </div>
                </div>

                <div slot="footer">

                    <oj-button class="apBtn-2 apBtn-disabled btnStyle"  id="buttonOpenerNested2" class='oj-button-primary'

                               on-oj-action="[[closeDialog]]">
                        <oj-bind-text><span slot='endIcon' data-bind="text: label().cancelLbl"></span></oj-bind-text>
                    </oj-button>
                </div>
            </oj-dialog>
     <oj-dialog id="attachmentsDialog" style='width : 500px;'>
         <div slot="header">
             <oj-label slot="label"><span data-bind="text:label().screenLbl"></span></oj-label>
         </div>
         <div slot="body">
             <div data-bind="foreach: customsModel.attachmentsArr">
                 <a data-bind="attr: { href: FileUrl }"><span data-bind="text:FileName"></span></a> <br/>
             </div>
         </div> 
         <div slot="footer">
             <oj-button class="btnStyle" on-oj-action="[[cancelAttachments]]"><span data-bind="text: label().cancelLbl"></span></oj-button>
         </div>
     </oj-dialog>
        </div>