<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="request_body_styling animated fadeInUp ">

    <h3 class="header_headline_style"><span> <oj-bind-text value="{{label().infoscreenLbl}}"></oj-bind-text> </span></h3>
    <div class="summaryContent container">
         <oj-validation-group id="tracker" valid="{{groupValid}}">
        <div class="oj-flex oj-flex-items-pad padding-right">
           
                
            
            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().transactionDateLbl"></span></oj-label>
                <oj-input-Date required="true" value="{{customsModel.transactionDate}}" max="[[customsModel.yesterDayDate]]" min="[[customsModel.monthAgoDate]]"  >
                </oj-input-Date>
                  </div>
                 <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().accountNumLbl"></span></oj-label>
                <oj-select-one  required="true"  value="{{customsModel.accountNumValSelected}}" options="[[customsModel.accountNumberArr]]"placeHolder="Please Select">
                </oj-select-one >
            </div>
               
            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">

            </div>
        </div>
              </oj-validation-group>
        <div class="summaryBtn detailsBtn">
            <oj-button class="btnStyle" on-oj-action='[[getMT940BtnAction]]' ><i class="fa fa-search"></i><span data-bind="text: label().getMT940Lbl"></span></oj-button>    
        </div>
        <hr>
        <div class ="tableContent" data-bind="visible:customsModel.result ">
            <div class="summaryBtn detailsBtn">
            <oj-button class="btnStyle" on-oj-action='[[downloadMT940BtnAction]]' ><i class="fa fa-search"></i><span data-bind="text: label().downloadMT940Lbl"></span></oj-button>    
        </div>
            <div class="oj-flex oj-flex-items-pad padding-right">

                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().accountNumLbl"></span></oj-label>
                    <oj-input-text  value="{{customsModel.accountNumVal}}" disabled="true">

                    </oj-input-text>
                </div>
                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().referenceNumLbl"></span></oj-label>
                    <oj-input-text  value="{{customsModel.referenceNumVal}}" disabled="true">

                    </oj-input-text>
                </div>
                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().statmentNumberLbl"  ></span></oj-label>
                    <oj-input-text  value="{{customsModel.statmentNumberVal}}"disabled="true">
                    </oj-input-text>
                </div>
                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().openingBalanceLbl"></span></oj-label>
                    <oj-input-text  value="{{customsModel.openingBalanceVal}}" disabled="true">
                    </oj-input-text>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().closingAvilableBalanceLbl" ></span></oj-label>
                    <oj-input-text  value="{{customsModel.closingAvilableBalanceVal}}"disabled="true">
                    </oj-input-text>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().closingBalanceLbl" </span></oj-label>
                    <oj-input-text  value="{{customsModel.closingBalanceVal}}"disabled="true">>
                    </oj-input-text>
                </div>
            </div>

            <oj-table class="tableStyle" id='table' style='height: 100%; width:100%;' data='[[dataprovider]]' selection-mode='{"row": "single", "column": "single"}' 
                      scroll-policy='auto' scroll-policy-options='{"fetchSize": 10}' columns='[[customsModel.columnArray]]'
                      >
                <oj-paging-control id="paging" data='[[dataprovider]]' page-size='5' slot='bottom' class="apPaging-1 display-inline-flex">
                </oj-paging-control>

            </oj-table>

        </div>

    </div>
</div>

