<div class="request_body_styling animated fadeInUp ">

    <h3 class="header_headline_style"><span> <oj-bind-text value="{{label().screenLbl}}"></oj-bind-text> </span></h3>
    <div class="summaryContent container">
        <div class="oj-flex oj-flex-items-pad padding-right">

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().paymentNumberLbl"></span></oj-label>
                <oj-select-one  value="{{customsModel.paymentNumberVal}}" options="[[customsModel.paymentNumArr]]" placeHolder="[[label().placeHolder]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().paymentStatusLbl"></span></oj-label>
                <oj-select-one  value="{{customsModel.paymentStatusVal}}" options="[[customsModel.paymentStatusArr]]" placeHolder="[[label().placeHolder]]">
                </oj-select-one>
            </div>
              <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="POSelect"><span data-bind="text: label().SupplierNameLbl"></span></oj-label>
                <oj-select-one id="contractNo" value="{{customsModel.SupplierNameVal}}" options="[[customsModel.supplierNameArr]]" placeHolder="[[label().placeHolder]]"  on-value-changed="{{supplierNameValueChanged}}">
                </oj-select-one>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="POSelect"><span data-bind="text: label().SupplierNumberLbl"></span></oj-label>
                <oj-select-one id="contractNo" value="{{customsModel.SupplierNumberVal}}" options="[[customsModel.supplierNumberArr]]" placeHolder="[[label().placeHolder]]">
                </oj-select-one>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="POSelect"><span data-bind="text: label().approvalStatus"></span></oj-label>
                <oj-select-one id="contractNo" value="{{customsModel.approvalStatusVal}}" options="[[customsModel.approvalStatusArr]]" placeHolder="[[label().placeHolder]]">
                </oj-select-one>
            </div>
            
<!--            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="POSelect"><span data-bind="text: label().paymentIdLbl"></span></oj-label>
                <oj-input-text id="contractNo" value="{{customsModel.paymentIdVal}}" >
                </oj-input-text>
            </div>-->
        </div>
        <div class="summaryBtn detailsBtn">
            <oj-button class="btnStyle" on-oj-action='[[searchBtn]]' disabled="[[customsModel.searchDis]]"><i class="fa fa-search"></i><span data-bind="text: label().searchLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[resetBtn]]'><i class="fa fa-minus-circle"></i><span data-bind="text:label().resetLbl"></span></oj-button>
            <oj-button class="btnStyle appSubmit" on-oj-action='[[submitBtnAction]]'disabled="[[customsModel.payDisable]]"><i class="fa fa-check-circle"></i><span data-bind="text: label().submitLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[viewBtnAction]]'disabled="[[customsModel.viewPayDisable]]"><i class="fa fa-eye"></i><span data-bind="text: label().viewLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[ecxelBtnAction]]'><i class="fa fa-file-excel-o"></i><span data-bind="text: label().excelLbl"></span></oj-button>   
            <oj-button class="btnStyle approBtn " on-oj-action='[[viewApproval]]'disabled="[[customsModel.viewApprovalDisable]]"><i class="fa fa-list-ul"></i><span data-bind="text:label().viewApprovalLabel "></span></oj-button>
            <oj-button class="btnStyle apListBtn" on-oj-action='[[viewAttachmentsBtnAction]]' disabled="[[customsModel.viewPayDisable]]"><i class="fa fa-paperclip"></i><span data-bind="text: label().viewAttachmentsLbl"></span></oj-button>
        </div>

        <div class="tableContent">
            <oj-table class="tableStyle" id='tablePayments' style='height: 100%; width:100%;' data='[[dataproviderRetention]]' selection-mode='{"row": "single", "column": "single"}' 
                      scroll-policy='auto' scroll-policy-options='{"fetchSize": 10}' columns='[[customsModel.columnArray]]'
                      on-oj-before-current-row="[[tableSelectionListener]]">

                <template slot="seqTemplate" data-oj-as="cell" type="hidden">
                    <input type="hidden" class="hiddenkeyHolder" data-bind="value:cell.index" />
                    <span data-bind="text:cell.index+1"></span>
                </template>

                <!--                <template slot="checkTemplate" data-oj-as="cell">
                                    <oj-checkboxset value='[[handleCheckbox(cell.key)]]'
                                                    on-value-changed='[[checkboxListener]]'
                                                    class='oj-checkboxset-no-chrome oj-selection-checkbox'
                                                    :id="[['table_checkboxset' + cell.key]]"
                                                    :data-row-key="{{cell.row.DepartmentId}}">
                                        <oj-option :id="[['table_checkbox' + cell.key]]" aria-label="[['Checkbox Select Row ' + cell.row.DepartmentId]]" value="checked"></oj-option>
                                    </oj-checkboxset>   
                                </template>-->

                <oj-paging-control id="paging" data='[[dataproviderRetention]]' page-size='5' slot='bottom' class="apPaging-1 display-inline-flex">
                </oj-paging-control>
            </oj-table>
        </div>

        <oj-dialog id="paymentDialog" style='width : 500px;'>
            <div slot="header">
                <oj-label slot="label"><span data-bind="text: label().screenLbl"></span></oj-label>
            </div>
            <div slot="body">
                <oj-validation-group id="tracker" valid="{{groupValid}}">
                <div class="oj-flex oj-flex-items-pad padding-right">

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label><span data-bind="text: label().paymentNumberLbl"></span></oj-label>
                        <oj-input-text value="{{customsModel.paymentNumberVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().paymentStatusLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.paymentStatusVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().paymentAmountLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.paymentAmountVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().paymentIdLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.paymentIdVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().paymentCurrancyLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.paymentCurrancyVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().paymentDateLbl"></span></oj-label>
                        <oj-input-Date  value="{{customsModel.paymentDateVal}}" max="[[customsModel.maxPaymentDate]]" min="[[customsModel.sysDate]]" required="true" label-hint="required">
                        </oj-input-Date>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label><span data-bind="text: label().paymentMethodLbl"></span></oj-label>
                        <oj-input-text value="{{customsModel.paymentMethodVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label><span data-bind="text: label().paymentTypeLbl"></span></oj-label>
                        <oj-input-text value="{{customsModel.paymentTypeVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label><span data-bind="text: label().SupplierNumberLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.SupplierNumberVal}}"  disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().createdByLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.createdByVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().paymentDescriptionLbl"></span></oj-label>
                        <oj-input-text value="{{customsModel.paymentDescriptionVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label><span data-bind="text: label().operationTypesLbl"></span></oj-label>
                        <oj-select-one  value="{{customsModel.operationTypesVal}}" placeholder="{{label().placeHolder}}" options="[[customsModel.operationTypeArr]]"    required="true" label-hint="required" >
                        </oj-select-one>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label for="POSelect"><span data-bind="text: label().paymentPurposeCodeLbl"></span></oj-label>
                        <oj-select-one id="contractNo" value="{{customsModel.paymentPurposeCodeVal}}" options="[[customsModel.paymentPurposeCode]]" placeHolder="[[label().placeHolder]]" required="true" label-hint="required" >
                        </oj-select-one>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().toAccountNumberLbl"></span></oj-label>
                        <oj-select-one  value="{{customsModel.toAccountNumberVal}}" options="[[customsModel.toAccountNumArr]]" placeHolder="[[label().placeHolder]]" required="false" label-hint="required" on-value-changed="{{toAccountValueChanged}}">
                        </oj-select-one>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().bankNameLbl"></span></oj-label>
                        <oj-input-text value="{{customsModel.bankNameVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>


                </div>
                    </oj-validation-group>
            </div>

            <div slot="footer">
                <oj-button class="btnStyle" on-oj-action="[[submitDialBtn]]"><span data-bind="text: label().submitLbl"></span></oj-button>
                <oj-button class="btnStyle" on-oj-action="[[cancelDialBtn]]"><span data-bind="text: label().cancelLbl"></span></oj-button>
            </div>
        </oj-dialog>
 <oj-dialog id="viewDialog" style='width : 500px;'>
            <div slot="header">
                <oj-label slot="label"><span data-bind="text:label().screenLbl"></span></oj-label>
            </div>
            <div slot="body">
                <div class="oj-flex oj-flex-items-pad padding-right">

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label><span data-bind="text: label().paymentNumberLbl"></span></oj-label>
                        <oj-input-text value="{{customsModel.paymentNumberVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().paymentStatusLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.paymentStatusVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().paymentAmountLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.paymentAmountVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().paymentIdLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.paymentIdVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().paymentCurrancyLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.paymentCurrancyVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().paymentDateLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.paymentDateVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label><span data-bind="text: label().paymentMethodLbl"></span></oj-label>
                        <oj-input-text value="{{customsModel.paymentMethodVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>

                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label><span data-bind="text: label().paymentTypeLbl"></span></oj-label>
                        <oj-input-text value="{{customsModel.paymentTypeVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label><span data-bind="text: label().SupplierNumberLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.SupplierNumberVal}}"  disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().createdByLbl"></span></oj-label>
                        <oj-input-text  value="{{customsModel.createdByVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().paymentDescriptionLbl"></span></oj-label>
                        <oj-input-text value="{{customsModel.paymentDescriptionVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>
                   

                </div>
                 <hr>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                        <oj-label ><span data-bind="text: label().transactionStatusLbl"></span></oj-label>
                        <oj-input-text value="{{customsModel.transactionStatusVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                        </oj-input-text>
                    </div>


            </div>

            <div slot="footer">
                <!--<oj-button class="btnStyle" on-oj-action="[[submitDialBtn]]"><span>Submit</span></oj-button>-->
                <oj-button class="btnStyle" on-oj-action="[[cancelViewDialBtn]]"><span data-bind="text: label().cancelLbl"></span></oj-button>
            </div>
        </oj-dialog>
        
       <oj-dialog id="attachmentsDialog" style='width : 500px;'>
            <div slot="header">
                <oj-label slot="label"><span data-bind="text:label().screenLbl"></span></oj-label>
            </div>
           <div slot="body">
               <div data-bind="foreach: customsModel.attachmentsArr">
                   <a data-bind="attr: { href: FileUrl }"><span data-bind="text:FileName"></span></a> <br/>
               </div>
           </div> 
            <div slot="footer">
                <oj-button class="btnStyle" on-oj-action="[[cancelAttachments]]"><span data-bind="text: label().cancelLbl"></span></oj-button>
            </div>
        </oj-dialog>
    </div>
</div>
<div id="dialogWrapper">
    <oj-dialog 
        id="approvalDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: approvalList "/>
        </div>

        <div slot="body">
            <div id="tableDemo" class="oj-flex oj-flex-items-pad">
                <div style="width: 100%;">
                    <!-- ko foreach: dataTB2-->
                    <div class="approval-card-body app-crd-bdy-received app-crd-bdy-border-en " data-bind="css: bodyStatus" >
                        <div class="approval-card-header">
                            <h5 class="app-card-Pname" data-bind="text: name"></h5>
                            <p class="app-crd-type badge " data-bind="css: aistatus,text: type" ></p>
                        </div>
                        <div class=" row approval-card-inf-body">
                            <div class="col-md-6"> <span class="badge badge-pill app-card-badge" data-bind="css: appCardStatus,text: status" ></span> </div>

                            <div class="col-md-6"><blockquote class="blockquote app-card-blockqoute">
                                    <span class="blockquote-footer"> <small data-bind="text: approvalDate" ></small></span>
                                </blockquote>
                            </div>

                        </div>
                    </div>
                    <!--/ko-->

                </div>
            </div>
        </div>

        <div slot="footer">

            <oj-button class="apBtn-2 apBtn-disabled btnStyle"  id="buttonOpenerNested2" class='oj-button-primary'

                       on-oj-action="[[closeDialog]]">
                <oj-bind-text><span slot='endIcon' data-bind="text: label().cancelLbl"></span></oj-bind-text>
            </oj-button>
        </div>
    </oj-dialog>
    <oj-dialog id="attachmentsDialog" style='width : 500px;'>
        <div slot="header">
            <oj-label slot="label"><span data-bind="text:label().screenLbl"></span></oj-label>
        </div>
        <div slot="body">
            <div data-bind="foreach: customsModel.attachmentsArr">
                <a data-bind="attr: { href: FileUrl }"><span data-bind="text:FileName"></span></a> <br/>
            </div>
        </div> 
        <div slot="footer">
            <oj-button class="btnStyle" on-oj-action="[[cancelAttachments]]"><span data-bind="text: label().cancelLbl"></span></oj-button>
        </div>
    </oj-dialog>
</div>