<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="request_body_styling animated fadeInUp ">

    <h3 class="header_headline_style"><span> <oj-bind-text value="{{label().postPaymentScreenLbl}}"></oj-bind-text> </span></h3>
    <div class="summaryContent container">
        <div class="oj-flex oj-flex-items-pad padding-right">

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().paymentNumberLbl"></span></oj-label>
                <oj-select-one  value="{{customsModel.paymentNumberVal}}" options="[[customsModel.paymentNumArr]]" placeHolder="[[label().placeHolder]]">
                </oj-select-one>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="POSelect"><span data-bind="text: label().SupplierNumberLbl"></span></oj-label>
                <oj-select-one id="contractNo" value="{{customsModel.SupplierNumberVal}}" options="[[customsModel.supplierNumberArr]]" placeHolder="[[label().placeHolder]]">
                </oj-select-one>
            </div>

        </div>      
        <div class="summaryBtn detailsBtn">
            <oj-button class="btnStyle" on-oj-action='[[searchBtn]]' disabled="[[customsModel.searchDis]]"><i class="fa fa-search"></i><span data-bind="text: label().searchLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[getPostPayments]]'disabled="[[customsModel.postPaymentBtnDis]]"><i class="fa fa-search"></i><span data-bind="text: label().getPostPaymentLbl"></span></oj-button>    
            <oj-button class="btnStyle" on-oj-action='[[cancelPayments]]'disabled="[[customsModel.cancelPaymentBtnDis]]"><i></i><span data-bind="text: label().cancelPaymentsLbl"></span></oj-button>    
        </div>
        <div class ="tableContent" >
            <oj-table class="tableStyle" id='table' style='height: 100%; width:100%;' data='[[dataprovider]]' selection-mode='{"row": "single", "column": "single"}' 
                      scroll-policy='auto' scroll-policy-options='{"fetchSize": 10}' columns='[[customsModel.columnArray]]'
                      on-oj-before-current-row="[[tableSelectionListener]]">
                <oj-paging-control id="paging" data='[[dataprovider]]' page-size='6' slot='bottom' class="apPaging-1 display-inline-flex">
                </oj-paging-control>

            </oj-table>

        </div>

    </div>
    <oj-dialog id="paymentDialog" style='width : 500px;'>
        <div slot="header">
            <oj-label slot="label"><span data-bind="text: label().postPaymentScreenLbl"></span></oj-label>
        </div>
        <div slot="body">
            <div class="oj-flex oj-flex-items-pad padding-right">

                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().companeCodeLbl"></span></oj-label>
                    <oj-input-text value="{{customsModel.companyCodeVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                    </oj-input-text>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label ><span data-bind="text: label().fileReferenceLbl"></span></oj-label>
                    <oj-input-text  value="{{customsModel.fileReferenceVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                    </oj-input-text>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label ><span data-bind="text: label().transactionReferenceLbl"></span></oj-label>
                    <oj-input-text  value="{{customsModel.transactionReferenceVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                    </oj-input-text>
                </div>
                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label ><span data-bind="text: label().FTReferencLbl"></span></oj-label>
                    <oj-input-text  value="{{customsModel.FTReferencVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                    </oj-input-text>
                </div>
                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label ><span data-bind="text: label().TransactionTypeLbl"></span></oj-label>
                    <oj-input-text  value="{{customsModel.transactionTypeVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                    </oj-input-text>
                </div>
                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label ><span data-bind="text: label().DebitAccountLbl"></span></oj-label>
                    <oj-input-text  value="{{customsModel.debitAccountVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                    </oj-input-text>
                </div>
                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().DebitAccountNameLbl"></span></oj-label>
                    <oj-input-text value="{{customsModel.debitAccountNameVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                    </oj-input-text>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().DebitReferenceLbl"></span></oj-label>
                    <oj-input-text value="{{customsModel.debitRefefenceVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                    </oj-input-text>
                </div>
                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().CreditReferenceLbl"></span></oj-label>
                    <oj-input-text  value="{{customsModel.creditReferenceVal}}"  disabled="[[customsModel.fieldsDiaDisable]]">
                    </oj-input-text>
                </div>
                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label ><span data-bind="text: label().creditAccountLbl"></span></oj-label>
                    <oj-input-text  value="{{customsModel.creditAccountVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                    </oj-input-text>
                </div>
                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label ><span data-bind="text: label().creditAccountNameLbl"></span></oj-label>
                    <oj-input-text value="{{customsModel.creditAccountNameVal}}" disabled="[[customsModel.fieldsDiaDisable]]">
                    </oj-input-text>
                </div>
                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().amountDebitedLbl"></span></oj-label>
                    <oj-input-text  value="{{customsModel.amountDebitedVal}}" placeholder="{{label().placeHolder}}" disabled="[[customsModel.fieldsDiaDisable]]"  >
                    </oj-input-text>
                </div>
                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().amountCreditedLbl"></span></oj-label>
                    <oj-input-text  value="{{customsModel.amountCreditedVal}}" placeholder="{{label().placeHolder}}" disabled="[[customsModel.fieldsDiaDisable]]">
                    </oj-input-text>
                </div>
                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().creditValueDateValLbl"></span></oj-label>
                    <oj-input-text  value="{{customsModel.creditValueDateVal}}" placeholder="{{label().placeHolder}}" disabled="[[customsModel.fieldsDiaDisable]]">
                    </oj-input-text>
                </div>
                
                 <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().PaymentNarrative1Lbl"></span></oj-label>
                    <oj-input-text  value="{{customsModel.PaymentNarrative1Val}}"  disabled="[[customsModel.fieldsDiaDisable]]">
                    </oj-input-text>
                </div>
                 <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().PaymentNarrative2Lbl"></span></oj-label>
                    <oj-input-text  value="{{customsModel.PaymentNarrative2Val}}"  disabled="[[customsModel.fieldsDiaDisable]]">
                    </oj-input-text>
                </div>
                 <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().PaymentNarrative3Lbl"></span></oj-label>
                    <oj-input-text  value="{{customsModel.PaymentNarrative3Val}}"  disabled="[[customsModel.fieldsDiaDisable]]">
                    </oj-input-text>
                </div>
                 <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label><span data-bind="text: label().PaymentNarrative4Lbl"></span></oj-label>
                    <oj-input-text  value="{{customsModel.PaymentNarrative4Val}}"  disabled="[[customsModel.fieldsDiaDisable]]">
                    </oj-input-text>
                </div>



            </div>
        </div>

        <div slot="footer">
            <oj-button class="btnStyle" on-oj-action="[[cancelDialBtn]]"><span data-bind="text: label().cancelLbl"></span></oj-button>
        </div>
    </oj-dialog>
</div>

<oj-dialog id="yesNoDialog" style='width : 500px;'>
    <div slot="header">
        <oj-label slot="label"><span data-bind="text: label().confirmationLbl"></span></oj-label>
    </div>
    <div slot="body">
        <oj-label slot="label"><span data-bind="text: label().confirmationMsgLbl"></span></oj-label>
    </div>

    <div slot="footer">
        <oj-button class="btnStyle" on-oj-action="[[yesDialBtn]]"><span data-bind="text: label().yesLbl"></span></oj-button>
        <oj-button class="btnStyle" on-oj-action="[[NoDialBtn]]"><span data-bind="text: label().noActionLbl"></span></oj-button>
    </div>
</oj-dialog>
