<!--
 Copyright (c) 2014, 2018, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->

<span visible="hidden" data-bind="with :reloadlanguage()"></span>
<div class="oj-panel ">
    <center><span id="errorLable"  style="font-size: 20px; " data-bind="text:" hidden=""/> </center>
    <div class="oj-panel demo-mypanel oj-flex-item">
        <oj-validation-group id="tracker" valid="{{}}">

            <div class="oj-flex">
                <div class="oj-flex" style="width:250px">
                    <oj-label id="labelText" for="text-input"><span data-bind="text:locaclSalesOrderNumber"/></oj-label>
                </div>
                <oj-input-text id="text-input" value="{{salesOrderNumber}}"></oj-input-text>
            </div>
            <div class="oj-flex">
                <div class="oj-flex" style="width:250px">
                    <oj-label id="labelText"  for="text-input"><span data-bind="text:localCutomerPO"/></oj-label>
                </div>
                <oj-input-text id="text-input" value="{{cutomerPO}}"></oj-input-text>
            </div>



            <div class="oj-flex">
                <div class="oj-flex" style="width:250px">
                    <oj-label  id="labelText"  for="text-input"><span data-bind="text:localTender"/></oj-label>
                </div>
                <oj-input-text id="text-input" value="{{tender}}"></oj-input-text>
            </div>
            <br>

            <div class="oj-flex" >
                <div class="oj-panel oj-sm-margin-0x demo-mypanel">
                    <button style="font-size: 1.1em" class='oj-button-confirm' data-bind="click: find,ojComponent: {component: 'ojButton',label: 'Search' ,icons:{end:'oj-fwk-icon-magnifier oj-fwk-icon'}}"></button>   
                    <button id="add" type="button" class="oj-button-confirm"  data-bind="click: CreatePIButton,ojComponent: {component: 'ojButton',label: locaclCreate,icons:{end:'fa fa-plus'}}"></button>
                    <button id="print" type="button" class="oj-button-confirm"  data-bind="click: callPDFService,ojComponent: {component: 'ojButton',label: 'PDF ',icons:{end:'fa fa-file'}}"></button>
                </div>
            </div>
             <div id="collapsiblePage">
                 <br> 
            <!--<oj-collapsible id="c1" expanded='true'>-->
                <h1 id="h1" slot="header" class="oj-header-border">Shipments</h1>
                <div>           
        <oj-table id="table" aria-label="Table"
              data='[[datasource]]' 
              selection-mode='{"row": "multiple", "column": "multiple"}'
              
              dnd='{"reorder": {"columns": "enabled"}}'
              columns='{{searchTableColumnArray}}'
                          On-selection-changed="{{selectionListener}}"

                          
              display = "grid"

              >
            
                                <oj-paging-control id="paging" data='[[dataprovider1]]' page-size='5' slot='bottom'
                                                   >
            </oj-paging-control>
    </oj-table>
                </div>


            <!--</oj-collapsible>-->
         
   
        </div>
        <div id="collapsiblePage1">
<br> 
            <!--<oj-collapsible id="c2" expanded='true'>-->
                <h1 id="h2" slot="header" class="oj-header-border">Created PI Shipments</h1>
                <div >
            <oj-table id="table1" aria-label="Table"
              data='[[createdPIDatasource]]' 
              columns='{{createdPIColumnArray}}'
              selection-mode='{"row": "single"}'
              on-selection-changed ="{{createdShipmentsTableListner}}"
              dnd='{"reorder": {"columns": "enabled"}}'      
              display = "grid"
                        
 style='width: 100%; height:100%; overflow: visible;'
                
              >
       <oj-paging-control id="paging" data='[[dataprovider2]]' page-size='5' slot='bottom'
                           style='width: 100%'>
            </oj-paging-control>
    </oj-table>
                </div>       
            <!--</oj-collapsible>-->
   
        </div>


    
       



</div>
</br>




<oj-popup class="demo-popup" id="popupUndorelease"
          tail="none" position.my.horizontal="center" position.my.vertical="bottom"
          position.at.horizontal="center" position.at.vertical="bottom"
          position.of="window" position.offset.y="-210"
          modality="modal"
          auto-dismiss="none">
    <div class="oj-panel oj-sm-margin-2x demo-panel-customizations">
        
        <div class="demo-popup-body">
            <div class="demo-popup-header">
                <!--<h5 id="headerPopup"> ko text: selectedData2  /ko </h5>-->
                  <button class="pop-btn" id="add" type="button" data-bind="click: closePopup">
                        <span class="oj-fwk-icon oj-fwk-icon-cross oj-button-icon oj-start" slot="startIcon"></span>
                        
                  </button>
                
            </div>
            </br>

            <div class="demo-popup-content">
                <table class="pop-tb" id="popTable">
                    <tr>
                        <th><oj-bind-text value='[[pINumberLabel]]'></oj-bind-text></th>
                    <th><oj-bind-text value='[[pITotalAmountLabel]]'></oj-bind-text></th>
                    <th><oj-bind-text value='[[CuranceyLabel]]'></oj-bind-text></th>
                    <th><oj-bind-text value='Attacment'></oj-bind-text></th>
                    <!--<th><oj-bind-text value='[[pIStatusLabel]]'></oj-bind-text></th>-->
                    </tr>
                    <tr>
                        <td><oj-bind-text value='[[pINumber]]'></oj-bind-text></td>
                    <td><oj-bind-text value='[[pITotalAmount]]'></oj-bind-text></td>
                    <td><oj-bind-text value='[[Curancey]]'></oj-bind-text></td>
                <td><oj-bind-text >
                <oj-file-picker accept="[[acceptStr]]"
                    selection-mode="single"
                    on-oj-select='[[uploadPIFile]]'
                    class="">
        
        <oj-button slot='trigger' class="oj-button btnstyle">
            <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-arrowbox-n'></span>
            Upload
        </oj-button>

    </oj-file-picker>
                </oj-bind-text></td>
                    <!--<td><oj-bind-text value='[[pIStatus]]'></oj-bind-text></td>-->
                    </tr>


                </table>

            </div>
            </br></br>
            <center>
                <div id="popupbtn"> 

                    <button id="add" type="button"
                            class="oj-button-confirm btnstyle" 
                            data-bind="click: createPI,ojComponent: {component: 'ojButton',label: 'Confirm'}"></button>

                </div>
            </center>
        </div>
    </div>       
</oj-popup>
    </div>


    
           


 

    <script type="text/html" id="checkbox_tmpl">
        <td>
        <oj-checkboxset aria-hidden='true'
                        value='{{$context.row.Selected}}'
                        class='oj-checkboxset-no-chrome'
                        data-bind="attr:{
                                id: 'table_checkboxset' + $context.cellContext.status.rowIndex}">
            <oj-option data-bind="attr:{
                                id: 'table_checkbox' + $context.cellContext.status.rowIndex}" value="checked"></oj-option>
        </oj-checkboxset>
    </td>
</script>
<script type="text/html" id="checkbox_hdr_tmpl">
    <td>
    <oj-checkboxset value='[false]'
                    on-value-changed='[[$parent.selectAllListener]]'
                    id="table_checkboxset_hdr"
                    class='oj-checkboxset-no-chrome'>
        <oj-option id="table_checkbox_hdr" value="checked"></oj-option>
    </oj-checkboxset>
</td>
</script>
<script type="text/html" id="upload">
    <td>
    <oj-file-picker accept="[[$parent.acceptStr]]"
                    selection-mode="single"
                    on-oj-select='[[$parent.uploadFile]]'
                    >
        
        <oj-button slot='trigger' class="oj-button-confirm btnstyle">
            <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-arrowbox-n'></span>
            Upload
        </oj-button>

    </oj-file-picker>
</td>
</script>





