<!--
 Copyright (c) 2014, 2018, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->

<span visible="hidden" data-bind="with :reloadlanguage()"></span>
<div class="oj-panel ">
    <center><span id="errorLable"  style="font-size: 20px; " data-bind="text:" hidden=""/> </center>
    <div class="oj-panel demo-mypanel oj-flex-item">
        <oj-validation-group id="tracker" valid="">
            <div class="oj-flex">
                <div class="oj-flex" style="width:250px">
                    <oj-label id="labelText" for="text-input"><span data-bind="text:locaclSalesOrderNumber"/></oj-label>
                </div>
                <oj-input-text id="text-input" value="{{saleOrderInput}}"></oj-input-text>
            </div>
            <div class="oj-flex">
                <div class="oj-flex" style="width:250px">
                    <oj-label id="labelText"  for="text-input"><span data-bind="text:localCutomerPO"/></oj-label>
                </div>
                <oj-input-text id="text-input" value="{{poNumberInput}}"></oj-input-text>
            </div>
            <div class="oj-flex">
                <div class="oj-flex" style="width:250px">
                    <oj-label  id="labelText"  for="text-input"><span data-bind="text:localTender"/></oj-label>
                </div>
                <oj-input-text id="text-input" value="{{tenderInput}}"></oj-input-text> 
            </div>
            <div class="oj-flex">
                <div class="oj-flex" style="width:250px">
                    <oj-label  id="labelText"  for="text-input"><span >PI Number</span></oj-label>
                </div>
                <oj-input-text id="text-input" value="{{pINumberInput}}"></oj-input-text> 
            </div>
            <br>

            <div class="oj-flex" >
                <div class="oj-panel oj-sm-margin-0x demo-mypanel">
                    <button style="font-size: 1.1em" class='oj-button-confirm' data-bind="click:search ,ojComponent: {component: 'ojButton',label: localesearch ,icons:{end:'oj-fwk-icon-magnifier oj-fwk-icon'}}"></button>   
                    <button id="add" type="button" class="oj-button-confirm"  data-bind="click: ackButton,ojComponent: {component: 'ojButton',label: locaclAcknowledge,icons:{end:'fa fa-plus'}}"></button>
                    <!--<button id="add" type="button" class="oj-button-confirm"  data-bind="click: cancelButton,ojComponent: {component: 'ojButton',label: localeCancel,icons:{end:'fa fa-plus'}}"></button>-->
            </div>
    </div>

    <oj-table id="table" aria-label="Table"
              data='[[datasource]]' 
              selection-mode='{"row": "multiple", "column": "multiple"}'
              
              dnd='{"reorder": {"columns": "enabled"}}'
              columns='{{ackTableColumnArray}}'
              style='width: 100%;height: 100%'
              display = "grid"

              >
      
    </oj-table>

<!--      <oj-paging-control id="paging" data='[[dataprovider]]' page-size='5' slot='bottom'>
        </oj-paging-control>-->



</div>




<oj-popup class="demo-popup" id="popupUndorelease"
          tail="none" position.my.horizontal="center" position.my.vertical="bottom"
          position.at.horizontal="center" position.at.vertical="bottom"
          position.of="window" position.offset.y="-210"
          modality="modal"
          auto-dismiss="none">
    <div class="oj-panel oj-sm-margin-2x demo-panel-customizations">
        
        <div class="demo-popup-body">
            <div class="demo-popup-header">
                <!--<h5 id="headerPopup"> ko text: selectedData2  /ko </h5>-->
                  <button class="pop-btn" id="add" type="button" data-bind="click: closePopup">
                        <span class="oj-fwk-icon oj-fwk-icon-cross oj-button-icon oj-start" slot="startIcon"></span>
                        
                  </button>
                
            </div>
            </br>

            <div class="demo-popup-content">
                <table class="pop-tb" id="popTable">
                    <tr>
                        <th><oj-bind-text value='[[pINumberLabel]]'></oj-bind-text></th>
                    <th><oj-bind-text value='DV Note Number'></oj-bind-text></th>
                    <th><oj-bind-text value='Attacment'></oj-bind-text></th>
                    <!--<th><oj-bind-text value='[[pIStatusLabel]]'></oj-bind-text></th>-->
                    </tr>
                    <tr>
                        <td><oj-bind-text value='[[pINumber]]'></oj-bind-text></td>
                    <td><oj-input-text  style="width:50 !important" id="dvNote" value="{{dvNote}}"></oj-input-text></td>
                <td><oj-bind-text >
                <oj-file-picker accept="[[acceptStr]]"
                    selection-mode="single"
                    on-oj-select='[[uploadPIFile]]'
                    class="">
        
        <oj-button slot='trigger' class="oj-button btnstyle">
            <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-arrowbox-n'></span>
            Upload
        </oj-button>

    </oj-file-picker>
                </oj-bind-text></td>
                    <!--<td><oj-bind-text value='[[pIStatus]]'></oj-bind-text></td>-->
                    </tr>


                </table>

            </div>
            </br></br>
            <center>
                <div id="popupbtn"> 

                    <button id="add" type="button"
                            class="oj-button-confirm btnstyle" 
                            data-bind="click:confirm ,ojComponent: {component: 'ojButton',label: locaclAcknowledge}"></button>

                </div>
            </center>
        </div>
    </div>       
</oj-popup>
























