<!--
 Copyright (c) 2014, 2018, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->

<span visible="hidden" data-bind="with :reloadlanguage()"></span>
<div class="oj-panel ">
    <center><span id="errorLable"  style="font-size: 20px; " data-bind="text:" hidden=""/> </center>
    <div class="oj-panel demo-mypanel oj-flex-item">
        <oj-validation-group id="tracker" valid="{{}}">

            <div class="oj-flex">
                <div class="oj-flex" style="width:250px">
                    <oj-label id="labelText" for="text-input"><span data-bind="text:'PI Number'"/></oj-label>
                </div>
                <oj-input-text id="text-input" value="{{arInvoiceNumber}}"></oj-input-text>
            </div>
            <br>

            <div class="oj-flex" >
                <div class="oj-panel oj-sm-margin-0x demo-mypanel">
                    <button  id="findd" style="font-size: 1.1em" class='oj-button-confirm' data-bind="click: find,ojComponent: {component: 'ojButton',label: 'Search' ,icons:{end:'oj-fwk-icon-magnifier oj-fwk-icon'}}"></button>   

                </div>
            </div>

            <div id="collapsiblePage1">
                <br> 
                <!--<oj-collapsible id="c2" expanded='true'>-->
                <div >
                    <oj-table id="table1" aria-label="Table"
                              data='[[datasource]]' 
                              columns='{{searchTableColumnArray}}'
                              selection-mode='{"row": "single"}'
                              dnd='{"reorder": {"columns": "enabled"}}'      
                              display = "grid"

                              style='width: 100%; height:100%; overflow: visible;'

                              >
<!--                        <oj-paging-control id="paging" data='[[dataprovider2]]' page-size='5' slot='bottom'
                                           style='width: 100%'>
                        </oj-paging-control>-->
                    </oj-table>
                </div>       
                <!--</oj-collapsible>-->

            </div>
    </div>

</div>