
/*********************page head info ****************/
#STCreports .pageHeadInfo .btnSearch
{
    background-color: #712c81;
    border-color: #712c81;
    color:white ; 
    box-shadow: none ;
}
#STCreports .pageHeadInfo .mat-form-field
{
    width:100%
}
/*********************card-container********************/
#STCreports .card-container
{
    overflow: hidden;
    margin-bottom: 30px;
}
#STCreports .card-container .flex-inside .item  .iemIcon 
{
    color:#712c81 ; 
    border:1px solid #eee ;
    padding: 90px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: 0.4s all ease-in-out;
}
#STCreports .card-container .flex-inside .item  .iemIcon:hover 
{
    background: #712c81 no-repeat center center;
    border: 1px solid #712c81;
    box-shadow: 5px 6px 8px 0px #999;
    cursor: pointer; 
    color:white !important ;
}
#STCreports  .act 
{
    background: #712c81 no-repeat center center;
    border: 1px solid #712c81;
    cursor: pointer; 
    color:white !important ;
}
#STCreports .card-container .flex-inside  .item h6{
  
    font-weight: bold;
    text-align: center;
    font-size: 14px ;
    color:#712c81
}
/*****************************statisticsChart*****************/
#STCreports .statisticsChart{
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}
#STCreports .statisticsChart h3{
    font-weight: bold;
}
#STCreports .statisticsChart p{
    color: #888888;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}
#STCreports .statisticsChart #saveChart{
    margin-left: 10px;
    border: 1px solid blue;
    border-radius: 11px;
    color: #fff;
    background: blue;
    margin-top: 10px;
}
#STCreports .statisticsChart ul
{
    border-bottom: 0px !important;
    padding:0;
    margin-bottom: 0px;
}
#STCreports .statisticsChart .chart-nav li{
    border: 1px solid #f2f2f2;
    margin:0px 5px ;
    /* border-radius: 5px; */
    border-bottom: none;
    padding: 10px;
    font-weight: bold;
    transition: 0.4s all ease-in-out;
    cursor: pointer;
} 
#STCreports .statisticsChart .chart-nav ul .act{
    border:none !important ;
    
}

::-webkit-scrollbar {
    height: 5px !important;
    width: 5px !important;
    bottom: 0;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.486);
}

@media only screen and (max-width: 375px) {
    #STCreports .statisticsChart .chart-nav {
        padding: 0px;
    }
    #STCreports .statisticsChart .chart-nav li 
    {
        margin: 0px;
    }
  }


