<div class="oj-hybrid-applayout-page login-page profile-page">

    <!-- This is where your main page content will be loaded -->
    <div class="oj-applayout-content container" data-bind="visible: visibleForm() =='addVehicle'">

        <div class="sign-form">
            <oj-validation-group id="tracker" valid="{{groupValid}}">
            <oj-form-layout id="form-container">
                    <oj-label class="formLabel">  
                        <oj-bind-text value="[[label().model()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input1" class="formInput" value="{{model}}" clear-icon="conditional" required></oj-input-text>  
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().chassNumber()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input2" class="formInput" value="{{chassNumber}}" clear-icon="conditional" required></oj-input-text>  
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().motor()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input3" class="formInput" value="{{motor}}" clear-icon="conditional" required></oj-input-text>  
                </oj-form-layout>
        </oj-validation-group>  
            <oj-button class="btnPrimary" on-oj-action="[[addAction]]" >
                <span>
                    <oj-bind-text value="[[label().submit()]]">
                    </oj-bind-text>
                </span>
            </oj-button>
            <oj-button class="btnPrimary" on-oj-action="[[backAction]]" >
                <span>
                    <oj-bind-text value="[[label().back()]]">
                    </oj-bind-text>
                </span>
            </oj-button>

        </div>
        <div  class="cars">
            <h2 data-bind="text: label().history()"></h2>
            <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                <div id="listviewContainer">
                    <div class="oj-listview-card-layout" data-bind="foreach: dataprovider">
                        <div class="oj-listview-card-layout oj-listview-item demo-list-content demo-icon oj-listview-item" 
                             style="border: 1px solid #e0e1e1 !important; width:95% !important;">
                            <div class="car-info" data-bind="click: $parent.carClick" >
                                <oj-label class="label-line fa fa-user">
                                         <strong data-bind="text: $parent.label().model()"></strong>
                                        <oj-bind-text value="[[model]]"></oj-bind-text>
                                    </oj-label>
                                    <oj-label class="label-line fa fa-car">
                                        <strong data-bind="text: $parent.label().motor()"></strong>
                                        <oj-bind-text value="[[motor]]"></oj-bind-text>
                                    </oj-label>
                                    <oj-label class="label-line fa fa-car">
                                        <strong data-bind="text: $parent.label().chassNumber()"></strong>
                                        <oj-bind-text value="[[chassisNumber]]"></oj-bind-text>
                                    </oj-label>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

        <oj-button class="btnPrimary" on-oj-action="[[deleteAction]]" >
                <span>
                    <oj-bind-text value="[[label().delete()]]">
                    </oj-bind-text>
                </span>
            </oj-button>
    </div>
    <div class="oj-applayout-content container" data-bind="visible: visibleForm() =='code'">
        <oj-form-layout  direction="row" >
            <div id='text'>
                <h4 class="verfy-title" style="width: max-content;">
                    <span>
                        <oj-bind-text value="[[label().enterCode()]]">
                        </oj-bind-text>
                    </span>
                </h4>
            </div>
            <div id='text' style="width: max-content;display: inline;">
                <h5 >
                    <span>
                        <oj-bind-text value="[[label().titleCode()]]">
                        </oj-bind-text>
                        <oj-bind-text value="[[lastDigitPhone]]">
                        </oj-bind-text>
                        <oj-bind-text value="[[label().notRecieved()]]">
                        </oj-bind-text>
                    </span>
                </h5>
            </div>
            <div>
                <h5> 
                    <span>
                        <oj-bind-text value="[[label().tryAgain()]]">
                        </oj-bind-text>
                    </span>
                    <oj-button class="try-btn" id="login"  on-oj-action="[[resendCodeAction]]" >
                        <span >
                            <oj-bind-text value="[[label().resendCode()]]">
                            </oj-bind-text>
                        </span>
                    </oj-button>

                </h5>
                
            </div>
            <div class="oj-flex-item">
                <oj-label  class="formLabel">  
                    <oj-bind-text value="[[label().codeLbl()]]">
                    </oj-bind-text>
                </oj-label>
                <oj-input-text id="text-input4" class="formInput" value="{{code}}"></oj-input-text> 
                <div class=" oj-flex-item" >
                    <oj-button class="flWidth btnPrimary mrT1" id="login"  on-oj-action="[[codeAction]]" >
                        <span >
                            <oj-bind-text value="[[label().code()]]">
                            </oj-bind-text>
                        </span>
                    </oj-button>
                </div>
                
                <div style="display: inline-flex;">
                    <h5> 
                        <span>
                            <oj-bind-text value="[[label().callCenter()]]">
                            </oj-bind-text>
                        </span>
                    </h5>

                </div>
                <oj-button class="try-btn" id="login"  on-oj-action="[[callAction]]" >
                    <span >
                        <oj-bind-text value="[[label().call()]]">
                        </oj-bind-text>
                    </span>
                </oj-button>
            </div>

        </oj-form-layout>
    </div>
</div>
