<div class="oj-hybrid-applayout-page login-page profile-page">

    <!-- This is where your main page content will be loaded -->
    <div class="oj-applayout-content container">

        <div class="sign-form">
            <div id="avatar-container" class="demo-flex-display">
                <div class="oj-flex">
                    <div class="profile-pic oj-flex oj-sm-align-items-center oj-sm-margin-2x">
                        <div class="of-flex-item">
                            <oj-avatar role="img" size="[[avatarSize]]" initials='[[initials]]'
                                       data-bind="attr:{'aria-label':'Avatar of ' + values.firstName + ' ' + values.lastName,
                      'title':'Avatar of ' + values.firstName + ' ' + values.lastName}"
                                       src="[[image]]">
                            </oj-avatar>
                        </div>
                    </div>
                </div>
            </div>
            <oj-form-layout max-columns="{{columns}}" direction="row" data-bind="visible:visibleForm.viewProfile">

                <div class=" oj-flex-item">
                    <oj-label >  
                        <strong>
                            <oj-bind-text value="[[label().name()]]">
                            </oj-bind-text>
                        </strong>
                        <oj-bind-text value="[[values.name]]">
                        </oj-bind-text>
                    </oj-label>
                </div>
                <div class=" oj-flex-item">
                    <oj-label>  
                        <strong>
                            <oj-bind-text value="[[label().email()]]">
                            </oj-bind-text>
                        </strong>
                        <oj-bind-text value="[[values.email]]">
                        </oj-bind-text>
                    </oj-label>
                </div>
                <div class=" oj-flex-item">
                    <oj-label >  
                        <strong>
                            <oj-bind-text value="[[label().chassisNumber()]]">
                            </oj-bind-text>
                        </strong>
                        <oj-bind-text value="[[values.chassisNumber]]">
                        </oj-bind-text>
                    </oj-label>
                </div>
                <div class=" oj-flex-item">
                    <oj-label>  
                        <strong>
                            <oj-bind-text value="[[label().phone()]]">
                            </oj-bind-text>
                        </strong>
                        <oj-bind-text value="[[values.phone]]">
                        </oj-bind-text>
                    </oj-label>
                </div>
                 <oj-button class="btnPrimary" on-oj-action="[[addVehicleAction]]" >
                    <span>
                        <oj-bind-text value="[[label().vehicles()]]">
                        </oj-bind-text>
                    </span>
                </oj-button>
                <oj-button class="btnPrimary" on-oj-action="[[editAction]]" >
                    <span>
                        <oj-bind-text value="[[label().edit()]]">
                        </oj-bind-text>
                    </span>
                </oj-button>
                <oj-button class="btnPrimary" on-oj-action="[[changePassAction]]" >
                    <span>
                        <oj-bind-text value="[[label().changePass()]]">
                        </oj-bind-text>
                    </span>
                </oj-button>
            </oj-form-layout>
            <oj-validation-group id="tracker" valid="{{groupValid}}">
                <oj-form-layout max-columns="{{columns}}" direction="row" data-bind="visible:visibleForm.editProfile">

                    <div class="change-pic">
                        <oj-label class="pic-text">  
                            <oj-bind-text value="[[label().image()]]">
                            </oj-bind-text>
                        </oj-label>
                        <oj-file-picker class='oj-filepicker-custom'
                                        select-on='click'
                                        on-oj-select='[[selectListener]]'>
                            <oj-button slot='trigger'>
                                <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-arrowbox-n'></span>
                                Upload
                            </oj-button>
                        </oj-file-picker>
                    </div>

                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().firstName()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input1" class="username" value="{{values.firstName}}" clear-icon="conditional" required validators="[[validator]]" virtual-keyboard="text"></oj-input-text>  
                    <oj-label>  
                        <oj-bind-text value="[[label().lastName()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input2" class="username" value="{{values.lastName}}" clear-icon="conditional" required validators="[[validator]]" virtual-keyboard="text"></oj-input-text>  
                    <oj-label>  
                        <oj-bind-text value="[[label.chassisNumber]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input3" class="username" value="{{values.chassisNumber}}" clear-icon="conditional" required validators="[[validator]]" virtual-keyboard="text" ></oj-input-text>  
                    <oj-label>  
                        <oj-bind-text value="[[label().phone()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input4" class="username" value="{{values.phone}}"clear-icon="conditional" required virtual-keyboard="number" validators="[[mobileValidator]]" messages-custom="[[errorMsgPhone]]" on-value-changed="[[phoneChangedHandler]]"></oj-input-text>  
                    <oj-label>  
                        <oj-bind-text value="[[label().email()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input5" class="username" value="{{values.email}}" clear-icon="conditional" required validators="[[emailValidator]]" virtual-keyboard="email" messages-custom="[[errorMsgEmail]]" on-value-changed="[[emailChangedHandler]]"></oj-input-text>  

                    <oj-button class="btnPrimary" on-oj-action="[[editFormAction]]" >
                        <span>
                            <oj-bind-text value="[[label().save()]]">
                            </oj-bind-text>
                        </span>
                    </oj-button>
                </oj-form-layout>
            </oj-validation-group>
            <oj-validation-group id="tracker2" valid="{{groupValid}}">
                <oj-form-layout max-columns="{{columns}}" direction="row" data-bind="visible:visibleForm.editPassword">
                    <oj-label>  
                        <oj-bind-text value="[[label().currentPass()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-password id="text-input6" class="password" required value="{{values.currentPass}}" validators="[[validatorPass]]" autocomplete=“new-password”></oj-input-password> 
                    <oj-label>  
                        <oj-bind-text value="[[label().newPass()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-password id="text-input7" class="password" required value="{{values.newPass}}" validators="[[validatorPass]]" raw-value="{{currentPassValue}}"></oj-input-password> 
                    <oj-label>  
                        <oj-bind-text value="[[label().confirmPass()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-password id="text-input8" class="password" required value="{{values.confirmPass}}" validators="[[validatorPass]]" raw-value="{{currentRawPassValue}}" on-value-changed="[[passChangedHandler]]"  messages-custom="[[errorMsgPass]]"></oj-input-password> 
                    <div class=" oj-flex-item" >
                        <oj-button class="btnPrimary"  on-oj-action="[[reset]]" >
                            <span >
                                <oj-bind-text value="[[label().changePass()]]">
                                </oj-bind-text>
                            </span>
                        </oj-button>
                        <oj-button class="login-footer" id="haveAccount" on-oj-action="[[function() {oj.Router.rootInstance.go('resetPassword');}]]">
                            <span >
                                <oj-bind-text value="[[label().forgetPassword()]]">
                                </oj-bind-text>
                            </span>
                        </oj-button>  
                    </div>
                </oj-form-layout>
            </oj-validation-group>
            <oj-button class="btnPrimary" on-oj-action="[[backAction]]" >
                <span>
                    <oj-bind-text value="[[label().back()]]">
                    </oj-bind-text>
                </span>
            </oj-button>

        </div>

    </div>
</div>