<div class="dashboard-page">
    <div class="oj-applayout-top">
        <header role="banner" class="">
            <oj-module config="[[headerConfig]]"></oj-module>
            <div>
            <oj-button class="logout-btn" on-oj-action='[[logoutAction]]'><span><oj-bind-text value="[[labels().logout()]]"></oj-bind-text></span></oj-button>
            <oj-button class="lang-btn"  class="" on-oj-action='[[switchLangAction]]'><span><oj-bind-text value="[[labels().language()]]"></oj-bind-text></span></oj-button>
            </div>
            <div class="header-text">
                <h2 data-bind="text:labels().header()"></h2>
                <p data-bind="text:labels().parag()"> </p>
            </div>
        </header>
    </div>
    <div>
        <div class="banner" role="banner">
            <div class="cardRow">
                <oj-button class="box-item" data-bind="click: routeToPageVehicle.bind(this,'maintenance')"><span><oj-bind-text value="[[labels().maintenanceLbl()]]"></oj-bind-text></span></oj-button>
                <oj-button class="box-item" data-bind="click: routeToPageVehicle.bind(this,'complain')"><span><oj-bind-text value="[[labels().complainLbl()]]"></oj-bind-text></span></oj-button>
            </div>
            <div class="cardRow">
                <oj-button class="box-item" on-oj-action='[[testDriveClickAction]]'><span><oj-bind-text value="[[labels().testDriveLbl()]]"></oj-bind-text></span></oj-button>
                <oj-button class="box-item" on-oj-action='[[reservationPaymentClickAction]]'><span><oj-bind-text value="[[labels().reservationPaymentLbl()]]"></oj-bind-text></span></oj-button>
            </div>
            <div class="cardRow">
                <oj-button class="box-item" on-oj-action='[[vehicleHistoryClickAction]]'><span><oj-bind-text value="[[labels().vehicleHistoryLbl()]]"></oj-bind-text></span></oj-button>
                <oj-button class="box-item" on-oj-action='[[promotionsClickAction]]'><span><oj-bind-text value="[[labels().promotionsLbl()]]"></oj-bind-text></span></oj-button>
            </div>
            <div class="cardRow">
                <oj-button class="box-item" on-oj-action='[[products]]'><span><oj-bind-text value="[[labels().products()]]"></oj-bind-text></span></oj-button>
                <oj-button class="box-item" data-bind="click: routeToPageVehicle.bind(this,'inquiry')"><span><oj-bind-text value="[[labels().inquiry()]]"></oj-bind-text></span></oj-button>
            </div>
            <div class="cardRow">
                <oj-button class="box-item" on-oj-action='[[profileClickAction]]'><span><oj-bind-text value="[[labels().profileLbl()]]"></oj-bind-text></span></oj-button>
                <oj-button class="box-item" data-bind="click: routeToPageVehicle.bind(this,'service')"><span><oj-bind-text value="[[labels().service()]]"></oj-bind-text></span></oj-button>
            </div>
            <div class="cardRow">
                <oj-button class="box-item" on-oj-action='[[faqsClickAction]]'><span><oj-bind-text value="[[labels().faqLbl()]]"></oj-bind-text></span></oj-button>
                <oj-button class="box-item" on-oj-action='[[locationClickAction]]'><span><oj-bind-text value="[[labels().location()]]"></oj-bind-text></span></oj-button>
            </div>
        </div>
    </div>
</div>
