<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h1 class="header_headline_style animated fadeInUp"> <span><oj-bind-text value="[[payrollValidatorLbl]]"></oj-bind-text></span></h1>
<div class="request_body_styling animated fadeInUp">
    <div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
            <div style="display:none" id="modalDialog1"
                 data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',rootAttributes: { style: 'min-width: 50vw; min-height: 65vh;'}}">
                <div class="oj-dialog-header">
                    <span data-bind="text:process"></span>
                </div>
                <div class="oj-dialog-body">
                    <div id="tableDemo" class="oj-flex oj-flex-items-pad">
                        <div class="oj-xl-8 oj-lg-8 oj-md-6 oj-flex-item">
                            <div class="oj-flex-item">
                                <label for="control1"
                                       data-bind="text: effectiveDate"/>
                            </div>
                            <div class="oj-flex-item">
                                <input id="startDate"
                                       data-bind="ojComponent: {component: 'ojInputDate',value: startdate, converter: dateConverter}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="oj-dialog-footer">                    
                    <oj-button class="apBtn-2" on-oj-action='[[closeDialog]]'>
                        <span><oj-bind-text value="[[process]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="personNumber" data-bind="text: name "/>
                </div>
                <div class="oj-flex-item">
                    <oj-select-one id="allService"
                                   value="{{searchModel.selfServiceType}}"
                                   placeholder="[[yesPlaceHolder]]"
                                   options="{{EitName}}"></oj-select-one>
                </div>
                </div>
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="personNumber" data-bind="text:personnumber "/>
                </div>
                <div class="oj-flex-item">
                    <input id="personNumber"
                           data-bind="ojComponent: {component: 'ojInputText',                                                     value:searchModel.personNumber}"/>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="personNumber" data-bind="text:effictiveDate "/>
                </div>
                <div class="oj-flex-item">
                    <input id="startDate"
                           data-bind="ojComponent: {component: 'ojInputDate',                                                     value: searchModel.effectiveDate,                                                     converter: dateConverter}"/>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="personNumber"
                           data-bind="text:processedInPayroll "/>
                </div>
                <div>
                    <oj-radioset class="oj-choice-direction-row" value="{{searchModel.processedInPayroll}}">
                        <!-- ko foreach: yesNoLookupDP -->
                        <oj-option data-bind="value: value"><span data-bind="text: label"></span></oj-option>
                        <!-- /ko -->
                    </oj-radioset>
                </div>
            </div>
             <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="personNumber"
                           data-bind="text:assigmentStatus "/>
                </div>
                <div class="oj-flex-item">
                    <oj-select-one id="assignmentStatus"
                                   value="{{searchModel.assignmentStatus}}"
                                   placeholder="[[yesPlaceHolder]]"
                                   options="{{assigmentStatusDP}}"></oj-select-one>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item" align="right">
                    <oj-button class="apBtn-2" on-oj-action='[[searchElement]]'>
                        <span><oj-bind-text value="[[search]]"></oj-bind-text></span>
                    </oj-button>
                    
              
                    <oj-button class="apBtn-2" on-oj-action='[[reset]]'>
                        <span><oj-bind-text value="[[clear]]"></oj-bind-text></span>
                    </oj-button>
                     
<!--                     <oj-button class="apBtn-2" on-oj-action='[[reviewNotification]]'>
                        <span><oj-bind-text value="[[review]]"></oj-bind-text></span>
                    </oj-button>-->
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div>
        
         <oj-table id="tbl1"
                   class="apTable-1"
                   aria-label="Employees"
                                    data='[[dataSource]]'
                                    display = "grid"
                                    selectionMode = "{'row': 'multiple'}"
                                    columns-default='{"sortable": "enabled"}'
                                    dnd='{"reorder": {"columns": "enabled"}}'
                                    on-selection-changed='[[selectionListener]]'
                                    columns='{{columnArray}}'>
                                               <oj-paging-control id="paging" data='[[dataSource]]' page-size='10' slot='bottom' class="apPaging-1 display-inline-flex">
                    </oj-paging-control>
        </oj-table>
        
        
        <script type="text/html" id="checkbox_tmpl">
                    <td>
                        <oj-checkboxset aria-hidden='true'
                                        value='{{$context.row.Selected}}' 
                                        class='oj-checkboxset-no-chrome'>
                            <oj-option data-bind="attr:{
                                    id: 'checbox' + $context.cellContext.status.rowIndex}" value="checked" disabled="{{$context.row.status == 'YES'}}"></oj-option>
                        </oj-checkboxset>
                    </td>
            </script>
            <script type="text/html" id="checkbox_hdr_tmpl">
                    <td>
                        <oj-checkboxset value='[false]'
                                        on-value-changed='[[$parent.selectAllListener]]'
                                        class='oj-checkboxset-no-chrome'>
                          <oj-option id="checkbox_hdr" value="checked"></oj-option>
                        </oj-checkboxset>
                    </td>
            </script>
        
    </div> 
    <br/>
     
    <oj-button class="apBtn-2" on-oj-action='[[openDialog]]'>
                        <span><oj-bind-text value="[[process]]"></oj-bind-text></span>
                    </oj-button>
</div>
