<div class="oj-hybrid-applayout-page container">
    <div class="oj-applayout-content container">
        <oj-buttonset-one class="toggle-bar" id="btnValset" value="{{btnVal}}" >
            <oj-bind-for-each data="[[mainBtnsVals]]">
                <template>
                    <oj-option value="[[$current.data.id]]">
                        <span>
                            <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                        </span>              
                    </oj-option>
                </template>
            </oj-bind-for-each>
        </oj-buttonset-one>  
        <br>
        <div id="Add">
            <oj-bind-if test="[[btnVal() !== 'History']]">
                <oj-validation-group id="tracker" valid="{{groupValid}}">
                    <div class="form-box oj-panel">
                        <div class=" oj-flex-item">
                            <h2 for="rem"><oj-bind-text value="[[label().complainType()]]"></oj-bind-text></h2>
                            <oj-select-one class="main-input" value="{{fieldsValue.firstValue}}" options="[[fieldsValue.firstValueArr]]" placeholder="[[label().placeholder()]]" on-value-changed="[[selectComplainHandler]]" required>
                            </oj-select-one>
                        </div>
                        <div class=" oj-flex-item" data-bind="visible: fieldsOption.secondValueDisplay">
                            <h2 for="rem"><oj-bind-text value="[[label().secValueLbl()]]"></oj-bind-text></h2>
                            <oj-select-one  class="main-input" value="{{fieldsValue.secondValue}}" options="[[fieldsValue.secValueArr]]" required="[[fieldsOption.secondValueRequired]]" placeholder="[[label().placeholder()]]" >
                            </oj-select-one>
                        </div>
                        <h2 data-bind="text: label.complaintLetterLbl"></h2>
                        <oj-text-area class="main-input" id="text-area" value="{{fieldsValue.complaintLetter}}" required></oj-text-area>

                    </div>

                    <oj-button class="btnPrimary" id="login" on-oj-action="[[submitAction]]">
                        <span>
                            <oj-bind-text value="[[label().submit()]]"></oj-bind-text>
                        </span>
                    </oj-button>
                </oj-validation-group>
            </oj-bind-if>
        </div>
        <div id="History">
            <oj-bind-if test="[[btnVal() == 'History']]">

                <oj-bind-if test="[[historyStatus() == 'loaded']]">
                    <ul id="ulResults" class="ulResults">
                        <oj-bind-for-each data="[[pagingDataProvider]]">
                            <template data-oj-as="row" >
                                <div class="form-box oj-panel oj-sm-margin-2x demo-panel-customizations">
                                    <oj-label class="label-line">
                                        <strong data-bind="text: label().complainType()"></strong>: 
                                        <oj-bind-text value="[[row.data.firstVal]]"></oj-bind-text>
                                    </oj-label>
                                    <oj-bind-if test="[[row.data.flagSec]]">
                                        <oj-label class="label-line">
                                            <strong data-bind="text: label().secValueLbl()"></strong>: 
                                            <oj-bind-text value="[[row.data.secondValue]]"></oj-bind-text>
                                        </oj-label>
                                    </oj-bind-if>
                                    <oj-label class="label-line">
                                        <strong data-bind="text: label().complaintLetter()"></strong>: 
                                        <oj-bind-text value="[[row.data.detailsValue]]"></oj-bind-text>
                                    </oj-label>
                                    <oj-label class="label-line">
                                        <strong data-bind="text: label().status()"></strong>: 
                                        <oj-bind-text value="[[row.data.statusCode]]"></oj-bind-text>
                                    </oj-label>
                                </div>  
                            </template>
                        </oj-bind-for-each>
                    </ul>

                    <oj-paging-control id="paging" data="[[pagingDataProvider]]" page-size="10">
                    </oj-paging-control>

                </oj-bind-if>

                <oj-bind-if test="[[historyStatus() == 'noDataAvailable']]">
                    <div class="no-data-section">
                        <img src="css/images/no-data.png">
                        <p class="no-data-text" data-bind="text: label().noThingTxt()">NOTHING!!</p>
                        <p class="no-data-desc" data-bind="text: label().emptyTxt()">Your data list is empty.</p>
                    </div>
                </oj-bind-if>

                <oj-bind-if test="[[historyStatus() == 'loading']]">
                    <ul id="ulResults" class="ulResults">
                        <oj-bind-for-each data="[[shimmerCards]]">
                            <template data-oj-as="row" >
                                <div class="form-box oj-panel oj-sm-margin-2x demo-panel-customizations">
                                    <div class="shine-card sh-rounded"></div>
                                    <div class="shine-card sh-1"></div>
                                    <div class="shine-card sh-2"></div>
                                    <div class="shine-card sh-3"></div>
                                </div>  
                            </template>
                        </oj-bind-for-each>
                    </ul>
                </oj-bind-if>
        </div>
    </div>
</div>