<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1>Project OverHead Cost </h1>

<div id="form-container" class="section-container">
    <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[BackBtnAction]]'  >
        <span><oj-bind-text value="[[Back]]"></oj-bind-text></span>
        <span slot="endIcon" class="apiconClass fa fa-arrow-circle-left oj-button-icon oj-end"></span>
    </oj-button>
    <div class="oj-flex-item">

          
        <div class="oj-form search-form  soj-md-labels-inline">

            <div class="oj-flex-item" style="color: red ; margin-top: 40px">
                <label  data-bind="text: projectValue"/>
            </div>
            <br/>
            <div class="firstSec">
                <div class="oj-flex">
                    <div class="itemForLabel">
                        <label  data-bind="text: fCurrancyValue"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-text id="select" disabled="{{isDisabled}}"  
                                       value="{{fCurrancyValueVal}}"
                                       >
                        </oj-input-text>

                    </div>  
                </div>
                <div class="oj-flex">
                    <div class="itemForLabel">
                        <label  data-bind="text: fRate"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-text id="select" disabled="{{isDisabled}}"  
                                       value="{{fRateVal}}"
                                       >
                        </oj-input-text>

                    </div>  

                </div>
                <div class="oj-flex">


                    <div class="itemForLabel">
                        <label  data-bind="text: AED"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-text id="select" disabled="{{isDisabled}}"      
                                       value="{{AEDVal}}"
                                       >
                        </oj-input-text>

                    </div>  

                </div>
            </div>
            <!--second section -->
            <div class="oj-flex-item" style="color: red">
                <label  data-bind="text: prcurmentValue"/>
            </div>
            <br/>
            <div class="firstSec">
                <div class="oj-flex">
                    <div class="itemForLabel">
                        <label  data-bind="text: fCurrancyValue"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-text id="select" disabled="{{isDisabled}}"   
                                       value="{{fCurrancyValueValPro}}"
                                       >
                        </oj-input-text>

                    </div>  

                </div>
                <div class="oj-flex">
                    <div class="itemForLabel">
                        <label  data-bind="text: fRate"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-text id="select" disabled="{{isDisabled}}"   
                                       value="{{fRateValPro}}"
                                       >
                        </oj-input-text>

                    </div>  

                </div>
                <div class="oj-flex">


                    <div class="itemForLabel">
                        <label  data-bind="text: AED"/>
                    </div>

                    <div class="oj-flex-item">
                        <oj-input-text id="select" disabled="{{isDisabled}}"  
                                       value="{{AEDValPro}}">
                        </oj-input-text>

                    </div>  

                </div>
            </div>



        </div>
 </div>
        <br/><br/>
        <div id="form-container" class="section-container">
            <div class="oj-flex-item">


                <div class="oj-form search-form  oj-md-odd-cols-5 oj-md-labels-inline">
                    <oj-validation-group id="tracker" valid="{{groupValid}}">
                    <div class="costFormBody">
                        <div class="costForm">
                         
                                <div class="oj-flex-item costLbl">
                                    <label for="basicSelect" data-bind="text: costId"/>
                                </div>
                                <div class="oj-flex-item costInput">
                                    <oj-select-one placeholder="[[placeholder]]" 
                                                   on-value-changed="{{costValueChanged}}"
                                                   id="basicSelect"
                                                   
                                                   options="{{costIdArr}}"
                                                   value="{{costIdVal}}"
                                                   required="[[isRequired]]">

                                    </oj-select-one>
                                </div>  
                          
                        </div>
                        <div class="costForm">
                            <div class="">
                                <div class="costLbl" >
                                    <label  data-bind="text: Description"/>
                                </div>

                                <div class="oj-flex-item costInput">
                                    <oj-input-text id="select" 
                                                  value="{{descriptionVal}}"
                                                  required="[[isRequired]]"
                                                     disabled="{{isDisabled}}" >
                                    </oj-input-text>

                                </div>  
                            </div>
                        </div>
                  
                    </div>


                    <div class="costFormBody">
                              <div class="costForm">
                            <div class="">
                                <div class="costLbl" >
                                    <label  data-bind="text: Details"/>
                                </div>

                                <div class="oj-flex-item costInput">
                                    <!--                                    <oj-text-area id="select" 
                                                                                      value="{{detailsVal}}"
                                                                                      required="[[isRequired]]">
                                                                        </oj-text-area>-->
                                    <oj-select-one placeholder="[[placeholder]]" 

                                                   id="basicSelect"

                                                   options="{{rulesArray}}"
                                                   value="{{detailsVal}}"
                                            
                                                   on-value-changed="{{detailsValueChanged}}">
                                    </oj-select-one>

                                </div>  
                            </div>
                        </div>
                        <div class="costForm">
                            <div class="costLbl">
                                <label for="basicSelect" data-bind="text: rules"/>
                            </div>

                            <div class="oj-flex-item costInput">
                                     <oj-input-text id="select3" 
                                                  value="{{rulesVal}}"
                                                  required="[[isRequired]]"
                                                     disabled="{{isDisabled}}" >
                                    </oj-input-text>
<!--                                <oj-select-one placeholder="[[placeholder]]" 

                                               id="basicSelect"
                                              
                                               options="{{rulesArray}}"
                                               value="{{rulesVal}}"
                                               required="[[isRequired]]"
                                                 on-value-changed="{{ruleValueChanged}}"

                                               >
                                    options="{{employeeNameAttr}}"
                                </oj-select-one>-->
                            </div>

                        </div>
                    </div>


                   <div class="costFormBody"> 
                                                <div class="costForm">     
                            <div class="oj-flex-item costLbl">
                                <label  data-bind="text: Rate"/>
                            </div>           
                            <div class="oj-flex-item costInput">
                                <oj-input-number 
                                    value="{{rateVal}}"
                                    min="[[min]]"
                                    max="[[max]]"
                                    step="[[step]]"
                                    on-value-changed="{{numberValueChanged}}"
                                    disabled="{{rateDisabled}}" 
                                    required="[[isRequired]]"
                                    >
                                </oj-input-number>

                            </div>  

                        </div>
                        <div class="costForm">
                            <div class="costLbl">

                                <label  data-bind="text: amount"/>
                            </div>

                            <div class="oj-flex-item costInput">
                                <oj-input-number id="select"  
                                               value="{{amountVal}}"
                                               min="0"
                                               disabled="{{amountDisabled}}" 
                                               on-value-changed="{{amountValueChanged}}"
                                               >
                                </oj-input-number>

                            </div>  

                        </div>
                    </div>
                             <div class="costFormBody">
                            <div class="costForm">
                                <div class="costLbl">
                                    <label  data-bind="text: bondStartDate"/>
                                </div>

                                <div class="oj-flex-item costInput">
                                    <oj-input-date id="select5"  
                                                   placeholder="[[placeholder]]" 
                                                   value="{{bondStartDateVal}}"  
                                                   disabled="{{bondDisable}}"
                                                   on-value-changed="{{bondStartDateChangeListener}}"
                                                   >
                                    </oj-input-date>
                                </div>  
                            </div>
                            <div class="costForm">
                                <div class="costLbl">
                                    <label  data-bind="text: bondEndDate"/>
                                </div>

                                <div class="oj-flex-item costInput">
                                    <oj-input-date id="select4"  
                                                   placeholder="[[placeholder]]" 
                                                   value="{{bondEndDateVal}}"  
                                                   disabled="{{bondDisable}}"  
                                                   on-value-changed="{{bondEndDateChangeListener}}"
                                                   >
                                    </oj-input-date>

                                </div>  

                            </div>
                        </div>                 
                        <div class="costFormBody">
                            
                            <div class="costForm">
                                <div class="costLbl">
                                    <label  data-bind="text: bondRate"/>
                                </div>

                                <div class="oj-flex-item costInput">
                                    <oj-input-number id="select7"  
                                                     value="{{bondVal}}"  
                                                     disabled="{{bondRateDisable}}"
                                                     min="0"
                                                     max="100"
                                                     on-value-changed="{{bondRateChangedListener}}"
                                                     >
                                    </oj-input-number>
                                </div>  
                            </div>
                            <div class="costForm">
                                <div class=" costLbl">
                                    <label  data-bind="text: durationOfBond"/>
                                </div>

                                <div class="oj-flex-item costInput">
                                    <oj-input-text id="select4"  
                                                   value="{{durationOfBondVal}}"  
                                                   disabled="{{duBondDisable}}"
                                                   on-value-changed="{{durationOFChangeListener}}"

                                                   >
                                    </oj-input-text>

                                </div>  

                            </div>
                        </div>
                         <div class="costFormBody">
                                                <div class="costForm">
                            <div class="costLbl">
                                <label  data-bind="text: value"/>
                            </div>

                            <div class="oj-flex-item costInput">
                                <oj-input-text 
                                               value="{{valueVal}}"
                                               disabled="{{isDisabled}}" 
                                               >
                                </oj-input-text>

                            </div>  

                                                </div>
                                                <div class="costForm">
                                                    <div class="costLbl">
                                                        <label  data-bind="text:costDate"/>
                                                    </div>

                                                    <div class="oj-flex-item costInput">
                                                        <oj-input-date id="select2"  
                                                                       placeholder="[[placeholder]]" 
                                                                       value="{{DateVal}}"  
                                                                        required="[[isRequired]]"
                                                                       >
                                                        </oj-input-date>

                                                    </div>  

                                                </div>
                        </div>
                    </oj-validation-group>

                    <div id="buttons-container" class="oj-flex-item">            
                        <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[addToTable]]' disabled="{{addDisable}}"  >
                            <span><oj-bind-text value="[[Add]]"></oj-bind-text></span>
                        </oj-button>
                          <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[reSetFields]]' >
                            <span><oj-bind-text value="[[reSet]]"></oj-bind-text></span>
                        </oj-button>
                        <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[DeleteFields]]'disabled="{{deleteDisabled}}"  >
                            <span><oj-bind-text value="Delete"></oj-bind-text></span>
                        </oj-button>
                       
                    </div>

                    <!--                    <div class="oj-flex">
                                            <div style="padding-right: 104px">
                                        <label  data-bind="text: durationOfBond"/>
                                    </div>
                                       
                                    <div class="oj-flex-item">
                                        <oj-input-text id="select"                          
                                                       >
                                        </oj-input-text>
                    
                                    </div>  
                                  
                                   </div>-->

                    <oj-table id='table'
                              class="apTable-1"
                              aria-label='Table'
                              data='[[dataprovider2]]'
                              selection-mode='{"row": "single", "column": "single"}'
                              dnd='{"reorder": {"columns": "enabled"}}'
                              scroll-policy-options='{"fetchSize": 10}'
                              columns='[[columnArray2]]'
                              display = "grid"
                              on-oj-before-current-row = "[[tableSelectionListener2]]">           

                    </oj-table>
                </div>
                 <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 text-right">
                            <span class="costLbl totalDesing costInput2"><label  data-bind="text: total"/></span>
                            <span class="totalDesing"><oj-bind-text  value="{{totalOverHead}}"></oj-bind-text> AED</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>