<div id="main">
    <oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
    </oj-messages>
    <h2 class="summaryHeading"><span>
            <oj-bind-text value="{{labels.listOfPo}}"></oj-bind-text>
        </span></h2>

    <div id="content_div">


        <div id="mainrow" style='display: inline-flex;'>
            <div class="oj-flex-items-pad oj-flex">

                <div class="oj-flex-items-pad oj-flex">
                    <div class="oj-md-9 oj-sm-9 oj-flex-item">
                        <oj-button on-oj-action='[[viewPo]]' class="apBtn-2">
                            <span slot='endIcon' class="apiconClass fa fa-edit"></span>
                            <span>
                                <oj-bind-text value="{{labels.viewPo}}"></oj-bind-text>
                            </span>
                        </oj-button>
                    </div>
                    <div class="oj-md-3 oj-sm-3 oj-flex-item">
                        <oj-button on-oj-action='[[refresh]]' class="apBtn-2">
                            <span slot='endIcon' class="apiconClass fa fa-refresh"></span>
                        </oj-button>
                    </div>
                </div>


                <div class="oj-flex-items-pad oj-flex orderGroup">

                    <div class="oj-md-4 oj-sm-6 oj-flex-item">
                        <div class="sign-form loc-search" id="main1">
                            <oj-input-text id="filter1" clear-icon="always" value="{{filterOrder}}"
                                on-raw-value-changed="[[handleValueChangedOrder]]" placeholder="[[labels.orderNumberLbl]]">
                            </oj-input-text>
                        </div>
                    </div>
                    <div class="oj-md-4 oj-sm-6 oj-flex-item">
                        <div class="sign-form loc-search" id="main2">
                            <oj-input-text id="filter2" clear-icon="always" value="{{ContractEvent}}"
                                on-raw-value-changed="[[handleValueChanged]]" placeholder="[[labels.contractNumberLbl]]">
                            </oj-input-text>
                        </div> 
                    </div>
                

                <div class="oj-md-4 oj-sm-12 oj-flex-item">
                <div class="sign-form loc-search" id="main2">

                    <oj-button on-oj-action='[[history]]' class="apBtn-2 marginTopHistory" disabled="[[historyDisabled]]">
                        <span slot='endIcon' class="apiconClass fa fa-history"></span>
                        <span>
                            <oj-bind-text value="{{labels.history}}"></oj-bind-text>
                        </span>
                    </oj-button>
                </div>
                </div>
            </div>
            </div>
        </div>

        <div class="summaryTable">
            <oj-table id='table' class="apTable-1" aria-label='Departments Table' display="grid" data='{{dataprovider}}'
                scroll-policy='loadMoreOnScroll' columns-default.sortable='disabled'
                scroll-policy-options='{"fetchSize": 5}' selection-mode='{"row": "single", "column": "multiple"}'
                columns='{{tableColumns}}' on-oj-before-current-row="[[tableSelectionListener]]"
                style='width:100%; height: 50%;'>
            </oj-table>
        </div>

        <div id="dialogWrapper">


            <!-- history dialog -->
            <oj-dialog class="m-popup" id="dialog1" dialog-title="Purchase Order history" modality="modeless"
            resize-behavior="resizable" >
                <div slot="body">
                    <span class="dialogSpanStyle">
                        <oj-bind-if test='[[table2Visible]]'>
                            <oj-table id='table2' class="apTable-1 custom" aria-label='Departments Table' display="grid"
                                data='[[dataSource]]' scroll-policy='loadMoreOnScroll'
                                scroll-policy-options='{"fetchSize": 5}'
                                selection-mode='{"row": "single", "column": "single"}' columns='[[tableColumns2]]'
                                style='width: 100%; height: auto;'>
                                <oj-paging-control id="pagingTable2" data="[[dataSource]]" page-size="5" slot="bottom"
                                    class="apPaging-1 display-inline-flex">
                                </oj-paging-control>
                            </oj-table>
                        </oj-bind-if>
                        <oj-bind-if test='[[table2Visible()==false]]'>
                            <oj-bind-text value="{{historyMessage}}"></oj-bind-text>
                        </oj-bind-if>
                    </span>
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2" id="okButton1" on-oj-action="[[closeDialog]]">
                        <span>
                            <oj-bind-text value="{{labels.close}}"></oj-bind-text>
                        </span>
                    </oj-button>
                </div>
            </oj-dialog>
        </div>
    </div>

</div>