
<div id="main">
<oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
</oj-messages>
    <h2 class="summaryHeading" data-bind="text:orderModel.poNumber"></h2>

    <div id="content_div">
        <div class="oj-flex-items-pad oj-flex orderGroup">

                <oj-button on-oj-action='[[backBtn]]' class="apBtn-2" style="margin: 5px;">
                    <span>
                        <oj-bind-text value="{{labels.back}}"></oj-bind-text>
                    </span>
                </oj-button>

                <oj-button on-oj-action='[[sendPoToContractBtn]]' class="apBtn-2" style="margin: 5px;">
                    <span>
                        <oj-bind-text value="{{labels.createContract}}"></oj-bind-text>
                    </span>
                </oj-button>

                <oj-button on-oj-action='[[addLinesToContract]]' class="apBtn-2" style="margin: 5px;">
                    <span>
                        <oj-bind-text value="{{labels.addLinesToContract}}"></oj-bind-text>
                    </span>
                </oj-button>
    
                <!-- <oj-button on-oj-action='[[cancelContractBtnAction]]' class="apBtn-2" style="margin: 5px;">
                    <span>
                        <oj-bind-text value="{{labels.cancelOrder}}"></oj-bind-text>
                    </span>
                </oj-button> -->

        </div>

        <oj-collapsible id="collapsiblePage" expanded data-oj-binding-provider="none">
            <h3 class="subTitle" id="h" slot="header" label-hint="Costoms">General</h3>
            <div class="oj-flex-item oj-panel demo-mypanel">

                <div id="form-container">

                    <oj-form-layout max-columns="3" max-row="9" label-edge='start'>
                        <oj-input-text value="{{orderModel.procurementBU}}" label-hint="[[labels.procurementBU]]"
                            readonly="true"></oj-input-text>
                        <oj-input-text value="{{orderModel.requisitioningBU}}" label-hint="[[labels.requisitioningBU]]"
                            readonly="true"></oj-input-text>
                        <oj-input-text value="{{orderModel.legalEntity}}" label-hint="[[labels.legalEntity]]"
                            readonly="true"></oj-input-text>
                        <oj-input-text value="{{orderModel.procurementBU}}" label-hint="[[labels.billToBU]]"
                            readonly="true"></oj-input-text>
                        <oj-input-text value="{{orderModel.orderNumber}}" label-hint="[[labels.order]]" readonly="true">
                        </oj-input-text>
                        <oj-input-text value="{{orderModel.status}}" label-hint="[[labels.status]]" readonly="true">
                        </oj-input-text>
                        <oj-input-text value="{{orderModel.description}}" label-hint="[[labels.description]]" readonly="true"></oj-input-text>
                        <!--<oj-input-text value="{{orderModel.fundsStatus}}" label-hint="[[labels.fundsStatus]]" readonly="true"></oj-input-text>-->
                        <oj-input-text value="{{orderModel.buyer}}" label-hint="[[labels.buyer]]" readonly="true">
                        </oj-input-text>
                        <oj-input-text value="{{orderModel.creationDate}}" label-hint="[[labels.creationDate]]"
                            readonly="true"></oj-input-text>
                        <oj-input-text value="{{orderModel.supplier}}" label-hint="[[labels.supplier]]" readonly="true">
                        </oj-input-text>
                        <oj-input-text value="{{orderModel.site}}" label-hint="[[labels.site]]" readonly="true">
                        </oj-input-text>
                        <oj-input-text value="{{orderModel.supplierContact}}" label-hint="[[labels.supplierContact]]"
                            readonly="true"> </oj-input-text>
                        <!--<oj-input-text value="{{orderModel.communicationMethod}}" label-hint="[[labels.communicationMethod]]" readonly="true"> </oj-input-text>-->
                        <!--<oj-input-text value="{{orderModel.email}}" label-hint="[[labels.email]]"readonly="true"></oj-input-text>-->
                        <oj-input-text value="{{orderModel.billToLocation}}" label-hint="[[labels.billToLocation]]"
                            readonly="true"></oj-input-text>
                        <!--<oj-input-text value="{{orderModel.shipToLocation}}" label-hint="[[labels.shipToLocation]]" readonly="true"></oj-input-text>-->
                        <oj-input-text value="{{orderModel.ordered}}" label-hint="[[labels.ordered]]" readonly="true">
                        </oj-input-text>
                        <oj-input-text value="{{orderModel.totalVat}}" label-hint="[[labels.totalVat]]" readonly="true">
                        </oj-input-text>
                        <oj-input-text value="{{orderModel.total()+' '+orderModel.totalCurrency()}}"
                            label-hint="[[labels.total]]" readonly="true"></oj-input-text>
                        <oj-input-text value="{{orderModel.supplierAlternativeName}}"
                            label-hint="[[labels.supplierAlternativeName]]" readonly="true"></oj-input-text>
                        <oj-input-text value="{{orderModel.taxRegistrationNumber}}"
                            label-hint="[[labels.taxRegistrationNumber]]" readonly="true"></oj-input-text>
                        <oj-input-text value="{{orderModel.changeOrderDesc}}" label-hint="[[labels.changeOrderDescription]]" readonly="true"></oj-input-text>
                    </oj-form-layout>
                </div>
            </div>
            <div>
                <div id="tabbardemo">
                    <div id="tabbarcontainer">
                        <oj-tab-bar edge="[[edge]]" selection="{{selectedItem}}">
                            <ul>
                                <li id="terms">
                                    <a href="#">
                                        Terms
                                    </a>
                                </li>
                                <li id="notes">
                                    <a href="#">
                                        Notes and Attachments
                                    </a>
                                </li>
                            </ul>
                        </oj-tab-bar>
                    </div>
                    <br>
                    <oj-switcher value="[[selectedItem]]">
                        <div slot="terms" id="terms-tab-panel" role="tabpanel" aria-labelledby="terms-tab">
                            <div class="demo-tab-content">
                                <div class="oj-flex-item oj-panel demo-mypanel">
                                    <oj-form-layout max-columns="3" label-edge='start'>
                                        <oj-input-text value="{{orderModel.requiredAcknowledgment}}"
                                            label-hint="[[labels.requiredAcknowledgment]]" readonly="true">
                                        </oj-input-text>
                                        <oj-input-text value="{{orderModel.paymentTerms}}"
                                            label-hint="[[labels.paymentTerms]]" readonly="true"></oj-input-text>
                                        <oj-input-text value="{{orderModel.shippingMethod}}"
                                            label-hint="[[labels.shippingMethod]]" readonly="true"></oj-input-text>
                                        <oj-input-text value="{{orderModel.freightTerms}}"
                                            label-hint="[[labels.freightTerms]]" readonly="true"></oj-input-text>
                                        <oj-input-text value="{{orderModel.FOB}}" label-hint="[[labels.FOB]]"
                                            readonly="true"></oj-input-text>
                                    </oj-form-layout>
                                </div>

                            </div>
                        </div>
                        <div slot="notes" id="notes-tab-panel" role="tabpanel" aria-labelledby="notes-tab">
                            <div class="demo-tab-content">
                                <div class="oj-flex-item oj-panel demo-mypanel">
                                    <oj-form-layout max-columns="3" label-edge='start'>
                                        <oj-input-text value="{{orderModel.noteToSupplier}}"
                                            label-hint="[[labels.noteToSupplier]]" readonly="true"></oj-input-text>
                                        <oj-input-text value="{{orderModel.noteToReceiver}}"
                                            label-hint="[[labels.noteToReceiver]]" readonly="true"></oj-input-text>
                                        <oj-input-text value="{{orderModel.attachment}}" label-hint="Attachment :"
                                            readonly="true"></oj-input-text>
                                    </oj-form-layout>
                                </div>
                            </div>
                        </div>
                    </oj-switcher>



                </div>
            </div>
            <oj-collapsible id="collapsiblePage" expanded data-oj-binding-provider="none">
                <h3 class="subTitle" id="h" slot="header" label-hint="Costoms">Additional Information</h3>
                <div class="oj-flex-item oj-panel demo-mypanel">

                    <div id="form-container">

                        <oj-form-layout max-columns="3" max-row="9" label-edge='start'>
                            <oj-input-text value="{{orderModel.delayedPenalties}}"
                                label-hint="[[labels.delayedPenalties]]" readonly="true"></oj-input-text>
                            <oj-input-text value="{{orderModel.chargePercentage}}"
                                label-hint="[[labels.chargePercentage]]" readonly="true"></oj-input-text>
                            <oj-input-text value="{{orderModel.savingAmount}}" label-hint="[[labels.savingAmount]]"
                                readonly="true"></oj-input-text>
                            <oj-input-text value="{{orderModel.advancedPayment}}"
                                label-hint="[[labels.advancedPayment]]" readonly="true"></oj-input-text>
                            <oj-input-text value="{{orderModel.termsAndConditions}}"
                                label-hint="[[labels.termsAndConditions]]" readonly="true"></oj-input-text>
                            <oj-input-text value="{{orderModel.contractValue}}" label-hint="[[labels.contractValue]]"
                                readonly="true"></oj-input-text>
                            </oj-input-text>
                            <oj-select-one label-hint="[[labels.contractType]]" value="{{orderModel.contractType}}"
                                options="[[contractTypeArray]]" style="display: flex; width: fit-content;" placeholder="[[placeHolder]]" required>
                            </oj-select-one>

                            <oj-input-text value="{{orderModel.relatedPoNumber}}"
                                label-hint="[[labels.relatedPoNumber]]" readonly="true"></oj-input-text>
                        </oj-form-layout>
                    </div>
                </div>
            </oj-collapsible>
        </oj-collapsible>
        <div class="oj-flex-item oj-panel demo-mypanel">

            <h3 class="oj-header-border subTitle">Lines</h3>

            <oj-table id='table' class="apTable-1" aria-label='Lines Table' data='[[dataprovider]]'
                selection-mode='{"row": "multiple", "column": "multiple"}' scroll-policy='loadMoreOnScroll'
                scroll-policy-options='{"fetchSize": 5}' columns='{{tableColumns}}'
                style='width: 100%; height: inherit;'>
                <oj-paging-control id="paging" data="[[dataprovider]]" page-size="5" slot="bottom"
                    class="apPaging-1 display-inline-flex">
                </oj-paging-control>
            </oj-table>

        </div>
    </div>






    <div id="dialogWrapper">

        <!-- contract action type dialog -->
        <oj-dialog class="main-dialog main-dialog-width m-popupDialog" id="contractTypeDialog"
            dialog-title="{{labels.createContract}}" modality="modeless">
            <div slot="body">
                <span class="dialogSpanStyle">
                    <oj-bind-text value="{{messagesContract}}"></oj-bind-text>
                </span>
                <br>
                <h5>
                    <oj-bind-text value="{{labels.contractMessage}}"></oj-bind-text>
                </h5>
            </div>
            <div slot="footer">
                <div class="oj-flex-items-pad oj-flex orderGroup">

                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-button class="apBtn-2" id="okButton1" on-oj-action="[[createNewContract]]">
                            <span>
                                <oj-bind-text value="{{labels.createNewContract}}"></oj-bind-text>
                            </span>
                        </oj-button>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-button class="apBtn-2" id="okButton1" on-oj-action="[[updateContract]]">
                            <span>
                                <oj-bind-text value="{{labels.updateExisting}}"></oj-bind-text>
                            </span>
                        </oj-button>
                    </div>
                </div>
            </div>
        </oj-dialog>

        <!-- /////////////////// -->
        <!-- success dialog -->
        <oj-dialog class="main-dialog main-dialog-width m-popupDialog" id="messageDialog1"
            style="height: fit-content !important;">
            <div slot="header" class="oj-helper-clearfix">
                <label>
                    <span>
                        <oj-bind-text value="{{labels.createContract}}"></oj-bind-text>
                    </span>
                </label>
            </div>
            <div slot="body"><img src="css/images/success.png" style="width: 20px;height: 20px;" />
                <label style="font-size: 18px;"><span>
                        <oj-bind-text value="{{dialogMsg}}"></oj-bind-text>
                    </span></label>
            </div>
            <div slot="footer">
                <div>
                    <oj-button class="apBtn-2" on-oj-action='[[closeMessageDialog]]'>
                        <span>
                            <oj-bind-text value="OK"></oj-bind-text>
                        </span>
                    </oj-button>
                </div>
            </div>
        </oj-dialog>
        <!-- fail dialog -->
        <oj-dialog class="main-dialog main-dialog-width m-popupDialog " id="messageDialog2"
            style="height: fit-content !important;">
            <div slot="header" class="oj-helper-clearfix">
                <label>
                    <span>
                        <oj-bind-text value="{{labels.createContract}}"></oj-bind-text>
                    </span>
                </label>
            </div>
            <div slot="body"><img src="css/images/error.png" style="width: 20px;height: 20px;" />
                <label style="font-size: 18px;"><span>
                        <oj-bind-text value="{{dialogMsg}}"></oj-bind-text>
                    </span></label>
            </div>
            <div slot="footer">
                <div>
                    <oj-button class="apBtn-2" on-oj-action='[[closeMessageDialog2]]'>
                        <span>
                            <oj-bind-text value="OK"></oj-bind-text>
                        </span>
                    </oj-button>
                </div>
            </div>
        </oj-dialog>
        <!-- //////// -->

        <!-- contract dialog -->
        <oj-dialog class="main-dialog main-dialog-width m-popupDialog" id="contractUpdateDailog"
            dialog-title="[[labels.updateContractMsg]]" modality="modeless">
            <div slot="body">
                <oj-radioset id="radioSetId" value="{{contractUpdateTypeSelecion}}" style="    display: grid;">
                    <oj-option id="chooseFromList" value="list">Choose from list</oj-option>
                    <oj-option id="manuallyEnter" value="text">Enter contract number</oj-option>
                </oj-radioset>
                <oj-bind-if test="contractUpdateTypeSelecion()=='list'">
                    <div class="oj-flex-items-pad oj-flex inputcustomclass">
                        <div class="oj-md-6 oj-sm-12 oj-flex">
                            <oj-label class="inputPadding">Select contract number</oj-label>
                        </div>
                        <div class="oj-md-6 oj-sm-12 oj-flex">
                            <oj-select-one value="{{selectedContractNumber}}" options="[[contractNumberList]]"
                                style="display: flex; width: fit-content;">
                                <!-- ko foreach: contractNumberList -->
                                <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                                <!-- /ko -->
                            </oj-select-one>
                        </div>
                    </div>
                </oj-bind-if>
                <oj-bind-if test="contractUpdateTypeSelecion()=='text'">
                    <div class="oj-flex-items-pad oj-flex inputcustomclass">
                        <div class="oj-md-4 oj-sm-12 oj-flex">
                            <oj-label class="inputPadding">Enter contract number</oj-label>
                        </div>
                        <div class="oj-md-8 oj-sm-12 oj-flex">
                            <oj-input-text class="inputNumberdialog" id="inputnumber-id"
                                value="{{selectedContractNumber}}">
                            </oj-input-text>
                        </div>
                    </div>
                </oj-bind-if>
            </div>
            <div slot="footer">
                <div class="oj-flex-items-pad oj-flex orderGroup">
                    
                    <oj-bind-if test="{{updateContractVisible()==true}}">
                        <div class="oj-md-6 oj-sm-12 oj-flex-item">
                            <oj-button class="apBtn-2" id="okButton1" on-oj-action="[[updateExistingContract]]">
                                <span>
                                    <oj-bind-text value="{{labels.updateContractMsg}}"></oj-bind-text>
                                </span>
                            </oj-button>
                        </div>
                    </oj-bind-if>
                    <oj-bind-if test="{{updateContractVisible()==false}}">
                        <div class="oj-md-6 oj-sm-12 oj-flex-item">
                            <oj-button class="apBtn-2" id="okButton1" on-oj-action="[[addLinesContract]]">
                                <span>
                                    <oj-bind-text value="{{labels.addLinesToContract}}"></oj-bind-text>
                                </span>
                            </oj-button>
                        </div>
                    </oj-bind-if>

                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-button class="apBtn-2" id="okButton1" on-oj-action="[[closeUpdateContractDialog]]">
                            <span>
                                <oj-bind-text value="{{labels.close}}"></oj-bind-text>
                            </span>
                        </oj-button>
                    </div>
                </div>
            </div>
        </oj-dialog>

    </div>
    <!-- ////////////// -->

    <!-- cancel contract dialog -->
    <oj-dialog class="main-dialog main-dialog-width m-popupDialog" id="contractcancelDailog"
    dialog-title="[[labels.cancelOrder]]" modality="modeless" >
    <div slot="body">
        <oj-radioset id="radioSetId1" value="{{contractCancelTypeSelecion}}" style="display: grid;">
            <oj-option id="chooseFromList1" value="allContracts">Cancel all contracts related to this order</oj-option>
            <oj-option id="manuallyEnter1" value="oneContract">Select contract from list</oj-option>
        </oj-radioset>
        <oj-bind-if test="contractCancelTypeSelecion()=='oneContract'">
            <div class="oj-flex-items-pad oj-flex inputcustomclass">
                <div class="oj-md-6 oj-sm-12 oj-flex">
                    <oj-label class="inputPadding">Select contract number</oj-label>
                </div>
                <div class="oj-md-6 oj-sm-12 oj-flex">
                    <oj-select-one value="{{selectedContractNumber}}" options="[[contractNumberList]]"
                        style="display: flex; width: fit-content;">
                        <!-- ko foreach: contractNumberList -->
                        <oj-option value="[[value]]"><span data-bind="text: label"></span></oj-option>
                        <!-- /ko -->
                    </oj-select-one>
                </div>
            </div>
        </oj-bind-if>
    </div>
    <div slot="footer">
        <div class="oj-flex-items-pad oj-flex orderGroup">

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-button class="apBtn-2" id="okButton1" on-oj-action="[[cancelContractAction]]">
                    <span>
                        <oj-bind-text value="{{labels.submit}}"></oj-bind-text>
                    </span>
                </oj-button>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-button class="apBtn-2" id="okButton1" on-oj-action="[[closeCancelContractDialog]]">
                    <span>
                        <oj-bind-text value="{{labels.close}}"></oj-bind-text>
                    </span>
                </oj-button>
            </div>
        </div>
    </div>
</oj-dialog>
</div>
<!-- ////////////// -->

<!-- cancel and close dialog -->
<oj-dialog class="main-dialog main-dialog-width m-popupDialog" id="cancelMessageDialog">
    <div slot="header" class="oj-helper-clearfix" style="top: 20px !important;">
        <label>Cancel and Close Dialog</label>
    </div>
    <div slot="body" >
        <label style="font-size: 15px;"><span>
            <p id="demo"></p>
            <!-- <oj-bind-text value="{{dialogMsg}}"></oj-bind-text> -->
        </span></label>
    </div>
    <div slot="footer">
        <div class="oj-flex-items-pad oj-flex orderGroup">

            <oj-bind-if test="ableToCancel()==true">
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-button class="apBtn-2" id="okButton1" on-oj-action="[[submitCancelAction]]">
                    <span>
                        <oj-bind-text value="{{labels.submit}}"></oj-bind-text>
                    </span>
                </oj-button>
            </div>
        </oj-bind-if>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-button class="apBtn-2" on-oj-action='[[closeCancelMessageDialog]]'>
                    <span><oj-bind-text value="{{labels.close}}"></oj-bind-text></span>
                </oj-button>
            </div>
        </div>
    </div>
</oj-dialog>

<!-- /////////////////////// -->
</div>
</div>