<!--
 Copyright (c) 2014, 2020, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-padding">
  <h1>Fast Formula</h1>
  <div id="header-wrap">
    <!-- Messages -->
    <div id="notificationMessages">
      <oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
      </oj-messages>
    </div>

    </oj-input-text>
    <div class="row">
      <div class="col-sm-12 col-md-12 text-right">
        <oj-button on-oj-action="[[gotoIndex]]" id='keyword-search-btn' disabled='[[advanceDisable]]'>
          <span>
            Cancel
          </span>
        </oj-button>
        <oj-button on-oj-action="[[createFastFormula]]" id='keyword-search-btn' disabled='[[advanceDisable]]'>
          <span>
            Submit
          </span>
        </oj-button>
      </div>
    </div>
  </div>
  <div id="body-wrap" class="mt-3">
    <!-- Basic Data -->
    <div class="panel-custom p-4 border rounded-lg shadow-sm">
      <h5>Formula Details</h5>
      <div class="row">
        <div class="col-md-6">
          <table>
            <tr class="p-2">
              <td class="text-left"><strong>Formula Name :</strong>
                <oj-bind-text value="[[createName]]"></oj-bind-text>
              </td>
            </tr>
            <tr class="p-2">
              <td class="text-left"><strong>Effective End Date :</strong>
                <oj-bind-text value="[[createEndDate]]"></oj-bind-text>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <table>
            <tr class="p-2">
              <td class="text-left"><strong>Effective Start Date :</strong>
                <oj-bind-text value="[[createStartDate]]"></oj-bind-text>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- parameter table -->
    <div class="panel-custom p-4 mt-5 border rounded-lg shadow-sm">
      <h5>Parameter</h5>
      <div id="header-wrap">
        <!-- Messages -->
        <div id="notificationMessages">
          <oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
          </oj-messages>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6">
          </div>
          <div class="col-sm-12 col-md-6 text-right">
            <!-- create element button -->
            <!-- <oj-button on-oj-action="[[openListenerCreateParameter]]" id='btn-advance-search'
              disabled='[[advanceDisable]]' style="padding: 0">
              <span>
                <i class="fas fa-plus pr-2"></i> Insert Parameter
              </span>
            </oj-button> -->
            <oj-button on-oj-action="[[gotoInsertParameter]]" id='btn-advance-search'
              disabled='[[advanceDisable]]' style="padding: 0">
              <span>
                <i class="fas fa-plus pr-2"></i> Insert Parameter
              </span>
            </oj-button>
          </div>
          <div class="col-12">
            <!-- advance search -->
            <!-- <div id="advance-search" class="p-4 border rounded-lg shadow-sm" style="display:none;">
              <div id="validation-usecase">
                <oj-validation-group id="tracker">
                  <oj-form-layout max-columns="2" id="fl1">
                    <oj-input-text required value="{{searchCreateParameterName}}" autocomplete="off"
                      label-hint="Parameter Name" style="max-width: 100%;">
                    </oj-input-text>                              
                  </oj-form-layout>
                </oj-validation-group>
              </div>
              <div class="text-right">
                <oj-button on-oj-action="[[searchAdvance]]" chroming="solid" id='btn-advance-search'
                  disabled='[[advanceDisable]]'>
                  Search
                </oj-button>
              </div>
            </div> -->
          </div>
        </div>

        <!-- create modal -->
        <!-- <oj-popup id="create-modal" class="demo-popup" tail="none" position.my.horizontal="center"
          position.my.vertical="top" position.at.horizontal="center" position.at.vertical="top" position.of="window"
          position.offset.y="50" modality="modal" on-oj-animate-start="[[startAnimationListenerCreateParameter]]">
          <div class="demo-popup-body">
            <div class="demo-popup-header">
              <h5>Insert Parameter</h5>
            </div>
            <div class="demo-popup-content">
              <div id="validation-usecase">
                <oj-validation-group id="create-tracker">
                  <oj-form-layout max-columns="2" id="fl1">
                    <oj-input-text required value="{{createParameterName}}" autocomplete="off" label-hint="Name"
                      style="max-width: 100%;">
                    </oj-input-text>
                    <oj-combobox-one required placeholder="Select option" label-hint="Direction"
                      value="{{createParameterDirection}}" options="[[optionDirection]]" style="max-width: 100%;">
                    </oj-combobox-one>
                    <oj-combobox-one required placeholder="Select option" label-hint="Type" value="{{createParameterType}}"
                      options="[[optionParameterType]]" style="max-width: 100%;">
                    </oj-combobox-one>
                    <oj-combobox-one required placeholder="Select option" label-hint="Category" on-value-changed="[[changeListenerCategory]]"
                      value="{{createParameterCategory}}" options="[[optionCategory]]" style="max-width: 100%;"
                      id="source-select">
                    </oj-combobox-one>
                  </oj-form-layout>

                  <oj-bind-if test='[[createParameterCategory()]]'>
                    <hr>
                  </oj-bind-if>

                  <oj-bind-if test='[[createParameterCategory()=="PERSON_DETAILS"]]'>
                    <oj-form-layout max-columns="1" id="fl2">
                      <oj-combobox-one placeholder="Select option" label-hint="Details"
                        value="{{createPersonDetails}}" options="[[optionPersonDetails]]"
                        style="max-width: 100%;">
                      </oj-combobox-one>
                    </oj-form-layout>
                  </oj-bind-if>

                  <oj-bind-if test='[[createParameterCategory()=="ELEMENT"]]'>
                    <oj-form-layout max-columns="2" id="fl2">
                      <oj-combobox-one placeholder="Select option" label-hint="Element" on-value-changed="[[changeListenerElementDropdown]]"
                        value="{{createElement}}" options="[[optionElement]]"
                        style="max-width: 100%;">
                      </oj-combobox-one>
                      <oj-combobox-one placeholder="Select option" label-hint="Input Value"
                        value="{{createInputValue}}" options="[[optionInputValue]]"
                        style="max-width: 100%;">
                      </oj-combobox-one>
                    </oj-form-layout>
                  </oj-bind-if>

                  <oj-bind-if test='[[createParameterCategory()=="REPORT"]]'>
                    <oj-form-layout max-columns="1" id="fl3">
                        <oj-combobox-one placeholder="Select option" label-hint="Report Name" on-value-changed="[[changeListenerReport]]"
                          value="{{createReportName}}" options="[[optionReportName]]"
                          style="max-width: 100%;">
                        </oj-combobox-one>
                    </oj-form-layout>
                    <oj-form-layout max-columns="2" id="fl4">
                      <oj-bind-for-each id="parameter" data="[[reportParameters]]">
                        <template data-oj-as="parameter">
                          <oj-combobox-one id="" label-hint="[[parameter.data.name]]" value="{{test}}">
                            <oj-option value="PERSON_DETAILS">Person Details</oj-option>
                            <oj-option value="ELEMENT">Element</oj-option>  
                            <oj-option value="static">Static</oj-option>
                          </oj-combobox-one>

                          <oj-bind-if test="[[test() == 'PERSON_DETAILS']]">
                            <oj-combobox-one required placeholder="Select option" label-hint="Details"
                              value="{{parameter.data.personDetails}}" options="[[optionPersonDetails]]"
                              style="max-width: 100%;">
                            </oj-combobox-one>
                          </oj-bind-if>

                          <oj-bind-if test="[[test() == 'ELEMENT']]">
                            <oj-combobox-one required placeholder="Select option" label-hint="Element" on-value-changed="[[changeListenerElementDropdown]]"
                              value="{{parameter.data.elementId}}" options="[[optionElement]]"
                              style="max-width: 100%;">
                            </oj-combobox-one>
                            <oj-combobox-one required placeholder="Select option" label-hint="Input Value"
                              value="{{parameter.data.inputValueId}}" options="[[optionInputValue]]"
                              style="max-width: 100%;">
                            </oj-combobox-one>
                          </oj-bind-if>

                          <oj-bind-if test="[[test() == 'static']]">
                            <oj-input-text required label-hint="Value" value="{{parameter.data.static}}">
                            </oj-input-text>
                          </oj-bind-if>
                        </template>
                      </oj-bind-for-each>

                      <oj-bind-if test='[[createReportName()]]'>
                        <oj-bind-if test='[[createParameter1()]]'>
                          <oj-input-text value="{{createParameter1}}" disabled="true" label-hint="Paramter 1">
                          </oj-input-text>
                        </oj-bind-if>
                        <oj-bind-if test='[[createParameter2()]]'>
                          <oj-input-text value="{{createParameter2}}" disabled="true" label-hint="Paramter 2">
                          </oj-input-text>
                        </oj-bind-if>
                        <oj-bind-if test='[[createParameter3()]]'>
                          <oj-input-text value="{{createParameter3}}" disabled="true" label-hint="Paramter 3">
                          </oj-input-text>
                        </oj-bind-if>
                        <oj-bind-if test='[[createParameter4()]]'>
                          <oj-input-text value="{{createParameter4}}" disabled="true" label-hint="Paramter 4">
                          </oj-input-text>
                        </oj-bind-if>
                        <oj-bind-if test='[[createParameter5()]]'>
                          <oj-input-text value="{{createParameter5}}" disabled="true" label-hint="Paramter 5">
                          </oj-input-text>
                        </oj-bind-if>
                      </oj-bind-if>
                    </oj-form-layout>
                  </oj-bind-if>
                </oj-validation-group>
              </div>
            </div>
            <div class="demo-popup-footer text-right">
              <oj-button id="create-defineFormulaResult-cancel-btn" on-oj-action="[[cancelListenerCreateParameter]]">
                Cancel
              </oj-button>
              <oj-button id="create-defineFormulaResult-btn" class="ml-2" on-oj-action="[[createParameter]]">
                Insert
              </oj-button>
            </div>
          </div>
        </oj-popup> -->
      </div>

      <div class="table-wrap">
        <div class="mt-3 p-2 border rounded-lg">
          <oj-table id='table' aria-label='Parameter Table' data='[[dataProviderCreateParameter]]'
            selection-mode='{"row": "multiple", "column": "multiple"}' dnd='{"reorder": {"columns": "enabled"}}'
            on-oj-before-current-row="[[tableSelectionListenerCreateParameter]]" scroll-policy='loadMoreOnScroll'
            scroll-policy-options='{"fetchSize": 10}'
            columns='[
                    {"headerText": "Name", "field": "name", "resizable": "enabled"},
                    {"headerText": "Direction", "field": "directions", "resizable": "enabled"},
                    {"headerText": "Type", "field": "parameter_type", "resizable": "enabled"},
                    {"headerText": "Category", "field": "parameter_category", "resizable": "enabled"},
                    {"headerText": "Action", "field": "action", "headerStyle": "width: 10px;", "resizable": "disabled", "template": "actionTemplate"}]'
            style='width: 100%; max-height: 400px;'>

            <template slot="actionTemplate" data-oj-as="cell">
              <oj-bind-if test='[[cell.mode=="navigation"]]'>
                <oj-button id='remove-parameter-btn' on-oj-action="[[removeCreateParameter]]"
                  disabled='[[advanceDisable]]'>
                  <i class="far fa-trash-alt"></i>
                </oj-button>
              </oj-bind-if>
            </template>
          </oj-table>
        </div>
      </div>
    </div>



    <!-- Formula Body -->
    <div class="panel-custom mt-5 p-4 border rounded-lg shadow-sm">
      <h5>Formula</h5>
      <div class="w-100 text-right">
        <oj-button id='btn-advance-search' data-bind="css: compileProccess() ? 'load-button' : ''" on-oj-action="[[compileFastFormula]]" disabled='[[compileProccess]]'
          style="padding: 0">
          <span>
            Compile
          </span>
        </oj-button>
      </div>
      <h6>Header</h6>
      <div class="w-100 mt-3 mb-3">
        <div class="textarea-wrapper">
          <textarea rows="10" data-bind="value: fastFormulaHeader" disabled></textarea>
        </div>
      </div>
      <h6>Body</h6>
      <div class="w-100 mt-3">
        <div class="textarea-wrapper">
          <textarea rows="21" data-bind="value: fastFormulaText"></textarea>
        </div>
      </div>

      <!-- <div class="oj-md-12 oj-lg-6 oj-flex-item">
          <div class="mt-3 p-2 border rounded-lg" style="min-height: 350px;">
            <div id="tabbardemo" >  
              <div id="demo-container" class="oj-flex demo-edge-top">
                <oj-tab-bar id="hnavlist" 
                            edge="[[currentEdge]]"
                            selection="{{selectedItem}}">
                  <ul>
                    <li id="home">
                      <a href="#" aria-controls="home-tab-panel" id="home-tab" >
                        Reports
                      </a>
                    </li>
                    <li id="settings">
                      <a href="#" aria-controls="settings-tab-panel" id="settings-tab" >
                        Database Items
                      </a>
                    </li>
                    <li id="about">
                      <a href="#"  aria-controls="about-tab-panel" id="about-tab">
                        Functions
                      </a>
                    </li>
                    <li id="contact" >
                      <a href="#" aria-controls="contact-tab-panel" id="contact-tab" >
                        Globals
                      </a>
                    </li>
                  </ul>
                </oj-tab-bar>
            
                <oj-switcher value="[[selectedItem]]">
                  <div slot="home"
                       id="home-tab-panel"
                       class="mt-3"
                       role="tabpanel" 
                       aria-labelledby="home-tab">
                    <div class="demo-tab-content">
                      <oj-form-layout  max-columns="3" id="create-costingElementform1">
                        <oj-label for="create-costingelementcosttype">Reports </oj-label>
                        <oj-combobox-one id="create-costingelementcosttype" value="{{reports}}"
                        style="max-width: 100%;" options="[[reportsOption]]" placeholder="Select option">
                        </oj-combobox-one>      
                      </oj-form-layout> 
                    </div>
                  </div>
                  <div slot="settings"
                       id="settings-tab-panel"
                       role="tabpanel" 
                       class="mt-3"
                       aria-labelledby="settings-tab">
                    <div class="demo-tab-content">
                      
                    </div>
                  </div>
                  <div slot="about"
                       id="about-tab-panel"
                       class="mt-3"
                       role="tabpanel" 
                       aria-labelledby="about-tab">
                    <div class="demo-tab-content">
                      
                    </div>
                  </div>
                  <div slot="contact"
                       id="contact-tab-panel"
                       class="mt-3"
                       role="tabpanel" 
                       aria-labelledby="contact-tab">
                    <div class="demo-tab-content">
                      
                    </div>
                  </div>
                </oj-switcher>
              </div>  
            </div>
          </div>
        </div>  -->
    </div>
  </div>

  <div id="insert-parameter" style="display: none">
    <div class="panel-custom mt-5 p-4 border rounded-lg shadow-sm">
      <h5>Insert Parameter</h5>
      <div class="w-100 mt-3">
        <div id="validation-usecase">
          <oj-validation-group id="create-tracker">
            <oj-form-layout max-columns="2" id="fl1a">
              <oj-input-text required value="{{createParameterName}}" autocomplete="off" label-hint="Name"
                style="max-width: 100%;">
              </oj-input-text>
              <oj-combobox-one required placeholder="Select option" label-hint="Type" value="{{createParameterType}}"
                options="[[optionParameterType]]" style="max-width: 100%;">
              </oj-combobox-one>
            </oj-form-layout>
            <oj-form-layout max-columns="2" id="fl1b">
              <oj-combobox-one required placeholder="Select option" on-value-changed="[[changeListenerDirection]]" label-hint="Direction"
                value="{{createParameterDirection}}" options="[[optionDirection]]" style="max-width: 100%;">
              </oj-combobox-one>
              <oj-bind-if id="" test="[[createParameterDirection()=='IN']]">
                <oj-combobox-one required placeholder="Select option" label-hint="Category" on-value-changed="[[changeListenerCategory]]"
                  value="{{createParameterCategory}}" options="[[optionCategory]]" style="max-width: 100%;"
                  id="source-select">
                </oj-combobox-one>  
              </oj-bind-if>
            </oj-form-layout>

            <oj-bind-if test='[[createParameterCategory()]]'>
              <hr>
            </oj-bind-if>

            <oj-bind-if test='[[createParameterCategory()=="PERSON_DETAILS"]]'>
              <oj-form-layout max-columns="1" id="fl2">
                <oj-combobox-one placeholder="Select option" label-hint="Details"
                  value="{{createPersonDetails}}" options="[[optionPersonDetails]]"
                  style="max-width: 100%;">
                </oj-combobox-one>
              </oj-form-layout>
            </oj-bind-if>

            <oj-bind-if test='[[createParameterCategory()=="ELEMENT" || createParameterCategory()=="ELEMENT_RESULT"]]'>
              <oj-form-layout max-columns="2" id="fl2">
                <oj-combobox-one placeholder="Select option" label-hint="Element" on-value-changed="[[changeListenerElementDropdown]]"
                  value="{{createElement}}" options="[[optionElement]]"
                  style="max-width: 100%;">
                </oj-combobox-one>
                <oj-combobox-one placeholder="Select option" label-hint="Input Value"
                  value="{{createInputValue}}" options="[[optionInputValue]]"
                  style="max-width: 100%;">
                </oj-combobox-one>
              </oj-form-layout>
            </oj-bind-if>

            <oj-bind-if test='[[createParameterCategory()=="REPORT"]]'>
              <oj-form-layout max-columns="3" id="fl3">
                  <oj-combobox-one placeholder="Select option" label-hint="Report Name" on-value-changed="[[changeListenerReport]]"
                    value="{{createReportName}}" options="[[optionReportName]]"
                    style="max-width: 100%;">
                  </oj-combobox-one>
              </oj-form-layout>
            
              <div class="p-4 border rounded-lg">
                <oj-bind-for-each id="parameter" data="[[setParameterList]]">
                  <template data-oj-as="parameter">
                    <oj-bind-if id="" test="[[parameter.index != 0]]">
                      <hr>
                    </oj-bind-if>
                    <oj-form-layout max-columns="3" id="fl4">
                      <oj-combobox-one id="" required on-value-changed="[[changeListenerReportCategory]]" placeholder="Select option" label-hint="[[parameter.data.name]]" 
                        value="{{parameter.data.category}}" style="max-width: 100%;" options=[[optionCategory2]]>
                        <!-- <oj-option value="PERSON_DETAILS">Person Details</oj-option>
                        <oj-option value="ELEMENT">Element</oj-option>   -->
                        <!-- <oj-option value="STATIC">Static</oj-option> -->
                      </oj-combobox-one>
  
                      <oj-bind-if test="[[parameter.data.category == 'PERSON_DETAILS']]">
                        <oj-combobox-one required placeholder="Select option" label-hint="Details"
                          value="{{parameter.data.personDetails}}" options="[[optionPersonDetails]]"
                          style="max-width: 100%;">
                        </oj-combobox-one>
                      </oj-bind-if>
  
                      <oj-bind-if test="[[parameter.data.category == 'ELEMENT']]">
                        <oj-combobox-one required on-value-changed="[[changeListenerReportElement]]" placeholder="Select option" label-hint="Element" on-value-changed="[[changeListenerElementDropdown]]"
                          value="{{parameter.data.elementId}}" options="[[optionElement]]"
                          style="max-width: 100%;">
                        </oj-combobox-one>
                        <oj-combobox-one required placeholder="Select option" label-hint="Input Value"
                          value="{{parameter.data.inputValueId}}" options="[[parameter.data.inputValueOption]]"
                          style="max-width: 100%;">
                        </oj-combobox-one>
                      </oj-bind-if>
                      
                      <oj-bind-if test="[[parameter.data.category == 'STATIC']]">
                        <oj-input-text required label-hint="Value" placeholder="Select option" value="{{parameter.data.static}}">
                        </oj-input-text>
                      </oj-bind-if>
                    </oj-form-layout>
                  </template>
                </oj-bind-for-each>
              </div>
              
            </oj-bind-if>
          </oj-validation-group>
        </div>
      </div>

      <div class="mt-3 w-100 text-right">
        <oj-button id='insert-parameter-cancel' on-oj-action="[[gotoMain]]" disabled='[[advanceDisable]]'
          style="padding: 0">
          <span>
            Cancel
          </span>
        </oj-button>
        <oj-button id='insert-parameter-submit' on-oj-action="[[createParameter]]" disabled='[[advanceDisable]]'
          style="padding: 0">
          <span>
            Insert
          </span>
        </oj-button>
      </div>
    </div>
  </div>

</div>
