<div class="sidemenu">
  <hr class="line-white-sm" />
  <span class="sidemenu-item  " data-bind="click: back">
    <i class="d-block fas fa-backward"></i>
    <span class="text">Back</span>
  </span>
  <span class="sidemenu-item" data-bind="click: manageElement">
    <!-- <i class="d-block fas fa-backward"></i> -->
    <span class="text">Manage Element</span>
  </span>
  <span class="sidemenu-item" data-bind="click: manageObjectGroup">
    <!-- <i class="d-block fas fa-backward"></i> -->
    <span class="text">Manage Object Group</span>
  </span>
  <span class="sidemenu-item active" data-bind="click: fastFormula">
    <!-- <i class="d-block fas fa-backward"></i> -->
    <span class="text">Fast Formula</span>
  </span>
</div>
<div class="main-content">
  <a id="btn-sidemenu" class="navbar-brand pr-4"><i class="fas fa-bars"></i></a>
  <h1 class="title">Define Formula Result</h1>
  <div class="sectionBody content rounded-lg shadow-lg p-3">
    <div class="header-wrap">
      <!-- Messages -->
      <div id="notificationMessages">
        <oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
        </oj-messages>
      </div>

        <div id="page-1-dfr">
          <div class="row  mb-2">
            <div class="col-md-6">
              <div class="text-left">
              <oj-button on-oj-action="[[gotoIndexFastFormula]]" id='keyword-search-btn'
                disabled='[[advanceDisable]]'>
                <span><i class="fas fa-chevron-left"></i> Back</span></span>
              </oj-button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="text-right">
                <oj-button on-oj-action="[[openListenerCreateDFR]]" id='btn-advance-search'
                  disabled='[[advanceDisable]]' style="padding: 0">
                  <span>
                    <i class="fas fa-plus pr-2"></i> Create Define Formula Result
                  </span>
                </oj-button>
              </div>
            </div>
          </div>
          <div class="row  mb-2">
            <div class="col-md-6">
              <div class="text-left">
                <oj-combobox-one label-hint="" on-value-changed=[[changeListenerElement]] placeholder="Select Element" options="[[optionDFRElement]]" value="{{selectedElement}}">
                </oj-combobox-one>
              </div>
            </div>
            <div class="col-md-6">
            </div>
          </div>
          
          <div class="rounded w-100">
            <oj-table id='define-formula-result-table' aria-label='Define Formula Result Table'
              data='[[dataProviderDFR]]' selection-mode='{"row": "multiple", "column": "multiple"}'
              dnd='{"reorder": {"columns": "enabled"}}'
              on-oj-before-current-row='[[tableSelectionListenerDFR]]' scroll-policy='loadMoreOnScroll'
              scroll-policy-options='{"fetchSize": 10}'
              columns='[{"headerText": "No.", "field": "num", "className": "oj-sm-only-hide", "headerStyle": "width: 10px;", "resizable": "disabled"},
                      {"headerText": "Description", "field": "description", "resizable": "enabled"},
                      {"headerText": "Fast Formula", "field": "formulaName", "resizable": "enabled"},
                      {"headerText": "Effective Start Date", "field": "startDate", "resizable": "enabled"},
                      {"headerText": "Effective End Date", "field": "endDate", "resizable": "enabled"},
                      {"headerText": "Action", "field": "action", "headerStyle": "width: 10px;", "resizable": "disabled", "template": "actionTemplate"}]'
              style='width: 100%; max-height: 400px;'>

                <template slot="actionTemplate" data-oj-as="cell">
                  <oj-bind-if test='[[cell.mode=="navigation"]]'>
                    <oj-menu-button id="menuButton">
                      <i class="fas fa-ellipsis-h"></i>
                      <!-- To handle menu item selection, use an action listener as shown, not a click listener. -->
                      <oj-menu id="DFRmyMenu" slot="menu" style="display:none;" on-oj-action="[[DFRAction]]">
                        <oj-option value="edit">
                          <i class="far fa-edit"></i> Edit
                        </oj-option>
                        <oj-option value="remove">
                          <i class="far fa-trash-alt"></i> Remove
                        </oj-option>
                      </oj-menu>
                    </oj-menu-button>
                  </oj-bind-if>
                </template>
              </oj-table>
            </div>

          <div id="create-dfr">
            <oj-popup id="create-dfr-modal" class="demo-popup" tail="none" position.my.horizontal="center"
              position.my.vertical="top" position.at.horizontal="center" position.at.vertical="top"
              position.of="window" position.offset.y="50" modality="modal"
              on-oj-animate-start="[[startAnimationListenerCreateDFR]]">
              <div class="demo-popup-body">
                <div class="demo-popup-header">
                  <h5>Create Define Formula Result</h5>
                </div>
                <div class="demo-popup-content">
                  <div id="create-dfr-validation-usecase">
                    <oj-validation-group id="create-dfr-tracker">
                      <oj-form-layout max-columns="2" id="fl1">
                        <oj-input-text required value="{{DFRDescription}}" autocomplete="off"
                          label-hint="Formula Description" style="max-width: 100%;">
                        </oj-input-text>
                        <oj-combobox-one required="true" aria-label="Element Name" label-hint="Element Name"
                          placeholder="Select option" options="[[optionDFRElement]]"
                          value="{{DFRElement}}" style="max-width:100%">
                        </oj-combobox-one>
                        <!-- <oj-combobox-one required="true" aria-label="Fast Formula" label-hint="Fast Formula"
                          placeholder="Select option" options="[[optionDefineFormulaResult]]"
                          value="{{DFRFastFormula}}" style="max-width:100%">
                        </oj-combobox-one> -->
                        <oj-input-date converter=[[dateFormat]] value="{{DFRStartDate}}" required
                          label-hint="Effective Start Date:" style="max-width: 100%;">
                        </oj-input-date>
                        <oj-input-date converter=[[dateFormat]] min="[[DFRStartDate]]" value="{{DFREndDate}}"
                          label-hint="Effective End Date:" style="max-width: 100%;">
                        </oj-input-date>
                      </oj-form-layout>
                    </oj-validation-group>
                  </div>
                </div>
                <div class="demo-popup-footer text-right">
                  <oj-button id="create-dfr-btnCancel" on-oj-action="[[cancelListenerCreateDFR]]">
                    Cancel
                  </oj-button>
                  <oj-button id="btn-create-dfr-submit" class="ml-2" on-oj-action="[[createDFR]]">
                    Continue
                  </oj-button>
                </div>
              </div>
            </oj-popup>
          </div>
        </div>

        <div id="page-2-dfr" style="display: none">
          <oj-bind-if test="[[createPage()==true]]">
            <!-- CREATE DEFINE FORMULA RESULT -->
            <div id="body-wrap" class="mt-3">
              <!-- Basic Data -->
              <div id="header-wrap">
                <div class="row">
                  <div class="col-sm-12 col-md-12 text-right">
                    <oj-button on-oj-action="[[gotoIndexCancel]]" id='keyword-search-btn'
                      disabled='[[advanceDisable]]'>
                      <span>
                        Cancel
                      </span>
                    </oj-button>
                    <oj-button on-oj-action="[[submitDFR]]" id='keyword-search-btn'
                      disabled='[[advanceDisable]]'>
                      <span>
                        Submit
                      </span>
                    </oj-button>
                  </div>
                </div>
              </div>
              <div class="panel-custom mt-3 p-4 border rounded-lg shadow-sm">
                <h5>Basic Data</h5>
                <div id="validation-usecase">
                  <oj-validation-group id="edit-tracker">
                    <oj-form-layout max-columns="2" id="fl1">
                      <oj-input-text required value="{{DFRDescription}}"
                        autocomplete="off" label-hint="Formula Description" readonly="true" style="max-width: 100%;">
                      </oj-input-text>
                      <oj-combobox-one required="true" aria-label="Element" label-hint="Element"
                        placeholder="Select option" options="[[optionDFRElement]]"
                        value="{{DFRElement}}" readonly="true" style="max-width:100%">
                      </oj-combobox-one>
                      <!-- <oj-combobox-one required="true" aria-label="Fast Formula" label-hint="Fast Formula"
                        placeholder="Select option" options="[[optionDefineFormulaResult]]"
                        value="{{editFastFormulaDFR}}" style="max-width:100%">
                      </oj-combobox-one> -->
                      <oj-input-text label-hint="Start-Date" readonly="true" value="{{DFRStartDate}}">
                      </oj-input-text>
                      <oj-input-text label-hint="End-Date" readonly="true" value="{{DFREndDate}}">
                      </oj-input-text>
                    </oj-form-layout>
                  </oj-validation-group>
                </div>
              </div>
            </div>
            <!-- table -->
            <div id="table">
              <div class="panel-custom mt-5 p-4 border rounded-lg shadow-sm">
                <h5>Formula Rules</h5>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                  </div>
                  <div class="col-sm-12 col-md-6 text-right">
                    <oj-button id='add-defineFormulaResult-btn' disabled='[[advanceDisable]]'
                      on-oj-action="[[openListenerLinkType]]">
                      <span><i class="fas fa-plus p-2"></i></span>
                    </oj-button>
                  </div>
                </div>
                <div class="mt-3 p-2 border rounded-lg">
                  <oj-table id='defineFormulaResult-table' aria-label='Define Formula Result Table'
                    data='[[dataProviderLinkType]]' selection-mode='{"row": "multiple", "column": "multiple"}'
                    dnd='{"reorder": {"columns": "enabled"}}'
                    on-oj-before-current-row="[[tableSelectionListenerLinkType]]" scroll-policy='loadMoreOnScroll'
                    scroll-policy-options='{"fetchSize": 10}'
                    columns='[
                      {"headerText": "Formula Result", "field": "parameterName", "resizable": "enabled"},
                      {"headerText": "Link Type", "field": "resultRuleType", "resizable": "enabled"},
                      {"headerText": "Element", "field": "elementName", "resizable": "enabled"},
                      {"headerText": "Input Value", "field": "inputValueName", "resizable": "enabled"},
                      {"headerText": "Message", "field": "messageType", "resizable": "enabled"},
                      {"headerText": "Effective Start date", "field": "effectiveStartDate", "resizable": "enabled"},
                      {"headerText": "Effective End date", "field": "effectiveEndDate", "resizable": "enabled"},
                      {"headerText": "Action", "field": "action", "headerStyle": "width: 10px;", "template": "actionTemplate"}
                    ]'
                    style='width: 100%; max-height: 400px;'>

                    <template slot="actionTemplate" data-oj-as="cell">
                      <oj-bind-if test='[[cell.mode=="navigation"]]'>
                        <oj-button id='remove-defineFormulaResult-btn' on-oj-action="[[removeLinkType]]"
                          disabled='[[advanceDisable]]'>
                          <i class="far fa-trash-alt"></i>
                        </oj-button>
                      </oj-bind-if>
                    </template>
                  </oj-table>
                </div>

                <!-- modal -->
                <oj-popup id="insert-defineFormulaResult-modal" class="demo-popup" tail="none"
                  position.my.horizontal="center" position.my.vertical="top" position.at.horizontal="center"
                  position.at.vertical="top" position.of="window" position.offset.y="50" modality="modal"
                  on-oj-animate-start="[[startAnimationListenerLinkType]]" style="width: 500px">
                  <div class="demo-popup-body">
                    <div class="demo-popup-header">
                      <h5>Insert Formula Result Rules</h5>
                    </div>
                    <div class="demo-popup-content">
                      <oj-validation-group id="insert-defineFormulaResult-tracker" class="p-2">
                        <oj-form-layout max-columns="2" id="fl1">
                          <oj-combobox-one required 
                            value="{{formulaResult}}" on-value-changed=[[changeListenerFormulaResult]] options="[[optionFormulaResult2]]" placeholder="Select option"
                            label-hint="Formula Result" style="max-width: 100%;">
                          </oj-combobox-one>
                          <oj-combobox-one required on-value-changed=[[changeListenerLinkType]]
                            value="{{linkType}}" options="[[optionLinkType]]" placeholder="Select option"
                            label-hint="Link Type" style="max-width: 100%;">
                          </oj-combobox-one>
                          <oj-bind-if test="[[linkType()=='Direct Result' || linkType()=='Indirect Result']]">
                            <oj-combobox-one required on-value-changed=[[changeListenerElementDFR]]
                              value="{{elementNameDefineFormulaResult}}"
                              options="[[optionElementDefineFormulaResult2]]" placeholder="Select option"
                              label-hint="Element Name" style="max-width: 100%;">
                            </oj-combobox-one>
                            <oj-combobox-one required value="{{inputValueDefineFormulaResult}}"
                              options="[[optionInputValueDefineFormulaResult2]]" placeholder="Select option"
                              label-hint="Input Value" style="max-width: 100%;">
                            </oj-combobox-one>
                          </oj-bind-if>
                          <oj-bind-if test="[[linkType()=='Message']]">
                            <oj-combobox-one required 
                              value="{{messageDefineElement}}"
                              options="[[optionMessageDefineElement]]" placeholder="Select option"
                              label-hint="Message" style="max-width: 100%;">
                            </oj-combobox-one>
                          </oj-bind-if>
                        </oj-form-layout>
                      </oj-validation-group>
                    </div>
                    <div class="mt-2 demo-popup-footer text-right">
                      <oj-button id="insert-defineFormulaResult-cancel-btn"
                        on-oj-action="[[cancelListenerLinkType]]">
                        Cancel
                      </oj-button>
                      <oj-button id="insert-defineFormulaResult-btn" class="ml-2"
                        on-oj-action="[[insertDefineFormulaResult]]">
                        Insert
                      </oj-button>
                    </div>
                  </div>
                </oj-popup>
              </div>
            </div>
          </oj-bind-if>
          <oj-bind-if test="[[createPage()==false]]">
            <!-- EDIT FORMULA RESULT -->
            <div id="edit-DFR">
              <div id="header-wrap">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <oj-button on-oj-action="[[gotoIndexCancel]]" id='keyword-search-btn'
                      disabled='[[advanceDisable]]'>
                      <span><i class="fas fa-chevron-left"></i> Back</span></span>
                    </oj-button>
                  </div>
                  <div class="col-sm-12 col-md-6 text-right">
                    <oj-button id='keyword-search-btn' on-oj-action="[[updateDFR]]"
                      disabled='[[advanceDisable]]'>
                      Save Changes
                    </oj-button>
                  </div>
                </div>
              </div>
              <div id="body-wrap" class="mt-3">
                <!-- Basic Data -->
                <div class="panel-custom mt-3 p-4 border rounded-lg shadow-sm">
                  <h5>Basic Data</h5>
                  <div id="validation-usecase">
                    <oj-validation-group id="edit-tracker">
                      <oj-form-layout max-columns="2" id="fl1">
                        <oj-input-text required value="{{editDescriptionDFR}}"
                          autocomplete="off" label-hint="Formula Description" style="max-width: 100%;">
                        </oj-input-text>
                        <oj-combobox-one required="true" aria-label="Element" label-hint="Element"
                          placeholder="Select option" options="[[optionDFRElement]]"
                          value="{{editDFRElement}}" disabled="true" style="max-width:100%">
                        </oj-combobox-one>
                        <!-- <oj-combobox-one required="true" aria-label="Fast Formula" label-hint="Fast Formula"
                          placeholder="Select option" options="[[optionDefineFormulaResult]]"
                          value="{{editFastFormulaDFR}}" style="max-width:100%">
                        </oj-combobox-one> -->
                        <oj-input-date converter=[[dateFormat]] value="{{editEffectiveStartDateDFR}}"
                          required label-hint="Start-Date" style="max-width: 100%;">
                        </oj-input-date>
                        <oj-input-date converter=[[dateFormat]] min="[[editEffectiveEndDateDFR]]" value="{{editEffectiveEndDateDFR}}"
                          label-hint="End-Date" style="max-width: 100%;">
                        </oj-input-date>
                      </oj-form-layout>
                    </oj-validation-group>
                  </div>
                </div>
              </div>
            </div>
            <!-- table -->
            <div id="table">
              <div class="panel-custom mt-5 p-4 border rounded-lg shadow-sm">
                <h5>Formula Rules</h5>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                  </div>
                  <div class="col-sm-12 col-md-6 text-right">
                    <oj-button id='edit-defineFormulaResult-btn' disabled='[[advanceDisable]]'
                      on-oj-action="[[openListenerLinkTypeEdit]]">
                      <span><i class="fas fa-plus p-2"></i></span>
                    </oj-button>
                  </div>
                </div>
                <div class="mt-3 p-2 border rounded-lg">
                  <oj-table id='edit-defineFormulaResult-table' aria-label='Define Formula Result Table'
                    data='[[dataProviderLinkTypeEdit]]' selection-mode='{"row": "multiple", "column": "multiple"}'
                    dnd='{"reorder": {"columns": "enabled"}}'
                    on-oj-before-current-row="[[tableSelectionListenerLinkTypeEdit]]" scroll-policy='loadMoreOnScroll'
                    scroll-policy-options='{"fetchSize": 10}'
                    columns='[
                      {"headerText": "Formula Result", "field": "parameterName", "resizable": "enabled"},
                      {"headerText": "Link Type", "field": "resultRuleType", "resizable": "enabled"},
                      {"headerText": "Element", "field": "elementName", "resizable": "enabled"},
                      {"headerText": "Input Value", "field": "inputValueName", "resizable": "enabled"},
                      {"headerText": "Message", "field": "messageType", "resizable": "enabled"},
                      {"headerText": "Effective Start date", "field": "effectiveStartDate", "resizable": "enabled"},
                      {"headerText": "Effective End date", "field": "effectiveEndDate", "resizable": "enabled"},
                      {"headerText": "Action", "field": "action", "headerStyle": "width: 10px;", "template": "actionTemplate"}
                    ]'
                    style='width: 100%; max-height: 400px;'>

                    <template slot="actionTemplate" data-oj-as="cell">
                      <oj-bind-if test='[[cell.mode=="navigation"]]'>
                        <oj-button id='remove-defineFormulaResult-btn' on-oj-action="[[deleteLinkType]]"
                          disabled='[[advanceDisable]]'>
                          <i class="far fa-trash-alt"></i>
                        </oj-button>
                      </oj-bind-if>
                    </template>
                  </oj-table>
                </div>

                <!-- modal -->
                <oj-popup id="edit-defineFormulaResult-modal" class="demo-popup" tail="none"
                  position.my.horizontal="center" position.my.vertical="top" position.at.horizontal="center"
                  position.at.vertical="top" position.of="window" position.offset.y="50" modality="modal"
                  on-oj-animate-start="[[startAnimationListenerLinkTypeEdit]]" style="width: 500px">
                  <div class="demo-popup-body">
                    <div class="demo-popup-header">
                      <h5>Insert Formula Result Rules</h5>
                    </div>
                    <div class="demo-popup-content">
                      <oj-validation-group id="edit-defineFormulaResult-tracker" class="p-2">
                        <oj-form-layout max-columns="2" id="fl1">
                          <oj-combobox-one required 
                            value="{{editFormulaResult}}" on-value-changed=[[changeListenerFormulaResult]] options="[[optionFormulaResult]]" placeholder="Select option"
                            label-hint="Formula Result" style="max-width: 100%;">
                          </oj-combobox-one>
                          <oj-combobox-one required on-value-changed=[[changeListenerLinkType]]
                            value="{{editLinkType}}" options="[[optionLinkType]]" placeholder="Select option"
                            label-hint="Link Type" style="max-width: 100%;">
                          </oj-combobox-one>
                          <oj-bind-if test="[[editLinkType()=='Direct Result' || editLinkType()=='Indirect Result']]">
                            <oj-combobox-one required on-value-changed=[[changeListenerElementDFR]]
                              value="{{editElementLinkType}}"
                              options="[[optionElementDefineFormulaResult]]" placeholder="Select option"
                              label-hint="Element Name" style="max-width: 100%;">
                            </oj-combobox-one>
                            <oj-combobox-one required value="{{editInputValueLinkType}}"
                              options="[[optionInputValueDefineFormulaResult]]" placeholder="Select option"
                              label-hint="Input Value" style="max-width: 100%;">
                            </oj-combobox-one>
                          </oj-bind-if>
                          <oj-bind-if test="[[editLinkType()=='Message']]">
                            <oj-combobox-one required 
                              value="{{editMessageDefineElement}}"
                              options="[[optionMessageDefineElement]]" placeholder="Select option"
                              label-hint="Message" style="max-width: 100%;">
                            </oj-combobox-one>
                          </oj-bind-if>
                        </oj-form-layout>
                      </oj-validation-group>
                    </div>
                    <div class="mt-2 demo-popup-footer text-right">
                      <oj-button id="edit-defineFormulaResult-cancel-btn"
                        on-oj-action="[[cancelListenerLinkTypeEdit]]">
                        Cancel
                      </oj-button>
                      <oj-button id="insert-defineFormulaResult-btn" class="ml-2"
                        on-oj-action="[[insertLinkType]]">
                        Insert
                      </oj-button>
                    </div>
                  </div>
                </oj-popup>
              </div>
            </div>
          </oj-bind-if>

          
        </div>
      </div>
  </div>
</div>
