<div class="sidemenu">
  <hr class="line-white-sm" />
  <span class="sidemenu-item  " data-bind="click: back">
    <i class="d-block fas fa-backward"></i>
    <span class="text">Back</span>
  </span>
  <span class="sidemenu-item" data-bind="click: manageElement">
    <!-- <i class="d-block fas fa-backward"></i> -->
    <span class="text">Manage Element</span>
  </span>
  <span class="sidemenu-item" data-bind="click: manageObjectGroup">
    <!-- <i class="d-block fas fa-backward"></i> -->
    <span class="text">Manage Object Group</span>
  </span>
  <span class="sidemenu-item active" data-bind="click: fastFormula">
    <!-- <i class="d-block fas fa-backward"></i> -->
    <span class="text">Fast Formula</span>
  </span>
  <span class="sidemenu-item" data-bind="click: report">
    <!-- <i class="d-block fas fa-backward"></i> -->
    <span class="text">Report</span>
  </span>
</div>
<div class="main-content">
  <a id="btn-sidemenu" class="navbar-brand pr-4"><i class="fas fa-bars"></i></a>
  <h1 class="title">Fast Formula</h1>
  <div class="sectionBody content rounded-lg shadow-lg p-3">
    <div id="header-wrap">
      <!-- Messages -->

      <div id="notificationMessages">
        <oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
        </oj-messages>
      </div>

      <!-- search advance -->
      <div class="content-navbar text-center">
        <button class="d-inline-block btn btn-light advancedBtn" data-toggle="collapse"
          data-target="#advancesSection">Advanced</button>
      </div>

      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-md-12 oj-sm-12 oj-flex-item">
          <!-- search keyword -->
          <oj-input-text aria-label="Enter search keyword" value="{{keyword}}" placeholder="Enter search keyword">
          </oj-input-text>
          <oj-button on-oj-action="[[searchKeyword]]" id='keyword-search-btn' disabled='[[advanceDisable]]'>
            Search
          </oj-button>
        </div>
      </div>
      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-md-12 oj-sm-12 text-right mr-top-30">
          <!-- create element button -->
          <oj-button on-oj-action="[[openListenerFastFormula]]" id='btn-advance-search' disabled='[[advanceDisable]]'
            style="padding: 0">
            <span>
              <i class="fas fa-plus pr-2"></i> Create Fast Formula
            </span>
          </oj-button>
        </div>
      </div>
      <div class="col-12">
        <!-- advance search -->
        <div id="advancesSection" class="collapse pt-5">
          <div id="validation-usecase">
            <oj-validation-group id="tracker">
              <oj-form-layout max-columns="2" id="fl1">
                <oj-input-text required value="{{searchName}}" autocomplete="off" label-hint="Formula Name"
                  style="max-width: 100%;">
                </oj-input-text>
                <!-- <oj-combobox-one required value="{{searchType}}" placeholder="Select option"
                  label-hint="Formula Type" style="max-width: 100%;">
                  <oj-option value="Absence">Absence</oj-option>
                  <oj-option value="Deduction">Deduction</oj-option>
                </oj-combobox-one> -->
                <oj-input-date converter=[[dateFormat]] value="{{searchStartDate}}" required
                  label-hint="Effective Start-Date" style="max-width: 100%;">
                </oj-input-date>
                <oj-input-date converter=[[dateFormat]] value="{{searchEndDate}}" label-hint="Effective End-Date"
                  style="max-width: 100%;">
                </oj-input-date>
              </oj-form-layout>
            </oj-validation-group>
          </div>
          <div class="text-center">
            <oj-button on-oj-action="[[searchAdvance]]" chroming="solid" id='btn-advance-search'
              disabled='[[advanceDisable]]'>
              Search
            </oj-button>
          </div>
        </div>
      </div>


      <!-- create modal -->
      <oj-popup id="create-modal" class="demo-popup" tail="none" position.my.horizontal="center"
        position.my.vertical="top" position.at.horizontal="center" position.at.vertical="top" position.of="window"
        position.offset.y="50" modality="modal" on-oj-animate-start="[[startAnimationListenerCreateFastFormula]]">
        <div class="demo-popup-body">
          <div class="demo-popup-header">
            <h5>Create Fast Formula</h5>
          </div>
          <div class="demo-popup-content">
            <div id="validation-usecase">
              <oj-validation-group id="create-tracker">
                <oj-form-layout max-columns="1" id="fl1">
                  <oj-input-text required value="{{createFastFormulaName}}" autocomplete="off" label-hint="Formula Name"
                    style="max-width: 100%;">
                  </oj-input-text>
                </oj-form-layout>
                <oj-form-layout max-columns="2" id="fl2">
                  <!-- <oj-combobox-one required value="{{createFastFormulaType}}" placeholder="Select option"
                  label-hint="Formula Type" style="max-width: 100%;">
                  <oj-option value="absence">Absence</oj-option>
                  <oj-option value="deduction">Deduction</oj-option>
                </oj-combobox-one> -->
                  <oj-input-date converter=[[dateFormat]] value="{{createFastFormulaStartDate}}" required
                    label-hint="Effective Start-Date" style="max-width: 100%;">
                  </oj-input-date>
                  <oj-input-date converter=[[dateFormat]] value="{{createFastFormulaEndDate}}"
                    label-hint="Effective End-Date" style="max-width: 100%;">
                  </oj-input-date>
                </oj-form-layout>
              </oj-validation-group>
            </div>
          </div>
          <div class="demo-popup-footer text-right">
            <oj-button id="create-objectgroup-cancel-btn" on-oj-action="[[cancelListenerFastFormula]]">
              Cancel
            </oj-button>
            <oj-button id="create-objectgroup-btn" class="ml-2" on-oj-action="[[createFastFormula]]">
              Continue
            </oj-button>
          </div>
        </div>
      </oj-popup>
    </div>
    <div class="table-wrap">
      <div class="mt-3 p-2 border rounded-lg shadow-sm">
        <oj-table class="tableStyle" id='table' aria-label='Fast Formula Table' data='[[dataProviderFastFormula]]'
          selection-mode='{"row": "multiple", "column": "multiple"}' dnd='{"reorder": {"columns": "enabled"}}'
          on-oj-before-current-row="[[tableSelectionListenerFastFormula]]" scroll-policy='loadMoreOnScroll'
          scroll-policy-options='{"fetchSize": 10}'
          columns='[{"headerText": "No.", "field": "id", "className": "oj-sm-only-hide", "headerStyle": "width: 10px;", "resizable": "disabled"},
                {"headerText": "Formula Name", "field": "name", "resizable": "enabled"},
                {"headerText": "Effective Start Date", "field": "startDate", "resizable": "enabled"},
                {"headerText": "Effective End Date", "field": "endDate","resizable": "enabled"},
                {"headerText": "Action", "field": "action", "headerStyle": "width: 10px;", "resizable": "disabled", "template": "actionTemplate"}]'>

          <template slot="actionTemplate" data-oj-as="cell">
            <oj-bind-if test='[[cell.mode=="navigation"]]'>
              <oj-menu-button id="menuButton">
                <i class="fas fa-ellipsis-h"></i>
                <!-- To handle menu item selection, use an action listener as shown, not a click listener. -->
                <oj-menu id="myMenu" slot="menu" style="display:none;" on-oj-action="[[elementAction]]">
                  <oj-option value="edit">
                    <i class="far fa-edit"></i> Edit
                  </oj-option>
                  <oj-option value="defineFormulaResult">
                    <i class="far fa-edit"></i> Define Formula Result
                  </oj-option>
                  <oj-option value="remove">
                    <i class="far fa-trash-alt"></i> Remove
                  </oj-option>
                </oj-menu>
              </oj-menu-button>
            </oj-bind-if>
          </template>
        </oj-table>
      </div>
    </div>
  </div>
</div>