<div class="request_body_styling animated fadeInUp ">
    <h3 class="header_headline_style"><span> <oj-bind-text value="[[lgEditScreenLbl]]"></oj-bind-text> </span></h3>

    <div class="summaryBtn detailsBtn">
        <oj-button class="btnStyle" on-oj-action="[[backBtn]]"><i class="fa fa-backward fontawesomePadding"></i><span data-bind="text: label().backLbl"></span></oj-button>
        <oj-button class="btnStyle" on-oj-action='[[submitBtn]]' data-bind="visible: customsModel.viewVisible" disabled="[[customsModel.createLg]]"><i class="fa fa-thumbs-o-up"></i><span data-bind="text: label().submitLbl"></span></oj-button>
        <oj-button class="btnStyle" on-oj-action='[[updateBtn]]' data-bind="visible: customsModel.viewVisible">
            </i><span data-bind="text: label().editLbl"></span></oj-button>
        <oj-button class="btnStyle" on-oj-action='[[cancelStatusBtn]]' data-bind="visible: customsModel.viewCancelVisible">
            </i><span data-bind="text: label().cancelLbl"></span></oj-button>
        <oj-button class="btnStyle" on-oj-action='[[LgFormatBtn]]' data-bind="visible: customsModel.viewFormatVisible">
            </i><span data-bind="text: label().formatLbl"></span></oj-button>

    </div>
    <div class="penaltyDetailsContent start summaryContent start padding-right container">
        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().documentNumberLbl"></span></oj-label>
                <oj-input-text disabled="{{customsModel.disableAllFields}}" slot="value" value="{{customsModel.documentNumber}}"></oj-input-text>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().contractNoLbl"></span></oj-label>
                <oj-select-one id="supplierNoSelect" value="{{customsModel.contractNoVal}}" placeholder="Please Select : " options="[[customsModel.contractNumberArr]]" disabled="{{customsModel.disableField}}">
                </oj-select-one>
            </div>
            <div class="oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().contractAmountLbl"></span></oj-label>
                <oj-input-text disabled="{{customsModel.disableAllFields}}" slot="value" value="{{customsModel.contractAmountVal}}"></oj-input-text>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().supplierLbl"></span></oj-label>
                <oj-input-text disabled="{{customsModel.disableAllFields}}" slot="value" value="{{customsModel.supplierVal}}"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().contractStartDateLbl"></span></oj-label>
                <oj-input-text disabled="{{customsModel.disableAllFields}}" slot="value" value="{{customsModel.contractStartDateVal}}"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().contractEndDateLbl"></span></oj-label>
                <oj-input-text disabled="{{customsModel.disableAllFields}}" slot="value" value="{{customsModel.contractEndDateVal}}"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().lgNumberFromBankLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.lgNumberFromBankVal}}" disabled="{{customsModel.disableField}}"></oj-input-text>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().lgTypeLbl"></span></oj-label>
                <oj-select-one id="supplierNaSelect" value="{{customsModel.lgTypeVal}}" placeholder="Please Select : " options="[[customsModel.lgTypeArr]]" disabled="{{customsModel.disableField}}" on-value-changed="[[lgTypeListener]]">
                </oj-select-one>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().letterOfGuarnAmoutLbl"></span></oj-label>
                <oj-input-number disabled="{{customsModel.disableIncDec}}" step="1" slot="value" min={{customsModel.letterIncVal}} max={{customsModel.letterDecVal}} value="{{customsModel.letterOfGuarnAmoutVal}}"></oj-input-number>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().lgEndDateLbl"></span></oj-label>
                <oj-input-date id="date" value='{{customsModel.lgEndDateVal}}' disabled="{{customsModel.disableExtend}}" min="[[customsModel.minDateVal]]">
                </oj-input-date>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().regionLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.regionVal}}" disabled="{{customsModel.disableAllFields}}"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().bankAccountLbl"></span></oj-label>
                <oj-select-one id="supplierNaSelect" value="{{customsModel.bankAccountVal}}" placeholder="Please Select : " disabled="{{customsModel.disableField}}">
                    <oj-option value="SABB">SABB</oj-option>
                    <oj-option value="Alinma">Alinma</oj-option>
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item" data-bind="visible: customsModel.viewExpVisible">
                <oj-label slot="label"><span data-bind="text: label().closeToExpLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.closeToExp}}" disabled="{{customsModel.disableField}}"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().descriptionLbl"></span></oj-label>
                <oj-text-area slot="value" id="textarea" rows="6" value={{customsModel.description}} disabled="{{customsModel.disableField}}"></oj-text-area>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item" data-bind="visible: customsModel.editVisible">
                <oj-label slot="label"><span data-bind="text: label().attachmentLbl"></span></oj-label>
                <oj-file-picker class='oj-filepicker-custom' select-on='click' on-oj-select='[[addFileSelectListener]]'>
                    <oj-button slot='trigger' class="btnStyle" disabled="[[customsModel.addFileDis]]">
                        <span data-bind="text: label().addFileLbl"></span>
                    </oj-button>
                </oj-file-picker>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item" data-bind="visible: customsModel.attachVisible">
                <oj-label slot="label"><span data-bind="text: label().attachmentLbl"></span></oj-label>
                <oj-button class="btnStyle" on-oj-action="[[viewContarctAttachment]]"><i class="fa fa-eye"></i><span data-bind="text: label().viewAttachmentLbl"></span> </oj-button>
            </div>
        </div>
    </div>

    <div class="tableContent container start" data-bind="visible: customsModel.editVisible">

        <oj-table class="tableStyle" id='table' data='[[dataproviderLgScreen]]' selection-mode='{"row": "single", "column": "single"}' scroll-policy='loadMoreOnScroll' scroll-policy-options='{"fetchSize": 10}' on-oj-before-current-row="[[lgselectListener]]" columns='[[customsModel.columnArray]]'>
        </oj-table>
    </div>

    <oj-dialog id="viewAttachment" style="display:none;width:800px;">
        <div slot="header">
            <h5><span data-bind="text: label().viewAttachmentLbl"></span></h5>
        </div>
        <div slot="body">
            <oj-table class="tableStyle" id="viewTable" data='[[dataProviderAttachment]]' columns=[[customsModel.attachmentColumns]] selection-mode='{"row": "single", "column": "single"}' scroll-policy='loadMoreOnScroll' on-oj-before-current-row="[[lgAttachmentselectListener]]">
                <template slot="cellTemplate" data-oj-as="attachmentArr">
                    <oj-button cclass="btnStyle" on-oj-action='[[deleteAttach]]' disabled="[[customsModel.viewSelect]]">
                        <span data-bind="text: label().deleteLbl"></span> 
                    </oj-button>
                </template>
                <template slot="downTemplate" data-oj-as="attachmentArr">
                    <oj-button  class="btnStyle" on-oj-action='[[DownloadFileFn]]'>
                        <span  data-bind="text: label().download"></span>
                    </oj-button>
                </template>
            </oj-table>
        </div>
        <div slot="footer">
            <oj-button class="btnStyle" id="attacCancelBtn" on-oj-action="[[cancelviewAttDial]]"><span data-bind="text: label().cancelLbl"></span></oj-button>
        </div>
        <div></div>
    </oj-dialog>

    <oj-dialog id="confirmCancel" style="display:none;width:800px;">
        <div slot="header">
            <h3 data-bind="text: label().confirmCancelLbl"></h3>
        </div>
        <div slot="body">
            <span data-bind="text: label().confirmCancelTextLbl"></span>
        </div>

        <div slot="footer">
            <oj-button class="btnStyle" on-oj-action="[[yes]]"><span data-bind="text: label().yesLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action="[[no]]"><span data-bind="text: label().noLbl"></span></oj-button>
        </div>

    </oj-dialog>


</div>