<div class="request_body_styling animated fadeInUp ">
    <h3 class="header_headline_style"><span> <oj-bind-text value="[[lgCreateScreenLbl]]"></oj-bind-text> </span></h3>
    
    <div class="summaryBtn detailsBtn">
        <oj-button class="btnStyle" on-oj-action="[[backBtn]]"><i class="fa fa-backward fontawesomePadding"></i><span data-bind="text: label().backLbl"></span></oj-button>
        <oj-button class="btnStyle" on-oj-action='[[submitBtn]]' disabled="[[customsModel.createLg]]"><i class="fa fa-thumbs-o-up"></i><span data-bind="text: label().submitLbl"></span></oj-button>
        <oj-button class="btnStyle" on-oj-action='[[createBtn]]'></i><span data-bind="text: label().createLbl"></span></oj-button>
    </div>
    <div class="penaltyDetailsContent start summaryContent start padding-right container">
        <oj-validation-group id="tracker" valid="{{groupValid}}">
        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().documentNumberLbl"></span></oj-label>
                <oj-input-text disabled="{{customsModel.disableAllFields}}" slot="value" value="{{customsModel.documentNumber}}"></oj-input-text>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().contractNoLbl"></span></oj-label>
                <oj-select-one id="supplierNoSelect" value="{{customsModel.contractNoVal}}" placeholder="Please Select : " options="[[customsModel.contractNumberArr]]"
                on-value-changed="[[contactNumberListener]]">
                </oj-select-one>
            </div>
            <div class="oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().contractAmountLbl"></span></oj-label>
                <oj-input-text disabled="{{customsModel.disableAllFields}}" slot="value" value="{{customsModel.contractAmountVal}}"></oj-input-text>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().supplierLbl"></span></oj-label>
                <oj-input-text disabled="{{customsModel.disableAllFields}}" slot="value" value="{{customsModel.supplierVal}}"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().contractStartDateLbl"></span></oj-label>
                <oj-input-text disabled="{{customsModel.disableAllFields}}" slot="value" value="{{customsModel.contractStartDateVal}}"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().contractEndDateLbl"></span></oj-label>
                <oj-input-text disabled="{{customsModel.disableAllFields}}" slot="value" value="{{customsModel.contractEndDateVal}}"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().lgNumberFromBankLbl"></span></oj-label>
                <!--<oj-input-number  value="{{customsModel.lgNumberFromBankVal}}"></oj-input-number>-->
                <oj-input-text  value="{{customsModel.lgNumberFromBankVal}}"></oj-input-text>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().lgTypeLbl"></span></oj-label>
                <oj-select-one id="supplierNaSelect" value="{{customsModel.lgTypeVal}}" placeholder="Please Select : " options="[[customsModel.lgTypeArr]]"
                on-value-changed="[[lgTypeListener]]">
                </oj-select-one>
           </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().letterOfGuarnAmoutLbl"></span></oj-label>
                <oj-input-number min={{customsModel.letterIncVal}} slot="value" value="{{customsModel.letterOfGuarnAmoutVal}}"></oj-input-number>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().lgEndDateLbl"></span></oj-label>
                <oj-input-date id="date" value='{{customsModel.lgEndDateVal}}'>
                </oj-input-date>
            </div>   

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().regionLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.regionVal}}" disabled="{{customsModel.disableAllFields}}"disabled="{{customsModel.disableAllFields}}"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item"> 
                <oj-label slot="label"><span data-bind="text: label().bankAccountLbl"></span></oj-label>
                <oj-select-one required id="supplierNaSelect" value="{{customsModel.bankAccountVal}}" placeholder="Please Select : " >
                    <oj-option value="البنك الأهلي التجاري">البنك الأهلي التجاري</oj-option>
                    <oj-option value="البنك السعودي البريطاني">البنك السعودي البريطاني</oj-option>
                    <oj-option value="البنك السعودي الفرنسي">البنك السعودي الفرنسي</oj-option>
                    <oj-option value="البنك الأول">البنك الأول</oj-option>
                    <oj-option value="البنك السعودي للاستثمار">البنك السعودي للاستثمار</oj-option>
                    <oj-option value="البنك العربي الوطني">البنك العربي الوطني</oj-option>
                    <oj-option value="بنك البلاد">بنك البلاد</oj-option>
                    <oj-option value="بنك الجزيرة">بنك الجزيرة</oj-option>
                    <oj-option value="بنك الرياض">بنك الرياض</oj-option>
                    <oj-option value="مجموعة سامبا المالية (سامبا)">مجموعة سامبا المالية (سامبا)</oj-option>
                    <oj-option value="مصرف الراجحي">مصرف الراجحي</oj-option>
                    <oj-option value="مصرف الإنماء">مصرف الإنماء</oj-option>
                    <oj-option value="بنك الخليج الدولي - السعودية">بنك الخليج الدولي - السعودية</oj-option>
                    <oj-option value="بنك الإمارات دبي الوطني">بنك الإمارات دبي الوطني</oj-option>
                    <oj-option value="بنك البحرين الوطني">بنك البحرين الوطني</oj-option>
                    <oj-option value="بنك الكويت الوطني">بنك الكويت الوطني</oj-option>
                    <oj-option value="بنك مسقط">بنك مسقط</oj-option>
                    <oj-option value="دويتشه بنك">دويتشه بنك</oj-option>
                    <oj-option value="بي إن بي باريبا">بي إن بي باريبا</oj-option>
                    <oj-option value="جي بي مورقان تشيز إن أيه">جي بي مورقان تشيز إن أيه</oj-option>
                    <oj-option value="بنك باكستان الوطني">بنك باكستان الوطني</oj-option>
                    <oj-option value="ستيت بنك أوف إنديا">ستيت بنك أوف إنديا</oj-option>
                    <oj-option value="بنك الصين للصناعة والتجارة">بنك الصين للصناعة والتجارة</oj-option>
                    <oj-option value="بنك قطر الوطني">بنك قطر الوطني</oj-option>
                    <oj-option value="بنك إم يو إف جي المحدودة">بنك إم يو إف جي المحدودة</oj-option>
                    <oj-option value="بنك أبوظبي الأول">بنك أبوظبي الأول</oj-option>
                    <oj-option value="المصرف العراقي للتجارة">المصرف العراقي للتجارة</oj-option>
                    <oj-option value="بنك ستاندرد تشارترد">بنك ستاندرد تشارترد</oj-option>
                    <oj-option value="بنك كريديت سويس">بنك كريديت سويس</oj-option>
                    <oj-option value="بنك الصين المحدود">بنك الصين المحدود</oj-option>
                    <oj-option value="بنك تي سي زراعات بانكاسي">بنك تي سي زراعات بانكاسي</oj-option>
                    
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().descriptionLbl"></span></oj-label>
                <oj-text-area slot="value" id="textarea" rows="6" value={{customsModel.description}}></oj-text-area>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().closeToExpLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.closeToExp}}" disabled="true"></oj-input-text>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().attachmentLbl"></span></oj-label>
                <oj-file-picker class='oj-filepicker-custom'  select-on='click' on-oj-select='[[addFileSelectListener]]'>
                    <oj-button slot='trigger' class="btnStyle">
                        <span data-bind="text: label().addFileLbl"></span>
                    </oj-button>
                </oj-file-picker>
                <div class="col-sm-8" style="width: 100% !important; display: contents;">
            <oj-list-view id="listview" aria-label="list using observable array"
                          data="[[dataProviderAttachment]]" selection-mode="single" selection="{{selectedItemsAttachment}}">
                <template slot="itemTemplate">
                    <span>
                        <oj-bind-text value='[[$current.data.name]]'></oj-bind-text>
                    </span>
                </template>
            </oj-list-view>
            <br>
            <div class="oj-flex-item attBtnRow" text-align="center">
                <oj-button class="upload-pic" on-oj-action='[[removeSelectedAttachment]]'>
                    <span slot='startIcon' class="oj-fwk-icon oj-fwk-icon-cross"></span>
                </oj-button>
            </div>
        </div>
<!--                <span id="selected" data-bind="text: customsModel.selected_files().length > 0? customsModel.selected_files()[0].name : ''"></span>
                <oj-button chroming="half" display="icons" data-bind="visible: customsModel.selected_files().length > 0" on-oj-action='[[removePickerBtnAction]]'>
                    <span slot='startIcon' class="oj-fwk-icon oj-fwk-icon-cross"></span>
                </oj-button>  -->
                <!--<oj-button class="btnStyle" on-oj-action="[[uploadContarctAttachment]]" data-bind="visible:customsModel.selected_files().length > 0"><span data-bind="text: label().uploadLbl"></span> </oj-button>-->          
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().attachmentLbl"></span></oj-label>
                <oj-button class="btnStyle" on-oj-action="[[viewContarctAttachment]]" disabled="[[customsModel.createLg]]"><i class="fa fa-eye"></i><span data-bind="text: label().viewAttachmentLbl"></span> </oj-button>          
            </div>
        </div>
            </oj-validation-group>
    </div>

    <div class="tableContent container start">
        <oj-table class="tableStyle" id='table' data='[[dataproviderLgScreen]]'
            selection-mode='{"row": "single", "column": "single"}' scroll-policy='loadMoreOnScroll'
            scroll-policy-options='{"fetchSize": 10}' on-oj-before-current-row="[[lgselectListener]]" columns='[[customsModel.columnArray]]'>
        </oj-table>
    </div>
    <oj-dialog id="confirmDiscard" style="display:none;width:800px;">
            <div slot="header">
                <h3 data-bind="text: label().confirmDiscard"></h3>
            </div>
            <div slot="body">
                <span data-bind="text: label().confirmText"></span>
            </div>

            <div slot="footer">
                <oj-button class="btnStyle" on-oj-action="[[yes]]"><span
                        data-bind="text: label().yesLbl"></span></oj-button>
                <oj-button class="btnStyle" on-oj-action="[[no]]"><span
                        data-bind="text: label().noLbl"></span></oj-button>
            </div>

        </oj-dialog>

    <oj-dialog id="viewAttachment" style="display:none;width:800px;">
        <div slot="header">
            <h5><span data-bind="text: label().viewAttachmentLbl"></span></h5>
        </div>
        <div slot="body">
            <div class="tableContent">

            <oj-table class="tableStyle" id="viewTable"
                      data='[[dataProviderAttachment]]' 
                      columns='[[customsModel.attachmentColumns]]' 
                      selection-mode='{"row": "single", "column": "single"}' 
                      scroll-policy-options='{"fetchSize": 10}'
                      scroll-policy='loadMoreOnScroll'>

            </oj-table>
            </div>
        </div>
        <div slot="footer">
            <oj-button class="btnStyle" id="attacCancelBtn" on-oj-action="[[cancelviewAttDial]]"><span data-bind="text: label().cancelLbl"></span></oj-button>
        </div>
        <div></div>
    </oj-dialog>

</div>
