<div class="request_body_styling animated fadeInUp ">
    <h3 class="header_headline_style"><span> <oj-bind-text value="[[lgScreenLbl]]"></oj-bind-text> </span></h3>
    <div class="summaryContent container">
        <div class="oj-flex oj-flex-items-pad padding-right">
            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().documentNumberLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.documentNumber}}"></oj-input-text>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="supplierNoSelect"><span data-bind="text: label().lgNumberFromBankLbl"></span></oj-label>
                <oj-select-one id="supplierNoSelect" value="{{customsModel.lgNumberFromBankVal}}" placeholder="Please Select : " options="[[customsModel.lgNumberFromBankArr]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="POSelect"><span data-bind="text: label().suppilerNameLbl"></span></oj-label>
                <oj-select-one id="contractNo" value="{{customsModel.suppilerNameVal}}" placeholder="Please Select : " options="[[customsModel.suppilerNameArr]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="supplierNaSelect"><span data-bind="text: label().contractNoLbl"></span></oj-label>
                <oj-select-one id="supplierNaSelect" value="{{customsModel.contractNoVal}}" placeholder="Please Select : " options="[[customsModel.contractNumberArr]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="POSelect"><span data-bind="text: label().lgStatusLbl"></span></oj-label>
                <oj-select-one id="contract" value="{{customsModel.lgStatusVal}}" placeholder="Please Select : " options="[[customsModel.lgStatusArr]]">
                </oj-select-one>
            </div>
        </div>
        <div class="summaryBtn detailsBtn">
            <oj-button class="btnStyle" on-oj-action='[[searchBtn]]'><i class="fa fa-search"></i><span data-bind="text: label().searchLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[resetBtn]]' disabled="[[customsModel.resetDis]]"><i class="fa fa-repeat"></i><span data-bind="text: label().resetLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[createBtn]]'><i class="fa fa-plus"></i><span data-bind="text: label().createLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[exportBtn]]'><i class="fa fa-calendar-o"></i><span data-bind="text: label().exportLbl"></span></oj-button>
        </div>
        <div class="summaryBtn detailsBtn">
            <oj-button class="btnStyle" on-oj-action='[[closeToExpBtn]]'><i class="fa fa-calendar-o"></i><span data-bind="text: label().closeToExpLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[viewBtn]]' disabled="[[customsModel.lgViewSelected]]"><i class="fa fa-pencil"></i><span data-bind="text: label().viewLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[historyBtn]]' disabled="[[customsModel.lgViewSelected]]"><i class="fa fa-history"></i><span data-bind="text: label().historyLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[editBtn]]' disabled="[[customsModel.lgEditSelected]]"><i class="fa fa-pencil"></i><span data-bind="text: label().editLbl"></span></oj-button>
        </div>
        <div class="summaryBtn detailsBtn" data-bind="visible: customsModel.searchClicked">
            <oj-button class="btnStyle" on-oj-action='[[extendBtn]]' disabled="[[customsModel.lgSelected]]"><i class="fa fa-long-arrow-up"></i><span data-bind="text: label().extendLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[increaseBtn]]' disabled="[[customsModel.lgSelected]]"><i class="fa fa-long-arrow-up"></i><span data-bind="text: label().increaseLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[decreaseBtn]]' disabled="[[customsModel.lgSelected]]"><i class="fa fa-long-arrow-down"></i><span data-bind="text: label().decreaseLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[releaseBtn]]' disabled="[[customsModel.lgSelected]]"><i class="fa fa-check"></i><span data-bind="text: label().releaseLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[confiscationBtn]]' disabled="[[customsModel.lgSelected]]"><i class="fa fa-times"></i><span data-bind="text: label().confiscationLbl"></span></oj-button>
        </div>


        <div class="tableContent">
            <oj-table class="tableStyle" id='table' style='height: 100%; width:100%' data='[[dataproviderLgScreen]]' selection-mode='{"row": "single", "column": "single"}' scroll-policy='auto' scroll-policy-options='{"fetchSize": 10}' columns='[[customsModel.columnArray]]'
                on-oj-before-current-row="[[lgselectListener]]">
                <!-- <oj-paging-control id="paging" data='[[customsModel.dataproviderLgScreen]]' page-size='5' slot='bottom' class="apPaging-1 display-inline-flex">
                      </oj-paging-control> -->
            </oj-table>
        </div>

        <oj-dialog id="viewExpire" style="display:none;width:800px;">
            <div slot="header">
                <h5><span data-bind="text: label().closeToExpLbl"></span></h5>
            </div>
            <div slot="body">
                <oj-table class="tableStyle" id="viewTable" data='[[dataProviderLgCloseToExpire]]' columns=[[customsModel.columnArray]] selection-mode='{"row": "single", "column": "single"}' scroll-policy='loadMoreOnScroll' on-oj-before-current-row="[[lgCloseToExpireSelectionListener]]">
                </oj-table>
            </div>
            <div slot="footer">
                <oj-button class="btnStyle" id="attacCancelBtn" on-oj-action="[[cancelBtn]]">
                    <span data-bind="text: label().cancelLbl"></span></oj-button>
            </div>
        </oj-dialog>

        <oj-dialog id="confirmRelease" style="display:none;width:800px;">
            <div slot="header">
                <h3 data-bind="text: label().confirmReleaseLbl"></h3>
            </div>
            <div slot="body">
                <span data-bind="text: label().confirmText"></span>
            </div>

            <div slot="footer">
                <oj-button class="btnStyle" on-oj-action="[[yes]]"><span data-bind="text: label().yesLbl"></span></oj-button>
                <oj-button class="btnStyle" on-oj-action="[[no]]"><span data-bind="text: label().noLbl"></span></oj-button>
            </div>

        </oj-dialog>
    </div>
</div>