<div [style.direction]="trans.direction()">
    <div class="header" mat-dialog-title>
        <h4 class="modal-title">
            {{'rejectionDetails' | translation }}<br>
            <span class="reasons">{{'chooseReason' | translation }}</span>
        </h4>
        <button type="button" class="close" aria-label="Close" mat-dialog-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <ng-container>
        <form #myForm="ngForm">
            <mat-dialog-content>
                <div class="reasons text-start">
                    <div class=" reasonsBody">
                        <div *ngFor="let reasone of MeanReasons" class="meanReason col-lg-12 col-md-12 "
                            [ngClass]="{'disabled':OtherCheckBox}">
                            <ng-container *ngIf="reasone.HEADER_CODE != 'OTHERS'">
                                <div>
                                    <h6 class="headReasoneTit">- {{reasone.HEAD_DESC}}</h6>
                                </div>
                                <ul [dir]="trans.direction()" class="list-unstyled">
                                    <ng-container *ngFor="let sub of reasone.details">
                                        <li>
                                            <mat-checkbox [checked]="sub.checked" [disabled]="OtherCheckBox == true"
                                                (change)="sub.checked = ($event.checked)">
                                                <span>{{sub.DETAIL_DESC}}</span>
                                            </mat-checkbox>
                                        </li>
                                    </ng-container>
                                </ul>
                            </ng-container>
                        </div>
                        <ng-container>
                            <div class=" noPadding">
                                <h6 class="headReasoneTit">- {{'others' | translation}}</h6>
                            </div>
                            <ul [dir]="trans.direction()" class="list-unstyled">
                                <ng-container>
                                    <li>
                                        <mat-checkbox [checked]="OtherCheckBox"
                                            (change)="OtherCheckBox = !OtherCheckBox">
                                            <span>{{'otherReason' | translation}}</span>
                                        </mat-checkbox>
                                    </li>
                                </ng-container>
                            </ul>
                            <form *ngIf="OtherCheckBox == true" class="textAreaStyle">
                                <textarea [(ngModel)]="OthersReasons" name="OthersReasons"
                                    placeholder="{{'leave_your_reason' | translation}}" rows="5"
                                    onfocus="this.placeholder='' "
                                    (blur)="$event.srcElement.placeholder = trans.trans('leave_your_reason')"></textarea>
                            </form>
                        </ng-container>

                    </div>
                </div>
            </mat-dialog-content>

            <div class="text-center modal-footer" mat-dialog-actions>
                <button type="submit" class="sendButton" [disabled]="is_request_sending"
                    (click)="reject()">
                    {{(is_request_sending ? 'Loading':'send' )| translation}}
                </button>
            </div>
        </form>
    </ng-container>


</div>