.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #712c81 !important;
}
.close
{
    font-size: 25px !important;
}
button {
    margin: 0 auto;
    /* background-color: #712c81; */
    color: #712c81;
    border: none;
    box-shadow: none;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    padding: 10px 20px;
}
textarea
{
    display: block;
    width: 100%;
}
/***********************************/
::-webkit-scrollbar {
    height: 5px !important;
    width: 5px !important;
    bottom: 0;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.486);
}

