
<p class="header_headline_style animated fadeInUp" data-bind="text:'Email Setup'">Email Setup</p>

<div class="oj-form-layout oj-panel">
    <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline" oj-md-labels-inline>



        <!--        <div class="oj-flex">
                    <div class="oj-flex-item">
        
                        <label  data-bind="text: requestNameLbl"/>
                        <oj-input-text value="{{reqNameVal}}"></oj-input-text>
        
                        <label  data-bind="text: templateIdlbl"/>
                        <oj-input-text value="{{templateId}}"></oj-input-text>
        
                        <label  data-bind="text: languageLbl"/>
                        <oj-combobox-one  style="max-width:20em"
                                          options="{{languageOptions}}" 
                                          value="{{languageVal}}">
                        </oj-combobox-one>
        
                        <oj-button  class="apBtn-2 apBtn-disabled-2" on-oj-action='[[addAction]]'>
                            <span><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
                            <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                        </oj-button>
        
                     
        
                        <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[editAction]]'>
                            <span><oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                            <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                        </oj-button>
        
                    </div>-->
    </div>

    <div class="oj-flex">
        <div class="oj-flex-item">


            <label  data-bind="text: requestNameLbl"/>
            <oj-input-text value="{{reqNameVal}}"></oj-input-text>

            <label  data-bind="text: templateIdlbl"/>
            <oj-input-text value="{{templateId}}"></oj-input-text>

            <label  data-bind="text: languageLbl"/>
            <oj-combobox-one  style="max-width:20em"
                              options="{{languageOptions}}" 
                              value="{{languageVal}}">
            </oj-combobox-one>


            <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                <span><oj-bind-text value="[[backLbl]]"></oj-bind-text></span>
                <span slot='endIcon' class="apiconClass fa fa-arrow-circle-left"></span>
            </oj-button>						
            <oj-button class="apBtn-2" on-oj-action='[[addAction]]'>
                <span><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
                <span slot='endIcon' class="apiconClass fa fa-plus"></span>
            </oj-button>

            <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[searchAction]]'>
                <span><oj-bind-text value="[[searchLbl]]"></oj-bind-text></span>
                <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
            </oj-button>

            <oj-button disabled="{{!isItemSelected()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[editAction]]'>
                <span><oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
            </oj-button>

            <oj-button disabled="{{!isItemSelected()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[viewAction]]'>
                <span><oj-bind-text value="[[viewLbl]]"></oj-bind-text></span>
                <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
            </oj-button>

            <oj-button disabled="{{!isItemSelected()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[deleteAction]]'>
                <span><oj-bind-text value="[[deleteLbl]]"></oj-bind-text></span>
                <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
            </oj-button>
        </div>
    </div>


    <div>
        <oj-table id='table' aria-label='Emails Table'
                  class='apTable-1'
                  data='[[dataSource]]'
                  selection-mode='{"row": "multiple", "column": "multiple"}'
                  dnd='{"reorder": {"columns": "enabled"}}'
                  scroll-policy-options='{"fetchSize": 10}'
                  columns='[[columnArray]]'
                  on-oj-before-current-row = "[[tableSelectionListener]]"
                  display = "grid">
            <oj-paging-control id="paging" data='[[dataSource]]' page-size='5' slot='bottom' class='apPaging-1'>
            </oj-paging-control>

        </oj-table>
    </div>


    <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text:confirmMessage"/>
        </div>
        <div slot="body">
            <label data-bind="text:oprationMessage"/>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[commitRecordDelete]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[cancelButtonDelete]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>



</div>