<h3 class="start header_headline_style"><span data-bind="text: label().notifScreenLbl"></span></h3>
<div class="request_body_styling animated fadeInUp rounded-lg shadow-lg p-3">
    <div class="summaryContent container">


        <div class="oj-flex oj-flex-items-pad padding-right">
            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().documentNumberLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.documentNumber}}"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="supplierNoSelect"><span data-bind="text: label().lgNumberFromBankLbl"></span></oj-label>
                <oj-select-one id="supplierNoSelect" value="{{customsModel.lgNumberFromBankVal}}" placeholder="Please Select : " options="[[customsModel.lgNumberFromBankArr]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="POSelect"><span data-bind="text: label().suppilerNameLbl"></span></oj-label>
                <oj-select-one id="contractNo" value="{{customsModel.suppilerNameVal}}" placeholder="Please Select : " options="[[customsModel.suppilerNameArr]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="supplierNaSelect"><span data-bind="text: label().contractNoLbl"></span></oj-label>
                <oj-select-one id="supplierNaSelect" value="{{customsModel.contractNoVal}}" placeholder="Please Select : " options="[[customsModel.contractNumberArr]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="POSelect"><span data-bind="text: label().lgStatusLbl"></span></oj-label>
                <oj-select-one id="contract" value="{{customsModel.lgStatusVal}}" placeholder="Please Select : " options="[[customsModel.lgStatusArr]]">
                </oj-select-one>
            </div>
        </div>

        <div class="summaryBtn detailsBtn">
            <oj-button class="btnStyle" on-oj-action='[[searchBtn]]'><i class="fa fa-search"></i><span data-bind="text: label().searchLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[resetBtn]]' disabled="[[customsModel.resetDis]]"><i class="fa fa-repeat"></i><span data-bind="text: label().resetLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[approveBtn]]' disabled="[[customsModel.notifSelected]]"><i class="fa fa-check"></i><span data-bind="text: label().approveLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[rejectBtn]]' disabled="[[customsModel.notifSelected]]"><i class="fa fa-times"></i><span data-bind="text: label().rejectLbl"></span></oj-button>
        </div>


        <h3 class="header_headline_style"><span data-bind="text: label().notifTableLbl"></span></h3>

        <div class="tableContent">
            <oj-table class="tableStyle" id="viewTable" style='height: 100%; width:100%' data='[[dataproviderNotifScreen]]' columns=[[customsModel.columnArray]] selection-mode='{"row": "single", "column": "single"}' scroll-policy='loadMoreOnScroll' on-oj-before-current-row="[[notifselectListener]]">
            </oj-table>
        </div>

        <br>
        <br>

        <div class="oj-flex oj-flex-items-pad padding-right">
            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().documentNumberLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.documentNumber}}"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="supplierNoSelect"><span data-bind="text: label().lgNumberFromBankLbl"></span></oj-label>
                <oj-select-one id="supplierNoSelect" value="{{customsModel.lgNumberFromBankVal}}" placeholder="Please Select : " options="[[customsModel.lgNumberFromBankArr1]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="POSelect"><span data-bind="text: label().suppilerNameLbl"></span></oj-label>
                <oj-select-one id="contractNo" value="{{customsModel.suppilerNameVal}}" placeholder="Please Select : " options="[[customsModel.suppilerNameArr1]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="supplierNaSelect"><span data-bind="text: label().contractNoLbl"></span></oj-label>
                <oj-select-one id="supplierNaSelect" value="{{customsModel.contractNoVal}}" placeholder="Please Select : " options="[[customsModel.contractNumberArr1]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="POSelect"><span data-bind="text: label().lgStatusLbl"></span></oj-label>
                <oj-select-one id="contract" value="{{customsModel.lgStatusVal}}" placeholder="Please Select : " options="[[customsModel.lgStatusArr1]]">
                </oj-select-one>
            </div>
        </div>

        <div class="summaryBtn detailsBtn">
            <oj-button class="btnStyle" on-oj-action='[[searchExpireBtn]]'><i class="fa fa-search"></i><span data-bind="text: label().searchLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[resetExpireBtn]]' disabled="[[customsModel.resetExpireDis]]"><i class="fa fa-repeat"></i><span data-bind="text: label().resetLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[releaseBtn]]' disabled="[[customsModel.notifExpireSelected]]"><i class="fa fa-check"></i><span data-bind="text: label().releaseLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action='[[extendBtn]]' disabled="[[customsModel.notifExpireSelected]]"><i class="fa fa-times"></i><span data-bind="text: label().extendLbl"></span></oj-button>
        </div>

        <oj-dialog id="confirmRelease" style="display:none;width:800px;">
            <div slot="header">
                <h3 data-bind="text: label().confirmReleaseLbl"></h3>
            </div>
            <div slot="body">
                <span data-bind="text: label().confirmText"></span>
            </div>
            <div slot="footer">
                <oj-button class="btnStyle" on-oj-action="[[yes]]"><span data-bind="text: label().yesLbl"></span>
                </oj-button>
                <oj-button class="btnStyle" on-oj-action="[[no]]"><span data-bind="text: label().noLbl"></span>
                </oj-button>
            </div>
        </oj-dialog>

        <oj-dialog id="confirmExtend" style="display:none;width:800px;">
            <div slot="header">
                <h3 data-bind="text: label().confirmExtendLbl"></h3>
            </div>
            <div slot="body">
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label slot="label"><span data-bind="text: label().documentNumberLbl"></span></oj-label>
                        <oj-input-text disabled="{{customsModel.disableAllFields}}" slot="value" value="{{customsModel.documentNumber}}"></oj-input-text>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label slot="label"><span data-bind="text: label().lgEndDateLbl"></span></oj-label>
                        <oj-input-date id="date" value='{{customsModel.lgEndDateVal}}' min="[[customsModel.minDateVal]]">
                        </oj-input-date>
                    </div>
                </div>
            </div>

            <div slot="footer">
                <oj-button class="btnStyle" on-oj-action="[[yesExtend]]"><span data-bind="text: label().yesLbl"></span></oj-button>
                <oj-button class="btnStyle" on-oj-action="[[noExtend]]"><span data-bind="text: label().noLbl"></span></oj-button>
            </div>
        </oj-dialog>

        <h3 class="header_headline_style"><span data-bind="text: label().expireTableLbl"> </span></h3>
        <div class="tableContent">
            <oj-table class="tableStyle" id="viewTable" style='height: 100%; width:100%' data='[[dataProviderLgCloseToExpire]]' columns=[[customsModel.columnArray]] selection-mode='{"row": "single", "column": "single"}' scroll-policy='loadMoreOnScroll' on-oj-before-current-row="[[lgCloseToExpireSelectionListener]]">
            </oj-table>
        </div>
    </div>
</div>