<div class="oj-flex-item oj-panel">
    <h1 class="header_headline_style"><span> <oj-bind-text value="[[validGradeLbl]]"></oj-bind-text> </span></h1>
    <div id="train-container">

        <div class="oj-form-layout">
            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
                <div class="oj-flex">
                    <div class="oj-flex-item" align="left">
                        <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                            <span><oj-bind-text value="[[backLbl]]"></oj-bind-text></span>
                            <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                        </oj-button>
                        <oj-button class="apBtn-2" on-oj-action='[[addValidGrade]]'>
                            <span><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
                            <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                        </oj-button>
                        <oj-button disabled="{{isDisable}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[updateValidGrade]]'>
                            <span><oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                            <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                        </oj-button>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div>
            <oj-table id='table' aria-label='Departments Table'
                      data='[[dataprovider2]]'
                      class='apTable-1'
                      selection-mode='{"row": "multiple", "column": "multiple"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy='loadMoreOnScroll'
                      scroll-policy-options='{"fetchSize": 10}'
                      columns='[[columnArray2]]'
                      display = "grid">
            </oj-table>

        </div>

        <div>
            <oj-table id='table' aria-label='Departments Table'
                      class='apTable-1'
                      data='[[dataprovider]]'
                      selection-mode='{"row": "multiple", "column": "multiple"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy='loadMoreOnScroll'
                      scroll-policy-options='{"fetchSize": 10}'
                      columns='[[columnArray]]'
                      display = "grid"
                      on-oj-before-current-row = "[[tableSelectionListener]]">
            </oj-table>

        </div>

    </div>
</div>