<div class="oj-hybrid-applayout-page container">
    <div class="oj-applayout-content container">
        <oj-validation-group id="tracker" valid="{{groupValid}}">
            <div class="form-box oj-panel">
                <div class=" oj-flex-item">
                    <h5 for="rem"><oj-bind-text value="[[label().showroom()]]"></oj-bind-text></h5>
                    <oj-select-one class="main-input" value="{{fieldsValue.showroom}}" options="[[fieldsValue.showroomArr]]"on-value-changed="[[showroomHandler]]" >
                    </oj-select-one>
                </div>
                <div class=" oj-flex-item">
                    <h5 for="rem"><oj-bind-text value="[[label().brand()]]"></oj-bind-text></h5>
                    <oj-select-one class="main-input" value="{{fieldsValue.brand}}" options="[[fieldsValue.brandArr]]" on-value-changed="[[brandHandler]]">
                    </oj-select-one>
                </div>
                <div class=" oj-flex-item">
                    <h5 for="rem"><oj-bind-text value="[[label().model()]]"></oj-bind-text></h5>
                    <oj-select-one class="main-input" value="{{fieldsValue.model}}" options="[[fieldsValue.modelArr]]"  on-value-changed="[[modelHandler]]" >
                    </oj-select-one>
                </div>
                <div class=" oj-flex-item">
                    <h5 for="rem"><oj-bind-text value="[[label().date()]]"></oj-bind-text></h5>
                    <oj-select-one class="main-input" value="{{fieldsValue.date}}" options="[[fieldsValue.dateArr]]" on-value-changed="[[dateHandler]]">
                    </oj-select-one>
                </div>
                <div class=" oj-flex-item">
                    <h5 for="rem"><oj-bind-text value="[[label().time()]]"></oj-bind-text></h5>
                    <oj-select-one class="main-input" value="{{fieldsValue.time}}" options="[[fieldsValue.timeArr]]" >
                    </oj-select-one>
                </div>

            </div>

            <oj-button class="btnPrimary" id="login" on-oj-action="[[submitAction]]">
                <span>
                    <oj-bind-text value="[[label().submit()]]"></oj-bind-text>
                </span>
            </oj-button>
        </oj-validation-group>
    </div>
</div>