<div id="main">
    <oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
    </oj-messages>
    <h2 class="summaryHeading"><span>
            <oj-bind-text value="{{labels.title}}"></oj-bind-text>
        </span></h2>

    <div id="mainrow">
        <div id="main" style="padding-top: 30px;">
            <div class="submitInput">
                <div class="oj-flex oj-flex-items-pad">
                    <div style="display: inline-flex;">
                        <!-- <div class="oj-md-4 oj-sm-12 oj-flex"> -->
                            <oj-select-one style="margin: 5px;"  id="select" options="[[listValues]]" value="{{selectedValue}}" placeholder="[[placeholder]]">
                            </oj-select-one>  
                        <!-- </div> -->
                        <!-- <div class="oj-md-4 oj-sm-12 oj-flex"> -->
                            <oj-input-text style="margin: 10px;"  id="receiptNumber" class="inptStyle" value="{{typeData}}">
                            </oj-input-text> 
                        <!-- </div> -->
                    </div>
                   
                    <div class="oj-md-4 oj-sm-12 oj-flex-item" style="margin: 10px;">
                        <div style="display: inline-flex;">
                            <oj-button class="apBtn-2" on-oj-action="[[search]]">
                                <span slot='endIcon' class="apiconClass fa fa-search"></span>
                                <span data-bind="text:labels.searchLbl"></span>
                            </oj-button>
                            <oj-button class="apBtn-2" on-oj-action="[[submitAction]]" >
                                <span slot='endIcon' class="apiconClass fa fa-submit"></span>
                                <span data-bind="text:labels.submitLbl"></span>
                            </oj-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="submitInput" style='margin-top: 30px; margin-left: 10px;'>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-md-3 oj-sm-12 oj-flex"> 
                    <oj-label-value >
                    <oj-label slot='label' for='inven'>SubInventory</oj-label>
                    <oj-select-one id='inven'  slot="value"  style='display: inline-flex;' options="[[subInvenList]]" value="{{subInvenSelected}}" placeholder="[[placeholder]]">
                    </oj-select-one> 
                    </oj-label-value>
                </div>

                <div class="oj-md-3 oj-sm-12 oj-flex">
                    <oj-label-value style="margin: 5px;">
                    <oj-label slot='label' for='from'>Batch Number</oj-label>
                    <oj-input-text id='froms'  slot="value" disabled='[[fromSerialDisabled]]' class="inptStyle" value="{{batchNumberSelected}}">
                    </oj-input-text> 
                    </oj-label-value>
                </div>

                <div class="oj-md-3 oj-sm-12 oj-flex">
                    <oj-label-value style="margin: 5px;">
                    <oj-label slot='label' for='from'>From Serial</oj-label>
                    <oj-input-text id='froms'  slot="value" disabled='[[fromSerialDisabled]]' on-value-changed="[[fromSerialChanged]]" class="inptStyle" value="{{fromSerial}}">
                    </oj-input-text> 
                    </oj-label-value>
                </div>

                <div class="oj-md-3 oj-sm-12 oj-flex">
                    <oj-label-value style="margin: 5px;">
                    <oj-label  slot='label' for='to'>To serial</oj-label>
                    <oj-input-text id="to"  slot="value" disabled='true' class="inptStyle" value="{{toSerial}}">
                    </oj-input-text> 
                    </oj-label-value>
                </div>
                <!-- <div class="oj-md-3 oj-sm-12 oj-flex">
                    <oj-label-value style="margin: 5px;">
                <oj-label slot='label'  for="dateTime">Transaction Date</oj-label>
            <oj-input-date-time  slot="value" id="dateTime" value='{{transDate}}'>
            </oj-input-date-time>
        </oj-label-value>
        </div> -->
            </div>
        </div>
        </div>
    </div>


    <div>
        <oj-table id='table' class="apTable-1"
        aria-label='Table' display = "grid"
         data='[[dataprovider]]'
            scroll-policy='loadMoreOnScroll' columns-default.sortable='disabled'
            scroll-policy-options='{"fetchSize": 5}' selection-mode='{"row": "single", "column": "multiple"}'
            columns='{{tableColumns}}' on-oj-before-current-row="[[tableSelectionListener]]"
            style='width:100%; height: 50%;'>
            <oj-paging-control id="paging" data="[[dataprovider]]" page-size="5" slot="bottom">
            </oj-paging-control>
        </oj-table>
    </div>


    <oj-dialog class="main-dialog main-dialog-width m-popup" id="messageDialog1">
        <div slot="header" class="oj-helper-clearfix">
            <label>Pick Upload</label>
        </div>
        <div slot="body"><img src="css/images/success.png" style="width: 20px;height: 20px;" />
            <label style="font-size: 25px;"><span>
                    <p id="demo1"></p>
                    <!-- <oj-bind-text value="{{dialogMsg}}"></oj-bind-text> -->
                </span></label>
        </div>
        <div slot="footer">
            <div>
                <oj-button class="apBtn-2" on-oj-action='[[closeMessageDialog]]'>
                    <span>
                        <oj-bind-text value="OK"></oj-bind-text>
                    </span>
                </oj-button>
            </div>
        </div>
    </oj-dialog>

    <oj-dialog class="main-dialog main-dialog-width m-popup" id="messageDialog2">
        <div slot="header" class="oj-helper-clearfix">
            <label>Pick Upload</label>
        </div>
        <div slot="body"><img src="css/images/error.png" style="width: 20px;height: 20px;" />
            <label style="font-size: 25px;"><span>
                    <p id="demo2"></p>
                    <!-- <oj-bind-text value="{{dialogMsg}}"></oj-bind-text> -->
                </span></label>
        </div>
        <div slot="footer">
            <div>
                <oj-button class="apBtn-2" on-oj-action='[[closeMessageDialog2]]'>
                    <span>
                        <oj-bind-text value="OK"></oj-bind-text>
                    </span>
                </oj-button>
            </div>
        </div>
    </oj-dialog>


</div>