
 .con-image {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    /* padding-top: 100px; */
}

.con-image img {
    position: absolute;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.authMeaasge
{
    font-weight: bold ;
    /* color:#712c81 ;  */

}
