
    <router-outlet></router-outlet>
    <notifier-container></notifier-container>
    <div *ngIf="common.IS_AUTENTICATING" style="padding-top:50px">
        <div class="con-image">
            <img src="{{common.getAssetsPath()}}img/user-auth.jpg">
        </div>
        <h6 class="text-center authMeaasge">{{'authMeaasge'|translation}}</h6>
    </div>
