<h5 style='font-size: xx-large;'><b class="probationReviewPagInfoType" data-bind="text: labels().pageTitle()"></b>
</h5>
<div id="form-container" class="request_body_styling animated fadeInUp">

    <div class="oj-form">
        <oj-messages messages="[[messagesDataProvider]]" display="notification" position="[[position]]"
                     on-oj-close="[[closeMessageHandler]]"></oj-messages>
    </div>
    <!-- ////  main form after back button -->
    <div id="main-form" style="padding-top: 20px;">

        <!-- probation information -->
        <div id='info' class="row">
            <div class="col-md-12">
                <div class='row'>
                    <div class='col-md-4 col-sm-6 col-xs-6'>
                        <h5><b class="probationReviewPagInfoType" data-bind="text: labels().employeeNameLbl()"></b></h5>
                        <!-- <h6 data-bind="text: probationDataModel.employeeName"></h6> -->
                        <oj-input-text class='probationReviewPagInput' disabled="true"
                                       value='[[probationDataModel.employeeName]]'></oj-input-text>
                    </div>
                    <div class='col-md-4 col-sm-6 col-xs-6'>
                        <h5><b class="probationReviewPagInfoType" data-bind="text: labels().employeeIdLbl()"></b></h5>
                        <!-- <h6 data-bind="text: probationDataModel.employeeId"></h6> -->
                        <oj-input-text class='probationReviewPagInput' disabled="true"
                                       value='[[probationDataModel.personNumber]]'></oj-input-text>
                    </div>
                    <div class='col-md-4 col-sm-6 col-xs-6'>
                        <h5><b class="probationReviewPagInfoType" data-bind="text: labels().employeeEmailLbl()"></b>
                        </h5>
                        <!-- <h6 data-bind="text: probationDataModel.employeeEmail"></h6> -->
                        <oj-input-text class='probationReviewPagInput' disabled="true"
                                       value='[[probationDataModel.employeeEmail]]'></oj-input-text>
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-md-4 col-sm-6'>
                        <h5><b class="probationReviewPagInfoType"
                               data-bind="text: labels().employeeDepartmentLbl()"></b></h5>
                        <!-- <h6 data-bind="text: probationDataModel.employeeDepartment"></h6> -->
                        <oj-input-text class='probationReviewPagInput' disabled="true"
                                       value='[[probationDataModel.employeeDepartment]]'></oj-input-text>
                    </div>
                    <div class='col-md-4 col-sm-6'>
                        <h5><b class="probationReviewPagInfoType" data-bind="text: labels().employeePositionLbl()"></b>
                        </h5>
                        <!-- <h6 data-bind="text: probationDataModel.employeePosition"></h6> -->
                        <oj-input-text class='probationReviewPagInput' disabled="true"
                                       value='[[probationDataModel.employeePosition]]'></oj-input-text>
                    </div>
                    <div class='col-md-4 col-sm-6'>
                        <h5><b class="probationReviewPagInfoType"
                               data-bind="text: labels().employeeNationalityLbl()"></b> </h5>
                        <!-- <h6 data-bind="text: probationDataModel.employeeNationality"></h6> -->
                        <oj-input-text class='probationReviewPagInput' disabled="true"
                                       value='[[probationDataModel.employeeNationality]]'></oj-input-text>
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='col-md-4 col-sm-6'>
                        <h5><b class="probationReviewPagInfoType" data-bind="text: labels().managerLbl()"></b> </h5>
                        <!-- <h6 data-bind="text: probationDataModel.manager"></h6> -->
                        <oj-input-text class='probationReviewPagInput' disabled="true"
                                       value='[[probationDataModel.manager]]'></oj-input-text>
                    </div>
                    <div class='col-md-4 col-sm-6'>
                        <h5><b class="probationReviewPagInfoType" data-bind="text: labels().hireDateLbl()"></b> </h5>
                        <!-- <h6 data-bind="text: probationDataModel.hireDate"></h6> -->
                        <oj-input-text class='probationReviewPagInput' disabled="true"
                                       value='[[probationDataModel.hireDate]]'></oj-input-text>
                    </div>
                    <div class='col-md-4 col-sm-6'>
                        <h5><b class="probationReviewPagInfoType" data-bind="text: labels().evaluationDateLbl()"></b>
                        </h5>
                        <!-- <h6 data-bind="text: probationDataModel.evaluationDate"></h6> -->
                        <oj-input-text class='probationReviewPagInput' disabled="true"
                                       value='[[probationDataModel.evaluationDate]]'></oj-input-text>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <!-- --------------------->
        <!-- section one -->
        <div id="section 1">
            <h5 class="probationReviewPageMargin"><b class="probationReviewPagInfoType"
                                                     data-bind="text: labels().objectiveOverAllLbl()"></b></h5>
            <h6 data-bind="text: labels().sec1Header()"></h6>
            <br>
            <h5 class="probationReviewPageMargin"><b class="probationReviewPagInfoType "
                                                     data-bind="text: labels().sec1RadioHeader()"></b></h5>

            <div id='first' class="row">
                <div class="col-md-12">
                    <div class='row'>
                        <div class='col-md-7 col-sm-7 col-xs-12'>
                            <h6 data-bind="text: labels().sec1Radio1Lbl()"></h6>
                        </div>
                        <div class='col-md-5 col-sm-5 col-xs-12 probationReviewPageRadio'>
                            <oj-radioset id="radioset1" value="{{sec1Radio1Selection}}" class="oj-choice-direction-row" disabled='[[disabled]]'>
                                <oj-bind-for-each data="[[radioOptions]]" disabled='true'>
                                    <template>
                                        <oj-option value="[[$current.data.value]]">
                                            <oj-bind-text value="[[$current.data.name]]"></oj-bind-text>
                                        </oj-option>
                                    </template>
                                </oj-bind-for-each>
                            </oj-radioset>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div id='second' class="row">
                <div class="col-md-12">
                    <div class='row'>
                        <div class='col-md-7 col-sm-7 col-xs-12'>
                            <h6 data-bind="text: labels().sec1Radio2Lbl()"></h6>
                        </div>
                        <div class='col-md-5 col-sm-5 col-xs-12 probationReviewPageRadio'>
                            <oj-radioset id="radioset2" value="{{sec1Radio2Selection}}" class="oj-choice-direction-row" disabled='[[disabled]]'>
                                <oj-bind-for-each data="[[radioOptions]]">
                                    <template>
                                        <oj-option value="[[$current.data.value]]">
                                            <oj-bind-text value="[[$current.data.name]]"></oj-bind-text>
                                        </oj-option>
                                    </template>
                                </oj-bind-for-each>
                            </oj-radioset>
                        </div>
                    </div>
                </div>
            </div>
            <br>


            <div id='third' class="row">
                <div class="col-md-12">
                    <div class='row'>
                        <div class='col-md-7 col-sm-7 col-xs-12'>
                            <h6 data-bind="text: labels().sec1Radio3Lbl()"></h6>
                        </div>
                        <div class='col-md-5 col-sm-5 col-xs-12 probationReviewPageRadio'>
                            <oj-radioset id="radioset1" value="{{sec1Radio3Selection}}" class="oj-choice-direction-row" disabled='[[disabled]]'>
                                <oj-bind-for-each data="[[radioOptions]]">
                                    <template>
                                        <oj-option value="[[$current.data.value]]">
                                            <oj-bind-text value="[[$current.data.name]]"></oj-bind-text>
                                        </oj-option>
                                    </template>
                                </oj-bind-for-each>
                            </oj-radioset>
                        </div>
                    </div>
                </div>
            </div>
            <br>


            <div id='fourth' class="row">
                <div class="col-md-12">
                    <div class='row'>
                        <div class='col-md-7 col-sm-7 col-xs-12'>
                            <h6 data-bind="text: labels().sec1Radio4Lbl()"></h6>
                        </div>
                        <div class='col-md-5 col-sm-5 col-xs-12 probationReviewPageRadio'>
                            <oj-radioset id="radioset1" value="{{sec1Radio4Selection}}" class="oj-choice-direction-row" disabled='[[disabled]]'>
                                <oj-bind-for-each data="[[radioOptions]]">
                                    <template>
                                        <oj-option value="[[$current.data.value]]">
                                            <oj-bind-text value="[[$current.data.name]]"></oj-bind-text>
                                        </oj-option>
                                    </template>
                                </oj-bind-for-each>
                            </oj-radioset>
                        </div>
                    </div>
                </div>
            </div>
            <br>


            <div id='fifth' class="row">
                <div class="col-md-12">
                    <div class='row'>
                        <div class='col-md-7 col-sm-7 col-xs-12'>
                            <h6 data-bind="text: labels().sec1Radio5Lbl()"></h6>
                        </div>
                        <div class='col-md-5 col-sm-5 col-xs-12 probationReviewPageRadio'>
                            <oj-radioset id="radioset1" value="{{sec1Radio5Selection}}" class="oj-choice-direction-row" disabled='[[disabled]]'>
                                <oj-bind-for-each data="[[radioOptions]]">
                                    <template>
                                        <oj-option value="[[$current.data.value]]">
                                            <oj-bind-text value="[[$current.data.name]]"></oj-bind-text>
                                        </oj-option>
                                    </template>
                                </oj-bind-for-each>
                            </oj-radioset>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <hr class="probationReviewPageMargin">
        </div>

        <!-- --------------------->
        <!-- section two -->
        <div id="section 2">
            <h5 class="probationReviewPageMargin"><b class="probationReviewPagInfoType"
                                                     data-bind="text: labels().sec2HeaderLbl()"></b></h5>
            <div id='first' class="row">
                <div class="col-md-12">
                    <div class='row'>
                        <div class='col-md-7 col-sm-7 col-xs-12'>
                            <h6 data-bind="text: labels().sec2Radio1Lbl()"></h6>
                        </div>
                        <div class='col-md-5 col-sm-5 col-xs-12 probationReviewPageRadio'>
                            <oj-radioset id="radioset1" value="{{sec2Radio1Selection}}" class="oj-choice-direction-row" disabled='[[disabled]]'>
                                <oj-bind-for-each data="[[radioOptions]]">
                                    <template>
                                        <oj-option value="[[$current.data.value]]">
                                            <oj-bind-text value="[[$current.data.name]]"></oj-bind-text>
                                        </oj-option>
                                    </template>
                                </oj-bind-for-each>
                            </oj-radioset>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div id='second' class="row">
                <div class="col-md-12">
                    <div class='row'>
                        <div class='col-md-7 col-sm-7 col-xs-12'>
                            <h6 data-bind="text: labels().sec2radio2Lbl()"></h6>
                        </div>
                        <div class='col-md-5 col-sm-5 col-xs-12 probationReviewPageRadio'>
                            <oj-radioset id="radioset2" value="{{sec2Radio2Selection}}" class="oj-choice-direction-row" disabled='[[disabled]]'>
                                <oj-bind-for-each data="[[radioOptions]]">
                                    <template>
                                        <oj-option value="[[$current.data.value]]">
                                            <oj-bind-text value="[[$current.data.name]]"></oj-bind-text>
                                        </oj-option>
                                    </template>
                                </oj-bind-for-each>
                            </oj-radioset>
                        </div>
                    </div>
                </div>
            </div>
            <br>


            <div id='third' class="row">
                <div class="col-md-12">
                    <div class='row'>
                        <div class='col-md-7 col-sm-7 col-xs-12'>
                            <h6 data-bind="text: labels().sec2Radio3Lbl()"></h6>
                        </div>
                        <div class='col-md-5 col-sm-5 col-xs-12 probationReviewPageRadio'>
                            <oj-radioset id="radioset1" value="{{sec2Radio3Selection}}" class="oj-choice-direction-row" disabled='[[disabled]]'>
                                <oj-bind-for-each data="[[radioOptions]]">
                                    <template>
                                        <oj-option value="[[$current.data.value]]">
                                            <oj-bind-text value="[[$current.data.name]]"></oj-bind-text>
                                        </oj-option>
                                    </template>
                                </oj-bind-for-each>
                            </oj-radioset>
                        </div>
                    </div>
                </div>
            </div>
            <br>


            <div id='fourth' class="row">
                <div class="col-md-12">
                    <div class='row'>
                        <div class='col-md-7 col-sm-7 col-xs-12'>
                            <h6 data-bind="text: labels().sec2Radio4Lbl()"></h6>
                        </div>
                        <div class='col-md-5 col-sm-5 col-xs-12 probationReviewPageRadio'>
                            <oj-radioset id="radioset1" value="{{sec2Radio4Selection}}" class="oj-choice-direction-row" disabled='[[disabled]]'>
                                <oj-bind-for-each data="[[radioOptions]]">
                                    <template>
                                        <oj-option value="[[$current.data.value]]">
                                            <oj-bind-text value="[[$current.data.name]]"></oj-bind-text>
                                        </oj-option>
                                    </template>
                                </oj-bind-for-each>
                            </oj-radioset>
                        </div>
                    </div>
                </div>
            </div>
            <br>


            <div id='fifth' class="row">
                <div class="col-md-12">
                    <div class='row'>
                        <div class='col-md-7 col-sm-7 col-xs-12'>
                            <h6 data-bind="text: labels().sec2Radio5Lbl()"></h6>
                        </div>
                        <div class='col-md-5 col-sm-5 col-xs-12 probationReviewPageRadio'>
                            <oj-radioset id="radioset1" value="{{sec2Radio5Selection}}" class="oj-choice-direction-row" disabled='[[disabled]]'>
                                <oj-bind-for-each data="[[radioOptions]]">
                                    <template>
                                        <oj-option value="[[$current.data.value]]">
                                            <oj-bind-text value="[[$current.data.name]]"></oj-bind-text>
                                        </oj-option>
                                    </template>
                                </oj-bind-for-each>
                            </oj-radioset>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <hr class="probationReviewPageMargin">
        </div>
        <!-- --------------------->
        <!-- section three -->
        <div id="section 3" class="probationReviewPageMargin">
            <div id='first' class="row">
                <div class="col-md-12">
                    <div class='row'>
                        <div class='col-md-7 col-sm-7 col-xs-12'>
                            <h5 class="probationReviewPageMargin"><b class="probationReviewPagInfoType"
                                                                     data-bind="text: labels().overAllRateLbl()"></b>
                            </h5>
                        </div>
                        <div class='col-md-5 col-sm-5 col-xs-12 probationReviewPageRadio'>
                            <oj-radioset id="radioset1" value="{{overAllRateRadio1Selection}}"
                                         class="oj-choice-direction-row" disabled='[[disabled]]'>
                                <oj-bind-for-each data="[[radioOptions]]">
                                    <template>
                                        <oj-option value="[[$current.data.value]]">
                                            <oj-bind-text value="[[$current.data.name]]"></oj-bind-text>
                                        </oj-option>
                                    </template>
                                </oj-bind-for-each>
                            </oj-radioset>
                        </div>
                    </div>
                </div>
            </div>

            <h5 class="probationReviewPageMargin"><b class="probationReviewPagInfoType"
                                                     data-bind="text: labels().rateCriteriaLbl()"></b></h5>
            <div id='second' class="row">
                <div class="col-md-12">
                    <div class='row'>
                        <div class='col-md-3 col-sm-3 col-xs-3'>
                            <h6 data-bind="text: labels().sec3Header5Lbl()"></h6>
                        </div>
                        <div class='col-md-9 col-sm-9 col-xs-9'>
                            <h6 data-bind="text: labels().sec3detail5Lbl()"></h6>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div id='third' class="row">
                <div class="col-md-12">
                    <div class='row'>
                        <div class='col-md-3 col-sm-3 col-xs-3'>
                            <h6 data-bind="text: labels().sec3Header4Lbl()"></h6>
                        </div>
                        <div class='col-md-9 col-sm-9 col-xs-9'>
                            <h6 data-bind="text: labels().sec3detail4Lbl()"></h6>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div id='fourth' class="row">
                <div class="col-md-12">
                    <div class='row'>
                        <div class='col-md-3 col-sm-3 col-xs-3'>
                            <h6 data-bind="text: labels().sec3Header3Lbl()"></h6>
                        </div>
                        <div class='col-md-9 col-sm-9 col-xs-9'>
                            <h6 data-bind="text: labels().sec3detail3Lbl()"></h6>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div id='fifth' class="row">
                <div class="col-md-12">
                    <div class='row'>
                        <div class='col-md-3 col-sm-3 col-xs-3'>
                            <h6 data-bind="text: labels().sec3Header2Lbl()"></h6>
                        </div>
                        <div class='col-md-9 col-sm-9 col-xs-9'>
                            <h6 data-bind="text: labels().sec3detail2Lbl()"></h6>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div id='fifth' class="row">
                <div class="col-md-12">
                    <div class='row'>
                        <div class='col-md-3 col-sm-3 col-xs-3'>
                            <h6 data-bind="text: labels().sec3Header1Lbl()"></h6>
                        </div>
                        <div class='col-md-9 col-sm-9 col-xs-9'>
                            <h6 data-bind="text: labels().sec3detail1Lbl()"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="probationReviewPageMargin">

        <!-- submit area -->
        <div>
            <div id="select Area">
                <div id='fifth' class="row">
                    <div class="col-md-7">
                        <div class='row'>
                            <div class='col-md-7 col-sm-7 col-xs-12'>
                                <h6 data-bind="text: labels().submitChoiceLbl()"></h6>
                            </div>
                            <div class='col-md-5 col-sm-5 col-xs-12 probationReviewPageSelectOne'>
                                <oj-select-one id="select" style="max-width:20em"
                                               on-value-changed="[[valueChangedHandler]]" value='{{selectedActionType}}' disabled='[[disabled]]'>
                                    <oj-bind-for-each data="[[submitSelectionList]]">
                                        <template>
                                            <oj-option value="[[$current.data.value]]">
                                                <span>
                                                    <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                                                </span>
                                            </oj-option>
                                        </template>
                                    </oj-bind-for-each>
                                </oj-select-one>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class='row'>
                            <oj-bind-if test='[[downloadAttachmentVisible]]'>
                                <oj-button class="apBtn-2 probationReviewPageMarginTop"
                                           on-oj-action='[[downloadAttachmentAction]]'>
                                    <span>
                                        <oj-bind-text value="[[labels().downloadAttachment()]]"></oj-bind-text>
                                    </span>
                                    <span slot='endIcon' class="apiconClass fa fa-file-pdf-o"></span>
                                </oj-button>
                            </oj-bind-if>
                            <oj-bind-if test='[[submetBtnVisable]]'>
                                <oj-button class="apBtn-2 probationReviewPageMarginTop" on-oj-action="[[submitActionBtn]]">
                                    <span>
                                        <oj-bind-text value="[[labels().submitLbl()]]"></oj-bind-text>
                                    </span>
                                </oj-button>
                            </oj-bind-if>
                            <oj-bind-if test='[[rejectBtnVisable]]'>
                                <oj-button class="apBtn-2 probationReviewPageMarginTop" on-oj-action="[[rejectActionBtn]]">
                                    <span>
                                        <oj-bind-text value="[[labels().rejectLbl()]]"></oj-bind-text>
                                    </span>
                                </oj-button>
                            </oj-bind-if>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <oj-bind-if test='[[rejectCommentVisable]]'>
            <div class="oj-flex">  
                <div class="oj-flex-item">
                    <label data-bind="text: 'Reject Message'"></label>
                    <oj-text-area id="input"  disabled='[[disabledRejectText]]'  value="{{rejectReasonER}}"></oj-text-area>
                </div>
            </div> 
        </oj-bind-if>
    </div>

    <!-- back button  -->
    <div class="oj-flex-bar">
        <div class="oj-flex-bar-start">
            <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                <span>
                    <oj-bind-text value="[[labels().back()]]"></oj-bind-text>
                </span>
            </oj-button>
        </div>
    </div>

    <div id="dialogWrapper">
        <oj-dialog class="main-dialog main-dialog-width" id="submitDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text: labels().submitTitle()"></label>
            </div>

            <div slot="body">
                <label data-bind="text: labels().submitMessage()"></label>
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[submitYes]]'>
                    <span>
                        <oj-bind-text value="[[labels().yes()]]"></oj-bind-text>
                    </span>
                </oj-button>

                <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[submitNo]]'>
                    <span>
                        <oj-bind-text value="[[labels().no()]]"></oj-bind-text>
                    </span>
                </oj-button>
            </div>
        </oj-dialog>

        <oj-dialog class="main-dialog main-dialog-width" id="rejectDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text: labels().submitTitleReject() " />
            </div>
            <div slot="body">
                <label data-bind="text: labels().rejectMessage() " />
            </div>
            <div slot="footer">
                <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2"
                           on-oj-action='[[rejectRewaardRequst]]'>
                    <span>
                        <oj-bind-text value="[[labels().yes()]]"></oj-bind-text>
                    </span>
                </oj-button>

                <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2"
                           on-oj-action='[[rejectCancelButton]]'>
                    <span>
                        <oj-bind-text value="[[labels().no()]]"></oj-bind-text>
                    </span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>