 <oj-messages id="oj-messages-id" position="{}" messages="[[dataproviderMessage]]"  display-options="[[computedCategoryOption]]"
                         on-oj-close="[[closeMessageHandler]]">
            </oj-messages>

<h1 class="header_headline_style"><span> <oj-bind-text value="[[approvalManagmentLbl]]"></oj-bind-text> </span></h1>
<div class="request_body_styling animated fadeInUp ">
    <div id="train-container">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
            <div class="form-row">
                <div class="form-group col-md-6 srjob-col-pad">

                    <label for="firstName"  data-bind="text: eitNameLbl"/>

                    <oj-select-one id="select" class="form-control" required="[[isRequired]]" 
                                   placeholder="[[placeholder]]"
                                   value="{{selctedStruct}}"
                                   on-value-changed = "{{structureChangedHandler}}"
                                   options="{{EitName}}"
                                   data-bind="disable: disself">
                    </oj-select-one>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-6 srjob-col-pad">
                    <label for="firstName" data-bind="text: approvalTypeLbl"/>
                    <oj-select-one id="select" class="form-control" required="[[isRequired]]"
                                   placeholder="[[placeholder]]"
                                   value="{{selctedApprovalType}}"
                                   on-value-changed = "{{structureChangedHandlerApprovalType}}"
                                   options="{{ApprovalTypeOption}}"
                                   data-bind="disable: disself">
                    </oj-select-one>
                </div>

                <div class="oj-form-layout">
                    <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
                        <div id="form-container" class="row">
                            <div class="btn_row_st">
                                <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                                    <span><oj-bind-text value="[[backLbl]]"></oj-bind-text></span>
                                </oj-button>

                                <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[editApprovalManagement]]' data-bind="visible: nextBtnVisible" disabled="[[isDisable]]">
                                    <span><oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                                    <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                                </oj-button>

                                <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[addApprovalManagement]]' data-bind="visible: Addvis"disabled="[[isDisable]]">
                                    <span><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
                                    <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                                </oj-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <br>
        <br/>
        <div>
          <oj-table id='tablew' class='apTable-1' aria-label='Departments Table' 
                      data='[[dataprovider]]' 
                      selection-mode='{"row": "multiple", "column": "multiple"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy='loadMoreOnScroll'
                      scroll-policy-options='{"fetchSize": 10}'
                      columns='[[columnArray]]'
                      display = "grid"
                      on-oj-before-current-row = "[[tableSelectionListener]]">
                <template slot="hideTemplate" data-oj-as="cell"> 
                    <oj-checkboxset id="cs0" value='[[cell.row.hide == "true" ?["val-"+cell.index]:[""]]]' on-value-changed='[[checkboxListenerHide]]'>
                        <oj-option :id="{{'rs1'+cell.index}}"  value='{{"val-"+cell.index}}'></oj-option>
                    </oj-checkboxset>
                </template>

                <template slot="enableTemplate" data-oj-as="cell">
                    <oj-checkboxset id="cs1" value='[[cell.row.enable == "true"?["va2-"+cell.index]:[""]]]'on-value-changed='[[checkboxListenerEnable]]'>
                        <oj-option :id="{{'rs2'+cell.index}}"  value='{{"va2-"+cell.index}}'></oj-option>
                    </oj-checkboxset>
                </template>
                
                <template slot="requiredTemplate" data-oj-as="cell">
                    <oj-checkboxset id="cs2" value='[[cell.row.required == "true"?["va3-"+cell.index]:[""]]]'on-value-changed='[[checkboxListenerRequired]]'>
                        <oj-option :id="{{'rs3'+cell.index}}" value='{{"va3-"+cell.index}}'></oj-option>
                    </oj-checkboxset>
                </template>
                


            </oj-table>

        </div>

        <div id="dialogWrapper">
            <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
                <div slot="header" class="oj-helper-clearfix">
                    <label data-bind="text: confirmMessage "/>
                </div>
                <div slot="body">
                    <label data-bind="text: oprationMessage "/>
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2" on-oj-action='[[commitRecord]]'>
                        <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                        <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </oj-dialog>
        </div>
            <div id="dialogWrapper">
            <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialogAdd">
                <div slot="header" class="oj-helper-clearfix">
                    <label data-bind="text: confirmMessage "/>
                </div>
                <div slot="body">
                    <label data-bind="text: oprationMessageAdd "/>
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2" on-oj-action='[[commitRecord]]'>
                        <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                        <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </oj-dialog>
        </div>

    </div>
</div>
