

<section id="StcUnauthorized">
    <div class="container my-auto">
        <div class="con-image">
            <img src="{{common.getAssetsPath()}}img/401.jpg">
        </div>
        <div class="con-messsage text-center">
            <h3>{{'NotAuthorized'|translation}}</h3> 
            <h5>{{'publicErrorMessage'|translation}}, {{'accessMessage'|translation}} <span>00000000000</span> </h5>
            <!-- <h5></h5> -->
        </div>
    </div>
</section>
