
#StcUnauthorized 
{
    padding-top: 40px;
}
#StcUnauthorized .con-image {
    position: relative;
    width: 100%;
    height: 300px;
    padding-top: 50px;
    margin-bottom: 20px;

}

#StcUnauthorized .con-image img {
    position: absolute;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
@media only screen and (max-width: 500px) {
    #StcUnauthorized .con-image{
      height: 200px;
    }
  }
#StcUnauthorized  .con-messsage
{

}
#StcUnauthorized  .con-messsage h3
{
    color:#712c81 ; 
    font-weight: bold ;
    margin-bottom: 10px ;
}
#StcUnauthorized  .con-messsage h5 
{
    color:rgba(151, 140, 140, 0.911) ; 
    font-size: 16px;
    font-weight: bold;
}
#StcUnauthorized  .con-messsage h5 span 
{
    color:#712c81 ; 
    font-weight: bold;
}