<h1> <span style="color: #d46d6e; margin-right:15px; margin-left:15px; margin-bottom: 35px; margin-top:20px; width: 100%;">
        <oj-bind-text value="[[timeCardTitle]]"></oj-bind-text></span></h1>
<div class="oj-hybrid-padding">
</div>
