<p class="header_headline_style animated fadeInUp" data-bind="text:pageTitle">Time Card</p>

<div class="oj-form-layout oj-panel">
    <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline" oj-md-labels-inline>

        <div class="form-row">

            <div class="form-group col-md-2 srjob-col-pad">
                <oj-label for="startDateId" required show-required="true"><span data-bind="text: startDateLbl" />
                </oj-label>
            </div>
            <div class="form-group col-md-4 srjob-col-pad">
                <oj-input-date disabled="{{$root.actionStatus() != '0'}}" id="startDateId" max="{{endDateVal}}" converter=[[dateConverter]]
                    value="{{startDateVal}}" class="inpt">
                </oj-input-date>
            </div>

            <div class="form-group col-md-2 srjob-col-pad">
                <oj-label for="endDateId" required show-required="true"><span data-bind="text: endDateLbl" />
                </oj-label>
            </div>
            <div class="form-group col-md-4 srjob-col-pad">
                <oj-input-date disabled="{{$root.actionStatus() != '0'}}" id="endDateId" min="{{startDateVal}}" converter=[[dateConverter]] value="{{endDateVal}}" class="inpt">
                </oj-input-date>
            </div>


            <div class="form-group col-md-2 srjob-col-pad">
                <oj-label for="legalEntityId"><span data-bind="text: legalEntityLbl" /></oj-label>
            </div>
            <div class="form-group col-md-4 srjob-col-pad">
                <oj-combobox-one disabled="{{$root.actionStatus() != '0'}}" id="legalEntityId" class="disable-element inpt" loading value="{{legalEntityVal}}"
                    options="{{legalEntityOps}}">
                </oj-combobox-one>
            </div>

            <div class="form-group col-md-2 srjob-col-pad">
                <oj-label for="locationId"><span data-bind="text: locationLbl" /></oj-label>
            </div>
            <div class="form-group col-md-4 srjob-col-pad">
                <oj-combobox-one disabled="{{$root.actionStatus() != '0'}}" id="locationId" class="disable-element inpt" value="{{locationVal}}"
                    options="{{locationOps}}">
                </oj-combobox-one>
            </div>

            <div class="form-group col-md-2 srjob-col-pad">
                <oj-label for="departmentId"><span data-bind="text: departmentLbl" /></oj-label>
            </div>
            <div class="form-group col-md-4 srjob-col-pad">
                <oj-combobox-one disabled="{{$root.actionStatus() != '0'}}" id="departmentId" class="disable-element inpt" value="{{departmentVal}}"
                    options="{{departmentOps}}">
                </oj-combobox-one>
            </div>

            <div class="form-group col-md-2 srjob-col-pad">
                <oj-label for="jobId"><span data-bind="text: jobLbl" /></oj-label>
            </div>
            <div class="form-group col-md-4 srjob-col-pad">
                <oj-combobox-one disabled="{{$root.actionStatus() != '0'}}" id="jobId" class="disable-element inpt" value="{{jobVal}}" options="{{jobOps}}">
                </oj-combobox-one>
            </div>

            <div class="form-group col-md-2 srjob-col-pad">
                <oj-label for="positiontId"><span data-bind="text: positionLbl" /></oj-label>
            </div>
            <div class="form-group col-md-4 srjob-col-pad">
                <oj-combobox-one disabled="{{$root.actionStatus() != '0'}}" id="positionId" class="disable-element inpt" value="{{positionVal}}"
                    options="{{positionOps}}">
                </oj-combobox-one>
            </div>

            <div class="form-group col-md-2 srjob-col-pad">
                <oj-label for="addressLineId"><span data-bind="text: addressLineLbl" /></oj-label>
            </div>
            <div class="form-group col-md-4 srjob-col-pad">
                <oj-combobox-one disabled="{{$root.actionStatus() != '0'}}" id="addressLineId" class="disable-element inpt" value="{{addressLineVal}}"
                    options="{{addressLineOps}}">
                </oj-combobox-one>
            </div>

            <div class="form-group col-md- srjob-col-pad">
            </div>

            <div class="form-group col-md-12 srjob-col-pad text-center">
                <oj-button class="apBtn-2" on-oj-action='[[searchAction]]' disabled="{{$root.actionStatus() != '0'}}">
                    <span data-bind="visible:$root.actionStatus() == '3',text:loading"></span>
                    <span data-bind="visible:$root.actionStatus() == '0',text:process"></span>
                    <span data-bind="visible:$root.actionStatus() == '1',text:searching"></span>
                    <span data-bind="visible:$root.actionStatus() == '2',text:processing"></span>
                </oj-button>
                <!-- <oj-button class="apBtn-2" on-oj-action='[[resetAction]]'>
                    <span>
                        <oj-bind-text value="[[clear]]"></oj-bind-text>
                    </span>
                </oj-button> -->

                <!-- <oj-button class="apBtn-2" data-bind="visible:response().length > 0" on-oj-action='[[delAction]]'>
                    <span>
                        <oj-bind-text value="[[deleteLbl() + ' ('+ response().length +')']]"></oj-bind-text>
                    </span>
                </oj-button> -->
            </div>
        </div>
    </div>
</div>