/* oragne : #eb6122 */
/* brown: #c1844b */
/* purple : #6e2378 */
body { 
    background: url(../css/images/tatwerTTC/marcelo-cidrack-aTzXaSEazl4-unsplash.jpg) no-repeat center center fixed;
    /* background-color: #ccc; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Arimo', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.request_body_styling{
    background-color: rgba(255, 255, 255, 0.959);
    /* padding: 30px 20px; */
    padding-bottom: 50px;
    margin-top:20px;
    border-radius: 5px;
}
.header_headline_style{
    color: #c1844b ;
    font-weight: bold;
    padding: 20px;
}
/* start common styles */
.start{
    text-align: start;
}
.inlineblock{
    display: inline-block;
}
.cursor-pointer{
    cursor: pointer;
}
.listPadding{
    padding: 0 10px; 
}
.padding-left-12{
padding-left: 12px;
}
.center{
    text-align: center;
}
.paddingBottom{
    padding-bottom: 35px;
}
.paddingTop10px{
    padding-top: 10px;
}
.paddingBottom10px{
    padding-bottom: 10px;
}

.summaryBtn{
    text-align: center;
    margin-top: 30px;
}
.oj-button button{
    background-color: transparent !important;
    outline: none;
    border: none;
}
.oj-label-group{
    font-weight: bold;
    color: #000;
    font-size: 13px;
}

.oj-button-text {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.subTitle{
    padding-bottom: 25px;
    padding-top: 30px;
}
.subTitle h4{
    color: #c1844b;
    padding-bottom: 10px;
}
/**************btn Enable*****************/
.btnStyle .oj-enabled .oj-button{
    padding: 10px;
}
.btnStyle .oj-button-text{
    color: #6e2378;
}
/* .btnStyle:hover .oj-enabled .oj-button-text{
    color: #FFF !important;
} */
.btnStyle  {
    color: #6e2378;
    border: 1px solid #6e2378;
    background-color: transparent;
    border-radius: 5px;
    margin-right: 10px; 
}
.btnStyle  .oj-button-label{
    padding: 13px 25px;
}
.oj-button i{
    margin: 5px;
}
.btnStyle:hover{
    background-color: #6e2378;
    border: 1px solid #6e2378;
    border-radius: 5px;
    color: #fff ;
}
.btnStyle:hover .oj-button-text{
    color: #fff;
}
.oj-enabled:hover button{
    cursor: pointer;
}
/***********************************/
/***********btn Disabled************/
.btnStyle .oj-disabled .oj-button{
    padding: 10px;
}
.oj-disabled .oj-button-text{
    color: #ccc !important;
}
.oj-disabled{
    color: #ccc !important;
    border: 1px solid #ccc;
    background-color: transparent;
    /* border-radius: 5px;
    margin-right: 10px;  */
}
.btnStyle.oj-disabled:hover{
    background: none;
    border: 1px solid #ccc;
}
/* .oj-disabled:hover{
    color: #ccc !important;
    border: 1px solid #ccc;
    background-color: transparent;
} */
.btnStyle .oj-disabled .oj-button-label{
    padding: 13px 25px;
}
.hr{
    width: 1355px;
    height: 1px;
    background-color: #ccc;
    /* margin: auto; */
}
/*********************************/
/*Loading */
.sk-folding-cube {
    margin: 20px auto;
    width: 50px;
    height: 50px;
    background-color: #fff; 
    /*position: absolute;*/
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    margin-top: calc(50vh - 20px);
    margin-left: calc(50vw - 20px);
    

}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); 
    
}
.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0; 
    } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1; 
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0; 
    } 
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0; 
    } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1; 
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0; 
    }
}
#loading{
    display: none;
    height: 100%;
    width: 100%;
    background: #7f7d7d;
    position: fixed;
    z-index: 999;
    opacity: .7;
}
/**/
/*loading placeholder */
.cardPlaceholder {
    position: relative;
    /* -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); */
    height: 500px;
    overflow: hidden;
    margin: 10px auto;
}
.cardPlaceholder .visiTitle{
    text-align: center;
    font-weight: bold;
}
.cardPlaceholder .title{
    padding: 20px 150px;
    border-radius: 6px; 
    width: 20%;
    margin: auto;
}
.cardPlaceholder .secondTitle{
    padding: 20px 150px;
    border-radius: 3px;
    width: 20%;
    margin: auto;
    margin-top: 50px;
}
.shimmerBG {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #fff;
    background: linear-gradient(to right, #Fff 8%, #F0F0F0 18%, #fff 33%);
    background-size: 1200px 100%;
}
  
  
@-webkit-keyframes shimmer {
    0% {
          background-position: -100% 0;
    }
    100% {
          background-position: 100% 0;
    }
}
  
@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
} 
.p-32 {
    padding: 32px;
}

/* End common styles */

/******Start dialog*******/
#backDialog{
    width: 50% !important;
}
/*******End dialog**********/
/* Start tooltip*/
[tooltip] {
    position: relative; 
}
[tooltip]::before,
[tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}
[tooltip]::before {
    content: '';
    border: 5px solid transparent;
    z-index: 1001;
}
[tooltip]::after {
    content: attr(tooltip);
    font-family: Helvetica, sans-serif;
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000;
    border-bottom: 4px solid #c1844b;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}

[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}
/************************************************/
/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}
/**************************************************************************************/
/* start table */
.tableContent{ 
    margin-top: 20px;
    padding-left: 12px;
    /* text-align: center; */
}
.oj-table-header{
    background: #781c73;
}
.oj-table-column-header-text{
    color: #FFF;
}
.tableStyle{
    width: 90%;
    border:none !important;
    background-color: transparent!important;
    overflow: scroll;
    /* margin: auto;
    display: block; */
}
.tableStyle tbody {
min-height: 100px;
}
.tableStyle thead tr th {
    border:none !important;
    transition: all 0.1s ease-in-out;
}

.tableStyle tbody tr  {
    border-bottom: 1px solid #888 !important;
    transition: all 0.1s ease-in-out;
    padding-bottom: 15px !important;
}

/* .tableStyle tbody tr:hover  {
    background-color:#eb6222ab !important;

}

.tableStyle tbody tr .oj-hover{
    background-color: #eb6222ab !important;

} */

.tableStyle tbody .oj-selected{
    background-color: #e2a164 !important;
    color: #FFF;
}

.tableStyle tbody tr td  {
    border:none !important;
    transition: all 0.1s ease-in-out;
}

.tableStyle thead tr th:hover {
    background-color:#b9b6b6; 

}

/* .tableStyle thead tr th:hover .oj-table-column-header {
    color:var(--table-hover-text) !important; 

}  */
.tableStyle thead{
    border:none !important;
}
/* end styling for apTable */

/* header */
.swNavbar{
    background-color: #f8f8f8;
}
.nav-img img{
    padding-left: 10px;
    padding-bottom: 3px;
}
.notification{
    position: absolute;
    right: 20px;
    top: 230px;
}
.notification:hover{
    cursor: pointer;
}
.notification .home-icon{
    border-radius: 50%;
    background-color: #781c73;
    box-shadow: 0 0 10px #ccc;
    /* padding: 23px 25px; */
    width: 45px;
    height: 45px;
}
.notification .home-icon:hover{
    background-color: #881069;
    margin-bottom: 5px;
}
.notification .home-icon i{
    text-align: center;
    margin: auto;
    display: block;
    padding-top: 13px;
}
.notification i{
    font-size: 17px;
    color: #FFF;
}
.notification .notifiIcon{
    border-radius: 50%;
    background-color: #781c73;
    box-shadow: 0 0 10px #ccc;
    /* padding: 23px 25px; */
    width: 45px;
    height: 45px;
}
.notification .notifiIcon:hover{
    background-color: #881069;
    margin-bottom: 5px;
}
.notification .notifiIcon i{
    text-align: center;
    margin: auto;
    display: block;
    padding-top: 13px;
}

.notiNo{
    display: inline;
    background-color: #fff;
    padding: 3px 5px;
    border-radius: 14px;
    text-align: center;
    color: #000;
    top: 15px;
    left: 331px;
    font-size: 12px;

}

#signOut .oj-button,.oj-button-text,.oj-button-label{
    margin: 0;
    padding: 0;
}
#signOut{
    background-color: #781c73;
    box-shadow: 0 0 10px #ccc;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    display: block;
    width: 45px;
    height: 45px;
}
#signOut:hover{
    background-color: #881069;
    margin-bottom: 5px;
    cursor: pointer;
}
#signOut button:hover{
    cursor: pointer;
}
#signOut i{
    text-align: center;
    margin: auto;
    display: block;
    padding-top: 10px;
}
/******************End Header**********************/

/****************Start login page*************************/
.login-box {
    margin-top: 90px !important;
    margin: auto;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    border-radius: 8px;
}
.login-title {
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

.login-form input[type=text] {
    background-color: transparent !important;
    border: none;
    border-bottom: 2px solid #c1844b;
    border-top: 0px;
    border-radius: 2px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding: 0 0 0 25px;
    color: #000;
}

.login-form input[type=password] {
    background-color: transparent !important;
    border: none;
    border-bottom: 2px solid #c1844b;
    border-top: 0px;
    border-radius: 2px;
    font-weight: bold;
    outline: 0;
    padding: 0 0 0 25px;
    margin-bottom: 20px;
    color:#000;
}
.login-form input:hover{
    background-color: transparent;
}

.login-form .form-group {
    margin-bottom: 40px;
    outline: 0px;
}
.login-form input:focus {
    outline: none;
    box-shadow: 0 0 0;
    background: transparent !important;
}

.login-form label {
    margin-bottom: 0px;
}

.login-form .form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.login-form .btn-outline-primary {
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #031016;
    color: #fff;
    border: 1px solid #031016;
    border-radius: 6px;
    margin: auto;
    display: block;
    padding: 12px 35px;
    /* width: 100%; */
    margin-top: 30px;
}
.wrap-input100{
    position: relative;
}
.log-icon{
    position: absolute;
    bottom: 3px;
}
.log-icon i{
    font-size: 20px;
}
.login-form .btn-outline-primary:hover {
    background-color: #031016d1 !important;
    border: 1px solid #031016d1 !important;
    right: 0px;
}

.login-form .login-btm {
    float: left;
}

.login-form .login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.login-form .login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.login-form .loginbttm {
    padding: 0px;
}
/***************** End login Page ***************************/

/******************Start penalty Setup Page ***********************/
.summarySearchtBtn{
    padding-left: 105px;
    padding-top: 30px;
}
.PenaltyBtn{
    margin: 20px 0 20px 25px;
}
.btnFooterPenaltyScreen{
    text-align: center;
    padding: 40px 0;
}
.positionLine{
    /* position: relative; */
}
.line{
    height: 2px;
    width: 55px;
    background-color: #c1844b;
    /* position: absolute;
    left: 0;
    top: 10px; */
}
/******************End penalty Setup Page ***********************/

/******************Start penalty Screen & Details Page ***********************/
.detailsBtn{
    margin-bottom: 35px;
}
/******************End penalty Screen & Details Page ***********************/

/*****************media query**********************/
.nav-links{
    display: none;
}
.navResp > #nav-check {
  display: none;
}
.navResp{
    display: none;
}
@media  screen and (max-width: 930px) {
  .oj-label-group{
      font-size: 10px;
  }
  /* .request_body_styling{
      padding: 30px 0;
  } */
  .mobResBlock{
      display: block;
  }
    .tableStyle{
        width: 50%;
        margin: 0;
        text-align: start;
    }
  .summarySearchtBtn{
      text-align: left;
      padding-left: 2px;
  }  
    .notification{
        display: none;
    }
    .navResp{
        display: block;
    }
  .navResp > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    
  }
  .navResp > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .navResp > .nav-btn > label:hover,.navResp  #nav-check:checked ~ .nav-btn > label {
    color: #72298d;
  }
  .navResp > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #72298d;
  }
  .navResp > .nav-links {
    position: absolute;
    display: block;
    width: 0;
    background-color: #72298d;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    right: 0px;
    padding: 10px;
  }
  .navResp .nav-links .home-icon{
      border-bottom: 2px solid #FFF;
  }
  .navResp .nav-links .notifiIcon{
      border-bottom: 2px solid #FFF;
  }
  .navResp .nav-links,.navResp .nav-links:hover{
      cursor: pointer;
  }
  .navResp .nav-links,.navResp .nav-links button {
   
    text-align: center;
    color: #72298d !important;
    
  }
  .navResp .nav-links,.navResp .nav-links button:hover i{
      color: #72298d !important;
  }
  .navResp .nav-links i{
      font-size: 15px;
      background-color: #fff !important;
      width: 30px;
      margin: 10px;
      padding: 5px;
      border-radius: 5px;
     
  }
  .navResp > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
    width: 0px;
    display: none;
  }
  .navResp > #nav-check:checked ~ .nav-links {
    height: fit-content;
    overflow-y: auto;
    width: 150px;
    border-radius: 5px;
    display: block;
  }
  
}
@media  screen and (max-width: 600px) { 

    .oj-web-applayout-max-width{
        max-width: 306px !important;
    }
}
/***********************************************************/
html[dir="rtl"] .padding-right {
    padding-right: 60px !important;
}