<div id='text' style="text-align: center;">
    <h1>locations</h1>
</div>
<div id="form-container">
    <oj-validation-group id="tracker" valid="{{groupValid}}">
    <oj-form-layout max-columns="{{columns}}" direction="row">
        <div>
        <oj-label  class="formLabel">  
            <oj-bind-text value="[[label().locationName()]]">
            </oj-bind-text>
        </oj-label>
        <oj-input-text id="text-input1" class="formInput" required value="{{locationName}}"></oj-input-text>
        <oj-label  class="formLabel">  
            <oj-bind-text value="[[label().city()]]">
            </oj-bind-text>
        </oj-label>
        <oj-input-text id="text-input2" class="formInput" required value="{{city}}"></oj-input-text>   
        <oj-label  class="formLabel">  
            <oj-bind-text value="[[label().address()]]">
            </oj-bind-text>
        </oj-label>
        <oj-input-text id="text-input1" class="formInput" required value="{{address}}"></oj-input-text>
        <oj-label  class="formLabel">  
            <oj-bind-text value="[[label().locationNameAr()]]">
            </oj-bind-text>
        </oj-label>
        <oj-input-text id="text-input1" class="formInput" required value="{{locationNameAr}}"></oj-input-text>
        <oj-label  class="formLabel">  
            <oj-bind-text value="[[label().cityAr()]]">
            </oj-bind-text>
        </oj-label>
        <oj-input-text id="text-input2" class="formInput" required value="{{cityAr}}"></oj-input-text>   
        <oj-label  class="formLabel">  
            <oj-bind-text value="[[label().addressAr()]]">
            </oj-bind-text>
        </oj-label>
        <oj-input-text id="text-input1" class="formInput" required value="{{addressAr}}"></oj-input-text>
        <oj-label  class="formLabel">  
            <oj-bind-text value="[[label().brand()]]">
            </oj-bind-text>
        </oj-label>
        <oj-input-text id="text-input2" class="formInput" required value="{{brand}}"></oj-input-text> 
        <oj-label  class="formLabel">  
            <oj-bind-text value="[[label().latitude()]]">
            </oj-bind-text>
        </oj-label>
        <oj-input-text id="text-input1" class="formInput" value="{{latitude}}"></oj-input-text>
        <oj-label  class="formLabel">  
            <oj-bind-text value="[[label().longitude()]]">
            </oj-bind-text>
        </oj-label>
        <oj-input-text id="text-input2" class="formInput" required value="{{longitude}}"></oj-input-text> 
        </div>
    </oj-form-layout>
</oj-validation-group></div>
<div id='buttons-container'>
    <oj-button class="flWidth btnPrimary mrT1" style="width: auto;" id='signIn' on-oj-action="[[submit]]">
        <span><oj-bind-text value="[[label().submit()]]"></oj-bind-text></span>
    </oj-button>
</div>
<div id="pagingControlDemo">
    <oj-table style="width: 100%" class='apTable-1' id='table' aria-label='Departments Table'
              data='[[pagingDataProvider]]'
              columns='[[columnArray]]'

              on-oj-before-current-row = "[[tableSelectionListener]]">
        <oj-paging-control id="paging" data="[[pagingDataProvider]]" page-size="10" slot="bottom">
        </oj-paging-control>
    </oj-table>               
</div>
<div id="dialogWrapper">
    <oj-dialog class="img-dialog" id="modalDialog1" dialog-title="Edit Location">
        <div slot="body">
            <!--form for edit the selected row-->
            <div id="form-container">
                <oj-form-layout max-columns="{{columns}}" direction="row">
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().locationName()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input1" class="formInput" value="{{locationName}}"></oj-input-text>
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().city()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input2" class="formInput" value="{{city}}"></oj-input-text>   
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().address()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input1" class="formInput" value="{{address}}"></oj-input-text>
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().locationNameAr()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input1" class="formInput" value="{{locationNameAr}}"></oj-input-text>
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().cityAr()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input2" class="formInput" value="{{cityAr}}"></oj-input-text>   
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().addressAr()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input1" class="formInput" value="{{addressAr}}"></oj-input-text>
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().brand()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input2" class="formInput" value="{{brand}}"></oj-input-text> 
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().latitude()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input1" class="formInput" value="{{latitude}}"></oj-input-text>
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().longitude()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input2" class="formInput" value="{{longitude}}"></oj-input-text>
                </oj-form-layout></div>
            <div id='buttons-container'>
                <oj-button class="btnPrimary" on-oj-action="[[edit]]">
                    <span><oj-bind-text value="[[label().submit()]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </div>
        <div slot="footer">
            <oj-button id="okButton" class="btnPrimary"  on-oj-action="[[close]]">Cancel
            </oj-button>
        </div>
    </oj-dialog>
</div>
