<div class="products">

    <div class="vehicle text-center">
        <div id='text'>
            <h2 data-bind="text: label().chooseCar()"></h2>
        </div>
        <div id="componentDemoContent" style="width: 1px; min-width: 100%; margin-top: 70px;">
            <div id="listviewContainer">

                <div data-bind="foreach: carsBrandArr">
                    <!-- ko if: id < 5-->
                    <div data-bind="css: {'selected-brand-box': $parent.selectedBrand() === brandName}, click: $parent.carBrandsClickAction" class="vehicle-item brand-temp-selected">
                        <div class="oj-panel demo-griditem-content demo-icon">
                            <div class="item-img" style="width:180px;max-width:100%;padding:0">
                                <div data-bind="style: { backgroundImage:'url(\'css/images/'+brandName+'.png\')',
                                                                backgroundRepeat: 'no-repeat', backgroundSize: '100%', height: '120px',
                                                                width: '100%' }, attr: { 'aria-label': brandName}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->​
                </div>


            </div>
        </div>
        <div style="margin-top: 80px;">
            <oj-checkboxset value="{{rememberChoice}}" disabled="[[confirmBtnStatus]]">
                <oj-option value="remember">
                    <span data-bind="text: label().rememberLbl()">
                    </span>
                </oj-option>
            </oj-checkboxset>
        </div>

        <div class="sign-form" id="main">
            <oj-button class="btnPrimary flWidth mrT1" id="login" on-oj-action="[[confirmChoice]]" disabled="[[confirmBtnStatus]]">
                <span>
                    <oj-bind-text value="[[label().confirmChoiceLbl()]]">
                    </oj-bind-text>
                </span>
            </oj-button>
        </div>

        <div id="haveAccount" class="text-center skip-for-now">
            <oj-button on-oj-action="[[skipAction]]">
                <span>
                    <oj-bind-text value="[[label().skipActionLbl()]]">
                    </oj-bind-text>
                </span>
            </oj-button>
        </div>
    </div>

</div>
