<div class="request_body_styling animated fadeInUp">
    <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

        <div class="oj-flex">
            <div class="oj-flex-item">
                <oj-button class="apBtn-2" on-oj-action='[[btnAddSummary]]'>
                    <span><oj-bind-text value="[[addSummaryLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                </oj-button>
            </div>
        </div>

        <div>
            <oj-table id='table' class='apTable-1' aria-label='Departments Table'
                      data='[[dataSource]]'
                      selection-mode='{"row": "multiple", "column": "multiple"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy-options='{"fetchSize": 10}'
                      columns='[[columnArray]]'
                      on-oj-before-current-row = "[[tableSelectionListener]]"
                      display = "grid">
                <oj-paging-control id="paging" class='apPaging-1' data='[[dataSource]]' page-size='5' slot='bottom'>
                </oj-paging-control>
                <template slot="detailsCellTemplate">
                    <oj-button class="apBtn-2" on-oj-action='[[buttonClick]]'>
                        <span><oj-bind-text value="[[Deatils]]"></oj-bind-text></span>
                    </oj-button>
                </template>
            </oj-table>
        </div>
        <oj-dialog class="main-dialog" id="modalDialog1">
            <div slot="header" class="oj-helper-clearfix">
                <label  data-bind="text: Deatils" />
            </div>
            <div slot="body" >
                <oj-table id='table1' class='apTable-1' aria-label='Departments Table'
                          data='[[dataSourceTB2]]'
                          selection-mode='{"row": "multiple", "column": "multiple"}'
                          dnd='{"reorder": {"columns": "enabled"}}'
                          scroll-policy-options='{"fetchSize": 10}'
                          columns='[[columnArray1]]'
                          on-oj-before-current-row = "[[tableSelectionListener]]"
                          display = "grid">
                </oj-table>

            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[closeDialog]]'>
                    <span><oj-bind-text value="[[ok]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>
</div>