<oj-messages position="{}" display="general" messages="[[validationMessagesProvider]]"></oj-messages>

<div id="form-container" class="request_body_styling animated fadeInUp">
    <div class="oj-form">
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">
                <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                    <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                </oj-button>

                <oj-bind-if test='[[actionAvilable]]'>

                    <oj-button disabled="{{currentStepValue() == 'stp1'}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[previousStep]]'>
                        <span><oj-bind-text value="[[backLbl]]"></oj-bind-text></span>
                    </oj-button>

                </oj-bind-if>
            </div>
            <div class="oj-flex-bar-end">
                <oj-bind-if test='[[actionAvilable]]'> 
                    <oj-button disabled="{{currentStepValue() == 'stp2'}}" data-bind="visible: nextBtnVisible" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[nextStep]]'>
                        <span><oj-bind-text value="[[nextLbl]]"></oj-bind-text></span>
                    </oj-button>
                </oj-bind-if>

                <oj-bind-if test="[[submitdraft() === false]]">
                    <oj-bind-if test='[[actionAvilable]]'>
                        <oj-button data-bind="visible: addBtnVisible" class="apBtn-2" on-oj-action='[[submitButton]]'>
                            <span><oj-bind-text value="[[submitLbl]]"></oj-bind-text></span>
                        </oj-button>
                    </oj-bind-if>
                </oj-bind-if>


                <oj-bind-if test='[[actionAvilable]]'>
                    <oj-button data-bind="visible: addBtnVisible" class="apBtn-2" on-oj-action='[[submitButton2]]'>
                        <span><oj-bind-text value="[[savedraft]]"></oj-bind-text></span>
                    </oj-button>
                </oj-bind-if>

                <oj-bind-if test="[[submitdraft() === true]]">
                    <oj-button data-bind="visible: addBtnVisible" class="apBtn-2" on-oj-action='[[submitButton3]]'>
                        <span><oj-bind-text value="[[submitdraftLbl]]"></oj-bind-text></span>
                    </oj-button>
                </oj-bind-if>


                <div id="sampleDemo" class="demo-padding demo-container"></div>
                <div id="dialogWrapper">
                    <oj-dialog id="yesNoDialog" class="dialog-top30">
                        <div slot="header" class="oj-helper-clearfix">
                            <label data-bind="text:confirmMessage ">
                        </div>
                        <div slot="body">
                            <label data-bind="text:oprationMessage ">
                        </div>

                        <div slot="footer">
                            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[commitRecord]]'>
                                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                            </oj-button>

                            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButton]]'>
                                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                            </oj-button>
                        </div>
                    </oj-dialog>
                </div>

                <div id="dialogWrapper">
                    <oj-dialog id="yesNoDialog2" class="dialog-top30">
                        <div slot="header" class="oj-helper-clearfix">
                            <label data-bind="text:confirmMessage ">
                        </div>
                        <div slot="body">
                            <label data-bind="text:oprationMessage ">
                        </div>
                        <div slot="footer">

                            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[commitRecord2]]'>
                                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                            </oj-button>

                            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButton2]]'>
                                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                            </oj-button>
                        </div>
                    </oj-dialog>
                </div>


                <div id="dialogWrapper">
                    <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog3">
                        <div slot="header" class="oj-helper-clearfix">
                            <label data-bind="text: confirmMessage">
                        </div>
                        <div slot="body">
                            <label data-bind="text: oprationMessage"/>
                        </div>
                        <div slot="footer">
                            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[commitRecord3]]'>
                                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                            </oj-button>

                            <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButton3]]'>
                                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                            </oj-button>
                        </div>
                    </oj-dialog>
                </div>
            </div>
        </div>
    </div>
    <div id="train-container">
        <div>
            <oj-bind-if test='[[actionAvilable]]'>
                <oj-train id="train" selected-step="{{currentStepValue}}"
                          steps="[[stepArray]]" class="oj-train-stretch" on-oj-before-select="[[stopSelectListener]]" />
        </div>
        </oj-bind-if>
        <br />
        <h3 id="currentStepText" data-bind="text: currentStepValueText()"></h3>
        <div class="oj-form-layout">
            <oj-validation-group id="tracker" valid="{{groupValid}}">
                <div id="form-container" class="oj-form-layout">

                    <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations ">

                        <div class="oj-sm-12 oj-flex-item">

                            <oj-label> <span data-bind="text: personNumber"></oj-label>
                            <oj-select-one id="personNumber" on-value-changed="[[PersonChangeHandler]]" value="[[personnumberValue]]"
                                           options="[[employeeOptionsProvider]]" disabled='[[disableSubmit2]]'>
                            </oj-select-one>
                            <oj-button disabled='[[disableSubmit2]]' class="apBtn-2 apBtn-disabled-2" on-oj-action='[[buttonAdd]]'>
                                <span><oj-bind-text value="[[btnAddLbl]]"></oj-bind-text></span>
                            </oj-button>
                            <oj-button disabled='[[disableSubmit2]]' class="apBtn-2 apBtn-disabled-2" on-oj-action='[[buttonRest]]'>
                                <span><oj-bind-text value="[[btnRestLbl]]"></oj-bind-text></span>
                            </oj-button>
                            <oj-button disabled='[[disableDeleteBtn]]' class="apBtn-2 apBtn-disabled-2" on-oj-action='[[removeRow]]'>
                                <span><oj-bind-text value="[[btnDeleteLbl]]"></oj-bind-text></span>
                            </oj-button>

                            <oj-table id="tbl12" class='apTable-1' aria-label="Approvals Table"
                                      data='[[dataSourceTB2]]' display="grid" selectionMode="{'row': 'single'}"
                                      columns-default='{ "sortable": "enabled"}' dnd='{"reorder": { "columns": "enabled"}}'
                                      on-oj-before-current-row = "[[tableSelectionListener]]" columns='{{columnArray}}'>
                                <oj-paging-control id="paging" data='[[dataSourceTB2]]' page-size='5' slot='bottom' class='apPaging-1'>
                                </oj-paging-control>
                            </oj-table>


                        </div>

                    </div>
                    <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">

                        <div class="oj-form" id="xx">
                        </div>

                        <div class="oj-form">
                            <div class="form_field_dy_style">
                                <div class="oj-flex-item">
                                    <oj-label class="oj-label oj-component oj-complete"> <span data-bind="text: department"></span></oj-label>
                                    <oj-select-one placeholder="[[placeholder]]" value="{{departmentValue}}" options="{{DepartmentArr}}"
                                                   disabled='[[disableSubmit2]]'>
                                    </oj-select-one>
                                </div>
                            </div>

                            <div class="form_field_dy_style">
                                <div class="oj-flex-item">
                                    <oj-label class="oj-label oj-component oj-complete"> <span data-bind="text: refNumber"></span></oj-label>
                                    <oj-input-number min="0" value="{{refNumberValue}}" disabled='[[disableSubmit2]]'>
                                    </oj-input-number>
                                </div>
                            </div>
                        </div>

                        <div class="oj-form">
                            <div class="form_field_dy_style">

                                <div class="oj-flex-item">
                                    <oj-bind-if test="[[ishide() === true]]">
                                        <div>
                                            <oj-label for="control1" class="oj-label oj-component oj-complete"> <span
                                                    data-bind="text: attachment"></span></oj-label>
                                        </div>
                                        <div class="oj-flex-item">
                                            <br>
                                            <input type="file" onchange="prev(this.files)" accept="image/*" multiple />
                                        </div>
                                    </oj-bind-if>
                                    <div id="attachedfile">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </oj-validation-group>
        </div>

        <div id="componentDemoContent">
            <div id="dialogWrapper">
                <oj-dialog class="oj-dialog-content oj-dialog-default-content" id="modalDialog1">
                    <div slot="header" class="oj-he lper-clearfix">
                        <label data-bind="text:aproval" />
                    </div>
                    <div slot="body">

                        <!-- ko foreach: datacrad -->
                        <div class="approval-card-body app-crd-bdy-received app-crd-bdy-border-ar app-crd-bdy-border-suc">
                            <div class="app roval-card-header">
                                <h5 class="app-card-Pname"><span data-bind="text: approvalType">
                                    </span> </h5>
                                <p class="app-crd-typebadge badge-secondary" data-bind="css: status"><span data-bind="text:FYA"></span></p>
                            </div>
                            <div class=" row approval-card-inf-body">
                                <div class="col-md-6">
                                    <span class="badge badge-pill app-card-badge"><span data-bind="text: roleType">
                                        </span>
                                    </span> </div>

                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div slot="footer">
                        <oj-button class="apBtn-2" on-oj-action='[[closeDialog]]'>
                            <span><oj-bind-text value="[[ok]]"></oj-bind-text></span>
                        </oj-button>
                    </div>
                </oj-dialog>
            </div>

        </div>
    </div>

</div>