<stc-navbar [currentPage]="currentPage"></stc-navbar>

<section id="Stc-Skills-Matrix" class="pageSettings">
    <div class="container">

        <!----------------page info----------------->
        <div class="pageInfo">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-12 col-12 pageHeadInfo ">
                        <h5>{{'skills_matrix' | translation}}</h5>
                        <p>{{ 'skillsMatrix_subTitle_label' | translation }}</p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-12 my-auto">
                    <div class="row">
                        <div class="col-md-7 col-sm-6 col-12 my-auto">
                            <input class="form-control searchInput"  type="text" name="search"
                                [(ngModel)]="searchSkillsEmps" autocomplete="off" (input)="onSearchSkillsEmps($event)"
                                placeholder="&#xF002; {{ 'search_label' | translation }}"
                                style="font-family:Arial, FontAwesome !important" onfocus="this.placeholder=''"
                                onblur="this.placeholder='&#xF002; Search'">
                        </div>
                        <div class="col-md-5 col-sm-6  col-12 my-auto text-end">
                           <button class="configInfo" (click)="openSelect(selectEmp, loadingTemp)"><i class="fa fa-cog"
                            aria-hidden="true"></i>{{ 'configure_label' | translation }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!----------------load image------------------>
        <div class="con-image loadedImage text-center" *ngIf="!isLazyLoadEnabled && load">
            <img src="{{common.getAssetsPath()}}img/LoadingBasketContents.gif">
        </div>
        <!---------------skills matrix --------------->
        <div class="skillsContainer" *ngIf="!load">
            <div class="row">
                <!-------------repeat here-->
                <div class="col-12  order-2">
                    <div class="row">
                        <ng-container *ngFor="let employee of allSkillsData ; let i = index ">
                            <ng-container
                                *ngIf="!employee.hide && (pagesCount > 1 ?(i >= length * (pageIndex - 1)) && (i < length * pageIndex): true)">
                                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                    <div class="skillCard" (click)="openLg(isSummaryMode?'':'edit',employee.PERSON_ID)">
                                        <!-- header -->
                                        <div class="headInfo">
                                            <p 
                                                class="text-end editLabel" (click)="openLg('edit',employee.PERSON_ID)"><i
                                                    class="fa fa-pencil-square-o"
                                                    aria-hidden="true"></i>{{'edit' | translation}}</p>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-3 ">
                                                    <div class="con-image">
                                                        <img src="{{common.getUserImageById(employee.PERSON_ID)}}">
                                                    </div>
                                                </div>
                                                <div class="col-lg-9 col-md-9  col-sm-9 col-9 my-auto text-start">
                                                    <h6 class="name">{{employee.USER}}</h6>
                                                    <h6 class="jobTitle">{{employee.TYPE}}</h6>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-12  workload">
                                                    <div class="row padding10" >
                                                        <div class="col-6 text-start">
                                                            <span>{{'workLoad' | translation }}</span>
                                                        </div>
                                                        <div class="col-6 text-end ">
                                                            <span>{{employee.WORKLOAD || 0}}%</span>
                                                        </div>
            
                                                        <div class="progress">
                                                            <div class="progress-bar"
                                                                [ngStyle]="{'width':employee.WORKLOAD + '%'}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="skills">
                                            <div class="row">
                                                <div class="col-12 noPadding row"
                                                    *ngIf="isSummaryMode && currentCategoryViewed && employee.PERSON_ID == currentCategoryViewed.PERSON_ID">

                                                    <!-- headr -->
                                                    <div class="flex col-12">
                                                        <h6>{{currentCategoryViewed.type}} </h6>
                                                        <h6 class="flex-grow"></h6>
                                                        <h6 class=" noPadding text-right"
                                                            (click)="currentCategoryViewed = null"><i
                                                                class="fa fa-times" aria-hidden="true"></i></h6>
                                                    </div>
                                                    <!-- body -->
                                                    <div class="col-12 text-start">
                                                        <span class="item"
                                                            *ngFor="let i of currentCategoryViewed.items"> <span > &#8226;
                                                            {{i.SECTION_NAME}}</span>
                                                            </span>
                                                    </div>
                                                </div>

                                                <ng-container
                                                    *ngIf="!isSummaryMode || !currentCategoryViewed || employee.PERSON_ID != currentCategoryViewed.PERSON_ID">
                                                    <div class="col-12" 
                                                        *ngFor="let type of SkillsTypes;let ii = index">
                                                        <div class=" col-md-12 col-sm-12 col-12 skillDetails"
                                                            [ngClass]="{'col-lg-12':getEmpSkillSections(employee,type).length>4}">
                                                            <div class="row">
                                                                <div *ngIf="!isSummaryMode"
                                                                    class="col-12 noPadding flex text-center">
                                                                    <h6>{{type}}</h6>
                                                                </div>

                                                                <div *ngIf="isSummaryMode"
                                                                    class="col-12  flex text-center">
                                                                    <h6>{{type}}
                                                                        <span>({{getEmpSkillSections(employee,type).length}})</span>
                                                                    </h6>
                                                                    <h6 class="flex-grow"></h6>
                                                                    <h6 *ngIf="getEmpSkillSections(employee,type).length > 0"
                                                                        class=" noPadding text-right blueviolet"
                                                                        (click)="view(employee,type)">
                                                                        {{'view' | translation}}
                                                                    </h6>
                                                                </div>
                                                                <div *ngIf="!isSummaryMode"
                                                                    class="col-12 sourceSkills text-start my-auto">
                                                                    <div #ref [id]="'ii_'+ii"
                                                                        class="list-inline my-auto try">
                                                                        <ng-container
                                                                            *ngFor="let sec of getEmpSkillSections(employee,type)">
                                                                            <span >
                                                                                <span class="blueviolet">
                                                                                    &#8226; </span> {{sec.SECTION_NAME}}
                                                                            </span>
                                                                        </ng-container>
                                                                    </div>
                                                                    <p [hidden]="ref.childElementCount > 0 "
                                                                        class="noSkills">
                                                                        {{'hasNoSkills' | translation }}
                                                                    </p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>

                <!-------------header info------->
                <div class="col-12 order-1 countEmp">
                    <div class="row">

                        <div class="col-md-3 col-sm-4 col-12 text-start my-auto">

                            <mat-checkbox (change)="isSummaryMode = !isSummaryMode" [checked]="isSummaryMode">
                                <span>{{'change_view' | translation}}</span>
                            </mat-checkbox>
                        </div>

                        <div class="col-md-5 col-sm-8 text-center col-12 itemCount my-auto ">
                            <span
                                class="d-none d-sm-inline-block d-md-inline-block d-lg-inline-block">{{'display' | translation}}</span>
                            <input type="number" [max]="allSkillsData.length" (keydown)="keydown($event)"
                                (input)="setupPaging()" maxlength="2" min="3" [(ngModel)]="length">

                            <span>{{'per_page' | translation}}</span>
                        </div>
                        <h6 class="col-md-4 col-sm-6 col-12 my-auto"><span>{{getEmpCount()}}</span> {{'out-of'|translation}}
                            <span>{{allSkillsData.length}}</span> {{'Employees'|translation}}</h6>
                        
                        <div *ngIf="isLazyLoadEnabled" class="uline col-sm-6 col-12 text-start pointer" (click)="refresh()">
                            {{'refresh' | translation}}
                        </div>    

                    </div>
                </div>
                <!-----------------pagination-------------------->
                <div class="col-12 order-3">
                    <div class="pagination" [ngClass]="trans.direction()=='rtl'?'floatLeft':'floatRight'" *ngIf="pagesCount > 1">
                        <button *ngIf="pageIndex > 1" (click)="pageIndex = pageIndex - 1"><i class="fa"
                                [ngClass]="trans.direction() != 'rtl'?'fa-angle-left':'fa-angle-right'"
                                aria-hidden="true"></i>
                            {{'previous' | translation }}</button>
                        <span class="my-auto">{{'page' | translation }} {{pageIndex}} {{'of' | translation }}
                            {{pagesCount}}</span>
                        <button *ngIf="pageIndex  < pagesCount"
                            (click)="pageIndex = pageIndex + 1">{{'next' | translation }} <i class="fa"
                                [ngClass]="trans.direction() == 'rtl' ?'fa-angle-left':'fa-angle-right'"
                                aria-hidden="true"></i></button>
                    </div><span class="clr"></span>
                </div>
            </div>
        </div>


        <div class="skillsContainer" *ngIf="load && isLazyLoadEnabled">
            <div class="row ph-item">
                <ng-container *ngFor="let e of placeHolderArr">
                    <ng-container>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
                            <div class="skillCard box-placeholder">
                                <div class="headInfo">

                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-3 ">
                                            <div class="con-image">
                                                <img class="image" src="{{common.getUserImageById(0)}}">
                                            </div>
                                        </div>
                                        <div class="col-lg-9 col-md-9  col-sm-9 col-9 my-auto text-start">
                                            <h6 class="name" class="text line"></h6>
                                            <h6 class="jobTitle text"></h6>
                                        </div>

                                        <div class="text line"></div>
                                    </div>
                                </div>
                                <div class="skill">

                                    <ng-container *ngFor="let e1 of placeHolderArr">
                                        <div class="col-12 row" style="margin-bottom: 15px;">
                                            <h6 class="text link col-6"></h6>
                                        </div>
                                        <div style="margin:10px;">
                                            <div class="col-12 row" style="margin-bottom: 5px;">
                                                <h6 class="text col-6"></h6>
                                            </div>
                                            <div class="col-12 row" style="margin-bottom: 5px;">
                                                <h6 class="text col-6"></h6>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>


</section>




<!--------------------------popup---------------------->
<ng-template #content let-modal class="editModal">
    
        <div class="modal-header">

            <div class="headInfo">

                <div class="row">
                    <div class="col-12">
                        <button type="button" class="close noPadding text-end"  aria-label="Close"
                            (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true" >&times;</span>
                        </button>
                    </div>
                    <div class="col-md-2 col-sm-3 col-3 ">
                        <div class="con-image">
                            <img src="{{common.getUserImageById(empToBeUpdated.PERSON_ID)}}">
                        </div>
                    </div>
                    <div class="col-lg-4  col-sm-9 col-9 my-auto text-start">
                        <ng-container>
                            <h6 class="name">{{empToBeUpdated.USER}}</h6>
                            <div class="popupjobTitle ">
                                    <mat-form-field>
                                        <mat-label>{{'select_type' | translation}}</mat-label>
                                        <mat-select [(ngModel)]="empToBeUpdated.TYPE" required>
                                            <mat-option *ngFor="let type of types" [value]="type.CODE">
                                                {{type.DESCRIPTION}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                            </div>
                        </ng-container>
                    </div>

                    <div class="col-lg-5 col-sm-12 col-12 my-auto">
                        <ng-container>
                            <span>{{'workLoad' | translation }}</span> <span
                                class="floatRight">{{empToBeUpdated.WORKLOAD}}%</span><span class="clr"></span>
                            <div class="progress ">
                                <div class="progress-bar" [ngStyle]="{'width':empToBeUpdated.WORKLOAD + '%'}"></div>
                            </div>
                        </ng-container>
                    </div>

                    <div class="col-12 text-end" >
                        <mat-checkbox (change)="ischeckboxmode = !ischeckboxmode">
                            <span>{{'change_view' | translation}}</span>
                        </mat-checkbox>
                    </div>

                </div>
            </div>

        
    </div>


    <form #myForm="ngForm" [ngFormOptions]="{updateOn: 'blur'}">

        <div class="modal-body">
            

                <div class="row" *ngIf="ischeckboxmode">
                    <div class="col-12 searchBar text-end">

                        <div class="d-inline selectAll">
                            <mat-checkbox (change)="selectAll($event.checked,selectedCategory)"
                                [checked]="isAllChecked(selectedCategory)">
                                <span>{{(isAllChecked(selectedCategory)?'deselect_all':'select_all') | translation}}</span>
                            </mat-checkbox>
                        </div>
                        <div class="d-inline searchAll">
                            <span><i class="fa fa-search"></i></span>
                            <input type="text" class=" searchInput" name="searchKey"
                                [(ngModel)]="searchKey" placeholder="{{'search_label'|translation}}"
                                onfocus="this.placeholder=' '" (input)="search($event,selectedCategory)" />
                        </div>
                    </div>

                    <div class="col-3">
                        <div >
                            <div class="listSkills" *ngFor="let type of SkillsTypes"
                                (click)="selectedCategory = type; searchKey = ''"
                                [class.selectedItem]="type == selectedCategory">
                                {{type}}
                            </div>
                        </div>
                    </div>

                    <div class="col-5 listItem">
                        <ng-scrollbar [dir]="trans.direction()" class="text-start">
                            <ul [dir]="trans.direction()">
                                <ng-container *ngFor="let s of UpdateTemp[selectedCategory] |sortCheck">
                                    <li *ngIf="!s.hide" type="none">
                                        <mat-checkbox [checked]="s.SECTION_VALUE == 'Y'"
                                            (change)="s.SECTION_VALUE = $event.checked? 'Y':'N'">
                                            <span>{{s.SECTION_NAME}}</span>
                                        </mat-checkbox>
                                    </li>
                                </ng-container>
                            </ul>
                        </ng-scrollbar>
                    </div>


                    <div class="col-4 listItem">
                        <ng-scrollbar  [dir]="trans.direction()" class="text-start">
                            <ul [dir]="trans.direction()">
                                <ng-container *ngFor="let s of UpdateTemp[selectedCategory]">
                                    <li *ngIf="s.SECTION_VALUE == 'Y'" type="none">
                                        <mat-checkbox [checked]="s.SECTION_VALUE == 'Y'"
                                            (change)="s.SECTION_VALUE = 'N'">
                                            <span>{{s.SECTION_NAME}}</span>
                                        </mat-checkbox>
                                    </li>
                                </ng-container>
                            </ul>
                        </ng-scrollbar>
                    </div>

                </div>

                <div *ngIf="!ischeckboxmode">

                    <div class="row scrollable">
                        <div class="col-4 itemwithparagraph" *ngFor="let type of SkillsTypes">
                            <!-- header -->
                            <div class="CatInfo">
                                <p class="text-center">{{type}}</p>
                                <div class="text-start">
                                    <span><i class="fa fa-search"></i></span>
                                    <input type="text" class=" searchInput" name="searchKey"
                                        (input)="search($event,type)"
                                        [value]="type == selectedCategory ? searchKey : ''" />
                                </div>
                                <div class="text-start">
                                    <mat-slide-toggle (change)="selectAll($event.checked,type)"
                                        [checked]="isAllChecked(type)">
                                        <span>{{isAllChecked(type)?'Deslect All':'Select All'}}</span>
                                    </mat-slide-toggle>
                                </div>
                            </div>
                            <!-- body -->
                            <ul class="noPadding text-start">
                                <ng-container *ngFor="let s of UpdateTemp[type] |sortCheck">
                                    <li *ngIf="!s.hide" type="none">
                                        <mat-slide-toggle [checked]="s.SECTION_VALUE == 'Y'"
                                            (change)="s.SECTION_VALUE = $event.checked? 'Y':'N'">
                                            <span>{{s.SECTION_NAME}}</span>
                                        </mat-slide-toggle>
                                    </li>
                                </ng-container>
                            </ul>

                        </div>
                    </div>

                </div>
            
        </div>
        <!-- </ng-scrollbar> -->

        <div class="modal-footer skillModalFooter">
            <div class=" col-12">
                <button class="reset text-left" type="button" (click)="reset()"><i class="fa fa-repeat"
                        aria-hidden="true"></i> {{'reset-selection' | translation}}</button>
                <div class="text-center">
                    <button class="btn btn-light" (click)="save(modal);"><i class="fa fa-check"
                            aria-hidden="true"></i>{{ (empToBeUpdated.SKM_ID ? 'saveChanges_label' : 'create') | translation }}
                    </button>
                </div>
            </div>
        </div>
    </form>

</ng-template>

<!-- select emp to create -->
<ng-template #selectEmp let-modal>
    <div class="modal-header">
        <h6 class="headerTitle">{{'select_emp' | translation}}</h6>
        <button type="button" class="text-end close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body configBody text-start">

        <!-- <div class="empTypes text-start">
            <h6>{{'selectType'|translation}}</h6>
            <ul class="list-unstyled typeCheck">
                <ng-container *ngFor="let type of types">
                    <li *ngIf="type.CODE != -1">
                        <mat-checkbox (change)="type.isChecked = $event.checked ; onFilterTypeChanged()"
                            [checked]="type.isChecked" [disabled]="type.CODE != 'AUDITOR'">
                            <span>{{type.DESCRIPTION}}</span>
                        </mat-checkbox>
                    </li>
                </ng-container>
            </ul>
        </div> -->

        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>{{'selectanEmployee' | translation }}</mat-label>
                    <mat-select required [(ngModel)]="selectedUserId">
                        <ng-container >
                            <cdk-virtual-scroll-viewport itemSize="5" minBufferPx="200" maxBufferPx="400"
                            class="example-viewport-select">
                            <mat-option *cdkVirtualFor="let item of employeeWithoutSkills" [value]="item.PERSON_ID"
                               > {{item.PERSON_NAME}}
                            </mat-option>
                        </cdk-virtual-scroll-viewport>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6 my-auto text-start">
                <h6 class="empType" *ngIf="common.getUserTypeById(selectedUserId) !='No Role'">
                    {{common.getUserTypeById(selectedUserId)}}</h6>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" [disabled]="!selectedUserId"
            (click)="openAddingModel(selectedUserId)">{{'next' | translation}}</button>
    </div>
</ng-template>

<ng-template #loadingTemp>
    <div class="con-image loadedImage text-center" *ngIf="load">
        <img src="{{common.getAssetsPath()}}img/LoadingBasketContents.gif">
    </div>
</ng-template>