/************************pageInfo******************/
#Stc-Skills-Matrix .pageInfo .pageHeadInfo {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none ;
}
 .searchInput {
    outline: none;
    border: none;
    border-bottom: 1px solid #712c81;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
}
#Stc-Skills-Matrix .pageInfo .configInfo  {
    color: white;
    background: #712c81;
    border: 1px solid #712c81;
    color: #fff;
    padding: 12px 25px;
    border-radius: 25px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    font-size: 12px;
}
#Stc-Skills-Matrix .skillsContainer  .countEmp {
    color: #712c81;
    font-weight: bold;
    margin: 15px 0px 30px;
    padding-bottom: 30px !important;
    border-bottom: 1px solid #999 !important;
}
#Stc-Skills-Matrix .skillsContainer  .countEmp div{
    margin-bottom: 10px !important;
}
#Stc-Skills-Matrix .skillsContainer .countEmp .itemCount input
{
    border: none !important;
    background: #eee !important;
    padding: 5px 10px;
    box-shadow: none;
    margin: 0px 10px;
    outline: none ;
    border-radius: 10px;
}
#Stc-Skills-Matrix .skillsContainer .countEmp span {
    color: #888 !important;
}
/********************loading image********************/
.loadedImage {
   
    height: 85px;
    padding-top: 50px;
}
/************************skillCard********************/

#Stc-Skills-Matrix .skillsContainer .skillCard {
    min-height: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0px 20px 20px;
    margin-bottom: 40px;
    cursor: pointer;
    height: 500px;
    overflow-y: auto;
}
#Stc-Skills-Matrix .skillsContainer .skillCard::-webkit-scrollbar {
    display: none;
}

#Stc-Skills-Matrix .skillsContainer .skillCard .headInfo {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
    padding: 20px 0px;
}
#Stc-Skills-Matrix .skillsContainer .skillCard .headInfo .editLabel{
    color: blueviolet; width:100%;font-size: 15px;margin-bottom: 0px;
}

#Stc-Skills-Matrix .skillsContainer .skillCard .headInfo .con-image {
        height: 70px;
   
}
#Stc-Skills-Matrix .skillsContainer .skillCard .headInfo .con-image img {
    border-radius: 50%;
}
@media only screen and (max-width: 1200px) {
    #Stc-Skills-Matrix .skillsContainer .skillCard .headInfo .con-image {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 500px) {
    #Stc-Skills-Matrix .skillsContainer .skillCard .headInfo .con-image{
        width: 65px;
        height: 65px;
    }
}
#Stc-Skills-Matrix .skillsContainer .skillCard .headInfo .name {
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0;
    font-size: 14px;
}

#Stc-Skills-Matrix .skillsContainer .skillCard .headInfo .jobTitle {
    color: #999;
    font-size: 13px;
}

#Stc-Skills-Matrix .skillsContainer .skillCard .headInfo .workload {
    margin-top: 10px;
}

#Stc-Skills-Matrix .skillsContainer .skillCard .headInfo .workload span {
    margin-bottom: 5px;
    color: #999;
    font-size: 14px;
}

#Stc-Skills-Matrix .skillsContainer .skillCard .headInfo .workload .progress {
    width: 100%;
    height: 0.7rem;
    background-color: #ddd;
}

#Stc-Skills-Matrix .skillsContainer .skillCard .headInfo .workload .progress-bar {
    background-color: #712c81;
}

/********************skills*************/

#Stc-Skills-Matrix .skillsContainer .skillCard .skills {
    padding: 15px;
}

#Stc-Skills-Matrix .skillsContainer .skillCard .skills .flex h6 {
    font-size: 14px;
    color: #712c81;
    font-weight: bold;
    padding-top: 10px;
}
#Stc-Skills-Matrix .skillsContainer .skillCard .skills .flex  .fa-times
{
    color: blueviolet; font-size: 11px;
}
#Stc-Skills-Matrix .skillsContainer .skillCard .skills .flex .item span
{
    color: blueviolet;font-size: 15px;
}

#Stc-Skills-Matrix .skillsContainer .skillCard .skills .sourceSkills {
    margin-bottom: 50px;
}
#Stc-Skills-Matrix .skillsContainer .skillCard .skills .noSkills {
    color: #aaa;
    text-transform: capitalize;
    font-size: 14px;
}
/*********************pagination*******************/
#Stc-Skills-Matrix .pagination {
    padding-bottom: 30px;
}
#Stc-Skills-Matrix .pagination button {
    background: #712c81;
    border: 1px solid #712c81;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    font-size: 14px;
}

@media only screen and (max-width: 500px) {
    
    #Stc-Skills-Matrix .pagination button {
        padding: 10px 15px;
    }
}

#Stc-Skills-Matrix .pagination button:hover {
    color: #712c81;
    border: 1px solid #712c81;
    background-color: white;
    outline: none !important;
    box-shadow: none !important;
}

#Stc-Skills-Matrix .pagination span {
    margin: 0px 10px;
    color: #712c81;
    font-weight: bold;
    padding: 6px;
    border-radius: 5px;
    border: 2px solid #712c81;
}
/*******************************MODAL***********************/
 .modal-header {
    padding-top: 20px !important;
}
.modal-header .headerTitle
{
    width: 100%;
    font-weight: bold;
    text-align: start ;
}
 .modal-header .headInfo {
    /* padding-bottom: 40px; */
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}
.modal-header .close {
    
    cursor: pointer !important;
    outline: none !important;
    width: 100%;
    margin: unset;
    padding: unset;
    z-index: 9999999999999;
}
.modal-header .close span
{
    font-size: 20px !important;
}

.modal-header .headInfo .con-image {
    height: 100px;
}

.modal-header .headInfo .con-image img {
    border-radius: 50%;
}

.modal-header .headInfo .name {
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

.modal-header .headInfo .jobTitle {
    color: #999;
    font-size: 14px;
}


.modal-header .headInfo .progress {
    width: 100%;
    height: 0.7rem;
    background-color: #ddd;
}

.modal-header .headInfo .progress-bar {
    background-color: #712c81;
}

.modal-header .headInfo span {
    margin-bottom: 5px;
    color: #999;
    font-size: 14px;
}

.modal-body  {
    height: 350px;
    padding-bottom: 0px !important;
    overflow-x: auto;
    overflow-y: hidden;
}
.configBody
{
    height: auto !important;
}

.configBody .empTypes
{
    margin-bottom: 20px;
}
.configBody .empTypes h6 ,.empType
{
    color:#712c81 ; 
    font-weight: bold ;
    font-size:18px
}

.configBody .typeCheck
{
    padding-right: 0px;
}
.modal-body  .searchBar {
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 8888;
    padding-top: 10px;
}
.modal-body  .searchBar .selectAll{
    margin: 10px 15px 0px ;
}
.modal-body  .searchBar  .searchAll {
    position: relative;
    top: -5px !important;
}
.modal-body .listSkills {
    font-weight: bold;
    padding: 10px 5px;
    color: #712c81;
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
}

.modal-body .listSkills:hover {
    background: #712c81;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.modal-body  .listItem {
    max-height: calc(350px - 32px);
}
.modal-body  .itemwithparagraph {
    max-height: calc(350px - 32px - 18px) !important;
    overflow-y: auto;
}
.modal-body  .itemwithparagraph .CatInfo {
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 555;
}

.skillModalFooter {
    position: relative !important;
    z-index: 5 !important;
    background-color: white;
}
.skillModalFooter .reset {
    background: transparent;
    box-shadow: none;
    border: none;
    color: #712c81;
    font-size: 13px !important;
}
.example-viewport-select {
    height: 250px;
    /* width: calc(100% - 10px); */
    width: 100%;
  }

  .modal-footer .btn {
      background-color: #712c81 !important;
      color: white !important;
      padding: 10px 25px !important;
      border-radius: 30px;
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      font-size: 13px !important;
  }
  
.modal-footer .btn:hover {
    border: 1px solid #712c81 !important;
    color: #712c81 !important;
    background-color: white !important;
}
/*****************************************************/

::ng-deep.mat-checkbox-layout .mat-checkbox-label {
    /* line-height: 24px; */
    white-space: initial !important;
}

.row.scrollable {
    flex-wrap: unset !important;
    /* overflow-x: scroll ; */
    /* overflow-y: hidden; */
}

::-webkit-scrollbar {
    height: 5px !important;
    width: 5px !important;
    bottom: 0;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.486);
}

.text-center {
    text-align: center !important;
}



::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #712c81 !important;
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #712c81 !important;
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    /* background-color: rgba(255,215,64,.54); */
    background-color: rgba(0, 0, 0, 0.38) !important;
}

::ng-deep.mat-slide-toggle-content {
    /* white-space: normal !important; */
}
