/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

@font-face {
    font-family: 'adaa_font';
    src: url('fonts/ITCHandelGothicArabic-Md.eot?#iefix') format('embedded-opentype'),  url('fonts/ITCHandelGothicArabic-Md.woff') format('woff'), url('fonts/ITCHandelGothicArabic-Md.ttf')  format('truetype'), url('fonts/ITCHandelGothicArabic-Md.svg#ITCHandelGothicArabic-Md') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {

}
body { 

    font-family: 'adaa_font', sans-serif;

}

html, body, #oweidi, #oweidi1 {
width: 100% !important;
height: 100% !important;
margin: 0 !important;
padding: 0 !important;
}

text {
     font-family: 'adaa_font', sans-serif !important;
}

oj-module:not(.oj-complete) {
    visibility: hidden; 
}

oj-module {
    display: block; 
}
html[dir="rtl"] #float-main {
    float: right !important;
}
html[dir="ltr"] #float-main {
    float: left !important;
}
/*main body*/
.oj-web-applayout-content{
    background-color: #E3E3E3;
    /* padding: 0 !important; */
}
.oj-web-applayout-header{
    background-color: #E3E3E3;
}
.kpi-panel{
    background-color: #ffffff;
    /*border-radius: 10px;*/
    border-color: #00b388;
    margin-top: 5px;
}
.composite-kpi-panel{
    background-color: #f2f2f3;
    /*border-radius: 10px;*/
    border-color: #00b388;
    margin-top: 5px;
}
.composite-panel{
    position: static !important; 
    background-color: #ffffff;
    border: 0;
    overflow: hidden;
    height:219px; 
}
#composite-container{
    margin: 5px;
    
}
#composite-container adaa-card .adaa-card-front-side {
    background-color: #00b388;
}
#filter-train .oj-train-button.oj-visited,
#filter-train .oj-train-button.oj-active,
#filter-train .oj-active.oj-train-button.oj-hover,
#filter-train .oj-train-button.oj-hover,
#filter-train .oj-train-button.oj-hover.oj-visited::before,
#filter-train .oj-visited.oj-train-button.oj-active::before,
#filter-train .oj-train-button.oj-default,
#filter-train .oj-train-button.oj-visited::before{
    background-image: none;
    border-color: #008270;
    color: #008270;
    background-color: #008270;
}
.oj-train-button.oj-selected{
    border-color: #8a8d8f;
    background-color: #ffffff;
}

#filter-train .oj-train-button-text,
#filter-train .oj-train-button.oj-hover .oj-train-button-text,
#filter-train .oj-train-button.oj-visited .oj-train-button-text{
    color: #008270;
}
#filter-train .oj-train-button.oj-selected .oj-train-button-text,
#filter-train .oj-train-label.oj-selected{
    color: #ffffff !important;
}
#filter-train .oj-train-label-wrapper{
    position: relative;
    bottom: 4.2em;
}
#filter-train .oj-train-step-list{
    margin-top: 20px !important;
}
.train-year-label{
    font-weight: bold;
    text-align: center;
    color: #000000;
}
#filter-train .oj-train-step-list-item{
    line-height: 1.25 !important;
}
#filter-train .oj-train-step-individual-connector{
    width:200%; 
    background-color: #0D6E69 !important;
    right: 0;
}
.filter-train-container{
    background-color: #528e89; 
    border-radius: 0.25em;
    position: fixed;
    width: 80%;
    bottom: 0.5em !important;
}
.home-card {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 70vh;
}
.home-card div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
    width: 50%;
    background-color: #ffffff; 
    border-color: #00b388;
}
/*.fix_scrolling {
    position: absolute;
}*/
.home_click_img_prog {
    background:url(images/LandingPageImages/programsHomeCard1109.svg) no-repeat center center;
}
.home_click_img {
    width: 90%;
    height: 40%;
    margin-top: 266px;
    /* margin-right: 0%; */
}
.home_click_img_devices {
    background:url(images/LandingPageImages/devicesHomeCard1109.svg) no-repeat center center;

}
/*Nabil Code*/
.container { 
    width: 100vw;
    height: 100vh;
    
}
.main_bg{
    background:url(images/LandingPageImages/LandingPage1109.png) no-repeat center center;
    background-size: 100% 100%;    
    margin: -10px;
    padding-top: 24px !important;
}
.home_cards{
    width:70%;
    height: 96.9vh;
    margin: 0 auto;
    display:  flex;
    align-items:  center;
}
.home_cards .card_cont{
    background: rgba(255, 255, 255, .9) url(images/LandingPageImages/logo_cardsBg.png) no-repeat right top;
    width: 50%;
    height: 280px;
    border-radius: 20px;
    background-size: 36%;
    border: solid 1px rgba(15, 81, 66, .78);
    box-shadow: 3px 7px 23px #C2DBD6;
    display: flex;
    margin: 0 30px;
    color: #0a553c;
    text-decoration:  none;
    align-items: center;
    align-content:  center;
    flex-direction:  column;
}
#chart-container{
    width: 50%;
}
#barChart{
    margin:4px 1em;
    width: 76% !important;
    float:right;
}
#barChart g g g g :first-child text,
#barChart g g g g :last-child text{
    fill: #808185 !important;
    font-family: adaa_font;
    font-size: 14px;
    font-weight: 400;
}
.home_cards #barChart svg g text:nth-child(15),
.home_cards #barChart svg g text:nth-child(18){
    display: none;
}
.home_cards #barChart g g g g :first-child text,
.home_cards #barChart g g g g :last-child text,
#barChart text{
    fill: #ffffff !important;
}
#barChart path{
    stroke: rgba(0, 0, 0, 0) !important;
}
.home_cards #barChart text{
    fill: #F2F2F2 !important;
}
.home_cards .card_cont h2{
    font-size: 52px;
    margin-top: 20%;
    margin-bottom: 10px;
}
.home_cards .card_cont h4{
    color: #909695;
    font-size: 30px;
}
#composite-container > div:nth-child(3) { 
    display: none !important;
}
.oj-table-header-row {
background-color: #bababa;
color: #29665e;
}

.oj-table-body-row.oj-table-hgrid-lines {
background-color: white;
border-color: #f2f2f2;
border-width: 10px !important;
color:#29665e;

}
.oj-table-body-row {
border-top: 1px solid #e0e1e1;
color: #29665e;
background-color: white;
}

oj-table-body {
border-width: 1px !important;
border-color: #4eb18e !important;
}
#inititiveDetailsTable {
background-color: #f2f2f2;;
}
#kpiDetailsTable {
background-color: #f2f2f2;;
}
.oj-dialog-header {
justify-content: start !important;
}
.dialog_ok{
color: #29665e !important;
font-size: larger !important;
}
/*#ui-id-22 {
color: #29665e !important;
padding-right: .5% !important;
font-size: larger !important;
}
#ui-id-21 {
color: #29665e !important;
padding-right: .5% !important;
font-size: larger !important;
}*/
.oj-dialog-header {
color: #29665e !important;
font-size: larger !important;
}
.oj-table-body-message {
color: #29665e !important;
font-size: larger !important;
}
header{
    background-color: #01B08F !important;
    display: none;
    position: fixed;
    width: 100%;
    height: 10%; 
    box-shadow: none !important;
    z-index: 100;
}
body{
    background-color: #E3E3E3;
}
footer{ 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; 
    padding:0 !important;
    display: none; 
    max-height: 3.5em;
    color: #ffffff;
    background-color: #01B08F !important;
}
footer .left-logo{
    float:left;
    position: relative;
    left: 35px;
    top: 5px;
    max-width: 130px; 
    max-height: 120px; 
}
footer .right-logo{
    background: url(images/2030-0208.png) no-repeat;
    background-size: 100%;
    height: 100px !important;
    width: 35px !important;
    position: relative;
    right: 40px;
    top: 2px;
}
.page_title{
    font-size: 24px;
}
.main_bg1{
    margin: 1em 0;
}
.dashboard_cont{    
    padding: 45px 0;
    width: 100%;
    margin: 0 auto;
}
.row{
    display:  flex;
    align-items:  center;
    justify-content:  space-between;
}
.col{
    margin: 10px 10px;
}
.col-1{
    width: 100%;
}
.col-2{
    width: 50%;
}
.col-3{
    width: 33.3333%;

}
.col-4{
    width: 25%;
}
.col-5{
    width: 7%;
    margin: 12px 5px !important;
}
.filter_bg{
    left: 50px;
    position: fixed;
    top: 18px;
    z-index: 999;   
}
.filter_bg .oj-select-choice,
.filter_bg  oj-select-one,
.filter_bg select{
    font-size: 18px;
    text-align: center;
    font-family: adaa_font;
    color: #ffffff;
    border: 0;
    border-radius: 0;
    background-color: #01B08F; 
    outline: 0;
    padding-right: 15px !important;
}
.filter_bg select{
    border: 1px solid #ffffff !important;
}
.filter_bg a,
.oj-select-arrow, .oj-select-open-icon:before,
.filter_bg .oj-select-arrow .oj-component-icon,
.filter_bg .oj-select-open-icon .oj-select-arrow, 
.filter_bg .oj-clickable-icon-nocontext .oj-select-open-icon{
    color: #ffffff !important;  
    font-size: 20px !important;
}
.oj-listbox-results, .oj-listbox-drop{
    font-family: adaa_font;
    font-size: 22px;
    color: #ffffff;
    background: #0ea67c;
    overflow: hidden;
}
.oj-listbox-results .oj-hover{
    color: #0ea67c;
}
.font-25{font-size: 25px;}
.dashboard_info_home{
    position: absolute !important;
    top: 40px;
    left: 0;
    right: 0;
}
.dashboard_info,
.dashboard_info_containter{ 
    padding: 10px; 
    position:  relative;
    background: #ffffff;
    margin-bottom: 30px;
    max-height: 140px;
    pointer-events: none; 
}
.main_bg1 .dashboard_info .dashboard-text,
.main_bg1 .dashboard_info_containter .dashboard-text{
    float: right;    
    position: relative;
}
.dashboard_info:after{
    content:'';
    display:  block;
    position:  absolute;
    bottom: -30px;
    border: solid 15px transparent;
    border-top-color: #ffffff;
    left: 48%;
    pointer-events: all;
}
.expand-dashboard-info-container{    
    position: fixed; 
    display: none;
    border: 12px solid #E3E3E3; 
    width: 100%;
    left: -10px;
    top: 66px;
    z-index: 998;
}
.expand-dashboard-info{
    position: fixed;
    margin-right: calc(50% - 5px);
    border: solid 12px transparent;
    border-bottom-color: #ffffff;
    width: 0px;
    top: 60px;
    z-index: 999;
}
#dashboard-border{
    border-right: 5px solid #CCCCCC;
    height: 160px;
    position: absolute;
    top: 0;
    right: 65px;
}
#dashboard-border2{
    border-bottom: 5px solid #CCCCCC;
    width: 140px;
    position: absolute;
    top: 80px;
    right: 0;
}
.info_gradient_bg{
    color: #005A4E;
    display: block;
    margin: 5px 12px;
    justify-content: space-between;
}
.info_gradient_bg :first-child{  
    width: 70%;
}
.info_gradient_bg :last-child{ 
    width: 30%;
    text-align: center;
}
.home_cards .dashboard_info .dashboard-text,
.home_cards .dashboard_info_containter .dashboard-text{
    top: 11px;
    float: right;    
    position: relative;
}
.info_gradient_bg:nth-child(2){
    top: 30px;
    position: relative;
}
.home_cards .dashboard_info_home{
    top:0px;
    right: 30px;
}
.home_cards .dashboard_info_containter{
    background: none !important;
}
.home_cards .dashboard_info_containter .dashboard-text:nth-child(2){
    margin-right: 8px;
}
.dashboard-number{
    position: relative;
    bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}
.info_gradient{
    height: 58px;
}
.dashboard-text{
    color: #005A4E;
    font-size: 14px;
    text-align: center;
    margin-right: -10px;
    margin-top:2px;
}
.info_gradient2{
    top: 10px;
    position: relative;
}
.home_cards .info_gradient_bg{
    padding: 0;
}
.home_cards .info_gradient_bg :first-child,
.home_cards .info_gradient_bg{
    border: none; 
    background: none;
}
.progress{
    display: flex;
    margin: 10px 0;
}
.progress .progress_title{
    width: 15%;
    text-align:  right;
    margin: 10px 10px;
}.progress .progress_title h4{
     color:#4a4a4a;
 }
.progress .progress_chart{
    height: 40px;
    border-radius: 5px;
    width: 75%;
    background-image: linear-gradient(to right, #eeeeee, #d8d8d8);
    display:  flex;
    color: #4a4a4a;
    padding: 4px 2px;
    margin: 10px 10px;
}
.progress .progress_chart .progress_stats{
    height: 100%;
    position: relative;
    text-align:  center;
    margin: 0 3px;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.14);
    padding-top: 7px;
}
.progress .progress_title{
    width: 15%;
    text-align:  right;
    margin: 10px 10px;
}
.progress .progress_title h4{
     color:#4a4a4a;
}
.progress .progress_chart{
    height: 40px;
    border-radius: 5px;
    width: 75%;
    background-image: linear-gradient(to right, #eeeeee, #d8d8d8);
    display:  flex;
    color: #4a4a4a;
    padding: 4px 2px;
    margin: 10px 10px;
}
.progress .progress_chart .progress_stats{
    height: 100%;
    position: relative;
    text-align:  center;
    margin: 0 3px;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.14);
    padding-top: 7px;
}
.error{
    background-color:  #C00000 !important;
}
.warning{
    background-color:  #FBD903 !important;
}
.success{
    background:  #009a84 !important;
}
.normal{
    background-color:  #BABABA !important;
}
.wrapped_row{
    flex-wrap:  wrap;
    justify-content:  normal;
}
.wrapped_row .col-3{width:31.5%}
.program_list{
    border-radius: 5px;
    box-shadow: 3px 7px 19px 6px rgba(31, 65, 47, 0.07);
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px #0da67d;
    box-sizing: content-box;
}
.program_list h2 {
    box-shadow: 0 2px 4px 0 rgba(102, 179, 152, .4);
    border-bottom: solid 1px #14c586;
    text-align:  center;
    padding: 5px 10px;
}
.program_list h2 img{
    border: none;
    width: auto;
    height: 80px;
}
.program-details-text{
    color: #808185;
    font-size: 13px;
    text-align: right;
    text-decoration: underline;
}
.program-details-toggle-text{
    color: #808185;
    font-size: 13px;
    text-align: right;
}
.program_stats{
    background-color: #d8d8d8; 
    padding: 5px 0;
    text-align:  center;
    color: #ffffff;    
    font-size: 15px;
}
.program-details-img{ 
    background-color: #F2F2F2;
    text-align: center;
    padding: 5px 5px;
}
.program-details-img span{
    overflow: hidden;
    font-size: 14px;
    /* align-items: center; */
    display: inline-flex;
}
section.main_bg1 {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
overflow-y: scroll;
-webkit-overflow-scrolling: touch;
}
 
/* .kpi-row-details-container{
    margin: 1em 10%;
} */
.kpi-row-head{
    background-color: #C5DFDC; 
    font-size: 16px; 
    font-weight: 600; 
    text-align: center;
    border: 1px solid #000000; 
    color:#494C4D;
}
.dashboard-row-details-container{
    position: absolute;
    border:0.17em solid #CCCCCC;
    left: 10px;
    font-size: 12px;
    padding: 2px 0;
    width: 19%;
    color: #a1a1a1;
}
.dashboard-row-details-container2{
    top: 80px;
}
.dashboard-row-details-container .kpi-row-detail-label{
    margin-top: 3px;
    border: 1px solid #CCCCCC;
    font-size: 12px;
    padding:3px;
    color: #a1a1a1;
    font-weight: normal;
}
.dashboard-row-details-container .circle{
    height: 15px;
    width: 15px;
    background-color: #009a84;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -3px;
    margin-top: 3px;
}
.dashboard-row-details-container .kpi-row-head{
    background-color: white;
}
.dashboard-row-details-container .kpi-row-head1{
    border: none;
    border-left-color: #CCCCCC;
    background-color: #01B08F;
    color: #ffffff;
    float: right;
    width: 63px;
    margin: 10% 10px;
}

.first-kpi-row-detail-box{
    margin-top: -5px;
}
.kpi-row-detail-box{
    border-top:none !important;
}
.kpi-row-detail-label{
    border: 1px solid black;
    width: 10%;
    padding: 0 0.35rem; 
    color:#000000; 
    font-size: 13px;
}
.kpi-row-detail-info{
    border: 1px solid black;
    padding: 0 0.35rem; 
    color:#000000; 
    width: 75%;
    border-right: none !important;
}
.kpi-row-detail-info-box{
    width: 33%;
    height: 100%;
    color: #000000;    
    margin-bottom: 0;
    border-left: 1px solid black;
    text-align: center;
    float: right;
    padding-bottom: 2px;
    overflow: hidden;
    white-space: nowrap;
}
.kpi-row-detail-info-box:last-child{
    border-left: none;
}
.kpi-row-detail-info-box2{
    width: 20%;
    height: 100%;
}
.kpi-row-detail-info-box3{
    line-height: 7;
}
.arrow-wrapper{
    float: right;
    top: 19.5px;
    position: relative;
    width: 10px;
    padding: 0 20px;
}
.home-wrapper{
    font-size: 20px !important;
    top: 13px !important;
    right: 9px !important;
    position: relative !important;
    padding: 0 !important;
}
.filter-name-container{ 
    position: fixed;
    width: 75%;
    z-index: 999;
    top: 10px !important; 
}
.filter-name-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
.filter-name-container li { 
    display: none;
    float: right;
}
.filter-name-container li span{
    max-width: 17ch;
    max-height: 2ch;
    padding: 15px 0;
    color: #ffffff;
    float: left; 
    text-align: center;
    font-size: 14px; 
    text-overflow: ellipsis;
} 
.filter-name-container-devices li span{
    max-width: 30ch !important;
} 
th {
    text-align: center !important;
}
.program-popup-wrapper{
    position: relative;
    float: right;
    height: 0;
}
.program-popup-text{
    color: #000000;
    font-size: 18px;
    text-align: right;
}
.oj-table-body-row.oj-focus,
.oj-table-column-header-cell.oj-focus{
    outline: none !important;
}

.oj-select .oj-select-arrow {
    display: block;
}

html[dir="rtl"] .oj-select-native .oj-select-arrow {
    left: unset;
    padding-top: 3px !important;
}
#switch-kpi-container .oj-switch .oj-switch-thumb{
   background-color:#ffffff !important;
   border-color:#ffffff !important;
}
#switch-kpi-container .oj-switch.oj-selected .oj-switch-track,
#switch-kpi-container .oj-switch .oj-switch-track, .oj-switch.oj-default .oj-switch-track{
   background-color:#898C8E !important;
   border-color:#898C8E !important;
}

.oj-select-select {
    text-align: right;
    color: #02629f;
    background-color: transparent;
    border-style: solid;
    border-color: #027bc7;
    border-width: 0;
    border-radius: 5px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    height: 1.9375rem;
    width: 100%;
    white-space: nowrap;
    background-clip: padding-box;
    padding: 1px 0px;
    padding-left: 8px !important;
}
.highcharts-bar-series.highcharts-tracker :first-child{
    fill: #00B9AB;
}
.highcharts-bar-series.highcharts-tracker :nth-child(2){
    fill: #374749;
}
.highcharts-bar-series.highcharts-tracker :nth-child(3){
    fill: #FF615B;
}
.highcharts-bar-series.highcharts-tracker :nth-child(4){
    fill: #F3C900;
}
.highcharts-bar-series.highcharts-tracker :last-child{
    fill: #5F6A6D;
}
#lineChart text{
    font-size: 12px !important;
}
.horizontal-status-meter-sample{
  margin-top:5px;
  margin-bottom:5px;
  height:20px;
  direction: rtl;
  width:100%;
}
.anychart-credits,
.anychart-credits-logo,
.anychart-credits-text{
    display : none !important;
}
#gauge{ 
    transform: scale(-1,1);
}
.gauge-actual-text{
    color:#000000;
    font-size:12px;
    font-weight:bold;
    position: relative;
    left: 5px;
    bottom: 54px;
    float: left;
    left: 10px;
}

#barChart > svg > g > g > g > g:nth-child(2) {
    visibility: hidden;
}
.regional-source-text{
    font-size: 11px;
    left: 1px;
    padding-left: 4%;
    overflow: hidden;
    width: 33%;
    direction: ltr;
    position: absolute;
}
#kpiRowDetailsTable .oj-dialog-body{
    overflow:hidden;
}