/**************************Global Styles************************************/

a {
  text-decoration: none ;
}
li{
  list-style: none;
}

.d-block{
  display: block;
}
td, th {
  
  text-align: right;
  padding: 8px;
}
.title{
  margin: 30px 0;
  padding-left: 15px;
  color: #201b51;
  display: inline-block;
}
.subtitle{
  color: #666464;
  padding: 0 10px;
  font-weight: 500;
  font-size: 14px;
}
.mr-top-30{
  margin-top: 30px;
}
textarea {
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  border-color: #ccc;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  padding-top: 10px;
  width: 100%;
}
.textarea-wrapper {
  font-size: 11px;
  display: inline-block;
  /* background-image: linear-gradient(#F1F1F1 50%, #F9F9F9 50%); */
  background-size: 100% 32px;
  background-position: left 10px;
  width: 100%;
}
.load-input input,
.load-button button{
  background-image: url("./images/load.gif") !important;
  background-size: 30px 30px !important;
  background-position:right center !important;
  background-repeat: no-repeat !important;
} 
.load-element-entry-input-data{
  background-image: url("./images/load.gif") !important;
  background-size: 50px 50px !important;
  background-position:center center !important;
  background-repeat: no-repeat !important;
} /********** Start table***********/
.tableStyle {
    width: 100%;
    min-width: 100%;
    border: none !important;
    background-color: transparent!important;
    overflow-x: scroll;
}

.tableStyle tbody {
    height: 300px !important;
    width: 100% !important;
    overflow-y: scroll !important;
}
.tableStyle thead tr th {
    border: none !important;
    transition: all 0.1s ease-in-out;
}
.tableStyle tbody .oj-selected{
    background-color: #c98f48 !important;
}
.tableStyle thead .oj-selected{
    background-color: #c98f48 !important;
}
.tableStyle thead tr th:hover {
    background-color: #c98f48 !important; 
}

.tableStyle thead tr th:hover .oj-table-column-header {
    color: #FFF !important; 
}
.tableStyle tbody tr {
    border-bottom: 1px solid #888 !important;
    transition: all 0.1s ease-in-out;
    padding-bottom: 15px !important;
}

.tableStyle tbody tr:hover {
    background-color: #ccc !important;
}

.tableStyle tbody tr .oj-hover {
    background-color: #eee !important;
}

.tableStyle tbody tr td {
    border: none !important;
    transition: all 0.1s ease-in-out;
}
.tableStyle thead {
    border: none !important;
    background: #2e2a61 !important;
    color: #FFF;
    width: 100% !important;
}
.oj-table-sort-icon-container.oj-enabled {
  background-image: none !important; 
}
.tableStyle .oj-default.oj-clickable-icon-nocontext {
  color: #fff;
}
.pagingStyle {
    background: transparent;
    width: 100%;
    margin: 0;
}

.pagingStyle .oj-pagingcontrol-content .oj-pagingcontrol-nav  .oj-pagingcontrol-nav-arrow-section .oj-pagingcontrol-nav-arrow {
    width: 35px;
    height: 35px;
    border: 1px solid #E8E9EC;
    border-radius: 4px;
    margin: 5px 5px;
}

.pagingStyle .oj-pagingcontrol-content .oj-pagingcontrol-nav  .oj-pagingcontrol-nav-arrow-section .oj-pagingcontrol-nav-pages-section .oj-pagingcontrol-nav-page {
    width: 35px;
    height: 35px;
    border: 1px solid #201b51;
    border-radius: 4px;
    margin: 5px 5px;
    display: inline-block !important;
    padding: 0;
    background-color: transparent;
    color: #201b51;

}

.pagingStyle .oj-pagingcontrol-content .oj-pagingcontrol-nav  .oj-pagingcontrol-nav-arrow-section .oj-pagingcontrol-nav-pages-section {
    background-color: #201b51 !important;
    color: #FFF !important;
    border-color: #201b51 !important;
}
/*****************************End table*******************************/

/****************************Start button Style**********************/
.btnStyle .oj-enabled .oj-button {
    padding: 10px;
}

.btnStyle .oj-button-text {
    color: #201b51 ;
}
.btnStyle button:enabled {
    border: 1px solid #201b51 !important;
    background-color: transparent !important;
    border-radius: 5px !important;
    margin-right: 10px !important;
}
.oj-enabled.btnStyle button:hover {
    background: #201b51 !important;
}
.btnStyle .oj-button-label {
    padding: 13px 25px !important;
}

.oj-enabled.btnStyle:hover .oj-button-text {
    color: #fff !important;
}
.oj-enabled.btnStyle.oj-selected .oj-button-text{
  color: #fff !important;
}
.oj-enabled:hover button {
    cursor: pointer;
}
/*******btn Disabled********/
.btnStyle button:disabled {
    cursor: not-allowed !important;
}

.oj-disabled .oj-button-text {
    color: #ccc !important;
}

.oj-disabled {
    color: #ccc !important;
    border: 1px solid #ccc !important;
    background-color: transparent !important;
}

.btnStyle .oj-disabled:hover {
    background: none !important;
    border: 1px solid #ccc !important;
}

.btnStyle .oj-disabled .oj-button-label {
    padding: 13px 25px !important;
}


.btnStyle .oj-disabled .oj-button {
  padding: 10px;
}

.oj-disabled .oj-button-text {
  color: #ccc !important;
}

.oj-disabled {
  color: #ccc !important;
  border: 1px solid #ccc;
  background-color: transparent;
}

.btnStyle.oj-disabled:hover {
  background: none;
  border: 1px solid #ccc;
}
.btnStyle .oj-disabled .oj-button-label {
  padding: 13px 25px;
}
.btnStyle i{
  padding: 0 !important;
}
.process-title{
  color: #201b51;
}
/* End button */
/**************************************End global styles**************************************/
/*************************************Start tooltip******************************************/
[tooltip] {
  position: relative;
}

[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  /* opinion 2 */
  font-size: .9em;
  /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}

[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1001;
}

[tooltip]::after {
  content: attr(tooltip);
  font-family: Helvetica, sans-serif;
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: linear-gradient(#f6ac41, #2e2a61, #2e2a61);
  color: #fff;
  z-index: 1000;
  border-bottom: 4px solid #2e2a61;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}


/************************************************/


/* FLOW: UP */

[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}


/* FLOW: DOWN */

[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}

[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}


/* FLOW: LEFT */

[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}

[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}


/* FLOW: RIGHT */

[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}

[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}


/* KEYFRAMES */

@keyframes tooltips-vert {
  to {
      opacity: .9;
      transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
      opacity: .9;
      transform: translate(0, -50%);
  }
}


/* FX All The Things */

[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}
/***************************************End Tooltip***********************************************/

/***************************************Start Header*********************************************/
header{
  background-color: rgb(243 243 243);
  padding: 20px 15px;
}
.headerSetion button{ 
  border: none;
  background: transparent !important;
}
.headerSetion .nav-item:hover i{
  cursor: pointer;
}
.headerSetion .iconStyle {
  color: #04395f;
  border: none !important;
  font-size: 18px;
  padding: 0 !important;
  margin: 0 !important;
}
.prfilePicIcon{
  width: 45px;
  padding: 0 !important;
  border-radius: 93px;
}
.navbar-brand img{
  max-width: 200px;
  width: 100%;
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding-right: 15px !important;
  padding-left: 15px !important;
}
/************************************************************************************/

/*****************************Home page ********************************/
.lisIconSection{
  margin-top: 60px;
}
.lisIconSection li{
  margin: 20px 0;
}
.lisIconSection:hover li{
  cursor: pointer;
}
.lisIconSection a{
  text-align: center;
  display: block;
  color: #04395f;
  font-weight: 500;
}
.lisIconSection .imgHome:hover{
  box-shadow: 0 1px 5px 2px #04395f;
  transition: 0.4s;
}
.lisIconSection .listIcons:hover {
  text-decoration: underline ;
}
.imgHome{
  background: #04395f;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
  display: block;
}
/*****************************************************************************/

/**********************************Home setup page*****************************/
.homeSetupContent{
  height: 500px;
}
/*****************************************************************************/

/*********************************pages***************************************/
.advancedBtn{
  margin-bottom: 30px;
}

/********************************SideMenu***********************************/
.sidemenu {
  width: 90px;
  position: fixed;
  top: 120px;
  left: 25px;
  padding: 20px 0 20px 0;
  height: 100%;
  z-index: 1;
  border-radius: 20px;
  background-color: #2e2a61;
  background-image: linear-gradient(#f6ac41, #2e2a61, #2e2a61);
  text-align: center;
}

.sidemenu .sidemenu-item {
  text-decoration: none;
  padding: 25px 2px;
  display: block;
  cursor: pointer;
  color: #FFF;
}
.sidemenu .sidemenu-item .text{
  font-size: 12px;
}
.sidemenu .sidemenu-item  i{
  font-size: 25px;
}
.sidemenu .active{
  font-weight: bold;
  background-color: #F8F8F071;
  color: #201b51;
}
.sidemenu .sidemenu-item:hover{
  background-color: #F8F8F071;
  color: #201b51;
} 
#btn-sidemenu i{
  cursor: pointer;
  background-color: #f8f8f8;
  padding: 5px;
}
/* main content */
.main-content {
  display: block;
  margin-top: 25px;
  margin-left: 130px;
}
.content {
  position: relative;
  min-height: 200px;
}
.content-title {
  position: absolute;
  color: #201b51;
}
.content-navbar {
  margin-top: -30px
}
.content-navbar .btn {
  color: #201b51!important;
  border: 1px solid #ccc;
  background: #f8f8f8;
}

/* modal */
.modal-title {
  font-size: 18px!important;
}
/***************************************End SideMenu*****************************************************/


/**************************************Media Query******************************************/

@media (max-width: 1125px) {

}
@media (max-width: 768px) {
.sideDisplay{
  display: none;
}
.tableStyle{
  width: 100%;
}
.homeSetupContent {
  height: -webkit-fill-available;
}
}

.costing-popup{
  max-height: 700px;
  overflow-y: scroll;
}