<div class="container-fluid processSection mr-top-30">
  <oj-button class="btnStyle" data-bind="click: back"><i class="d-block fas fa-backward"></i>Back</oj-button>
  <h1 class="process-title mr-top-30">Transfer To GL</h1>
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-md-12 oj-sm-12 text-center mr-top-30">
      <oj-button class="btnStyle" id='keyword-search-btn ' on-oj-action="[[createTransferGL]]">
        Submit
      </oj-button>
    </div>
  </div>
  <div class="panel-custom p-4 border rounded-lg shadow-sm mr-top-30">
    <h5>Flow Details</h5>
    <div id="validation-usecase">
      <oj-validation-group id="create-tracker">
        <oj-form-layout max-columns="1" id="fl1" label-edge="start">
          <oj-input-text required value="{{payrollFlow}}" autocomplete="off" label-hint="Payroll Flow"
            style="max-width: 50%;">
          </oj-input-text>
        </oj-form-layout>
      </oj-validation-group>
    </div>
  </div>
  <div class="panel-custom p-4 border rounded-lg shadow-sm mr-top-30">
    <h5>Parameters Details</h5>
    <div id="validation-usecase">
      <oj-validation-group id="create-tracker-2">
        <oj-form-layout max-columns="1" id="fl1" label-edge="start">
          <oj-input-date required converter=[[dateFormat]] value="{{processEndDate}}" required
            label-hint="Process End Date" style="max-width: 50%;">
          </oj-input-date>         
          <oj-input-text value="{{payrollValue}}" autocomplete="off" label-hint="Payroll" style="max-width: 50%;">
          </oj-input-text>
          <oj-input-text value="{{consolidationGroup}}" autocomplete="off" label-hint="Consolidation Group"
            style="max-width: 50%;">
          </oj-input-text>
          <oj-input-date converter=[[dateFormat]] value="{{processStartDate}}" required label-hint="Process Star Date"
            style="max-width: 50%;">
          </oj-input-date>          
          <oj-input-text value="{{processConfigurationGroup}}" autocomplete="off"
            label-hint="Process Configuration Group" style="max-width: 50%;">
          </oj-input-text>
        </oj-form-layout>
      </oj-validation-group>
    </div>
  </div>
</div>
