<h1 class="header_headline_style"><span>
        <oj-bind-text value="[[labels().manageStoredFunctionsLbl]]"></oj-bind-text>
    </span></h1>
<div id="train-container" class="request_body_styling animated fadeInUp">

    <div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

            <div class="form-row">
                <div class="form-group col-md-6 srjob-col-pad">

                    <label data-bind="text: labels().nameLbl" />

                    <oj-input-text class="form-control" autocomplete="off" clear-icon="always"
                        placeholder="[[labels().placeHolder]]" value="{{functionNameSearchVal}}">
                    </oj-input-text>
                </div>

                <div class="form-group col-md-6 srjob-col-pad">

                    <label data-bind="text: labels().statusLbl"/>

                    <oj-select-one 
                        class="form-control"
                        placeholder="[[labels().placeHolder]]" 
                        value="{{statusSearch}}"
                        options="{{statusArr}}">
                    </oj-select-one>

                </div>

                <div class="form-group col-md-12 srjob-col-pad">
                    <br />

                    <div class="btn_row_st" align="center">

                        <oj-button id="ee-search-btn" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[searchStoredFunctions]]'
                            disabled="[[isSearchBtnDisabled]]">
                            <span>
                                <oj-bind-text value="[[labels().searchLbl]]"></oj-bind-text>
                            </span>
                            <span slot='endIcon' class="apiconClass fa fa-search"></span>
                        </oj-button>

                        <oj-button class="apBtn-2" on-oj-action='[[resetSearch]]'>
                            <span>
                                <oj-bind-text value="[[labels().resetSearchLbl]]"></oj-bind-text>
                            </span>
                            <span slot='endIcon' class="apiconClass fa fa-remove"></span>
                        </oj-button>

                    </div>
                </div>
            </div>
            <br />

            <div id="form-container" class="row">
                <div class="btn_row_st" align="center">
                    <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                        <span>
                            <oj-bind-text value="[[labels().backActionLbl]]"></oj-bind-text>
                        </span>
                        <span slot='endIcon' class="apiconClass fa fa-arrow-circle-left"></span>
                    </oj-button>

                    <oj-button class="apBtn-2 apBtn-disabled-2"
                        on-oj-action='[[contentDialogCreateBtn]]'>
                        <span>
                            <oj-bind-text value="[[labels().createLbl]]"></oj-bind-text>
                        </span>
                        <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                    </oj-button>

                    <oj-button id="ee-resubmit-btn" class="apBtn-2 apBtn-disabled-2"
                        on-oj-action='[[contentDialogEditBtn]]' disabled="[[isOperationBtnDisabled]]">
                        <span>
                            <oj-bind-text value="[[labels().editLbl]]"></oj-bind-text>
                        </span>
                        <span slot='endIcon' class="apiconClass fa fa-edit"></span>
                    </oj-button>

                    <oj-button id="ve-resubmit-btn" class="apBtn-2 apBtn-disabled-2"
                    on-oj-action='[[contentDialogViewBtn]]' disabled="[[isOperationBtnDisabled]]">
                        <span>
                            <oj-bind-text value="[[labels().viewLbl]]"></oj-bind-text>
                        </span>
                        <span slot='endIcon' class="apiconClass fa fa-eye"></span>
                    </oj-button>

                    <oj-button id="de-resubmit-btn" class="apBtn-2 apBtn-disabled-2"
                    on-oj-action='[[contentDialogDeleteBtn]]' disabled="[[isOperationBtnDisabled]]">
                        <span>
                            <oj-bind-text value="[[labels().deleteLbl]]"></oj-bind-text>
                        </span>
                        <span slot='endIcon' class="apiconClass fa fa-trash"></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[refreshDataBtn]]' style="position: absolute; right: 0;">
                        <span>
                            <oj-bind-text value="[[labels().refreshLbl]]"></oj-bind-text>
                        </span>
                        <span slot='endIcon' class="apiconClass fa fa-refresh"></span>
                    </oj-button>

                </div>
            </div>
        </div>

    </div>
    <br />

    <div>
        <oj-table id='table' class='apTable-1' data='[[dataSource]]'
            selection-mode='{"row": "single", "column": "single"}' dnd='{"reorder": {"columns": "disabled"}}'
            display="grid" on-oj-before-current-row="[[tableSelectionListener]]" columns='{{columnArray}}'>
            <oj-paging-control id="paging" class='apPaging-1' data='[[dataSource]]' page-size='10' slot='bottom'>
            </oj-paging-control>
        </oj-table>

    </div>

</div>

<div id="popupWrapper">
    <oj-popup id="operationDialog" class="el-entry-observation-popup" position.my.horizontal="center"
        position.my.vertical="center" position.at.horizontal="center" position.at.vertical="center" position.of="window"
        position.offset.y="-10" modality="modal">

        <div class="el-entry-observation-popup-body">
            <div class="demo-popup-header">
                <h5 data-bind="text: operationDialogHeader"></h5>
            </div>

            <div class="el-entry-observation-popup-content">
                <oj-validation-group id="tracker" valid="{{groupValid}}">

                    <label data-bind="text: labels().bodyContentLbl" />
                    <oj-text-area class="el-entry-file-content-tarea" required="true" disabled="[[isContentAreaDisabled]]" value="{{bodyContentValue}}">
                    </oj-text-area>

                </oj-validation-group>
                <div style="color:red" data-bind="visible: isDeleteMsgVisible">
                    <label data-bind="text: labels().deleteConfirmLbl" />
                    <label data-bind="text: labels().undoneDeleteConfirmLbl" />
                </div>
                
            </div>

            <div class="demo-popup-footer">
                <oj-button data-bind="visible: isSubmitVisible" class="apBtn-2" on-oj-action='[[submitAction]]'>
                    <span>
                        <oj-bind-text value="[[operationBtnLbl]]"></oj-bind-text>
                    </span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                    <span>
                        <oj-bind-text value="[[labels().cancel]]"></oj-bind-text>
                    </span>
                </oj-button>
            </div>
        </div>
    </oj-popup>

</div>