<div><oj-messages position="{}" display="general" messages="[[messages]]"></oj-messages></div>
<div id="train-container" style="width:100%; align-content: center;align-items: center">

    <center> <h1><span data-bind="text:lookupTitleLabl" /> </h1></center>

    <div class="oj-form">
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">

                <oj-button id="cancel" data-bind="visible: hidecancel"
                           style="display:inline-block;vertical-align:top;width:80px"
                           on-oj-action="[[cancelAction]]">
                    <span slot='endIcon' style="color: #000" ><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                </oj-button>


                <oj-button id="Previous" data-bind="visible: hidepervious"
                           style="display:inline-block;vertical-align:top;width:80px"
                           on-oj-action="[[previousStep]]">
                    <span slot='endIcon' style="color: #000" ><oj-bind-text value="[[pervious]]"></oj-bind-text></span>
                </oj-button>

            </div>
            <div class="oj-flex-bar-end">

                <oj-button id="Next" data-bind="visible: hidenext"
                           style="display:inline-block;vertical-align:top;width:80px"
                           on-oj-action="[[nextStep]]">
                    <span slot='endIcon' style="color: #000" ><oj-bind-text value="[[next]]"></oj-bind-text></span>
                </oj-button>


                <oj-button id="submit"  data-bind="visible: hidesubmit"
                           style="display:inline-block;vertical-align:top;width:80px"
                           on-oj-action="[[submitButton]]"
                           visible="[[currentStepValue() == 'stp2']]">
                    <span slot='endIcon' style="color: #000" ><oj-bind-text value="[[submit]]"></oj-bind-text></span>
                </oj-button>
                <oj-button id="submit"  data-bind="visible: hideUpdatesubmit"
                           style="display:inline-block;vertical-align:top;width:80px"
                           on-oj-action="[[submitUpdateButton]]"
                           visible="[[currentStepValue() == 'stp2']]">
                    <span slot='endIcon' style="color: #000" ><oj-bind-text value="[[submit]]"></oj-bind-text></span>
                </oj-button>
            </div>

        </div>
    </div>

    <div style="text-align: center;white-space:nowrap;" disabled> 
        <oj-train id="train"
                  style="max-width:700px;margin-left:auto;margin-right:auto;"
                  selected-step="{{currentStepValue}}" steps="[[stepArray]]"
                  class="oj-train-stretch"
                  on-oj-before-select="[[stopSelectListener]]"/>
    </div>

    <br>
    <div class="oj-form-layout oj-panel" style="align-content: center">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline" style="align-content: center">
            <oj-validation-group id="tracker" valid="{{groupValid}}">
                <div class="oj-flex" >
                    <div class="oj-flex" style="width:200px">
                        <label  data-bind="text: lookupName " />
                    </div>
                    <oj-input-text  class="disable-element" required  value="{{lookupNameVal}}"  disabled="false" style="width:200px" >
                    </oj-input-text>
                </div>

                <div class="oj-flex" >
                    <div class="oj-flex" style="width:200px">
                        <label  data-bind="text: lookupcode " />
                    </div>
                    <oj-input-text class="disable-element"  required  value="{{lookupcodeVal}}"  disabled="false"  style="width:200px" >
                    </oj-input-text>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex" style="width:200px">
                        <label   data-bind="text: valueArabic  "/>
                    </div>
                    <oj-input-text  class="disable-element"  required value="{{valueArabicVal}}"  disabled="false"  style="width:200px" >
                    </oj-input-text>

                </div>
                <div class="oj-flex">
                    <div class="oj-flex" style="width:200px">
                        <label  data-bind="text: valueEnglish  "/>
                    </div>
                    <oj-input-text  class="disable-element" required  value="{{valueEnglishVal}}"  disabled="false"  style="width:200px" >
                    </oj-input-text>

                </div>
            </oj-validation-group>

        </div>
    </div>
    <div id="dialogWrapper">
        <oj-dialog style="display:none;width:350px;height:auto"
                   id="yesNoDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text:confirmMessage "/>
            </div>
            <div slot="body">
                <label data-bind="text:oprationMessage "/>
            </div>
            <div slot="footer">
                <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[commitRecord]]'>
                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                </oj-button>

                <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButton]]'>
                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>
    <div id="dialogWrapper">
        <oj-dialog style="display:none;width:350px;height:auto"
                   id="yesNoDialogUpdate">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text:confirmMessage "/>
            </div>
            <div slot="body">
                <label data-bind="text:oprationMessageUpdate"/>
            </div>
            <div slot="footer">
                <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[commitRecordupdate]]'>
                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                </oj-button>

                <oj-button disabled="{{disableSubmit()}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButtonupdate]]'>
                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>
</div>