<div class="products" style="text-align: -webkit-center;">

    <!--Cars Products section-->
    <div class="vehicle text-center">
        <div id='text'>
            <h2 data-bind="text: label().chooseCar()"></h2>
        </div>
    </div>

    <!--Cars Models section-->
    <oj-bind-if test="[[dataStatus() == 'dataRetrieved']]">
    <div id='text'>
        <div id="componentDemoContent" style="width: 1px; min-width: 100%;" >
            <div id="listviewContainer">
                <div class="sign-form" id="main">
                    <oj-input-text id="text-input10" autocomplete="on"  class="formInput"  clear-icon="conditional" value="{{search}}"  on-raw-value-changed="[[handleValueChanged]]" placeholder="[[label().searchLbl()]]">
                    </oj-input-text>
                </div>
                <div class="choose-section">
                    <div id="listviewContainer">
                        <oj-list-view id="listview" aria-label="simple list" 
                                      data="[[dataProvider]]" selection-mode="single"
                                      selection="{{selectListner}}" 
                                      on-current-item-changed="[[carModelsClickAction]]" style="overflow: hidden;text-align: justify;border: none !important;">
                            <template slot="itemTemplate" data-oj-as="item">
                                        <div class="car-info">                                       
                                            <img style="width:150px;height: 80px;" data-bind="attr: {src: item.data.img}"/>                                       
                                            <oj-label class="label-line">
                                                <oj-bind-text value="[[item.data.Name_c]]"></oj-bind-text>
                                            </oj-label>
                                        </div>
                            </template>

                        </oj-list-view>
                    </div> 

                </div>


            </div>
        </div>
    </div>
</oj-bind-if>
<oj-bind-if test="[[dataStatus() == 'noDataAvailable']]">
    <div  class="no-data-section">
        <h1 class="text-center" data-bind="text: label().noDataText()"></h1>
    </div>
</oj-bind-if>
<oj-bind-if test="[[dataStatus() == 'loading']]">
    <div class="reservation-content">
        <h1 class="text-center" data-bind="text: label().load()"></h1>
    </div>
</oj-bind-if>
</div>
