<div class="products">
    <div class="oj-applayout-content">
        <!-- ko  if: koArray().length > 0 -->
        <div id="filmStripDiv" class="oj-panel car-img" >
            <oj-film-strip id="filmStrip" 
                           aria-label="images" 
                           arrow-placement="adjacent"
                           arrow-visibility="visible" style="height: auto; margin: auto;width: 100%; max-width: max-content;">
                <oj-bind-for-each data="[[koArray]]">
                    <template data-oj-as="item">
                        <img style="width:60%;" data-bind="attr: {src:item.data.image , alt: item.data.name}"/>
                    </template>
                </oj-bind-for-each>
            </oj-film-strip>
        </div>
        <!-- /ko-->
        <!-- ko  if: koArray().length == 0 -->
        <div id="filmStripDiv" class="oj-panel car-img" >
            <oj-film-strip id="filmStrip" 
                           aria-label="images" 
                           arrow-placement="adjacent"
                           arrow-visibility="visible" style="height: auto; margin: auto;width: 100%; max-width: max-content;">
                        <img style="width:60%;" src="css/images/car_placeholder.png"/>
            </oj-film-strip>
        </div>
        <!-- /ko-->
        <br>
        <div style="position: relative ; margin-top: 20px;">
            <oj-button style="" class="btnPrimary">
            <span><oj-bind-text value="[[label().requestTestDrive()]]"></oj-bind-text></span>
            </oj-button>
            <oj-button style="" class="btnPrimary">
            <span><oj-bind-text value="[[label().reservationPayment()]]"></oj-bind-text></span>
            </oj-button>
        </div>
        <br>
    </div>
    <div style="text-align-last: center;">
    <div><strong data-bind="text: label().dimentionsLbl()"></strong>
        <div class="container" style="margin-top: 15px;">
            <oj-label class="label-line">
                <strong data-bind="text: label().length()">:</strong> : &nbsp;
                <oj-bind-text value="4,475"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">  
                <strong data-bind="text: label().width()">:</strong>: &nbsp;
                <oj-bind-text value="1,850"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().heigth()">:</strong>: &nbsp;
                <oj-bind-text value="1,660 With Roof Rack"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().wheelBase()">:</strong>: &nbsp;
                <oj-bind-text value="2,670"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().groundClearance()">:</strong>: &nbsp;
                <oj-bind-text value="182"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().luggageCapasity()">:</strong>: &nbsp;
                <oj-bind-text value="488 ℓVDA"></oj-bind-text>
            </oj-label>
        </div>
    </div>
        <br>
    <div><strong data-bind="text: label().weigthLbl()"></strong>
        <div class="container" style="margin-top: 15px;">
            <oj-label class="label-line">
                <strong data-bind="text: label().curbWeigth()">:</strong>: &nbsp;
                <oj-bind-text value="1,538"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().grossVehicleWeight()">:</strong>: &nbsp;
                <oj-bind-text value="2,050"></oj-bind-text>
            </oj-label>
        </div>
    </div>
        <br>
    <div><strong data-bind="text: label().suspensionLbl()"></strong> 
        <div class="container" style="margin-top: 15px;">
            <oj-label class="label-line">
                <strong data-bind="text: label().front()">:</strong>: &nbsp;
                <oj-bind-text value="Macpherson Strut Type"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().rear()">:</strong>: &nbsp;
                <oj-bind-text value="Multi Link Type"></oj-bind-text>
            </oj-label>
        </div>
    </div>
        <br>
     <div><strong data-bind="text: label().modelLbl()"></strong>
        <div class="container" style="margin-top: 15px;">
            <oj-label class="label-line">
                <strong data-bind="text: label().model()">:</strong>: &nbsp;
                <oj-bind-text value="[[productsRetrieved().Model_c]]"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().categoryName()">:</strong>: &nbsp;
                <oj-bind-text value="[[productsRetrieved().CategoryName_c]]"></oj-bind-text>
            </oj-label>
        </div>
    </div>
        <br>
    <div><strong data-bind="text: label().powerPerformanceLbl()"></strong> 
        <div class="container" style="margin-top: 15px;">
            <oj-label class="label-line">
                <strong data-bind="text: label().enginCapasity()">:</strong>: &nbsp;
                <oj-bind-text value="1,591 GAMMA GDI"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().maxPower()">:</strong>: &nbsp;
                <oj-bind-text value="130 / 6,300"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().maxTorque()">:</strong>: &nbsp;
                <oj-bind-text value="161 / 4,850"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().valveSys()">:</strong>: &nbsp;
                <oj-bind-text value="16 Valve - DVVT"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().cylinder()">:</strong>: &nbsp;
                <oj-bind-text value="4 IN-LINE"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().fuelTankCapacity()">:</strong>: &nbsp;
                <oj-bind-text value="62"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().speedAutoTrans()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().speedDualClutchTrans()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
        </div>
    </div>
        <br>
    <div><strong data-bind="text: label().steerWheelsLbl()"></strong> 
        <div class="container" style="margin-top: 15px;">
            <oj-label class="label-line">
                <strong data-bind="text: label().mdbs()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().alloyWheels16()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().alloyWheels17()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().alloyWheels19()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().tirePressureMonSys()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().fullSpareAlloyWheel()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
        </div>
    </div>
        <br>
    <div><strong data-bind="text: label().saftySecurityLbl()"></strong> 
        <div class="container" style="margin-top: 15px;">
            <oj-label class="label-line">
                <strong data-bind="text: label().engineImmobilizer()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().speedSensing()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().dualFrontAirBag()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().sideAndCurtainAirBag()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().abs()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().ebd()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().ess()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().esc()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().vsm()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().bas()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().hac()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().dbc()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().epb()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().seatBeltReminder()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().insideEcmMirror()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().rearParkingAssist()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().frontAndRearParkingSensor()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().blindSpotDetectSys()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().rearViewCamera()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().allAroundViewMon()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
        </div>
    </div>
        <br>
    <div><strong data-bind="text: label().optionListLbl()"></strong>
        <div class="container" style="margin-top: 15px;">
            <oj-label class="label-line">
                <strong data-bind="text: label().keylessEntry()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().smartKey()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().remoteEngineStart()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().superVisionCluster()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().manualLeveling()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().powerOutlet()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().dms()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().cruiseControl()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().tiltAndTelSteerWheel()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().rearPrivClass()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().fullSolarGlass()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().outFoldMirror()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().outMirror()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().outDoorHandler()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().manAc()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().autoAc()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().rearAirVent()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().glovCoolBox()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().panoSlidRoof()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().autoLigthSensor()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().frontConvFogLamp()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().ledPosLight()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().dedicatedDrl()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().rearLedCompLamp()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().premClothSeats()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().leatherSeatCover()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().leatherSeatCoverRed()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().leatherWrapedWheel()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().manAdjustDriverSeat()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().powAdjustDriverSeat()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().passPowerSeat()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().frontVent()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().rearArmRest()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().rearSpliteSeat()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().rearAdjustableHeadRest()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().chromedInAndOutDoorHandler()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().doorBeltLine()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().roofRack()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().rearSpoiler()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().chromedFrontGrill()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().autoDefogSys()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().ledHeadLamps()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().headLampWashers()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().powerTailGate()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().autoRainSensor()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
        </div>
    </div>
        <br>
    <div><strong data-bind="text: label().entertainmentSysLbl()"></strong>
        <div class="container" style="margin-top: 15px;">
            <oj-label class="label-line">
                <strong data-bind="text: label().multiFuncSteerWheel()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().radio5()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().audioTouchscreen()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().bluetooth()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().noOfSpeakers()">:</strong>: &nbsp;
                <oj-bind-text value="6"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().frontUsb()">:</strong>: &nbsp;
                <oj-bind-text value="S"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().wirlessCharger()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
            <oj-label class="label-line">
                <strong data-bind="text: label().rearUsbInput()">:</strong>: &nbsp;
                <oj-bind-text value="-"></oj-bind-text>
            </oj-label>
        </div>
    </div>
    </div>

</div>