<div class="dashboard-page">

    <!-- start carousel -->

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="css/images/header-img.jpg" style="width:100%;">
                <div class="header-text">
                    <h3 data-bind="text: label().newTucsan()"></h3>
                    <p>
                        <span><oj-bind-text value="[[label().carDetail()]]"></oj-bind-text></span>
                    </p>
                    <oj-button  on-oj-action='[[newproduct]]' class="main-btn">
                        <span><oj-bind-text value="[[label().learnMore()]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </div>

            <div class="item">
                <img src="css/images/header-img-2.jpg" style="width:100%;">
                <div class="header-text">
                    <h3 style="color: #333;" data-bind="text: label().creta()"></h3>
                    <p style="color: #333;">
                        <span><oj-bind-text value="[[label().carDetail2()]]"></oj-bind-text></span>
                    </p>
                    <oj-button on-oj-action='[[newproduct]]' class="main-btn">
                        <span><oj-bind-text value="[[label().learnMore()]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <i class="fas fa-2x fa-chevron-left"></i>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <i class="fas fa-2x fa-chevron-right"></i>
        </a>
    </div>

    <!-- end carousel -->

    <!-- start models -->

    <div class="models">
        <div class="container">
            <h2 class="text-center" data-bind="text: label().models()"></h2>
            <div class="row" data-bind="foreach: carsModelArr">
                <div class="col-md-3 col-sm-6 col-xs-12" data-bind="click: $parent.carModelClickAction">
                    <img data-bind="attr:{src: img}" alt="tucson car" >
                    <h3 class="upper" data-bind="attr:{text : Name_c}"></h3>
                    <span class="upper"><oj-bind-text value="[[Name_c]]"></oj-bind-text></span>
                </div>
            </div>
<!--        <div id="filmStripDiv" class="oj-panel car-img" >
            <oj-film-strip id="filmStrip" 
                           aria-label="images" 
                           arrow-placement="adjacent"
                           arrow-visibility="visible" style="height: auto; margin: auto;width: 100%; max-width: max-content;">
                <oj-bind-for-each data="[[carsModelArr]]">
                    <template data-oj-as="item">
                        <div class="col-md-3 col-sm-6 col-xs-12" data-bind="click: carModelClickAction" >
                            <img data-bind="attr:{src: item.data.img}" alt="tucson car" >
                            <span class="upper"><oj-bind-text value="[[item.data.Name_c]]"></oj-bind-text></span>
                        </div>
                    </template>
                </oj-bind-for-each>
            </oj-film-strip>
        </div>-->
            <oj-button on-oj-action='[[newproduct]]' class="main-btn text-center">
                <span><oj-bind-text value="[[label().learnMore()]]"></oj-bind-text></span>
            </oj-button>

        </div>
    </div>

    <!-- end models -->

    <!-- start img section  -->

    <div class="img-section">
        <img src="css/images/section-img.jpg">
        <div class="img-info">
            <div class="container">
                <h3 data-bind="text: label().elentra()"></h3>
                <p>
                    <span><oj-bind-text value="[[label().elantraParag()]]"></oj-bind-text></span>
                </p>
            </div>
        </div>
    </div>

    <!-- end img section -->

    <!-- start mapping -->

    <div class="mapping">
        <div class="container">
            <h2 class="mapping-title" data-bind="text: label().shoppingTool()"></h2>
            <div class="row">

                <div class="col-md-4 col-sm-12">
                    <h3 data-bind="text: label().findDealerInPlace()"></h3>
                    <ul>
                        <li>
                            <h5>
                                <div class="mapping-icon"> <i class="fas fa-2x fa-map-marker-alt"></i></div>
                                <a href="#" data-bind="click: location">
                                    <span><oj-bind-text value="[[label().findDealer()]]"></oj-bind-text></span>
                                </a>
                            </h5>
                        </li>

                        <li>
                            <h5>
                                <div class="mapping-icon"> <i class="fas fa-2x fa-car"></i></div>
                                <a href="#" data-bind="click: routeToPage.bind(this,'testDrive')">
                                    <span><oj-bind-text value="[[label().requestTestDrive()]]"></oj-bind-text></span>
                                </a>
                            </h5>
                        </li>

                        <!--                        <li>
                                                    <h5>
                                                        <div class="mapping-icon"> <i class="far fa-2x fa-file-alt"></i></div>
                                                        <a href="">Request a Brochure</a>
                                                    </h5>
                                                </li>
                        
                                                <li>
                                                    <h5>
                                                        <div class="mapping-icon"> <i class="fas fa-2x fa-quote-right"></i></div>
                                                        <a href="">Request a Quote</a>
                                                    </h5>
                                                </li>-->

                    </ul>
                </div>

                <div class="col-md-8 col-sm-12">
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3452.922231562763!2d31.033047715517903!3d30.067763581873926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbf701da8102702fc!2sHyundai+GB+Auto+-+Abo+Rawash+-+Showroom+%26+Service+Center!5e0!3m2!1sen!2sus!4v1543939838744" width="100%" height="400" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>		
                    </div>
                </div>

            </div>
            <br>
            <br>
            <!--            
                                    <div class="text-center">
                                        <h3 class="connected">Stay Connected</h3>
                                        <oj-button class="main-btn">Contact Us</oj-button>
                                    </div>-->

        </div>
    </div>

    <!-- end mapping -->

    <!-- start services -->

    <div class="services">
        <div class="row">
            <div data-bind="click: routeToPageVehicle.bind(this,'maintenance')" class="service item-1 col-md-3">
                <h2 data-bind="text: label().maintenance()"></h2>
            </div>

            <div data-bind="click: routeToPage.bind(this,'testDrive')" class="service item-6 col-md-3">
                <h2 data-bind="text: label().testDrive()"></h2>
            </div>

            <div data-bind="click: routeToPage.bind(this,'vehicleHistory')" class="service item-5 col-md-3">
                <h2 data-bind="text: label().vehicleHistory()"></h2>
            </div>

            <div data-bind="click: routeToPage.bind(this,'products')" class="service item-8 col-md-3">
                <h2 data-bind="text: label().products()"></h2>
            </div>

            <div data-bind="click: routeToPage.bind(this,'reservationPayment')" class="service item-7 col-md-3">
                <h2 data-bind="text: label().reservationPayment()"></h2>
            </div>

            <div data-bind="click: routeToPageVehicle.bind(this,'complain')" class="service item-2 col-md-3">
                <h2 data-bind="text: label().complain()"></h2>
            </div>

            <div data-bind="click: routeToPageVehicle.bind(this,'inquiry')" class="service item-3 col-md-3">
                <h2 data-bind="text: label().inquiry()"></h2>
            </div>

            <div data-bind="click: routeToPageVehicle.bind(this,'service')" class="service item-4 col-md-3">
                <h2 data-bind="text: label().service()"></h2>
            </div>


        </div>
    </div>
    <!-- end services -->



    <!-- <div class="dashboard-content">

        <div class="dash-title" id='text'>
            <h2 data-bind="text: label().help()"></h2>
            <h4 data-bind="text: label().chooseCategory()"></h4>
        </div>
        <div id='buttons-container' class="dash-components">
            <oj-button class="big-btn" id='signIn' on-oj-action='[[maintenance]]'>
                <p><i class="fas fa-fw fa-4x fa-tools"></i></p>
                <p class="btn-text"><oj-bind-text value="[[label().maintenance()]]"></oj-bind-text></p>
            </oj-button>

            <oj-button class="big-btn" id='signIn' on-oj-action='[[complain]]'>
                <p><i class="fas fa-fw fa-4x fa-envelope-open-text"></i></p>
                <p class="btn-text"><oj-bind-text value="[[label().complain()]]"></oj-bind-text></p>
            </oj-button>
            
            <oj-button class="big-btn" id='signIn' on-oj-action='[[inquiry]]'>
                <p><i class="fas fa-fw fa-4x fa-envelope-open-text"></i></p>
                <p class="btn-text"><oj-bind-text value="[[label().inquiry()]]"></oj-bind-text></p>
            </oj-button>
            
            <oj-button class="big-btn" id='signIn' on-oj-action='[[service]]'>
                <p><i class="fas fa-fw fa-4x fa-envelope-open-text"></i></p>
                <p class="btn-text"><oj-bind-text value="[[label().service()]]"></oj-bind-text></p>
            </oj-button>

            <oj-button class="big-btn" id='signIn' on-oj-action='[[vehicleHistory]]'>
                <p><i class="fas fa-fw fa-4x fa-history"></i></p>
                <p class="btn-text"><oj-bind-text value="[[label().vehicleHistory()]]"></oj-bind-text></p>
            </oj-button>

            <oj-button class="big-btn" id='signIn' on-oj-action='[[promotions]]'>
                <p><i class="fas fa-fw fa-4x fa-gift"></i></p>
                <p class="btn-text"><oj-bind-text value="[[label().promotions()]]"></oj-bind-text></p>
            </oj-button>

            <oj-button class="big-btn" id='signIn' on-oj-action='[[testDrive]]'>
                <p><i class="fas fa-fw fa-4x fa-car"></i></p>
                <p class="btn-text"><oj-bind-text value="[[label().testDrive()]]"></oj-bind-text></p>
            </oj-button>

            <oj-button class="big-btn" id='signIn' on-oj-action='[[reservationPayment]]'>
                <p><i class="fas fa-fw fa-4x fa-hand-holding-usd"></i></p>
                <p class="btn-text"><oj-bind-text value="[[label().reservationPayment()]]"></oj-bind-text></p>
            </oj-button>
            
            <oj-button class="big-btn" id='signIn' on-oj-action='[[products]]'>
                <p><i class="far fa-fw fa-4x fa-comments"></i></p>
                <p class="btn-text"><oj-bind-text value="[[label().products()]]"></oj-bind-text></p>
            </oj-button>

            <oj-button class="big-btn" id='signIn' on-oj-action='[[fqa]]'>
                <p><i class="far fa-fw fa-4x fa-comments"></i></p>
                <p class="btn-text"><oj-bind-text value="[[label().fqa()]]"></oj-bind-text></p>
            </oj-button>
            
            <oj-button class="big-btn" id='signIn' on-oj-action='[[location]]'>
                <p><i class="far fa-fw fa-4x fa-comments"></i></p>
                <p class="btn-text"><oj-bind-text value="[[label().location()]]"></oj-bind-text></p>
            </oj-button>
        </div>

    </div> -->



</div>   




