
* {
    line-height: 1.5 !important;
}

.myTD {
    width: 500px;
}
.topcorner{
    position:absolute;
    top:35;
    right:130;
    width: 95px;
    height: 35px;
    text-align: center;
    border-radius: 8px;
}
.demo-icon-circle-font {
    font-family: "Alta Icon Font";
    line-height: 1;
    display: inline-block;
}


.m-popup{
    opacity: 1 !important;
    transform: unset !important;
    top: 116.51px !important;
    left: 377.333px !important;
}

.shine {
    background: #5277b8;
    background-image: linear-gradient(to right, #5277b8 0%, #88a4d4 20%, #5277b8 40%, #5277b8 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    display: inline-block;
    position: relative;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
    -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.shine-div {
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    background-color: #5277b8;
    height: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 70%;
}

@-webkit-keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.loading {
    background-image: url("http://loadinggif.com/images/image-selection/3.gif") !important;
    background-size: 25px 25px;
    background-position: right center;
    background-repeat: no-repeat;
}

oj-md-condense.demo-conduent-icon {
    width: 137px;
    height: 50px;
    content: url("./images/appspro_logo.png");
    position: absolute;
}

.demo-oracleui {
    font-size: 20px;
    color: white;
    background-color: #F2F1EF;
}

.textwhite {
    color: #fefeff;
}

a {
    color: #333;
}

a:hover {
    cursor: pointer
}

a span {}

.oj-menu-dropdown .oj-menu-item>a {
    height: 40px;
    line-height: 2.5;
    color: #000;
}

body {
    overflow-y: unset !important;
}

html[dir=ltr] body {
    text-align: left;
}

html[dir=rtl] body {
    text-align: right;
}

h1 {
    font-size: x-large;
    font-weight: bolder;
    text-transform: capitalize;
}

h2 {
    font-size: large;
    font-weight: bolder;
    text-transform: capitalize;
}

h3 {
    font-size: large;
    font-weight: lighter;
    text-transform: capitalize;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.cardface {
    background-color: white !important;
}

:lang(en-US) td,
th {

    text-align: left;
    padding: 2px;
}
.btnHedaerRow{
    position: absolute;
    top: 30px;
    right:20px;

}

#search {
    left: 0px;
    right: 0px;
    margin: 0 auto;
}

:lang(ar) td,
th {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 2px;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(./images/loading.gif) center no-repeat #fff;
}

.preloader-container {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.preloader {
    background: url(./images/loading.gif) center no-repeat #fff;
    width: 100%;
    height: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#animatableCard {
    min-height: 280px;
}

.demo-popup {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


@media screen and (max-width: 1150px) {
    .btnHedaerRow{
        position: unset;
        float: right;
    }
}

@media screen and (max-width: 500px) {
    .downBtnList{
        max-width: 300px !important;
        text-align: center !important;
        margin-top: 20px;
    }
    .max-wodthBtn{
        width: 100% !important;
        margin-bottom: 10px;
        display: block;
    }
}

#myHistory{
    max-width: 700px;
    margin: auto;
}
.nextApprovalTable td:nth-child(2){
    max-width: 200px;
    min-width: 200px;
}
.nextApprovalTable td:nth-child(1){
    max-width: 27px;
    width: 27px;
}
.nextApprovalTable{
    width: 100%;
}
.allTable{
    width: 100%;
    max-width: 100%;
}
.demo-popup-body {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.demo-popup-header {
    align-self: flex-start;
    margin-bottom: 10px;
}

.demo-popup-content {
    align-self: stretch;
    overflow: auto;
    flex-basis: 60vh;
}

.demo-popup-footer {
    align-self: flex-end;
    margin-top: 10px;
}

.table-edit-for-scroll {
    width: 1px;
    min-width: 100%;
    overflow-x: auto;
    border-radius: 5px;
    box-shadow: 0 6px 12px -6px black
}

.loginborder {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 25px;
}

.display-none {
    display: none !important;
}

.display-inline-flex {
    display: inline-flex !important;
}

.loginfont {
    font-size: 15px;
    color: #008975;
}

.panelstyle {
    border: 0;
    border-style: solid;
    border-color: #353535;
    border-radius: 25px;
    height: 160px;
    position: relative;
    top: 5px;
    left: 0px;
    background: -webkit-linear-gradient(left, #ffffff 30%, #595C61 12%, #595C61 26%, #595C61 51%, #595C61 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
}

.ppstyle {
    border: 10px solid #fff;
    left: 58px;
    border-radius: 90px;
    width: 162px;
    height: 162px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -13px;
}

.info_card_sty {
    padding-left: 90px !important;
}

.panellogostyle {
    width: 268px;
    position: relative;
    top: -11px;
    height: 153px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
    border-color: var(--primary-color);
}

.arabicpanel .ppstyle {
    left: -60px !important;
}

.arabicpanel .info_card_sty {
    padding-right: 69px !important;
}

.show_details_card {
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 3px;
    display: block;
    max-width: 100px;
    margin: 0 auto;
    text-align: center;
}
.recommend-actions {
    display: inline;
}
.add-attachment2 {
    width: 49%;
    min-width: 250px;
    display: inline-table;
}
#ui-id-55 {
    border: none;
}

#detailsImage {
    border: none;
    border-radius: 10px;
}

.srjob-col-pad {
    padding: 0 50px !important;
}

.signinbackground {
    text-align: center;
    color: #1a1a1a;
    width: 100%;
    padding: 10px;
    background-image: linear-gradient(to right bottom, #038fd1, #2c907e, #429586, #559b8d, var(--primary-color));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.signinbackground2 {
    margin-top: -12px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-left: 7px solid var(--primary-color);
    border-right: 7px solid var(--primary-color);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background: none;
    height: 9px;
}

.singinfont {
    font-size: 30px;
    color: white;
}

.MYdropdown {
    display: inline-block;
    position: relative;
    margin-top: -50px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--primary-light-shade);
    position: absolute;
    bottom: 0;
    left: -5px;
    z-index: 9;
}

.MYdropdown_button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    background-color: #038fd1;
    cursor: pointer;
    white-space: nowrap;
}

.MYdropdown_button:hover {
    background-color: #eeeeee;
}

.MYdropdown_input {
    display: none;
}

.MYdropdown_menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    list-style-type: none;
}

.MYdropdown_input+.MYdropdown_menu {
    display: none;
}

.MYdropdown_menu oj-option {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.myPop2.oj-complete{
    z-index: 100; 
    /*    left: unset !important;
        top: unset !important;*/
    transform: unset !important; opacity: 100 !important;
    width:auto !important;
    max-width: 600px;
    max-height: 500px;
}

.myPop2.reassignDialog{
    top: 0px !important;
    left: 0px !important;
    margin: 10% 20%;
}
.MYdropdown_menu oj-option:hover {
    background-color: #f6f6f6;
}

.MYdropdown_menu oj-option a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
}

#myMenu2 .oj-menu-item {
    min-height: 40px;
    padding:5px 0px;
}
#messenger-button {
    background-color: var(--primary-color) !important;
}

.form-ui-ul #ui-id-55 {
    background-color: transparent !important;
}

.home_icon_style_ar {
    text-align: right !important;
}

:lang(en-US) .float-lang {
    float: right;
}

:lang(ar) .float-lang {
    float: left;
}

.arabicpanel {
    background: -webkit-linear-gradient(right, #ffffff 30%, #595C61 12%, #595C61 26%, #595C61 51%, #595C61 100%);
}

.oj-web-applayout-header {
    box-shadow: none;
}

.oj-navigationlist-vertical .oj-navigationlist-item .oj-selected {
    background-color: #f2f2f3;
}

.oj-navigationlist-item-label {
    color: white !important;
}

.oj-button-icon oj-end oj-component-icon oj-button-menu-dropdown-icon {
    visibility: hidden !important;
}

@media screen and (max-width: 1210px) {
    .textResponsive {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 1150px) {
    .btn_row_st {
        max-width: 650px;
    }
}

.oj-inputnumber {
    max-width: 100% !important;
}

.header_logo_min_fa {
    margin: 0 auto !important;
    width: 100%;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header_logo_min {
    margin: 0 auto;
    align-content: center;
    align-items: center;
    display: block;
    height: 100%;
}

.icon-size {
    font-size: 20px !important;
}

@media(min-width:1024px) {
    .main-select-one {
        width: 200px !important;
    }
    header .oj-navigationlist-listview {}
    .top-nav-st li {
        border-radius: 5px;
    }
    .header_logo_min_fa {
        display: none;
    }
}


/* @media(max-width:557px){
    header .top-nav-st .oj-navigationlist-item-label{ display: none;}
} */

.oj-inputdatetime,
.oj-inputdatetime-date-time,
.oj-inputdatetime-date-only,
.oj-inputdatetime-time-only {
    max-width: unset;
}

.oj-inputtext,
.oj-inputpassword,
.oj-textarea,
.oj-inputtext-nocomp,
.oj-inputpassword-nocomp,
.oj-textarea-nocomp {
    max-width: unset;
}

.main-dialog {
    overflow: hidden !important;
    max-width: 500px;
    max-height: 600px;
}

.dialog-popup {
    width: 60%;
    margin: 0 20%
}

.oj-popup-layer {
    background-color: none !important ;
    width: 0 !important;
    height: 0  !important;
}

.oj-popup-layer .oj-messaging-popup {
    width: 160px;
}

.oj-dialog-content {
    width: 100%;
    overflow: auto;
}

#drawerToggleButtonor .oj-button-icon::before {
    color: var(--primary-color) !important;
}

#drawerToggleButtonor {
    background: #ffffff !important;
    margin-right: 0px;
    margin-top: 15px;
    margin-left: 0px;
}

.applayout-container {
    padding-top: 0 !important;
}

#detailsImg {
    margin-left: 30px;
    font-size: 30px;
    color: white;
}

.oj-md-hide {
    background: var(--primary-color) !important;
}

.oj-button oj-component oj-enabled oj-button-half-chrome oj-button-text-icon-end oj-complete oj-default {
    background: yellow !important;
}

oj-menu-button .oj-selected {
    background-color: #353535 !important;
}

oj-menu-button .oj-selected {
    background-color: #353535 !important;
}

.oj-combobox {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    min-width: 100%;
    max-width: 100% !important;
    width: 100%;
    font-size: 1rem;
    margin: 20px auto;
}

.oj-flex-bar-end {
    padding-left: 0 !important;
}

.toggel_div {
    padding-left: 0 !important;
}

.toggel_div button {
    margin-left: 0 !important;
}

.toggle_1 {
    float: right;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

header {
    margin-bottom: 20px;
    width: 100%;
    height: 70px;
}

.approval-card-body {
    width: 100%;
    padding: 10px 20px;
    margin: 10px auto;
    border-style: solid;
    border: 0px;
    border-radius: 10px;
}

.app-crd-bdy-border-ar {
    border-right-width: 5px;
}

.app-crd-bdy-border-en {
    border-left-width: 5px;
}

.app-crd-bdy-received {
    background-color: #f8f9fa;
}

.app-crd-bdy-notreceived {
    background-color: #f8f9fa;
}

.app-crd-bdy-border-suc {
    box-shadow: 0px 1px 6px 0px #28A745aa;
    border-style: solid;
    border-color: #28A745;
}

.app-crd-bdy-border-fail {
    box-shadow: 0px 1px 6px 0px #DC3545aa;
    border-style: solid;
    border-color: #DC3545;
}

.app-crd-bdy-border-pen {
    box-shadow: 0px 1px 6px 0px #FFC107aa;
    border-style: solid;
    border-color: #FFC107;
}

.app-crd-bdy-border-ntre {
    box-shadow: 0px 1px 6px 0px #343A40aa;
    border-style: solid;
    border-color: #343A40;
}

.app-crd-bdy-border-suc {
    box-shadow: 0px 1px 6px 0px #28A745aa;
    border-style: solid;
    border-color: #28A745;
}

.app-card-Pname {
    display: inline-block
}

.app-card-badge {
    min-width: 95px;
    padding: 5px;
}

.app-card-blockqoute {
    margin-bottom: 0px;
}

.app-crd-type {
    margin-bottom: 1px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.app-type-a {
    background-color: #17A2B8;
}

.app-type-i {
    background-color: #6c757d;
}

.app-card-for-ar {
    float: left;
}

.app-card-for-en {
    float: right;
}

.app-crd-progressbar-body {
    height: 5px;
    width: 80%;
    margin: 20px auto;
}

.app-card-badge.badge-warning {
    background-color: transparent;
    animation: pendAlert 1s 1s infinite;
}

@keyframes pendAlert {
    0% {
        box-shadow: 0 0 20px 0px #ffc107;
        background-color: #ffc107aa;
    }
    50% {
        box-shadow: none;
        background-color: transparent;
    }
    100% {
        box-shadow: 0 0 20px 0px #ffc107;
        background-color: #ffc107aa;
    }
}

.app-card-badge.badge-danger {
    background-color: transparent;
    animation: rejAlert 1s 1s infinite;
}

@keyframes rejAlert {
    0% {
        box-shadow: 0 0 20px 0px #dc3545;
        background-color: #dc3545aa;
    }
    50% {
        box-shadow: none;
        background-color: transparent;
    }
    100% {
        box-shadow: 0 0 20px 0px #dc3545;
        background-color: #dc3545aa;
    }
}

.app-card-prog-type-rj {
    background-color: #dc3545;
}

.app-card-prog-type-pen {
    background-color: #ffc107;
}

.app-card-prog-type-app {
    background-color: #28a745;
}

.oj-combobox-choice a.oj-clickable-icon-nocontext {
    background: var(--primary-color);
    height: 29px;
    height: 3.28571rem;
    line-height: 3;
    color: white;
    cursor: pointer;
    margin: 0 auto;
    max-width: 100% !important;
}

.oj-select {
    position: relative;
    display: inline-block;
    min-width: 8em;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
    padding-bottom: 5px;
    max-width: 100% !important;
}

.form-control {
    padding: 0px;
    margin-bottom: 25px;
}

html .oj-form-control {
    vertical-align: middle;
    min-width: 50% !important;
}

.oj-combobox-choice a.oj-clickable-icon-nocontext:after {
    color: var(--primary-color);
}

.oj-combobox-choice {
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    min-height: 40px;
}

#search-button {
    text-decoration: none;
    background: #f2f1ef;
    border-right-color: var(--primary-color);
}

.oj-fwk-icon-magnifier:before,
.oj-listbox-search-icon:before,
.oj-inputsearch-search-icon:before {
    color: var(--primary-color);
}

.search-keyword-box {
    position: absolute;
    top: 45px;
}

.oj-inputnumber-input {
    background-color: white;
    height: 32px;
}

.oj-inputdatetime-date-only {
    width: 100%;
}

.oj-button-primary.oj-button.oj-disabled.oj-button-full-chrome {
    background-color: var(--primary-color);
}

.oj-select-jet .oj-select-arrow {
    width: 40px;
    height: 32px;
    /* background: var(--primary-color); */
    color: var(--secondary-color)!important;
}

.oj-fwk-icon-arrow02-s:before,
.oj-fwk-icon-arrow02-w:before,
html:not([dir="rtl"]) .oj-fwk-icon-arrow02-start:before,
html[dir="rtl"] .oj-fwk-icon-arrow02-end:before,
html[dir="rtl"] .oj-navigationlist-collapsible .oj-navigationlist-collapse-icon:before,
.oj-navigationlist-collapsible html[dir="rtl"] .oj-navigationlist-collapse-icon:before,
.oj-fwk-icon-arrow02-n:before,
.oj-fwk-icon-arrow02-e:before,
html[dir="rtl"] .oj-fwk-icon-arrow02-start:before,
html:not([dir="rtl"]) .oj-fwk-icon-arrow02-end:before,
html:not([dir="rtl"]) .oj-navigationlist-collapsible .oj-navigationlist-collapse-icon:before,
.oj-navigationlist-collapsible html:not([dir="rtl"]) .oj-navigationlist-collapse-icon:before,
.oj-button-menu-dropdown-icon:before,
.oj-navigationlist-collapsible .oj-navigationlist-expand-icon:before,
.oj-combobox-open-icon:before,
.oj-select-open-icon:before {
    margin-top: 7px !important;
}

.oj-table-grid-display .oj-table-header-row,
.oj-table-editable .oj-table-header-row {
    color: var(--table-text-color);
    height: 45px;
    width: 100%;
}

.oj-table-grid-display .oj-table-header {
    background: #683867;
}

.oj-table-grid-display .oj-table-header th:hover {
    background-color : #411f41;
    cursor: pointer;
}

html:not([dir="rtl"]) .oj-pagingcontrol-nav-input-section {
    display: none;
}

html:not([dir="rtl"]) .oj-label-inline {
    display: none;
}

html:not([dir="rtl"]) .oj-pagingcontrol-nav-arrow-section {
    border-left: none;
}

.oj-pagingcontrol-nav {
    float: right;
}

.oj-pagingcontrol-nav-input-summary.oj-label-inline {
    display: none;
}

.oj-pagingcontrol-nav-input-section {
    display: none;
}

html[dir="rtl"] .oj-pagingcontrol-nav-arrow-section {
    border-right: none;
}

oj-input-text {
    background-color: white;
    border-radius: 5px;
}

.oj-inputtext-input {
    background-color: white;
}

.form-row {
    width: 100%;
}

.top-nav-st li {}

.top-nav-st .oj-navigationlist-item-icon {
    color: var(--primary-color) !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 22px;
}

.oj-navigationlist-vertical .oj-navigationlist-item-icon {
    color: ver(--secondary-color);
}

.top-nav-st .oj-navigationlist-item-label {
    color: var(--secondary-color)!important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.oj-web-applayout-navbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#prefxsignoutor {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    position: absolute;
    margin-top: -45px;
    cursor: pointer;
}

.textResponsiveDetailsbody {
    min-width: 50%;
}

.textResponsiveDetails {
    width: 100%;
    padding: 10px;
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-left: 5px solid var(--primary-color);
    background-color: #F2F1EF;
}

.textResponsiveDetailsar {
    border-left: none;
    border-right: 5px solid var(--primary-color);
}

.textResponsiveDetailseng {
    border-right: none;
    border-left: 5px solid var(--primary-color);
}

#dialogWrapper {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.ui-draggable-handle center {
    margin-bottom: 10px;
}

.oj-dialog-header {
    min-height: 50px;
}

.oj-dialog-header .oj-dialog-title {
    border: none !important;
    background: none !important;
}

#cancelButton {
    padding: 10px;
    min-height: 40px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
}

#buttonOpenerNested {
    padding: 10px;
    min-height: 40px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
}

.oj-dialog-footer .oj-hover {
    background-color: #006053 !important;
}

.textResponsiveDetails b {
    display: block;
    padding: 10px;
    color: #fff;
    padding-right: 20px;
}

.textResponsiveDetails span {
    padding: 10px;
    padding-right: 15px;
}

.textlabel {
    color: var(--primary-color) !important;
    font-size: 17px
}

.oj-component-popup,
.oj-menu,
.oj-popup,
.oj-messages-layer oj-messages,
.oj-dialog,
.oj-listbox-drop {
    z-index: 0;
}

.oj-datepicker-popup {
    position: fixed !important;
    top: 40vh !important;
}

.stb_btn_style {
    padding: 10px;
    border-radius: 2px;
    margin: 10px 10px;
    height: 45px;
}

#loader-overlay {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999999;
}

.loader-dots {
    position: fixed;
    height: 5em;
    width: 5em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: spinner 1s infinite linear;
}

.loader-dot {
    position: absolute;
    margin: auto;
    width: 2.0em;
    height: 2.0em;
    border-radius: 100%;
}

.loader-dot:nth-child(2) {
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .80);
}

.loader-dot:nth-child(3) {
    left: 0;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, .60);
}

.loader-dot:nth-child(4) {
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, .40);
}

.loader-dot:nth-child(5) {
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .20);
}

@keyframes spinner {
    0% {
        transform: rotate( 0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.col-form-label {
    padding-top: 0px !important;
}

.oj-inputnumber-button {
    width: 40px;
    height: 32px;
    background: var(--primary-color);
    color: var(--secondary-color)!important;
}

.oj-inputdatetime-input {
    background-color: white;
}

#__oj_zorder_container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.oj-dialog-content {
    border-radius: 10px;
}

.DDMenuBody {
    position: absolute;
    background-color: #fff;
    z-index: 30;
    display: none;
    top: 20px;
    bottom: 0px;
    max-width: 1000px;
    max-height: 600px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, .35);
}

.DDBodylistoverflow {
    overflow-y: auto;
    max-height: 500px;
}

html[dir=rtl] .DDMenuBody {
    right: 8px;
}

html[dir=ltr] .DDMenuBody {
    left: 8px;
}

.train_btn_style {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    height: 35px;
}

.details.oj-draggable .oj-dialog-header,
.oj-draggable .oj-dialog-title {
    border-bottom: 1px solid var(--primary-color);
    background-color: #D3ECD1;
}

.oj-dialog.details {
    position: fixed !important;
    top: 10% !important;
}

.details .oj-dialog-footer {
    background-color: #D3ECD1;
    border-top: 1px solid var(--primary-color);
}


/*for random background colors**********  ********/

.icon-home-slef {
    background-color: #5277b8 !important;
}

.icon-home-slef:hover {
    box-shadow: 0px 0px 0px 10px #5277b877 !important;
}

._RBGCG_1 {
    background-color: #ed813e !important;
}

._RBGCG_1:hover {
    box-shadow: 0px 0px 0px 10px #ed813e77 !important;
}

._RBGCG_2 {
    background-color: #5277b8 !important;
}

._RBGCG_2:hover {
    box-shadow: 0px 0px 0px 10px #5277b877 !important;
}

._RBGCG_3 {
    background-color: #e85d88 !important;
}

._RBGCG_3:hover {
    box-shadow: 0px 0px 0px 10px #e85d8877 !important;
}

._RBGCG_4 {
    background-color: #67b460 !important;
}

._RBGCG_4:hover {
    box-shadow: 0px 0px 0px 10px #67b46077 !important;
}

._RBGCG_5 {
    background-color: #aa529b !important;
}

._RBGCG_5:hover {
    box-shadow: 0px 0px 0px 10px #aa529b77 !important;
}

._RBGCG_6 {
    background-color: #5277b8 !important;
}

._RBGCG_6:hover {
    box-shadow: 0px 0px 0px 10px #5277b877 !important;
}

._RBGCG_7 {
    background-color: #e85c63 !important;
}

._RBGCG_7:hover {
    box-shadow: 0px 0px 0px 10px #e85c6377 !important;
}

._RBGCG_8 {
    background-color: #c8d657 !important;
}

._RBGCG_8:hover {
    box-shadow: 0px 0px 0px 10px #c8d65777 !important;
}

._RBGCG_9 {
    background-color: #13b6cf !important;
}

._RBGCG_9:hover {
    box-shadow: 0px 0px 0px 10px #13b6cf77 !important;
}


/*for random background colors*/

#noti {
    display: none;
}

html[dir=ltr] .disNoti {
    margin-top: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    background: #ffffff;
    opacity: 2.5;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    text-align: center;
    cursor: pointer;
    font-size: x-small;
    font-weight: bold;
    color: var(--primary-color);
    box-shadow: -1px 1px 2px 0px #1a1a1a55;
    display: block !important;
}

.DDNAVHEADER {
    color: #1a1a1a;
    font-weight: lighter;
    font-size: 25px;
}

.DDMnavlisth {
    color: #000;
}

.DDMnavlisthli {
    list-style: none;
    margin-bottom: 10px;
}

.form-router-href-li {
    color: #02629f !important;
}

.DDMenuBodyList {
    color: black;
}

html[dir=ltr] .DDMenuBodyList {
    text-align: left;
}

html[dir=rtl] .DDMenuBodyList {
    text-align: right;
}

.main-dialog {
    display: none;
    width: 90vw !important;
    height: auto;
    position: fixed !important;
    top: 40% !important;
}

.effective-dialog {
    top: 100px !important;
}

.main-dialog-width {
    width: 350px !important;
}

.form-layout-container {
    padding-top: 20px;
    padding-bottom: 35px;
}

html[dir=rtl] .disNoti {
    margin-top: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
    background: #ffffff;
    opacity: 2.5;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    text-align: center;
    cursor: pointer;
    font-size: x-small;
    font-weight: bold;
    color: var(--primary-color);
    box-shadow: -1px 1px 2px 0px #1a1a1a55;
    display: block !important;
}

.addwidth {
    width: 250px;
}

#oj-select-choice-addwidthList {
    max-width: 250px !important;
}

.back-button img {
    width: 24px;
}

.back-button {
    padding: 14px;
    margin-top: 9px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

html[dir='ltr'] .back-button {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.oj-label-required-icon:before {
    color: var(--required-color);
}

.Dshboardicons_body_style {
    display: block;
    text-decoration: none;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 25px;
    height: 170px;
    transition: all .25s ease-in-out;
    cursor: pointer;
}

.form-router-text {
    text-decoration: none;
    display: block;
    font-size: 15px;
    text-align: center;
    margin-top: 13px;
    color: var(--request-lable);
}

.form-router-text-li {
    text-decoration: none;
    display: block;
    font-size: 15px;
    text-align: center;
    display: inline-flex;
    font-weight: lighter;
}

.form-router-href-li {
    display: inline-flex;
}

.DD-Li-Icon {
    margin: 0px 10px;
}

html[dir=ltr].DD-Li-Icon {
    margin-left: 0px !important;
}

html[dir=rtl] .DD-Li-Icon {
    margin-right: 0px !important;
}

html[dir=rtl] .form-router-text-li {
    text-align: right !important;
}

html[dir=ltr] .form-router-text-li {
    text-align: left !important;
}

.oj-icon-no-background {
    background-color: transparent !important;
    margin: 11px;
}

.oj-icon-no-background span {
    color: white !important;
    font-size: 34px;
}

.icon-border-none {
    border: none !important;
    background-color: transparent !important;
}

.max-width-50 {
    width: 50%;
}

.Dshboardicons_body_style:hover {}

.col-div-body {
    margin: 0 auto;
    padding: 10px;
}

.login-body-row {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    margin-top: 10%;
    max-width: 445px;
}

.signinbackground {
    text-align: center;
    color: #1a1a1a;
    width: 100%;
    max-width: 445px;
    padding: 11px;
    background-image: linear-gradient(to right bottom, #038fd1, #2c907e, #429586, #559b8d, var(--primary-color));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.signinbackground2 {
    margin-top: -12px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-left: 7px solid var(--primary-color);
    border-right: 7px solid var(--primary-color);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: none;
    height: 9px;
}

.singinfont {
    font-size: 30px !important;
    color: white;
}

#login_btn_style {
    background-image: linear-gradient(to right bottom, #038fd1, #2c907e, #429586, #559b8d, var(--primary-color));
    color: white;
    margin-top: 25px;
    min-height: 45px;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.login_btn_style {
    background-color: var(--primary-color);
}

.lan-switcher {
    color: white !important;
    float: left;
    background-color: #595C61;
    padding: 10px 15px 5px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#xx {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 451px) {
    .col-div-body {
        width: 100%;
    }
    .login-body-row {
        background-color: transparent;
        box-shadow: none;
        margin-bottom: 15px;
        margin-top: 30%;
        max-width: 445px;
        width: 100%;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .signinbackground {
        display: none;
    }
    .right-col-inf {
        padding: 0 !important;
    }
    .loginborder {
        padding: 0!important;
    }
    #login_btn_style {
        background-image: none !important;
        background-color: var(--secondary-color)!important;
    }
    #login_btn_style span {
        color: white !important;
    }
    .left-col-logo {
        width: fit-content;
        margin: 0 auto;
    }
    .lan-switcher {
        border-radius: 5px;
        margin-top: 10px;
    }
    .rowContent .sec-content .headLbl {
        text-align: left;
    }
    .sec2-content .headLbl2 {
        text-align: left !important;
    }
    .btnStyleTaskDetails .btnStyle {
        text-align: -webkit-center;
        /* width: 146px; */
    }
    .apBtn-disabled-2 {
        margin: auto;
        /* display: block; */
        width: 129px;
    }
}

.formFieldRow {
    width: 100% !important;
    margin: 0 !important
}

@media screen and (max-width: 800px) {
    .form_field_dy_style {
        flex: none !important;
        width: 100% !important;
        display: block !important;
    }
    #xx {
        display: block;
    }
}

.form_field_dy_style {
    display: inline-block;
    padding: 1px 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 50%;
}

.oj-label-required-icon:before {
    color: #bd2527;
}

.Company_logo_forE {
    float: left;
    margin: 10px;
    margin-top: 10px;
    height: 50px;
}

.Company_logo_forE .header_logo_min {
    border-radius: 10px;
}

html[lang=ar] .Company_logo_forE {
    float: right !important;
}

.bulk-table.oj-table-grid-display .oj-table-header {
    background: var(--primary-color) !important;
}

.dialog-top30 {
    position: fixed !important;
    top: 30% !important;
}

.oj-messages-notification .oj-message-close .oj-button-label .oj-button-icon::before {
    color: var(--primary-color) !important;
}

.oj-messages-notification {
    top: 0 !important;
    position: fixed !important;
}


/* start Login page style */

.cont-log-bod {
    background-color: #a1a1a1;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px !important;
    left: 0px !important;
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
    z-index: 10;
}

.log_st_half {
    width: 50%;
    height: 100%;
    margin: 0;
    position: relative;
    background-color: var(--primary-color);
}

.log_sec_half {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0;
    position: relative;
    text-align: center;
    color: #4d4f5c88;
}

.full_logo {
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 400px;
    width: 100%;
}

.content_area {
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.content_header {
    margin-bottom: 60px;
}

.apLoginInput {
    min-height: 45px;
    background-color: #EBEBEB;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-top: 5px;
}

.apLoginBtn {
    background-color: var(--primary-color) !important;
    color: white;
    margin-top: 25px;
    min-height: 45px;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}


/* .logo {
    margin: 30px auto;
    max-width: 200px;
    align-content: center;
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 5px;
    display: none;
} */

.apChngLang {
    color: white !important;
    float: left;
    background-color: #555659;
    padding: 10px 15px 10px 15px;
    border-radius: 30px !important;
    cursor: pointer;
}

.logo-2 {
    margin: 30px auto;
    max-width: 300px;
    width: 100%;
    align-content: center;
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 20px;
    display: block;
}

@media(max-width:950px) {
    .log_st_half {
        width: 0%;
    }
    .log_sec_half {
        width: 100%;
    }
    .content_area {
        padding: 0px 20px;
    }
}


/* end Login page style */


/* start application page style */

#pageContent {
    display: flex;
    margin: 0;
    height: 100%;
    width: 100%;
}

.app_cont_fst_sec {
    height: 100%;
    margin: 0;
    position: absolute;
    background-color: white;
    width: 100% !important;
    transition: all 0.5s ease-in-out;
    z-index: 10;
    display: block;
}

.app_cont_sec_sec {
    width: 100%;
    width: -webkit-fill-available;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    position: relative;
    background-color: var(--appBackgroundColor);
    background-image: var(--appBackgroundImg) !important;
    background-size: cover;
    background-repeat: no-repeat;
}

.app_com_logo {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}

.company_logo {
    width: 70%;
}

.app_body {
    padding: 15px 30px;
    background-color: #ffffff;
}
.

.request_body_styling {
    background-color: white;
    padding: 30px 20px;
    padding-bottom: 50px;
    margin-top: 20px;
}


/* end application page style */

.icon_body_styl {}

.oj-icon-no-background {
    background-color: transparent !important;
}
.dYTStyle .c26{
    border:none;
    margin-top: 50px;

}
.dYTStyle .c24{
    margin: auto;
}

.dYTStyle .c14{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.dYTStyle{
    max-width: 700px;
    margin: auto;
}


.acBtn button{
    background-color: #ffffff !important;
    border-color: #ffffff !important;

}
.acBtn .oj-button-jqui.oj-selected.oj-button-full-chrome, .oj-button.oj-selected.oj-button-full-chrome .oj-button-button{
    background-color: #f7f7f8 !important;
    border-color: #cbcccd !important;
    color: #76b8e1 !important;
}

.acBtn button:hover{
    background-color: #f7f7f8 !important;
    border-color: #cbcccd !important;


}


.dYTStyle .c12 p,h2{
    /*    text-align: center;*/
}

.dYTStyle .c26 tr,td{
    border:none;
}
.tableStyle123{
    margin: 0 auto;
    max-width: 600px;
}
.oj-icon-no-background span {
    color: white !important;
    font-size: 34px;
}

.icon-border-none {
    border: none !important;
    background-color: transparent !important;
}

.max-width-50 {
    width: 50%;
}

.icon-home-slef {
    border: none !important;
    color: #fff !important;
    width: 70px;
    height: 70px;
    border-radius: 20%;
    transition: all .25s ease-in-out;
}

header {
    margin-bottom: 30px;
    width: 100%;
}

.top-nav-st ul {
    float: left;
    margin: 31px 30px 10px 26px;
}

html[lang=ar] .top-nav-st ul {
    float: right !important;
}

.top-nav-st li {
    min-width: 40px;
    min-height: 30px;
    border: none !important;
    margin: 5px;
    transition: all 0.1s ease-in-out;
}

.top-nav-st li.oj-selected {
    background-color: var(--primary-color) !important;
    border: none !important;
}

.top-nav-st li.oj-hover {
    background-color: var(--primary-color) !important;
    border: none !important;
}

.top-nav-st li a {
    padding: 0 !important;
    position: relative;
}

.top-nav-st li a span {
    margin: 0 !important;
}

.icons_container {
    margin: 5px 15px !important;
    padding: 0;
}

.infoDetailsTitle {
    color: #ffc06a;
    font-weight: bold;
    margin-right: 5px;
    font-family: source-sans-pro, sans-serif;
    font-style: normal;
}

.infoDetailsTitleInfo {
    color: #fff;
    font-family: source-sans-pro, sans-serif;
    font-style: normal;
}

.profileCardStyle {
    max-width: 600px;
    margin: 0 30px;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 2px 6px -2px #1a1a1a;
    margin-bottom: 50px;
    padding: 0;
}

.header_headline_style {
    color: var(--header-lable-color) !important;
    margin-right: 15px;
    margin-bottom: 25px;
    width: 100%;
    font-family: source-sans-pro, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
}

.apBtnGroup {
    text-align: center;
    margin: 20px;
}

.backBtnStyle {
    margin-top: 20px;
}


/* start styling for side nav-bar */

.app_cont_fst_sec_col {
    width: 0px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    background-color: var(--primary-color);
    z-index: 10;
    display: none;
}

.oj-navigationlist-vertical .oj-navigationlist-item.oj-hover {
    border-color: var(--secondary-color)!important;
}

.oj-navigationlist-item.oj-selected .oj-navigationlist-item-icon {
    color: var(--secondary-color)!important;
}

.oj-navigationlist-item.oj-hover .oj-navigationlist-item-icon {
    color: var(--secondary-color)!important;
}

.oj-navigationlist-item {
    transition: all 0.1s ease-in-out;
}

.app_cont_fst_sec_col .app_com_logo {
    display: none;
}

.app_cont_fst_sec_col .oj-navigationlist-item-label {
    display: none;
}

.app_cont_fst_sec_col .oj-navigationlist-vertical .oj-navigationlist-item-icon {
    display: block;
    margin: auto !important;
}

.collaps_btn_1 {
    padding: 5px 10px;
    top: 0;
    left: 0;
    color: var(--primary-color);
    margin: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    float: left;
    margin-top: 20px;
    margin-top: 10px;
    font-size: 20px;
}

html[dir='rtl'] .collaps_btn_1_ar {
    float: right;
}

.collaps_btn_1:hover {
    padding: 5px 10px;
    margin: 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.collaps_btn_2 {
    margin-top: 10px;
    min-height: 44px;
    top: 0;
    left: 0;
    color: var(--primary-color);
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    padding: 5px 10px;
    transition: all 0.2s ease-in-out;
}

html[dir=ltr] .collaps_btn_2 {
    float: right;
}

html[dir=rtl] .collaps_btn_2 {
    float: left;
}

.collaps_btn_2:hover {
    color: red;
}

.app_cont_fst_sec_col .collaps_btn_2 {
    display: block;
}

.app_cont_fst_sec .collaps_btn_2 {
    display: none;
}


/* end styling for side nav-bar */


/* start styling for scroller bar
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px
}


::-webkit-scrollbar-track {
    background: #f1f1f1; 
}


::-webkit-scrollbar-thumb {
    background: #038fd177; 
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #038fd1; 
}
 end styling for scroller bar */


/* start styling for  buttons apBtn-2 */

.apBtn-2 {
    border-radius: 4px;
    /* background-color: #F44336; */
    margin: 12px 3px;
    min-height: 35px;
    transition: all 0.1s ease-in-out;
    width: 130px;
}

.apBtn-2 button {
    /* border: 1px solid var(--Btn-main-color) !important; */
    width: 100%;
    padding: 7px 15px;
    /* background-color: transparent !important; */
}

.apBtn-2.approveBtn button {
    background-color: #53a553 !important;
    border: 1px solid #53a553 !important;
    border-radius: 15px;
}

.apBtn-2.rejectBtn button {
    background-color: #d2392e !important;
    border: 1px solid #d2392e !important;
    border-radius: 15px;
}

.apBtn-2:hover button {
    cursor: pointer;
}

.apBtn-2 button .oj-button-label {
    color: #fff;
}

.apBtn-2 button .oj-button-label .apiconClass {
    /* color: var(--Btn-main-color) !important; */
    color: #dc3545 !important;
    margin: 0 10px !important;
}

.apBtn-2:hover .oj-button-label {
    color: #FFF !important;
}

.apBtn-2:hover {
    /* background-color: #FFD5D5 !important; */
}

.apBtn-2:hover .oj-button-label .apiconClass {
    color: white !important;
}


/* end styling for buttons apBtn-2 */


/* start styling for  apBtn-disabled-2 */

.apBtn-disabled-2.oj-disabled {
    border-radius: 4px;
    background-color: transparent;
    margin: 5px 10px;
    min-height: 35px;
    transition: all 0.1s ease-in-out;
}

.apBtn-disabled-2.oj-disabled button {
    border: 1px solid var(--Btn-dis-color) !important;
    /* width: 70px; */
    padding: 5px 20px;
    background-color: transparent !important;
    border-radius: 5px;
}

.apBtn-disabled-2.oj-disabled button .oj-button-label {
    color: var(--Btn-dis-color);
}

.apBtn-disabled-2.oj-disabled button .oj-button-label .apiconClass {
    color: var(--Btn-dis-color) !important;
    margin: 0 10px !important;
}

.apBtn-disabled-2.oj-disabled:hover .oj-button-label {
    color: var(--Btn-dis-color) !important;
}

.apBtn-disabled-2.oj-disabled:hover {
    background-color: transparent !important;
}

.apBtn-disabled-2.oj-disabled:hover .oj-button-label .apiconClass {
    color: var(--Btn-dis-color) !important;
}


/* end styling for apBtn-disabled-2 */


/* start styling for apTable-1 */

.apTable-1 {
    width: 100%;
    border: none !important;
    background-color: transparent!important;
    margin: 20px 0px !important;
}

.apTable-1 tbody {
    min-height: 100px;
}

.apTable-1 .oj-table-grid-display .oj-table-header-row,
.oj-table-editable .oj-table-header-row {
    color: white;
    background: #F5F6FA;
    height: 45px;
    width: 100%;
}

.apTable-1 thead tr th {
    border: none !important;
    height: 45px !important;
    transition: all 0.1s ease-in-out;
    padding: 15px 20px !important;
}

.apTable-1 tbody tr {
    border: none !important;
    transition: all 0.1s ease-in-out;
}

.apTable-1 tbody tr:hover {
    background-color: var(--table-hover-BG) !important;
}

.apTable-1 tbody tr .oj-hover {
    background-color: var(--table-hover-BG) !important;
}

.apTable-1 tbody .oj-selected {
    background-color: var(--table-hover-BG) !important;
}

.apTable-1 tbody tr td {
    border: none !important;
    padding: 15px 20px !important;
    transition: all 0.1s ease-in-out;
}

.apTable-1 thead tr th:hover {
    background-color: var(--table-hover-BG) !important;
}

.apTable-1 thead tr th:hover .oj-table-column-header {
    color: var(--table-hover-text) !important;
}

.apTable-1 .oj-table-column-header-asc-icon:hover {
    background-color: transparent !important;
}

.apTable-1 thead {
    border: none !important;
}

table {
    font-family: source-sans-pro, sans-serif;
    border-collapse: collapse;
}

.apPaging-1 {
    background: transparent;
    width: 100%;
    margin: 0;
}

.apPaging-1 .oj-pagingcontrol-content .oj-pagingcontrol-nav .oj-pagingcontrol-nav-arrow-section .oj-pagingcontrol-nav-arrow {
    width: 35px;
    height: 35px;
    border: 1px solid #E8E9EC;
    border-radius: 4px;
    margin: 5px 5px;
}

.apPaging-1 .oj-pagingcontrol-content .oj-pagingcontrol-nav .oj-pagingcontrol-nav-arrow-section .oj-pagingcontrol-nav-pages-section .oj-pagingcontrol-nav-page {
    width: 35px;
    height: 35px;
    border: 1px solid var(--Paging-main-color);
    border-radius: 4px;
    margin: 5px 5px;
    display: inline-block !important;
    padding: 0;
    background-color: transparent;
    color: var(--Paging-main-color);
}

.apPaging-1 .oj-pagingcontrol-content .oj-pagingcontrol-nav .oj-pagingcontrol-nav-arrow-section .oj-pagingcontrol-nav-pages-section .oj-selected {
    background-color: var(--Paging-main-color) !important;
    color: white;
    border-color: var(--Paging-main-color) !important;
}


/* end styling for apTable */

.apProfileIcon {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 20px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 67px;
    width: 40px;
    height: 40px;
    transition: all 0.2s ease-in-out;
    margin-top: 10px;
}

html[dir="rtl"] .apProfileIcon_ar {
    left: 20px !important;
    margin-left: 0px;
}

.apProfileIcon:hover {
    background-color: var(--primary-color) !important;
    cursor: pointer;
}

.apProfileIcon button {
    border-radius: 100%;
    background-color: transparent !important;
    padding: 0;
    border: 0;
    border-radius: 139px;
    width: 35px;
    height: 35px;
    transition: all 0.2s ease-in-out;
    margin: auto !important;
}

.apProfileIcon button .oj-button-label .oj-button-icon {
    display: none;
}

.prfilePicIcon {
    width: 45px;
    padding: 0 !important;
    border-radius: 93px;
}

.apFMenueItem a {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.apLMenueItem a {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.apProfileMenu {
    border-radius: 5px;
    min-width: 170px;
}

.apProfileMenu .oj-menu-item {
    height: 40px !important;
}

.apProfileMenu .oj-menu-item a {
    height: 40px !important;
}

.apProfileMenu .oj-menu-divider {
    width: 75%;
    margin: auto;
}

.apDropDownItem {
    margin: 0 !important;
    color: #595c61;
}

.apDropDownIcon {
    color: var(--primary-color);
}

.para-rep-display {
    display: none;
}

.para-rep-display2 {
    display: none;
}

.para-rep-display3 {
    display: none;
}

.para-rep-display4 {
    display: none;
}

.para-rep-display5 {
    display: none;
}

.sec-para-rep-display {
    display: none;
}

.sec-para-rep-display2 {
    display: none;
}

.sec-para-rep-display3 {
    display: none;
}

.sec-para-rep-display4 {
    display: none;
}

.sec-para-rep-display5 {
    display: none;
}


/* Profile Page Style */

.profile_page_body {
    margin-top: 70px;
}

.profile_page_profilepic {
    border-radius: 100%;
    width: 180px;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #f0f0f7;
    margin-top: -120px;
}

.ProPage_infoContainer {
    margin-top: 30px;
}

.ProPage_DetContainer {
    margin-top: 60px;
}

.details_cont {
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.1);
}

.ProfPagInfoType {
    margin-right: 10px;
    margin-left: 10px;
    color: var(--primary-color);
    font-family: source-sans-pro, sans-serif;
}


/*eminfosec*/

.eminfosec {
    background-color: #ffffffb3;
    text-align: center;
    padding: 20px 15px;
    min-height: 450px;
}

.eminfosecprofilepic {
    width: 70px;
}

.img-selector {
    width: 40px;
    /* text-align: center !important;
    margin: auto !important; */
    padding-left: 15px !important;
}

.infosecempname {
    color: black;
    font-weight: bold;
}

.infosecdett {
    padding: 0px 5px;
}

html[dir="rtl"] .infosecdett {
    text-align: right;
}

html[dir="ltr"] .infosecdett {
    text-align: left;
}

html[dir="ltr"] .infosecdett-2 {
    border-left: 1px solid white;
}

html[dir="rtl"] .infosecdett-2 {
    border-right: 1px solid white;
}

.infosecalertsnum-1 {
    width: 30px;
    height: 30px;
    padding: 5px 11px;
    border-radius: 30px;
    color: white;
    background-color: green;
    text-align: center;
}

.infosecalertsnum-2 {
    width: 30px;
    height: 30px;
    padding: 5px 11px;
    border-radius: 30px;
    color: white;
    background-color: orange;
    text-align: center;
}

.infosecalerts {
    color: black;
    font-weight: bold;
    padding: 0 0 0 15px;
    /* padding-left: 20px; */
    text-align: center !important;
    /* margin: auto !important; */
}

html[dir="ltr"] .infosecalertrow {
    width: 100%;
    text-align: left;
    padding: 5px 10px;
}

html[dir="rtl"] .infosecalertrow {
    width: 100%;
    text-align: right;
    padding: 5px 10px;
}

.infosecinputfield {
    border-radius: 50px;
    background-color: transparent !important;
    margin-top: 5px;
}

.infosecinputfield input {
    border-radius: 50px;
}

.oj-choice-direction-row {
    height: 15px !important;
}


/**********for hide first col in the tables*********/

.apTable-1 table thead tr th:first-child {
    display: none;
}

.apTable-1 table tbody tr td:first-child {
    display: none;
}

.header_headline_style_2 {
    color: #000 !important;
    margin-right: 15px;
    margin-bottom: 25px;
    margin-top: 30px;
    width: 100%;
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
}

.header_headline_style_2 label {
    text-decoration: underline;
}

.InfoQ {
    font-size: 20px;
    font-weight: 700;
    margin: 0 5px;
    font-variant-caps: all-petite-caps;
}

.InfoA {
    font-size: 20px;
    font-weight: 700;
    margin: 0 5px;
}

.InfoA2 {
    font-size: 15px;
    font-weight: 300;
    margin: 0 5px;
}

.tableBodyStyle {
    padding: 20px;
}

.tableBodyStyle table {
    border-style: groove;
    width: 100%;
}

.tableBodyStyle table tr td {
    padding: 10px 10px 5px 10px;
}

.tableBodyStyleHeader {
    padding-bottom: 0px;
}

.tableBodyStyleHeader {
    padding: 20px 0px;
}

.secinfostyel {
    font-size: 20px;
    font-weight: bold;
}

.secinfostyel span {
    padding: 5px;
    margin-top: 20px;
}

.first-half-oj {
    display: inline-grid;
    width: 49%;
}
.half-oj {
    display: inline-grid;
    width: 49%;
}

.virPadding {
    width: 100%;
    padding: 20px 0px;
    min-height: 40px;
}

.textAreaStyle {
    margin: 20px 0px;
}

.textAreaStyle textarea {
    min-height: 150px;
}

.oj-radioset-wrapper,
.oj-checkboxset-wrapper {
    text-align: center;
}

.midradioset oj-radioset {
    width: 100%;
}

.backGG {
    background-color: #f5f5f5;
}


/******************/

.attachedFileRow {
    padding-top: 20px;
}

.attachedFileRow .attBtnRow {
    padding-top: 20px;
}

.Mobile_header {
    display: none;
}

.Mobile_footer {
    display: none;
}


/* for mobile start from 0px to 900px screen */

.app_header {
    background-color: var(--header-background);
}

@media(max-width:900px) {
    /* .top-nav-st{display: none;}
    .collaps_btn_1{display: none;}
    .Company_logo_forE{display: none;}
    .apProfileIcon{display: none;}
    .noti{display: none;} */
    .request_body_styling {
        padding: 30px 5px;
    }
    .DybackBtnStyle {
        display: none;
    }
    .apBtnGroup .mobBtn .oj-button-text {
        display: none;
    }
    .apBtnGroup .mobBtn {}
    .apBtnGroup .mobBtn button {
        padding: 10px;
        border-radius: 50px;
    }
    .col-Mob-50 {
        width: 50% !important;
    }
    .eminfosec {
        display: none;
    }
    .home_icon_style {
        width: 100% !important;
        margin: 0 !important;
        max-width: unset !important;
        flex: 0 0 100% !important;
    }
    .app_header {
        display: none;
    }
    .prfilePicIcon {
        width: 45px;
    }
    .Mobile_footer {
        background-color: var(--footer-background);
        width: 100%;
        position: fixed;
        min-height: 50px;
        bottom: 0px;
        display: block;
        z-index: 1;
        box-shadow: 0px -10px 20px -15px #1a1a1a;
    }
    .Mobile_header {
        /* background-color: var( --header-mobile-background); */
        /* background-color: #f3f3f3; */
        width: 100%;
        position: fixed;
        min-height: 50px;
        top: 0px;
        display: block;
        z-index: 2;
        /* box-shadow: 0px 10px 20px -15px #1a1a1a; */
    }
    .Mobile_header .DDMenuBody {
        left: 0 !important;
        width: 100%;
        top: 0;
        height: 100vh;
        max-height: 100vh;
    }
    .Mobile_header .DDBodylistoverflow {
        max-height: 100vh;
    }
    .app_body {
        padding: 20px 5px;
    }
    .Mobile_header .Company_logo_for {
        float: unset;
        margin: 0;
        max-height: 30px;
        margin-top: 10px;
    }
    .Mobile_header .header_logo_min {
        width: unset;
        height: 100%;
    }
    .collaps_btn_mob {
        color: white;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        background-color: transparent;
        font-size: 22px;
    }
    .collaps_btn_mob_cont {
        background-color: var(--primary-color);
        width: 57px;
        height: 57px;
        text-align: center;
        padding: 13px;
        border-radius: 70px;
        position: absolute;
        top: -30px;
        margin: auto;
        right: 0;
        left: 0;
        font-size: 25px;
    }
}

.footerBtnGroup {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    direction: ltr;
}

.footerHalfSec {
    width: 50%;
    text-align: center;
}

.footerHomeBtn {
    width: 100%;
    height: inherit;
    border-right: 1px solid var(--primary-color);
}

.footerHomeBtn button {
    width: 100%;
    background-color: transparent !important;
    border: none;
    color: var(--primary-color) !important;
    font-size: 35px;
}

.HeaderHomeLang {
    width: 100%;
    height: inherit;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.HeaderHomeLang button {
    width: 100%;
    background-color: transparent !important;
    border: none;
    color: var(--primary-color) !important;
    font-size: 20px;
}

.HeaderHomeLang button span {
    background-color: #f3f3f3;
    padding: 5px !important;
    border-radius: 5px;
}

.apProfileIcon_2 {
    background-color: #ffffff;
    transition: all 0.2s ease-in-out;
    border-radius: 67px;
    width: 40px;
    height: 40px;
}

.apProfileIcon_2 button .oj-button-label .oj-button-icon {
    display: none;
}

.apProfileIcon_2 button {
    border-radius: 100%;
    background-color: transparent !important;
    padding: 0;
    border: 0;
    border-radius: 139px;
    width: 35px;
    height: 35px;
    transition: all 0.2s ease-in-out;
    margin: auto !important;
}

.headerLeftMenu {
    display: flex;
    position: absolute;
    right: 5px;
    top: 5px;
    direction: ltr;
}

.apbackbtn button {
    padding: 5px;
    border: none !important;
    font-size: 18px !important;
}

.apbackbtn {
    position: absolute;
    top: 2;
    left: 5;
    max-width: 40px;
    max-height: 45px;
}

.HeaderNavClose {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.HeaderNavClose button {
    width: 100%;
    background-color: #ededee !important;
    border: none;
    color: var(--primary-color) !important;
    font-size: 20px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.HeaderNavClose button span {
    padding: 5px !important;
    border-radius: 5px;
}

.navDataCloseContainer {
    display: block;
    text-align: right;
}

.mobLeftMenuStyle {
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.mobLeftMenuStyle li {
    border: none;
    border-width: 0px !important;
    text-align: center;
    border-radius: 50px;
    background-color: var(--primary-color);
    margin: 15px 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mobLeftMenuStyle li.oj-selected {
    border: 2px solid var(--primary-color) !important;
    background-color: transparent !important;
}

.mobLeftMenuStyle li.oj-selected .oj-navigationlist-item-label {
    color: var(--primary-color) !important;
}
.loading {
    background-image: url("http://loadinggif.com/images/image-selection/3.gif
        http://loadinggif.com/images/image-selection/3.gif
        ") !important;
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
}

/* end mobile */

/*last edit*/
.app_body{
    background-color: #fff !important;
    border-radius: 100px;
}
.dYTStyle{

}
