/* start navbar */

html[dir='ltr'] .nav-left {
    text-align: left;
}

html[dir='rtl'] .nav-left {
    text-align: right;
}

.top-nav-st li.oj-selected {
    background-color: transparent !important;
    border: none !important;
}

.top-nav-st li.oj-hover {
    background-color: transparent !important;
    border: none !important;
}

.apProfileIcon:hover {
    background-color: transparent !important;
    cursor: pointer !important;
}

.apProfileIcon button {
    width: 60px;
}

.apProfileIcon {
    background: transparent;
}

.oj-avatar-outer {
    border-radius: 50%;
    border: 1px solid #707375;
    background-color: #707375;
    box-sizing: border-box;
    display: block;
    position: relative;
}

.oj-avatar-xxs .oj-avatar-inner {
    font-size: 12px;
    width: 32px;
    height: 32px;
}


/* end navbar */

.header_headline_style span {
    /* padding: 10px; */
    /* border: 1px solid #703081; */
    /* font-weight: bold; */
}

.menu-btn .oj-avatar {
    padding: 0 !important;
}

.footerImg img {
    position: absolute;
    width: 100px;
    height: 65px;
    right: 20px;
    bottom: 20px;
}


/* start styling for scroller bar*/


/* ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px
} */


/* Track */


/* ::-webkit-scrollbar-track {
    background: #f1f1f1; 
} */


/* Handle */


/* ::-webkit-scrollbar-thumb {
    background: #038fd177; 
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
} */


/* Handle on hover */


/* ::-webkit-scrollbar-thumb:hover {
    background: #038fd1; 
} */


/* end styling for scroller bar*/


/* start btn */


/* .apBtn-2 button {
    background: #1062E5;
}

.apBtn-2:hover button {
    color: #1251b5 !important
}  */

.avatar-pic {
    padding: 0 !important;
}


/* end btn */

.firstRow {
/*     font-size: 16px; 
    margin-top: 30px;
    margin-bottom: 30px;*/
}

.demo-icon-font {
    color: #fff;
}


/* .taskDetails .header_headline_style{
    position: relative;
} */

.taskDetails {
    display: inline-box;
}

.btnStyle .apBtn-2 {
    /*background-color: #703081;*/
    color: var(--Btn-main-color);
}

.sec-content div {
/*    width: 49%;*/
    font-size: 16px;
    font-weight: 100;
}

.sec2-content div {
    width: 49%;
    font-size: 16px;
    font-weight: 100;
}

.sec-content .oj-flex-item {
    display: inline-block;
    text-align: left;
}

.sec-content .headLbl {
    font-weight: bold;
    font-size: 16px;
    text-align: right;
    padding-right: 10px;
}

.sec2-content .oj-flex-item {
    display: inline-block;
    text-align: left;
}

.sec2-content .headLbl2 {
    font-weight: bold;
    font-size: 16px;
    text-align: right;
    padding-right: 10px;
}


/* .sec2-content div {
        width: 38%;
        font-size: 16px;
        font-weight: 100;
    }
    
    .sec2-content .oj-flex-item {
        display: inline-block;
        text-align: left;
    }*/

.oj-flex-item .headLbl2 {
    font-weight: bold;
    font-size: 16px;
}

.oj-collapsible-wrapper {
    font-size: 16px;
    font-weight: bold;
}
.oj-collapsible-wrapper .oj-panel{
    box-shadow: -9px 12px 18px -3px #cccccc66;
        border: 1px solid #6d176bbf;
}
.Company_logo_for img {
    float: left;
    padding-right: 17px;
}

.Company_logo_for span {
    font-size: 18px;
    color: #888888;
}

.Company_logo_forE span {
    font-size: 18px;
    color: #888888;
    padding-top: 10px;
}

.header_logo_min {
    padding-right: 50px;
}

.imgLogoStc img {
    width: 189px;
    height: 80px;
}

.imgLogoStc {
    position: relative
}

.logoTxt {
    position: absolute;
    left: 165px;
    top: 40px;
    padding-right: 50px;
}

.oj-collapsible-header {
    background-color: #6d176bbf !important;
    color: #fff;
    border-radius: 5px;
}

.searchInput {
    display: inline-flex;
    background-color: #da3f7b !important;
    color: #fff;
    border-radius: 5px;
}

.fa {
    padding-right: 6px;
}

.rowContent {
/*    border: 2px solid #6d176bbf;*/
/*    box-shadow: 1px 2px 2px #da3f7b;*/
    border-radius: 5px;
}

.oj-sm-margin-2x {
    margin: 0 !important;
}

@media screen and (max-width: 1150px) {
    .oj-accordion-collapsible>.oj-collapsible-header {
        font-size: 14px;
    }
}

@media screen and (max-width: 860px) {
    .rowContent {
        border: none;
        box-shadow: none;
    }
    .oj-collapsible .oj-component .oj-component-initnode .oj-accordion-collapsible .oj-complete .oj-collapsed {
        margin-bottom: 10px;
    }
}

.workListSearch .oj-inputtext-input {
    width: 200px;
    /* margin-right: 20px; */
}

.workListSearch #SearchBTN {
    margin-left: 20px;
    /* background-color: transparent; */
}

.workListSearch #SearchBTN button {
    color: var(--Btn-main-color) !important;
    background: transparent;
    border: 1px solid #da3f7b;
    border-radius: 4px;
    width: 100%;
}

.workListSearch #SearchBTN:hover button {
    background-color: #da3f7b;
    color: #fff !important;
    cursor: pointer;
}

.workListSearch .oj-label-group {
    margin-right: 25px;
    color: #4c535a;
    margin-top: 6px;
    font-size: 16px;
}

.workListFilter .oj-flex-item {
    color: #4c535a;
    margin-top: 6px;
    font-size: 16px;
}

.searchInput .oj-button {
    margin-left: 10px;
}

.workListSearch {
    display: inline-flex;
    margin-top: 50px;
    margin-bottom: 30px;
}

.workListFilter {
    display: -webkit-box;
}

.workListFilter .oj-select {
    margin-left: 47px;
    width: 200px;
}

.workListFilter .oj-select-arrow {
    color: #da3f7b !important;
    padding-bottom: 5px;
}
.commentTable .oj-table-header{
    display: none;
}

.app-content .oj-label {
    display: inline-block;
}

.history-table {
    display: block;
    margin-top: 40px;
}
#myMenu3 {
    padding: 5px
}

.history-sec oj-table-column-header-cell:last-child {
    border-right: 1 !important;
}

.history-sec #myPattern {
    margin-top: 20px;
}
.history-sec #myPattern tr td {
    text-align: center;
    padding: 5px;
}
/*------! enhancement  !------*/
.formBodyStyle_22{
    height: 500px !important;
    max-height: 500px;
    overflow-y: auto;   
    padding: 40px 40px;
}
#myPattern table{
    margin: 0 auto;
}

#myPattern table td {
    text-align: center;
}
#mypattern{
    margin: 20px 0px; 
}
.collSec .oj-collapsible-header {
    margin: 5px 0px;
}
.collSec .oj-collapsible-content{
    padding: 0px !important;
    margin-top: 5px;
    margin-bottom: 20px;
}

.collSec .FormBodyStyle{
    border-radius: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.oj-table-header {
    background: #683867;
}
.oj-table-header .oj-table-column-header-text {
    color: #fff;
}

.m-popup{
max-height: 500px;
    overflow: auto;
}
.oj-popup-layer.oj-focus-within{
        background-color: #000000aa;
    width: 100%;
    height: 100%;
}
.oj-popup-layer{
            background-color: #000000aa;
    width: 100%;
    height: 100%;
}