/*
info: this file for customization and variable declaration
auther: Mohamed Ashraf
Note: Don't use for styling!!
*/

:root {
    /* theme Color */
    --primary-color: #da3f7b;
    --secondary-color: #b93eb7;
    --primary-light-shade: #b93eb7;
    --secondary-dark-shade: #191b40;
    --primary-white-color: #ffffff;
    --secondary-black-color: #1a1a1a;
    /*Header Label: Defult Value is white*/
    --header-lable-color: #414142;
    /*Header BackGround: Defult Value is transparent */
    /* --header-background: #ffffff; */
    /* --header-mobile-background: #ffffff; */
    /*mobile footer BackGround: Defult Value is transparent */
    --footer-background: #ffffff;
    /* theme Background*/
    /* --appBackgroundImg: url("images/stcImg/bkk.png"); */
    --appBackgroundColor: #f3f3f3;
    /*Request lable*/
    --request-lable: #fff;
    /*BTN Colors*/
    --Btn-main-color: #da3f7b!important;
    --Btn-dis-color: #e6cbd5;
    /*Color of the required*/
    --required-color: #bd2527;
    /*Paging*/
    --Paging-main-color: #da3f7b;
    /*Table
    these are the defult Colors, You can change theme if needed
    */
    --table-header-color: #8f4e8d;
    --table-text-color: #fff;
    --table-hover-BG: #ccc;
    --table-hover-text: #555555;
}

.button{
    box-shadow: 0 8px 16px 0 rgba(1,2,0,0.2), 0 6px 20px 0 rgba(190, 144, 212,1);
}
.test{
    padding-left: 1000px;

}

/*.workListSearch :focus {
  border: 3px solid #555;
} */
.whole{
    
    background-color: rgba(169, 109, 173, 1);
}
