<!-- <div class="card">
    <div class="row" *ngFor="let reson of resons">
        <select>
            <option *ngFor="let m of main" [value]="m">{{m}}</option>
        </select>
        <select>
            <option *ngFor="let s of sub" [value]="s">{{s}}</option>
        </select>
    </div>
    <div class="row">
        <select>
            <option *ngFor="let m of main" [value]="m">{{m}}</option>
        </select>
        <select>
            <option *ngFor="let s of sub" [value]="s">{{s}}</option>
        </select>
    </div> -->
<!-- </div> -->
<!-- <div class="container"> -->
<!-- <div class="row flexRow">
        <div *ngFor="let card of cards" [ngStyle]="{'height.px': card}" class="card col-6"></div>
    </div> -->
<!-- </div> -->

<!-- <ngx-masonry>
    <div ngxMasonryItem class="masonry-item" *ngFor="let item of masonryItems" [ngStyle]="{'height.px': item.height}">
        {{item.title}}
    </div>
</ngx-masonry>

<div style="width: 200px;">
    <span class="item" [ngStyle]="{'background': i.color}" *ngFor="let i of items">{{i.text}}</span>
</div> -->

<!-- <div class="ph-item ph">
    <p>hello</p>
</div> -->

<div class="box-placeholder">
    <div class="p-4">
        <span class="title text link"></span>
        <h4 class="text line"></h4>
        <h4 class="text"></h4>
    </div>
    <hr>
    <div class="image">
        <div class="embed-responsive embed-responsive-16by9"></div>
    </div>
    <hr>
    <div class="excerpt p-4">
        <div class="text line"></div>
        <div class="text line"></div>
        <div class="text"></div>
    </div>
</div>