.card {
    width: 400px;
    background: red;
}

/* .row {
    display: flex;
    flex-wrap: wrap;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
} */

/* .row.flexRow   { display: flex;  flex-wrap: wrap;} */

.row.make-columns {
    -moz-column-width: 19em;
    -webkit-column-width: 19em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}

.row.make-columns>div {
    display: inline-block;
    padding: .5rem;
    width: 100%;
}

/* demo only* */

.panel {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.masonry-item {
    width: 200px;
    background: red;
    margin: 2px;
}

.item:before {
    content: "• ";
}