<stc-navbar [currentPage]="currentPage"></stc-navbar>
<section id="statistics" class="pageSettings">
    <div class="container">
        <div class=" pageHeadInfo ">
            <div class="row">
                <div class="col-lg-6 ">

                    <h5>{{'generalStatistics_labels' | translation }}</h5>
                    <p>{{ 'generalStatistics_subTitle_labels' | translation }}</p>

                </div>
                <div class=" col-lg-6 col-md-12 col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <mat-form-field>
                                        <mat-label>{{'SelectDuration'|translation}}</mat-label>
                                        <mat-select [(ngModel)]="duration">
                                            <mat-option *ngFor="let type of userTypes" [value]="type.days">
                                                {{trans.direction() == 'rtl' ?  type.make_ar : type.make}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <ng-container *ngIf="duration == -1">
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-12 my-auto">
                                        <mat-form-field class="example-full-width" (click)="pickerFrom.open()">
                                            <input matInput [(ngModel)]="dateFrom" name="PickerFrom"
                                                [matDatepicker]="pickerFrom" placeholder="{{'fromDate'|translation}}"
                                                readonly>
                                            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                                            <mat-datepicker #pickerFrom></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-12 my-auto">
                                        <mat-form-field class="example-full-width" (click)="pickerTo.open()">
                                            <input matInput [(ngModel)]="dateTo" [disabled]="!dateFrom"
                                                [matDatepicker]="pickerTo" [min]="dateFrom"
                                                placeholder="{{'toDate'|translation}}" readonly>
                                            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                                            <mat-datepicker #pickerTo></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </ng-container>
                                <div class="col-lg-2 col-md-2 col-12 my-auto text-end">
                                    <button class="btn btnSearch"
                                        (click)="search()">{{'search_label'|translation}}</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 text-end">

                            <button class="generateBtn" [ngx-scroll-to]="'#destination'">
                                <i class="fa fa-fw fa-bar-chart"> </i>
                                {{ 'generateReport_labels' | translation }}
                            </button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!------------------statistics------------->
        <div *ngIf="!load">
            <!-- start achievers section -->

            <div class="container">
                <div class="row">


                    <div class="achievers col-md-7 col-sm-7">
                        <h4>{{ 'achieversOfTheWeek_labels' | translation }}</h4>
                        <div class="row">
                            <ng-container *ngFor="let emp  of bestEmployees ; let i = index">
                                <div *ngIf="i < 3" class="col-lg-5 col-6 empAchiever"
                                    [ngClass]="{'best':i==2 ,'offset-3':i==2 &&trans.direction()=='ltr','offset-mine-3':i==2 &&trans.direction()=='rtl','offset-lg-1':i==1 && trans.direction() == 'ltr' , 'offset-mine-lg-1':i==1 && trans.direction() == 'rtl' }">
                                    <div class="con-image">
                                        <img src="{{common.getUserImageById(emp.PERSON_ID)}}">
                                    </div>
                                    <span class="con-icon" [style.background]="i==0?'#AD8A56':i==1?'#999':'#C9B037'">
                                        <i class="fa fa-diamond" aria-hidden="true"></i>
                                    </span>
                                    <h6 class="bestAchieverLabel" *ngIf="i==2">{{'Top Achiever'|translation}}</h6>
                                    <div class="empData">
                                        <h5>{{emp.PERSON_NAME}}</h5>
                                        <h6>{{emp.TYPE|translation}}</h6>
                                    </div>
                                    <div class="empProperties">
                                        <h6>{{ 'completionRate_labels' | translation }} {{emp.COMPLATION_RATE}}%</h6>
                                        <h6>{{ 'efficiency_labels' | translation }} {{common.round(emp.EFFICIENCY,1)}}%</h6>
                                        <h6>{{ 'processingInTime_labels' | translation }}
                                            {{common.round(emp.PERCENT_OF_TIME,1)}}%
                                        </h6>
                                    </div>
                                </div>
                            </ng-container>

                        </div>

                    </div>

                    <!--   Start Leaderboard   -->
                    <div class="leaderboard col-md-5 col-sm-5">
                        <h4>{{ 'leaderboard_labels' | translation }}</h4>
                        <div class="top-emp">
                            <div class="leaderboardLabels text-start">
                                {{ 'topEmployee_labels' | translation }}
                                <!-- <span class="pull-right">{{ 'percentageOfCompletion_labels' | translation }}</span> -->
                            </div>
                            <div class="employee" *ngFor="let leader of leaders; let i = index">

                                <h6> {{leader.PERSON_NAME}}</h6>
                                <div class="row">
                                    <div class="col-1 my-auto">
                                        {{i+1 |translation}}
                                    </div>
                                    <div class="col-lg-1 col-md-2 noPadding">
                                        <div class="con-image">
                                            <img [ngStyle]="{'left':trans.direction()=='ltr'?'10px':'0px' , 'right':trans.direction()=='rtl'?'10px':'0px'}"
                                                src="{{common.getUserImageById(leader.PERSON_ID)}}">
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-8 my-auto noPadding">
                                        <div class="progress">
                                            <div class="progress-bar text-center" role="progressbar" aria-valuemin="0"
                                                aria-valuemax="100"
                                                [ngStyle]="{'width':(leader.COMPLATION_RATE || 0) + '%'}">

                                                <span
                                                    class="justify-content-center d-flex position-absolute w-100">{{(leader.COMPLATION_RATE || 0)}}%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- End Leaderboard -->

                </div>
            </div>


            <!-- end achievers section -->


            <!-- start overview slider -->
            <div class="overview">
                <h4 class=" text-start">{{'invoicesOverview_labels' | translation }}</h4>
                <div class="card-container col-md-12 col-sm-12 text-start" id="flex-wrapper">
                    <div class="carousel">
                        <div class="flex-inside" id="flex-inside">
                            <!-- [ngClass]="{'act':selectedContent==content}" -->
                            <div class="item" *ngFor="let inv_details of masterReport?.overview"
                                [ngx-scroll-to]="'#destination'" (click)="selectedOverview = inv_details">
                                <div class="iemIcon" [ngClass]="selectedOverview == inv_details? 'act':''">
                                    <h5>{{ inv_details.title }}</h5>
                                    <p>{{ formatNumber(inv_details.total) }} {{'invoice' | translation}}</p>
                                </div>
                                <h6>{{content.title}}</h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end overview slider -->

            <!-- Start Chatrt section -->
            <div *ngIf="selectedOverview?.chartData && selectedOverview.chartLabels" id="destination" #destinationRef>
                <div class="row">
                    <div class="col-lg-8 col-md-6 d-none d-sm-none d-md-inline-block d-lg-inline-block"></div>
                    <div class="col-lg-4 col-md-6 text-end">
                        <div class="allChartBtn" *ngIf="false">
                            <button class="chartBtn " (click)="change('Year')">{{'year' | translation }}</button>
                            <button class="chartBtn" (click)="change('Month')">{{'month' | translation }}</button>
                            <button class="chartBtn" (click)="change('Week')">{{'week' | translation }}</button>
                            <button id="saveChart" (click)="saveChart(can)"><i class="fa fa-download"></i></button>
                        </div>
                    </div>
                </div>
                <canvas #can id="canvas" baseChart [chartType]="chartType" [datasets]="selectedOverview.chartData"
                    [labels]="selectedOverview.chartLabels" [colors]="chartColors" [options]="chartOptions"
                    [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>

            </div>
            <!-- End Chart section -->
        </div>
        <!-------statistics placeholder------------->
        <div *ngIf="load">
            <!-- start achievers section -->

            <div class="box-placeholder text-start">
                <div class="container">
                    <div class="row">
                        <div class="achievers col-md-7 col-sm-7">
                            <h4 class="text text-start"></h4>
                            <div class="row">
                                <div class="col-lg-5 col-6 empAchiever" *ngFor="let emp of placeHolderArr ; index as i"
                                    [ngClass]="{'best':i==2 ,'offset-3':i==2 &&trans.direction()=='ltr','offset-mine-3':i==2 &&trans.direction()=='rtl','offset-lg-1':i==1 && trans.direction() == 'ltr' , 'offset-mine-lg-1':i==1 && trans.direction() == 'rtl' }">
                                    <div class="con-image">
                                        <img src="{{common.getUserImageById(0)}}">
                                    </div>
                                    <h6 class=" text" *ngIf="i==2"></h6>
                                    <div class="empData">
                                        <h5 class="text"></h5><br>
                                        <h6 class="text"></h6><br>
                                    </div>
                                    <div class="empProperties">
                                        <h6 class="text"></h6><br>
                                        <h6 class="text"></h6><br>
                                        <h6 class="text"></h6><br>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!--   Start Leaderboard   -->
                        <div class="leaderboard col-md-5 col-sm-5">
                            <h4 class="text text-start"></h4>
                            <div class="top-emp">
                                <div class="employee" *ngFor="let leader of placeHolderArr; let i = index">
                                    <h6 class=" text text-center " style="margin-top:20px"></h6>
                                    <div class="text" style="width: 100%"> </div><br>

                                </div>
                            </div>
                        </div>

                        <!-- End Leaderboard -->

                    </div>
                </div>
            </div>

            <!-- end achievers section -->
        </div>
    </div>
</section>