

/*********************head info*******************/
#statistics .pageHeadInfo  .generateBtn {
    background: #712c81;
    border: 1px solid #712c81;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    margin-top: 10px;
}

#statistics .pageHeadInfo .generateBtn:hover {
    background-color: transparent;
    border: 1px solid #712c81;
    color: #712c81;
    cursor: pointer;
}

#statistics .pageHeadInfo .btnSearch
{
    background-color: #712c81;
    border-color: #712c81;
    color:white ; 
    box-shadow: none ;
}

/******************** start achievers section **********************/
/* #statistics .achievers
{
    position: relative;
} */
#statistics .achievers h4 
{
    margin-bottom: 20px;
    text-align: start;
}
#statistics .achievers .row 
{
    position: relative;
    margin-top: 100px;
    padding-bottom: 50px;
}
#statistics .achievers  .empAchiever
{
    min-height: 350px ;
    border:2px solid #eee ;
    background-color: white;
    padding: 20px 0px ;
    text-align: center ;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}
#statistics .achievers  .empAchiever:hover
{
    z-index: 555 !important;
    
}
#statistics .achievers  .empAchiever .con-image
{
    height: 100px;
    z-index: 1;
}
#statistics .achievers  .empAchiever .con-image img
{
    border-radius: 50%;
}
#statistics .achievers  .empAchiever  .con-icon
{
    padding: 8px ;
    color:white ;
    border-radius: 50%;
    text-align: center;
    z-index: 2 ;
    position: relative;
    font-size: 13px;
}
#statistics .achievers  .empAchiever  .bestAchieverLabel
{
    color: #c9b037;
    margin: 10px 0px ;
    font-size: 15px;
}
#statistics .achievers  .empAchiever .empData
{
    margin: 25px 0px 0px;
}
#statistics .achievers  .empAchiever .empData h5 
{
    font-weight: bold ;
    font-size: 16px;
}
#statistics .achievers  .empAchiever .empData h6 
{
    font-size: 14px;
}
#statistics .achievers  .empAchiever .empProperties
{
    margin: 30px 0px;
}
#statistics .achievers  .empAchiever .empProperties h6 
{
    font-size: 14px;
}
#statistics .achievers .best 
{
    position: absolute;
    top:-50px;
    min-height: 450px !important;
    z-index: 55;
}


/*************************strat leaderboard***************************/
#statistics .leaderboard {
    padding: 0;
    width: fit-content;
}
#statistics .leaderboard h4 
{
    margin-bottom: 20px;
    text-align: start;
}
#statistics .leaderboard .top-emp {
    border: 1px solid #ccc;
    box-shadow: 0px 3px 10px #ccc;
    max-height: 480px;
    overflow: overlay;
    width: 100%;
    /* margin-left: 165px; */
   
    border-radius: 4px;
    /* width: fit-content; */
}
#statistics  .leaderboard .top-emp .leaderboardLabels{
    margin-bottom: 20px;
    color: #cb3c7c;
    font-weight: bold;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100% ;
    z-index: 3 ;
    padding: 20px 30px;
}
#statistics .leaderboard .top-emp .employee {
    margin-bottom: 20px;
    padding: 0px 30px;
}
#statistics .leaderboard .top-emp .employee h6 {
    text-align: center;
    font-weight: bold;
    color: #000;
    margin-bottom: 0px ;
}
#statistics .leaderboard .top-emp .employee .con-image
{
    height: 40px;
}
#statistics .leaderboard .top-emp .employee .con-image img 
{
    border-radius: 50% ;
    
    z-index: 2;
}
#statistics .leaderboard .top-emp .employee .progress 
{
    height: 1.2rem !important ;
    border-radius: 10px ;
}
#statistics .leaderboard .top-emp .employee .progress  .progress-bar
{
    background-image: linear-gradient(-90deg, #da3f7b, #712c81) !important;   
}
#statistics .leaderboard .top-emp .employee .progress span 
{
    color:black ;
}

/***************************overview*****************/
#statistics .overview
{
    padding: 100px 0px;
}
#statistics .overview h4
{
    font-weight: bold;
    margin-bottom: 30px;
}

#statistics .overview .card-container .flex-inside .item  .iemIcon 
{
    color:#712c81 ; 
    border:1px solid #eee ;
    padding: 50px 50px 40px ;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: 0.4s all ease-in-out;
    text-align: center;
    width: 300px;
    min-height: 212px;
    word-break: break-word;
}
#statistics .overview .card-container .flex-inside .item  .iemIcon h5 
{
    font-weight: bold ;
    color:#712c81 ;
}
#statistics .overview .card-container .flex-inside .item  .iemIcon p 
{
    color:#ccc ; 
    font-weight: bold;
}#statistics .overview .card-container .flex-inside .act 
{
    background: #712c81 no-repeat center center;
    border: 1px solid #712c81;
    cursor: pointer; 
    color:white !important ;
}
#statistics .overview .card-container .flex-inside .act h5 , #statistics .card-container .flex-inside .act p 
{ 
    color:white !important ;
}
/*********************** strat chart btn ******************************/

#statistics .allChartBtn {
    text-align: center;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    /* margin: auto; */
    box-shadow: 3px 3px 6px #ccc;
    border-radius: 10px;
    padding: 15px 0;
}

#statistics .allChartBtn .chartBtn {
    background-color: #FFF;
    border: none;
    color: #414142;
}

#statistics .allChartBtn .chartBtn::after {
    content: " | ";
    margin: 0px 10px;
}

#statistics .chartBtn::after:last-child {
    display: none;
}

#statistics .allChartBtn .chartBtn:hover {
    color: #000;
    font-weight: 600;
}

#statistics .allChartBtn #saveChart {
   
    border: 1px solid blue;
    border-radius: 11px;
    color: #fff;
    background: blue;
}

/* start Statistics page */





