<div class="oj-hybrid-applayout-page faq-page">

    <div class="oj-applayout-content container">
        <div data-bind="foreach: data"  class="oj-listview-card-layout" style="display: inline-flex;">
            <div data-bind="click: $parent.filterFaq" class="oj-listview-card-layout oj-listview-item demo-list-content demo-icon oj-listview-item" 
                             style="border: 1px solid #e0e1e1 !important; width:95% !important;">
                <div class="demo-griditem-content">
                    <span style="width:180px;max-width:100%;padding:0" data-bind="visible: $parent.currentLocal() == 'ar', text: lookupTypeAr"></span>
                    <span style="width:180px;max-width:100%;padding:0" data-bind="visible: $parent.currentLocal() != 'ar', text: lookupTypeEn"></span>
                </div>
            </div>
        </div>

        <br>
        <div data-bind="foreach: faqQuestions">
            <oj-collapsible class="question" id="collapsiblePage">
                <h4 id="header" data-bind="text: question" slot="header"></h4>
                <p id="content" data-bind="text: answer"></p>
            </oj-collapsible>
        </div>
    </div>
</div>