<div class="BGHolder">
    <div class="oj-hybrid-applayout-page MLContainer">
        <div class="HlogoContainer1">
            <img src="css/images/logo.png" />
        </div>
        <div class="MLpageContent">
            <span data-bind="text:labels().big()"></span>
            <p data-bind="text:labels().bigOffer()"></p>
            <!--            <ul>
                            <li>Passenger Cars.</li>
                            <li>2 & 3 wheelers BAJAJ.</li>
                            <li>Commercial Vehicles & Construction
                                equipments.</li>
                        </ul> -->
        </div>
        <div class="MLCardCont">
            <div class="cardRow">
                <oj-button on-oj-action='[[signInClickAction]]' class="MLCard"><img src="css/images/sign-in-alt-solid.png"/><span><oj-bind-text value="[[labels().signInlbl()]]"></oj-bind-text></span></oj-button>
                <oj-button on-oj-action='[[faqsClickAction]]' class="MLCard"><img src="css/images/comments-regular-1.png"/><span><oj-bind-text value="[[labels().faqLbl()]]"></oj-bind-text></span></oj-button>
            </div>
            <div class="cardRow">
                <oj-button on-oj-action='[[locationsClickAction]]' class="MLCard"><img src="css/images/map-marked-alt-solid.png"/><span><oj-bind-text value="[[labels().ourLocationsLbl()]]"></oj-bind-text></span></oj-button>
                <oj-button on-oj-action='[[productsClickAction]]' class="MLCard"><img src="css/images/car-solid.png"/><span><oj-bind-text value="[[labels().productLbl()]]"></oj-bind-text></span></oj-button>
            </div>
        </div>

        <br>
        <b> <a class="apChngLang oj-margin-horizontal" data-bind="click: switchLangAction, text: labels().languageSwitchLbl()"></a></b>

    </div>
</div>