<div class="oj-hybrid-applayout-page login-page">

    <div class="oj-applayout-content container">

        <div role="main" class="oj-applayout-content container">
            <h1 data-bind="text:labels().title()"></h1>
        </div>

        <div class="oj-applayout-content container sign-form">

            <oj-label>  
                <oj-bind-text value="[[labels().userNameLbl()]]">
                </oj-bind-text>
            </oj-label>
            <oj-input-text id="username" class="username" value="{{userName}}"></oj-input-text>   
            <oj-label>
                <oj-bind-text value="[[labels().passwordLbl()]]">
                </oj-bind-text>
            </oj-label>

            <oj-input-password id="password"  value="{{password}}"></oj-input-password>  

            <oj-button class="btnPrimary" on-oj-action='[[loginClickAction]]'>
                <span>
                    <oj-bind-text value="[[labels().signInLbl()]]">
                    </oj-bind-text>
                </span>
            </oj-button>
            <oj-button class="btnPrimary go-btn" id="login" on-oj-action="[[continueWithGoogle]]" >
            <i class="fab fa-google"></i>
            <span>
                 <oj-bind-text value="[[labels().continueWithGoogle()]]">
                </oj-bind-text>  
            </span>
        </oj-button>
            <oj-button class="btnPrimary fb-btn" id="login" on-oj-action="[[fbLogin]]" 
            data-scope="email,user_birthday,user_hometown,user_location,user_website,user_work_history,user_about_me">
            <i class="fab fa-facebook-f"></i>
            <span>
                <!-- <oj-bind-text value="[[label().logIn()]]">
                </oj-bind-text> --> Continue with Facebook
            </span>
        </oj-button>

        </div>

        <div class="login-footer">

            <oj-button on-oj-action="[[function() {oj.Router.rootInstance.go('resetPassword');}]]">
                <span >
                    <oj-bind-text value="[[labels().forgetPasswordLbl()]]">
                    </oj-bind-text>
                </span>
            </oj-button>

            <div id="haveAccount">
                <oj-label>
                    <oj-bind-text value="[[labels().haveAccountLbl()]]">
                    </oj-bind-text>
                </oj-label>   

                <oj-button on-oj-action="[[function() {oj.Router.rootInstance.go('signup');}]]">
                    <span >
                        <oj-bind-text value="[[labels().signUpLbl()]]">
                        </oj-bind-text>
                    </span>
                </oj-button>

            </div>

        </div>

    </div>
</div>