<div class="oj-hybrid-applayout-page">

    <div class="oj-applayout-content container">
        <div class="sign-form" id="main">
            <oj-input-text id="text-input10" autocomplete="on"  class="formInput"  clear-icon="conditional" value="{{search}}"  on-raw-value-changed="[[handleValueChanged]]" placeholder="[[labels().searchBox()]]">
            </oj-input-text>
        </div>
        <div class="form-box oj-panel oj-panel-shadow-sm oj-sm-margin-2x demo-panel-customizations">

            <h4 data-bind="text: labels().ghabbourLocationLbl()"></h4>
            <h5 data-bind="text: labels().findNearestLbl()"></h5>
            <oj-list-view id="listview" aria-label="simple list" data="[[dataProvider]]" selection-mode="single"
                                      selection="{{selectListner}}" 
                                      scroll-policy="loadMoreOnScroll" 
                                      scroll-policy-options='{"fetchSize": 3}'
                                      style="overflow: hidden;height:200px;overflow-y: auto;">
                <template slot="itemTemplate" data-oj-as="item">
                    <div class="container">
                        <div>
                            <span class="name"><oj-bind-text value="[[item.data.locationName]]"></oj-bind-text></span><br>
                        </div>
                        <div>
                            <span class="oj-text-xs oj-text-secondary-color"><oj-bind-text value="[[item.data.city]]"></oj-bind-text></span> <br>
                            <span class="oj-text-xs oj-text-secondary-color"><oj-bind-text value="[[item.data.address]]"></oj-bind-text></span>
                        </div>
                    </div>
                </template>
            </oj-list-view>
        </div>

        <oj-button class="btnPrimary" id="login" on-oj-action="[[searchAction]]" >
            <span>
                <oj-bind-text value="[[labels().searchLbl()]]">
                </oj-bind-text>
            </span>
        </oj-button>

    </div>

</div>
<!--<div class="oj-hybrid-applayout-page maintenance-page">
    <div class="oj-applayout-content container">
        <div class="no-data-section">
            <img src="css/images/under_develop.png">
            <p class="no-data-desc" style="font-weight: bold">Under development...</p>
        </div>
    </div>
</div>-->