<div class="oj-hybrid-applayout-page signup-page">

    <div class="oj-applayout-content container">

        <h3 data-bind="text: labels.createNewAccountLbl"></h3>

        <div class="sign-form" id="main">

            <oj-validation-group id="tracker" valid="{{groupValid}}">
                <oj-form-layout id="form-container">
                    <oj-label class="formLabel" show-required>  
                        <oj-bind-text value="[[labels.userName]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text class="main-input" autocomplete="new-password" value="{{userName}}" required validators="[[usernameValidator]]" clear-icon="conditional" virtual-keyboard="text" placeholder="[[labels.placeholderUsername]]" messages-custom="[[errorMsgUsername]]" on-value-changed="[[usernameChangedHandler]]"> </oj-input-text>

                    <oj-label class="formLabel" show-required>  
                        <oj-bind-text value="[[labels.password]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-password id="password" class="main-input" autocomplete="new-password" value="{{password}}" clear-icon="conditional" required validators="[[validatorPass]]" virtual-keyboard="text" placeholder="••••••••" raw-value="{{currentPassValue}}"> </oj-input-password>

                    <oj-label class="formLabel" show-required>  
                        <oj-bind-text value="[[labels.confirmPassword]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-password id="confirm-pass" class="main-input" autocomplete="new-password" value="{{confirmPassword}}" clear-icon="conditional" required validators="[[validatorPass]]" virtual-keyboard="text" placeholder="••••••••" raw-value="{{currentRawPassValue}}" on-value-changed="[[passChangedHandler]]"  messages-custom="[[errorMsgPass]]"> </oj-input-password>

                    <oj-label class="formLabel" show-required>  
                        <oj-bind-text value="[[labels.firstNameLbl]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text class="main-input" id="firstname" value="{{firstName}}" clear-icon="conditional" required validators="[[usernameValidator]]" virtual-keyboard="text" placeholder="[[labels.placeholderFirstname]]"></oj-input-text> 

                    <oj-label show-required>
                        <oj-bind-text value="[[labels.lastNameLbl]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text class="main-input" id="lastname" value="{{lastName}}" clear-icon="conditional" required validators="[[usernameValidator]]" virtual-keyboard="text" placeholder="[[labels.placeholderLastname]]"></oj-input-text>   

                    <oj-label  show-required>  
                        <oj-bind-text value="[[labels.emailLbl]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text class="main-input" id="text-input7"  value="{{email}}" validators="[[emailValidator]]" clear-icon="conditional" required validators="[[emailValidator]]" messages-custom="[[errorMsgEmail]]" on-value-changed="[[emailChangedHandler]]" virtual-keyboard="email" placeholder="[[labels.placeholderEmail]]"> </oj-input-text>


                    <oj-label show-required>
                        <oj-bind-text value="[[labels.mobileNumberLbl]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text class="main-input" id="mobilenumber" value="{{mobileNumber}}" clear-icon="conditional" required  virtual-keyboard="number" placeholder="[[labels.placeholderPhone]]" validators="[[mobileValidator]]" messages-custom="[[errorMsgPhone]]" on-value-changed="[[phoneChangedHandler]]"></oj-input-text>   
<!--                    <oj-label class="formLabel">
                    <oj-bind-text value="[[labels.nationalIdLbl]]">
                    </oj-bind-text>
                </oj-label>-->
                <!--<oj-input-text class="formInput" clear-icon="conditional" value="{{nationalId}}"   placeholder="[[labels.placeholderNational]]"></oj-input-text>-->         
<!--                    <oj-label show-required>
                        <oj-bind-text value="[[labels.chassisNumberLbl]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text class="main-input" class="main-input" value="{{chassisNumber}}" clear-icon="conditional" required validators="[[usernameValidator]]" virtual-keyboard="text"  placeholder="[[labels.placeholderChassis]]"></oj-input-text>-->
<!--                    <oj-label class="formLabel">
                    <oj-bind-text value="[[labels.engineNumberLbl]]">
                    </oj-bind-text>
                </oj-label>-->
                <!--<oj-input-text class="formInput" clear-icon="conditional" value="{{engineNumber}}"   placeholder="[[labels.placeholderEngine]]"></oj-input-text>--> 
            
                </oj-form-layout>
            </oj-validation-group>

            <oj-button class="btnPrimary" id="login" on-oj-action="[[createAccountAction]]">
                <span>
                    <oj-bind-text value="[[labels.createAccountLbl]]">
                    </oj-bind-text>
                </span>
            </oj-button>
            <oj-button class="btnPrimary go-btn" id="login" on-oj-action="[[continueWithGoogle]]" >
            <i class="fab fa-google"></i>
            <span>
                 <oj-bind-text value="[[labels.continueWithGoogle]]">
                </oj-bind-text>  
            </span>
        </oj-button>
            <oj-button class="btnPrimary fb-btn" id="login" on-oj-action="[[fbLogin]]" 
            data-scope="email,user_birthday,user_hometown,user_location,user_website,user_work_history,user_about_me">
            <i class="fab fa-facebook-f"></i>
            <span>
                <!-- <oj-bind-text value="[[label().logIn()]]">
                </oj-bind-text> --> Continue with Facebook
            </span>
        </oj-button>
        </div>

    </div>
</div>