/* start global */

/**************************************************/

/* Ghabbour Colors */
/*:root {
    --main-color: #175591;
    --secondary-color: #00A1DB;
    --status-bar-color: #014a77;
    --dashboard-img: url(images/bck-cutting.png);
}*/

/* Hyundai Colors */
:root {
    --main-color: #002c5f;
    --secondary-color: #33b3d2;
    --status-bar-color: #014a77;
    --dashboard-img: url(images/bg-hyundai.png);
}


/* Geely Colors */
/*:root {
    --main-color: #0067b2;
    --secondary-color: #0267b1;
    --status-bar-color: #014a77;
    --dashboard-img: url(images/bg-geely.png);
}*/


/* Mazda Colors */
/*:root {
    --main-color: #1087cd;
    --secondary-color: #4d9ece;
    --status-bar-color: #014a77;
    --dashboard-img: url(images/bg-mazda.png);
}*/


/* Chery Colors */
/*:root {
    --main-color: #ca0100;
    --secondary-color: #c54a49;
    --status-bar-color: #014a77;
    --dashboard-img: url(images/bg-chery.png);
}*/



/**************************************************/

body{
    font-family: 'Raleway', sans-serif;
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Old versions of Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently */
}

.container {
    padding-right: 10px;
    padding-left: 10px;
}

.btnPrimary {
    margin: 10px auto;
    display: block;
}

.btnPrimary button {
    background: var(--main-color) !important;
    color: #fff !important;
    padding: 17px 35px;
    border: 1px solid var(--main-color) !important;
    border-radius: 5px;
    margin: 3px;
    font-size: 14px;
    cursor: pointer !important;
    font-family: 'Raleway', sans-serif;
    height: 40px;
    font-size: 20px;
}

.box-item {
    border-radius: 8px;
    background-color: #fff;
    margin: 8px 4px;
    box-shadow: 0px 5px 10px #d6d6d6;
    width: 45%;
    height: 100px;
}

.box-item h2 {
    margin: 20px 0 0PX;
}

.box-item .label-line {
    display: block;
    margin-bottom: 7px;
}

.form-box .label-line {
    padding-bottom: 4px;
}
.box-item .label-line label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 3px !important;
    font-size: 14px;
    font-weight: normal;
    padding: 0 7px;
    font-family: 'Raleway';
}

.box-item .fa-calendar-alt label {padding-left: 10px;}

.box-item .label-line:before {
    color: var(--main-color) ;
    line-height: 14px;
}

.add-btn {
    background: var(--main-color);
    border-radius: 25px;
    box-shadow: 6px 5px 10px #ccc;
    padding: 7px;
    margin: 30px auto;
    display: table;
}

header .header-title h1 {
    color: #FFFFFF;
    margin: 15px auto;
}

.form-box {
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 3px 3px 10px #ddd;
    margin: 15px auto;
}

.form-box h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #555;
}

.main-input input,
.main-input select,
.date-input .oj-inputdatetime-input-container {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 0 10px !important;
    height: 40px;
    margin: 10px 0px 0px;
    background: #fff;
    box-shadow: 0px 5px 10px #e2e2e2;
}

.main-input textarea {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 0 10px !important;
    height: 100px;
    margin: 10px 0px 0px;
    background: #fff;
    box-shadow: 0px 5px 10px #e2e2e2;
}

.date-input .oj-inputdatetime-input-trigger,
.date-input input {
    border: none !important;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(to top,#000, #0000002e, #0000);
    width: 100%;
    height: 100%;
} 


/* end global */

/* start:  main -> Landing */

.MLContainer{

    max-width: 800px;
    background: none;
    margin: auto;
}
.BGHolder{
    background-image: linear-gradient(to bottom, #00000088, #00000088),url('images/mainlanding.png');
    background-position: center;
    background-size: cover;
    padding: 0px 10px;
}
.HlogoContainer1{

    width: 100px;
}
.HlogoContainer1 img{
    width: inherit;
    margin-top: 30px;
}
.MLpageContent{
    margin-top: 10vh;
}
.MLpageContent span{
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.MLpageContent p {
    color: white;
    font-size: 35px;
    font-weight: lighter;
    margin-top: 10px;
}
.MLpageContent ul li{
    color: white;
    font-size: 17px;
    font-weight: normal;}
.MLpageContent ul {
    margin-top: 10px;
    list-style: none;
    padding: 0;
}
.MLpageContent ul li::before{
    content: "\02713";
    margin-right: 20px;

}
.MLCard{
    height: 120px;
    width: 145px;
    margin: 10px;
}
.MLCard button{
    background-color: #fff !important;
    box-shadow: 3px 3px 10px #00000033 !important;
    text-align: center;
    padding: 20px 5px;
    border-radius: 10px;
}

.MLCard button .oj-button-text {
    white-space: normal !important;
}

.MLCardCont{
    background-color: #FBFBFB;
    padding: 30px 0;
    border-radius: 25px;
    margin: auto;
    text-align: center;
    margin-top: 65px;
    max-width: 750px;
}
.MLCard .oj-button-label img{
    margin:auto;
    display: block;
    margin-bottom: 20px;
}
.MLCard  .oj-button-label{
    display: block;
    text-align: center; 
}
/* .oj-button-label span{
  margin-top: 5px;
} */
/* end:  main -> Landing */

/* start login page */

.login-page {
    background-image: -webkit-linear-gradient(#ffffff2e, #ffffffe6, #fff, #fff), url(./images/login-bck.png);
    background-position: top;
}

.login-page h1 {
    color: var(--main-color);
    margin-bottom: 30px;
}

.login-page .oj-applayout-content {
    padding-top: 26vh;
}

.sign-form label {font-size: 14px;}

.sign-form input {
    border: 1px solid #ddd;
    border-radius: 7px;
    height: 40px;
    margin: 5px 0px 15px;
    background: #fff;
    box-shadow: 0px 3px 10px #ddd;
    padding: 0 10px;
}

.sign-form {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

.login-page .login-footer {
    text-align: center;
    margin-top: 30px;
}

.login-page .login-footer label {
    font-size: 15px;
}

.login-page .login-footer #haveAccount {margin-top: 30px;}

.login-page .login-footer #signup {
    text-decoration: underline;
}
.choose-section ul {text-align: center}

.choose-section .oj-listview-item-element {
    display: inline-block;
}

.choose-section .oj-listview-item {
    background-image: none !important;
}


/* end login page */

/* start signup page */

.signup-page {
    background-image: -webkit-linear-gradient(#fff, #fff, #fffffff7, #ffffffb3), url(./images/bck-car.png);
    background-position: bottom;
    background-repeat: no-repeat;
}

.signup-page h3 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: var(--secondary-color);
}

/* end signup page */

/* start dashboard Page */

.dashboard-page .oj-hybrid-applayout-header-title {
    color: #fff;
    font-weight: bold;
    margin: 15px auto;
}

.dashboard-page .header-text{
    padding: 0 20px;
    margin-top: 10%;
}

.dashboard-page .header-text h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}

.dashboard-page .header-text p {
    font-size: 18px;
    letter-spacing: 1.5px;
}

.dashboard-page .oj-applayout-fixed-top {
    z-index: -1;
}

.dashboard-page header {
    background-image: linear-gradient(to bottom, #0000009e, #00000000),url(./images/bck.png);    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 40vh;
    border-radius: 0 0 25px 25px;
    color: #fff
}

.dashboard-page .banner {
    text-align: center;
    margin-top: -80PX;
    z-index: 99;
}

.dashboard-page .oj-button .oj-button-text {
    white-space: pre-line;
}


.dashboard-page .box-item .oj-button .oj-button-text {
    white-space: pre-line;
    text-overflow: unset;
}

.dashboard-page  .MLCard .oj-button-label {color: #555;}

.logout-btn {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 14px;
    z-index:100;
}

.logout-btn button {
    color: #ffffff !important;
}
.lang-btn {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 14px;
    z-index:100;
}

.lang-btn button {
    color: #ffffff !important;
}

/* end dashboard page */

/* start maintenance page */

.toggle-bar {
    padding: 1px;
}

.toggle-bar .oj-buttonset-first {
    height: 45px;
    border-radius: 25px 0 0 25px !important;
}

.toggle-bar .oj-buttonset-last {
    height: 45px;
    border-radius: 0 25px 25px 0 !important;
}

.toggle-bar .oj-default {
    color: var(--main-color) !important;
    background-color: #fff !important;
}

.book-maintenance .oj-applayout-content p {
    text-align: center;
    color: #777;
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 21px;
}

/* end maintenance page */

/* start test page */

.test-page .oj-applayout-content p {
    text-align: center;
    color: #777;
    font-size: 14px;
    margin-bottom: 30px;
}

/* end test page */

/* start vehicle history */

.vehicle-history .oj-listview-card-layout li.oj-listview-item {
    width: 31.3%;
    margin: 1% !important;
    height: 100px;
    border-radius: 10px;
}

.vehicle-history .oj-listview {
    border: none;
}




/* end vehicle history */

/* start cars page */

.cars .oj-listview-card-layout {
    border: none !important;
}

.cars .car-item {
    width:100%;max-width:100%;padding:0; text-align: -webkit-center; 
}

.cars .car-item .demo-list-content {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-weight: bold;
}

.cars .car-img {
    position: relative;
    background-size : 100%;
    background-position: center;
    height: 16%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.cars .oj-listview-item {
    width:100% !important;
    margin: 10px !important;  
    padding: 0;
    background-color: #fafafa;
    border-radius: 10px !important;
    box-shadow: 5px 5px 10px #ddd;
    height: unset;
}

.cars .car-info {
    margin: 15px 10px;
}

.cars .label-line {
    display: block;
    margin: 10px 5px;
    font-size: 14px;
}

/* end cars page */

/* start car history */

.car-history .car-img {
    position: relative;
    background-size : 100%;
    background-position: center;
    height: 16%;
    width: 100%;
}

.car-history .demo-list-content {
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-weight: bold;
}



/* end car history */

/* start faq page */

.faq-page .tag-btn {
    border: 1px solid var(--main-color);
    border-radius: 20px;
    margin: 0 5px;
}

.faq-page .question {
    background: #f5f5f5;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #ddd;
    margin-bottom: 15px
}


.faq-page .question h4 {
    color: var(--main-color);
}

.faq-page #content {
    color: #555;
    font-size: 14px;
    padding: 5px 10px;
    line-height: 21px;
}

.reset-page .btnPrimary button {
    padding: 0 !important;
}


/* end faq page */

/* start profile */

.profile-page {
    background: #fff;
}

.profile-page .profile-pic {
    margin: 10px auto;
}

.profile-page .oj-applayout-content {
    padding-top: 1vh;
}
.profile-page h1 {
    margin-bottom: 30px;
    text-align: center;
}

.profile-page .change-pic .oj-filepicker-custom {
    display: block;
    margin: auto;
    text-align: center;
}

.profile-page .change-pic .pic-text {text-align: center;}

.ulResults{padding: 0 !important;}

.back-button-icon{
    width: 16px;
    height: 16px;
}
.back-button{
    position: absolute;
    top: 0.5rem;
    z-index: 100;
}
html[dir=ltr] .back-button{
    left: 0;
    transform: rotate(0deg);
}

html[dir=rtl] .back-button{
    right: 0;
    transform: rotate(180deg);
}
.custom-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--main-color);
    z-index:99;
}
.oj-applayout-content{
    padding-top: 5rem !important;
}
/* IOS Issue */
.oj-hybrid-applayout-bar-title{
    position: relative !important;
}
.custom-header-title{
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-weight: 500;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
.oj-hybrid-applayout-header-title{
    visibility: hidden !important;
}
.no-data-section{
    margin-top: 20%;
    color: #000000;
    text-align: center;
}
.no-data-desc{
    font-size: 25px;
    font-weight: lighter;
    margin-top: 10px;
    color: #999999;
}
.no-data-text{
    font-size: 40px;
    font-weight: bold;
    color: #999999;
}
.no-data-section img{
    width: 75%;
    max-width: 500px;
    margin-bottom: 4rem;
}
.shine-card {
    width: 70%;
    height: 13px;
    margin-left: 20%;
    margin-right: 0;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #FFFFFF;
    background: #E3E7E7;
    background-image: linear-gradient(to right, #E3E7E7 0%, #FFFFFF 20%, #E3E7E7 40%, #E3E7E7 100%);
    background-repeat: no-repeat;
    background-size: 800px 130px;
    display: inline-block;
    position: relative;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
}

.sh-rounded{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    margin: 0 !important;
}
.sh-1{
    width: 70%;
}
.sh-2{
    width: 40%;
}
.sh-3{
    width: 60%;
    margin-bottom: 0px !important;
}

@-webkit-keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0; 
    }
}

.loading-section img{
    width: 180px;
}
.loading-section{
    z-index: 999;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.64);
}
.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    padding: 0;
    margin: 0;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.oj-button-jqui.oj-selected.oj-button-full-chrome, .oj-button.oj-selected.oj-button-full-chrome .oj-button-button,
.oj-button-jqui.oj-selected.oj-button-outlined-chrome, .oj-button.oj-selected.oj-button-outlined-chrome .oj-button-button{
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}
.demo-search-button, 
.demo-search-button:hover {
    text-decoration: none;
}

.demo-search-button:active {
    background: none;
}

/* Dirty fix for ios drop downlist bug*/
html:not([dir="rtl"]) .oj-select-select {
    direction: ltr;
}
/* start product page
============================================================ */

/* start product header */

.product-header {
      text-align: center;
}

.product-services {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 0;
}

.product-services .mapping-icon {
    display: inline-block;
    width: 20px;
    text-align: center;
    margin: 0 20px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.product-btns {
    text-align: center;
}

.product-btns:hover .mapping-icon {
    transform: scale(1.2);
}

.product-services h5 a {
    color: #fff !important;
    font-weight: bold;
    font-size: 20px;
}

/* end product header */

/* start small nav */

.small-nav {
    min-height: 60px;
    margin-bottom: 20px;
}

.small-nav .car-name {
    color: #555;
    margin: 28px;
    text-transform: uppercase;
    margin-right: 300px;
}

.small-nav .nav-item a {
    color: #555;
}

.small-nav .active a {
    color: var(--secondary-color);
}

/* end small nav */

/* start highlights */

.highlights h2,
.experience h2,
.thought h2,
.passion h2,
.highlights h3,
.experience h3,
.thought h3,
.passion h3 {
    font-weight: bold;
}

.highlights .highlights-info,
.experience .experience-info,
.thought .thought-info,
.passion .passion-info {
    margin: 20px 0 80px;
    line-height: 1.6;
    font-size: 18px;
}

.highlights img,
.experience img,
.thought img,
.passion img {
    margin-bottom: 60px;
}

/* end highlights */

/* start gallery */

.gallery h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 70px;
}

/* end gallery */

/* start pages header */

header {
    padding: 10px 0 0 0;
}

html[dir="rtl"] header {

}

header h3 {
    margin-top: 15px;
    color: var(--secondary-color);
}

.head-avatar {
    padding-top: 8px;
}

/* change language header */
/* start Specification */

.Specification {
    margin: 60px 0;
}

.Specification h2 {
    font-weight: bold;
    text-transform: uppercase;
}

.Specification .car-type {
    position: relative;
    display: inline-block;
    background: #eee;
    width: 70%;
    margin-left: 15%;
    padding: 10px 25px 5px;
    color: var(--secondary-color);
    cursor: pointer;
}

.Specification .car-type i {
    position: absolute;
    right: 20px;
    top: 17px;
}

.overview .category,
.overview .overview-info {
    display: inline-block;
}

.overview .category {
    background: #e4dcd3;
    width: 25%;
    padding: 10px 30px 5px;
}

.overview .overview-info {
    background: #fff;
    border: 1px solid #e4dcd3;
    width: 68%;
    padding: 10px 30px 5px;
}

.car-collapse {
    margin: 60px 0;
}

.car-collapse .collapse-title {
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px 30px 10px;
    font-weight: bold;
    cursor: pointer;
}





/* end Specification */
.verfy-title {
    font-weight: bold;
    color: var(--main-color) !important;
} 

.try-btn {
    display: inline-block;
}

.try-btn button {
    background: transparent !important;
    color: var(--Btn-main-color) !important;
    border: none !important;
    font-size: 14px;
    font-weight: bold !important;
    text-decoration: underline;
    
}
