<!DOCTYPE html>

<html lang="en-us">

<head>
    <title>TBC LG</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1">
    <link rel="icon" href="css/images/TBC.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- injector:theme -->
    <link rel="stylesheet" href="css/libs/oj/v5.1.0/alta/oj-alta-min.css" type="text/css" />
    <!-- endinjector -->
    <link rel="stylesheet" href="css/demo-alta-site-min.css" type="text/css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="css/app.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/helper.js" type="text/javascript"></script>

</head>

<body>
    <div id="loading">
        <div class="sk-folding-cube">

            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>

    <oj-messages messages="[[messagesDataProvider]]" position="{}" display="notification">
    </oj-messages>

    <!-- ko if: isUserLoggedIn() -->
    <header role="banner" class="container-fluid headerStyle start">
        <div class="headerFirstSection">
            <img class="imgHeader" src="css/images/tbcTransparent.png" />
            <ul class="ulStyle">
                <li>
                    <oj-button on-oj-action="[[homeBtnAction]]" tooltip="LG Screen" flow="down">
                        <i class="fa fa-fw fa-home iconStyle"></i>
                    </oj-button>
                </li>

                <li>
                    <oj-button class="notifiIcon" on-oj-action="[[notifBtnAction]]" disabled="{{notifyDisabled}}"
                        tooltip="LG Notification" flow="down">
                        <i class="fa fa-bell iconStyle"></i>

                        <div class="notiNo">
                            <oj-bind-text value=[[notiCount]]></oj-bind-text>
                        </div>
                    </oj-button>
                </li>
                <!-- ko if: username()=="ibrahim.hassan@appspro-me.com" -->
                <li>
                    <oj-button class="approval" on-oj-action="[[approvalBtnAction]]" disabled="{{notifyDisabled}}"
                        tooltip="LG Approval Setup" flow="down">
                        <i class="fa fa-cogs iconStyle"></i>
                    </oj-button>
                </li>
                <!-- /ko -->
            </ul>
        </div>


        <span class="signOut" tabindex="0" tooltip="log out" flow="down">
            <oj-button class="" on-oj-action="[[logOutBtn]]">
                <i class="fa fa-1x fa-sign-out iconStyle"></i>
            </oj-button>
        </span>
    </header>



    <div class="oj-flex oj-web-applayout-content">
        <div class="oj-flex-item section-two">
            <oj-module role="main" class="oj-web-applayout-max-width" config="[[moduleConfig]]">
            </oj-module>
        </div>
    </div>
    <!-- /ko -->

    <div class="container">

        <!-- ko ifnot : isUserLoggedIn() -->
        <div class="cont-log-bod">
            <div class="log_sec_half ">
                <div class="content_area">
                    <div class="content_header">
                        <img class="logo-2" src="css/images/TBC-LOGO.png">
                        <span>Welcome back! Please login to your account </span>
                    </div>
                    <div class=" login-form">
                        <form>
                            <div class="" data-validate="Enter username">
                                <input class="form-control" type="text" name="username" data-bind="value:username"
                                    id="userValidation">
                                <span class="" data-bind="attr: { 'data-placeholder': UsernameLabel }"></span>
                            </div>
                            <br>

                            <div class="" data-validate="Enter password" id="passValidation">
                                <input class="form-control" type="password" name="pass" data-bind="value:password">
                                <span class="" data-bind="attr: { 'data-placeholder': passwordLabel }"></span>
                            </div>

                            <div data-bind="visible: loginFailureText() !== ''">
                                <span class="error-message-text text-align-center"
                                    data-bind="text: loginFailureText"></span>
                            </div>

                            <div class="login-button" data-bind="click: validateUser">
                                <button type="submit" id="loginButton" class="btn btn-outline-primary"><span
                                        data-bind="text:loginBtnLbl"></span></button>
                            </div>
                            <!-- <div class="" data-bind="click: changeLanguage">
                                <a class="apChngLang " href="#" data-bind="text: languagelable, value: language">

                                </a>
                            </div> -->
                            <b> <a class="apChngLang oj-margin-horizontal"
                                    data-bind="click: switchl, text: languageSwitch_lng"></a></b>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- /ko -->

    </div>

    <footer role="contentinfo">
        <div class="">
            <div id="dialogWrapper">
                <oj-dialog id="switch" class="custom_Dialog">
                    <div slot="header" class="oj-helper-clearfix">
                        <label data-bind="text: confirmationTextLbl"></label>
                    </div>

                    <div slot="body">
                        <label data-bind="text: confirmLanguageLbl"></label>
                    </div>
                    <div slot="footer">
                        <oj-button class="apBtn-2" on-oj-action='[[switchLanguage]]'>
                            <span>
                                <oj-bind-text value="[[yesActionLbl]]"></oj-bind-text>
                            </span>
                        </oj-button>

                        <oj-button class="apBtn-2" on-oj-action='[[switchclose]]'>
                            <span>
                                <oj-bind-text value="[[noActionLbl]]"></oj-bind-text>
                            </span>
                        </oj-button>

                    </div>
                </oj-dialog>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/libs/require/require.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>