<div class="container-fluid processSection mr-top-30">
  <oj-button class="btnStyle" data-bind="click: back"><i class="d-block fas fa-backward"></i>Back</oj-button>
  <h1 class="process-title mr-top-30">Payroll Run</h1>
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-md-12 oj-sm-12 text-center mr-top-30">
      <oj-button class="btnStyle" id='keyword-search-btn ' on-oj-action="[[createPayrollRun]]">
        Submit
      </oj-button>
    </div>
  </div>
  <!-- <div class="panel-custom p-4 border rounded-lg shadow-sm mr-top-30">
    <h5>Flow Details</h5>
    <div id="validation-usecase">
      <oj-validation-group id="create-tracker">
        <oj-form-layout max-columns="1" id="fl1" label-edge="start">
          <oj-input-text required value="{{payrollFlow}}" autocomplete="off" label-hint="Payroll Flow"
            style="max-width: 50%;">
          </oj-input-text>
        </oj-form-layout>
      </oj-validation-group>
    </div>
  </div> -->
  <div class="panel-custom p-4 border rounded-lg shadow-sm mr-top-30">
    <h5>Parameters Details</h5>
    <div id="validation-usecase">
      <oj-validation-group id="create-tracker-2">
        <oj-form-layout max-columns="1" id="fl1" label-edge="start">
          <oj-combobox-one data-bind="css: loadingPayrollValue() ? 'load-input':''" disabled="[[loadingPayrollValue]]" required id="payroll-value" value="{{payrollValue}}"  label-hint="Payroll"
            options="[[optionPayrollValue]]" style="max-width:50%">
          </oj-combobox-one>
          <oj-combobox-one data-bind="css: loadingPayrollPeriod() ? 'load-input':''" disabled="[[loadingPayrollPeriod]]" required id="payroll-period" value="{{payrollPeriod}}"  label-hint="Payroll Period"
            options="[[optionPayrollPeriod]]" style="max-width:50%">
          </oj-combobox-one>
          <!-- <oj-input-date converter=[[dateFormat]] value="{{processDate}}" label-hint="Process Date"
            style="max-width: 50%;">
          </oj-input-date>
          <oj-input-date converter=[[dateFormat]] value="{{dateEarned}}" label-hint="Date Earned"
            style="max-width: 50%;">
          </oj-input-date> -->
          <!-- <oj-input-text value="{{consolidationGroup}}" autocomplete="off" label-hint="Consolidation Group"
            style="max-width: 50%;">
          </oj-input-text> -->
          <!-- <oj-combobox-one id="runtype" value="{{runType}}"  label-hint="Run Type"
            options="[[browsers]]" style="max-width:50%">
          </oj-combobox-one> -->
          <oj-combobox-one data-bind="css: loadingGroups() ? 'load-input':''" disabled="[[loadingGroups]]" id="groups" value="{{elementGroup}}"  label-hint="Element Group"
            options="[[groups]]" style="max-width:50%">
          </oj-combobox-one>
          <!-- <oj-input-text value="{{processConfigurationGroup}}" autocomplete="off"
            label-hint="Process Configuration Group" style="max-width: 50%;">
          </oj-input-text> -->
          <oj-combobox-one id="assignement-group" value="{{assignementGroup}}"  label-hint="Assignement Group"
            options="[[optionAssignementGroup]]" style="max-width:50%">
          </oj-combobox-one>
        </oj-form-layout>
      </oj-validation-group>
    </div>
  </div>
</div>
