  <h3 class="header_headline_style animated fadeInUp" id="currentStepText" data-bind="text:currentStepValueText"></h3>
<div class="request_body_styling animated fadeInUp" >
    <div class="oj-flex-item oj-panel" data-bind="visible:hideSearch">
        <div class="oj-form" id="xx"></div>

        <oj-button class="apBtn-2" on-oj-action='[[searchEFF]]'>
            <span><oj-bind-text value="[[searchLbl]]"></oj-bind-text></span>
            <span slot='endIcon' class="apiconClass fa fa-search"></span>
        </oj-button>

    </div>
    <div class="apBtnGroup">
        <div class="oj-flex-item">

            <oj-button class="apBtn-2 mobBtn" on-oj-action='[[addEFF]]'>
                <span><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
                <span slot='endIcon' class="apiconClass fa fa-plus"></span>
            </oj-button>

            <oj-button disabled="{{oprationdisabled}}" class="approval-btn apBtn-2 apBtn-disabled-2 mobBtn" on-oj-action='[[workglow_Approval]]'>
                <span><oj-bind-text value="[[Approval_list]]"></oj-bind-text></span>
                <span slot='endIcon' class="apiconClass fa fa-list-ul"></span>
            </oj-button>

            <oj-button disabled="{{oprationdisabled2}}" class="apBtn-2 apBtn-disabled-2 mobBtn" on-oj-action='[[updateEFF]]'>
                <span><oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
            </oj-button>
             <oj-button  class="apBtn-2 apBtn-disabled-2"  disabled="{{disableHelpBtn}}" on-oj-action='[[HelpEFF]]'>
                <span><oj-bind-text value="[[HELPLbl]]"></oj-bind-text></span>
                <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
            </oj-button> 
            <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2 mobBtn" on-oj-action='[[viewEFF]]'>
                <span><oj-bind-text value="[[viewLbl]]"></oj-bind-text></span>
                <span slot='endIcon' class="apiconClass fa fa-eye"></span>
            </oj-button>
<!--            <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2 mobBtn" on-oj-action='[[BtnRejectReason]]'>
                <span><oj-bind-text value="[[Reason]]"></oj-bind-text></span>
                <span slot='endIcon' class="apiconClass fa fa-eye"></span>
            </oj-button>-->

            <oj-button disabled="{{deleteDisabled}}" class="apBtn-2 apBtn-disabled-2 mobBtn" on-oj-action='[[deleteEFF]]'>
                <span><oj-bind-text value="[[deleteLbl]]"></oj-bind-text></span>
                <span slot='endIcon' class="apiconClass fa fa-trash"></span>
            </oj-button>


            <div data-bind="visible: hideReportPdf">
                
                <oj-button disabled="{{oprationdisabled3}}" class="apBtn-2 apBtn-disabled-2 mobBtn" on-oj-action='[[ShowReportIdentificationLetter]]'>
                    <span><oj-bind-text value="[[showReportLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-file-pdf-o"></span>
                </oj-button>

            </div>
        </div>

    </div>

    <div id="dialogWrapper">
        <oj-dialog class = "approvalListDialog oj-dialog-content oj-dialog-default-content main-dialog effective-dialog" id="modalDialog1">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text:Approval_list " />
            </div>
            <div slot="body" id="demo">

                <!-- ko foreach: datacrad -->
                <div class="approval-card-body app-crd-bdy-received app-crd-bdy-border-ar" data-bind="css: bodyStatus">
                    <div class="row approval-card-header">
                        <div class="col-md-6 col-sm-12">
                            <h5 class="app-card-Pname"><span data-bind="text: personName"></span>   </h5>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p class="app-crd-type  badge badge-secondary" data-bind="css: status"><span data-bind="text: FYA"></span></p>
                        </div>
                    </div>
                    <div class=" row approval-card-inf-body">
                        <div class="col-md-6 col-sm-12"> <span class="badge badge-pill app-card-badge" data-bind="css: appCardStatus"><span data-bind="text: Approved"></span></span> </div>

                        <div class="col-md-6 col-sm-12"><blockquote class="blockquote app-card-blockqoute">
                                <footer class="blockquote-footer"> <small><span data-bind="text: date"></span></small></footer>
                            </blockquote>
                        </div>
                    </div>
                    <h5><span data-bind="text: rejectReason"></span>   </h5>
                </div>
                <!-- /ko -->
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[closeDialog]]'>
                    <span><oj-bind-text value="[[ok]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>

    <div id="pagingControlDemo">
        <div>
            <oj-table id='table'
                      data='[[dataprovider]]'
                      class='apTable-1'
                      selection-mode='{"row": "single", "column": "single"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy-options='{"fetchSize": 10}'
                      columns='[[columnArray]]'
                      display="grid"
                      on-oj-before-current-row = "[[tableSelectionListener]]">
<!--                       <template slot="ButtonTemplate"> 
                           <oj-button id='button1' on-oj-action='[[BtnRejectReason]]'><span  data-bind="text: Reason"/></oj-button>
                      </template>   -->
            </oj-table>
            <oj-paging-control class='apPaging-1' id="paging" data='[[dataprovider]]' page-size='10' slot='bottom'>
                </oj-paging-control>

        </div>
        <oj-dialog style="display:none;width:650px;height:600px"
                   id="pdfViewer" title="View Letter">
            <div slot="body">PDF Doc</div>
            <div class="documentviewerpdf">
                <object data-bind="attr: { 'data':EmbedPDFLink, 'data-doctype': 'pdf', type: 'application/pdf'}"  width="600px" height="600px">
                    <a data-bind="attr: { 'href':EmbedPDFLink}">test.pdf</a>
                </object>
            </div>
            <br/>
        </oj-dialog>    


    </div>
                <oj-button  class="apBtn-2 apBtn-disabled-2 DybackBtnStyle" on-oj-action='[[BackEFF]]'>
                     <span slot='endIcon' class="apiconClass fa fa-arrow-left"></span>
                <span><oj-bind-text value="[[BackLbl]]"></oj-bind-text></span>
               
            </oj-button>
    	
     <oj-dialog class = "oj-dialog-content oj-dialog-default-content main-dialog effective-dialog" id="onlineHelp">
           <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text:onlineHelpLbl" />
            </div>
         
            <div slot="body" ><span data-bind="text:helpBody"/> </div>
         
          <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[closeHelpDialog]]'>
                    <span><oj-bind-text value="Ok"></oj-bind-text></span>
                </oj-button>
            </div>
            
        </oj-dialog> 
</div>
</div>
  
  
   <oj-dialog style="display:none;width:350px;height:auto"
              id="RejectReasonDialog">
       <div slot="header" class="oj-helper-clearfix">
           <!--Cancel-->
           <span data-bind="text:RejectReasonLbl "></span>
       </div>

       <div slot="body">
          
           <span data-bind="text:bodymessage"></span>
       </div>
       <div slot="footer">
           <button class="apBtn-2" 
                   data-bind="click: CancelDialog,ojComponent: {component: 'ojButton',label: yes}"></button>

          
       </div>
   </oj-dialog>
<div id="dialogWrapper">
    <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label  data-bind="text: confirmMessage"></label>
        </div>

        <div slot="body">
            <label data-bind="text: oprationMessage"></label>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[deleteRecord]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[closeDialog]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog>
</div>