<div><oj-messages position="{}" display="general" messages="[[messages]]"></oj-messages></div>
<h1 class="header_headline_style"><span> <oj-bind-text value="[[headerLbl]]"></oj-bind-text> </span></h1>
<h3 id="currentStepText" class="header_headline_style"  data-bind="text: valueText"></h3>
<div class="request_body_styling animated fadeInUp">
    <div class="oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-flex-items-pad">
        <div class="oj-flex">
            <div class="oj-flex-item">
                <oj-bind-if test='[[isShown]]'>

                    <oj-button class="apBtn-2" on-oj-action='[[submitButton]]'>
                        <span><oj-bind-text value="[[approve]]"></oj-bind-text></span>
                    </oj-button>
                    <oj-button class="apBtn-2" on-oj-action='[[rejectButton]]'>
                        <span><oj-bind-text value="[[reject]]"></oj-bind-text></span>
                    </oj-button>
                                

                
<!--                <button id="reject" type="button" class="demo-button-error"
                        data-bind="visible:isShown,click: rejectButton, ojComponent: { component: 'ojButton', label: reject}"></button>-->
</oj-bind-if>
                
                <button id="back" type="button"  class="oj-button-primary"
                        data-bind="click: cancelRewaardRequst,ojComponent: { component: 'ojButton', label: back,icons: {start:'oj-fwk-icon-back oj-fwk-icon'}}"></button>
                <oj-bind-if test='[[isShownBtnCloseNotification]]'>
                    <button id="back" type="button"  class="oj-button-primary"
                        data-bind="click: closeNotificationButton,ojComponent: { component: 'ojButton', label: closeNotificationLbl,icons: {start:'oj-fwk-icon-cross oj-fwk-icon'}}"></button>
                </oj-bind-if>
            </div>
            <div data-bind="visible: hideReportPdf">
                
                <oj-button  class="apBtn-2 mobBtn" on-oj-action='[[ShowReportIdentificationLetter]]'>
                    <span><oj-bind-text value="[[showReportLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-file-pdf-o"></span>
                </oj-button>

            </div>
            <div id="sampleDemo" class="demo-padding demo-container">
                <div id="componentDemoContent">
                    <div id="dialogWrapper">
                        <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
                            <div slot="header" class="oj-helper-clearfix">
                                <label data-bind="text:confirmMessage "/>
                            </div>
                            <div slot="body">     
                                <label data-bind="text:approveMessage "/>              
                            </div>
                            <div slot="footer">
                                <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[approveRequst]]'>
                                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                                </oj-button>

                                <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[cancelButton]]'>
                                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                                </oj-button>
                            </div>
                        </oj-dialog>

                        <oj-dialog class="main-dialog main-dialog-width" id="rejectDialog">
                            <div slot="header" class="oj-helper-clearfix">
                                <label data-bind="text:confirmMessage "/>
                            </div>
                            <div slot="body">     
                                <label data-bind="text:rejectDialogBody "/>              
                            </div>
                            <div slot="footer">
                                <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[rejectRewaardRequst]]'>
                                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                                </oj-button>

                                <oj-button disabled="{{disableSubmit}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[rejectCancelButton]]'>
                                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                                </oj-button>
                            </div>
                        </oj-dialog>
                    </div>
                </div>
            </div>
        </div>
        <oj-bind-if test=[[showForm()]]>
            <section class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations dynamicForms">
                <h3><span><oj-bind-text value="[[employeeDetailsLbl]]"></oj-bind-text></span></h3>
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label">
                                <span><oj-bind-text value="[[employeeNameLbl]]"></oj-bind-text></span>
                            </oj-label>
                            <oj-input-text slot="value" value="{{employeeNameVal}}" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label">
                                <span><oj-bind-text value="[[locationLbl]]"></oj-bind-text></span>
                            </oj-label>
                            <oj-input-text slot="value" value="{{locationVal}}" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label">
                                <span><oj-bind-text value="[[employeeNumberLbl]]"></oj-bind-text></span>
                            </oj-label>
                            <oj-input-text slot="value" value="{{employeeNumberVal}}" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label">
                                <span><oj-bind-text value="[[organizationLbl]]"></oj-bind-text></span>
                            </oj-label>
                            <oj-input-text slot="value" value="{{organizationVal}}" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label">
                                <span><oj-bind-text value="[[hireDateLbl]]"></oj-bind-text></span>
                            </oj-label>
                            <oj-input-text slot="value" value="{{hireDateVal}}" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label">
                                <span><oj-bind-text value="[[jobLbl]]"></oj-bind-text></span>
                            </oj-label>
                            <oj-input-text slot="value" value="{{jobVal}}" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label">
                                <span><oj-bind-text value="[[gradeLbl]]"></oj-bind-text></span>
                            </oj-label>
                            <oj-input-text slot="value" value="{{gradeVal}}" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                    <div class="oj-md-6 oj-sm-12 oj-flex-item">
                        <oj-label-value label-edge="start">
                            <oj-label slot="label">
                                <span><oj-bind-text value="[[positionLbl]]"></oj-bind-text></span>
                            </oj-label>
                            <oj-input-text slot="value" value="{{positionVal}}" disabled></oj-input-text>
                        </oj-label-value>
                    </div>
                </div>
            </section>
            </oj-bind-if>
        <div class="oj-form-layout">
            <div id="form-container" class="oj-form-layout">
                <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations"> 
                    <div class="oj-form" id="xx">
                        
                    </div>
                     
                    <oj-bind-if test="[[showAttachment() === true]]">
                    <!--<div>-->
                           <div class="oj-flex-item">
                               <label data-bind="text: resumeAttachmentLbl"/>
                           </div>
                          <div class="form_field_dy_style attachedFileRow" >

                            <div class="form-group row formFieldRow">
                             
                                <oj-file-picker class="oj-filepicker-custom col-sm-4 col-form-label attachment" required  
                                                select-on="click"
                                                selection-mode="single" 
                                                on-oj-select='[[attachmentSelectListener]]'>
                                    <oj-button slot='trigger' chroming='half' data-bind="visible: viewAttachmentBtnVisible" >
                                        <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-arrowbox-n'><oj-bind-text value="[[UploadFileLbl]]"></span>
                                    </oj-button>
                                </oj-file-picker>
                                <div class="col-sm-8">
                                 <oj-list-view id="listview" aria-label="list using observable array" 
                                               data="[[dataProviderAttachment]]" selection-mode="single" selection="{{selectedItemsAttachment}}">
                                     <template slot="itemTemplate">
                                         <span>
                                             <oj-bind-text value='[[$current.data.name]]'></oj-bind-text>
                                         </span>
                                     </template>
                                 </oj-list-view>
                                 <div class="oj-flex-item attBtnRow" text-align="center">
                                 <oj-button   data-bind="visible: viewAttachmentBtnVisible"  class="apBtn-2" on-oj-action='[[removeSelectedAttachment]]'>
                                  <span><oj-bind-text value="[[removeBtnLbl]]"></oj-bind-text></span>
                              </oj-button>
                              <oj-button class="apBtn-2" on-oj-action='[[openAttachmentViewer]]' >
                                  <span><oj-bind-text value="[[viewLbl]]"></oj-bind-text></span>
                              </oj-button>
                              </div>
                             </div>
                            </div>
                          </div>
<!--                           <div class="oj-flex-item">
                               <label data-bind="text: fileUploadStatusLbl"/>
                           </div>-->
                                <!--end attached section resume Attachment-->
                           <!--add attachemnt-->    
                    </oj-bind-if>
                              
                </div>
                                        
            </div>
                             
                  <!--<h3> <label  data-bind="text:rejectMessage"/></h3>-->   
                                      <div class="oj-flex">  
                                           <div class="oj-flex-item">
                                               <label data-bind="text: rejectMessage"/>
                                               <oj-input-text id="input" disabled="{{disableRejectReason}}"  value="{{rejectReason}}"></oj-input-text>
                                             </div>
                                       </div>   
                               
        </div>
    </div>
    
    
    <div id="dialogWrapper">
       <oj-dialog style="display:none;width:350px;height:auto"
                  id="cancelDialog">
           <div slot="header" class="oj-helper-clearfix">
               <!--Cancel-->
               <span data-bind="text:'Close Request' "></span>
           </div>

           <div slot="body">
               <!--                       Are you Sure?-->
               <span data-bind="text:'Are you Sure to Close Request ?'"></span>
           </div>
           <div slot="footer">
               <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[closeNotificationAction]]'>
                   <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
               </oj-button>

               <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[closeNotificationPopup]]'>
                   <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
               </oj-button>
           </div>
       </oj-dialog>
        
   </div>
    
            <oj-dialog style="display:none;width:650px;height:600px"
                   id="pdfViewer" title="View Letter">
            <div slot="body">PDF Doc</div>
            <div class="documentviewerpdf">
                <object data-bind="attr: { 'data':EmbedPDFLink, 'data-doctype': 'pdf', type: 'application/pdf'}"  width="600px" height="600px">
                    <a data-bind="attr: { 'href':EmbedPDFLink}">test.pdf</a>
                </object>
            </div>
            <br/>
        </oj-dialog> 
    
    
    
    
</div>