<div class="oj-hybrid-applayout-page book-maintenance">
    <!-- This is where your main page content will be loaded -->
    <div class="oj-applayout-content container">
        <p data-bind="text: labels.nearestLocationLbl"></p>
        <div id="main">
            <div class="form-box oj-panel oj-panel-shadow-sm oj-sm-margin-2x demo-panel-customizations">
                <h3 data-bind="text: labels.customerInfoLbl"></h3>
                <!-- <oj-label><oj-bind-text value="[[labels.userNameLbl]]"></oj-bind-text></oj-label> -->
                <oj-input-text class="main-input" placeholder="User Name" id="userName"></oj-input-text>   
                <!-- <oj-label><oj-bind-text value="[[labels.passwordLbl]]"></oj-bind-text></oj-label> -->
                <oj-input-text class="main-input" placeholder="Password" id="password"></oj-input-text>   
            </div>

            <div class="form-box oj-panel oj-panel-shadow-sm oj-sm-margin-2x demo-panel-customizations">
                <h3 data-bind="text: labels.carInfoLbl"></h3>
                <oj-select-one class="main-input" id="location" placeholder="[[labels.carModelLbl]]"></oj-select-one>  
                <oj-select-one class="main-input" id="location"  placeholder="[[labels.carTypeLbl]]"></oj-select-one> 
                <oj-input-text  class="main-input" id="password" value="[[labels.chassisNumberLbl]]"></oj-input-text>   
            </div>

            <div class="form-box oj-panel oj-panel-shadow-sm oj-sm-margin-2x demo-panel-customizations">
                <h3 data-bind="text: labels.maintenanaceInfoLbl"></h3>
                <oj-select-one class="main-input" id="location" placeholder="[[labels.maintenanceTypeLbl]]"></oj-select-one>  
                <oj-select-one class="main-input" id="location" placeholder="[[labels.serviceCenterLbl]]"></oj-select-one>  
                <oj-input-date class="date-input" id="date" value='{{currentDate}}' converter=[[dateConverter]]></oj-input-date>
            </div>

            <oj-button class="btnPrimary" id="book" on-oj-action="[[bookAction]]" >
                <span >
                    <oj-bind-text value="[[labels.bookLbl]]">
                    </oj-bind-text>
                </span>
            </oj-button>

        </div>

    </div>
</div>