<div class="oj-hybrid-applayout-page maintenance-page">
    <div class="oj-applayout-content container">
        <oj-validation-group id="tracker" valid="{{groupValid}}">
            <div class="form-box oj-panel">
                <div class=" oj-flex-item">
                                <h5 for="rem"><oj-bind-text value="[[label().vehicle()]]"></oj-bind-text></h5>
                                <oj-select-one class="main-input" value="{{fieldsValue.vehicle}}" options="[[fieldsValue.vehicleArr]]" required="{{fieldsOption.secondValueRequired}}">
                                </oj-select-one>
                            </div>
                            <div class=" oj-flex-item">
                                <h5 for="rem"><oj-bind-text value="[[label().branch()]]"></oj-bind-text></h5>
                                <oj-select-one class="main-input" value="{{fieldsValue.branch}}" options="[[fieldsValue.branchArr]]" required="{{fieldsOption.secondValueRequired}}">
                                </oj-select-one>
                            </div>
                            <div class=" oj-flex-item">
                                <h5 for="rem"><oj-bind-text value="[[label().operation()]]"></oj-bind-text></h5>
                                <oj-select-one class="main-input" value="{{fieldsValue.operation}}" options="[[fieldsValue.operationArr]]" on-value-changed="[[selectOperationHandler]]" required="{{fieldsOption.secondValueRequired}}">
                                </oj-select-one>
                            </div>
                            <div class=" oj-flex-item">
                                <h5 for="rem"><oj-bind-text value="[[label().estTime()]]"></oj-bind-text></h5>
                                <oj-input-text class="main-input" value="{{estTime}}" disabled="true">
                                </oj-input-text>
                            </div>
                            <div class=" oj-flex-item">
                                <h5 for="rem"><oj-bind-text value="[[label().price()]]"></oj-bind-text></h5>
                                <oj-input-text class="main-input" value="{{price}}" disabled="true">
                                </oj-input-text>
                            </div>
                            <div class=" oj-flex-item">
                            <h5 for="rem"><oj-bind-text value="[[label().comment()]]"></oj-bind-text></h5>
                            <oj-text-area class="main-input"  value="{{fieldsValue.comment}}" required="{{fieldsOption.secondValueRequired}}"></oj-text-area>
                            </div>
                            <div class=" oj-flex-item">
                                <h5 for="rem"><oj-bind-text value="[[label().date()]]"></oj-bind-text></h5>
                                <oj-input-date id="datepicker" value={{value}} date-picker=[[datePicker]] day-formatter=[[dayFormatter]]>
                                <!--<oj-input-date id="datepicker" value={{value}} date-picker=[[datePicker]] day-meta-data=[[dayMetaData]]>-->
                                </oj-input-date>
                            </div>
                            <div class=" oj-flex-item">
                                <h5 for="rem"><oj-bind-text value="[[label().time()]]"></oj-bind-text></h5>
                                <oj-input-time id="time" value={{time}} time-picker=[[timePicker]]  min = {{min}} max = {{max}}>
                                </oj-input-time>
                            </div>

            </div>
</oj-validation-group>
            <oj-button class="btnPrimary" id="login" on-oj-action="[[addAction]]">
                <span>
                    <oj-bind-text value="[[label().add()]]"></oj-bind-text>
                </span>
            </oj-button>
        <h3 for="rem"><oj-bind-text value="[[label().details()]]"></oj-bind-text></h3>
                        <oj-list-view id="listview" aria-label="simple list" data="[[dataprovider]]" selection-mode="single"
                                      scroll-policy="loadMoreOnScroll" 
                                      scroll-policy-options='{"fetchSize": 3}'
                                      style="overflow: inherit">
                            <template slot="itemTemplate" data-oj-as="item">
                                <div class="container">
                                    <div>
                                        <strong>
                                            <oj-bind-text value="[[label().vehicle()]]"></oj-bind-text>:   
                                        </strong>
                                        <span class="name"><oj-bind-text value="[[item.data.vehicle]]"></oj-bind-text></span><br>
                                        <strong>
                                            <oj-bind-text value="[[label().branch()]]"></oj-bind-text>:   
                                        </strong>
                                        <span class="name"><oj-bind-text value="[[item.data.branch]]"></oj-bind-text></span><br>
                                        <strong>
                                            <oj-bind-text value="[[label().operation()]]"></oj-bind-text>:   
                                        </strong>
                                        <span class="name"><oj-bind-text value="[[item.data.operation]]"></oj-bind-text></span><br>
                                        <strong>
                                            <oj-bind-text value="[[label().comment()]]"></oj-bind-text>:   
                                        </strong>
                                        <span class="name"><oj-bind-text value="[[item.data.comment]]"></oj-bind-text></span><br>
                                        <strong>
                                            <oj-bind-text value="[[label().date()]]"></oj-bind-text>:   
                                        </strong>
                                        <span class="name"><oj-bind-text value="[[item.data.date]]"></oj-bind-text></span><br>
                                        <strong>
                                            <oj-bind-text value="[[label().estTime()]]"></oj-bind-text>:   
                                        </strong>
                                        <span class="name"><oj-bind-text value="[[item.data.estTime]]"></oj-bind-text></span><br>
                                        <strong>
                                            <oj-bind-text value="[[label().time()]]"></oj-bind-text>:   
                                        </strong>
                                        <span class="name"><oj-bind-text value="[[item.data.time]]"></oj-bind-text></span><br>
                                        <strong>
                                            <oj-bind-text value="[[label().price()]]"></oj-bind-text>:   
                                        </strong>
                                        <span class="name"><oj-bind-text value="[[item.data.price]]"></oj-bind-text></span><br>
                                    </div>
                                </div>
                            </template>
                        </oj-list-view>
        
            <oj-button class="btnPrimary" id="login" on-oj-action="[[submitAction]]">
                <span>
                    <oj-bind-text value="[[label().submit()]]"></oj-bind-text>
                </span>
            </oj-button>
            
   </div>
</div>

<!--<div class="oj-hybrid-applayout-page maintenance-page">
    <div class="oj-applayout-content container">
        <div class="no-data-section">
            <img src="css/images/under_develop.png">
            <p class="no-data-desc" style="font-weight: bold">Under development...</p>
        </div>
    </div>
</div>-->