/* oragne : #eb6122 */
/* brown: #c1844b */
/* purple : #6e2378 */
body { 
  /* background: url(../css/images/homebackground_80.jpg) no-repeat center center fixed; */
  /* background-color: #ccc; */
  /* font-family: 'Roboto', sans-serif; */
  background: url(../css/images/loginBack.jpg) no-repeat center center fixed;
  font-family: 'Arimo', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.containerCustomWidth{
  width:75%;
  
}
.noPadding{
  padding: 0;
  margin: 0;
}
.request_body_styling{
  background-color: rgba(255, 255, 255, 0.95);
  /* padding: 30px 20px; */
  padding-bottom: 50px;
  margin-top:20px;
  border-radius: 5px;
  min-height: 470px;
}
.header_headline_style{
  color: #636365 ;
  font-weight: bold;
  padding: 20px;
  text-align: start;
}
/* start common styles */
.start{
  text-align: start;
}
.inlineblock{
  display: inline-block;
}
.cursor-pointer{
  cursor: pointer;
}
.listPadding{
  padding: 0 10px; 
}
.padding-left-12{
padding-left: 12px;
}
.center{
  text-align: center;
}
.paddingBottom{
  padding-bottom: 35px;
}
.paddingTop10px{
  padding-top: 10px;
}
.paddingBottom10px{
  padding-bottom: 10px;
}

.summaryBtn{
  text-align: center;
  margin-top: 30px;
}
.oj-button button{
  background-color: transparent !important;
  outline: none;
  border: none;
}
.oj-label-group{
  font-weight: bold;
  color: #000;
  font-size: 13px;
}

.oj-button-text {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.subTitle{
  padding-bottom: 25px;
  padding-top: 30px;
}
.subTitle h4{
  color: #464647;
  padding-bottom: 10px;
}
/**************btn Enable*****************/
.btnStyle .oj-enabled .oj-button{
  padding: 10px;
}
.btnStyle .oj-button-text{
  color: #464647;
}
/* .btnStyle:hover .oj-enabled .oj-button-text{
  color: #FFF !important;
} */
.btnStyle  {
  color: #464647;
  border: 1px solid #464647;
  background-color: transparent;
  border-radius: 5px;
  margin-right: 10px; 
}
.btnStyle  .oj-button-label{
  padding: 13px 25px;
}
.oj-button i{
  margin: 5px;
}
.btnStyle:hover{
  background-color: #464647;
  border: 1px solid #464647;
  border-radius: 5px;
  color: #fff ;
}
.btnStyle:hover .oj-button-text{
  color: #fff;
}
.oj-enabled:hover button{
  cursor: pointer;
}
.btnStyle button{
  margin: 0 !important;
  outline: none;
}
/***********************************/
/***********btn Disabled************/
.btnStyle .oj-disabled .oj-button{
  padding: 10px;
}
.oj-disabled .oj-button-text{
  color: #ccc !important;
}
.oj-disabled{
  color: #ccc !important;
  border: 1px solid #ccc;
  background-color: transparent;
  /* border-radius: 5px;
  margin-right: 10px;  */
}
.btnStyle.oj-disabled:hover{
  background: none;
  border: 1px solid #ccc;
}
/* .oj-disabled:hover{
  color: #ccc !important;
  border: 1px solid #ccc;
  background-color: transparent;
} */
.btnStyle .oj-disabled .oj-button-label{
  padding: 13px 25px;
}
.hr{
  width: 1355px;
  height: 1px;
  background-color: #ccc;
  /* margin: auto; */
}
/*********************************/

/*loading placeholder */
.cardPlaceholder {
  position: relative;
  /* -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); */
  height: 500px;
  overflow: hidden;
  margin: 10px auto;
}
.cardPlaceholder .visiTitle{
  text-align: center;
  font-weight: bold;
}
.cardPlaceholder .title{
  padding: 20px 150px;
  border-radius: 6px; 
  width: 20%;
  margin: auto;
}
.cardPlaceholder .secondTitle{
  padding: 20px 150px;
  border-radius: 3px;
  width: 20%;
  margin: auto;
  margin-top: 50px;
}
.shimmerBG {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #fff;
  background: linear-gradient(to right, #Fff 8%, #F0F0F0 18%, #fff 33%);
  background-size: 1200px 100%;
}


@-webkit-keyframes shimmer {
  0% {
        background-position: -100% 0;
  }
  100% {
        background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
      background-position: -1200px 0;
  }
  100% {
      background-position: 1200px 0;
  }
} 
.p-32 {
  padding: 32px;
}

/* End common styles */

/******Start dialog*******/
/* #backDialog{
  width: 50% !important;
} */
/*******End dialog**********/
/* Start tooltip*/
[tooltip] {
  position: relative; 
}
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1001;
}
[tooltip]::after {
  content: attr(tooltip);
  font-family: Helvetica, sans-serif;
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000;
  border-bottom: 4px solid #00a6ec;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}
/************************************************/
/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
bottom: 100%;
border-bottom-width: 0;
border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
left: 50%;
transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
top: 100%;
border-top-width: 0;
border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
left: 50%;
transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
top: 50%;
border-right-width: 0;
border-left-color: #333;
left: calc(0em - 5px);
transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
top: 50%;
right: calc(100% + 5px);
transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
top: 50%;
border-left-width: 0;
border-right-color: #333;
right: calc(0em - 5px);
transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
top: 50%;
left: calc(100% + 5px);
transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
to {
  opacity: .9;
  transform: translate(-50%, 0);
}
}

@keyframes tooltips-horz {
to {
  opacity: .9;
  transform: translate(0, -50%);
}
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
animation: tooltips-horz 300ms ease-out forwards;
}
/**************************************************************************************/
/* start table */
.tableContent{ 
  margin-top: 20px;
  /* padding-left: 12px; */
  /* text-align: center; */
}
.oj-table-header{
  background: #616162;
}
.oj-table-column-header-text{
  color: #FFF;
}
.tableStyle{
  width: 100%;
  border:none !important;
  background-color: transparent!important;
  overflow: auto;
  text-align: start;
  max-height: 270px;
  /* margin: auto;
  display: block; */
}
.tableStyle tbody {
min-height: 100px;
}
.tableStyle thead tr th {
  border:none !important;
  transition: all 0.1s ease-in-out;
}

.tableStyle tbody tr  {
  border-bottom: 1px solid #888 !important;
  transition: all 0.1s ease-in-out;
  padding-bottom: 15px !important;
}

/* .tableStyle tbody tr:hover  {
  background-color:#eb6222ab !important;

}

.tableStyle tbody tr .oj-hover{
  background-color: #eb6222ab !important;

} */

.tableStyle tbody .oj-selected{
  background-color: #00a6ec!important;
  color: #FFF;
}

.tableStyle tbody tr td  {
  border:none !important;
  transition: all 0.1s ease-in-out;
}

.tableStyle thead tr th:hover {
  background-color:#b9b6b6; 

}

/* .tableStyle thead tr th:hover .oj-table-column-header {
  color:var(--table-hover-text) !important; 

}  */
.tableStyle thead{
  border:none !important;
}
/* end styling for apTable */

/* header */

.nav-img img{
  padding-top: 1px;
}
.swNavbar{
  background-color: #f8f8f8;
  position: relative;
  height: 41px;
}
.nav-img{
  margin-top: auto;
  text-align: center;
  width: 100%;
  vertical-align: middle;
  margin-bottom: auto;
}
.notification{
  position: absolute;
  right: 30px;
  top: 250px;
}
.notification:hover{
  cursor: pointer;
}
.notification .home-icon{
  border-radius: 50%;
  background-color: #616162;
  box-shadow: 0 0 10px #00a6ec;
  /* padding: 23px 25px; */
  width: 45px;
  height: 45px;
}
.notification .home-icon:hover{
  background-color: #00a6ec;
  margin-bottom: 5px;
}
.notification .home-icon i{
  text-align: center;
  margin: auto;
  display: block;
  padding-top: 13px;
}
.notification i{
  font-size: 17px;
  color: #FFF;
}
.notification .notifiIcon{
  border-radius: 50%;
  background-color: #616162;
  box-shadow: 0 0 10px #00a6ec;
  /* padding: 23px 25px; */
  width: 45px;
  height: 45px;
}
.notification .notifiIcon:hover{
  background-color: #00a6ec;
  margin-bottom: 5px;
}
.notification .notifiIcon i{
  text-align: center;
  margin: auto;
  display: block;
  padding-top: 13px;
}

#signOut .oj-button,.oj-button-text,.oj-button-label{
  margin: 0;
  padding: 0;
}
#signOut{
  background-color: #616162;
  box-shadow: 0 0 10px #00a6ec;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  display: block;
  width: 45px;
  height: 45px;
}
#signOut:hover{
  background-color: #00a6ec;
  margin-bottom: 5px;
  cursor: pointer;
}
#signOut button:hover{
  cursor: pointer;
}
#signOut i{
  text-align: center;
  margin: auto;
  display: block;
  padding-top: 10px;
}
/******************End Header**********************/

/****************Start login page*************************/
.txt1{
  font-size: large;
}

#errorDiv{
  font-size: 20px;
  color: #CC0000;
}

.login-box {
  margin-top: 90px !important;
  margin: auto;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  border-radius: 8px;
}
.login-title {
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #ECF0F5;
}

.login-formleft{
  margin-top: 25px;
  text-align: left;
}
.login-formright{
  margin-top: 25px;
  text-align: right;
}

.login-form input[type=text] {
  background-color: transparent !important;
  border: none;
  border-bottom: 2px solid #192345;
  border-top: 0px;
  border-radius: 2px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding: 0 25px 0 25px;
  color: #000;
}

.login-form input[type=password] {
  background-color: transparent !important;
  border: none;
  border-bottom: 2px solid #192345;
  border-top: 0px;
  border-radius: 2px;
  font-weight: bold;
  outline: 0;
  padding: 0 25px 0 25px;
  margin-bottom: 20px;
  color:#000;
}
.login-form input:hover{
  background-color: transparent;
}

.login-form .form-group {
  margin-bottom: 40px;
  outline: 0px;
}
.login-form input:focus {
  outline: none;
  box-shadow: 0 0 0;
  background: transparent !important;
}

.login-form label {
  margin-bottom: 0px;
}

.login-form .form-control-label {
  font-size: 10px;
  color: #6C6C6C;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-form .btn-outline-primary {
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #192345;
  color: #fff;
  border: 1px solid #02071b;
  border-radius: 6px;
  margin: auto;
  display: block;
  /* padding: 12px 35px; */
  width: 40%;
  margin-top: 30px;
}

.login-form .btn-outline-primary .oj-button-button{

  color: white !important;
  font-weight: bold;
}
.login-form .btn-outline-primary .oj-button-button:hover{

  color: white !important;
  font-weight: bold;
}
.wrap-input100{
  position: relative;
}
.log-icon{
  position: absolute;
  bottom: 3px;
  color: #192345;
}
.log-icon i{
  font-size: 20px;
}
.login-form .btn-outline-primary:hover {
  background-color: #39435f !important;
  border: 1px solid #02071b !important;
  right: 0px;
}

.login-form .login-btm {
  float: left;
}

.login-form .login-button {
  padding-right: 0px;
  text-align: right;
  margin-bottom: 25px;
}

.login-form .login-text {
  text-align: left;
  padding-left: 0px;
  color: #A2A4A4;
}

.login-form .loginbttm {
  padding: 0px;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 50px;
  height: 50px;
  background-color: #fff; 
  /* position: absolute; */
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  margin-top: calc(50vh - 20px);
  margin-left: calc(50vw - 20px);
  

}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); 
  
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
  } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
  } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
  } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
  } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
  }
}

#loading{
  display: none;
  height: 100%;
  width: 100%;
  background: #7f7d7d;
  position: fixed;
  z-index: 999;
  opacity: .7;
}

/* /////////////////// */
.loader {    
    background-image: url("images/33.gif") !important;
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
}

/*end laoing page*/

/***************** End login Page ***************************/

/******************Start penalty Setup Page ***********3************/
.summarySearchtBtn{
  padding-left: 105px;
  padding-top: 30px;
}
.PenaltyBtn{
  margin: 20px 0 20px 25px;
}
.btnFooterPenaltyScreen{
  text-align: center;
  padding: 40px 0;
}
.positionLine{
  /* position: relative; */
}
.line{
  height: 2px;
  width: 55px;
  background-color:#464647;
  /* position: absolute;
  left: 0;
  top: 10px; */
}
/******************End penalty Setup Page ***********************/

/******************Start penalty Screen & Details Page ***********************/
.detailsBtn{
  margin-bottom: 35px;
}
/******************End penalty Screen & Details Page ***********************/

/*****************media query**********************/
.nav-links{
  display: none;
}
.navResp > #nav-check {
display: none;
}
.navResp{
  display: none;
}
@media  screen and (max-width: 930px) {
.oj-label-group{
    font-size: 10px;
}
/* .request_body_styling{
    padding: 30px 0;
} */
.mobResBlock{
    display: block;
}
  .tableStyle{
      /* width: 50%; */
      margin: 0;
      text-align: start;
  }
.summarySearchtBtn{
    text-align: left;
    padding-left: 2px;
}  
  .notification{
      display: none;
  }
  .navResp{
      display: block;
  }
.navResp > .nav-btn {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
  
}
.navResp > .nav-btn > label {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 13px;
}
.navResp > .nav-btn > label:hover,.navResp  #nav-check:checked ~ .nav-btn > label {
  color: #616162;
}
.navResp > .nav-btn > label > span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid #616162;
}
.navResp > .nav-links {
  position: absolute;
  display: block;
  width: 0;
  background-color: #616162;
  height: 0px;
  transition: all 0.3s ease-in;
  overflow-y: hidden;
  top: 50px;
  right: 0px;
  padding: 10px;
}
.navResp .nav-links .home-icon{
    border-bottom: 2px solid #FFF;
}
.navResp .nav-links .notifiIcon{
    border-bottom: 2px solid #FFF;
}
.navResp .nav-links,.navResp .nav-links:hover{
    cursor: pointer;
}
.navResp .nav-links,.navResp .nav-links i {
 
  text-align: center;
  color: #616162 !important;
  
}
.navResp .nav-links .home-icon i:hover{
  color:#00a6ec !important;
  }
  .navResp .nav-links .notifiIcon i:hover{
      color:#00a6ec !important;
  }
  .navResp .nav-links .out-btn button:hover i{
      color:#00a6ec !important;
  }

.navResp .nav-links i{
    font-size: 15px;
    background-color: #fff !important;
    width: 30px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
   
}
.navResp > #nav-check:not(:checked) ~ .nav-links {
  height: 0px;
  width: 0px;
  display: none;
}
.navResp > #nav-check:checked ~ .nav-links {
  height: fit-content;
  overflow-y: auto;
  width: 150px;
  border-radius: 5px;
  display: block;
}

}
@media  screen and (max-width: 600px) { 

  .oj-web-applayout-max-width{
      max-width: 306px !important;
  }
}
/***********************************************************/
html[dir="rtl"] .padding-right {
  padding-right: 60px !important;
}
/************************ profile icon****************************/
.apProfileIcon{
  z-index: 1;
  margin: auto;
  background-color: #ffffff;
  border-radius: 67px;
  width: 40px;
  height: 40px;
  transition: all 0.2s ease-in-out;
  /* margin: 2px; */
  /* margin-left: 1%; */
  position: absolute;
  left: 5px;
  top:1px;
}
/* html[dir="rtl"] .apProfileIcon{
  left: 20px !important;
  margin-left: 0px;
} */


.apProfileIcon:hover{
  background-color:var(--primary-color) !important ;
  cursor: pointer;
}



.apProfileIcon button{
  border-radius: 100%;
  background-color: transparent !important;
  padding: 0;
  border: 0;
  border-radius: 139px;
  width: 35px;
  height: 35px;
  transition: all 0.2s ease-in-out;
  margin: auto !important;
}
.apProfileIcon button .oj-button-label .oj-button-icon{
  display: none;
}
/********************* end of profile icon *********************/

/************************ home page *******************************/
.summaryContent {
  padding-right: 60px;
}
.idpPagInfoType{
  color:var(--primary-color) ;
  font-family: source-sans-pro, sans-serif;
  font-size: 15px;
  font-weight: bold;

}
.itemRevceiveInputText .oj-inputtext-input{
  color: black !important;
  font-weight: 100;
}

.itemRevceiveInputTextRight .oj-inputtext-input{
    text-align: right;
}
.itemRevceiveInputText .oj-inputdatetime-input {
  color: black !important;
  font-weight: 100;
}

.loading {    
  background-image: url("images/3.gif") !important;
  background-size: 25px 25px;
  background-position:right center;
  background-repeat: no-repeat;
}

.notiNo{
  display: inline;
  background-color: #34bdf7;
  padding: 3px 6px;
  border-radius: 25px;
  text-align: center;
  color: #000;
  top: 15px;
  /* left: 331px; */
  font-size: 11px;
}

.rowCenter{
  margin-top: 15px;
  display: block;
  text-align: center;
}

/************ approval list *************/
.approval-card-body{
  width:100%;
  padding: 10px 20px;
  margin : 10px auto;
  border-style: solid;
  border:0px;
  border-radius: 10px;
}
html[dir="rtl"] .app-crd-bdy-border{
  border-right-width: 5px; 
}
html[dir="ltr"] .app-crd-bdy-border{
  border-left-width: 5px; 
}

.app-crd-bdy-received{ background-color: #f8f9fa; }
.app-crd-bdy-notreceived{ background-color:#f8f9fa ; }
.app-crd-bdy-border-suc{  box-shadow: 0px 1px 6px 0px #28A745aa; border-style: solid; border-color: #28A745; }
.app-crd-bdy-border-fail{ box-shadow: 0px 1px 6px 0px #DC3545aa; border-style: solid; border-color: #DC3545; }
.app-crd-bdy-border-pen{  box-shadow: 0px 1px 6px 0px #FFC107aa; border-style: solid; border-color: #FFC107; }
.app-crd-bdy-border-ntre{ box-shadow: 0px 1px 6px 0px #343A40aa; border-style: solid; border-color: #343A40; }
.app-crd-bdy-border-suc{  box-shadow: 0px 1px 6px 0px #28A745aa; border-style: solid; border-color: #28A745; }
.app-card-Pname{ display: inline-block}
.app-card-badge{ min-width:95px; padding: 5px;}
.app-card-blockqoute{margin-bottom: 0px;}
.app-crd-type{margin-bottom: 1px; display:inline-block; margin-left: 5px; margin-right: 5px; }

.app-type-a{background-color:#17A2B8 ;}
.app-type-i{background-color:#6c757d ;}

/* html[dir="rtl"] .dialogStyle{
  float:right;
}
html[dir="ltr"] .dialogStyle{
  float:left;
} */
.app-card-for-en{float:right;}
.app-crd-progressbar-body{
  height: 5px;
  width: 80%;
  margin: 20px auto;
}
.app-card-badge.badge-warning{
  background-color: transparent;
  animation: pendAlert 1s 1s  infinite;
}

@keyframes pendAlert {
  0% { box-shadow: 0 0 20px 0px #ffc107;background-color:#ffc107aa; }
  50% { box-shadow: none; background-color: transparent; }
  100% { box-shadow: 0 0 20px 0px #ffc107;background-color:#ffc107aa; }
}

.app-card-badge.badge-danger{
  background-color: transparent;
  animation: rejAlert 1s 1s  infinite;
}

@keyframes rejAlert {
  0% { box-shadow: 0 0 20px 0px #dc3545;background-color:#dc3545aa; }
  50% { box-shadow: none; background-color: transparent; }
  100% { box-shadow: 0 0 20px 0px #dc3545;background-color:#dc3545aa; }
}



.app-card-prog-type-rj{
  background-color: #dc3545;
}
.app-card-prog-type-pen{
  background-color: #ffc107;
}

.app-card-prog-type-app{
  background-color: #28a745;
}

.dialogStyle{
  width: 35%;
  top: 50vh;
  left: 50vw;
}

.dialogDetails{
  width: 80%;
}
.approval-card-inf-body{
  padding-bottom: 5px;
}
/* #pageContent{
  background: url(../css/images/loginBack.jpg) no-repeat center center fixed;
  background-size: cover;
}
.homeContent{
  background: url(../css/images/homebackground_80.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
} */

.dialogDetailsHeader{
width: 100%;
}

.dailogDetailsbutton{
  border: none;
  background: none;
  float: right;
  font-size: 15px !important;
  margin: 6px 0px;
}

.dailogDetailsbutton:hover{
color: #76b8e1 !important;
}

.dialogDetails .oj-dialog-header{
  padding: 6px !important;
  /* height: 180px !important; */

}
