<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id="form-container" class="section-container">
    <h1 data-bind="text: MainLbl"></h1>

    <br/><br/>
    <div style="    margin-bottom: 27px;margin-top: -5px;">
        <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[backBtnAction]]'>
            <span><oj-bind-text value="[[backLbl]]"></oj-bind-text></span>
        </oj-button>
    </div>
    <div class="oj-flex oj-flex-items-pad">
       <div class="oj-flex">
            <div class="oj-flex-item">
                <label  data-bind="text: projectNumber"/>
            </div>

            <div class="oj-flex-item">
                <oj-input-text id="select"  disabled="{{isDisabledProNumVal}}"
                               value="{{proNum}}">
                </oj-input-text>
            </div>
        </div>

        <div class="oj-flex">
            <div class="oj-flex-item">
                <label  data-bind="text: projectVersion"/>
            </div>

            <div class="oj-flex-item">
                <oj-input-text id="select"  disabled="{{isDisabledProNumVal}}"
                               value="{{proVName}}">
                </oj-input-text>
            </div>
        </div>
          <div id="buttons-container" class="oj-flex-item"> 

            <oj-button class="apBtn-2 apBtn-disabled btnStyle"  disabled ="{{isDisabledSubmitProc}}" on-oj-action='[[submitProcBtnAction]]'>
                <span><oj-bind-text value="[[submitProLbl]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2 apBtn-disabled btnStyle"  on-oj-action='[[exportProcBtnAction]]'>
                <span><oj-bind-text value="[[exportProLbl]]"></oj-bind-text></span>
            </oj-button>

        </div>
    </div>
    <div class="">

        <div class="table-content">
            <oj-table id='tablePro'
                      class="apTable-1"
                      aria-label='Table'
                      data='[[dataSourcePro]]'
                      selection-mode='{"row": "single", "column": "single"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy-options='{"fetchSize": 10}'
                      columns='[[columnArray]]'
                      display = "grid"
                      selected.column='{{selectedColumns}}'>

                <template slot="seqTemplate" data-oj-as="cell" type="hidden">
                    <input type="hidden" class="hiddenkeyHolder" data-bind="value:cell.index" />
                    <span data-bind="text:cell.index+1"></span>
                </template>

            </oj-table>
        </div>

        <div id="dialogWrapper" >
            <oj-dialog class="main-dialog main-dialog-width" id="ProcPlanDuration">
                <div slot="header" class="oj-helper-clearfix">

                    <label  data-bind="text: ProcPlanDurationLbl"></label>
                </div>

                <div slot="body" class="procurmentPlanDialog">

                    <oj-validation-group id="tracker" valid="{{groupValid}}">

                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <label  data-bind="text: projectNumber"/>
                            </div>

                            <div class="oj-flex-item">
                                <oj-input-text id="select" disabled="{{isDisabledProNumVal}}"
                                               value="{{proNum}}">
                                </oj-input-text>
                            </div>
                        </div>

                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <label  data-bind="text: projectVersion"/>
                            </div>

                            <div class="oj-flex-item">
                                <oj-input-text id="select"  disabled="{{isDisabledProNumVal}}"
                                               value="{{proVName}}">
                                </oj-input-text>
                            </div>
                        </div>

                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <label  data-bind="text: supplierNoLbl"/>
                            </div>

                            <div class="oj-flex-item">
                                <oj-input-text id="select"  disabled="{{isDisabledSupplerNumVal}}"
                                               value="{{supplierNumberValue}}">
                                </oj-input-text>
                            </div>
                        </div>

                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <label  data-bind="text: prProcessingDatelbl"/>
                            </div>
                            <div class="oj-flex-item">
                                <oj-input-number id="prProcessingId"  
                                                 required
                                                 min="0"
                                                 value="{{prProcessingDateValue}}">
                                </oj-input-number>
                                <span  data-bind="text: weekLbl"></span>

                            </div>
                        </div>

                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <label  data-bind="text: contingencyTimeLbl "/>
                            </div>

                            <div class="oj-flex-item">
                                <oj-input-number id="contingencyTimeId"  
                                                 min="0"
                                                 value="{{contingencyTimeValue}}">
                                </oj-input-number>
                                <span  data-bind="text: dayLbl"></span>
                            </div>
                        </div>

                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <label  data-bind="text: shippingTimeLbl "/>
                            </div>

                            <div class="oj-flex-item">
                                <oj-input-number id="shippingTimeId" 
                                                 min="0"
                                                 value="{{shippingTimeValue}}">
                                </oj-input-number>
                                <span  data-bind="text: weekLbl"></span>

                            </div>

                        </div>


                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <label  data-bind="text: manufacturingLeadTimeLbl "/>
                            </div>

                            <div class="oj-flex-item">
                                <oj-input-number id="manufacturingLeadTimeId"
                                                 min="0"
                                                 value="{{manufacturingLeadTimeValue}}">
                                </oj-input-number>

                                <span  data-bind="text: weekLbl"></span>
                            </div>
                        </div>

                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <label  data-bind="text: packingLbl"/>
                            </div>

                            <div class="oj-flex-item">
                                <oj-input-number id="packingId" 
                                                 min="0"
                                                 value="{{packingValue}}">
                                </oj-input-number>
                                <span  data-bind="text: dayLbl"></span>
                            </div>

                        </div>

                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <label  data-bind="text: deliveryLbl "/>
                            </div>

                            <div class="oj-flex-item">
                                <oj-input-number id="deliveryId"
                                                 min="0"
                                                 value="{{deliveryValue}}">
                                </oj-input-number>
                                <span  data-bind="text: dayLbl"></span>
                            </div>
                        </div>


                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <label  data-bind="text: targetDeliveryDateLbl "/>
                            </div>

                            <div class="oj-flex-item">
                                <oj-input-date id="targetDeliveryDateId"  
                                               value="{{targetDeliveryDateValue}}"
                                               required>
                                    </oj-input-date>
                            </div>
                        </div>


                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <label  data-bind="text: cabinetAssemblyLbl "/>
                            </div>

                            <div class="oj-flex-item">
                                <oj-input-number id="cabinetAssemblyId"  
                                                 min="0"
                                                 value="{{cabinetAssemblyValue}}">
                                </oj-input-number>
                                <span  data-bind="text: dayLbl"></span>
                            </div>
                        </div>

                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <label  data-bind="text: preFatLbl "/>
                            </div>

                            <div class="oj-flex-item">
                                <oj-input-number id="preFatLblId"  
                                                 min="0"
                                                 value="{{preFatValue}}">
                                </oj-input-number>
                                <span  data-bind="text: dayLbl"></span>
                            </div>

                        </div>

                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <label  data-bind="text: fatLbl "/>
                            </div>

                            <div class="oj-flex-item">
                                <oj-input-number id="fatLblId"  
                                                 min="0"
                                                 value="{{fatValue}}">
                                </oj-input-number>

                                <span  data-bind="text: dayLbl"></span>
                            </div>

                        </div>

                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <label  data-bind="text: fatPunchClearanceLbl"/>
                            </div>

                            <div class="oj-flex-item">
                                <oj-input-number id="fatPunchClearanceId"  
                                                 min="0"
                                                 value="{{fatPunchClearanceValue}}">
                                </oj-input-number>
                                <span  data-bind="text: dayLbl"></span>
                            </div>

                        </div>

                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <label  data-bind="text: paymentTermLbl"/>
                            </div>

                            <div class="oj-flex-item">
                                <oj-input-number id="paymentTermId"  
                                                 min="0"
                                                 value="{{paymentTermValue}}">
                                </oj-input-number>
                                <span  data-bind="text: dayLbl"></span>
                            </div>

                        </div>

                    </oj-validation-group>

                </div>

                <div slot="footer">
                    <oj-button class="apBtn-2" on-oj-action='[[saveDatesBtn]]'>
                        <span><oj-bind-text value="[[saveDatesLbl]]"></oj-bind-text></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[cancelDatesBtn]]'>
                        <span><oj-bind-text value="[[cancelDatesLbl]]"></oj-bind-text></span>
                    </oj-button>
                </div>

            </oj-dialog>
        </div>
    </div>

    <div id="form-container" class="section-container-2" data-bind="visible:procurmentPlanData().length > 0 ">
        <div>

            <h1 data-bind="text: servicesLbl" style="margin-bottom: -38px;;"></h1>

            <div id="form-container" class="section-container-2">
                <div>
                    <oj-file-picker accept="[[acceptArr]]" name="file-picker" selection-mode="single"
                                    data-bind="visible:selected_files().length == 0" class='oj-filepicker-custom' select-on='click'
                                    on-oj-select='[[selectListener]]'>
                        <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{isDisabledImport}}" slot='trigger'>
                            Import Add/Update
                        </oj-button>
                    </oj-file-picker>

                    <span id="selected" data-bind="text: selected_files().length > 0?selected_files()[0].name : ''"></span>

                    <oj-button chroming="half" display="icons" data-bind="visible: selected_files().length > 0"
                               on-oj-action='[[removePickerBtnAction]]'>
                        <span slot='startIcon' class="oj-fwk-icon oj-fwk-icon-cross"></span>
                    </oj-button>

                    <oj-button class="apBtn-2 apBtn-disabled btnStyle" data-bind="visible: selected_files().length > 0" on-oj-action='[[addNewBtnAction]]'>
                        <span>
                            <oj-bind-text value="[['Upload']]"></oj-bind-text>
                        </span>
                    </oj-button>
                </div>
            </div>
            <br/>

            <oj-table id="versionsTable" 
                      class='apTable-1' 
                      aria-label='Versions Table'
                      selection-mode='{"row": "single", "column": "none"}'
                      data='[[servicesArrDataprovider]]'
                      dnd='{"reorder": {"columns": "enabled"}}' 
                      scroll-policy='auto' 
                      columns='[[servicesColumnArray]]'
                      display = "grid">

                <template slot="verTemplate" data-oj-as="cell">
                    <oj-button data-bind="value:cell.row.planVersionId"
                               disabled="{{['Working','Current Working'].indexOf(cell.row.planVersionStatus) == -1}}"
                               on-oj-action='[[deleteBtnAction]]'>
                        <oj-bind-text value="[['Delete']]"></oj-bind-text>
                    </oj-button>
                </template>
            </oj-table>

        </div>
    </div>

    <div id="form-container" class="section-container-2" data-bind="visible:procurmentPlanData().length > 0 ">

        <h1 data-bind="text: financesCostLbl"></h1>

        <div id="buttons-container2" class="oj-flex-item"> 

            <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[overHeadBtn]]' disabled="{{overHeadDisabled}}" >
                <span><oj-bind-text value="[[overHeadLbl]]"></oj-bind-text></span>
            </oj-button>
            <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[uploadOverAction]]'disabled="{{uploadOverDisabled}}"  data-bind="visible: uploadVisable">
                <span><oj-bind-text value="Upload OverHead"></oj-bind-text></span>
            </oj-button>

        </div>

        <div class="table-content">
            <oj-table id='table'
                      class="apTable-1"
                      aria-label='Table'
                      data='[[dataprovider2]]'
                      selection-mode='{"row": "single", "column": "single"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy-options='{"fetchSize": 10}'
                      columns='[[columnArray2]]'
                      display = "grid">           
            </oj-table>
        </div>
        <br/>
        <br/>
        <div id="buttons-container" class="oj-flex-item"> 

            <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[costScreendBtn]]'>
                <span><oj-bind-text value="[[costScreenLbl]]"></oj-bind-text></span>
            </oj-button>

        </div>
    </div>
</div>
