<div [class.no-events]="isSubDialogOpened" [style.direction]="trans.direction()">
    <div class="header" mat-dialog-title>
        <h4 class="modal-title text-start">{{ 'invoiceDetails_labels' | translation }}</h4>
        <button type="button" mat-dialog-close class="close text-end" aria-label="Close" (click)="loadBtn=false;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- <div class="modal-body text-start"> -->
    <mat-dialog-content>
        <app-invoice-body [invoiceData]="invoice" [invoiceType]="type"></app-invoice-body>
        <div class="form-group text-start"
            *ngIf="type=='backlog' && common.getUserType() != 'SUPERVISOR' && common.getUserType() != 'TAXSUPERVISOR'">
            <label for="comment" class="comment">{{'comment' | translation }} :</label>
            <textarea class="form-control" rows="3" style="resize: none" [(ngModel)]="comment" name="comment"
                id="comment"></textarea>
        </div>
        <!-- </div> -->
    </mat-dialog-content>

    <div class="modal-footer" mat-dialog-actions>

        <button *ngIf="type == 'pending' || type == 'assigned'"
            (click)="openLg(type == 'assigned' ? 'reassign' : 'assign');clikedBtn='assi'" [disabled]="loadBtn">
            <span>
                <i [ngClass]="loadBtn && clikedBtn=='assi'? 'spinner-border spinner-border-sm' : 'fa fa-check-circle'"
                    role="status" aria-hidden="true"></i>
                {{(loadBtn && clikedBtn=='assi'? 'Loading' : (type == 'pending' ? 'assign_label' : 'reassign_label')) | translation }}
            </span>
        </button>


        <button  *ngIf="type=='backlog' || type ==='completed' || type == 'assigned'"
            (click)="getHistory();clikedBtn='hist'" [disabled]="loadBtn">
            <span>
                <i [ngClass]="loadBtn && clikedBtn=='hist'? 'spinner-border spinner-border-sm' : 'fa fa-check-circle'"
                    role="status" aria-hidden="true"></i>
                {{(loadBtn && clikedBtn=='hist'? 'Loading' : 'approvalHistoryLbl') | translation }}
            </span>
        </button>


        <button *ngIf="type=='backlog'" class="approvedBtn" (click)="sendAction('APPROVE',comment);clikedBtn='appro'"
            [disabled]="loadBtn">
            <span>
                <i [ngClass]="loadBtn && clikedBtn=='appro'? 'spinner-border spinner-border-sm' : 'fa fa-check-circle'"
                    role="status" aria-hidden="true"></i>
                {{(loadBtn && clikedBtn=='appro'? 'Loading' : 'approve') | translation }}
            </span>
        </button>

        <button  *ngIf="type=='backlog' && common.getUserType() =='AUDITOR'"
            (click)="openRejectPopup('REJECT');clikedBtn='rej'" [disabled]="loadBtn">
            <span>
                <i [ngClass]="loadBtn && clikedBtn=='rej'? 'spinner-border spinner-border-sm' : 'fa fa-times-circle'"
                    role="status" aria-hidden="true"></i>
                {{(loadBtn && clikedBtn=='rej'? 'Loading' : 'reject') | translation }}
            </span>
        </button>

        <button
            *ngIf=" type=='backlog' && (common.getUserType() =='TAXSUPERVISOR' || common.getUserType() =='TAXAUDITOR' || common.getUserType() =='SUPERVISOR')"
            (click)="openRejectPopup(common.getUserType() == 'SUPERVISOR'?'SEND_TO_AUDITOR':'SEND_BACK');clikedBtn='sendback'"
            [disabled]="loadBtn">
            <span>
                <i [ngClass]="loadBtn && clikedBtn=='sendback'? 'spinner-border spinner-border-sm' : 'fa fa-check-circle'"
                    role="status" aria-hidden="true"></i>
                {{(loadBtn && clikedBtn=='sendback'? 'Loading' : (common.getUserType() =='SUPERVISOR' ? 'send_to_auditor':'Send-Back')) | translation }}
            </span>
        </button>

        <button *ngIf=" type=='backlog' && common.getUserType() =='TAXSUPERVISOR'"
            (click)="openRejectPopup('CANCEL');clikedBtn='cancel'" [disabled]="loadBtn">
            <span>
                <i [ngClass]="loadBtn && clikedBtn=='cancel'? 'spinner-border spinner-border-sm' : 'fa fa-times-circle'"
                    role="status" aria-hidden="true"></i>
                {{(loadBtn && clikedBtn=='cancel'? 'Loading' : 'cancel') | translation }}
            </span>
        </button>

    </div>
</div>