.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    padding-bottom: 20px;
}
.close
{
    font-size: 20px !important;
}
.mat-dialog-content
{
    padding:10px 24px !important ;
    margin: 0 !important;
}
.comment
{
    color: #712c81;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

button {
    margin: 0 auto;
    color:#712c81 !important ;
    font-weight: bold;
    /* background-color: #712c81; */
    border: none;
    box-shadow: none;
    padding: 10px 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 12px;
}
.modal-footer
{
    min-height: auto !important; 
    margin-bottom: 0px !important;
    border-top : none !important
}
/***********************************/
::-webkit-scrollbar {
    height: 5px !important;
    width: 5px !important;
    bottom: 0;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.486);
}

