<div class="faq-page">

    <div class="faq-content" id="main">

        <h2 data-bind="text: label().canHelpLbl()"></h1>
        <h5 data-bind="text: label().chooseCategoryLbl()"></h5>
        <br><br>

        <div data-bind="foreach: data">
            <div data-bind="click: $parent.filterFaq" class="vehicle-item">
                <div class="oj-panel demo-griditem-content demo-icon">
                    <div class="item-img" style="width:180px;max-width:100%;padding:0">

                    </div>
                </div>
                <div class="demo-griditem-content">
                    <span style="width:180px;max-width:100%;padding:0" data-bind="visible: $parent.currentLocal() == 'ar', text: lookupTypeAr"></span>
                    <span style="width:180px;max-width:100%;padding:0" data-bind="visible: $parent.currentLocal() != 'ar', text: lookupTypeEn"></span>
                </div>
            </div>
        </div>

        <br>
        <br>
        
        <div class="questions-container" data-bind="foreach: faqQuestions">
            <oj-collapsible class="question" id="collapsiblePage">
                <h2 id="header" data-bind="text: question" slot="header"></h2>
                <p id="content" data-bind="text: answer"></p>
            </oj-collapsible>
        </div>
        
    </div>
</div>
