<div class="signin-page">

    <div class="sign-form" id="main">

        <h3 data-bind="text: label().title()"></h3>

        <oj-button class="flWidth btnPrimary go-btn" id="login" on-oj-action="[[continueWithGoogle]]" >
            <i class="fab fa-google"></i>
            <span>
                <oj-bind-text value="[[label().continueWithGoogle()]]">
                </oj-bind-text>  
            </span>
        </oj-button>

        <oj-button class="flWidth btnPrimary fb-btn" id="login" on-oj-action="[[fbLogin]]" 
                   data-scope="email,user_birthday,user_hometown,user_location,user_website,user_work_history,user_about_me">
            <i class="fab fa-facebook-f"></i>
            <span>
                <!-- <oj-bind-text value="[[label().logIn()]]">
                </oj-bind-text> --> Continue with Facebook
            </span>
        </oj-button>
        <hr>

        <oj-validation-group id="tracker" valid="{{groupValid}}">
            <oj-label  class="formLabel">  
                <oj-bind-text value="[[label().userName()]]">
                </oj-bind-text>
            </oj-label>
            <oj-input-text id="text-input2" class="formInput" value="{{userName}}" required></oj-input-text>   


            <oj-label class="formLabel">
                <oj-bind-text value="[[label().password()]]" >
                </oj-bind-text>
            </oj-label>
            <oj-input-password id="text-input1" class="formInput" value="{{password}}" required></oj-input-password>   
        </oj-validation-group>


        <oj-button class="flWidth btnPrimary mrT1" id="login" on-oj-action="[[logIn]]" >
            <span>
                <oj-bind-text value="[[label().logIn()]]">
                </oj-bind-text>
            </span>
        </oj-button>


        <div id="haveAccount" class="text-center">

            <oj-button on-oj-action="[[function() {oj.Router.rootInstance.go('resetPassword');}]]">
                <span >
                    <oj-bind-text value="[[label().forgetPassword()]]">
                    </oj-bind-text>
                </span>
            </oj-button>
            <oj-label class="not-account">
                <oj-bind-text value="[[label().haveAccount()]]">
                </oj-bind-text>
            </oj-label>   

            <oj-button on-oj-action="[[function() {oj.Router.rootInstance.go('signUp');}]]">
                <span >
                    <oj-bind-text value="[[label().signUp()]]">
                    </oj-bind-text>
                </span>
            </oj-button>
        </div>

    </div>

</div>
