<div class="offers-page oj-hybrid-padding offers-page">

    <div class="navbar">
        <div class="gh-logo">
            <img src="css/images/logo.png" class="img-responsive">
        </div>


        <div id='buttons-container'>
            <oj-button class="btnPrimary sign-in" id='signIn' on-oj-action='[[signIn]]'>
                <span><oj-bind-text value="[[label.signInLbl]]"></oj-bind-text></span>
            </oj-button>
            <oj-button class="btnPrimary" id='signIn' on-oj-action='[[signUp]]'>
                <span><oj-bind-text value="[[label.signUpLbl]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </div>
    <div class="reservation-page loading">

        <img  style="width:250px" src="css/images/under_develop.png"/>
        <div style="margin-left: 40px; color: #44b6e2;">
            <h1 class="text-center">Under development...</h1>
        </div>

    </div>




    <!-- <h1 data-bind="text:label.offersLbl"></h1> -->
</div>
