<div class="oj-hybrid-padding location-container">
    <div class="container">
        <!-- <h2 data-bind="text: label().canHelpLbl()" style="text-align: center; color: white;"></h2>
        <br><br> -->
        <div class="row">
            <div class="col-md-6 col-sm-12 location-form">

                <div class="form-container">

                    <div class="loc-form" id="form">

                        <h4 data-bind="text: label().ghabbourLocationLbl()"></h4>

                        <div class="sign-form loc-search" id="main">
                            <oj-input-text id="text-input10" autocomplete="on"  class="formInput"  clear-icon="conditional" value="{{search}}"  on-raw-value-changed="[[handleValueChanged]]" placeholder="[[label().searchBox()]]">
                            </oj-input-text>
                        </div>

                        <h5 data-bind="text: label().findNearestLbl()"></h5>
                        <oj-list-view id="listview" aria-label="simple list" data="[[dataProvider]]" selection-mode="single"
                                      selection="{{selectListner}}" 
                                      scroll-policy="loadMoreOnScroll" 
                                      scroll-policy-options='{"fetchSize": 3}'
                                      style="overflow: hidden;height:200px;overflow-y: auto;">
                            <template slot="itemTemplate" data-oj-as="item">
                                <div class="container">
                                    <div>
                                        <span class="name"><oj-bind-text value="[[item.data.locationName]]"></oj-bind-text></span><br>
                                    </div>
                                    <div>
                                        <span class="oj-text-xs oj-text-secondary-color"><oj-bind-text value="[[item.data.city]]"></oj-bind-text></span> <br>
                                        <span class="oj-text-xs oj-text-secondary-color"><oj-bind-text value="[[item.data.address]]"></oj-bind-text></span>
                                    </div>
                                </div>
                            </template>
                        </oj-list-view>

                        <oj-button class="btnPrimary" id="login" on-oj-action="[[searchAction]]" >
                                <span>
                                    <oj-bind-text value="[[label().searchLbl()]]">
                                    </oj-bind-text>
                                </span>
                            </oj-button>

                    </div>

                   

                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="location">
                    <div class="mapouter">
                        <div class="gmap_canvas" id="gmap_container">
                            <iframe     
                                id="maps_iframe"
                                src="https://maps.google.com/maps?q=30.005738,31.447411&hl=en;z=14&amp;output=embed"
                                width="100%" height="500" id="gmap_canvas" 
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!--<div class="reservation-page loading">

    <img style="width:250px" src="css/images/under_develop.png"/>
    <div style="margin-left: 40px; color: #44b6e2;">
        <h1 class="text-center">Under development...</h1>
    </div>

</div>-->
