<div class="oj-hybrid-padding signup-page">

    <div class="sign-form" id="main">

        <h3 data-bind="text: label().createNewAccountLbl()"></h3>

        <oj-button class="flWidth btnPrimary go-btn" id="login" on-oj-action="[[continueWithGoogle]]" >
            <i class="fab fa-google"></i>
            <span>
                <oj-bind-text value="[[label().continueWithGoogle()]]">
                </oj-bind-text>  
            </span>
        </oj-button>

        <oj-button class="flWidth btnPrimary fb-btn" id="login" on-oj-action="[[continueWithGoogle]]" >
            <i class="fab fa-facebook-f"></i>
            <span>
                <!-- <oj-bind-text value="[[label().logIn()]]">
                </oj-bind-text> --> Continue with Facebook
            </span>
        </oj-button>
        
        <hr>

        <oj-validation-group id="tracker" valid="{{groupValid}}">
            <oj-form-layout id="form-container">
                <oj-label class="formLabel" show-required> 
                    <oj-bind-text value="[[label().userNameLbl()]]">
                    </oj-bind-text>
                </oj-label>
                <oj-input-text class="formInput" autocomplete="new-password" clear-icon="conditional" value="{{userName}}" required validators="[[usernameValidator]]" placeholder="[[label().placeholderUsername()]]"  messages-custom="[[errorMsgUsername]]" on-value-changed="[[usernameChangedHandler]]"> </oj-input-text>

                <oj-label class="formLabel" show-required> 
                    <oj-bind-text value="[[label().passwordLbl()]]">
                    </oj-bind-text>
                </oj-label>
                <oj-input-password id="password" autocomplete="new-password" class="formInput" value="{{password}}" required validators="[[validatorPass]]" placeholder="••••••••" raw-value="{{currentPassValue}}"> </oj-input-password>

                <oj-label class="formLabel" show-required> 
                    <oj-bind-text value="[[label().confirmPasswordLbl()]]">
                    </oj-bind-text>
                </oj-label>
                <oj-input-password id="confirm-pass" autocomplete="new-password" class="formInput" value="{{confirmPassword}}" required  validators="[[validatorPass]]" raw-value="{{currentRawPassValue}}" on-value-changed="[[passChangedHandler]]" placeholder="••••••••"  messages-custom="[[errorMsgPass]]"> </oj-input-password>

                <oj-label class="formLabel" show-required> 
                    <oj-bind-text value="[[label().firstNameLbl()]]">
                    </oj-bind-text>
                </oj-label>
                <oj-input-text class="formInput" clear-icon="conditional" value="{{firstName}}" required validators="[[usernameValidator]]" placeholder="[[label().placeholderFirstname()]]"> </oj-input-text>



                <oj-label class="formLabel" show-required>
                    <oj-bind-text value="[[label().lastNameLbl()]]">
                    </oj-bind-text>
                </oj-label>
                <oj-input-text class="formInput" clear-icon="conditional" value="{{lastName}}" required validators="[[usernameValidator]]" placeholder="[[label().placeholderLastname()]]"></oj-input-text> 

                <oj-label class="formLabel" show-required> 
                    <oj-bind-text value="[[label().emailLbl()]]">
                    </oj-bind-text>
                </oj-label>
                <oj-input-text class="formInput" clear-icon="conditional" value="{{email}}" required messages-custom="[[errorMsgEmail]]" on-value-changed="[[emailChangedHandler]]" validators="[[emailValidator]]" placeholder="[[label().placeholderEmail()]]" > </oj-input-text>


                <oj-label class="formLabel" show-required>
                    <oj-bind-text value="[[label().mobileNumberLbl()]]">
                    </oj-bind-text>
                </oj-label>
                <oj-input-text class="formInput" clear-icon="conditional" value="{{mobileNumber}}" required  placeholder="[[label().placeholderPhone()]]" validators="[[mobileValidator]]" messages-custom="[[errorMsgPhone]]" on-value-changed="[[phoneChangedHandler]]"></oj-input-text> 
                <!--                <oj-label class="formLabel">
                                    <oj-bind-text value="[[label.nationalIdLbl]]">
                                    </oj-bind-text>
                                </oj-label>-->
                <!--<oj-input-text class="formInput" clear-icon="conditional" value="{{nationalId}}" placeholder="[[label.placeholderNational]]"></oj-input-text>--> 
                <!--                <oj-label class="formLabel" show-required>
                                    <oj-bind-text value="[[label.carNumberLbl]]">
                                    </oj-bind-text>
                                </oj-label>
                                <oj-input-number  clear-icon="conditional" value="{{carNumber}}" required ></oj-input-number> -->

                <!--                <oj-label class="formLabel" show-required>
                                    <oj-bind-text value="[[label.chassisNumberLbl]]">
                                    </oj-bind-text>
                                </oj-label>
                                <oj-input-text class="formInput" clear-icon="conditional" value="{{chassisNumber}}" required validators="[[usernameValidator]]" placeholder="[[label.placeholderChassis]]"></oj-input-text> -->
                <!--                 <oj-label class="formLabel">
                                    <oj-bind-text value="[[label.engineNumberLbl]]">
                                    </oj-bind-text>
                                </oj-label>-->
                <!--<oj-input-text class="formInput" clear-icon="conditional" value="{{engineNumber}}" placeholder="[[label.placeholderEngine]]"></oj-input-text>--> 
            </oj-form-layout>
        </oj-validation-group>
        <oj-button class="btnPrimary flWidth mrT1" id="login" on-oj-action="[[createAccount]]">
            <span>
                <oj-bind-text value="[[label().createAccountLbl()]]">
                </oj-bind-text>
            </span>
        </oj-button>


        <div id="haveAccount" class="text-center">
            <oj-label>
                <oj-bind-text value="[[label().alreadyUserLbl()]]">
                </oj-bind-text>
            </oj-label> 
            <oj-button id="login" on-oj-action="[[logIn]]">
                <span>
                    <oj-bind-text value="[[label().logInLbl()]]">
                    </oj-bind-text>
                </span>
            </oj-button>
        </div>

    </div>
</div>
