/******************************Start global style**********************************************/
body{
    margin: 0 !important;
    padding: 0 !important;
    /* background: linear-gradient(to right,#29b897,#00aaa6,#009bb0,#008ab2,#1678aa) ;*/
} 
.oj-web-applayout-content{

}
.lblSectopn{
    font-weight: 200;
    margin: 15px 0 25px 0;
}
.HeaderLbl{
    color: #0f7ead;
    font-weight: bold;
}
.cont-log-bod .oj-inputtext, .oj-inputpassword, .oj-textarea, .oj-inputtext-nocomp, .oj-inputpassword-nocomp, .oj-textarea-nocomp{
    max-width: unset;
}
.cont-log-bod .oj-text-field .oj-text-field-container{
    height: auto;
    border: none;
    background-color: transparent;
}
.txt-right{
    text-align: right ;
}
.txt-start{
    text-align: start;
}
.txt-center{
    text-align: center;
}
.margin-auto{
    margin: auto;
}
/********** Start table***********/
.tableStyle{
    width: 100%;
    border:none !important;
    background-color: transparent!important;
    margin: 20px 0px !important;
    overflow: auto;
}
.tableStyle tbody {
min-height: 100px;
width: 100% !important;
/* overflow: hidden; */
}
.tableStyle .oj-table-body{
    overflow: hidden !important;
}
.tableStyle .oj-table-grid-display .oj-table-header-row, .oj-table-editable .oj-table-header-row {
    color :white;
    background: #F5F6FA;
    height: 45px;
    width: 100%;
}
.tableStyle thead tr th {
    border:none !important;
    height: 45px !important;
    transition: all 0.1s ease-in-out;
    /* padding: 15px 20px !important; */
}
.tableStyle tbody tr  {
    border:none !important;
    transition: all 0.1s ease-in-out;
}
.tableStyle tbody tr:hover  {
    background-color:#ccc !important;
}
.tableStyle tbody tr .oj-hover{
    background-color: #ccc !important;
}
.tableStyle tbody .oj-selected{
    background-color: #3B887C !important;
}
.tableStyle tbody tr td  {
    border:none !important;
    /* padding: 15px 20px !important; */
    transition: all 0.1s ease-in-out;
}
.tableStyle thead tr th:hover {
    background-color:#3b887c !important; 
}
.tableStyle thead tr th:hover .oj-table-column-header {
    /* color: #FFF !important;  */
}
.tableStyle .oj-table-column-header-asc-icon:hover{
    background-color: transparent !important;
}
.tableStyle thead{
    border:none !important;
    background: linear-gradient(to right,#29B897,#00AAA6,#009BB0,#008AB2,#1678AA) !important;
    width: 100% !important;
}
.tableStyle thead tr{
    background: linear-gradient(to right,#29B897,#00AAA6,#009BB0,#008AB2,#1678AA) !important;
}
table {
    font-family: source-sans-pro, sans-serif;
    border-collapse: collapse;
}
.pagingStyle {
    background: transparent;
    width: 100%;
    margin: 0;
}
.pagingStyle .oj-pagingcontrol-content .oj-pagingcontrol-nav  .oj-pagingcontrol-nav-arrow-section .oj-pagingcontrol-nav-arrow {
    width: 35px;
    height: 35px;
    border: 1px solid #E8E9EC;
    border-radius: 4px;
    margin: 5px 5px;
}
.pagingStyle .oj-pagingcontrol-content .oj-pagingcontrol-nav  .oj-pagingcontrol-nav-arrow-section .oj-pagingcontrol-nav-pages-section .oj-pagingcontrol-nav-page {
    width: 35px;
    height: 35px;
    border: 1px solid #3B887C;
    border-radius: 4px;
    margin: 5px 5px;
    display: inline-block !important;
    padding: 0;
    background-color: transparent;
    color: #3B887C;
}
.pagingStyle .oj-pagingcontrol-content .oj-pagingcontrol-nav  .oj-pagingcontrol-nav-arrow-section .oj-pagingcontrol-nav-pages-section .oj-selected {
    background-color: #3B887C !important;
    color: white;
    border-color:  #3B887C !important;
}
/*******End table*********/

/*******Start button Style********/
.btnStyle .oj-enabled .oj-button {
    padding: 10px;
}

.btnStyle .oj-button-text {
    color: #0982AE;
}
.btnStyle button:enabled {
    border: 1px solid #069ca8 !important;
    background-color: transparent !important;
    border-radius: 5px;
}
.oj-enabled.btnStyle button:hover {
    background-color: #069ca8 !important;
}
.btnStyle .oj-button-label {
    padding: 13px 25px;
}

.oj-enabled.btnStyle:hover .oj-button-text {
    color: #fff;
}

.oj-enabled:hover button {
    cursor: pointer;
}
/*******btn Disabled********/
.btnStyle button:disabled {
    cursor: not-allowed !important;
}

.oj-disabled .oj-button-text {
    color: #ccc !important;
}

.oj-disabled {
    color: #ccc !important;
    border: 1px solid #ccc;
    background-color: transparent;
}

.btnStyle .oj-disabled:hover {
    background: none;
    border: 1px solid #ccc;
}

.btnStyle .oj-disabled .oj-button-label {
    padding: 13px 25px;
}
/* end button style */

/* start loading*/
.loading{    
    background-image: url("./images/load.gif") !important;
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;   
}
.sk-folding-cube {
    margin: 20px auto;
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    margin-top: calc(50vh - 20px);
    margin-left: calc(50vw - 20px);
}
html[dir=rtl] .sk-folding-cube{
    margin: 20px auto;
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    margin-top: calc(50vh - 20px);
    margin-right: calc(50vw - 20px);
}
.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

#loading {
    display: none;
    height: 100%;
    width: 100%;
    background: #7f7d7d;
    position: fixed;
    z-index: 999;
    opacity: .7;
}
/*end laoding page*/

/*Start tooltip*/
[tooltip] {
    position: relative;
}

[tooltip]::before,
[tooltip]::after {
    text-transform: none;
    /* opinion 2 */
    font-size: .9em;
    /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}

[tooltip]::before {
    content: '';
    border: 5px solid transparent;
    z-index: 1001;
}

[tooltip]::after {
    content: attr(tooltip);
    font-family: Helvetica, sans-serif;
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000;
    border-bottom: 4px solid #26b798;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}

[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}
/************************************************/
/* FLOW: UP */

[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
}
/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
}

[tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
}
/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
}

[tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
}
/* FLOW: RIGHT */

[tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
}
/* KEYFRAMES */

@keyframes tooltips-vert {
    to {
        opacity: .9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: .9;
        transform: translate(0, -50%);
    }
}
/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
}
/*End tooltip*/

/*******************************End global style**********************************/

/******************************start Login page style*****************************/
.cont-log-bod{
    background-color: #a1a1a1;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px !important;
    left: 0px !important;
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
    z-index: 10;
}
.log_st_half{
    width:50%; 
    height: 100%;
    margin: 0;
    position: relative;
    background-color:var(--primary-color);

}

.log_sec_half{
    width:100%; 
    height: 100%;
    background-color: white;
    margin: 0;
    position: relative;
    text-align: center;
    color: #4d4f5c88;
}
.full_logo{
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 400px;
    width: 100%;
}
.content_area{
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.content_header{    
    margin-bottom: 60px;}
.apLoginInput{
    min-height: 45px;
    background-color: #EBEBEB;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-top: 5px;
}
.apLoginBtn{
    background-color: #069ca8!important;
    color: white;
    margin-top: 25px;
    min-height: 45px;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.apChngLang {
    color: white !important;
    float: left;
    background-color: #555659 ;
    padding: 10px 15px 10px 15px;
    border-radius: 30px !important;
    cursor: pointer;
}
.logo-2{
    margin: 30px auto;
    max-width: 300px;
    width: 100%;
    align-content: center;
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 20px;
    display: block;
}
.approveBtn{
    text-align: center;
    margin-bottom: 15px
        
}
.approveBtn button 
{
   background: linear-gradient(to right,#29b897,#00aaa6,#009bb0,#008ab2,#1678aa) !important;
   background: #26B798 !important;
}
@media(max-width:950px){
    .log_st_half{width:0%;}
    .log_sec_half{width:100%;}
    .content_area{padding: 0px 20px;}

}
/*******************************end Login page style*****************************/

/********************************Start header************************************/
.headerStyle {
    background: linear-gradient(to right,#29b897,#00aaa6,#009bb0,#008ab2,#1678aa) !important;
    padding-bottom: 5px;
}

.imgSection{
    max-width: 290px;
}
.imgSection .imgHeader {
    width: 100%;
}

.iconStyle {
    color: white;
    font-size: 20px;
    padding: 0 !important;
    margin: 0 !important;
}
html[dir="ltr"] .ul-section{
    text-align: right;
}
html[dir="rtl"] .ul-section{
    text-align: rileftght;
}
.ulStyle {
    display: inline-flex;
    list-style-type: none;
    padding: 25px 0 0 0;
}

.ulStyle li {
    display: inline-block;
    padding-right: 15px;
}

.ulStyle  button{
    background-color: transparent !important;
    border: none;
}

.ulStyle:hover button{
    cursor: pointer;
}
.notifiIcon {
    position: relative;
}

.notiNo {
    display: inline;
    background-color: #fff;
    padding: 0px 3px !important;
    border-radius: 14px;
    text-align: center;
    color: #000;
    position: absolute;
    top: 1px;
    left: 13px;
    font-size: 12px;
}

.signOut {
    padding: 0 20px;
}
/*******************************End Header**************************************/

/*******************************start pages style*******************************/
.receiptInput .oj-flex-item{
    padding-bottom: 10px
}
/**notification page***/
.notificationBtnSection{
    margin-bottom: 30px;
}

.committeBlock{
    border: 1px solid #CCC;
    padding: 20px 15px;
    border-radius: 5px;
    margin: 10px;
}
.committeBlock .buttonSection{
    margin: auto;
}
/*******************************End pages style*******************************/