
#Stc-Sla .slaContent {
    padding: 15px 25px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 0px 0 30px 0;
    box-shadow: 2px 2px 2px #f2f2f2;

}
#Stc-Sla .slaContent .table-header {
    border-bottom: 2px solid #ccc;
    padding: 20px 0;
    font-size: 13px;

}
#Stc-Sla .slaContent .table-header span 
{
    /* color:#712c81 ; */
    font-size: 20px;
}
#Stc-Sla  .slaContent .table-header .upper {
    /* margin-right: 130px; */
}
#Stc-Sla .slaContent .table-content {
    padding: 30px 0;
 }   
 #Stc-Sla .slaContent .table-content input[type=number] {
    padding: 5px;
    font-weight: normal;
    color: #999;
    border:1px solid #ccc ; 
    border-radius: 5px;
    margin: 10px 10px 0px;
    text-align: start;
}
#Stc-Sla .slaContent .table-content input[type=number]::-webkit-inner-spin-button {
    opacity: 1;  
    background: transparent;
    font-size: 16px;
    padding: 5px;
}
#Stc-Sla .slaContent span {
    /* font-weight: 600; */
    font-size: 16px;
    margin-bottom: 15px;
}
/* Start btn */
#Stc-Sla  .mybtn {
    background: #712c81;
    border: none;   
    color: #fff;
    padding: 15px 30px;
    border-radius: 25px;
    -webkit-transition: all .4s ease-in-out ;
    -moz-transition: all .4s ease-in-out ;
    -o-transition: all .4s ease-in-out ;
    transition: all .4s ease-in-out ;
    margin: 0px 15px;
    font-size: 12px;

}
#Stc-Sla  .mybtn:hover {
    background-color: #4b0b59;
    color: #fff;
    cursor: pointer;
}
/* End btn */
@media only screen and (max-width: 575px) {
    #Stc-Sla .text-end {
      text-align: start  !important;
    }
  }
