<stc-navbar [currentPage]="currentPage"></stc-navbar>
<section id="Stc-Sla" class="pageSettings">
    <div>
        <div class="container">
            <div class="pageHeadInfo">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h5>{{'slaConfig_label' | translation }}</h5>
                        <p>{{ 'slaConfig_subTitle_label' | translation }}</p>
                    </div>
                </div>

            </div>
            <!-- -->
            <form #myForm="ngForm" [ngFormOptions]="{updateOn: 'blur'}" *ngIf="!showPlacholder">
                <div class="container">
                    <div class="slaContent">
                        <div class="table-header">
                            <div class="row">
                                <div class="col-6 text-start">
                                    <span><Strong>{{ 'stage_label' | translation }}</Strong></span>
                                </div>
                                <div class="col-6 text-end">
                                    <span><Strong>{{ 'sla_label' | translation }}</Strong></span>
                                </div>
                            </div>
                        </div>

                        <div class="table-content">
                            <div>
                                <div class="row">
                                    <div class="col-sm-6 col-12 my-auto text-start">
                                        <span>{{ 'invoiceReview_label' | translation }}</span>
                                    </div>
                                    <div class="col-sm-6 col-12 text-end">

                                        <span>
                                            <input type="number" name="accountantSla" [(ngModel)]="config.invoiceReview"
                                                min="1" max="30"> <span>{{ 'days_label' | translation }}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <div class="row">
                                    <div class="col-sm-6 col-12 my-auto text-start">
                                        <span>{{ 'supervisorReview_label' | translation }}</span>
                                    </div>
                                    <div class="col-sm-6 col-12 text-end">
                                        <span>
                                            <input type="number" name="supervisorSla"
                                                [(ngModel)]="config.supervisorReview" min="1" max="30">
                                            <span>{{ 'days_label' | translation }}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <div class="row">
                                    <div class="col-sm-6 col-12 my-auto text-start">
                                        <span>{{ 'taxAccountantReview_label' | translation }}</span>
                                    </div>
                                    <div class="col-sm-6 col-12 text-end">
                                        <span>
                                            <input type="number" name="taxAccountantSla"
                                                [(ngModel)]="config.taxAccountantReview" min="1" max="30">
                                            <span>{{ 'days_label' | translation }}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <div class="row">
                                    <div class="col-sm-6 col-12 text-start my-auto text-start">
                                        <span>{{ 'taxSupervisorReview_label' | translation }}</span>
                                    </div>
                                    <div class="col-sm-6 col-12 text-end">
                                        <span>
                                            <input type="number" name="taxSupervisorSla"
                                                [(ngModel)]="config.taxSupervisorReview" min="1" max="30">
                                            <span>{{ 'days_label' | translation }}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
                <!-- -->

                <!-- Start btn -->

                <div class="text-end">
                    <button class="mybtn focal-btn " (click)="checkSla()">
                        <i class="fa fa-fw fa-check"></i>{{ 'saveChanges_label' | translation }}
                    </button>
                </div>

            </form>
            <!-- end btn -->

            <!---------start placeholder-->
            <div class="box-placeholder" *ngIf="showPlacholder">
                <div class="container text-start">
                    <div class="slaContent">
                        <div class="table-header">
                            <div class="row">
                                <div class="col-sm-6 col-12 ">
                                    <span class="text"></span>
                                </div>
                                <div class="col-sm-6 col-12 text-end">
                                    <span class="text"></span>
                                </div>
                            </div>
                        </div>



                        <div class="table-content">
                            <div class="row" >
                                <div class="col-sm-6 col-12 ">
                                    <span class="text"></span>
                                </div>
                                <div class="col-sm-6 col-12 text-end">
                                    <span class="text"></span>
                                </div>
                            </div>
                            <hr>
                            <div class="row" >
                                <div class="col-sm-6 col-12 ">
                                    <span class="text"></span>
                                </div>
                                <div class="col-sm-6 col-12 text-end">
                                    <span class="text"></span>
                                </div>
                            </div>
                            <hr>
                            <div class="row" >
                                <div class="col-sm-6 col-12 ">
                                    <span class="text"></span>
                                </div>
                                <div class="col-sm-6 col-12 text-end">
                                    <span class="text"></span>
                                </div>
                            </div>
                            <hr>
                            <div class="row" >
                                <div class="col-sm-6 col-12 ">
                                    <span class="text"></span>
                                </div>
                                <div class="col-sm-6 col-12 text-end">
                                    <span class="text"></span>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
                <!-- -->

                <!-- Start btn -->

                <div class="text-end">
                    <button class="mybtn focal-btn text">

                    </button>
                </div>
            </div>
            <!---------------------------->

        
        </div>
    </div>
</section>