<div class="navbar">
    <div class="gh-logo">
        <img src="../../../css/images/logo.png" class="img-responsive">
    </div>
    <h1 class="title" data-bind="text: label().title()"></h1>
    <div class="oj-flex-item attBtnRow">
        <oj-button class="upload-pic" on-oj-action='[[pageGuide]]'>
            <span><oj-bind-text value="[[label().pageGuide()]]"></oj-bind-text></span>
        </oj-button>
    </div>
</div>

<div class="addv-form" id="main">

    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
        <div id="form-container">

            <oj-form-layout id="ofl1" label-edge="{{labelEdge}}" max-columns="{{columns}}"  direction="row">

                <oj-label class="formLabel"> 
                    <oj-bind-text value="[[label().brand()]]">
                    </oj-bind-text>
                </oj-label>

                <oj-select-one class="addv-input" value="{{fieldsValue.brand}}" options="[[fieldsValue.brandArr]]"  on-value-changed="[[brandSelectHandler]]" required>
                </oj-select-one>

                <oj-label class="formLabel"> 
                    <oj-bind-text value="[[label().carModel()]]">
                    </oj-bind-text>
                </oj-label>
                <oj-select-one class="addv-input" value="{{fieldsValue.carModel}}" options="[[fieldsValue.modelArr]]"  on-value-changed="[[modelSelectHandler]]" required>
                </oj-select-one>

                <oj-label class="formLabel"> 
                    <oj-bind-text value="[[label().modelYear()]]">
                    </oj-bind-text>
                </oj-label>
                <oj-select-one class="addv-input" value="{{fieldsValue.modelYear}}" options="[[fieldsValue.modelYearArr]]"  on-value-changed="[[trimChange]]" required>
                </oj-select-one>

            </oj-form-layout>
        </div>
    </div>
    <hr>

    <div class="upload-section">
        <oj-label class="formLabel">  
            <oj-bind-text value="[[label().image()]]">
            </oj-bind-text>
        </oj-label>
        <oj-file-picker class='oj-filepicker-custom'
                        select-on='click'
                        on-oj-select='[[selectListener]]'>
            <oj-button class="upload-pic" slot='trigger'>
                <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-arrowbox-n' data-bind="text: label().upload()"></span>
            </oj-button>
        </oj-file-picker>
        <br>
        <br>
        <span>Filename extensions allowed: <strong style="color:red;">.png</strong></span>
        <br>
        <span>Filesize limit: <strong style="color:red;">1024KB (1 Megabyte)</strong></span>
        <br>
        <br>
        <div class="col-sm-8" style="width: 100% !important; display: contents;">
            <oj-list-view id="listview" aria-label="list using observable array"
                          data="[[dataProviderAttachment]]" selection-mode="single" selection="{{selectedItemsAttachment}}">
                <template slot="itemTemplate">
                    <span>
                        <oj-bind-text value='[[$current.data.name]]'></oj-bind-text>
                    </span>
                </template>
            </oj-list-view>
            <br>
            <div class="oj-flex-item attBtnRow" text-align="center">
                <oj-button class="upload-pic" on-oj-action='[[removeSelectedAttachment]]'>
                    <span><oj-bind-text value="[[label().removeBtnLbl()]]"></oj-bind-text></span>
                </oj-button>
                <oj-button class="upload-pic" on-oj-action='[[removeAllAttachments]]'>
                    <span><oj-bind-text value="[[label().removeAllBtnLbl()]]"></oj-bind-text></span>
                </oj-button>
                <oj-button class="upload-pic" on-oj-action='[[downloadAttachmentViewer]]'>
                    <span><oj-bind-text value="[[label().downloadLbl()]]"></oj-bind-text></span>
                </oj-button>
                <oj-button class="upload-pic" on-oj-action='[[attachmentViewer]]'>
                    <span><oj-bind-text value="[[label().view()]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </div>
    </div>
    <hr>
    <div id='buttons-container'>
        <oj-button class="btnPrimary flWidth mrT1" id="login" on-oj-action="[[saveAndContinue]]">
            <span>
                <oj-bind-text value="[[label().saveAndContinue()]]">
                </oj-bind-text>
            </span>
        </oj-button>
        <oj-button class="btnPrimary flWidth mrT1" id="login" on-oj-action="[[viewAction]]">
            <span>
                <oj-bind-text value="[[label().browse()]]">
                </oj-bind-text>
            </span>
        </oj-button>
    </div>

    <div id="dialogWrapper">
        <oj-dialog class="img-dialog" style="display:none;" id="modalDialog1" dialog-title="Image">
            <div slot="body">
                <img style="margin: auto; display: block;width: 100%;" data-bind="attr: {src: show}"/>
            </div>
            <div slot="footer">
                <oj-button class="btnPrimary" id="okButton" on-click="[[close]]">Close
                </oj-button>
            </div>
        </oj-dialog>
    </div>

</div>

