<div>
    <div style="padding-bottom: 0;" class="navbar">
        <div class="gh-logo">
            <img src="css/images/logo.png" class="img-responsive">
        </div>
        <h1 style="padding: 0; margin: 0;" data-bind="visible: screenVisible, text: label().title()" class="title"></h1>

        <div data-bind="visible: screenVisible" class='saveBtn'>
            <oj-button class="btnPrimary flWidth mrT1" on-oj-action="[[saveBtnAction]]">
                <span>
                    <oj-bind-text value="[[label().saveAndContinue()]]">
                    </oj-bind-text>
                </span>
            </oj-button>
        </div>

    </div>

    <div data-bind="visible: screenVisible" class="addv-form1 view-vehicle" id="main">

        <hr>
        <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
            <div id="form-container">
                <oj-validation-group id="tracker" valid="{{groupValid}}">
                    <oj-form-layout id="ofl1" label-edge="{{labelEdge}}" max-columns="{{columns}}"  direction="row">
                        <oj-label class="formLabel"> 
                            <oj-bind-text value="[[label().brand()]]">
                            </oj-bind-text>
                        </oj-label>
                        <oj-select-one class="addv-input" value="{{fieldsValue.brand}}" options="[[fieldsValue.brandArr]]"  on-value-changed="[[brandSelectHandler]]" required>
                        </oj-select-one>
                        <oj-label class="formLabel"> 
                            <oj-bind-text value="[[label().carModel()]]">
                            </oj-bind-text>
                        </oj-label>
                        <oj-select-one class="addv-input" value="{{fieldsValue.carModel}}" options="[[fieldsValue.modelArr]]"  on-value-changed="[[modelSelectHandler]]" required>
                        </oj-select-one>

                        <oj-label class="formLabel"> 
                            <oj-bind-text value="[[label().trim()]]">
                            </oj-bind-text>
                        </oj-label>
                        <oj-select-one class="addv-input" value="{{fieldsValue.modelYear}}" options="[[fieldsValue.modelYearArr]]"  on-value-changed="[[trimChange]]" required>
                        </oj-select-one>
                    </oj-form-layout>
                </oj-validation-group>
            </div>
            <hr>
        </div>

        <!-- ko  if: koArray().length > 0 -->
        <div id="filmStripDiv" class="oj-panel car-img" >
            <oj-film-strip id="filmStrip" 
                           aria-label="images" 
                           arrow-placement="adjacent"
                           arrow-visibility="visible" style="height: auto; margin: auto;width: 100%; max-width: max-content;">
                <oj-bind-for-each data="[[koArray]]">
                    <template data-oj-as="item">
                        <img style="width: 100%;" data-bind="attr: {src:item.data.data , alt: item.data.name}"/>
                    </template>
                </oj-bind-for-each>
            </oj-film-strip>
        </div>
        <!-- /ko-->

        <!-- ko  if: koArray().length < 1 -->
        <h2>No images to display</h2>
        <!-- /ko-->
    </div>

    <div class="success-title" data-bind="visible: !screenVisible()">
        <img src="css/images/success.png" class="success-img">
        <h1 style="margin-top: 10%">Success!</h1>
        <h1 style="color: #f17373;">You can safely close this page.</h1>

        <oj-button class="btnPrimary" style="margin-top: 10%" on-oj-action="[[backAction]]">
            <span>
                <oj-bind-text value="[[label().addMoreData()]]">
                </oj-bind-text>
            </span>
        </oj-button>
    </div>

</div>