<div class="sidemenu">
  <hr class="line-white-sm" />
  <span class="sidemenu-item  " data-bind="click: back">
    <i class="d-block fas fa-backward"></i>
    <span class="text">Back</span>
  </span>
  <span class="sidemenu-item active" data-bind="click: elementEntries">
    <!-- <i class="d-block fas fa-backward"></i> -->
    <span class="text">Element Entries</span>
  </span>
  <span class="sidemenu-item" data-bind="click: indexBatchElement">
    <!-- <i class="d-block fas fa-backward"></i> -->
    <span class="text">Manage Batch Element</span>
  </span>
</div>

<div class="main-content">

  <a id="btn-sidemenu" class="navbar-brand pr-4"><i class="fas fa-bars"></i></a>
  <h1 class="title">Element Entries</h1>
  <div class="content rounded-lg shadow-lg p-3">
    <div class="sectionBody">
      <div id="search-emp-page">
        <!-- Messages -->
        <div id="notificationMessages">
          <oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
          </oj-messages>
        </div>
        <div id="body-wrap" class="mt-3">
          <br>
          <div class="panel-custom p-4 border rounded-lg shadow-sm">
            <h5>Search</h5>
            <oj-form-layout max-columns="2" id="fl1">

              <oj-input-text data-bind="css: searchInputStatus() ? 'load-input' : ''" disabled="{{searchInputStatus}}"
                value="{{empNumberSearchVal}}" label-hint="Person Number" style="max-width: 100%;">
              </oj-input-text>

              <oj-input-date data-bind="css: searchInputStatus() ? 'load-input' : ''" converter=[[dateFormat]]
                value="{{employeeEffictiveDate}}" disabled="{{searchInputStatus}}" autocomplete="off"
                label-hint="Effective Date" style="max-width: 100%;">
              </oj-input-date>

              <oj-input-text data-bind="css: searchInputStatus() ? 'load-input' : ''" disabled="{{searchInputStatus}}"
                value="{{empNameSearchVal}}" label-hint="Name" style="max-width: 100%;">
              </oj-input-text>


            </oj-form-layout>

            <div class="oj-sm-12 oj-md-12 oj-flex-item text-center">
              <oj-button disabled="{{searchInputStatus}}" on-oj-action="[[searchBtnAction]]">
                Search
              </oj-button>

              <oj-button disabled="{{searchInputStatus}}" on-oj-action="[[resetSearchBtnAction]]">
                Reset Search
              </oj-button>
            </div>
          </div>

          <br>
          <h5>Search Result</h5>
          <div id="element-table-wrap">
            <oj-table class="tableStyle" id='table' aria-label='Person Table' data='[[dataProviderPerson]]'
              selection-mode='{"row": "single", "column": "single"}'
              on-oj-before-current-row="[[tableSelectionListenerPerson]]" dnd='{"reorder": {"columns": "enabled"}}'
              scroll-policy='loadMoreOnScroll' scroll-policy-options='{"fetchSize": 5}' columns='{{columnArrayPerson}}'>

              <template slot="actionTemplate" data-oj-as="cell">
                <oj-bind-if test='[[cell.mode=="navigation"]]'>
                  <oj-menu-button id="menuButton2">
                    <i class="fas fa-ellipsis-h"></i>
                    <oj-menu id="myMenu2" slot="menu" style="display:none;" on-oj-action="[[newElementAction]]">
                      <oj-option value="edit">
                        <i class="far fa-edit"></i> Element Entries
                      </oj-option>
                    </oj-menu>
                  </oj-menu-button>
                </oj-bind-if>
              </template>
            </oj-table>
          </div>

        </div>
      </div>


      <div id="summary-page" style="display: none;">
        <oj-button on-oj-action="[[goToSearchPage]]" style="padding: 0">
          <span>
            <i class="fas fa-chevron-left"></i> Back
          </span>
        </oj-button>

        <!-- Messages -->
        <div id="notificationMessages">
          <oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
          </oj-messages>
        </div>


        <div>
          <oj-popup id="remove-element-modal" class="demo-popup" tail="none" position.my.horizontal="center"
            position.my.vertical="top" position.at.horizontal="center" position.at.vertical="top" position.of="window"
            position.offset.y="50" modality="modal" on-oj-animate-start="[[startAnimationListenerCreateElement]]">
            <div class="demo-popup-body">
              <div class="demo-popup-header">
                <h5>Remove Element Entry</h5>
              </div>
              <div class="demo-popup-content">
                <div id="validation-usecase">
                  <oj-validation-group id="remove-element-tracker">
                    <oj-form-layout max-columns="1">

                      <oj-input-date converter=[[dateFormat]] value="{{recurringElementEntryEndDate}}" required
                        autocomplete="off" label-hint="Effective End Date" style="max-width: 100%;">
                      </oj-input-date>

                    </oj-form-layout>
                  </oj-validation-group>
                </div>
              </div>
              <div class="demo-popup-footer text-right">
                <oj-button on-oj-action="[[cancelListenerCreateElement]]">
                  Cancel
                </oj-button>
                <oj-button class="ml-2" on-oj-action="[[removeRecurringElement]]">
                  Remove
                </oj-button>
              </div>
            </div>
          </oj-popup>
        </div>

        <div id="create-element">
          <oj-popup id="create-element-modal" class="demo-popup" tail="none" position.my.horizontal="center"
            position.my.vertical="top" position.at.horizontal="center" position.at.vertical="top" position.of="window"
            position.offset.y="50" modality="modal" on-oj-animate-start="[[startAnimationListenerCreateElement]]">
            <div class="demo-popup-body">
              <div class="demo-popup-header">
                <h5>Create Element Entry</h5>
              </div>
              <div class="demo-popup-content">
                <div id="validation-usecase">
                  <oj-validation-group id="create-element-tracker">
                    <oj-form-layout max-columns="1">

                      <oj-input-date converter=[[dateFormat]] value="{{createElementEffectiveStartDate}}" required
                        autocomplete="off" label-hint="Effective As-of Date" style="max-width: 100%;">
                      </oj-input-date>

                      <oj-combobox-one data-bind="css: elementNameArrayStatus() ? 'load-input' : ''" required
                        value="{{elementNameVal}}" options="[[elementNameOptionsArr]]" autocomplete="off"
                        on-value-changed="[[elementChangeListener]]" placeholder="Select option"
                        label-hint="Element Name" disabled="{{elementNameArrayStatus}}" style="max-width: 100%;">
                      </oj-combobox-one>
                      <!-- 
                    <oj-combobox-one required value="{{assignmentVal}}" options="[[assignmentOptionsArr]]"
                      on-value-changed="[[assignmentChangeListener]]" placeholder="Select option" label-hint="Assignment"
                      style="max-width: 100%;">
                    </oj-combobox-one> -->

                    </oj-form-layout>
                  </oj-validation-group>
                </div>
              </div>
              <div class="demo-popup-footer text-right">
                <oj-button id="create-element-btnCancel" on-oj-action="[[cancelListenerCreateElement]]">
                  Cancel
                </oj-button>
                <oj-button id="btn-create-element-submit" class="ml-2" on-oj-action="[[createElement]]"
                  disabled="{{elementNameArrayStatus}}">
                  Continue
                </oj-button>
              </div>
            </div>
          </oj-popup>
        </div>


        <div id="body-wrap" class="mt-3">
          <br>
          <div class="panel-custom p-4 border rounded-lg shadow-sm">
            <h5>Search Employee Element Entries</h5>
            <oj-form-layout max-columns="2" id="fl1">

              <oj-input-text value="{{assignmentVal}}" label-hint="Person Number" disabled="true"
                style="max-width: 100%;">
              </oj-input-text>

              <oj-input-date converter=[[dateFormat]] value="{{empStartDate}}" disabled="true"
                label-hint="Employee Start Date" style="max-width: 100%;">
              </oj-input-date>

              <oj-input-date data-bind="css: searchElementStatus() ? 'load-input' : ''" converter=[[dateFormat]]
                value="{{elementEffictiveDate}}" disabled="{{searchElementStatus}}" autocomplete="off"
                label-hint="Element Entry Effective Date" style="max-width: 100%;">
              </oj-input-date>

              <oj-input-text value="{{empNameVal}}" label-hint="Name" disabled="true" style="max-width: 100%;">
              </oj-input-text>

              <oj-input-date converter=[[dateFormat]] value="{{empEndDate}}" disabled="true"
                label-hint="Employee End Date" style="max-width: 100%;">
              </oj-input-date>

            </oj-form-layout>

            <br>

            <div class="oj-sm-12 oj-md-12 oj-flex-item text-center">
              <oj-button disabled="{{searchElementStatus}}" on-oj-action="[[searchBtnElementAction]]">
                Search
              </oj-button>

              <oj-button disabled="{{searchElementStatus}}" on-oj-action="[[resetSearchElementBtnAction]]">
                Reset Search
              </oj-button>
            </div>

          </div>

          <br>
          <h5>Element Entries</h5>
          <oj-button on-oj-action="[[openListenerCreateElement]]" id='create-element-btn' style="padding: 0">
            <span>
              <i class="fas fa-plus pr-2"></i> Create Element Entry
            </span>
          </oj-button>

          <div id="element-table-wrap">
            <oj-table class="tableStyle" id='table' aria-label='Element Table' data='[[dataProviderElement]]'
              selection-mode='{"row": "multiple", "column": "multiple"}'
              on-oj-before-current-row="[[tableSelectionListenerElement]]" dnd='{"reorder": {"columns": "enabled"}}'
              scroll-policy='loadMoreOnScroll' scroll-policy-options='{"fetchSize": 5}' columns='{{columnArray}}'>

              <template slot="actionTemplateEnties" data-oj-as="cell">
                <oj-bind-if test='[[cell.mode=="navigation"]]'>
                  <oj-menu-button id="menuButton">
                    <i class="fas fa-ellipsis-h"></i>
                    <oj-menu id="myMenu" slot="menu" style="display:none;" on-oj-action="[[elementAction]]">
                      <oj-option value="edit" disabled="{{editEntryDisabled}}">
                        <i class="far fa-edit"></i> Update
                      </oj-option>
                      <oj-option value="correction">
                        <i class="far fa-check-circle"></i> Correction
                      </oj-option>
                      <oj-option value="remove">
                        <i class="far fa-trash-alt"></i> Remove
                      </oj-option>
                    </oj-menu>
                  </oj-menu-button>
                </oj-bind-if>
              </template>
            </oj-table>
          </div>

        </div>
      </div>

      <div id="add-edit-page" style="display:none">

        <oj-button on-oj-action="[[goToSummaryPage]]" id='btn-advance-search' style="padding: 0">
          <span>
            <i class="fas fa-chevron-left"></i> Back
          </span>
        </oj-button>

        <div id="body-wrap" class="mt-3">
          <br>
          <div id="edit-validation-usecase" class="panel-custom p-4 border rounded-lg shadow-sm">
            <h5>Entry Details</h5>
            <oj-validation-group id="edit-element-tracker">
              <oj-form-layout max-columns="3" id="fl1">

                <oj-input-date converter=[[dateFormat]] value="{{createElementEffectiveStartDate}}" required
                  autocomplete="off" on-value-changed="[[startDateValueChanged]]" label-hint="Effective As-of Date"
                  style="max-width: 100%;">
                </oj-input-date>

                <oj-input-text value="{{elementNameLbl}}" disabled="true" label-hint="Element Name"
                  style="max-width: 100%;">
                </oj-input-text>

                <oj-input-text value="{{processingTypeVal}}" disabled="true" label-hint="Processing Type"
                  style="max-width: 100%;">
                </oj-input-text>

                <oj-input-text value="{{empNameVal}}" disabled="true" label-hint="Name" style="max-width: 100%;">
                </oj-input-text>

                <oj-input-date converter=[[dateFormat]] value="{{empStartDate}}" disabled="true"
                  label-hint="Employee Start Date" style="max-width: 100%;">
                </oj-input-date>

                <oj-input-text value="{{assignmentVal}}" disabled="true" label-hint="Person Number"
                  style="max-width: 100%;">
                </oj-input-text>

                <oj-input-date converter=[[dateFormat]] value="{{empEndDate}}" disabled="true"
                  label-hint="Employee End Date" style="max-width: 100%;">
                </oj-input-date>

                <oj-bind-if test="[[processingTypeVal() == 'recurring']]">
                  <oj-input-date converter=[[dateFormat]] value="{{createElementEffectiveEndDate}}" disabled="true"
                    label-hint="Effective End Date" style="max-width: 100%;">
                  </oj-input-date>
                </oj-bind-if>

              </oj-form-layout>
            </oj-validation-group>
          </div>

          <br>
          <!-- Dynamic section -->

          <div data-bind="css: inputValuesLoaded() ? '' : 'load-element-entry-input-data'" id="edit-validation-usecase"
            class="panel-custom p-4 border rounded-lg shadow-sm">
            <h5>General Information</h5>
            <oj-validation-group id="edit-element-tracker-2">

              <oj-form-layout max-columns="2" id="fl1">

                <!-- Date -->
                <div data-bind="foreach: dateInputValArr">

                  <label data-bind="text: name"></label>
                  <label data-bind="if: mandatoryFlag == 'true'">*</label>
                  <oj-input-date converter=[[$parent.dateFormat]] required="[[mandatoryFlag == 'true']]"
                    autocomplete="off" value="{{defaultValue}}" disabled="[[userDisplayFlag != 'true']]"
                    style="max-width: 100%;">
                  </oj-input-date>

                </div>

                <!-- Number and Money -->
                <div data-bind="foreach: numberOrMoneyInputValArr">

                  <label data-bind="text: name"></label>
                  <label data-bind="if: mandatoryFlag == 'true'">*</label>
                  <!-- <oj-input-number min="[[minValue]]" max="[[maxValue]]" required="[[mandatoryFlag == 'true']]"
                value="{{defaultValue}}" disabled="[[userDisplayFlag != 'true']]" autocomplete="off"
                style="max-width: 100%;">
              </oj-input-number> -->
                  <oj-input-number required="[[mandatoryFlag == 'true']]" value="{{defaultValue}}" autocomplete="off"
                    disabled="[[userDisplayFlag != 'true']]" autocomplete="off" style="max-width: 100%;">
                  </oj-input-number>

                </div>

                <!-- Character -->
                <div data-bind="foreach: characterInputValArr">

                  <label data-bind="text: name"></label>
                  <label data-bind="if: mandatoryFlag == 'true'">*</label>
                  <oj-input-text value="{{defaultValue}}" disabled="[[userDisplayFlag != 'true']]" autocomplete="off"
                    required="[[mandatoryFlag == 'true']]" label-hint="Effective As-of Date" style="max-width: 100%;">
                  </oj-input-text>

                </div>

              </oj-form-layout>

            </oj-validation-group>
            <div class="text-right">
              <oj-button id="btn-edit-element-submit" on-oj-action="[[createOrUpdateElement]]"
                disabled="{{saveChangesDisabled}}">
                Save Changes
              </oj-button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>