<div class="sidemenu ">
  <hr class="line-white-sm" />
  <span class="sidemenu-item  " data-bind="click: back">
    <i class="d-block fas fa-backward"></i>
    <span class="text">Back</span>
  </span>
  <span class="sidemenu-item active" data-bind="click: manageElement">
    <!-- <i class="d-block fas fa-backward"></i> -->
    <span class="text">Manage Element</span>
  </span>
  <span class="sidemenu-item" data-bind="click: manageObjectGroup">
    <!-- <i class="d-block fas fa-backward"></i> -->
    <span class="text">Manage Object Group</span>
  </span>
  <span class="sidemenu-item" data-bind="click: fastFormula">
    <!-- <i class="d-block fas fa-backward"></i> -->
    <span class="text">Fast Formula</span>
  </span>
  <span class="sidemenu-item" data-bind="click: report">
    <!-- <i class="d-block fas fa-backward"></i> -->
    <span class="text">Report</span>
  </span>
  <hr class="line-white-sm" />
</div>

<div class="main-content">
  <a id="btn-sidemenu" class="navbar-brand pr-4"><i class="fas fa-bars"></i></a>
  <h1 class="title">Element</h1>
  <div class="sectionBody content rounded-lg shadow-lg p-3">
    <div id="page-1">
      <!-- Messages -->
      <div id="notificationMessages">
        <oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
        </oj-messages>
      </div>

      <!-- header -->
      <div class="content-navbar text-center">
        <button class="d-inline-block btn btn-light advancedBtn" data-toggle="collapse" data-target="#advancesSection">Advanced</button>
      </div>
      <div class="oj-flex oj-fles-items-pad">
        <div class="oj-md-12 oj-sm-12 oj-flex-item">
          <oj-input-text aria-label="Enter search keyword" placeholder="Enter search keyword" value="{{keyword}}"> </oj-input-text>
          <oj-button class="" on-oj-action="[[keywordSearch]]" id="keyword-search-btn" disabled='[[advanceDisable]]'>
            Search
          </oj-button>
        </div>
      </div>
      <div class="oj-flex oj-fles-items-pad">
        <div class="oj-md-12 oj-sm-12 oj-flex-item text-right mr-top-30">
          <oj-button class="" on-oj-action="[[openListenerCreateElement]]" id='create-element-btn'
            disabled='[[advanceDisable]]'>
            <span>
              <i class="fas fa-plus pr-2"></i> Create Element
            </span>
          </oj-button>
        </div>
      </div>

    <div id="create-element">
      <oj-popup id="create-element-modal" class="demo-popup" tail="none" position.my.horizontal="center"
        position.my.vertical="top" position.at.horizontal="center" position.at.vertical="top" position.of="window"
        position.offset.y="50" modality="modal" on-oj-animate-start="[[startAnimationListenerCreateElement]]">
        <div class="demo-popup-body">
          <div class="demo-popup-header">
            <h5>Create Element</h5>
          </div>
          <div class="demo-popup-content">
            <div id="validation-usecase">
              <oj-validation-group id="create-element-tracker">
                <oj-form-layout max-columns="2" id="fl1">
                  <oj-input-text required value="{{createElementName}}" autocomplete="off" label-hint="Element Name"
                    style="max-width: 100%;">
                  </oj-input-text>
                  <oj-combobox-one required value="{{createElementType}}" options="[[elementTypeOptions]]"
                    placeholder="Select option" label-hint="Element Classification" style="max-width: 100%;">
                  </oj-combobox-one>
                  <oj-combobox-one required value="{{createElementProcessType}}" options="[[processingTypeOptions]]"
                    placeholder="Select option" label-hint="Processing Type" style="max-width: 100%;">
                  </oj-combobox-one>
                  <oj-input-date converter=[[dateFormat]] value="{{createElementEffectiveStartDate}}" required
                    label-hint="Effective Start-Date" style="max-width: 100%;">
                  </oj-input-date>
                  <oj-input-date converter=[[dateFormat]] min="[[createElementEffectiveStartDate]]" value="{{createElementEffectiveEndDate}}"
                    label-hint="Effective End-Date" style="max-width: 100%;">
                  </oj-input-date>

                    <oj-input-number required value="{{createElementPriority}}" autocomplete="off" label-hint="Priority"
                      style="max-width: 100%;">
                    </oj-input-number>

                    <oj-combobox-one placeholder="Select option" required value="{{createElementCurrency}}"
                      options="[[currencyOptions]]" placeholder="Select option" label-hint="Currency"
                      style="max-width: 100%;">
                    </oj-combobox-one>
                  </oj-form-layout>
                </oj-validation-group>
              </div>
            </div>
            <div class="demo-popup-footer text-right">
              <oj-button id="create-element-btnCancel" on-oj-action="[[cancelListenerCreateElement]]">
                Cancel
              </oj-button>
              <oj-button id="btn-create-element-submit" class="ml-2" on-oj-action="[[createElement]]">
                Create
              </oj-button>
            </div>
          </div>
        </oj-popup>
      </div>

      <div id="advancesSection" class="collapse pt-5">
      <div id="validation-usecase">
        <oj-validation-group id="tracker">
          <oj-form-layout max-columns="3" id="fl1">
            <oj-input-text required value="{{advanceElementName}}" autocomplete="off" label-hint="Element Name"
              style="max-width: 100%;">
            </oj-input-text>
            <oj-combobox-one placeholder="Select option" required value="{{advanceElementType}}"
              options="[[elementTypeOptions]]" placeholder="Select option" label-hint="Element Classification"
              style="max-width: 100%;">
            </oj-combobox-one>
            <oj-combobox-one placeholder="Select option" required value="{{advanceElementProcessingType}}"
              options="[[processingTypeOptions]]" placeholder="Select option" label-hint="Processing Type"
              style="max-width: 100%;">
            </oj-combobox-one>
            <oj-input-date converter=[[dateFormat]] value="{{advanceElementEffectiveDate}}" required
              label-hint="Effective Start-Date" style="max-width: 100%;">
            </oj-input-date>
            <oj-input-date converter=[[dateFormat]] min="[[advanceElementEffectiveDate]]" value="{{advanceElementEffectiveEndDate}}"
              label-hint="Effective End-Date" style="max-width: 100%;">
            </oj-input-date>

              <oj-input-number required value="{{advanceElementPriority}}" autocomplete="off" label-hint="Priority"
                style="max-width: 100%;">
              </oj-input-number>

              <oj-combobox-one required value="{{advanceElementCurrency}}" options="[[currencyOptions]]"
                placeholder="Select option" label-hint="Currency" style="max-width: 100%;">
              </oj-combobox-one>
            </oj-form-layout>
          </oj-validation-group>
        </div>
        <div class="text-center">
          <oj-button on-oj-action="[[advanceSearchElement]]" chroming="solid" id='btn-advance-search'
            disabled='[[advanceDisable]]'>
            Search
          </oj-button>
        </div>
      </div>

      <div id="element-table-wrap" class="mt-3 p-2  rounded-lg shadow-sm">
        <oj-table class="tableStyle" id='table' aria-label='Element Table' data='[[dataProviderElement]]'
          selection-mode='{"row": "multiple", "column": "multiple"}'
          on-oj-before-current-row="[[tableSelectionListenerElement]]" dnd='{"reorder": {"columns": "enabled"}}'
          scroll-policy='loadMoreOnScroll' scroll-policy-options='{"fetchSize": 5}' columns='[{"headerText": "No.","field": "num",
                     "headerClassName": "oj-sm-only-hide",
                     "headerStyle": "width: 10px;",
                     "className": "oj-sm-only-hide",
                     "resizable": "enabled"},
                    {"headerText": "Element Name","field": "elementName",
                     "resizable": "enabled"},
                    {"headerText": "Element Classification","field": "elementType",
                     "headerClassName": "oj-sm-only-hide",
                     "className": "oj-sm-only-hide",
                     "resizable": "enabled"},
                    {"headerText": "Processing Type","field": "processingType",
                     "headerClassName": "oj-sm-only-hide",
                     "className": "oj-sm-only-hide",
                     "resizable": "enabled"},
                    {"headerText": "Priority","field": "priority",
                     "resizable": "enabled"},
                    {"headerText": "Effective Start Date","field": "effectiveStartDate",
                     "resizable": "enabled"},
                    {"headerText": "Effective End Date","field": "effectiveEndDate",
                     "resizable": "enabled"},
                    {"headerText": "Currency","field": "currency",
                     "resizable": "enabled"},
                    {"headerText": "Status","field": "status",
                     "resizable": "enabled",
                     "template": "statusTemplate"},
                    {"headerText": "Action","field": "action",
                     "resizable": "enabled",
                     "template": "actionTemplate"}]'>

          <template slot="statusTemplate" data-oj-as="cell">
            <oj-bind-if test='[[cell.data=="1"]]'>
              <i class="fas fa-check-circle text-success"></i>
            </oj-bind-if>
            <oj-bind-if test='[[cell.data!="1"]]'>
              <i class="fas fa-times-circle text-danger"></i>
            </oj-bind-if>
          </template>

        <template slot="actionTemplate" data-oj-as="cell">
          <oj-bind-if test='[[cell.mode=="navigation"]]'>
            <oj-menu-button id="menuButton">
              <i class="fas fa-ellipsis-h"></i>
              <!-- To handle menu item selection, use an action listener as shown, not a click listener. -->
              <oj-menu id="myMenu" slot="menu" style="display:none;" on-oj-action="[[elementAction]]">
                <oj-option value="edit">
                  <i class="far fa-edit"></i> Edit
                </oj-option>
                <oj-option value="remove">
                  <i class="far fa-trash-alt"></i> Remove
                </oj-option>
              </oj-menu>
            </oj-menu-button>
          </oj-bind-if>
        </template>
      </oj-table>
    </div>
  </div>
  <div id="page-2" style="display:none">
    <oj-button on-oj-action="[[gotoPage1]]" id='btn-advance-search' disabled='[[advanceDisable]]' style="padding: 0">
      <span>
        <i class="fas fa-chevron-left"></i> Back
      </span>
    </oj-button>
    <div id="edit-element" class="mt-3 p-4 rounded-lg shadow-sm">
      <div id="edit-validation-usecase">
        <oj-validation-group id="edit-element-tracker">
          <oj-form-layout max-columns="2" id="fl1">
            <oj-input-text id="element-name" required value="{{editElementName}}" autocomplete="off"
              label-hint="Element Name" style="max-width: 100%;">
            </oj-input-text>
            <oj-combobox-one required value="{{editElementType}}" options="[[elementTypeOptions]]"
              placeholder="Select option" label-hint="Element Classification" style="max-width: 100%;">
            </oj-combobox-one>
            <oj-combobox-one id="element-process-type" required value="{{editElementProcessingType}}"
              options=[[processingTypeOptions]] placeholder="Select option" label-hint="Processing Type"
              style="max-width: 100%;">
            </oj-combobox-one>
            <oj-input-date id="element-startdate" converter=[[dateFormat]] value="{{editElementEffectiveDate}}" required
              label-hint="Effective Start-Date" style="max-width: 100%;">
            </oj-input-date>
            <oj-input-date id="element-enddate" converter=[[dateFormat]] min="[[editElementEffectiveDate]]" value="{{editElementEffectiveEndDate}}"
              label-hint="Effective End-Date" style="max-width: 100%;">
            </oj-input-date>

              <oj-input-number id="element-priority" required value="{{editElementPriority}}" autocomplete="off"
                label-hint="Priority" style="max-width: 100%;">
              </oj-input-number>

              <oj-combobox-one id="element-currency" required value="{{editElementCurrency}}"
                options="[[currencyOptions]]" placeholder="Select option" label-hint="Currency"
                style="max-width: 100%;">
              </oj-combobox-one>
            </oj-form-layout>
          </oj-validation-group>
          <div class="text-right">
            <oj-button id="btn-edit-element-submit" on-oj-action="[[updateElement]]">
              Save Changes
            </oj-button>
          </div>
        </div>
      </div>

      <div id="element-tabs" class="mt-3 p-4  rounded-lg shadow-sm">
        <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
          <div id="tabbardemo">
            <div id="element-tabs-container" class="oj-flex demo-edge-top">
              <oj-tab-bar id="hnavlist" edge="[[currentEdge]]" selection="{{selectedItem}}">
                <ul>
                  <li id="menu-tab-1">
                    <a class="font-weight-bold" aria-controls="tab1-panel" id="tab1">
                      Input Values
                    </a>
                  </li>
                  <li id="menu-tab-2">
                    <a class="font-weight-bold" aria-controls="tab2-panel" id="tab2">
                      Element Eligibility
                    </a>
                  </li>
                  <li id="menu-tab-3">
                    <a  class="font-weight-bold" aria-controls="tab3-panel" id="tab3">
                      Costing
                    </a>
                  </li>
                  <!-- <li id="menu-tab-4">
                    <a class="font-weight-bold" aria-controls="tab5-panel" id="tab4">
                      Define Formula Result
                    </a>
                  </li> -->
                </ul>
              </oj-tab-bar>

              <oj-switcher class="w-100" value="[[selectedItem]]">
                <!-- Input Values -->
                <div slot="menu-tab-1" id="tab1-panel" role="tabpanel" class="mt-3" aria-labelledby="tab1"
                  style="display: block;">
                  <div class="demo-tab-content">
                    <br />
                    <div class="text-right mb-2">
                      <oj-button on-oj-action="[[modalInputValue]]" id='btn-advance-search'
                        disabled='[[advanceDisable]]' style="padding: 0">
                        <span>
                          <i class="fas fa-plus pr-2"></i> Create Input Values
                        </span>
                      </oj-button>
                    </div>
                    <div class=" rounded w-100">
                      <oj-table id='table' aria-label='Input Value Table' data='[[dataProviderInputValues]]'
                        selection-mode='{"row": "multiple", "column": "multiple"}'
                        dnd='{"reorder": {"columns": "enabled"}}'
                        on-oj-before-current-row='[[tableSelectionListenerInputValue]]' scroll-policy='loadMoreOnScroll'
                        scroll-policy-options='{"fetchSize": 10}' columns='[{"headerText": "No.","field": "num",
                                     "headerClassName": "oj-sm-only-hide",
                                     "headerStyle": "width: 10px;",
                                     "className": "oj-sm-only-hide",
                                     "resizable": "enabled"},
                                    {"headerText": "Name","field": "name",
                                     "resizable": "enabled"},
                                    {"headerText": "Action","field": "action",
                                     "resizable": "enabled",
                                     "headerStyle": "width: 50px;",
                                     "template": "actionTemplate"}]' style='width: 100%; max-height: 400px;'>

                        <template slot="statusTemplate" data-oj-as="cell">
                          <oj-bind-if test='[[cell.data=="1"]]'>
                            <i class="fas fa-check-circle text-success"></i>
                          </oj-bind-if>
                          <oj-bind-if test='[[cell.data!="1"]]'>
                            <i class="fas fa-times-circle text-danger"></i>
                          </oj-bind-if>
                        </template>

                      <template slot="actionTemplate" data-oj-as="cell">
                        <!-- <oj-bind-text id="" value="[[cell.data]]">
                        </oj-bind-text> -->
                        <oj-bind-if test='[[cell.mode=="navigation"]]'>
                          <oj-menu-button id="inputValue-menuButton">
                            <i class="fas fa-ellipsis-h"></i>
                            <!-- To handle menu item selection, use an action listener as shown, not a click listener. -->
                            <oj-menu id="inputValue-menu" slot="menu" style="display:none;"
                              on-oj-action="[[inputValueAction]]">
                              <oj-option value="edit">
                                <i class="far fa-edit"></i> Edit
                              </oj-option>
                              <oj-option value="remove">
                                <i class="far fa-trash-alt"></i> Remove
                              </oj-option>
                            </oj-menu>
                          </oj-menu-button>
                        </oj-bind-if>
                      </template>
                    </oj-table>
                  </div>
                  <div id="create-inputvalue">
                    <oj-popup id="create-inputValue-modal" class="demo-popup" tail="none"
                      position.my.horizontal="center" position.my.vertical="top" position.at.horizontal="center"
                      position.at.vertical="top" position.of="window" position.offset.y="50" modality="modal"
                      on-oj-animate-start="[[startAnimationListenerCreateInputValue]]">
                      <div class="demo-popup-body">
                        <div class="demo-popup-header">
                          <h5>Create Input Values</h5>
                        </div>
                        <div class="demo-popup-content">
                          <div id="create-inputValue-validation-usecase">
                            <oj-validation-group id="create-inputValue-tracker">
                              <oj-form-layout max-columns="2" id="fl1">
                                <oj-input-text required value="{{inputValueName}}" autocomplete="off" label-hint="Name"
                                  style="max-width: 100%;">
                                </oj-input-text>
                                <oj-input-number required value="{{inputValueDisplaySequence}}" autocomplete="off"
                                  label-hint="Display Sequence" style="max-width: 100%;">
                                </oj-input-number>
                                <oj-combobox-one placeholder="Select option" on-value-changed="[[inputListenerUOM]]"
                                  required value="{{inputValueUnitOfMeasure}}" label-hint="Unit of Measure"
                                  style="max-width: 100%;">
                                  <oj-option value="number">Number</oj-option>
                                  <oj-option value="money">Money</oj-option>
                                  <oj-option value="character">Character</oj-option>
                                  <oj-option value="date">Date</oj-option>
                                </oj-combobox-one>

                                  <!-- ko if: inputValueUnitOfMeasure() == '' -->
                                  <oj-input-text value="{{inputValueDefaultValue}}" autocomplete="off"
                                    label-hint="Default Value" style="max-width: 100%;" disabled="true">
                                  </oj-input-text>
                                  <!-- /ko -->

                                  <!-- ko if: inputValueUnitOfMeasure() == 'number' || inputValueUnitOfMeasure() == 'money' -->
                                  <oj-input-number value="{{inputValueDefaultValue}}" autocomplete="off"
                                    label-hint="Default Value" style="max-width: 100%;">
                                  </oj-input-number>
                                  <!-- /ko -->

                                  <!-- ko if: inputValueUnitOfMeasure() == 'character' -->
                                  <oj-input-text value="{{inputValueDefaultValue}}" autocomplete="off"
                                    label-hint="Default Value" style="max-width: 100%;">
                                  </oj-input-text>
                                  <!-- /ko -->

                                  <!-- ko if: inputValueUnitOfMeasure() == 'date' -->
                                  <oj-input-date converter=[[dateFormat]] value="{{inputValueDefaultValue}}"
                                    label-hint="Default Value" style="max-width: 100%;">
                                  </oj-input-date>
                                  <!-- /ko -->

                                <oj-input-date converter=[[dateFormat]] value="{{inputValueEffectiveStartDate}}"
                                  required label-hint="Effective Start-Date" style="max-width: 100%;">
                                </oj-input-date>
                                <oj-input-date converter=[[dateFormat]] min="[[inputValueEffectiveStartDate]]" value="{{inputValueEffectiveEndDate}}"
                                  label-hint="Effective End-Date" style="max-width: 100%;">
                                </oj-input-date>

                                  <!-- <oj-input-number required value="{{inputValueMin}}" autocomplete="off"
                                    label-hint="Min" style="max-width: 100%;">
                                  </oj-input-number>
  
                                  <oj-input-number required value="{{inputValueMax}}" autocomplete="off"
                                    label-hint="Max" style="max-width: 100%;">
                                  </oj-input-number> -->

                                  <!-- <oj-combobox-one placeholder="Select option" required value="{{inputValueWarningError}}"
                                    label-hint="Warning or Error" style="max-width: 100%;">
                                    <oj-option value="warning">Warning</oj-option>
                                    <oj-option value="error">Error</oj-option>
                                  </oj-combobox-one> -->

                                  <oj-checkboxset id="create-inputValues-checkbox" value="{{inputValueCheckbox}}"
                                    label-hint="Check the boxes">
                                    <oj-option id="create-display" value="display">Display</oj-option>
                                    <oj-option id="create-agree" value="required">Required</oj-option>
                                  </oj-checkboxset>

                              </oj-form-layout>
                            </oj-validation-group>
                          </div>
                        </div>
                        <div class="demo-popup-footer text-right">
                          <oj-button id="create-inputValue-btnCancel" on-oj-action="[[cancelModalInputValue]]">
                            Cancel
                          </oj-button>
                          <oj-button id="btn-create-inputValue-submit" class="ml-2" on-oj-action="[[createInputValue]]">
                            Create
                          </oj-button>
                        </div>
                      </div>
                    </oj-popup>
                  </div>
                  <div id="edit-inputvalue">
                    <oj-popup id="edit-inputValue-modal" class="demo-popup" tail="none" position.my.horizontal="center"
                      position.my.vertical="top" position.at.horizontal="center" position.at.vertical="top"
                      position.of="window" position.offset.y="50" modality="modal"
                      on-oj-animate-start="[[startAnimationListenerEditInputValue]]">
                      <div class="demo-popup-body">
                        <div class="demo-popup-header">
                          <h5>Edit Input Values</h5>
                        </div>
                        <div class="demo-popup-content">
                          <div id="edit-inputValue-validation-usecase">
                            <oj-validation-group id="edit-inputValue-tracker">
                              <oj-form-layout max-columns="2" id="fl1">
                                <oj-input-text required value="{{inputValueName}}" autocomplete="off" label-hint="Name"
                                  style="max-width: 100%;">
                                </oj-input-text>
                                <oj-input-number required value="{{inputValueDisplaySequence}}" autocomplete="off"
                                  label-hint="Display Sequence" style="max-width: 100%;">
                                </oj-input-number>
                                <oj-combobox-one placeholder="Select option" on-value-changed="[[inputListenerUOM]]"
                                  required value="{{inputValueUnitOfMeasure}}" placeholder="Select option"
                                  label-hint="Unit of Measure" style="max-width: 100%;">
                                  <oj-option value="number">Number</oj-option>
                                  <oj-option value="money">Money</oj-option>
                                  <oj-option value="character">Character</oj-option>
                                  <oj-option value="date">Date</oj-option>
                                </oj-combobox-one>

                                  <!-- ko if: inputValueUnitOfMeasure() == '' -->
                                  <oj-input-text value="{{inputValueDefaultValue}}" autocomplete="off"
                                    label-hint="Default Value" style="max-width: 100%;" disabled="true">
                                  </oj-input-text>
                                  <!-- /ko -->

                                  <!-- ko if: inputValueUnitOfMeasure() == 'number' || inputValueUnitOfMeasure() == 'money' -->
                                  <oj-input-number value="{{inputValueDefaultValue}}" autocomplete="off"
                                    label-hint="Default Value" style="max-width: 100%;">
                                  </oj-input-number>
                                  <!-- /ko -->

                                  <!-- ko if: inputValueUnitOfMeasure() == 'character' -->
                                  <oj-input-text value="{{inputValueDefaultValue}}" autocomplete="off"
                                    label-hint="Default Value" style="max-width: 100%;">
                                  </oj-input-text>
                                  <!-- /ko -->

                                  <!-- ko if: inputValueUnitOfMeasure() == 'date' -->
                                  <oj-input-date converter=[[dateFormat]] value="{{inputValueDefaultValue}}"
                                    label-hint="Default Value" style="max-width: 100%;">
                                  </oj-input-date>
                                  <!-- /ko -->

                                <oj-input-date converter=[[dateFormat]] value="{{inputValueEffectiveStartDate}}"
                                  required label-hint="Effective Start-Date" style="max-width: 100%;">
                                </oj-input-date>
                                <oj-input-date converter=[[dateFormat]] min="[[inputValueEffectiveStartDate]]" value="{{inputValueEffectiveEndDate}}"
                                  label-hint="Effective End-Date" style="max-width: 100%;">
                                </oj-input-date>

                                  <!-- <oj-input-text value="{{inputValueDefaultValue}}" autocomplete="off"
                                    label-hint="Default Value" style="max-width: 100%;">
                                  </oj-input-text> -->

                                  <!-- <oj-input-number required value="{{inputValueMin}}" autocomplete="off"
                                    label-hint="Min" style="max-width: 100%;">
                                  </oj-input-number>
  
                                  <oj-input-number required value="{{inputValueMax}}" autocomplete="off"
                                    label-hint="Max" style="max-width: 100%;">
                                  </oj-input-number> -->

                                  <!-- <oj-combobox-one placeholder="Select option" required value="{{inputValueWarningError}}"
                                    label-hint="Warning or Error" style="max-width: 100%;">
                                    <oj-option value="warning">Warning</oj-option>
                                    <oj-option value="error">Error</oj-option>
                                  </oj-combobox-one> -->

                                  <oj-checkboxset id="edit-checkboxSetAgreeId" value="{{inputValueCheckbox}}"
                                    label-hint="Check the boxes">
                                    <oj-option id="edit-display" value="display">Display</oj-option>
                                    <oj-option id="edit-agree" value="required">Required</oj-option>
                                  </oj-checkboxset>

                                </oj-form-layout>
                              </oj-validation-group>
                            </div>
                          </div>
                          <div class="demo-popup-footer text-right">
                            <oj-button id="edit-input-value-btnCancel" on-oj-action="[[cancelModalEditInputValue]]">
                              Cancel
                            </oj-button>
                            <oj-button id="btn-element-submit" class="ml-2" on-oj-action="[[updateInputValue]]">
                              Save Changes
                            </oj-button>
                          </div>
                        </div>
                      </oj-popup>
                    </div>
                  </div>
                </div>
                <!-- Eligibility -->
                <div slot="menu-tab-2" id="tab2-panel" role="tabpanel" aria-labelledby="tab2" style="display: block;">
                  <div class="demo-tab-content">
                    <br />
                    <div class="text-right mb-2">
                      <oj-button on-oj-action="[[modalEligibility]]" id='btn-advance-search'
                        disabled='[[advanceDisable]]' style="padding: 0">
                        <span>
                          <i class="fas fa-plus pr-2"></i> Create Eligibility
                        </span>
                      </oj-button>
                    </div>
                    <div class=" rounded w-100">
                      <oj-table id='table' aria-label='Eligibility Table' data='[[dataProviderEligibility]]'
                        selection-mode='{"row": "multiple", "column": "multiple"}'
                        dnd='{"reorder": {"columns": "enabled"}}'
                        on-oj-before-current-row='[[tableSelectionListenerEligibility]]'
                        scroll-policy='loadMoreOnScroll' scroll-policy-options='{"fetchSize": 10}' columns='[{"headerText": "No.","field": "num",
                                     "headerClassName": "oj-sm-only-hide",
                                     "headerStyle": "width: 10px;",
                                     "className": "oj-sm-only-hide",
                                     "resizable": "enabled"},
                                    {"headerText": "Name","field": "name",
                                     "resizable": "enabled"},
                                    {"headerText": "Action","field": "action",
                                     "resizable": "enabled",
                                     "headerStyle": "width: 50px;",
                                     "template": "actionTemplate"}]' style='width: 100%; max-height: 400px;'>

                        <template slot="statusTemplate" data-oj-as="cell">
                          <oj-bind-if test='[[cell.data=="1"]]'>
                            <i class="fas fa-check-circle text-success"></i>
                          </oj-bind-if>
                          <oj-bind-if test='[[cell.data!="1"]]'>
                            <i class="fas fa-times-circle text-danger"></i>
                          </oj-bind-if>
                        </template>

                      <template slot="actionTemplate" data-oj-as="cell">
                        <oj-bind-if test='[[cell.mode=="navigation"]]'>
                          <oj-menu-button id="eligibility-menuButton">
                            <i class="fas fa-ellipsis-h"></i>
                            <!-- To handle menu item selection, use an action listener as shown, not a click listener. -->
                            <oj-menu id="eligibility-menu" slot="menu" style="display:none;"
                              on-oj-action="[[eligibilityAction]]">
                              <oj-option value="edit">
                                <i class="far fa-edit"></i> Edit
                              </oj-option>
                              <oj-option value="remove">
                                <i class="far fa-trash-alt"></i> Remove
                              </oj-option>
                            </oj-menu>
                          </oj-menu-button>
                        </oj-bind-if>
                      </template>
                    </oj-table>
                  </div>
                  <!-- create modal -->
                  <div id="create-eligibility">
                    <oj-popup id="create-eligibility-modal" class="demo-popup" tail="none"
                      position.my.horizontal="center" position.my.vertical="top" position.at.horizontal="center"
                      position.at.vertical="top" position.of="window" position.offset.y="50" modality="modal"
                      on-oj-animate-start="[[startAnimationListenerCreateEligibility]]">
                      <div class="demo-popup-body">
                        <div class="demo-popup-header">
                          <h5>Create Eligibility</h5>
                        </div>
                        <div class="demo-popup-content">
                          <div id="create-eligibility-validation-usecase">
                            <oj-validation-group id="create-eligibility-tracker">
                              <oj-form-layout max-columns="1" id="create-eligibility-fl1">
                                <oj-input-text value="{{eligibilityName}}" autocomplete="off"
                                  label-hint="Eligibility Name" style="max-width: 100%;" required>
                                </oj-input-text>
                              </oj-form-layout>
                              <oj-form-layout max-columns="2" id="create-eligibility-fl2">
                                <oj-input-date converter=[[dateFormat]] value="{{eligibilityEffectiveStartDate}}"
                                  required label-hint="Effective Start-Date" style="max-width: 100%;">
                                </oj-input-date>
                                <oj-input-date converter=[[dateFormat]] min="[[eligibilityEffectiveStartDate]]" value="{{eligibilityEffectiveEndDate}}"
                                  label-hint="Effective End-Date" style="max-width: 100%;">
                                </oj-input-date>
                              </oj-form-layout>
                              <oj-form-layout max-columns="2" id="create-eligibility-fl3">
                                <oj-combobox-one placeholder="Select option" label-hint="Grade"
                                  value="{{eligibilityGradeId}}" options="[[optionEligibitliyGrade]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Job"
                                  value="{{eligibilityJobId}}" options="[[optionEligibilityJob]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Location"
                                  value="{{eligibilityLocationId}}" options="[[optionEligibilityLocation]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Organization"
                                  value="{{eligibilityOrganizationId}}" options="[[optionEligibilityOrganization]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Payroll"
                                  value="{{eligibilityPayrollId}}" options="[[optionEligibilityPayroll]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="People Group"
                                  value="{{eligibilityPeopleGroupId}}" options="[[optionEligibilityPeopleGroup]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Position"
                                  value="{{eligibilityPositionId}}" options="[[optionEligibilityPosition]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <!-- <oj-combobox-one placeholder="Select option" label-hint="Salary" value="{{eligibilitySalaryId}}" options="[[optionEligibilitySalary]]" 
                                  style="max-width: 100%;">
                                </oj-combobox-one> -->
                                <!-- <oj-checkboxset id="create-eligibility-checkboxAutomaticEntry" value="{{eligibilityAutomaticEntry}}" label-hint="">
                                  <oj-option id="create-auto" value="auto">Automatic Entry</oj-option>
                                </oj-checkboxset> -->
                              </oj-form-layout>
                            </oj-validation-group>
                          </div>
                        </div>
                        <div class="demo-popup-footer text-right">
                          <oj-button id="create-eligibility-btnCancel" on-oj-action="[[cancelModalEligibility]]">
                            Cancel
                          </oj-button>
                          <oj-button id="btn-create-eligibility-submit" class="ml-2"
                            on-oj-action="[[createEligibility]]">
                            Create
                          </oj-button>
                        </div>
                      </div>
                    </oj-popup>
                  </div>
                  <!-- edit modal -->
                  <div id="edit-Eligibility">
                    <oj-popup id="edit-eligibility-modal" class="demo-popup" tail="none" position.my.horizontal="center"
                      position.my.vertical="top" position.at.horizontal="center" position.at.vertical="top"
                      position.of="window" position.offset.y="50" modality="modal"
                      on-oj-animate-start="[[startAnimationListenerEditEligibility]]">
                      <div class="demo-popup-body">
                        <div class="demo-popup-header">
                          <h5>Edit Eligibility</h5>
                        </div>
                        <div class="demo-popup-content">
                          <div id="edit-eligibility-validation-usecase">
                            <oj-validation-group id="edit-eligibility-tracker">
                              <oj-form-layout max-columns="1" id="create-eligibility-fl1">
                                <oj-input-text value="{{eligibilityName}}" autocomplete="off"
                                  label-hint="Eligibility Name" style="max-width: 100%;" required>
                                </oj-input-text>
                              </oj-form-layout>
                              <oj-form-layout max-columns="2" id="edit-eligibility-fl2">
                                <oj-input-date converter=[[dateFormat]] value="{{eligibilityEffectiveStartDate}}"
                                  required label-hint="Effective Start-Date" style="max-width: 100%;">
                                </oj-input-date>
                                <oj-input-date converter=[[dateFormat]] min="[[eligibilityEffectiveStartDate]]" value="{{eligibilityEffectiveEndDate}}"
                                  label-hint="Effective End-Date" style="max-width: 100%;">
                                </oj-input-date>
                              </oj-form-layout>
                              <oj-form-layout max-columns="2" id="edit-eligibility-fl3">
                                <oj-combobox-one placeholder="Select option" label-hint="Grade"
                                  value="{{eligibilityGradeId}}" options="[[optionEligibitliyGrade]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Job"
                                  value="{{eligibilityJobId}}" options="[[optionEligibilityJob]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Location"
                                  value="{{eligibilityLocationId}}" options="[[optionEligibilityLocation]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Organization"
                                  value="{{eligibilityOrganizationId}}" options="[[optionEligibilityOrganization]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Payroll"
                                  value="{{eligibilityPayrollId}}" options="[[optionEligibilityPayroll]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="People Group"
                                  value="{{eligibilityPeopleGroupId}}" options="[[optionEligibilityPeopleGroup]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Position"
                                  value="{{eligibilityPositionId}}" options="[[optionEligibilityPosition]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>

                                </oj-form-layout>
                              </oj-validation-group>
                            </div>
                          </div>
                          <div class="demo-popup-footer text-right">
                            <oj-button id="edit-input-value-btnCancel" on-oj-action="[[cancelModalEditEligibility]]">
                              Cancel
                            </oj-button>
                            <oj-button id="btn-element-submit" class="ml-2" on-oj-action="[[updateEligibility]]">
                              Save Changes
                            </oj-button>
                          </div>
                        </div>
                      </oj-popup>
                    </div>
                  </div>
                </div>
                <!-- Costing -->
                <div slot="menu-tab-3" id="tab3-panel" role="tabpanel" class="mt-3" aria-labelledby="tab3"
                  style="display: block;">
                  <div class="demo-tab-content">
                    <br />
                    <div class="text-right mb-2">
                      <oj-button on-oj-action="[[modalCreateCosting]]" id='btn-advance-search'
                        disabled='[[advanceDisable]]' style="padding: 0">
                        <span>
                          <i class="fas fa-plus pr-2"></i> Create Costing
                        </span>
                      </oj-button>
                    </div>
                    <div class=" rounded w-100">
                      <oj-table id='table' aria-label='Costing Table' data='[[dataProviderCosting]]'
                        selection-mode='{"row": "multiple", "column": "multiple"}'
                        dnd='{"reorder": {"columns": "enabled"}}'
                        on-oj-before-current-row='[[tableSelectionListenerCosting]]' scroll-policy='loadMoreOnScroll'
                        scroll-policy-options='{"fetchSize": 10}' columns='[{"headerText": "No.","field": "num",
                                   "headerClassName": "oj-sm-only-hide",
                                   "headerStyle": "width: 10px;",
                                   "className": "oj-sm-only-hide",
                                   "resizable": "enabled"},
                                  {"headerText": "Name","field": "name",
                                   "resizable": "enabled"},
                                  {"headerText": "Action","field": "action",
                                   "resizable": "enabled",
                                   "headerStyle": "width: 50px;",
                                   "template": "actionTemplate"}]' style='width: 100%; max-height: 400px;'>

                        <template slot="statusTemplate" data-oj-as="cell">
                          <oj-bind-if test='[[cell.data=="1"]]'>
                            <i class="fas fa-check-circle text-success"></i>
                          </oj-bind-if>
                          <oj-bind-if test='[[cell.data!="1"]]'>
                            <i class="fas fa-times-circle text-danger"></i>
                          </oj-bind-if>
                        </template>

                      <template slot="actionTemplate" data-oj-as="cell">
                        <oj-bind-if test='[[cell.mode=="navigation"]]'>
                          <oj-menu-button id="eligibility-menuButton">
                            <i class="fas fa-ellipsis-h"></i>
                            <!-- To handle menu item selection, use an action listener as shown, not a click listener. -->
                            <oj-menu id="costing-menu" slot="menu" style="display:none;"
                              on-oj-action="[[costingAction]]">
                              <oj-option value="edit">
                                <i class="far fa-edit"></i> Edit
                              </oj-option>
                              <oj-option value="remove">
                                <i class="far fa-trash-alt"></i> Remove
                              </oj-option>
                            </oj-menu>
                          </oj-menu-button>
                        </oj-bind-if>
                      </template>
                    </oj-table>
                  </div>
                  <div id="create-costing">
                    <oj-popup id="create-costing-modal" class="container costing-popup" tail="none" position.my.horizontal="center"
                      position.my.vertical="top" position.at.horizontal="center" position.at.vertical="top"
                      position.of="window" position.offset.y="50" modality="modal"
                      on-oj-animate-start="[[startAnimationListenerCreateCosting]]">
                      <div class="demo-popup-body">
                        <div class="demo-popup-header">
                          <h5>Create Costing</h5>
                        </div>
                        <div class="demo-popup-content">
                          <div id="create-costing-validation-usecase">
                            <oj-validation-group id="create-costing-tracker">
                              <oj-form-layout max-columns="3" id="create-costing-fl1">
                                <oj-input-text required value="{{costingSegment}}" label-hint="Costing Description" style="max-width: 100%;">
                                </oj-input-text>
                                <oj-combobox-one required on-value-changed=[[changeListenerCostType]]  placeholder="Select option" label-hint="Cost Type"
                                  value="{{costingCostType}}" style="max-width: 100%;" options="[[optionCostingType]]">
                                </oj-combobox-one>
                                <oj-combobox-one required placeholder="Select option" label-hint="Input Value"
                                  value="{{costingInputValue}}" style="max-width: 100%;" options="[[optionCostingInputValue]]">
                                </oj-combobox-one>
                                <oj-checkboxset label-hint="" value="{{costingGeneralLedger}}"
                                  style="padding-top: 25px;">
                                  <oj-option value="true">Transfer to General Ledger</oj-option>
                                </oj-checkboxset>
                                <oj-input-date converter=[[dateFormat]] value="{{costingEffectiveStartDate}}" required style="max-width: 100%;"
                                  label-hint="Effective Start Date" required>
                                </oj-input-date>
                                <oj-input-date converter=[[dateFormat]] min="[[costingEffectiveStartDate]]" value="{{costingEffectiveEndDate}}" style="max-width: 100%;"
                                  label-hint="Effective End Date">
                                </oj-input-date>
                              </oj-form-layout>
                              <hr />
                              <h6>Cost Account</h6>
                              <oj-form-layout max-columns="5" id="create-costingform2">
                                <oj-combobox-one placeholder="Select option" label-hint="Company"
                                  value="{{costingCompany}}" options="[[optionSegmentCompany]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Functions"
                                  value="{{costingFunctions}}" options="[[optionSegmentFunctions]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Natural Account"
                                  value="{{costingNaturalAccount}}" options="[[optionSegmentNaturalAccount]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Geographic Locations"
                                  value="{{costingGeographicLocations}}" options="[[optionSegmentGeographicLocations]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Towers"
                                  value="{{costingTowers}}" options="[[optionSegmentTowers]]" style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Projects"
                                  value="{{costingProjects}}" options="[[optionSegmentProjects]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Products"
                                  value="{{costingProducts}}" options="[[optionSegmentProducts]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Future 1"
                                  value="{{costingFuture1}}" options="[[optionSegmentFuture1]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Future 2"
                                  value="{{costingFuture2}}" options="[[optionSegmentFuture2]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                              </oj-form-layout>
                              <hr />
                              <h6>Offset Account</h6>
                              <oj-form-layout max-columns="5" id="create-costingform2">
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Company"
                                  value="{{costingOffsetCompany}}" options="[[optionSegmentCompany]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Functions"
                                  value="{{costingOffsetFunctions}}" options="[[optionSegmentFunctions]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Natural Account"
                                  value="{{costingOffsetNaturalAccount}}" options="[[optionSegmentNaturalAccount]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Geographic Locations"
                                  value="{{costingOffsetGeographicLocations}}"
                                  options="[[optionSegmentGeographicLocations]]" style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Towers"
                                  value="{{costingOffsetTowers}}" options="[[optionSegmentTowers]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Projects"
                                  value="{{costingOffsetProjects}}" options="[[optionSegmentProjects]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Products"
                                  value="{{costingOffsetProducts}}" options="[[optionSegmentProducts]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Future 1"
                                  value="{{costingOffsetFuture1}}" options="[[optionSegmentFuture1]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Future 2"
                                  value="{{costingOffsetFuture2}}" options="[[optionSegmentFuture2]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                              </oj-form-layout>

                            </oj-validation-group>
                          </div>
                        </div>
                        <div class="demo-popup-footer text-right">
                          <oj-button id="create-eligibility-btnCancel" on-oj-action="[[cancelModalCreateCosting]]">
                            Cancel
                          </oj-button>
                          <oj-button id="btn-create-eligibility-submit" class="ml-2" on-oj-action="[[createCosting]]">
                            Create
                          </oj-button>
                        </div>
                      </div>
                    </oj-popup>
                  </div>
                  <!-- edit modal -->
                  <div id="edit-Costing">
                    <oj-popup id="edit-costing-modal" class="container costing-popup" tail="none" position.my.horizontal="center"
                      position.my.vertical="top" position.at.horizontal="center" position.at.vertical="top"
                      position.of="window" position.offset.y="50" modality="modal"
                      on-oj-animate-start="[[startAnimationListenerEditCosting]]">
                      <div class="demo-popup-body">
                        <div class="demo-popup-header">
                          <h5>Edit Costing</h5>
                        </div>
                        <div class="demo-popup-content">
                          <div id="edit-costing-validation-usecase">
                            <oj-validation-group id="edit-costing-tracker">
                              <oj-form-layout max-columns="3" id="edit-costing-fl1">
                                <oj-input-text required value="{{costingSegment}}" label-hint="Costing Description" style="max-width: 100%;">
                                </oj-input-text>
                                <oj-combobox-one required on-value-changed=[[changeListenerCostType]] placeholder="Select option" label-hint="Cost Type"
                                  value="{{costingCostType}}" style="max-width: 100%;" options="[[optionCostingType]]">
                                </oj-combobox-one>
                                <oj-combobox-one required placeholder="Select option" label-hint="Input Value"
                                  value="{{costingInputValue}}" style="max-width: 100%;" options="[[optionCostingInputValue]]">
                                </oj-combobox-one>
                                <oj-checkboxset label-hint="" value="{{costingGeneralLedger}}"
                                  style="padding-top: 25px;">
                                  <oj-option value="true">Transfer to General Ledger</oj-option>
                                </oj-checkboxset>
                                <oj-input-date converter=[[dateFormat]] value="{{costingEffectiveStartDate}}" required
                                  style="max-width: 100%;" label-hint="Effective Start Date" required>
                                </oj-input-date>
                                <oj-input-date converter=[[dateFormat]] min="[[costingEffectiveStartDate]]" value="{{costingEffectiveEndDate}}"
                                  style="max-width: 100%;" label-hint="Effective End Date">
                                </oj-input-date>
                                
                              </oj-form-layout>
                              <hr />
                              <h6>Cost Account</h6>
                              <oj-form-layout max-columns="5" id="create-costingform2">
                                <oj-combobox-one placeholder="Select option" label-hint="Company"
                                  value="{{costingCompany}}" options="[[optionSegmentCompany]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Functions"
                                  value="{{costingFunctions}}" options="[[optionSegmentFunctions]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Natural Account"
                                  value="{{costingNaturalAccount}}" options="[[optionSegmentNaturalAccount]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Geographic Locations"
                                  value="{{costingGeographicLocations}}" options="[[optionSegmentGeographicLocations]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Towers"
                                  value="{{costingTowers}}" options="[[optionSegmentTowers]]" style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Projects"
                                  value="{{costingProjects}}" options="[[optionSegmentProjects]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Products"
                                  value="{{costingProducts}}" options="[[optionSegmentProducts]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Future 1"
                                  value="{{costingFuture1}}" options="[[optionSegmentFuture1]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one placeholder="Select option" label-hint="Future 2"
                                  value="{{costingFuture2}}" options="[[optionSegmentFuture2]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                              </oj-form-layout>
                              <hr />
                              <h6>Offset Account</h6>
                              <oj-form-layout max-columns="5" id="create-costingform2">
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Company"
                                  value="{{costingOffsetCompany}}" options="[[optionSegmentCompany]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Functions"
                                  value="{{costingOffsetFunctions}}" options="[[optionSegmentFunctions]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Natural Account"
                                  value="{{costingOffsetNaturalAccount}}" options="[[optionSegmentNaturalAccount]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Geographic Locations"
                                  value="{{costingOffsetGeographicLocations}}"
                                  options="[[optionSegmentGeographicLocations]]" style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Towers"
                                  value="{{costingOffsetTowers}}" options="[[optionSegmentTowers]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Projects"
                                  value="{{costingOffsetProjects}}" options="[[optionSegmentProjects]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Products"
                                  value="{{costingOffsetProducts}}" options="[[optionSegmentProducts]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Future 1"
                                  value="{{costingOffsetFuture1}}" options="[[optionSegmentFuture1]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                                <oj-combobox-one required="[[requiredSegment]]" placeholder="Select option" label-hint="Future 2"
                                  value="{{costingOffsetFuture2}}" options="[[optionSegmentFuture2]]"
                                  style="max-width: 100%;">
                                </oj-combobox-one>
                              </oj-form-layout>
                            </oj-validation-group>
                          </div>
                        </div>
                        <div class="demo-popup-footer text-right">
                          <oj-button id="edit-costing-btnCancel" on-oj-action="[[cancelModalEditCosting]]">
                            Cancel
                          </oj-button>
                          <oj-button id="btn-element-submit" class="ml-2" on-oj-action="[[updateCosting]]">
                            Save Changes
                          </oj-button>
                        </div>
                      </div>
                    </oj-popup>
                  </div>
                </div>
              </div>
              <!-- DEFINE FORMULA RESULT -->
              <div slot="menu-tab-4" id="tab4-panel" role="tabpanel" class="mt-3" aria-labelledby="tab4"
                style="display: block;">
                <div class="demo-tab-content">
                  <br />

                  <div id="page-1-dfr">
                    <div class="text-right mb-2">
                      <oj-button on-oj-action="[[openListenerCreateDFR]]" id='btn-advance-search'
                        disabled='[[advanceDisable]]' style="padding: 0">
                        <span>
                          <i class="fas fa-plus pr-2"></i> Create Define Formula Result
                        </span>
                      </oj-button>
                    </div>
                    <div class="rounded w-100">
                      <oj-table id='define-formula-result-table' aria-label='Define Formula Result Table'
                        data='[[dataProviderDFR]]' selection-mode='{"row": "multiple", "column": "multiple"}'
                        dnd='{"reorder": {"columns": "enabled"}}'
                        on-oj-before-current-row='[[tableSelectionListenerDFR]]' scroll-policy='loadMoreOnScroll'
                        scroll-policy-options='{"fetchSize": 10}'
                        columns='[{"headerText": "No.", "field": "num", "className": "oj-sm-only-hide", "headerStyle": "width: 10px;", "resizable": "disabled"},
                                {"headerText": "Description", "field": "description", "resizable": "enabled"},
                                {"headerText": "Fast Formula", "field": "formulaName", "resizable": "enabled"},
                                {"headerText": "Effective Start Date", "field": "startDate", "resizable": "enabled"},
                                {"headerText": "Effective End Date", "field": "endDate", "resizable": "enabled"},
                                {"headerText": "Action", "field": "action", "headerStyle": "width: 10px;", "resizable": "disabled", "template": "actionTemplate"}]'
                        style='width: 100%; max-height: 400px;'>

                          <template slot="actionTemplate" data-oj-as="cell">
                            <oj-bind-if test='[[cell.mode=="navigation"]]'>
                              <oj-menu-button id="menuButton">
                                <i class="fas fa-ellipsis-h"></i>
                                <!-- To handle menu item selection, use an action listener as shown, not a click listener. -->
                                <oj-menu id="DFRmyMenu" slot="menu" style="display:none;" on-oj-action="[[DFRAction]]">
                                  <oj-option value="edit">
                                    <i class="far fa-edit"></i> Edit
                                  </oj-option>
                                  <oj-option value="remove">
                                    <i class="far fa-trash-alt"></i> Remove
                                  </oj-option>
                                </oj-menu>
                              </oj-menu-button>
                            </oj-bind-if>
                          </template>
                        </oj-table>
                      </div>

                    <div id="create-dfr">
                      <oj-popup id="create-dfr-modal" class="demo-popup" tail="none" position.my.horizontal="center"
                        position.my.vertical="top" position.at.horizontal="center" position.at.vertical="top"
                        position.of="window" position.offset.y="50" modality="modal"
                        on-oj-animate-start="[[startAnimationListenerCreateDFR]]">
                        <div class="demo-popup-body">
                          <div class="demo-popup-header">
                            <h5>Create Define Formula Result</h5>
                          </div>
                          <div class="demo-popup-content">
                            <div id="create-dfr-validation-usecase">
                              <oj-validation-group id="create-dfr-tracker">
                                <oj-form-layout max-columns="2" id="fl1">
                                  <oj-input-text required value="{{DFRDescription}}" autocomplete="off"
                                    label-hint="Formula Description" style="max-width: 100%;">
                                  </oj-input-text>
                                  <oj-combobox-one required="true" aria-label="Fast Formula" label-hint="Fast Formula"
                                    placeholder="Select option" options="[[optionDefineFormulaResult]]"
                                    value="{{DFRFastFormula}}" style="max-width:100%">
                                  </oj-combobox-one>
                                  <oj-input-date converter=[[dateFormat]] value="{{DFRStartDate}}" required
                                    label-hint="Effective Start Date:" style="max-width: 100%;">
                                  </oj-input-date>
                                  <oj-input-date converter=[[dateFormat]] min="[[DFRStartDate]]" value="{{DFREndDate}}"
                                    label-hint="Effective End Date:" style="max-width: 100%;">
                                  </oj-input-date>
                                </oj-form-layout>
                              </oj-validation-group>
                            </div>
                          </div>
                          <div class="demo-popup-footer text-right">
                            <oj-button id="create-dfr-btnCancel" on-oj-action="[[cancelListenerCreateDFR]]">
                              Cancel
                            </oj-button>
                            <oj-button id="btn-create-dfr-submit" class="ml-2" on-oj-action="[[createDFR]]">
                              Continue
                            </oj-button>
                          </div>
                        </div>
                      </oj-popup>
                    </div>
                  </div>

                    <div id="page-2-dfr" style="display: none">

                    <oj-bind-if test="[[createPage()==true]]">
                      <!-- show text -->
                      <div id="body-wrap" class="mt-3">
                        <!-- Basic Data -->
                        <div id="header-wrap">
                          <div class="row">
                            <div class="col-sm-12 col-md-12 text-right">
                              <oj-button on-oj-action="[[gotoIndexCancel]]" id='keyword-search-btn'
                                disabled='[[advanceDisable]]'>
                                <span>
                                  Cancel
                                </span>
                              </oj-button>
                              <oj-button on-oj-action="[[submitDFR]]" id='keyword-search-btn'
                                disabled='[[advanceDisable]]'>
                                <span>
                                  Submit
                                </span>
                              </oj-button>
                            </div>
                          </div>
                        </div>
                        <div class="panel-custom mt-3 p-4 border rounded-lg shadow-sm">
                          <h5>Basic Data</h5>
                          <div class="row">
                            <div class="col-md-6">
                              <table>
                                <tr class="p-2">
                                  <td class="text-left"><strong>Formula Description:</strong></td>
                                  <td class="pl-1">
                                    <oj-bind-text value="[[DFRDescription]]"></oj-bind-text>
                                  </td>
                                </tr>
                                <tr class="p-2">
                                  <td class="text-left"><strong>Fast Formula:</strong></td>
                                  <td class="pl-1">
                                    <oj-bind-text value="[[DFRformulaName]]"></oj-bind-text>
                                  </td>
                                </tr>
                              </table>
                            </div>
                            <div class="col-md-6">
                              <table>
                                <tr class="p-2">
                                  <td class="text-left"><strong>Effective Start Date:</strong></td>
                                  <td class="pl-1">
                                    <oj-bind-text value="[[DFRStartDate]]"></oj-bind-text>
                                  </td>
                                </tr>
                                <tr class="p-2">
                                  <td class="text-left"><strong>Effictive End Date:</strong></td>
                                  <td class="pl-1">
                                    <oj-bind-text value="[[DFREndDate]]"></oj-bind-text>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- table -->
                      <div id="table">
                        <div class="panel-custom mt-5 p-4 border rounded-lg shadow-sm">
                          <h5>Formula Rules</h5>
                          <div class="row">
                            <div class="col-sm-12 col-md-6">
                            </div>
                            <div class="col-sm-12 col-md-6 text-right">
                              <oj-button id='add-defineFormulaResult-btn' disabled='[[advanceDisable]]'
                                on-oj-action="[[openListenerLinkType]]">
                                <span><i class="fas fa-plus p-2"></i></span>
                              </oj-button>
                            </div>
                          </div>
                          <div class="mt-3 p-2 border rounded-lg">
                            <oj-table id='defineFormulaResult-table' aria-label='Define Formula Result Table'
                              data='[[dataProviderLinkType]]' selection-mode='{"row": "multiple", "column": "multiple"}'
                              dnd='{"reorder": {"columns": "enabled"}}'
                              on-oj-before-current-row="[[tableSelectionListenerLinkType]]" scroll-policy='loadMoreOnScroll'
                              scroll-policy-options='{"fetchSize": 10}'
                              columns='[
                                {"headerText": "Link Type", "field": "resultRuleType", "resizable": "enabled"},
                                {"headerText": "Element", "field": "elementName", "resizable": "enabled"},
                                {"headerText": "Input Value", "field": "inputValueName", "resizable": "enabled"},
                                {"headerText": "Effective Start date", "field": "effectiveStartDate", "resizable": "enabled"},
                                {"headerText": "Effective End date", "field": "effectiveEndDate", "resizable": "enabled"},
                                {"headerText": "Action", "field": "action", "headerStyle": "width: 10px;", "template": "actionTemplate"}
                              ]'
                              style='width: 100%; max-height: 400px;'>

                              <template slot="actionTemplate" data-oj-as="cell">
                                <oj-bind-if test='[[cell.mode=="navigation"]]'>
                                  <oj-button id='remove-defineFormulaResult-btn' on-oj-action="[[removeLinkType]]"
                                    disabled='[[advanceDisable]]'>
                                    <i class="far fa-trash-alt"></i>
                                  </oj-button>
                                </oj-bind-if>
                              </template>
                            </oj-table>
                          </div>
          
                          <!-- modal -->
                          <oj-popup id="insert-defineFormulaResult-modal" class="demo-popup" tail="none"
                            position.my.horizontal="center" position.my.vertical="top" position.at.horizontal="center"
                            position.at.vertical="top" position.of="window" position.offset.y="50" modality="modal"
                            on-oj-animate-start="[[startAnimationListenerLinkType]]" style="width: 500px">
                            <div class="demo-popup-body">
                              <div class="demo-popup-header">
                                <h5>Insert Formula Result Rules</h5>
                              </div>
                              <div class="demo-popup-content">
                                <oj-validation-group id="insert-defineFormulaResult-tracker" class="p-2">
                                  <oj-form-layout max-columns="2" id="fl1">
                                    <oj-combobox-one required on-value-changed=[[changeListenerLinkType]]
                                      value="{{linkType}}" options="[[optionLinkType]]" placeholder="Select option"
                                      label-hint="Link Type" style="max-width: 100%;">
                                    </oj-combobox-one>
                                    <oj-bind-if test="[[linkType()=='direct result' || linkType()=='indirect result']]">
                                      <oj-combobox-one required on-value-changed=[[changeListenerElementDFR]]
                                        value="{{elementNameDefineFormulaResult}}"
                                        options="[[optionElementDefineFormulaResult2]]" placeholder="Select option"
                                        label-hint="Element Name" style="max-width: 100%;">
                                      </oj-combobox-one>
                                      <oj-combobox-one required value="{{inputValueDefineFormulaResult}}"
                                        options="[[optionInputValueDefineFormulaResult2]]" placeholder="Select option"
                                        label-hint="Input Value" style="max-width: 100%;">
                                      </oj-combobox-one>
                                    </oj-bind-if>

                                  </oj-form-layout>
                                </oj-validation-group>
                              </div>
                              <div class="mt-2 demo-popup-footer text-right">
                                <oj-button id="insert-defineFormulaResult-cancel-btn"
                                  on-oj-action="[[cancelListenerLinkType]]">
                                  Cancel
                                </oj-button>
                                <oj-button id="insert-defineFormulaResult-btn" class="ml-2"
                                  on-oj-action="[[insertDefineFormulaResult]]">
                                  Insert
                                </oj-button>
                              </div>
                            </div>
                          </oj-popup>
                        </div>
                      </div>
                    </oj-bind-if>
                    <oj-bind-if test="[[createPage()==false]]">
                      <!-- show textfield -->
                      <div id="edit-DFR">
                        <div id="header-wrap">
                          <div class="row">
                            <div class="col-sm-12 col-md-6">
                              <oj-button on-oj-action="[[gotoIndexCancel]]" id='keyword-search-btn'
                                disabled='[[advanceDisable]]'>
                                <span><i class="fas fa-chevron-left"></i> Back</span></span>
                              </oj-button>
                            </div>
                            <div class="col-sm-12 col-md-6 text-right">
                              <oj-button id='keyword-search-btn' on-oj-action="[[updateDFR]]"
                                disabled='[[advanceDisable]]'>
                                Save Changes
                              </oj-button>
                            </div>
                          </div>
                        </div>
                        <div id="body-wrap" class="mt-3">
                          <!-- Basic Data -->
                          <div class="panel-custom mt-3 p-4 border rounded-lg shadow-sm">
                            <h5>Basic Data</h5>
                            <div id="validation-usecase">
                              <oj-validation-group id="edit-tracker">
                                <oj-form-layout max-columns="2" id="fl1">
                                  <oj-input-text required value="{{editDescriptionDFR}}"
                                    autocomplete="off" label-hint="Formula Description" style="max-width: 100%;">
                                  </oj-input-text>
                                  <oj-combobox-one required="true" aria-label="Fast Formula" label-hint="Fast Formula"
                                    placeholder="Select option" options="[[optionDefineFormulaResult]]"
                                    value="{{editFastFormulaDFR}}" style="max-width:100%">
                                  </oj-combobox-one>
                                  <oj-input-date converter=[[dateFormat]] value="{{editEffectiveEndDateDFR}}"
                                    required label-hint="Start-Date" style="max-width: 100%;">
                                  </oj-input-date>
                                  <oj-input-date converter=[[dateFormat]] min="[[editEffectiveEndDateDFR]]" value="{{editEffectiveStartDateDFR}}"
                                    label-hint="End-Date" style="max-width: 100%;">
                                  </oj-input-date>
                                </oj-form-layout>
                              </oj-validation-group>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- table -->
                      <div id="table">
                        <div class="panel-custom mt-5 p-4 border rounded-lg shadow-sm">
                          <h5>Formula Rules</h5>
                          <div class="row">
                            <div class="col-sm-12 col-md-6">
                            </div>
                            <div class="col-sm-12 col-md-6 text-right">
                              <oj-button id='edit-defineFormulaResult-btn' disabled='[[advanceDisable]]'
                                on-oj-action="[[openListenerLinkTypeEdit]]">
                                <span><i class="fas fa-plus p-2"></i></span>
                              </oj-button>
                            </div>
                          </div>
                          <div class="mt-3 p-2 border rounded-lg">
                            <oj-table id='edit-defineFormulaResult-table' aria-label='Define Formula Result Table'
                              data='[[dataProviderLinkTypeEdit]]' selection-mode='{"row": "multiple", "column": "multiple"}'
                              dnd='{"reorder": {"columns": "enabled"}}'
                              on-oj-before-current-row="[[tableSelectionListenerLinkTypeEdit]]" scroll-policy='loadMoreOnScroll'
                              scroll-policy-options='{"fetchSize": 10}'
                              columns='[
                                {"headerText": "Link Type", "field": "resultRuleType", "resizable": "enabled"},
                                {"headerText": "Element", "field": "elementName", "resizable": "enabled"},
                                {"headerText": "Input Value", "field": "inputValueName", "resizable": "enabled"},
                                {"headerText": "Effective Start date", "field": "effectiveStartDate", "resizable": "enabled"},
                                {"headerText": "Effective End date", "field": "effectiveEndDate", "resizable": "enabled"},
                                {"headerText": "Action", "field": "action", "headerStyle": "width: 10px;", "template": "actionTemplate"}
                              ]'
                              style='width: 100%; max-height: 400px;'>

                              <template slot="actionTemplate" data-oj-as="cell">
                                <oj-bind-if test='[[cell.mode=="navigation"]]'>
                                  <oj-button id='remove-defineFormulaResult-btn' on-oj-action="[[deleteLinkType]]"
                                    disabled='[[advanceDisable]]'>
                                    <i class="far fa-trash-alt"></i>
                                  </oj-button>
                                </oj-bind-if>
                              </template>
                            </oj-table>
                          </div>
          
                          <!-- modal -->
                          <oj-popup id="edit-defineFormulaResult-modal" class="demo-popup" tail="none"
                            position.my.horizontal="center" position.my.vertical="top" position.at.horizontal="center"
                            position.at.vertical="top" position.of="window" position.offset.y="50" modality="modal"
                            on-oj-animate-start="[[startAnimationListenerLinkTypeEdit]]" style="width: 500px">
                            <div class="demo-popup-body">
                              <div class="demo-popup-header">
                                <h5>Insert Formula Result Rules</h5>
                              </div>
                              <div class="demo-popup-content">
                                <oj-validation-group id="edit-defineFormulaResult-tracker" class="p-2">
                                  <oj-form-layout max-columns="2" id="fl1">
                                    <oj-combobox-one required on-value-changed=[[changeListenerLinkType]]
                                      value="{{editLinkType}}" options="[[optionLinkType]]" placeholder="Select option"
                                      label-hint="Link Type" style="max-width: 100%;">
                                    </oj-combobox-one>
                                    <oj-bind-if test="[[editLinkType()=='direct result' || editLinkType()=='indirect result']]">
                                      <oj-combobox-one required on-value-changed=[[changeListenerElementDFR]]
                                        value="{{editElementLinkType}}"
                                        options="[[optionElementDefineFormulaResult]]" placeholder="Select option"
                                        label-hint="Element Name" style="max-width: 100%;">
                                      </oj-combobox-one>
                                      <oj-combobox-one required value="{{editInputValueLinkType}}"
                                        options="[[optionInputValueDefineFormulaResult]]" placeholder="Select option"
                                        label-hint="Input Value" style="max-width: 100%;">
                                      </oj-combobox-one>
                                    </oj-bind-if>

                                  </oj-form-layout>
                                </oj-validation-group>
                              </div>
                              <div class="mt-2 demo-popup-footer text-right">
                                <oj-button id="edit-defineFormulaResult-cancel-btn"
                                  on-oj-action="[[cancelListenerLinkTypeEdit]]">
                                  Cancel
                                </oj-button>
                                <oj-button id="insert-defineFormulaResult-btn" class="ml-2"
                                  on-oj-action="[[insertLinkType]]">
                                  Insert
                                </oj-button>
                              </div>
                            </div>
                          </oj-popup>
                        </div>
                      </div>
                    </oj-bind-if>

                    
                  </div>
                </div>
              </div>
            </oj-switcher>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


