<div [dir]="getDir()" class="text-start">
<h2 mat-dialog-title >{{ data.title | translation}}</h2>
<mat-dialog-content class="mat-typography ">
  <h3>{{data.message|translation}}</h3>
</mat-dialog-content>
<mat-dialog-actions align="end"  class="dialogFooter">
<div class=" footerBtn ">
  <button class="cancel"  mat-button mat-dialog-close *ngIf="data.flag =='confirm'">{{(data.cancel || 'cancel')|translation}}</button>
  <button class="edit" mat-button [mat-dialog-close]="'true'" cdkFocusInitial>{{(data.ok || 'ok')|translation}}</button>
</div>
</mat-dialog-actions>
</div>