.mat-dialog-title
{
    color:#712c81 ;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px solid #eee;
    padding-bottom: 7px;
}

.edit 
{
    background-color: #712c81;
    color:#eee
}
.cancel
{
    background-color: #eee;
    margin: 0px 10px;
}
.dialogFooter
{
    margin-bottom: 0px;
}
.footerBtn 
{
    width: 100%;
}
