<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1 style="color: white" data-bind="text: costSummaryLbl"></h1>
<div id="form-container" class="section-container">
    <div class="oj-flex-item">


        <div class="oj-form search-form oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline">
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="basicSelect" data-bind="text: employeeName"/>
                </div>
                <div class="oj-flex-item">
                    <oj-select-one placeholder="[[placeholder]]" 
                                   on-value-changed="{{empNameValueChanged}}"
                                   id="basicSelect"
                                   value="{{employeeNameValue}}" 
                                   style="max-width:20em" 
                                   options="{{employeeNameAttr}}">
                    </oj-select-one>
                </div>  
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label  data-bind="text: employeeNumber"/>
                </div>
                <div class="oj-flex-item">
                    <oj-input-text id="select" disabled="{{isDisabledEmpVal}}"
                                   value="{{employeeNumberValue}}"
                                   >
                    </oj-input-text>
                </div>    
            </div>

            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label  data-bind="text: projectName"/>
                </div>
                <div class="oj-flex-item">
                    <oj-select-one on-value-changed="{{projNameValueChanged}}"
                                   id="basicSelect"
                                   value="{{projectNameValue}}" 
                                   style="max-width:20em" 
                                   placeholder="[[placeholder]]"
                                   options="{{ProjectNameData}}">
                    </oj-select-one>
                </div>  
            </div>

            <div class="oj-flex">         
                <div class="oj-flex-item">
                    <label  data-bind="text: projectNumber"/>
                </div>
                <div class="oj-flex-item">
                    <oj-input-text id="select"  disabled="{{isDisabledProNumVal}}"
                                   value="{{projectNumberValue}}"
                                   >
                    </oj-input-text>
                </div>  
            </div>

            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label  data-bind="text: taskName"/>
                </div>

                <div class="oj-flex-item customSelect">
                    <div class="imgload">
                        <img src="http://loadinggif.com/images/image-selection/3.gif">
                    </div>
                    <oj-select-one  class="customOption"
                                    placeholder="[[placeholder]]" 
                                    on-value-changed="{{taskNameValueChanged}}"
                                    id="basicSelect"
                                    value="{{taskNameValue}}" 
                                    style="max-width:20em" 
                                    options="{{taskNameData1}}">
                    </oj-select-one>
                </div>    
            </div>

            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label  data-bind="text: taskNumber"/>
                </div>
                <div class="oj-flex-item">

                    <oj-input-text id="select" 
                                   disabled="{{isDisabledTaskNumVal}}"
                                   value="{{taskNumberValue}}"
                                   >
                    </oj-input-text>
                </div>      
            </div>

            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label  data-bind="text: expenditureOrganization"/>
                </div>
                <div class="oj-flex-item">
                    <oj-select-one id="basicSelect"
                                   value="{{expenditureOrganizationValue}}" 
                                   style="max-width:20em" 
                                   placeholder="[[placeholder]]"
                                   options="{{expenditureOrgData}}">
                    </oj-select-one>
                </div>      
            </div>

            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label  data-bind="text: timeSheetType"/>
                </div>
                <div class="oj-flex-item">
                    <oj-select-one  
                        placeholder="[[placeholder]]"
                        style="max-width:20em" 
                        options="{{timeSheetTypesArr}}"
                        value="{{timeSheetTypeValue}}">
                    </oj-select-one>
                </div>    
            </div>
        </div>

        <div id="buttons-container" class="oj-flex-item">            
            <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{searchDisable}}" on-oj-action='[[searchBtnAction]]'>
                <span><oj-bind-text value="[[searchLbl]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{resetDisable}}" on-oj-action='[[resetBtnAction]]'>
                <span><oj-bind-text value="[[resetLbl]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{approvalDisable}}" on-oj-action='[[viewApproval]]'>
                <span><oj-bind-text value="[[viewApprovalLabel]]"></oj-bind-text></span>
            </oj-button>
            <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{importAndProDisable}}" on-oj-action='[[importAndProcessBtnAction]]'>
                <span><oj-bind-text value="[[importAndProcessLbl1]]"></oj-bind-text></span>
            </oj-button>

        </div>

        <div class="oj-flex-item" style="padding: 30px;size: inherit; font-size: 20px;
             color: #c70000;">
            <label  data-bind="text: labelSectionOne"/>
        </div>

        <div class="table-content">
            <oj-table id='table'
                      class="apTable-1"
                      aria-label='Table'
                      data='[[dataSourceN]]'
                      selection-mode='{"row": "single", "column": "single"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy-options='{"fetchSize": 10}'
                      columns='[[columnArray]]'
                      display = "grid"
                      on-oj-before-current-row = "[[tableSelectionListener]]">
                <oj-paging-control id="paging" data='[[dataSourceN]]' page-size='5' slot='bottom' class="apPaging-1 display-inline-flex">
                </oj-paging-control>

            </oj-table>
        </div>

        <div id="dialogWrapper">
            <oj-dialog 
                id="approvalDialog">
                <div slot="header" class="oj-helper-clearfix">
                    <label data-bind="text: approvalList "/>
                </div>

                <div slot="body">
                    <div id="tableDemo" class="oj-flex oj-flex-items-pad">
                        <div style="width: 100%;">
                            <!-- ko foreach: dataTB2-->
                            <div class="approval-card-body app-crd-bdy-received app-crd-bdy-border-en " data-bind="css: bodyStatus" >
                                <div class="approval-card-header">
                                    <h5 class="app-card-Pname" data-bind="text: name"></h5>
                                    <p class="app-crd-type badge " data-bind="css: aistatus,text: type" ></p>
                                </div>
                                <div class=" row approval-card-inf-body">
                                    <div class="col-md-6"> <span class="badge badge-pill app-card-badge" data-bind="css: appCardStatus,text: status" ></span> </div>

                                    <div class="col-md-6"><blockquote class="blockquote app-card-blockqoute">
                                            <span class="blockquote-footer"> <small data-bind="text: approvalDate" ></small></span>
                                        </blockquote>
                                    </div>

                                </div>
                            </div>
                            <!--/ko-->

                        </div>
                    </div>
                </div>

                <div slot="footer">

                    <oj-button class="apBtn-2 apBtn-disabled btnStyle"  id="buttonOpenerNested2" class='oj-button-primary'

                               on-oj-action="[[closeDialog]]">
                        <oj-bind-text><span slot='endIcon' data-bind="text: okLbl"></span></oj-bind-text>
                    </oj-button>
                </div>
            </oj-dialog>
        </div>


        <!-----------------Section project Cost--------------------->
        <hr/>
        <br/> <br/>

        <div class="oj-form search-form oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline">
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="basicSelect" data-bind="text: employeeName"/>
                </div>
                <div class="oj-flex-item">
                    <oj-select-one placeholder="[[placeholder]]" 
                                   on-value-changed="{{empNameValueChangedSec}}"
                                   id="basicSelect"
                                   value="{{employeeNameValueSec}}" 
                                   style="max-width:20em" 
                                   options="{{employeeNameAttr}}">
                    </oj-select-one>
                </div>  
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label  data-bind="text: employeeNumber"/>
                </div>
                <div class="oj-flex-item">
                    <oj-input-text id="select" disabled="{{isDisabledEmpVal}}"
                                   value="{{employeeNumberValueSec}}"
                                   >
                    </oj-input-text>
                </div>    
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label  data-bind="text: projectName"/>
                </div>
                <div class="oj-flex-item">
                    <oj-select-one placeholder="[[placeholder]]" 
                                   on-value-changed="{{projNameValueChangedSec}}"
                                   id="basicSelect"
                                   value="{{projectNameValueSec}}" 
                                   style="max-width:20em"                                 
                                   options="{{ProjectNameData}}">

                    </oj-select-one>
                </div>  
            </div>
            <div class="oj-flex">         
                <div class="oj-flex-item">
                    <label  data-bind="text: projectNumber"/>
                </div>
                <div class="oj-flex-item">
                    <oj-input-text id="select"  disabled="{{isDisabledProNumVal}}"
                                   value="{{projectNumberValueSec}}"
                                   >
                    </oj-input-text>
                </div>  
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label  data-bind="text: taskName"/>
                </div>

                <div class="oj-flex-item customSelect" >
                    <div class="imgload">
                        <img src="http://loadinggif.com/images/image-selection/3.gif">
                    </div>
                    <oj-select-one  
                        class="customOption"
                        placeholder="[[placeholder]]" 
                        on-value-changed="{{taskNameValueChangedSec}}"
                        id="basicSelect"
                        value="{{taskNameValueSec}}" 
                        style="max-width:20em" 
                        options="{{taskNameData}}">
                    </oj-select-one>
                </div>    
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label  data-bind="text: taskNumber"/>
                </div>
                <div class="oj-flex-item">

                    <oj-input-text id="select" 
                                   disabled="{{isDisabledTaskNumVal}}"
                                   value="{{taskNumberValueSec}}"
                                   >
                    </oj-input-text>
                </div>      
            </div>

            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label  data-bind="text: expenditureOrganization"/>
                </div>
                <div class="oj-flex-item">
                    <oj-select-one id="basicSelect"
                                   value="{{expenditureOrganizationValueSec}}" 
                                   style="max-width:20em" 
                                   placeholder="[[placeholder]]"
                                   options="{{expenditureOrgData}}">
                    </oj-select-one>
                </div>      
            </div>

            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label  data-bind="text: timeSheetType"/>
                </div>
                <div class="oj-flex-item">
                    <oj-select-one  
                        placeholder="[[placeholder]]"
                        style="max-width:20em" 
                        options="{{timeSheetTypesArr}}"
                        value="{{timeSheetTypeValueSec}}">
                    </oj-select-one>

                </div>    
            </div>
        </div>

        <div id="buttons-container" class="oj-flex-item" >            
            <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{searchDisable}}" on-oj-action='[[searchBtnActionSec]]'>
                <span><oj-bind-text value="[[searchLbl]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{resetDisable}}" on-oj-action='[[resetBtnActionSec]]'>
                <span><oj-bind-text value="[[resetLbl]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{exportProCostDis}}" on-oj-action="[[exportProCostBtn]]">
                <span> <oj-bind-text value="[[exportLbl2]]"></oj-bind-text</span>
            </oj-button>
        </div>

        <div style="padding-right:120px;padding-left: 30px;size: inherit;font-size: 20px;
             color: #c70000;">
            <label  data-bind="text: labelSectionTwo"/>
        </div>

        <div class="table-content">
            <oj-table id='table'
                      class="apTable-1"
                      aria-label='Table'
                      data='[[dataSource]]'
                      selection-mode='{"row": "single", "column": "single"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy-options='{"fetchSize": 10}'
                      columns='[[columnArraySec]]'
                      display = "grid">
                <oj-paging-control id="paging" data='[[dataSource]]' page-size='5' slot='bottom' class="apPaging-1 display-inline-flex">
                </oj-paging-control>

            </oj-table>
        </div>

        <div class="totalCost">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-right">
                        <span class="costLbl totalDesing"><label  data-bind="text: total"/></span>


                        <span class="totalDesing"><oj-bind-text  value="{{totalVal}}"></oj-bind-text> AED</span>


                    </div>
                </div>
            </div>
        </div>

        <oj-dialog class="main-dialog main-dialog-width" id="exportTransactionDate"> 
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text: exportLbl2"/>
            </div>
            
            <div slot="body">
                <div id="tableDemo" class="oj-flex oj-flex-items-pad">
                    <div style="width: 100%;">
                        <oj-validation-group id="tracker" valid="{{groupValid}}">
                            <div class="oj-flex">
                                <div class="oj-flex-item">
                                    <label  data-bind="text: transactionFromLbl"/>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-date id="transactionFrom"  value="{{transactionFromValue}}" required>
                                    </oj-input-date>    
                                </div>
                            </div> 

                            <div class="oj-flex">
                                <div class="oj-flex-item">
                                    <label  data-bind="text: transactionToLbl"/>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-date id="transactionFrom"  value="{{transactionToValue}}" required>
                                    </oj-input-date>    
                                </div>
                            </div> 
                         </oj-validation-group>

                    </div>
                </div>
            </div>
            
             <div slot="footer" class="oj-helper-clearfix">
                 <oj-button class="apBtn-2 apBtn-disabled btnStyle" id="exportSheet" on-oj-action="[[exportTransSheet]]">
                     <span><oj-bind-text value="[[exportLbl2]]"></oj-bind-text></span>
                 </oj-button>
                 
                 <oj-button class="apBtn-2 apBtn-disabled btnStyle" id="exportSheet" on-oj-action="[[exportAllData]]" >
                     <span><oj-bind-text value="[[exportAllDataLbl]]"></oj-bind-text></span>
                 </oj-button>
                 
                 <oj-button class="apBtn-2 apBtn-disabled btnStyle" id="exportSheet" on-oj-action="[[cancelTransDialog]]" > 
                     <span><oj-bind-text value="[[cancelLbl]]"></oj-bind-text></span>
                 </oj-button>
            </div>
            
        </oj-dialog>

    </div>
</div>