<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1 style="color: white" data-bind="text: employeeOperationLbl"></h1>
<div id="form-container" class="section-container">
    <div class="oj-flex-item">
        <div id="form-container" class="section-container">
            <div id="buttons-container" class="oj-flex-item">

                <oj-button class="apBtn-2 apBtn-disabled btnStyle" data-bind="visible: sumbitVisable" disabled="{{submitDisable}}" on-oj-action='[[submitBtnAction]]'>
                    <span><oj-bind-text value="[[submitLbl]]"></oj-bind-text></span>
                </oj-button>
                
                <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{backDisable}}" on-oj-action='[[backBtnAction]]'>
                    <span><oj-bind-text value="[[backLbl]]"></oj-bind-text></span>
                </oj-button>
            </div>

            <oj-validation-group id="tracker" valid="{{groupValid}}">
                <div class="oj-form search-form oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline">

                    <div class="oj-flex">
                        <div class="oj-flex-item">
                            <label for="basicSelect" data-bind="text: employeeName"/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-select-one on-value-changed="{{empNameValueChanged}}"
                                           id="basicSelect" value="{{employeeNameValue}}" style="max-width:20em" 
                                           disabled="[[empValueDisable]]" 
                                           options="{{employeeNameAttr}}"
                                           required="[[isRequired]]"
                                           >
                            </oj-select-one>
                        </div>  
                    </div>
                    
                    <div class="oj-flex">
                        <div class="oj-flex-item">
                            <label  data-bind="text: employeeNumber"/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-input-text id="select" disabled="{{isDisabledEmpVal}}"
                                           value="{{employeeNumberValue}}"
                                           options="{{employeeNumberArr}}"
                                           required="[[isRequired]]">
                            </oj-input-text>
                        </div>    
                    </div>
                    
                    <div class="oj-flex customSelect">
                        <div class="oj-flex-item">
                            <label  data-bind="text: bussinesUnitLbl"/>
                        </div>
                        <div class="oj-flex-item">
                             <div class="imgload">
                        <img src="http://loadinggif.com/images/image-selection/3.gif">
                    </div>
                            <oj-input-text id="basicSelect" value="{{organizationValue}}" 
                                           disabled="[[organizationDis]]" style="max-width:20em"
                                            required="[[isRequired]]">
                                           <!--options="{{organizationArr}}"-->
                                          
                                           >
                            </oj-input-text>
                            
<!--                            <input-text id ="bussinesUnit"
                                        disabled="{{organizationDis}}"
                                        value="{{organizationValue}}"
                                        required="[[isRequired]]">
                            </input-text>-->


                        </div>       
                    </div>
                    
                    <div class="oj-flex">
                        <div class="oj-flex-item">
                            <label  data-bind="text: timeSheetDate"/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-input-date id="dateSelect" 
                                           disabled="{{isDisabled}}"
                                           value="{{timeSheetDateValue}}"
                                           required="[[isRequired]]"
                                           max="[[currentDate]]">
                            </oj-input-date>
                        </div>    
                    </div>
                    
                    <div class="oj-flex">
                        <div class="oj-flex-item">
                            <label  data-bind="text: uom"/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-input-text id="select1" disabled="{{isDisabledUom}}"
                                           value="{{uomValue}}">
                            </oj-input-text>
                        </div>    
                    </div>

                    <div class="oj-flex">
                        <!--                        <div class="oj-flex-item">
                                                    <label  data-bind="text: batchName"/>
                                                </div>
                                                <div class="oj-flex-item">
                                                    <oj-input-text id="select" disabled="{{isDisabled}}"
                                                                   value="{{batchNameValue}}"
                                                                   required="[[isRequired]]">
                                                    </oj-input-text>
                                                </div>    -->
                        <div class="oj-flex-item">
                            <label  data-bind="text: departmentName"/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-input-text id="select" disabled="{{isDisabledDepartment}}"
                                           value="{{departmentValue}}"
                                           required="[[isRequired]]">
                            </oj-input-text>
                        </div>  
                    </div>
                    
                </div>  
            </oj-validation-group>
        </div>
    </div>  
</div>


