<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h1 style="color: white" data-bind="text: timesheetOperationLbl"></h1>

<div id="form-container" class="section-container">
    <div class="oj-flex-item">
        <div id="form-container" class="section-container">

            <div id="buttons-container" class="oj-flex-item">
                <oj-button class="apLoginBtn apBtn-2 apBtn-disabled btnStyle" disabled="{{submitDisable}}" data-bind="visible: sumbitVisable" on-oj-action='[[submitBtnAction]]'>
                    <span><oj-bind-text value="[[submitLbl]]"></oj-bind-text></span>
                </oj-button>
                <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{backDisable}}" on-oj-action='[[backBtnAction]]'>
                    <span><oj-bind-text value="[[backLbl]]"></oj-bind-text></span>
                </oj-button>
            </div>

<!--            <div class="oj-flex">
                <div class="oj-flex-item firstField">
                    <label  data-bind="text: organizationLbl"> </label>
                    <oj-select-one placeholder="[[placeholder]]" 
                                   on-value-changed="{{orgValueChanged}}"
                                   value="{{orgValue}}" 
                                   style="max-width:20em"                                   
                                   options="{{orgData}}"
                                   required="[[isRequired]]">
                    </oj-select-one>
                </div>  
            </div>-->

            <oj-validation-group id="tracker" valid="{{groupValid}}">
                <div class="secondFields">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="oj-flex">

                                    <div class="oj-flex-item">
                                        <label  data-bind="text: projectName"></label>
                                        <oj-select-one placeholder="[[placeholder]]" 
                                                       on-value-option-changed="{{projNameValueChanged}}"
                                                       value="{{projectNameValue}}" 
                                                       style="max-width:20em"                                   
                                                       options="{{projectData}}"
                                                       required="[[isRequired]]">
                                        </oj-select-one>
                                    </div>  
                                </div>
                            </div>    

                            <div class="col-md-4">      
                                <div class="oj-flex">
                                    <div class="oj-flex-item">
                                        <label  data-bind="text: projectNumber"></label>
                                        <oj-input-text id="select"  disabled="{{isDisabledProVal}}"
                                                       value="{{projectNumberValue}}"
                                                       required="[[isRequired]]">
                                        </oj-input-text>
                                    </div>  
                                </div>
                            </div>  
                             <div class="col-md-4">      
                                <div class="oj-flex">
                                    <div class="oj-flex-item">
                                        <label  data-bind="text: projectStatues"></label>
                                        <oj-input-text id="select"  disabled="{{isDisabledProjectStatus}}"
                                                       value="{{projectStatusVal}}"
                                                       required="[[isRequired]]">
                                        </oj-input-text>
                                    </div>  
                                </div>
                            </div> 

                        </div>        


                        <div class="row">
                            <div class="col-md-4">

                                <div class="oj-flex">
                                    <div class="oj-flex-item customSelect">
                                        <label  data-bind="text: taskName"></label>
                                        <div class="imgload">
                                            <img src="http://loadinggif.com/images/image-selection/3.gif">
                                        </div>
                                        <oj-select-one class="customOption"  placeholder="[[placeholder]]" 
                                                       on-value-changed="{{taskNameValueChanged}}"
                                                       id="basicSelect"
                                                       value="{{taskNameValue}}" 
                                                       style="max-width:20em" 
                                                       options="{{taskNameArr}}"required="[[isRequired]]">
                                        </oj-select-one>
                                    </div>    
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="oj-flex">
                                    <div class="oj-flex-item">
                                        <label  data-bind="text: taskNumber"></label>
                                        <oj-input-text id="select" 
                                                       disabled="{{isDisabledTaskVal}}"
                                                       value="{{taskNumberValue}}"
                                                       required="[[isRequired]]">
                                        </oj-input-text>
                                    </div>      
                                </div>
                            </div>
                     
                        <div class="col-md-4">
                                <div class="oj-flex">
                                    <div class="oj-flex-item">
                                        <label  data-bind="text: transactionDate"></label>
                                        <oj-input-date id="select1" 
                                                       disabled="{{isDisabled}}"
                                                       on-value-changed="{{transDateValChanged}}"
                                                       value="{{transactionDateValue}}"
                                                       required="[[isRequired]]"
                                                       max='[[currentDate]]'>
                                        </oj-input-date>
                                    </div>    
                                </div>
                            </div>
                              </div>  

                        <div class="row">
                                                
                             <div class="col-md-4">
                                <div class="oj-flex">
                                    <div class="oj-flex-item">
                                        <label  data-bind="text: timeSheetType"></label>
                                        <oj-select-one  placeholder="[[placeholder]]"                                       
                                                        on-value-option-changed="{{timesheetTypeValChanged}}"
                                                        value="{{timeSheetTypeValue}}" 
                                                        style="max-width:20em" 
                                                        options="{{timeSheetTypesArr}}"
                                                        required="[[isRequired]]">
                                        </oj-select-one>
                                    </div>    
                                </div>
                            </div>
                             <div class="col-md-4">
                                <div class="oj-flex">
                                    <div class="oj-flex-item">
                                        <label  data-bind="text: expenditureType"></label>
                                        <oj-input-text id="select" disabled="{{true}}"
                                                       value="{{expenditureTypeValue}}"required="[[isRequired]]">
                                        </oj-input-text>
                                    </div>    
                                </div>
                            </div>
                             <div class="col-md-4">
                                <div class="oj-flex">
                                    <div class="oj-flex-item">
                                        <label  data-bind="text: quantity"></label>
                                        <oj-input-number
                                            class="inputNumberDes"
                                            id="select4" 
                                                         disabled="{{quantityDisabled}}"
                                                         value="{{quantityValue}}"
                                                         min="0"
                                                         max="{{max}}"
                                                         required="[[isRequired]]">
                                        </oj-input-number>
                                    </div>    
                                </div>
                            </div>
                            
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="oj-flex">
                                    <div class="oj-flex-item">
                                        <label  data-bind="text: uom"></label>
                                        <oj-input-text id="select" disabled="{{true}}"
                                                       value="{{uomValue}}">
                                        </oj-input-text>
                                    </div>    
                                </div>
                            </div>
                               <div class="col-md-4">
                                <div class="oj-flex">
                                    <div class="oj-flex-item">
                                        <label  data-bind="text: billInfo"></label>
                                        <oj-select-one placeholder="[[placeholder]]"                                       
                                                     
                                                        value="{{billableVal}}" 
                                                        style="max-width:20em" 
                                                        options="{{billOptionArray}}"
                                                        required="[[isRequired]]">
                                        </oj-select-one>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </oj-validation-group>
        </div>
    </div>  
</div>
