<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1 style="color: white" data-bind="text: timesheetSummaryLbl"></h1>

<div id="form-container" class="section-container">
    <div class="oj-flex-item">

        <div id="dialogWrapper">
            <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
                <div slot="header" class="oj-helper-clearfix">
                    <label  data-bind="text: confirmMessage"></label>
                </div>

                <div slot="body">
                    <label data-bind="text: oprationMessage"></label>
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2" on-oj-action='[[commitRecord]]'>
                        <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                        <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </oj-dialog>
        </div>
        
        <div id="dialogWrapper">
            <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialogDetail">
                <div slot="header" class="oj-helper-clearfix">
                    <label  data-bind="text: confirmMessage"></label>
                </div>

                <div slot="body">
                    <label data-bind="text: oprationMessage"></label>
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2" on-oj-action='[[commitDetailRecord]]'>
                        <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[cancelDetailButton]]'>
                        <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </oj-dialog>
        </div>
        
        <div id="dialogWrapper">
            <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialogExport">
                <div slot="header" class="oj-helper-clearfix">
                    <label  data-bind="text: confirmMessage"></label>
                </div>
                <div slot="body">
                    <label data-bind="text: oprationMessage"></label>
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2" on-oj-action='[[commitExportRecord]]'>
                        <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[cancelExportButton]]'>
                        <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                    </oj-button>
                    
                </div>
            </oj-dialog>
        </div>
        
        <div id="dialogWrapper">
            <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialogDetailExport">
                <div slot="header" class="oj-helper-clearfix">
                    <label  data-bind="text: confirmMessage"></label>
                </div>

                <div slot="body">
                    <label data-bind="text: oprationMessage"></label>
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2" on-oj-action='[[commitExportDetailRecord]]'>
                        <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[cancelExportDetailButton]]'>
                        <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </oj-dialog>
        </div>
        
        <div id="form-container" class="section-container">
            <div id="buttons-container" class="oj-flex-item">

                <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{addDisable}}" on-oj-action='[[addBtnAction]]'>
                    <span><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
                </oj-button>
                
                <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{deleteDisable}}" on-oj-action='[[deleteBtnAction]]'>
                    <span><oj-bind-text value="[[deleteLbl]]"></oj-bind-text></span>
                </oj-button>
                <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{deleteDisable}}" on-oj-action='[[editBtnAction]]'>
                    <span><oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                </oj-button>
                
                <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{exportDisable}}" on-oj-action='[[exportBtnAction]]'>
                    <span><oj-bind-text value="[[exportLbl]]"></oj-bind-text></span>
                </oj-button>
            
            </div>
            
            <div class="table-content">
                <oj-table id='table2' class='apTable-1' aria-label='Employees Table'
                          data='[[dataprovider]]'
                          dnd='{"reorder": {"columns":"enabled"}}'
                          scroll-policy='loadMoreOnScroll'
                          scroll-policy-options='{"fetchSize": 10}'
                          columns='[[columnArray]]'
                          display ="grid"
                          on-oj-before-current-row="[[tableSelectionListener]]">
                </oj-table>
            </div>
        </div>
  
        <div id="buttons-container" class="oj-flex-item">
            <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{projectCostDisable}}" on-oj-action='[[projectCostBtnAction]]'>
                <span><oj-bind-text value="[[projectCostLbl]]"></oj-bind-text></span>
            </oj-button>
            <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{importAndProDisable}}" on-oj-action='[[createTimeSheetAction]]'>
                <span><oj-bind-text value="[[createTSLbl]]"></oj-bind-text></span>
            </oj-button>
            <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{draftDisable}}" on-oj-action='[[draftBtnAction2]]'>
                <span><oj-bind-text value="[['Show Draft']]"></oj-bind-text></span>
            </oj-button>      
        </div>

        <div id="form-container" class="section-container">
            
            <div id="buttons-container" class="oj-flex-item">

                <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{addDisable2}}" on-oj-action='[[addBtnAction2]]'>
                    <span><oj-bind-text value="[[addLbl2]]"></oj-bind-text></span>
                </oj-button>
                <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{deleteDisable2}}" on-oj-action='[[deleteBtnAction2]]'>
                    <span><oj-bind-text value="[[deleteLbl2]]"></oj-bind-text></span>
                </oj-button>  
                 <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{editeOpDisable2}}" on-oj-action='[[editBtnAction2]]'>
                    <span><oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                </oj-button>
                <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{exportDisable2}}" on-oj-action='[[exportBtnAction2]]'>
                    <span><oj-bind-text value="[[exportLbl2]]"></oj-bind-text></span>
                </oj-button>  
                <div>
                    <oj-file-picker accept="[[acceptArr]]" name="file-picker" selection-mode="single"
                                    class='oj-filepicker-custom' select-on='click'
                                    on-oj-select='[[selectListener]]'>
                        <oj-button class="apBtn-2 apBtn-disabled btnStyle"  slot='trigger' disabled="{{uploadDisabled}}">
                            Upload Weekly Sheet
                        </oj-button>
                    </oj-file-picker>
                    <span id="selected" data-bind="text: selected_files().length > 0?selected_files()[0].name : ''"></span>
                    <oj-button chroming="half" display="icons" data-bind="visible: selected_files().length > 0"
                               on-oj-action='[[removePickerBtnAction]]'>
                        <span slot='startIcon' class="oj-fwk-icon oj-fwk-icon-cross"></span>
                    </oj-button>

                    <oj-button class="apBtn-2 apBtn-disabled btnStyle" data-bind="visible: selected_files().length > 0" on-oj-action='[[addNewBtnAction]]'  disabled="{{uploadDisabled}}">
                        <span>
                            <oj-bind-text value="[['Upload']]"></oj-bind-text>
                        </span>
                    </oj-button>
                </div>
                 
            </div>
            
            <div class="table-content">
                <oj-table id='table' class='apTable-1' aria-label='Time Sheet Table'
                          data='[[dataprovider2]]'
                          dnd='{"reorder": {"columns":"enabled"}}'
                          scroll-policy='loadMoreOnScroll'
                          scroll-policy-options='{"fetchSize": 10}'
                          columns='[[columnArray2]]'
                          display ="grid"
                          on-oj-before-current-row="[[tableSelectionListener2]]">
                </oj-table>
            </div>
        </div>
          <div id="dialogWrapper">
            <oj-dialog class="main-dialog main-dialog-width" id="DraftDialog">
                <div slot="header" class="oj-helper-clearfix">
                    <!--<label  data-bind="text: confirmMessage"></label>-->
                </div>

                <div slot="body">
                   <div class="table-content">
                <oj-table id='table' class='apTable-1' aria-label='Time Sheet Table'
                          data='[[dataprovider3]]'
                          dnd='{"reorder": {"columns":"enabled"}}'
                          scroll-policy='loadMoreOnScroll'
                          scroll-policy-options='{"fetchSize": 10}'
                          columns='[[columnArray3]]'
                          display ="grid"
                          on-oj-before-current-row="[[tableSelectionListener3]]">
                     <template slot="checkTemplate" data-oj-as="cell">
                                    <oj-checkboxset 
                                        value='[[handleCheckbox(cell.index)]]'
                                        on-value-changed='[[checkboxListener]]'
                                        id ="table_checkboxset"
                                        class='oj-checkboxset-no-chrome oj-selection-checkbox'
                                        :id="[['table_checkboxset' + cell.index]]"
                                        :data-row-id="{{cell.index}}"
                                        :data-row-key="{{cell.row.id}}">

                                        <oj-option :id="[['table_checkbox' + cell.index]]" value="checked"></oj-option>

                                    </oj-checkboxset>   
                                </template>
                </oj-table>
            </div>
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{selectedItemsArr().length==0}}" on-oj-action='[[deleteDraftBtnAction]]'>
                        <span><oj-bind-text value="[[deleteLbl2]]"></oj-bind-text></span>
                    </oj-button>
                    <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{selectedItemsArr().length==0}}" on-oj-action='[[createTimeSheetDraft]]'>
                        <span><oj-bind-text value="[[createTimeSheetDraftLbl]]"></oj-bind-text></span>
                    </oj-button>
                    
                </div>
            </oj-dialog>
        </div>
    </div>

</div>