<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!--<div>
    <header role="banner">
        <div class="loginVerify__inputRow">
            <div class="headicon">
                <div class="back-icon"><img src="css/images/arrow_back.png" data-bind="click: BackBtn"> </div>
                    <oj-module class="header-title" config="[[headerConfig]]"style="display: inline-block;width: 60%;"></oj-module>

                <oj-button on-oj-action="[[notification]]" ><span title=".oj-fwk-icon-hamburger" role="img"
                    class="oj-fwk-icon"><img src="css/images/Icon-flash.png"></span></oj-button>
                <oj-button on-oj-action="[[cc]]" > <span title=".oj-fwk-icon-caret-s" role="img"
                    class="QtyLBLoj-fwk-icon"><img src="css/images/Icon-bell.png"></span>
                </oj-button>

            </div>
        </header>
    </div>  -->


<div>    
    <div class="loginVerify__inputRow main-form">
        <oj-label for="po_num_id" class="loginVerify__inputField form-label"><span data-bind="text:PoNumLbl"/></oj-label>
        <div class="after-qr">
          <oj-input-text id="po_num_id"  disabled='[[isDisabled]]' style="width:200px" value="{{informationInspectModel.poNumber}}"></oj-input-text> 
        </div>
    </div>

    <div class="loginVerify__inputRow main-form">
        <oj-label for="vendor_id" class="loginVerify__inputField form-label"><span data-bind="text: vendorLBL" /></oj-label>
        <div class="after-qr">
             <oj-input-text id="vendor_id"  disabled='[[isDisabled]]' style="width:200px" value="{{informationInspectModel.vendor}}"></oj-input-text> 
        </div>
    </div>

    <div class="loginVerify__inputRow main-form">
        <oj-label for="item_id" class="loginVerify__inputField form-label"><span data-bind="text: ItemLBL"/> </oj-label>
        <div class="after-qr">
            <oj-input-text id="item_id"  disabled='[[isDisabled]]' style="width:200px" value="{{informationInspectModel.item}}"></oj-input-text> 
        </div>
    </div>

    <div class="loginVerify__inputRow main-form">
        <oj-label for="qty_id" class="loginVerify__inputField form-label"><span data-bind="text: QtyLBL"/></oj-label>
        
        <div class="after-qr">
            <oj-input-text id="qty_id"  disabled='[[isDisabled]]' style="width:200px" value="{{informationInspectModel.qty}}"></oj-input-text> 
        </div>
    </div>
     <div class="loginVerify__inputRow main-form">
         <oj-label for="qty_id" class="loginVerify__inputField form-label"><span data-bind="text: LocationLBL"/></oj-label>
       
        <div class="after-qr">
              <oj-input-text id="location_id"  disabled='[[isDisabled]]' style="width:200px" value="{{informationInspectModel.location}}"></oj-input-text> 
        </div>
    </div>
    
     <div class="loginVerify__inputRow main-form" id="reason_id" style="display: none">
            <oj-label for="item_id"class="loginVerify__inputField form-label"><span  data-bind="text: rejreasonLbl"/></oj-label>
            <oj-combobox-one class="form-input" id="rejreson_id" value="{{informationInspectModel.rejreason}}" options="{{rej_reason_arr}}"></oj-combobox-one>
        </div>
            <div class="loginVerify__inputRow main-form" id="note_id" style="display: none">
            <oj-label for="item_id"class="loginVerify__inputField form-label"><span  data-bind="text: rejnotesLbl"/></oj-label>
            <oj-input-text class="form-input" id="rejnote_id" value="{{informationInspectModel.rejnotes}}" ></oj-input-text>
        </div>
    
   <!--<span data-bind="text:InspectRejectLBL">-->

    <div style="text-align: center">
        <oj-button class="main-btn" on-oj-action="[[AcceptBtn]]"><span data-bind="text: InspectAcceptLBL"></oj-button>
        <oj-button class="main-btn" on-oj-action="[[rejectBtn]]"><span data-bind="text: InspectRejectLBL"></oj-button>
    </div>

<oj-dialog id="dialogprogress" class="loading-dialog">
    <div style="text-align: center">    
    <oj-progress id="progressCircle" type="circle" value="{{progressValue}}"></oj-progress>
 </div>
</oj-dialog>
</div>