
    
    <div >
        <oj-validation-group id="tracker" valid="{{groupvalid}}" role="group" aria-labelledby="grouplabelid">
        <div class="loginVerify__inputRow main-form">
            <oj-label for="po_num" class="loginVerify__inputField form-label"><span data-bind="text: LPNLBL"></oj-label>
             <oj-combobox-one options="{{LPN_Arr}}"  placeholder="Enter LPN" on-value-changed = "{{LPNChangedHandler}}"  class="form-input" id="lpn_id"   value="{{normalInsepctModel.lpn}}" required autocomplete="off"></oj-combobox-one>
            <img src="css/images/add-icon.png"> 
        </div>
        
        
        
       <div class="loginVerify__inputRow main-form">
           <oj-label for="item_id"class="loginVerify__inputField form-label"><span  data-bind="text: ItemLBL"></oj-label>
            <oj-input-text class="form-input" id="item_id" value="{{normalInsepctModel.item }}" disabled="true" required autocomplete="off"></oj-input-text>
        </div>
        
        
        <div class="loginVerify__inputRow main-form">
            <oj-label for="item_id"class="loginVerify__inputField form-label"><span data-bind="text: DescLBL"></oj-label>
            <oj-input-text class="form-input" id="desc_id" value="{{normalInsepctModel.description}}" disabled="true" required autocomplete="off"></oj-input-text>
              <img src="css/images/info-icon.png"> 
        </div>
         <div class="loginVerify__inputRow main-form">
             <oj-label for="uom_id"class="loginVerify__inputField form-label"><span data-bind="text: UOMLBL" ></oj-label>
            <oj-input-text class="form-input" id="uom_id" value="{{normalInsepctModel.uom}}" disabled="true" required autocomplete="off"></oj-input-text>
        </div>
        <div class="loginVerify__inputRow main-form">
            <oj-label for="qty_id"class="loginVerify__inputField form-label"><span data-bind="text: QtyLBL" ></oj-label>
            <oj-input-text class="form-input" id="qty_id" value="{{normalInsepctModel.qty}}" disabled="true" required autocomplete="off"></oj-input-text>
        </div>
         <div class="loginVerify__inputRow main-form">
             <oj-label for="item_id"class="loginVerify__inputField form-label"><span data-bind="text: AccLPNLBL" ></oj-label>
            <oj-combobox-one class="form-input" id="acclpn_id"  placeholder="Enter ACC LPN" options="{{AccLpn_Arr}}" on-value-changed = "{{AccLpnChangedHandler}}" value="{{normalInsepctModel.accLpn}}" required autocomplete="off"></oj-combobox-one>
              <img src="css/images/info-icon.png"> 
        </div>
        <div class="loginVerify__inputRow main-form">
            <oj-label for="item_id"class="loginVerify__inputField form-label" disabled="true"><span data-bind="text: AccQtyLBL"></oj-label>
            <oj-input-text class="form-input" id="accqty_id" value="{{normalInsepctModel.accQty}}" ></oj-input-text>
        </div>
        <div class="loginVerify__inputRow main-form">
            <oj-label for="rejqty_id"class="loginVerify__inputField form-label"><span  data-bind="text: RejQtyLBL"/></oj-label>
            <oj-input-text class="form-input" id="rejqty_id" value="{{normalInsepctModel.rejQty}}" ></oj-input-text>
        </div>
            
            <div class="loginVerify__inputRow main-form" id="reason_id" style="display: none">
            <oj-label for="item_id"class="loginVerify__inputField form-label"><span  data-bind="text: rejreasonLbl"/></oj-label>
            <oj-combobox-one class="form-input" id="rejreson_id" value="{{normalInsepctModel.rejreason}}" options="{{rej_reason_arr}}"></oj-combobox-one>
        </div>
            <div class="loginVerify__inputRow main-form" id="note_id" style="display: none">
            <oj-label for="item_id"class="loginVerify__inputField form-label"><span  data-bind="text: rejnotesLbl"/></oj-label>
            <oj-input-text class="form-input" id="rejnote_id" value="{{normalInsepctModel.rejnotes}}" ></oj-input-text>
        </div>
         </oj-validation-group>
        <div style="text-align: center">
            <oj-button class="main-btn" data-bind="visible: isvisBtnSerial"  id="done_btn" on-oj-action="[[enter_to_serial]]"><span data-bind="text:EnterSerialLBL"></oj-button>
        <oj-button class="main-btn" data-bind="visible: isvisBtnDone"  id="done_btn" on-oj-action="[[SubmitInspect]]"><span data-bind="text:SubmitReceitLBL"></oj-button>
        </div>
   
     
  
    
        <oj-dialog class="popup-dialog"  id="yesNoDialog">  
        <div slot="header" class="oj-helper-clearfix popup-head">
            <oj-button on-oj-action="[[closedialog]]" class="close-btn"><span style="color:#e20909" title=".oj-fwk-icon-cross02" role="img"
                                         class="oj-fwk-icon-cross02 oj-fwk-icon"></span></oj-button>
            <label data-bind="text:EnterSerialHeader "></label>
        </div>  
        <div slot="body">
            <div class="MLCardCont receipt-form">
                <div class="loginVerify__inputRow">
                    <oj-validation-group id="tracker" valid="{{groupvalid1}}" role="group" aria-labelledby="grouplabelid">
                    <div class="cardRow">
                        <oj-label for="from" class="loginVerify__inputField form-label" style="font-weight:bold"><sapn data-bind="text:FromLBL"></oj-label>
                        <oj-input-text class="form-input" id="from" value="{{normalInsepctModel.serialFrom}}"  required autocomplete="off"></oj-input-text> 
                    </div>
                  </oj-validation-group>
                </div>               
            </div>
            <!--<oj-bind-text value="[[AddSerialLBL]]"></oj-bind-text>-->
        </div>
       <div class="receipt-popup" slot="footer">

            <oj-label class="remain-txt"><span data-bind="text:RemainingLbl"></span><span data-bind="text:remain"></span> </oj-label>
            <oj-button class="apBtn-2 main-btn btn-left" on-oj-action='[[AddSerialNumber]]'>
                <span><oj-bind-text value="[[SubmitForApproveLBL]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </oj-dialog> 
    <oj-dialog class="popup-dialog"  id="yesNoSubmitReceiptDialog">  
        <div slot="header" class="oj-helper-clearfix popup-head">
            <label data-bind="text:confirmationMessageHeader "></label>
        </div>  
        <div slot="body">
            <div class="MLCardCont receipt-form">
                <div class="loginVerify__inputRow">
                    
                    <div class="cardRow">
                        <oj-label for="from" class="loginVerify__inputField form-label" style="font-weight:bold"><sapn data-bind="text:ConfirmationMessageBody"></oj-label>
                      
                    </div>
                </div>               
            </div>     
        </div>
        <div class="receipt-popup" slot="footer">
            <div class="center-btns">
                <oj-button class="apBtn-2 main-btn" on-oj-action='[[yesSubmitInspect]]'>
                    <span><oj-bind-text value="[[yesLbl]]"></oj-bind-text></span>
                </oj-button>
                <oj-button class="apBtn-2 main-btn" on-oj-action='[[NOSubmitInspect]]'>
                    <span><oj-bind-text value="[[NOLbl]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </div>
    </oj-dialog> 
         
        
       
        
    </div>


 