<oj-messages messages="[[messagesDataProvider]]" display="notification" position="[[position]]" on-oj-close="[[closeMessageHandler]]"></oj-messages>

<h1 class="header_headline_style"><span> <oj-bind-text value="[[paasDefaultValueScreenLbl]]"></oj-bind-text> </span></h1>
<div class="request_body_styling animated fadeInUp ">
    <div class="oj-flex-bar">
        <div class="oj-flex-bar-start">

            <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                <span><oj-bind-text value="[[backLbl]]"></oj-bind-text></span>
            </oj-button>
            <oj-bind-if test="[[trainVisable]]">  
                <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[previousStep]]' disabled="[[currentStepValue() == 'stp1']]">
                    <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                </oj-button>
            </oj-bind-if>

        </div>
        <div class="oj-flex-bar-end">
            <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[nextStep]]' data-bind="visible: nextBtnVisible" disabled="[[currentStepValue() == 'stp2']]">
                <span><oj-bind-text value="[[nextLbl]]"></oj-bind-text></span>
            </oj-button>
            <oj-button class="apBtn-2" on-oj-action='[[editDefualtPaaSAction]]' data-bind="visible: editBtnVisible" disabled="[[isDisable]]">
                <span><oj-bind-text value="[[submitLbl]]"></oj-bind-text></span>
            </oj-button>
            <oj-button class="apBtn-2" on-oj-action='[[addDefaultValueAction]]'data-bind="visible: addBtnVisible" disabled="[[isDisableAdd]]">
                <span><oj-bind-text value="[[submitLbl]]"></oj-bind-text></span>
            </oj-button>
        </div>
    </div>

    <div id="train-container">
        <oj-bind-if test="[[trainVisable]]">  
            <div>
                <oj-train  id="train"
                           selected-step="{{currentStepValue}}" steps="[[stepArray]]"
                           class="oj-train-stretch"
                           on-oj-before-select="[[stopSelectListener]]"/>
            </div>
        </oj-bind-if>  
        <br/>
        <h3  id="currentStepText" data-bind="text: currentStepValueText()"></h3>
        <div class="oj-form-layout">
            <oj-validation-group id="tracker" valid="{{groupValid}}">

                <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                    <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations messageNotiContent">
                        <div class="oj-flex-item">
                            <label for="firstName"  data-bind="text: eitNameLbl"/>
                        </div>

                        <div class="oj-flex-item">
                            <oj-select-one id="select" class="form-control" required="[[isRequired]]" 
                                           placeholder="[[placeholder]]"
                                           value="{{selctedStruct}}"
                                           on-value-changed = "{{structureChangedHandler}}"
                                           options="{{EitName}}"
                                           disabled='[[selfServiceDisabled]]'>
                            </oj-select-one>
                        </div>
                        <div class="oj-flex-item">
                            <label for="firstName" data-bind="text: segementLbl"/></div>
                        <div class="oj-flex-item">
                            <oj-select-one id="select" class="form-control" required="[[isRequired]]"
                                           placeholder="[[placeholder]]"
                                           value="{{selctedsegementType}}"
                                           on-value-changed = "{{SegementChangedHandler}}"
                                           options="{{segementOption}}"
                                           disabled='[[segmentDisabled]]'>
                            </oj-select-one>
                        </div>


                        <div class="oj-flex-item">
                            <label for="firstName" data-bind="text: queryNameLbl"/>
                        </div>
                        <div class="oj-flex-item">
                            <oj-select-one id="select" class="form-control" required="[[isRequired]]"
                                           placeholder="[[placeholder]]"
                                           value="{{queryName}}"
                                           on-value-changed = "{{QueryStructureChangedHandler}}"
                                           options="{{QueryTypeOption}}"
                                           disabled='[[queryDisabled]]'>
                            </oj-select-one>
                        </div>
                    </div>
               </div>
        </div>
        </div>
        </div>

        </div>
        </oj-validation-group>
        </div>
        <hr>
        <br>
        <br/>
        <div>
     <div>


        <div id="dialogWrapper">
            <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
                <div slot="header" class="oj-helper-clearfix">
                    <label data-bind="text: confirmMessage "/>
                </div>
                <div slot="body">
                    <label data-bind="text: oprationMessage "/>
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2" on-oj-action='[[commitRecord]]'>
                        <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                        <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </oj-dialog>
        </div>
        <div id="dialogWrapper">
            <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialogAdd">
                <div slot="header" class="oj-helper-clearfix">
                    <label data-bind="text: confirmMessage "/>
                </div>
                <div slot="body">
                    <label data-bind="text: oprationMessageAdd "/>
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2" on-oj-action='[[commitRecord]]'>
                        <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                        <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </oj-dialog>
        </div>
            </div>
        </div>
        </div>
