<h1 class="header_headline_style"><span> <oj-bind-text value="[[paasDefaultValueScreenSummary]]"></oj-bind-text> </span></h1>
<oj-messages messages="[[messagesDataProvider]]" display="notification" position="[[position]]" on-oj-close="[[closeMessageHandler]]"></oj-messages>

<div class="request_body_styling animated fadeInUp ">
    <div id="train-container">

        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

            <div class="form-row">
                <div class="form-group col-md-6 srjob-col-pad">

                    <label for="firstName" data-bind="text: eitNameLbl"/>
                    <oj-select-one id="select" class="form-control" required="[[isRequired]]" 
                                   placeholder="[[placeholder]]"
                                   value="{{selctedStruct}}"
                                   on-value-changed = "{{structureChangedHandler}}"
                                   options="{{EitName}}">
                    </oj-select-one>
                </div>

            </div>
            <hr>
            <br>

            <div class="oj-form-layout">
                <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
                    <div id="form-container" class="row">
                        <div class="btn_row_st">
                            <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                                <span><oj-bind-text value="[[backActionLbl]]"></oj-bind-text></span>
                                <span slot='endIcon' class="apiconClass fa fa-arrow-circle-left"></span>
                            </oj-button>
                            <oj-button class="apBtn-2" on-oj-action='[[addAdditionalDetails]]' disabled="[[addBtnDisabled]]">
                                <span><oj-bind-text value="[[addLbl]]"></oj-bind-text></span>
                                <span slot='endIcon' class="apiconClass fa fa-plus"></span>
                            </oj-button>
                            <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[editBtn]]' disabled="[[oprationdisabled]]">
                                <span><oj-bind-text value="[[editLbl]]"></oj-bind-text></span>
                                <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                            </oj-button>

                            <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[deleteBtn]]'disabled="[[oprationdisabled]]">
                                <span><oj-bind-text value="[[deleteLbl]]"></oj-bind-text></span>
                                <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                            </oj-button>
                            <oj-button class="apBtn-2  apBtn-disabled-2 " on-oj-action='[[viewBtn]]' disabled="[[oprationdisabled]]">
                                <span><oj-bind-text value="[[viewLbl]]"></oj-bind-text></span>
                                <span slot='endIcon' class="apiconClass fa fa-eye oj-button-icon oj-end"></span>
                            </oj-button>

                        </div>
                    </div>
                </div>
            </div>

            <br/>

            <div class="oj-sm-12 oj-flex-item">
                           <oj-table id='table' aria-label='Departments Table'
                          class='apTable-1'
                          data='[[dataprovider]]'
                          selection-mode='{"row": "multiple", "column": "multiple"}'
                          dnd='{"reorder": {"columns": "enabled"}}'
                          scroll-policy-options='{"fetchSize": 10}'
                          columns='[[columnArray]]'
                          on-oj-before-current-row = "[[tableSelectionListener]]"
                          display = "grid">


                </oj-table>


            </div>

        </div>
    </div>

 

    <div id="dialogWrapper">
        <oj-dialog class="main-dialog main-dialog-width" id="yesNoDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text:confirmMessage "/>
            </div>
            <div slot="body">
                <label data-bind="text:deleteValidationMessage "/>
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[commitRecord]]'>
                    <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                    <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>

</div>