<div class="oj-hybrid-applayout-page container">

    <div class="">
        <header role="banner">
            <oj-module class="header-title" config="[[headerConfig]]"></oj-module>
        </header>
    </div>
    <br>
        <oj-buttonset-one class="toggle-bar" id="drinkset" value="{{drink}}" >
            <oj-bind-for-each data="[[drinkValues]]">
                <template>
                    <oj-option value="[[$current.data.id]]">
                        <span>
                            <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                        </span>              
                    </oj-option>
                </template>
            </oj-bind-for-each>
        </oj-buttonset-one>  
    <br>
    <div id="Add">
    <oj-bind-if test="[[drink() !== 'History']]">
        <oj-validation-group id="tracker" valid="{{groupValid}}">
                <div class="form-box oj-panel oj-applayout-content">
                    <div class=" oj-flex-item">
                        <h2 for="rem"><oj-bind-text value="[[label.complainType]]"></oj-bind-text></h2>
                        <oj-select-one class="main-input" value="{{fieldsValue.firstValue}}" options="[[fieldsValue.firstValueArr]]" placeholder="Choose a Complin" on-value-changed="[[selectComplainHandler]]" required>
                        </oj-select-one>
                    </div>
                    <div class=" oj-flex-item" data-bind="visible: fieldsOption.secondValueDisplay">
                        <h2 for="rem"><oj-bind-text value="[[label.secValueLbl]]"></oj-bind-text></h2>
                        <oj-select-one  class="main-input" value="{{fieldsValue.secondValue}}" options="[[fieldsValue.secValueArr]]" placeholder="Choose" required="{{fieldsOption.secondValueRequired}}">
                        </oj-select-one>
                    </div>
                    <h2 data-bind="text: label.complaintLetterLbl"></h2>
                    <oj-text-area class="main-input" id="text-area" value="{{fieldsValue.complaintLetter}}"></oj-text-area>

                </div>

                <oj-button class="btnPrimary" id="login" on-oj-action="[[submitAction]]">
                    <span>
                        <oj-bind-text value="[[label.submit]]"></oj-bind-text>
                    </span>
                </oj-button>
        </oj-validation-group>
    </oj-bind-if>
    </div>
    <div id="History">
    <oj-bind-if test="[[drink() == 'History']]">
    <div id="sampleDemo" class="demo-padding demo-container">
        <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
            <div id="demoContent" style="position: relative;">
                <ul id="ulResults" class="ulResults">
                    <oj-bind-for-each data="[[pagingDataProvider]]">
                        <template data-oj-as="row" >
                            <div class="form-box oj-panel oj-sm-margin-2x demo-panel-customizations">
                            <oj-label class="label-line fa fa-user">
                                    <strong>
                                        <oj-bind-text value="[[label.complainType]]"></oj-bind-text>: 
                                    </strong>
                                    <oj-bind-text value="[[row.data.firstVal]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line fa fa-car">
                                    <strong>
                                        <oj-bind-text value="[[label.secValueLbl]]"></oj-bind-text>: 
                                    </strong>
                                    <oj-bind-text value="[[row.data.secondValue]]"></oj-bind-text>
                                </oj-label>
                                <oj-label class="label-line fas fa-store-alt">
                                    <strong>
                                        <oj-bind-text value="[[label.complaintLetter]]"></oj-bind-text>: 
                                    </strong>
                                    <oj-bind-text value="[[row.data.detailsValue]]"></oj-bind-text>
                                </oj-label>
                            </div>  
                        </template>
                    </oj-bind-for-each>
                </ul>
                <oj-paging-control id="paging" data="[[pagingDataProvider]]" page-size="5">
                </oj-paging-control>
            </div>
        </div>
    </div>
        </oj-bind-if>
    </div>
</div>
