<h1 class="title">Payroll</h1>
<section class="homeSetupContent rounded-lg shadow-lg p-3">
    <div class="sectionBody homeSetupContent">
        <ul class="lisIconSection oj-flex oj-flex-items-pad">
            <li class="listIcons oj-md-3 oj-sm-6 oj-flex-item" data-bind="click: indexViewProcessResult">
                <img class="imgHome" src="css/images/result.png"><br>
                <a>View Process Result</a>
            </li>
            <li class="listIcons oj-md-3 oj-sm-6 oj-flex-item" data-bind="click: indexReport">
                <img class="imgHome" src="css/images/report.png"><br>
                <a>Reports</a>
            </li>
        </ul>
    </div>
</section>