<p class="header_headline_style animated fadeInUp" data-bind="text:title">Log Screen</p>
<oj-messages messages="[[messagesDataProvider]]" display="notification" position="[[position]]" on-oj-close="[[closeMessageHandler]]"></oj-messages>

<div class="oj-form-layout oj-panel">

    <div class="oj-flex">

    </div>

    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

            <div class="form-row">
                <div class="form-group col-md-6 srjob-col-pad">

                    <oj-label for="text"><span data-bind="text:eitNameLbl"></span></oj-label>

                    <oj-select-one id="select" class="form-control"
                                   placeholder="{{placeHolder}}"
                                   value="{{eitNameVal}}"
                                   options="{{eitNameOpts}}">
                    </oj-select-one>
                </div>

            </div>


            <oj-form-layout label-edge="top" direction="row">
                <div class="form-row">
                    <div class="form-group col-md-6 srjob-col-pad">
                        <oj-label for="personNumber" >
                            <span data-bind="text:personNumberLbl"/> </oj-label>
                        <oj-input-text class="apBtn-2 apBtn-disabled btnStyle" value="{{personNumberVal}}" >         
                        </oj-input-text>

                    </div>
                    <div class="oj-flex-item">

                        <oj-button class="apBtn-2" on-oj-action='[[backAction]]'>
                            <span>
                                <oj-bind-text value="[[backLbl]]"></oj-bind-text>
                            </span>
                            <span slot='endIcon' class="apiconClass fa fa-arrow-circle-left"></span>
                        </oj-button>

                        <oj-button id="searchBtn" disabled="{{searchDisable}}" class="apBtn-2 apBtn-disabled btnStyle"
                                   on-oj-action='[[searchBtnAction]]'>
                            <oj-bind-text value="[[searchLbl]]"></oj-bind-text>
                        </oj-button>
                        
                    <oj-button id="ee-resubmit-btn" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[resubmitBtnDialog]]' disabled="[[isResubmitBtnDisabled]]">
                        <span><oj-bind-text value="[[resubmitLbl]]"></oj-bind-text></span>
                        <span slot='endIcon' class="apiconClass fa fa-repeat"></span>
                    </oj-button>

                        <oj-button  class="apBtn-2 apBtn-disabled-2"
                                    on-oj-action='[[clearBtnAction]]'>
                            <oj-bind-text value="[[clearLbl]]"></oj-bind-text>
                        </oj-button>
                    </div>
            </oj-form-layout>
        </div>
    </div>

    <oj-table id='table' aria-label='Log Table' class='apTable-1' data='[[dataSource]]'
              selection-mode='{"row": "multiple", "column": "multiple"}' dnd='{"reorder": {"columns": "enabled"}}'
              scroll-policy-options='{"fetchSize": 10}' columns='[[columnArray]]'
              on-oj-before-current-row="[[tableSelectionListener]]" display="grid">
        <oj-paging-control id="paging" data='[[dataSource]]' page-size='5' slot='bottom' class='apPaging-1'>
        </oj-paging-control>
    </oj-table>
        
</div>
    
    
    <div id="dialogWrapper">
    <oj-dialog id="resubmitDialog" style="display:none;width: 50vw; height: 50vh;"  resize-behavior="resizable" >
        <div slot="header" class="oj-helper-clearfix">
            <label  data-bind="text: resubmitDialogMsg"></label>
        </div>

        <div class="el-entry-observation-popup-content" >
           
                <oj-validation-group id="tracker" valid="{{groupValid}}">
                    <label data-bind="text:fileContentLbl"/>
                    <oj-text-area  resize-behavior="both"  required="true" value="{{fileContentValue}}"></oj-text-area>
                </oj-validation-group>
            </div>
        <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[submitAction]]'>
                    <span><oj-bind-text value="[[submit]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                    <span><oj-bind-text value="[[cancel]]"></oj-bind-text></span>
                </oj-button>
        </div>
    </oj-dialog>
</div>

    
    
    