body {
    /* background: url('../css/images/bk-img_body.jpg') center fixed no-repeat; */
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../css/images/bk-img_body.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* start login page */

.container-login100 form {
    text-align: center;
    padding: 10% 15% 20%;
}

.container-login100 .login100-form-log {
    width: 100%;
}

.limiter {
    background-color: #333333c9;
    width: 30%;
    margin: auto;
}

.container-login100 .form-title {
    color: #fff;
    font-size: 37px;
    letter-spacing: 1px;
    padding-bottom: 30%;
}

.container-login100 .wrap-input100 input {
    width: 100%;
    border-radius: 40px;
    border: none;
    height: 30px;
    padding: 3px 10px 3px 25px;
    min-height: 40px;
}

.container-login100 .wrap-input100 {
    position: relative;
}

.container-login100 .wrap-input100 .log-icon {
    position: absolute;
    top: 9px;
    left: 4px;
    color: #c90f22;
}

#loginButton {
    width: 100%;
    height: 40px;
    display: inline-block;
    margin: 35px 0 20px;
}

#loginButton .oj-button-button {
    border-radius: 20px;
    color: #fff !important;
    background-color: #c90f22 !important;
    border-color: #c90f22;
}

oj-button-label span {
    color: #c90f22 !important;
    margin: 0 !important;
}

.p-t-90 .change-lang {
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 25px;
}

.p-t-90 .change-lang a {
    color: #c90f22;
    font-size: 12px;
}

/* end login page */

/* start home page */

.nav-img .logo-icon {
    float: left !important;
    height: 40px;
    margin: 10px 0;
}

.nav-img .logo-title {
    height: 40px;
    margin: 10px 0;
}

.oj-flex-bar .home-icon i {
    padding: 5px;
    color: #c90f22;
    font-size: 22px;
    margin-left: 15px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.oj-flex-bar .home-icon:hover i{
 margin-bottom: 7px;
}

.block-two .image,
.block-two .labels {
    display: none;
}
.oj-flex-bar-end .out-btn button {
    background: transparent !important;
    border: none !important;
}

.oj-flex-bar-end .out-btn i {
    color: #c90f22;
    border: 1px solid #c90f22;
    font-size: 19px;
    cursor: pointer;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.oj-flex-bar-end .out-btn i:hover {
    color: #fff;
    background-color: #c90f22
}

.oj-web-applayout-header {
    background-color: #fff;
}

.section-two {
    width: 100%;
    padding: 2%;
}

.section-container {
    background: #ffffffed;
    margin-top: 25px;
    padding: 4%
}

.product-page {
    background: #ffffffed;
    padding: 4%;
}

.oj-flex .search-form .oj-flex {
    width: 48%;
    display: inline-flex;
    margin-bottom: 20px;
}

.oj-flex .oj-form .oj-label {
    padding-right: 65px !important;
}

.oj-flex-buttons {
    text-align: center;
    margin-bottom: 60px;
}

.buttony {
    display: flex;
}

.mybtn .oj-button-button {
    border-radius: 4px;
    margin: 5px 10px;
    min-height: 35px;
    transition: all 0.1s ease-in-out;
    border: 1px solid #0772ba !important;
    background-color: transparent !important;
    max-width: 150px;
    color: #0772ba !important;
    padding: 0px 30px;
    margin-left: 25px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.mybtn .oj-button-button:hover {
    color: #fff !important;
    background-color: #0772ba  !important;
}

#form-container #buttons-container {
    text-align: center;
    margin-bottom: 25px;
}

 /* start styling for apTable-1 */

 .apTable-1{
    width: 100%;
    border:none !important;
    background-color: transparent!important;
 }
 
 .apTable-1 .oj-table-grid-display .oj-table-header-row, .oj-table-editable .oj-table-header-row {
    color :white;
    background: #F5F6FA;
    height: 45px;
    width: 100%;
 }
 
 .apTable-1 thead tr th {
    border:none !important;
    transition: all 0.1s ease-in-out;
    padding: 15px 20px !important;
 }
 
 .apTable-1 tbody tr  {
    border:none !important;
    transition: all 0.1s ease-in-out;
 }
 
 .apTable-1 tbody tr:hover  {
    background-color:#abd1ea !important;
 }
 
 .apTable-1 tbody tr .oj-hover{
    background-color: #abd1ea !important;
 }
 
 .apTable-1 tbody .oj-selected{
    background-color: #abd1ea !important;
 }
 
 .apTable-1 tbody tr td  {
    border:none !important;
    padding: 15px 20px !important;
    transition: all 0.1s ease-in-out;
 }
 
 .apTable-1 thead tr th:hover {
    background-color: #abd1ea !important;
    cursor: pointer;
 }
 
 .apTable-1 thead tr th:hover .oj-table-column-header {
    color:#000 !important;
 }
 .apTable-1 .oj-table-column-header-asc-icon:hover{
    background-color: transparent !important;
 }
 
 .apTable-1 thead{
    border:none !important;
 }

 table {
    font-family: source-sans-pro, sans-serif;
    border-collapse: collapse;
 }
 
 /* end styling for apTable */


/* end home page */

/* start add page */

.oj-tabbar-element {
    margin: 50px auto 40px;
    background: #ddd;
}

.demo-tab-content-head {
    text-align: center;
    margin-bottom: 20px;
}

.edit-page {
    background: #ffffffed;
    margin-top: 25px;
    padding: 4%;
}

/* end add page */

.oj-dialog-header-close-wrapper {
    display: none !important
}