<div class="oj-form-layout oj-panel">
    <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline" oj-md-labels-inline>
        <div class="form-row">
            <div class="form-group col-md-2 srjob-col-pad">
                <oj-label for="ReportName"><span data-bind="text: punch_dateLbl" /></oj-label>
            </div>
            <div class="form-group col-md-4 srjob-col-pad">
                <oj-input-date id="searchName" converter=[[dateConverter]] value="{{punch_dateval}}">
                </oj-input-date>
            </div>

            <div class="form-group col-md-2 srjob-col-pad">
                <oj-label for="ReportName"><span data-bind="text:personNumberLbl"> </oj-label>
            </div>
            <div class="form-group col-md-4 srjob-col-pad">
                <oj-input-text id="searchName" value="{{personNumberVal}}">
                </oj-input-text>
            </div>
            <div class="form-group col-md-2 srjob-col-pad">
                <oj-label for="ReportName"><span data-bind="text: statusLBL" /></oj-label>
            </div>
            <div class="form-group col-md-4 srjob-col-pad">
                <oj-select-one id="select" class="disable-element" value="{{statusVal}}" options="{{statusArr}}">
                </oj-select-one>
            </div>
            <div class="form-group col-md- srjob-col-pad">

            </div>
            <div class="form-group col-md-6 srjob-col-pad">
                <oj-button class="apBtn-2" on-oj-action='[[searchPerson]]'>
                    <span>
                        <oj-bind-text value="[[search]]"></oj-bind-text>
                    </span>
                </oj-button>
                <oj-button class="apBtn-2" on-oj-action='[[reset]]'>
                    <span>
                        <oj-bind-text value="[[clear]]"></oj-bind-text>
                    </span>
                </oj-button>
            </div>
        </div>

        <div>
            <oj-table id='table' aria-label='Departments Table' class='apTable-1' data='[[dataSource]]'
                selection-mode='{"row": "multiple", "column": "multiple"}' dnd='{"reorder": {"columns": "enabled"}}'
                scroll-policy-options='{"fetchSize": 10}' columns='[[columnArray]]' display="grid">
                <oj-paging-control id="paging" data='[[dataSource]]' page-size='40' slot='bottom' class='apPaging-1'>
                </oj-paging-control>

            </oj-table>
        </div>

    </div>
</div>