<span visible="hidden" data-bind="with :reloadlanguage()"></span>



<div id="form-container" class="section-container">


    <div
        class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout">
        <div class="oj-flex-item">
            <div class="oj-form search-form oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline">
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <oj-label show-required for="inputcontrol">
                            <!-- ko text:  productRegisterLblsModel.registerNumberLbl -->
                            <!-- /ko -->
                        </oj-label>
                    </div>
                    <div class="oj-flex-item">

                        <oj-input-text id="inputcontrol"   value="{{productRegisterModel.registerNumber}}"on-value-changed="[[searchtoggle]]" placeholder="[[placeholderInput]]"></oj-input-text>
                    </div>
                </div>


                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <oj-label for="A3control">
                            <!-- ko text: productRegisterLblsModel.supplierNameLbl -->
                            <!-- /ko -->
                        </oj-label>
                    </div>
                    <div class="oj-flex-item">

                        <oj-select-one id="basicSelect" placeholder="[[placeholderselect]]" value="{{productRegisterModel.supplierName}}" on-value-changed="[[searchtoggle]]" options="[[supllierNameList]]">
                       <option></option>
                        </oj-select-one>
                    </div>
                </div>



                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <oj-label for="A1control">
                            <!-- ko text: productRegisterLblsModel.siteRegistrationNumberLbl -->
                            <!-- /ko -->
                        </oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="A1control" value="{{productRegisterModel.siteRegistrationNumber}}"
                            on-value-changed="[[searchtoggle]]" placeholder="[[placeholderInput]]"></oj-input-text>
                    </div>
                </div>



                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <oj-label for="B2control">
                            <!-- ko text: productRegisterLblsModel.companyNameLbl -->
                            <!-- /ko -->
                        </oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="B3control" value="{{productRegisterModel.companyName}}"
                            on-value-changed="[[searchtoggle]]" placeholder="[[placeholderInput]]"></oj-input-text>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <oj-label for="A3control">
                            <!-- ko text: productRegisterLblsModel.productNameLbl -->
                            <!-- /ko -->
                        </oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="A3control" value="{{productRegisterModel.productName}}"
                            on-value-changed="[[searchtoggle]]" placeholder="[[placeholderInput]]"></oj-input-text>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <oj-label for="from1control">
                            <!-- ko text: productRegisterLblsModel.nextRenewalLbl -->
                            <!-- /ko -->
                        </oj-label>
                    </div>
                    <div class="oj-flex-item">

                        <oj-input-date id="date" 
                                       help.instruction="You should enter 'Next Renewal To' field "
                                       converter=[[dateConverter]] value="{{productRegisterModel.nextRenewalFrom}}"max="{{productRegisterModel.nextRenewalTo}}"on-value-changed="[[searchtoggle]]" placeholder="Next Renewal From"></oj-input-date>
                        <div class="oj-flex-item">
                            <oj-input-date id="date" disabled="[[nextRenewalToDisable]]"  converter=[[dateConverter]]  value="{{productRegisterModel.nextRenewalTo}}" min="{{productRegisterModel.nextRenewalFrom}}"on-value-changed="[[searchtoggle]]" placeholder="Next Renewal To"></oj-input-date>
                        </div>
                    </div>                
                </div>
                <div class="oj-flex"> 
                    <div class="oj-flex-item">
                        <oj-label for="B1control"><!-- ko text: productRegisterLblsModel.productRegisterStatusLbl --><!-- /ko --></oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-select-one id="basicSelect" value="{{productRegisterModel.productRegisterStatus}}" on-value-changed="[[searchtoggle]]" placeholder="[[placeholderselect]]" options="[[registerationStatus]]">
                            <option></option>
                        </oj-select-one>

                    </div>
                </div>
                
        </div>
        <!-- <div class="oj-flex-item">   
            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">

            </div>
        </div> -->


        <div id="buttons-container" class="oj-flex-item">
            <oj-button id='button3' class="mybtn" disabled="[[searchdisable]]" on-click='[[handleSearch]]'>
                <!--ko text: searchBtnLbl-->
                <!--/ko-->
            </oj-button>
            <oj-button id='button3' class="mybtn" on-click='[[handleReset]]'>
                <!--ko text: productRegisterLblsModel.resetBtnLbl-->
                <!--/ko-->
            </oj-button>

        </div>

    </div>
</div>
</div>

<div id="form-container" class="section-container">
    <div id="buttons-container" class="mybtn" style="padding-left: 30px;">

        <oj-button id='button3' class="mybtn" on-click='[[handleAdd]]'>
            <!--ko text: proRegisBtnsLblsModel.addBtnLbl-->
            <!--/ko-->
        </oj-button>

        <oj-button id='button3' class="mybtn" on-click='[[handleEdit]]' disabled='[[oprationdisabled]]'>
            <!--ko text: proRegisBtnsLblsModel.editBtnLbl-->
            <!--/ko-->
        </oj-button>

        <oj-button id='button3' class="mybtn" on-click='[[handleview]]' disabled='[[oprationdisabled]]'>
            <!--ko text: proRegisBtnsLblsModel.viewBtnLbl-->
            <!--/ko-->
        </oj-button>

        <!--                        <oj-button id='button3' on-click='[[handleDelete]]' disabled='[[oprationdisabled]]'>
                        ko text: proRegisBtnsLblsModel.deleteBtnLbl/ko
                    </oj-button>-->

        </oj-button>
        <oj-button id='button3' class="mybtn" on-click='[[handleExportExcel]]' disabled='[[fileDisabled]]'>
            <!--ko text: proRegisBtnsLblsModel.exportToExcel-->
            <!--/ko-->
        </oj-button>

        <oj-button id='button3' class="mybtn" on-click='[[handlePDF]]' disabled='[[fileDisabled]]'>
            <!--ko text: proRegisBtnsLblsModel.exportToPdf-->
            <!--/ko-->
        </oj-button>

    </div>

    <div class="">
        <oj-table id='table' class="apTable-1" aria-label='Departments Table' data='[[dataSource]]'
            selection-mode='{"row": "multiple", "column": "multiple"}' dnd='{"reorder": {"columns": "enabled"}}'
            scroll-policy-options='{"fetchSize": 10}' columns='[[columnArray]]' style='width: 100%; height: 300px;'
            display="grid" on-oj-before-current-row="[[tableSelectionListener]]">

        </oj-table>
        <oj-paging-control id="paging" data='[[dataSource]]' page-size='5' slot='bottom' class="display-inline-flex">
        </oj-paging-control>

    </div>


    <!--<oj-table id='table' aria-label='Sales Representative Table'
                                            data='[[dataSource]]' 
                                            selection-mode='{"row": "multiple", "column": "multiple"}'
                                            dnd='{"reorder": {"columns": "enabled"}}'
                                            scroll-policy-options='{"fetchSize": 10}'
                                            columns='{{columnArray}}'
                                            on-oj-before-current-row = "[[tableSelectionListener]]"
                                            style='width: 100%; height: 300px;'
                                            display = "grid">
                                            
                                           
            </oj-table>-->
</div>