<div class="navbar">
    <div class="gh-logo">
        <img src="../../../css/images/logo.png" class="img-responsive">
    </div>
    <h1 class="title" data-bind="text: label().title()"></h1>
</div>
<div class="addv-form" id="main">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
        <div id='buttons-container'>
            <oj-button class="btnPrimary" id="login" on-oj-action="[[addVehicle]]">
                <span>
                    <oj-bind-text value="[[label().addVehicle()]]">
                    </oj-bind-text>
                </span>
            </oj-button>
            <oj-button class="btnPrimary" id="login" on-oj-action="[[faq]]">
                <span>
                    <oj-bind-text value="[[label().faq()]]">
                    </oj-bind-text>
                </span>
            </oj-button>
            <oj-button class="btnPrimary" id="login" on-oj-action="[[location]]">
                <span>
                    <oj-bind-text value="[[label().location()]]">
                    </oj-bind-text>
                </span>
            </oj-button>
            <oj-button class="btnPrimary" id="login" on-oj-action="[[addModel]]">
                <span>
                    <oj-bind-text value="[[label().addModel()]]">
                    </oj-bind-text>
                </span>
            </oj-button>
        </div>
    </div>
</div>