<div class="container-fluid processSection mr-top-30">
  <h1 class="process-title mr-top-30">Reports</h1>
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-md-12 oj-sm-12 text-center mr-top-30">
      <oj-button class="btnStyle" on-oj-action="[[gotoIndex]]" id='keyword-search-btn' disabled='[[advanceDisable]]'>
        <span>
          Cancel
        </span>
      </oj-button>
      <oj-button class="btnStyle" on-oj-action="[[createReport]]" id='keyword-search-btn' disabled='[[advanceDisable]]'>
        Submit
      </oj-button>
    </div>
  </div>
  <!-- Basic Data -->
  <div class="panel-custom p-4 border rounded-lg shadow-sm mr-top-30">
    <div class="row">
      <div class="col-sm-12 col-md-11">
        <oj-validation-group id="create-tracker">
          <oj-form-layout max-columns="2" id="fl1">
            <oj-input-text required value="{{reportName}}" autocomplete="off" label-hint="Report Name"
              style="max-width: 100%;">
            </oj-input-text>
            <oj-combobox-one id="type" required value="{{reportType}}" label-hint="Report Type" options="[[optionType]]"
              style="max-width: 100%;">
            </oj-combobox-one>
          </oj-form-layout>
          </oj-validation-group>
      </div>
      <div class="col-sm-12 col-md-1 text-right"  style="top: 30px;">
        <oj-button id="addPerson" class='oj-button-sm-text-right' on-oj-action="[[addUser]]">+</oj-button>
      </div>
    </div>
    <div id="validation-usecase">
      <oj-validation-group id="create-tracker">
        <div id="form-container" >
          <ul style="padding-left: 0px;">
            <oj-form-layout max-columns="2" id="fl2">
              <oj-bind-for-each data="[[updateList]]">
                <template>
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                      <oj-input-text  value="{{$current.data.value}}" autocomplete="off" id="[[$current.data.label]]" label-hint=""
                        style="max-width: 90%;">
                      </oj-input-text>
                      <oj-button id='remove-defineFormulaResult-btn' on-oj-action="[[removeUser]]"
                        disabled='[[advanceDisable]]'>
                        <i class="far fa-trash-alt"></i>
                      </oj-button>
                    </div>
                  </div>
                </template>
              </oj-bind-for-each>
            </oj-form-layout>
          </ul>
        </div>
      </oj-validation-group>
    </div>
  </div>
</div>
