<div class="container sectionBody">
    <ul class="lisIconSection oj-flex oj-flex-items-pad">
        <li class="" data-bind="click: KyribaInterfaceBtn">
            <img class="imgHome" src="../../../css/images/document1.png" ><br>
            <a >Kyriba Interface</a>
        </li>
        <li class="" data-bind="click: AuditHomeBtn">
            <img class="imgHome" src="../../../css/images/payment.png"><br>
            <a >Audit</a>
        </li>
    </ul>
</div>