
<div class="form-layout-container">
    <div class="oj-form-layout container">
        <div class="row">
           <div class="col-md-3 eminfosec">
                <oj-avatar role="img" size="[[avatarSize]]" initials='[[initials]]'
                    data-bind="attr:{'aria-label':'Avatar of ' + firstName + ' ' + lastName}">
                  </oj-avatar><br>
                <span class="infosecempname"> <span data-bind="text: personDetails().displayName"></span></span>
                <oj-input-text class="infosecinputfield" id="text-input" placeholder="{{valueofsharethouts}}"></oj-input-text>
                <br/><br/>
                
                <div class="row"> 
                    
                    <div class="col-md-4 infosecdett "> <span class="infosecalerts"><oj-bind-text value="[[countPending]]"></oj-bind-text></span> <br><hr> <img src="css/images/pending.png" class="img-selector"></div>
                    <div class="col-md-4 infosecdett infosecdett-2"> <span class="infosecalerts"><oj-bind-text value="[[countApproved]]"></oj-bind-text></span> <br><hr> <img src="css/images/complete.png" class="img-selector"></div>
                    <div class="col-md-4 infosecdett infosecdett-2"><span class="infosecalerts"> <oj-bind-text value="[[countRejected]]"></oj-bind-text></span> <br><hr> <img src="css/images/reject.png" class="img-selector"></div>
                   
                </div>
                
                <hr/>
                <br/>
                <div class="row infosecalertrow">
                    <div class=" col-md-12"> <span class="infosecalertsnum-1">0</span> <span class="infosecalerts"><oj-bind-text value="[[employeeNewsLbl]]"></oj-bind-text></span> </div>
                <br/> <br/>
                <div class="col-md-12">
                      <span class="infosecalertsnum-2">0</span> <span class="infosecalerts"><oj-bind-text value="[[myFlagsLbl]]"></oj-bind-text></span> 
                </div>
                </div>
            </div>

            <oj-bind-if test="[[eitIconsLoaded() == false]]">
                <div class="col-md-9 home_icon_style row">
                    <!-- ko foreach: tempIcons -->
                    <div class="col-sm-6 col-md-2 col-Mob-50 animated fadeInDown">
                        <div class="Dshboardicons_body_style"
                             <a href="#" id="router" class=" form-router-href">
                                <span class="shine icon-home-slef oj-clickable-icon demo-icon-font oj-icon-circle oj-icon-circle-border oj-icon-xs label" >
                                    <span class="oj-icon-circle-inner oj-icon-no-background"></span>
                                </span>
                                <span class="shine shine-div"> </span>
                            </a>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </oj-bind-if>

            <oj-bind-if test="[[eitIconsLoaded() == true]]">
                <div class="col-md-9 home_icon_style row">
                    <!--ko foreach: icons --> 
                    <div class="col-sm-6 col-md-2 col-Mob-50">
                        <div class="Dshboardicons_body_style"
                             <a href="#" id="router" class=" form-router-href" 
                           data-bind="click: function(){ $parent.iconNavigation(router, code); }, visible: visible">

                                <span  class="icon-home-slef oj-clickable-icon demo-icon-font oj-icon-circle oj-icon-circle-border oj-icon-xs label"
                                       data-bind="css: IconVarBG +' oj-icon-xs ' + value, attr: {'aria-label':'Circular icon with color ' + label}" >

                                    <span class="oj-icon-circle-inner oj-icon-no-background">

                                        <img data-bind="css:'dashboardIconImg',attr:{src: iconType}" ></span>

                                </span>
                                </span>

                                </span>

                                <span class="form-router-text" data-bind="text: text"> </span>
                            </a>
                        </div>
                    </div>
                    <!--/ko--> 
                </div>
            </oj-bind-if>
        </div>
    </div>
</div>