<div id="main">
    <oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
    </oj-messages>
    <h2 class="summaryHeading"><span>
            <oj-bind-text value="{{labels.title}}"></oj-bind-text>
        </span></h2>

    <div id="content_div" style="text-align: -webkit-center;">
        <oj-file-picker accept="[[acceptArr]]" name="file-picker" selection-mode="single" 
        on-oj-select='[[selectListener]]' disabled="[[pickerDisable]]">
            <div tabindex='0' slot='trigger'
                 class='oj-filepicker-dropzone'>
                <p class='oj-filepicker-text custom'>
                    <span id="selected" data-bind="text: labels.picker_text"></span>
                </p>
            </div>
        </oj-file-picker>
 <br>
 <br>
          <oj-button on-oj-action='[[uploadAction]]' class="apBtn-2" disabled="[[uploadDisable]]">
            <span slot='startIcon' class='oj-fwk-icon fa fa-upload'>
                <oj-bind-text value="{{labels.upload}}"></oj-bind-text></span>
        </oj-button>
        <oj-button on-oj-action='[[downloadSample]]' class="apBtn-2" >
            <span slot='startIcon' class='oj-fwk-icon fa fa-download'>
                <oj-bind-text value="{{labels.download}}"></oj-bind-text></span>
        </oj-button>
    </div>


    <oj-dialog class="m-popup" id="dialog1" dialog-title="Creation Status" 
    modality="modeless" >
        <div slot="body">
                    <oj-table id='table2' class="apTable-1" aria-label='Departments Table' display="grid"
                        data='[[dataSource]]' scroll-policy='loadMoreOnScroll'
                        scroll-policy-options='{"fetchSize": 4}'
                        selection-mode='{"row": "single", "column": "single"}' columns='[[tableColumns2]]'
                        style='height: 312px;' >
                        <oj-paging-control id="pagingTable2" data="[[dataSource]]" page-size="4" slot="bottom"
                class="apPaging-1 display-inline-flex">
                        </oj-paging-control>
                    </oj-table>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" id="okButton1" on-oj-action="[[closeDialog]]">
                <span>
                    Close
                </span>
            </oj-button>
        </div>
    </oj-dialog>
    <!--<oj-dialog class="main-dialog main-dialog-width m-popup" id="messageDialog1">
        <div slot="header" class="oj-helper-clearfix">
            <label>Pick Upload</label>
        </div>
        <div slot="body" ><img src="css/images/success.png" style="width: 20px;height: 20px;"/>
            <label style="font-size: 25px;"><span>
                <oj-bind-text value="{{dialogMsg}}"></oj-bind-text>
            </span></label>
        </div>
        <div slot="footer">
            <div>
                <oj-button class="apBtn-2" on-oj-action='[[closeMessageDialog]]'>
                <span><oj-bind-text value="OK"></oj-bind-text></span>
            </oj-button>
            </div>
        </div>
    </oj-dialog>-->
    
    <oj-dialog class="main-dialog main-dialog-width m-popup" id="messageDialog2">
        <div slot="header" class="oj-helper-clearfix">
            <label>Create contract</label>
        </div>
        <div slot="body" ><img src="css/images/error.png" style="width: 15px;height: 15px;"/>
            <label style="font-size: 15px;"><span>
                <oj-bind-text value="{{dialogMsg}}"></oj-bind-text>
            </span></label>
        </div>
        <div slot="footer">
            <div>
                <oj-button class="apBtn-2" on-oj-action='[[closeMessageDialog2]]'>
                <span><oj-bind-text value="OK"></oj-bind-text></span>
            </oj-button>
            </div>
        </div>
    </oj-dialog>


</div>