<div class="oj-hybrid-applayout-page login-page profile-page">
    <div class="oj-applayout-content container">
        <div class="sign-form" id="main" data-bind="visible: visibleForm() =='addVehicle'">
            <oj-validation-group id="tracker" valid="{{groupValid}}">
                <oj-form-layout id="form-container">
                    <oj-label class="formLabel">  
                        <oj-bind-text value="[[label().model()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input1" class="formInput" value="{{model}}" clear-icon="conditional" required></oj-input-text>  
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().chassNumber()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input2" class="formInput" value="{{chassNumber}}" clear-icon="conditional" required></oj-input-text>  
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().motor()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input3" class="formInput" value="{{motor}}" clear-icon="conditional" required></oj-input-text>  
                </oj-form-layout>
            </oj-validation-group>
            <oj-button class="flWidth btnPrimary mrT1" id="login" on-oj-action="[[addAction]]" >
                <span>
                    <oj-bind-text value="[[label().submit()]]">
                    </oj-bind-text>
                </span>
            </oj-button>
            <oj-button class="flWidth btnPrimary mrT1" id="login" on-oj-action="[[backAction]]" >
                <span>
                    <oj-bind-text value="[[label().back()]]">
                    </oj-bind-text>
                </span>
            </oj-button>
        </div>
        <div class="oj-applayout-content container" data-bind="visible: visibleForm() =='code'">
        <oj-form-layout  direction="row" >
            <div id='text'>
                <h4 class="verfy-title" style="width: max-content;">
                    <span>
                        <oj-bind-text value="[[label().enterCode()]]">
                        </oj-bind-text>
                    </span>
                </h4>
            </div>
            <div id='text' style="width: max-content;display: inline;">
                <h5 >
                    <span>
                        <oj-bind-text value="[[label().titleCode()]]">
                        </oj-bind-text>
                        <oj-bind-text value="[[lastDigitPhone]]">
                        </oj-bind-text>
                        <oj-bind-text value="[[label().notRecieved()]]">
                        </oj-bind-text>
                    </span>
                </h5>
            </div>
            <div>
                <h5> 
                    <span>
                        <oj-bind-text value="[[label().tryAgain()]]">
                        </oj-bind-text>
                    </span>
                    <oj-button class="try-btn" id="login"  on-oj-action="[[resendCodeAction]]" >
                        <span >
                            <oj-bind-text value="[[label().resendCode()]]">
                            </oj-bind-text>
                        </span>
                    </oj-button>

                </h5>
                
            </div>
            <div class="oj-flex-item">
                <oj-label  class="formLabel">  
                    <oj-bind-text value="[[label().codeLbl()]]">
                    </oj-bind-text>
                </oj-label>
                <oj-input-text id="text-input4" class="formInput" value="{{code}}"></oj-input-text> 
                <div class=" oj-flex-item" >
                    <oj-button class="flWidth btnPrimary mrT1" id="login"  on-oj-action="[[codeAction]]" >
                        <span >
                            <oj-bind-text value="[[label().code()]]">
                            </oj-bind-text>
                        </span>
                    </oj-button>
                </div>
                
                <div style="display: inline-flex;">
                    <h5> 
                    <span>
                        <oj-bind-text value="[[label().callCenter()]]">
                        </oj-bind-text>
                    </span>
                </h5>
                    <oj-button class="try-btn" id="login"  on-oj-action="[[callAction]]" >
                        <span >
                            <oj-bind-text value="[[label().call()]]">
                            </oj-bind-text>
                        </span>
                    </oj-button>
                </div>
            </div>

        </oj-form-layout>
    </div>
    <div id="haveAccount" class="text-center skip-for-now" data-bind="visible: visibleForm() =='addVehicle'">
            <oj-button on-oj-action="[[skipAction]]">
                <span>
                    <oj-bind-text value="[[label().skipActionLbl()]]">
                    </oj-bind-text>
                </span>
            </oj-button>
        </div>
    </div>
</div>