<div class="oj-hybrid-applayout-page reset-page login-page">
    <div class="oj-applayout-content container">
        <div role="main" class="oj-applayout-content container">
            <h1 data-bind="text:label().title()"></h1>
        </div>
        <div class="oj-applayout-content container sign-form">
            <oj-validation-group id="tracker" valid="{{groupValid}}">
            <oj-form-layout max-columns="{{columns}}" direction="row" data-bind="visible:visibleForm.emailForm">
                <div>
                    <oj-label  class="formLabel">  
                        <oj-bind-text value="[[label().phone()]]">
                        </oj-bind-text>
                    </oj-label>
                    <oj-input-text id="text-input4" class="formInput" value="{{fields.phone}}" placeholder="[[label().placeholderPhone()]]" validators="[[mobileValidator]]" messages-custom="[[errorMsgPhone]]" required></oj-input-text>
                </div>

                <oj-button class="btnPrimary" on-oj-action='[[confirmEmail]]'>
                    <span>
                        <oj-bind-text value="[[label().confirmEmail()]]">
                        </oj-bind-text>
                    </span>
                </oj-button>
            </oj-form-layout>

                </oj-validation-group>
            <oj-form-layout max-columns="{{columns}}" direction="row" data-bind="visible:visibleForm.codeForm">
                <oj-label>  
                    <oj-bind-text value="[[label().codeLbl()]]">
                    </oj-bind-text>
                </oj-label>
                <oj-input-text id="username" class="username" value="{{fields.code}}"></oj-input-text>

                <oj-button class="btnPrimary" on-oj-action='[[code]]'>
                    <span>
                        <oj-bind-text value="[[label().code()]]">
                        </oj-bind-text>
                    </span>
                </oj-button>
            </oj-form-layout>
        </div>
    </div>
</div>
