<div class="oj-hybrid-applayout-page reset-page login-page">
    <div class="oj-applayout-content container">
        <div role="main" class="oj-applayout-content container">
            <h1 data-bind="text:label.title"></h1>
        </div>
        <div class="oj-applayout-content container sign-form">
            <oj-form-layout max-columns="{{columns}}" direction="row" data-bind="visible:visibleForm.emailForm">
                <div data-bind="visible: visibleForm.showEmail">
                <oj-label  class="formLabel">  
                    <oj-bind-text value="[[label.email]]">
                    </oj-bind-text>
                </oj-label>
                <oj-input-text id="text-input5" class="formInput" value="{{fields.email}}" messages-custom="[[errorMsgEmail]]" on-value-changed="[[emailChangedHandler]]" validators="[[emailValidator]]" placeholder="[[label.placeholderEmail]]"></oj-input-text>   
                </div>
                <div data-bind="visible: visibleForm.showPhone">
                    <oj-label  class="formLabel">  
                    <oj-bind-text value="[[label.phone]]">
                    </oj-bind-text>
                </oj-label>
                <oj-input-text id="text-input4" class="formInput" value="{{fields.phone}}" placeholder="[[label.placeholderPhone]]" validators="[[mobileValidator]]" messages-custom="[[errorMsgPhone]]" on-value-changed="[[phoneChangedHandler]]"></oj-input-text>
                </div>

                <oj-button class="btnPrimary" on-oj-action='[[confirmEmail]]' disabled="[[confirmTrue]]">
                    <span>
                        <oj-bind-text value="[[label.confirmEmail]]">
                        </oj-bind-text>
                    </span>
                </oj-button>
                <div id="haveAccount" class="text-center">
                        <oj-button on-oj-action="[[byPhone]]">
                            <div data-bind="visible: visibleForm.showLabelEmail">
                            <span>
                                <oj-bind-text value="[[label.changeByEmail]]">
                                </oj-bind-text>
                            </span>
                                </div>
                            <div  data-bind="visible: visibleForm.showLabelPhone">
                            <span>
                                <oj-bind-text value="[[label.changeByPhone]]">
                                </oj-bind-text>
                            </span>
                                </div>
                        </oj-button>
                    </div>
            </oj-form-layout>

            <oj-form-layout max-columns="{{columns}}" direction="row" data-bind="visible:visibleForm.codeForm">
                <oj-label>  
                    <oj-bind-text value="[[label.codeLbl]]">
                    </oj-bind-text>
                </oj-label>
                <oj-input-text id="username" class="username" value="{{fields.code}}"></oj-input-text>

                <oj-button class="btnPrimary" on-oj-action='[[code]]'>
                    <span>
                        <oj-bind-text value="[[label.code]]">
                        </oj-bind-text>
                    </span>
                </oj-button>
            </oj-form-layout>
 <oj-validation-group id="tracker" valid="{{groupValid}}">
            <oj-form-layout max-columns="{{columns}}" direction="row" data-bind="visible:visibleForm.resetForm">
                <oj-label>
                    <oj-bind-text value="[[label.newPass]]">
                    </oj-bind-text>
                </oj-label>

                <oj-input-password id="password" autocomplete="new-password"  value="{{fields.newPass}}" required placeholder="••••••••" raw-value="{{currentPassValue}}"  validators="[[validatorPass]]"></oj-input-password>  
                <oj-label>
                    <oj-bind-text value="[[label.confirmPass]]">
                    </oj-bind-text>
                </oj-label>

                <oj-input-password id="confirm-pass" autocomplete="new-password"  value="{{fields.confirmPass}}" required  raw-value="{{currentRawPassValue}}" on-value-changed="[[passChangedHandler]]" placeholder="••••••••"  messages-custom="[[errorMsgPass]]" validators="[[validatorPass]]"></oj-input-password>  
                <oj-button class="btnPrimary" on-oj-action='[[reset]]'>
                    <span>
                        <oj-bind-text value="[[label.reset]]">
                        </oj-bind-text>
                    </span>
                </oj-button>
            </oj-form-layout>
            </oj-validation-group>
        </div>
    </div>
</div>
