<h1 style="color: white">Notification Screen</h1>

<div id="form-container" class="section-container">
   
    <oj-messages messages="[[messages]]" display="notification" position="[[position]]" on-oj-close="[[closeMessageHandler]]"></oj-messages>
    
    <div class="oj-flex-item">
        <div class="oj-flex">

            <div id="buttons-container" class="oj-flex-item">                               
                <oj-button class="apBtn-2 apBtn-disabled btnStyle" disabled="{{Disable2}}" on-oj-action='[[approveBtnAction]]'>
                    <span><oj-bind-text value="[[approveLbl]]"></oj-bind-text></span>
                </oj-button>
                <oj-button class="apBtn-2  apBtn-disabled btnStyle" disabled="{{Disable2}}" on-oj-action='[[rejectBtnAction]]'>
                    <span><oj-bind-text value="[[rejectLbl]]"></oj-bind-text></span>
                </oj-button> 
            </div>

            <div class="table-content">
                <oj-table id='table' class='apTable-1' aria-label='Employees Table'
                          data='[[dataprovider]]'
                          dnd='{"reorder": {"columns":"enabled"}}'
                          scroll-policy='loadMoreOnScroll'
                          scroll-policy-options='{"fetchSize": 10}'
                          columns='[[columnArray]]'
                          display ="grid"
                          on-oj-before-current-row="[[tableSelectionListener]]">
                    
                     <template slot="checkTemplate" data-oj-as="cell">
                                    <oj-checkboxset 
                                        value='[[handleCheckbox(cell.index)]]'
                                        on-value-changed='[[checkboxListener]]'
                                        id ="table_checkboxset"
                                        class='oj-checkboxset-no-chrome oj-selection-checkbox'
                                        :id="[['table_checkboxset' + cell.index]]"
                                        :data-row-id="{{cell.index}}"
                                        :data-row-key="{{cell.row.id}}">

                                        <oj-option :id="[['table_checkbox' + cell.index]]" value="checked"></oj-option>

                                    </oj-checkboxset>   
                                </template>
                </oj-table>
<!--                <oj-paging-control id="paging" data='[[dataSource]]' page-size='5' slot='bottom' class="display-inline-flex">
                </oj-paging-control>-->
            </div>
        </div>
        
        <div id="dialogWrapper">
            <oj-dialog class="main-dialog main-dialog-width" id="ApproveDialog">
                <div slot="header" class="oj-helper-clearfix">
                    <label  data-bind="text: confirmMessage"></label>
                </div>

                <div slot="body">
                    <label data-bind="text: oprationMessage"></label>
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2" on-oj-action='[[commitRecord]]'>
                        <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[cancelButton]]'>
                        <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </oj-dialog>
        </div>
        
        <div id="dialogWrapper">
            <oj-dialog class="main-dialog main-dialog-width" id="rejectDialog">
                <div slot="header" class="oj-helper-clearfix">
                    <label  data-bind="text: confirmMessage"></label>
                </div>

                <div slot="body">
                    <label data-bind="text: oprationMessage"></label>
                </div>
                <div slot="body">
                    <label data-bind="text: rejectReson"></label>
                    <oj-input-text  value='{{rejectReasonVal}}'>
                        
                    </oj-input-text>
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2" on-oj-action='[[commitRejectRecord]]'>
                        <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[cancelRejectButton]]'>
                        <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
                    </oj-button>
                </div>
            </oj-dialog>
        </div>
    </div>
