/*
info: this file for customization and variable declaration
auther: Mohamed Ashraf
Note: Don't use for styling!!
*/
:root{
    /* theme Color */
    --primary-color: #027bc7;
    --secondary-color: hsl(199, 100%, 41%);
    --primary-light-shade: #9497c5;
    --secondary-dark-shade: #191b40;
    --primary-white-color: #ffffff;
    --secondary-black-color: #1a1a1a;
    
    /*Header Label: Defult Value is white*/
    --header-lable-color:#ffffff;

    /*Header BackGround: Defult Value is transparent */
    --header-background:#ffffff;
    --header-mobile-background:#ffffff;

     /*mobile footer BackGround: Defult Value is transparent */
     --footer-background:#ffffff;

    /* theme Background*/
    --appBackgroundImg: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
    --appBackgroundColor:#008A54;

    /*Request lable*/
    --request-lable:#fff;

    /*BTN Colors*/
    --Btn-main-color: #158aa6 !important;
    --Btn-dis-color: #79ACFF;

    /*Color of the required*/
    --required-color:#bd2527;

    /*Paging*/
    --Paging-main-color: #158aa6;

    /*Table
    these are the defult Colors, You can change theme if needed
    */
    --table-header-color:#158aa6;
    --table-text-color:#fff;
    --table-hover-BG:#d1d1d1;
    --table-hover-text:#555555;
    
    /*for dyanmic text area*/
    --textAreaInputw:50%;
    --textAreaInputh:300px;

}