<h3 class="header_headline_style txt-start"><span>
        <oj-bind-text value="">Notification Screen</oj-bind-text>
    </span></h3>
<div class="txt-center notificationBtnSection">
    <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[approveBtnAction]]'
        disabled="[[customsModel.isDisabled]]"><i class="fa fa-thumbs-up"></i><span>Approve</span></oj-button>
    <oj-button class="apBtn-2 apBtn-disabled btnStyle" on-oj-action='[[rejectBtnAction]]'
        disabled="[[customsModel.isDisabled]]"><i class="fa fa-times-circle"></i><span>Reject</span></oj-button>
          <oj-button class="apBtn-2 apBtn-disabled btnStyle"  disabled="[[customsModel.isDisabled]]" >
          Validate
        </oj-button> 
</div>
<div class="tableStyle txt-start">
    <oj-table class="tableStyle" id='table' data='[[dataprovider]]'
        selection-mode='{"row": "single", "column": "single"}' scroll-policy='auto'
        scroll-policy-options='{"fetchSize": 10}' columns='[[customsModel.columnArray]]'
        on-oj-before-current-row="[[tableSelectionListener]]">

        <oj-paging-control id="paging" data='[[dataprovider]]' page-size='5' slot='bottom'
            class="pagingStyle">
        </oj-paging-control>
    </oj-table>
</div>