<!DOCTYPE html>

<html lang="en-us">

<head>
    <title>ELSEWEDY-PR</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1">
    <link rel="icon" href="css/images/swd-pr/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- injector:theme -->
    <link rel="stylesheet" href="css/libs/oj/v5.1.0/alta/oj-alta-min.css" type="text/css" />
    <!-- endinjector -->
    <link rel="stylesheet" href="css/demo-alta-site-min.css" type="text/css" />
    <link rel="stylesheet" href="css/app.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body class="oj-web-applayout-body">


    <div id="loader-overlay">
        <div class="loader-dots">
            <div class="loader-dot"></div>
            <div class="loader-dot"></div>
            <div class="loader-dot"></div>
            <div class="loader-dot"></div>
            <div class="loader-dot"></div>
        </div>
    </div>
    <script type="text/html" id="navTemplate">
        <li><a href="#">
                <span :class="[[$data['iconClass']]]"></span>
                <oj-bind-text value="[[$data['name']]]"></oj-bind-text>
            </a></li>
    </script>

    <div id="globalBody" class="oj-offcanvas-outer-wrapper oj-offcanvas-page">

        <div id="dialogWrapper">

            <oj-dialog class="main-dialog main-dialog-width" id="GenericYesNoDialog">
                <div slot="header" class="oj-helper-clearfix">
                    <label data-bind="text: 'confirm'"></label>
                </div>

                <div slot="body">
                    <label data-bind="text: msg"></label>
                </div>
                <div slot="footer">
                    <oj-button class="apBtn-2" on-oj-action='[[dialogYes]]'>
                        <span>
                            <oj-bind-text value="[[yes]]"></oj-bind-text>
                        </span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[dialogNo]]'>
                        <span>
                            <oj-bind-text value="[[no]]"></oj-bind-text>
                        </span>
                    </oj-button>
                </div>
            </oj-dialog>

            <oj-dialog class="main-dialog main-dialog-width" id="GenericOkDialog">
                    <div slot="header" class="oj-helper-clearfix">
                        <label data-bind="text: 'Alert'"></label>
                    </div>
    
                    <div slot="body">
                        <label data-bind="text: msg"></label>
                    </div>
                    <div slot="footer">
                        <oj-button class="apBtn-2" on-oj-action='[[dialogOk]]'>
                            <span>
                                <oj-bind-text value="[[ok]]"></oj-bind-text>
                            </span>
                        </oj-button>
                    </div>
                </oj-dialog>
        </div>

        <oj-messages messages="[[messagesDataProvider]]" display="notification" position="{}"></oj-messages>

        <div id="loading">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>

        <div id="navDrawer" role="navigation" class="oj-contrast-marker oj-web-applayout-offcanvas oj-offcanvas-start">
            <oj-navigation-list data="[[navDataSource]]" edge="start"
                item.renderer="[[oj.KnockoutTemplateUtils.getRenderer('navTemplate', true)]]"
                on-click="[[toggleDrawer]]" selection="{{router.stateId}}">
            </oj-navigation-list>
        </div>
        <div id="pageContent" class="oj-web-applayout-page">

            <!-- ko if: isUserLoggedIn() -->
            <header role="banner" class="forwhite">

                <div class="oj-web-applayout-max-width oj-flex-bar oj-sm-align-items-center">

<!--                    <div class="oj-flex-bar-start oj-md-hide">
                        <oj-button id="drawerToggleButton" class="oj-button-lg" on-oj-action="[[toggleDrawer]]"
                            chroming="half" display="icons">
                            <span slot="startIcon" class="oj-web-applayout-offcanvas-icon"></span>
                            <span>Application Navigation</span>
                        </oj-button>
                    </div>-->

                    <div class="nav-img">

                        <img id="whiteImg" src="./css/images/swd-pr/small-logo.png" class="logo-title imgWhite"
                            alt="bsbc-logo">
                        <img id="whiteImg" src="./css/images/swd-pr/small-logo.png" class="logo-title imgPurple"
                            alt="bsbc-logo">
                    </div>

                    <span class="home-icon">
                        <i class="fa fa-fw fa-home"></i>
                    </span>
                    <!--                    <span class="home-icon generate-icon">
                                            <i class="fa fa-fw fa-home"></i>
                                        </span>-->

                    <div class="oj-flex-bar-middle oj-sm-align-items-baseline">
                        <span role="img" class="oj-icon app-icon" title="Oracle Logo" alt="Oracle Logo"></span>

                    </div>

                    <div class=" oj-flex block-two">

                        <div class="oj-flex-item image">
                            <img src="css/images/login/Login0-02.png" />
                        </div>

                        <div class="oj-flex-item data">

                            <div class="labels">
                                <span class="item-label">
                                    <!-- ko text: localeName -->
                                    <!-- /ko --> </span> <br>
                                <span class="item-label">
                                    <!-- ko text: localeJop -->
                                    <!-- /ko --> </span> <br>
                                <span class="item-label">
                                    <!-- ko text: localeempNO -->
                                    <!-- /ko --> </span> <br>
                                <span class="item-label">
                                    <!-- ko text: localeDep -->
                                    <!-- /ko --> </span> <br>
                                <span class="item-label">
                                    <!-- ko text: localeGrade -->
                                    <!-- /ko --> </span> <br>

                            </div>

                            <div class="oj-flex-bar-end">

                                <oj-button class="out-btn" on-oj-action="[[menuItemAction]]">
                                    <span id="out" value="out" slot="endIcon">
                                        <i class="fa fa-1x fa-sign-out"></i>
                                    </span>
                                </oj-button>

                            </div>
                        </div>
                        <div role="navigation" class="oj-web-applayout-max-width oj-web-applayout-navbar">

                        </div>
            </header>
            <div class="oj-flex oj-web-applayout-content">


                <div class="oj-flex-item section-two">
                    <oj-module role="main" class="oj-web-applayout-max-width" config="[[moduleConfig]]">
                    </oj-module>
                </div>
            </div>
            <!-- /ko -->

            <!-- ko ifnot : isUserLoggedIn() -->
            <div class="limiter">
                <div>

                </div>
                <div class="container-login100">
                    <div class="wrap-login100">
                        <form class="login100-form validate-form">
                            <div class="login100-form-logo">
                                <img src="css/images/swd-pr/header_nav_logo.png" />
                                <p class="logo-title">Integrated Energy Solutions</p>
                            </div>

                            <span class="login100-form-title p-b-34 p-t-27 login-label  ">
                            </span>

                            <div class="wrap-input100 validate-input" data-validate="Enter username">
                                <span class="log-icon"><i class="fa fa-fw fa-user"></i></span>
                                <input class="input100 has-val" type="text" name="username" data-bind="value:username"
                                    id="userValidation" placeholder="Username">
                                <span class="focus-input100"
                                    data-bind="attr: { 'data-placeholder': UsernameLabel }"></span>
                            </div>
                            <br>

                            <div class="wrap-input100 validate-input" data-validate="Enter password"
                                id="passValidation">
                                <span class="log-icon"><i class="fa fa-fw fa-lock"></i></span>
                                <input class="input100 has-val" type="password" name="pass" data-bind="value:password"
                                    placeholder="Password">
                                <span class="focus-input100"
                                    data-bind="attr: { 'data-placeholder': passwordLabel }"></span>
                            </div>


                            <div class="wrap-input100 validate-input word-login" data-bind="click: validateUser">
                                <oj-button id="loginButton"
                                    class=' apLoginBtn oj-button-lg wrap-input100 validate-input word-login'
                                    id="loginButton" chroming='full'>
                                    <span class="focus-input100">LOGIN</span>
                                </oj-button>
                            </div>


                            <div class="text-center p-t-90">
                                <div class="pull-right p-t-90 change-lang" data-bind="click: changeLanguage">
                                    <a class="txt1 change-lang-label" href="#"
                                        data-bind="text: languagelable, value: language">

                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



            <oj-popup class="demo-popup" id="popup1" style="width: 1px; min-width: 30%" tail="none"
                position.my.horizontal="center" position.my.vertical="bottom" position.at.horizontal="center"
                position.at.vertical="center" position.of="window" position.offset.y="-10" modality="modal"
                data-bind="event:{'ojAnimateStart': startAnimationListener}">
                <div class="demo-popup-body" style="text-align:center;">
                    <div class="demo-popup-header">
                        <!-- ko -->Error
                        <!-- /ko -->
                    </div>

                    <div class="demo-popup-footer">

                        <div class="oj-logIn-button">
                            <div class="oj-flex oj-flex-items-pad">
                                <div class="oj-sm-12 oj-flex-item">
                                    <oj-button id="btnCancel" class="oj-button-lg sign-in-button"
                                        data-bind="click: loginErrorPopup">
                                        <span>Login</span>
                                    </oj-button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </oj-popup>
            <!-- /ko -->
        </div>

        <!--                    <div class="loading" style=" opacity: 0.5;">
                                            <div class="sk-folding-cube">
                                                <div class="sk-cube1 sk-cube"></div>
                                                <div class="sk-cube2 sk-cube"></div>
                                                <div class="sk-cube4 sk-cube"></div>
                                                <div class="sk-cube3 sk-cube"></div>
                                            </div>
                                    </div>-->

        <!--<div class="lds-hourglass loading"></div>-->

        <script type="text/javascript" src="js/libs/require/require.js"></script>
        <script type="text/javascript" src="js/main.js"></script>

    </div>
</body>

</html>