<h3 class="start header_headline_style"><span data-bind="text: label().lgEditScreenLbl"> </span></h3>
<div class="penaltyDetailsContent start summaryContent start padding-right container">
<div class="request_body_styling animated fadeInUp rounded-lg shadow-lg p-3">

        <div class="detailsBtn">
            <oj-button class="btnStyle" on-oj-action="[[backBtn]]"><i
                    class="fa fa-backward fontawesomePadding"></i><span data-bind="text: label().backLbl"></span>
            </oj-button>

            <oj-button class="btnStyle" on-oj-action='[[updateBtn]]' data-bind="visible: customsModel.updateVisible"
                disabled="[[customsModel.updateDisabled]]"> </i><span data-bind="text: label().editLbl"></span>
            </oj-button>

            <oj-button class="btnStyle" on-oj-action='[[submitBtn]]' data-bind="visible: customsModel.viewVisible"
                disabled="[[customsModel.submitDisabled]]"><i class="fa fa-thumbs-o-up"></i><span
                    data-bind="text: label().submitLbl"></span>
            </oj-button>

            <oj-button class="btnStyle" on-oj-action='[[cancelStatusBtn]]'
                data-bind="visible: customsModel.retrieved().type == 'edit'"> </i><span
                    data-bind="text: label().cancelLbl"></span>
            </oj-button>

        </div>

        <div class="lgTypeCenter">
            <oj-label slot="label"><span data-bind="text: label().lgTypeLbl"></span></oj-label>
            <oj-select-one id="supplierNaSelect" value="{{customsModel.lgTypeVal}}" placeholder="Please Select : "
                on-value-changed="[[lgTypeListener]]" disabled="{{customsModel.disableAllFields}}">
                <oj-option value="Bid bond">Bid bond</oj-option>
                <oj-option value="Final">Final</oj-option>
                <oj-option value="Advance">Advance</oj-option>
            </oj-select-one>
        </div>

        <hr>

        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().documentNumberLbl"></span></oj-label>
                <oj-input-text disabled slot="value" value="{{customsModel.documentNumber}}"></oj-input-text>
            </div>

            <div data-bind="visible : customsModel.contractsVis" class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().contractNoLbl"></span></oj-label>
                <oj-input-text id="supplierNoSelect0" value="{{customsModel.contractNoVal}}"
                    disabled options="[[customsModel.contractNumberArr]]">
                </oj-input-text>
            </div>

            <div data-bind="visible : customsModel.negotiationNumVis" class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().negotiationNumLbl"></span></oj-label>
                <oj-input-text id="negotiationTitle" value="{{customsModel.negotiationNumVal}}" disabled >
                </oj-input-text>
            </div>

            <div data-bind="visible : customsModel.negotiationVis" class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().negotiationTitleLbl"></span></oj-label>
                <oj-input-text disabled slot="value" value="{{customsModel.negotiationTitleVal}}"></oj-input-text>
            </div>

            <div class="oj-flex-item">
                <oj-label slot="label"><span data-bind="text: customsModel.negotiationAmountLbl"></span></oj-label>
                <oj-input-text disabled="{{customsModel.disableAllFields}}" slot="value"
                    value="{{customsModel.contractAmountVal}}"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().supplierLbl"></span></oj-label>
                <oj-input-text disabled slot="value" value="{{customsModel.supplierVal}}"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().lgNumberFromBankLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.lgNumberFromBankVal}}"
                    disabled="{{customsModel.disableField}}"></oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().lgAmountPercantgeLbl"></span></oj-label>
                <oj-input-number required value="{{customsModel.lgAmountPercentageVal}}" min = "{{customsModel.minAmountPerc}}" max = "{{customsModel.maxAmountPerc}}"
                    on-value-changed="[[lgAmountPercantgeListener]]" data-bind="enable : (customsModel.retrieved().view != 'view') && (customsModel.retrieved().type != 'Extend')">
                </oj-input-number>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().letterOfGuarnAmoutLbl"></span></oj-label>
                <oj-input-number data-bind="enable : (customsModel.retrieved().view != 'view') && (customsModel.retrieved().type != 'Extend')" step="1" slot="value"
                    min={{customsModel.letterIncVal}} max={{customsModel.letterDecVal}} value="{{customsModel.letterOfGuarnAmoutVal}}">
                </oj-input-number>
            </div> 

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().lgStartDateLbl"></span></oj-label>
                <oj-input-date data-bind = "enable : customsModel.retrieved().type == 'edit'" required id="date2" value='{{customsModel.lgStartDateVal}}' on-value-changed="[[endDateValueChanged]]">
                </oj-input-date>
            </div> 

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().lgEndDateLbl"></span></oj-label>
                <oj-input-date id="date" value='{{customsModel.lgEndDateVal}}' data-bind="enable : (customsModel.retrieved().type == 'Extend') || (customsModel.retrieved().type == 'edit')" 
                    min="[[customsModel.minDateVal]]">
                </oj-input-date>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().bankAccountLbl"></span></oj-label>
                <oj-select-one id="supplierNaSelect2" value="{{customsModel.bankAccountVal}}"
                    placeholder="Please Select : " data-bind = "enable : customsModel.retrieved().type == 'edit'"
                    options="[[customsModel.bankAccountArr]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().closeToExpLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.closeToExp}}" disabled>
                </oj-input-text>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item">
                <oj-label slot="label"><span data-bind="text: label().descriptionLbl"></span></oj-label>
                <oj-text-area slot="value" id="textarea" rows="6" value={{customsModel.description}}
                     data-bind ="enable : customsModel.retrieved().type == 'edit'">
                </oj-text-area>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item" data-bind="visible: customsModel.retrieved().view != 'view'">
                <oj-label slot="label"><span data-bind="text: label().attachmentLbl"></span></oj-label>
                <oj-file-picker class='oj-filepicker-custom' select-on='click' on-oj-select='[[addFileSelectListener]]'>
                    <oj-button slot='trigger' class="btnStyle" disabled="[[customsModel.addFileDis]]">
                        <span data-bind="text: label().addFileLbl"></span>
                    </oj-button>
                </oj-file-picker>

                <div class="col-sm-8" style="width: 100% !important; display: contents;">
                    <oj-list-view id="listview" aria-label="list using observable array"
                        data="[[dataProviderAttachment2]]" selection-mode="single"
                        selection="{{customsModel.selectedItemsAttachment}}">
                        <template slot="itemTemplate">
                            <span>
                                <oj-bind-text value='[[$current.data.name]]'></oj-bind-text>
                            </span>
                        </template>
                    </oj-list-view>

                    <br>

                    <div class="oj-flex-item attBtnRow" text-align="center">
                        <oj-button class="upload-pic" on-oj-action='[[removeSelectedAttachment]]'>
                            <span slot='startIcon' class="oj-fwk-icon oj-fwk-icon-cross"></span>
                        </oj-button>
                    </div>
                </div>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item" data-bind="visible: (customsModel.retrieved().view =='view') || (customsModel.retrieved().type =='edit')">
                <oj-label slot="label"><span data-bind="text: label().attachmentLbl"></span></oj-label>
                <oj-button class="btnStyle" on-oj-action="[[viewContarctAttachment]]" disabled="[[customsModel.viewAttachmentDis]]"><i class="fa fa-eye"></i><span
                        data-bind="text: label().viewAttachmentLbl"></span> 
                </oj-button>
            </div>
        </div>
    </div>

    <div class="tableContent container start" data-bind="visible: customsModel.retrieved().type =='edit'">
        <oj-table class="tableStyle" id='table' data='[[dataproviderLgScreen]]'
            selection-mode='{"row": "single", "column": "single"}' scroll-policy='loadMoreOnScroll'
            scroll-policy-options='{"fetchSize": 10}' columns='[[customsModel.columnArray]]'>
        </oj-table>
    </div>

    <oj-dialog id="viewAttachment" style="display:none;width:800px;">
        <div slot="header">
            <h5><span data-bind="text: label().viewAttachmentLbl"></span></h5>
        </div>
        <div slot="body">
            <oj-table class="tableStyle" id="viewTable" data='[[dataProviderAttachment]]'
                columns=[[customsModel.attachmentColumns]] selection-mode='{"row": "single", "column": "single"}'
                scroll-policy='loadMoreOnScroll' on-oj-before-current-row="[[lgAttachmentselectListener]]">

                <template slot="downTemplate" data-oj-as="attachmentArr">
                    <oj-button class="btnStyle" on-oj-action='[[DownloadFileFn]]'>
                        <span data-bind="text: label().downloadLbl"></span>
                    </oj-button>
                </template>

                <template slot="cellTemplate" data-oj-as="attachmentArr">
                    <oj-button class="btnStyle" on-oj-action='[[deleteAttach]]' data-bind="visible: customsModel.retrieved().type =='edit'">
                        <span data-bind="text: label().deleteLbl"></span>
                    </oj-button>
                </template>

            </oj-table>
        </div>
        <div slot="footer">
            <oj-button class="btnStyle" id="attacCancelBtn" on-oj-action="[[cancelviewAttDial]]"><span
                    data-bind="text: label().cancelLbl"></span></oj-button>
        </div>
        <div></div>
    </oj-dialog>

    <oj-dialog id="confirmCancel" style="display:none;width:800px;">
        <div slot="header">
            <h3 data-bind="text: label().confirmCancelLbl"></h3>
        </div>
        <div slot="body">
            <span data-bind="text: label().confirmCancelTextLbl"></span>
        </div>

        <div slot="footer">
            <oj-button class="btnStyle" on-oj-action="[[cancelActionBtn]]"><span
                    data-bind="text: label().yesLbl"></span></oj-button>
            <oj-button class="btnStyle" on-oj-action="[[noCancelActionBtn]]"><span
                    data-bind="text: label().noLbl"></span></oj-button>
        </div>
    </oj-dialog>

</div>