<h3 class="header_headline_style"><span data-bind="text: label().lgCreateScreenLbl"> </oj-bind-text> </span></h3>
<div class="request_body_styling animated fadeInUp rounded-lg shadow-lg p-3">
    <div class="summaryContent container">

        <div class="summaryBtn detailsBtn">
            <oj-button class="btnStyle" on-oj-action="[[backBtn]]"><i
                    class="fa fa-backward fontawesomePadding"></i><span data-bind="text: label().backLbl"></span>
            </oj-button>

            <oj-button class="btnStyle" on-oj-action='[[createBtn]]' disabled="[[customsModel.createLg]]">
                </i><span data-bind="text: label().validateLbl"></span>
            </oj-button>

            <oj-button class="btnStyle" on-oj-action='[[submitBtn]]' disabled="[[customsModel.sumbitLg]]"><i
                    class="fa fa-thumbs-o-up"></i><span data-bind="text: label().submitLbl"></span>
            </oj-button>
           
        </div>

        <div class="lgTypeCenter">
            <oj-label slot="label"><span data-bind="text: label().lgTypeLbl"></span></oj-label>
            <oj-select-one id="supplierNaSelect" value="{{customsModel.lgTypeVal}}"
                 disabled="{{customsModel.disableAllFields}}" options = "[[customsModel.lgTypeArr]]" on-value-changed="[[lgTypeListener]]">
            </oj-select-one>
        </div>

        <hr>

        <oj-validation-group id="tracker" valid="{{customsModel.groupValid}}">
            <div class="oj-flex oj-flex-items-pad margTop">
                <div class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().documentNumberLbl"></span></oj-label>
                    <oj-input-text disabled="{{customsModel.disableDocumentNum}}" slot="value"
                        value="{{customsModel.documentNumber}}"></oj-input-text>
                </div>

                <div data-bind="visible : customsModel.contractsVis" class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().contractNoLbl"></span></oj-label>
                    <oj-select-one disabled="{{customsModel.disableAllFields}}" id="contractNo" value="{{customsModel.contractNoVal}}" placeholder="Please Select : " options="[[customsModel.contractNumberArr]]" on-value-changed="[[contactNumberListener]]">
                    </oj-select-one>
                </div>

                <div data-bind="visible : customsModel.negotiationNumVis" class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().negotiationNumLbl"></span></oj-label>
                    <oj-select-one id="negotiationTitle" disabled="{{customsModel.disableAllFields}}" value="{{customsModel.negotiationNumVal}}"  placeholder="Please Select : " options="[[customsModel.negotiationArr]]" on-value-changed="[[negotiationListener]]">
                    </oj-select-one>
                </div>

                <div data-bind="visible : customsModel.negotiationVis" class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().negotiationTitleLbl"></span></oj-label>
                    <oj-input-text disabled slot="value" value="{{customsModel.negotiationTitleVal}}"></oj-input-text>
                </div>   

                <div data-bind="visible : customsModel.negotiationVis" class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().negotaitionSupplierLbl"></span></oj-label>
                    <oj-select-one disabled="{{customsModel.disableAllFields}}" slot="value" placeholder="Please Select : " options="[[customsModel.negoSupplierArr]]" on-value-changed="[[negoSupplierListener]]" value="{{customsModel.negoSupplierVal}}"></oj-select-one >
                </div>

                <div class="oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: customsModel.negotiationAmountLbl"></span></oj-label>
                    <oj-input-text disabled="true" slot="value"  value="{{customsModel.contractAmountVal}}"></oj-input-text>
                </div>

                <div data-bind="visible : customsModel.contractsVis" class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().supplierLbl"></span></oj-label>
                    <oj-input-text disabled="{{customsModel.supplierContarctDis}}" slot="value" value="{{customsModel.supplierVal}}"></oj-input-text>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().lgNumberFromBankLbl"></span></oj-label>
                    <oj-input-text disabled="{{customsModel.disableAllFields}}" required value="{{customsModel.lgNumberFromBankVal}}"></oj-input-text>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().lgAmountPercantgeLbl"></span></oj-label>
                    <oj-input-number disabled="{{customsModel.disableAllFields}}" required value="{{customsModel.lgAmountPercentageVal}}" min = "0" on-value-changed="[[lgAmountPercantgeListener]]"></oj-input-number>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().letterOfGuarnAmoutLbl"></span></oj-label>
                    <oj-input-number id = "lgAmount" disabled="{{customsModel.disableAllFields}}" required min={{customsModel.letterIncVal}} slot="value"  value="{{customsModel.letterOfGuarnAmoutVal}}"></oj-input-number>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().lgStartDateLbl"></span></oj-label>
                    <oj-input-date disabled="{{customsModel.disableAllFields}}" required id="date2" value='{{customsModel.lgStartDateVal}}' on-value-changed="[[endDateValueChanged]]">
                    </oj-input-date>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().lgEndDateLbl"></span></oj-label>
                    <oj-input-date disabled="{{customsModel.disableAllFields}}" required id="date" value='{{customsModel.lgEndDateVal}}' min={{customsModel.fromStartDate}}>
                    </oj-input-date>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().bankAccountLbl"></span></oj-label>
                    <oj-select-one disabled="{{customsModel.disableAllFields}}" required id="supplierNaSelect" value="{{customsModel.bankAccountVal}}" placeholder="Please Select : " options="[[customsModel.bankAccountArr]]">
                    </oj-select-one>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().descriptionLbl"></span></oj-label>
                    <oj-text-area disabled="{{customsModel.disableAllFields}}" slot="value" required id="textarea" rows="6" value={{customsModel.description}}>
                    </oj-text-area>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().closeToExpLbl"></span></oj-label>
                    <oj-input-text slot="value" value="{{customsModel.closeToExp}}" disabled="true"></oj-input-text>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().attachmentLbl"></span></oj-label>
                    <oj-file-picker id ="filePicker" class='oj-filepicker-custom' select-on='click'
                        on-oj-select='[[addFileSelectListener]]'>
                        <oj-button disabled="{{customsModel.disableAllFields}}" slot='trigger' class="btnStyle">
                            <span data-bind="text: label().addFileLbl"></span>
                        </oj-button>
                    </oj-file-picker>

                    <div class="col-sm-8" style="width: 100% !important; display: contents;">
                        <oj-list-view id="listview" aria-label="list using observable array"
                            data="[[dataProviderAttachment]]" selection-mode="single"
                            selection="{{customsModel.selectedItemsAttachment}}">
                            <template slot="itemTemplate">
                                <span>
                                    <oj-bind-text value='[[$current.data.name]]'></oj-bind-text>
                                </span>
                            </template>
                        </oj-list-view>

                        <br>

                        <div class="oj-flex-item attBtnRow" text-align="center">
                            <oj-button disabled="{{customsModel.disableAllFields}}" class="upload-pic" on-oj-action='[[removeSelectedAttachment]]'>
                                <span slot='startIcon' class="oj-fwk-icon oj-fwk-icon-cross"></span>
                            </oj-button>
                        </div>
                    </div>
                </div>

                <div class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().attachmentLbl"></span></oj-label>
                    <oj-button class="btnStyle" on-oj-action="[[viewContarctAttachment]]"
                        disabled="[[customsModel.sumbitLg]]"><i class="fa fa-eye"></i><span
                            data-bind="text: label().viewAttachmentLbl"></span> </oj-button>
                </div>
            </div>
        </oj-validation-group>
    </div>

    <div class="tableContent container start">
        <oj-table class="tableStyle" id='table' data='[[dataproviderLgScreen]]'
            selection-mode='{"row": "single", "column": "single"}' scroll-policy='loadMoreOnScroll'
            scroll-policy-options='{"fetchSize": 10}' columns='[[customsModel.columnArray]]'>
        </oj-table>
    </div>

    <oj-dialog id="confirmDiscard" style="display:none;width:800px;">
        <div slot="header">
            <h3 data-bind="text: label().confirmDiscard"></h3>
        </div>
        <div slot="body">
            <span data-bind="text: label().confirmText"></span>
        </div>

        <div slot="footer">
            <oj-button class="btnStyle" on-oj-action="[[yes]]"><span data-bind="text: label().yesLbl"></span>
            </oj-button>
            <oj-button class="btnStyle" on-oj-action="[[no]]"><span data-bind="text: label().noLbl"></span></oj-button>
        </div>
    </oj-dialog>

    <oj-dialog id="viewAttachment" style="display:none;width:800px;">
        <div slot="header">
            <h5><span data-bind="text: label().viewAttachmentLbl"></span></h5>
        </div>
        <div slot="body">
            <div class="tableContent">
                <oj-table class="tableStyle" id="viewTable" data='[[dataProviderAttachment]]'
                    columns='[[customsModel.attachmentColumns]]' selection-mode='{"row": "single", "column": "single"}'
                    scroll-policy-options='{"fetchSize": 10}' scroll-policy='loadMoreOnScroll'>
                </oj-table>
            </div>
        </div>
        <div slot="footer">
            <oj-button class="btnStyle" id="attacCancelBtn" on-oj-action="[[cancelviewAttDial]]"><span
                    data-bind="text: label().cancelLbl"></span></oj-button>
        </div>
        <div></div>
    </oj-dialog>

</div>
</div>