<h3 class="start header_headline_style"><span data-bind="text: label().lgScreenLbl"> </span></h3>
<div class="request_body_styling animated fadeInUp rounded-lg shadow-lg p-3">
    <div class="summaryContent container">
        <div class="oj-flex oj-flex-items-pad padding-right">
            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label><span data-bind="text: label().documentNumberLbl"></span></oj-label>
                <oj-input-text slot="value" value="{{customsModel.documentNumber}}"></oj-input-text>
            </div>
            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="supplierNoSelect"><span data-bind="text: label().lgNumberFromBankLbl"></span></oj-label>
                <oj-select-one id="supplierNoSelect" value="{{customsModel.lgNumberFromBankVal}}"
                    placeholder="Please Select : " options="[[customsModel.lgNumberFromBankArr]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="POSelect"><span data-bind="text: label().suppilerNameLbl"></span></oj-label>
                <oj-select-one id="contractNo" value="{{customsModel.suppilerNameVal}}" placeholder="Please Select : "
                    options="[[customsModel.suppilerNameArr]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="supplierNaSelect"><span data-bind="text: label().contractNoLbl"></span></oj-label>
                <oj-select-one id="supplierNaSelect" value="{{customsModel.contractNoVal}}"
                    placeholder="Please Select : " options="[[customsModel.contractNumberArr]]">
                </oj-select-one>
            </div>

            <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                <oj-label for="POSelect"><span data-bind="text: label().lgStatusLbl"></span></oj-label>
                <oj-select-one id="contract" value="{{customsModel.lgStatusVal}}" placeholder="Please Select : "
                    options="[[customsModel.lgStatusArr]]">
                </oj-select-one>
            </div>
        </div>

        <div class="buttonSection">
            <div class="summaryBtn ">
                <oj-button class="btnStyle" on-oj-action='[[searchBtn]]'><i class="fa fa-search"></i><span
                        data-bind="text: label().searchLbl"></span></oj-button>
                <oj-button class="btnStyle" on-oj-action='[[resetBtn]]' disabled="[[customsModel.resetDis]]"><i
                        class="fa fa-repeat"></i><span data-bind="text: label().resetLbl"></span></oj-button>
                <oj-button class="btnStyle" on-oj-action='[[createBtn]]' disabled="[[customsModel.createDis]]"><i
                        class="fa fa-plus"></i><span data-bind="text: label().createLbl"></span></oj-button>
                <oj-button class="btnStyle" on-oj-action='[[exportBtn]]' disabled="[[customsModel.exportDis]]"><i
                        class="fa fa-calendar-o"></i><span data-bind="text: label().exportLbl"></span></oj-button>
                <oj-button class="btnStyle" on-oj-action='[[approvalListBtn]]' disabled="[[customsModel.approvalListDis]]"><i
                        class="fa fa-list"></i><span data-bind="text: label().approvalListLbl"></span></oj-button>
            </div>
            <div class="summaryBtn ">
                <oj-button class="btnStyle" on-oj-action='[[closeToExpBtn]]'><i class="fa fa-calendar-o"></i><span
                        data-bind="text: label().closeToExpLbl"></span></oj-button>
                <oj-button class="btnStyle" on-oj-action='[[viewBtn]]' disabled="[[customsModel.lgViewSelected]]"><i
                        class="fa fa-pencil"></i><span data-bind="text: label().viewLbl"></span></oj-button>
                <oj-button class="btnStyle" on-oj-action='[[historyBtn]]' disabled="[[customsModel.lgViewSelected]]"><i
                        class="fa fa-history"></i><span data-bind="text: label().historyLbl"></span></oj-button>
                <oj-button class="btnStyle" on-oj-action='[[editBtn]]' disabled="[[customsModel.lgEditSelected]]"><i
                        class="fa fa-pencil"></i><span data-bind="text: label().editLbl"></span></oj-button>
            </div>
            <!-- data-bind="visible: customsModel.searchClicked" -->
            <div class="summaryBtn " >
                <oj-button class="btnStyle" on-oj-action='[[extendBtn]]' disabled="[[customsModel.extendDis]]"><i
                        class="fa fa-long-arrow-up"></i><span data-bind="text: label().extendLbl"></span>
                </oj-button>
                <oj-button class="btnStyle" on-oj-action='[[increaseBtn]]' disabled="[[customsModel.increaseDis]]"><i
                        class="fa fa-long-arrow-up"></i><span data-bind="text: label().increaseLbl"></span>
                </oj-button>
                <oj-button class="btnStyle" on-oj-action='[[decreaseBtn]]' disabled="[[customsModel.decreaseDis]]"><i
                        class="fa fa-long-arrow-down"></i><span data-bind="text: label().decreaseLbl"></span>
                </oj-button>
                <oj-button class="btnStyle" on-oj-action='[[releaseBtn]]' disabled="[[customsModel.releaseDis]]"><i
                        class="fa fa-check"></i><span data-bind="text: label().releaseLbl"></span>
                </oj-button>
                <oj-button class="btnStyle" on-oj-action='[[confiscationBtn]]' disabled="[[customsModel.confisactionDis]]"><i
                        class="fa fa-times"></i><span data-bind="text: label().confiscationLbl"></span>
                </oj-button>
            </div>
        </div>


        <div class="tableContent start">
            <oj-table class="tableStyle" id='table'  data='[[dataproviderLgScreen]]'
                selection-mode='{"row": "single", "column": "single"}' scroll-policy='auto'
                scroll-policy-options='{"fetchSize": 10}' columns='[[customsModel.columnArray]]'
                on-oj-before-current-row="[[lgselectListener]]">
                <oj-paging-control id="paging" data='[[dataproviderLgScreen]]' page-size='5' slot='bottom'
                    class="pagingStyle display-inline-flex">
                </oj-paging-control>
            </oj-table>
        </div>

        <oj-dialog id="viewExpire" style="display:none;width:800px;">
            <div slot="header">
                <h5><span data-bind="text: label().closeToExpLbl"></span></h5>
            </div>
            <div slot="body">
                <div class="oj-md-6 oj-sm-12 oj-flex-item paddingBottom10px start">
                    <oj-label for=""><span data-bind="text: label().lgTypeLbl"></span></oj-label>
                    <oj-select-one id="lType" value="{{customsModel.lgTypeExpireVal}}" placeholder="Please Select : ">
                        <option value="Bid bond">Bid bond</option>
                        <option value="Final">Final</option>
                        <option value="Advance">Advance</option>
                    </oj-select-one>

                    <oj-button class="btnStyle" on-oj-action='[[filterBtn]]'><i class="fa fa-search"></i><span
                            data-bind="text: label().filterLbl"></span>
                    </oj-button>

                </div>

                <oj-table class="tableStyle" id="viewTable" data='[[dataProviderLgCloseToExpire]]'
                    columns=[[customsModel.columnArray]] selection-mode='{"row": "single", "column": "single"}'
                    scroll-policy='loadMoreOnScroll'>
                </oj-table>
            </div>
            <div slot="footer">
                <oj-button class="btnStyle" id="attExporttn" on-oj-action="[[attachExportBtn]]">
                    <span data-bind="text: label().exportLbl"></span></oj-button>

                <oj-button class="btnStyle" id="attacCancelBtn" on-oj-action="[[cancelBtn]]">
                    <span data-bind="text: label().cancelLbl"></span></oj-button>

            </div>
        </oj-dialog>

        <oj-dialog id="confirmRelease" style="display:none;width:800px;">
            <div slot="header">
                <h3 data-bind="text: label().confirmReleaseLbl"></h3>
            </div>
            <div slot="body">

                <h4 data-bind="text: label().confirmText"></h4>

                <div class="oj-md-6 oj-sm-12 oj-flex-item">
                    <oj-label slot="label"><span data-bind="text: label().attachmentLbl"></span></oj-label>
                    <oj-file-picker class='oj-filepicker-custom' select-on='click'
                        on-oj-select='[[addFileSelectListener]]'>
                        <oj-button slot='trigger' class="btnStyle" disabled="[[customsModel.addFileDis]]">
                            <span data-bind="text: label().addFileLbl"></span>
                        </oj-button>
                    </oj-file-picker>

                    <div class="col-sm-8" style="width: 100% !important; display: contents;">
                        <oj-list-view id="listview" aria-label="list using observable array"
                            data="[[dataProviderAttachment]]" selection-mode="single"
                            selection="{{customsModel.selectedItemsAttachment}}">
                            <template slot="itemTemplate">
                                <span>
                                    <oj-bind-text value='[[$current.data.name]]'></oj-bind-text>
                                </span>
                            </template>
                        </oj-list-view>

                        <br>

                        <div class="oj-flex-item attBtnRow" text-align="center">
                            <oj-button class="upload-pic" on-oj-action='[[removeSelectedAttachment]]'>
                                <span slot='startIcon' class="oj-fwk-icon oj-fwk-icon-cross"></span>
                            </oj-button>
                        </div>
                    </div>
                </div>

            </div>

            <div slot="footer">
                <oj-button class="btnStyle" on-oj-action="[[releaseAction]]"
                    disabled="[[customsModel.disReleasePopAction]]"><span data-bind="text: label().yesLbl"></span>
                </oj-button>
                <oj-button class="btnStyle" on-oj-action="[[cancelReleaseAction]]"><span
                        data-bind="text: label().noLbl"></span></oj-button>
            </div>

        </oj-dialog>

        <!-- approval dialog -->
        <oj-dialog class="dialogStyle" id="approvalDialog">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text:label().approvalListLbl"></label>
            </div>
            <div slot="body" style="max-height:400px ; " id="demo">
                <!-- ko foreach: datacrad -->
                <div class="approval-card-body app-crd-bdy-received app-crd-bdy-border" data-bind="css: bodyStatus">
                    <div class="approval-card-header">
                        <h5 class="app-card-Pname"><span data-bind="text: personName"></span> </h5>
                    </div>
                    <h6 class="app-card-Pname"><span data-bind="text: approvalLevel"></span> </h6>

                    <div class=" row approval-card-inf-body">
                        <div class="col-md-6">
                            <span class="badge badge-pill app-card-badge" data-bind="css: appCardStatus">
                                <span data-bind="text: Approved"></span></span> 
                        </div>
                        <!-- <div class="col-md-6">
                            <blockquote class="blockquote app-card-blockqoute">
                                <footer class="blockquote-footer"> <small>
                                        <span data-bind="text: date"></span></small></footer>
                            </blockquote>
                        </div> -->
                    </div>
                    <h5><span data-bind="text: rejectReason"></span> </h5>
                </div>
                <!-- /ko -->
            </div>
            <div slot="footer">
                <oj-button class="btnStyle" on-oj-action='[[approvalDialogCloseAction]]'>
                    <span>
                        <oj-bind-text value="[[label().okLbl]]"></oj-bind-text>
                    </span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>
</div>