
@media (min-width: 768px) and (max-width:991px) {}

@media (min-width: 992px) and (max-width:1199px) {}



/* start Globally */

.loading {
    /*background-image: url("https://thumbs.gfycat.com/JointRevolvingAntelopegroundsquirrel-size_restricted.gif") !important;*/
    background-size: 25px 25px;
    background-position: right center;
    background-repeat: no-repeat;
}
body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden !important;
}
.mainModule{
    padding: 0 !important;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(to top,#000000f0, #0000002e, #0000);
    width: 100%;
    height: 100%;
}

.upper {text-transform: uppercase; }

ul {
    list-style: none;
    padding: 0;
}

a {text-decoration: none; color: transparent;}
a:hover {text-decoration: none}

.toggle-btn {
    float: right;
    margin-top: 10px;
}

.toggle-btn button {
    color: #00A1DB !important;
    background: none !important;
    border: none !important;
    text-decoration-line: underline;
    font-size: 14px;
}
 
.toggle-btn button:hover {
    color: #0f3861 !important;
    text-decoration-line: underline;
    cursor: pointer;
}

.oj-listbox-drop {
    width: 230px !important;
}

/* start navbar top */

.navbar {
    padding: 30px;
    margin-bottom: 0 ;
}

@media (max-width:1051px) {
    .navbar {
        /* background-color: #55555554;  */
        background-image: linear-gradient(to bottom, #656565,#888, #c0bfbf, #fff );
        border: none;
    } 
}

.navbar #buttons-container {
    display: inline-block;
    vertical-align: top;
    float: left;
}
html[dir='ltr'] .navbar #buttons-container{
    float: right;
}

@media (max-width:768px) {
    html[dir='ltr'] .navbar #buttons-container{
        float: none;
    }
}

@media (max-width:500px) {
    .navbar #buttons-container {
        display: table;
        margin: auto;
        float: none;
    }
}

.oj-navigationlist-item:hover {
    border-bottom: none !important;
}

.big-btn {
    height: 130px;
    margin-bottom: 20px;
}

@media (max-width:500px) {
    .big-btn{
        display: block;
        text-align: center
    }
}


.big-btn button {
    text-align: center;
    width: 100px;
    height: 100px;
    background: #FBFBFB !important;
    color: #175591 !important;
    margin-right: 20px;
    box-shadow: 0px 4px 12px #ccc !important;
    border-radius: 5px;
}

.big-btn button:hover {
    box-shadow: 0px 10px 12px #ccc !important;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.big-btn .oj-button-label {
    display: inline;
}

.big-btn .btn-text {
    font-size: 14px;
    overflow: visible;
    white-space: normal;
    line-height: 15px;
    padding: 0;
}

/* start pages header */

header {
padding: 10px 0 0 0;
}

header h3 {
    margin-top: 15px;
    color: #00A1DB;
}

.head-avatar {
    padding-top: 8px;
}

@media (max-width:767px) {
    .head-avatar {
        display: table;
    margin: auto;
    float: none;
    }
}

.gh-logo  {
    width: 100px;
    display: inline-block;
}

@media (max-width:768px) {
    .gh-logo {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .gh-logo img {
        max-width: 25%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
    }

    header .pull-right {
        float: none !important;
        text-align: center;
        position: relative;
    }
}

@media (max-width:500px) {
    .gh-logo img {
        max-width: 35%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
    }
}
.nav-list {
    width: 80px;
    display: inline-block;
}

.profile-btn {
    margin-bottom: 20px !important;
}

.profile-btn button{
    background-color: transparent !important;
    border: none !important;
    font-size: 14px;
    color: #555 !important;
    cursor: pointer !important;
}

.nav-list .oj-navigationlist-item-icon {
    color: #00a1db !important;
}

/* start main form */

.main-form {
    border: 1px solid #eee;
    border-radius: 8px;
    width: 300px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    background: #fafafa;
    padding: 0 20px 5px;
    box-shadow: 5px 5px 10px #eee;
}

.main-form h5 {
    font-weight: bold;
}

.main-form input,
.main-form .oj-select-choice,
.main-form .oj-inputdatetime-input-container {
    width: 250px !important;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #DDD;
    font-size: 12px;
}

.main-form textarea {
    width: 230px !important;
    height: 120px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #DDD;
    font-size: 12px;
}

.main-form .oj-inputdatetime-input-trigger {
    height: 30px;
    box-shadow: 2px 2px 5px #DDD;
    border-radius: 0px 5px 5px 0px;
}

/* start question mark section */

.question-section {
    width: 80%;
    float: right;
}

.question-section h4 {
    color: #00A1DB;
    margin: 30px 0 10px;
}

.question-mark {
    color: #00A1DB;
    float: right;
    margin: 10px;
}


/* end globally */

/* start home page ===========================================*/

.home-page {
    background-image: url(images/home-r.png);
    background-repeat: no-repeat; 
    background-position: left;   
    min-height: 100vh;
    background-size: contain;
    padding: 0;
}
html[dir='ltr'] .home-page{
    background-image: url(images/home.png);
    background-position: right;
}

@media (max-width: 1050px) {
    .home-page {
        background-image: none !important;
    }
}

.home-title {
    margin-bottom: 50px;
    max-width: 500px;
}

.home-title h2 {
    font-size: 45px;
}

.left-section{
    padding: 20px 30px;
}

.homCrdRow{
    max-width: 500%;
}
@media (max-width:768px) {
    
    .home-title h2 {
        font-size: 25px;
    }
}

.home-offers {
    margin: 50px 0;
}

.home-offers li {
    padding-bottom: 15px;
}
#homeFtr{
    width: 100%;
    bottom: 0;
    display: flex;
    padding: 0px 30px;
    font-weight: bold;
}
html[dir="ltr"] .ftrPrgh p{
    margin-right: 30px;
}
html[dir="rtl"] .ftrPrgh p{
    margin-left: 30px;
}
html[dir="ltr"] .ftrIcn{
    position: absolute;
    right: 0;
    padding: 20px 30px;
    bottom: 0;
}

html[dir="rtl"] .ftrIcn{
    position: absolute;
    left: 0;
    padding: 20px 30px;
    bottom: 0;
}

@media (min-width: 768px) and (max-width:991px) {
    /* .home-bck {
        width: 150%
    } */
}

@media (max-width:767px) {
    .home-bck {
        display: none;
    }
}

/* end home page */

/* start our location page ===========================================*/

.location-container {
    background-image: url('./images/location-page.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.form-container {
    width: 320px;
}

.loc-form {
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #fafafa;
    padding: 15px;
    border-radius: 7px;
}
.loc-form h4 {
font-weight: bold;
}

.loc-form .oj-select-choice {
    width: 150% !important;
    height: 30px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px #ccc;
}

.location-form .btnPrimary {
    display: block;
    width: 100%;
    margin-top: 30px;
}
.location {
    text-align: right;
    padding-top: 25px;
}

.location-bck {
    background-image: url('./images/location.png');
    background-position: center;
    background-size: cover;
    height: 60vh;
    margin: 10vh auto;
    width: 90%;
}

@media (max-width: 768px) {
    .location-form {
        display: table;
        margin: auto;
        padding: 0;
        margin-bottom: 30px;
    }
}


/* end our location page */

/* start offers page */

.offers-page {
    background-color: #555;
    height: 100vh;
}

.offer-head {
    color: #00A1DB;
    margin-top: 35vh;
    text-align: center;
}

@media (max-width:991px) {
    .offers-container {
        height: auto;
    }
}

.signup-page,
.signin-page {
    background-image: -webkit-linear-gradient(#fff, #fffffffa, #fffffffa, #ffffffc7), url('./images/bck-car.png');
    background-size: cover;
    background-position: top;
    min-height: 100vh;
}

.signup-page {
    background-position: bottom !important;
    background-size: unset;

}

.sign-form {
    background-color: transparent;
    width: 350px;
    display: block;
    margin: auto;
    padding: 20px;
}

.sign-form h3 {
    font-weight: lighter;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: #00a1db;
}

.sign-form .formInput input {padding: 0 15px;font-size: 14px;}

.not-account label {
    margin-top: 30px;
}


@media (max-width:350px) {
    .sign-form {
        width: 300px;
    }

    .sign-form input {
        width: 145%;
    }

    .signup-page,
    .signin-page {
        height: auto;
    }
}

.sign-form .mybtn {
    display: block;
}

#haveAccount button {
    color: #00a1db;
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* end signUp page */


/* start dashboard page ================================= */

.dashboard-page {
    background-image: url(images/bck-cutting.png);
    background-repeat: no-repeat; 
    background-position: right;   
    min-height: 100vh;
    background-size: contain;
    padding: 0;
}

html[dir='ltr'] .dashboard-page{
    background-image: url(images/bck-cutting.png);
    background-position: left;
}

.dashboard-page .dashboard-content {
    width: 50%;
    float: right;
}

@media (max-width: 1050px) {
    .dashboard-page {
        background-image: none !important;
    }

    .dashboard-page .dashboard-content {
        width: 80%;
        float: none;
        margin: auto;
    }
}

.dashboard-page .dash-title {
    text-align: center;
    margin-top: 100px;
}

.dashboard-page .dash-title h2 {
    font-size: 35px;
    letter-spacing: 1px;
}

.dashboard-page .dash-title h4 {
    font-size: 25px;
    font-weight: lighter;
}

.dashboard-page .dash-components {
    margin: 30px auto;
    text-align: center;
}

.dashboard-page .dash-img-div {
    padding: 0 !important;
}

/*  End dashboard page */

/* start maintennance page ====================================== */

.maintenance-container {
    background-image: -webkit-radial-gradient(circle, #ffffffc2, #fff, #fff), url(./images/main-bck.png);    
    background-position: center;
    background-size: cover;
    height: auto;
}

@media (max-width:991px) {
    .maintenance-container {
        height: auto;
    }
}

.maintenance-div {
    padding: 20px 0 40px 40px;
}

@media (max-width:767px) {
    .maintenance-div {
        display: table;
        margin: auto;
        padding: 0;
        margin-bottom: 30px;
    }
}

.maintenance-div .btnPrimary {
    display: block;
    width: 280px;
    margin-top: 30px;
}

.maintenance-div h3 {
    color: #00A1DB;
}

.maintenance-container .right-slider h3 {color: #00A1DB;}

.maintenance-container .right-slider h5 {color: #999;margin-bottom: 30px;}

.right-slider {
    border: none !important;
    background-color: transparent;
}

@media (max-width:991px) {
    .booking-slider .toggle-btn {
        display: table ;
    }
}

#drawer {
    width: 100%
}

.slider-item {
    border-radius: 8px;
    background-color: #fafafa;
    margin: 15px 0;
}

.slider-item .label-line {
    display: block;
    padding-bottom: 6px;
}

.slider-item .label-line label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px !important;
    font-size: 14px;
    font-weight: normal;
    padding: 0 7px;
    font-family: 'Raleway';
}

.slider-item .fa-calendar-alt label {padding-left: 10px;}

.slider-item .label-line:before {
    color: #175591 ;
    line-height: 14px;
}

.oj-pagingcontrol-nav-input-section,
.oj-pagingcontrol-nav-input-summary {display: none !important}

.oj-pagingcontrol-nav {text-align: center;margin-top: 20px}

.oj-pagingcontrol-nav-arrow-section a {
    background: transparent;
    color: #02629f;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 4px;
    padding: 5px 8px;
    font-size: 14px;
    min-width: 30px;
    min-height: 30px;
}

.oj-pagingcontrol-nav-page.oj-disabled{
    background: #02629f;
    color: #fff;
    padding: 5px 8px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    margin: 0 4px;
    min-width: 30px;
    min-height: 30px;
}

.oj-pagingcontrol-nav-arrow-section a:hover {
    background: none !important;
}

/* end maintennance page */

/* start complain page */

.complain-container {
    background-image: -webkit-radial-gradient(circle, #ffffffc2, #fff, #fff), url(./images/main-bck.png); 
    background-position: center;
    background-size: cover;
}

@media (max-width:991px) {
    .complain-container {
        height: auto;
    }
}

.complain-div {
    padding: 20px 0 40px 40px;
    background-color: transparent;
    height: 100%;
}

@media (max-width:767px) {
    .complain-div {
        display: table;
        margin: auto;
        padding: 0;
        margin-bottom: 30px;
    }
}

.complain-div .btnPrimary {
    display: block;
    width: 280px;
    margin-top: 30px;
}

.complain-div h3 {
    color: #00A1DB;
}

.complain-container .right-slider h3 {color: #00A1DB;}

.complain-container .right-slider h5 {color: #999;margin-bottom: 30px;}

/* end complain page */

/* start test drive page */

.test-container {
    background-image: -webkit-radial-gradient(circle, #ffffffc2, #fff, #fff), url(./images/main-bck.png);     
    background-position: center;
    background-position: center;
    background-size: cover;
    height: 110vh;
}

@media (max-width:991px) {
    .test-container {
        height: auto;
    }
}

.test-div {
    padding: 20px 0 40px 40px;
    background-color: transparent;
}

@media (max-width:767px) {
    .test-div {
        display: table;
        margin: auto;
        padding: 0;
        margin-bottom: 30px;
    }
}

.test-div .btnPrimary {
    display: block;
    width: 280px;
    margin-top: 30px;
}

.test-div h3 {
    color: #00A1DB;
}

.test-container .right-slider h3 {color: #00A1DB;}

.test-container .right-slider h5 {color: #999;margin-bottom: 30px;}

/* end test drive page */


/* start vehicle history */

.vehicle #text h2 {
    color: #00A1DB;
    font-size: 30px;
    margin-top: 5%;
}

.vehicle #text h5 {
    color: #999;
    margin-bottom: 30px;
}

.vehicle-item {
    display: inline-block;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 2px 5px 10px #ddd;
    margin: 10px;
    padding: 5px 0px 20px;
}

.vehicle-item .demo-griditem-content .item-img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.vehicle-history .oj-listview-card-layout li.oj-listview-item {
    width: 100%;
}

.vehicle-history .oj-listview-focused-element {
    border: none !important;
}

.demo-griditem-content {
    border: none;    
    font-weight: bold;
}

.oj-listview-item:hover {
    background: transparent !important;
}

/* end vehicle history */

/* Start history Page */

.choose-section,
.history-section {
    padding: 40px;
}

.history .overlay {cursor: pointer;}

.choose-section h2,
.history-section h2 {
    color: #00A1DB;
}

.choose-section .car-item {
    float:left;
    cursor: pointer;
    width: 280px;
    height: auto;
    padding: 0;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 10px #ddd;
    border-radius: 10px;
}

.oj-conveyor-belt {width: 100%}

.choose-section .car-btn {
    width: 100%;
    height: 150px;
    position: relative;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.choose-section .car-btn:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

.choose-section .car-btn img {
    width: 100%;
    height: 100%;
    margin: 0 !important;
}

.car-name {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    z-index: 99;
    position: absolute;
    bottom: 10px;
    left: 15px;
    padding: 0 5px !important;
}

.choose-section .car-info {
    padding: 15px;
    background-color: #fafafa;
}

.choose-section .car-info span {
    font-weight: bold;
    padding-bottom: 5px;
}

.choose-section .car-info .operations {
    padding-left: 10px;
}

.history-section .history-item {
    border-radius: 10px;
    background-color: #fafafa;
}

.history .oj-conveyorbelt-overflow-indicator {
    background: #ddd;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
}

/* End history Page */

/* start faq page */

.faq-page .oj-web-applayout-header {
    background-image: url('./images/faq-bck.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    position: relative;
}

.faq-page .overlay {
    background-color: #00000085 !important;
    z-index: -1 !important;
}

.faq-page .faq-head {
    margin: 10px auto;
    text-align: center
}

@media (max-width:767px) {
    .faq-page .oj-web-applayout-header {
        height: 60vh;
    }

    .faq-page .faq-head {
        margin: 60px auto;
    }
}

.faq-page .faq-head h2 {
    color: #fff;
    margin-bottom: 20px;
}

.faq-page .faq-head input {
    vertical-align: inherit;
   height: 40px;
    width: 102%;
    font-size: 14px;
}

.faq-page .faq-head .btnPrimary {
    min-height: 44px;
}

.faq-page .faq-head .btnPrimary button {
    margin: 0;
}

.faq-content {
    text-align: center;
    margin-top: 40px;
}

.faq-content h2 {color: #00A1DB;}

.faq-content h5 {color: #999;}

.faq-content .big-btn button {
    color: #555 !important;
}

/* end faq page */

/* start navbar responsive */

@media (max-width:767px) {

    .home-page .navbar #buttons-container,
    .faq-page .navbar #buttons-container,
    .offers-page .navbar #buttons-container,
    .location-container .navbar #buttons-container {
        display: table;
        margin: auto;
        float: none;
    }
    
}

/* end navbar responsive */

/* start reservation payment page */

.reservation-page .btnPrimary button {
    padding: 10px 35px;
}

.reservation-content {
    text-align: center;
    margin-top: 30vh;
}

.reservation-content h1 {
    color: #00A1DB;
}

/* Endreservation payment page */

/* start Promotions page */

.promotions h1 {
    text-align: center;
    margin-top: 30vh;
    color: #00A1DB;
}


/* End Promotions page */


/* start profile page */

.signin-page .profile-pic {
    margin: 30px auto;
}

.signin-page .account-info {
    text-align: center;
}

.signin-page .upload-pic button {
    background: #fff !important;
    color: #8a8d8f !important;
    border: 1px solid #8a8d8f !important;
    font-size: 12px;
    font-weight: bold !important;
    cursor: pointer;
    padding: 8px;
    height: 30px;
}

.signin-page .change-pic .oj-filepicker-clickable {
    text-align: center;
    margin-left: 100% !important;
}

.signin-page .change-pic .formLabel {text-align: center;}
.logo-click{cursor: pointer;}

.oj-label-required-icon{font-size: 30px;}
/* end profile page */

/*////////*/
#loader-overlay{
    overflow:hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index:9999999;
}
.loader-dots{
    position: fixed;
    height: 5em;
    width: 5em;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    animation: spinner 1s infinite linear;
}
.loader-dot{
    position: absolute;
    margin: auto;
    width: 2.0em;
    height: 2.0em;
    border-radius: 100%;
}
.loader-dot:nth-child(2){
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255, .80);
}
.loader-dot:nth-child(3){
    left: 0;
    right: 0;
    top: 0;
    background: rgba(255,255,255, .60);
}
.loader-dot:nth-child(4){
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255, .40);
}
.loader-dot:nth-child(5){
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255, .20);
}
@keyframes spinner{
    0% { transform: rotate( 0 ); }
    100%{ transform: rotate(360deg); }
}
.image{
    width: 100%;
}

.demo-filmstrip-item {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.demo-arrow-controls {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}


/* ===============================================
======================================================= */

/* start presentaion page */

.addv-form h2 {
    margin-bottom: 25px;
    color: #175591;
    font-weight: bold;
}

.addv-form {
    width: 90%;
    display: block;
    margin: auto;
    padding: 20px;
    text-align: center;
}
.addv-form1 {
    width: 90%;
    display: block;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.addv-input .oj-select-choice,
.addv-input input {
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #f1f1f1;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.addv-form .upload-pic button {
    background: transparent !important;
    border: 1px solid #175591 !important;
    padding: 10px;
    border-radius: 4px;
    color: #175591 !important;
}

.addv-form .btnPrimary {
    display: inline !important;
}

.addv-form .btnPrimary button {
    width: auto;
    padding: unset;
}
.addv-form1 .btnPrimary {
    display: inline !important;
}

.addv-form1 .btnPrimary button {
    width: auto;
    padding: unset;
}

.car-img {
    width: 40%;
    margin: auto;
}

.car-img img {
    width: 100%;
}

.img-dialog {
    width: 50%;
    top: 50px !important;
}

.pick-btns {
    width: 60%;
    left: 290px;
    margin: 15px auto;
    position: relative;
}
.title{
    text-align: center;
    font-weight: bold;
    color: #175591;
}
.formLabel label{
    font-size: 20px !important;
}
.upload-section{
    width: 40%;
    margin: auto;
}
oj-button.upload-pic{
    font-size: 14px !important;
}
.oj-select-chosen{
    font-size: 12px;
}
.saveBtn{
    float: right;
}
.success-title{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    padding: 0;
    margin: 0;
    text-align: center;
}
.success-title h1{
    color: #42a96f;
    font-weight: bold;
}
.success-img{
    width: 80px !important;
    top: 30% !important;
}