/* start button Component ::::: btn classes: btnPrimary btnSecondary */
.btnPrimary{
    min-height: 50px;
}
.btnPrimary button {
    background: var(--Btn-main-color) !important;
    color: #fff !important;
    padding: 17px 35px;
    border: 1px solid var(--Btn-main-color) !important;
    border-radius: 3px;
    margin: 3px;
    font-size: 14px;
    -webkit-transition: all .4s ease-in-out ;
    -moz-transition: all .4s ease-in-out ;
    -o-transition: all .4s ease-in-out ;
    transition: all .4s ease-in-out ;
    cursor: pointer !important;
    font-family: 'Raleway', sans-serif;
    height: 40px;
}

@media (max-width:500px) {
    .btnPrimary button {
        padding: 17px 10px;
    }
}

@media (max-width:350px) {
    .btnPrimary button {
        padding: 0px;
    }
}

.btnPrimary button:hover {
    background-color: #0f3861 !important;
    border: 1px solid #0f3861 !important;
    color: #fff !important;
}

.btnSecondary button {
    background: transparent !important;
    border: 1px solid #fff !important;
}

.btnSecondary button:hover {
    background-color: #0f3861 !important;
    border: 1px solid #0f3861 !important;
    color: #fff !important;
}
/* end button Component*/

/* start style clasess:::: flWidth,*/
.flWidth{
    width: 100%;
}
.mrT2{margin-top: 20px;}
.mrT1{margin-top: 10px;}
/* end style clasess */

/* start form clasess:::: flWidth,*/
.formLabel label{
    font-size: 13px;
    font-weight: normal;
}
.formInput{
    width: 100%;
    max-width: unset;
}
.formInput input{
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #DDDDDD77;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
}
/* end style clasess */