<!--
 Copyright (c) 2014, 2018, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->

<div class="search-content">
<div class="oj-panel ">
    
               <div class="oj-flex">
        <div class="oj-flex" style="width:200px">
            <oj-label for="text-input">Transaction Number</oj-label>
        </div>
        <oj-input-text id="text-input" value="{{TransactionNumbervalue}}"></oj-input-text>
    </div>

    <div class="oj-flex">
        <div class="oj-flex" style="width:200px">
            <oj-label for="basicSelect">Business Unit</oj-label>
        </div>
        <oj-select-one id="select1" style="width:50%"
                       options="{{BusinessUnit}}" 
                       value="{{BusinessUnitVal}}"  value-option="{{selectValBusinessUnit}}">
        </oj-select-one>
    </div>

    <div class="oj-flex">
        <div class="oj-flex" style="width:200px">
            <oj-label for="text-input">LC Number</oj-label>
        </div>
        <oj-input-text id="text-input" value="{{LCNumbervalue}}"></oj-input-text>
    </div>

    <div class="oj-flex">
        <div class="oj-flex" style="width:200px">
            <oj-label for="basicSelect">LC Type</oj-label>
        </div>
        <oj-select-one id="select1" style="width:50%"
                       options="{{LCType}}" 
                       value="{{LCTypeVal}}"  value-option="{{selectValLCType}}">
        </oj-select-one>
    </div>

    <div class="oj-flex">
        <div class="oj-flex" style="width:200px">
            <oj-label for="basicSelect">Rate Type</oj-label>
        </div>
        <oj-select-one id="select1" style="width:50%"
                       options="{{RateType}}" 
                       value="{{RateTypeVal}}"  value-option="{{selectValRateType}}">
        </oj-select-one>
    </div>

    <div class="oj-flex">
        <div class="oj-flex" style="width:200px">
            <oj-label for="text-input">Exchange Date</oj-label>
        </div>
        <oj-input-date id="date" value='{{ExchangeDatevalue}}' required="[[isRequired]]" placeholder="Exchange Date">
        </oj-input-date>
    </div>


    <div class="oj-flex">
        <div class="oj-flex" style="width:200px">
            <oj-label for="text-input">LC Opening Date</oj-label>
        </div>
        <oj-input-date id="date" value='{{LCOpeningDatevalue}}' required="[[isRequired]]" placeholder="LC Opening Date ">
        </oj-input-date>
    </div>

    <div class="oj-flex">
        <div class="oj-flex" style="width:200px">
            <oj-label for="text-input">LC Expiry Date</oj-label>
        </div>
        <oj-input-date id="date" value='{{LCExpiryDatevalue}}'  required="[[isRequired]]" placeholder="LCExpiry Date ">
        </oj-input-date>
    </div>

    <div class="oj-flex">
        <div class="oj-flex" style="width:200px">
            <oj-label for="basicSelect">Status</oj-label>
        </div>
        <oj-select-one id="select1" style="width:50%"
                       options="{{Status}}" 
                       value="{{StatusVal}}" value-option="{{selectValStatus}}">
        </oj-select-one>
    </div>


 <div class="oj-flex">
        <div class="oj-flex" style="width:250px">
        </div>
        <div class="oj-flex" >
            <div class="oj-panel oj-sm-margin-0x demo-mypanel">
            <button style="font-size: 1.1em" class='oj-button-confirm' data-bind="click: search,ojComponent: {component: 'ojButton',label: 'search' ,icons:{end:'oj-fwk-icon-magnifier oj-fwk-icon'}}"></button>   
            <button  style="font-size: 1.1em" class='oj-button-confirm'  data-bind="click: btnRest,ojComponent: {component: 'ojButton',label: 'clear' ,icons:{end:'oj-fwk-icon-cross02 oj-fwk-icon'}}"></button>  
            </div>
        </div>
    </div> 

    <div class="oj-form">
        <button id="add" type="button"
                class="oj-button-primary btnstyle"
                data-bind="click: add,ojComponent: {component: 'ojButton',label: 'add' ,icons:{end:'fa fa-plus'}}"></button>

        <button id="edit" type="button" class="oj-button-primary btnstyle"
                style="display:inline-block;vertical-align:top;"
                data-bind="click: update,ojComponent:
                                {component: 'ojButton',label: 'edit',icons:{end:'fa fa-pencil-square-o'}}"></button>
        <button id="view" type="button" class="oj-button-primary btnstyle"
                style="display:inline-block;vertical-align:top;"
                data-bind="click: view,ojComponent:
                                {component: 'ojButton', disabled: false,label: 'view',icons:{end:'fa fa-pencil-square-o'}}"></button>


    </div>

    <br>
    <oj-table id="table" aria-label="Departments Table"
              data='[[dataprovider]]' 
              selection-mode='{"row": "multiple", "column": "multiple"}' 
              dnd='{"reorder": {"columns": "enabled"}}'
              scroll-policy-options='{"fetchSize": 10}'
              columns='{{columnArray}}'
              style='width: 100%;'
              display = "grid"
              columns-default='{"template": "cellTemplate",
              "headerTemplate": "headerTemplate"}'>
       
        <template slot="detailsCellTemplate">
            <oj-button    on-oj-action='[[buttonClick]]' >Details</oj-button>
        </template>
    </oj-table>
    
     <oj-paging-control id="paging" data='[[dataprovider]]' page-size='4' slot='bottom'>
        </oj-paging-control>


</div>

</div>









