
<!-- Start Content // ADD BY Mohamed Yasser -->
<div class="content">
    <div class="oj-panel">
        <br>

        <!-- Start buttons // ADD BY Mohamed Yasser -->

        <oj-button class="float-left" data-bind="visible: hideCancel" on-oj-action='[[cancleAction]]'>
            <span slot='endIcon' class="oj-fwk-icon oj-fwk-icon-next" ></span>
            Cancel
        </oj-button>

        <oj-button class="float-right" on-oj-action='[[showLCDetails]]' data-bind="visible: hidelcDetails">
            <span slot='endIcon' class="oj-fwk-icon oj-fwk-icon-next" ></span>
            LC Details
        </oj-button>


        <oj-button class="float-left" on-oj-action='[[showLCWorkbench]]' data-bind="visible: hidePervious">
            <span slot='endIcon' class="oj-fwk-icon oj-fwk-icon-next"></span>
            Pervious
        </oj-button>


<!--        <oj-button class="float-right" on-oj-action='[[disableInputText]]' data-bind="visible: hideNext">
            <span slot='endIcon' class="oj-fwk-icon oj-fwk-icon-next"></span>
            Next
        </oj-button>

        <oj-button class="float-right" data-bind="visible: showSubmit" on-oj-action='[[openPopup]]'>
            <span slot='endIcon' class="oj-fwk-icon oj-fwk-icon-next"></span>
            Submit
        </oj-button>-->

        <!-- End buttons // ADD BY Mohamed Yasser -->
        <br>
        <br>

        <!-- Start train // ADD BY Mohamed Yasser -->
<!--
        <div id="train-container" >
            <oj-train id="train"
                      class="oj-train-stretch"
                      style="max-width:700px;margin-left:auto;margin-right:auto;"
                      on-selected-step-changed="[[updateLabelText]]"
                      selected-step="{{selectedStepValue}}"
                      steps="[[stepArray]]">
            </oj-train>

        </div>-->

        <!-- End train // ADD BY Mohamed Yasser -->
        <br>

        <div class="LCWorkbenck" data-bind="visible: lCWorkbenckHide">

            <!-- LC Workbench /// Start ADD BY Mohamed Yasser -->

            <h2 class="">LC Workbench</h2>
            <div class="clear"></div>

            <br>
            <!--                            <div class="container">-->
            <div class="oj-panel">
                <div class="oj-form-layout custom-form-stoj-form-layout custom-form-style">

                    <!--                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      -->
                    <div class="oj-flex-item">   
                        <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">                                                           											   
                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label for="B3control1">Exchange Date</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-date id="datepicker1" disabled="true" value="{{exchangeDate}}" placeholder="Exchange Date"> </oj-input-date>
                                </div>
                            </div>

                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label for="B3control2">Status Date</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-date id="datepicker2 "disabled="true" value="{{statusDate}}" placeholder="Status Date"> </oj-input-date>
                                </div>
                            </div>																																															
                            <div class="oj-flex">  
                                <div class="oj-flex-item">
                                    <oj-label for="A1control">Transaction Number</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-text id="A1control47" class="disable-element" disabled="false" placeholder="Transaction Number" value="{{transactionNumber}}"></oj-input-text>
                                </div>
                            </div>

                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label show-required for="A3control">LC Number</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-text id="A3control" class="disable-element" disabled="false"  placeholder="LC Number" required value="{{LCNumber}}"></oj-input-text>
                                </div>
                            </div>


                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label show-required for="A3control">Amount</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-text id="A3control5" class="disable-element" disabled="false" placeholder="Amount" required value="{{amount}}"></oj-input-text>
                                </div>
                            </div>																																															
                            <div class="oj-flex">  
                                <div class="oj-flex-item">
                                    <oj-label for="A1control">Exchange Rate</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-text id="A1control12" class="disable-element" disabled="false" placeholder="Exchange Rate" value="{{exchangeRate}}"></oj-input-text>
                                </div>
                            </div>
                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label for="A2control">Functional Currency Amount</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-text id="A1control3" class="disable-element" disabled="false" placeholder="Functional Currency Amount" value="{{eunctionalCurrencyAmount}}"></oj-input-text>
                                </div>
                            </div>												 												 																								  												  
                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label show-required for="B2control">LC Opening Data</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-date id="datepicker3dd" class="disable-element" disabled="false" value="{{LCOpeningData}}" 
                                                   required="[[isRequired]]" placeholder="LC Opening Data"> </oj-input-date>
                                </div>
                            </div>
                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label show-required for="B3control">LC Expiry Data</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-date id="datepicker4" class="disable-element" disabled="false" value="{{LCExpiryData}}" 
                                                   required="[[isRequired]]" placeholder="LC Expiry Data"> </oj-input-date>
                                </div>
                            </div>

                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label show-required for="B1control">LC Type</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-select-one id="selectcomp" class="disable-element" disabled="false" placeholder="LC Type" required="[[isRequired]]" value="{{LCType}}">
                                        <oj-option value="Type 1">LC Type 1</oj-option>
                                        <oj-option value="Type 2">LC Type 2</oj-option>
                                        <oj-option value="Type 3">LC Type 3</oj-option>
                                        <oj-option value="Type 4">LC Type 4</oj-option>
                                    </oj-select-one>
                                </div>
                            </div>

                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label for="B1control">Rate Type</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-select-one id="selectcomp2" class="disable-element" disabled="false" placeholder="Rate Type" value="{{rateType}}">
                                        <oj-option value="Type 1">Rate Type 1</oj-option>
                                        <oj-option value="Type 2">Rate Type 2</oj-option>
                                        <oj-option value="Type 3">Rate Type 3</oj-option>
                                        <oj-option value="Type 4">Rate Type 4</oj-option>
                                    </oj-select-one>
                                </div>
                            </div>


                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label for="A3control">Status</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-select-one id="selectcomp3" class="disable-element" disabled="false" placeholder="Status" value="{{status}}">
                                        <oj-option value="Type 1">Status 1</oj-option>
                                        <oj-option value="Type 2">Status 2</oj-option>
                                        <oj-option value="Type 3">Status 3</oj-option>
                                        <oj-option value="Type 4">Status 4</oj-option>
                                    </oj-select-one>
                                </div>
                            </div>


                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label for="A2control">Business Unit</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <!--                                                <oj-input-text id="A1control" placeholder="Business Unit" value="{{businessUnit}}"></oj-input-text>-->



                                    <oj-combobox-one id="search" class="disable-element search-input" disabled="false"
                                                     value="{{businessUnit}}"
                                                     options="[[tagsDataProvider]]"
                                                     filter-on-open="rawValue"
                                                     on-oj-value-updated="[[search]]"
                                                     placeholder="Business Unit...">
                                        <a slot="end" id="search-button" class="demo-search-button oj-fwk-icon-magnifier oj-fwk-icon oj-clickable-icon-nocontext"
                                           style="width: 32px;" role="button" aria-label="search" on-click="[[search]]"></a> 
                                    </oj-combobox-one>

                                </div>
                            </div>

                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label for="A3control">Currency</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <!--                                              <oj-input-text id="A3control" placeholder="Currency" value="{{currency}}"></oj-input-text>-->

                                    <oj-combobox-one id="currency" class="disable-element search-input" disabled="false"
                                                     value="{{currency}}"
                                                     options="[[tagsDataProvider2]]"
                                                     filter-on-open="rawValue"
                                                     on-oj-value-updated="[[search]]"
                                                     placeholder="Currency...">
                                        <a slot="end" id="search-button" class="demo-search-button oj-fwk-icon-magnifier oj-fwk-icon oj-clickable-icon-nocontext"
                                           style="width: 32px;" role="button" aria-label="search" on-click="[[getCurrency]]"></a> 
                                    </oj-combobox-one>

                                </div>
                            </div>
                        </div>
                    </div> 


                </div>
            </div>

            <!-- LC Workbench /// End ADD BY Mohamed Yasser -->
        </div>

        <div class="LCDetails" data-bind="visible: lCDetailsHide">


            <!-- LC Details /// Start ADD BY Mohamed Yasser -->

            <h2 class="">LC Details</h2>

            <div class="clear"></div>
            <br>

            <div class="oj-panel">
                <div class="oj-form-layout custom-form-stoj-form-layout custom-form-style">

                    <div class="oj-flex-item">
                        <div class="oj-form  oj-sm-odd-cols-12 oj-lg-odd-cols-4 oj-lg-labels-inline">  

                            <div class="oj-flex">  
                                <div class="oj-flex-item">
                                    <oj-label show-required for="A1control">Applicant commission</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-text id="A1control" class="disable-element" disabled="false"  placeholder="Applicant commission" value="{{applicantcommission}}"></oj-input-text>
                                </div>
                            </div>


                            <div class="oj-flex">  
                                <div class="oj-flex-item">
                                    <oj-label show-required for="A1control2">Benificiary Commission</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-text id="A1control8" class="disable-element" disabled="false"  placeholder="Benificiary Commission" value="{{benificiaryCommission}}"></oj-input-text>
                                </div>
                            </div>


                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label for="A3control">Tolerance</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-text id="A3control4" class="disable-element" disabled="false" placeholder="Tolerance" value="{{tolerance}}"></oj-input-text>
                                </div>
                            </div>
                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label for="A3control">LC Margin</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-text id="A3control9" class="disable-element" disabled="false" placeholder="LC Margin" value="{{LCMargin}}"></oj-input-text>
                                </div>
                            </div>

                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label for="B1control">LC Tolerance Percent</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-text id="B1control" class="disable-element" disabled="false" placeholder="Percent" value="{{tolerancePercent}}"></oj-input-text>
                                </div>

                            </div>
                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label for="B2control">LC Margin Percent</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-text id="B2control2" class="disable-element" disabled="false" placeholder="Percent" value="{{LCMarginPercent}}"></oj-input-text>
                                </div>
                            </div>



                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label for="B3control">Last Shipment Date</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-date id="datepicker8" class="disable-element" disabled="false" value="{{lastShipmentDate}}" placeholder="Last Shipment Date"> </oj-input-date>
                                </div>
                            </div>	

                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label for="A2control">Inco. Terms</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-select-one id="selectcomp6" class="disable-element" disabled="false" placeholder="Inco. Terms" value="{{incoTerms}}">
                                        <oj-option value="Type 1">Inco. Terms 1</oj-option>
                                        <oj-option value="Type 2">Inco. Terms 2</oj-option>
                                        <oj-option value="Type 3">Inco. Terms 3</oj-option>
                                        <oj-option value="Type 4">Inco. Terms 4</oj-option>
                                    </oj-select-one>
                                </div>
                            </div>
                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label for="A3control">Payment Terms</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-select-one id="selectcomp4" class="disable-element" disabled="false" placeholder="Payment Terms" value="{{paymentTerms}}">
                                        <oj-option value="Type 1">Payment Terms 1</oj-option>
                                        <oj-option value="Type 2">Payment Terms 2</oj-option>
                                        <oj-option value="Type 3">Payment Terms 3</oj-option>
                                        <oj-option value="Type 4">Payment Terms 4</oj-option>
                                    </oj-select-one>
                                </div>
                            </div>


                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label for="A2control">Shipment Port</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-select-one id="selectcomp7" class="disable-element" disabled="false" placeholder="Shipment Port" value="{{shipmentPort}}">
                                        <oj-option value="Type 1">Shipment Port 1</oj-option>
                                        <oj-option value="Type 2">Shipment Port 2</oj-option>
                                        <oj-option value="Type 3">Shipment Port 3</oj-option>
                                        <oj-option value="Type 4">Shipment Port 4</oj-option>
                                    </oj-select-one>
                                </div>
                            </div>
                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label for="A3control">Shipment Mode</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-select-one id="selectcomp5" class="disable-element" disabled="false" placeholder="Shipment Mode" value="{{shipmentMode}}">
                                        <oj-option value="Type 1">Shipment Mode 1</oj-option>
                                        <oj-option value="Type 2">Shipment Mode 2</oj-option>
                                        <oj-option value="Type 3">Shipment Mode 3</oj-option>
                                        <oj-option value="Type 4">Shipment Mode 4</oj-option>
                                    </oj-select-one>
                                </div>
                            </div>


                            <div class="oj-flex">  
                                <div class="oj-flex-item">
                                    <oj-label show-required for="A1control">Banck Account</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <!--                       <oj-input-text id="Banck_Account"  placeholder="Banck Account"  required value="{{banckAccount}}"></oj-input-text>-->

                                    <oj-combobox-one id="banckAccount" class="disable-element search-input" disabled="false"
                                                     value="{{banckAccount}}"
                                                     options="[[tagsDataProvider3]]"
                                                     filter-on-open="rawValue"
                                                     on-oj-value-updated="[[search]]"
                                                     placeholder="Banck Account...">
                                        <a slot="end" id="search-button" class="demo-search-button oj-fwk-icon-magnifier oj-fwk-icon oj-clickable-icon-nocontext"
                                           style="width: 32px;" role="button" aria-label="search" on-click="[[getBanckAccount]]"></a> 
                                    </oj-combobox-one>


                                </div>
                            </div>


                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label for="A2control">partial Shipment</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <!--                                            <oj-checkboxset id="checkboxSetAgreeId"  labelled-by="agreeId" data-bind="checked: partialShipment" value="{{partialShipment}}">
                                                                                    <oj-option id="agree" value="[[true]]" ></oj-option>
                                                                                </oj-checkboxset>-->

                                    <!--                                           <input type="checkbox" data-bind="checked: partialShipment" />-->         
                                    <label class="chechbox-container">
                                        <input  class="disable-element"  type="checkbox"  data-bind="checked: partialShipment">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>


                            <div class="oj-flex">  
                                <div class="oj-flex-item">
                                    <oj-label show-required for="A1control7">Transshipment</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <!--<oj-checkboxset id="checkboxSetAgreeId" labelled-by="agreeId2" value="{{transshipment}}">
                                                                                    <oj-option id="agree2" value="true"></oj-option>
                                                                                </oj-checkboxset>-->

                                    <!--                                            <input type="checkbox" data-bind="checked: transshipment" />-->  
                                    <label class="chechbox-container">
                                        <input  class="disable-element" type="checkbox"  data-bind="checked: transshipment">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>


                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label for="A2control">Other Terms</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-text-area id="A2control" class="disable-element" disabled="false" placeholder="Other Terms" rows="6" value="{{otherTerms}}"></oj-text-area>
                                </div>
                            </div>


                            <div class="oj-flex"> 
                                <div class="oj-flex-item">
                                    <oj-label for="A2control">Description</oj-label>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-text-area id="A2control" class="disable-element" disabled="false" placeholder="Description" rows="6" value="{{description}}"></oj-text-area>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- LC Details /// End ADD BY Mohamed Yasser -->
        </div>
    </div>
</div>


<!-- End Content // ADD BY Mohamed Yasser -->

<!-- Messages Start // ADD BY Mohamed Yasser -->
<!--<oj-messages id="oj-messages-id" messages="{{applicationMessages}}" display="general" 
             position="{}" class="custom-messages-style">
</oj-messages>-->

<!-- Messages End // ADD BY Mohamed Yasser -->

<!-- Dialog Start // ADD BY Mohamed Yasser -->

<!--<oj-dialog style="display:none" id="modalDialog1" title="Messages">
    <div slot="body">
        Are you sure?
    </div>
    <div slot="footer">

        <oj-button id="okButton" data-bind="click: submit">  Yes
        </oj-button>

        <oj-button id="okButton" data-bind="click: closePopup">  No
        </oj-button>

    </div>
</oj-dialog>-->

<!-- Dialog End // ADD BY Mohamed Yasser -->