<div [style.direction]="trans.direction()">
    <div class="header">
        <h4 class="modal-title text-start">{{ (type + '_label') | translation }}</h4>
        <button type="button" class="close text-end" aria-label="Close" mat-dialog-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #myForm="ngForm">
        <div class="modal-body text-start">
            <label>{{'selectanEmployee' | translation }} </label><br>

            <select class="templateSelect" id="Names" [(ngModel)]="assignName" required name="assignName">
                <option value=" "> </option>
                <option *ngFor="let option of allEmployeesName" [id]="option.PERSON_ID" [ngValue]="option.PERSON_NAME">
                    {{option.PERSON_NAME}}</option>
            </select>


            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="switch1"
                    (change)="invoice.UrgentFlag = $event.srcElement.checked ? 'U' : 'N' " [checked]="invoice.UrgentFlag =='U'">
                <label class="custom-control-label" for="switch1">{{'setInvoiceUrgent' | translation}}</label>
            </div>

        </div>
        <div class="footer text-center">

            <button type="submit" [disabled]="myForm.invalid  || is_request_sending"
                (click)="invoiceAction(type == 'assign'?'ASSIGN':'REASSIGN')">
                <span>
                    <i [ngClass]="is_request_sending ? 'spinner-border spinner-border-sm' : 'fa fa-user-plus'"
                        role="status" aria-hidden="true"></i>
                    {{(is_request_sending ? 'Loading' : type + '_label') | translation }}
                </span>
            </button>

        </div>
    </form>

</div>