.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.close
{
    font-size: 25px !important;
}
button {
    margin: 0 auto;
    /* background-color: #712c81; */
    color: #712c81;
    font-weight: bold ;
    border: none;
    box-shadow: none;
    padding: 10px 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 12px;
}