<section id="STCnotFound">
<div class="con-image">

    <img src="{{common.getAssetsPath()}}img/404-dribbble.gif">
</div>
<h2 class="text-center">Oops! Something Went Wrong</h2>
<h6 class="text-center">We Couldn't Find The Page You Were Looking For . </h6>
<h6 class="text-center">Why Not Try Back To The <a [routerLink]="['/DashBoard/MyAccount']" skipLocationChange>Home Page </a> . </h6>
</section>
