#STCnotFound 
{
    padding: 0px 0px 30px ; 
}
#STCnotFound  .con-image
{
    position: relative ; 
    width: 100% ; 
    height: 500px ;
}
@media only screen and (max-width: 991px)
{
    #STCnotFound  .con-image
    {
        height: 550px;
    }
}
@media only screen and (max-width: 500px)
{
    #STCnotFound  .con-image
    {
        height: 230px;
    }
}
#STCnotFound  .con-image img 
{
    position: absolute ; 
    height: auto ;
    max-height: 100% ;
    width: auto ; 
    max-width: 100% ;
    top:0 ; 
    bottom:0 ; 
    left:0 ; 
    right:0 ; 
    margin: auto ;
}
#STCnotFound h2{

    color:#712c81;
    font-weight: bold ;
}
#STCnotFound h6 
{
    color:#999 ;
    /* font-weight: bold ; */
    line-height: 25px ;
}
#STCnotFound h6  a
{
    color:#da3f7b ; 
    font-weight: bold ;
}
#STCnotFound h6  a:hover 
{
    text-decoration: none ;
}