<h1 class="header_headline_style animated fadeInUp"> <span><oj-bind-text value="[[delegationRequest]]"></oj-bind-text></span></h1>
<div class="request_body_styling animated fadeInUp">
    <div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label for="EffectiveStartDate" data-bind="text: EffectiveStartDateLBl"/>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-date id="text-input" value="{{searchModel.EffectiveStartDateVal}}"></oj-input-date>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item" >
                        <label for="EffectiveEnddate" data-bind="text: EffectiveEnddateLBL"/>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-date id="text-input" value="{{searchModel.EffectiveEnddateVal}}"></oj-input-date>
                    </div>
                </div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <label for="personNumber" data-bind="text: personNumberLbl"/>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="text-input" value="{{searchModel.personNumberVal}}"></oj-input-text>
                    </div>
                </div>

                
                

            </div>

        </div>

        <div class="oj-flex">
          
            <div class="oj-flex-item">
                <oj-button class="apBtn-2" on-oj-action='[[SearchBTn]]'>
                    <span><oj-bind-text data-bind="text:searchLbl"></oj-bind-text></span>
                </oj-button>
            </div>
        </div>

        <div>
            <oj-table class="apTable-1"  id='table' aria-label='Departments Table'
                      data='[[dataSource]]'
                      selection-mode='{"row": "multiple", "column": "multiple"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      scroll-policy-options='{"fetchSize": 10}'
                      columns='[[columnArray]]'
                      on-oj-before-current-row="[[tableSelectionListener]]"
                      display="grid">
                <oj-paging-control id="paging" data='[[dataSource]]' page-size='10' slot='bottom' class="apPaging-1 display-inline-flex">
                </oj-paging-control>
            </oj-table>

        </div>

    </div>
</div>