<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div><oj-messages position="{}" display="general" messages="[[messages]]"></oj-messages></div>
<h1 class="header_headline_style"><span> <oj-bind-text value="[[reassignRequestLbl]]"></oj-bind-text> </span></h1>
<div class="oj-form-layout oj-panel">
    <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">

        <div class="form-row">
            <div class="form-group col-md-4 srjob-col-pad">

                <label for="personNumber" data-bind="text: personNumberLbl"/>
                <oj-select-one  id="select"  class="form-control" 
                                placeholder="{{eitPlaceHolder}}"
                                value="{{searchModel.person_number}}"
                                options="{{personNameArr}}">
                </oj-select-one>


                <label for="eitName" data-bind="text: eitNameLbl"/>
                <oj-select-one id="selecteit" class="form-control"  
                               placeholder="{{eitPlaceHolder}}"
                               value="{{searchModel.code}}"
                               options="{{EitName}}">
                </oj-select-one>

            </div>
        </div>

        <div class="oj-flex">
            <div class="oj-flex-item">
                <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[btnReAssignSelfServiceRequest]]'>
                    <span><oj-bind-text value="[[reassignLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                </oj-button>
                <oj-button  id="searchBtn" class="apBtn-2" on-oj-action='[[searchPerson]]'>
                    <span><oj-bind-text value="[[searchLbl]]"></oj-bind-text></span>
                </oj-button>

                <oj-button class="apBtn-2" on-oj-action='[[reset]]'>
                    <span><oj-bind-text value="[[clearLbl]]"></oj-bind-text></span>
                </oj-button>

            </div>
        </div>

        <div>
          <oj-table id='tableDetails' class='apTable-1' aria-label='Departments Table'
                      data='[[dataSource]]'
                      selection-mode='{"row": "multiple", "column": "multiple"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      display="grid"
                      on-oj-before-current-row="[[tableSelectionListener]]"
                      columns='{{columnArray}}'>
                <oj-paging-control id="paging" class='apPaging-1' data='[[dataSource]]' page-size='10' slot='bottom'>
                </oj-paging-control>
            </oj-table>
        </div>
    </div>
</div>
<div id="dialogWrapper">
    <oj-dialog class = "oj-dialog-content oj-dialog-default-content main-dialog effective-dialog" id="NoDialog" >
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: confirmMessage"></label>
        </div>

        <div slot="body" id="demo">
            <div>
                <oj-table id='table' class='apTable-1' aria-label='Departments Table'
                          data='[[dataSourceApprovalList]]'
                          selection-mode='{"row": "multiple", "column": "multiple"}'
                          dnd='{"reorder": {"columns": "enabled"}}'
                           columns-default.sortable='disabled'
                          display="grid"
                          on-oj-before-current-row="[[tableApprovalListSelectionListener]]"
                          columns='{{columnArrayApprovalList}}'>
                    <oj-paging-control id="pagingpopup" class='apPaging-1' data='[[dataSourceApprovalList]]' page-size='5' slot='bottom'>
                    </oj-paging-control>
                </oj-table>
                
                
            </div>
        </div>
        <div slot="footer">
            <oj-button disabled="{{oprationdisabledApprovalList}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[SubmitButtonDialog]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[cancelButtonDialog]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>

        </div>
    </oj-dialog>
</div>
