<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div><oj-messages position="{}" display="general" messages="[[messages]]"></oj-messages></div>
<h1 class="header_headline_style"><span> <oj-bind-text value="[[trackRequestLbl]]"></oj-bind-text> </span></h1>
<div class="oj-form-layout oj-panel">
    <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-md-labels-inline">
            
        
         <div class="form-row">
            <div class="form-group col-md-6 srjob-col-pad">
                <label for="personNumber" data-bind="text: personNumberLbl"/>
<!--                <oj-input-text id="searchName" value="{{searchModel.person_number}}" >
                </oj-input-text>   -->
                <oj-combobox-one  id="select" class="form-control"  
                               placeholder="{{eitPlaceHolder}}"
                               value="{{searchModel.person_number}}"
                               options="{{personNameArr}}">
                </oj-combobox-one>
                
                
                <label for="eitName" data-bind="text: eitNameLbl"/>
                <oj-select-one id="select" class="form-control"  
                               placeholder="{{eitPlaceHolder}}"
                               value="{{searchModel.code}}"
                               options="{{EitName}}">
                </oj-select-one>

                <label for="status" data-bind="text: statusLbl"/>
                <oj-select-one id="select" class="form-control"  
                               placeholder="{{eitPlaceHolder}}"
                               value="{{searchModel.status}}"
                               options="{{statusArr}}">
                </oj-select-one>
            </div>

            <div class="form-group col-md-6 srjob-col-pad">
                <br/>
                <div class="btn_row_st" align="center">
<!--                    <oj-button class="apBtn-2" on-oj-action='[[BtnSearch]]'>
                        <span><oj-bind-text value="[[search]]"></oj-bind-text></span>
                    </oj-button>

                    <oj-button class="apBtn-2" on-oj-action='[[BtnReset]]'>
                        <span><oj-bind-text value="[[clearLBL]]"></oj-bind-text></span>
                    </oj-button>-->

                </div> 
            </div>
        </div>
        <div class="oj-flex">
            <!--<div class="oj-flex-item">-->
                 <oj-button class="apBtn-2" on-oj-action='[[BtnSearch]]'>
                        <span><oj-bind-text value="[[search]]"></oj-bind-text></span>
                 </oj-button>
<!--             <oj-button class="apBtn-2 apBtn-disabled-2" on-oj-action='[[getAllSelfServiceRequest]]'>
                    <span><oj-bind-text value="[[getAllLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                </oj-button>-->
             <oj-button  disabled="{{oprationdisabled}}" class="approval-btn apBtn-2 apBtn-disabled-2" on-oj-action='[[workglow_Approval]]'>
                <span><oj-bind-text value="[[Approval_list]]"></oj-bind-text></span>
            </oj-button>
                <oj-button disabled="{{oprationdisabled}}" class="apBtn-2 apBtn-disabled-2" on-oj-action='[[btnDeleteSelfServiceRequest]]'>
                    <span><oj-bind-text value="[[deleteLbl]]"></oj-bind-text></span>
                    <span slot='endIcon' class="apiconClass fa fa-pencil-square-o"></span>
                </oj-button>
            <oj-button class="apBtn-2" on-oj-action='[[BtnReset]]'>
                        <span><oj-bind-text value="[[clearLBL]]"></oj-bind-text></span>
              </oj-button>
            <oj-button class="apBtn-2" on-oj-action='[[BtnExportToExcel]]'>
                        <span><oj-bind-text value="[[exportLBL]]"></oj-bind-text></span>
              </oj-button>
            <!--</div>-->
        </div>

        <div>
            <oj-table id='table' class='apTable-1' aria-label='Departments Table'
                      data='[[dataSource]]'
                      selection-mode='{"row": "multiple", "column": "multiple"}'
                      dnd='{"reorder": {"columns": "enabled"}}'
                      display="grid"
                      on-oj-before-current-row="[[tableSelectionListener]]"
                      columns='{{columnArray}}'>
                <oj-paging-control id="paging" class='apPaging-1' data='[[dataSource]]' page-size='10' slot='bottom'>
                </oj-paging-control>
            </oj-table>
        </div>
    </div>
</div>
<div id="dialogWrapper">
    <oj-dialog class="main-dialog main-dialog-width" id="NoDialog">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: confirmMessage"></label>
        </div>

        <div slot="body">
            <label data-bind="text: deleteMessageLbl"></label>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[SubmitButtonDialog]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[cancelButtonDialog]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>

        </div>
    </oj-dialog>
       <div id="dialogWrapper">
        <oj-dialog class = "approvalListDialog oj-dialog-content oj-dialog-default-content main-dialog effective-dialog" id="modalDialog1">
            <div slot="header" class="oj-helper-clearfix">
                <label data-bind="text:Approval_list " />
            </div>
            <div slot="body" id="demo">

                <!-- ko foreach: datacrad -->
                <div class="approval-card-body app-crd-bdy-received app-crd-bdy-border-ar" data-bind="css: bodyStatus">
                    <div class="approval-card-header">
                        <h5 class="app-card-Pname"><span data-bind="text: personName"></span>   </h5>
                        <p class="app-crd-type  badge badge-secondary" data-bind="css: status"><span data-bind="text: FYA"></span></p>
                    </div>
                    <div class=" row approval-card-inf-body">
                        <div class="col-md-6"> <span class="badge badge-pill app-card-badge" data-bind="css: appCardStatus"><span data-bind="text: Approved"></span></span> </div>

                        <div class="col-md-6"><blockquote class="blockquote app-card-blockqoute">
                                <footer class="blockquote-footer"> <small><span data-bind="text: date"></span></small></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <div slot="footer">
                <oj-button class="apBtn-2" on-oj-action='[[closeDialog]]'>
                    <span><oj-bind-text value="[[ok]]"></oj-bind-text></span>
                </oj-button>
            </div>
        </oj-dialog>
    </div>
    
       
      <oj-dialog class="main-dialog main-dialog-width" id="DialogConfirmationWhenApproved">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: confirmMessage"></label>
        </div>

        <div slot="body">
            <label data-bind="text: DialogConfirmationWhenApprovedLbl"></label>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[DialogConfirmationWhenApprovedBtnyes]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[DialogConfirmationWhenApprovedBtnCancel]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>

        </div>
       </oj-dialog>
    
       <oj-dialog class="main-dialog main-dialog-width" id="DialogupdateWithdraw">
        <div slot="header" class="oj-helper-clearfix">
            <label data-bind="text: confirmMessage"></label>
        </div>

        <div slot="body">
            <label data-bind="text: confirmationWithdrawMessageLbl"></label>
        </div>
        <div slot="footer">
            <oj-button class="apBtn-2" on-oj-action='[[updateWithdrawBtnYes]]'>
                <span><oj-bind-text value="[[yes]]"></oj-bind-text></span>
            </oj-button>

            <oj-button class="apBtn-2" on-oj-action='[[updateWithdraBtnCancel]]'>
                <span><oj-bind-text value="[[no]]"></oj-bind-text></span>
            </oj-button>

        </div>
       </oj-dialog>
    
    
    
</div>
