
@media (min-width: 768px) and (max-width:991px) {}

@media (min-width: 992px) and (max-width:1199px) {}

:root {
    --main-color: #175591;
    --secondary-color: #00A1DB;
    /* --dashboard-img: url(images/bck-cutting.png); */
}

/* start Globally */

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden !important;
}
.mainModule{
    padding: 0 !important;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(to top,#000000f0, #0000002e, #0000);
    width: 100%;
    height: 100%;
}

.upper {text-transform: uppercase;    font-weight: bold; }

ul {
    list-style: none;
    padding: 0;
}

a {text-decoration: none;}
a:hover {text-decoration: none}

.toggle-btn {
    float: right;
    margin-top: 10px;
}

.toggle-btn button {
    color: var(--secondary-color) !important;
    background: none !important;
    border: none !important;
    text-decoration-line: underline;
    font-size: 14px;
}

.toggle-btn button:hover {
    color: var(--main-color) !important;
    text-decoration-line: underline;
    cursor: pointer;
}

.oj-listbox-drop {
    width: 230px !important;
}

.main-btn button {
    background-color: var(--main-color) !important;
    border: 1px solid var(--main-color) !important;
    border-radius: 4px;
    margin-top: 10px;
    font-weight: bold !important;
    color: #fff !important;
    height: 40px;
    width: 120px;
    font-size: 14px;
    cursor: pointer !important;
}


/* end gloabaly */

/* start navbar top */

/* .navbar {
    padding: 30px;
    margin-bottom: 0 ;
}

@media (max-width:1051px) {
    .navbar {
        background-image: linear-gradient(to bottom, #656565,#888, #c0bfbf, #fff );
        border: none;
    } 
} */

header {
    transition: all ease-in-out 0.5s;
}


.navbar {
    padding: 10px;
    /*box-shadow: 0px 5px 15px #ddd;*/
    background: #fff0;
    border: none;
    color: #555;
    font-weight: bold;
    margin-bottom: 0;
    z-index: 10;
    transition: all 0.4s ease-in-out;
}

.navbar-fixed-top  {
    background: #fff !important;
    box-shadow: 0px 5px 15px #ddd;
    top: 0;
    z-index: 10;
    min-height: 60px;

    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
/* stroke */
nav.stroke li a{
    position: relative;
}
nav.stroke li a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}
nav.stroke li a:hover:after {
    width: 100%;
}

@-webkit-keyframes fill {
    0% {
        width: 0%;
        height: 1px;
    }
    50% {
        width: 100%;
        height: 1px;
    }
    100% {
        width: 100%;
        height: 100%;
        background: #333;
    }
}

.navbar-inverse .navbar-nav>li>a {
    margin-right: 30px;
    color: #777;
    font-weight:bold;
}
@media (min-width:992px) and (max-width:1200px)  {
    .navbar-inverse .navbar-nav>li>a {
        margin-right: 10px;
    }
    .navbar .login-btn {
        padding: 5px 5px !important;
        margin: 11px 2px;
    }

    html[dir='rtl'] .lang-item a {
        padding-left: 20px !important;
    }
}

@media (max-width:991px) {
    .navbar-inverse .navbar-nav>li>a {
        margin-right: 0px;
    }

    .navbar .login-btn {
        padding: 5px 5px !important;
        margin: 11px 1px !important;
    }


    html[dir='rtl'] .navbar-inverse .navbar-nav>li>a {
        margin-right: 5px;
    }
}

@media (max-width:776px) {
    .navbar-inverse .navbar-nav>li>a {
        border-bottom: 1px solid #eee;
    }
}

.navbar-inverse .navbar-nav>li>a:focus, 
.navbar-inverse .navbar-nav>li>a:hover {
    color: #555;
}

.navbar-inverse .navbar-toggle {
    border: none;
}

.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form {
    border: none !important;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background: #eee;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: var(--main-color);
}

.navbar-brand {
    padding: 5px;
}

.navbar .login-btn {
    margin: 11px 5;
    padding: 5px 25px;
    background: transparent;
    border: 1px solid var(--main-color);
    border-radius: 4px;
}

.navbar .login-btn a {
    color: var(--main-color) !important;
}

.navbar .signup-btn {
    background: var(--main-color);
}

.navbar .signup-btn {
    color: #fff !important;
}

.navbar #buttons-container {
    display: inline-block;
    vertical-align: top;
    float: left;
}
html[dir='ltr'] .navbar #buttons-container{
    float: right;
}

@media (max-width:768px) {
    html[dir='ltr'] .navbar #buttons-container{
        float: none;
    }
}

@media (max-width:500px) {
    .navbar #buttons-container {
        display: table;
        margin: auto;
        float: none;
    }
}

.oj-navigationlist-item:hover {
    border-bottom: none !important;
}

.big-btn {
    height: 130px;
    margin-bottom: 20px;
}

@media (max-width:500px) {
    .big-btn{
        display: block;
        text-align: center
    }
}


.big-btn button {
    text-align: center;
    width: 100px;
    height: 100px;
    background: #FBFBFB !important;
    color: var(--main-color) !important;
    margin-right: 20px;
    box-shadow: 0px 4px 12px #ccc !important;
    border-radius: 5px;
}

.big-btn button:hover {
    box-shadow: 0px 10px 12px #ccc !important;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.big-btn .oj-button-label {
    display: inline;
}

.big-btn .btn-text {
    font-size: 14px;
    overflow: visible;
    white-space: normal;
    line-height: 15px;
    padding: 0;
}

/* end  */

/* start carousel */

.carousel .carousel-control i {
    color: #fff;
    position: absolute;
    top: 45%;
}

.header-text {
    position: absolute;
    top: 15%;
    left: 20%;
    color: #fff;
}

html[dir="rtl"] .header-text {
    left: 10%;
}

.header-text h4 {
    font-weight: bold;
    color:black;
}
.header-text h3 {
    font-weight: bold;
}

.header-text p {
    font-size: 18px;
    letter-spacing: 0.5;
}

@media (max-width: 600px) {
    .header-text h3 {
        font-weight: bold;
        font-size: 16px;
        margin: 0;
    }

    .header-text p {
        font-size: 12px;
        letter-spacing: 0;
        margin: 0;
    }

    .header-text .main-btn button {
        height: 25px;
        width: 100px;
        font-weight: normal;
        font-size: 12px;
    }
}

/* end carousel */

/* start models */

.models {
    margin: 60px 0;
    text-align: center;
}

.models h2 {
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: bold;
}

.models img {
    width: 250px;
}

.models .main-btn {
    margin-top: 60px;
}

/* end models */

/* start img section */

.img-section img {
    width: 100%;
}

.img-section .img-info {
    text-align: center;
    background: #f6f3f2;
    padding: 40px 0;
}

.img-section .img-info h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.img-section .img-info p {
    font-size: 16px;
    line-height: 1.6;
}

/* end img section */

/* start mapping section */

.mapping {
    margin: 60px 0;
}

.mapping h3 {
    margin-bottom: 40px;
    font-size: 26px;
}

.mapping .mapping-title {
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: center;
}

.mapping li {
    margin: 20px 0;
}

.mapping .mapping-icon {
    display: inline-block;
    width: 40px;
    text-align: center;
    margin: 0 20px;
    color: var(--main-color);
}

.mapping h5 a {
    color: #333 !important;
    font-weight: bold;
    font-size: 18px;
}

.mapping .connected {
    font-weight: bold;
    margin-top: 80px;
}


/* end mapping section */

/* start services */



.services h2 {
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-weight: bold;
}

.services {
    overflow:hidden;
}

.services .service {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 200px;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.services .item-1 {
    background-image: url(../css/images/maintenance.jpg) ;
}

.services .item-2 {
    background-image: url(../css/images/complain.jpg) ;
}

.services .item-3 {
    background-image: url(../css/images/inquery.jpg) ;
}

.services .item-4 {
    background-image: url(../css/images/service.jpg) ;
}

.services .item-5 {
    background-image: url(../css/images/vehicle-history.jpg) ;
}

.services .item-6 {
    background-image: url(../css/images/test-drive.jpg) ;
}

.services .item-7 {
    background-image: url(../css/images/reservation.jpg) ;
}

.services .item-8 {
    background-image: url(../css/images/products.jpg) ;
}

.services .service:hover  {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1); /* IE 9 */ 
    transform: scale(1.1);
}

footer {
    background: #1c1b1b;
}

footer p {
    font-size: 16px;
    padding: 25px 0 15px;
    color: #fafafa;
}

/* end services */

/* start Specification */

.Specification {
    margin: 60px 0;
}

.Specification h2 {
    font-weight: bold;
    text-transform: uppercase;
}

.Specification .car-type {
    position: relative;
    display: inline-block;
    background: #eee;
    width: 70%;
    margin-left: 15%;
    padding: 10px 25px 5px;
    color: var(--secondary-color);
    cursor: pointer;
}

.Specification .car-type i {
    position: absolute;
    right: 20px;
    top: 17px;
}

.overview .category,
.overview .overview-info {
    display: inline-block;
}

.overview .category {
    background: #e4dcd3;
    width: 25%;
    padding: 10px 30px 5px;
}

.overview .overview-info {
    background: #fff;
    border: 1px solid #e4dcd3;
    width: 68%;
    padding: 10px 30px 5px;
}

.car-collapse {
    margin: 60px 0;
}

.car-collapse .collapse-title {
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px 30px 10px;
    font-weight: bold;
    cursor: pointer;
}





/* end Specification */

/* start product page
============================================================ */

/* start product header */

.product-header {
      text-align: center;
}

.product-services {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 0;
}

.product-services .mapping-icon {
    display: inline-block;
    width: 20px;
    text-align: center;
    margin: 0 20px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.product-btns {
    text-align: center;
}

.product-btns:hover .mapping-icon {
    transform: scale(1.2);
}

.product-services h5 a {
    color: #fff !important;
    font-weight: bold;
    font-size: 20px;
}

/* end product header */

/* start small nav */

.small-nav {
    min-height: 60px;
    margin-bottom: 20px;
}

.small-nav .car-name {
    color: #555;
    margin: 28px;
    text-transform: uppercase;
    margin-right: 300px;
}

.small-nav .nav-item a {
    color: #555;
}

.small-nav .active a {
    color: var(--secondary-color);
}

/* end small nav */

/* start highlights */

.highlights h2,
.experience h2,
.thought h2,
.passion h2,
.highlights h3,
.experience h3,
.thought h3,
.passion h3 {
    font-weight: bold;
}

.highlights .highlights-info,
.experience .experience-info,
.thought .thought-info,
.passion .passion-info {
    margin: 20px 0 80px;
    line-height: 1.6;
    font-size: 18px;
}

.highlights img,
.experience img,
.thought img,
.passion img {
    margin-bottom: 60px;
}

/* end highlights */

/* start gallery */

.gallery h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 70px;
}

/* end gallery */

/* start pages header */

header {
    padding: 10px 0 0 0;
}

html[dir="rtl"] header {

}

header h3 {
    margin-top: 15px;
    color: var(--secondary-color);
}

.head-avatar {
    padding-top: 8px;
}

/* change language header */

.lang-item a {
    padding-left: 80px !important;
    cursor: pointer;
}

@media (max-width: 991px) {
    .lang-item a {
        padding-left: 10px !important;
    }
}

header .lang-btn {
    display: inline-block;
    margin-top: 10px;
    float: left !important;
    transition: all .2s ease-in-out;
}

.lang-btn button {
    background: transparent !important;
    border: none;
    padding: 12px 0;
    color: var(--main-color) !important;
}

.lang-btn .btn-text {
    padding: 0;
    font-size: 14px !important;
}

.lang-btn button:hover {
    cursor: pointer;
}
.lang-btn:hover {
    cursor: pointer;
    margin-top: 8px;
}

@media (max-width:767px) {
    .head-avatar {
        display: table;
        margin: auto;
        float: none;
    }
}

.gh-logo  {
    width: 100px;
    max-height: 0px;
    display: inline-block;
}

.dash-logo {
    margin: auto;
    display: block;
}

@media (max-width:768px) {
    .gh-logo {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .gh-logo img {
        max-width: 25%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
    }

    header .pull-right {
        float: none !important;
        text-align: center;
        position: relative;
    }
}

@media (max-width:500px) {
    .gh-logo img {
        max-width: 35%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
    }
}

.nav-list {
    width: 80px;
    display: inline-block;
}

.navbar-nav .acc-item {
    padding-top: 7px;
    position: relative;
}

.dropdown-avatar {
    top: 50px !important;
    position: absolute;
}

oj-menu-button .oj-button-icon{
    color: #8a8d8f !important;
}
@media (max-width: 991px) {


    .navbar-nav {
        text-align: center;
    }

    .dropdown-avatar {
        top: 350px !important;
    }

}

.profile-btn {
    margin-bottom: 20px !important;
}

.profile-btn button{
    background-color: transparent !important;
    border: none !important;
    font-size: 14px;
    color: #555 !important;
    cursor: pointer !important;
}

.profile-btn button:focus {
    color: brown !important;
}

.nav-list .oj-navigationlist-item-icon {
    color: var(--secondary-color) !important;
}



/* start main form */

.main-form {
    border: 1px solid #eee;
    border-radius: 8px;
    width: 300px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    background: #fafafa;
    padding: 0 20px 5px;
    box-shadow: 5px 5px 10px #eee;
}

.main-form h5 {
    font-weight: bold;
}

.main-form input,
.main-form .oj-select-choice,
.main-form .oj-inputdatetime-input-container {
    width: 250px !important;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #DDD;
    font-size: 12px;
}

.main-form textarea {
    width: 230px !important;
    height: 120px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #DDD;
    font-size: 12px;
}

.main-form .oj-inputdatetime-input-trigger {
    height: 30px;
    box-shadow: 2px 2px 5px #DDD;
    border-radius: 0px 5px 5px 0px;
}

/* start question mark section */

.question-section {
    width: 80%;
    float: right;
}

.question-section h4 {
    color: var(--secondary-color);
    margin: 30px 0 10px;
}

.question-mark {
    color: var(--secondary-color);
    float: right;
    margin: 10px;
}


/* end globally */

/* start home page ===========================================*/

.home-page {
    /* background-image: url(images/home-r.png); */
    background-repeat: no-repeat; 
    background-position: left;   
    min-height: 100vh;
    background-size: contain;
    padding: 0;
}
html[dir='ltr'] .home-page{
    /* background-image: url(images/home.png); */
    background-position: right;
}

@media (max-width: 1050px) {
    .home-page {
        background-image: none !important;
    }
}

.home-title {
    margin-bottom: 50px;
    max-width: 500px;
}

.home-title h2 {
    font-size: 45px;
}

.left-section{
    padding: 20px 30px;
}

.homCrdRow{
    max-width: 500%;
}
@media (max-width:768px) {

    .home-title h2 {
        font-size: 25px;
    }
}

.home-offers {
    margin: 50px 0;
}

.home-offers li {
    padding-bottom: 15px;
}
#homeFtr{
    width: 100%;
    bottom: 0;
    display: flex;
    padding: 0px 30px;
    font-weight: bold;
}
html[dir="ltr"] .ftrPrgh p{
    margin-right: 30px;
}
html[dir="rtl"] .ftrPrgh p{
    margin-left: 30px;
}
html[dir="ltr"] .ftrIcn{
    position: absolute;
    right: 0;
    padding: 20px 30px;
    bottom: 0;
}

html[dir="rtl"] .ftrIcn{
    position: absolute;
    left: 0;
    padding: 20px 30px;
    bottom: 0;
}

@media (min-width: 768px) and (max-width:991px) {
    /* .home-bck {
        width: 150%
    } */
}

@media (max-width:767px) {
    .home-bck {
        display: none;
    }
}

/* end home page */

/* start our location page ===========================================*/

.location-container {
    background-image: url('./images/location-page.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.form-container {
    width: 100%;
}

.loc-form {
    width: 80%;
    margin-top: 50px;
    /* margin-bottom: 50px; */
    background-color: #fafafa;
    padding: 15px;
    border-radius: 7px;
}

html[dir='rtl'] .loc-form {
    float: left;
}

@media (max-width: 991px) {

    html[dir='rtl'] .loc-form {
        float: unset;
    }
}

.loc-form h4 {
    font-weight: bold;
}

.loc-form .oj-select-choice {
    width: 150% !important;
    height: 30px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px #ccc;
}

.location-form .btnPrimary {
    display: block;
    width: 100%;
    margin-top: 30px;
}
.location {
    text-align: right;
    padding-top: 25px;
    overflow: hidden;
}

.location-bck {
    background-image: url('./images/location.png');
    background-position: center;
    background-size: cover;
    height: 60vh;
    margin: 10vh auto;
    width: 90%;
}

@media (max-width: 991px) {

    .location-container {
        height: unset;
    }

    .loc-form {
        margin: auto;
        overflow: hidden;
    }

    .mapouter {
        margin: auto;
    }
}

@media (max-width: 768px) {
    .location-form {
        display: table;
        margin: auto;
        padding: 0;
        margin-bottom: 30px;
    }
}


/* end our location page */

/* start offers page */

.offers-page {
    background-color: #555;
    height: 100vh;
}

.offer-head {
    color: var(--secondary-color);
    margin-top: 35vh;
    text-align: center;
}

@media (max-width:991px) {
    .offers-container {
        height: auto;
    }
}

.signup-page,
.signin-page {
    background-image: -webkit-linear-gradient(#fff, #fffffffa, #fffffffa, #ffffffc7), url('./images/bck-car.png');
    background-size: cover;
    background-position: top;
    min-height: 100vh;
}

.signup-page {
    background-position: bottom !important;
    background-size: unset;

}

.sign-form {
    background-color: transparent;
    width: 360px;
    display: block;
    margin: auto;
    padding: 20px;
}

.loc-search {
    padding: 5px 0 0 0;
    margin: unset;
    width: 70%;
}

.sign-form h3 {
    font-weight: lighter;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--secondary-color);
}

.sign-form .formInput input {padding: 0 15px;font-size: 14px;}

.not-account label {
    margin-top: 30px;
}


@media (max-width:350px) {
    .sign-form {
        width: 300px;
    }

    .sign-form input {
        width: 145%;
    }

    .signup-page,
    .signin-page {
        height: auto;
    }
}

.sign-form .mybtn {
    display: block;
}

#haveAccount button {
    color: var(--secondary-color);
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* end signUp page */


/* start dashboard page ================================= */

.dashboard-page {
    /* background-image: var(--dashboard-img); */
    background-repeat: no-repeat; 
    /* background-position: right;    */
    min-height: 100vh;
    background-size: contain;
    padding: 0;
}

html[dir='ltr'] .dashboard-page{
    /* background-image: var(--dashboard-img);
    background-position: left; */
}

.dashboard-page .dashboard-content {
    width: 50%;
    float: right;
}

@media (max-width: 1050px) {
    .dashboard-page {
        background-image: none !important;
    }

    .dashboard-page .dashboard-content {
        width: 80%;
        float: none;
        margin: auto;
    }
}

.dashboard-page .dash-title {
    text-align: center;
    margin-top: 100px;
}

.dashboard-page .dash-title h2 {
    font-size: 35px;
    letter-spacing: 1px;
}

.dashboard-page .dash-title h4 {
    font-size: 25px;
    font-weight: lighter;
}

.dashboard-page .dash-components {
    margin: 30px auto;
    text-align: center;
}

.dashboard-page .dash-img-div {
    padding: 0 !important;
}

/*  End dashboard page */

/* start maintennance page ====================================== */

.maintenance-container {
    background-image: -webkit-radial-gradient(circle, #ffffffc2, #fff, #fff), url(./images/main-bck.png);    
    background-position: center;
    background-size: cover;
    height: auto;
}

@media (max-width:991px) {
    .maintenance-container {
        height: auto;
    }
}

.maintenance-div {
    padding: 20px 0 40px 40px;
}

@media (max-width:767px) {
    .maintenance-div {
        display: table;
        margin: auto;
        padding: 0;
        margin-bottom: 30px;
    }
}

.maintenance-div .btnPrimary {
    display: block;
    width: 280px;
    margin-top: 30px;
}

.maintenance-div h3 {
    color: var(--secondary-color);
}

.maintenance-container .right-slider h3 {color: var(--secondary-color);}

.maintenance-container .right-slider h5 {color: #999;margin-bottom: 30px;}

.right-slider {
    border: none !important;
    background-color: transparent;
}

@media (max-width:991px) {
    .booking-slider .toggle-btn {
        display: table ;
    }
}

#drawer {
    width: 100%
}

.slider-item {
    border-radius: 8px;
    background-color: #fafafa;
    margin: 15px 0;
}

.slider-item .label-line {
    display: block;
    padding-bottom: 6px;
    white-space: nowrap;
}

.slider-item .label-line label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px !important;
    font-size: 14px;
    font-weight: normal;
    padding: 0 7px;
    font-family: 'Raleway';
    white-space: normal;
    line-height: 1.25;
}

.slider-item .fa-calendar-alt label {padding-left: 10px;}

.slider-item .label-line:before {
    color: var(--main-color) ;
    line-height: 14px;
    vertical-align: top;
}

.oj-pagingcontrol-nav-input-section,
.oj-pagingcontrol-nav-input-summary {display: none !important}

.oj-pagingcontrol-nav {text-align: center;margin-top: 20px}

.oj-pagingcontrol-nav-arrow-section a {
    background: transparent;
    color: var(--main-color);
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 4px;
    padding: 5px 8px;
    font-size: 14px;
    min-width: 30px;
    min-height: 30px;
}

.oj-pagingcontrol-nav-page.oj-disabled{
    background: var(--main-color);
    color: #fff;
    padding: 5px 8px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    margin: 0 4px;
    min-width: 30px;
    min-height: 30px;
}

.oj-pagingcontrol-nav-arrow-section a:hover {
    background: none !important;
}

/* end maintennance page */

/* start complain page */

.complain-container {
    background-image: -webkit-radial-gradient(circle, #ffffffc2, #fff, #fff), url(./images/main-bck.png); 
    background-position: center;
    background-size: cover;
}

@media (max-width:991px) {
    .complain-container {
        height: auto;
    }
}

.complain-div {
    padding: 20px 0 40px 40px;
    background-color: transparent;
    height: 100%;
}

@media (max-width:767px) {
    .complain-div {
        display: table;
        margin: auto;
        padding: 0;
        margin-bottom: 30px;
    }
}

.complain-div .btnPrimary {
    display: block;
    width: 280px;
    margin-top: 30px;
}

.complain-div h3 {
    color: var(--secondary-color);
}

.complain-container .right-slider h3 {color: var(--secondary-color);}

.complain-container .right-slider h5 {color: #999;margin-bottom: 30px;}

/* end complain page */

/* start test drive page */

.test-container {
    background-image: -webkit-radial-gradient(circle, #ffffffc2, #fff, #fff), url(./images/main-bck.png);     
    background-position: center;
    background-position: center;
    background-size: cover;
    height: 110vh;
}

@media (max-width:991px) {
    .test-container {
        height: auto;
    }
}

.test-div {
    padding: 20px 0 40px 40px;
    background-color: transparent;
}

@media (max-width:767px) {
    .test-div {
        display: table;
        margin: auto;
        padding: 0;
        margin-bottom: 30px;
    }
}

.test-div .btnPrimary {
    display: block;
    width: 280px;
    margin-top: 30px;
}

.test-div h3 {
    color: var(--secondary-color);
}

.test-container .right-slider h3 {color: var(--secondary-color);}

.test-container .right-slider h5 {color: #999;margin-bottom: 30px;}

/* end test drive page */


/* start vehicle history */

.vehicle #text h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin-top: 5%;
}

.vehicle #text h5 {
    color: #999;
    margin-bottom: 30px;
}

.vehicle-item {
    display: inline-block;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 2px 5px 10px #ddd;
    margin: 10px;
    padding: 5px 0px 20px;
}

.vehicle-item .demo-griditem-content .item-img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.vehicle-history .oj-listview-card-layout li.oj-listview-item {
    width: 100%;
}

.vehicle-history .oj-listview-focused-element {
    border: none !important;
}

.demo-griditem-content {
    border: none;    
    font-weight: bold;
}

.oj-listview-item:hover {
    background: transparent !important;
}

/* end vehicle history */

/* Start history Page */

.choose-section,
.history-section {
    padding: 40px;
}

.history .overlay {cursor: pointer;}

.choose-section h2,
.history-section h2 {
    color: var(--secondary-color);
}

.choose-section .car-item {
    float:left;
    cursor: pointer;
    width: 280px;
    height: auto;
    padding: 0;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 10px #ddd;
    border-radius: 10px;
}

.choose-section ul {text-align: center}

.choose-section .oj-listview-item-element {
    display: inline-block;
}

.choose-section .oj-listview-item {
    background-image: none !important;
}

.oj-conveyor-belt {width: 100%}

.choose-section .car-btn {
    width: 100%;
    height: 150px;
    position: relative;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.choose-section .car-btn:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

.choose-section .car-btn img {
    width: 100%;
    height: 100%;
    margin: 0 !important;
}

.car-name {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    z-index: 99;
    position: absolute;
    bottom: 10px;
    left: 15px;
    padding: 0 5px !important;
}

.car-info label {
    font-size: 14px;
}

.choose-section .car-info {
    padding: 15px;
    padding-bottom: 10px;
    background-color: #fafafa;
    width: 250px;
    margin: auto;
}

.choose-section .car-info span {
    font-weight: bold;
    padding-bottom: 5px;
}

.choose-section .car-info .operations {
    padding-left: 10px;
}

.history-section .history-item {
    border-radius: 10px;
    background-color: #fafafa;
}

.history .oj-conveyorbelt-overflow-indicator {
    background: #ddd;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
}

/* End history Page */

/* start faq page */

.faq-page .oj-web-applayout-header {
    background-image: url('./images/faq-bck.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    position: relative;
}

.faq-page .overlay {
    background-color: #00000085 !important;
    z-index: -1 !important;
}

.faq-page .faq-head {
    margin: 10px auto;
    text-align: center
}

@media (max-width:767px) {
    .faq-page .oj-web-applayout-header {
        height: 60vh;
    }

    .faq-page .faq-head {
        margin: 60px auto;
    }
}

.faq-page .faq-head h2 {
    color: #fff;
    margin-bottom: 20px;
}

.faq-page .faq-head input {
    vertical-align: inherit;
    height: 40px;
    width: 102%;
    font-size: 14px;
}

.faq-page .faq-head .btnPrimary {
    min-height: 44px;
}

.faq-page .faq-head .btnPrimary button {
    margin: 0;
}

.faq-content {
    text-align: center;
    margin-top: 40px;
}

.faq-page .questions-container {
    width: 50%;
    text-align: center;
    margin: auto;
}

.faq-page .question {
    background: #f7f7f7;
    border-radius: 6px;
    box-shadow: 1px 4px 5px -3px #7777775c;
}

.faq-page .question p {
    padding-bottom: 10px;
}

.faq-content h2 {
    color: var(--secondary-color); 
    text-align: center !important;
    display: block;
    margin-bottom: 10px;
}

.faq-content h5 {color: #999;}

.faq-content .big-btn button {
    color: #555 !important;
}

/* end faq page */

/* start navbar responsive */

@media (max-width:767px) {

    .home-page .navbar #buttons-container,
    .faq-page .navbar #buttons-container,
    .offers-page .navbar #buttons-container,
    .location-container .navbar #buttons-container {
        display: table;
        margin: auto;
        float: none;
    }

}

/* end navbar responsive */

/* start reservation payment page */

.reservation-page .btnPrimary button {
    padding: 10px 35px;
}

.reservation-content {
    text-align: center;
    margin-top: 30vh;
}

.reservation-content h1 {
    color: var(--secondary-color);
}

/* Endreservation payment page */

/* start Promotions page */

.promotions h1 {
    text-align: center;
    margin-top: 30vh;
    color: var(--secondary-color);
}


/* End Promotions page */


/* start profile page */

.signin-page .profile-pic {
    margin: 30px auto;
}

.signin-page .account-info {
    text-align: center;
}

.signin-page .upload-pic button {
    background: #fff !important;
    color: #8a8d8f !important;
    border: 1px solid #8a8d8f !important;
    font-size: 12px;
    font-weight: bold !important;
    cursor: pointer;
    padding: 8px;
    height: 30px;
}

.signin-page .change-pic .oj-filepicker-clickable {
    text-align: center;
    margin-left: 100% !important;
}

.signin-page .change-pic .formLabel {text-align: center;}
.logo-click{cursor: pointer;}

.oj-label-required-icon{font-size: 30px;}

.splash-section img{
    width: 180px;
}
.splash-section{
    z-index: 999;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
}
.loading-section{
    background: rgba(0, 0, 0, 0.64);
}
.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    padding: 0;
    margin: 0;
    text-align: center;
}

.text{
    color: #FFFFFF;
    font-size: 25px;
}
.dots{
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    animation: dots 1.5s linear infinite;
    float: left;
    position: absolute;
}
@keyframes dots{
    from {width: 0px} to {width: 15px}
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}
.loading-text:after{
    content: 'Loading';
}
html[dir='rtl'] .loading-text:after{
    content: ' جارِ التحميل ';
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.shine-card {
    width: 70%;
    height: 13px;
    margin-left: 20%;
    margin-right: 0;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #FFFFFF;
    background: #E3E7E7;
    background-image: linear-gradient(to right, #E3E7E7 0%, #FFFFFF 20%, #E3E7E7 40%, #E3E7E7 100%);
    background-repeat: no-repeat;
    background-size: 800px 130px;
    display: inline-block;
    position: relative;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
}

.sh-rounded{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    margin: 0 !important;
}
.sh-1{
    width: 70%;
}
.sh-2{
    width: 40%;
}
.sh-3{
    width: 60%;
    margin-bottom: 0px !important;
}

@-webkit-keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0; 
    }
}
.brand-temp-selected{
    border-bottom: 10px solid #ffffff !important;
}
.selected-brand-box{
    transition: border-bottom 0.1s linear;
    border-bottom: 10px solid var(--main-color) !important;
}

.oj-checkbox-label{
    font-weight: 100;
    cursor: pointer;
    font-size: 15px;
    padding-top: 6px;
}
.oj-checkbox-label.oj-selected{
    font-weight: 600;
}
.skip-for-now{
    text-align: right;
    margin: 0px 50px;
}
.btnPrimary.oj-disabled button{
    cursor: not-allowed !important;
}
.btnPrimary.oj-disabled{
    cursor: not-allowed !important;
    opacity: 0.5;
}
.btnPrimary button.oj-button-button{
    background-color: var(--main-color) !important; !important;
    border: 1px solid var(--main-color) !important; !important;
} 

.sign-form .go-btn button {
    background-color: var(--secondary-color) !important; !important;
    border: 1px solid var(--secondary-color) !important; !important;
    position: relative;
}

.sign-form .fb-btn button {
    background-color: #3b5998 !important;
    border: 1px solid #3b5998 !important;
    position: relative;
}

.sign-form .btnPrimary i {
    position: absolute;
    left: 10px;
    font-size: 18px;
}


.demo-search-button, 
.demo-search-button:hover {
    text-decoration: none;
}

.demo-search-button:active {
    background: none;
}

.mapouter{position:relative;text-align:right;height:500px;}

.gmap_canvas {overflow:hidden;background:none!important;height:500px;}

/* verfication page */

.verfy-title {
    font-weight: bold;
    color: var(--main-color) !important;
} 

.try-btn {
    display: inline-block;
}

.try-btn button {
    background: transparent !important;
    color: var(--Btn-main-color) !important;
    border: none !important;
    font-size: 14px;
    font-weight: bold !important;
    text-decoration: underline;
    
}


